In [74]:
import numpy as np
import pandas as pd
import talib
import datetime as datetime
import pandas_datareader as pdr
import pandas as pd
import os
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth',100)

In [2]:
data  = pd.read_csv("./train_lose_label.csv")

In [31]:
time = list(data['public_date'])
y_label= [] 
for ind, name in  enumerate(data['TICKER']):
    date_now = str(time[ind])
    print(date_now)
    try:
        start = datetime.datetime( int(date_now[:4]),int(date_now[4:6]), int(date_now[6:]))
        now_price = pdr.DataReader(name ,'yahoo', start=start, end =start)['Close']
    except:
        try:
            start = start +datetime.timedelta(days=1)
            now_price = pdr.DataReader(name ,'yahoo', start=start, end =start)['Close']
        except:
            try:
                start = start +datetime.timedelta(days=1)
                now_price = pdr.DataReader(name ,'yahoo', start=start, end =start)['Close']
            except:
                print("error")
                y_label.append(-1)
                continue
#     print(start)
    after_start = start +datetime.timedelta(days= 90)
#     print(after_start)
    try:
        after_price = pdr.DataReader(name ,'yahoo', start=after_start, end =after_start)['Close']
    except:
        try:
            after_start = start +datetime.timedelta(days= 91)
            after_price = pdr.DataReader(name ,'yahoo', start=after_start, end =after_start)['Close']
        except:
            try:
                after_start = start +datetime.timedelta(days= 92)
                after_price = pdr.DataReader(name ,'yahoo', start=after_start, end =after_start)['Close']
            except:
                print("error")
                y_label.append(-1)
                continue
    print(now_price, after_price)
    now_price = float(now_price[0])
    after_price = float(after_price[0])
    if after_price >now_price *1.2:
         y_label.append(5)
    elif after_price >now_price *1.07:
        y_label.append(3)
    elif after_price >now_price *1.05:
        y_label.append(1)
    else:
        y_label.append(0)

20030331
Date
2003-03-31    5.456667
Name: Close, dtype: float64 Date
2003-06-30    6.166667
Name: Close, dtype: float64
20030630
Date
2003-06-30    6.166667
Name: Close, dtype: float64 Date
2003-09-29    7.346667
Name: Close, dtype: float64
20030930
Date
2003-09-29    7.346667
2003-09-30    7.350000
Name: Close, dtype: float64 Date
2003-12-29    7.266667
Name: Close, dtype: float64
20031231
Date
2003-12-30    7.2
2003-12-31    7.2
Name: Close, dtype: float64 Date
2004-03-29    7.506667
2004-03-30    7.506667
Name: Close, dtype: float64
20040331
Date
2004-03-30    7.506667
2004-03-31    7.506667
Name: Close, dtype: float64 Date
2004-06-28    7.736667
2004-06-29    7.833333
Name: Close, dtype: float64
20040630
Date
2004-06-29    7.833333
2004-06-30    7.833333
Name: Close, dtype: float64 Date
2004-09-27    7.03
2004-09-28    7.02
Name: Close, dtype: float64
20040930
Date
2004-09-29    7.083333
2004-09-30    7.413333
Name: Close, dtype: float64 Date
2004-12-28    7.700000
2004-12-29    7.583333
Name: Close, dtype: float64
20041231
Date
2004-12-30    7.733333
2004-12-31    7.733333
Name: Close, dtype: float64 Date
2005-03-30    7.500000
2005-03-31    7.466667
Name: Close, dtype: float64
20050331
Date
2005-03-30    7.500000
2005-03-31    7.466667
Name: Close, dtype: float64 Date
2005-06-28    6.713333
2005-06-29    6.710000
Name: Close, dtype: float64
20050630
Date
2005-06-29    6.710000
2005-06-30    6.666667
Name: Close, dtype: float64 Date
2005-09-27    6.186667
2005-09-28    6.186667
Name: Close, dtype: float64
20050930
Date
2005-09-29    6.22
2005-09-30    6.22
Name: Close, dtype: float64 Date
2005-12-28    6.980000
2005-12-29    6.753333
Name: Close, dtype: float64
20051231
Date
2005-12-30    6.75
Name: Close, dtype: float64 Date
2006-03-30    7.583333
2006-03-31    7.610000
Name: Close, dtype: float64
20060331
Date
2006-03-30    7.583333
2006-03-31    7.610000
Name: Close, dtype: float64 Date
2006-06-28    7.203333
2006-06-29    7.203333
Name: Close, dtype: float64
20060630
Date
2006-06-29    7.203333
2006-06-30    7.203333
Name: Close, dtype: float64 Date
2006-09-27    8.170000
2006-09-28    8.416667
Name: Close, dtype: float64
20060930
Date
2006-09-29    8.2
Name: Close, dtype: float64 Date
2006-12-28    9.666667
2006-12-29    9.933333
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    10.303333
Name: Close, dtype: float64 Date
2007-06-28    12.583333
2007-06-29    12.596667
Name: Close, dtype: float64
20070630
Date
2007-06-29    12.596667
Name: Close, dtype: float64 Date
2007-09-27    13.416667
2007-09-28    13.283333
Name: Close, dtype: float64
20070930
Date
2007-10-01    13.58
Name: Close, dtype: float64 Date
2007-12-31    13.723333
Name: Close, dtype: float64
20071231
Date
2007-12-31    13.723333
Name: Close, dtype: float64 Date
2008-03-31    5.78
Name: Close, dtype: float64
20080331
Date
2008-03-31    5.78
Name: Close, dtype: float64 Date
2008-06-30    8.51
Name: Close, dtype: float64
20080630
Date
2008-06-30    8.51
Name: Close, dtype: float64 Date
2008-09-29    5.766667
Name: Close, dtype: float64
20080930
Date
2008-09-29    5.766667
2008-09-30    5.666667
Name: Close, dtype: float64 Date
2008-12-29    2.666667
Name: Close, dtype: float64
20081231
Date
2008-12-30    2.716667
2008-12-31    3.000000
Name: Close, dtype: float64 Date
2009-03-30    3.333333
2009-03-31    3.483333
Name: Close, dtype: float64
20090331
Date
2009-03-30    3.333333
2009-03-31    3.483333
Name: Close, dtype: float64 Date
2009-06-29    7.083333
Name: Close, dtype: float64
20090630
Date
2009-06-29    7.083333
2009-06-30    7.173333
Name: Close, dtype: float64 Date
2009-09-28    7.916667
Name: Close, dtype: float64
20090930
Date
2009-09-29    7.830000
2009-09-30    7.953333
Name: Close, dtype: float64 Date
2009-12-28    6.816667
2009-12-29    7.000000
Name: Close, dtype: float64
20091231
Date
2009-12-30    6.996667
2009-12-31    6.966667
Name: Close, dtype: float64 Date
2010-03-30    8.323333
2010-03-31    8.416667
Name: Close, dtype: float64
20100331
Date
2010-03-30    8.323333
2010-03-31    8.416667
Name: Close, dtype: float64 Date
2010-06-28    10.286667
2010-06-29     9.883333
Name: Close, dtype: float64
20100630
Date
2010-06-29     9.883333
2010-06-30    10.000000
Name: Close, dtype: float64 Date
2010-09-27    10.496667
2010-09-28    10.666667
Name: Close, dtype: float64
20100930
Date
2010-09-29    10.666667
2010-09-30    10.666667
Name: Close, dtype: float64 Date
2010-12-28    4.510000
2010-12-29    4.453333
Name: Close, dtype: float64
20101231
Date
2010-12-30    4.516667
2010-12-31    4.593333
Name: Close, dtype: float64 Date
2011-03-30    5.306667
2011-03-31    5.496667
Name: Close, dtype: float64
20110331
Date
2011-03-30    5.306667
2011-03-31    5.496667
Name: Close, dtype: float64 Date
2011-06-28    6.286667
2011-06-29    6.333333
Name: Close, dtype: float64
20110630
Date
2011-06-29    6.333333
2011-06-30    6.350000
Name: Close, dtype: float64 Date
2011-09-27    6.11
2011-09-28    5.90
Name: Close, dtype: float64
20110930
Date
2011-09-29    5.996667
2011-09-30    6.293333
Name: Close, dtype: float64 Date
2011-12-28    5.096667
2011-12-29    5.000000
Name: Close, dtype: float64
20111231
Date
2011-12-30    5.55
Name: Close, dtype: float64 Date
2012-03-29    6.753333
2012-03-30    7.000000
Name: Close, dtype: float64
20120331
Date
2012-03-30    7
Name: Close, dtype: int64 Date
2012-06-28    6.58
2012-06-29    6.60
Name: Close, dtype: float64
20120630
Date
2012-06-29    6.6
Name: Close, dtype: float64 Date
2012-09-27    8.223333
2012-09-28    8.083333
Name: Close, dtype: float64
20120930
Date
2012-10-01    8.166667
Name: Close, dtype: float64 Date
2012-12-31    7.6
Name: Close, dtype: float64
20121231
Date
2012-12-31    7.6
Name: Close, dtype: float64 Date
2013-04-01    9.016667
Name: Close, dtype: float64
20130331
Date
2013-04-01    9.016667
Name: Close, dtype: float64 Date
2013-07-01    8.726667
Name: Close, dtype: float64
20130630
Date
2013-07-01    8.726667
Name: Close, dtype: float64 Date
2013-09-30    12.666667
Name: Close, dtype: float64
20130930
Date
2013-09-30    12.666667
Name: Close, dtype: float64 Date
2013-12-30    13.37
Name: Close, dtype: float64
20131231
Date
2013-12-30    13.370000
2013-12-31    13.443333
Name: Close, dtype: float64 Date
2014-03-31    14.95
Name: Close, dtype: float64
20140331
Date
2014-03-31    14.95
Name: Close, dtype: float64 Date
2014-06-30    13.333333
Name: Close, dtype: float64
20140630
Date
2014-06-30    13.333333
Name: Close, dtype: float64 Date
2014-09-29    11.756667
Name: Close, dtype: float64
20140930
Date
2014-09-29    11.756667
2014-09-30    11.753333
Name: Close, dtype: float64 Date
2014-12-29    11.763333
Name: Close, dtype: float64
20141231
Date
2014-12-30    11.746667
2014-12-31    11.680000
Name: Close, dtype: float64 Date
2015-03-30    13.220000
2015-03-31    13.243333
Name: Close, dtype: float64
20150331
Date
2015-03-30    13.220000
2015-03-31    13.243333
Name: Close, dtype: float64 Date
2015-06-29    14.213333
Name: Close, dtype: float64
20150630
Date
2015-06-29    14.213333
2015-06-30    14.306667
Name: Close, dtype: float64 Date
2015-09-28    14.05
Name: Close, dtype: float64
20150930
Date
2015-09-29    14.033333
2015-09-30    13.923333
Name: Close, dtype: float64 Date
2015-12-28    14.993333
2015-12-29    15.160000
Name: Close, dtype: float64
20151231
Date
2015-12-30    15.416667
2015-12-31    15.310000
Name: Close, dtype: float64 Date
2016-03-29    15.09
2016-03-30    15.22
Name: Close, dtype: float64
20160331
Date
2016-03-30    15.22
2016-03-31    15.20
Name: Close, dtype: float64 Date
2016-06-28    16.546667
2016-06-29    16.643333
Name: Close, dtype: float64
20160630
Date
2016-06-29    16.643333
2016-06-30    16.986668
Name: Close, dtype: float64 Date
2016-09-27    20.459999
2016-09-28    20.286667
Name: Close, dtype: float64
20160930
Date
2016-09-29    20.273333
2016-09-30    20.203333
Name: Close, dtype: float64 Date
2016-12-28    34.633335
2016-12-29    34.216667
Name: Close, dtype: float64
20161231
Date
2016-12-30    34.299999
Name: Close, dtype: float64 Date
2017-03-30    29.183332
2017-03-31    29.500000
Name: Close, dtype: float64
20170331
Date
2017-03-30    29.183332
2017-03-31    29.500000
Name: Close, dtype: float64 Date
2017-06-28    29.483334
2017-06-29    29.483334
Name: Close, dtype: float64
20170630

Date
2017-06-29    29.483334
2017-06-30    29.666666
Name: Close, dtype: float64 Date
2017-09-27    26.033333
2017-09-28    26.299999
Name: Close, dtype: float64
20170930
Date
2017-09-29    26.133333
Name: Close, dtype: float64 Date
2017-12-28    31.033333
2017-12-29    30.883333
Name: Close, dtype: float64
20171231
Date
2018-01-02    30.833334
Name: Close, dtype: float64 Date
2018-04-02    36.349998
Name: Close, dtype: float64
20180331
Date
2018-04-02    36.349998
Name: Close, dtype: float64 Date
2018-07-02    33.316666
Name: Close, dtype: float64
20180630
Date
2018-06-29    32.466667
Name: Close, dtype: float64 Date
2018-09-27    27.500000
2018-09-28    27.549999
Name: Close, dtype: float64
20180930
Date
2018-10-01    27.146667
Name: Close, dtype: float64 Date
2018-12-31    19.389999
Name: Close, dtype: float64
20181231
Date
2018-12-31    19.389999
Name: Close, dtype: float64 Date
2019-04-01    20.17
Name: Close, dtype: float64
20190331
Date
2019-04-01    20.17
Name: Close, dtype: float64 Date
2019-07-01    28.43
Name: Close, dtype: float64
20190630
Date
2019-07-01    28.43
Name: Close, dtype: float64 Date
2019-09-30    32.610001
Name: Close, dtype: float64
20190930
Date
2019-09-30    32.610001
Name: Close, dtype: float64 Date
2019-12-30    35.709999
Name: Close, dtype: float64
20191231
Date
2019-12-30    35.709999
2019-12-31    36.509998
Name: Close, dtype: float64 Date
2020-03-30    21.6
Name: Close, dtype: float64
20030331
Date
2003-03-31    24.110001
Name: Close, dtype: float64 Date
2003-06-30    36.619999
Name: Close, dtype: float64
20030630
Date
2003-06-30    36.619999
Name: Close, dtype: float64 Date
2003-09-29    46.360001
Name: Close, dtype: float64
20030930
Date
2003-09-29    46.360001
2003-09-30    45.990002
Name: Close, dtype: float64 Date
2003-12-29    53.490002
Name: Close, dtype: float64
20031231
Date
2003-12-30    52.68
2003-12-31    52.48
Name: Close, dtype: float64 Date
2004-03-29    53.459999
2004-03-30    53.290001
Name: Close, dtype: float64
20040331
Date
2004-03-30    53.290001
2004-03-31    53.299999
Name: Close, dtype: float64 Date
2004-06-28    42.889999
2004-06-29    41.950001
Name: Close, dtype: float64
20040630
Date
2004-06-29    41.950001
2004-06-30    42.700001
Name: Close, dtype: float64 Date
2004-09-27    40.419998
2004-09-28    39.630001
Name: Close, dtype: float64
20040930
Date
2004-09-29    41.259998
2004-09-30    41.090000
Name: Close, dtype: float64 Date
2004-12-28    62.000000
2004-12-29    61.990002
Name: Close, dtype: float64
20041231
Date
2004-12-30    61.68
2004-12-31    60.25
Name: Close, dtype: float64 Date
2005-03-30    54.970001
2005-03-31    54.270000
Name: Close, dtype: float64
20050331
Date
2005-03-30    54.970001
2005-03-31    54.270000
Name: Close, dtype: float64 Date
2005-06-28    52.889999
2005-06-29    53.029999
Name: Close, dtype: float64
20050630
Date
2005-06-29    53.029999
2005-06-30    53.040001
Name: Close, dtype: float64 Date
2005-09-27    68.730003
2005-09-28    68.610001
Name: Close, dtype: float64
20050930
Date
2005-09-29    70.169998
2005-09-30    70.290001
Name: Close, dtype: float64 Date
2005-12-28    83.980003
2005-12-29    83.849998
Name: Close, dtype: float64
20051231
Date
2005-12-30    82.669998
Name: Close, dtype: float64 Date
2006-03-30    105.120003
2006-03-31    105.290001
Name: Close, dtype: float64
20060331
Date
2006-03-30    105.120003
2006-03-31    105.290001
Name: Close, dtype: float64 Date
2006-06-28    93.320000
2006-06-29    94.879997
Name: Close, dtype: float64
20060630
Date
2006-06-29    94.879997
2006-06-30    97.519997
Name: Close, dtype: float64 Date
2006-09-27    100.730003
2006-09-28     99.849998
Name: Close, dtype: float64
20060930
Date
2006-09-29    101.830002
Name: Close, dtype: float64 Date
2006-12-28    116.580002
2006-12-29    114.010002
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    126.389999
Name: Close, dtype: float64 Date
2007-06-28    93.739998
2007-06-29    94.489998
Name: Close, dtype: float64
20070630
Date
2007-06-29    94.489998
Name: Close, dtype: float64 Date
2007-09-27    79.230003
2007-09-28    79.339996
Name: Close, dtype: float64
20070930
Date
2007-10-01    82.949997
Name: Close, dtype: float64 Date
2007-12-31    95.099998
Name: Close, dtype: float64
20071231
Date
2007-12-31    95.099998
Name: Close, dtype: float64 Date
2008-03-31    73.989998
Name: Close, dtype: float64
20080331
Date
2008-03-31    73.989998
Name: Close, dtype: float64 Date
2008-06-30    64.75
Name: Close, dtype: float64
20080630
Date
2008-06-30    64.75
Name: Close, dtype: float64 Date
2008-09-29    59.279999
Name: Close, dtype: float64
20080930
Date
2008-09-29    59.279999
2008-09-30    59.529999
Name: Close, dtype: float64 Date
2008-12-29    35.150002
Name: Close, dtype: float64
20081231
Date
2008-12-30    36.080002
2008-12-31    37.130001
Name: Close, dtype: float64 Date
2009-03-30    33.419998
2009-03-31    34.189999
Name: Close, dtype: float64
20090331
Date
2009-03-30    33.419998
2009-03-31    34.189999
Name: Close, dtype: float64 Date
2009-06-29    50.23
Name: Close, dtype: float64
20090630
Date
2009-06-29    50.230000
2009-06-30    50.220001
Name: Close, dtype: float64 Date
2009-09-28    71.599998
Name: Close, dtype: float64
20090930
Date
2009-09-29    71.940002
2009-09-30    71.540001
Name: Close, dtype: float64 Date
2009-12-28    94.610001
2009-12-29    94.870003
Name: Close, dtype: float64
20091231
Date
2009-12-30    93.720001
2009-12-31    94.019997
Name: Close, dtype: float64 Date
2010-03-30    85.559998
2010-03-31    85.070000
Name: Close, dtype: float64
20100331
Date
2010-03-30    85.559998
2010-03-31    85.070000
Name: Close, dtype: float64 Date
2010-06-28    76.370003
2010-06-29    75.510002
Name: Close, dtype: float64
20100630
Date
2010-06-29    75.510002
2010-06-30    75.089996
Name: Close, dtype: float64 Date
2010-09-27    87.730003
2010-09-28    86.480003
Name: Close, dtype: float64
20100930
Date
2010-09-29    87.250000
2010-09-30    86.610001
Name: Close, dtype: float64 Date
2010-12-28    84.930000
2010-12-29    85.339996
Name: Close, dtype: float64
20101231
Date
2010-12-30    86.139999
2010-12-31    85.470001
Name: Close, dtype: float64 Date
2011-03-30    133.690002
2011-03-31    134.479996
Name: Close, dtype: float64
20110331
Date
2011-03-30    133.690002
2011-03-31    134.479996
Name: Close, dtype: float64 Date
2011-06-28    162.779999
2011-06-29    163.429993
Name: Close, dtype: float64
20110630
Date
2011-06-29    163.429993
2011-06-30    162.679993
Name: Close, dtype: float64 Date
2011-09-27    122.330002
2011-09-28    116.580002
Name: Close, dtype: float64
20110930
Date
2011-09-29    116.940002
2011-09-30    114.070000
Name: Close, dtype: float64 Date
2011-12-28    105.519997
2011-12-29    108.980003
Name: Close, dtype: float64
20111231
Date
2011-12-30    108.32
Name: Close, dtype: float64 Date
2012-03-29    138.800003
2012-03-30    140.000000
Name: Close, dtype: float64
20120331
Date
2012-03-30    140
Name: Close, dtype: int64 Date
2012-06-28    128.110001
2012-06-29    129.860001
Name: Close, dtype: float64
20120630
Date
2012-06-29    129.860001
Name: Close, dtype: float64 Date
2012-09-27    134.110001
2012-09-28    134.070007
Name: Close, dtype: float64
20120930
Date
2012-10-01    133.119995
Name: Close, dtype: float64 Date
2012-12-31    93.379997
Name: Close, dtype: float64
20121231
Date
2012-12-31    93.379997
Name: Close, dtype: float64 Date
2013-04-01    103.029999
Name: Close, dtype: float64
20130331
Date
2013-04-01    103.029999
Name: Close, dtype: float64 Date
2013-07-01    87.769997
Name: Close, dtype: float64
20130630
Date
2013-07-01    87.769997
Name: Close, dtype: float64 Date
2013-09-30    103.760002
Name: Close, dtype: float64
20130930
Date
2013-09-30    103.760002
Name: Close, dtype: float64 Date
2013-12-30    123.809998
Name: Close, dtype: float64
20131231
Date
2013-12-30    123.809998
2013-12-31    124.239998
Name: Close, dtype: float64 Date
2014-03-31    115.389999
Name: Close, dtype: float64
20140331
Date
2014-03-31    115.389999
Name: Close, dtype: float64 Date
2014-06-30    140.619995
Name: Close, dtype: float64
20140630
Date
2014-06-30    140.619995
Name: Close, dtype: float64 Date
2014-09-29    133.600006
Name: Close, dtype: float64
20140930

Date
2014-09-29    133.600006
2014-09-30    130.839996
Name: Close, dtype: float64 Date
2014-12-29    161.690002
Name: Close, dtype: float64
20141231
Date
2014-12-30    159.130005
2014-12-31    162.399994
Name: Close, dtype: float64 Date
2015-03-30    170.910004
2015-03-31    169.190002
Name: Close, dtype: float64
20150331
Date
2015-03-30    170.910004
2015-03-31    169.190002
Name: Close, dtype: float64 Date
2015-06-29    167.880005
Name: Close, dtype: float64
20150630
Date
2015-06-29    167.880005
2015-06-30    170.080002
Name: Close, dtype: float64 Date
2015-09-28    195.279999
Name: Close, dtype: float64
20150930
Date
2015-09-29    194.720001
2015-09-30    196.470001
Name: Close, dtype: float64 Date
2015-12-28    176.410004
2015-12-29    180.639999
Name: Close, dtype: float64
20151231
Date
2015-12-30    178.919998
2015-12-31    179.289993
Name: Close, dtype: float64 Date
2016-03-29    177.789993
2016-03-30    180.869995
Name: Close, dtype: float64
20160331
Date
2016-03-30    180.869995
2016-03-31    179.720001
Name: Close, dtype: float64 Date
2016-06-28    168.149994
2016-06-29    174.320007
Name: Close, dtype: float64
20160630
Date
2016-06-29    174.320007
2016-06-30    175.020004
Name: Close, dtype: float64 Date
2016-09-27    169.059998
2016-09-28    170.250000
Name: Close, dtype: float64
20160930
Date
2016-09-29    165.740005
2016-09-30    167.440002
Name: Close, dtype: float64 Date
2016-12-28    197.600006
2016-12-29    198.500000
Name: Close, dtype: float64
20161231
Date
2016-12-30    197.399994
Name: Close, dtype: float64 Date
2017-03-30    188.289993
2017-03-31    187.800003
Name: Close, dtype: float64
20170331
Date
2017-03-30    188.289993
2017-03-31    187.800003
Name: Close, dtype: float64 Date
2017-06-28    188.830002
2017-06-29    189.100006
Name: Close, dtype: float64
20170630
Date
2017-06-29    189.100006
2017-06-30    191.669998
Name: Close, dtype: float64 Date
2017-09-27    127.330002
2017-09-28    127.720001
Name: Close, dtype: float64
20170930
Date
2017-09-29    127.709999
Name: Close, dtype: float64 Date
2017-12-28    131.600006
2017-12-29    131.300003
Name: Close, dtype: float64
20171231
Date
2018-01-02    131.800003
Name: Close, dtype: float64 Date
2018-04-02    125.540001
Name: Close, dtype: float64
20180331
Date
2018-04-02    125.540001
Name: Close, dtype: float64 Date
2018-07-02    129.630005
Name: Close, dtype: float64
20180630
Date
2018-06-29    127.75
Name: Close, dtype: float64 Date
2018-09-27    140.539993
2018-09-28    140.619995
Name: Close, dtype: float64
20180930
Date
2018-10-01    136.470001
Name: Close, dtype: float64 Date
2018-12-31    127.75
Name: Close, dtype: float64
20181231
Date
2018-12-31    127.75
Name: Close, dtype: float64 Date
2019-04-01    147.339996
Name: Close, dtype: float64
20190331
Date
2019-04-01    147.339996
Name: Close, dtype: float64 Date
2019-07-01    140.029999
Name: Close, dtype: float64
20190630
Date
2019-07-01    140.029999
Name: Close, dtype: float64 Date
2019-09-30    148.369995
Name: Close, dtype: float64
20190930
Date
2019-09-30    148.369995
Name: Close, dtype: float64 Date
2019-12-30    142.020004
Name: Close, dtype: float64
20191231
Date
2019-12-30    142.020004
2019-12-31    142.630005
Name: Close, dtype: float64 Date
2020-03-30    110.239998
Name: Close, dtype: float64
20030331
Date
2003-03-31    16.5825
Name: Close, dtype: float64 Date
2003-06-30    18.450001
Name: Close, dtype: float64
20030630
Date
2003-06-30    18.450001
Name: Close, dtype: float64 Date
2003-09-29    18.922501
Name: Close, dtype: float64
20030930
Date
2003-09-29    18.922501
2003-09-30    18.382500
Name: Close, dtype: float64 Date
2003-12-29    20.82
Name: Close, dtype: float64
20031231
Date
2003-12-30    20.500000
2003-12-31    20.299999
Name: Close, dtype: float64 Date
2004-03-29    20.200001
2004-03-30    20.219999
Name: Close, dtype: float64
20040331
Date
2004-03-30    20.219999
2004-03-31    20.700001
Name: Close, dtype: float64 Date
2004-06-28    19.690001
2004-06-29    19.650000
Name: Close, dtype: float64
20040630
Date
2004-06-29    19.65
2004-06-30    19.41
Name: Close, dtype: float64 Date
2004-09-27    17.690001
2004-09-28    17.900000
Name: Close, dtype: float64
20040930
Date
2004-09-29    17.860001
2004-09-30    17.920000
Name: Close, dtype: float64 Date
2004-12-28    19.500000
2004-12-29    19.190001
Name: Close, dtype: float64
20041231
Date
2004-12-30    19.350000
2004-12-31    18.940001
Name: Close, dtype: float64 Date
2005-03-30    18.35
2005-03-31    18.15
Name: Close, dtype: float64
20050331
Date
2005-03-30    18.35
2005-03-31    18.15
Name: Close, dtype: float64 Date
2005-06-28    19.549999
2005-06-29    19.549999
Name: Close, dtype: float64
20050630
Date
2005-06-29    19.549999
2005-06-30    19.420000
Name: Close, dtype: float64 Date
2005-09-27    22.790001
2005-09-28    22.420000
Name: Close, dtype: float64
20050930
Date
2005-09-29    22.330000
2005-09-30    22.450001
Name: Close, dtype: float64 Date
2005-12-28    17.67
2005-12-29    17.35
Name: Close, dtype: float64
20051231
Date
2005-12-30    17.34
Name: Close, dtype: float64 Date
2006-03-30    18.480000
2006-03-31    18.940001
Name: Close, dtype: float64
20060331
Date
2006-03-30    18.480000
2006-03-31    18.940001
Name: Close, dtype: float64 Date
2006-06-28    17.10
2006-06-29    17.48
Name: Close, dtype: float64
20060630
Date
2006-06-29    17.48
2006-06-30    18.92
Name: Close, dtype: float64 Date
2006-09-27    19.139999
2006-09-28    19.290001
Name: Close, dtype: float64
20060930
Date
2006-09-29    19.23
Name: Close, dtype: float64 Date
2006-12-28    18.700001
2006-12-29    18.730000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    18.389999
Name: Close, dtype: float64 Date
2007-06-28    18.930000
2007-06-29    19.209999
Name: Close, dtype: float64
20070630
Date
2007-06-29    19.209999
Name: Close, dtype: float64 Date
2007-09-27    18.719999
2007-09-28    18.900000
Name: Close, dtype: float64
20070930
Date
2007-10-01    19.1
Name: Close, dtype: float64 Date
2007-12-31    18.950001
Name: Close, dtype: float64
20071231
Date
2007-12-31    18.950001
Name: Close, dtype: float64 Date
2008-03-31    18.16
Name: Close, dtype: float64
20080331
Date
2008-03-31    18.16
Name: Close, dtype: float64 Date
2008-06-30    16.59
Name: Close, dtype: float64
20080630
Date
2008-06-30    16.59
Name: Close, dtype: float64 Date
2008-09-29    16.73
Name: Close, dtype: float64
20080930
Date
2008-09-29    16.730000
2008-09-30    17.469999
Name: Close, dtype: float64 Date
2008-12-29    16.17
Name: Close, dtype: float64
20081231
Date
2008-12-30    16.57
2008-12-31    17.23
Name: Close, dtype: float64 Date
2009-03-30    14.49
2009-03-31    14.40
Name: Close, dtype: float64
20090331
Date
2009-03-30    14.49
2009-03-31    14.40
Name: Close, dtype: float64 Date
2009-06-29    14.35
Name: Close, dtype: float64
20090630
Date
2009-06-29    14.35
2009-06-30    14.45
Name: Close, dtype: float64 Date
2009-09-28    15.47
Name: Close, dtype: float64
20090930
Date
2009-09-29    15.45
2009-09-30    15.08
Name: Close, dtype: float64 Date
2009-12-28    17.040001
2009-12-29    17.030001
Name: Close, dtype: float64
20091231
Date
2009-12-30    17.250000
2009-12-31    17.620001
Name: Close, dtype: float64 Date
2010-03-30    17.370001
2010-03-31    17.049999
Name: Close, dtype: float64
20100331
Date
2010-03-30    17.370001
2010-03-31    17.049999
Name: Close, dtype: float64 Date
2010-06-28    16.10
2010-06-29    15.97
Name: Close, dtype: float64
20100630
Date
2010-06-29    15.97
2010-06-30    15.85
Name: Close, dtype: float64 Date
2010-09-27    16.48
2010-09-28    16.76
Name: Close, dtype: float64
20100930
Date
2010-09-29    16.74
2010-09-30    16.84
Name: Close, dtype: float64 Date
2010-12-28    18.360001
2010-12-29    18.469999
Name: Close, dtype: float64
20101231
Date
2010-12-30    18.24
2010-12-31    18.35
Name: Close, dtype: float64 Date
2011-03-30    18.160000
2011-03-31    18.190001
Name: Close, dtype: float64
20110331
Date
2011-03-30    18.160000
2011-03-31    18.190001
Name: Close, dtype: float64 Date
2011-06-28    18.430000
2011-06-29    18.389999
Name: Close, dtype: float64
20110630
Date
2011-06-29    18.389999
2011-06-30    18.580000
Name: Close, dtype: float64 Date
2011-09-27    17.290001
2011-09-28    16.700001
Name: Close, dtype: float64
20110930

Date
2011-09-29    17.09
2011-09-30    17.07
Name: Close, dtype: float64 Date
2011-12-28    18.620001
2011-12-29    18.959999
Name: Close, dtype: float64
20111231
Date
2011-12-30    18.66
Name: Close, dtype: float64 Date
2012-03-29    18.740000
2012-03-30    18.889999
Name: Close, dtype: float64
20120331
Date
2012-03-30    18.889999
Name: Close, dtype: float64 Date
2012-06-28    18.799999
2012-06-29    19.000000
Name: Close, dtype: float64
20120630
Date
2012-06-29    19
Name: Close, dtype: int64 Date
2012-09-27    19.32
2012-09-28    19.16
Name: Close, dtype: float64
20120930
Date
2012-10-01    19.34
Name: Close, dtype: float64 Date
2012-12-31    19.559999
Name: Close, dtype: float64
20121231
Date
2012-12-31    19.559999
Name: Close, dtype: float64 Date
2013-04-01    19.32
Name: Close, dtype: float64
20130331
Date
2013-04-01    19.32
Name: Close, dtype: float64 Date
2013-07-01    19.74
Name: Close, dtype: float64
20130630
Date
2013-07-01    19.74
Name: Close, dtype: float64 Date
2013-09-30    21.389999
Name: Close, dtype: float64
20130930
Date
2013-09-30    21.389999
Name: Close, dtype: float64 Date
2013-12-30    21.280001
Name: Close, dtype: float64
20131231
Date
2013-12-30    21.280001
2013-12-31    20.940001
Name: Close, dtype: float64 Date
2014-03-31    21.82
Name: Close, dtype: float64
20140331
Date
2014-03-31    21.82
Name: Close, dtype: float64 Date
2014-06-30    21.18
Name: Close, dtype: float64
20140630
Date
2014-06-30    21.18
Name: Close, dtype: float64 Date
2014-09-29    19.780001
Name: Close, dtype: float64
20140930
Date
2014-09-29    19.780001
2014-09-30    19.600000
Name: Close, dtype: float64 Date
2014-12-29    23.440001
Name: Close, dtype: float64
20141231
Date
2014-12-30    23.280001
2014-12-31    23.059999
Name: Close, dtype: float64 Date
2015-03-30    22.719999
2015-03-31    22.760000
Name: Close, dtype: float64
20150331
Date
2015-03-30    22.719999
2015-03-31    22.760000
Name: Close, dtype: float64 Date
2015-06-29    22.6
Name: Close, dtype: float64
20150630
Date
2015-06-29    22.600000
2015-06-30    22.559999
Name: Close, dtype: float64 Date
2015-09-28    24.34
Name: Close, dtype: float64
20150930
Date
2015-09-29    24.299999
2015-09-30    23.840000
Name: Close, dtype: float64 Date
2015-12-28    27.540001
2015-12-29    27.740000
Name: Close, dtype: float64
20151231
Date
2015-12-30    27.430000
2015-12-31    26.540001
Name: Close, dtype: float64 Date
2016-03-29    32.040001
2016-03-30    31.139999
Name: Close, dtype: float64
20160331
Date
2016-03-30    31.139999
2016-03-31    30.850000
Name: Close, dtype: float64 Date
2016-06-28    41.730000
2016-06-29    42.189999
Name: Close, dtype: float64
20160630
Date
2016-06-29    42.189999
2016-06-30    43.380001
Name: Close, dtype: float64 Date
2016-09-27    36.439999
2016-09-28    35.820000
Name: Close, dtype: float64
20160930
Date
2016-09-29    35.480000
2016-09-30    35.240002
Name: Close, dtype: float64 Date
2016-12-28    41.840000
2016-12-29    42.330002
Name: Close, dtype: float64
20161231
Date
2016-12-30    42.939999
Name: Close, dtype: float64 Date
2017-03-30    35.889999
2017-03-31    36.950001
Name: Close, dtype: float64
20170331
Date
2017-03-30    35.889999
2017-03-31    36.950001
Name: Close, dtype: float64 Date
2017-06-28    39.330002
2017-06-29    38.759998
Name: Close, dtype: float64
20170630
Date
2017-06-29    38.759998
2017-06-30    39.599998
Name: Close, dtype: float64 Date
2017-09-27    39.889999
2017-09-28    40.150002
Name: Close, dtype: float64
20170930
Date
2017-09-29    39.27
Name: Close, dtype: float64 Date
2017-12-28    40.709999
2017-12-29    39.910000
Name: Close, dtype: float64
20171231
Date
2018-01-02    39.09
Name: Close, dtype: float64 Date
2018-04-02    35.16
Name: Close, dtype: float64
20180331
Date
2018-04-02    35.16
Name: Close, dtype: float64 Date
2018-07-02    42.369999
Name: Close, dtype: float64
20180630
Date
2018-06-29    42.169998
Name: Close, dtype: float64 Date
2018-09-27    47.599998
2018-09-28    48.419998
Name: Close, dtype: float64
20180930
Date
2018-10-01    47.150002
Name: Close, dtype: float64 Date
2018-12-31    53.349998
Name: Close, dtype: float64
20181231
Date
2018-12-31    53.349998
Name: Close, dtype: float64 Date
2019-04-01    55.07
Name: Close, dtype: float64
20190331
Date
2019-04-01    55.07
Name: Close, dtype: float64 Date
2019-07-01    59.360001
Name: Close, dtype: float64
20190630
Date
2019-07-01    59.360001
Name: Close, dtype: float64 Date
2019-09-30    64.959999
Name: Close, dtype: float64
20190930
Date
2019-09-30    64.959999
Name: Close, dtype: float64 Date
2019-12-30    63.560001
Name: Close, dtype: float64
20191231
Date
2019-12-30    63.560001
2019-12-31    63.570000
Name: Close, dtype: float64 Date
2020-03-30    61.470001
Name: Close, dtype: float64
20080630
Date
2008-06-30    12.85
Name: Close, dtype: float64 Date
2008-09-29    13.79
Name: Close, dtype: float64
20080930
Date
2008-09-29    13.79
2008-09-30    13.88
Name: Close, dtype: float64 Date
2008-12-29    9.99
Name: Close, dtype: float64
20081231
Date
2008-12-30    10.0
2008-12-31     9.9
Name: Close, dtype: float64 Date
2009-03-30    9.35
2009-03-31    9.35
Name: Close, dtype: float64
20090331
Date
2009-03-30    9.35
2009-03-31    9.35
Name: Close, dtype: float64 Date
2009-06-29    7.85
Name: Close, dtype: float64
20090630
Date
2009-06-29    7.85
2009-06-30    7.81
Name: Close, dtype: float64 Date
2009-09-28    9
Name: Close, dtype: int64
20090930
Date
2009-09-29    9.00
2009-09-30    8.94
Name: Close, dtype: float64 Date
2009-12-28    8.17
2009-12-29    8.35
Name: Close, dtype: float64
20091231
Date
2009-12-30    8.35
2009-12-31    8.74
Name: Close, dtype: float64 Date
2010-03-30    11.60
2010-03-31    11.79
Name: Close, dtype: float64
20100331
Date
2010-03-30    11.60
2010-03-31    11.79
Name: Close, dtype: float64 Date
2010-06-28    16.17
2010-06-29    15.78
Name: Close, dtype: float64
20100630
Date
2010-06-29    15.78
2010-06-30    15.48
Name: Close, dtype: float64 Date
2010-09-27    14.97
2010-09-28    15.02
Name: Close, dtype: float64
20100930
Date
2010-09-29    14.98
2010-09-30    14.66
Name: Close, dtype: float64 Date
2010-12-28    15.26
2010-12-29    15.38
Name: Close, dtype: float64
20101231
Date
2010-12-30    15.30
2010-12-31    15.11
Name: Close, dtype: float64 Date
2011-03-30    14.42
2011-03-31    14.84
Name: Close, dtype: float64
20110331
Date
2011-03-30    14.42
2011-03-31    14.84
Name: Close, dtype: float64 Date
2011-06-28    13.93
2011-06-29    13.99
Name: Close, dtype: float64
20110630
Date
2011-06-29    13.99
2011-06-30    14.45
Name: Close, dtype: float64 Date
2011-09-27    14.50
2011-09-28    14.53
Name: Close, dtype: float64
20110930
Date
2011-09-29    14.40
2011-09-30    14.34
Name: Close, dtype: float64 Date
2011-12-28    14.74
2011-12-29    14.68
Name: Close, dtype: float64
20111231
Date
2011-12-30    14.62
Name: Close, dtype: float64 Date
2012-03-29    19.280001
2012-03-30    19.360001
Name: Close, dtype: float64
20120331
Date
2012-03-30    19.360001
Name: Close, dtype: float64 Date
2012-06-28    20.790001
2012-06-29    21.500000
Name: Close, dtype: float64
20120630
Date
2012-06-29    21.5
Name: Close, dtype: float64 Date
2012-09-27    22.180000
2012-09-28    21.540001
Name: Close, dtype: float64
20120930
Date
2012-10-01    20.610001
Name: Close, dtype: float64 Date
2012-12-31    20.51
Name: Close, dtype: float64
20121231
Date
2012-12-31    20.51
Name: Close, dtype: float64 Date
2013-04-01    23.549999
Name: Close, dtype: float64
20130331
Date
2013-04-01    23.549999
Name: Close, dtype: float64 Date
2013-07-01    24.59
Name: Close, dtype: float64
20130630
Date
2013-07-01    24.59
Name: Close, dtype: float64 Date
2013-09-30    25.709999
Name: Close, dtype: float64
20130930
Date
2013-09-30    25.709999
Name: Close, dtype: float64 Date
2013-12-30    28.01
Name: Close, dtype: float64
20131231
Date
2013-12-30    28.010000
2013-12-31    27.200001
Name: Close, dtype: float64 Date
2014-03-31    25.24
Name: Close, dtype: float64
20140331
Date
2014-03-31    25.24
Name: Close, dtype: float64 Date
2014-06-30    23.99
Name: Close, dtype: float64
20140630
Date
2014-06-30    23.99
Name: Close, dtype: float64 Date
2014-09-29    23.23
Name: Close, dtype: float64
20140930

Date
2014-09-29    23.23
2014-09-30    23.01
Name: Close, dtype: float64 Date
2014-12-29    29.049999
Name: Close, dtype: float64
20141231
Date
2014-12-30    28.870001
2014-12-31    28.809999
Name: Close, dtype: float64 Date
2015-03-30    28.93
2015-03-31    28.83
Name: Close, dtype: float64
20150331
Date
2015-03-30    28.93
2015-03-31    28.83
Name: Close, dtype: float64 Date
2015-06-29    32.400002
Name: Close, dtype: float64
20150630
Date
2015-06-29    32.400002
2015-06-30    32.919998
Name: Close, dtype: float64 Date
2015-09-28    29.360001
Name: Close, dtype: float64
20150930
Date
2015-09-29    29.110001
2015-09-30    29.260000
Name: Close, dtype: float64 Date
2015-12-28    30.190001
2015-12-29    30.940001
Name: Close, dtype: float64
20151231
Date
2015-12-30    30.50
2015-12-31    30.41
Name: Close, dtype: float64 Date
2016-03-29    27.5
2016-03-30    27.5
Name: Close, dtype: float64
20160331
Date
2016-03-30    27.500000
2016-03-31    27.450001
Name: Close, dtype: float64 Date
2016-06-28    28.139999
2016-06-29    28.219999
Name: Close, dtype: float64
20160630
Date
2016-06-29    28.219999
2016-06-30    28.559999
Name: Close, dtype: float64 Date
2016-09-27    30.200001
2016-09-28    30.219999
Name: Close, dtype: float64
20160930
Date
2016-09-29    29.940001
2016-09-30    30.370001
Name: Close, dtype: float64 Date
2016-12-28    37.830002
2016-12-29    37.750000
Name: Close, dtype: float64
20161231
Date
2016-12-30    37.599998
Name: Close, dtype: float64 Date
2017-03-30    34.400002
2017-03-31    34.290001
Name: Close, dtype: float64
20170331
Date
2017-03-30    34.400002
2017-03-31    34.290001
Name: Close, dtype: float64 Date
2017-06-28    34
2017-06-29    34
Name: Close, dtype: int64
20170630
Date
2017-06-29    34.000000
2017-06-30    33.889999
Name: Close, dtype: float64 Date
2017-09-27    33.630001
2017-09-28    33.980000
Name: Close, dtype: float64
20170930
Date
2017-09-29    33.759998
Name: Close, dtype: float64 Date
2017-12-28    33.990002
2017-12-29    33.529999
Name: Close, dtype: float64
20171231
Date
2018-01-02    33.299999
Name: Close, dtype: float64 Date
2018-04-02    32.080002
Name: Close, dtype: float64
20180331
Date
2018-04-02    32.080002
Name: Close, dtype: float64 Date
2018-07-02    34.360001
Name: Close, dtype: float64
20180630
Date
2018-06-29    33.779999
Name: Close, dtype: float64 Date
2018-09-27    33.029999
2018-09-28    33.310001
Name: Close, dtype: float64
20180930
Date
2018-10-01    33.060001
Name: Close, dtype: float64 Date
2018-12-31    24.83
Name: Close, dtype: float64
20181231
Date
2018-12-31    24.83
Name: Close, dtype: float64 Date
2019-04-01    28.639999
Name: Close, dtype: float64
20190331
Date
2019-04-01    28.639999
Name: Close, dtype: float64 Date
2019-07-01    28.629999
Name: Close, dtype: float64
20190630
Date
2019-07-01    28.629999
Name: Close, dtype: float64 Date
2019-09-30    30.52
Name: Close, dtype: float64
20190930
Date
2019-09-30    30.52
Name: Close, dtype: float64 Date
2019-12-30    36.330002
Name: Close, dtype: float64
20191231
Date
2019-12-30    36.330002
2019-12-31    36.230000
Name: Close, dtype: float64 Date
2020-03-30    21.059999
Name: Close, dtype: float64
20140930
Date
2014-09-29    10.89
2014-09-30    11.14
Name: Close, dtype: float64 Date
2014-12-29    10
Name: Close, dtype: int64
20141231
Date
2014-12-30    9.81
2014-12-31    9.96
Name: Close, dtype: float64 Date
2015-03-30    9.18
2015-03-31    9.26
Name: Close, dtype: float64
20150331
Date
2015-03-30    9.18
2015-03-31    9.26
Name: Close, dtype: float64 Date
2015-06-29    5.83
Name: Close, dtype: float64
20150630
Date
2015-06-29    5.83
2015-06-30    5.91
Name: Close, dtype: float64 Date
2015-09-28    3.18
Name: Close, dtype: float64
20150930
Date
2015-09-29    2.83
2015-09-30    3.10
Name: Close, dtype: float64 Date
2015-12-28    3.75
2015-12-29    3.62
Name: Close, dtype: float64
20151231
Date
2015-12-30    3.60
2015-12-31    3.61
Name: Close, dtype: float64 Date
2016-03-29    4.35
2016-03-30    4.38
Name: Close, dtype: float64
20160331
Date
2016-03-30    4.38
2016-03-31    4.52
Name: Close, dtype: float64 Date
2016-06-28    3.01
2016-06-29    3.04
Name: Close, dtype: float64
20160630
Date
2016-06-29    3.04
2016-06-30    3.05
Name: Close, dtype: float64 Date
2016-09-27    2.73
2016-09-28    2.70
Name: Close, dtype: float64
20160930
Date
2016-09-29    2.72
2016-09-30    2.75
Name: Close, dtype: float64 Date
2016-12-28    3.75
2016-12-29    3.80
Name: Close, dtype: float64
20161231
Date
2016-12-30    3.75
Name: Close, dtype: float64 Date
2017-03-30    4.30
2017-03-31    4.35
Name: Close, dtype: float64
20170331
Date
2017-03-30    4.30
2017-03-31    4.35
Name: Close, dtype: float64 Date
2017-06-28    6.15
2017-06-29    6.00
Name: Close, dtype: float64
20170630
Date
2017-06-29    6.00
2017-06-30    6.05
Name: Close, dtype: float64 Date
2017-09-27    3.60
2017-09-28    3.55
Name: Close, dtype: float64
20170930
Date
2017-09-29    3.7
Name: Close, dtype: float64 Date
2017-12-28    3.95
2017-12-29    3.90
Name: Close, dtype: float64
20171231
Date
2018-01-02    4
Name: Close, dtype: int64 Date
2018-04-02    4.85
Name: Close, dtype: float64
20180331
Date
2018-04-02    4.85
Name: Close, dtype: float64 Date
2018-07-02    4.6
Name: Close, dtype: float64
20180630
Date
2018-06-29    4.45
Name: Close, dtype: float64 Date
2018-09-27    5.2
2018-09-28    5.3
Name: Close, dtype: float64
20180930
Date
2018-10-01    5.34
Name: Close, dtype: float64 Date
2018-12-31    4.59
Name: Close, dtype: float64
20181231
Date
2018-12-31    4.59
Name: Close, dtype: float64 Date
2019-04-01    5.6
Name: Close, dtype: float64
20190331
Date
2019-04-01    5.6
Name: Close, dtype: float64 Date
2019-07-01    6.37
Name: Close, dtype: float64
20190630
Date
2019-07-01    6.37
Name: Close, dtype: float64 Date
2019-09-30    6.545
Name: Close, dtype: float64
20190930
Date
2019-09-30    6.545
Name: Close, dtype: float64 Date
2019-12-30    4.83
Name: Close, dtype: float64
20191231
Date
2019-12-30    4.83
2019-12-31    4.86
Name: Close, dtype: float64 Date
2020-03-30    3.8
Name: Close, dtype: float64
20030331
Date
2003-03-31    4.555
Name: Close, dtype: float64 Date
2003-06-30    4.625
Name: Close, dtype: float64
20030630
Date
2003-06-30    4.625
Name: Close, dtype: float64 Date
2003-09-29    5.56
Name: Close, dtype: float64
20030930
Date
2003-09-29    5.560
2003-09-30    5.655
Name: Close, dtype: float64 Date
2003-12-29    5.515
Name: Close, dtype: float64
20031231
Date
2003-12-30    5.590
2003-12-31    5.575
Name: Close, dtype: float64 Date
2004-03-29    7.195
2004-03-30    7.130
Name: Close, dtype: float64
20040331
Date
2004-03-30    7.13
2004-03-31    6.94
Name: Close, dtype: float64 Date
2004-06-28    7.015
2004-06-29    7.015
Name: Close, dtype: float64
20040630
Date
2004-06-29    7.015
2004-06-30    7.050
Name: Close, dtype: float64 Date
2004-09-27    9.445
2004-09-28    9.350
Name: Close, dtype: float64
20040930
Date
2004-09-29    9.37
2004-09-30    9.54
Name: Close, dtype: float64 Date
2004-12-28    20.785
2004-12-29    21.145
Name: Close, dtype: float64
20041231
Date
2004-12-30    21.145
2004-12-31    20.275
Name: Close, dtype: float64 Date
2005-03-30    19.495001
2005-03-31    19.900000
Name: Close, dtype: float64
20050331
Date
2005-03-30    19.495001
2005-03-31    19.900000
Name: Close, dtype: float64 Date
2005-06-28    22.260000
2005-06-29    22.049999
Name: Close, dtype: float64
20050630
Date
2005-06-29    22.049999
2005-06-30    22.040001
Name: Close, dtype: float64 Date
2005-09-27    15.69
2005-09-28    15.70
Name: Close, dtype: float64
20050930
Date
2005-09-29    16.09
2005-09-30    16.99
Name: Close, dtype: float64 Date
2005-12-28    22.850000
2005-12-29    22.639999
Name: Close, dtype: float64
20051231
Date
2005-12-30    22.6
Name: Close, dtype: float64 Date
2006-03-30    28.490000
2006-03-31    28.389999
Name: Close, dtype: float64
20060331
Date
2006-03-30    28.490000
2006-03-31    28.389999
Name: Close, dtype: float64 Date
2006-06-28    26.690001
2006-06-29    27.940001
Name: Close, dtype: float64
20060630
Date
2006-06-29    27.940001
2006-06-30    28.120001
Name: Close, dtype: float64 Date
2006-09-27    19.379999
2006-09-28    18.830000
Name: Close, dtype: float64
20060930

Date
2006-09-29    19.389999
Name: Close, dtype: float64 Date
2006-12-28    24.480000
2006-12-29    23.879999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    26
Name: Close, dtype: int64 Date
2007-06-28    27.32
2007-06-29    26.85
Name: Close, dtype: float64
20070630
Date
2007-06-29    26.85
Name: Close, dtype: float64 Date
2007-09-27    29.100000
2007-09-28    28.450001
Name: Close, dtype: float64
20070930
Date
2007-10-01    29.01
Name: Close, dtype: float64 Date
2007-12-31    24.08
Name: Close, dtype: float64
20071231
Date
2007-12-31    24.08
Name: Close, dtype: float64 Date
2008-03-31    17.709999
Name: Close, dtype: float64
20080331
Date
2008-03-31    17.709999
Name: Close, dtype: float64 Date
2008-06-30    11.8
Name: Close, dtype: float64
20080630
Date
2008-06-30    11.8
Name: Close, dtype: float64 Date
2008-09-29    11.23
Name: Close, dtype: float64
20080930
Date
2008-09-29    11.23
2008-09-30    11.39
Name: Close, dtype: float64 Date
2008-12-29    11.34
Name: Close, dtype: float64
20081231
Date
2008-12-30    11.60
2008-12-31    11.65
Name: Close, dtype: float64 Date
2009-03-30    5.08
2009-03-31    5.16
Name: Close, dtype: float64
20090331
Date
2009-03-30    5.08
2009-03-31    5.16
Name: Close, dtype: float64 Date
2009-06-29    7.18
Name: Close, dtype: float64
20090630
Date
2009-06-29    7.18
2009-06-30    7.30
Name: Close, dtype: float64 Date
2009-09-28    11.05
Name: Close, dtype: float64
20090930
Date
2009-09-29    10.90
2009-09-30    10.76
Name: Close, dtype: float64 Date
2009-12-28    7.91
2009-12-29    7.95
Name: Close, dtype: float64
20091231
Date
2009-12-30    8.16
2009-12-31    8.10
Name: Close, dtype: float64 Date
2010-03-30    8.86
2010-03-31    8.50
Name: Close, dtype: float64
20100331
Date
2010-03-30    8.86
2010-03-31    8.50
Name: Close, dtype: float64 Date
2010-06-28    11.43
2010-06-29    10.84
Name: Close, dtype: float64
20100630
Date
2010-06-29    10.84
2010-06-30    10.13
Name: Close, dtype: float64 Date
2010-09-27    11.01
2010-09-28    11.22
Name: Close, dtype: float64
20100930
Date
2010-09-29    11.14
2010-09-30    11.22
Name: Close, dtype: float64 Date
2010-12-28    12.91
2010-12-29    12.75
Name: Close, dtype: float64
20101231
Date
2010-12-30    12.92
2010-12-31    12.50
Name: Close, dtype: float64 Date
2011-03-30    10.38
2011-03-31    10.40
Name: Close, dtype: float64
20110331
Date
2011-03-30    10.38
2011-03-31    10.40
Name: Close, dtype: float64 Date
2011-06-28    10.82
2011-06-29    10.36
Name: Close, dtype: float64
20110630
Date
2011-06-29    10.36
2011-06-30    10.44
Name: Close, dtype: float64 Date
2011-09-27    9.82
2011-09-28    9.46
Name: Close, dtype: float64
20110930
Date
2011-09-29    9.83
2011-09-30    9.78
Name: Close, dtype: float64 Date
2011-12-28    10.17
2011-12-29    10.29
Name: Close, dtype: float64
20111231
Date
2011-12-30    10.19
Name: Close, dtype: float64 Date
2012-03-29    10.49
2012-03-30    10.30
Name: Close, dtype: float64
20120331
Date
2012-03-30    10.3
Name: Close, dtype: float64 Date
2012-06-28    8.89
2012-06-29    9.14
Name: Close, dtype: float64
20120630
Date
2012-06-29    9.14
Name: Close, dtype: float64 Date
2012-09-27    8.70
2012-09-28    8.71
Name: Close, dtype: float64
20120930
Date
2012-10-01    8.93
Name: Close, dtype: float64 Date
2012-12-31    10.91
Name: Close, dtype: float64
20121231
Date
2012-12-31    10.91
Name: Close, dtype: float64 Date
2013-04-01    9.45
Name: Close, dtype: float64
20130331
Date
2013-04-01    9.45
Name: Close, dtype: float64 Date
2013-07-01    17.200001
Name: Close, dtype: float64
20130630
Date
2013-07-01    17.200001
Name: Close, dtype: float64 Date
2013-09-30    18.98
Name: Close, dtype: float64
20130930
Date
2013-09-30    18.98
Name: Close, dtype: float64 Date
2013-12-30    20.42
Name: Close, dtype: float64
20131231
Date
2013-12-30    20.42
2013-12-31    20.08
Name: Close, dtype: float64 Date
2014-03-31    18.530001
Name: Close, dtype: float64
20140331
Date
2014-03-31    18.530001
Name: Close, dtype: float64 Date
2014-06-30    15.14
Name: Close, dtype: float64
20140630
Date
2014-06-30    15.14
Name: Close, dtype: float64 Date
2014-09-29    12.43
Name: Close, dtype: float64
20140930
Date
2014-09-29    12.43
2014-09-30    11.91
Name: Close, dtype: float64 Date
2014-12-29    16.540001
Name: Close, dtype: float64
20141231
Date
2014-12-30    16.559999
2014-12-31    16.590000
Name: Close, dtype: float64 Date
2015-03-30    18.510000
2015-03-31    19.139999
Name: Close, dtype: float64
20150331
Date
2015-03-30    18.510000
2015-03-31    19.139999
Name: Close, dtype: float64 Date
2015-06-29    20.040001
Name: Close, dtype: float64
20150630
Date
2015-06-29    20.040001
2015-06-30    20.559999
Name: Close, dtype: float64 Date
2015-09-28    17.530001
Name: Close, dtype: float64
20150930
Date
2015-09-29    17.469999
2015-09-30    17.969999
Name: Close, dtype: float64 Date
2015-12-28    23.219999
2015-12-29    23.250000
Name: Close, dtype: float64
20151231
Date
2015-12-30    23.090000
2015-12-31    22.719999
Name: Close, dtype: float64 Date
2016-03-29    19.32
2016-03-30    19.10
Name: Close, dtype: float64
20160331
Date
2016-03-30    19.100000
2016-03-31    19.459999
Name: Close, dtype: float64 Date
2016-06-28    20.60
2016-06-29    20.76
Name: Close, dtype: float64
20160630
Date
2016-06-29    20.760000
2016-06-30    21.969999
Name: Close, dtype: float64 Date
2016-09-27    24.770000
2016-09-28    24.950001
Name: Close, dtype: float64
20160930
Date
2016-09-29    24.65
2016-09-30    25.17
Name: Close, dtype: float64 Date
2016-12-28    25.23
2016-12-29    25.50
Name: Close, dtype: float64
20161231
Date
2016-12-30    25.780001
Name: Close, dtype: float64 Date
2017-03-30    29.639999
2017-03-31    29.540001
Name: Close, dtype: float64
20170331
Date
2017-03-30    29.639999
2017-03-31    29.540001
Name: Close, dtype: float64 Date
2017-06-28    30.860001
2017-06-29    30.660000
Name: Close, dtype: float64
20170630
Date
2017-06-29    30.66
2017-06-30    30.25
Name: Close, dtype: float64 Date
2017-09-27    39.009998
2017-09-28    38.869999
Name: Close, dtype: float64
20170930
Date
2017-09-29    39.529999
Name: Close, dtype: float64 Date
2017-12-28    45.459999
2017-12-29    44.820000
Name: Close, dtype: float64
20171231
Date
2018-01-02    44.57
Name: Close, dtype: float64 Date
2018-04-02    41.02
Name: Close, dtype: float64
20180331
Date
2018-04-02    41.02
Name: Close, dtype: float64 Date
2018-07-02    43.970001
Name: Close, dtype: float64
20180630
Date
2018-06-29    44.049999
Name: Close, dtype: float64 Date
2018-09-27    45.439999
2018-09-28    45.450001
Name: Close, dtype: float64
20180930
Date
2018-10-01    45.310001
Name: Close, dtype: float64 Date
2018-12-31    38.139999
Name: Close, dtype: float64
20181231
Date
2018-12-31    38.139999
Name: Close, dtype: float64 Date
2019-04-01    45.299999
Name: Close, dtype: float64
20190331
Date
2019-04-01    45.299999
Name: Close, dtype: float64 Date
2019-07-01    42.799999
Name: Close, dtype: float64
20190630
Date
2019-07-01    42.799999
Name: Close, dtype: float64 Date
2019-09-30    41.689999
Name: Close, dtype: float64
20190930
Date
2019-09-30    41.689999
Name: Close, dtype: float64 Date
2019-12-30    48.130001
Name: Close, dtype: float64
20191231
Date
2019-12-30    48.130001
2019-12-31    48.549999
Name: Close, dtype: float64 Date
2020-03-30    25.6
Name: Close, dtype: float64
20100331
Date
2010-03-30    6.03
2010-03-31    7.04
Name: Close, dtype: float64 Date
2010-06-28    7.64
2010-06-29    7.57
Name: Close, dtype: float64
20100630
Date
2010-06-29    7.57
2010-06-30    7.42
Name: Close, dtype: float64 Date
2010-09-27    7.25
2010-09-28    7.49
Name: Close, dtype: float64
20100930
Date
2010-09-29    7.35
2010-09-30    7.29
Name: Close, dtype: float64 Date
2010-12-28    8.02
2010-12-29    8.21
Name: Close, dtype: float64
20101231
Date
2010-12-30    8.36
2010-12-31    8.24
Name: Close, dtype: float64 Date
2011-03-30    7.8
2011-03-31    8.0
Name: Close, dtype: float64
20110331
Date
2011-03-30    7.8
2011-03-31    8.0
Name: Close, dtype: float64 Date
2011-06-28    4.27
2011-06-29    4.32
Name: Close, dtype: float64
20110630
Date
2011-06-29    4.32
2011-06-30    4.12
Name: Close, dtype: float64 Date
2011-09-27    4.02
2011-09-28    4.00
Name: Close, dtype: float64
20110930

Date
2011-09-29    4.01
2011-09-30    4.05
Name: Close, dtype: float64 Date
2011-12-28    4.05
2011-12-29    4.02
Name: Close, dtype: float64
20111231
Date
2011-12-30    3.95
Name: Close, dtype: float64 Date
2012-03-29    10.00
2012-03-30     9.93
Name: Close, dtype: float64
20120331
Date
2012-03-30    9.93
Name: Close, dtype: float64 Date
2012-06-28    10.34
2012-06-29    10.00
Name: Close, dtype: float64
20120630
Date
2012-06-29    10
Name: Close, dtype: int64 Date
2012-09-27    9.44
2012-09-28    9.40
Name: Close, dtype: float64
20120930
Date
2012-10-01    9.49
Name: Close, dtype: float64 Date
2012-12-31    5.19
Name: Close, dtype: float64
20121231
Date
2012-12-31    5.19
Name: Close, dtype: float64 Date
2013-04-01    4.11
Name: Close, dtype: float64
20130331
Date
2013-04-01    4.11
Name: Close, dtype: float64 Date
2013-07-01    4.97
Name: Close, dtype: float64
20130630
Date
2013-07-01    4.97
Name: Close, dtype: float64 Date
2013-09-30    9.75
Name: Close, dtype: float64
20130930
Date
2013-09-30    9.75
Name: Close, dtype: float64 Date
2013-12-30    11.16
Name: Close, dtype: float64
20131231
Date
2013-12-30    11.16
2013-12-31    11.29
Name: Close, dtype: float64 Date
2014-03-31    12.07
Name: Close, dtype: float64
20140331
Date
2014-03-31    12.07
Name: Close, dtype: float64 Date
2014-06-30    17.4
Name: Close, dtype: float64
20140630
Date
2014-06-30    17.4
Name: Close, dtype: float64 Date
2014-09-29    12.95
Name: Close, dtype: float64
20140930
Date
2014-09-29    12.95
2014-09-30    12.72
Name: Close, dtype: float64 Date
2014-12-29    23.91
Name: Close, dtype: float64
20141231
Date
2014-12-30    23.879999
2014-12-31    24.780001
Name: Close, dtype: float64 Date
2015-03-30    22.389999
2015-03-31    22.030001
Name: Close, dtype: float64
20150331
Date
2015-03-30    22.389999
2015-03-31    22.030001
Name: Close, dtype: float64 Date
2015-06-29    18.290001
Name: Close, dtype: float64
20150630
Date
2015-06-29    18.290001
2015-06-30    17.990000
Name: Close, dtype: float64 Date
2015-09-28    10.9
Name: Close, dtype: float64
20150930
Date
2015-09-29    10.91
2015-09-30    10.96
Name: Close, dtype: float64 Date
2015-12-28    15.13
2015-12-29    14.92
Name: Close, dtype: float64
20151231
Date
2015-12-30    15.53
2015-12-31    15.73
Name: Close, dtype: float64 Date
2016-03-29    15.19
2016-03-30    15.27
Name: Close, dtype: float64
20160331
Date
2016-03-30    15.27
2016-03-31    15.34
Name: Close, dtype: float64 Date
2016-06-28    10.24
2016-06-29    10.55
Name: Close, dtype: float64
20160630
Date
2016-06-29    10.55
2016-06-30    10.52
Name: Close, dtype: float64 Date
2016-09-27    11.52
2016-09-28    11.52
Name: Close, dtype: float64
20160930
Date
2016-09-29    11.22
2016-09-30    11.16
Name: Close, dtype: float64 Date
2016-12-28    10.10
2016-12-29    10.01
Name: Close, dtype: float64
20161231
Date
2016-12-30    9.92
Name: Close, dtype: float64 Date
2017-03-30    15.63
2017-03-31    15.12
Name: Close, dtype: float64
20170331
Date
2017-03-30    15.63
2017-03-31    15.12
Name: Close, dtype: float64 Date
2017-06-28    20.34
2017-06-29    20.59
Name: Close, dtype: float64
20170630
Date
2017-06-29    20.59
2017-06-30    19.91
Name: Close, dtype: float64 Date
2017-09-27    21.090000
2017-09-28    21.049999
Name: Close, dtype: float64
20170930
Date
2017-09-29    21.620001
Name: Close, dtype: float64 Date
2017-12-28    19.57
2017-12-29    19.43
Name: Close, dtype: float64
20171231
Date
2018-01-02    20.16
Name: Close, dtype: float64 Date
2018-04-02    10.79
Name: Close, dtype: float64
20180331
Date
2018-04-02    10.79
Name: Close, dtype: float64 Date
2018-07-02    18.51
Name: Close, dtype: float64
20180630
Date
2018-06-29    18.139999
Name: Close, dtype: float64 Date
2018-09-27    24.620001
2018-09-28    24.410000
Name: Close, dtype: float64
20180930
Date
2018-10-01    13.96
Name: Close, dtype: float64 Date
2018-12-31    11.14
Name: Close, dtype: float64
20181231
Date
2018-12-31    11.14
Name: Close, dtype: float64 Date
2019-04-01    17.24
Name: Close, dtype: float64
20190331
Date
2019-04-01    17.24
Name: Close, dtype: float64 Date
2019-07-01    15.46
Name: Close, dtype: float64
20190630
Date
2019-07-01    15.46
Name: Close, dtype: float64 Date
2019-09-30    16.33
Name: Close, dtype: float64
20190930
Date
2019-09-30    16.33
Name: Close, dtype: float64 Date
2019-12-30    14.55
Name: Close, dtype: float64
20191231
Date
2019-12-30    14.55
2019-12-31    14.09
Name: Close, dtype: float64 Date
2020-03-30    11.4
Name: Close, dtype: float64
20180930
Date
2018-10-01    18.99
Name: Close, dtype: float64 Date
2018-12-31    12.95
Name: Close, dtype: float64
20181231
Date
2018-12-31    12.95
Name: Close, dtype: float64 Date
2019-04-01    19.219999
Name: Close, dtype: float64
20190331
Date
2019-04-01    19.219999
Name: Close, dtype: float64 Date
2019-07-01    14
Name: Close, dtype: int64
20190630
Date
2019-07-01    14
Name: Close, dtype: int64 Date
2019-09-30    14.5
Name: Close, dtype: float64
20190930
Date
2019-09-30    14.5
Name: Close, dtype: float64 Date
2019-12-30    17.15
Name: Close, dtype: float64
20191231
Date
2019-12-30    17.150000
2019-12-31    17.120001
Name: Close, dtype: float64 Date
2020-03-30    17.469999
Name: Close, dtype: float64
20030331
Date
2003-03-31    5.84
Name: Close, dtype: float64 Date
2003-06-30    7.64
Name: Close, dtype: float64
20030630
Date
2003-06-30    7.64
Name: Close, dtype: float64 Date
2003-09-29    9.96
Name: Close, dtype: float64
20030930
Date
2003-09-29    9.96
2003-09-30    9.49
Name: Close, dtype: float64 Date
2003-12-29    8.25
Name: Close, dtype: float64
20031231
Date
2003-12-30    8.05
2003-12-31    7.96
Name: Close, dtype: float64 Date
2004-03-29    10.50
2004-03-30    10.14
Name: Close, dtype: float64
20040331
Date
2004-03-30    10.14
2004-03-31    10.39
Name: Close, dtype: float64 Date
2004-06-28    9.80
2004-06-29    9.69
Name: Close, dtype: float64
20040630
Date
2004-06-29    9.69
2004-06-30    9.73
Name: Close, dtype: float64 Date
2004-09-27    6.20
2004-09-28    6.25
Name: Close, dtype: float64
20040930
Date
2004-09-29    6.25
2004-09-30    6.30
Name: Close, dtype: float64 Date
2004-12-28    6.91
2004-12-29    6.76
Name: Close, dtype: float64
20041231
Date
2004-12-30    6.81
2004-12-31    6.72
Name: Close, dtype: float64 Date
2005-03-30    7.30
2005-03-31    7.36
Name: Close, dtype: float64
20050331
Date
2005-03-30    7.30
2005-03-31    7.36
Name: Close, dtype: float64 Date
2005-06-28    10.02
2005-06-29     9.84
Name: Close, dtype: float64
20050630
Date
2005-06-29    9.84
2005-06-30    9.98
Name: Close, dtype: float64 Date
2005-09-27    9.21
2005-09-28    9.20
Name: Close, dtype: float64
20050930
Date
2005-09-29    9.35
2005-09-30    9.45
Name: Close, dtype: float64 Date
2005-12-28    8.86
2005-12-29    8.85
Name: Close, dtype: float64
20051231
Date
2005-12-30    8.82
Name: Close, dtype: float64 Date
2006-03-30    10.26
2006-03-31    10.30
Name: Close, dtype: float64
20060331
Date
2006-03-30    10.26
2006-03-31    10.30
Name: Close, dtype: float64 Date
2006-06-28    9.12
2006-06-29    9.45
Name: Close, dtype: float64
20060630
Date
2006-06-29    9.45
2006-06-30    9.52
Name: Close, dtype: float64 Date
2006-09-27    8.15
2006-09-28    8.24
Name: Close, dtype: float64
20060930
Date
2006-09-29    8.04
Name: Close, dtype: float64 Date
2006-12-28    8.50
2006-12-29    8.26
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    7.35
Name: Close, dtype: float64 Date
2007-06-28    8.25
2007-06-29    8.18
Name: Close, dtype: float64
20070630
Date
2007-06-29    8.18
Name: Close, dtype: float64 Date
2007-09-27     9.80
2007-09-28    10.05
Name: Close, dtype: float64
20070930
Date
2007-10-01    10.14
Name: Close, dtype: float64 Date
2007-12-31    8.89
Name: Close, dtype: float64
20071231
Date
2007-12-31    8.89
Name: Close, dtype: float64 Date
2008-03-31    7.31
Name: Close, dtype: float64
20080331
Date
2008-03-31    7.31
Name: Close, dtype: float64 Date
2008-06-30    3.74
Name: Close, dtype: float64
20080630
Date
2008-06-30    3.74
Name: Close, dtype: float64 Date
2008-09-29    4.48
Name: Close, dtype: float64
20080930
Date
2008-09-29    4.48
2008-09-30    4.92
Name: Close, dtype: float64 Date
2008-12-29    3.2
Name: Close, dtype: float64
20081231

Date
2008-12-30    3.35
2008-12-31    3.68
Name: Close, dtype: float64 Date
2009-03-30    2.52
2009-03-31    2.53
Name: Close, dtype: float64
20090331
Date
2009-03-30    2.52
2009-03-31    2.53
Name: Close, dtype: float64 Date
2009-06-29    2.51
Name: Close, dtype: float64
20090630
Date
2009-06-29    2.51
2009-06-30    2.47
Name: Close, dtype: float64 Date
2009-09-28    3.07
Name: Close, dtype: float64
20090930
Date
2009-09-29    2.99
2009-09-30    2.90
Name: Close, dtype: float64 Date
2009-12-28    5.18
2009-12-29    5.15
Name: Close, dtype: float64
20091231
Date
2009-12-30    5.19
2009-12-31    5.08
Name: Close, dtype: float64 Date
2010-03-30    5.78
2010-03-31    5.93
Name: Close, dtype: float64
20100331
Date
2010-03-30    5.78
2010-03-31    5.93
Name: Close, dtype: float64 Date
2010-06-28    5.04
2010-06-29    4.79
Name: Close, dtype: float64
20100630
Date
2010-06-29    4.79
2010-06-30    4.63
Name: Close, dtype: float64 Date
2010-09-27    4.05
2010-09-28    4.16
Name: Close, dtype: float64
20100930
Date
2010-09-29    4.07
2010-09-30    4.05
Name: Close, dtype: float64 Date
2010-12-28    5.99
2010-12-29    5.99
Name: Close, dtype: float64
20101231
Date
2010-12-30    5.97
2010-12-31    5.75
Name: Close, dtype: float64 Date
2011-03-30    7.79
2011-03-31    7.86
Name: Close, dtype: float64
20110331
Date
2011-03-30    7.79
2011-03-31    7.86
Name: Close, dtype: float64 Date
2011-06-28    8.43
2011-06-29    8.50
Name: Close, dtype: float64
20110630
Date
2011-06-29    8.50
2011-06-30    8.53
Name: Close, dtype: float64 Date
2011-09-27    8.27
2011-09-28    8.01
Name: Close, dtype: float64
20110930
Date
2011-09-29    8.20
2011-09-30    7.96
Name: Close, dtype: float64 Date
2011-12-28    9.01
2011-12-29    9.17
Name: Close, dtype: float64
20111231
Date
2011-12-30    9.11
Name: Close, dtype: float64 Date
2012-03-29    11.47
2012-03-30    11.49
Name: Close, dtype: float64
20120331
Date
2012-03-30    11.49
Name: Close, dtype: float64 Date
2012-06-28    10.32
2012-06-29    11.24
Name: Close, dtype: float64
20120630
Date
2012-06-29    11.24
Name: Close, dtype: float64 Date
2012-09-27    10.71
2012-09-28    11.11
Name: Close, dtype: float64
20120930
Date
2012-10-01    11.2
Name: Close, dtype: float64 Date
2012-12-31    7.18
Name: Close, dtype: float64
20121231
Date
2012-12-31    7.18
Name: Close, dtype: float64 Date
2013-04-01    5.29
Name: Close, dtype: float64
20130331
Date
2013-04-01    5.29
Name: Close, dtype: float64 Date
2013-07-01    3.96
Name: Close, dtype: float64
20130630
Date
2013-07-01    3.96
Name: Close, dtype: float64 Date
2013-09-30    6.01
Name: Close, dtype: float64
20130930
Date
2013-09-30    6.01
Name: Close, dtype: float64 Date
2013-12-30    6.05
Name: Close, dtype: float64
20131231
Date
2013-12-30    6.05
2013-12-31    6.29
Name: Close, dtype: float64 Date
2014-03-31    7.97
Name: Close, dtype: float64
20140331
Date
2014-03-31    7.97
Name: Close, dtype: float64 Date
2014-06-30    8.61
Name: Close, dtype: float64
20140630
Date
2014-06-30    8.61
Name: Close, dtype: float64 Date
2014-09-29    7.42
Name: Close, dtype: float64
20140930
Date
2014-09-29    7.42
2014-09-30    7.22
Name: Close, dtype: float64 Date
2014-12-29    10.27
Name: Close, dtype: float64
20141231
Date
2014-12-30    10.17
2014-12-31    10.14
Name: Close, dtype: float64 Date
2015-03-30    6.42
2015-03-31    6.54
Name: Close, dtype: float64
20150331
Date
2015-03-30    6.42
2015-03-31    6.54
Name: Close, dtype: float64 Date
2015-06-29    5.41
Name: Close, dtype: float64
20150630
Date
2015-06-29    5.41
2015-06-30    5.39
Name: Close, dtype: float64 Date
2015-09-28    4.83
Name: Close, dtype: float64
20150930
Date
2015-09-29    4.69
2015-09-30    4.44
Name: Close, dtype: float64 Date
2015-12-28    6.54
2015-12-29    6.65
Name: Close, dtype: float64
20151231
Date
2015-12-30    6.55
2015-12-31    6.44
Name: Close, dtype: float64 Date
2016-03-29    7.08
2016-03-30    7.20
Name: Close, dtype: float64
20160331
Date
2016-03-30    7.20
2016-03-31    7.23
Name: Close, dtype: float64 Date
2016-06-28    6.73
2016-06-29    7.08
Name: Close, dtype: float64
20160630
Date
2016-06-29    7.08
2016-06-30    5.91
Name: Close, dtype: float64 Date
2016-09-27    8.19
2016-09-28    8.15
Name: Close, dtype: float64
20160930
Date
2016-09-29    7.89
2016-09-30    7.97
Name: Close, dtype: float64 Date
2016-12-28    8.78
2016-12-29    8.84
Name: Close, dtype: float64
20161231
Date
2016-12-30    8.78
Name: Close, dtype: float64 Date
2017-03-30    12.70
2017-03-31    12.93
Name: Close, dtype: float64
20170331
Date
2017-03-30    12.70
2017-03-31    12.93
Name: Close, dtype: float64 Date
2017-06-28    17.709999
2017-06-29    17.840000
Name: Close, dtype: float64
20170630
Date
2017-06-29    17.84
2017-06-30    17.26
Name: Close, dtype: float64 Date
2017-09-27    22.709999
2017-09-28    22.740000
Name: Close, dtype: float64
20170930
Date
2017-09-29    22.5
Name: Close, dtype: float64 Date
2017-12-28    18.730000
2017-12-29    18.860001
Name: Close, dtype: float64
20171231
Date
2018-01-02    19.290001
Name: Close, dtype: float64 Date
2018-04-02    16.65
Name: Close, dtype: float64
20180331
Date
2018-04-02    16.65
Name: Close, dtype: float64 Date
2018-07-02    16.75
Name: Close, dtype: float64
20180630
Date
2018-06-29    16.469999
Name: Close, dtype: float64 Date
2018-09-27    15.58
2018-09-28    15.45
Name: Close, dtype: float64
20180930
Date
2018-10-01    15.01
Name: Close, dtype: float64 Date
2018-12-31    11.68
Name: Close, dtype: float64
20181231
Date
2018-12-31    11.68
Name: Close, dtype: float64 Date
2019-04-01    11.07
Name: Close, dtype: float64
20190331
Date
2019-04-01    11.07
Name: Close, dtype: float64 Date
2019-07-01    9.46
Name: Close, dtype: float64
20190630
Date
2019-07-01    9.46
Name: Close, dtype: float64 Date
2019-09-30    7.47
Name: Close, dtype: float64
20190930
Date
2019-09-30    7.47
Name: Close, dtype: float64 Date
2019-12-30    7.81
Name: Close, dtype: float64
20191231
Date
2019-12-30    7.81
2019-12-31    8.03
Name: Close, dtype: float64 Date
2020-03-30    9.83
Name: Close, dtype: float64
20180331
Date
2018-04-02    16.68
Name: Close, dtype: float64 Date
2018-07-02    14.02
Name: Close, dtype: float64
20180630
Date
2018-06-29    14.36
Name: Close, dtype: float64 Date
2018-09-27    22.35
2018-09-28    21.42
Name: Close, dtype: float64
20180930
Date
2018-10-01    20.799999
Name: Close, dtype: float64 Date
2018-12-31    18.309999
Name: Close, dtype: float64
20181231
Date
2018-12-31    18.309999
Name: Close, dtype: float64 Date
2019-04-01    23.4
Name: Close, dtype: float64
20190331
Date
2019-04-01    23.4
Name: Close, dtype: float64 Date
2019-07-01    35.380001
Name: Close, dtype: float64
20190630
Date
2019-07-01    35.380001
Name: Close, dtype: float64 Date
2019-09-30    21.959999
Name: Close, dtype: float64
20190930
Date
2019-09-30    21.959999
Name: Close, dtype: float64 Date
2019-12-30    23.370001
Name: Close, dtype: float64
20191231
Date
2019-12-30    23.370001
2019-12-31    23.629999
Name: Close, dtype: float64 Date
2020-03-30    18.860001
Name: Close, dtype: float64
20030331
Date
2003-03-31    4.18
Name: Close, dtype: float64 Date
2003-06-30    5.0175
Name: Close, dtype: float64
20030630
Date
2003-06-30    5.0175
Name: Close, dtype: float64 Date
2003-09-29    6.2475
Name: Close, dtype: float64
20030930
Date
2003-09-29    6.2475
2003-09-30    6.1500
Name: Close, dtype: float64 Date
2003-12-29    7.535
Name: Close, dtype: float64
20031231
Date
2003-12-30    7.5125
2003-12-31    7.3750
Name: Close, dtype: float64 Date
2004-03-29    7.5875
2004-03-30    7.5850
Name: Close, dtype: float64
20040331
Date
2004-03-30    7.585
2004-03-31    7.640
Name: Close, dtype: float64 Date
2004-06-28    8.8325
2004-06-29    8.8250
Name: Close, dtype: float64
20040630
Date
2004-06-29    8.8250
2004-06-30    8.8825
Name: Close, dtype: float64 Date
2004-09-27    10.7475
2004-09-28    11.0000
Name: Close, dtype: float64
20040930
Date
2004-09-29    11.1250
2004-09-30    11.1125
Name: Close, dtype: float64 Date
2004-12-28    10.505
2004-12-29    10.520
Name: Close, dtype: float64
20041231
Date
2004-12-30    10.530
2004-12-31    10.655
Name: Close, dtype: float64 Date
2005-03-30    10.235
2005-03-31    10.210
Name: Close, dtype: float64
20050331

Date
2005-03-30    10.235
2005-03-31    10.210
Name: Close, dtype: float64 Date
2005-06-28    11.950
2005-06-29    12.015
Name: Close, dtype: float64
20050630
Date
2005-06-29    12.015
2005-06-30    11.710
Name: Close, dtype: float64 Date
2005-09-27    14.99
2005-09-28    14.99
Name: Close, dtype: float64
20050930
Date
2005-09-29    15.410
2005-09-30    14.625
Name: Close, dtype: float64 Date
2005-12-28    14.795
2005-12-29    14.620
Name: Close, dtype: float64
20051231
Date
2005-12-30    14.425
Name: Close, dtype: float64 Date
2006-03-30    19.059999
2006-03-31    19.555000
Name: Close, dtype: float64
20060331
Date
2006-03-30    19.059999
2006-03-31    19.555000
Name: Close, dtype: float64 Date
2006-06-28    14.665
2006-06-29    15.680
Name: Close, dtype: float64
20060630
Date
2006-06-29    15.68
2006-06-30    15.75
Name: Close, dtype: float64 Date
2006-09-27    15.045
2006-09-28    15.010
Name: Close, dtype: float64
20060930
Date
2006-09-29    15.005
Name: Close, dtype: float64 Date
2006-12-28    13.78
2006-12-29    13.40
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    14.025
Name: Close, dtype: float64 Date
2007-06-28    18.490
2007-06-29    17.855
Name: Close, dtype: float64
20070630
Date
2007-06-29    17.855
Name: Close, dtype: float64 Date
2007-09-27    20.705
2007-09-28    20.025
Name: Close, dtype: float64
20070930
Date
2007-10-01    20.35
Name: Close, dtype: float64 Date
2007-12-31    19.195
Name: Close, dtype: float64
20071231
Date
2007-12-31    19.195
Name: Close, dtype: float64 Date
2008-03-31    15.15
Name: Close, dtype: float64
20080331
Date
2008-03-31    15.15
Name: Close, dtype: float64 Date
2008-06-30    16.389999
Name: Close, dtype: float64
20080630
Date
2008-06-30    16.389999
Name: Close, dtype: float64 Date
2008-09-29    18.405001
Name: Close, dtype: float64
20080930
Date
2008-09-29    18.405001
2008-09-30    19.674999
Name: Close, dtype: float64 Date
2008-12-29    11.64
Name: Close, dtype: float64
20081231
Date
2008-12-30    12.09
2008-12-31    12.05
Name: Close, dtype: float64 Date
2009-03-30    10.20
2009-03-31    10.39
Name: Close, dtype: float64
20090331
Date
2009-03-30    10.20
2009-03-31    10.39
Name: Close, dtype: float64 Date
2009-06-29    12.885
Name: Close, dtype: float64
20090630
Date
2009-06-29    12.885
2009-06-30    12.800
Name: Close, dtype: float64 Date
2009-09-28    14.19
Name: Close, dtype: float64
20090930
Date
2009-09-29    13.840
2009-09-30    13.365
Name: Close, dtype: float64 Date
2009-12-28    16.375000
2009-12-29    16.235001
Name: Close, dtype: float64
20091231
Date
2009-12-30    16.245001
2009-12-31    15.845000
Name: Close, dtype: float64 Date
2010-03-30    14.890
2010-03-31    14.745
Name: Close, dtype: float64
20100331
Date
2010-03-30    14.890
2010-03-31    14.745
Name: Close, dtype: float64 Date
2010-06-28    18.18
2010-06-29    17.16
Name: Close, dtype: float64
20100630
Date
2010-06-29    17.160
2010-06-30    16.855
Name: Close, dtype: float64 Date
2010-09-27    18.170
2010-09-28    18.695
Name: Close, dtype: float64
20100930
Date
2010-09-29    18.584999
2010-09-30    18.945000
Name: Close, dtype: float64 Date
2010-12-28    23.985001
2010-12-29    24.105000
Name: Close, dtype: float64
20101231
Date
2010-12-30    24.094999
2010-12-31    23.844999
Name: Close, dtype: float64 Date
2011-03-30    30.250000
2011-03-31    30.709999
Name: Close, dtype: float64
20110331
Date
2011-03-30    30.250000
2011-03-31    30.709999
Name: Close, dtype: float64 Date
2011-06-28    27.584999
2011-06-29    27.485001
Name: Close, dtype: float64
20110630
Date
2011-06-29    27.485001
2011-06-30    27.855000
Name: Close, dtype: float64 Date
2011-09-27    25.750000
2011-09-28    23.924999
Name: Close, dtype: float64
20110930
Date
2011-09-29    24.825001
2011-09-30    24.100000
Name: Close, dtype: float64 Date
2011-12-28    30.230000
2011-12-29    31.299999
Name: Close, dtype: float64
20111231
Date
2011-12-30    30.950001
Name: Close, dtype: float64 Date
2012-03-29    30.080000
2012-03-30    30.504999
Name: Close, dtype: float64
20120331
Date
2012-03-30    30.504999
Name: Close, dtype: float64 Date
2012-06-28    34.195000
2012-06-29    34.794998
Name: Close, dtype: float64
20120630
Date
2012-06-29    34.794998
Name: Close, dtype: float64 Date
2012-09-27    29.879999
2012-09-28    29.430000
Name: Close, dtype: float64
20120930
Date
2012-10-01    29.809999
Name: Close, dtype: float64 Date
2012-12-31    26.360001
Name: Close, dtype: float64
20121231
Date
2012-12-31    26.360001
Name: Close, dtype: float64 Date
2013-04-01    32.93
Name: Close, dtype: float64
20130331
Date
2013-04-01    32.93
Name: Close, dtype: float64 Date
2013-07-01    30.219999
Name: Close, dtype: float64
20130630
Date
2013-07-01    30.219999
Name: Close, dtype: float64 Date
2013-09-30    32.709999
Name: Close, dtype: float64
20130930
Date
2013-09-30    32.709999
Name: Close, dtype: float64 Date
2013-12-30    41.810001
Name: Close, dtype: float64
20131231
Date
2013-12-30    41.810001
2013-12-31    41.139999
Name: Close, dtype: float64 Date
2014-03-31    32.75
Name: Close, dtype: float64
20140331
Date
2014-03-31    32.75
Name: Close, dtype: float64 Date
2014-06-30    33.139999
Name: Close, dtype: float64
20140630
Date
2014-06-30    33.139999
Name: Close, dtype: float64 Date
2014-09-29    25.76
Name: Close, dtype: float64
20140930
Date
2014-09-29    25.76
2014-09-30    24.40
Name: Close, dtype: float64 Date
2014-12-29    25.690001
Name: Close, dtype: float64
20141231
Date
2014-12-30    25.16
2014-12-31    25.00
Name: Close, dtype: float64 Date
2015-03-30    20.700001
2015-03-31    20.459999
Name: Close, dtype: float64
20150331
Date
2015-03-30    20.700001
2015-03-31    20.459999
Name: Close, dtype: float64 Date
2015-06-29    20.610001
Name: Close, dtype: float64
20150630
Date
2015-06-29    20.610001
2015-06-30    20.330000
Name: Close, dtype: float64 Date
2015-09-28    16.09
Name: Close, dtype: float64
20150930
Date
2015-09-29    16.709999
2015-09-30    16.950001
Name: Close, dtype: float64 Date
2015-12-28    15.96
2015-12-29    16.00
Name: Close, dtype: float64
20151231
Date
2015-12-30    15.68
2015-12-31    15.60
Name: Close, dtype: float64 Date
2016-03-29    15.91
2016-03-30    15.75
Name: Close, dtype: float64
20160331
Date
2016-03-30    15.75
2016-03-31    16.02
Name: Close, dtype: float64 Date
2016-06-28    18.260000
2016-06-29    18.559999
Name: Close, dtype: float64
20160630
Date
2016-06-29    18.559999
2016-06-30    18.940001
Name: Close, dtype: float64 Date
2016-09-27    22.480000
2016-09-28    22.780001
Name: Close, dtype: float64
20160930
Date
2016-09-29    22.570000
2016-09-30    23.030001
Name: Close, dtype: float64 Date
2016-12-28    25.200001
2016-12-29    25.450001
Name: Close, dtype: float64
20161231
Date
2016-12-30    25.200001
Name: Close, dtype: float64 Date
2017-03-30    29.000000
2017-03-31    29.049999
Name: Close, dtype: float64
20170331
Date
2017-03-30    29.000000
2017-03-31    29.049999
Name: Close, dtype: float64 Date
2017-06-28    33.099998
2017-06-29    33.599998
Name: Close, dtype: float64
20170630
Date
2017-06-29    33.599998
2017-06-30    33.299999
Name: Close, dtype: float64 Date
2017-09-27    32.500000
2017-09-28    31.799999
Name: Close, dtype: float64
20170930
Date
2017-09-29    32.400002
Name: Close, dtype: float64 Date
2017-12-28    34.599998
2017-12-29    34.349998
Name: Close, dtype: float64
20171231
Date
2018-01-02    34.400002
Name: Close, dtype: float64 Date
2018-04-02    34.450001
Name: Close, dtype: float64
20180331
Date
2018-04-02    34.450001
Name: Close, dtype: float64 Date
2018-07-02    39
Name: Close, dtype: int64
20180630
Date
2018-06-29    38.450001
Name: Close, dtype: float64 Date
2018-09-27    46.049999
2018-09-28    45.750000
Name: Close, dtype: float64
20180930
Date
2018-10-01    46.439999
Name: Close, dtype: float64 Date
2018-12-31    36.189999
Name: Close, dtype: float64
20181231
Date
2018-12-31    36.189999
Name: Close, dtype: float64 Date
2019-04-01    39.09
Name: Close, dtype: float64
20190331
Date
2019-04-01    39.09
Name: Close, dtype: float64 Date
2019-07-01    36.189999
Name: Close, dtype: float64
20190630
Date
2019-07-01    36.189999
Name: Close, dtype: float64 Date
2019-09-30    33.459999
Name: Close, dtype: float64
20190930

Date
2019-09-30    33.459999
Name: Close, dtype: float64 Date
2019-12-30    34.189999
Name: Close, dtype: float64
20191231
Date
2019-12-30    34.189999
2019-12-31    34.459999
Name: Close, dtype: float64 Date
2020-03-30    23.209999
Name: Close, dtype: float64
20140630
Date
2014-06-30    11.74
Name: Close, dtype: float64 Date
2014-09-29    9.82
Name: Close, dtype: float64
20140930
Date
2014-09-29    9.82
2014-09-30    9.02
Name: Close, dtype: float64 Date
2014-12-29    13
Name: Close, dtype: int64
20141231
Date
2014-12-30    12.12
2014-12-31    12.24
Name: Close, dtype: float64 Date
2015-03-30    24.160000
2015-03-31    23.959999
Name: Close, dtype: float64
20150331
Date
2015-03-30    24.160000
2015-03-31    23.959999
Name: Close, dtype: float64 Date
2015-06-29    31.76
Name: Close, dtype: float64
20150630
Date
2015-06-29    31.760000
2015-06-30    33.150002
Name: Close, dtype: float64 Date
2015-09-28    19.940001
Name: Close, dtype: float64
20150930
Date
2015-09-29    18.809999
2015-09-30    20.260000
Name: Close, dtype: float64 Date
2015-12-28    19.510000
2015-12-29    19.950001
Name: Close, dtype: float64
20151231
Date
2015-12-30    19.680000
2015-12-31    19.290001
Name: Close, dtype: float64 Date
2016-03-29    12.79
2016-03-30    13.39
Name: Close, dtype: float64
20160331
Date
2016-03-30    13.39
2016-03-31    13.66
Name: Close, dtype: float64 Date
2016-06-28    17.809999
2016-06-29    17.950001
Name: Close, dtype: float64
20160630
Date
2016-06-29    17.950001
2016-06-30    17.809999
Name: Close, dtype: float64 Date
2016-09-27    22.24
2016-09-28    22.10
Name: Close, dtype: float64
20160930
Date
2016-09-29    21.879999
2016-09-30    22.379999
Name: Close, dtype: float64 Date
2016-12-28    19.080000
2016-12-29    19.200001
Name: Close, dtype: float64
20161231
Date
2016-12-30    18.93
Name: Close, dtype: float64 Date
2017-03-30    18.040001
2017-03-31    18.459999
Name: Close, dtype: float64
20170331
Date
2017-03-30    18.040001
2017-03-31    18.459999
Name: Close, dtype: float64 Date
2017-06-28    19.450001
2017-06-29    19.389999
Name: Close, dtype: float64
20170630
Date
2017-06-29    19.389999
2017-06-30    19.389999
Name: Close, dtype: float64 Date
2017-09-27    25.09
2017-09-28    24.74
Name: Close, dtype: float64
20170930
Date
2017-09-29    24.889999
Name: Close, dtype: float64 Date
2017-12-28    21.76
2017-12-29    21.07
Name: Close, dtype: float64
20171231
Date
2018-01-02    22.469999
Name: Close, dtype: float64 Date
2018-04-02    22.030001
Name: Close, dtype: float64
20180331
Date
2018-04-02    22.030001
Name: Close, dtype: float64 Date
2018-07-02    27.860001
Name: Close, dtype: float64
20180630
Date
2018-06-29    27.26
Name: Close, dtype: float64 Date
2018-09-27    28.139999
2018-09-28    28.730000
Name: Close, dtype: float64
20180930
Date
2018-10-01    27.809999
Name: Close, dtype: float64 Date
2018-12-31    22.629999
Name: Close, dtype: float64
20181231
Date
2018-12-31    22.629999
Name: Close, dtype: float64 Date
2019-04-01    22.129999
Name: Close, dtype: float64
20190331
Date
2019-04-01    22.129999
Name: Close, dtype: float64 Date
2019-07-01    20.6
Name: Close, dtype: float64
20190630
Date
2019-07-01    20.6
Name: Close, dtype: float64 Date
2019-09-30    11.59
Name: Close, dtype: float64
20190930
Date
2019-09-30    11.59
Name: Close, dtype: float64 Date
2019-12-30    14.24
Name: Close, dtype: float64
20191231
Date
2019-12-30    14.24
2019-12-31    14.20
Name: Close, dtype: float64 Date
2020-03-30    14.25
Name: Close, dtype: float64
20140630
Date
2014-06-30    34
Name: Close, dtype: int64 Date
2014-09-29    20.99
Name: Close, dtype: float64
20140930
Date
2014-09-29    20.99
2014-09-30    19.33
Name: Close, dtype: float64 Date
2014-12-29    17
Name: Close, dtype: int64
20141231
Date
2014-12-30    16.570000
2014-12-31    16.940001
Name: Close, dtype: float64 Date
2015-03-30    19.639999
2015-03-31    20.730000
Name: Close, dtype: float64
20150331
Date
2015-03-30    19.639999
2015-03-31    20.730000
Name: Close, dtype: float64 Date
2015-06-29    31.52
Name: Close, dtype: float64
20150630
Date
2015-06-29    31.52
2015-06-30    31.98
Name: Close, dtype: float64 Date
2015-09-28    26.27
Name: Close, dtype: float64
20150930
Date
2015-09-29    27.780001
2015-09-30    29.760000
Name: Close, dtype: float64 Date
2015-12-28    35.090000
2015-12-29    35.369999
Name: Close, dtype: float64
20151231
Date
2015-12-30    35.509998
2015-12-31    34.160000
Name: Close, dtype: float64 Date
2016-03-29    17.629999
2016-03-30    17.559999
Name: Close, dtype: float64
20160331
Date
2016-03-30    17.559999
2016-03-31    17.459999
Name: Close, dtype: float64 Date
2016-06-28    13.27
2016-06-29    13.89
Name: Close, dtype: float64
20160630
Date
2016-06-29    13.89
2016-06-30    13.60
Name: Close, dtype: float64 Date
2016-09-27    16.850000
2016-09-28    16.969999
Name: Close, dtype: float64
20160930
Date
2016-09-29    15.910000
2016-09-30    16.209999
Name: Close, dtype: float64 Date
2016-12-28    20.900000
2016-12-29    20.950001
Name: Close, dtype: float64
20161231
Date
2016-12-30    20.700001
Name: Close, dtype: float64 Date
2017-03-30    20.200001
2017-03-31    20.799999
Name: Close, dtype: float64
20170331
Date
2017-03-30    20.200001
2017-03-31    20.799999
Name: Close, dtype: float64 Date
2017-06-28    25.549999
2017-06-29    26.200001
Name: Close, dtype: float64
20170630
Date
2017-06-29    26.200001
2017-06-30    26.400000
Name: Close, dtype: float64 Date
2017-09-27    28.10
2017-09-28    27.25
Name: Close, dtype: float64
20170930
Date
2017-09-29    27.549999
Name: Close, dtype: float64 Date
2017-12-28    36.299999
2017-12-29    35.750000
Name: Close, dtype: float64
20171231
Date
2018-01-02    37.400002
Name: Close, dtype: float64 Date
2018-04-02    29.85
Name: Close, dtype: float64
20180331
Date
2018-04-02    29.85
Name: Close, dtype: float64 Date
2018-07-02    27.4
Name: Close, dtype: float64
20180630
Date
2018-06-29    27.450001
Name: Close, dtype: float64 Date
2018-09-27    24.60
2018-09-28    24.85
Name: Close, dtype: float64
20180930
Date
2018-10-01    24.5
Name: Close, dtype: float64 Date
2018-12-31    20.129999
Name: Close, dtype: float64
20181231
Date
2018-12-31    20.129999
Name: Close, dtype: float64 Date
2019-04-01    15.49
Name: Close, dtype: float64
20190331
Date
2019-04-01    15.49
Name: Close, dtype: float64 Date
2019-07-01    12.73
Name: Close, dtype: float64
20190630
Date
2019-07-01    12.73
Name: Close, dtype: float64 Date
2019-09-30    13
Name: Close, dtype: int64
20190930
Date
2019-09-30    13
Name: Close, dtype: int64 Date
2019-12-30    16.09
Name: Close, dtype: float64
20191231
Date
2019-12-30    16.09
2019-12-31    16.23
Name: Close, dtype: float64 Date
2020-03-30    15.35
Name: Close, dtype: float64
20180630
Date
2018-06-29    19.629999
Name: Close, dtype: float64 Date
2018-09-27    24.870001
2018-09-28    24.620001
Name: Close, dtype: float64
20180930
Date
2018-10-01    23.530001
Name: Close, dtype: float64 Date
2018-12-31    14.82
Name: Close, dtype: float64
20181231
Date
2018-12-31    14.82
Name: Close, dtype: float64 Date
2019-04-01    17.639999
Name: Close, dtype: float64
20190331
Date
2019-04-01    17.639999
Name: Close, dtype: float64 Date
2019-07-01    13.97
Name: Close, dtype: float64
20190630
Date
2019-07-01    13.97
Name: Close, dtype: float64 Date
2019-09-30    11.65
Name: Close, dtype: float64
20190930
Date
2019-09-30    11.65
Name: Close, dtype: float64 Date
2019-12-30    23.120001
Name: Close, dtype: float64
20191231
Date
2019-12-30    23.120001
2019-12-31    22.760000
Name: Close, dtype: float64 Date
2020-03-30    14.29
Name: Close, dtype: float64
20030331
Date
2003-03-31    25.57
Name: Close, dtype: float64 Date
2003-06-30    27.440001
Name: Close, dtype: float64
20030630
Date
2003-06-30    27.440001
Name: Close, dtype: float64 Date
2003-09-29    28.35
Name: Close, dtype: float64
20030930
Date
2003-09-29    28.35
2003-09-30    28.50
Name: Close, dtype: float64 Date
2003-12-29    30.6
Name: Close, dtype: float64
20031231
Date
2003-12-30    30.570000
2003-12-31    29.799999
Name: Close, dtype: float64 Date
2004-03-29    29.820000
2004-03-30    29.879999
Name: Close, dtype: float64
20040331
Date
2004-03-30    29.879999
2004-03-31    30.059999
Name: Close, dtype: float64 Date
2004-06-28    31.410000
2004-06-29    32.029999
Name: Close, dtype: float64
20040630

Date
2004-06-29    32.029999
2004-06-30    31.980000
Name: Close, dtype: float64 Date
2004-09-27    35.50
2004-09-28    36.34
Name: Close, dtype: float64
20040930
Date
2004-09-29    35.750000
2004-09-30    35.709999
Name: Close, dtype: float64 Date
2004-12-28    38.400002
2004-12-29    37.790001
Name: Close, dtype: float64
20041231
Date
2004-12-30    37.900002
2004-12-31    37.689999
Name: Close, dtype: float64 Date
2005-03-30    35.610001
2005-03-31    35.400002
Name: Close, dtype: float64
20050331
Date
2005-03-30    35.610001
2005-03-31    35.400002
Name: Close, dtype: float64 Date
2005-06-28    36.639999
2005-06-29    36.470001
Name: Close, dtype: float64
20050630
Date
2005-06-29    36.470001
2005-06-30    36.099998
Name: Close, dtype: float64 Date
2005-09-27    37.560001
2005-09-28    36.410000
Name: Close, dtype: float64
20050930
Date
2005-09-29    37.730000
2005-09-30    37.799999
Name: Close, dtype: float64 Date
2005-12-28    37.779999
2005-12-29    37.020000
Name: Close, dtype: float64
20051231
Date
2005-12-30    36.82
Name: Close, dtype: float64 Date
2006-03-30    36.459999
2006-03-31    36.580002
Name: Close, dtype: float64
20060331
Date
2006-03-30    36.459999
2006-03-31    36.580002
Name: Close, dtype: float64 Date
2006-06-28    32.270000
2006-06-29    33.470001
Name: Close, dtype: float64
20060630
Date
2006-06-29    33.470001
2006-06-30    33.230000
Name: Close, dtype: float64 Date
2006-09-27    32.290001
2006-09-28    32.619999
Name: Close, dtype: float64
20060930
Date
2006-09-29    32.5
Name: Close, dtype: float64 Date
2006-12-28    35.419998
2006-12-29    34.669998
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    33.040001
Name: Close, dtype: float64 Date
2007-06-28    33.299999
2007-06-29    32.900002
Name: Close, dtype: float64
20070630
Date
2007-06-29    32.900002
Name: Close, dtype: float64 Date
2007-09-27    32.82
2007-09-28    32.09
Name: Close, dtype: float64
20070930
Date
2007-10-01    33.380001
Name: Close, dtype: float64 Date
2007-12-31    27.639999
Name: Close, dtype: float64
20071231
Date
2007-12-31    27.639999
Name: Close, dtype: float64 Date
2008-03-31    32.169998
Name: Close, dtype: float64
20080331
Date
2008-03-31    32.169998
Name: Close, dtype: float64 Date
2008-06-30    29.059999
Name: Close, dtype: float64
20080630
Date
2008-06-30    29.059999
Name: Close, dtype: float64 Date
2008-09-29    35.299999
Name: Close, dtype: float64
20080930
Date
2008-09-29    35.299999
2008-09-30    36.830002
Name: Close, dtype: float64 Date
2008-12-29    33.66
Name: Close, dtype: float64
20081231
Date
2008-12-30    34.700001
2008-12-31    35.500000
Name: Close, dtype: float64 Date
2009-03-30    20.400000
2009-03-31    21.209999
Name: Close, dtype: float64
20090331
Date
2009-03-30    20.400000
2009-03-31    21.209999
Name: Close, dtype: float64 Date
2009-06-29    12.24
Name: Close, dtype: float64
20090630
Date
2009-06-29    12.24
2009-06-30    12.16
Name: Close, dtype: float64 Date
2009-09-28    13.22
Name: Close, dtype: float64
20090930
Date
2009-09-29    13.08
2009-09-30    12.96
Name: Close, dtype: float64 Date
2009-12-28    17.43
2009-12-29    17.67
Name: Close, dtype: float64
20091231
Date
2009-12-30    17.60
2009-12-31    17.01
Name: Close, dtype: float64 Date
2010-03-30    21.01
2010-03-31    20.90
Name: Close, dtype: float64
20100331
Date
2010-03-30    21.01
2010-03-31    20.90
Name: Close, dtype: float64 Date
2010-06-28    20.430000
2010-06-29    19.719999
Name: Close, dtype: float64
20100630
Date
2010-06-29    19.719999
2010-06-30    19.760000
Name: Close, dtype: float64 Date
2010-09-27    17.32
2010-09-28    17.33
Name: Close, dtype: float64
20100930
Date
2010-09-29    17.40
2010-09-30    17.42
Name: Close, dtype: float64 Date
2010-12-28    23.57
2010-12-29    23.23
Name: Close, dtype: float64
20101231
Date
2010-12-30    23.16
2010-12-31    22.59
Name: Close, dtype: float64 Date
2011-03-30    21.559999
2011-03-31    21.570000
Name: Close, dtype: float64
20110331
Date
2011-03-30    21.559999
2011-03-31    21.570000
Name: Close, dtype: float64 Date
2011-06-28    18.09
2011-06-29    18.43
Name: Close, dtype: float64
20110630
Date
2011-06-29    18.43
2011-06-30    18.59
Name: Close, dtype: float64 Date
2011-09-27    16.98
2011-09-28    15.88
Name: Close, dtype: float64
20110930
Date
2011-09-29    16.67
2011-09-30    16.16
Name: Close, dtype: float64 Date
2011-12-28    19.180000
2011-12-29    19.809999
Name: Close, dtype: float64
20111231
Date
2011-12-30    19.549999
Name: Close, dtype: float64 Date
2012-03-29    21.600000
2012-03-30    21.690001
Name: Close, dtype: float64
20120331
Date
2012-03-30    21.690001
Name: Close, dtype: float64 Date
2012-06-28    17.990000
2012-06-29    18.469999
Name: Close, dtype: float64
20120630
Date
2012-06-29    18.469999
Name: Close, dtype: float64 Date
2012-09-27    17.959999
2012-09-28    17.610001
Name: Close, dtype: float64
20120930
Date
2012-10-01    17.59
Name: Close, dtype: float64 Date
2012-12-31    18.07
Name: Close, dtype: float64
20121231
Date
2012-12-31    18.07
Name: Close, dtype: float64 Date
2013-04-01    18.280001
Name: Close, dtype: float64
20130331
Date
2013-04-01    18.280001
Name: Close, dtype: float64 Date
2013-07-01    20.25
Name: Close, dtype: float64
20130630
Date
2013-07-01    20.25
Name: Close, dtype: float64 Date
2013-09-30    24.219999
Name: Close, dtype: float64
20130930
Date
2013-09-30    24.219999
Name: Close, dtype: float64 Date
2013-12-30    25.17
Name: Close, dtype: float64
20131231
Date
2013-12-30    25.170000
2013-12-31    25.309999
Name: Close, dtype: float64 Date
2014-03-31    23.700001
Name: Close, dtype: float64
20140331
Date
2014-03-31    23.700001
Name: Close, dtype: float64 Date
2014-06-30    24.85
Name: Close, dtype: float64
20140630
Date
2014-06-30    24.85
Name: Close, dtype: float64 Date
2014-09-29    23.969999
Name: Close, dtype: float64
20140930
Date
2014-09-29    23.969999
2014-09-30    23.459999
Name: Close, dtype: float64 Date
2014-12-29    30.469999
Name: Close, dtype: float64
20141231
Date
2014-12-30    30.450001
2014-12-31    29.809999
Name: Close, dtype: float64 Date
2015-03-30    29.280001
2015-03-31    28.379999
Name: Close, dtype: float64
20150331
Date
2015-03-30    29.280001
2015-03-31    28.379999
Name: Close, dtype: float64 Date
2015-06-29    29.719999
Name: Close, dtype: float64
20150630
Date
2015-06-29    29.719999
2015-06-30    29.590000
Name: Close, dtype: float64 Date
2015-09-28    32.68
Name: Close, dtype: float64
20150930
Date
2015-09-29    32.560001
2015-09-30    32.619999
Name: Close, dtype: float64 Date
2015-12-28    31.08
2015-12-29    31.50
Name: Close, dtype: float64
20151231
Date
2015-12-30    31.379999
2015-12-31    30.820000
Name: Close, dtype: float64 Date
2016-03-29    25.670000
2016-03-30    25.799999
Name: Close, dtype: float64
20160331
Date
2016-03-30    25.799999
2016-03-31    25.760000
Name: Close, dtype: float64 Date
2016-06-28    23.17
2016-06-29    23.17
Name: Close, dtype: float64
20160630
Date
2016-06-29    23.170000
2016-06-30    24.450001
Name: Close, dtype: float64 Date
2016-09-27    28.610001
2016-09-28    28.840000
Name: Close, dtype: float64
20160930
Date
2016-09-29    28.25
2016-09-30    28.99
Name: Close, dtype: float64 Date
2016-12-28    39.439999
2016-12-29    39.330002
Name: Close, dtype: float64
20161231
Date
2016-12-30    39.040001
Name: Close, dtype: float64 Date
2017-03-30    34.790001
2017-03-31    34.599998
Name: Close, dtype: float64
20170331
Date
2017-03-30    34.790001
2017-03-31    34.599998
Name: Close, dtype: float64 Date
2017-06-28    36.049999
2017-06-29    36.169998
Name: Close, dtype: float64
20170630
Date
2017-06-29    36.169998
2017-06-30    35.860001
Name: Close, dtype: float64 Date
2017-09-27    39.380001
2017-09-28    39.459999
Name: Close, dtype: float64
20170930
Date
2017-09-29    39.580002
Name: Close, dtype: float64 Date
2017-12-28    40.400002
2017-12-29    39.810001
Name: Close, dtype: float64
20171231
Date
2018-01-02    39.560001
Name: Close, dtype: float64 Date
2018-04-02    39.200001
Name: Close, dtype: float64
20180331
Date
2018-04-02    39.200001
Name: Close, dtype: float64 Date
2018-07-02    44.09
Name: Close, dtype: float64
20180630

Date
2018-06-29    43.240002
Name: Close, dtype: float64 Date
2018-09-27    43.130001
2018-09-28    43.360001
Name: Close, dtype: float64
20180930
Date
2018-10-01    42.580002
Name: Close, dtype: float64 Date
2018-12-31    37.84
Name: Close, dtype: float64
20181231
Date
2018-12-31    37.84
Name: Close, dtype: float64 Date
2019-04-01    40.099998
Name: Close, dtype: float64
20190331
Date
2019-04-01    40.099998
Name: Close, dtype: float64 Date
2019-07-01    37.849998
Name: Close, dtype: float64
20190630
Date
2019-07-01    37.849998
Name: Close, dtype: float64 Date
2019-09-30    36.529999
Name: Close, dtype: float64
20190930
Date
2019-09-30    36.529999
Name: Close, dtype: float64 Date
2019-12-30    40.41
Name: Close, dtype: float64
20191231
Date
2019-12-30    40.410000
2019-12-31    40.290001
Name: Close, dtype: float64 Date
2020-03-30    27.309999
Name: Close, dtype: float64
20030331
Date
2003-03-31    13.03
Name: Close, dtype: float64 Date
2003-06-30    14.71
Name: Close, dtype: float64
20030630
Date
2003-06-30    14.71
Name: Close, dtype: float64 Date
2003-09-29    15.74
Name: Close, dtype: float64
20030930
Date
2003-09-29    15.74
2003-09-30    15.52
Name: Close, dtype: float64 Date
2003-12-29    17.34
Name: Close, dtype: float64
20031231
Date
2003-12-30    17.200001
2003-12-31    17.110001
Name: Close, dtype: float64 Date
2004-03-29    18.629999
2004-03-30    18.549999
Name: Close, dtype: float64
20040331
Date
2004-03-30    18.549999
2004-03-31    18.959999
Name: Close, dtype: float64 Date
2004-06-28    20.01
2004-06-29    20.73
Name: Close, dtype: float64
20040630
Date
2004-06-29    20.73
2004-06-30    21.42
Name: Close, dtype: float64 Date
2004-09-27    20.850000
2004-09-28    21.040001
Name: Close, dtype: float64
20040930
Date
2004-09-29    20.99
2004-09-30    22.23
Name: Close, dtype: float64 Date
2004-12-28    32.099998
2004-12-29    31.870001
Name: Close, dtype: float64
20041231
Date
2004-12-30    31.75
2004-12-31    31.33
Name: Close, dtype: float64 Date
2005-03-30    32.180000
2005-03-31    30.959999
Name: Close, dtype: float64
20050331
Date
2005-03-30    32.180000
2005-03-31    30.959999
Name: Close, dtype: float64 Date
2005-06-28    34.000000
2005-06-29    33.799999
Name: Close, dtype: float64
20050630
Date
2005-06-29    33.799999
2005-06-30    33.759998
Name: Close, dtype: float64 Date
2005-09-27    35.650002
2005-09-28    35.560001
Name: Close, dtype: float64
20050930
Date
2005-09-29    35.470001
2005-09-30    35.590000
Name: Close, dtype: float64 Date
2005-12-28    41.990002
2005-12-29    41.770000
Name: Close, dtype: float64
20051231
Date
2005-12-30    40.369999
Name: Close, dtype: float64 Date
2006-03-30    45.139999
2006-03-31    45.660000
Name: Close, dtype: float64
20060331
Date
2006-03-30    45.139999
2006-03-31    45.660000
Name: Close, dtype: float64 Date
2006-06-28    46.220001
2006-06-29    47.419998
Name: Close, dtype: float64
20060630
Date
2006-06-29    47.419998
2006-06-30    47.549999
Name: Close, dtype: float64 Date
2006-09-27    49.209999
2006-09-28    49.209999
Name: Close, dtype: float64
20060930
Date
2006-09-29    48.66
Name: Close, dtype: float64 Date
2006-12-28    51.910000
2006-12-29    50.709999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    40.119999
Name: Close, dtype: float64 Date
2007-06-28    41.410000
2007-06-29    41.400002
Name: Close, dtype: float64
20070630
Date
2007-06-29    41.400002
Name: Close, dtype: float64 Date
2007-09-27    36.560001
2007-09-28    35.939999
Name: Close, dtype: float64
20070930
Date
2007-10-01    37
Name: Close, dtype: int64 Date
2007-12-31    36.619999
Name: Close, dtype: float64
20071231
Date
2007-12-31    36.619999
Name: Close, dtype: float64 Date
2008-03-31    34.130001
Name: Close, dtype: float64
20080331
Date
2008-03-31    34.130001
Name: Close, dtype: float64 Date
2008-06-30    35.650002
Name: Close, dtype: float64
20080630
Date
2008-06-30    35.650002
Name: Close, dtype: float64 Date
2008-09-29    37.98
Name: Close, dtype: float64
20080930
Date
2008-09-29    37.98
2008-09-30    37.93
Name: Close, dtype: float64 Date
2008-12-29    37.139999
Name: Close, dtype: float64
20081231
Date
2008-12-30    38.139999
2008-12-31    38.060001
Name: Close, dtype: float64 Date
2009-03-30    30.139999
2009-03-31    31.080000
Name: Close, dtype: float64
20090331
Date
2009-03-30    30.139999
2009-03-31    31.080000
Name: Close, dtype: float64 Date
2009-06-29    30.16
Name: Close, dtype: float64
20090630
Date
2009-06-29    30.160000
2009-06-30    30.559999
Name: Close, dtype: float64 Date
2009-09-28    34.009998
Name: Close, dtype: float64
20090930
Date
2009-09-29    33.599998
2009-09-30    32.919998
Name: Close, dtype: float64 Date
2009-12-28    36.889999
2009-12-29    36.630001
Name: Close, dtype: float64
20091231
Date
2009-12-30    36.599998
2009-12-31    36.230000
Name: Close, dtype: float64 Date
2010-03-30    37.759998
2010-03-31    37.669998
Name: Close, dtype: float64
20100331
Date
2010-03-30    37.759998
2010-03-31    37.669998
Name: Close, dtype: float64 Date
2010-06-28    38.000000
2010-06-29    37.450001
Name: Close, dtype: float64
20100630
Date
2010-06-29    37.450001
2010-06-30    37.020000
Name: Close, dtype: float64 Date
2010-09-27    42.259998
2010-09-28    42.369999
Name: Close, dtype: float64
20100930
Date
2010-09-29    42.139999
2010-09-30    42.020000
Name: Close, dtype: float64 Date
2010-12-28    48.529999
2010-12-29    48.330002
Name: Close, dtype: float64
20101231
Date
2010-12-30    48.080002
2010-12-31    47.720001
Name: Close, dtype: float64 Date
2011-03-30    45.880001
2011-03-31    46.110001
Name: Close, dtype: float64
20110331
Date
2011-03-30    45.880001
2011-03-31    46.110001
Name: Close, dtype: float64 Date
2011-06-28    41.470001
2011-06-29    41.570000
Name: Close, dtype: float64
20110630
Date
2011-06-29    41.570000
2011-06-30    42.040001
Name: Close, dtype: float64 Date
2011-09-27    38.480000
2011-09-28    36.939999
Name: Close, dtype: float64
20110930
Date
2011-09-29    38.209999
2011-09-30    37.830002
Name: Close, dtype: float64 Date
2011-12-28    40.779999
2011-12-29    40.660000
Name: Close, dtype: float64
20111231
Date
2011-12-30    40.48
Name: Close, dtype: float64 Date
2012-03-29    42.049999
2012-03-30    41.639999
Name: Close, dtype: float64
20120331
Date
2012-03-30    41.639999
Name: Close, dtype: float64 Date
2012-06-28    40.299999
2012-06-29    40.639999
Name: Close, dtype: float64
20120630
Date
2012-06-29    40.639999
Name: Close, dtype: float64 Date
2012-09-27    45.919998
2012-09-28    45.880001
Name: Close, dtype: float64
20120930
Date
2012-10-01    46.150002
Name: Close, dtype: float64 Date
2012-12-31    46.169998
Name: Close, dtype: float64
20121231
Date
2012-12-31    46.169998
Name: Close, dtype: float64 Date
2013-04-01    49.040001
Name: Close, dtype: float64
20130331
Date
2013-04-01    49.040001
Name: Close, dtype: float64 Date
2013-07-01    49.130001
Name: Close, dtype: float64
20130630
Date
2013-07-01    49.130001
Name: Close, dtype: float64 Date
2013-09-30    52.970001
Name: Close, dtype: float64
20130930
Date
2013-09-30    52.970001
Name: Close, dtype: float64 Date
2013-12-30    55.880001
Name: Close, dtype: float64
20131231
Date
2013-12-30    55.880001
2013-12-31    56.299999
Name: Close, dtype: float64 Date
2014-03-31    53.849998
Name: Close, dtype: float64
20140331
Date
2014-03-31    53.849998
Name: Close, dtype: float64 Date
2014-06-30    51.380001
Name: Close, dtype: float64
20140630
Date
2014-06-30    51.380001
Name: Close, dtype: float64 Date
2014-09-29    54.27
Name: Close, dtype: float64
20140930
Date
2014-09-29    54.27
2014-09-30    53.91
Name: Close, dtype: float64 Date
2014-12-29    65.25
Name: Close, dtype: float64
20141231
Date
2014-12-30    64.669998
2014-12-31    64.010002
Name: Close, dtype: float64 Date
2015-03-30    60.110001
2015-03-31    59.750000
Name: Close, dtype: float64
20150331
Date
2015-03-30    60.110001
2015-03-31    59.750000
Name: Close, dtype: float64 Date
2015-06-29    57.84
Name: Close, dtype: float64
20150630
Date
2015-06-29    57.840000
2015-06-30    57.709999
Name: Close, dtype: float64 Date
2015-09-28    54.830002
Name: Close, dtype: float64
20150930

Date
2015-09-29    54.099998
2015-09-30    54.150002
Name: Close, dtype: float64 Date
2015-12-28    56.520000
2015-12-29    57.060001
Name: Close, dtype: float64
20151231
Date
2015-12-30    56.889999
2015-12-31    56.380001
Name: Close, dtype: float64 Date
2016-03-29    57.230000
2016-03-30    57.509998
Name: Close, dtype: float64
20160331
Date
2016-03-30    57.509998
2016-03-31    57.060001
Name: Close, dtype: float64 Date
2016-06-28    60.910000
2016-06-29    61.139999
Name: Close, dtype: float64
20160630
Date
2016-06-29    61.139999
2016-06-30    61.580002
Name: Close, dtype: float64 Date
2016-09-27    66.769997
2016-09-28    67.430000
Name: Close, dtype: float64
20160930
Date
2016-09-29    66.779999
2016-09-30    67.220001
Name: Close, dtype: float64 Date
2016-12-28    73.599998
2016-12-29    73.849998
Name: Close, dtype: float64
20161231
Date
2016-12-30    73.699997
Name: Close, dtype: float64 Date
2017-03-30    69.449997
2017-03-31    70.099998
Name: Close, dtype: float64
20170331
Date
2017-03-30    69.449997
2017-03-31    70.099998
Name: Close, dtype: float64 Date
2017-06-28    68.379997
2017-06-29    68.699997
Name: Close, dtype: float64
20170630
Date
2017-06-29    68.699997
2017-06-30    68.300003
Name: Close, dtype: float64 Date
2017-09-27    75.75
2017-09-28    76.50
Name: Close, dtype: float64
20170930
Date
2017-09-29    76.300003
Name: Close, dtype: float64 Date
2017-12-28    80.849998
2017-12-29    80.400002
Name: Close, dtype: float64
20171231
Date
2018-01-02    78.5
Name: Close, dtype: float64 Date
2018-04-02    74.75
Name: Close, dtype: float64
20180331
Date
2018-04-02    74.75
Name: Close, dtype: float64 Date
2018-07-02    86.400002
Name: Close, dtype: float64
20180630
Date
2018-06-29    85.400002
Name: Close, dtype: float64 Date
2018-09-27    88.699997
2018-09-28    89.599998
Name: Close, dtype: float64
20180930
Date
2018-10-01    87.919998
Name: Close, dtype: float64 Date
2018-12-31    81.809998
Name: Close, dtype: float64
20181231
Date
2018-12-31    81.809998
Name: Close, dtype: float64 Date
2019-04-01    88.389999
Name: Close, dtype: float64
20190331
Date
2019-04-01    88.389999
Name: Close, dtype: float64 Date
2019-07-01    95.370003
Name: Close, dtype: float64
20190630
Date
2019-07-01    95.370003
Name: Close, dtype: float64 Date
2019-09-30    101.330002
Name: Close, dtype: float64
20190930
Date
2019-09-30    101.330002
Name: Close, dtype: float64 Date
2019-12-30    92.639999
Name: Close, dtype: float64
20191231
Date
2019-12-30    92.639999
2019-12-31    92.529999
Name: Close, dtype: float64 Date
2020-03-30    83.269997
Name: Close, dtype: float64
20030331
Date
2003-03-31    6.04
Name: Close, dtype: float64 Date
2003-06-30    11.57
Name: Close, dtype: float64
20030630
Date
2003-06-30    11.57
Name: Close, dtype: float64 Date
2003-09-29    10.61
Name: Close, dtype: float64
20030930
Date
2003-09-29    10.61
2003-09-30    10.61
Name: Close, dtype: float64 Date
2003-12-29    10.95
Name: Close, dtype: float64
20031231
Date
2003-12-30    11.56
2003-12-31    11.26
Name: Close, dtype: float64 Date
2004-03-29    7.35
2004-03-30    7.37
Name: Close, dtype: float64
20040331
Date
2004-03-30    7.37
2004-03-31    8.97
Name: Close, dtype: float64 Date
2004-06-28    7.48
2004-06-29    7.40
Name: Close, dtype: float64
20040630
Date
2004-06-29    7.4
2004-06-30    7.8
Name: Close, dtype: float64 Date
2004-09-27    5.27
2004-09-28    5.03
Name: Close, dtype: float64
20040930
Date
2004-09-29    3.1
2004-09-30    3.3
Name: Close, dtype: float64 Date
2004-12-28    5.97
2004-12-29    5.82
Name: Close, dtype: float64
20041231
Date
2004-12-30    6.03
2004-12-31    6.27
Name: Close, dtype: float64 Date
2005-03-30    4.00
2005-03-31    3.91
Name: Close, dtype: float64
20050331
Date
2005-03-30    4.00
2005-03-31    3.91
Name: Close, dtype: float64 Date
2005-06-28    4.08
2005-06-29    4.57
Name: Close, dtype: float64
20050630
Date
2005-06-29    4.57
2005-06-30    4.95
Name: Close, dtype: float64 Date
2005-09-27    5.50
2005-09-28    5.36
Name: Close, dtype: float64
20050930
Date
2005-09-29    5.27
2005-09-30    5.50
Name: Close, dtype: float64 Date
2005-12-28    8.03
2005-12-29    7.75
Name: Close, dtype: float64
20051231
Date
2005-12-30    7.9
Name: Close, dtype: float64 Date
2006-03-30    8.87
2006-03-31    8.97
Name: Close, dtype: float64
20060331
Date
2006-03-30    8.87
2006-03-31    8.97
Name: Close, dtype: float64 Date
2006-06-28    7.63
2006-06-29    7.73
Name: Close, dtype: float64
20060630
Date
2006-06-29    7.73
2006-06-30    7.74
Name: Close, dtype: float64 Date
2006-09-27    7.49
2006-09-28    7.68
Name: Close, dtype: float64
20060930
Date
2006-09-29    7.52
Name: Close, dtype: float64 Date
2006-12-28    6.97
2006-12-29    7.01
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    5.51
Name: Close, dtype: float64 Date
2007-06-28    3.96
2007-06-29    3.82
Name: Close, dtype: float64
20070630
Date
2007-06-29    3.82
Name: Close, dtype: float64 Date
2007-09-27    2.91
2007-09-28    3.00
Name: Close, dtype: float64
20070930
Date
2007-10-01    3.03
Name: Close, dtype: float64 Date
2007-12-31    2.64
Name: Close, dtype: float64
20071231
Date
2007-12-31    2.64
Name: Close, dtype: float64 Date
2008-03-31    2.58
Name: Close, dtype: float64
20080331
Date
2008-03-31    2.58
Name: Close, dtype: float64 Date
2008-06-30    3.1
Name: Close, dtype: float64
20080630
Date
2008-06-30    3.1
Name: Close, dtype: float64 Date
2008-09-29    3.96
Name: Close, dtype: float64
20080930
Date
2008-09-29    3.96
2008-09-30    4.49
Name: Close, dtype: float64 Date
2008-12-29    2.84
Name: Close, dtype: float64
20081231
Date
2008-12-30    2.68
2008-12-31    2.38
Name: Close, dtype: float64 Date
2009-03-30    0.95
2009-03-31    1.00
Name: Close, dtype: float64
20090331
Date
2009-03-30    0.95
2009-03-31    1.00
Name: Close, dtype: float64 Date
2009-06-29    2.28
Name: Close, dtype: float64
20090630
Date
2009-06-29    2.28
2009-06-30    2.41
Name: Close, dtype: float64 Date
2009-09-28    4.18
Name: Close, dtype: float64
20090930
Date
2009-09-29    4.18
2009-09-30    4.08
Name: Close, dtype: float64 Date
2009-12-28    3.14
2009-12-29    3.06
Name: Close, dtype: float64
20091231
Date
2009-12-30    3.1
2009-12-31    3.1
Name: Close, dtype: float64 Date
2010-03-30    3.54
2010-03-31    3.82
Name: Close, dtype: float64
20100331
Date
2010-03-30    3.54
2010-03-31    3.82
Name: Close, dtype: float64 Date
2010-06-28    5.85
2010-06-29    5.59
Name: Close, dtype: float64
20100630
Date
2010-06-29    5.59
2010-06-30    5.72
Name: Close, dtype: float64 Date
2010-09-27    5.47
2010-09-28    5.58
Name: Close, dtype: float64
20100930
Date
2010-09-29    5.51
2010-09-30    5.41
Name: Close, dtype: float64 Date
2010-12-28    6.12
2010-12-29    6.23
Name: Close, dtype: float64
20101231
Date
2010-12-30    6.11
2010-12-31    6.10
Name: Close, dtype: float64 Date
2011-03-30    5.64
2011-03-31    5.57
Name: Close, dtype: float64
20110331
Date
2011-03-30    5.64
2011-03-31    5.57
Name: Close, dtype: float64 Date
2011-06-28    5.36
2011-06-29    5.17
Name: Close, dtype: float64
20110630
Date
2011-06-29    5.17
2011-06-30    5.30
Name: Close, dtype: float64 Date
2011-09-27    8.16
2011-09-28    7.93
Name: Close, dtype: float64
20110930
Date
2011-09-29    7.88
2011-09-30    7.80
Name: Close, dtype: float64 Date
2011-12-28    10.47
2011-12-29    10.69
Name: Close, dtype: float64
20111231
Date
2011-12-30    10.49
Name: Close, dtype: float64 Date
2012-03-29    11.10
2012-03-30    10.83
Name: Close, dtype: float64
20120331
Date
2012-03-30    10.83
Name: Close, dtype: float64 Date
2012-06-28    7.38
2012-06-29    7.77
Name: Close, dtype: float64
20120630
Date
2012-06-29    7.77
Name: Close, dtype: float64 Date
2012-09-27    7.51
2012-09-28    7.56
Name: Close, dtype: float64
20120930
Date
2012-10-01    7.62
Name: Close, dtype: float64 Date
2012-12-31    6.1
Name: Close, dtype: float64
20121231
Date
2012-12-31    6.1
Name: Close, dtype: float64 Date
2013-04-01    5.34
Name: Close, dtype: float64
20130331
Date
2013-04-01    5.34
Name: Close, dtype: float64 Date
2013-07-01    10.51
Name: Close, dtype: float64
20130630
Date
2013-07-01    10.51
Name: Close, dtype: float64 Date
2013-09-30    13.54
Name: Close, dtype: float64
20130930

Date
2013-09-30    13.54
Name: Close, dtype: float64 Date
2013-12-30    16.23
Name: Close, dtype: float64
20131231
Date
2013-12-30    16.230000
2013-12-31    16.190001
Name: Close, dtype: float64 Date
2014-03-31    18.799999
Name: Close, dtype: float64
20140331
Date
2014-03-31    18.799999
Name: Close, dtype: float64 Date
2014-06-30    16.799999
Name: Close, dtype: float64
20140630
Date
2014-06-30    16.799999
Name: Close, dtype: float64 Date
2014-09-29    10.98
Name: Close, dtype: float64
20140930
Date
2014-09-29    10.98
2014-09-30    10.63
Name: Close, dtype: float64 Date
2014-12-29    9.15
Name: Close, dtype: float64
20141231
Date
2014-12-30    8.93
2014-12-31    9.11
Name: Close, dtype: float64 Date
2015-03-30    7.51
2015-03-31    7.43
Name: Close, dtype: float64
20150331
Date
2015-03-30    7.51
2015-03-31    7.43
Name: Close, dtype: float64 Date
2015-06-29    9.76
Name: Close, dtype: float64
20150630
Date
2015-06-29    9.76
2015-06-30    9.66
Name: Close, dtype: float64 Date
2015-09-28    7.14
Name: Close, dtype: float64
20150930
Date
2015-09-29    7.17
2015-09-30    7.76
Name: Close, dtype: float64 Date
2015-12-28    7.15
2015-12-29    7.27
Name: Close, dtype: float64
20151231
Date
2015-12-30    7.16
2015-12-31    7.14
Name: Close, dtype: float64 Date
2016-03-29    7.42
2016-03-30    7.28
Name: Close, dtype: float64
20160331
Date
2016-03-30    7.28
2016-03-31    7.39
Name: Close, dtype: float64 Date
2016-06-28    5.26
2016-06-29    5.30
Name: Close, dtype: float64
20160630
Date
2016-06-29    5.30
2016-06-30    5.51
Name: Close, dtype: float64 Date
2016-09-27    9.36
2016-09-28    9.28
Name: Close, dtype: float64
20160930
Date
2016-09-29    9.16
2016-09-30    9.40
Name: Close, dtype: float64 Date
2016-12-28    11.35
2016-12-29    11.00
Name: Close, dtype: float64
20161231
Date
2016-12-30    10.85
Name: Close, dtype: float64 Date
2017-03-30    9.9
2017-03-31    9.8
Name: Close, dtype: float64
20170331
Date
2017-03-30    9.9
2017-03-31    9.8
Name: Close, dtype: float64 Date
2017-06-28    10.85
2017-06-29    10.85
Name: Close, dtype: float64
20170630
Date
2017-06-29    10.85
2017-06-30    10.80
Name: Close, dtype: float64 Date
2017-09-27    12.80
2017-09-28    12.55
Name: Close, dtype: float64
20170930
Date
2017-09-29    12.45
Name: Close, dtype: float64 Date
2017-12-28    15.9
2017-12-29    15.5
Name: Close, dtype: float64
20171231
Date
2018-01-02    15.9
Name: Close, dtype: float64 Date
2018-04-02    14.5
Name: Close, dtype: float64
20180331
Date
2018-04-02    14.5
Name: Close, dtype: float64 Date
2018-07-02    31.450001
Name: Close, dtype: float64
20180630
Date
2018-06-29    31
Name: Close, dtype: int64 Date
2018-09-27    47.400002
2018-09-28    48.000000
Name: Close, dtype: float64
20180930
Date
2018-10-01    47.029999
Name: Close, dtype: float64 Date
2018-12-31    31.91
Name: Close, dtype: float64
20181231
Date
2018-12-31    31.91
Name: Close, dtype: float64 Date
2019-04-01    34.209999
Name: Close, dtype: float64
20190331
Date
2019-04-01    34.209999
Name: Close, dtype: float64 Date
2019-07-01    29.74
Name: Close, dtype: float64
20190630
Date
2019-07-01    29.74
Name: Close, dtype: float64 Date
2019-09-30    25.780001
Name: Close, dtype: float64
20190930
Date
2019-09-30    25.780001
Name: Close, dtype: float64 Date
2019-12-30    35.330002
Name: Close, dtype: float64
20191231
Date
2019-12-30    35.330002
2019-12-31    35.169998
Name: Close, dtype: float64 Date
2020-03-30    33.91
Name: Close, dtype: float64
20110630
Date
2011-06-29    8.45
2011-06-30    8.75
Name: Close, dtype: float64 Date
2011-09-27    4.33
2011-09-28    4.20
Name: Close, dtype: float64
20110930
Date
2011-09-29    4.20
2011-09-30    4.11
Name: Close, dtype: float64 Date
2011-12-28    2.63
2011-12-29    2.69
Name: Close, dtype: float64
20111231
Date
2011-12-30    2.9
Name: Close, dtype: float64 Date
2012-03-29    4.71
2012-03-30    4.66
Name: Close, dtype: float64
20120331
Date
2012-03-30    4.66
Name: Close, dtype: float64 Date
2012-06-28    5.05
2012-06-29    5.00
Name: Close, dtype: float64
20120630
Date
2012-06-29    5
Name: Close, dtype: int64 Date
2012-09-27    6.67
2012-09-28    6.48
Name: Close, dtype: float64
20120930
Date
2012-10-01    6.49
Name: Close, dtype: float64 Date
2012-12-31    9.05
Name: Close, dtype: float64
20121231
Date
2012-12-31    9.05
Name: Close, dtype: float64 Date
2013-04-01    13.57
Name: Close, dtype: float64
20130331
Date
2013-04-01    13.57
Name: Close, dtype: float64 Date
2013-07-01    16.15
Name: Close, dtype: float64
20130630
Date
2013-07-01    16.15
Name: Close, dtype: float64 Date
2013-09-30    20.059999
Name: Close, dtype: float64
20130930
Date
2013-09-30    20.059999
Name: Close, dtype: float64 Date
2013-12-30    22.780001
Name: Close, dtype: float64
20131231
Date
2013-12-30    22.780001
2013-12-31    22.629999
Name: Close, dtype: float64 Date
2014-03-31    23.5
Name: Close, dtype: float64
20140331
Date
2014-03-31    23.5
Name: Close, dtype: float64 Date
2014-06-30    24.75
Name: Close, dtype: float64
20140630
Date
2014-06-30    24.75
Name: Close, dtype: float64 Date
2014-09-29    26.48
Name: Close, dtype: float64
20140930
Date
2014-09-29    26.480000
2014-09-30    26.139999
Name: Close, dtype: float64 Date
2014-12-29    28.950001
Name: Close, dtype: float64
20141231
Date
2014-12-30    28.830000
2014-12-31    28.450001
Name: Close, dtype: float64 Date
2015-03-30    34.119999
2015-03-31    33.880001
Name: Close, dtype: float64
20150331
Date
2015-03-30    34.119999
2015-03-31    33.880001
Name: Close, dtype: float64 Date
2015-06-29    37.889999
Name: Close, dtype: float64
20150630
Date
2015-06-29    37.889999
2015-06-30    37.889999
Name: Close, dtype: float64 Date
2015-09-28    45.880001
Name: Close, dtype: float64
20150930
Date
2015-09-29    45.599998
2015-09-30    47.790001
Name: Close, dtype: float64 Date
2015-12-28    52.959999
2015-12-29    52.639999
Name: Close, dtype: float64
20151231
Date
2015-12-30    52.139999
2015-12-31    52.660000
Name: Close, dtype: float64 Date
2016-03-29    62.720001
2016-03-30    59.930000
Name: Close, dtype: float64
20160331
Date
2016-03-30    59.930000
2016-03-31    59.580002
Name: Close, dtype: float64 Date
2016-06-28    57.279999
2016-06-29    59.119999
Name: Close, dtype: float64
20160630
Date
2016-06-29    59.119999
2016-06-30    60.910000
Name: Close, dtype: float64 Date
2016-09-27    47.02
2016-09-28    47.32
Name: Close, dtype: float64
20160930
Date
2016-09-29    46.27
2016-09-30    46.07
Name: Close, dtype: float64 Date
2016-12-28    66.449997
2016-12-29    65.650002
Name: Close, dtype: float64
20161231
Date
2016-12-30    65.5
Name: Close, dtype: float64 Date
2017-03-30    63.299999
2017-03-31    64.550003
Name: Close, dtype: float64
20170331
Date
2017-03-30    63.299999
2017-03-31    64.550003
Name: Close, dtype: float64 Date
2017-06-28    78.900002
2017-06-29    78.449997
Name: Close, dtype: float64
20170630
Date
2017-06-29    78.449997
2017-06-30    78.550003
Name: Close, dtype: float64 Date
2017-09-27    74.199997
2017-09-28    75.599998
Name: Close, dtype: float64
20170930
Date
2017-09-29    76.300003
Name: Close, dtype: float64 Date
2017-12-28    83.199997
2017-12-29    83.650002
Name: Close, dtype: float64
20171231
Date
2018-01-02    83.599998
Name: Close, dtype: float64 Date
2018-04-02    59.299999
Name: Close, dtype: float64
20180331
Date
2018-04-02    59.299999
Name: Close, dtype: float64 Date
2018-07-02    52.200001
Name: Close, dtype: float64
20180630
Date
2018-06-29    52.5
Name: Close, dtype: float64 Date
2018-09-27    47.349998
2018-09-28    45.849998
Name: Close, dtype: float64
20180930
Date
2018-10-01    45.799999
Name: Close, dtype: float64 Date
2018-12-31    35.279999
Name: Close, dtype: float64
20181231
Date
2018-12-31    35.279999
Name: Close, dtype: float64 Date
2019-04-01    43.18
Name: Close, dtype: float64
20190331
Date
2019-04-01    43.18
Name: Close, dtype: float64 Date
2019-07-01    48.849998
Name: Close, dtype: float64
20190630
Date
2019-07-01    48.849998
Name: Close, dtype: float64 Date
2019-09-30    55.279999
Name: Close, dtype: float64
20190930
Date
2019-09-30    55.279999
Name: Close, dtype: float64 Date
2019-12-30    40.610001
Name: Close, dtype: float64
20191231

Date
2019-12-30    40.610001
2019-12-31    41.660000
Name: Close, dtype: float64 Date
2020-03-30    14.79
Name: Close, dtype: float64
20040630
Date
2004-06-29    7.30
2004-06-30    7.31
Name: Close, dtype: float64 Date
2004-09-27    4.40
2004-09-28    4.25
Name: Close, dtype: float64
20040930
Date
2004-09-29    4.16
2004-09-30    4.30
Name: Close, dtype: float64 Date
2004-12-28    5.74
2004-12-29    5.94
Name: Close, dtype: float64
20041231
Date
2004-12-30    5.90
2004-12-31    6.06
Name: Close, dtype: float64 Date
2005-03-30    6.05
2005-03-31    6.10
Name: Close, dtype: float64
20050331
Date
2005-03-30    6.05
2005-03-31    6.10
Name: Close, dtype: float64 Date
2005-06-28    6.97
2005-06-29    7.17
Name: Close, dtype: float64
20050630
Date
2005-06-29    7.17
2005-06-30    7.50
Name: Close, dtype: float64 Date
2005-09-27    6.01
2005-09-28    5.92
Name: Close, dtype: float64
20050930
Date
2005-09-29    5.84
2005-09-30    5.89
Name: Close, dtype: float64 Date
2005-12-28    7.15
2005-12-29    7.07
Name: Close, dtype: float64
20051231
Date
2005-12-30    7.24
Name: Close, dtype: float64 Date
2006-03-30    7.54
2006-03-31    7.50
Name: Close, dtype: float64
20060331
Date
2006-03-30    7.54
2006-03-31    7.50
Name: Close, dtype: float64 Date
2006-06-28    7.62
2006-06-29    7.81
Name: Close, dtype: float64
20060630
Date
2006-06-29    7.81
2006-06-30    8.75
Name: Close, dtype: float64 Date
2006-09-27    10.73
2006-09-28    10.68
Name: Close, dtype: float64
20060930
Date
2006-09-29    10.68
Name: Close, dtype: float64 Date
2006-12-28    12.38
2006-12-29    12.35
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    17.299999
Name: Close, dtype: float64 Date
2007-06-28    14.05
2007-06-29    13.98
Name: Close, dtype: float64
20070630
Date
2007-06-29    13.98
Name: Close, dtype: float64 Date
2007-09-27    14.55
2007-09-28    14.66
Name: Close, dtype: float64
20070930
Date
2007-10-01    15.02
Name: Close, dtype: float64 Date
2007-12-31    12.2
Name: Close, dtype: float64
20071231
Date
2007-12-31    12.2
Name: Close, dtype: float64 Date
2008-03-31    9.8
Name: Close, dtype: float64
20080331
Date
2008-03-31    9.8
Name: Close, dtype: float64 Date
2008-06-30    7.96
Name: Close, dtype: float64
20080630
Date
2008-06-30    7.96
Name: Close, dtype: float64 Date
2008-09-29    5.26
Name: Close, dtype: float64
20080930
Date
2008-09-29    5.26
2008-09-30    5.04
Name: Close, dtype: float64 Date
2008-12-29    1.82
Name: Close, dtype: float64
20081231
Date
2008-12-30    1.96
2008-12-31    2.01
Name: Close, dtype: float64 Date
2009-03-30    1.02
2009-03-31    1.07
Name: Close, dtype: float64
20090331
Date
2009-03-30    1.02
2009-03-31    1.07
Name: Close, dtype: float64 Date
2009-06-29    2.22
Name: Close, dtype: float64
20090630
Date
2009-06-29    2.22
2009-06-30    2.39
Name: Close, dtype: float64 Date
2009-09-28    4.69
Name: Close, dtype: float64
20090930
Date
2009-09-29    4.53
2009-09-30    5.16
Name: Close, dtype: float64 Date
2009-12-28    7.00
2009-12-29    7.04
Name: Close, dtype: float64
20091231
Date
2009-12-30    6.98
2009-12-31    6.99
Name: Close, dtype: float64 Date
2010-03-30    8.55
2010-03-31    8.53
Name: Close, dtype: float64
20100331
Date
2010-03-30    8.55
2010-03-31    8.53
Name: Close, dtype: float64 Date
2010-06-28    9.13
2010-06-29    8.64
Name: Close, dtype: float64
20100630
Date
2010-06-29    8.64
2010-06-30    8.52
Name: Close, dtype: float64 Date
2010-09-27    8.58
2010-09-28    8.73
Name: Close, dtype: float64
20100930
Date
2010-09-29    8.87
2010-09-30    8.62
Name: Close, dtype: float64 Date
2010-12-28    9.48
2010-12-29    9.47
Name: Close, dtype: float64
20101231
Date
2010-12-30    9.40
2010-12-31    9.31
Name: Close, dtype: float64 Date
2011-03-30    10.05
2011-03-31    10.34
Name: Close, dtype: float64
20110331
Date
2011-03-30    10.05
2011-03-31    10.34
Name: Close, dtype: float64 Date
2011-06-28    8.44
2011-06-29    8.64
Name: Close, dtype: float64
20110630
Date
2011-06-29    8.64
2011-06-30    9.08
Name: Close, dtype: float64 Date
2011-09-27    4.48
2011-09-28    4.60
Name: Close, dtype: float64
20110930
Date
2011-09-29    4.45
2011-09-30    4.29
Name: Close, dtype: float64 Date
2011-12-28    6.01
2011-12-29    6.03
Name: Close, dtype: float64
20111231
Date
2011-12-30    6.11
Name: Close, dtype: float64 Date
2012-03-29    7.63
2012-03-30    7.54
Name: Close, dtype: float64
20120331
Date
2012-03-30    7.54
Name: Close, dtype: float64 Date
2012-06-28    6.43
2012-06-29    6.43
Name: Close, dtype: float64
20120630
Date
2012-06-29    6.43
Name: Close, dtype: float64 Date
2012-09-27    5.77
2012-09-28    5.71
Name: Close, dtype: float64
20120930
Date
2012-10-01    5.76
Name: Close, dtype: float64 Date
2012-12-31    4.91
Name: Close, dtype: float64
20121231
Date
2012-12-31    4.91
Name: Close, dtype: float64 Date
2013-04-01    6.21
Name: Close, dtype: float64
20130331
Date
2013-04-01    6.21
Name: Close, dtype: float64 Date
2013-07-01    6.1
Name: Close, dtype: float64
20130630
Date
2013-07-01    6.1
Name: Close, dtype: float64 Date
2013-09-30    6.91
Name: Close, dtype: float64
20130930
Date
2013-09-30    6.91
Name: Close, dtype: float64 Date
2013-12-30    9.95
Name: Close, dtype: float64
20131231
Date
2013-12-30     9.95
2013-12-31    10.03
Name: Close, dtype: float64 Date
2014-03-31    13.15
Name: Close, dtype: float64
20140331
Date
2014-03-31    13.15
Name: Close, dtype: float64 Date
2014-06-30    9.05
Name: Close, dtype: float64
20140630
Date
2014-06-30    9.05
Name: Close, dtype: float64 Date
2014-09-29    9.01
Name: Close, dtype: float64
20140930
Date
2014-09-29    9.01
2014-09-30    8.95
Name: Close, dtype: float64 Date
2014-12-29    9.28
Name: Close, dtype: float64
20141231
Date
2014-12-30    9.23
2014-12-31    9.28
Name: Close, dtype: float64 Date
2015-03-30    7.30
2015-03-31    7.15
Name: Close, dtype: float64
20150331
Date
2015-03-30    7.30
2015-03-31    7.15
Name: Close, dtype: float64 Date
2015-06-29    6.3
Name: Close, dtype: float64
20150630
Date
2015-06-29    6.30
2015-06-30    6.23
Name: Close, dtype: float64 Date
2015-09-28    5.57
Name: Close, dtype: float64
20150930
Date
2015-09-29    5.67
2015-09-30    5.74
Name: Close, dtype: float64 Date
2015-12-28    5.39
2015-12-29    5.45
Name: Close, dtype: float64
20151231
Date
2015-12-30    5.26
2015-12-31    5.12
Name: Close, dtype: float64 Date
2016-03-29    5.24
2016-03-30    5.32
Name: Close, dtype: float64
20160331
Date
2016-03-30    5.32
2016-03-31    5.36
Name: Close, dtype: float64 Date
2016-06-28    5.48
2016-06-29    5.51
Name: Close, dtype: float64
20160630
Date
2016-06-29    5.51
2016-06-30    5.69
Name: Close, dtype: float64 Date
2016-09-27    6.88
2016-09-28    7.04
Name: Close, dtype: float64
20160930
Date
2016-09-29    7.08
2016-09-30    7.41
Name: Close, dtype: float64 Date
2016-12-28    10.03
2016-12-29     9.84
Name: Close, dtype: float64
20161231
Date
2016-12-30    9.7
Name: Close, dtype: float64 Date
2017-03-30    16.180000
2017-03-31    16.870001
Name: Close, dtype: float64
20170331
Date
2017-03-30    16.180000
2017-03-31    16.870001
Name: Close, dtype: float64 Date
2017-06-28    19.559999
2017-06-29    18.680000
Name: Close, dtype: float64
20170630
Date
2017-06-29    18.68
2017-06-30    18.75
Name: Close, dtype: float64 Date
2017-09-27    29.030001
2017-09-28    30.320000
Name: Close, dtype: float64
20170930
Date
2017-09-29    30.620001
Name: Close, dtype: float64 Date
2017-12-28    21.15
2017-12-29    23.09
Name: Close, dtype: float64
20171231
Date
2018-01-02    23.690001
Name: Close, dtype: float64 Date
2018-04-02    18.16
Name: Close, dtype: float64
20180331
Date
2018-04-02    18.16
Name: Close, dtype: float64 Date
2018-07-02    16.35
Name: Close, dtype: float64
20180630
Date
2018-06-29    16.6
Name: Close, dtype: float64 Date
2018-09-27    12.47
2018-09-28    12.55
Name: Close, dtype: float64
20180930
Date
2018-10-01    12.4
Name: Close, dtype: float64 Date
2018-12-31    8.47
Name: Close, dtype: float64
20181231
Date
2018-12-31    8.47
Name: Close, dtype: float64 Date
2019-04-01    10.77
Name: Close, dtype: float64
20190331
Date
2019-04-01    10.77
Name: Close, dtype: float64 Date
2019-07-01    14.19
Name: Close, dtype: float64
20190630

Date
2019-07-01    14.19
Name: Close, dtype: float64 Date
2019-09-30    14.64
Name: Close, dtype: float64
20190930
Date
2019-09-30    14.64
Name: Close, dtype: float64 Date
2019-12-30    23.559999
Name: Close, dtype: float64
20191231
Date
2019-12-30    23.559999
2019-12-31    23.469999
Name: Close, dtype: float64 Date
2020-03-30    14.66
Name: Close, dtype: float64
20030331
Date
2003-03-31    74.511726
Name: Close, dtype: float64 Date
2003-06-30    80.750671
Name: Close, dtype: float64
20030630
Date
2003-06-30    80.750671
Name: Close, dtype: float64 Date
2003-09-29    91.192009
Name: Close, dtype: float64
20030930
Date
2003-09-29    91.192009
2003-09-30    89.575706
Name: Close, dtype: float64 Date
2003-12-29    112.559586
Name: Close, dtype: float64
20031231
Date
2003-12-30    112.624237
2003-12-31    106.255989
Name: Close, dtype: float64 Date
2004-03-29    114.078911
2004-03-30    114.563805
Name: Close, dtype: float64
20040331
Date
2004-03-30    114.563805
2004-03-31    115.048698
Name: Close, dtype: float64 Date
2004-06-28    120.786583
2004-06-29    121.222984
Name: Close, dtype: float64
20040630
Date
2004-06-29    121.222984
2004-06-30    122.095795
Name: Close, dtype: float64 Date
2004-09-27    112.979820
2004-09-28    115.452774
Name: Close, dtype: float64
20040930
Date
2004-09-29    115.404282
2004-09-30    117.683273
Name: Close, dtype: float64 Date
2004-12-28    134.412048
2004-12-29    132.230026
Name: Close, dtype: float64
20041231
Date
2004-12-30    132.763412
2004-12-31    130.581406
Name: Close, dtype: float64 Date
2005-03-30    115.161835
2005-03-31    115.064857
Name: Close, dtype: float64
20050331
Date
2005-03-30    115.161835
2005-03-31    115.064857
Name: Close, dtype: float64 Date
2005-06-28    125.587013
2005-06-29    126.508308
Name: Close, dtype: float64
20050630
Date
2005-06-29    126.508308
2005-06-30    126.168884
Name: Close, dtype: float64 Date
2005-09-27    136.254639
2005-09-28    133.927155
Name: Close, dtype: float64
20050930
Date
2005-09-29    138.194199
2005-09-30    138.194199
Name: Close, dtype: float64 Date
2005-12-28    132.811905
2005-12-29    131.211761
Name: Close, dtype: float64
20051231
Date
2005-12-30    129.272186
Name: Close, dtype: float64 Date
2006-03-30    136.254639
2006-03-31    136.497086
Name: Close, dtype: float64
20060331
Date
2006-03-30    136.254639
2006-03-31    136.497086
Name: Close, dtype: float64 Date
2006-06-28    139.988312
2006-06-29    145.516068
Name: Close, dtype: float64
20060630
Date
2006-06-29    145.516068
2006-06-30    147.601105
Name: Close, dtype: float64 Date
2006-09-27    148.522400
2006-09-28    147.504135
Name: Close, dtype: float64
20060930
Date
2006-09-29    145.710037
Name: Close, dtype: float64 Date
2006-12-28    158.026291
2006-12-29    156.717072
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    158.996063
Name: Close, dtype: float64 Date
2007-06-28    126.896225
2007-06-29    125.538528
Name: Close, dtype: float64
20070630
Date
2007-06-29    125.538528
Name: Close, dtype: float64 Date
2007-09-27    121.707878
2007-09-28    118.895508
Name: Close, dtype: float64
20070930
Date
2007-10-01    123.162552
Name: Close, dtype: float64 Date
2007-12-31    76.61293
Name: Close, dtype: float64
20071231
Date
2007-12-31    76.61293
Name: Close, dtype: float64 Date
2008-03-31    82.334656
Name: Close, dtype: float64
20080331
Date
2008-03-31    82.334656
Name: Close, dtype: float64 Date
2008-06-30    41.361282
Name: Close, dtype: float64
20080630
Date
2008-06-30    41.361282
Name: Close, dtype: float64 Date
2008-09-29    63.765644
Name: Close, dtype: float64
20080930
Date
2008-09-29    63.765644
2008-09-30    64.791756
Name: Close, dtype: float64 Date
2008-12-29    62.730236
Name: Close, dtype: float64
20081231
Date
2008-12-30    66.915535
2008-12-31    66.866295
Name: Close, dtype: float64 Date
2009-03-30    20.343357
2009-03-31    20.641064
Name: Close, dtype: float64
20090331
Date
2009-03-30    20.343357
2009-03-31    20.641064
Name: Close, dtype: float64 Date
2009-06-29    30.911978
Name: Close, dtype: float64
20090630
Date
2009-06-29    30.911978
2009-06-30    29.721148
Name: Close, dtype: float64 Date
2009-09-28    25.200001
Name: Close, dtype: float64
20090930
Date
2009-09-29    25.200001
2009-09-30    25.000000
Name: Close, dtype: float64 Date
2009-12-28    17.049999
2009-12-29    16.200001
Name: Close, dtype: float64
20091231
Date
2009-12-30    16.600000
2009-12-31    16.950001
Name: Close, dtype: float64 Date
2010-03-30    22.350000
2010-03-31    22.049999
Name: Close, dtype: float64
20100331
Date
2010-03-30    22.350000
2010-03-31    22.049999
Name: Close, dtype: float64 Date
2010-06-28    20.950001
2010-06-29    19.700001
Name: Close, dtype: float64
20100630
Date
2010-06-29    19.700001
2010-06-30    19.750000
Name: Close, dtype: float64 Date
2010-09-27    10.75
2010-09-28    10.75
Name: Close, dtype: float64
20100930
Date
2010-09-29    11.1
2010-09-30    11.2
Name: Close, dtype: float64 Date
2010-12-28    11.4
2010-12-29    10.7
Name: Close, dtype: float64
20101231
Date
2010-12-30    10.45
2010-12-31     9.75
Name: Close, dtype: float64 Date
2011-03-30    10.05
2011-03-31    11.65
Name: Close, dtype: float64
20110331
Date
2011-03-30    10.05
2011-03-31    11.65
Name: Close, dtype: float64 Date
2011-06-28    10.18
2011-06-29    10.21
Name: Close, dtype: float64
20110630
Date
2011-06-29    10.21
2011-06-30    10.56
Name: Close, dtype: float64 Date
2011-09-27    9.11
2011-09-28    8.30
Name: Close, dtype: float64
20110930
Date
2011-09-29    8.60
2011-09-30    8.49
Name: Close, dtype: float64 Date
2011-12-28    6.82
2011-12-29    6.93
Name: Close, dtype: float64
20111231
Date
2011-12-30    6.99
Name: Close, dtype: float64 Date
2012-03-29    9.95
2012-03-30    9.75
Name: Close, dtype: float64
20120331
Date
2012-03-30    9.75
Name: Close, dtype: float64 Date
2012-06-28    8.45
2012-06-29    8.57
Name: Close, dtype: float64
20120630
Date
2012-06-29    8.57
Name: Close, dtype: float64 Date
2012-09-27    8.44
2012-09-28    8.39
Name: Close, dtype: float64
20120930
Date
2012-10-01    8.36
Name: Close, dtype: float64 Date
2012-12-31    9.44
Name: Close, dtype: float64
20121231
Date
2012-12-31    9.44
Name: Close, dtype: float64 Date
2013-04-01    11.19
Name: Close, dtype: float64
20130331
Date
2013-04-01    11.19
Name: Close, dtype: float64 Date
2013-07-01    12.69
Name: Close, dtype: float64
20130630
Date
2013-07-01    12.69
Name: Close, dtype: float64 Date
2013-09-30    14.99
Name: Close, dtype: float64
20130930
Date
2013-09-30    14.99
Name: Close, dtype: float64 Date
2013-12-30    17.77
Name: Close, dtype: float64
20131231
Date
2013-12-30    17.77
2013-12-31    17.75
Name: Close, dtype: float64 Date
2014-03-31    19.41
Name: Close, dtype: float64
20140331
Date
2014-03-31    19.41
Name: Close, dtype: float64 Date
2014-06-30    16.370001
Name: Close, dtype: float64
20140630
Date
2014-06-30    16.370001
Name: Close, dtype: float64 Date
2014-09-29    16.74
Name: Close, dtype: float64
20140930
Date
2014-09-29    16.740000
2014-09-30    16.459999
Name: Close, dtype: float64 Date
2014-12-29    19.280001
Name: Close, dtype: float64
20141231
Date
2014-12-30    19.290001
2014-12-31    18.940001
Name: Close, dtype: float64 Date
2015-03-30    18.870001
2015-03-31    18.879999
Name: Close, dtype: float64
20150331
Date
2015-03-30    18.870001
2015-03-31    18.879999
Name: Close, dtype: float64 Date
2015-06-29    20.73
Name: Close, dtype: float64
20150630
Date
2015-06-29    20.730000
2015-06-30    20.870001
Name: Close, dtype: float64 Date
2015-09-28    20.129999
Name: Close, dtype: float64
20150930
Date
2015-09-29    20.180000
2015-09-30    20.440001
Name: Close, dtype: float64 Date
2015-12-28    19.709999
2015-12-29    19.969999
Name: Close, dtype: float64
20151231
Date
2015-12-30    19.73
2015-12-31    19.49
Name: Close, dtype: float64 Date
2016-03-29    18.59
2016-03-30    18.58
Name: Close, dtype: float64
20160331
Date
2016-03-30    18.580000
2016-03-31    18.469999
Name: Close, dtype: float64 Date
2016-06-28    17.530001
2016-06-29    17.959999
Name: Close, dtype: float64
20160630
Date
2016-06-29    17.959999
2016-06-30    18.290001
Name: Close, dtype: float64 Date
2016-09-27    20.570000
2016-09-28    20.870001
Name: Close, dtype: float64
20160930

Date
2016-09-29    20.57
2016-09-30    21.02
Name: Close, dtype: float64 Date
2016-12-28    29.65
2016-12-29    29.51
Name: Close, dtype: float64
20161231
Date
2016-12-30    29.620001
Name: Close, dtype: float64 Date
2017-03-30    27.950001
2017-03-31    27.690001
Name: Close, dtype: float64
20170331
Date
2017-03-30    27.950001
2017-03-31    27.690001
Name: Close, dtype: float64 Date
2017-06-28    27.480000
2017-06-29    27.969999
Name: Close, dtype: float64
20170630
Date
2017-06-29    27.969999
2017-06-30    27.799999
Name: Close, dtype: float64 Date
2017-09-27    27.969999
2017-09-28    28.379999
Name: Close, dtype: float64
20170930
Date
2017-09-29    28.540001
Name: Close, dtype: float64 Date
2017-12-28    28.379999
2017-12-29    28.139999
Name: Close, dtype: float64
20171231
Date
2018-01-02    28.01
Name: Close, dtype: float64 Date
2018-04-02    31.09
Name: Close, dtype: float64
20180331
Date
2018-04-02    31.09
Name: Close, dtype: float64 Date
2018-07-02    30.959999
Name: Close, dtype: float64
20180630
Date
2018-06-29    30.67
Name: Close, dtype: float64 Date
2018-09-27    28.030001
2018-09-28    27.889999
Name: Close, dtype: float64
20180930
Date
2018-10-01    27.67
Name: Close, dtype: float64 Date
2018-12-31    21.459999
Name: Close, dtype: float64
20181231
Date
2018-12-31    21.459999
Name: Close, dtype: float64 Date
2019-04-01    25.799999
Name: Close, dtype: float64
20190331
Date
2019-04-01    25.799999
Name: Close, dtype: float64 Date
2019-07-01    28.57
Name: Close, dtype: float64
20190630
Date
2019-07-01    28.57
Name: Close, dtype: float64 Date
2019-09-30    28.35
Name: Close, dtype: float64
20190930
Date
2019-09-30    28.35
Name: Close, dtype: float64 Date
2019-12-30    30.940001
Name: Close, dtype: float64
20191231
Date
2019-12-30    30.940001
2019-12-31    30.879999
Name: Close, dtype: float64 Date
2020-03-30    18.950001
Name: Close, dtype: float64
20060930
Date
2006-09-29    34.099998
Name: Close, dtype: float64 Date
2006-12-28    59.730000
2006-12-29    59.720001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    60.27
Name: Close, dtype: float64 Date
2007-06-28    58.080002
2007-06-29    58.160000
Name: Close, dtype: float64
20070630
Date
2007-06-29    58.16
Name: Close, dtype: float64 Date
2007-09-27    55.459999
2007-09-28    57.200001
Name: Close, dtype: float64
20070930
Date
2007-10-01    59
Name: Close, dtype: int64 Date
2007-12-31    60.130001
Name: Close, dtype: float64
20071231
Date
2007-12-31    60.130001
Name: Close, dtype: float64 Date
2008-03-31    40.43
Name: Close, dtype: float64
20080331
Date
2008-03-31    40.43
Name: Close, dtype: float64 Date
2008-06-30    34.099998
Name: Close, dtype: float64
20080630
Date
2008-06-30    34.099998
Name: Close, dtype: float64 Date
2008-09-29    39.130001
Name: Close, dtype: float64
20080930
Date
2008-09-29    39.130001
2008-09-30    38.730000
Name: Close, dtype: float64 Date
2008-12-29    33.57
Name: Close, dtype: float64
20081231
Date
2008-12-30    35.930000
2008-12-31    35.849998
Name: Close, dtype: float64 Date
2009-03-30    37.080002
2009-03-31    36.770000
Name: Close, dtype: float64
20090331
Date
2009-03-30    37.080002
2009-03-31    36.770000
Name: Close, dtype: float64 Date
2009-06-29    54.759998
Name: Close, dtype: float64
20090630
Date
2009-06-29    54.759998
2009-06-30    54.669998
Name: Close, dtype: float64 Date
2009-09-28    45.650002
Name: Close, dtype: float64
20090930
Date
2009-09-29    45.150002
2009-09-30    43.680000
Name: Close, dtype: float64 Date
2009-12-28    38.560001
2009-12-29    38.340000
Name: Close, dtype: float64
20091231
Date
2009-12-30    38.299999
2009-12-31    38.029999
Name: Close, dtype: float64 Date
2010-03-30    36.119999
2010-03-31    34.910000
Name: Close, dtype: float64
20100331
Date
2010-03-30    36.119999
2010-03-31    34.910000
Name: Close, dtype: float64 Date
2010-06-28    35.660000
2010-06-29    35.400002
Name: Close, dtype: float64
20100630
Date
2010-06-29    35.400002
2010-06-30    34.349998
Name: Close, dtype: float64 Date
2010-09-27    19.24
2010-09-28    18.68
Name: Close, dtype: float64
20100930
Date
2010-09-29    17.870001
2010-09-30    17.209999
Name: Close, dtype: float64 Date
2010-12-28    18.219999
2010-12-29    18.129999
Name: Close, dtype: float64
20101231
Date
2010-12-30    18.17
2010-12-31    18.10
Name: Close, dtype: float64 Date
2011-03-30    16.459999
2011-03-31    16.700001
Name: Close, dtype: float64
20110331
Date
2011-03-30    16.459999
2011-03-31    16.700001
Name: Close, dtype: float64 Date
2011-06-28    18.389999
2011-06-29    18.559999
Name: Close, dtype: float64
20110630
Date
2011-06-29    18.559999
2011-06-30    18.799999
Name: Close, dtype: float64 Date
2011-09-27    14.51
2011-09-28    14.51
Name: Close, dtype: float64
20110930
Date
2011-09-29    14.76
2011-09-30    14.76
Name: Close, dtype: float64 Date
2011-12-28    18.969999
2011-12-29    18.930000
Name: Close, dtype: float64
20111231
Date
2011-12-30    18.91
Name: Close, dtype: float64 Date
2012-03-29    16.25
2012-03-30    15.93
Name: Close, dtype: float64
20120331
Date
2012-03-30    15.93
Name: Close, dtype: float64 Date
2012-06-28    15.1
2012-06-29    15.4
Name: Close, dtype: float64
20120630
Date
2012-06-29    15.4
Name: Close, dtype: float64 Date
2012-09-27    17.74
2012-09-28    17.74
Name: Close, dtype: float64
20120930
Date
2012-10-01    18.030001
Name: Close, dtype: float64 Date
2012-12-31    14.71
Name: Close, dtype: float64
20121231
Date
2012-12-31    14.71
Name: Close, dtype: float64 Date
2013-04-01    23.459999
Name: Close, dtype: float64
20130331
Date
2013-04-01    23.459999
Name: Close, dtype: float64 Date
2013-07-01    22.35
Name: Close, dtype: float64
20130630
Date
2013-07-01    22.35
Name: Close, dtype: float64 Date
2013-09-30    21.469999
Name: Close, dtype: float64
20130930
Date
2013-09-30    21.469999
Name: Close, dtype: float64 Date
2013-12-30    23.040001
Name: Close, dtype: float64
20131231
Date
2013-12-30    23.040001
2013-12-31    24.280001
Name: Close, dtype: float64 Date
2014-03-31    19.35
Name: Close, dtype: float64
20140331
Date
2014-03-31    19.35
Name: Close, dtype: float64 Date
2014-06-30    20.719999
Name: Close, dtype: float64
20140630
Date
2014-06-30    20.719999
Name: Close, dtype: float64 Date
2014-09-29    29.719999
Name: Close, dtype: float64
20140930
Date
2014-09-29    29.719999
2014-09-30    31.910000
Name: Close, dtype: float64 Date
2014-12-29    42.939999
Name: Close, dtype: float64
20141231
Date
2014-12-30    43.020000
2014-12-31    42.619999
Name: Close, dtype: float64 Date
2015-03-30    56.18
2015-03-31    54.66
Name: Close, dtype: float64
20150331
Date
2015-03-30    56.18
2015-03-31    54.66
Name: Close, dtype: float64 Date
2015-06-29    67.139999
Name: Close, dtype: float64
20150630
Date
2015-06-29    67.139999
2015-06-30    69.059998
Name: Close, dtype: float64 Date
2015-09-28    39.860001
Name: Close, dtype: float64
20150930
Date
2015-09-29    38.43
2015-09-30    39.73
Name: Close, dtype: float64 Date
2015-12-28    30.049999
2015-12-29    30.750000
Name: Close, dtype: float64
20151231
Date
2015-12-30    30.500000
2015-12-31    30.190001
Name: Close, dtype: float64 Date
2016-03-29    22.190001
2016-03-30    22.120001
Name: Close, dtype: float64
20160331
Date
2016-03-30    22.120001
2016-03-31    23.400000
Name: Close, dtype: float64 Date
2016-06-28    23.150000
2016-06-29    23.870001
Name: Close, dtype: float64
20160630
Date
2016-06-29    23.870001
2016-06-30    23.920000
Name: Close, dtype: float64 Date
2016-09-27    24.620001
2016-09-28    24.840000
Name: Close, dtype: float64
20160930
Date
2016-09-29    24.049999
2016-09-30    24.510000
Name: Close, dtype: float64 Date
2016-12-28    34.549999
2016-12-29    35.099998
Name: Close, dtype: float64
20161231
Date
2016-12-30    34.799999
Name: Close, dtype: float64 Date
2017-03-30    22.950001
2017-03-31    22.549999
Name: Close, dtype: float64
20170331
Date
2017-03-30    22.950001
2017-03-31    22.549999
Name: Close, dtype: float64 Date
2017-06-28    18.65
2017-06-29    18.25
Name: Close, dtype: float64
20170630
Date
2017-06-29    18.25
2017-06-30    18.40
Name: Close, dtype: float64 Date
2017-09-27    19.00
2017-09-28    17.75
Name: Close, dtype: float64
20170930

Date
2017-09-29    18.450001
Name: Close, dtype: float64 Date
2017-12-28    13.45
2017-12-29    13.25
Name: Close, dtype: float64
20171231
Date
2018-01-02    14.6
Name: Close, dtype: float64 Date
2018-04-02    19.4
Name: Close, dtype: float64
20180331
Date
2018-04-02    19.4
Name: Close, dtype: float64 Date
2018-07-02    19.85
Name: Close, dtype: float64
20180630
Date
2018-06-29    19.5
Name: Close, dtype: float64 Date
2018-09-27    20.15
2018-09-28    20.00
Name: Close, dtype: float64
20180930
Date
2018-10-01    20.18
Name: Close, dtype: float64 Date
2018-12-31    15.19
Name: Close, dtype: float64
20181231
Date
2018-12-31    15.19
Name: Close, dtype: float64 Date
2019-04-01    12.85
Name: Close, dtype: float64
20190331
Date
2019-04-01    12.85
Name: Close, dtype: float64 Date
2019-07-01    10.16
Name: Close, dtype: float64
20190630
Date
2019-07-01    10.16
Name: Close, dtype: float64 Date
2019-09-30    11.55
Name: Close, dtype: float64
20190930
Date
2019-09-30    11.55
Name: Close, dtype: float64 Date
2019-12-30    12.14
Name: Close, dtype: float64
20191231
Date
2019-12-30    12.14
2019-12-31    12.17
Name: Close, dtype: float64 Date
2020-03-30    6.17
Name: Close, dtype: float64
20030331
Date
2003-03-31    11.5
Name: Close, dtype: float64 Date
2003-06-30    13.16
Name: Close, dtype: float64
20030630
Date
2003-06-30    13.16
Name: Close, dtype: float64 Date
2003-09-29    14.32
Name: Close, dtype: float64
20030930
Date
2003-09-29    14.32
2003-09-30    14.00
Name: Close, dtype: float64 Date
2003-12-29    15.47
Name: Close, dtype: float64
20031231
Date
2003-12-30    15.43
2003-12-31    14.98
Name: Close, dtype: float64 Date
2004-03-29    16.250000
2004-03-30    16.360001
Name: Close, dtype: float64
20040331
Date
2004-03-30    16.360001
2004-03-31    16.660000
Name: Close, dtype: float64 Date
2004-06-28    17.99
2004-06-29    18.27
Name: Close, dtype: float64
20040630
Date
2004-06-29    18.27
2004-06-30    18.15
Name: Close, dtype: float64 Date
2004-09-27    15.16
2004-09-28    15.03
Name: Close, dtype: float64
20040930
Date
2004-09-29    15.54
2004-09-30    15.50
Name: Close, dtype: float64 Date
2004-12-28    18.709999
2004-12-29    18.510000
Name: Close, dtype: float64
20041231
Date
2004-12-30    18.51
2004-12-31    18.08
Name: Close, dtype: float64 Date
2005-03-30    16.68
2005-03-31    16.76
Name: Close, dtype: float64
20050331
Date
2005-03-30    16.68
2005-03-31    16.76
Name: Close, dtype: float64 Date
2005-06-28    17.40
2005-06-29    17.32
Name: Close, dtype: float64
20050630
Date
2005-06-29    17.32
2005-06-30    17.00
Name: Close, dtype: float64 Date
2005-09-27    17.930000
2005-09-28    17.870001
Name: Close, dtype: float64
20050930
Date
2005-09-29    18.400000
2005-09-30    18.559999
Name: Close, dtype: float64 Date
2005-12-28    17.67
2005-12-29    17.49
Name: Close, dtype: float64
20051231
Date
2005-12-30    17.83
Name: Close, dtype: float64 Date
2006-03-30    19.030001
2006-03-31    19.360001
Name: Close, dtype: float64
20060331
Date
2006-03-30    19.030001
2006-03-31    19.360001
Name: Close, dtype: float64 Date
2006-06-28    17.940001
2006-06-29    18.299999
Name: Close, dtype: float64
20060630
Date
2006-06-29    18.299999
2006-06-30    18.190001
Name: Close, dtype: float64 Date
2006-09-27    16.920000
2006-09-28    17.120001
Name: Close, dtype: float64
20060930
Date
2006-09-29    17
Name: Close, dtype: int64 Date
2006-12-28    22.09
2006-12-29    21.82
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    18.23
Name: Close, dtype: float64 Date
2007-06-28    17.200001
2007-06-29    16.680000
Name: Close, dtype: float64
20070630
Date
2007-06-29    16.68
Name: Close, dtype: float64 Date
2007-09-27    18.150000
2007-09-28    17.469999
Name: Close, dtype: float64
20070930
Date
2007-10-01    18.25
Name: Close, dtype: float64 Date
2007-12-31    14.24
Name: Close, dtype: float64
20071231
Date
2007-12-31    14.24
Name: Close, dtype: float64 Date
2008-03-31    12.37
Name: Close, dtype: float64
20080331
Date
2008-03-31    12.37
Name: Close, dtype: float64 Date
2008-06-30    14.41
Name: Close, dtype: float64
20080630
Date
2008-06-30    14.41
Name: Close, dtype: float64 Date
2008-09-29    16.209999
Name: Close, dtype: float64
20080930
Date
2008-09-29    16.209999
2008-09-30    16.290001
Name: Close, dtype: float64 Date
2008-12-29    8.3
Name: Close, dtype: float64
20081231
Date
2008-12-30    8.61
2008-12-31    8.79
Name: Close, dtype: float64 Date
2009-03-30    6.52
2009-03-31    6.55
Name: Close, dtype: float64
20090331
Date
2009-03-30    6.52
2009-03-31    6.55
Name: Close, dtype: float64 Date
2009-06-29    7.19
Name: Close, dtype: float64
20090630
Date
2009-06-29    7.19
2009-06-30    6.87
Name: Close, dtype: float64 Date
2009-09-28    9.83
Name: Close, dtype: float64
20090930
Date
2009-09-29    9.84
2009-09-30    9.31
Name: Close, dtype: float64 Date
2009-12-28    9.86
2009-12-29    9.58
Name: Close, dtype: float64
20091231
Date
2009-12-30    10.00
2009-12-31     9.91
Name: Close, dtype: float64 Date
2010-03-30    10.41
2010-03-31    10.11
Name: Close, dtype: float64
20100331
Date
2010-03-30    10.41
2010-03-31    10.11
Name: Close, dtype: float64 Date
2010-06-28    9.53
2010-06-29    9.23
Name: Close, dtype: float64
20100630
Date
2010-06-29    9.23
2010-06-30    8.99
Name: Close, dtype: float64 Date
2010-09-27    7.24
2010-09-28    7.12
Name: Close, dtype: float64
20100930
Date
2010-09-29    7.09
2010-09-30    7.19
Name: Close, dtype: float64 Date
2010-12-28    8.85
2010-12-29    8.87
Name: Close, dtype: float64
20101231
Date
2010-12-30    8.75
2010-12-31    8.47
Name: Close, dtype: float64 Date
2011-03-30    7.85
2011-03-31    7.83
Name: Close, dtype: float64
20110331
Date
2011-03-30    7.85
2011-03-31    7.83
Name: Close, dtype: float64 Date
2011-06-28    7.56
2011-06-29    7.63
Name: Close, dtype: float64
20110630
Date
2011-06-29    7.63
2011-06-30    7.60
Name: Close, dtype: float64 Date
2011-09-27    4.29
2011-09-28    3.95
Name: Close, dtype: float64
20110930
Date
2011-09-29    4.03
2011-09-30    4.18
Name: Close, dtype: float64 Date
2011-12-28    5.31
2011-12-29    5.49
Name: Close, dtype: float64
20111231
Date
2011-12-30    5.55
Name: Close, dtype: float64 Date
2012-03-29    5.06
2012-03-30    5.01
Name: Close, dtype: float64
20120331
Date
2012-03-30    5.01
Name: Close, dtype: float64 Date
2012-06-28    4.45
2012-06-29    4.37
Name: Close, dtype: float64
20120630
Date
2012-06-29    4.37
Name: Close, dtype: float64 Date
2012-09-27    4.77
2012-09-28    4.73
Name: Close, dtype: float64
20120930
Date
2012-10-01    4.81
Name: Close, dtype: float64 Date
2012-12-31    4.8
Name: Close, dtype: float64
20121231
Date
2012-12-31    4.8
Name: Close, dtype: float64 Date
2013-04-01    5.35
Name: Close, dtype: float64
20130331
Date
2013-04-01    5.35
Name: Close, dtype: float64 Date
2013-07-01    5.24
Name: Close, dtype: float64
20130630
Date
2013-07-01    5.24
Name: Close, dtype: float64 Date
2013-09-30    6.04
Name: Close, dtype: float64
20130930
Date
2013-09-30    6.04
Name: Close, dtype: float64 Date
2013-12-30    9.73
Name: Close, dtype: float64
20131231
Date
2013-12-30    9.73
2013-12-31    9.98
Name: Close, dtype: float64 Date
2014-03-31    8.07
Name: Close, dtype: float64
20140331
Date
2014-03-31    8.07
Name: Close, dtype: float64 Date
2014-06-30    6.52
Name: Close, dtype: float64
20140630
Date
2014-06-30    6.52
Name: Close, dtype: float64 Date
2014-09-29    9.47
Name: Close, dtype: float64
20140930
Date
2014-09-29    9.47
2014-09-30    9.29
Name: Close, dtype: float64 Date
2014-12-29    13.06
Name: Close, dtype: float64
20141231
Date
2014-12-30    12.86
2014-12-31    12.48
Name: Close, dtype: float64 Date
2015-03-30    12.17
2015-03-31    11.86
Name: Close, dtype: float64
20150331
Date
2015-03-30    12.17
2015-03-31    11.86
Name: Close, dtype: float64 Date
2015-06-29    12.63
Name: Close, dtype: float64
20150630
Date
2015-06-29    12.63
2015-06-30    12.68
Name: Close, dtype: float64 Date
2015-09-28    14.03
Name: Close, dtype: float64
20150930
Date
2015-09-29    13.33
2015-09-30    13.61
Name: Close, dtype: float64 Date
2015-12-28    16.889999
2015-12-29    17.049999
Name: Close, dtype: float64
20151231
Date
2015-12-30    16.490000
2015-12-31    16.389999
Name: Close, dtype: float64 Date
2016-03-29    11.23
2016-03-30    11.74
Name: Close, dtype: float64
20160331

Date
2016-03-30    11.74
2016-03-31    11.63
Name: Close, dtype: float64 Date
2016-06-28    13.22
2016-06-29    13.49
Name: Close, dtype: float64
20160630
Date
2016-06-29    13.49
2016-06-30    13.92
Name: Close, dtype: float64 Date
2016-09-27    11.87
2016-09-28    11.82
Name: Close, dtype: float64
20160930
Date
2016-09-29    11.64
2016-09-30    11.78
Name: Close, dtype: float64 Date
2016-12-28    15.27
2016-12-29    15.23
Name: Close, dtype: float64
20161231
Date
2016-12-30    15.61
Name: Close, dtype: float64 Date
2017-03-30    14.25
2017-03-31    14.36
Name: Close, dtype: float64
20170331
Date
2017-03-30    14.25
2017-03-31    14.36
Name: Close, dtype: float64 Date
2017-06-28    12.62
2017-06-29    12.65
Name: Close, dtype: float64
20170630
Date
2017-06-29    12.65
2017-06-30    12.91
Name: Close, dtype: float64 Date
2017-09-27    13.88
2017-09-28    14.16
Name: Close, dtype: float64
20170930
Date
2017-09-29    14.23
Name: Close, dtype: float64 Date
2017-12-28    12.91
2017-12-29    12.76
Name: Close, dtype: float64
20171231
Date
2018-01-02    12.92
Name: Close, dtype: float64 Date
2018-04-02    10.71
Name: Close, dtype: float64
20180331
Date
2018-04-02    10.71
Name: Close, dtype: float64 Date
2018-07-02    11.43
Name: Close, dtype: float64
20180630
Date
2018-06-29    11.25
Name: Close, dtype: float64 Date
2018-09-27    8.68
2018-09-28    8.73
Name: Close, dtype: float64
20180930
Date
2018-10-01    8.38
Name: Close, dtype: float64 Date
2018-12-31    7.33
Name: Close, dtype: float64
20181231
Date
2018-12-31    7.33
Name: Close, dtype: float64 Date
2019-04-01    7.31
Name: Close, dtype: float64
20190331
Date
2019-04-01    7.31
Name: Close, dtype: float64 Date
2019-07-01    9.42
Name: Close, dtype: float64
20190630
Date
2019-07-01    9.42
Name: Close, dtype: float64 Date
2019-09-30    10.3
Name: Close, dtype: float64
20190930
Date
2019-09-30    10.3
Name: Close, dtype: float64 Date
2019-12-30    11.51
Name: Close, dtype: float64
20191231
Date
2019-12-30    11.51
2019-12-31    11.62
Name: Close, dtype: float64 Date
2020-03-30    6.33
Name: Close, dtype: float64
20140930
Date
2014-09-29    6.76
2014-09-30    6.84
Name: Close, dtype: float64 Date
2014-12-29    9.14
Name: Close, dtype: float64
20141231
Date
2014-12-30    9.69
2014-12-31    9.83
Name: Close, dtype: float64 Date
2015-03-30    6.97
2015-03-31    6.92
Name: Close, dtype: float64
20150331
Date
2015-03-30    6.97
2015-03-31    6.92
Name: Close, dtype: float64 Date
2015-06-29    2.75
Name: Close, dtype: float64
20150630
Date
2015-06-29    2.75
2015-06-30    2.69
Name: Close, dtype: float64 Date
2015-09-28    1.98
Name: Close, dtype: float64
20150930
Date
2015-09-29    1.98
2015-09-30    1.94
Name: Close, dtype: float64 Date
2015-12-28    1.69
2015-12-29    1.67
Name: Close, dtype: float64
20151231
Date
2015-12-30    1.67
2015-12-31    1.69
Name: Close, dtype: float64 Date
2016-03-29    1.41
2016-03-30    1.35
Name: Close, dtype: float64
20160331
Date
2016-03-30    1.35
2016-03-31    1.35
Name: Close, dtype: float64 Date
2016-06-28    1.72
2016-06-29    1.73
Name: Close, dtype: float64
20160630
Date
2016-06-29    1.73
2016-06-30    1.74
Name: Close, dtype: float64 Date
2016-09-27    1.92
2016-09-28    1.89
Name: Close, dtype: float64
20160930
Date
2016-09-29    1.89
2016-09-30    1.94
Name: Close, dtype: float64 Date
2016-12-28    1.80
2016-12-29    1.75
Name: Close, dtype: float64
20161231
Date
2016-12-30    1.73
Name: Close, dtype: float64 Date
2017-03-30    4.29
2017-03-31    4.30
Name: Close, dtype: float64
20170331
Date
2017-03-30    4.29
2017-03-31    4.30
Name: Close, dtype: float64 Date
2017-06-28    5.50
2017-06-29    5.56
Name: Close, dtype: float64
20170630
Date
2017-06-29    5.56
2017-06-30    5.76
Name: Close, dtype: float64 Date
2017-09-27    8.03
2017-09-28    8.26
Name: Close, dtype: float64
20170930
Date
2017-09-29    8.06
Name: Close, dtype: float64 Date
2017-12-28    9.05
2017-12-29    9.20
Name: Close, dtype: float64
20171231
Date
2018-01-02    9
Name: Close, dtype: int64 Date
2018-04-02    11.14
Name: Close, dtype: float64
20180331
Date
2018-04-02    11.14
Name: Close, dtype: float64 Date
2018-07-02    13.83
Name: Close, dtype: float64
20180630
Date
2018-06-29    13.42
Name: Close, dtype: float64 Date
2018-09-27    11.13
2018-09-28    11.08
Name: Close, dtype: float64
20180930
Date
2018-10-01    10.94
Name: Close, dtype: float64 Date
2018-12-31    7.87
Name: Close, dtype: float64
20181231
Date
2018-12-31    7.87
Name: Close, dtype: float64 Date
2019-04-01    13.59
Name: Close, dtype: float64
20190331
Date
2019-04-01    13.59
Name: Close, dtype: float64 Date
2019-07-01    7.21
Name: Close, dtype: float64
20190630
Date
2019-07-01    7.21
Name: Close, dtype: float64 Date
2019-09-30    5.12
Name: Close, dtype: float64
20190930
Date
2019-09-30    5.12
Name: Close, dtype: float64 Date
2019-12-30    1.96
Name: Close, dtype: float64
20191231
Date
2019-12-30    1.96
2019-12-31    1.96
Name: Close, dtype: float64 Date
2020-03-30    1.53
Name: Close, dtype: float64
20030331
Date
2003-03-31    11.69
Name: Close, dtype: float64 Date
2003-06-30    15.7
Name: Close, dtype: float64
20030630
Date
2003-06-30    15.7
Name: Close, dtype: float64 Date
2003-09-29    15.19
Name: Close, dtype: float64
20030930
Date
2003-09-29    15.19
2003-09-30    14.79
Name: Close, dtype: float64 Date
2003-12-29    13.99
Name: Close, dtype: float64
20031231
Date
2003-12-30    13.5
2003-12-31    13.3
Name: Close, dtype: float64 Date
2004-03-29    12.46
2004-03-30    12.56
Name: Close, dtype: float64
20040331
Date
2004-03-30    12.56
2004-03-31    12.37
Name: Close, dtype: float64 Date
2004-06-28    12.88
2004-06-29    13.15
Name: Close, dtype: float64
20040630
Date
2004-06-29    13.15
2004-06-30    13.35
Name: Close, dtype: float64 Date
2004-09-27    8.97
2004-09-28    8.89
Name: Close, dtype: float64
20040930
Date
2004-09-29    9.06
2004-09-30    9.04
Name: Close, dtype: float64 Date
2004-12-28    8.76
2004-12-29    8.87
Name: Close, dtype: float64
20041231
Date
2004-12-30    8.98
2004-12-31    9.32
Name: Close, dtype: float64 Date
2005-03-30    5.98
2005-03-31    6.15
Name: Close, dtype: float64
20050331
Date
2005-03-30    5.98
2005-03-31    6.15
Name: Close, dtype: float64 Date
2005-06-28    5.50
2005-06-29    5.45
Name: Close, dtype: float64
20050630
Date
2005-06-29    5.45
2005-06-30    5.47
Name: Close, dtype: float64 Date
2005-09-27    6.71
2005-09-28    6.63
Name: Close, dtype: float64
20050930
Date
2005-09-29    6.65
2005-09-30    6.78
Name: Close, dtype: float64 Date
2005-12-28    5.96
2005-12-29    5.96
Name: Close, dtype: float64
20051231
Date
2005-12-30    5.9
Name: Close, dtype: float64 Date
2006-03-30    7.49
2006-03-31    7.47
Name: Close, dtype: float64
20060331
Date
2006-03-30    7.49
2006-03-31    7.47
Name: Close, dtype: float64 Date
2006-06-28    5.99
2006-06-29    5.99
Name: Close, dtype: float64
20060630
Date
2006-06-29    5.99
2006-06-30    6.17
Name: Close, dtype: float64 Date
2006-09-27    7.74
2006-09-28    7.80
Name: Close, dtype: float64
20060930
Date
2006-09-29    7.75
Name: Close, dtype: float64 Date
2006-12-28    8.80
2006-12-29    8.79
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    10.11
Name: Close, dtype: float64 Date
2007-06-28    9.61
2007-06-29    9.81
Name: Close, dtype: float64
20070630
Date
2007-06-29    9.81
Name: Close, dtype: float64 Date
2007-09-27    9.11
2007-09-28    9.04
Name: Close, dtype: float64
20070930
Date
2007-10-01    9.19
Name: Close, dtype: float64 Date
2007-12-31    8.82
Name: Close, dtype: float64
20071231
Date
2007-12-31    8.82
Name: Close, dtype: float64 Date
2008-03-31    9.99
Name: Close, dtype: float64
20080331
Date
2008-03-31    9.99
Name: Close, dtype: float64 Date
2008-06-30    14.16
Name: Close, dtype: float64
20080630
error
20090331
Date
2009-03-30    9.50
2009-03-31    9.72
Name: Close, dtype: float64 Date
2009-06-29    12.05
Name: Close, dtype: float64
20090630
Date
2009-06-29    12.05
2009-06-30    12.57
Name: Close, dtype: float64 Date
2009-09-28    14.92
Name: Close, dtype: float64
20090930
Date
2009-09-29    14.56
2009-09-30    15.19
Name: Close, dtype: float64 Date
2009-12-28    14.82
2009-12-29    14.86
Name: Close, dtype: float64
20091231

Date
2009-12-30    14.78
2009-12-31    14.99
Name: Close, dtype: float64 Date
2010-03-30    17.51
2010-03-31    17.27
Name: Close, dtype: float64
20100331
Date
2010-03-30    17.51
2010-03-31    17.27
Name: Close, dtype: float64 Date
2010-06-28    20.01
2010-06-29    19.49
Name: Close, dtype: float64
20100630
Date
2010-06-29    19.49
2010-06-30    18.75
Name: Close, dtype: float64 Date
2010-09-27    23.730000
2010-09-28    23.559999
Name: Close, dtype: float64
20100930
Date
2010-09-29    23.150000
2010-09-30    23.459999
Name: Close, dtype: float64 Date
2010-12-28    30.379999
2010-12-29    30.660000
Name: Close, dtype: float64
20101231
Date
2010-12-30    30.469999
2010-12-31    30.010000
Name: Close, dtype: float64 Date
2011-03-30    28.67
2011-03-31    28.90
Name: Close, dtype: float64
20110331
Date
2011-03-30    28.67
2011-03-31    28.90
Name: Close, dtype: float64 Date
2011-06-28    34.860001
2011-06-29    34.779999
Name: Close, dtype: float64
20110630
Date
2011-06-29    34.779999
2011-06-30    35.029999
Name: Close, dtype: float64 Date
2011-09-27    28.219999
2011-09-28    28.010000
Name: Close, dtype: float64
20110930
Date
2011-09-29    27.360001
2011-09-30    25.379999
Name: Close, dtype: float64 Date
2011-12-28    24.290001
2011-12-29    23.690001
Name: Close, dtype: float64
20111231
Date
2011-12-30    23.889999
Name: Close, dtype: float64 Date
2012-03-29    28.309999
2012-03-30    27.940001
Name: Close, dtype: float64
20120331
Date
2012-03-30    27.940001
Name: Close, dtype: float64 Date
2012-06-28    25.299999
2012-06-29    25.660000
Name: Close, dtype: float64
20120630
Date
2012-06-29    25.66
Name: Close, dtype: float64 Date
2012-09-27    22.379999
2012-09-28    22.250000
Name: Close, dtype: float64
20120930
Date
2012-10-01    22.110001
Name: Close, dtype: float64 Date
2012-12-31    20.700001
Name: Close, dtype: float64
20121231
Date
2012-12-31    20.700001
Name: Close, dtype: float64 Date
2013-04-01    21.379999
Name: Close, dtype: float64
20130331
Date
2013-04-01    21.379999
Name: Close, dtype: float64 Date
2013-07-01    21.040001
Name: Close, dtype: float64
20130630
Date
2013-07-01    21.040001
Name: Close, dtype: float64 Date
2013-09-30    20.200001
Name: Close, dtype: float64
20130930
Date
2013-09-30    20.200001
Name: Close, dtype: float64 Date
2013-12-30    19.26
Name: Close, dtype: float64
20131231
Date
2013-12-30    19.26
2013-12-31    19.26
Name: Close, dtype: float64 Date
2014-03-31    31.4
Name: Close, dtype: float64
20140331
Date
2014-03-31    31.4
Name: Close, dtype: float64 Date
2014-06-30    32.599998
Name: Close, dtype: float64
20140630
Date
2014-06-30    32.599998
Name: Close, dtype: float64 Date
2014-09-29    20.959999
Name: Close, dtype: float64
20140930
Date
2014-09-29    20.959999
2014-09-30    20.709999
Name: Close, dtype: float64 Date
2014-12-29    27.84
Name: Close, dtype: float64
20141231
Date
2014-12-30    27.209999
2014-12-31    27.150000
Name: Close, dtype: float64 Date
2015-03-30    22.900000
2015-03-31    21.950001
Name: Close, dtype: float64
20150331
Date
2015-03-30    22.900000
2015-03-31    21.950001
Name: Close, dtype: float64 Date
2015-06-29    43.330002
Name: Close, dtype: float64
20150630
Date
2015-06-29    43.330002
2015-06-30    45.139999
Name: Close, dtype: float64 Date
2015-09-28    31.68
Name: Close, dtype: float64
20150930
Date
2015-09-29    31.080000
2015-09-30    30.549999
Name: Close, dtype: float64 Date
2015-12-28    38.889999
2015-12-29    38.139999
Name: Close, dtype: float64
20151231
Date
2015-12-30    37.849998
2015-12-31    36.509998
Name: Close, dtype: float64 Date
2016-03-29    32.59
2016-03-30    32.02
Name: Close, dtype: float64
20160331
Date
2016-03-30    32.020000
2016-03-31    30.299999
Name: Close, dtype: float64 Date
2016-06-28    30.370001
2016-06-29    30.850000
Name: Close, dtype: float64
20160630
Date
2016-06-29    30.850000
2016-06-30    31.959999
Name: Close, dtype: float64 Date
2016-09-27    36.849998
2016-09-28    38.099998
Name: Close, dtype: float64
20160930
Date
2016-09-29    37.980000
2016-09-30    38.349998
Name: Close, dtype: float64 Date
2016-12-28    30.10
2016-12-29    29.85
Name: Close, dtype: float64
20161231
Date
2016-12-30    30
Name: Close, dtype: int64 Date
2017-03-30    26.299999
2017-03-31    27.000000
Name: Close, dtype: float64
20170331
Date
2017-03-30    26.299999
2017-03-31    27.000000
Name: Close, dtype: float64 Date
2017-06-28    40.75
2017-06-29    41.00
Name: Close, dtype: float64
20170630
Date
2017-06-29    41.000000
2017-06-30    40.150002
Name: Close, dtype: float64 Date
2017-09-27    33.700001
2017-09-28    35.849998
Name: Close, dtype: float64
20170930
Date
2017-09-29    36.599998
Name: Close, dtype: float64 Date
2017-12-28    36.299999
2017-12-29    36.150002
Name: Close, dtype: float64
20171231
Date
2018-01-02    35.5
Name: Close, dtype: float64 Date
2018-04-02    23.4
Name: Close, dtype: float64
20180331
Date
2018-04-02    23.4
Name: Close, dtype: float64 Date
2018-07-02    27.549999
Name: Close, dtype: float64
20180630
Date
2018-06-29    26.799999
Name: Close, dtype: float64 Date
2018-09-27    30.350000
2018-09-28    31.450001
Name: Close, dtype: float64
20180930
Date
2018-10-01    31.700001
Name: Close, dtype: float64 Date
2018-12-31    14.5
Name: Close, dtype: float64
20181231
Date
2018-12-31    14.5
Name: Close, dtype: float64 Date
2019-04-01    32.880001
Name: Close, dtype: float64
20190331
Date
2019-04-01    32.880001
Name: Close, dtype: float64 Date
2019-07-01    45.610001
Name: Close, dtype: float64
20190630
Date
2019-07-01    45.610001
Name: Close, dtype: float64 Date
2019-09-30    39.09
Name: Close, dtype: float64
20190930
Date
2019-09-30    39.09
Name: Close, dtype: float64 Date
2019-12-30    33.23
Name: Close, dtype: float64
20191231
Date
2019-12-30    33.230000
2019-12-31    33.560001
Name: Close, dtype: float64 Date
2020-03-30    13.04
Name: Close, dtype: float64
20160331
Date
2016-03-30    19.41
2016-03-31    19.49
Name: Close, dtype: float64 Date
2016-06-28    23.350000
2016-06-29    24.059999
Name: Close, dtype: float64
20160630
Date
2016-06-29    24.059999
2016-06-30    24.459999
Name: Close, dtype: float64 Date
2016-09-27    27.00
2016-09-28    26.82
Name: Close, dtype: float64
20160930
Date
2016-09-29    26.58
2016-09-30    26.51
Name: Close, dtype: float64 Date
2016-12-28    25.530001
2016-12-29    25.450001
Name: Close, dtype: float64
20161231
Date
2016-12-30    25.4
Name: Close, dtype: float64 Date
2017-03-30    21.590000
2017-03-31    21.290001
Name: Close, dtype: float64
20170331
Date
2017-03-30    21.590000
2017-03-31    21.290001
Name: Close, dtype: float64 Date
2017-06-28    17.870001
2017-06-29    18.090000
Name: Close, dtype: float64
20170630
Date
2017-06-29    18.090000
2017-06-30    18.209999
Name: Close, dtype: float64 Date
2017-09-27    20.309999
2017-09-28    20.240000
Name: Close, dtype: float64
20170930
Date
2017-09-29    20.290001
Name: Close, dtype: float64 Date
2017-12-28    17.780001
2017-12-29    17.850000
Name: Close, dtype: float64
20171231
Date
2018-01-02    18.940001
Name: Close, dtype: float64 Date
2018-04-02    18.57
Name: Close, dtype: float64
20180331
Date
2018-04-02    18.57
Name: Close, dtype: float64 Date
2018-07-02    24.799999
Name: Close, dtype: float64
20180630
Date
2018-06-29    23.790001
Name: Close, dtype: float64 Date
2018-09-27    31.330000
2018-09-28    31.459999
Name: Close, dtype: float64
20180930
Date
2018-10-01    30.33
Name: Close, dtype: float64 Date
2018-12-31    25.23
Name: Close, dtype: float64
20181231
Date
2018-12-31    25.23
Name: Close, dtype: float64 Date
2019-04-01    24.41
Name: Close, dtype: float64
20190331
Date
2019-04-01    24.41
Name: Close, dtype: float64 Date
2019-07-01    13.82
Name: Close, dtype: float64
20190630
Date
2019-07-01    13.82
Name: Close, dtype: float64 Date
2019-09-30    8.48
Name: Close, dtype: float64
20190930
Date
2019-09-30    8.48
Name: Close, dtype: float64 Date
2019-12-30    10.2
Name: Close, dtype: float64
20191231
Date
2019-12-30    10.20
2019-12-31    10.53
Name: Close, dtype: float64 Date
2020-03-30    4.12
Name: Close, dtype: float64
20040630
Date
2004-06-29    70.300003
2004-06-30    66.599998
Name: Close, dtype: float64 Date
2004-09-27    56.500000
2004-09-28    57.400002
Name: Close, dtype: float64
20040930

Date
2004-09-29    55.799999
2004-09-30    54.400002
Name: Close, dtype: float64 Date
2004-12-28    76.300003
2004-12-29    80.599998
Name: Close, dtype: float64
20041231
Date
2004-12-30    80.599998
2004-12-31    80.000000
Name: Close, dtype: float64 Date
2005-03-30    47.900002
2005-03-31    46.700001
Name: Close, dtype: float64
20050331
Date
2005-03-30    47.900002
2005-03-31    46.700001
Name: Close, dtype: float64 Date
2005-06-28    46.299999
2005-06-29    47.500000
Name: Close, dtype: float64
20050630
Date
2005-06-29    47.5
2005-06-30    48.0
Name: Close, dtype: float64 Date
2005-09-27    66.599998
2005-09-28    66.000000
Name: Close, dtype: float64
20050930
Date
2005-09-29    66.300003
2005-09-30    67.000000
Name: Close, dtype: float64 Date
2005-12-28    40.500000
2005-12-29    40.599998
Name: Close, dtype: float64
20051231
Date
2005-12-30    42.099998
Name: Close, dtype: float64 Date
2006-03-30    60.900002
2006-03-31    60.299999
Name: Close, dtype: float64
20060331
Date
2006-03-30    60.900002
2006-03-31    60.299999
Name: Close, dtype: float64 Date
2006-06-28    41.900002
2006-06-29    41.500000
Name: Close, dtype: float64
20060630
Date
2006-06-29    41.5
2006-06-30    41.5
Name: Close, dtype: float64 Date
2006-09-27    43.500000
2006-09-28    42.900002
Name: Close, dtype: float64
20060930
Date
2006-09-29    43.099998
Name: Close, dtype: float64 Date
2006-12-28    92.099998
2006-12-29    91.800003
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    54.400002
Name: Close, dtype: float64 Date
2007-06-28    41.299999
2007-06-29    41.500000
Name: Close, dtype: float64
20070630
Date
2007-06-29    41.5
Name: Close, dtype: float64 Date
2007-09-27    42.599998
2007-09-28    42.900002
Name: Close, dtype: float64
20070930
Date
2007-10-01    44
Name: Close, dtype: int64 Date
2007-12-31    51.099998
Name: Close, dtype: float64
20071231
Date
2007-12-31    51.099998
Name: Close, dtype: float64 Date
2008-03-31    19.6
Name: Close, dtype: float64
20080331
Date
2008-03-31    19.6
Name: Close, dtype: float64 Date
2008-06-30    14.6
Name: Close, dtype: float64
20080630
Date
2008-06-30    14.6
Name: Close, dtype: float64 Date
2008-09-29    16.299999
Name: Close, dtype: float64
20080930
Date
2008-09-29    16.299999
2008-09-30    14.200000
Name: Close, dtype: float64 Date
2008-12-29    7.6
Name: Close, dtype: float64
20081231
Date
2008-12-30    8.0
2008-12-31    8.4
Name: Close, dtype: float64 Date
2009-03-30    6.3
2009-03-31    6.4
Name: Close, dtype: float64
20090331
Date
2009-03-30    6.3
2009-03-31    6.4
Name: Close, dtype: float64 Date
2009-06-29    13.2
Name: Close, dtype: float64
20090630
Date
2009-06-29    13.2
2009-06-30    12.9
Name: Close, dtype: float64 Date
2009-09-28    18.9
Name: Close, dtype: float64
20090930
Date
2009-09-29    18.600000
2009-09-30    18.200001
Name: Close, dtype: float64 Date
2009-12-28    14.0
2009-12-29    14.9
Name: Close, dtype: float64
20091231
Date
2009-12-30    14.3
2009-12-31    14.2
Name: Close, dtype: float64 Date
2010-03-30    12.9
2010-03-31    13.0
Name: Close, dtype: float64
20100331
Date
2010-03-30    12.9
2010-03-31    13.0
Name: Close, dtype: float64 Date
2010-06-28    20.1
2010-06-29    19.0
Name: Close, dtype: float64
20100630
Date
2010-06-29    19.0
2010-06-30    18.6
Name: Close, dtype: float64 Date
2010-09-27    17.6
2010-09-28    18.4
Name: Close, dtype: float64
20100930
Date
2010-09-29    18.500000
2010-09-30    18.299999
Name: Close, dtype: float64 Date
2010-12-28    30.500000
2010-12-29    30.700001
Name: Close, dtype: float64
20101231
Date
2010-12-30    31
2010-12-31    32
Name: Close, dtype: int64 Date
2011-03-30    28.0
2011-03-31    27.6
Name: Close, dtype: float64
20110331
Date
2011-03-30    28.0
2011-03-31    27.6
Name: Close, dtype: float64 Date
2011-06-28    27.799999
2011-06-29    27.900000
Name: Close, dtype: float64
20110630
Date
2011-06-29    27.9
2011-06-30    27.5
Name: Close, dtype: float64 Date
2011-09-27    19.799999
2011-09-28    19.100000
Name: Close, dtype: float64
20110930
Date
2011-09-29    19.299999
2011-09-30    18.600000
Name: Close, dtype: float64 Date
2011-12-28    32.599998
2011-12-29    33.000000
Name: Close, dtype: float64
20111231
Date
2011-12-30    33.200001
Name: Close, dtype: float64 Date
2012-03-29    49.000000
2012-03-30    50.299999
Name: Close, dtype: float64
20120331
Date
2012-03-30    50.299999
Name: Close, dtype: float64 Date
2012-06-28    40.599998
2012-06-29    43.200001
Name: Close, dtype: float64
20120630
Date
2012-06-29    43.200001
Name: Close, dtype: float64 Date
2012-09-27    48.000000
2012-09-28    47.599998
Name: Close, dtype: float64
20120930
Date
2012-10-01    47.599998
Name: Close, dtype: float64 Date
2012-12-31    28.5
Name: Close, dtype: float64
20121231
Date
2012-12-31    28.5
Name: Close, dtype: float64 Date
2013-04-01    21.5
Name: Close, dtype: float64
20130331
Date
2013-04-01    21.5
Name: Close, dtype: float64 Date
2013-07-01    10.7
Name: Close, dtype: float64
20130630
Date
2013-07-01    10.7
Name: Close, dtype: float64 Date
2013-09-30    11.9
Name: Close, dtype: float64
20130930
Date
2013-09-30    11.9
Name: Close, dtype: float64 Date
2013-12-30    20
Name: Close, dtype: int64
20131231
Date
2013-12-30    20.0
2013-12-31    19.6
Name: Close, dtype: float64 Date
2014-03-31    18.1
Name: Close, dtype: float64
20140331
Date
2014-03-31    18.1
Name: Close, dtype: float64 Date
2014-06-30    16
Name: Close, dtype: int64
20140630
Date
2014-06-30    16
Name: Close, dtype: int64 Date
2014-09-29    14.6
Name: Close, dtype: float64
20140930
Date
2014-09-29    14.6
2014-09-30    14.3
Name: Close, dtype: float64 Date
2014-12-29    16.32
Name: Close, dtype: float64
20141231
Date
2014-12-30    17.020000
2014-12-31    16.860001
Name: Close, dtype: float64 Date
2015-03-30    23.139999
2015-03-31    22.430000
Name: Close, dtype: float64
20150331
Date
2015-03-30    23.139999
2015-03-31    22.430000
Name: Close, dtype: float64 Date
2015-06-29    22
Name: Close, dtype: int64
20150630
Date
2015-06-29    22.00
2015-06-30    23.43
Name: Close, dtype: float64 Date
2015-09-28    24.639999
Name: Close, dtype: float64
20150930
Date
2015-09-29    23.900000
2015-09-30    24.540001
Name: Close, dtype: float64 Date
2015-12-28    24.91
2015-12-29    24.49
Name: Close, dtype: float64
20151231
Date
2015-12-30    24.049999
2015-12-31    24.160000
Name: Close, dtype: float64 Date
2016-03-29    18.420000
2016-03-30    18.049999
Name: Close, dtype: float64
20160331
Date
2016-03-30    18.049999
2016-03-31    19.240000
Name: Close, dtype: float64 Date
2016-06-28    13.69
2016-06-29    14.37
Name: Close, dtype: float64
20160630
Date
2016-06-29    14.37
2016-06-30    14.58
Name: Close, dtype: float64 Date
2016-09-27    10.91
2016-09-28    11.14
Name: Close, dtype: float64
20160930
Date
2016-09-29    10.33
2016-09-30    10.49
Name: Close, dtype: float64 Date
2016-12-28    3.95
2016-12-29    4.10
Name: Close, dtype: float64
20161231
Date
2016-12-30    3.95
Name: Close, dtype: float64 Date
2017-03-30    6.05
2017-03-31    5.95
Name: Close, dtype: float64
20170331
Date
2017-03-30    6.05
2017-03-31    5.95
Name: Close, dtype: float64 Date
2017-06-28    10.15
2017-06-29    10.00
Name: Close, dtype: float64
20170630
Date
2017-06-29    10.00
2017-06-30     9.65
Name: Close, dtype: float64 Date
2017-09-27    20.65
2017-09-28    21.25
Name: Close, dtype: float64
20170930
Date
2017-09-29    21.5
Name: Close, dtype: float64 Date
2017-12-28    19.299999
2017-12-29    18.700001
Name: Close, dtype: float64
20171231
Date
2018-01-02    18.799999
Name: Close, dtype: float64 Date
2018-04-02    18.799999
Name: Close, dtype: float64
20180331
Date
2018-04-02    18.799999
Name: Close, dtype: float64 Date
2018-07-02    15.45
Name: Close, dtype: float64
20180630
Date
2018-06-29    15.25
Name: Close, dtype: float64 Date
2018-09-27    12.1
2018-09-28    12.4
Name: Close, dtype: float64
20180930
Date
2018-10-01    11.74
Name: Close, dtype: float64 Date
2018-12-31    9.15
Name: Close, dtype: float64
20181231
Date
2018-12-31    9.15
Name: Close, dtype: float64 Date
2019-04-01    7.42
Name: Close, dtype: float64
20190331
Date
2019-04-01    7.42
Name: Close, dtype: float64 Date
2019-07-01    3.99
Name: Close, dtype: float64
20190630

Date
2019-07-01    3.99
Name: Close, dtype: float64 Date
2019-09-30    3.58
Name: Close, dtype: float64
20190930
Date
2019-09-30    3.58
Name: Close, dtype: float64 Date
2019-12-30    5.59
Name: Close, dtype: float64
20191231
Date
2019-12-30    5.59
2019-12-31    5.72
Name: Close, dtype: float64 Date
2020-03-30    3.56
Name: Close, dtype: float64
20030331
Date
2003-03-31    2.3
Name: Close, dtype: float64 Date
2003-06-30    4.7
Name: Close, dtype: float64
20030630
Date
2003-06-30    4.7
Name: Close, dtype: float64 Date
2003-09-29    2.87
Name: Close, dtype: float64
20030930
Date
2003-09-29    2.87
2003-09-30    2.81
Name: Close, dtype: float64 Date
2003-12-29    2.1
Name: Close, dtype: float64
20031231
Date
2003-12-30    2.08
2003-12-31    2.05
Name: Close, dtype: float64 Date
2004-03-29    1.82
2004-03-30    1.68
Name: Close, dtype: float64
20040331
Date
2004-03-30    1.68
2004-03-31    1.73
Name: Close, dtype: float64 Date
2004-06-28    1.15
2004-06-29    1.05
Name: Close, dtype: float64
20120331
Date
2012-03-30    6
Name: Close, dtype: int64 Date
2012-06-28    4.95
2012-06-29    5.45
Name: Close, dtype: float64
20120630
Date
2012-06-29    5.45
Name: Close, dtype: float64 Date
2012-09-27    4.51
2012-09-28    4.52
Name: Close, dtype: float64
20120930
Date
2012-10-01    4.6
Name: Close, dtype: float64 Date
2012-12-31    4.5
Name: Close, dtype: float64
20121231
Date
2012-12-31    4.5
Name: Close, dtype: float64 Date
2013-04-01    8.7
Name: Close, dtype: float64
20130331
Date
2013-04-01    8.7
Name: Close, dtype: float64 Date
2013-07-01    9.55
Name: Close, dtype: float64
20130630
Date
2013-07-01    9.55
Name: Close, dtype: float64 Date
2013-09-30    15.09
Name: Close, dtype: float64
20130930
Date
2013-09-30    15.09
Name: Close, dtype: float64 Date
2013-12-30    10.15
Name: Close, dtype: float64
20131231
Date
2013-12-30    10.15
2013-12-31    10.24
Name: Close, dtype: float64 Date
2014-03-31    7.06
Name: Close, dtype: float64
20140331
Date
2014-03-31    7.06
Name: Close, dtype: float64 Date
2014-06-30    6.77
Name: Close, dtype: float64
20140630
Date
2014-06-30    6.77
Name: Close, dtype: float64 Date
2014-09-29    5.91
Name: Close, dtype: float64
20140930
Date
2014-09-29    5.91
2014-09-30    6.00
Name: Close, dtype: float64 Date
2014-12-29    5.07
Name: Close, dtype: float64
20141231
Date
2014-12-30    5.11
2014-12-31    5.18
Name: Close, dtype: float64 Date
2015-03-30    3.2
2015-03-31    3.3
Name: Close, dtype: float64
20150331
Date
2015-03-30    3.2
2015-03-31    3.3
Name: Close, dtype: float64 Date
2015-06-29    4.94
Name: Close, dtype: float64
20150630
Date
2015-06-29    4.94
2015-06-30    5.01
Name: Close, dtype: float64 Date
2015-09-28    3.88
Name: Close, dtype: float64
20150930
Date
2015-09-29    4.04
2015-09-30    3.97
Name: Close, dtype: float64 Date
2015-12-28    4.56
2015-12-29    4.64
Name: Close, dtype: float64
20151231
Date
2015-12-30    4.33
2015-12-31    4.26
Name: Close, dtype: float64 Date
2016-03-29    3.79
2016-03-30    3.78
Name: Close, dtype: float64
20160331
Date
2016-03-30    3.78
2016-03-31    3.55
Name: Close, dtype: float64 Date
2016-06-28    3.20
2016-06-29    2.76
Name: Close, dtype: float64
20160630
Date
2016-06-29    2.76
2016-06-30    2.82
Name: Close, dtype: float64 Date
2016-09-27    2.92
2016-09-28    2.97
Name: Close, dtype: float64
20160930
Date
2016-09-29    2.96
2016-09-30    3.09
Name: Close, dtype: float64 Date
2016-12-28    2.1
2016-12-29    2.1
Name: Close, dtype: float64
20161231
Date
2016-12-30    2.1
Name: Close, dtype: float64 Date
2017-03-30    1.45
2017-03-31    1.45
Name: Close, dtype: float64
20170331
Date
2017-03-30    1.45
2017-03-31    1.45
Name: Close, dtype: float64 Date
2017-06-28    1.7
2017-06-29    1.7
Name: Close, dtype: float64
20170630
Date
2017-06-29    1.70
2017-06-30    1.65
Name: Close, dtype: float64 Date
2017-09-27    2.65
2017-09-28    2.60
Name: Close, dtype: float64
20170930
Date
2017-09-29    2.7
Name: Close, dtype: float64 Date
2017-12-28    5.10
2017-12-29    5.25
Name: Close, dtype: float64
20171231
Date
2018-01-02    5.45
Name: Close, dtype: float64 Date
2018-04-02    8.1
Name: Close, dtype: float64
20180331
Date
2018-04-02    8.1
Name: Close, dtype: float64 Date
2018-07-02    16.450001
Name: Close, dtype: float64
20180630
Date
2018-06-29    15.1
Name: Close, dtype: float64 Date
2018-09-27    8.2
2018-09-28    8.1
Name: Close, dtype: float64
20180930
Date
2018-10-01    8.3
Name: Close, dtype: float64 Date
2018-12-31    6.57
Name: Close, dtype: float64
20181231
Date
2018-12-31    6.57
Name: Close, dtype: float64 Date
2019-04-01    10.35
Name: Close, dtype: float64
20190331
Date
2019-04-01    10.35
Name: Close, dtype: float64 Date
2019-07-01    8.14
Name: Close, dtype: float64
20190630
Date
2019-07-01    8.14
Name: Close, dtype: float64 Date
2019-09-30    8.01
Name: Close, dtype: float64
20190930
Date
2019-09-30    8.01
Name: Close, dtype: float64 Date
2019-12-30    8.01
Name: Close, dtype: float64
20191231
Date
2019-12-30    8.01
2019-12-31    7.92
Name: Close, dtype: float64 Date
2020-03-30    7.29
Name: Close, dtype: float64
20030331
Date
2003-03-31    18
Name: Close, dtype: int64 Date
2003-06-30    34.200001
Name: Close, dtype: float64
20030630
Date
2003-06-30    34.200001
Name: Close, dtype: float64 Date
2003-09-29    39.299999
Name: Close, dtype: float64
20030930
Date
2003-09-29    39.299999
2003-09-30    39.500000
Name: Close, dtype: float64 Date
2003-12-29    40
Name: Close, dtype: int64
20031231
Date
2003-12-30    39.900002
2003-12-31    39.500000
Name: Close, dtype: float64 Date
2004-03-29    53.400002
2004-03-30    52.599998
Name: Close, dtype: float64
20040331
Date
2004-03-30    52.599998
2004-03-31    55.500000
Name: Close, dtype: float64 Date
2004-06-28    48.0
2004-06-29    48.5
Name: Close, dtype: float64
20040630
Date
2004-06-29    48.500000
2004-06-30    48.400002
Name: Close, dtype: float64 Date
2004-09-27    66.599998
2004-09-28    68.099998
Name: Close, dtype: float64
20040930
Date
2004-09-29    67.800003
2004-09-30    67.800003
Name: Close, dtype: float64 Date
2004-12-28    62.000000
2004-12-29    65.599998
Name: Close, dtype: float64
20041231
Date
2004-12-30    68.800003
2004-12-31    68.500000
Name: Close, dtype: float64 Date
2005-03-30    59.0
2005-03-31    57.5
Name: Close, dtype: float64
20050331
Date
2005-03-30    59.0
2005-03-31    57.5
Name: Close, dtype: float64 Date
2005-06-28    45.799999
2005-06-29    46.299999
Name: Close, dtype: float64
20050630
Date
2005-06-29    46.299999
2005-06-30    45.099998
Name: Close, dtype: float64 Date
2005-09-27    47.200001
2005-09-28    51.000000
Name: Close, dtype: float64
20050930
Date
2005-09-29    50.500000
2005-09-30    50.799999
Name: Close, dtype: float64 Date
2005-12-28    67.5
2005-12-29    68.0
Name: Close, dtype: float64
20051231
Date
2005-12-30    69
Name: Close, dtype: int64 Date
2006-03-30    44.0
2006-03-31    47.5
Name: Close, dtype: float64
20060331
Date
2006-03-30    44.0
2006-03-31    47.5
Name: Close, dtype: float64 Date
2006-06-28    35.000000
2006-06-29    34.099998
Name: Close, dtype: float64
20060630
Date
2006-06-29    34.099998
2006-06-30    35.400002
Name: Close, dtype: float64 Date
2006-09-27    41.400002
2006-09-28    40.099998
Name: Close, dtype: float64
20060930
Date
2006-09-29    40.099998
Name: Close, dtype: float64 Date
2006-12-28    35
2006-12-29    35
Name: Close, dtype: int64
20061231
error
20070331
Date
2007-03-30    39.299999
Name: Close, dtype: float64 Date
2007-06-28    42.400002
2007-06-29    44.700001
Name: Close, dtype: float64
20070630
Date
2007-06-29    44.700001
Name: Close, dtype: float64 Date
2007-09-27    39.799999
2007-09-28    39.400002
Name: Close, dtype: float64
20070930
Date
2007-10-01    38.700001
Name: Close, dtype: float64 Date
2007-12-31    28
Name: Close, dtype: int64
20071231
Date
2007-12-31    28
Name: Close, dtype: int64 Date
2008-03-31    29.9
Name: Close, dtype: float64
20080331
Date
2008-03-31    29.9
Name: Close, dtype: float64 Date
2008-06-30    23.1
Name: Close, dtype: float64
20080630
Date
2008-06-30    23.1
Name: Close, dtype: float64 Date
2008-09-29    20.5
Name: Close, dtype: float64
20080930
Date
2008-09-29    20.500000
2008-09-30    20.799999
Name: Close, dtype: float64 Date
2008-12-29    10.9
Name: Close, dtype: float64
20081231

Date
2008-12-30    12.1
2008-12-31    12.0
Name: Close, dtype: float64 Date
2009-03-30    20.500000
2009-03-31    21.200001
Name: Close, dtype: float64
20090331
Date
2009-03-30    20.500000
2009-03-31    21.200001
Name: Close, dtype: float64 Date
2009-06-29    33.599998
Name: Close, dtype: float64
20090630
Date
2009-06-29    33.599998
2009-06-30    33.500000
Name: Close, dtype: float64 Date
2009-09-28    58.5
Name: Close, dtype: float64
20090930
Date
2009-09-29    59.599998
2009-09-30    61.900002
Name: Close, dtype: float64 Date
2009-12-28    54.500000
2009-12-29    55.200001
Name: Close, dtype: float64
20091231
Date
2009-12-30    54.599998
2009-12-31    52.799999
Name: Close, dtype: float64 Date
2010-03-30    39.400002
2010-03-31    40.400002
Name: Close, dtype: float64
20100331
Date
2010-03-30    39.400002
2010-03-31    40.400002
Name: Close, dtype: float64 Date
2010-06-28    48.900002
2010-06-29    45.799999
Name: Close, dtype: float64
20100630
Date
2010-06-29    45.799999
2010-06-30    45.299999
Name: Close, dtype: float64 Date
2010-09-27    46.400002
2010-09-28    45.799999
Name: Close, dtype: float64
20100930
Date
2010-09-29    45.099998
2010-09-30    45.599998
Name: Close, dtype: float64 Date
2010-12-28    75.300003
2010-12-29    73.400002
Name: Close, dtype: float64
20101231
Date
2010-12-30    71.5
2010-12-31    71.5
Name: Close, dtype: float64 Date
2011-03-30    68.199997
2011-03-31    67.800003
Name: Close, dtype: float64
20110331
Date
2011-03-30    68.199997
2011-03-31    67.800003
Name: Close, dtype: float64 Date
2011-06-28    92.599998
2011-06-29    92.699997
Name: Close, dtype: float64
20110630
Date
2011-06-29    92.699997
2011-06-30    93.000000
Name: Close, dtype: float64 Date
2011-09-27    109.400002
2011-09-28    104.800003
Name: Close, dtype: float64
20110930
Date
2011-09-29    105.500000
2011-09-30    100.400002
Name: Close, dtype: float64 Date
2011-12-28    116.699997
2011-12-29    117.099998
Name: Close, dtype: float64
20111231
Date
2011-12-30    114.800003
Name: Close, dtype: float64 Date
2012-03-29    142.399994
2012-03-30    146.500000
Name: Close, dtype: float64
20120331
Date
2012-03-30    146.5
Name: Close, dtype: float64 Date
2012-06-28    148.699997
2012-06-29    154.399994
Name: Close, dtype: float64
20120630
Date
2012-06-29    154.399994
Name: Close, dtype: float64 Date
2012-09-27    138.199997
2012-09-28    138.199997
Name: Close, dtype: float64
20120930
Date
2012-10-01    136
Name: Close, dtype: int64 Date
2012-12-31    142.399994
Name: Close, dtype: float64
20121231
Date
2012-12-31    142.399994
Name: Close, dtype: float64 Date
2013-04-01    158.399994
Name: Close, dtype: float64
20130331
Date
2013-04-01    158.399994
Name: Close, dtype: float64 Date
2013-07-01    140
Name: Close, dtype: int64
20130630
Date
2013-07-01    140
Name: Close, dtype: int64 Date
2013-09-30    161.399994
Name: Close, dtype: float64
20130930
Date
2013-09-30    161.399994
Name: Close, dtype: float64 Date
2013-12-30    174.199997
Name: Close, dtype: float64
20131231
Date
2013-12-30    174.199997
2013-12-31    174.399994
Name: Close, dtype: float64 Date
2014-03-31    128.699997
Name: Close, dtype: float64
20140331
Date
2014-03-31    128.699997
Name: Close, dtype: float64 Date
2014-06-30    152.100006
Name: Close, dtype: float64
20140630
Date
2014-06-30    152.100006
Name: Close, dtype: float64 Date
2014-09-29    108.599998
Name: Close, dtype: float64
20140930
Date
2014-09-29    108.599998
2014-09-30    106.000000
Name: Close, dtype: float64 Date
2014-12-29    157.899994
Name: Close, dtype: float64
20141231
Date
2014-12-30    154.500000
2014-12-31    152.899994
Name: Close, dtype: float64 Date
2015-03-30    168.300003
2015-03-31    170.699997
Name: Close, dtype: float64
20150331
Date
2015-03-30    168.300003
2015-03-31    170.699997
Name: Close, dtype: float64 Date
2015-06-29    153.699997
Name: Close, dtype: float64
20150630
Date
2015-06-29    153.699997
2015-06-30    153.399994
Name: Close, dtype: float64 Date
2015-09-28    117.099998
Name: Close, dtype: float64
20150930
Date
2015-09-29    118.800003
2015-09-30    122.599998
Name: Close, dtype: float64 Date
2015-12-28    101.900002
2015-12-29    101.099998
Name: Close, dtype: float64
20151231
Date
2015-12-30    100.099998
2015-12-31     99.000000
Name: Close, dtype: float64 Date
2016-03-29    84.5
2016-03-30    83.0
Name: Close, dtype: float64
20160331
Date
2016-03-30    83.000000
2016-03-31    83.599998
Name: Close, dtype: float64 Date
2016-06-28    119.099998
2016-06-29    123.500000
Name: Close, dtype: float64
20160630
Date
2016-06-29    123.500000
2016-06-30    124.599998
Name: Close, dtype: float64 Date
2016-09-27    129.199997
2016-09-28    129.300003
Name: Close, dtype: float64
20160930
Date
2016-09-29    123.900002
2016-09-30    128.000000
Name: Close, dtype: float64 Date
2016-12-28    53.299999
2016-12-29    59.200001
Name: Close, dtype: float64
20161231
Date
2016-12-30    57.200001
Name: Close, dtype: float64 Date
2017-03-30    71.199997
2017-03-31    72.400002
Name: Close, dtype: float64
20170331
Date
2017-03-30    71.199997
2017-03-31    72.400002
Name: Close, dtype: float64 Date
2017-06-28    49.799999
2017-06-29    49.799999
Name: Close, dtype: float64
20170630
Date
2017-06-29    49.799999
2017-06-30    48.599998
Name: Close, dtype: float64 Date
2017-09-27    44.000000
2017-09-28    44.599998
Name: Close, dtype: float64
20170930
Date
2017-09-29    44.599998
Name: Close, dtype: float64 Date
2017-12-28    51.599998
2017-12-29    53.500000
Name: Close, dtype: float64
20171231
Date
2018-01-02    51.700001
Name: Close, dtype: float64 Date
2018-04-02    41.099998
Name: Close, dtype: float64
20180331
Date
2018-04-02    41.099998
Name: Close, dtype: float64 Date
2018-07-02    56.5
Name: Close, dtype: float64
20180630
Date
2018-06-29    56.599998
Name: Close, dtype: float64 Date
2018-09-27    18.9
2018-09-28    19.1
Name: Close, dtype: float64
20180930
Date
2018-10-01    17.6
Name: Close, dtype: float64 Date
2018-12-31    7.2
Name: Close, dtype: float64
20181231
Date
2018-12-31    7.2
Name: Close, dtype: float64 Date
2019-04-01    6.95
Name: Close, dtype: float64
20190331
Date
2019-04-01    6.95
Name: Close, dtype: float64 Date
2019-07-01    7.4
Name: Close, dtype: float64
20190630
Date
2019-07-01    7.4
Name: Close, dtype: float64 Date
2019-09-30    3.97
Name: Close, dtype: float64
20190930
Date
2019-09-30    3.97
Name: Close, dtype: float64 Date
2019-12-30    1.68
Name: Close, dtype: float64
20191231
Date
2019-12-30    1.68
2019-12-31    1.58
Name: Close, dtype: float64 Date
2020-03-30    0.7553
Name: Close, dtype: float64
20140630
Date
2014-06-30    15.12
Name: Close, dtype: float64 Date
2014-09-29    11.69
Name: Close, dtype: float64
20140930
Date
2014-09-29    11.69
2014-09-30    11.34
Name: Close, dtype: float64 Date
2014-12-29    10.3
Name: Close, dtype: float64
20141231
Date
2014-12-30    10.88
2014-12-31    10.96
Name: Close, dtype: float64 Date
2015-03-30    9.84
2015-03-31    9.44
Name: Close, dtype: float64
20150331
Date
2015-03-30    9.84
2015-03-31    9.44
Name: Close, dtype: float64 Date
2015-06-29    7.06
Name: Close, dtype: float64
20150630
Date
2015-06-29    7.06
2015-06-30    7.70
Name: Close, dtype: float64 Date
2015-09-28    6.69
Name: Close, dtype: float64
20150930
Date
2015-09-29    6.52
2015-09-30    6.90
Name: Close, dtype: float64 Date
2015-12-28    8.10
2015-12-29    8.17
Name: Close, dtype: float64
20151231
Date
2015-12-30    7.99
2015-12-31    7.91
Name: Close, dtype: float64 Date
2016-03-29    11.015
2016-03-30    10.180
Name: Close, dtype: float64
20160331
Date
2016-03-30    10.18
2016-03-31    10.10
Name: Close, dtype: float64 Date
2016-06-28    12.16
2016-06-29    12.38
Name: Close, dtype: float64
20160630
Date
2016-06-29    12.38
2016-06-30    12.95
Name: Close, dtype: float64 Date
2016-09-27    18.40
2016-09-28    18.33
Name: Close, dtype: float64
20160930
Date
2016-09-29    18.700001
2016-09-30    19.610001
Name: Close, dtype: float64 Date
2016-12-28    17.930000
2016-12-29    17.120001
Name: Close, dtype: float64
20161231
Date
2016-12-30    16.85
Name: Close, dtype: float64 Date
2017-03-30    15.59
2017-03-31    15.60
Name: Close, dtype: float64
20170331

Date
2017-03-30    15.59
2017-03-31    15.60
Name: Close, dtype: float64 Date
2017-06-28    15.390000
2017-06-29    16.450001
Name: Close, dtype: float64
20170630
Date
2017-06-29    16.450001
2017-06-30    16.260000
Name: Close, dtype: float64 Date
2017-09-27    12.53
2017-09-28    12.58
Name: Close, dtype: float64
20170930
Date
2017-09-29    12.66
Name: Close, dtype: float64 Date
2017-12-28    31.570000
2017-12-29    19.450001
Name: Close, dtype: float64
20171231
Date
2018-01-02    22.34
Name: Close, dtype: float64 Date
2018-04-02    15.58
Name: Close, dtype: float64
20180331
Date
2018-04-02    15.58
Name: Close, dtype: float64 Date
2018-07-02    14.48
Name: Close, dtype: float64
20180630
Date
2018-06-29    14.83
Name: Close, dtype: float64 Date
2018-09-27    10.19
2018-09-28    10.12
Name: Close, dtype: float64
20180930
Date
2018-10-01    10.15
Name: Close, dtype: float64 Date
2018-12-31    5.79
Name: Close, dtype: float64
20181231
Date
2018-12-31    5.79
Name: Close, dtype: float64 Date
2019-04-01    6.08
Name: Close, dtype: float64
20190331
Date
2019-04-01    6.08
Name: Close, dtype: float64 Date
2019-07-01    4.27
Name: Close, dtype: float64
20190630
Date
2019-07-01    4.27
Name: Close, dtype: float64 Date
2019-09-30    3.315
Name: Close, dtype: float64
20190930
Date
2019-09-30    3.315
Name: Close, dtype: float64 Date
2019-12-30    1.74
Name: Close, dtype: float64
20191231
Date
2019-12-30    1.74
2019-12-31    1.77
Name: Close, dtype: float64 Date
2020-03-30    0.75
Name: Close, dtype: float64
20081231
Date
2008-12-30    7.34
2008-12-31    7.58
Name: Close, dtype: float64 Date
2009-03-30    7.47
2009-03-31    7.60
Name: Close, dtype: float64
20090331
Date
2009-03-30    7.47
2009-03-31    7.60
Name: Close, dtype: float64 Date
2009-06-29    7.09
Name: Close, dtype: float64
20090630
Date
2009-06-29    7.09
2009-06-30    7.08
Name: Close, dtype: float64 Date
2009-09-28    5.95
Name: Close, dtype: float64
20090930
Date
2009-09-29    5.97
2009-09-30    5.84
Name: Close, dtype: float64 Date
2009-12-28    7.03
2009-12-29    6.86
Name: Close, dtype: float64
20091231
Date
2009-12-30    6.73
2009-12-31    6.88
Name: Close, dtype: float64 Date
2010-03-30    6.38
2010-03-31    6.30
Name: Close, dtype: float64
20100331
Date
2010-03-30    6.38
2010-03-31    6.30
Name: Close, dtype: float64 Date
2010-06-28    4.48
2010-06-29    4.30
Name: Close, dtype: float64
20100630
Date
2010-06-29    4.3
2010-06-30    4.0
Name: Close, dtype: float64 Date
2010-09-27    3.64
2010-09-28    3.59
Name: Close, dtype: float64
20100930
Date
2010-09-29    3.61
2010-09-30    3.59
Name: Close, dtype: float64 Date
2010-12-28    3.69
2010-12-29    3.70
Name: Close, dtype: float64
20101231
Date
2010-12-30    3.64
2010-12-31    3.66
Name: Close, dtype: float64 Date
2011-03-30    3.37
2011-03-31    3.18
Name: Close, dtype: float64
20110331
Date
2011-03-30    3.37
2011-03-31    3.18
Name: Close, dtype: float64 Date
2011-06-28    3.38
2011-06-29    3.30
Name: Close, dtype: float64
20110630
Date
2011-06-29    3.30
2011-06-30    3.27
Name: Close, dtype: float64 Date
2011-09-27    2.90
2011-09-28    2.99
Name: Close, dtype: float64
20110930
Date
2011-09-29    3.1
2011-09-30    3.0
Name: Close, dtype: float64 Date
2011-12-28    2.68
2011-12-29    2.73
Name: Close, dtype: float64
20111231
Date
2011-12-30    2.58
Name: Close, dtype: float64 Date
2012-03-29    2.33
2012-03-30    2.30
Name: Close, dtype: float64
20120331
Date
2012-03-30    2.3
Name: Close, dtype: float64 Date
2012-06-28    2.32
2012-06-29    2.40
Name: Close, dtype: float64
20120630
Date
2012-06-29    2.4
Name: Close, dtype: float64 Date
2012-09-27    2.98
2012-09-28    2.95
Name: Close, dtype: float64
20120930
Date
2012-10-01    2.86
Name: Close, dtype: float64 Date
2012-12-31    3.4
Name: Close, dtype: float64
20121231
Date
2012-12-31    3.4
Name: Close, dtype: float64 Date
2013-04-01    3.61
Name: Close, dtype: float64
20130331
Date
2013-04-01    3.61
Name: Close, dtype: float64 Date
2013-07-01    4.21
Name: Close, dtype: float64
20130630
Date
2013-07-01    4.21
Name: Close, dtype: float64 Date
2013-09-30    7.24
Name: Close, dtype: float64
20130930
Date
2013-09-30    7.24
Name: Close, dtype: float64 Date
2013-12-30    5.77
Name: Close, dtype: float64
20131231
Date
2013-12-30    5.77
2013-12-31    5.55
Name: Close, dtype: float64 Date
2014-03-31    5.32
Name: Close, dtype: float64
20140331
Date
2014-03-31    5.32
Name: Close, dtype: float64 Date
2014-06-30    4.92
Name: Close, dtype: float64
20140630
Date
2014-06-30    4.92
Name: Close, dtype: float64 Date
2014-09-29    3.61
Name: Close, dtype: float64
20140930
Date
2014-09-29    3.61
2014-09-30    3.54
Name: Close, dtype: float64 Date
2014-12-29    5.37
Name: Close, dtype: float64
20141231
Date
2014-12-30    5.36
2014-12-31    5.27
Name: Close, dtype: float64 Date
2015-03-30    2.59
2015-03-31    2.59
Name: Close, dtype: float64
20150331
Date
2015-03-30    2.59
2015-03-31    2.59
Name: Close, dtype: float64 Date
2015-06-29    2.56
Name: Close, dtype: float64
20150630
Date
2015-06-29    2.56
2015-06-30    2.74
Name: Close, dtype: float64 Date
2015-09-28    2.16
Name: Close, dtype: float64
20150930
Date
2015-09-29    2.11
2015-09-30    2.14
Name: Close, dtype: float64 Date
2015-12-28    7.10
2015-12-29    7.17
Name: Close, dtype: float64
20151231
Date
2015-12-30    7.16
2015-12-31    7.07
Name: Close, dtype: float64 Date
2016-03-29     9.88
2016-03-30    10.04
Name: Close, dtype: float64
20160331
Date
2016-03-30    10.04
2016-03-31    10.34
Name: Close, dtype: float64 Date
2016-06-28    8.35
2016-06-29    8.66
Name: Close, dtype: float64
20160630
Date
2016-06-29    8.66
2016-06-30    8.89
Name: Close, dtype: float64 Date
2016-09-27    16.350000
2016-09-28    16.200001
Name: Close, dtype: float64
20160930
Date
2016-09-29    16.01
2016-09-30    15.98
Name: Close, dtype: float64 Date
2016-12-28    10.49
2016-12-29    10.40
Name: Close, dtype: float64
20161231
Date
2016-12-30    10.35
Name: Close, dtype: float64 Date
2017-03-30    8.32
2017-03-31    8.32
Name: Close, dtype: float64
20170331
Date
2017-03-30    8.32
2017-03-31    8.32
Name: Close, dtype: float64 Date
2017-06-28    8.32
2017-06-29    8.37
Name: Close, dtype: float64
20170630
Date
2017-06-29    8.37
2017-06-30    8.29
Name: Close, dtype: float64 Date
2017-09-27    7.53
2017-09-28    7.68
Name: Close, dtype: float64
20170930
Date
2017-09-29    7.9
Name: Close, dtype: float64 Date
2017-12-28    8.93
2017-12-29    8.75
Name: Close, dtype: float64
20171231
Date
2018-01-02    8.93
Name: Close, dtype: float64 Date
2018-04-02    8.15
Name: Close, dtype: float64
20180331
Date
2018-04-02    8.15
Name: Close, dtype: float64 Date
2018-07-02    7.97
Name: Close, dtype: float64
20180630
Date
2018-06-29    8.08
Name: Close, dtype: float64 Date
2018-09-27    9.02
2018-09-28    8.95
Name: Close, dtype: float64
20180930
Date
2018-10-01    8.73
Name: Close, dtype: float64 Date
2018-12-31    6.73
Name: Close, dtype: float64
20181231
Date
2018-12-31    6.73
Name: Close, dtype: float64 Date
2019-04-01    8.79
Name: Close, dtype: float64
20190331
Date
2019-04-01    8.79
Name: Close, dtype: float64 Date
2019-07-01    10.53
Name: Close, dtype: float64
20190630
Date
2019-07-01    10.53
Name: Close, dtype: float64 Date
2019-09-30    9.27
Name: Close, dtype: float64
20190930
Date
2019-09-30    9.27
Name: Close, dtype: float64 Date
2019-12-30    9.84
Name: Close, dtype: float64
20191231
Date
2019-12-30    9.84
2019-12-31    9.79
Name: Close, dtype: float64 Date
2020-03-30    7.05
Name: Close, dtype: float64
20120930
Date
2012-10-01    15.55
Name: Close, dtype: float64 Date
2012-12-31    15.32
Name: Close, dtype: float64
20121231
Date
2012-12-31    15.32
Name: Close, dtype: float64 Date
2013-04-01    26.18
Name: Close, dtype: float64
20130331
Date
2013-04-01    26.18
Name: Close, dtype: float64 Date
2013-07-01    34.459999
Name: Close, dtype: float64
20130630
Date
2013-07-01    34.459999
Name: Close, dtype: float64 Date
2013-09-30    37.630001
Name: Close, dtype: float64
20130930
Date
2013-09-30    37.630001
Name: Close, dtype: float64 Date
2013-12-30    52.459999
Name: Close, dtype: float64
20131231
Date
2013-12-30    52.459999
2013-12-31    52.240002
Name: Close, dtype: float64 Date
2014-03-31    45.59
Name: Close, dtype: float64
20140331

Date
2014-03-31    45.59
Name: Close, dtype: float64 Date
2014-06-30    46.41
Name: Close, dtype: float64
20140630
Date
2014-06-30    46.41
Name: Close, dtype: float64 Date
2014-09-29    50.450001
Name: Close, dtype: float64
20140930
Date
2014-09-29    50.450001
2014-09-30    49.680000
Name: Close, dtype: float64 Date
2014-12-29    58.240002
Name: Close, dtype: float64
20141231
Date
2014-12-30    60.779999
2014-12-31    60.799999
Name: Close, dtype: float64 Date
2015-03-30    62.029999
2015-03-31    61.000000
Name: Close, dtype: float64
20150331
Date
2015-03-30    62.029999
2015-03-31    61.000000
Name: Close, dtype: float64 Date
2015-06-29    49.220001
Name: Close, dtype: float64
20150630
Date
2015-06-29    49.220001
2015-06-30    50.000000
Name: Close, dtype: float64 Date
2015-09-28    45.650002
Name: Close, dtype: float64
20150930
Date
2015-09-29    45.709999
2015-09-30    45.369999
Name: Close, dtype: float64 Date
2015-12-28    34.000000
2015-12-29    34.009998
Name: Close, dtype: float64
20151231
Date
2015-12-30    33.570000
2015-12-31    33.599998
Name: Close, dtype: float64 Date
2016-03-29    31.73
2016-03-30    31.93
Name: Close, dtype: float64
20160331
Date
2016-03-30    31.930000
2016-03-31    32.779999
Name: Close, dtype: float64 Date
2016-06-28    21.66
2016-06-29    21.99
Name: Close, dtype: float64
20160630
Date
2016-06-29    21.990000
2016-06-30    21.809999
Name: Close, dtype: float64 Date
2016-09-27    25.969999
2016-09-28    25.620001
Name: Close, dtype: float64
20160930
Date
2016-09-29    23.860001
2016-09-30    24.000000
Name: Close, dtype: float64 Date
2016-12-28    30.1
2016-12-29    30.1
Name: Close, dtype: float64
20161231
Date
2016-12-30    29.85
Name: Close, dtype: float64 Date
2017-03-30    23.950001
2017-03-31    24.200001
Name: Close, dtype: float64
20170331
Date
2017-03-30    23.950001
2017-03-31    24.200001
Name: Close, dtype: float64 Date
2017-06-28    20.700001
2017-06-29    20.700001
Name: Close, dtype: float64
20170630
Date
2017-06-29    20.700001
2017-06-30    20.650000
Name: Close, dtype: float64 Date
2017-09-27    18.400000
2017-09-28    18.950001
Name: Close, dtype: float64
20170930
Date
2017-09-29    19
Name: Close, dtype: int64 Date
2017-12-28    18.85
2017-12-29    19.00
Name: Close, dtype: float64
20171231
Date
2018-01-02    19.25
Name: Close, dtype: float64 Date
2018-04-02    18.049999
Name: Close, dtype: float64
20180331
Date
2018-04-02    18.049999
Name: Close, dtype: float64 Date
2018-07-02    29.75
Name: Close, dtype: float64
20180630
Date
2018-06-29    28.700001
Name: Close, dtype: float64 Date
2018-09-27    26.15
2018-09-28    26.75
Name: Close, dtype: float64
20180930
Date
2018-10-01    26.27
Name: Close, dtype: float64 Date
2018-12-31    15.51
Name: Close, dtype: float64
20181231
Date
2018-12-31    15.51
Name: Close, dtype: float64 Date
2019-04-01    13.06
Name: Close, dtype: float64
20190331
Date
2019-04-01    13.06
Name: Close, dtype: float64 Date
2019-07-01    12.9
Name: Close, dtype: float64
20190630
Date
2019-07-01    12.9
Name: Close, dtype: float64 Date
2019-09-30    10.42
Name: Close, dtype: float64
20190930
Date
2019-09-30    10.42
Name: Close, dtype: float64 Date
2019-12-30    9.45
Name: Close, dtype: float64
20191231
Date
2019-12-30    9.45
2019-12-31    9.89
Name: Close, dtype: float64 Date
2020-03-30    4.21
Name: Close, dtype: float64
20100930
Date
2010-09-29    3.41
2010-09-30    3.36
Name: Close, dtype: float64 Date
2010-12-28    4.24
2010-12-29    4.10
Name: Close, dtype: float64
20101231
Date
2010-12-30    4.15
2010-12-31    4.09
Name: Close, dtype: float64 Date
2011-03-30    4.00
2011-03-31    3.99
Name: Close, dtype: float64
20110331
Date
2011-03-30    4.00
2011-03-31    3.99
Name: Close, dtype: float64 Date
2011-06-28    5.80
2011-06-29    5.89
Name: Close, dtype: float64
20110630
Date
2011-06-29    5.89
2011-06-30    5.85
Name: Close, dtype: float64 Date
2011-09-27    5.9
2011-09-28    5.9
Name: Close, dtype: float64
20110930
Date
2011-09-29    5.68
2011-09-30    5.75
Name: Close, dtype: float64 Date
2011-12-28    4.22
2011-12-29    4.20
Name: Close, dtype: float64
20111231
Date
2011-12-30    4.12
Name: Close, dtype: float64 Date
2012-03-29    4.14
2012-03-30    4.05
Name: Close, dtype: float64
20120331
Date
2012-03-30    4.05
Name: Close, dtype: float64 Date
2012-06-28    4.21
2012-06-29    4.34
Name: Close, dtype: float64
20120630
Date
2012-06-29    4.34
Name: Close, dtype: float64 Date
2012-09-27    9.15
2012-09-28    9.21
Name: Close, dtype: float64
20120930
Date
2012-10-01    9.37
Name: Close, dtype: float64 Date
2012-12-31    9
Name: Close, dtype: int64
20121231
Date
2012-12-31    9
Name: Close, dtype: int64 Date
2013-04-01    13.3
Name: Close, dtype: float64
20130331
Date
2013-04-01    13.3
Name: Close, dtype: float64 Date
2013-07-01    10.53
Name: Close, dtype: float64
20130630
Date
2013-07-01    10.53
Name: Close, dtype: float64 Date
2013-09-30    12.14
Name: Close, dtype: float64
20130930
Date
2013-09-30    12.14
Name: Close, dtype: float64 Date
2013-12-30    13.21
Name: Close, dtype: float64
20131231
Date
2013-12-30    13.21
2013-12-31    13.29
Name: Close, dtype: float64 Date
2014-03-31    9.94
Name: Close, dtype: float64
20140331
Date
2014-03-31    9.94
Name: Close, dtype: float64 Date
2014-06-30    13.53
Name: Close, dtype: float64
20140630
Date
2014-06-30    13.53
Name: Close, dtype: float64 Date
2014-09-29    9.08
Name: Close, dtype: float64
20140930
Date
2014-09-29    9.08
2014-09-30    8.97
Name: Close, dtype: float64 Date
2014-12-29    13.71
Name: Close, dtype: float64
20141231
Date
2014-12-30    13.60
2014-12-31    13.61
Name: Close, dtype: float64 Date
2015-03-30    13.30
2015-03-31    12.98
Name: Close, dtype: float64
20150331
Date
2015-03-30    13.30
2015-03-31    12.98
Name: Close, dtype: float64 Date
2015-06-29    9.1
Name: Close, dtype: float64
20150630
Date
2015-06-29    9.10
2015-06-30    9.06
Name: Close, dtype: float64 Date
2015-09-28    7.63
Name: Close, dtype: float64
20150930
Date
2015-09-29    7.51
2015-09-30    7.87
Name: Close, dtype: float64 Date
2015-12-28    7.48
2015-12-29    7.90
Name: Close, dtype: float64
20151231
Date
2015-12-30    7.77
2015-12-31    7.76
Name: Close, dtype: float64 Date
2016-03-29    5.20
2016-03-30    5.12
Name: Close, dtype: float64
20160331
Date
2016-03-30    5.12
2016-03-31    5.27
Name: Close, dtype: float64 Date
2016-06-28    8.28
2016-06-29    8.67
Name: Close, dtype: float64
20160630
Date
2016-06-29    8.67
2016-06-30    8.70
Name: Close, dtype: float64 Date
2016-09-27    11.95
2016-09-28    11.69
Name: Close, dtype: float64
20160930
Date
2016-09-29    10.88
2016-09-30    11.80
Name: Close, dtype: float64 Date
2016-12-28    12.54
2016-12-29    12.49
Name: Close, dtype: float64
20161231
Date
2016-12-30    12.24
Name: Close, dtype: float64 Date
2017-03-30    12.79
2017-03-31    12.82
Name: Close, dtype: float64
20170331
Date
2017-03-30    12.79
2017-03-31    12.82
Name: Close, dtype: float64 Date
2017-06-28    12.51
2017-06-29    12.06
Name: Close, dtype: float64
20170630
Date
2017-06-29    12.06
2017-06-30    11.83
Name: Close, dtype: float64 Date
2017-09-27    9.49
2017-09-28    9.39
Name: Close, dtype: float64
20170930
Date
2017-09-29    9.63
Name: Close, dtype: float64 Date
2017-12-28    4.29
2017-12-29    4.17
Name: Close, dtype: float64
20171231
Date
2018-01-02    4.65
Name: Close, dtype: float64 Date
2018-04-02    5.13
Name: Close, dtype: float64
20180331
Date
2018-04-02    5.13
Name: Close, dtype: float64 Date
2018-07-02    6.59
Name: Close, dtype: float64
20180630
Date
2018-06-29    6.38
Name: Close, dtype: float64 Date
2018-09-27    7.60
2018-09-28    7.35
Name: Close, dtype: float64
20180930
Date
2018-10-01    7
Name: Close, dtype: int64 Date
2018-12-31    4.86
Name: Close, dtype: float64
20181231
Date
2018-12-31    4.86
Name: Close, dtype: float64 Date
2019-04-01    7.03
Name: Close, dtype: float64
20190331
Date
2019-04-01    7.03
Name: Close, dtype: float64 Date
2019-07-01    6.46
Name: Close, dtype: float64
20190630
Date
2019-07-01    6.46
Name: Close, dtype: float64 Date
2019-09-30    6.06
Name: Close, dtype: float64
20190930
Date
2019-09-30    6.06
Name: Close, dtype: float64 Date
2019-12-30    4.76
Name: Close, dtype: float64
20191231

Date
2019-12-30    4.76
2019-12-31    4.81
Name: Close, dtype: float64 Date
2020-03-30    4.06
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20160630
Date
2016-06-29    13.77
2016-06-30    14.10
Name: Close, dtype: float64 Date
2016-09-27    12.58
2016-09-28    12.81
Name: Close, dtype: float64
20160930
Date
2016-09-29    12.56
2016-09-30    12.51
Name: Close, dtype: float64 Date
2016-12-28    10.31
2016-12-29    10.57
Name: Close, dtype: float64
20161231
Date
2016-12-30    10.59
Name: Close, dtype: float64 Date
2017-03-30    9.68
2017-03-31    9.50
Name: Close, dtype: float64
20170331
Date
2017-03-30    9.68
2017-03-31    9.50
Name: Close, dtype: float64 Date
2017-06-28    9.33
2017-06-29    9.27
Name: Close, dtype: float64
20170630
Date
2017-06-29    9.27
2017-06-30    9.29
Name: Close, dtype: float64 Date
2017-09-27    12.70
2017-09-28    12.54
Name: Close, dtype: float64
20170930
Date
2017-09-29    12.35
Name: Close, dtype: float64 Date
2017-12-28    9.26
2017-12-29    8.87
Name: Close, dtype: float64
20171231
Date
2018-01-02    9
Name: Close, dtype: int64 Date
2018-04-02    8.02
Name: Close, dtype: float64
20180331
Date
2018-04-02    8.02
Name: Close, dtype: float64 Date
2018-07-02    11.94
Name: Close, dtype: float64
20180630
Date
2018-06-29    12.45
Name: Close, dtype: float64 Date
2018-09-27    14.49
2018-09-28    14.65
Name: Close, dtype: float64
20180930
Date
2018-10-01    13.92
Name: Close, dtype: float64 Date
2018-12-31    16.889999
Name: Close, dtype: float64
20181231
Date
2018-12-31    16.889999
Name: Close, dtype: float64 Date
2019-04-01    18.74
Name: Close, dtype: float64
20190331
Date
2019-04-01    18.74
Name: Close, dtype: float64 Date
2019-07-01    12.53
Name: Close, dtype: float64
20190630
Date
2019-07-01    12.53
Name: Close, dtype: float64 Date
2019-09-30    12.93
Name: Close, dtype: float64
20190930
Date
2019-09-30    12.93
Name: Close, dtype: float64 Date
2019-12-30    17.040001
Name: Close, dtype: float64
20191231
Date
2019-12-30    17.040001
2019-12-31    16.660000
Name: Close, dtype: float64 Date
2020-03-30    12.14
Name: Close, dtype: float64
20030331
Date
2003-03-31    6.0525
Name: Close, dtype: float64 Date
2003-06-30    7.05375
Name: Close, dtype: float64
20030630
Date
2003-06-30    7.05375
Name: Close, dtype: float64 Date
2003-09-29    8.2575
Name: Close, dtype: float64
20030930
Date
2003-09-29    8.257500
2003-09-30    8.060625
Name: Close, dtype: float64 Date
2003-12-29    10.96875
Name: Close, dtype: float64
20031231
Date
2003-12-30    11.244375
2003-12-31    10.828125
Name: Close, dtype: float64 Date
2004-03-29    10.603125
2004-03-30    10.603125
Name: Close, dtype: float64
20040331
Date
2004-03-30    10.603125
2004-03-31    11.221875
Name: Close, dtype: float64 Date
2004-06-28    11.4525
2004-06-29    11.4525
Name: Close, dtype: float64
20040630
Date
2004-06-29    11.452500
2004-06-30    11.300625
Name: Close, dtype: float64 Date
2004-09-27    10.653750
2004-09-28    10.603125
Name: Close, dtype: float64
20040930
Date
2004-09-29    10.738125
2004-09-30    10.811250
Name: Close, dtype: float64 Date
2004-12-28    12.65625
2004-12-29    12.60000
Name: Close, dtype: float64
20041231
Date
2004-12-30    12.487500
2004-12-31    12.515625
Name: Close, dtype: float64 Date
2005-03-30    12.0
2005-03-31    12.3
Name: Close, dtype: float64
20050331
Date
2005-03-30    12.0
2005-03-31    12.3
Name: Close, dtype: float64 Date
2005-06-28    13.1475
2005-06-29    13.3275
Name: Close, dtype: float64
20050630
Date
2005-06-29    13.3275
2005-06-30    13.3275
Name: Close, dtype: float64 Date
2005-09-27    14.0625
2005-09-28    13.8750
Name: Close, dtype: float64
20050930
Date
2005-09-29    13.935
2005-09-30    13.935
Name: Close, dtype: float64 Date
2005-12-28    16.049999
2005-12-29    15.750000
Name: Close, dtype: float64
20051231
Date
2005-12-30    15.9375
Name: Close, dtype: float64 Date
2006-03-30    17.67
2006-03-31    17.67
Name: Close, dtype: float64
20060331
Date
2006-03-30    17.67
2006-03-31    17.67
Name: Close, dtype: float64 Date
2006-06-28    18.000000
2006-06-29    18.389999
Name: Close, dtype: float64
20060630
Date
2006-06-29    18.389999
2006-06-30    17.740000
Name: Close, dtype: float64 Date
2006-09-27    17.400000
2006-09-28    17.559999
Name: Close, dtype: float64
20060930
Date
2006-09-29    18.02
Name: Close, dtype: float64 Date
2006-12-28    18
2006-12-29    18
Name: Close, dtype: int64
20061231
error
20070331
Date
2007-03-30    17.5
Name: Close, dtype: float64 Date
2007-06-28    16.299999
2007-06-29    16.400000
Name: Close, dtype: float64
20070630
Date
2007-06-29    16.4
Name: Close, dtype: float64 Date
2007-09-27    19.129999
2007-09-28    18.059999
Name: Close, dtype: float64
20070930
Date
2007-10-01    19
Name: Close, dtype: int64 Date
2007-12-31    18.25
Name: Close, dtype: float64
20071231
Date
2007-12-31    18.25
Name: Close, dtype: float64 Date
2008-03-31    17.950001
Name: Close, dtype: float64
20080331
Date
2008-03-31    17.950001
Name: Close, dtype: float64 Date
2008-06-30    17.74
Name: Close, dtype: float64
20080630
Date
2008-06-30    17.74
Name: Close, dtype: float64 Date
2008-09-29    17.76
Name: Close, dtype: float64
20080930
Date
2008-09-29    17.76
2008-09-30    17.76
Name: Close, dtype: float64 Date
2008-12-29    16.1
Name: Close, dtype: float64
20081231
Date
2008-12-30    17.07
2008-12-31    17.07
Name: Close, dtype: float64 Date
2009-03-30    16.68
2009-03-31    16.68
Name: Close, dtype: float64
20090331
Date
2009-03-30    16.68
2009-03-31    16.68
Name: Close, dtype: float64 Date
2009-06-29    14
Name: Close, dtype: int64
20090630
Date
2009-06-29    14
2009-06-30    14
Name: Close, dtype: int64 Date
2009-09-28    17.5
Name: Close, dtype: float64
20090930
Date
2009-09-29    17.639999
2009-09-30    17.639999
Name: Close, dtype: float64 Date
2009-12-28    17.1
2009-12-29    17.1
Name: Close, dtype: float64
20091231
Date
2009-12-30    17.860001
2009-12-31    16.799999
Name: Close, dtype: float64 Date
2010-03-30    17.719999
2010-03-31    17.719999
Name: Close, dtype: float64
20100331
Date
2010-03-30    17.719999
2010-03-31    17.719999
Name: Close, dtype: float64 Date
2010-06-28    17.76
2010-06-29    17.76
Name: Close, dtype: float64
20100630
Date
2010-06-29    17.76
2010-06-30    17.76
Name: Close, dtype: float64 Date
2010-09-27    17
2010-09-28    17
Name: Close, dtype: int64
20100930
Date
2010-09-29    17
2010-09-30    17
Name: Close, dtype: int64 Date
2010-12-28    17.6
2010-12-29    17.6
Name: Close, dtype: float64
20101231
Date
2010-12-30    17.6
2010-12-31    17.6
Name: Close, dtype: float64 Date
2011-03-30    17.00
2011-03-31    16.75
Name: Close, dtype: float64
20110331
Date
2011-03-30    17.00
2011-03-31    16.75
Name: Close, dtype: float64 Date
2011-06-28    17.809999
2011-06-29    17.809999
Name: Close, dtype: float64
20110630
Date
2011-06-29    17.809999
2011-06-30    17.500000
Name: Close, dtype: float64 Date
2011-09-27    14.9
2011-09-28    14.9
Name: Close, dtype: float64
20110930
Date
2011-09-29    15
2011-09-30    15
Name: Close, dtype: int64 Date
2011-12-28    16.290001
2011-12-29    16.100000
Name: Close, dtype: float64
20111231
Date
2011-12-30    16.43
Name: Close, dtype: float64 Date
2012-03-29    17.889999
2012-03-30    17.889999
Name: Close, dtype: float64
20120331
Date
2012-03-30    17.889999
Name: Close, dtype: float64 Date
2012-06-28    18
2012-06-29    18
Name: Close, dtype: int64
20120630
Date
2012-06-29    18
Name: Close, dtype: int64 Date
2012-09-27    17.02
2012-09-28    17.99
Name: Close, dtype: float64
20120930
Date
2012-10-01    17.99
Name: Close, dtype: float64 Date
2012-12-31    18
Name: Close, dtype: int64
20121231
Date
2012-12-31    18
Name: Close, dtype: int64 Date
2013-04-01    23
Name: Close, dtype: int64
20130331
Date
2013-04-01    23
Name: Close, dtype: int64 Date
2013-07-01    21.110001
Name: Close, dtype: float64
20130630
Date
2013-07-01    21.110001
Name: Close, dtype: float64 Date
2013-09-30    19.49
Name: Close, dtype: float64
20130930

Date
2013-09-30    19.49
Name: Close, dtype: float64 Date
2013-12-30    26
Name: Close, dtype: int64
20131231
Date
2013-12-30    26.00
2013-12-31    23.65
Name: Close, dtype: float64 Date
2014-03-31    24.82
Name: Close, dtype: float64
20140331
Date
2014-03-31    24.82
Name: Close, dtype: float64 Date
2014-06-30    21.030001
Name: Close, dtype: float64
20140630
Date
2014-06-30    21.030001
Name: Close, dtype: float64 Date
2014-09-29    24
Name: Close, dtype: int64
20140930
Date
2014-09-29    24
2014-09-30    24
Name: Close, dtype: int64 Date
2014-12-29    21.5
Name: Close, dtype: float64
20141231
Date
2014-12-30    21.5
2014-12-31    21.5
Name: Close, dtype: float64 Date
2015-03-30    20.08
2015-03-31    19.00
Name: Close, dtype: float64
20150331
Date
2015-03-30    20.08
2015-03-31    19.00
Name: Close, dtype: float64 Date
2015-06-29    20.129999
Name: Close, dtype: float64
20150630
Date
2015-06-29    20.129999
2015-06-30    20.129999
Name: Close, dtype: float64 Date
2015-09-28    21.5
Name: Close, dtype: float64
20150930
Date
2015-09-29    18.639999
2015-09-30    18.540001
Name: Close, dtype: float64 Date
2015-12-28    16.75
2015-12-29    16.52
Name: Close, dtype: float64
20151231
Date
2015-12-30    16.52
2015-12-31    16.52
Name: Close, dtype: float64 Date
2016-03-29    13.51
2016-03-30    13.51
Name: Close, dtype: float64
20160331
Date
2016-03-30    13.51
2016-03-31    13.51
Name: Close, dtype: float64 Date
2016-06-28    15.85
2016-06-29    15.76
Name: Close, dtype: float64
20160630
Date
2016-06-29    15.76
2016-06-30    15.76
Name: Close, dtype: float64 Date
2016-09-27    20
2016-09-28    20
Name: Close, dtype: int64
20160930
Date
2016-09-29    18.59
2016-09-30    18.59
Name: Close, dtype: float64 Date
2016-12-28    15.9
2016-12-29    15.9
Name: Close, dtype: float64
20161231
Date
2016-12-30    15.9
Name: Close, dtype: float64 Date
2017-03-30    15.35
2017-03-31    16.00
Name: Close, dtype: float64
20170331
Date
2017-03-30    15.35
2017-03-31    16.00
Name: Close, dtype: float64 Date
2017-06-28    14.5
2017-06-29    14.5
Name: Close, dtype: float64
20170630
Date
2017-06-29    14.5
2017-06-30    14.5
Name: Close, dtype: float64 Date
2017-09-27    15
2017-09-28    15
Name: Close, dtype: int64
20170930
Date
2017-09-29    15
Name: Close, dtype: int64 Date
2017-12-28    13.91
2017-12-29    15.22
Name: Close, dtype: float64
20171231
Date
2018-01-02    15.22
Name: Close, dtype: float64 Date
2018-04-02    14.05
Name: Close, dtype: float64
20180331
Date
2018-04-02    14.05
Name: Close, dtype: float64 Date
2018-07-02    13.2
Name: Close, dtype: float64
20180630
Date
2018-06-29    13.2
Name: Close, dtype: float64 Date
2018-09-27    13.58
2018-09-28    13.75
Name: Close, dtype: float64
20180930
Date
2018-10-01    13.77
Name: Close, dtype: float64 Date
2018-12-31    11.8
Name: Close, dtype: float64
20181231
Date
2018-12-31    11.8
Name: Close, dtype: float64 Date
2019-04-01    12.19
Name: Close, dtype: float64
20190331
Date
2019-04-01    12.19
Name: Close, dtype: float64 Date
2019-07-01    14.5
Name: Close, dtype: float64
20190630
Date
2019-07-01    14.5
Name: Close, dtype: float64 Date
2019-09-30    12.51
Name: Close, dtype: float64
20190930
Date
2019-09-30    12.51
Name: Close, dtype: float64 Date
2019-12-30    12.75
Name: Close, dtype: float64
20191231
Date
2019-12-30    12.75
2019-12-31    12.75
Name: Close, dtype: float64 Date
2020-03-30    10.51
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
Date
2012-06-29    62
Name: Close, dtype: int64 Date
2012-09-27    78.339996
2012-09-28    78.040001
Name: Close, dtype: float64
20120930
Date
2012-10-01    81.169998
Name: Close, dtype: float64 Date
2012-12-31    74.300003
Name: Close, dtype: float64
20121231
Date
2012-12-31    74.300003
Name: Close, dtype: float64 Date
2013-04-01    78.889999
Name: Close, dtype: float64
20130331
Date
2013-04-01    78.889999
Name: Close, dtype: float64 Date
2013-07-01    75.610001
Name: Close, dtype: float64
20130630
Date
2013-07-01    75.610001
Name: Close, dtype: float64 Date
2013-09-30    82.639999
Name: Close, dtype: float64
20130930
Date
2013-09-30    82.639999
Name: Close, dtype: float64 Date
2013-12-30    88.489998
Name: Close, dtype: float64
20131231
Date
2013-12-30    88.489998
2013-12-31    88.559998
Name: Close, dtype: float64 Date
2014-03-31    82.110001
Name: Close, dtype: float64
20140331
Date
2014-03-31    82.110001
Name: Close, dtype: float64 Date
2014-06-30    78.239998
Name: Close, dtype: float64
20140630
Date
2014-06-30    78.239998
Name: Close, dtype: float64 Date
2014-09-29    64.040001
Name: Close, dtype: float64
20140930
Date
2014-09-29    64.040001
2014-09-30    63.959999
Name: Close, dtype: float64 Date
2014-12-29    88.699997
Name: Close, dtype: float64
20141231
Date
2014-12-30    86.070000
2014-12-31    84.610001
Name: Close, dtype: float64 Date
2015-03-30    91.669998
2015-03-31    90.900002
Name: Close, dtype: float64
20150331
Date
2015-03-30    91.669998
2015-03-31    90.900002
Name: Close, dtype: float64 Date
2015-06-29    78.82
Name: Close, dtype: float64
20150630
Date
2015-06-29    78.820000
2015-06-30    78.900002
Name: Close, dtype: float64 Date
2015-09-28    83.650002
Name: Close, dtype: float64
20150930
Date
2015-09-29    82.900002
2015-09-30    82.040001
Name: Close, dtype: float64 Date
2015-12-28    84.449997
2015-12-29    85.239998
Name: Close, dtype: float64
20151231
Date
2015-12-30    84.410004
2015-12-31    82.599998
Name: Close, dtype: float64 Date
2016-03-29    79.489998
2016-03-30    78.610001
Name: Close, dtype: float64
20160331
Date
2016-03-30    78.610001
2016-03-31    79.010002
Name: Close, dtype: float64 Date
2016-06-28    77.599998
2016-06-29    78.919998
Name: Close, dtype: float64
20160630
Date
2016-06-29    78.919998
2016-06-30    79.440002
Name: Close, dtype: float64 Date
2016-09-27    91.370003
2016-09-28    89.930000
Name: Close, dtype: float64
20160930
Date
2016-09-29    88.070000
2016-09-30    88.599998
Name: Close, dtype: float64 Date
2016-12-28    81.949997
2016-12-29    82.949997
Name: Close, dtype: float64
20161231
Date
2016-12-30    82.949997
Name: Close, dtype: float64 Date
2017-03-30    75.599998
2017-03-31    75.900002
Name: Close, dtype: float64
20170331
Date
2017-03-30    75.599998
2017-03-31    75.900002
Name: Close, dtype: float64 Date
2017-06-28    72.800003
2017-06-29    73.000000
Name: Close, dtype: float64
20170630
Date
2017-06-29    73.000000
2017-06-30    72.650002
Name: Close, dtype: float64 Date
2017-09-27    82.349998
2017-09-28    83.949997
Name: Close, dtype: float64
20170930
Date
2017-09-29    83.75
Name: Close, dtype: float64 Date
2017-12-28    85.550003
2017-12-29    83.750000
Name: Close, dtype: float64
20171231
Date
2018-01-02    84.25
Name: Close, dtype: float64 Date
2018-04-02    93.099998
Name: Close, dtype: float64
20180331
error
20180630
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
Date
2012-06-29    4.98
Name: Close, dtype: float64 Date
2012-09-27    4.73
2012-09-28    4.93
Name: Close, dtype: float64
20120930
Date
2012-10-01    4.7
Name: Close, dtype: float64 Date
2012-12-31    4.54
Name: Close, dtype: float64
20121231
Date
2012-12-31    4.54
Name: Close, dtype: float64 Date
2013-04-01    4.49
Name: Close, dtype: float64
20130331

Date
2013-04-01    4.49
Name: Close, dtype: float64 Date
2013-07-01    6.67
Name: Close, dtype: float64
20130630
Date
2013-07-01    6.67
Name: Close, dtype: float64 Date
2013-09-30    9.17
Name: Close, dtype: float64
20130930
Date
2013-09-30    9.17
Name: Close, dtype: float64 Date
2013-12-30    13.35
Name: Close, dtype: float64
20131231
Date
2013-12-30    13.35
2013-12-31    13.73
Name: Close, dtype: float64 Date
2014-03-31    12.52
Name: Close, dtype: float64
20140331
Date
2014-03-31    12.52
Name: Close, dtype: float64 Date
2014-06-30    11.94
Name: Close, dtype: float64
20140630
Date
2014-06-30    11.94
Name: Close, dtype: float64 Date
2014-09-29    11.84
Name: Close, dtype: float64
20140930
Date
2014-09-29    11.84
2014-09-30    12.02
Name: Close, dtype: float64 Date
2014-12-29    16.26
Name: Close, dtype: float64
20141231
Date
2014-12-30    16.10
2014-12-31    16.33
Name: Close, dtype: float64 Date
2015-03-30    13.29
2015-03-31    12.68
Name: Close, dtype: float64
20150331
Date
2015-03-30    13.29
2015-03-31    12.68
Name: Close, dtype: float64 Date
2015-06-29    15.61
Name: Close, dtype: float64
20150630
Date
2015-06-29    15.61
2015-06-30    15.58
Name: Close, dtype: float64 Date
2015-09-28    16.889999
Name: Close, dtype: float64
20150930
Date
2015-09-29    16.559999
2015-09-30    16.990000
Name: Close, dtype: float64 Date
2015-12-28    18.85
2015-12-29    18.98
Name: Close, dtype: float64
20151231
Date
2015-12-30    19.059999
2015-12-31    18.570000
Name: Close, dtype: float64 Date
2016-03-29    15.740000
2016-03-30    16.440001
Name: Close, dtype: float64
20160331
Date
2016-03-30    16.440001
2016-03-31    16.680000
Name: Close, dtype: float64 Date
2016-06-28    18.719999
2016-06-29    19.309999
Name: Close, dtype: float64
20160630
Date
2016-06-29    19.309999
2016-06-30    19.980000
Name: Close, dtype: float64 Date
2016-09-27    18.190001
2016-09-28    18.200001
Name: Close, dtype: float64
20160930
Date
2016-09-29    17.969999
2016-09-30    18.350000
Name: Close, dtype: float64 Date
2016-12-28    16.549999
2016-12-29    16.700001
Name: Close, dtype: float64
20161231
Date
2016-12-30    16.799999
Name: Close, dtype: float64 Date
2017-03-30    20.700001
2017-03-31    21.350000
Name: Close, dtype: float64
20170331
Date
2017-03-30    20.700001
2017-03-31    21.350000
Name: Close, dtype: float64 Date
2017-06-28    24.299999
2017-06-29    23.900000
Name: Close, dtype: float64
20170630
Date
2017-06-29    23.900000
2017-06-30    24.200001
Name: Close, dtype: float64 Date
2017-09-27    24.700001
2017-09-28    24.600000
Name: Close, dtype: float64
20170930
Date
2017-09-29    24.65
Name: Close, dtype: float64 Date
2017-12-28    29.00
2017-12-29    28.65
Name: Close, dtype: float64
20171231
Date
2018-01-02    28.5
Name: Close, dtype: float64 Date
2018-04-02    35.950001
Name: Close, dtype: float64
20180331
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
Date
2012-06-29    0.95
Name: Close, dtype: float64 Date
2012-09-27    0.99
2012-09-28    0.98
Name: Close, dtype: float64
20120930
Date
2012-10-01    0.98
Name: Close, dtype: float64 Date
2012-12-31    1.11
Name: Close, dtype: float64
20121231
Date
2012-12-31    1.11
Name: Close, dtype: float64 Date
2013-04-01    1.02
Name: Close, dtype: float64
20130331
Date
2013-04-01    1.02
Name: Close, dtype: float64 Date
2013-07-01    1.2407
Name: Close, dtype: float64
20130630
Date
2013-07-01    1.2407
Name: Close, dtype: float64 Date
2013-09-30    1.54
Name: Close, dtype: float64
20130930
Date
2013-09-30    1.54
Name: Close, dtype: float64 Date
2013-12-30    1.71
Name: Close, dtype: float64
20131231
Date
2013-12-30    1.71
2013-12-31    1.66
Name: Close, dtype: float64 Date
2014-03-31    2.13
Name: Close, dtype: float64
20140331
Date
2014-03-31    2.13
Name: Close, dtype: float64 Date
2014-06-30    2.18
Name: Close, dtype: float64
20140630
Date
2014-06-30    2.18
Name: Close, dtype: float64 Date
2014-09-29    1.54
Name: Close, dtype: float64
20140930
Date
2014-09-29    1.54
2014-09-30    1.52
Name: Close, dtype: float64 Date
2014-12-29    1.66
Name: Close, dtype: float64
20141231
Date
2014-12-30    1.66
2014-12-31    1.66
Name: Close, dtype: float64 Date
2015-03-30    3.17
2015-03-31    3.16
Name: Close, dtype: float64
20150331
Date
2015-03-30    3.17
2015-03-31    3.16
Name: Close, dtype: float64 Date
2015-06-29    4.21
Name: Close, dtype: float64
20150630
Date
2015-06-29    4.21
2015-06-30    4.27
Name: Close, dtype: float64 Date
2015-09-28    4.69
Name: Close, dtype: float64
20150930
Date
2015-09-29    4.59
2015-09-30    4.77
Name: Close, dtype: float64 Date
2015-12-28    5.07
2015-12-29    5.07
Name: Close, dtype: float64
20151231
Date
2015-12-30    5.02
2015-12-31    4.85
Name: Close, dtype: float64 Date
2016-03-29    4.37
2016-03-30    4.37
Name: Close, dtype: float64
20160331
Date
2016-03-30    4.37
2016-03-31    4.27
Name: Close, dtype: float64 Date
2016-06-28    4.44
2016-06-29    4.47
Name: Close, dtype: float64
20160630
Date
2016-06-29    4.47
2016-06-30    4.51
Name: Close, dtype: float64 Date
2016-09-27    5.42
2016-09-28    5.42
Name: Close, dtype: float64
20160930
Date
2016-09-29    5.40
2016-09-30    5.43
Name: Close, dtype: float64 Date
2016-12-28    4.99
2016-12-29    5.00
Name: Close, dtype: float64
20161231
Date
2016-12-30    4.99
Name: Close, dtype: float64 Date
2017-03-30    4.95
2017-03-31    4.90
Name: Close, dtype: float64
20170331
Date
2017-03-30    4.95
2017-03-31    4.90
Name: Close, dtype: float64 Date
2017-06-28    5.01
2017-06-29    4.96
Name: Close, dtype: float64
20170630
Date
2017-06-29    4.96
2017-06-30    5.07
Name: Close, dtype: float64 Date
2017-09-27    6.59
2017-09-28    6.61
Name: Close, dtype: float64
20170930
Date
2017-09-29    6.63
Name: Close, dtype: float64 Date
2017-12-28    5.65
2017-12-29    5.68
Name: Close, dtype: float64
20171231
Date
2018-01-02    5.6
Name: Close, dtype: float64 Date
2018-04-02    11.13
Name: Close, dtype: float64
20180331
Date
2018-04-02    11.13
Name: Close, dtype: float64 Date
2018-07-02    11.3
Name: Close, dtype: float64
20180630
Date
2018-06-29    11.15
Name: Close, dtype: float64 Date
2018-09-27    11.78
2018-09-28    11.84
Name: Close, dtype: float64
20180930
error
20070630
Date
2007-06-29    24.43
Name: Close, dtype: float64 Date
2007-09-27    24.290001
2007-09-28    24.440001
Name: Close, dtype: float64
20070630
Date
2007-06-29    24.43
Name: Close, dtype: float64 Date
2007-09-27    24.290001
2007-09-28    24.440001
Name: Close, dtype: float64
20070930
Date
2007-10-01    23.790001
Name: Close, dtype: float64 Date
2007-12-31    13.71
Name: Close, dtype: float64
20070930
Date
2007-10-01    23.790001
Name: Close, dtype: float64 Date
2007-12-31    13.71
Name: Close, dtype: float64
20071231
Date
2007-12-31    13.71
Name: Close, dtype: float64 Date
2008-03-31    14.81
Name: Close, dtype: float64
20071231
Date
2007-12-31    13.71
Name: Close, dtype: float64 Date
2008-03-31    14.81
Name: Close, dtype: float64
20080331
Date
2008-03-31    14.81
Name: Close, dtype: float64 Date
2008-06-30    12.96
Name: Close, dtype: float64
20080331
Date
2008-03-31    14.81
Name: Close, dtype: float64 Date
2008-06-30    12.96
Name: Close, dtype: float64
20080630
Date
2008-06-30    12.96
Name: Close, dtype: float64 Date
2008-09-29    12.5
Name: Close, dtype: float64
20080630
Date
2008-06-30    12.96
Name: Close, dtype: float64 Date
2008-09-29    12.5
Name: Close, dtype: float64
20080930
Date
2008-09-29    12.50
2008-09-30    11.88
Name: Close, dtype: float64 Date
2008-12-29    4.19
Name: Close, dtype: float64
20080930
Date
2008-09-29    12.50
2008-09-30    11.88
Name: Close, dtype: float64 Date
2008-12-29    4.19
Name: Close, dtype: float64
20081231
Date
2008-12-30    4.89
2008-12-31    4.93
Name: Close, dtype: float64 Date
2009-03-30    4.98
2009-03-31    5.15
Name: Close, dtype: float64
20081231
Date
2008-12-30    4.89
2008-12-31    4.93
Name: Close, dtype: float64 Date
2009-03-30    4.98
2009-03-31    5.15
Name: Close, dtype: float64
20090331
Date
2009-03-30    4.98
2009-03-31    5.15
Name: Close, dtype: float64 Date
2009-06-29    5.73
Name: Close, dtype: float64
20090331

Date
2009-03-30    4.98
2009-03-31    5.15
Name: Close, dtype: float64 Date
2009-06-29    5.73
Name: Close, dtype: float64
20090630
Date
2009-06-29    5.73
2009-06-30    5.53
Name: Close, dtype: float64 Date
2009-09-28    8.27
Name: Close, dtype: float64
20090630
Date
2009-06-29    5.73
2009-06-30    5.53
Name: Close, dtype: float64 Date
2009-09-28    8.27
Name: Close, dtype: float64
20090930
Date
2009-09-29    8.33
2009-09-30    8.13
Name: Close, dtype: float64 Date
2009-12-28    6.92
2009-12-29    6.88
Name: Close, dtype: float64
20090930
Date
2009-09-29    8.33
2009-09-30    8.13
Name: Close, dtype: float64 Date
2009-12-28    6.92
2009-12-29    6.88
Name: Close, dtype: float64
20091231
Date
2009-12-30    6.81
2009-12-31    6.76
Name: Close, dtype: float64 Date
2010-03-30    7.22
2010-03-31    7.16
Name: Close, dtype: float64
20100331
Date
2010-03-30    7.22
2010-03-31    7.16
Name: Close, dtype: float64 Date
2010-06-28    7.55
2010-06-29    7.32
Name: Close, dtype: float64
20100630
Date
2010-06-29    7.32
2010-06-30    7.28
Name: Close, dtype: float64 Date
2010-09-27    7.82
2010-09-28    8.01
Name: Close, dtype: float64
20100930
Date
2010-09-29    7.93
2010-09-30    8.09
Name: Close, dtype: float64 Date
2010-12-28    5.16
2010-12-29    5.14
Name: Close, dtype: float64
20101231
Date
2010-12-30    5.22
2010-12-31    5.15
Name: Close, dtype: float64 Date
2011-03-30    5.56
2011-03-31    5.59
Name: Close, dtype: float64
20110331
Date
2011-03-30    5.56
2011-03-31    5.59
Name: Close, dtype: float64 Date
2011-06-28    3.90
2011-06-29    3.94
Name: Close, dtype: float64
20110630
Date
2011-06-29    3.94
2011-06-30    3.78
Name: Close, dtype: float64 Date
2011-09-27    2.47
2011-09-28    2.52
Name: Close, dtype: float64
20110930
Date
2011-09-29    2.57
2011-09-30    2.33
Name: Close, dtype: float64 Date
2011-12-28    1.915
2011-12-29    1.920
Name: Close, dtype: float64
20111231
Date
2011-12-30    1.94
Name: Close, dtype: float64 Date
2012-03-29    2.225
2012-03-30    2.280
Name: Close, dtype: float64
20120331
Date
2012-03-30    2.28
Name: Close, dtype: float64 Date
2012-06-28    1.15
2012-06-29    1.12
Name: Close, dtype: float64
20120630
Date
2012-06-29    1.12
Name: Close, dtype: float64 Date
2012-09-27    1.48
2012-09-28    1.34
Name: Close, dtype: float64
20120930
Date
2012-10-01    1.34
Name: Close, dtype: float64 Date
2012-12-31    2.89
Name: Close, dtype: float64
20121231
Date
2012-12-31    2.89
Name: Close, dtype: float64 Date
2013-04-01    3.24
Name: Close, dtype: float64
20130331
Date
2013-04-01    3.24
Name: Close, dtype: float64 Date
2013-07-01    5
Name: Close, dtype: int64
20130630
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
Date
2012-06-29    10.41
Name: Close, dtype: float64 Date
2012-09-27    10.96
2012-09-28    11.00
Name: Close, dtype: float64
20120930
Date
2012-10-01    11.09
Name: Close, dtype: float64 Date
2012-12-31    11.27
Name: Close, dtype: float64
20121231
Date
2012-12-31    11.27
Name: Close, dtype: float64 Date
2013-04-01    11.87
Name: Close, dtype: float64
20130331
Date
2013-04-01    11.87
Name: Close, dtype: float64 Date
2013-07-01    11.9
Name: Close, dtype: float64
20130630
Date
2013-07-01    11.9
Name: Close, dtype: float64 Date
2013-09-30    12.39
Name: Close, dtype: float64
20130930
Date
2013-09-30    12.39
Name: Close, dtype: float64 Date
2013-12-30    12.75
Name: Close, dtype: float64
20131231
Date
2013-12-30    12.75
2013-12-31    12.80
Name: Close, dtype: float64 Date
2014-03-31    11.72
Name: Close, dtype: float64
20140331
Date
2014-03-31    11.72
Name: Close, dtype: float64 Date
2014-06-30    12.67
Name: Close, dtype: float64
20140630
Date
2014-06-30    12.67
Name: Close, dtype: float64 Date
2014-09-29    12.72
Name: Close, dtype: float64
20140930
Date
2014-09-29    12.72
2014-09-30    12.59
Name: Close, dtype: float64 Date
2014-12-29    13.69
Name: Close, dtype: float64
20141231
Date
2014-12-30    13.69
2014-12-31    13.59
Name: Close, dtype: float64 Date
2015-03-30    14.12
2015-03-31    14.11
Name: Close, dtype: float64
20150331
Date
2015-03-30    14.12
2015-03-31    14.11
Name: Close, dtype: float64 Date
2015-06-29    13.89
Name: Close, dtype: float64
20150630
Date
2015-06-29    13.89
2015-06-30    13.99
Name: Close, dtype: float64 Date
2015-09-28    14.07
Name: Close, dtype: float64
20150930
Date
2015-09-29    14.06
2015-09-30    13.88
Name: Close, dtype: float64 Date
2015-12-28    14.22
2015-12-29    14.38
Name: Close, dtype: float64
20151231
Date
2015-12-30    14.55
2015-12-31    14.34
Name: Close, dtype: float64 Date
2016-03-29    15.29
2016-03-30    15.26
Name: Close, dtype: float64
20160331
Date
2016-03-30    15.26
2016-03-31    15.12
Name: Close, dtype: float64 Date
2016-06-28    14.74
2016-06-29    14.77
Name: Close, dtype: float64
20160630
Date
2016-06-29    14.77
2016-06-30    15.07
Name: Close, dtype: float64 Date
2016-09-27    15.40
2016-09-28    15.37
Name: Close, dtype: float64
20160930
Date
2016-09-29    15.18
2016-09-30    15.29
Name: Close, dtype: float64 Date
2016-12-28    17.120001
2016-12-29    16.990000
Name: Close, dtype: float64
20161231
Date
2016-12-30    16.92
Name: Close, dtype: float64 Date
2017-03-30    16.250000
2017-03-31    16.190001
Name: Close, dtype: float64
20170331
Date
2017-03-30    16.250000
2017-03-31    16.190001
Name: Close, dtype: float64 Date
2017-06-28    16.670000
2017-06-29    16.690001
Name: Close, dtype: float64
20170630
Date
2017-06-29    16.690001
2017-06-30    16.530001
Name: Close, dtype: float64 Date
2017-09-27    16.879999
2017-09-28    16.740000
Name: Close, dtype: float64
20170930
Date
2017-09-29    16.719999
Name: Close, dtype: float64 Date
2017-12-28    17.370001
2017-12-29    17.100000
Name: Close, dtype: float64
20171231
error
20180331
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20190331
Date
2019-04-01    60.43
Name: Close, dtype: float64 Date
2019-07-01    51.560001
Name: Close, dtype: float64
20190630
Date
2019-07-01    51.560001
Name: Close, dtype: float64 Date
2019-09-30    51.860001
Name: Close, dtype: float64
20190930
Date
2019-09-30    51.860001
Name: Close, dtype: float64 Date
2019-12-30    50.91
Name: Close, dtype: float64
20191231
Date
2019-12-30    50.910000
2019-12-31    51.389999
Name: Close, dtype: float64 Date
2020-03-30    39.799999
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
Date
2012-06-29    5.62
Name: Close, dtype: float64 Date
2012-09-27    6.08
2012-09-28    5.87
Name: Close, dtype: float64
20120930
Date
2012-10-01    5.785
Name: Close, dtype: float64 Date
2012-12-31    7.3
Name: Close, dtype: float64
20121231
Date
2012-12-31    7.3
Name: Close, dtype: float64 Date
2013-04-01    7.25
Name: Close, dtype: float64
20130331

Date
2013-04-01    7.25
Name: Close, dtype: float64 Date
2013-07-01    8.1
Name: Close, dtype: float64
20130630
Date
2013-07-01    8.1
Name: Close, dtype: float64 Date
2013-09-30    9.42
Name: Close, dtype: float64
20130930
Date
2013-09-30    9.42
Name: Close, dtype: float64 Date
2013-12-30    10.13
Name: Close, dtype: float64
20131231
Date
2013-12-30    10.13
2013-12-31    10.18
Name: Close, dtype: float64 Date
2014-03-31    12.23
Name: Close, dtype: float64
20140331
Date
2014-03-31    12.23
Name: Close, dtype: float64 Date
2014-06-30    15.46
Name: Close, dtype: float64
20140630
Date
2014-06-30    15.46
Name: Close, dtype: float64 Date
2014-09-29    16.09
Name: Close, dtype: float64
20140930
Date
2014-09-29    16.09
2014-09-30    15.95
Name: Close, dtype: float64 Date
2014-12-29    19.889999
Name: Close, dtype: float64
20141231
Date
2014-12-30    19.799999
2014-12-31    19.600000
Name: Close, dtype: float64 Date
2015-03-30    20.415001
2015-03-31    20.020000
Name: Close, dtype: float64
20150331
Date
2015-03-30    20.415001
2015-03-31    20.020000
Name: Close, dtype: float64 Date
2015-06-29    21.42
Name: Close, dtype: float64
20150630
Date
2015-06-29    21.420000
2015-06-30    21.700001
Name: Close, dtype: float64 Date
2015-09-28    19.15
Name: Close, dtype: float64
20150930
Date
2015-09-29    19.340000
2015-09-30    20.299999
Name: Close, dtype: float64 Date
2015-12-28    27.100000
2015-12-29    27.450001
Name: Close, dtype: float64
20151231
Date
2015-12-30    26.940001
2015-12-31    26.350000
Name: Close, dtype: float64 Date
2016-03-29    20.540001
2016-03-30    20.639999
Name: Close, dtype: float64
20160331
Date
2016-03-30    20.639999
2016-03-31    20.440001
Name: Close, dtype: float64 Date
2016-06-28    19.719999
2016-06-29    19.600000
Name: Close, dtype: float64
20160630
Date
2016-06-29    19.600000
2016-06-30    20.129999
Name: Close, dtype: float64 Date
2016-09-27    22.450001
2016-09-28    22.350000
Name: Close, dtype: float64
20160930
Date
2016-09-29    22.74
2016-09-30    23.10
Name: Close, dtype: float64 Date
2016-12-28    24.25
2016-12-29    24.24
Name: Close, dtype: float64
20161231
Date
2016-12-30    23.559999
Name: Close, dtype: float64 Date
2017-03-30    23.66
2017-03-31    23.67
Name: Close, dtype: float64
20170331
Date
2017-03-30    23.66
2017-03-31    23.67
Name: Close, dtype: float64 Date
2017-06-28    26.100000
2017-06-29    25.959999
Name: Close, dtype: float64
20170630
Date
2017-06-29    25.959999
2017-06-30    25.790001
Name: Close, dtype: float64 Date
2017-09-27    26.049999
2017-09-28    26.420000
Name: Close, dtype: float64
20170930
Date
2017-09-29    26.58
Name: Close, dtype: float64 Date
2017-12-28    30.15
2017-12-29    29.73
Name: Close, dtype: float64
20171231
Date
2018-01-02    30.700001
Name: Close, dtype: float64 Date
2018-04-02    29.42
Name: Close, dtype: float64
20180331
Date
2018-04-02    29.42
Name: Close, dtype: float64 Date
2018-07-02    32.16
Name: Close, dtype: float64
20180630
Date
2018-06-29    31.879999
Name: Close, dtype: float64 Date
2018-09-27    46.900002
2018-09-28    47.009998
Name: Close, dtype: float64
20180930
Date
2018-10-01    47.029999
Name: Close, dtype: float64 Date
2018-12-31    48.43
Name: Close, dtype: float64
20181231
error
20190331
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20150331
Date
2015-03-30    60.75
2015-03-31    60.66
Name: Close, dtype: float64 Date
2015-06-29    46.299999
Name: Close, dtype: float64
20150630
Date
2015-06-29    46.299999
2015-06-30    53.330002
Name: Close, dtype: float64 Date
2015-09-28    40.48
Name: Close, dtype: float64
20150930
Date
2015-09-29    39.889999
2015-09-30    40.689999
Name: Close, dtype: float64 Date
2015-12-28    43.669998
2015-12-29    45.130001
Name: Close, dtype: float64
20151231
Date
2015-12-30    44.310001
2015-12-31    43.970001
Name: Close, dtype: float64 Date
2016-03-29    37.450001
2016-03-30    36.930000
Name: Close, dtype: float64
20160331
Date
2016-03-30    36.93
2016-03-31    38.09
Name: Close, dtype: float64 Date
2016-06-28    38.950001
2016-06-29    39.570000
Name: Close, dtype: float64
20160630
Date
2016-06-29    39.570000
2016-06-30    38.439999
Name: Close, dtype: float64 Date
2016-09-27    33.419998
2016-09-28    31.299999
Name: Close, dtype: float64
20160930
Date
2016-09-29    29.99
2016-09-30    30.01
Name: Close, dtype: float64 Date
2016-12-28    19.040001
2016-12-29    18.969999
Name: Close, dtype: float64
20161231
Date
2016-12-30    18.85
Name: Close, dtype: float64 Date
2017-03-30    21.959999
2017-03-31    22.190001
Name: Close, dtype: float64
20170331
Date
2017-03-30    21.959999
2017-03-31    22.190001
Name: Close, dtype: float64 Date
2017-06-28    31.360001
2017-06-29    30.209999
Name: Close, dtype: float64
20170630
Date
2017-06-29    30.209999
2017-06-30    29.889999
Name: Close, dtype: float64 Date
2017-09-27    42.680000
2017-09-28    44.450001
Name: Close, dtype: float64
20170930
Date
2017-09-29    44.860001
Name: Close, dtype: float64 Date
2017-12-28    47.410000
2017-12-29    45.709999
Name: Close, dtype: float64
20171231
error
20140930
Date
2014-09-29    12.96
2014-09-30    14.43
Name: Close, dtype: float64 Date
2014-12-29    20.33
Name: Close, dtype: float64
20141231
Date
2014-12-30    20.650000
2014-12-31    20.870001
Name: Close, dtype: float64 Date
2015-03-30    22.450001
2015-03-31    22.049999
Name: Close, dtype: float64
20150331
Date
2015-03-30    22.450001
2015-03-31    22.049999
Name: Close, dtype: float64 Date
2015-06-29    23.68
Name: Close, dtype: float64
20150630
Date
2015-06-29    23.68
2015-06-30    24.02
Name: Close, dtype: float64 Date
2015-09-28    16.57
Name: Close, dtype: float64
20150930
Date
2015-09-29    16.75
2015-09-30    18.60
Name: Close, dtype: float64 Date
2015-12-28    19.780001
2015-12-29    20.090000
Name: Close, dtype: float64
20151231
Date
2015-12-30    20.049999
2015-12-31    19.740000
Name: Close, dtype: float64 Date
2016-03-29    13.06
2016-03-30    14.96
Name: Close, dtype: float64
20160331
Date
2016-03-30    14.96
2016-03-31    14.83
Name: Close, dtype: float64 Date
2016-06-28    14.92
2016-06-29    15.66
Name: Close, dtype: float64
20160630
Date
2016-06-29    15.66
2016-06-30    15.52
Name: Close, dtype: float64 Date
2016-09-27    17.809999
2016-09-28    17.700001
Name: Close, dtype: float64
20160930
Date
2016-09-29    17.299999
2016-09-30    17.780001
Name: Close, dtype: float64 Date
2016-12-28    20.40
2016-12-29    20.32
Name: Close, dtype: float64
20161231
Date
2016-12-30    20.040001
Name: Close, dtype: float64 Date
2017-03-30    20.475
2017-03-31    20.510
Name: Close, dtype: float64
20170331
Date
2017-03-30    20.475
2017-03-31    20.510
Name: Close, dtype: float64 Date
2017-06-28    24.480000
2017-06-29    23.969999
Name: Close, dtype: float64
20170630
Date
2017-06-29    23.969999
2017-06-30    24.360001
Name: Close, dtype: float64 Date
2017-09-27    21.59
2017-09-28    20.67
Name: Close, dtype: float64
20170930
Date
2017-09-29    21.209999
Name: Close, dtype: float64 Date
2017-12-28    18.139999
2017-12-29    18.000000
Name: Close, dtype: float64
20171231
Date
2018-01-02    18.33
Name: Close, dtype: float64 Date
2018-04-02    18.57
Name: Close, dtype: float64
20180331
Date
2018-04-02    18.57
Name: Close, dtype: float64 Date
2018-07-02    22.58
Name: Close, dtype: float64
20180630
Date
2018-06-29    22.5
Name: Close, dtype: float64 Date
2018-09-27    27.250000
2018-09-28    27.370001
Name: Close, dtype: float64
20180930
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20150930
Date
2015-09-29    138.179993
2015-09-30    143.639999
Name: Close, dtype: float64 Date
2015-12-28    142.380005
2015-12-29    137.199997
Name: Close, dtype: float64
20151231

Date
2015-12-30    140.419998
2015-12-31    137.619995
Name: Close, dtype: float64 Date
2016-03-29    70.699997
2016-03-30    68.040001
Name: Close, dtype: float64
20160331
Date
2016-03-30    68.040001
2016-03-31    55.160000
Name: Close, dtype: float64 Date
2016-06-28    35.419998
2016-06-29    37.799999
Name: Close, dtype: float64
20160630
Date
2016-06-29    37.799999
2016-06-30    38.919998
Name: Close, dtype: float64 Date
2016-09-27    46.200001
2016-09-28    45.220001
Name: Close, dtype: float64
20160930
Date
2016-09-29    44.52
2016-09-30    44.52
Name: Close, dtype: float64 Date
2016-12-28    32.200001
2016-12-29    31.500000
Name: Close, dtype: float64
20161231
Date
2016-12-30    30.1
Name: Close, dtype: float64 Date
2017-03-30    49.700001
2017-03-31    49.000000
Name: Close, dtype: float64
20170331
Date
2017-03-30    49.700001
2017-03-31    49.000000
Name: Close, dtype: float64 Date
2017-06-28    51.799999
2017-06-29    51.099998
Name: Close, dtype: float64
20170630
Date
2017-06-29    51.099998
2017-06-30    47.599998
Name: Close, dtype: float64 Date
2017-09-27    64.400002
2017-09-28    66.500000
Name: Close, dtype: float64
20170930
Date
2017-09-29    70.699997
Name: Close, dtype: float64 Date
2017-12-28    52.5
2017-12-29    49.0
Name: Close, dtype: float64
20171231
Date
2018-01-02    53.200001
Name: Close, dtype: float64 Date
2018-04-02    38.5
Name: Close, dtype: float64
20180331
Date
2018-04-02    38.5
Name: Close, dtype: float64 Date
2018-07-02    12.32
Name: Close, dtype: float64
20180630
Date
2018-06-29    12.74
Name: Close, dtype: float64 Date
2018-09-27    11.550
2018-09-28    11.382
Name: Close, dtype: float64
20180930
Date
2018-10-01    10.85
Name: Close, dtype: float64 Date
2018-12-31    6.944
Name: Close, dtype: float64
20181231
Date
2018-12-31    6.944
Name: Close, dtype: float64 Date
2019-04-01    7.881997
Name: Close, dtype: float64
20190331
Date
2019-04-01    7.881997
Name: Close, dtype: float64 Date
2019-07-01    5.462
Name: Close, dtype: float64
20190630
Date
2019-07-01    5.462
Name: Close, dtype: float64 Date
2019-09-30    3.5
Name: Close, dtype: float64
20190930
Date
2019-09-30    3.5
Name: Close, dtype: float64 Date
2019-12-30    4.17
Name: Close, dtype: float64
20191231
Date
2019-12-30    4.17
2019-12-31    4.17
Name: Close, dtype: float64 Date
2020-03-30    2.87
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160930
Date
2016-09-29    12.24
2016-09-30    12.34
Name: Close, dtype: float64 Date
2016-12-28    14.47
2016-12-29    14.40
Name: Close, dtype: float64
20161231
Date
2016-12-30    14.5
Name: Close, dtype: float64 Date
2017-03-30    19.370001
2017-03-31    19.520000
Name: Close, dtype: float64
20170331
Date
2017-03-30    19.370001
2017-03-31    19.520000
Name: Close, dtype: float64 Date
2017-06-28    19.629999
2017-06-29    19.410000
Name: Close, dtype: float64
20170630
Date
2017-06-29    19.41
2017-06-30    19.76
Name: Close, dtype: float64 Date
2017-09-27    21.35
2017-09-28    21.32
Name: Close, dtype: float64
20170930
Date
2017-09-29    21.309999
Name: Close, dtype: float64 Date
2017-12-28    32.860001
2017-12-29    32.730000
Name: Close, dtype: float64
20171231
Date
2018-01-02    32.169998
Name: Close, dtype: float64 Date
2018-04-02    29.9
Name: Close, dtype: float64
20180331
Date
2018-04-02    29.9
Name: Close, dtype: float64 Date
2018-07-02    33.549999
Name: Close, dtype: float64
20180630
Date
2018-06-29    33.73
Name: Close, dtype: float64 Date
2018-09-27    33.639999
2018-09-28    33.689999
Name: Close, dtype: float64
20180930
error
20160331
Date
2016-03-30    19.639999
2016-03-31    19.820000
Name: Close, dtype: float64 Date
2016-06-28    16.959999
2016-06-29    18.030001
Name: Close, dtype: float64
20160630
Date
2016-06-29    18.030001
2016-06-30    18.180000
Name: Close, dtype: float64 Date
2016-09-27    17.629999
2016-09-28    17.600000
Name: Close, dtype: float64
20160930
Date
2016-09-29    17.360001
2016-09-30    17.270000
Name: Close, dtype: float64 Date
2016-12-28    20.799999
2016-12-29    21.000000
Name: Close, dtype: float64
20161231
Date
2016-12-30    21.15
Name: Close, dtype: float64 Date
2017-03-30    19.000000
2017-03-31    19.299999
Name: Close, dtype: float64
20170331
Date
2017-03-30    19.000000
2017-03-31    19.299999
Name: Close, dtype: float64 Date
2017-06-28    23.299999
2017-06-29    23.000000
Name: Close, dtype: float64
20170630
Date
2017-06-29    23.000000
2017-06-30    25.299999
Name: Close, dtype: float64 Date
2017-09-27    24.650000
2017-09-28    24.950001
Name: Close, dtype: float64
20170930
Date
2017-09-29    25
Name: Close, dtype: int64 Date
2017-12-28    22.400000
2017-12-29    21.799999
Name: Close, dtype: float64
20171231
Date
2018-01-02    22.1
Name: Close, dtype: float64 Date
2018-04-02    17.75
Name: Close, dtype: float64
20180331
Date
2018-04-02    17.75
Name: Close, dtype: float64 Date
2018-07-02    25.700001
Name: Close, dtype: float64
20180630
Date
2018-06-29    25.85
Name: Close, dtype: float64 Date
2018-09-27    27.950001
2018-09-28    27.900000
Name: Close, dtype: float64
20180930
error
20030331
error
20030630
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20160930
error
20161231
error
20170331
error
20170630
error
20170930
error
20171231
error
20180331
error
20180630
error
20180930
error
20181231
error
20190331
error
20190630
error
20190930
error
20191231
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20121231
Date
2012-12-31    14.8111
Name: Close, dtype: float64 Date
2013-04-01    17.6073
Name: Close, dtype: float64
20130331
Date
2013-04-01    17.6073
Name: Close, dtype: float64 Date
2013-07-01    18.2222
Name: Close, dtype: float64
20130630
Date
2013-07-01    18.2222
Name: Close, dtype: float64 Date
2013-09-30    19.554001
Name: Close, dtype: float64
20130930
Date
2013-09-30    19.554001
Name: Close, dtype: float64 Date
2013-12-30    26.352301
Name: Close, dtype: float64
20131231
Date
2013-12-30    26.352301
2013-12-31    26.352301
Name: Close, dtype: float64 Date
2014-03-31    29.5483
Name: Close, dtype: float64
20140331
Date
2014-03-31    29.5483
Name: Close, dtype: float64 Date
2014-06-30    31.9426
Name: Close, dtype: float64
20140630
Date
2014-06-30    31.9426
Name: Close, dtype: float64 Date
2014-09-29    34.904701
Name: Close, dtype: float64
20140930
Date
2014-09-29    34.904701
2014-09-30    34.904701
Name: Close, dtype: float64 Date
2014-12-29    33.063
Name: Close, dtype: float64
20141231
Date
2014-12-30    33.063
2014-12-31    33.063
Name: Close, dtype: float64 Date
2015-03-30    35.3871
2015-03-31    35.3871
Name: Close, dtype: float64
20150331
Date
2015-03-30    35.3871
2015-03-31    35.3871
Name: Close, dtype: float64 Date
2015-06-29    35.930901
Name: Close, dtype: float64
20150630
Date
2015-06-29    35.930901
2015-06-30    35.930901
Name: Close, dtype: float64 Date
2015-09-28    35.159
Name: Close, dtype: float64
20150930
Date
2015-09-29    35.159000
2015-09-30    35.316898
Name: Close, dtype: float64 Date
2015-12-28    37.272598
2015-12-29    37.272598
Name: Close, dtype: float64
20151231

Date
2015-12-30    37.272598
2015-12-31    39.737000
Name: Close, dtype: float64 Date
2016-03-29    33.413799
2016-03-30    33.413799
Name: Close, dtype: float64
20160331
Date
2016-03-30    33.413799
2016-03-31    34.369701
Name: Close, dtype: float64 Date
2016-06-28    32.712200
2016-06-29    32.335098
Name: Close, dtype: float64
20160630
Date
2016-06-29    32.335098
2016-06-30    32.335098
Name: Close, dtype: float64 Date
2016-09-27    39.889999
2016-09-28    39.889999
Name: Close, dtype: float64
20160930
Date
2016-09-29    39.889999
2016-09-30    39.889999
Name: Close, dtype: float64 Date
2016-12-28    37.976002
2016-12-29    37.976002
Name: Close, dtype: float64
20161231
Date
2016-12-30    36.9338
Name: Close, dtype: float64 Date
2017-03-30    44.860001
2017-03-31    44.860001
Name: Close, dtype: float64
20170331
Date
2017-03-30    44.860001
2017-03-31    44.860001
Name: Close, dtype: float64 Date
2017-06-28    53.331001
2017-06-29    53.331001
Name: Close, dtype: float64
20170630
Date
2017-06-29    53.331001
2017-06-30    53.331001
Name: Close, dtype: float64 Date
2017-09-27    59.880001
2017-09-28    59.880001
Name: Close, dtype: float64
20170930
Date
2017-09-29    59.880001
Name: Close, dtype: float64 Date
2017-12-28    59.880001
2017-12-29    54.299999
Name: Close, dtype: float64
20171231
error
20180331
error
20030331
Date
2003-03-31    23.709999
Name: Close, dtype: float64 Date
2003-06-30    34.18
Name: Close, dtype: float64
20030630
Date
2003-06-30    34.18
Name: Close, dtype: float64 Date
2003-09-29    34.650002
Name: Close, dtype: float64
20030930
Date
2003-09-29    34.650002
2003-09-30    34.330002
Name: Close, dtype: float64 Date
2003-12-29    36.529999
Name: Close, dtype: float64
20031231
Date
2003-12-30    36.599998
2003-12-31    36.730000
Name: Close, dtype: float64 Date
2004-03-29    42.060001
2004-03-30    41.980000
Name: Close, dtype: float64
20040331
Date
2004-03-30    41.980000
2004-03-31    41.950001
Name: Close, dtype: float64 Date
2004-06-28    37.950001
2004-06-29    38.290001
Name: Close, dtype: float64
20040630
Date
2004-06-29    38.290001
2004-06-30    38.770000
Name: Close, dtype: float64 Date
2004-09-27    39.130001
2004-09-28    39.380001
Name: Close, dtype: float64
20040930
Date
2004-09-29    39.68
2004-09-30    39.73
Name: Close, dtype: float64 Date
2004-12-28    39.209999
2004-12-29    39.160000
Name: Close, dtype: float64
20041231
Date
2004-12-30    39.080002
2004-12-31    39.009998
Name: Close, dtype: float64 Date
2005-03-30    34.950001
2005-03-31    34.599998
Name: Close, dtype: float64
20050331
Date
2005-03-30    34.950001
2005-03-31    34.599998
Name: Close, dtype: float64 Date
2005-06-28    35.919998
2005-06-29    35.959999
Name: Close, dtype: float64
20050630
Date
2005-06-29    35.959999
2005-06-30    35.320000
Name: Close, dtype: float64 Date
2005-09-27    33.880001
2005-09-28    33.919998
Name: Close, dtype: float64
20050930
Date
2005-09-29    34.349998
2005-09-30    33.930000
Name: Close, dtype: float64 Date
2005-12-28    39.910000
2005-12-29    39.860001
Name: Close, dtype: float64
20051231
Date
2005-12-30    39.689999
Name: Close, dtype: float64 Date
2006-03-30    41.529999
2006-03-31    41.639999
Name: Close, dtype: float64
20060331
Date
2006-03-30    41.529999
2006-03-31    41.639999
Name: Close, dtype: float64 Date
2006-06-28    41.27
2006-06-29    42.68
Name: Close, dtype: float64
20060630
Date
2006-06-29    42.68
2006-06-30    42.00
Name: Close, dtype: float64 Date
2006-09-27    46.840000
2006-09-28    47.150002
Name: Close, dtype: float64
20060930
Date
2006-09-29    46.959999
Name: Close, dtype: float64 Date
2006-12-28    48.919998
2006-12-29    48.299999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    48.380001
Name: Close, dtype: float64 Date
2007-06-28    48.959999
2007-06-29    48.450001
Name: Close, dtype: float64
20070630
Date
2007-06-29    48.450001
Name: Close, dtype: float64 Date
2007-09-27    46.209999
2007-09-28    45.820000
Name: Close, dtype: float64
20070930
Date
2007-10-01    46.810001
Name: Close, dtype: float64 Date
2007-12-31    43.650002
Name: Close, dtype: float64
20071231
Date
2007-12-31    43.650002
Name: Close, dtype: float64 Date
2008-03-31    42.950001
Name: Close, dtype: float64
20080331
Date
2008-03-31    42.950001
Name: Close, dtype: float64 Date
2008-06-30    34.310001
Name: Close, dtype: float64
20080630
Date
2008-06-30    34.310001
Name: Close, dtype: float64 Date
2008-09-29    41
Name: Close, dtype: int64
20080930
Date
2008-09-29    41.000000
2008-09-30    46.700001
Name: Close, dtype: float64 Date
2008-12-29    29.780001
Name: Close, dtype: float64
20081231
Date
2008-12-30    31.010000
2008-12-31    31.530001
Name: Close, dtype: float64 Date
2009-03-30    24.85
2009-03-31    26.58
Name: Close, dtype: float64
20090331
Date
2009-03-30    24.85
2009-03-31    26.58
Name: Close, dtype: float64 Date
2009-06-29    34.599998
Name: Close, dtype: float64
20090630
Date
2009-06-29    34.599998
2009-06-30    34.110001
Name: Close, dtype: float64 Date
2009-09-28    44.810001
Name: Close, dtype: float64
20090930
Date
2009-09-29    44.880001
2009-09-30    43.820000
Name: Close, dtype: float64 Date
2009-12-28    41.720001
2009-12-29    41.490002
Name: Close, dtype: float64
20091231
Date
2009-12-30    41.529999
2009-12-31    41.669998
Name: Close, dtype: float64 Date
2010-03-30    44.580002
2010-03-31    44.750000
Name: Close, dtype: float64
20100331
Date
2010-03-30    44.580002
2010-03-31    44.750000
Name: Close, dtype: float64 Date
2010-06-28    38.540001
2010-06-29    37.060001
Name: Close, dtype: float64
20100630
Date
2010-06-29    37.060001
2010-06-30    36.610001
Name: Close, dtype: float64 Date
2010-09-27    39.080002
2010-09-28    38.950001
Name: Close, dtype: float64
20100930
Date
2010-09-29    38.410000
2010-09-30    38.060001
Name: Close, dtype: float64 Date
2010-12-28    42.610001
2010-12-29    42.360001
Name: Close, dtype: float64
20101231
Date
2010-12-30    42.230000
2010-12-31    42.419998
Name: Close, dtype: float64 Date
2011-03-30    46.450001
2011-03-31    46.099998
Name: Close, dtype: float64
20110331
Date
2011-03-30    46.450001
2011-03-31    46.099998
Name: Close, dtype: float64 Date
2011-06-28    39.540001
2011-06-29    40.450001
Name: Close, dtype: float64
20110630
Date
2011-06-29    40.450001
2011-06-30    40.939999
Name: Close, dtype: float64 Date
2011-09-27    31.570000
2011-09-28    30.469999
Name: Close, dtype: float64
20110930
Date
2011-09-29    31.389999
2011-09-30    30.120001
Name: Close, dtype: float64 Date
2011-12-28    32.650002
2011-12-29    33.419998
Name: Close, dtype: float64
20111231
Date
2011-12-30    33.25
Name: Close, dtype: float64 Date
2012-03-29    45.669998
2012-03-30    45.980000
Name: Close, dtype: float64
20120331
Date
2012-03-30    45.98
Name: Close, dtype: float64 Date
2012-06-28    35.880001
2012-06-29    35.730000
Name: Close, dtype: float64
20120630
Date
2012-06-29    35.73
Name: Close, dtype: float64 Date
2012-09-27    40.68
2012-09-28    40.48
Name: Close, dtype: float64
20120930
Date
2012-10-01    40.970001
Name: Close, dtype: float64 Date
2012-12-31    43.970001
Name: Close, dtype: float64
20121231
Date
2012-12-31    43.970001
Name: Close, dtype: float64 Date
2013-04-01    47.830002
Name: Close, dtype: float64
20130331
Date
2013-04-01    47.830002
Name: Close, dtype: float64 Date
2013-07-01    52.490002
Name: Close, dtype: float64
20130630
Date
2013-07-01    52.490002
Name: Close, dtype: float64 Date
2013-09-30    51.689999
Name: Close, dtype: float64
20130930
Date
2013-09-30    51.689999
Name: Close, dtype: float64 Date
2013-12-30    57.950001
Name: Close, dtype: float64
20131231
Date
2013-12-30    57.950001
2013-12-31    58.480000
Name: Close, dtype: float64 Date
2014-03-31    60.709999
Name: Close, dtype: float64
20140331
Date
2014-03-31    60.709999
Name: Close, dtype: float64 Date
2014-06-30    57.619999
Name: Close, dtype: float64
20140630
Date
2014-06-30    57.619999
Name: Close, dtype: float64 Date
2014-09-29    60.330002
Name: Close, dtype: float64
20140930
Date
2014-09-29    60.330002
2014-09-30    60.240002
Name: Close, dtype: float64 Date
2014-12-29    62.959999
Name: Close, dtype: float64
20141231

Date
2014-12-30    63.150002
2014-12-31    62.580002
Name: Close, dtype: float64 Date
2015-03-30    60.959999
2015-03-31    60.580002
Name: Close, dtype: float64
20150331
Date
2015-03-30    60.959999
2015-03-31    60.580002
Name: Close, dtype: float64 Date
2015-06-29    67.199997
Name: Close, dtype: float64
20150630
Date
2015-06-29    67.199997
2015-06-30    67.760002
Name: Close, dtype: float64 Date
2015-09-28    59.98
Name: Close, dtype: float64
20150930
Date
2015-09-29    59.840000
2015-09-30    60.970001
Name: Close, dtype: float64 Date
2015-12-28    66.379997
2015-12-29    67.070000
Name: Close, dtype: float64
20151231
Date
2015-12-30    66.589996
2015-12-31    66.029999
Name: Close, dtype: float64 Date
2016-03-29    59.029999
2016-03-30    59.709999
Name: Close, dtype: float64
20160331
Date
2016-03-30    59.709999
2016-03-31    59.220001
Name: Close, dtype: float64 Date
2016-06-28    59.520000
2016-06-29    61.200001
Name: Close, dtype: float64
20160630
Date
2016-06-29    61.200001
2016-06-30    62.139999
Name: Close, dtype: float64 Date
2016-09-27    66.360001
2016-09-28    66.709999
Name: Close, dtype: float64
20160930
Date
2016-09-29    65.650002
2016-09-30    66.589996
Name: Close, dtype: float64 Date
2016-12-28    86.500000
2016-12-29    85.889999
Name: Close, dtype: float64
20161231
Date
2016-12-30    86.290001
Name: Close, dtype: float64 Date
2017-03-30    89.029999
2017-03-31    87.839996
Name: Close, dtype: float64
20170331
Date
2017-03-30    89.029999
2017-03-31    87.839996
Name: Close, dtype: float64 Date
2017-06-28    89.820000
2017-06-29    91.150002
Name: Close, dtype: float64
20170630
Date
2017-06-29    91.150002
2017-06-30    91.400002
Name: Close, dtype: float64 Date
2017-09-27    95.180000
2017-09-28    95.379997
Name: Close, dtype: float64
20170930
Date
2017-09-29    95.510002
Name: Close, dtype: float64 Date
2017-12-28    107.790001
2017-12-29    106.940002
Name: Close, dtype: float64
20171231
Date
2018-01-02    107.949997
Name: Close, dtype: float64 Date
2018-04-02    107.849998
Name: Close, dtype: float64
20180331
Date
2018-04-02    107.849998
Name: Close, dtype: float64 Date
2018-07-02    105.080002
Name: Close, dtype: float64
20180630
Date
2018-06-29    104.199997
Name: Close, dtype: float64 Date
2018-09-27    114.519997
2018-09-28    112.839996
Name: Close, dtype: float64
20180930
Date
2018-10-01    113.5
Name: Close, dtype: float64 Date
2018-12-31    97.620003
Name: Close, dtype: float64
20181231
Date
2018-12-31    97.620003
Name: Close, dtype: float64 Date
2019-04-01    104.639999
Name: Close, dtype: float64
20190331
Date
2019-04-01    104.639999
Name: Close, dtype: float64 Date
2019-07-01    113.68
Name: Close, dtype: float64
20190630
Date
2019-07-01    113.68
Name: Close, dtype: float64 Date
2019-09-30    117.690002
Name: Close, dtype: float64
20190930
Date
2019-09-30    117.690002
Name: Close, dtype: float64 Date
2019-12-30    138.630005
Name: Close, dtype: float64
20191231
Date
2019-12-30    138.630005
2019-12-31    139.399994
Name: Close, dtype: float64 Date
2020-03-30    93.5
Name: Close, dtype: float64
20030331
Date
2003-03-31    57.869999
Name: Close, dtype: float64 Date
2003-06-30    51.700001
Name: Close, dtype: float64
20030630
Date
2003-06-30    51.700001
Name: Close, dtype: float64 Date
2003-09-29    49.860001
Name: Close, dtype: float64
20030930
Date
2003-09-29    49.860001
2003-09-30    49.520000
Name: Close, dtype: float64 Date
2003-12-29    51.25
Name: Close, dtype: float64
20031231
Date
2003-12-30    51.369999
2003-12-31    51.660000
Name: Close, dtype: float64 Date
2004-03-29    50.570000
2004-03-30    50.419998
Name: Close, dtype: float64
20040331
Date
2004-03-30    50.419998
2004-03-31    50.720001
Name: Close, dtype: float64 Date
2004-06-28    54.970001
2004-06-29    55.740002
Name: Close, dtype: float64
20040630
Date
2004-06-29    55.740002
2004-06-30    55.700001
Name: Close, dtype: float64 Date
2004-09-27    56.529999
2004-09-28    57.099998
Name: Close, dtype: float64
20040930
Date
2004-09-29    57.029999
2004-09-30    56.330002
Name: Close, dtype: float64 Date
2004-12-28    63.759998
2004-12-29    63.529999
Name: Close, dtype: float64
20041231
Date
2004-12-30    63.549999
2004-12-31    63.419998
Name: Close, dtype: float64 Date
2005-03-30    68.050003
2005-03-31    67.160004
Name: Close, dtype: float64
20050331
Date
2005-03-30    68.050003
2005-03-31    67.160004
Name: Close, dtype: float64 Date
2005-06-28    66.070000
2005-06-29    65.699997
Name: Close, dtype: float64
20050630
Date
2005-06-29    65.699997
2005-06-30    65.000000
Name: Close, dtype: float64 Date
2005-09-27    63.450001
2005-09-28    63.209999
Name: Close, dtype: float64
20050930
Date
2005-09-29    63.750000
2005-09-30    63.279999
Name: Close, dtype: float64 Date
2005-12-28    60.419998
2005-12-29    60.250000
Name: Close, dtype: float64
20051231
Date
2005-12-30    60.099998
Name: Close, dtype: float64 Date
2006-03-30    59.349998
2006-03-31    59.220001
Name: Close, dtype: float64
20060331
Date
2006-03-30    59.349998
2006-03-31    59.220001
Name: Close, dtype: float64 Date
2006-06-28    59.230000
2006-06-29    59.889999
Name: Close, dtype: float64
20060630
Date
2006-06-29    59.889999
2006-06-30    59.919998
Name: Close, dtype: float64 Date
2006-09-27    64.820000
2006-09-28    64.900002
Name: Close, dtype: float64
20060930
Date
2006-09-29    64.940002
Name: Close, dtype: float64 Date
2006-12-28    66.419998
2006-12-29    66.019997
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    60.259998
Name: Close, dtype: float64 Date
2007-06-28    61.500000
2007-06-29    61.619999
Name: Close, dtype: float64
20070630
Date
2007-06-29    61.619999
Name: Close, dtype: float64 Date
2007-09-27    65.540001
2007-09-28    65.699997
Name: Close, dtype: float64
20070930
Date
2007-10-01    66.139999
Name: Close, dtype: float64 Date
2007-12-31    66.699997
Name: Close, dtype: float64
20071231
Date
2007-12-31    66.699997
Name: Close, dtype: float64 Date
2008-03-31    64.870003
Name: Close, dtype: float64
20080331
Date
2008-03-31    64.870003
Name: Close, dtype: float64 Date
2008-06-30    64.339996
Name: Close, dtype: float64
20080630
Date
2008-06-30    64.339996
Name: Close, dtype: float64 Date
2008-09-29    66.900002
Name: Close, dtype: float64
20080930
Date
2008-09-29    66.900002
2008-09-30    69.279999
Name: Close, dtype: float64 Date
2008-12-29    58.150002
Name: Close, dtype: float64
20081231
Date
2008-12-30    59.169998
2008-12-31    59.830002
Name: Close, dtype: float64 Date
2009-03-30    53.009998
2009-03-31    52.599998
Name: Close, dtype: float64
20090331
Date
2009-03-30    53.009998
2009-03-31    52.599998
Name: Close, dtype: float64 Date
2009-06-29    56.959999
Name: Close, dtype: float64
20090630
Date
2009-06-29    56.959999
2009-06-30    56.799999
Name: Close, dtype: float64 Date
2009-09-28    61.27
Name: Close, dtype: float64
20090930
Date
2009-09-29    60.930000
2009-09-30    60.889999
Name: Close, dtype: float64 Date
2009-12-28    64.940002
2009-12-29    64.940002
Name: Close, dtype: float64
20091231
Date
2009-12-30    64.910004
2009-12-31    64.410004
Name: Close, dtype: float64 Date
2010-03-30    64.900002
2010-03-31    65.199997
Name: Close, dtype: float64
20100331
Date
2010-03-30    64.900002
2010-03-31    65.199997
Name: Close, dtype: float64 Date
2010-06-28    59.450001
2010-06-29    59.240002
Name: Close, dtype: float64
20100630
Date
2010-06-29    59.240002
2010-06-30    59.060001
Name: Close, dtype: float64 Date
2010-09-27    62.029999
2010-09-28    62.430000
Name: Close, dtype: float64
20100930
Date
2010-09-29    62.310001
2010-09-30    61.959999
Name: Close, dtype: float64 Date
2010-12-28    62.049999
2010-12-29    62.130001
Name: Close, dtype: float64
20101231
Date
2010-12-30    61.939999
2010-12-31    61.849998
Name: Close, dtype: float64 Date
2011-03-30    59.380001
2011-03-31    59.250000
Name: Close, dtype: float64
20110331
Date
2011-03-30    59.380001
2011-03-31    59.250000
Name: Close, dtype: float64 Date
2011-06-28    65.910004
2011-06-29    66.309998
Name: Close, dtype: float64
20110630
Date
2011-06-29    66.309998
2011-06-30    66.519997
Name: Close, dtype: float64 Date
2011-09-27    63.82
2011-09-28    63.25
Name: Close, dtype: float64
20110930

Date
2011-09-29    63.900002
2011-09-30    63.689999
Name: Close, dtype: float64 Date
2011-12-28    65.449997
2011-12-29    65.879997
Name: Close, dtype: float64
20111231
Date
2011-12-30    65.580002
Name: Close, dtype: float64 Date
2012-03-29    65.540001
2012-03-30    65.959999
Name: Close, dtype: float64
20120331
Date
2012-03-30    65.959999
Name: Close, dtype: float64 Date
2012-06-28    66.940002
2012-06-29    67.559998
Name: Close, dtype: float64
20120630
Date
2012-06-29    67.559998
Name: Close, dtype: float64 Date
2012-09-27    69.010002
2012-09-28    68.910004
Name: Close, dtype: float64
20120930
Date
2012-10-01    69.129997
Name: Close, dtype: float64 Date
2012-12-31    70.099998
Name: Close, dtype: float64
20121231
Date
2012-12-31    70.099998
Name: Close, dtype: float64 Date
2013-04-01    81.93
Name: Close, dtype: float64
20130331
Date
2013-04-01    81.93
Name: Close, dtype: float64 Date
2013-07-01    86.629997
Name: Close, dtype: float64
20130630
Date
2013-07-01    86.629997
Name: Close, dtype: float64 Date
2013-09-30    86.690002
Name: Close, dtype: float64
20130930
Date
2013-09-30    86.690002
Name: Close, dtype: float64 Date
2013-12-30    92.300003
Name: Close, dtype: float64
20131231
Date
2013-12-30    92.300003
2013-12-31    91.589996
Name: Close, dtype: float64 Date
2014-03-31    98.230003
Name: Close, dtype: float64
20140331
Date
2014-03-31    98.230003
Name: Close, dtype: float64 Date
2014-06-30    104.620003
Name: Close, dtype: float64
20140630
Date
2014-06-30    104.620003
Name: Close, dtype: float64 Date
2014-09-29    106.540001
Name: Close, dtype: float64
20140930
Date
2014-09-29    106.540001
2014-09-30    106.589996
Name: Close, dtype: float64 Date
2014-12-29    105.330002
Name: Close, dtype: float64
20141231
Date
2014-12-30    105.360001
2014-12-31    104.570000
Name: Close, dtype: float64 Date
2015-03-30    101.550003
2015-03-31    100.599998
Name: Close, dtype: float64
20150331
Date
2015-03-30    101.550003
2015-03-31    100.599998
Name: Close, dtype: float64 Date
2015-06-29    97.68
Name: Close, dtype: float64
20150630
Date
2015-06-29    97.680000
2015-06-30    97.459999
Name: Close, dtype: float64 Date
2015-09-28    91.370003
Name: Close, dtype: float64
20150930
Date
2015-09-29    93.040001
2015-09-30    93.349998
Name: Close, dtype: float64 Date
2015-12-28    103.220001
2015-12-29    104.029999
Name: Close, dtype: float64
20151231
Date
2015-12-30    103.779999
2015-12-31    102.720001
Name: Close, dtype: float64 Date
2016-03-29    109.139999
2016-03-30    108.980003
Name: Close, dtype: float64
20160331
Date
2016-03-30    108.980003
2016-03-31    108.199997
Name: Close, dtype: float64 Date
2016-06-28    118.230003
2016-06-29    119.330002
Name: Close, dtype: float64
20160630
Date
2016-06-29    119.330002
2016-06-30    121.300003
Name: Close, dtype: float64 Date
2016-09-27    119.220001
2016-09-28    119.389999
Name: Close, dtype: float64
20160930
Date
2016-09-29    117.269997
2016-09-30    118.129997
Name: Close, dtype: float64 Date
2016-12-28    115.099998
2016-12-29    115.489998
Name: Close, dtype: float64
20161231
Date
2016-12-30    115.209999
Name: Close, dtype: float64 Date
2017-03-30    124.660004
2017-03-31    124.550003
Name: Close, dtype: float64
20170331
Date
2017-03-30    124.660004
2017-03-31    124.550003
Name: Close, dtype: float64 Date
2017-06-28    133.820007
2017-06-29    132.639999
Name: Close, dtype: float64
20170630
Date
2017-06-29    132.639999
2017-06-30    132.289993
Name: Close, dtype: float64 Date
2017-09-27    129.750000
2017-09-28    129.470001
Name: Close, dtype: float64
20170930
Date
2017-09-29    130.009995
Name: Close, dtype: float64 Date
2017-12-28    140.559998
2017-12-29    139.720001
Name: Close, dtype: float64
20171231
Date
2018-01-02    139.229996
Name: Close, dtype: float64 Date
2018-04-02    124.559998
Name: Close, dtype: float64
20180331
Date
2018-04-02    124.559998
Name: Close, dtype: float64 Date
2018-07-02    121.580002
Name: Close, dtype: float64
20180630
Date
2018-06-29    121.339996
Name: Close, dtype: float64 Date
2018-09-27    138.220001
2018-09-28    138.169998
Name: Close, dtype: float64
20180930
Date
2018-10-01    139.690002
Name: Close, dtype: float64 Date
2018-12-31    129.050003
Name: Close, dtype: float64
20181231
Date
2018-12-31    129.050003
Name: Close, dtype: float64 Date
2019-04-01    138.979996
Name: Close, dtype: float64
20190331
Date
2019-04-01    138.979996
Name: Close, dtype: float64 Date
2019-07-01    139.360001
Name: Close, dtype: float64
20190630
Date
2019-07-01    139.360001
Name: Close, dtype: float64 Date
2019-09-30    129.380005
Name: Close, dtype: float64
20190930
Date
2019-09-30    129.380005
Name: Close, dtype: float64 Date
2019-12-30    145.300003
Name: Close, dtype: float64
20191231
Date
2019-12-30    145.300003
2019-12-31    145.869995
Name: Close, dtype: float64 Date
2020-03-30    133.009995
Name: Close, dtype: float64
20030331
Date
2003-03-31    52.029999
Name: Close, dtype: float64 Date
2003-06-30    53.669998
Name: Close, dtype: float64
20030630
Date
2003-06-30    53.669998
Name: Close, dtype: float64 Date
2003-09-29    57.23
Name: Close, dtype: float64
20030930
Date
2003-09-29    57.230000
2003-09-30    55.849998
Name: Close, dtype: float64 Date
2003-12-29    52.900002
Name: Close, dtype: float64
20031231
Date
2003-12-30    52.779999
2003-12-31    53.049999
Name: Close, dtype: float64 Date
2004-03-29    60.130001
2004-03-30    60.000000
Name: Close, dtype: float64
20040331
Date
2004-03-30    60.000000
2004-03-31    59.689999
Name: Close, dtype: float64 Date
2004-06-28    52.459999
2004-06-29    51.980000
Name: Close, dtype: float64
20040630
Date
2004-06-29    51.98
2004-06-30    52.50
Name: Close, dtype: float64 Date
2004-09-27    52.520000
2004-09-28    52.779999
Name: Close, dtype: float64
20040930
Date
2004-09-29    53.000000
2004-09-30    53.200001
Name: Close, dtype: float64 Date
2004-12-28    53.230000
2004-12-29    53.439999
Name: Close, dtype: float64
20041231
Date
2004-12-30    53.060001
2004-12-31    52.820000
Name: Close, dtype: float64 Date
2005-03-30    50.840000
2005-03-31    50.110001
Name: Close, dtype: float64
20050331
Date
2005-03-30    50.840000
2005-03-31    50.110001
Name: Close, dtype: float64 Date
2005-06-28    48.430000
2005-06-29    48.540001
Name: Close, dtype: float64
20050630
Date
2005-06-29    48.540001
2005-06-30    48.200001
Name: Close, dtype: float64 Date
2005-09-27    43.099998
2005-09-28    43.130001
Name: Close, dtype: float64
20050930
Date
2005-09-29    43.540001
2005-09-30    43.820000
Name: Close, dtype: float64 Date
2005-12-28    47.84
2005-12-29    47.48
Name: Close, dtype: float64
20051231
Date
2005-12-30    46.799999
Name: Close, dtype: float64 Date
2006-03-30    47.660000
2006-03-31    47.240002
Name: Close, dtype: float64
20060331
Date
2006-03-30    47.660000
2006-03-31    47.240002
Name: Close, dtype: float64 Date
2006-06-28    47.919998
2006-06-29    48.709999
Name: Close, dtype: float64
20060630
Date
2006-06-29    48.709999
2006-06-30    48.169998
Name: Close, dtype: float64 Date
2006-09-27    49.500000
2006-09-28    49.810001
Name: Close, dtype: float64
20060930
Date
2006-09-29    49.32
Name: Close, dtype: float64 Date
2006-12-28    46.009998
2006-12-29    46.180000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    46.950001
Name: Close, dtype: float64 Date
2007-06-28    48.209999
2007-06-29    48.110001
Name: Close, dtype: float64
20070630
Date
2007-06-29    48.110001
Name: Close, dtype: float64 Date
2007-09-27    43.610001
2007-09-28    43.650002
Name: Close, dtype: float64
20070930
Date
2007-10-01    44.470001
Name: Close, dtype: float64 Date
2007-12-31    47.529999
Name: Close, dtype: float64
20071231
Date
2007-12-31    47.529999
Name: Close, dtype: float64 Date
2008-03-31    52.68
Name: Close, dtype: float64
20080331
Date
2008-03-31    52.68
Name: Close, dtype: float64 Date
2008-06-30    56.200001
Name: Close, dtype: float64
20080630
Date
2008-06-30    56.200001
Name: Close, dtype: float64 Date
2008-09-29    58.450001
Name: Close, dtype: float64
20080930
Date
2008-09-29    58.450001
2008-09-30    59.889999
Name: Close, dtype: float64 Date
2008-12-29    55.110001
Name: Close, dtype: float64
20081231

Date
2008-12-30    55.049999
2008-12-31    56.060001
Name: Close, dtype: float64 Date
2009-03-30    51.759998
2009-03-31    52.099998
Name: Close, dtype: float64
20090331
Date
2009-03-30    51.759998
2009-03-31    52.099998
Name: Close, dtype: float64 Date
2009-06-29    48.759998
Name: Close, dtype: float64
20090630
Date
2009-06-29    48.759998
2009-06-30    48.439999
Name: Close, dtype: float64 Date
2009-09-28    49.5
Name: Close, dtype: float64
20090930
Date
2009-09-29    49.23
2009-09-30    49.09
Name: Close, dtype: float64 Date
2009-12-28    53.980000
2009-12-29    54.110001
Name: Close, dtype: float64
20091231
Date
2009-12-30    54.299999
2009-12-31    53.450001
Name: Close, dtype: float64 Date
2010-03-30    55.910000
2010-03-31    55.599998
Name: Close, dtype: float64
20100331
Date
2010-03-30    55.910000
2010-03-31    55.599998
Name: Close, dtype: float64 Date
2010-06-28    49.570000
2010-06-29    48.900002
Name: Close, dtype: float64
20100630
Date
2010-06-29    48.900002
2010-06-30    48.070000
Name: Close, dtype: float64 Date
2010-09-27    53.48
2010-09-28    53.82
Name: Close, dtype: float64
20100930
Date
2010-09-29    53.349998
2010-09-30    53.520000
Name: Close, dtype: float64 Date
2010-12-28    53.740002
2010-12-29    54.080002
Name: Close, dtype: float64
20101231
Date
2010-12-30    54.07
2010-12-31    53.93
Name: Close, dtype: float64 Date
2011-03-30    52.360001
2011-03-31    52.049999
Name: Close, dtype: float64
20110331
Date
2011-03-30    52.360001
2011-03-31    52.049999
Name: Close, dtype: float64 Date
2011-06-28    52.529999
2011-06-29    52.639999
Name: Close, dtype: float64
20110630
Date
2011-06-29    52.639999
2011-06-30    53.139999
Name: Close, dtype: float64 Date
2011-09-27    52.029999
2011-09-28    51.310001
Name: Close, dtype: float64
20110930
Date
2011-09-29    51.930000
2011-09-30    51.900002
Name: Close, dtype: float64 Date
2011-12-28    59.730000
2011-12-29    59.990002
Name: Close, dtype: float64
20111231
Date
2011-12-30    59.759998
Name: Close, dtype: float64 Date
2012-03-29    60.820000
2012-03-30    61.200001
Name: Close, dtype: float64
20120331
Date
2012-03-30    61.200001
Name: Close, dtype: float64 Date
2012-06-28    68.300003
2012-06-29    69.720001
Name: Close, dtype: float64
20120630
Date
2012-06-29    69.720001
Name: Close, dtype: float64 Date
2012-09-27    73.980003
2012-09-28    73.800003
Name: Close, dtype: float64
20120930
Date
2012-10-01    74.050003
Name: Close, dtype: float64 Date
2012-12-31    68.230003
Name: Close, dtype: float64
20121231
Date
2012-12-31    68.230003
Name: Close, dtype: float64 Date
2013-04-01    75.43
Name: Close, dtype: float64
20130331
Date
2013-04-01    75.43
Name: Close, dtype: float64 Date
2013-07-01    74.589996
Name: Close, dtype: float64
20130630
Date
2013-07-01    74.589996
Name: Close, dtype: float64 Date
2013-09-30    73.959999
Name: Close, dtype: float64
20130930
Date
2013-09-30    73.959999
Name: Close, dtype: float64 Date
2013-12-30    78.629997
Name: Close, dtype: float64
20131231
Date
2013-12-30    78.629997
2013-12-31    78.690002
Name: Close, dtype: float64 Date
2014-03-31    76.43
Name: Close, dtype: float64
20140331
Date
2014-03-31    76.43
Name: Close, dtype: float64 Date
2014-06-30    75.07
Name: Close, dtype: float64
20140630
Date
2014-06-30    75.07
Name: Close, dtype: float64 Date
2014-09-29    76.080002
Name: Close, dtype: float64
20140930
Date
2014-09-29    76.080002
2014-09-30    76.470001
Name: Close, dtype: float64 Date
2014-12-29    86.639999
Name: Close, dtype: float64
20141231
Date
2014-12-30    86.790001
2014-12-31    85.879997
Name: Close, dtype: float64 Date
2015-03-30    82.529999
2015-03-31    82.250000
Name: Close, dtype: float64
20150331
Date
2015-03-30    82.529999
2015-03-31    82.250000
Name: Close, dtype: float64 Date
2015-06-29    71.419998
Name: Close, dtype: float64
20150630
Date
2015-06-29    71.419998
2015-06-30    70.930000
Name: Close, dtype: float64 Date
2015-09-28    63.66
Name: Close, dtype: float64
20150930
Date
2015-09-29    63.779999
2015-09-30    64.839996
Name: Close, dtype: float64 Date
2015-12-28    60.750000
2015-12-29    61.610001
Name: Close, dtype: float64
20151231
Date
2015-12-30    61.680000
2015-12-31    61.299999
Name: Close, dtype: float64 Date
2016-03-29    68.029999
2016-03-30    68.800003
Name: Close, dtype: float64
20160331
Date
2016-03-30    68.800003
2016-03-31    68.489998
Name: Close, dtype: float64 Date
2016-06-28    71.510002
2016-06-29    72.459999
Name: Close, dtype: float64
20160630
Date
2016-06-29    72.459999
2016-06-30    73.019997
Name: Close, dtype: float64 Date
2016-09-27    72.330002
2016-09-28    71.790001
Name: Close, dtype: float64
20160930
Date
2016-09-29    70.730003
2016-09-30    72.120003
Name: Close, dtype: float64 Date
2016-12-28    69.309998
2016-12-29    69.260002
Name: Close, dtype: float64
20161231
Date
2016-12-30    69.120003
Name: Close, dtype: float64 Date
2017-03-30    71.589996
2017-03-31    72.080002
Name: Close, dtype: float64
20170331
Date
2017-03-30    71.589996
2017-03-31    72.080002
Name: Close, dtype: float64 Date
2017-06-28    76.510002
2017-06-29    75.930000
Name: Close, dtype: float64
20170630
Date
2017-06-29    75.93
2017-06-30    75.68
Name: Close, dtype: float64 Date
2017-09-27    79.290001
2017-09-28    78.949997
Name: Close, dtype: float64
20170930
Date
2017-09-29    78.139999
Name: Close, dtype: float64 Date
2017-12-28    99.400002
2017-12-29    98.750000
Name: Close, dtype: float64
20171231
Date
2018-01-02    98.589996
Name: Close, dtype: float64 Date
2018-04-02    85.550003
Name: Close, dtype: float64
20180331
Date
2018-04-02    85.550003
Name: Close, dtype: float64 Date
2018-07-02    84
Name: Close, dtype: int64
20180630
Date
2018-06-29    85.650002
Name: Close, dtype: float64 Date
2018-09-27    94.129997
2018-09-28    93.910004
Name: Close, dtype: float64
20180930
Date
2018-10-01    94.400002
Name: Close, dtype: float64 Date
2018-12-31    93.150002
Name: Close, dtype: float64
20181231
Date
2018-12-31    93.150002
Name: Close, dtype: float64 Date
2019-04-01    97.82
Name: Close, dtype: float64
20190331
Date
2019-04-01    97.82
Name: Close, dtype: float64 Date
2019-07-01    110.620003
Name: Close, dtype: float64
20190630
Date
2019-07-01    110.620003
Name: Close, dtype: float64 Date
2019-09-30    118.68
Name: Close, dtype: float64
20190930
Date
2019-09-30    118.68
Name: Close, dtype: float64 Date
2019-12-30    119.400002
Name: Close, dtype: float64
20191231
Date
2019-12-30    119.400002
2019-12-31    118.839996
Name: Close, dtype: float64 Date
2020-03-30    115.190002
Name: Close, dtype: float64
20030331
Date
2003-03-31    33.419998
Name: Close, dtype: float64 Date
2003-06-30    39.514999
Name: Close, dtype: float64
20030630
Date
2003-06-30    39.514999
Name: Close, dtype: float64 Date
2003-09-29    39.360001
Name: Close, dtype: float64
20030930
Date
2003-09-29    39.360001
2003-09-30    39.020000
Name: Close, dtype: float64 Date
2003-12-29    40.150002
Name: Close, dtype: float64
20031231
Date
2003-12-30    40.250
2003-12-31    40.215
Name: Close, dtype: float64 Date
2004-03-29    40.520000
2004-03-30    40.884998
Name: Close, dtype: float64
20040331
Date
2004-03-30    40.884998
2004-03-31    40.490002
Name: Close, dtype: float64 Date
2004-06-28    42.360001
2004-06-29    42.285000
Name: Close, dtype: float64
20040630
Date
2004-06-29    42.285000
2004-06-30    42.310001
Name: Close, dtype: float64 Date
2004-09-27    43.82
2004-09-28    43.68
Name: Close, dtype: float64
20040930
Date
2004-09-29    43.590000
2004-09-30    43.330002
Name: Close, dtype: float64 Date
2004-12-28    46.970001
2004-12-29    46.860001
Name: Close, dtype: float64
20041231
Date
2004-12-30    46.959999
2004-12-31    46.990002
Name: Close, dtype: float64 Date
2005-03-30    44.020000
2005-03-31    44.099998
Name: Close, dtype: float64
20050331
Date
2005-03-30    44.020000
2005-03-31    44.099998
Name: Close, dtype: float64 Date
2005-06-28    46.669998
2005-06-29    46.910000
Name: Close, dtype: float64
20050630
Date
2005-06-29    46.910000
2005-06-30    45.610001
Name: Close, dtype: float64 Date
2005-09-27    41.919998
2005-09-28    41.599998
Name: Close, dtype: float64
20050930

Date
2005-09-29    42.099998
2005-09-30    42.099998
Name: Close, dtype: float64 Date
2005-12-28    46.270000
2005-12-29    46.189999
Name: Close, dtype: float64
20051231
Date
2005-12-30    46.150002
Name: Close, dtype: float64 Date
2006-03-30    45.610001
2006-03-31    45.540001
Name: Close, dtype: float64
20060331
Date
2006-03-30    45.610001
2006-03-31    45.540001
Name: Close, dtype: float64 Date
2006-06-28    47.650002
2006-06-29    48.599998
Name: Close, dtype: float64
20060630
Date
2006-06-29    48.599998
2006-06-30    48.099998
Name: Close, dtype: float64 Date
2006-09-27    53.240002
2006-09-28    53.520000
Name: Close, dtype: float64
20060930
Date
2006-09-29    53.57
Name: Close, dtype: float64 Date
2006-12-28    53.650002
2006-12-29    53.389999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    51.02
Name: Close, dtype: float64 Date
2007-06-28    49.090000
2007-06-29    48.889999
Name: Close, dtype: float64
20070630
Date
2007-06-29    48.889999
Name: Close, dtype: float64 Date
2007-09-27    50.599998
2007-09-28    50.270000
Name: Close, dtype: float64
20070930
Date
2007-10-01    50.639999
Name: Close, dtype: float64 Date
2007-12-31    41.259998
Name: Close, dtype: float64
20071231
Date
2007-12-31    41.259998
Name: Close, dtype: float64 Date
2008-03-31    37.91
Name: Close, dtype: float64
20080331
Date
2008-03-31    37.91
Name: Close, dtype: float64 Date
2008-06-30    23.870001
Name: Close, dtype: float64
20080630
Date
2008-06-30    23.870001
Name: Close, dtype: float64 Date
2008-09-29    30.25
Name: Close, dtype: float64
20080930
Date
2008-09-29    30.25
2008-09-30    35.00
Name: Close, dtype: float64 Date
2008-12-29    12.94
Name: Close, dtype: float64
20081231
Date
2008-12-30    13.24
2008-12-31    14.08
Name: Close, dtype: float64 Date
2009-03-30    6.03
2009-03-31    6.82
Name: Close, dtype: float64
20090331
Date
2009-03-30    6.03
2009-03-31    6.82
Name: Close, dtype: float64 Date
2009-06-29    13.19
Name: Close, dtype: float64
20090630
Date
2009-06-29    13.19
2009-06-30    13.20
Name: Close, dtype: float64 Date
2009-09-28    17.219999
Name: Close, dtype: float64
20090930
Date
2009-09-29    17.16
2009-09-30    16.92
Name: Close, dtype: float64 Date
2009-12-28    15.29
2009-12-29    15.12
Name: Close, dtype: float64
20091231
Date
2009-12-30    15.07
2009-12-31    15.06
Name: Close, dtype: float64 Date
2010-03-30    17.76
2010-03-31    17.85
Name: Close, dtype: float64
20100331
Date
2010-03-30    17.76
2010-03-31    17.85
Name: Close, dtype: float64 Date
2010-06-28    15.24
2010-06-29    14.57
Name: Close, dtype: float64
20100630
Date
2010-06-29    14.57
2010-06-30    14.37
Name: Close, dtype: float64 Date
2010-09-27    13.24
2010-09-28    13.27
Name: Close, dtype: float64
20100930
Date
2010-09-29    13.11
2010-09-30    13.10
Name: Close, dtype: float64 Date
2010-12-28    13.34
2010-12-29    13.31
Name: Close, dtype: float64
20101231
Date
2010-12-30    13.28
2010-12-31    13.34
Name: Close, dtype: float64 Date
2011-03-30    13.45
2011-03-31    13.33
Name: Close, dtype: float64
20110331
Date
2011-03-30    13.45
2011-03-31    13.33
Name: Close, dtype: float64 Date
2011-06-28    10.82
2011-06-29    11.14
Name: Close, dtype: float64
20110630
Date
2011-06-29    11.14
2011-06-30    10.96
Name: Close, dtype: float64 Date
2011-09-27    6.48
2011-09-28    6.16
Name: Close, dtype: float64
20110930
Date
2011-09-29    6.35
2011-09-30    6.12
Name: Close, dtype: float64 Date
2011-12-28    5.29
2011-12-29    5.46
Name: Close, dtype: float64
20111231
Date
2011-12-30    5.56
Name: Close, dtype: float64 Date
2012-03-29    9.53
2012-03-30    9.57
Name: Close, dtype: float64
20120331
Date
2012-03-30    9.57
Name: Close, dtype: float64 Date
2012-06-28    7.74
2012-06-29    8.18
Name: Close, dtype: float64
20120630
Date
2012-06-29    8.18
Name: Close, dtype: float64 Date
2012-09-27    8.97
2012-09-28    8.83
Name: Close, dtype: float64
20120930
Date
2012-10-01    8.96
Name: Close, dtype: float64 Date
2012-12-31    11.61
Name: Close, dtype: float64
20121231
Date
2012-12-31    11.61
Name: Close, dtype: float64 Date
2013-04-01    12.15
Name: Close, dtype: float64
20130331
Date
2013-04-01    12.15
Name: Close, dtype: float64 Date
2013-07-01    12.93
Name: Close, dtype: float64
20130630
Date
2013-07-01    12.93
Name: Close, dtype: float64 Date
2013-09-30    13.8
Name: Close, dtype: float64
20130930
Date
2013-09-30    13.8
Name: Close, dtype: float64 Date
2013-12-30    15.54
Name: Close, dtype: float64
20131231
Date
2013-12-30    15.54
2013-12-31    15.57
Name: Close, dtype: float64 Date
2014-03-31    17.200001
Name: Close, dtype: float64
20140331
Date
2014-03-31    17.200001
Name: Close, dtype: float64 Date
2014-06-30    15.37
Name: Close, dtype: float64
20140630
Date
2014-06-30    15.37
Name: Close, dtype: float64 Date
2014-09-29    17.01
Name: Close, dtype: float64
20140930
Date
2014-09-29    17.010000
2014-09-30    17.049999
Name: Close, dtype: float64 Date
2014-12-29    18.110001
Name: Close, dtype: float64
20141231
Date
2014-12-30    18.129999
2014-12-31    17.889999
Name: Close, dtype: float64 Date
2015-03-30    15.52
2015-03-31    15.39
Name: Close, dtype: float64
20150331
Date
2015-03-30    15.52
2015-03-31    15.39
Name: Close, dtype: float64 Date
2015-06-29    16.889999
Name: Close, dtype: float64
20150630
Date
2015-06-29    16.889999
2015-06-30    17.020000
Name: Close, dtype: float64 Date
2015-09-28    15.47
Name: Close, dtype: float64
20150930
Date
2015-09-29    15.35
2015-09-30    15.58
Name: Close, dtype: float64 Date
2015-12-28    17.129999
2015-12-29    17.280001
Name: Close, dtype: float64
20151231
Date
2015-12-30    17.049999
2015-12-31    16.830000
Name: Close, dtype: float64 Date
2016-03-29    13.42
2016-03-30    13.48
Name: Close, dtype: float64
20160331
Date
2016-03-30    13.48
2016-03-31    13.52
Name: Close, dtype: float64 Date
2016-06-28    12.70
2016-06-29    13.19
Name: Close, dtype: float64
20160630
Date
2016-06-29    13.19
2016-06-30    13.27
Name: Close, dtype: float64 Date
2016-09-27    15.29
2016-09-28    15.38
Name: Close, dtype: float64
20160930
Date
2016-09-29    15.16
2016-09-30    15.65
Name: Close, dtype: float64 Date
2016-12-28    22.33
2016-12-29    22.00
Name: Close, dtype: float64
20161231
Date
2016-12-30    22.1
Name: Close, dtype: float64 Date
2017-03-30    23.870001
2017-03-31    23.590000
Name: Close, dtype: float64
20170331
Date
2017-03-30    23.870001
2017-03-31    23.590000
Name: Close, dtype: float64 Date
2017-06-28    23.879999
2017-06-29    24.320000
Name: Close, dtype: float64
20170630
Date
2017-06-29    24.32
2017-06-30    24.26
Name: Close, dtype: float64 Date
2017-09-27    25.410000
2017-09-28    25.450001
Name: Close, dtype: float64
20170930
Date
2017-09-29    25.34
Name: Close, dtype: float64 Date
2017-12-28    29.799999
2017-12-29    29.520000
Name: Close, dtype: float64
20171231
Date
2018-01-02    29.9
Name: Close, dtype: float64 Date
2018-04-02    29.309999
Name: Close, dtype: float64
20180331
Date
2018-04-02    29.309999
Name: Close, dtype: float64 Date
2018-07-02    28.280001
Name: Close, dtype: float64
20180630
Date
2018-06-29    28.190001
Name: Close, dtype: float64 Date
2018-09-27    29.940001
2018-09-28    29.459999
Name: Close, dtype: float64
20180930
Date
2018-10-01    29.65
Name: Close, dtype: float64 Date
2018-12-31    24.639999
Name: Close, dtype: float64
20181231
Date
2018-12-31    24.639999
Name: Close, dtype: float64 Date
2019-04-01    28.540001
Name: Close, dtype: float64
20190331
Date
2019-04-01    28.540001
Name: Close, dtype: float64 Date
2019-07-01    29.42
Name: Close, dtype: float64
20190630
Date
2019-07-01    29.42
Name: Close, dtype: float64 Date
2019-09-30    29.17
Name: Close, dtype: float64
20190930
Date
2019-09-30    29.17
Name: Close, dtype: float64 Date
2019-12-30    35.150002
Name: Close, dtype: float64
20191231
Date
2019-12-30    35.150002
2019-12-31    35.220001
Name: Close, dtype: float64 Date
2020-03-30    22.040001
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20030331

Date
2003-03-31    32.325001
Name: Close, dtype: float64 Date
2003-06-30    36.099998
Name: Close, dtype: float64
20030630
Date
2003-06-30    36.099998
Name: Close, dtype: float64 Date
2003-09-29    35.849998
Name: Close, dtype: float64
20030930
Date
2003-09-29    35.849998
2003-09-30    35.724998
Name: Close, dtype: float64 Date
2003-12-29    42.75
Name: Close, dtype: float64
20031231
Date
2003-12-30    43.029999
2003-12-31    43.195000
Name: Close, dtype: float64 Date
2004-03-29    42.689999
2004-03-30    43.540001
Name: Close, dtype: float64
20040331
Date
2004-03-30    43.540001
2004-03-31    43.889999
Name: Close, dtype: float64 Date
2004-06-28    46.410000
2004-06-29    46.720001
Name: Close, dtype: float64
20040630
Date
2004-06-29    46.720001
2004-06-30    47.055000
Name: Close, dtype: float64 Date
2004-09-27    53.700001
2004-09-28    54.070000
Name: Close, dtype: float64
20040930
Date
2004-09-29    53.630001
2004-09-30    53.639999
Name: Close, dtype: float64 Date
2004-12-28    52.439999
2004-12-29    52.930000
Name: Close, dtype: float64
20041231
Date
2004-12-30    52.520000
2004-12-31    52.509998
Name: Close, dtype: float64 Date
2005-03-30    58.259998
2005-03-31    58.310001
Name: Close, dtype: float64
20050331
Date
2005-03-30    58.259998
2005-03-31    58.310001
Name: Close, dtype: float64 Date
2005-06-28    57.000000
2005-06-29    56.759998
Name: Close, dtype: float64
20050630
Date
2005-06-29    56.759998
2005-06-30    55.919998
Name: Close, dtype: float64 Date
2005-09-27    64.180000
2005-09-28    64.980003
Name: Close, dtype: float64
20050930
Date
2005-09-29    65.769997
2005-09-30    64.730003
Name: Close, dtype: float64 Date
2005-12-28    56.700001
2005-12-29    56.470001
Name: Close, dtype: float64
20051231
Date
2005-12-30    56.77
Name: Close, dtype: float64 Date
2006-03-30    58.509998
2006-03-31    57.970001
Name: Close, dtype: float64
20060331
Date
2006-03-30    58.509998
2006-03-31    57.970001
Name: Close, dtype: float64 Date
2006-06-28    61.360001
2006-06-29    62.450001
Name: Close, dtype: float64
20060630
Date
2006-06-29    62.450001
2006-06-30    62.060001
Name: Close, dtype: float64 Date
2006-09-27    64.199997
2006-09-28    64.529999
Name: Close, dtype: float64
20060930
Date
2006-09-29    64.860001
Name: Close, dtype: float64 Date
2006-12-28    74.279999
2006-12-29    73.529999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    73.959999
Name: Close, dtype: float64 Date
2007-06-28    84.180000
2007-06-29    84.239998
Name: Close, dtype: float64
20070630
Date
2007-06-29    84.239998
Name: Close, dtype: float64 Date
2007-09-27    93.510002
2007-09-28    93.580002
Name: Close, dtype: float64
20070930
Date
2007-10-01    94.440002
Name: Close, dtype: float64 Date
2007-12-31    93.330002
Name: Close, dtype: float64
20071231
Date
2007-12-31    93.330002
Name: Close, dtype: float64 Date
2008-03-31    85.360001
Name: Close, dtype: float64
20080331
Date
2008-03-31    85.360001
Name: Close, dtype: float64 Date
2008-06-30    99.129997
Name: Close, dtype: float64
20080630
Date
2008-06-30    99.129997
Name: Close, dtype: float64 Date
2008-09-29    77.5
Name: Close, dtype: float64
20080930
Date
2008-09-29    77.500000
2008-09-30    82.480003
Name: Close, dtype: float64 Date
2008-12-29    71.550003
Name: Close, dtype: float64
20081231
Date
2008-12-30    73.379997
2008-12-31    73.970001
Name: Close, dtype: float64 Date
2009-03-30    66.800003
2009-03-31    67.239998
Name: Close, dtype: float64
20090331
Date
2009-03-30    66.800003
2009-03-31    67.239998
Name: Close, dtype: float64 Date
2009-06-29    66.879997
Name: Close, dtype: float64
20090630
Date
2009-06-29    66.879997
2009-06-30    66.250000
Name: Close, dtype: float64 Date
2009-09-28    71.699997
Name: Close, dtype: float64
20090930
Date
2009-09-29    70.910004
2009-09-30    70.430000
Name: Close, dtype: float64 Date
2009-12-28    77.769997
2009-12-29    77.209999
Name: Close, dtype: float64
20091231
Date
2009-12-30    77.650002
2009-12-31    76.989998
Name: Close, dtype: float64 Date
2010-03-30    75.300003
2010-03-31    75.830002
Name: Close, dtype: float64
20100331
Date
2010-03-30    75.300003
2010-03-31    75.830002
Name: Close, dtype: float64 Date
2010-06-28    69.959999
2010-06-29    68.360001
Name: Close, dtype: float64
20100630
Date
2010-06-29    68.360001
2010-06-30    67.860001
Name: Close, dtype: float64 Date
2010-09-27    80.080002
2010-09-28    80.879997
Name: Close, dtype: float64
20100930
Date
2010-09-29    81.279999
2010-09-30    81.050003
Name: Close, dtype: float64 Date
2010-12-28    91.190002
2010-12-29    91.370003
Name: Close, dtype: float64
20101231
Date
2010-12-30    91.599998
2010-12-31    91.250000
Name: Close, dtype: float64 Date
2011-03-30    108.010002
2011-03-31    107.489998
Name: Close, dtype: float64
20110331
Date
2011-03-30    108.010002
2011-03-31    107.489998
Name: Close, dtype: float64 Date
2011-06-28    100.349998
2011-06-29    101.279999
Name: Close, dtype: float64
20110630
Date
2011-06-29    101.279999
2011-06-30    102.839996
Name: Close, dtype: float64 Date
2011-09-27    93.540001
2011-09-28    91.739998
Name: Close, dtype: float64
20110930
Date
2011-09-29    94.389999
2011-09-30    92.589996
Name: Close, dtype: float64 Date
2011-12-28    105.959999
2011-12-29    107.470001
Name: Close, dtype: float64
20111231
Date
2011-12-30    106.400002
Name: Close, dtype: float64 Date
2012-03-29    106.849998
2012-03-30    107.209999
Name: Close, dtype: float64
20120331
Date
2012-03-30    107.209999
Name: Close, dtype: float64 Date
2012-06-28    103.459999
2012-06-29    105.500000
Name: Close, dtype: float64
20120630
Date
2012-06-29    105.5
Name: Close, dtype: float64 Date
2012-09-27    117.199997
2012-09-28    116.559998
Name: Close, dtype: float64
20120930
Date
2012-10-01    117.25
Name: Close, dtype: float64 Date
2012-12-31    108.139999
Name: Close, dtype: float64
20121231
Date
2012-12-31    108.139999
Name: Close, dtype: float64 Date
2013-04-01    119.610001
Name: Close, dtype: float64
20130331
Date
2013-04-01    119.610001
Name: Close, dtype: float64 Date
2013-07-01    119.080002
Name: Close, dtype: float64
20130630
Date
2013-07-01    119.080002
Name: Close, dtype: float64 Date
2013-09-30    121.5
Name: Close, dtype: float64
20130930
Date
2013-09-30    121.5
Name: Close, dtype: float64 Date
2013-12-30    124.230003
Name: Close, dtype: float64
20131231
Date
2013-12-30    124.230003
2013-12-31    124.910004
Name: Close, dtype: float64 Date
2014-03-31    118.910004
Name: Close, dtype: float64
20140331
Date
2014-03-31    118.910004
Name: Close, dtype: float64 Date
2014-06-30    130.550003
Name: Close, dtype: float64
20140630
Date
2014-06-30    130.550003
Name: Close, dtype: float64 Date
2014-09-29    120.550003
Name: Close, dtype: float64
20140930
Date
2014-09-29    120.550003
2014-09-30    119.320000
Name: Close, dtype: float64 Date
2014-12-29    113.32
Name: Close, dtype: float64
20141231
Date
2014-12-30    113.110001
2014-12-31    112.180000
Name: Close, dtype: float64 Date
2015-03-30    106.900002
2015-03-31    104.980003
Name: Close, dtype: float64
20150331
Date
2015-03-30    106.900002
2015-03-31    104.980003
Name: Close, dtype: float64 Date
2015-06-29    96.690002
Name: Close, dtype: float64
20150630
Date
2015-06-29    96.690002
2015-06-30    96.470001
Name: Close, dtype: float64 Date
2015-09-28    75.769997
Name: Close, dtype: float64
20150930
Date
2015-09-29    76.250000
2015-09-30    78.879997
Name: Close, dtype: float64 Date
2015-12-28    90.360001
2015-12-29    91.250000
Name: Close, dtype: float64
20151231
Date
2015-12-30    90.089996
2015-12-31    89.959999
Name: Close, dtype: float64 Date
2016-03-29    95.32
2016-03-30    95.25
Name: Close, dtype: float64
20160331
Date
2016-03-30    95.250000
2016-03-31    95.400002
Name: Close, dtype: float64 Date
2016-06-28    101.629997
2016-06-29    103.419998
Name: Close, dtype: float64
20160630
Date
2016-06-29    103.419998
2016-06-30    104.830002
Name: Close, dtype: float64 Date
2016-09-27     98.980003
2016-09-28    102.150002
Name: Close, dtype: float64
20160930
Date
2016-09-29    101.269997
2016-09-30    102.919998
Name: Close, dtype: float64 Date
2016-12-28    117.910004
2016-12-29    117.820000
Name: Close, dtype: float64
20161231

Date
2016-12-30    117.699997
Name: Close, dtype: float64 Date
2017-03-30    107.779999
2017-03-31    107.370003
Name: Close, dtype: float64
20170331
Date
2017-03-30    107.779999
2017-03-31    107.370003
Name: Close, dtype: float64 Date
2017-06-28    104.279999
2017-06-29    104.120003
Name: Close, dtype: float64
20170630
Date
2017-06-29    104.120003
2017-06-30    104.330002
Name: Close, dtype: float64 Date
2017-09-27    117.449997
2017-09-28    117.620003
Name: Close, dtype: float64
20170930
Date
2017-09-29    117.5
Name: Close, dtype: float64 Date
2017-12-28    125.580002
2017-12-29    125.190002
Name: Close, dtype: float64
20171231
Date
2018-01-02    127.580002
Name: Close, dtype: float64 Date
2018-04-02    112.239998
Name: Close, dtype: float64
20180331
Date
2018-04-02    112.239998
Name: Close, dtype: float64 Date
2018-07-02    124.25
Name: Close, dtype: float64
20180630
Date
2018-06-29    126.43
Name: Close, dtype: float64 Date
2018-09-27    122.470001
2018-09-28    122.279999
Name: Close, dtype: float64
20180930
Date
2018-10-01    124.389999
Name: Close, dtype: float64 Date
2018-12-31    108.790001
Name: Close, dtype: float64
20181231
Date
2018-12-31    108.790001
Name: Close, dtype: float64 Date
2019-04-01    124.940002
Name: Close, dtype: float64
20190331
Date
2019-04-01    124.940002
Name: Close, dtype: float64 Date
2019-07-01    124.839996
Name: Close, dtype: float64
20190630
Date
2019-07-01    124.839996
Name: Close, dtype: float64 Date
2019-09-30    118.599998
Name: Close, dtype: float64
20190930
Date
2019-09-30    118.599998
Name: Close, dtype: float64 Date
2019-12-30    119.849998
Name: Close, dtype: float64
20191231
Date
2019-12-30    119.849998
2019-12-31    120.510002
Name: Close, dtype: float64 Date
2020-03-30    71.949997
Name: Close, dtype: float64
20140630
Date
2014-06-30    11.16
Name: Close, dtype: float64 Date
2014-09-29    11.43
Name: Close, dtype: float64
20140930
Date
2014-09-29    11.43
2014-09-30    11.37
Name: Close, dtype: float64 Date
2014-12-29    9.7
Name: Close, dtype: float64
20141231
Date
2014-12-30    9.72
2014-12-31    9.97
Name: Close, dtype: float64 Date
2015-03-30    10.52
2015-03-31    10.60
Name: Close, dtype: float64
20150331
Date
2015-03-30    10.52
2015-03-31    10.60
Name: Close, dtype: float64 Date
2015-06-29    10.55
Name: Close, dtype: float64
20150630
Date
2015-06-29    10.55
2015-06-30    10.47
Name: Close, dtype: float64 Date
2015-09-28    11.77
Name: Close, dtype: float64
20150930
Date
2015-09-29    11.35
2015-09-30    11.56
Name: Close, dtype: float64 Date
2015-12-28    18.469999
2015-12-29    18.740000
Name: Close, dtype: float64
20151231
Date
2015-12-30    18.91
2015-12-31    18.85
Name: Close, dtype: float64 Date
2016-03-29    20.000000
2016-03-30    19.780001
Name: Close, dtype: float64
20160331
Date
2016-03-30    19.780001
2016-03-31    19.900000
Name: Close, dtype: float64 Date
2016-06-28    15.860000
2016-06-29    16.059999
Name: Close, dtype: float64
20160630
Date
2016-06-29    16.059999
2016-06-30    16.180000
Name: Close, dtype: float64 Date
2016-09-27    15.980000
2016-09-28    16.059999
Name: Close, dtype: float64
20160930
Date
2016-09-29    16.129999
2016-09-30    16.049999
Name: Close, dtype: float64 Date
2016-12-28    18.99
2016-12-29    18.98
Name: Close, dtype: float64
20161231
Date
2016-12-30    19.5
Name: Close, dtype: float64 Date
2017-03-30    17.15
2017-03-31    17.08
Name: Close, dtype: float64
20170331
Date
2017-03-30    17.15
2017-03-31    17.08
Name: Close, dtype: float64 Date
2017-06-28    15.52
2017-06-29    16.25
Name: Close, dtype: float64
20170630
Date
2017-06-29    16.250000
2017-06-30    16.386999
Name: Close, dtype: float64 Date
2017-09-27    16.620001
2017-09-28    16.709999
Name: Close, dtype: float64
20170930
Date
2017-09-29    16.51
Name: Close, dtype: float64 Date
2017-12-28    14.48
2017-12-29    14.65
Name: Close, dtype: float64
20171231
Date
2018-01-02    14.63
Name: Close, dtype: float64 Date
2018-04-02    12.01
Name: Close, dtype: float64
20180331
Date
2018-04-02    12.01
Name: Close, dtype: float64 Date
2018-07-02    13.01
Name: Close, dtype: float64
20180630
Date
2018-06-29    13.28
Name: Close, dtype: float64 Date
2018-09-27    12.73
2018-09-28    13.02
Name: Close, dtype: float64
20180930
Date
2018-10-01    13.05
Name: Close, dtype: float64 Date
2018-12-31    11.79
Name: Close, dtype: float64
20181231
Date
2018-12-31    11.79
Name: Close, dtype: float64 Date
2019-04-01    11.393
Name: Close, dtype: float64
20190331
Date
2019-04-01    11.393
Name: Close, dtype: float64 Date
2019-07-01    13
Name: Close, dtype: int64
20190630
Date
2019-07-01    13
Name: Close, dtype: int64 Date
2019-09-30    12.05
Name: Close, dtype: float64
20190930
Date
2019-09-30    12.05
Name: Close, dtype: float64 Date
2019-12-30    8.2
Name: Close, dtype: float64
20191231
Date
2019-12-30    8.20
2019-12-31    8.27
Name: Close, dtype: float64 Date
2020-03-30    11.96
Name: Close, dtype: float64
20030331
Date
2003-03-31    29.563568
Name: Close, dtype: float64 Date
2003-06-30    32.400379
Name: Close, dtype: float64
20030630
Date
2003-06-30    32.400379
Name: Close, dtype: float64 Date
2003-09-29    29.3074
Name: Close, dtype: float64
20030930
Date
2003-09-29    29.30740
2003-09-30    28.82353
Name: Close, dtype: float64 Date
2003-12-29    33.206833
Name: Close, dtype: float64
20031231
Date
2003-12-30    33.273243
2003-12-31    33.519924
Name: Close, dtype: float64 Date
2004-03-29    33.225807
2004-03-30    33.339657
Name: Close, dtype: float64
20040331
Date
2004-03-30    33.339657
2004-03-31    33.254269
Name: Close, dtype: float64 Date
2004-06-28    32.314991
2004-06-29    32.580647
Name: Close, dtype: float64
20040630
Date
2004-06-29    32.580647
2004-06-30    32.523720
Name: Close, dtype: float64 Date
2004-09-27    28.102467
2004-09-28    28.538900
Name: Close, dtype: float64
20040930
Date
2004-09-29    28.633776
2004-09-30    29.032259
Name: Close, dtype: float64 Date
2004-12-28    25.559772
2004-12-29    25.863379
Name: Close, dtype: float64
20041231
Date
2004-12-30    25.626186
2004-12-31    25.512335
Name: Close, dtype: float64 Date
2005-03-30    24.943073
2005-03-31    24.924099
Name: Close, dtype: float64
20050331
Date
2005-03-30    24.943073
2005-03-31    24.924099
Name: Close, dtype: float64 Date
2005-06-28    26.470589
2005-06-29    26.413662
Name: Close, dtype: float64
20050630
Date
2005-06-29    26.413662
2005-06-30    26.166983
Name: Close, dtype: float64 Date
2005-09-27    23.529411
2005-09-28    23.586338
Name: Close, dtype: float64
20050930
Date
2005-09-29    23.804554
2005-09-30    23.690702
Name: Close, dtype: float64 Date
2005-12-28    22.390892
2005-12-29    22.248577
Name: Close, dtype: float64
20051231
Date
2005-12-30    22.125237
Name: Close, dtype: float64 Date
2006-03-30    23.908918
2006-03-31    23.643263
Name: Close, dtype: float64
20060331
Date
2006-03-30    23.908918
2006-03-31    23.643263
Name: Close, dtype: float64 Date
2006-06-28    21.726755
2006-06-29    22.049335
Name: Close, dtype: float64
20060630
Date
2006-06-29    22.049335
2006-06-30    22.267551
Name: Close, dtype: float64 Date
2006-09-27    26.954460
2006-09-28    26.850096
Name: Close, dtype: float64
20060930
Date
2006-09-29    26.907021
Name: Close, dtype: float64 Date
2006-12-28    24.734344
2006-12-29    24.573055
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    23.965845
Name: Close, dtype: float64 Date
2007-06-28    24.316889
2007-06-29    24.259962
Name: Close, dtype: float64
20070630
Date
2007-06-29    24.259962
Name: Close, dtype: float64 Date
2007-09-27    23.481974
2007-09-28    23.178368
Name: Close, dtype: float64
20070930
Date
2007-10-01    23.576851
Name: Close, dtype: float64 Date
2007-12-31    21.565464
Name: Close, dtype: float64
20071231
Date
2007-12-31    21.565464
Name: Close, dtype: float64 Date
2008-03-31    19.857685
Name: Close, dtype: float64
20080331
Date
2008-03-31    19.857685
Name: Close, dtype: float64 Date
2008-06-30    16.574953
Name: Close, dtype: float64
20080630
Date
2008-06-30    16.574953
Name: Close, dtype: float64 Date
2008-09-29    16.745731
Name: Close, dtype: float64
20080930
Date
2008-09-29    16.745731
2008-09-30    17.495256
Name: Close, dtype: float64 Date
2008-12-29    16.404175
Name: Close, dtype: float64
20081231

Date
2008-12-30    16.840607
2008-12-31    16.802656
Name: Close, dtype: float64 Date
2009-03-30    12.998102
2009-03-31    12.922201
Name: Close, dtype: float64
20090331
Date
2009-03-30    12.998102
2009-03-31    12.922201
Name: Close, dtype: float64 Date
2009-06-29    14.478178
Name: Close, dtype: float64
20090630
Date
2009-06-29    14.478178
2009-06-30    14.231499
Name: Close, dtype: float64 Date
2009-09-28    15.721063
Name: Close, dtype: float64
20090930
Date
2009-09-29    15.910816
2009-09-30    15.702087
Name: Close, dtype: float64 Date
2009-12-28    17.675522
2009-12-29    17.609108
Name: Close, dtype: float64
20091231
Date
2009-12-30    17.552181
2009-12-31    17.258064
Name: Close, dtype: float64 Date
2010-03-30    16.375711
2010-03-31    16.271347
Name: Close, dtype: float64
20100331
Date
2010-03-30    16.375711
2010-03-31    16.271347
Name: Close, dtype: float64 Date
2010-06-28    13.795067
2010-06-29    13.548388
Name: Close, dtype: float64
20100630
Date
2010-06-29    13.548388
2010-06-30    13.529411
Name: Close, dtype: float64 Date
2010-09-27    16.290323
2010-09-28    16.537003
Name: Close, dtype: float64
20100930
Date
2010-09-29    16.508539
2010-09-30    16.290323
Name: Close, dtype: float64 Date
2010-12-28    16.688805
2010-12-29    16.698292
Name: Close, dtype: float64
20101231
Date
2010-12-30    16.593927
2010-12-31    16.612904
Name: Close, dtype: float64 Date
2011-03-30    19.297913
2011-03-31    19.269449
Name: Close, dtype: float64
20110331
Date
2011-03-30    19.297913
2011-03-31    19.269449
Name: Close, dtype: float64 Date
2011-06-28    19.497154
2011-06-29    19.611006
Name: Close, dtype: float64
20110630
Date
2011-06-29    19.611006
2011-06-30    19.544592
Name: Close, dtype: float64 Date
2011-09-27    16.840607
2011-09-28    16.660341
Name: Close, dtype: float64
20110930
Date
2011-09-29    17.058823
2011-09-30    16.774193
Name: Close, dtype: float64 Date
2011-12-28    20.426945
2011-12-29    20.597723
Name: Close, dtype: float64
20111231
Date
2011-12-30    20.531309
Name: Close, dtype: float64 Date
2012-03-29    21.271347
2012-03-30    21.489563
Name: Close, dtype: float64
20120331
Date
2012-03-30    21.489563
Name: Close, dtype: float64 Date
2012-06-28    21.375711
2012-06-29    21.821632
Name: Close, dtype: float64
20120630
Date
2012-06-29    21.821632
Name: Close, dtype: float64 Date
2012-09-27    23.681215
2012-09-28    23.576851
Name: Close, dtype: float64
20120930
Date
2012-10-01    23.757116
Name: Close, dtype: float64 Date
2012-12-31    23.795067
Name: Close, dtype: float64
20121231
Date
2012-12-31    23.795067
Name: Close, dtype: float64 Date
2013-04-01    27.362429
Name: Close, dtype: float64
20130331
Date
2013-04-01    27.362429
Name: Close, dtype: float64 Date
2013-07-01    26.356737
Name: Close, dtype: float64
20130630
Date
2013-07-01    26.356737
Name: Close, dtype: float64 Date
2013-09-30    27.258064
Name: Close, dtype: float64
20130930
Date
2013-09-30    27.258064
Name: Close, dtype: float64 Date
2013-12-30    29.117647
Name: Close, dtype: float64
20131231
Date
2013-12-30    29.117647
2013-12-31    29.060720
Name: Close, dtype: float64 Date
2014-03-31    30.474382
Name: Close, dtype: float64
20140331
Date
2014-03-31    30.474382
Name: Close, dtype: float64 Date
2014-06-30    28.159393
Name: Close, dtype: float64
20140630
Date
2014-06-30    28.159393
Name: Close, dtype: float64 Date
2014-09-29    28.244781
Name: Close, dtype: float64
20140930
Date
2014-09-29    28.244781
2014-09-30    28.055029
Name: Close, dtype: float64 Date
2014-12-29    29.781784
Name: Close, dtype: float64
20141231
Date
2014-12-30    29.772297
2014-12-31    29.554079
Name: Close, dtype: float64 Date
2015-03-30    33.206833
2015-03-31    33.007591
Name: Close, dtype: float64
20150331
Date
2015-03-30    33.206833
2015-03-31    33.007591
Name: Close, dtype: float64 Date
2015-06-29    31.86907
Name: Close, dtype: float64
20150630
Date
2015-06-29    31.869070
2015-06-30    31.812143
Name: Close, dtype: float64 Date
2015-09-28    29.240986
Name: Close, dtype: float64
20150930
Date
2015-09-29    29.430740
2015-09-30    29.800758
Name: Close, dtype: float64 Date
2015-12-28    30.759014
2015-12-29    31.148008
Name: Close, dtype: float64
20151231
Date
2015-12-30    31.072105
2015-12-31    30.626186
Name: Close, dtype: float64 Date
2016-03-29    28.510437
2016-03-30    28.529411
Name: Close, dtype: float64
20160331
Date
2016-03-30    28.529411
2016-03-31    28.121443
Name: Close, dtype: float64 Date
2016-06-28    32.675522
2016-06-29    33.216320
Name: Close, dtype: float64
20160630
Date
2016-06-29    33.216320
2016-06-30    33.406071
Name: Close, dtype: float64 Date
2016-09-27    32.096775
2016-09-28    32.248577
Name: Close, dtype: float64
20160930
Date
2016-09-29    31.612904
2016-09-30    32.134724
Name: Close, dtype: float64 Date
2016-12-28    30.692600
2016-12-29    30.825426
Name: Close, dtype: float64
20161231
Date
2016-12-30    30.815939
Name: Close, dtype: float64 Date
2017-03-30    32.590134
2017-03-31    32.457306
Name: Close, dtype: float64
20170331
Date
2017-03-30    32.590134
2017-03-31    32.457306
Name: Close, dtype: float64 Date
2017-06-28    32.020874
2017-06-29    31.907021
Name: Close, dtype: float64
20170630
Date
2017-06-29    31.907021
2017-06-30    31.869070
Name: Close, dtype: float64 Date
2017-09-27    33.633778
2017-09-28    33.776093
Name: Close, dtype: float64
20170930
Date
2017-09-29    33.870968
Name: Close, dtype: float64 Date
2017-12-28    34.506641
2017-12-29    34.364326
Name: Close, dtype: float64
20171231
Date
2018-01-02    34.573055
Name: Close, dtype: float64 Date
2018-04-02    33.254269
Name: Close, dtype: float64
20180331
Date
2018-04-02    33.254269
Name: Close, dtype: float64 Date
2018-07-02    34.468689
Name: Close, dtype: float64
20180630
Date
2018-06-29    34.421253
Name: Close, dtype: float64 Date
2018-09-27    41.650852
2018-09-28    41.812145
Name: Close, dtype: float64
20180930
Date
2018-10-01    42.001896
Name: Close, dtype: float64 Date
2018-12-31    41.413662
Name: Close, dtype: float64
20181231
Date
2018-12-31    41.413662
Name: Close, dtype: float64 Date
2019-04-01    40.645161
Name: Close, dtype: float64
20190331
Date
2019-04-01    40.645161
Name: Close, dtype: float64 Date
2019-07-01    41.527515
Name: Close, dtype: float64
20190630
Date
2019-07-01    41.527515
Name: Close, dtype: float64 Date
2019-09-30    34.089184
Name: Close, dtype: float64
20190930
Date
2019-09-30    34.089184
Name: Close, dtype: float64 Date
2019-12-30    36.916508
Name: Close, dtype: float64
20191231
Date
2019-12-30    36.916508
2019-12-31    37.172676
Name: Close, dtype: float64 Date
2020-03-30    30.996204
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
Date
2012-06-29    37
Name: Close, dtype: int64 Date
2012-09-27    36.410000
2012-09-28    35.919998
Name: Close, dtype: float64
20120930
Date
2012-10-01    37.880001
Name: Close, dtype: float64 Date
2012-12-31    37.099998
Name: Close, dtype: float64
20121231

Date
2012-12-31    37.099998
Name: Close, dtype: float64 Date
2013-04-01    47.040001
Name: Close, dtype: float64
20130331
Date
2013-04-01    47.040001
Name: Close, dtype: float64 Date
2013-07-01    48.360001
Name: Close, dtype: float64
20130630
Date
2013-07-01    48.360001
Name: Close, dtype: float64 Date
2013-09-30    42.115002
Name: Close, dtype: float64
20130930
Date
2013-09-30    42.115002
Name: Close, dtype: float64 Date
2013-12-30    40.139999
Name: Close, dtype: float64
20131231
Date
2013-12-30    40.139999
2013-12-31    40.012001
Name: Close, dtype: float64 Date
2014-03-31    38.880001
Name: Close, dtype: float64
20140331
Date
2014-03-31    38.880001
Name: Close, dtype: float64 Date
2014-06-30    44.310001
Name: Close, dtype: float64
20140630
Date
2014-06-30    44.310001
Name: Close, dtype: float64 Date
2014-09-29    50.610001
Name: Close, dtype: float64
20140930
Date
2014-09-29    50.610001
2014-09-30    50.709999
Name: Close, dtype: float64 Date
2014-12-29    57.880001
Name: Close, dtype: float64
20141231
Date
2014-12-30    57.930000
2014-12-31    56.830002
Name: Close, dtype: float64 Date
2015-03-30    66.540001
2015-03-31    64.110001
Name: Close, dtype: float64
20150331
Date
2015-03-30    66.540001
2015-03-31    64.110001
Name: Close, dtype: float64 Date
2015-06-29    51.169998
Name: Close, dtype: float64
20150630
Date
2015-06-29    51.169998
2015-06-30    51.480000
Name: Close, dtype: float64 Date
2015-09-28    43.75
Name: Close, dtype: float64
20150930
Date
2015-09-29    42.750000
2015-09-30    43.990002
Name: Close, dtype: float64 Date
2015-12-28    55.98
2015-12-29    57.00
Name: Close, dtype: float64
20151231
Date
2015-12-30    57.880001
2015-12-31    55.680000
Name: Close, dtype: float64 Date
2016-03-29    44.32
2016-03-30    44.34
Name: Close, dtype: float64
20160331
Date
2016-03-30    44.340000
2016-03-31    45.389999
Name: Close, dtype: float64 Date
2016-06-28    44.509998
2016-06-29    46.160000
Name: Close, dtype: float64
20160630
Date
2016-06-29    46.16
2016-06-30    47.23
Name: Close, dtype: float64 Date
2016-09-27    50.840000
2016-09-28    50.880001
Name: Close, dtype: float64
20160930
Date
2016-09-29    50.500000
2016-09-30    51.619999
Name: Close, dtype: float64 Date
2016-12-28    51.709999
2016-12-29    52.840000
Name: Close, dtype: float64
20161231
Date
2016-12-30    52.77
Name: Close, dtype: float64 Date
2017-03-30    48.330002
2017-03-31    48.500000
Name: Close, dtype: float64
20170331
Date
2017-03-30    48.330002
2017-03-31    48.500000
Name: Close, dtype: float64 Date
2017-06-28    53.73
2017-06-29    52.68
Name: Close, dtype: float64
20170630
Date
2017-06-29    52.68
2017-06-30    53.02
Name: Close, dtype: float64 Date
2017-09-27    44.730000
2017-09-28    44.310001
Name: Close, dtype: float64
20170930
Date
2017-09-29    44.650002
Name: Close, dtype: float64 Date
2017-12-28    49.799999
2017-12-29    49.520000
Name: Close, dtype: float64
20171231
Date
2018-01-02    50
Name: Close, dtype: int64 Date
2018-04-02    68.519997
Name: Close, dtype: float64
20180331
Date
2018-04-02    68.519997
Name: Close, dtype: float64 Date
2018-07-02    83.050003
Name: Close, dtype: float64
20180630
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20091231
error
20100331
error
20100331
error
20100630
error
20100930
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20160930
error
20161231
error
20170331
error
20170630
error
20170930
error
20171231
error
20180331
error
20180630
error
20180930
error
20181231
error
20190331
error
20190630
error
20190930
error
20040630
Date
2004-06-29    16.58
2004-06-30    17.50
Name: Close, dtype: float64 Date
2004-09-27    16.76
2004-09-28    17.09
Name: Close, dtype: float64
20040930
Date
2004-09-29    17.010000
2004-09-30    16.969999
Name: Close, dtype: float64 Date
2004-12-28    21.24
2004-12-29    21.50
Name: Close, dtype: float64
20041231
Date
2004-12-30    21.670000
2004-12-31    21.299999
Name: Close, dtype: float64 Date
2005-03-30    19.15
2005-03-31    19.08
Name: Close, dtype: float64
20050331
Date
2005-03-30    19.15
2005-03-31    19.08
Name: Close, dtype: float64 Date
2005-06-28    25.35
2005-06-29    26.23
Name: Close, dtype: float64
20050630
Date
2005-06-29    26.23
2005-06-30    25.91
Name: Close, dtype: float64 Date
2005-09-27    29.200001
2005-09-28    28.629999
Name: Close, dtype: float64
20050930
Date
2005-09-29    29.590000
2005-09-30    29.969999
Name: Close, dtype: float64 Date
2005-12-28    22.360001
2005-12-29    22.270000
Name: Close, dtype: float64
20051231
Date
2005-12-30    22.459999
Name: Close, dtype: float64 Date
2006-03-30    19.400000
2006-03-31    19.469999
Name: Close, dtype: float64
20060331
Date
2006-03-30    19.400000
2006-03-31    19.469999
Name: Close, dtype: float64 Date
2006-06-28    19.440001
2006-06-29    19.910000
Name: Close, dtype: float64
20060630
Date
2006-06-29    19.910000
2006-06-30    19.799999
Name: Close, dtype: float64 Date
2006-09-27    16.00
2006-09-28    16.09
Name: Close, dtype: float64
20060930
Date
2006-09-29    16.629999
Name: Close, dtype: float64 Date
2006-12-28    17.030001
2006-12-29    16.820000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    15.47
Name: Close, dtype: float64 Date
2007-06-28    17.889999
2007-06-29    18.180000
Name: Close, dtype: float64
20070630
Date
2007-06-29    18.18
Name: Close, dtype: float64 Date
2007-09-27    11.72
2007-09-28    11.60
Name: Close, dtype: float64
20070930
Date
2007-10-01    12.01
Name: Close, dtype: float64 Date
2007-12-31    10.41
Name: Close, dtype: float64
20071231
Date
2007-12-31    10.41
Name: Close, dtype: float64 Date
2008-03-31    9.63
Name: Close, dtype: float64
20080331
Date
2008-03-31    9.63
Name: Close, dtype: float64 Date
2008-06-30    12.22
Name: Close, dtype: float64
20080630
Date
2008-06-30    12.22
Name: Close, dtype: float64 Date
2008-09-29    10.85
Name: Close, dtype: float64
20080930
Date
2008-09-29    10.85
2008-09-30    10.54
Name: Close, dtype: float64 Date
2008-12-29    5.05
Name: Close, dtype: float64
20081231
Date
2008-12-30    5.62
2008-12-31    5.11
Name: Close, dtype: float64 Date
2009-03-30    5.52
2009-03-31    5.31
Name: Close, dtype: float64
20090331
Date
2009-03-30    5.52
2009-03-31    5.31
Name: Close, dtype: float64 Date
2009-06-29    8.06
Name: Close, dtype: float64
20090630
Date
2009-06-29    8.06
2009-06-30    7.69
Name: Close, dtype: float64 Date
2009-09-28    8
Name: Close, dtype: int64
20090930
Date
2009-09-29    7.61
2009-09-30    7.25
Name: Close, dtype: float64 Date
2009-12-28    6.50
2009-12-29    6.69
Name: Close, dtype: float64
20091231
Date
2009-12-30    6.76
2009-12-31    6.78
Name: Close, dtype: float64 Date
2010-03-30    6.31
2010-03-31    6.31
Name: Close, dtype: float64
20100331
Date
2010-03-30    6.31
2010-03-31    6.31
Name: Close, dtype: float64 Date
2010-06-28    4.62
2010-06-29    4.33
Name: Close, dtype: float64
20100630
Date
2010-06-29    4.33
2010-06-30    4.14
Name: Close, dtype: float64 Date
2010-09-27    4.64
2010-09-28    4.88
Name: Close, dtype: float64
20100930
Date
2010-09-29    5.10
2010-09-30    5.37
Name: Close, dtype: float64 Date
2010-12-28    5.96
2010-12-29    6.02
Name: Close, dtype: float64
20101231
Date
2010-12-30    5.92
2010-12-31    5.93
Name: Close, dtype: float64 Date
2011-03-30    5.40
2011-03-31    5.37
Name: Close, dtype: float64
20110331
Date
2011-03-30    5.40
2011-03-31    5.37
Name: Close, dtype: float64 Date
2011-06-28    3.89
2011-06-29    3.88
Name: Close, dtype: float64
20110630
Date
2011-06-29    3.88
2011-06-30    4.04
Name: Close, dtype: float64 Date
2011-09-27    3.76
2011-09-28    3.52
Name: Close, dtype: float64
20110930

Date
2011-09-29    3.40
2011-09-30    3.37
Name: Close, dtype: float64 Date
2011-12-28    3.83
2011-12-29    3.82
Name: Close, dtype: float64
20111231
Date
2011-12-30    3.91
Name: Close, dtype: float64 Date
2012-03-29    4.85
2012-03-30    4.74
Name: Close, dtype: float64
20120331
Date
2012-03-30    4.74
Name: Close, dtype: float64 Date
2012-06-28    6.52
2012-06-29    6.80
Name: Close, dtype: float64
20120630
Date
2012-06-29    6.8
Name: Close, dtype: float64 Date
2012-09-27    7.70
2012-09-28    7.46
Name: Close, dtype: float64
20120930
Date
2012-10-01    7.39
Name: Close, dtype: float64 Date
2012-12-31    4.5
Name: Close, dtype: float64
20121231
Date
2012-12-31    4.5
Name: Close, dtype: float64 Date
2013-04-01    6.71
Name: Close, dtype: float64
20130331
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20030331
Date
2003-03-31    14.46
Name: Close, dtype: float64 Date
2003-06-30    22.059999
Name: Close, dtype: float64
20030630
Date
2003-06-30    22.059999
Name: Close, dtype: float64 Date
2003-09-29    23.73
Name: Close, dtype: float64
20030930
Date
2003-09-29    23.730000
2003-09-30    23.540001
Name: Close, dtype: float64 Date
2003-12-29    24.6
Name: Close, dtype: float64
20031231
Date
2003-12-30    24.780001
2003-12-31    24.830000
Name: Close, dtype: float64 Date
2004-03-29    28.469999
2004-03-30    28.660000
Name: Close, dtype: float64
20040331
Date
2004-03-30    28.66
2004-03-31    28.57
Name: Close, dtype: float64 Date
2004-06-28    26.58
2004-06-29    26.41
Name: Close, dtype: float64
20040630
Date
2004-06-29    26.41
2004-06-30    26.00
Name: Close, dtype: float64 Date
2004-09-27    27.940001
2004-09-28    27.959999
Name: Close, dtype: float64
20040930
Date
2004-09-29    27.889999
2004-09-30    28.030001
Name: Close, dtype: float64 Date
2004-12-28    32.459999
2004-12-29    32.529999
Name: Close, dtype: float64
20041231
Date
2004-12-30    32.380001
2004-12-31    32.060001
Name: Close, dtype: float64 Date
2005-03-30    31.650000
2005-03-31    31.139999
Name: Close, dtype: float64
20050331
Date
2005-03-30    31.650000
2005-03-31    31.139999
Name: Close, dtype: float64 Date
2005-06-28    28.24
2005-06-29    27.91
Name: Close, dtype: float64
20050630
Date
2005-06-29    27.91
2005-06-30    27.75
Name: Close, dtype: float64 Date
2005-09-27    33.009998
2005-09-28    33.099998
Name: Close, dtype: float64
20050930
Date
2005-09-29    33.480000
2005-09-30    33.490002
Name: Close, dtype: float64 Date
2005-12-28    34.189999
2005-12-29    34.139999
Name: Close, dtype: float64
20051231
Date
2005-12-30    33.720001
Name: Close, dtype: float64 Date
2006-03-30    34.549999
2006-03-31    34.360001
Name: Close, dtype: float64
20060331
Date
2006-03-30    34.549999
2006-03-31    34.360001
Name: Close, dtype: float64 Date
2006-06-28    31.969999
2006-06-29    33.560001
Name: Close, dtype: float64
20060630
Date
2006-06-29    33.560001
2006-06-30    33.599998
Name: Close, dtype: float64 Date
2006-09-27    39.82
2006-09-28    39.59
Name: Close, dtype: float64
20060930
Date
2006-09-29    39.119999
Name: Close, dtype: float64 Date
2006-12-28    44.360001
2006-12-29    44.330002
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    45.049999
Name: Close, dtype: float64 Date
2007-06-28    50.849998
2007-06-29    50.759998
Name: Close, dtype: float64
20070630
Date
2007-06-29    50.759998
Name: Close, dtype: float64 Date
2007-09-27    54.560001
2007-09-28    54.470001
Name: Close, dtype: float64
20070930
Date
2007-10-01    56.009998
Name: Close, dtype: float64 Date
2007-12-31    58.91
Name: Close, dtype: float64
20071231
Date
2007-12-31    58.91
Name: Close, dtype: float64 Date
2008-03-31    55.77
Name: Close, dtype: float64
20080331
Date
2008-03-31    55.77
Name: Close, dtype: float64 Date
2008-06-30    56.220001
Name: Close, dtype: float64
20080630
Date
2008-06-30    56.220001
Name: Close, dtype: float64 Date
2008-09-29    60.16
Name: Close, dtype: float64
20080930
Date
2008-09-29    60.160000
2008-09-30    61.700001
Name: Close, dtype: float64 Date
2008-12-29    60.380001
Name: Close, dtype: float64
20081231
Date
2008-12-30    61.740002
2008-12-31    62.189999
Name: Close, dtype: float64 Date
2009-03-30    53.919998
2009-03-31    54.570000
Name: Close, dtype: float64
20090331
Date
2009-03-30    53.919998
2009-03-31    54.570000
Name: Close, dtype: float64 Date
2009-06-29    57.23
Name: Close, dtype: float64
20090630
Date
2009-06-29    57.230000
2009-06-30    57.490002
Name: Close, dtype: float64 Date
2009-09-28    57.169998
Name: Close, dtype: float64
20090930
Date
2009-09-29    57.169998
2009-09-30    57.070000
Name: Close, dtype: float64 Date
2009-12-28    63.610001
2009-12-29    63.590000
Name: Close, dtype: float64
20091231
Date
2009-12-30    62.889999
2009-12-31    62.439999
Name: Close, dtype: float64 Date
2010-03-30    67.239998
2010-03-31    66.720001
Name: Close, dtype: float64
20100331
Date
2010-03-30    67.239998
2010-03-31    66.720001
Name: Close, dtype: float64 Date
2010-06-28    67.330002
2010-06-29    66.459999
Name: Close, dtype: float64
20100630
Date
2010-06-29    66.459999
2010-06-30    65.870003
Name: Close, dtype: float64 Date
2010-09-27    74.760002
2010-09-28    74.629997
Name: Close, dtype: float64
20100930
Date
2010-09-29    74.449997
2010-09-30    74.510002
Name: Close, dtype: float64 Date
2010-12-28    76.430000
2010-12-29    76.989998
Name: Close, dtype: float64
20101231
Date
2010-12-30    76.760002
2010-12-31    76.760002
Name: Close, dtype: float64 Date
2011-03-30    75.809998
2011-03-31    76.089996
Name: Close, dtype: float64
20110331
Date
2011-03-30    75.809998
2011-03-31    76.089996
Name: Close, dtype: float64 Date
2011-06-28    84.349998
2011-06-29    84.570000
Name: Close, dtype: float64
20110630
Date
2011-06-29    84.57
2011-06-30    84.32
Name: Close, dtype: float64 Date
2011-09-27    89.739998
2011-09-28    88.029999
Name: Close, dtype: float64
20110930
Date
2011-09-29    88.779999
2011-09-30    87.820000
Name: Close, dtype: float64 Date
2011-12-28     99.580002
2011-12-29    100.809998
Name: Close, dtype: float64
20111231
Date
2011-12-30    100.330002
Name: Close, dtype: float64 Date
2012-03-29    97.639999
2012-03-30    98.099998
Name: Close, dtype: float64
20120331
Date
2012-03-30    98.099998
Name: Close, dtype: float64 Date
2012-06-28    88.180000
2012-06-29    88.529999
Name: Close, dtype: float64
20120630
Date
2012-06-29    88.529999
Name: Close, dtype: float64 Date
2012-09-27    93.269997
2012-09-28    91.750000
Name: Close, dtype: float64
20120930
Date
2012-10-01    91.989998
Name: Close, dtype: float64 Date
2012-12-31    88.209999
Name: Close, dtype: float64
20121231
Date
2012-12-31    88.209999
Name: Close, dtype: float64 Date
2013-04-01    99.050003
Name: Close, dtype: float64
20130331
Date
2013-04-01    99.050003
Name: Close, dtype: float64 Date
2013-07-01    99.82
Name: Close, dtype: float64
20130630
Date
2013-07-01    99.82
Name: Close, dtype: float64 Date
2013-09-30    96.209999
Name: Close, dtype: float64
20130930
Date
2013-09-30    96.209999
Name: Close, dtype: float64 Date
2013-12-30    97.010002
Name: Close, dtype: float64
20131231
Date
2013-12-30    97.010002
2013-12-31    97.029999
Name: Close, dtype: float64 Date
2014-03-31    98.029999
Name: Close, dtype: float64
20140331
Date
2014-03-31    98.029999
Name: Close, dtype: float64 Date
2014-06-30    100.739998
Name: Close, dtype: float64
20140630
Date
2014-06-30    100.739998
Name: Close, dtype: float64 Date
2014-09-29    96.220001
Name: Close, dtype: float64
20140930
Date
2014-09-29    96.220001
2014-09-30    94.809998
Name: Close, dtype: float64 Date
2014-12-29    95.040001
Name: Close, dtype: float64
20141231
Date
2014-12-30    94.250000
2014-12-31    93.699997
Name: Close, dtype: float64 Date
2015-03-30    97.879997
2015-03-31    97.440002
Name: Close, dtype: float64
20150331
Date
2015-03-30    97.879997
2015-03-31    97.440002
Name: Close, dtype: float64 Date
2015-06-29    95.440002
Name: Close, dtype: float64
20150630
Date
2015-06-29    95.440002
2015-06-30    95.070000
Name: Close, dtype: float64 Date
2015-09-28    95.959999
Name: Close, dtype: float64
20150930

Date
2015-09-29    97.480003
2015-09-30    98.529999
Name: Close, dtype: float64 Date
2015-12-28    118.75
2015-12-29    120.07
Name: Close, dtype: float64
20151231
Date
2015-12-30    119.430000
2015-12-31    118.139999
Name: Close, dtype: float64 Date
2016-03-29    123.970001
2016-03-30    125.830002
Name: Close, dtype: float64
20160331
Date
2016-03-30    125.830002
2016-03-31    125.680000
Name: Close, dtype: float64 Date
2016-06-28    118.500000
2016-06-29    119.489998
Name: Close, dtype: float64
20160630
Date
2016-06-29    119.489998
2016-06-30    120.339996
Name: Close, dtype: float64 Date
2016-09-27    116.879997
2016-09-28    115.180000
Name: Close, dtype: float64
20160930
Date
2016-09-29    114.790001
2016-09-30    115.360001
Name: Close, dtype: float64 Date
2016-12-28    122.680000
2016-12-29    122.790001
Name: Close, dtype: float64
20161231
Date
2016-12-30    121.720001
Name: Close, dtype: float64 Date
2017-03-30    129.320007
2017-03-31    129.610001
Name: Close, dtype: float64
20170331
Date
2017-03-30    129.320007
2017-03-31    129.610001
Name: Close, dtype: float64 Date
2017-06-28    154.300003
2017-06-29    153.130005
Name: Close, dtype: float64
20170630
Date
2017-06-29    153.130005
2017-06-30    153.160004
Name: Close, dtype: float64 Date
2017-09-27    154.050003
2017-09-28    157.490005
Name: Close, dtype: float64
20170930
Date
2017-09-29    156.679993
Name: Close, dtype: float64 Date
2017-12-28    173.100006
2017-12-29    172.119995
Name: Close, dtype: float64
20171231
Date
2018-01-02    173.220001
Name: Close, dtype: float64 Date
2018-04-02    157.720001
Name: Close, dtype: float64
20180331
Date
2018-04-02    157.720001
Name: Close, dtype: float64 Date
2018-07-02    156.869995
Name: Close, dtype: float64
20180630
Date
2018-06-29    156.690002
Name: Close, dtype: float64 Date
2018-09-27    166.529999
2018-09-28    167.289993
Name: Close, dtype: float64
20180930
Date
2018-10-01    166.669998
Name: Close, dtype: float64 Date
2018-12-31    177.570007
Name: Close, dtype: float64
20181231
Date
2018-12-31    177.570007
Name: Close, dtype: float64 Date
2019-04-01    188.389999
Name: Close, dtype: float64
20190331
Date
2019-04-01    188.389999
Name: Close, dtype: float64 Date
2019-07-01    206.300003
Name: Close, dtype: float64
20190630
Date
2019-07-01    206.300003
Name: Close, dtype: float64 Date
2019-09-30    214.710007
Name: Close, dtype: float64
20190930
Date
2019-09-30    214.710007
Name: Close, dtype: float64 Date
2019-12-30    196.910004
Name: Close, dtype: float64
20191231
Date
2019-12-30    196.910004
2019-12-31    197.610001
Name: Close, dtype: float64 Date
2020-03-30    168.130005
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20040930
Date
2004-09-29    3.9375
2004-09-30    3.9075
Name: Close, dtype: float64 Date
2004-12-28    4.2950
2004-12-29    4.2925
Name: Close, dtype: float64
20041231
Date
2004-12-30    4.215
2004-12-31    4.235
Name: Close, dtype: float64 Date
2005-03-30    3.6250
2005-03-31    3.7475
Name: Close, dtype: float64
20050331
Date
2005-03-30    3.6250
2005-03-31    3.7475
Name: Close, dtype: float64 Date
2005-06-28    5.1650
2005-06-29    5.2075
Name: Close, dtype: float64
20050630
Date
2005-06-29    5.2075
2005-06-30    5.1200
Name: Close, dtype: float64 Date
2005-09-27    5.8925
2005-09-28    5.8475
Name: Close, dtype: float64
20050930
Date
2005-09-29    5.7325
2005-09-30    5.7800
Name: Close, dtype: float64 Date
2005-12-28    8.3525
2005-12-29    8.1875
Name: Close, dtype: float64
20051231
Date
2005-12-30    8.0125
Name: Close, dtype: float64 Date
2006-03-30    9.2050
2006-03-31    9.0825
Name: Close, dtype: float64
20060331
Date
2006-03-30    9.2050
2006-03-31    9.0825
Name: Close, dtype: float64 Date
2006-06-28    6.7625
2006-06-29    6.8025
Name: Close, dtype: float64
20060630
Date
2006-06-29    6.8025
2006-06-30    6.6650
Name: Close, dtype: float64 Date
2006-09-27    9.3775
2006-09-28    9.4150
Name: Close, dtype: float64
20060930
Date
2006-09-29    8.97
Name: Close, dtype: float64 Date
2006-12-28    9.1900
2006-12-29    9.1125
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    10.705
Name: Close, dtype: float64 Date
2007-06-28    10.850
2007-06-29    10.715
Name: Close, dtype: float64
20070630
Date
2007-06-29    10.715
Name: Close, dtype: float64 Date
2007-09-27    12.735
2007-09-28    12.830
Name: Close, dtype: float64
20070930
Date
2007-10-01    13.2225
Name: Close, dtype: float64 Date
2007-12-31    15.6725
Name: Close, dtype: float64
20071231
Date
2007-12-31    15.6725
Name: Close, dtype: float64 Date
2008-03-31    14.4675
Name: Close, dtype: float64
20080331
Date
2008-03-31    14.4675
Name: Close, dtype: float64 Date
2008-06-30    17.057501
Name: Close, dtype: float64
20080630
Date
2008-06-30    17.057501
Name: Close, dtype: float64 Date
2008-09-29    11.19
Name: Close, dtype: float64
20080930
Date
2008-09-29    11.19
2008-09-30    12.10
Name: Close, dtype: float64 Date
2008-12-29    7.7325
Name: Close, dtype: float64
20081231
Date
2008-12-30    7.7400
2008-12-31    8.0025
Name: Close, dtype: float64 Date
2009-03-30    8.1425
2009-03-31    8.1825
Name: Close, dtype: float64
20090331
Date
2009-03-30    8.1425
2009-03-31    8.1825
Name: Close, dtype: float64 Date
2009-06-29    9.7275
Name: Close, dtype: float64
20090630
Date
2009-06-29    9.7275
2009-06-30    9.5425
Name: Close, dtype: float64 Date
2009-09-28    14.3675
Name: Close, dtype: float64
20090930
Date
2009-09-29    14.2900
2009-09-30    14.2325
Name: Close, dtype: float64 Date
2009-12-28    18.405001
2009-12-29    18.660000
Name: Close, dtype: float64
20091231
Date
2009-12-30    18.504999
2009-12-31    18.442499
Name: Close, dtype: float64 Date
2010-03-30    18.852501
2010-03-31    18.612499
Name: Close, dtype: float64
20100331
Date
2010-03-30    18.852501
2010-03-31    18.612499
Name: Close, dtype: float64 Date
2010-06-28    22.820000
2010-06-29    21.352501
Name: Close, dtype: float64
20100630
Date
2010-06-29    21.352501
2010-06-30    21.455000
Name: Close, dtype: float64 Date
2010-09-27    29.260000
2010-09-28    28.692499
Name: Close, dtype: float64
20100930
Date
2010-09-29    28.395000
2010-09-30    27.950001
Name: Close, dtype: float64 Date
2010-12-28    33.330002
2010-12-29    33.237499
Name: Close, dtype: float64
20101231
Date
2010-12-30    33.060001
2010-12-31    33.000000
Name: Close, dtype: float64 Date
2011-03-30    33.622501
2011-03-31    33.395000
Name: Close, dtype: float64
20110331
Date
2011-03-30    33.622501
2011-03-31    33.395000
Name: Close, dtype: float64 Date
2011-06-28    36.842499
2011-06-29    36.562500
Name: Close, dtype: float64
20110630
Date
2011-06-29    36.562500
2011-06-30    37.244999
Name: Close, dtype: float64 Date
2011-09-27    31.187500
2011-09-28    30.202499
Name: Close, dtype: float64
20110930
Date
2011-09-29    29.887501
2011-09-30    28.570000
Name: Close, dtype: float64 Date
2011-12-28    25.032499
2011-12-29    25.547501
Name: Close, dtype: float64
20111231
Date
2011-12-30    25.365
Name: Close, dtype: float64 Date
2012-03-29    39.102501
2012-03-30    38.627499
Name: Close, dtype: float64
20120331
Date
2012-03-30    38.627499
Name: Close, dtype: float64 Date
2012-06-28    32.945000
2012-06-29    34.564999
Name: Close, dtype: float64
20120630
Date
2012-06-29    34.564999
Name: Close, dtype: float64 Date
2012-09-27    38.294998
2012-09-28    38.172501
Name: Close, dtype: float64
20120930
Date
2012-10-01    37.785
Name: Close, dtype: float64 Date
2012-12-31    42.025002
Name: Close, dtype: float64
20121231

Date
2012-12-31    42.025002
Name: Close, dtype: float64 Date
2013-04-01    43.8475
Name: Close, dtype: float64
20130331
Date
2013-04-01    43.8475
Name: Close, dtype: float64 Date
2013-07-01    37.799999
Name: Close, dtype: float64
20130630
Date
2013-07-01    37.799999
Name: Close, dtype: float64 Date
2013-09-30    51.91
Name: Close, dtype: float64
20130930
Date
2013-09-30    51.91
Name: Close, dtype: float64 Date
2013-12-30    55.169998
Name: Close, dtype: float64
20131231
Date
2013-12-30    55.169998
2013-12-31    55.189999
Name: Close, dtype: float64 Date
2014-03-31    57.09
Name: Close, dtype: float64
20140331
Date
2014-03-31    57.09
Name: Close, dtype: float64 Date
2014-06-30    58.080002
Name: Close, dtype: float64
20140630
Date
2014-06-30    58.080002
Name: Close, dtype: float64 Date
2014-09-29    57.23
Name: Close, dtype: float64
20140930
Date
2014-09-29    57.230000
2014-09-30    57.529999
Name: Close, dtype: float64 Date
2014-12-29    60.349998
Name: Close, dtype: float64
20141231
Date
2014-12-30    59.430000
2014-12-31    59.310001
Name: Close, dtype: float64 Date
2015-03-30    66.849998
2015-03-31    66.809998
Name: Close, dtype: float64
20150331
Date
2015-03-30    66.849998
2015-03-31    66.809998
Name: Close, dtype: float64 Date
2015-06-29    70
Name: Close, dtype: int64
20150630
Date
2015-06-29    70.000000
2015-06-30    69.629997
Name: Close, dtype: float64 Date
2015-09-28    69.040001
Name: Close, dtype: float64
20150930
Date
2015-09-29    68.379997
2015-09-30    69.430000
Name: Close, dtype: float64 Date
2015-12-28    78.199997
2015-12-29    79.440002
Name: Close, dtype: float64
20151231
Date
2015-12-30    79.139999
2015-12-31    78.400002
Name: Close, dtype: float64 Date
2016-03-29    72.300003
2016-03-30    74.300003
Name: Close, dtype: float64
20160331
Date
2016-03-30    74.300003
2016-03-31    73.830002
Name: Close, dtype: float64 Date
2016-06-28    77.550003
2016-06-29    79.000000
Name: Close, dtype: float64
20160630
Date
2016-06-29    79.000000
2016-06-30    79.410004
Name: Close, dtype: float64 Date
2016-09-27    70.050003
2016-09-28    71.620003
Name: Close, dtype: float64
20160930
Date
2016-09-29    71.199997
2016-09-30    71.330002
Name: Close, dtype: float64 Date
2016-12-28    69.089996
2016-12-29    69.150002
Name: Close, dtype: float64
20161231
Date
2016-12-30    68.459999
Name: Close, dtype: float64 Date
2017-03-30    82.559998
2017-03-31    82.489998
Name: Close, dtype: float64
20170331
Date
2017-03-30    82.559998
2017-03-31    82.489998
Name: Close, dtype: float64 Date
2017-06-28    88.089996
2017-06-29    86.800003
Name: Close, dtype: float64
20170630
Date
2017-06-29    86.800003
2017-06-30    86.599998
Name: Close, dtype: float64 Date
2017-09-27    93.209999
2017-09-28    92.599998
Name: Close, dtype: float64
20170930
Date
2017-09-29    93.419998
Name: Close, dtype: float64 Date
2017-12-28    102.790001
2017-12-29    102.230003
Name: Close, dtype: float64
20171231
Date
2018-01-02    104.410004
Name: Close, dtype: float64 Date
2018-04-02    115.300003
Name: Close, dtype: float64
20180331
Date
2018-04-02    115.300003
Name: Close, dtype: float64 Date
2018-07-02    140.429993
Name: Close, dtype: float64
20180630
Date
2018-06-29    136.399994
Name: Close, dtype: float64 Date
2018-09-27    160.429993
2018-09-28    159.029999
Name: Close, dtype: float64
20180930
Date
2018-10-01    159.860001
Name: Close, dtype: float64 Date
2018-12-31    136.970001
Name: Close, dtype: float64
20181231
Date
2018-12-31    136.970001
Name: Close, dtype: float64 Date
2019-04-01    161.179993
Name: Close, dtype: float64
20190331
Date
2019-04-01    161.179993
Name: Close, dtype: float64 Date
2019-07-01    154.059998
Name: Close, dtype: float64
20190630
Date
2019-07-01    154.059998
Name: Close, dtype: float64 Date
2019-09-30    148.440002
Name: Close, dtype: float64
20190930
Date
2019-09-30    148.440002
Name: Close, dtype: float64 Date
2019-12-30    162.440002
Name: Close, dtype: float64
20191231
Date
2019-12-30    162.440002
2019-12-31    162.639999
Name: Close, dtype: float64 Date
2020-03-30    149.850006
Name: Close, dtype: float64
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20100930
Date
2010-09-29    8.2
2010-09-30    7.9
Name: Close, dtype: float64 Date
2010-12-28    9.00
2010-12-29    9.15
Name: Close, dtype: float64
20101231
Date
2010-12-30    8.8
2010-12-31    9.1
Name: Close, dtype: float64 Date
2011-03-30    8.75
2011-03-31    8.95
Name: Close, dtype: float64
20110331
Date
2011-03-30    8.75
2011-03-31    8.95
Name: Close, dtype: float64 Date
2011-06-28    7.1
2011-06-29    7.1
Name: Close, dtype: float64
20110630
Date
2011-06-29    7.10
2011-06-30    7.25
Name: Close, dtype: float64 Date
2011-09-27    4.85
2011-09-28    4.65
Name: Close, dtype: float64
20110930
Date
2011-09-29    4.55
2011-09-30    4.55
Name: Close, dtype: float64 Date
2011-12-28    1.25
2011-12-29    1.50
Name: Close, dtype: float64
20111231
Date
2011-12-30    1.4
Name: Close, dtype: float64 Date
2012-03-29    2.30
2012-03-30    2.35
Name: Close, dtype: float64
20120331
Date
2012-03-30    2.35
Name: Close, dtype: float64 Date
2012-06-28    1.15
2012-06-29    1.05
Name: Close, dtype: float64
20120630
Date
2012-06-29    1.05
Name: Close, dtype: float64 Date
2012-09-27    1.3
2012-09-28    1.3
Name: Close, dtype: float64
20120930
Date
2012-10-01    1.3
Name: Close, dtype: float64 Date
2012-12-31    3.6
Name: Close, dtype: float64
20121231
Date
2012-12-31    3.6
Name: Close, dtype: float64 Date
2013-04-01    4.2
Name: Close, dtype: float64
20130331
Date
2013-04-01    4.2
Name: Close, dtype: float64 Date
2013-07-01    4.75
Name: Close, dtype: float64
20130630
Date
2013-07-01    4.75
Name: Close, dtype: float64 Date
2013-09-30    4.6
Name: Close, dtype: float64
20130930
Date
2013-09-30    4.6
Name: Close, dtype: float64 Date
2013-12-30    5.85
Name: Close, dtype: float64
20131231
Date
2013-12-30    5.85
2013-12-31    6.20
Name: Close, dtype: float64 Date
2014-03-31    12.55
Name: Close, dtype: float64
20140331
Date
2014-03-31    12.55
Name: Close, dtype: float64 Date
2014-06-30    9.05
Name: Close, dtype: float64
20140630
Date
2014-06-30    9.05
Name: Close, dtype: float64 Date
2014-09-29    9.55
Name: Close, dtype: float64
20140930
Date
2014-09-29    9.55
2014-09-30    9.40
Name: Close, dtype: float64 Date
2014-12-29    9
Name: Close, dtype: int64
20141231
Date
2014-12-30    9.25
2014-12-31    9.55
Name: Close, dtype: float64 Date
2015-03-30    43.500000
2015-03-31    49.200001
Name: Close, dtype: float64
20150331
Date
2015-03-30    43.500000
2015-03-31    49.200001
Name: Close, dtype: float64 Date
2015-06-29    20.25
Name: Close, dtype: float64
20150630
Date
2015-06-29    20.25
2015-06-30    19.40
Name: Close, dtype: float64 Date
2015-09-28    10.8
Name: Close, dtype: float64
20150930
Date
2015-09-29    9.05
2015-09-30    9.95
Name: Close, dtype: float64 Date
2015-12-28    10.25
2015-12-29    10.10
Name: Close, dtype: float64
20151231
Date
2015-12-30    10.20
2015-12-31    10.15
Name: Close, dtype: float64 Date
2016-03-29    12.50
2016-03-30    12.15
Name: Close, dtype: float64
20160331
Date
2016-03-30    12.15
2016-03-31    13.25
Name: Close, dtype: float64 Date
2016-06-28    9.5
2016-06-29    9.9
Name: Close, dtype: float64
20160630
Date
2016-06-29    9.90
2016-06-30    9.95
Name: Close, dtype: float64 Date
2016-09-27    13.4
2016-09-28    13.2
Name: Close, dtype: float64
20160930
Date
2016-09-29    12.55
2016-09-30    12.60
Name: Close, dtype: float64 Date
2016-12-28    8.05
2016-12-29    8.00
Name: Close, dtype: float64
20161231
Date
2016-12-30    7.65
Name: Close, dtype: float64 Date
2017-03-30    8.25
2017-03-31    8.15
Name: Close, dtype: float64
20170331
Date
2017-03-30    8.25
2017-03-31    8.15
Name: Close, dtype: float64 Date
2017-06-28    2.35
2017-06-29    2.25
Name: Close, dtype: float64
20170630
Date
2017-06-29    2.25
2017-06-30    2.15
Name: Close, dtype: float64 Date
2017-09-27    2.40
2017-09-28    2.45
Name: Close, dtype: float64
20170930
Date
2017-09-29    2.6
Name: Close, dtype: float64 Date
2017-12-28    2.6
2017-12-29    2.5
Name: Close, dtype: float64
20171231

Date
2018-01-02    2.65
Name: Close, dtype: float64 Date
2018-04-02    0.9
Name: Close, dtype: float64
20180331
Date
2018-04-02    0.9
Name: Close, dtype: float64 Date
2018-07-02    1.25
Name: Close, dtype: float64
20180630
Date
2018-06-29    1.2
Name: Close, dtype: float64 Date
2018-09-27    3.70
2018-09-28    4.85
Name: Close, dtype: float64
20180930
Date
2018-10-01    5.95
Name: Close, dtype: float64 Date
2018-12-31    6.45
Name: Close, dtype: float64
20181231
Date
2018-12-31    6.45
Name: Close, dtype: float64 Date
2019-04-01    10.06
Name: Close, dtype: float64
20190331
Date
2019-04-01    10.06
Name: Close, dtype: float64 Date
2019-07-01    9.12
Name: Close, dtype: float64
20190630
Date
2019-07-01    9.12
Name: Close, dtype: float64 Date
2019-09-30    6.38
Name: Close, dtype: float64
20190930
Date
2019-09-30    6.38
Name: Close, dtype: float64 Date
2019-12-30    6.86
Name: Close, dtype: float64
20191231
Date
2019-12-30    6.86
2019-12-31    7.28
Name: Close, dtype: float64 Date
2020-03-30    3.56
Name: Close, dtype: float64
20030331
Date
2003-03-31    8.146667
Name: Close, dtype: float64 Date
2003-06-30    12.12
Name: Close, dtype: float64
20030630
Date
2003-06-30    12.12
Name: Close, dtype: float64 Date
2003-09-29    19.733334
Name: Close, dtype: float64
20030930
Date
2003-09-29    19.733334
2003-09-30    19.893333
Name: Close, dtype: float64 Date
2003-12-29    17.4
Name: Close, dtype: float64
20031231
Date
2003-12-30    17.593334
2003-12-31    17.860001
Name: Close, dtype: float64 Date
2004-03-29    17.700001
2004-03-30    17.973333
Name: Close, dtype: float64
20040331
Date
2004-03-30    17.973333
2004-03-31    17.966667
Name: Close, dtype: float64 Date
2004-06-28    19.473333
2004-06-29    19.506666
Name: Close, dtype: float64
20040630
Date
2004-06-29    19.506666
2004-06-30    20.020000
Name: Close, dtype: float64 Date
2004-09-27    22.066668
2004-09-28    22.066668
Name: Close, dtype: float64
20040930
Date
2004-09-29    22.133333
2004-09-30    22.500000
Name: Close, dtype: float64 Date
2004-12-28    25.459999
2004-12-29    25.100000
Name: Close, dtype: float64
20041231
Date
2004-12-30    24.766666
2004-12-31    25.333334
Name: Close, dtype: float64 Date
2005-03-30    23.346666
2005-03-31    23.373333
Name: Close, dtype: float64
20050331
Date
2005-03-30    23.346666
2005-03-31    23.373333
Name: Close, dtype: float64 Date
2005-06-28    22.690001
2005-06-29    22.400000
Name: Close, dtype: float64
20050630
Date
2005-06-29    22.40
2005-06-30    22.51
Name: Close, dtype: float64 Date
2005-09-27    17.980000
2005-09-28    17.870001
Name: Close, dtype: float64
20050930
Date
2005-09-29    17.190001
2005-09-30    17.940001
Name: Close, dtype: float64 Date
2005-12-28    16.620001
2005-12-29    16.590000
Name: Close, dtype: float64
20051231
Date
2005-12-30    16.52
Name: Close, dtype: float64 Date
2006-03-30    21.030001
2006-03-31    21.500000
Name: Close, dtype: float64
20060331
Date
2006-03-30    21.030001
2006-03-31    21.500000
Name: Close, dtype: float64 Date
2006-06-28    19.840000
2006-06-29    20.200001
Name: Close, dtype: float64
20060630
Date
2006-06-29    20.200001
2006-06-30    20.309999
Name: Close, dtype: float64 Date
2006-09-27    17.01
2006-09-28    16.85
Name: Close, dtype: float64
20060930
Date
2006-09-29    16.450001
Name: Close, dtype: float64 Date
2006-12-28    12.09
2006-12-29    11.86
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    13.36
Name: Close, dtype: float64 Date
2007-06-28    13.60
2007-06-29    13.59
Name: Close, dtype: float64
20070630
Date
2007-06-29    13.59
Name: Close, dtype: float64 Date
2007-09-27    11.23
2007-09-28    11.31
Name: Close, dtype: float64
20070930
Date
2007-10-01    11.08
Name: Close, dtype: float64 Date
2007-12-31    12.55
Name: Close, dtype: float64
20071231
Date
2007-12-31    12.55
Name: Close, dtype: float64 Date
2008-03-31    12.59
Name: Close, dtype: float64
20080331
Date
2008-03-31    12.59
Name: Close, dtype: float64 Date
2008-06-30    17.92
Name: Close, dtype: float64
20080630
Date
2008-06-30    17.92
Name: Close, dtype: float64 Date
2008-09-29    18.27
Name: Close, dtype: float64
20080930
Date
2008-09-29    18.27
2008-09-30    18.59
Name: Close, dtype: float64 Date
2008-12-29    12.69
Name: Close, dtype: float64
20081231
Date
2008-12-30    12.56
2008-12-31    13.81
Name: Close, dtype: float64 Date
2009-03-30    13.28
2009-03-31    13.59
Name: Close, dtype: float64
20090331
Date
2009-03-30    13.28
2009-03-31    13.59
Name: Close, dtype: float64 Date
2009-06-29    20.51
Name: Close, dtype: float64
20090630
Date
2009-06-29    20.51
2009-06-30    20.50
Name: Close, dtype: float64 Date
2009-09-28    23.969999
Name: Close, dtype: float64
20090930
Date
2009-09-29    23.879999
2009-09-30    23.950001
Name: Close, dtype: float64 Date
2009-12-28    25.049999
2009-12-29    25.070000
Name: Close, dtype: float64
20091231
Date
2009-12-30    25.030001
2009-12-31    26.330000
Name: Close, dtype: float64 Date
2010-03-30    24.590000
2010-03-31    24.120001
Name: Close, dtype: float64
20100331
Date
2010-03-30    24.590000
2010-03-31    24.120001
Name: Close, dtype: float64 Date
2010-06-28    24.000000
2010-06-29    23.059999
Name: Close, dtype: float64
20100630
Date
2010-06-29    23.059999
2010-06-30    22.629999
Name: Close, dtype: float64 Date
2010-09-27    25.590000
2010-09-28    25.219999
Name: Close, dtype: float64
20100930
Date
2010-09-29    25.280001
2010-09-30    25.180000
Name: Close, dtype: float64 Date
2010-12-28    26.280001
2010-12-29    26.530001
Name: Close, dtype: float64
20101231
Date
2010-12-30    26.93
2010-12-31    27.08
Name: Close, dtype: float64 Date
2011-03-30    26.090000
2011-03-31    25.780001
Name: Close, dtype: float64
20110331
Date
2011-03-30    26.090000
2011-03-31    25.780001
Name: Close, dtype: float64 Date
2011-06-28    33.040001
2011-06-29    33.389999
Name: Close, dtype: float64
20110630
Date
2011-06-29    33.389999
2011-06-30    33.000000
Name: Close, dtype: float64 Date
2011-09-27    30.059999
2011-09-28    28.530001
Name: Close, dtype: float64
20110930
Date
2011-09-29    29.129999
2011-09-30    29.020000
Name: Close, dtype: float64 Date
2011-12-28    40.000000
2011-12-29    40.400002
Name: Close, dtype: float64
20111231
Date
2011-12-30    39.18
Name: Close, dtype: float64 Date
2012-03-29    43.880001
2012-03-30    43.980000
Name: Close, dtype: float64
20120331
Date
2012-03-30    43.98
Name: Close, dtype: float64 Date
2012-06-28    36.970001
2012-06-29    38.849998
Name: Close, dtype: float64
20120630
Date
2012-06-29    38.849998
Name: Close, dtype: float64 Date
2012-09-27    45.270000
2012-09-28    45.470001
Name: Close, dtype: float64
20120930
Date
2012-10-01    45.860001
Name: Close, dtype: float64 Date
2012-12-31    40.52
Name: Close, dtype: float64
20121231
Date
2012-12-31    40.52
Name: Close, dtype: float64 Date
2013-04-01    46.619999
Name: Close, dtype: float64
20130331
Date
2013-04-01    46.619999
Name: Close, dtype: float64 Date
2013-07-01    43.540001
Name: Close, dtype: float64
20130630
Date
2013-07-01    43.540001
Name: Close, dtype: float64 Date
2013-09-30    45.110001
Name: Close, dtype: float64
20130930
Date
2013-09-30    45.110001
Name: Close, dtype: float64 Date
2013-12-30    42.240002
Name: Close, dtype: float64
20131231
Date
2013-12-30    42.240002
2013-12-31    42.230000
Name: Close, dtype: float64 Date
2014-03-31    36.66
Name: Close, dtype: float64
20140331
Date
2014-03-31    36.66
Name: Close, dtype: float64 Date
2014-06-30    39.549999
Name: Close, dtype: float64
20140630
Date
2014-06-30    39.549999
Name: Close, dtype: float64 Date
2014-09-29    40.259998
Name: Close, dtype: float64
20140930
Date
2014-09-29    40.259998
2014-09-30    39.590000
Name: Close, dtype: float64 Date
2014-12-29    52.099998
Name: Close, dtype: float64
20141231
Date
2014-12-30    52.480000
2014-12-31    53.380001
Name: Close, dtype: float64 Date
2015-03-30    53.959999
2015-03-31    54.250000
Name: Close, dtype: float64
20150331
Date
2015-03-30    53.959999
2015-03-31    54.250000
Name: Close, dtype: float64 Date
2015-06-29    49.349998
Name: Close, dtype: float64
20150630
Date
2015-06-29    49.349998
2015-06-30    49.320000
Name: Close, dtype: float64 Date
2015-09-28    32.939999
Name: Close, dtype: float64
20150930

Date
2015-09-29    32.950001
2015-09-30    33.090000
Name: Close, dtype: float64 Date
2015-12-28    27.790001
2015-12-29    28.020000
Name: Close, dtype: float64
20151231
Date
2015-12-30    27.620001
2015-12-31    26.690001
Name: Close, dtype: float64 Date
2016-03-29    24.90
2016-03-30    25.26
Name: Close, dtype: float64
20160331
Date
2016-03-30    25.26
2016-03-31    25.00
Name: Close, dtype: float64 Date
2016-06-28    26.290001
2016-06-29    27.480000
Name: Close, dtype: float64
20160630
Date
2016-06-29    27.48
2016-06-30    28.24
Name: Close, dtype: float64 Date
2016-09-27    35.689999
2016-09-28    35.590000
Name: Close, dtype: float64
20160930
Date
2016-09-29    35.119999
2016-09-30    36.389999
Name: Close, dtype: float64 Date
2016-12-28    44.950001
2016-12-29    44.599998
Name: Close, dtype: float64
20161231
Date
2016-12-30    43.75
Name: Close, dtype: float64 Date
2017-03-30    36.549999
2017-03-31    36.450001
Name: Close, dtype: float64
20170331
Date
2017-03-30    36.549999
2017-03-31    36.450001
Name: Close, dtype: float64 Date
2017-06-28    39.25
2017-06-29    39.50
Name: Close, dtype: float64
20170630
Date
2017-06-29    39.500000
2017-06-30    38.900002
Name: Close, dtype: float64 Date
2017-09-27    41.599998
2017-09-28    42.349998
Name: Close, dtype: float64
20170930
Date
2017-09-29    41.130001
Name: Close, dtype: float64 Date
2017-12-28    45.200001
2017-12-29    44.650002
Name: Close, dtype: float64
20171231
Date
2018-01-02    44.150002
Name: Close, dtype: float64 Date
2018-04-02    49.450001
Name: Close, dtype: float64
20180331
Date
2018-04-02    49.450001
Name: Close, dtype: float64 Date
2018-07-02    62.950001
Name: Close, dtype: float64
20180630
Date
2018-06-29    61.900002
Name: Close, dtype: float64 Date
2018-09-27    78.349998
2018-09-28    78.199997
Name: Close, dtype: float64
20180930
Date
2018-10-01    79.82
Name: Close, dtype: float64 Date
2018-12-31    72.449997
Name: Close, dtype: float64
20181231
Date
2018-12-31    72.449997
Name: Close, dtype: float64 Date
2019-04-01    89.889999
Name: Close, dtype: float64
20190331
Date
2019-04-01    89.889999
Name: Close, dtype: float64 Date
2019-07-01    85.839996
Name: Close, dtype: float64
20190630
Date
2019-07-01    85.839996
Name: Close, dtype: float64 Date
2019-09-30    91.699997
Name: Close, dtype: float64
20190930
Date
2019-09-30    91.699997
Name: Close, dtype: float64 Date
2019-12-30    109.059998
Name: Close, dtype: float64
20191231
Date
2019-12-30    109.059998
2019-12-31    109.660004
Name: Close, dtype: float64 Date
2020-03-30    53.130001
Name: Close, dtype: float64
20110930
Date
2011-09-29    7.18
2011-09-30    6.65
Name: Close, dtype: float64 Date
2011-12-28    3.77
2011-12-29    4.05
Name: Close, dtype: float64
20111231
Date
2011-12-30    4.27
Name: Close, dtype: float64 Date
2012-03-29    3.35
2012-03-30    3.41
Name: Close, dtype: float64
20120331
Date
2012-03-30    3.41
Name: Close, dtype: float64 Date
2012-06-28    3.94
2012-06-29    5.08
Name: Close, dtype: float64
20120630
Date
2012-06-29    5.08
Name: Close, dtype: float64 Date
2012-09-27    3.73
2012-09-28    3.90
Name: Close, dtype: float64
20120930
Date
2012-10-01    4.01
Name: Close, dtype: float64 Date
2012-12-31    3.59
Name: Close, dtype: float64
20121231
Date
2012-12-31    3.59
Name: Close, dtype: float64 Date
2013-04-01    4.85
Name: Close, dtype: float64
20130331
Date
2013-04-01    4.85
Name: Close, dtype: float64 Date
2013-07-01    5.95
Name: Close, dtype: float64
20130630
Date
2013-07-01    5.95
Name: Close, dtype: float64 Date
2013-09-30    7.5
Name: Close, dtype: float64
20130930
Date
2013-09-30    7.5
Name: Close, dtype: float64 Date
2013-12-30    7.03
Name: Close, dtype: float64
20131231
Date
2013-12-30    7.03
2013-12-31    7.13
Name: Close, dtype: float64 Date
2014-03-31    6.35
Name: Close, dtype: float64
20140331
Date
2014-03-31    6.35
Name: Close, dtype: float64 Date
2014-06-30    8.35
Name: Close, dtype: float64
20140630
Date
2014-06-30    8.35
Name: Close, dtype: float64 Date
2014-09-29    3.72
Name: Close, dtype: float64
20140930
Date
2014-09-29    3.72
2014-09-30    3.53
Name: Close, dtype: float64 Date
2014-12-29    3.38
Name: Close, dtype: float64
20141231
Date
2014-12-30    3.29
2014-12-31    3.43
Name: Close, dtype: float64 Date
2015-03-30    7.43
2015-03-31    7.53
Name: Close, dtype: float64
20150331
Date
2015-03-30    7.43
2015-03-31    7.53
Name: Close, dtype: float64 Date
2015-06-29    2.5
Name: Close, dtype: float64
20150630
Date
2015-06-29    2.50
2015-06-30    2.37
Name: Close, dtype: float64 Date
2015-09-28    3.01
Name: Close, dtype: float64
20150930
Date
2015-09-29    2.76
2015-09-30    2.89
Name: Close, dtype: float64 Date
2015-12-28    3.45
2015-12-29    3.54
Name: Close, dtype: float64
20151231
Date
2015-12-30    3.48
2015-12-31    3.50
Name: Close, dtype: float64 Date
2016-03-29    2.22
2016-03-30    2.26
Name: Close, dtype: float64
20160331
Date
2016-03-30    2.26
2016-03-31    2.25
Name: Close, dtype: float64 Date
2016-06-28    3.48
2016-06-29    3.32
Name: Close, dtype: float64
20160630
Date
2016-06-29    3.32
2016-06-30    1.29
Name: Close, dtype: float64 Date
2016-09-27    0.75
2016-09-28    0.79
Name: Close, dtype: float64
20160930
Date
2016-09-29    0.76
2016-09-30    0.74
Name: Close, dtype: float64 Date
2016-12-28    0.98
2016-12-29    0.95
Name: Close, dtype: float64
20161231
Date
2016-12-30    0.9
Name: Close, dtype: float64 Date
2017-03-30    0.78
2017-03-31    0.80
Name: Close, dtype: float64
20170331
Date
2017-03-30    0.78
2017-03-31    0.80
Name: Close, dtype: float64 Date
2017-06-28    0.53
2017-06-29    0.54
Name: Close, dtype: float64
20170630
Date
2017-06-29    0.54
2017-06-30    0.52
Name: Close, dtype: float64 Date
2017-09-27    0.62
2017-09-28    0.62
Name: Close, dtype: float64
20170930
Date
2017-09-29    0.61
Name: Close, dtype: float64 Date
2017-12-28    4.19
2017-12-29    4.07
Name: Close, dtype: float64
20171231
Date
2018-01-02    3.48
Name: Close, dtype: float64 Date
2018-04-02    3.41
Name: Close, dtype: float64
20180331
Date
2018-04-02    3.41
Name: Close, dtype: float64 Date
2018-07-02    2.05
Name: Close, dtype: float64
20180630
Date
2018-06-29    2.2
Name: Close, dtype: float64 Date
2018-09-27    0.49
2018-09-28    0.51
Name: Close, dtype: float64
20180930
Date
2018-10-01    0.52
Name: Close, dtype: float64 Date
2018-12-31    0.39
Name: Close, dtype: float64
20181231
Date
2018-12-31    0.39
Name: Close, dtype: float64 Date
2019-04-01    0.56
Name: Close, dtype: float64
20190331
Date
2019-04-01    0.56
Name: Close, dtype: float64 Date
2019-07-01    0.42
Name: Close, dtype: float64
20190630
Date
2019-07-01    0.42
Name: Close, dtype: float64 Date
2019-09-30    0.5
Name: Close, dtype: float64
20190930
Date
2019-09-30    0.5
Name: Close, dtype: float64 Date
2019-12-30    0.52
Name: Close, dtype: float64
20191231
Date
2019-12-30    0.52
2019-12-31    0.58
Name: Close, dtype: float64 Date
2020-03-30    0.43
Name: Close, dtype: float64
20030331
Date
2003-03-31    18.1
Name: Close, dtype: float64 Date
2003-06-30    21.02
Name: Close, dtype: float64
20030630
Date
2003-06-30    21.02
Name: Close, dtype: float64 Date
2003-09-29    22.24
Name: Close, dtype: float64
20030930
Date
2003-09-29    22.240000
2003-09-30    21.700001
Name: Close, dtype: float64 Date
2003-12-29    25.370001
Name: Close, dtype: float64
20031231
Date
2003-12-30    25.250000
2003-12-31    25.200001
Name: Close, dtype: float64 Date
2004-03-29    27.799999
2004-03-30    28.320000
Name: Close, dtype: float64
20040331
Date
2004-03-30    28.320000
2004-03-31    28.280001
Name: Close, dtype: float64 Date
2004-06-28    29.990000
2004-06-29    30.040001
Name: Close, dtype: float64
20040630
Date
2004-06-29    30.040001
2004-06-30    30.740000
Name: Close, dtype: float64 Date
2004-09-27    26.570000
2004-09-28    27.040001
Name: Close, dtype: float64
20040930
Date
2004-09-29    27.00
2004-09-30    27.02
Name: Close, dtype: float64 Date
2004-12-28    30.35
2004-12-29    30.32
Name: Close, dtype: float64
20041231
Date
2004-12-30    30.280001
2004-12-31    30.190001
Name: Close, dtype: float64 Date
2005-03-30    24.889999
2005-03-31    25.290001
Name: Close, dtype: float64
20050331

Date
2005-03-30    24.889999
2005-03-31    25.290001
Name: Close, dtype: float64 Date
2005-06-28    26.75
2005-06-29    26.99
Name: Close, dtype: float64
20050630
Date
2005-06-29    26.990000
2005-06-30    26.870001
Name: Close, dtype: float64 Date
2005-09-27    30.4
2005-09-28    30.6
Name: Close, dtype: float64
20050930
Date
2005-09-29    30.73
2005-09-30    30.90
Name: Close, dtype: float64 Date
2005-12-28    30.250000
2005-12-29    30.690001
Name: Close, dtype: float64
20051231
Date
2005-12-30    30.129999
Name: Close, dtype: float64 Date
2006-03-30    37.099998
2006-03-31    37.090000
Name: Close, dtype: float64
20060331
Date
2006-03-30    37.099998
2006-03-31    37.090000
Name: Close, dtype: float64 Date
2006-06-28    34.669998
2006-06-29    35.830002
Name: Close, dtype: float64
20060630
Date
2006-06-29    35.830002
2006-06-30    36.240002
Name: Close, dtype: float64 Date
2006-09-27    39.570000
2006-09-28    39.439999
Name: Close, dtype: float64
20060930
Date
2006-09-29    39.330002
Name: Close, dtype: float64 Date
2006-12-28    45.680000
2006-12-29    45.290001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    46.75
Name: Close, dtype: float64 Date
2007-06-28    51.630001
2007-06-29    51.720001
Name: Close, dtype: float64
20070630
Date
2007-06-29    51.720001
Name: Close, dtype: float64 Date
2007-09-27    57.820000
2007-09-28    57.720001
Name: Close, dtype: float64
20070930
Date
2007-10-01    58.139999
Name: Close, dtype: float64 Date
2007-12-31    57.68
Name: Close, dtype: float64
20071231
Date
2007-12-31    57.68
Name: Close, dtype: float64 Date
2008-03-31    56.84
Name: Close, dtype: float64
20080331
Date
2008-03-31    56.84
Name: Close, dtype: float64 Date
2008-06-30    55.73
Name: Close, dtype: float64
20080630
Date
2008-06-30    55.73
Name: Close, dtype: float64 Date
2008-09-29    52.970001
Name: Close, dtype: float64
20080930
Date
2008-09-29    52.970001
2008-09-30    55.000000
Name: Close, dtype: float64 Date
2008-12-29    32.75
Name: Close, dtype: float64
20081231
Date
2008-12-30    33.540001
2008-12-31    34.070000
Name: Close, dtype: float64 Date
2009-03-30    35.900002
2009-03-31    35.669998
Name: Close, dtype: float64
20090331
Date
2009-03-30    35.900002
2009-03-31    35.669998
Name: Close, dtype: float64 Date
2009-06-29    41.82
Name: Close, dtype: float64
20090630
Date
2009-06-29    41.82
2009-06-30    40.77
Name: Close, dtype: float64 Date
2009-09-28    44.02
Name: Close, dtype: float64
20090930
Date
2009-09-29    43.610001
2009-09-30    43.669998
Name: Close, dtype: float64 Date
2009-12-28    48.549999
2009-12-29    48.660000
Name: Close, dtype: float64
20091231
Date
2009-12-30    48.049999
2009-12-31    47.689999
Name: Close, dtype: float64 Date
2010-03-30    51.660000
2010-03-31    51.439999
Name: Close, dtype: float64
20100331
Date
2010-03-30    51.660000
2010-03-31    51.439999
Name: Close, dtype: float64 Date
2010-06-28    51.049999
2010-06-29    49.750000
Name: Close, dtype: float64
20100630
Date
2010-06-29    49.750000
2010-06-30    49.049999
Name: Close, dtype: float64 Date
2010-09-27    47.720001
2010-09-28    48.180000
Name: Close, dtype: float64
20100930
Date
2010-09-29    47.849998
2010-09-30    47.880001
Name: Close, dtype: float64 Date
2010-12-28    55.189999
2010-12-29    55.740002
Name: Close, dtype: float64
20101231
Date
2010-12-30    55.669998
2010-12-31    55.360001
Name: Close, dtype: float64 Date
2011-03-30    54.910000
2011-03-31    55.549999
Name: Close, dtype: float64
20110331
Date
2011-03-30    54.910000
2011-03-31    55.549999
Name: Close, dtype: float64 Date
2011-06-28    64.300003
2011-06-29    64.070000
Name: Close, dtype: float64
20110630
Date
2011-06-29    64.070000
2011-06-30    64.389999
Name: Close, dtype: float64 Date
2011-09-27    52.009998
2011-09-28    50.849998
Name: Close, dtype: float64
20110930
Date
2011-09-29    51.500000
2011-09-30    50.639999
Name: Close, dtype: float64 Date
2011-12-28    44.230000
2011-12-29    44.950001
Name: Close, dtype: float64
20111231
Date
2011-12-30    44.970001
Name: Close, dtype: float64 Date
2012-03-29    56.060001
2012-03-30    56.380001
Name: Close, dtype: float64
20120331
Date
2012-03-30    56.380001
Name: Close, dtype: float64 Date
2012-06-28    50.549999
2012-06-29    51.910000
Name: Close, dtype: float64
20120630
Date
2012-06-29    51.91
Name: Close, dtype: float64 Date
2012-09-27    59.439999
2012-09-28    58.830002
Name: Close, dtype: float64
20120930
Date
2012-10-01    59.23
Name: Close, dtype: float64 Date
2012-12-31    63.779999
Name: Close, dtype: float64
20121231
Date
2012-12-31    63.779999
Name: Close, dtype: float64 Date
2013-04-01    75.529999
Name: Close, dtype: float64
20130331
Date
2013-04-01    75.529999
Name: Close, dtype: float64 Date
2013-07-01    86.349998
Name: Close, dtype: float64
20130630
Date
2013-07-01    86.349998
Name: Close, dtype: float64 Date
2013-09-30    92.150002
Name: Close, dtype: float64
20130930
Date
2013-09-30    92.150002
Name: Close, dtype: float64 Date
2013-12-30    110.589996
Name: Close, dtype: float64
20131231
Date
2013-12-30    110.589996
2013-12-31    111.349998
Name: Close, dtype: float64 Date
2014-03-31    120.239998
Name: Close, dtype: float64
20140331
Date
2014-03-31    120.239998
Name: Close, dtype: float64 Date
2014-06-30    118
Name: Close, dtype: int64
20140630
Date
2014-06-30    118
Name: Close, dtype: int64 Date
2014-09-29    122
Name: Close, dtype: int64
20140930
Date
2014-09-29    122.000000
2014-09-30    121.699997
Name: Close, dtype: float64 Date
2014-12-29    126.860001
Name: Close, dtype: float64
20141231
Date
2014-12-30    126.610001
2014-12-31    125.290001
Name: Close, dtype: float64 Date
2015-03-30    135.570007
2015-03-31    134.339996
Name: Close, dtype: float64
20150331
Date
2015-03-30    135.570007
2015-03-31    134.339996
Name: Close, dtype: float64 Date
2015-06-29    129.449997
Name: Close, dtype: float64
20150630
Date
2015-06-29    129.449997
2015-06-30    129.759995
Name: Close, dtype: float64 Date
2015-09-28    118.129997
Name: Close, dtype: float64
20150930
Date
2015-09-29    119.839996
2015-09-30    122.279999
Name: Close, dtype: float64 Date
2015-12-28    140.699997
2015-12-29    143.029999
Name: Close, dtype: float64
20151231
Date
2015-12-30    142.860001
2015-12-31    141.850006
Name: Close, dtype: float64 Date
2016-03-29    140.149994
2016-03-30    140.789993
Name: Close, dtype: float64
20160331
Date
2016-03-30    140.789993
2016-03-31    141.589996
Name: Close, dtype: float64 Date
2016-06-28    143.149994
2016-06-29    145.160004
Name: Close, dtype: float64
20160630
Date
2016-06-29    145.160004
2016-06-30    147.759995
Name: Close, dtype: float64 Date
2016-09-27    158.880005
2016-09-28    158.639999
Name: Close, dtype: float64
20160930
Date
2016-09-29    156.059998
2016-09-30    159.059998
Name: Close, dtype: float64 Date
2016-12-28    141.220001
2016-12-29    141.479996
Name: Close, dtype: float64
20161231
Date
2016-12-30    141.100006
Name: Close, dtype: float64 Date
2017-03-30    153.910004
2017-03-31    153.600006
Name: Close, dtype: float64
20170331
Date
2017-03-30    153.910004
2017-03-31    153.600006
Name: Close, dtype: float64 Date
2017-06-28    175.770004
2017-06-29    173.889999
Name: Close, dtype: float64
20170630
Date
2017-06-29    173.889999
2017-06-30    174.470001
Name: Close, dtype: float64 Date
2017-09-27    188.470001
2017-09-28    186.449997
Name: Close, dtype: float64
20170930
Date
2017-09-29    189.199997
Name: Close, dtype: float64 Date
2017-12-28    191.169998
2017-12-29    189.880005
Name: Close, dtype: float64
20171231
Date
2018-01-02    192.979996
Name: Close, dtype: float64 Date
2018-04-02    203.139999
Name: Close, dtype: float64
20180331
Date
2018-04-02    203.139999
Name: Close, dtype: float64 Date
2018-07-02    205.570007
Name: Close, dtype: float64
20180630
Date
2018-06-29    207.139999
Name: Close, dtype: float64 Date
2018-09-27    244.320007
2018-09-28    244.080002
Name: Close, dtype: float64
20180930
Date
2018-10-01    248.509995
Name: Close, dtype: float64 Date
2018-12-31    223.789993
Name: Close, dtype: float64
20181231
Date
2018-12-31    223.789993
Name: Close, dtype: float64 Date
2019-04-01    276.190002
Name: Close, dtype: float64
20190331

Date
2019-04-01    276.190002
Name: Close, dtype: float64 Date
2019-07-01    299.410004
Name: Close, dtype: float64
20190630
Date
2019-07-01    299.410004
Name: Close, dtype: float64 Date
2019-09-30    291.269989
Name: Close, dtype: float64
20190930
Date
2019-09-30    291.269989
Name: Close, dtype: float64 Date
2019-12-30    325.040009
Name: Close, dtype: float64
20191231
Date
2019-12-30    325.040009
2019-12-31    324.869995
Name: Close, dtype: float64 Date
2020-03-30    284.959991
Name: Close, dtype: float64
20030331
error
20030630
error
20030331
Date
2003-03-31    20.363974
Name: Close, dtype: float64 Date
2003-06-30    25.597971
Name: Close, dtype: float64
20030630
Date
2003-06-30    25.597971
Name: Close, dtype: float64 Date
2003-09-29    25.28336
Name: Close, dtype: float64
20030930
Date
2003-09-29    25.283360
2003-09-30    25.121286
Name: Close, dtype: float64 Date
2003-12-29    31.6042
Name: Close, dtype: float64
20031231
Date
2003-12-30    31.470728
2003-12-31    31.871143
Name: Close, dtype: float64 Date
2004-03-29    31.890211
2004-03-30    32.185757
Name: Close, dtype: float64
20040331
Date
2004-03-30    32.185757
2004-03-31    32.271557
Name: Close, dtype: float64 Date
2004-06-28    34.645447
2004-06-29    34.940994
Name: Close, dtype: float64
20040630
Date
2004-06-29    34.940994
2004-06-30    34.921925
Name: Close, dtype: float64 Date
2004-09-27    33.453735
2004-09-28    33.930420
Name: Close, dtype: float64
20040930
Date
2004-09-29    34.025757
2004-09-30    34.187832
Name: Close, dtype: float64 Date
2004-12-28    34.388039
2004-12-29    34.035294
Name: Close, dtype: float64
20041231
Date
2004-12-30    33.749283
2004-12-31    33.758816
Name: Close, dtype: float64 Date
2005-03-30    35.417679
2005-03-31    35.474880
Name: Close, dtype: float64
20050331
Date
2005-03-30    35.417679
2005-03-31    35.474880
Name: Close, dtype: float64 Date
2005-06-28    35.246071
2005-06-29    35.207935
Name: Close, dtype: float64
20050630
Date
2005-06-29    35.207935
2005-06-30    34.921925
Name: Close, dtype: float64 Date
2005-09-27    35.837162
2005-09-28    35.818092
Name: Close, dtype: float64
20050930
Date
2005-09-29    35.799026
2005-09-30    35.751358
Name: Close, dtype: float64 Date
2005-12-28    35.818092
2005-12-29    35.837162
Name: Close, dtype: float64
20051231
Date
2005-12-30    35.513016
Name: Close, dtype: float64 Date
2006-03-30    40.365665
2006-03-31    40.775616
Name: Close, dtype: float64
20060331
Date
2006-03-30    40.365665
2006-03-31    40.775616
Name: Close, dtype: float64 Date
2006-06-28    37.152809
2006-06-29    38.096645
Name: Close, dtype: float64
20060630
Date
2006-06-29    38.096645
2006-06-30    38.420792
Name: Close, dtype: float64 Date
2006-09-27    39.116753
2006-09-28    39.440899
Name: Close, dtype: float64
20060930
Date
2006-09-29    38.992813
Name: Close, dtype: float64 Date
2006-12-28    43.340179
2006-12-29    43.130436
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    43.912201
Name: Close, dtype: float64 Date
2007-06-28    53.750973
2007-06-29    53.655636
Name: Close, dtype: float64
20070630
Date
2007-06-29    53.655636
Name: Close, dtype: float64 Date
2007-09-27    56.439476
2007-09-28    56.696884
Name: Close, dtype: float64
20070930
Date
2007-10-01    57.926731
Name: Close, dtype: float64 Date
2007-12-31    58.698963
Name: Close, dtype: float64
20071231
Date
2007-12-31    58.698963
Name: Close, dtype: float64 Date
2008-03-31    53.789108
Name: Close, dtype: float64
20080331
Date
2008-03-31    53.789108
Name: Close, dtype: float64 Date
2008-06-30    47.935421
Name: Close, dtype: float64
20080630
Date
2008-06-30    47.935421
Name: Close, dtype: float64 Date
2008-09-29    38.487526
Name: Close, dtype: float64
20080930
Date
2008-09-29    38.487526
2008-09-30    39.612503
Name: Close, dtype: float64 Date
2008-12-29    29.754663
Name: Close, dtype: float64
20081231
Date
2008-12-30    31.070312
2008-12-31    31.299122
Name: Close, dtype: float64 Date
2009-03-30    26.513206
2009-03-31    26.560875
Name: Close, dtype: float64
20090331
Date
2009-03-30    26.513206
2009-03-31    26.560875
Name: Close, dtype: float64 Date
2009-06-29    30.679432
Name: Close, dtype: float64
20090630
Date
2009-06-29    30.679432
2009-06-30    29.935802
Name: Close, dtype: float64 Date
2009-09-28    35.59882
Name: Close, dtype: float64
20090930
Date
2009-09-29    35.513016
2009-09-30    35.417679
Name: Close, dtype: float64 Date
2009-12-28    37.953640
2009-12-29    38.020378
Name: Close, dtype: float64
20091231
Date
2009-12-30    37.953640
2009-12-31    37.372086
Name: Close, dtype: float64 Date
2010-03-30    42.853962
2010-03-31    43.159039
Name: Close, dtype: float64
20100331
Date
2010-03-30    42.853962
2010-03-31    43.159039
Name: Close, dtype: float64 Date
2010-06-28    39.278824
2010-06-29    37.496025
Name: Close, dtype: float64
20100630
Date
2010-06-29    37.496025
2010-06-30    37.210014
Name: Close, dtype: float64 Date
2010-09-27    41.795719
2010-09-28    42.129398
Name: Close, dtype: float64
20100930
Date
2010-09-29    41.986393
2010-09-30    41.891056
Name: Close, dtype: float64 Date
2010-12-28    51.014805
2010-12-29    50.814594
Name: Close, dtype: float64
20101231
Date
2010-12-30    50.490452
2010-12-31    50.681126
Name: Close, dtype: float64 Date
2011-03-30    56.811291
2011-03-31    56.925694
Name: Close, dtype: float64
20110331
Date
2011-03-30    56.811291
2011-03-31    56.925694
Name: Close, dtype: float64 Date
2011-06-28    55.657711
2011-06-29    55.886520
Name: Close, dtype: float64
20110630
Date
2011-06-29    55.886520
2011-06-30    56.811291
Name: Close, dtype: float64 Date
2011-09-27    43.035099
2011-09-28    42.205669
Name: Close, dtype: float64
20110930
Date
2011-09-29    42.901630
2011-09-30    41.862457
Name: Close, dtype: float64 Date
2011-12-28    51.462887
2011-12-29    52.235115
Name: Close, dtype: float64
20111231
Date
2011-12-30    51.815632
Name: Close, dtype: float64 Date
2012-03-29    57.869530
2012-03-30    58.203209
Name: Close, dtype: float64
20120331
Date
2012-03-30    58.203209
Name: Close, dtype: float64 Date
2012-06-28    50.452316
2012-06-29    53.236153
Name: Close, dtype: float64
20120630
Date
2012-06-29    53.236153
Name: Close, dtype: float64 Date
2012-09-27    57.430981
2012-09-28    56.963829
Name: Close, dtype: float64
20120930
Date
2012-10-01    57.964867
Name: Close, dtype: float64 Date
2012-12-31    60.510365
Name: Close, dtype: float64
20121231
Date
2012-12-31    60.510365
Name: Close, dtype: float64 Date
2013-04-01    70.86396
Name: Close, dtype: float64
20130331
Date
2013-04-01    70.86396
Name: Close, dtype: float64 Date
2013-07-01    76.574638
Name: Close, dtype: float64
20130630
Date
2013-07-01    76.574638
Name: Close, dtype: float64 Date
2013-09-30    79.167809
Name: Close, dtype: float64
20130930
Date
2013-09-30    79.167809
Name: Close, dtype: float64 Date
2013-12-30    86.75663
Name: Close, dtype: float64
20131231
Date
2013-12-30    86.756630
2013-12-31    87.109375
Name: Close, dtype: float64 Date
2014-03-31    88.434555
Name: Close, dtype: float64
20140331
Date
2014-03-31    88.434555
Name: Close, dtype: float64 Date
2014-06-30    88.6157
Name: Close, dtype: float64
20140630
Date
2014-06-30    88.6157
Name: Close, dtype: float64 Date
2014-09-29    89.168655
Name: Close, dtype: float64
20140930
Date
2014-09-29    89.168655
2014-09-30    88.777771
Name: Close, dtype: float64 Date
2014-12-29    96.929077
Name: Close, dtype: float64
20141231
Date
2014-12-30    96.023376
2014-12-31    95.260681
Name: Close, dtype: float64 Date
2015-03-30    100.017998
2015-03-31     99.445976
Name: Close, dtype: float64
20150331
Date
2015-03-30    100.017998
2015-03-31     99.445976
Name: Close, dtype: float64 Date
2015-06-29    97.100685
Name: Close, dtype: float64
20150630
Date
2015-06-29    97.100685
2015-06-30    97.215088
Name: Close, dtype: float64 Date
2015-09-28    87.319115
Name: Close, dtype: float64
20150930
Date
2015-09-29    88.205750
2015-09-30    90.274559
Name: Close, dtype: float64 Date
2015-12-28     99.465042
2015-12-29    100.427948
Name: Close, dtype: float64
20151231
Date
2015-12-30    99.588982
2015-12-31    98.740479
Name: Close, dtype: float64 Date
2016-03-29    106.682053
2016-03-30    106.939461
Name: Close, dtype: float64
20160331

Date
2016-03-30    106.939461
2016-03-31    106.825058
Name: Close, dtype: float64 Date
2016-06-28    108.741325
2016-06-29    109.122673
Name: Close, dtype: float64
20160630
Date
2016-06-29    109.122673
2016-06-30    110.895943
Name: Close, dtype: float64 Date
2016-09-27    110.791069
2016-09-28    111.696770
Name: Close, dtype: float64
20160930
Date
2016-09-29    110.772003
2016-09-30    111.153351
Name: Close, dtype: float64 Date
2016-12-28    110.940506
2016-12-29    111.180122
Name: Close, dtype: float64
20161231
Date
2016-12-30    111.036354
Name: Close, dtype: float64 Date
2017-03-30    120.199127
2017-03-31    119.681564
Name: Close, dtype: float64
20170331
Date
2017-03-30    120.199127
2017-03-31    119.681564
Name: Close, dtype: float64 Date
2017-06-28    128.403458
2017-06-29    126.822014
Name: Close, dtype: float64
20170630
Date
2017-06-29    126.822014
2017-06-30    127.751709
Name: Close, dtype: float64 Date
2017-09-27    133.770767
2017-09-28    134.738800
Name: Close, dtype: float64
20170930
Date
2017-09-29    135.850601
Name: Close, dtype: float64 Date
2017-12-28    147.725784
2017-12-29    146.987793
Name: Close, dtype: float64
20171231
Date
2018-01-02    147.323242
Name: Close, dtype: float64 Date
2018-04-02    136.511932
Name: Close, dtype: float64
20180331
Date
2018-04-02    136.511932
Name: Close, dtype: float64 Date
2018-07-02    138.793045
Name: Close, dtype: float64
20180630
Date
2018-06-29    138.064621
Name: Close, dtype: float64 Date
2018-09-27    158.489182
2018-09-28    159.485962
Name: Close, dtype: float64
20180930
Date
2018-10-01    161.279068
Name: Close, dtype: float64 Date
2018-12-31    132.119995
Name: Close, dtype: float64
20181231
Date
2018-12-31    132.119995
Name: Close, dtype: float64 Date
2019-04-01    161.470001
Name: Close, dtype: float64
20190331
Date
2019-04-01    161.470001
Name: Close, dtype: float64 Date
2019-07-01    176.809998
Name: Close, dtype: float64
20190630
Date
2019-07-01    176.809998
Name: Close, dtype: float64 Date
2019-09-30    169.199997
Name: Close, dtype: float64
20190930
Date
2019-09-30    169.199997
Name: Close, dtype: float64 Date
2019-12-30    176.419998
Name: Close, dtype: float64
20191231
Date
2019-12-30    176.419998
2019-12-31    177.000000
Name: Close, dtype: float64 Date
2020-03-30    131.75
Name: Close, dtype: float64
20160930
Date
2016-09-29    8.685237
2016-09-30    8.779944
Name: Close, dtype: float64 Date
2016-12-28    11.142061
2016-12-29    11.086351
Name: Close, dtype: float64
20161231
Date
2016-12-30    10.774373
Name: Close, dtype: float64 Date
2017-03-30    10.573816
2017-03-31    10.579387
Name: Close, dtype: float64
20170331
Date
2017-03-30    10.573816
2017-03-31    10.579387
Name: Close, dtype: float64 Date
2017-06-28    11.571031
2017-06-29    11.470752
Name: Close, dtype: float64
20170630
Date
2017-06-29    11.470752
2017-06-30    11.119777
Name: Close, dtype: float64 Date
2017-09-27    10.584958
2017-09-28    10.601671
Name: Close, dtype: float64
20170930
Date
2017-09-29    10.479109
Name: Close, dtype: float64 Date
2017-12-28    10.785516
2017-12-29    10.674095
Name: Close, dtype: float64
20171231
Date
2018-01-02    10.590529
Name: Close, dtype: float64 Date
2018-04-02    9.894151
Name: Close, dtype: float64
20180331
Date
2018-04-02    9.894151
Name: Close, dtype: float64 Date
2018-07-02    10.551532
Name: Close, dtype: float64
20180630
Date
2018-06-29    10.551532
Name: Close, dtype: float64 Date
2018-09-27    10.590529
2018-09-28    10.651811
Name: Close, dtype: float64
20180930
Date
2018-10-01    10.451254
Name: Close, dtype: float64 Date
2018-12-31    8.852367
Name: Close, dtype: float64
20181231
Date
2018-12-31    8.852367
Name: Close, dtype: float64 Date
2019-04-01    9.649025
Name: Close, dtype: float64
20190331
Date
2019-04-01    9.649025
Name: Close, dtype: float64 Date
2019-07-01    10.534819
Name: Close, dtype: float64
20190630
Date
2019-07-01    10.534819
Name: Close, dtype: float64 Date
2019-09-30    10.065
Name: Close, dtype: float64
20190930
Date
2019-09-30    10.065
Name: Close, dtype: float64 Date
2019-12-30    10.96
Name: Close, dtype: float64
20191231
Date
2019-12-30    10.96
2019-12-31    10.99
Name: Close, dtype: float64 Date
2020-03-30    7.69
Name: Close, dtype: float64
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20160930
error
20161231
error
20170331
error
20030331
Date
2003-03-31    29.08622
Name: Close, dtype: float64 Date
2003-06-30    36.596294
Name: Close, dtype: float64
20030630
Date
2003-06-30    36.596294
Name: Close, dtype: float64 Date
2003-09-29    39.896175
Name: Close, dtype: float64
20030930
Date
2003-09-29    39.896175
2003-09-30    39.441017
Name: Close, dtype: float64 Date
2003-12-29    42.452049
Name: Close, dtype: float64
20031231
Date
2003-12-30    42.268238
2003-12-31    42.215717
Name: Close, dtype: float64 Date
2004-03-29    44.517757
2004-03-30    45.436825
Name: Close, dtype: float64
20040331
Date
2004-03-30    45.436825
2004-03-31    45.384304
Name: Close, dtype: float64 Date
2004-06-28    44.587784
2004-06-29    44.876633
Name: Close, dtype: float64
20040630
Date
2004-06-29    44.876633
2004-06-30    44.972916
Name: Close, dtype: float64 Date
2004-09-27    44.333946
2004-09-28    44.491501
Name: Close, dtype: float64
20040930
Date
2004-09-29    44.972916
2004-09-30    45.042938
Name: Close, dtype: float64 Date
2004-12-28    49.323154
2004-12-29    49.261883
Name: Close, dtype: float64
20041231
Date
2004-12-30    49.148094
2004-12-31    49.340660
Name: Close, dtype: float64 Date
2005-03-30    45.051689
2005-03-31    44.964161
Name: Close, dtype: float64
20050331
Date
2005-03-30    45.051689
2005-03-31    44.964161
Name: Close, dtype: float64 Date
2005-06-28    47.266201
2005-06-29    46.837303
Name: Close, dtype: float64
20050630
Date
2005-06-29    46.837303
2005-06-30    46.592220
Name: Close, dtype: float64 Date
2005-09-27    49.629509
2005-09-28    49.559486
Name: Close, dtype: float64
20050930
Date
2005-09-29    50.338505
2005-09-30    50.277233
Name: Close, dtype: float64 Date
2005-12-28    51.430000
2005-12-29    51.110001
Name: Close, dtype: float64
20051231
Date
2005-12-30    51.459999
Name: Close, dtype: float64 Date
2006-03-30    52.130001
2006-03-31    52.549999
Name: Close, dtype: float64
20060331
Date
2006-03-30    52.130001
2006-03-31    52.549999
Name: Close, dtype: float64 Date
2006-06-28    52.180000
2006-06-29    53.889999
Name: Close, dtype: float64
20060630
Date
2006-06-29    53.889999
2006-06-30    53.220001
Name: Close, dtype: float64 Date
2006-09-27    56.029999
2006-09-28    55.990002
Name: Close, dtype: float64
20060930
Date
2006-09-29    56.080002
Name: Close, dtype: float64 Date
2006-12-28    61.139999
2006-12-29    60.669998
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    56.400002
Name: Close, dtype: float64 Date
2007-06-28    61.220001
2007-06-29    61.180000
Name: Close, dtype: float64
20070630
Date
2007-06-29    61.18
Name: Close, dtype: float64 Date
2007-09-27    59.570000
2007-09-28    59.369999
Name: Close, dtype: float64
20070930
Date
2007-10-01    60.630001
Name: Close, dtype: float64 Date
2007-12-31    52.02
Name: Close, dtype: float64
20071231
Date
2007-12-31    52.02
Name: Close, dtype: float64 Date
2008-03-31    43.720001
Name: Close, dtype: float64
20080331
Date
2008-03-31    43.720001
Name: Close, dtype: float64 Date
2008-06-30    37.669998
Name: Close, dtype: float64
20080630
Date
2008-06-30    37.669998
Name: Close, dtype: float64 Date
2008-09-29    32.549999
Name: Close, dtype: float64
20080930
Date
2008-09-29    32.549999
2008-09-30    35.430000
Name: Close, dtype: float64 Date
2008-12-29    17.700001
Name: Close, dtype: float64
20081231
Date
2008-12-30    18.000000
2008-12-31    18.549999
Name: Close, dtype: float64 Date
2009-03-30    12.81
2009-03-31    13.63
Name: Close, dtype: float64
20090331

Date
2009-03-30    12.81
2009-03-31    13.63
Name: Close, dtype: float64 Date
2009-06-29    24
Name: Close, dtype: int64
20090630
Date
2009-06-29    24.00
2009-06-30    23.24
Name: Close, dtype: float64 Date
2009-09-28    34.41
Name: Close, dtype: float64
20090930
Date
2009-09-29    33.990002
2009-09-30    33.900002
Name: Close, dtype: float64 Date
2009-12-28    41.049999
2009-12-29    40.880001
Name: Close, dtype: float64
20091231
Date
2009-12-30    40.799999
2009-12-31    40.520000
Name: Close, dtype: float64 Date
2010-03-30    41.290001
2010-03-31    41.259998
Name: Close, dtype: float64
20100331
Date
2010-03-30    41.290001
2010-03-31    41.259998
Name: Close, dtype: float64 Date
2010-06-28    42.110001
2010-06-29    40.090000
Name: Close, dtype: float64
20100630
Date
2010-06-29    40.090000
2010-06-30    39.700001
Name: Close, dtype: float64 Date
2010-09-27    43.439999
2010-09-28    43.689999
Name: Close, dtype: float64
20100930
Date
2010-09-29    43.009998
2010-09-30    42.029999
Name: Close, dtype: float64 Date
2010-12-28    42.790001
2010-12-29    42.860001
Name: Close, dtype: float64
20101231
Date
2010-12-30    42.509998
2010-12-31    42.919998
Name: Close, dtype: float64 Date
2011-03-30    45.910000
2011-03-31    45.200001
Name: Close, dtype: float64
20110331
Date
2011-03-30    45.910000
2011-03-31    45.200001
Name: Close, dtype: float64 Date
2011-06-28    49.820000
2011-06-29    50.919998
Name: Close, dtype: float64
20110630
Date
2011-06-29    50.919998
2011-06-30    51.700001
Name: Close, dtype: float64 Date
2011-09-27    47.080002
2011-09-28    46.470001
Name: Close, dtype: float64
20110930
Date
2011-09-29    46.720001
2011-09-30    44.900002
Name: Close, dtype: float64 Date
2011-12-28    46.970001
2011-12-29    47.520000
Name: Close, dtype: float64
20111231
Date
2011-12-30    47.169998
Name: Close, dtype: float64 Date
2012-03-29    57.889999
2012-03-30    57.860001
Name: Close, dtype: float64
20120331
Date
2012-03-30    57.860001
Name: Close, dtype: float64 Date
2012-06-28    56.689999
2012-06-29    58.209999
Name: Close, dtype: float64
20120630
Date
2012-06-29    58.209999
Name: Close, dtype: float64 Date
2012-09-27    56.570000
2012-09-28    56.860001
Name: Close, dtype: float64
20120930
Date
2012-10-01    57.73
Name: Close, dtype: float64 Date
2012-12-31    57.48
Name: Close, dtype: float64
20121231
Date
2012-12-31    57.48
Name: Close, dtype: float64 Date
2013-04-01    67.260002
Name: Close, dtype: float64
20130331
Date
2013-04-01    67.260002
Name: Close, dtype: float64 Date
2013-07-01    75.639999
Name: Close, dtype: float64
20130630
Date
2013-07-01    75.639999
Name: Close, dtype: float64 Date
2013-09-30    75.519997
Name: Close, dtype: float64
20130930
Date
2013-09-30    75.519997
Name: Close, dtype: float64 Date
2013-12-30    89.589996
Name: Close, dtype: float64
20131231
Date
2013-12-30    89.589996
2013-12-31    90.730003
Name: Close, dtype: float64 Date
2014-03-31    90.029999
Name: Close, dtype: float64
20140331
Date
2014-03-31    90.029999
Name: Close, dtype: float64 Date
2014-06-30    94.870003
Name: Close, dtype: float64
20140630
Date
2014-06-30    94.870003
Name: Close, dtype: float64 Date
2014-09-29    87.949997
Name: Close, dtype: float64
20140930
Date
2014-09-29    87.949997
2014-09-30    87.540001
Name: Close, dtype: float64 Date
2014-12-29    94.269997
Name: Close, dtype: float64
20141231
Date
2014-12-30    94.269997
2014-12-31    93.040001
Name: Close, dtype: float64 Date
2015-03-30    78.050003
2015-03-31    78.120003
Name: Close, dtype: float64
20150331
Date
2015-03-30    78.050003
2015-03-31    78.120003
Name: Close, dtype: float64 Date
2015-06-29    77.800003
Name: Close, dtype: float64
20150630
Date
2015-06-29    77.800003
2015-06-30    77.720001
Name: Close, dtype: float64 Date
2015-09-28    73.339996
Name: Close, dtype: float64
20150930
Date
2015-09-29    73.099998
2015-09-30    74.129997
Name: Close, dtype: float64 Date
2015-12-28    69.760002
2015-12-29    70.550003
Name: Close, dtype: float64
20151231
Date
2015-12-30    70.160004
2015-12-31    69.550003
Name: Close, dtype: float64 Date
2016-03-29    60.599998
2016-03-30    60.290001
Name: Close, dtype: float64
20160331
Date
2016-03-30    60.290001
2016-03-31    61.400002
Name: Close, dtype: float64 Date
2016-06-28    57.900002
2016-06-29    59.630001
Name: Close, dtype: float64
20160630
Date
2016-06-29    59.630001
2016-06-30    60.759998
Name: Close, dtype: float64 Date
2016-09-27    64.279999
2016-09-28    64.220001
Name: Close, dtype: float64
20160930
Date
2016-09-29    63.369999
2016-09-30    64.040001
Name: Close, dtype: float64 Date
2016-12-28    74.370003
2016-12-29    73.919998
Name: Close, dtype: float64
20161231
Date
2016-12-30    74.080002
Name: Close, dtype: float64 Date
2017-03-30    79.209999
2017-03-31    79.110001
Name: Close, dtype: float64
20170331
Date
2017-03-30    79.209999
2017-03-31    79.110001
Name: Close, dtype: float64 Date
2017-06-28    83.970001
2017-06-29    83.629997
Name: Close, dtype: float64
20170630
Date
2017-06-29    83.629997
2017-06-30    84.239998
Name: Close, dtype: float64 Date
2017-09-27    89.489998
2017-09-28    90.139999
Name: Close, dtype: float64
20170930
Date
2017-09-29    90.459999
Name: Close, dtype: float64 Date
2017-12-28    99.699997
2017-12-29    99.309998
Name: Close, dtype: float64
20171231
Date
2018-01-02    98.940002
Name: Close, dtype: float64 Date
2018-04-02    91
Name: Close, dtype: int64
20180331
Date
2018-04-02    91
Name: Close, dtype: int64 Date
2018-07-02    99
Name: Close, dtype: int64
20180630
Date
2018-06-29    98
Name: Close, dtype: int64 Date
2018-09-27    107.849998
2018-09-28    106.489998
Name: Close, dtype: float64
20180930
Date
2018-10-01    107.900002
Name: Close, dtype: float64 Date
2018-12-31    95.32
Name: Close, dtype: float64
20181231
Date
2018-12-31    95.32
Name: Close, dtype: float64 Date
2019-04-01    111.699997
Name: Close, dtype: float64
20190331
Date
2019-04-01    111.699997
Name: Close, dtype: float64 Date
2019-07-01    124.919998
Name: Close, dtype: float64
20190630
Date
2019-07-01    124.919998
Name: Close, dtype: float64 Date
2019-09-30    118.279999
Name: Close, dtype: float64
20190930
Date
2019-09-30    118.279999
Name: Close, dtype: float64 Date
2019-12-30    124.300003
Name: Close, dtype: float64
20191231
Date
2019-12-30    124.300003
2019-12-31    124.489998
Name: Close, dtype: float64 Date
2020-03-30    90.269997
Name: Close, dtype: float64
20030331
Date
2003-03-31    43.540001
Name: Close, dtype: float64 Date
2003-06-30    45.040001
Name: Close, dtype: float64
20030630
Date
2003-06-30    45.040001
Name: Close, dtype: float64 Date
2003-09-29    49.110001
Name: Close, dtype: float64
20030930
Date
2003-09-29    49.110001
2003-09-30    49.000000
Name: Close, dtype: float64 Date
2003-12-29    53.23
Name: Close, dtype: float64
20031231
Date
2003-12-30    53.529999
2003-12-31    53.110001
Name: Close, dtype: float64 Date
2004-03-29    60.860001
2004-03-30    60.410000
Name: Close, dtype: float64
20040331
Date
2004-03-30    60.410000
2004-03-31    61.169998
Name: Close, dtype: float64 Date
2004-06-28    62.529999
2004-06-29    63.049999
Name: Close, dtype: float64
20040630
Date
2004-06-29    63.049999
2004-06-30    63.830002
Name: Close, dtype: float64 Date
2004-09-27    72.889999
2004-09-28    72.349998
Name: Close, dtype: float64
20040930
Date
2004-09-29    72.019997
2004-09-30    73.489998
Name: Close, dtype: float64 Date
2004-12-28    76.809998
2004-12-29    76.739998
Name: Close, dtype: float64
20041231
Date
2004-12-30    77.169998
2004-12-31    77.260002
Name: Close, dtype: float64 Date
2005-03-30    73.980003
2005-03-31    74.930000
Name: Close, dtype: float64
20050331
Date
2005-03-30    73.980003
2005-03-31    74.930000
Name: Close, dtype: float64 Date
2005-06-28    79.500000
2005-06-29    79.779999
Name: Close, dtype: float64
20050630
Date
2005-06-29    79.779999
2005-06-30    80.449997
Name: Close, dtype: float64 Date
2005-09-27    85.419998
2005-09-28    86.349998
Name: Close, dtype: float64
20050930
Date
2005-09-29    88.260002
2005-09-30    88.620003
Name: Close, dtype: float64 Date
2005-12-28    108.000000
2005-12-29    107.760002
Name: Close, dtype: float64
20051231

Date
2005-12-30    108.480003
Name: Close, dtype: float64 Date
2006-03-30    139.75
2006-03-31    140.00
Name: Close, dtype: float64
20060331
Date
2006-03-30    139.75
2006-03-31    140.00
Name: Close, dtype: float64 Date
2006-06-28    133.729996
2006-06-29    136.990005
Name: Close, dtype: float64
20060630
Date
2006-06-29    136.990005
2006-06-30    139.169998
Name: Close, dtype: float64 Date
2006-09-27    149.309998
2006-09-28    149.899994
Name: Close, dtype: float64
20060930
Date
2006-09-29    149
Name: Close, dtype: int64 Date
2006-12-28    153.500000
2006-12-29    151.899994
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    156.309998
Name: Close, dtype: float64 Date
2007-06-28    158.800003
2007-06-29    156.589996
Name: Close, dtype: float64
20070630
Date
2007-06-29    156.589996
Name: Close, dtype: float64 Date
2007-09-27    172.580002
2007-09-28    173.410004
Name: Close, dtype: float64
20070930
Date
2007-10-01    175.759995
Name: Close, dtype: float64 Date
2007-12-31    216.800003
Name: Close, dtype: float64
20071231
Date
2007-12-31    216.800003
Name: Close, dtype: float64 Date
2008-03-31    204.179993
Name: Close, dtype: float64
20080331
Date
2008-03-31    204.179993
Name: Close, dtype: float64 Date
2008-06-30    177
Name: Close, dtype: int64
20080630
Date
2008-06-30    177
Name: Close, dtype: int64 Date
2008-09-29    191
Name: Close, dtype: int64
20080930
Date
2008-09-29    191.0
2008-09-30    194.5
Name: Close, dtype: float64 Date
2008-12-29    124.199997
Name: Close, dtype: float64
20081231
Date
2008-12-30    129.679993
2008-12-31    134.149994
Name: Close, dtype: float64 Date
2009-03-30    124.889999
2009-03-31    130.039993
Name: Close, dtype: float64
20090331
Date
2009-03-30    124.889999
2009-03-31    130.039993
Name: Close, dtype: float64 Date
2009-06-29    175.949997
Name: Close, dtype: float64
20090630
Date
2009-06-29    175.949997
2009-06-30    175.419998
Name: Close, dtype: float64 Date
2009-09-28    213.919998
Name: Close, dtype: float64
20090930
Date
2009-09-29    214.119995
2009-09-30    216.820007
Name: Close, dtype: float64 Date
2009-12-28    239.369995
2009-12-29    238.899994
Name: Close, dtype: float64
20091231
Date
2009-12-30    237.270004
2009-12-31    232.199997
Name: Close, dtype: float64 Date
2010-03-30    219.130005
2010-03-31    217.759995
Name: Close, dtype: float64
20100331
Date
2010-03-30    219.130005
2010-03-31    217.759995
Name: Close, dtype: float64 Date
2010-06-28    152.139999
2010-06-29    145.600006
Name: Close, dtype: float64
20100630
Date
2010-06-29    145.600006
2010-06-30    143.399994
Name: Close, dtype: float64 Date
2010-09-27    165.899994
2010-09-28    168.669998
Name: Close, dtype: float64
20100930
Date
2010-09-29    168.759995
2010-09-30    170.250000
Name: Close, dtype: float64 Date
2010-12-28    189.410004
2010-12-29    190.820007
Name: Close, dtype: float64
20101231
Date
2010-12-30    188.020004
2010-12-31    190.580002
Name: Close, dtype: float64 Date
2011-03-30    198.839996
2011-03-31    201.009995
Name: Close, dtype: float64
20110331
Date
2011-03-30    198.839996
2011-03-31    201.009995
Name: Close, dtype: float64 Date
2011-06-28    189.259995
2011-06-29    191.889999
Name: Close, dtype: float64
20110630
Date
2011-06-29    191.889999
2011-06-30    191.809998
Name: Close, dtype: float64 Date
2011-09-27    152.490005
2011-09-28    148.550003
Name: Close, dtype: float64
20110930
Date
2011-09-29    151.660004
2011-09-30    148.009995
Name: Close, dtype: float64 Date
2011-12-28    176.440002
2011-12-29    179.399994
Name: Close, dtype: float64
20111231
Date
2011-12-30    178.240005
Name: Close, dtype: float64 Date
2012-03-29    199.589996
2012-03-30    204.899994
Name: Close, dtype: float64
20120331
Date
2012-03-30    204.899994
Name: Close, dtype: float64 Date
2012-06-28    166.089996
2012-06-29    169.820007
Name: Close, dtype: float64
20120630
Date
2012-06-29    169.820007
Name: Close, dtype: float64 Date
2012-09-27    178.929993
2012-09-28    178.300003
Name: Close, dtype: float64
20120930
Date
2012-10-01    179.860001
Name: Close, dtype: float64 Date
2012-12-31    206.710007
Name: Close, dtype: float64
20121231
Date
2012-12-31    206.710007
Name: Close, dtype: float64 Date
2013-04-01    252.960007
Name: Close, dtype: float64
20130331
Date
2013-04-01    252.960007
Name: Close, dtype: float64 Date
2013-07-01    256.109985
Name: Close, dtype: float64
20130630
Date
2013-07-01    256.109985
Name: Close, dtype: float64 Date
2013-09-30    270.619995
Name: Close, dtype: float64
20130930
Date
2013-09-30    270.619995
Name: Close, dtype: float64 Date
2013-12-30    316.079987
Name: Close, dtype: float64
20131231
Date
2013-12-30    316.079987
2013-12-31    316.470001
Name: Close, dtype: float64 Date
2014-03-31    314.480011
Name: Close, dtype: float64
20140331
Date
2014-03-31    314.480011
Name: Close, dtype: float64 Date
2014-06-30    319.600006
Name: Close, dtype: float64
20140630
Date
2014-06-30    319.600006
Name: Close, dtype: float64 Date
2014-09-29    330.649994
Name: Close, dtype: float64
20140930
Date
2014-09-29    330.649994
2014-09-30    328.320007
Name: Close, dtype: float64 Date
2014-12-29    363.459991
Name: Close, dtype: float64
20141231
Date
2014-12-30    362.079987
2014-12-31    357.559998
Name: Close, dtype: float64 Date
2015-03-30    368.100006
2015-03-31    365.839996
Name: Close, dtype: float64
20150331
Date
2015-03-30    368.100006
2015-03-31    365.839996
Name: Close, dtype: float64 Date
2015-06-29    344.540009
Name: Close, dtype: float64
20150630
Date
2015-06-29    344.540009
2015-06-30    345.980011
Name: Close, dtype: float64 Date
2015-09-28    294.059998
Name: Close, dtype: float64
20150930
Date
2015-09-29    293.519989
2015-09-30    297.470001
Name: Close, dtype: float64 Date
2015-12-28    342.450012
2015-12-29    343.600006
Name: Close, dtype: float64
20151231
Date
2015-12-30    342.049988
2015-12-31    340.519989
Name: Close, dtype: float64 Date
2016-03-29    339.910004
2016-03-30    341.369995
Name: Close, dtype: float64
20160331
Date
2016-03-30    341.369995
2016-03-31    340.570007
Name: Close, dtype: float64 Date
2016-06-28    323.959991
2016-06-29    336.739990
Name: Close, dtype: float64
20160630
Date
2016-06-29    336.739990
2016-06-30    342.529999
Name: Close, dtype: float64 Date
2016-09-27    361.790009
2016-09-28    361.679993
Name: Close, dtype: float64
20160930
Date
2016-09-29    357.230011
2016-09-30    362.459991
Name: Close, dtype: float64 Date
2016-12-28    381.029999
2016-12-29    379.000000
Name: Close, dtype: float64
20161231
Date
2016-12-30    380.540009
Name: Close, dtype: float64 Date
2017-03-30    383.040009
2017-03-31    383.510010
Name: Close, dtype: float64
20170331
Date
2017-03-30    383.040009
2017-03-31    383.510010
Name: Close, dtype: float64 Date
2017-06-28    426.850006
2017-06-29    423.239990
Name: Close, dtype: float64
20170630
Date
2017-06-29    423.239990
2017-06-30    422.410004
Name: Close, dtype: float64 Date
2017-09-27    438.399994
2017-09-28    446.109985
Name: Close, dtype: float64
20170930
Date
2017-09-29    447.089996
Name: Close, dtype: float64 Date
2017-12-28    517.979980
2017-12-29    513.710022
Name: Close, dtype: float64
20171231
Date
2018-01-02    508.970001
Name: Close, dtype: float64 Date
2018-04-02    519
Name: Close, dtype: int64
20180331
Date
2018-04-02    519
Name: Close, dtype: int64 Date
2018-07-02    499.519989
Name: Close, dtype: float64
20180630
Date
2018-06-29    499.040009
Name: Close, dtype: float64 Date
2018-09-27    477.890015
2018-09-28    471.329987
Name: Close, dtype: float64
20180930
Date
2018-10-01    473.470001
Name: Close, dtype: float64 Date
2018-12-31    392.820007
Name: Close, dtype: float64
20181231
Date
2018-12-31    392.820007
Name: Close, dtype: float64 Date
2019-04-01    438.390015
Name: Close, dtype: float64
20190331
Date
2019-04-01    438.390015
Name: Close, dtype: float64 Date
2019-07-01    472.929993
Name: Close, dtype: float64
20190630
Date
2019-07-01    472.929993
Name: Close, dtype: float64 Date
2019-09-30    445.640015
Name: Close, dtype: float64
20190930
Date
2019-09-30    445.640015
Name: Close, dtype: float64 Date
2019-12-30    500.839996
Name: Close, dtype: float64
20191231

Date
2019-12-30    500.839996
2019-12-31    502.700012
Name: Close, dtype: float64 Date
2020-03-30    455.350006
Name: Close, dtype: float64
20041231
Date
2004-12-30    14.27
2004-12-31    14.64
Name: Close, dtype: float64 Date
2005-03-30    12.52
2005-03-31    12.60
Name: Close, dtype: float64
20050331
Date
2005-03-30    12.52
2005-03-31    12.60
Name: Close, dtype: float64 Date
2005-06-28    13.0
2005-06-29    13.5
Name: Close, dtype: float64
20050630
Date
2005-06-29    13.5
2005-06-30    13.5
Name: Close, dtype: float64 Date
2005-09-27    13.82
2005-09-28    13.82
Name: Close, dtype: float64
20050930
Date
2005-09-29    14.10
2005-09-30    14.17
Name: Close, dtype: float64 Date
2005-12-28    17.42
2005-12-29    17.41
Name: Close, dtype: float64
20051231
Date
2005-12-30    17.08
Name: Close, dtype: float64 Date
2006-03-30    21.059999
2006-03-31    21.190001
Name: Close, dtype: float64
20060331
Date
2006-03-30    21.059999
2006-03-31    21.190001
Name: Close, dtype: float64 Date
2006-06-28    21.320000
2006-06-29    22.620001
Name: Close, dtype: float64
20060630
Date
2006-06-29    22.620001
2006-06-30    22.700001
Name: Close, dtype: float64 Date
2006-09-27    23.430000
2006-09-28    22.860001
Name: Close, dtype: float64
20060930
Date
2006-09-29    21.99
Name: Close, dtype: float64 Date
2006-12-28    26.42
2006-12-29    26.00
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    24.42
Name: Close, dtype: float64 Date
2007-06-28    22.42
2007-06-29    22.08
Name: Close, dtype: float64
20070630
Date
2007-06-29    22.08
Name: Close, dtype: float64 Date
2007-09-27    26.15
2007-09-28    25.24
Name: Close, dtype: float64
20070930
Date
2007-10-01    26.76
Name: Close, dtype: float64 Date
2007-12-31    28.040001
Name: Close, dtype: float64
20071231
Date
2007-12-31    28.040001
Name: Close, dtype: float64 Date
2008-03-31    24.280001
Name: Close, dtype: float64
20080331
Date
2008-03-31    24.280001
Name: Close, dtype: float64 Date
2008-06-30    21.4
Name: Close, dtype: float64
20080630
Date
2008-06-30    21.4
Name: Close, dtype: float64 Date
2008-09-29    18.879999
Name: Close, dtype: float64
20080930
Date
2008-09-29    18.879999
2008-09-30    18.450001
Name: Close, dtype: float64 Date
2008-12-29    12.69
Name: Close, dtype: float64
20081231
Date
2008-12-30    13.18
2008-12-31    13.50
Name: Close, dtype: float64 Date
2009-03-30    10.92
2009-03-31    11.61
Name: Close, dtype: float64
20090331
Date
2009-03-30    10.92
2009-03-31    11.61
Name: Close, dtype: float64 Date
2009-06-29    15.66
Name: Close, dtype: float64
20090630
Date
2009-06-29    15.66
2009-06-30    15.55
Name: Close, dtype: float64 Date
2009-09-28    23.26
Name: Close, dtype: float64
20090930
Date
2009-09-29    22.930000
2009-09-30    23.200001
Name: Close, dtype: float64 Date
2009-12-28    24.379999
2009-12-29    24.260000
Name: Close, dtype: float64
20091231
Date
2009-12-30    24.059999
2009-12-31    23.629999
Name: Close, dtype: float64 Date
2010-03-30    25.780001
2010-03-31    25.219999
Name: Close, dtype: float64
20100331
Date
2010-03-30    25.780001
2010-03-31    25.219999
Name: Close, dtype: float64 Date
2010-06-28    22.40
2010-06-29    21.85
Name: Close, dtype: float64
20100630
Date
2010-06-29    21.85
2010-06-30    21.77
Name: Close, dtype: float64 Date
2010-09-27    23.590000
2010-09-28    23.950001
Name: Close, dtype: float64
20100930
Date
2010-09-29    24.090000
2010-09-30    24.040001
Name: Close, dtype: float64 Date
2010-12-28    26.40
2010-12-29    26.49
Name: Close, dtype: float64
20101231
Date
2010-12-30    26.549999
2010-12-31    25.900000
Name: Close, dtype: float64 Date
2011-03-30    26.92
2011-03-31    27.24
Name: Close, dtype: float64
20110331
Date
2011-03-30    26.92
2011-03-31    27.24
Name: Close, dtype: float64 Date
2011-06-28    27.469999
2011-06-29    27.459999
Name: Close, dtype: float64
20110630
Date
2011-06-29    27.459999
2011-06-30    27.719999
Name: Close, dtype: float64 Date
2011-09-27    24.100000
2011-09-28    23.030001
Name: Close, dtype: float64
20110930
Date
2011-09-29    23.209999
2011-09-30    22.270000
Name: Close, dtype: float64 Date
2011-12-28    27.90
2011-12-29    28.01
Name: Close, dtype: float64
20111231
Date
2011-12-30    27.700001
Name: Close, dtype: float64 Date
2012-03-29    33.360001
2012-03-30    33.230000
Name: Close, dtype: float64
20120331
Date
2012-03-30    33.23
Name: Close, dtype: float64 Date
2012-06-28    25.129999
2012-06-29    25.670000
Name: Close, dtype: float64
20120630
Date
2012-06-29    25.67
Name: Close, dtype: float64 Date
2012-09-27    24.60
2012-09-28    23.92
Name: Close, dtype: float64
20120930
Date
2012-10-01    24
Name: Close, dtype: int64 Date
2012-12-31    22.83
Name: Close, dtype: float64
20121231
Date
2012-12-31    22.83
Name: Close, dtype: float64 Date
2013-04-01    29.440001
Name: Close, dtype: float64
20130331
Date
2013-04-01    29.440001
Name: Close, dtype: float64 Date
2013-07-01    32.970001
Name: Close, dtype: float64
20130630
Date
2013-07-01    32.970001
Name: Close, dtype: float64 Date
2013-09-30    39.040001
Name: Close, dtype: float64
20130930
Date
2013-09-30    39.040001
Name: Close, dtype: float64 Date
2013-12-30    37.599998
Name: Close, dtype: float64
20131231
Date
2013-12-30    37.599998
2013-12-31    37.650002
Name: Close, dtype: float64 Date
2014-03-31    31.299999
Name: Close, dtype: float64
20140331
Date
2014-03-31    31.299999
Name: Close, dtype: float64 Date
2014-06-30    35.740002
Name: Close, dtype: float64
20140630
Date
2014-06-30    35.740002
Name: Close, dtype: float64 Date
2014-09-29    39.279999
Name: Close, dtype: float64
20140930
Date
2014-09-29    39.279999
2014-09-30    39.290001
Name: Close, dtype: float64 Date
2014-12-29    44.130001
Name: Close, dtype: float64
20141231
Date
2014-12-30    43.209999
2014-12-31    43.259998
Name: Close, dtype: float64 Date
2015-03-30    47.450001
2015-03-31    47.380001
Name: Close, dtype: float64
20150331
Date
2015-03-30    47.450001
2015-03-31    47.380001
Name: Close, dtype: float64 Date
2015-06-29    56.189999
Name: Close, dtype: float64
20150630
Date
2015-06-29    56.189999
2015-06-30    56.950001
Name: Close, dtype: float64 Date
2015-09-28    56.150002
Name: Close, dtype: float64
20150930
Date
2015-09-29    55.270000
2015-09-30    56.119999
Name: Close, dtype: float64 Date
2015-12-28    67.220001
2015-12-29    67.540001
Name: Close, dtype: float64
20151231
Date
2015-12-30    66.750000
2015-12-31    65.860001
Name: Close, dtype: float64 Date
2016-03-29    62.689999
2016-03-30    62.369999
Name: Close, dtype: float64
20160331
Date
2016-03-30    62.369999
2016-03-31    62.889999
Name: Close, dtype: float64 Date
2016-06-28    63.799999
2016-06-29    65.900002
Name: Close, dtype: float64
20160630
Date
2016-06-29    65.900002
2016-06-30    67.900002
Name: Close, dtype: float64 Date
2016-09-27    65.279999
2016-09-28    66.010002
Name: Close, dtype: float64
20160930
Date
2016-09-29    65.970001
2016-09-30    66.339996
Name: Close, dtype: float64 Date
2016-12-28    63.950001
2016-12-29    64.169998
Name: Close, dtype: float64
20161231
Date
2016-12-30    64
Name: Close, dtype: int64 Date
2017-03-30    76.639999
2017-03-31    76.669998
Name: Close, dtype: float64
20170331
Date
2017-03-30    76.639999
2017-03-31    76.669998
Name: Close, dtype: float64 Date
2017-06-28    89.519997
2017-06-29    85.599998
Name: Close, dtype: float64
20170630
Date
2017-06-29    85.599998
2017-06-30    85.750000
Name: Close, dtype: float64 Date
2017-09-27    86.699997
2017-09-28    87.150002
Name: Close, dtype: float64
20170930
Date
2017-09-29    87.800003
Name: Close, dtype: float64 Date
2017-12-28    95.000000
2017-12-29    94.489998
Name: Close, dtype: float64
20171231
Date
2018-01-02    94.32
Name: Close, dtype: float64 Date
2018-04-02    99.610001
Name: Close, dtype: float64
20180331
Date
2018-04-02    99.610001
Name: Close, dtype: float64 Date
2018-07-02    104.419998
Name: Close, dtype: float64
20180630
Date
2018-06-29    102.449997
Name: Close, dtype: float64 Date
2018-09-27    100.190002
2018-09-28    101.480003
Name: Close, dtype: float64
20180930
Date
2018-10-01    99.900002
Name: Close, dtype: float64 Date
2018-12-31    62.900002
Name: Close, dtype: float64
20181231

Date
2018-12-31    62.900002
Name: Close, dtype: float64 Date
2019-04-01    81.970001
Name: Close, dtype: float64
20190331
Date
2019-04-01    81.970001
Name: Close, dtype: float64 Date
2019-07-01    82.349998
Name: Close, dtype: float64
20190630
Date
2019-07-01    82.349998
Name: Close, dtype: float64 Date
2019-09-30    90.339996
Name: Close, dtype: float64
20190930
Date
2019-09-30    90.339996
Name: Close, dtype: float64 Date
2019-12-30    78.970001
Name: Close, dtype: float64
20191231
Date
2019-12-30    78.970001
2019-12-31    79.599998
Name: Close, dtype: float64 Date
2020-03-30    54.299999
Name: Close, dtype: float64
20030331
Date
2003-03-31    29.26
Name: Close, dtype: float64 Date
2003-06-30    37.84
Name: Close, dtype: float64
20030630
Date
2003-06-30    37.84
Name: Close, dtype: float64 Date
2003-09-29    37.549999
Name: Close, dtype: float64
20030930
Date
2003-09-29    37.549999
2003-09-30    37.630001
Name: Close, dtype: float64 Date
2003-12-29    38.650002
Name: Close, dtype: float64
20031231
Date
2003-12-30    38.380001
2003-12-31    38.400002
Name: Close, dtype: float64 Date
2004-03-29    45.430000
2004-03-30    45.209999
Name: Close, dtype: float64
20040331
Date
2004-03-30    45.209999
2004-03-31    45.040001
Name: Close, dtype: float64 Date
2004-06-28    44.040001
2004-06-29    42.290001
Name: Close, dtype: float64
20040630
Date
2004-06-29    42.290001
2004-06-30    42.470001
Name: Close, dtype: float64 Date
2004-09-27    45.750000
2004-09-28    45.830002
Name: Close, dtype: float64
20040930
Date
2004-09-29    45.810001
2004-09-30    45.250000
Name: Close, dtype: float64 Date
2004-12-28    51.860001
2004-12-29    51.700001
Name: Close, dtype: float64
20041231
Date
2004-12-30    52.099998
2004-12-31    51.930000
Name: Close, dtype: float64 Date
2005-03-30    50.799999
2005-03-31    50.020000
Name: Close, dtype: float64
20050331
Date
2005-03-30    50.799999
2005-03-31    50.020000
Name: Close, dtype: float64 Date
2005-06-28    55.669998
2005-06-29    54.900002
Name: Close, dtype: float64
20050630
Date
2005-06-29    54.900002
2005-06-30    54.410000
Name: Close, dtype: float64 Date
2005-09-27    52.730000
2005-09-28    51.360001
Name: Close, dtype: float64
20050930
Date
2005-09-29    51.50
2005-09-30    51.93
Name: Close, dtype: float64 Date
2005-12-28    55.549999
2005-12-29    55.240002
Name: Close, dtype: float64
20051231
Date
2005-12-30    54.970001
Name: Close, dtype: float64 Date
2006-03-30    52.750000
2006-03-31    52.009998
Name: Close, dtype: float64
20060331
Date
2006-03-30    52.750000
2006-03-31    52.009998
Name: Close, dtype: float64 Date
2006-06-28    48.459999
2006-06-29    49.320000
Name: Close, dtype: float64
20060630
Date
2006-06-29    49.320000
2006-06-30    48.869999
Name: Close, dtype: float64 Date
2006-09-27    55.919998
2006-09-28    56.240002
Name: Close, dtype: float64
20060930
Date
2006-09-29    55.25
Name: Close, dtype: float64 Date
2006-12-28    57.099998
2006-12-29    57.049999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    59.259998
Name: Close, dtype: float64 Date
2007-06-28    63.500000
2007-06-29    63.599998
Name: Close, dtype: float64
20070630
Date
2007-06-29    63.599998
Name: Close, dtype: float64 Date
2007-09-27    61.700001
2007-09-28    63.570000
Name: Close, dtype: float64
20070930
Date
2007-10-01    64.989998
Name: Close, dtype: float64 Date
2007-12-31    50
Name: Close, dtype: int64
20071231
Date
2007-12-31    50
Name: Close, dtype: int64 Date
2008-03-31    50.68
Name: Close, dtype: float64
20080331
Date
2008-03-31    50.68
Name: Close, dtype: float64 Date
2008-06-30    46.490002
Name: Close, dtype: float64
20080630
Date
2008-06-30    46.490002
Name: Close, dtype: float64 Date
2008-09-29    47.349998
Name: Close, dtype: float64
20080930
Date
2008-09-29    47.349998
2008-09-30    49.049999
Name: Close, dtype: float64 Date
2008-12-29    32.389999
Name: Close, dtype: float64
20081231
Date
2008-12-30    33.549999
2008-12-31    34.529999
Name: Close, dtype: float64 Date
2009-03-30    33.279999
2009-03-31    34.389999
Name: Close, dtype: float64
20090331
Date
2009-03-30    33.279999
2009-03-31    34.389999
Name: Close, dtype: float64 Date
2009-06-29    39.650002
Name: Close, dtype: float64
20090630
Date
2009-06-29    39.650002
2009-06-30    39.470001
Name: Close, dtype: float64 Date
2009-09-28    47.709999
Name: Close, dtype: float64
20090930
Date
2009-09-29    47.279999
2009-09-30    46.680000
Name: Close, dtype: float64 Date
2009-12-28    48.450001
2009-12-29    48.580002
Name: Close, dtype: float64
20091231
Date
2009-12-30    48.700001
2009-12-31    48.369999
Name: Close, dtype: float64 Date
2010-03-30    53.740002
2010-03-31    52.599998
Name: Close, dtype: float64
20100331
Date
2010-03-30    53.740002
2010-03-31    52.599998
Name: Close, dtype: float64 Date
2010-06-28    49.919998
2010-06-29    49.000000
Name: Close, dtype: float64
20100630
Date
2010-06-29    49.000000
2010-06-30    49.169998
Name: Close, dtype: float64 Date
2010-09-27    54.389999
2010-09-28    54.529999
Name: Close, dtype: float64
20100930
Date
2010-09-29    53.540001
2010-09-30    53.439999
Name: Close, dtype: float64 Date
2010-12-28    59.910000
2010-12-29    59.889999
Name: Close, dtype: float64
20101231
Date
2010-12-30    59.950001
2010-12-31    60.130001
Name: Close, dtype: float64 Date
2011-03-30    50.259998
2011-03-31    50.009998
Name: Close, dtype: float64
20110331
Date
2011-03-30    50.259998
2011-03-31    50.009998
Name: Close, dtype: float64 Date
2011-06-28    46.689999
2011-06-29    46.490002
Name: Close, dtype: float64
20110630
Date
2011-06-29    46.490002
2011-06-30    46.910000
Name: Close, dtype: float64 Date
2011-09-27    50.430000
2011-09-28    49.990002
Name: Close, dtype: float64
20110930
Date
2011-09-29    50.230000
2011-09-30    49.040001
Name: Close, dtype: float64 Date
2011-12-28    51.709999
2011-12-29    51.680000
Name: Close, dtype: float64
20111231
Date
2011-12-30    51.220001
Name: Close, dtype: float64 Date
2012-03-29    57.98
2012-03-30    58.27
Name: Close, dtype: float64
20120331
Date
2012-03-30    58.27
Name: Close, dtype: float64 Date
2012-06-28    57.459999
2012-06-29    58.189999
Name: Close, dtype: float64
20120630
Date
2012-06-29    58.189999
Name: Close, dtype: float64 Date
2012-09-27    63.590000
2012-09-28    63.470001
Name: Close, dtype: float64
20120930
Date
2012-10-01    62.990002
Name: Close, dtype: float64 Date
2012-12-31    59.169998
Name: Close, dtype: float64
20121231
Date
2012-12-31    59.169998
Name: Close, dtype: float64 Date
2013-04-01    68.660004
Name: Close, dtype: float64
20130331
Date
2013-04-01    68.660004
Name: Close, dtype: float64 Date
2013-07-01    69.330002
Name: Close, dtype: float64
20130630
Date
2013-07-01    69.330002
Name: Close, dtype: float64 Date
2013-09-30    63.98
Name: Close, dtype: float64
20130930
Date
2013-09-30    63.98
Name: Close, dtype: float64 Date
2013-12-30    62.470001
Name: Close, dtype: float64
20131231
Date
2013-12-30    62.470001
2013-12-31    63.270000
Name: Close, dtype: float64 Date
2014-03-31    60.509998
Name: Close, dtype: float64
20140331
Date
2014-03-31    60.509998
Name: Close, dtype: float64 Date
2014-06-30    57.950001
Name: Close, dtype: float64
20140630
Date
2014-06-30    57.950001
Name: Close, dtype: float64 Date
2014-09-29    63.040001
Name: Close, dtype: float64
20140930
Date
2014-09-29    63.040001
2014-09-30    62.680000
Name: Close, dtype: float64 Date
2014-12-29    75.529999
Name: Close, dtype: float64
20141231
Date
2014-12-30    75.709999
2014-12-31    75.910004
Name: Close, dtype: float64 Date
2015-03-30    82.139999
2015-03-31    82.070000
Name: Close, dtype: float64
20150331
Date
2015-03-30    82.139999
2015-03-31    82.070000
Name: Close, dtype: float64 Date
2015-06-29    82.089996
Name: Close, dtype: float64
20150630
Date
2015-06-29    82.089996
2015-06-30    81.629997
Name: Close, dtype: float64 Date
2015-09-28    77.669998
Name: Close, dtype: float64
20150930
Date
2015-09-29    77.980003
2015-09-30    78.660004
Name: Close, dtype: float64 Date
2015-12-28    72.870003
2015-12-29    74.440002
Name: Close, dtype: float64
20151231
Date
2015-12-30    73.620003
2015-12-31    72.610001
Name: Close, dtype: float64 Date
2016-03-29    82.970001
2016-03-30    83.599998
Name: Close, dtype: float64
20160331

Date
2016-03-30    83.599998
2016-03-31    82.279999
Name: Close, dtype: float64 Date
2016-06-28    69.739998
2016-06-29    70.000000
Name: Close, dtype: float64
20160630
Date
2016-06-29    70.00
2016-06-30    69.82
Name: Close, dtype: float64 Date
2016-09-27    68.290001
2016-09-28    67.820000
Name: Close, dtype: float64
20160930
Date
2016-09-29    67.720001
2016-09-30    68.680000
Name: Close, dtype: float64 Date
2016-12-28    72.830002
2016-12-29    72.620003
Name: Close, dtype: float64
20161231
Date
2016-12-30    72.230003
Name: Close, dtype: float64 Date
2017-03-30    55.250000
2017-03-31    55.189999
Name: Close, dtype: float64
20170331
Date
2017-03-30    55.250000
2017-03-31    55.189999
Name: Close, dtype: float64 Date
2017-06-28    52.060001
2017-06-29    52.090000
Name: Close, dtype: float64
20170630
Date
2017-06-29    52.090000
2017-06-30    52.290001
Name: Close, dtype: float64 Date
2017-09-27    58.869999
2017-09-28    58.910000
Name: Close, dtype: float64
20170930
Date
2017-09-29    59.009998
Name: Close, dtype: float64 Date
2017-12-28    64.82
2017-12-29    65.25
Name: Close, dtype: float64
20171231
Date
2018-01-02    67.629997
Name: Close, dtype: float64 Date
2018-04-02    68.980003
Name: Close, dtype: float64
20180331
Date
2018-04-02    68.980003
Name: Close, dtype: float64 Date
2018-07-02    75.769997
Name: Close, dtype: float64
20180630
Date
2018-06-29    76.120003
Name: Close, dtype: float64 Date
2018-09-27    87.510002
2018-09-28    88.209999
Name: Close, dtype: float64
20180930
Date
2018-10-01    88.470001
Name: Close, dtype: float64 Date
2018-12-31    66.089996
Name: Close, dtype: float64
20181231
Date
2018-12-31    66.089996
Name: Close, dtype: float64 Date
2019-04-01    79.970001
Name: Close, dtype: float64
20190331
Date
2019-04-01    79.970001
Name: Close, dtype: float64 Date
2019-07-01    86.940002
Name: Close, dtype: float64
20190630
Date
2019-07-01    86.940002
Name: Close, dtype: float64 Date
2019-09-30    106.910004
Name: Close, dtype: float64
20190930
Date
2019-09-30    106.910004
Name: Close, dtype: float64 Date
2019-12-30    128.889999
Name: Close, dtype: float64
20191231
Date
2019-12-30    128.889999
2019-12-31    128.210007
Name: Close, dtype: float64 Date
2020-03-30    96.010002
Name: Close, dtype: float64
20130930
Date
2013-09-30    5.04
Name: Close, dtype: float64 Date
2013-12-30    3.83
Name: Close, dtype: float64
20131231
Date
2013-12-30    3.83
2013-12-31    3.90
Name: Close, dtype: float64 Date
2014-03-31    6.9
Name: Close, dtype: float64
20140331
Date
2014-03-31    6.9
Name: Close, dtype: float64 Date
2014-06-30    9.39
Name: Close, dtype: float64
20140630
Date
2014-06-30    9.39
Name: Close, dtype: float64 Date
2014-09-29    11
Name: Close, dtype: int64
20140930
Date
2014-09-29    11.00
2014-09-30    10.67
Name: Close, dtype: float64 Date
2014-12-29    16.01
Name: Close, dtype: float64
20141231
Date
2014-12-30    15.76
2014-12-31    15.84
Name: Close, dtype: float64 Date
2015-03-30    16.16
2015-03-31    15.48
Name: Close, dtype: float64
20150331
Date
2015-03-30    16.16
2015-03-31    15.48
Name: Close, dtype: float64 Date
2015-06-29    15.99
Name: Close, dtype: float64
20150630
Date
2015-06-29    15.99
2015-06-30    16.59
Name: Close, dtype: float64 Date
2015-09-28    10.41
Name: Close, dtype: float64
20150930
Date
2015-09-29     9.76
2015-09-30    10.08
Name: Close, dtype: float64 Date
2015-12-28    11.89
2015-12-29    11.99
Name: Close, dtype: float64
20151231
Date
2015-12-30    11.95
2015-12-31    11.93
Name: Close, dtype: float64 Date
2016-03-29    8.66
2016-03-30    8.79
Name: Close, dtype: float64
20160331
Date
2016-03-30    8.79
2016-03-31    8.52
Name: Close, dtype: float64 Date
2016-06-28    5.97
2016-06-29    6.01
Name: Close, dtype: float64
20160630
Date
2016-06-29    6.01
2016-06-30    6.06
Name: Close, dtype: float64 Date
2016-09-27    7.98
2016-09-28    7.90
Name: Close, dtype: float64
20160930
Date
2016-09-29    7.47
2016-09-30    7.74
Name: Close, dtype: float64 Date
2016-12-28    4.70
2016-12-29    4.75
Name: Close, dtype: float64
20161231
Date
2016-12-30    4.65
Name: Close, dtype: float64 Date
2017-03-30    11.45
2017-03-31    11.65
Name: Close, dtype: float64
20170331
Date
2017-03-30    11.45
2017-03-31    11.65
Name: Close, dtype: float64 Date
2017-06-28    11.35
2017-06-29    10.60
Name: Close, dtype: float64
20170630
Date
2017-06-29    10.60
2017-06-30    10.05
Name: Close, dtype: float64 Date
2017-09-27    11.7
2017-09-28    11.8
Name: Close, dtype: float64
20170930
Date
2017-09-29    11.85
Name: Close, dtype: float64 Date
2017-12-28    8.75
2017-12-29    8.20
Name: Close, dtype: float64
20171231
Date
2018-01-02    8.75
Name: Close, dtype: float64 Date
2018-04-02    13.75
Name: Close, dtype: float64
20180331
Date
2018-04-02    13.75
Name: Close, dtype: float64 Date
2018-07-02    13.45
Name: Close, dtype: float64
20180630
Date
2018-06-29    13.15
Name: Close, dtype: float64 Date
2018-09-27    5.7
2018-09-28    5.6
Name: Close, dtype: float64
20180930
Date
2018-10-01    5.51
Name: Close, dtype: float64 Date
2018-12-31    4.1
Name: Close, dtype: float64
20181231
Date
2018-12-31    4.1
Name: Close, dtype: float64 Date
2019-04-01    8.09
Name: Close, dtype: float64
20190331
Date
2019-04-01    8.09
Name: Close, dtype: float64 Date
2019-07-01    8.93
Name: Close, dtype: float64
20190630
Date
2019-07-01    8.93
Name: Close, dtype: float64 Date
2019-09-30    5.615
Name: Close, dtype: float64
20190930
Date
2019-09-30    5.615
Name: Close, dtype: float64 Date
2019-12-30    10.85
Name: Close, dtype: float64
20191231
Date
2019-12-30    10.85
2019-12-31    11.10
Name: Close, dtype: float64 Date
2020-03-30    10.32
Name: Close, dtype: float64
20030331
Date
2003-03-31    24.665001
Name: Close, dtype: float64 Date
2003-06-30    25.6
Name: Close, dtype: float64
20030630
Date
2003-06-30    25.6
Name: Close, dtype: float64 Date
2003-09-29    25.610001
Name: Close, dtype: float64
20030930
Date
2003-09-29    25.610001
2003-09-30    25.250000
Name: Close, dtype: float64 Date
2003-12-29    27.33
Name: Close, dtype: float64
20031231
Date
2003-12-30    27.299999
2003-12-31    27.370001
Name: Close, dtype: float64 Date
2004-03-29    28.049999
2004-03-30    28.360001
Name: Close, dtype: float64
20040331
Date
2004-03-30    28.360001
2004-03-31    28.530001
Name: Close, dtype: float64 Date
2004-06-28    31.15
2004-06-29    31.60
Name: Close, dtype: float64
20040630
Date
2004-06-29    31.600000
2004-06-30    31.700001
Name: Close, dtype: float64 Date
2004-09-27    30.93
2004-09-28    31.43
Name: Close, dtype: float64
20040930
Date
2004-09-29    31.190001
2004-09-30    31.440001
Name: Close, dtype: float64 Date
2004-12-28    35.130001
2004-12-29    35.000000
Name: Close, dtype: float64
20041231
Date
2004-12-30    35.150002
2004-12-31    35.130001
Name: Close, dtype: float64 Date
2005-03-30    32.709999
2005-03-31    33.049999
Name: Close, dtype: float64
20050331
Date
2005-03-30    32.709999
2005-03-31    33.049999
Name: Close, dtype: float64 Date
2005-06-28    32.110001
2005-06-29    32.250000
Name: Close, dtype: float64
20050630
Date
2005-06-29    32.250000
2005-06-30    32.360001
Name: Close, dtype: float64 Date
2005-09-27    31.68
2005-09-28    31.90
Name: Close, dtype: float64
20050930
Date
2005-09-29    32.029999
2005-09-30    31.930000
Name: Close, dtype: float64 Date
2005-12-28    36.759998
2005-12-29    36.610001
Name: Close, dtype: float64
20051231
Date
2005-12-30    36.27
Name: Close, dtype: float64 Date
2006-03-30    38.570000
2006-03-31    38.200001
Name: Close, dtype: float64
20060331
Date
2006-03-30    38.570000
2006-03-31    38.200001
Name: Close, dtype: float64 Date
2006-06-28    39.860001
2006-06-29    41.139999
Name: Close, dtype: float64
20060630
Date
2006-06-29    41.139999
2006-06-30    40.580002
Name: Close, dtype: float64 Date
2006-09-27    43.220001
2006-09-28    43.220001
Name: Close, dtype: float64
20060930
Date
2006-09-29    42.82
Name: Close, dtype: float64 Date
2006-12-28    45.299999
2006-12-29    45.200001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    43
Name: Close, dtype: int64 Date
2007-06-28    42.830002
2007-06-29    42.700001
Name: Close, dtype: float64
20070630

Date
2007-06-29    42.700001
Name: Close, dtype: float64 Date
2007-09-27    47.590000
2007-09-28    47.200001
Name: Close, dtype: float64
20070930
Date
2007-10-01    47.849998
Name: Close, dtype: float64 Date
2007-12-31    51.209999
Name: Close, dtype: float64
20071231
Date
2007-12-31    51.209999
Name: Close, dtype: float64 Date
2008-03-31    43.43
Name: Close, dtype: float64
20080331
Date
2008-03-31    43.43
Name: Close, dtype: float64 Date
2008-06-30    42.990002
Name: Close, dtype: float64
20080630
Date
2008-06-30    42.990002
Name: Close, dtype: float64 Date
2008-09-29    47.049999
Name: Close, dtype: float64
20080930
Date
2008-09-29    47.049999
2008-09-30    48.520000
Name: Close, dtype: float64 Date
2008-12-29    33.77
Name: Close, dtype: float64
20081231
Date
2008-12-30    34.380001
2008-12-31    35.150002
Name: Close, dtype: float64 Date
2009-03-30    34.18
2009-03-31    34.73
Name: Close, dtype: float64
20090331
Date
2009-03-30    34.18
2009-03-31    34.73
Name: Close, dtype: float64 Date
2009-06-29    39.060001
Name: Close, dtype: float64
20090630
Date
2009-06-29    39.060001
2009-06-30    38.990002
Name: Close, dtype: float64 Date
2009-09-28    46.389999
Name: Close, dtype: float64
20090930
Date
2009-09-29    45.889999
2009-09-30    46.230000
Name: Close, dtype: float64 Date
2009-12-28    45.220001
2009-12-29    45.349998
Name: Close, dtype: float64
20091231
Date
2009-12-30    45.209999
2009-12-31    44.580002
Name: Close, dtype: float64 Date
2010-03-30    43.900002
2010-03-31    43.950001
Name: Close, dtype: float64
20100331
Date
2010-03-30    43.900002
2010-03-31    43.950001
Name: Close, dtype: float64 Date
2010-06-28    45.580002
2010-06-29    45.060001
Name: Close, dtype: float64
20100630
Date
2010-06-29    45.060001
2010-06-30    44.910000
Name: Close, dtype: float64 Date
2010-09-27    50.680000
2010-09-28    50.619999
Name: Close, dtype: float64
20100930
Date
2010-09-29    50.570000
2010-09-30    50.740002
Name: Close, dtype: float64 Date
2010-12-28    50.410000
2010-12-29    50.330002
Name: Close, dtype: float64
20101231
Date
2010-12-30    50.480000
2010-12-31    50.419998
Name: Close, dtype: float64 Date
2011-03-30    50.299999
2011-03-31    51.020000
Name: Close, dtype: float64
20110331
Date
2011-03-30    50.299999
2011-03-31    51.020000
Name: Close, dtype: float64 Date
2011-06-28    55.060001
2011-06-29    55.320000
Name: Close, dtype: float64
20110630
Date
2011-06-29    55.320000
2011-06-30    56.380001
Name: Close, dtype: float64 Date
2011-09-27    51.090000
2011-09-28    49.279999
Name: Close, dtype: float64
20110930
Date
2011-09-29    49.330002
2011-09-30    48.889999
Name: Close, dtype: float64 Date
2011-12-28    56.540001
2011-12-29    57.630001
Name: Close, dtype: float64
20111231
Date
2011-12-30    57.810001
Name: Close, dtype: float64 Date
2012-03-29    61.709999
2012-03-30    61.720001
Name: Close, dtype: float64
20120331
Date
2012-03-30    61.720001
Name: Close, dtype: float64 Date
2012-06-28    66.639999
2012-06-29    68.529999
Name: Close, dtype: float64
20120630
Date
2012-06-29    68.529999
Name: Close, dtype: float64 Date
2012-09-27    65.110001
2012-09-28    64.809998
Name: Close, dtype: float64
20120930
Date
2012-10-01    64.93
Name: Close, dtype: float64 Date
2012-12-31    71.900002
Name: Close, dtype: float64
20121231
Date
2012-12-31    71.900002
Name: Close, dtype: float64 Date
2013-04-01    79.5
Name: Close, dtype: float64
20130331
Date
2013-04-01    79.5
Name: Close, dtype: float64 Date
2013-07-01    86.339996
Name: Close, dtype: float64
20130630
Date
2013-07-01    86.339996
Name: Close, dtype: float64 Date
2013-09-30    98.760002
Name: Close, dtype: float64
20130930
Date
2013-09-30    98.760002
Name: Close, dtype: float64 Date
2013-12-30    104.110001
Name: Close, dtype: float64
20131231
Date
2013-12-30    104.110001
2013-12-31    104.269997
Name: Close, dtype: float64 Date
2014-03-31    107.989998
Name: Close, dtype: float64
20140331
Date
2014-03-31    107.989998
Name: Close, dtype: float64 Date
2014-06-30    111.339996
Name: Close, dtype: float64
20140630
Date
2014-06-30    111.339996
Name: Close, dtype: float64 Date
2014-09-29    116.32
Name: Close, dtype: float64
20140930
Date
2014-09-29    116.320000
2014-09-30    114.830002
Name: Close, dtype: float64 Date
2014-12-29    106.739998
Name: Close, dtype: float64
20141231
Date
2014-12-30    105.269997
2014-12-31    104.519997
Name: Close, dtype: float64 Date
2015-03-30    114.790001
2015-03-31    114.379997
Name: Close, dtype: float64
20150331
Date
2015-03-30    114.790001
2015-03-31    114.379997
Name: Close, dtype: float64 Date
2015-06-29    112.93
Name: Close, dtype: float64
20150630
Date
2015-06-29    112.93
2015-06-30    113.07
Name: Close, dtype: float64 Date
2015-09-28    107.32
Name: Close, dtype: float64
20150930
Date
2015-09-29    108.360001
2015-09-30    109.720001
Name: Close, dtype: float64 Date
2015-12-28    115.470001
2015-12-29    116.389999
Name: Close, dtype: float64
20151231
Date
2015-12-30    115.430000
2015-12-31    114.379997
Name: Close, dtype: float64 Date
2016-03-29    111.459999
2016-03-30    112.419998
Name: Close, dtype: float64
20160331
Date
2016-03-30    112.419998
2016-03-31    111.519997
Name: Close, dtype: float64 Date
2016-06-28    115.250000
2016-06-29    116.790001
Name: Close, dtype: float64
20160630
Date
2016-06-29    116.790001
2016-06-30    118.599998
Name: Close, dtype: float64 Date
2016-09-27    119.919998
2016-09-28    121.300003
Name: Close, dtype: float64
20160930
Date
2016-09-29    120.730003
2016-09-30    121.720001
Name: Close, dtype: float64 Date
2016-12-28    118.000000
2016-12-29    117.709999
Name: Close, dtype: float64
20161231
Date
2016-12-30    117.220001
Name: Close, dtype: float64 Date
2017-03-30    125.339996
2017-03-31    125.339996
Name: Close, dtype: float64
20170331
Date
2017-03-30    125.339996
2017-03-31    125.339996
Name: Close, dtype: float64 Date
2017-06-28    132.899994
2017-06-29    131.449997
Name: Close, dtype: float64
20170630
Date
2017-06-29    131.449997
2017-06-30    132.750000
Name: Close, dtype: float64 Date
2017-09-27    128.970001
2017-09-28    129.270004
Name: Close, dtype: float64
20170930
Date
2017-09-29    128.610001
Name: Close, dtype: float64 Date
2017-12-28    134.529999
2017-12-29    134.179993
Name: Close, dtype: float64
20171231
Date
2018-01-02    134.5
Name: Close, dtype: float64 Date
2018-04-02    133.970001
Name: Close, dtype: float64
20180331
Date
2018-04-02    133.970001
Name: Close, dtype: float64 Date
2018-07-02    140.240005
Name: Close, dtype: float64
20180630
Date
2018-06-29    140.330002
Name: Close, dtype: float64 Date
2018-09-27    156.830002
2018-09-28    156.779999
Name: Close, dtype: float64
20180930
Date
2018-10-01    157.399994
Name: Close, dtype: float64 Date
2018-12-31    147.350006
Name: Close, dtype: float64
20181231
Date
2018-12-31    147.350006
Name: Close, dtype: float64 Date
2019-04-01    178.669998
Name: Close, dtype: float64
20190331
Date
2019-04-01    178.669998
Name: Close, dtype: float64 Date
2019-07-01    195.759995
Name: Close, dtype: float64
20190630
Date
2019-07-01    195.759995
Name: Close, dtype: float64 Date
2019-09-30    198.039993
Name: Close, dtype: float64
20190930
Date
2019-09-30    198.039993
Name: Close, dtype: float64 Date
2019-12-30    191.619995
Name: Close, dtype: float64
20191231
Date
2019-12-30    191.619995
2019-12-31    192.990005
Name: Close, dtype: float64 Date
2020-03-30    161.399994
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331

error
20100630
error
20120630
Date
2012-06-29    8.18
Name: Close, dtype: float64 Date
2012-09-27    7.99
2012-09-28    7.85
Name: Close, dtype: float64
20120930
Date
2012-10-01    7.9
Name: Close, dtype: float64 Date
2012-12-31    6.48
Name: Close, dtype: float64
20121231
Date
2012-12-31    6.48
Name: Close, dtype: float64 Date
2013-04-01    7.26
Name: Close, dtype: float64
20130331
Date
2013-04-01    7.26
Name: Close, dtype: float64 Date
2013-07-01    8.4
Name: Close, dtype: float64
20130630
Date
2013-07-01    8.4
Name: Close, dtype: float64 Date
2013-09-30    13.44
Name: Close, dtype: float64
20130930
Date
2013-09-30    13.44
Name: Close, dtype: float64 Date
2013-12-30    16.309999
Name: Close, dtype: float64
20131231
Date
2013-12-30    16.309999
2013-12-31    16.420000
Name: Close, dtype: float64 Date
2014-03-31    15.27
Name: Close, dtype: float64
20140331
Date
2014-03-31    15.27
Name: Close, dtype: float64 Date
2014-06-30    11.06
Name: Close, dtype: float64
20140630
Date
2014-06-30    11.06
Name: Close, dtype: float64 Date
2014-09-29    14.11
Name: Close, dtype: float64
20140930
Date
2014-09-29    14.11
2014-09-30    14.40
Name: Close, dtype: float64 Date
2014-12-29    13.83
Name: Close, dtype: float64
20141231
Date
2014-12-30    13.85
2014-12-31    13.34
Name: Close, dtype: float64 Date
2015-03-30    13.59
2015-03-31    13.64
Name: Close, dtype: float64
20150331
Date
2015-03-30    13.59
2015-03-31    13.64
Name: Close, dtype: float64 Date
2015-06-29    11.05
Name: Close, dtype: float64
20150630
Date
2015-06-29    11.05
2015-06-30    11.06
Name: Close, dtype: float64 Date
2015-09-28    7.84
Name: Close, dtype: float64
20150930
Date
2015-09-29    7.89
2015-09-30    7.97
Name: Close, dtype: float64 Date
2015-12-28    8.96
2015-12-29    8.77
Name: Close, dtype: float64
20151231
Date
2015-12-30    8.60
2015-12-31    8.37
Name: Close, dtype: float64 Date
2016-03-29    8.59
2016-03-30    8.42
Name: Close, dtype: float64
20160331
Date
2016-03-30    8.42
2016-03-31    8.23
Name: Close, dtype: float64 Date
2016-06-28     9.87
2016-06-29    10.56
Name: Close, dtype: float64
20160630
Date
2016-06-29    10.56
2016-06-30    11.52
Name: Close, dtype: float64 Date
2016-09-27    19.200001
2016-09-28    19.320000
Name: Close, dtype: float64
20160930
Date
2016-09-29    18.450001
2016-09-30    18.830000
Name: Close, dtype: float64 Date
2016-12-28    17.100000
2016-12-29    16.950001
Name: Close, dtype: float64
20161231
Date
2016-12-30    16.9
Name: Close, dtype: float64 Date
2017-03-30    13.55
2017-03-31    13.35
Name: Close, dtype: float64
20170331
Date
2017-03-30    13.55
2017-03-31    13.35
Name: Close, dtype: float64 Date
2017-06-28    17.450001
2017-06-29    17.000000
Name: Close, dtype: float64
20170630
Date
2017-06-29    17.00
2017-06-30    16.85
Name: Close, dtype: float64 Date
2017-09-27    17.799999
2017-09-28    17.900000
Name: Close, dtype: float64
20170930
Date
2017-09-29    17.549999
Name: Close, dtype: float64 Date
2017-12-28    19.100000
2017-12-29    19.200001
Name: Close, dtype: float64
20171231
Date
2018-01-02    19.35
Name: Close, dtype: float64 Date
2018-04-02    18.25
Name: Close, dtype: float64
20180331
Date
2018-04-02    18.25
Name: Close, dtype: float64 Date
2018-07-02    20.65
Name: Close, dtype: float64
20180630
Date
2018-06-29    20.65
Name: Close, dtype: float64 Date
2018-09-27    16.15
2018-09-28    16.35
Name: Close, dtype: float64
20180930
Date
2018-10-01    16.09
Name: Close, dtype: float64 Date
2018-12-31    14.31
Name: Close, dtype: float64
20181231
Date
2018-12-31    14.31
Name: Close, dtype: float64 Date
2019-04-01    13.92
Name: Close, dtype: float64
20190331
Date
2019-04-01    13.92
Name: Close, dtype: float64 Date
2019-07-01    14.28
Name: Close, dtype: float64
20190630
Date
2019-07-01    14.28
Name: Close, dtype: float64 Date
2019-09-30    8.19
Name: Close, dtype: float64
20190930
Date
2019-09-30    8.19
Name: Close, dtype: float64 Date
2019-12-30    16.52
Name: Close, dtype: float64
20191231
Date
2019-12-30    16.52
2019-12-31    16.50
Name: Close, dtype: float64 Date
2020-03-30    14.9
Name: Close, dtype: float64
20040331
Date
2004-03-30    12.81
2004-03-31    12.85
Name: Close, dtype: float64 Date
2004-06-28    10.23
2004-06-29     9.97
Name: Close, dtype: float64
20040630
Date
2004-06-29    9.97
2004-06-30    9.95
Name: Close, dtype: float64 Date
2004-09-27    9.75
2004-09-28    9.66
Name: Close, dtype: float64
20040930
Date
2004-09-29    9.57
2004-09-30    9.49
Name: Close, dtype: float64 Date
2004-12-28    10.66
2004-12-29    10.71
Name: Close, dtype: float64
20041231
Date
2004-12-30    10.52
2004-12-31    10.77
Name: Close, dtype: float64 Date
2005-03-30    12.30
2005-03-31    12.79
Name: Close, dtype: float64
20050331
Date
2005-03-30    12.30
2005-03-31    12.79
Name: Close, dtype: float64 Date
2005-06-28    11.88
2005-06-29    11.81
Name: Close, dtype: float64
20050630
Date
2005-06-29    11.81
2005-06-30    11.88
Name: Close, dtype: float64 Date
2005-09-27    11.27
2005-09-28    11.16
Name: Close, dtype: float64
20050930
Date
2005-09-29    11.24
2005-09-30    11.35
Name: Close, dtype: float64 Date
2005-12-28    12.78
2005-12-29    12.80
Name: Close, dtype: float64
20051231
Date
2005-12-30    13.05
Name: Close, dtype: float64 Date
2006-03-30    14.12
2006-03-31    14.34
Name: Close, dtype: float64
20060331
Date
2006-03-30    14.12
2006-03-31    14.34
Name: Close, dtype: float64 Date
2006-06-28    10.85
2006-06-29    10.87
Name: Close, dtype: float64
20060630
Date
2006-06-29    10.87
2006-06-30    10.66
Name: Close, dtype: float64 Date
2006-09-27    12.25
2006-09-28    12.27
Name: Close, dtype: float64
20060930
Date
2006-09-29    12.27
Name: Close, dtype: float64 Date
2006-12-28    13.19
2006-12-29    13.03
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    13.13
Name: Close, dtype: float64 Date
2007-06-28    12.28
2007-06-29    12.08
Name: Close, dtype: float64
20070630
Date
2007-06-29    12.08
Name: Close, dtype: float64 Date
2007-09-27    10.84
2007-09-28    10.65
Name: Close, dtype: float64
20070930
Date
2007-10-01    11.1
Name: Close, dtype: float64 Date
2007-12-31    8.29
Name: Close, dtype: float64
20071231
Date
2007-12-31    8.29
Name: Close, dtype: float64 Date
2008-03-31    9.28
Name: Close, dtype: float64
20080331
Date
2008-03-31    9.28
Name: Close, dtype: float64 Date
2008-06-30    8.15
Name: Close, dtype: float64
20080630
Date
2008-06-30    8.15
Name: Close, dtype: float64 Date
2008-09-29    7.35
Name: Close, dtype: float64
20080930
Date
2008-09-29    7.35
2008-09-30    7.50
Name: Close, dtype: float64 Date
2008-12-29    6.14
Name: Close, dtype: float64
20081231
Date
2008-12-30    6.66
2008-12-31    7.00
Name: Close, dtype: float64 Date
2009-03-30    4.01
2009-03-31    4.16
Name: Close, dtype: float64
20090331
Date
2009-03-30    4.01
2009-03-31    4.16
Name: Close, dtype: float64 Date
2009-06-29    5.63
Name: Close, dtype: float64
20090630
Date
2009-06-29    5.63
2009-06-30    5.58
Name: Close, dtype: float64 Date
2009-09-28    7.35
Name: Close, dtype: float64
20090930
Date
2009-09-29    7.21
2009-09-30    7.02
Name: Close, dtype: float64 Date
2009-12-28    7.27
2009-12-29    7.41
Name: Close, dtype: float64
20091231
Date
2009-12-30    7.35
2009-12-31    7.44
Name: Close, dtype: float64 Date
2010-03-30    10.72
2010-03-31    10.65
Name: Close, dtype: float64
20100331
Date
2010-03-30    10.72
2010-03-31    10.65
Name: Close, dtype: float64 Date
2010-06-28    10.89
2010-06-29    10.59
Name: Close, dtype: float64
20100630
Date
2010-06-29    10.59
2010-06-30    10.32
Name: Close, dtype: float64 Date
2010-09-27    10.39
2010-09-28    10.50
Name: Close, dtype: float64
20100930
Date
2010-09-29    10.40
2010-09-30    10.24
Name: Close, dtype: float64 Date
2010-12-28    12.90
2010-12-29    12.72
Name: Close, dtype: float64
20101231
Date
2010-12-30    12.62
2010-12-31    12.55
Name: Close, dtype: float64 Date
2011-03-30    13.04
2011-03-31    13.12
Name: Close, dtype: float64
20110331
Date
2011-03-30    13.04
2011-03-31    13.12
Name: Close, dtype: float64 Date
2011-06-28    12.54
2011-06-29    12.60
Name: Close, dtype: float64
20110630
Date
2011-06-29    12.60
2011-06-30    12.71
Name: Close, dtype: float64 Date
2011-09-27    9.06
2011-09-28    8.67
Name: Close, dtype: float64
20110930

Date
2011-09-29    9.12
2011-09-30    8.75
Name: Close, dtype: float64 Date
2011-12-28    10.42
2011-12-29    10.47
Name: Close, dtype: float64
20111231
Date
2011-12-30    10.4
Name: Close, dtype: float64 Date
2012-03-29    12.83
2012-03-30    12.77
Name: Close, dtype: float64
20120331
Date
2012-03-30    12.77
Name: Close, dtype: float64 Date
2012-06-28    10.70
2012-06-29    11.01
Name: Close, dtype: float64
20120630
Date
2012-06-29    11.01
Name: Close, dtype: float64 Date
2012-09-27    11.65
2012-09-28    11.63
Name: Close, dtype: float64
20120930
Date
2012-10-01    11.75
Name: Close, dtype: float64 Date
2012-12-31    12.21
Name: Close, dtype: float64
20121231
Date
2012-12-31    12.21
Name: Close, dtype: float64 Date
2013-04-01    14.66
Name: Close, dtype: float64
20130331
Date
2013-04-01    14.66
Name: Close, dtype: float64 Date
2013-07-01    15.9
Name: Close, dtype: float64
20130630
Date
2013-07-01    15.9
Name: Close, dtype: float64 Date
2013-09-30    21.219999
Name: Close, dtype: float64
20130930
Date
2013-09-30    21.219999
Name: Close, dtype: float64 Date
2013-12-30    26.02
Name: Close, dtype: float64
20131231
Date
2013-12-30    26.020000
2013-12-31    26.379999
Name: Close, dtype: float64 Date
2014-03-31    23.620001
Name: Close, dtype: float64
20140331
Date
2014-03-31    23.620001
Name: Close, dtype: float64 Date
2014-06-30    24.6
Name: Close, dtype: float64
20140630
Date
2014-06-30    24.6
Name: Close, dtype: float64 Date
2014-09-29    23.33
Name: Close, dtype: float64
20140930
Date
2014-09-29    23.330000
2014-09-30    22.879999
Name: Close, dtype: float64 Date
2014-12-29    29.09
Name: Close, dtype: float64
20141231
Date
2014-12-30    29.459999
2014-12-31    29.190001
Name: Close, dtype: float64 Date
2015-03-30    29.150000
2015-03-31    29.129999
Name: Close, dtype: float64
20150331
Date
2015-03-30    29.150000
2015-03-31    29.129999
Name: Close, dtype: float64 Date
2015-06-29    26.6
Name: Close, dtype: float64
20150630
Date
2015-06-29    26.60
2015-06-30    26.98
Name: Close, dtype: float64 Date
2015-09-28    22.92
Name: Close, dtype: float64
20150930
Date
2015-09-29    23.150000
2015-09-30    23.309999
Name: Close, dtype: float64 Date
2015-12-28    24.430000
2015-12-29    24.610001
Name: Close, dtype: float64
20151231
Date
2015-12-30    24.270000
2015-12-31    24.030001
Name: Close, dtype: float64 Date
2016-03-29    16.360001
2016-03-30    16.730000
Name: Close, dtype: float64
20160331
Date
2016-03-30    16.730000
2016-03-31    16.799999
Name: Close, dtype: float64 Date
2016-06-28    13.62
2016-06-29    13.83
Name: Close, dtype: float64
20160630
Date
2016-06-29    13.83
2016-06-30    14.25
Name: Close, dtype: float64 Date
2016-09-27    17.75
2016-09-28    18.00
Name: Close, dtype: float64
20160930
Date
2016-09-29    17.459999
2016-09-30    17.730000
Name: Close, dtype: float64 Date
2016-12-28    22.370001
2016-12-29    22.360001
Name: Close, dtype: float64
20161231
Date
2016-12-30    22.540001
Name: Close, dtype: float64 Date
2017-03-30    23.650000
2017-03-31    23.629999
Name: Close, dtype: float64
20170331
Date
2017-03-30    23.650000
2017-03-31    23.629999
Name: Close, dtype: float64 Date
2017-06-28    26.120001
2017-06-29    26.320000
Name: Close, dtype: float64
20170630
Date
2017-06-29    26.320000
2017-06-30    26.280001
Name: Close, dtype: float64 Date
2017-09-27    28.990000
2017-09-28    29.290001
Name: Close, dtype: float64
20170930
Date
2017-09-29    29.08
Name: Close, dtype: float64 Date
2017-12-28    31.309999
2017-12-29    30.730000
Name: Close, dtype: float64
20171231
Date
2018-01-02    30.82
Name: Close, dtype: float64 Date
2018-04-02    28.639999
Name: Close, dtype: float64
20180331
Date
2018-04-02    28.639999
Name: Close, dtype: float64 Date
2018-07-02    35.970001
Name: Close, dtype: float64
20180630
Date
2018-06-29    36
Name: Close, dtype: int64 Date
2018-09-27    35.299999
2018-09-28    35.360001
Name: Close, dtype: float64
20180930
Date
2018-10-01    34.68
Name: Close, dtype: float64 Date
2018-12-31    27.940001
Name: Close, dtype: float64
20181231
Date
2018-12-31    27.940001
Name: Close, dtype: float64 Date
2019-04-01    27.33
Name: Close, dtype: float64
20190331
Date
2019-04-01    27.33
Name: Close, dtype: float64 Date
2019-07-01    27.360001
Name: Close, dtype: float64
20190630
Date
2019-07-01    27.360001
Name: Close, dtype: float64 Date
2019-09-30    24.200001
Name: Close, dtype: float64
20190930
Date
2019-09-30    24.200001
Name: Close, dtype: float64 Date
2019-12-30    29.709999
Name: Close, dtype: float64
20191231
Date
2019-12-30    29.709999
2019-12-31    29.930000
Name: Close, dtype: float64 Date
2020-03-30    19.799999
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20110630
Date
2011-06-29    32.759998
2011-06-30    33.000000
Name: Close, dtype: float64 Date
2011-09-27    19.830000
2011-09-28    19.200001
Name: Close, dtype: float64
20110930
Date
2011-09-29    19.799999
2011-09-30    20.160000
Name: Close, dtype: float64 Date
2011-12-28    20.91
2011-12-29    21.27
Name: Close, dtype: float64
20111231
Date
2011-12-30    22.030001
Name: Close, dtype: float64 Date
2012-03-29    23.889999
2012-03-30    24.740000
Name: Close, dtype: float64
20120331
Date
2012-03-30    24.74
Name: Close, dtype: float64 Date
2012-06-28    29.469999
2012-06-29    30.430000
Name: Close, dtype: float64
20120630
Date
2012-06-29    30.43
Name: Close, dtype: float64 Date
2012-09-27    33.049999
2012-09-28    33.250000
Name: Close, dtype: float64
20120930
Date
2012-10-01    33.75
Name: Close, dtype: float64 Date
2012-12-31    30.17
Name: Close, dtype: float64
20121231
Date
2012-12-31    30.17
Name: Close, dtype: float64 Date
2013-04-01    40.720001
Name: Close, dtype: float64
20130331
Date
2013-04-01    40.720001
Name: Close, dtype: float64 Date
2013-07-01    36.939999
Name: Close, dtype: float64
20130630
Date
2013-07-01    36.939999
Name: Close, dtype: float64 Date
2013-09-30    42.75
Name: Close, dtype: float64
20130930
Date
2013-09-30    42.75
Name: Close, dtype: float64 Date
2013-12-30    47.189999
Name: Close, dtype: float64
20131231
Date
2013-12-30    47.189999
2013-12-31    47.709999
Name: Close, dtype: float64 Date
2014-03-31    52.5
Name: Close, dtype: float64
20140331
Date
2014-03-31    52.5
Name: Close, dtype: float64 Date
2014-06-30    56.380001
Name: Close, dtype: float64
20140630
Date
2014-06-30    56.380001
Name: Close, dtype: float64 Date
2014-09-29    71.769997
Name: Close, dtype: float64
20140930
Date
2014-09-29    71.769997
2014-09-30    70.519997
Name: Close, dtype: float64 Date
2014-12-29    74.580002
Name: Close, dtype: float64
20141231
Date
2014-12-30    74.269997
2014-12-31    73.389999
Name: Close, dtype: float64 Date
2015-03-30    76.169998
2015-03-31    75.230003
Name: Close, dtype: float64
20150331
Date
2015-03-30    76.169998
2015-03-31    75.230003
Name: Close, dtype: float64 Date
2015-06-29    90.610001
Name: Close, dtype: float64
20150630
Date
2015-06-29    90.610001
2015-06-30    90.720001
Name: Close, dtype: float64 Date
2015-09-28    74.029999
Name: Close, dtype: float64
20150930
Date
2015-09-29    74.080002
2015-09-30    77.360001
Name: Close, dtype: float64 Date
2015-12-28    68.040001
2015-12-29    68.989998
Name: Close, dtype: float64
20151231
Date
2015-12-30    68.440002
2015-12-31    67.629997
Name: Close, dtype: float64 Date
2016-03-29    77.559998
2016-03-30    78.099998
Name: Close, dtype: float64
20160331
Date
2016-03-30    78.099998
2016-03-31    78.050003
Name: Close, dtype: float64 Date
2016-06-28    75.930000
2016-06-29    77.050003
Name: Close, dtype: float64
20160630
Date
2016-06-29    77.050003
2016-06-30    77.010002
Name: Close, dtype: float64 Date
2016-09-27    75.129997
2016-09-28    75.430000
Name: Close, dtype: float64
20160930
Date
2016-09-29    75.260002
2016-09-30    75.629997
Name: Close, dtype: float64 Date
2016-12-28    73.559998
2016-12-29    73.889999
Name: Close, dtype: float64
20161231
Date
2016-12-30    74.019997
Name: Close, dtype: float64 Date
2017-03-30    89.250000
2017-03-31    88.989998
Name: Close, dtype: float64
20170331

Date
2017-03-30    89.250000
2017-03-31    88.989998
Name: Close, dtype: float64 Date
2017-06-28    86.980003
2017-06-29    86.809998
Name: Close, dtype: float64
20170630
Date
2017-06-29    86.809998
2017-06-30    87.199997
Name: Close, dtype: float64 Date
2017-09-27    78.169998
2017-09-28    79.099998
Name: Close, dtype: float64
20170930
Date
2017-09-29    79.589996
Name: Close, dtype: float64 Date
2017-12-28    88.309998
2017-12-29    87.839996
Name: Close, dtype: float64
20171231
Date
2018-01-02    89.510002
Name: Close, dtype: float64 Date
2018-04-02    95.32
Name: Close, dtype: float64
20180331
Date
2018-04-02    95.32
Name: Close, dtype: float64 Date
2018-07-02    103.190002
Name: Close, dtype: float64
20180630
Date
2018-06-29    102.599998
Name: Close, dtype: float64 Date
2018-09-27    138.330002
2018-09-28    139.119995
Name: Close, dtype: float64
20180930
Date
2018-10-01    140.300003
Name: Close, dtype: float64 Date
2018-12-31    124.449997
Name: Close, dtype: float64
20181231
Date
2018-12-31    124.449997
Name: Close, dtype: float64 Date
2019-04-01    131.979996
Name: Close, dtype: float64
20190331
Date
2019-04-01    131.979996
Name: Close, dtype: float64 Date
2019-07-01    134.539993
Name: Close, dtype: float64
20190630
Date
2019-07-01    134.539993
Name: Close, dtype: float64 Date
2019-09-30    120.419998
Name: Close, dtype: float64
20190930
Date
2019-09-30    120.419998
Name: Close, dtype: float64 Date
2019-12-30    147.550003
Name: Close, dtype: float64
20191231
Date
2019-12-30    147.550003
2019-12-31    147.809998
Name: Close, dtype: float64 Date
2020-03-30    90.959999
Name: Close, dtype: float64
20140630
error
20140630
error
20140930
error
20140930
error
20141231
error
20141231
error
20150331
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20160930
error
20161231
error
20170331
error
20170630
error
20170930
error
20171231
error
20171231
error
20171231
error
20180331
error
20180331
error
20180630
error
20180630
error
20180930
error
20180930
error
20181231
error
20181231
error
20190331
error
20190630
Date
2019-07-01    9.9
Name: Close, dtype: float64 Date
2019-09-30    10.01
Name: Close, dtype: float64
20190930
Date
2019-09-30    10.01
Name: Close, dtype: float64 Date
2019-12-30    10.16
Name: Close, dtype: float64
20191231
Date
2019-12-30    10.16
2019-12-31    10.16
Name: Close, dtype: float64 Date
2020-03-30    10.13
Name: Close, dtype: float64
20191231
Date
2019-12-30    34.119999
2019-12-31    34.700001
Name: Close, dtype: float64 Date
2020-03-30    25.48
Name: Close, dtype: float64
20150930
Date
2015-09-29    93.790001
2015-09-30    93.930000
Name: Close, dtype: float64 Date
2015-12-28    102.250000
2015-12-29    102.769997
Name: Close, dtype: float64
20151231
Date
2015-12-30    102.470001
2015-12-31    102.589996
Name: Close, dtype: float64 Date
2016-03-29    105.839996
2016-03-30    106.699997
Name: Close, dtype: float64
20160331
Date
2016-03-30    106.699997
2016-03-31    106.629997
Name: Close, dtype: float64 Date
2016-06-28    117.320000
2016-06-29    119.150002
Name: Close, dtype: float64
20160630
Date
2016-06-29    119.150002
2016-06-30    120.379997
Name: Close, dtype: float64 Date
2016-09-27    128.009995
2016-09-28    128.610001
Name: Close, dtype: float64
20160930
Date
2016-09-29    127.839996
2016-09-30    130.020004
Name: Close, dtype: float64 Date
2016-12-28    103.059998
2016-12-29    103.500000
Name: Close, dtype: float64
20161231
Date
2016-12-30    103.199997
Name: Close, dtype: float64 Date
2017-03-30    121.360001
2017-03-31    122.110001
Name: Close, dtype: float64
20170331
Date
2017-03-30    121.360001
2017-03-31    122.110001
Name: Close, dtype: float64 Date
2017-06-28    128.509995
2017-06-29    127.889999
Name: Close, dtype: float64
20170630
Date
2017-06-29    127.889999
2017-06-30    128.399994
Name: Close, dtype: float64 Date
2017-09-27    116.250000
2017-09-28    115.660004
Name: Close, dtype: float64
20170930
Date
2017-09-29    117.089996
Name: Close, dtype: float64 Date
2017-12-28    121.750000
2017-12-29    120.669998
Name: Close, dtype: float64
20171231
Date
2018-01-02    124.059998
Name: Close, dtype: float64 Date
2018-04-02    106.400002
Name: Close, dtype: float64
20180331
Date
2018-04-02    106.400002
Name: Close, dtype: float64 Date
2018-07-02    111.82
Name: Close, dtype: float64
20180630
Date
2018-06-29    111.440002
Name: Close, dtype: float64 Date
2018-09-27    129.710007
2018-09-28    131.470001
Name: Close, dtype: float64
20180930
Date
2018-10-01    130.559998
Name: Close, dtype: float64 Date
2018-12-31    103.720001
Name: Close, dtype: float64
20181231
Date
2018-12-31    103.720001
Name: Close, dtype: float64 Date
2019-04-01    127.760002
Name: Close, dtype: float64
20190331
Date
2019-04-01    127.760002
Name: Close, dtype: float64 Date
2019-07-01    117.309998
Name: Close, dtype: float64
20190630
Date
2019-07-01    117.309998
Name: Close, dtype: float64 Date
2019-09-30    137.270004
Name: Close, dtype: float64
20190930
Date
2019-09-30    137.270004
Name: Close, dtype: float64 Date
2019-12-30    148.75
Name: Close, dtype: float64
20191231
Date
2019-12-30    148.750000
2019-12-31    149.679993
Name: Close, dtype: float64 Date
2020-03-30    98.279999
Name: Close, dtype: float64
20151231
error
20160331
error
20160630
error
20160930
error
20161231
error
20170331
error
20170630
error
20170930
error
20171231
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20110331
Date
2011-03-30    30.530001
2011-03-31    30.910000
Name: Close, dtype: float64 Date
2011-06-28    31.250000
2011-06-29    31.440001
Name: Close, dtype: float64
20110630
Date
2011-06-29    31.440001
2011-06-30    32.279999
Name: Close, dtype: float64 Date
2011-09-27    24.43
2011-09-28    23.08
Name: Close, dtype: float64
20110930
Date
2011-09-29    23.58
2011-09-30    23.16
Name: Close, dtype: float64 Date
2011-12-28    30.809999
2011-12-29    30.740000
Name: Close, dtype: float64
20111231
Date
2011-12-30    30.610001
Name: Close, dtype: float64 Date
2012-03-29    33.209999
2012-03-30    32.939999
Name: Close, dtype: float64
20120331
Date
2012-03-30    32.939999
Name: Close, dtype: float64 Date
2012-06-28    33.020000
2012-06-29    33.599998
Name: Close, dtype: float64
20120630
Date
2012-06-29    33.599998
Name: Close, dtype: float64 Date
2012-09-27    34.099998
2012-09-28    34.459999
Name: Close, dtype: float64
20120930
Date
2012-10-01    33.369999
Name: Close, dtype: float64 Date
2012-12-31    32.779999
Name: Close, dtype: float64
20121231
Date
2012-12-31    32.779999
Name: Close, dtype: float64 Date
2013-04-01    37.869999
Name: Close, dtype: float64
20130331
Date
2013-04-01    37.869999
Name: Close, dtype: float64 Date
2013-07-01    38.759998
Name: Close, dtype: float64
20130630
Date
2013-07-01    38.759998
Name: Close, dtype: float64 Date
2013-09-30    46.630001
Name: Close, dtype: float64
20130930
Date
2013-09-30    46.630001
Name: Close, dtype: float64 Date
2013-12-30    52.349998
Name: Close, dtype: float64
20131231
Date
2013-12-30    52.349998
2013-12-31    52.349998
Name: Close, dtype: float64 Date
2014-03-31    53.990002
Name: Close, dtype: float64
20140331
Date
2014-03-31    53.990002
Name: Close, dtype: float64 Date
2014-06-30    54.990002
Name: Close, dtype: float64
20140630
Date
2014-06-30    54.990002
Name: Close, dtype: float64 Date
2014-09-29    49.580002
Name: Close, dtype: float64
20140930
Date
2014-09-29    49.580002
2014-09-30    49.380001
Name: Close, dtype: float64 Date
2014-12-29    52.860001
Name: Close, dtype: float64
20141231
Date
2014-12-30    52.779999
2014-12-31    52.119999
Name: Close, dtype: float64 Date
2015-03-30    57.360001
2015-03-31    57.090000
Name: Close, dtype: float64
20150331
Date
2015-03-30    57.360001
2015-03-31    57.090000
Name: Close, dtype: float64 Date
2015-06-29    63.169998
Name: Close, dtype: float64
20150630
Date
2015-06-29    63.169998
2015-06-30    63.029999
Name: Close, dtype: float64 Date
2015-09-28    61.98
Name: Close, dtype: float64
20150930

Date
2015-09-29    61.77
2015-09-30    62.77
Name: Close, dtype: float64 Date
2015-12-28    66.699997
2015-12-29    67.180000
Name: Close, dtype: float64
20151231
Date
2015-12-30    66.260002
2015-12-31    66.059998
Name: Close, dtype: float64 Date
2016-03-29    66.589996
2016-03-30    67.019997
Name: Close, dtype: float64
20160331
Date
2016-03-30    67.019997
2016-03-31    66.639999
Name: Close, dtype: float64 Date
2016-06-28    67.610001
2016-06-29    68.790001
Name: Close, dtype: float64
20160630
Date
2016-06-29    68.790001
2016-06-30    69.989998
Name: Close, dtype: float64 Date
2016-09-27    77.639999
2016-09-28    78.089996
Name: Close, dtype: float64
20160930
Date
2016-09-29    76.870003
2016-09-30    77.110001
Name: Close, dtype: float64 Date
2016-12-28    91.870003
2016-12-29    91.480003
Name: Close, dtype: float64
20161231
Date
2016-12-30    92.139999
Name: Close, dtype: float64 Date
2017-03-30    94.589996
2017-03-31    93.809998
Name: Close, dtype: float64
20170331
Date
2017-03-30    94.589996
2017-03-31    93.809998
Name: Close, dtype: float64 Date
2017-06-28    100.709999
2017-06-29    100.559998
Name: Close, dtype: float64
20170630
Date
2017-06-29    100.559998
2017-06-30    100.099998
Name: Close, dtype: float64 Date
2017-09-27    102.690002
2017-09-28    103.639999
Name: Close, dtype: float64
20170930
Date
2017-09-29    104.459999
Name: Close, dtype: float64 Date
2017-12-28    87.160004
2017-12-29    86.639999
Name: Close, dtype: float64
20171231
Date
2018-01-02    84.959999
Name: Close, dtype: float64 Date
2018-04-02    90.730003
Name: Close, dtype: float64
20180331
Date
2018-04-02    90.730003
Name: Close, dtype: float64 Date
2018-07-02    98.120003
Name: Close, dtype: float64
20180630
Date
2018-06-29    96.790001
Name: Close, dtype: float64 Date
2018-09-27    95.970001
2018-09-28    96.000000
Name: Close, dtype: float64
20180930
Date
2018-10-01    94.769997
Name: Close, dtype: float64 Date
2018-12-31    86.900002
Name: Close, dtype: float64
20181231
Date
2018-12-31    86.900002
Name: Close, dtype: float64 Date
2019-04-01    102.510002
Name: Close, dtype: float64
20190331
Date
2019-04-01    102.510002
Name: Close, dtype: float64 Date
2019-07-01    98.919998
Name: Close, dtype: float64
20190630
Date
2019-07-01    98.919998
Name: Close, dtype: float64 Date
2019-09-30    96.699997
Name: Close, dtype: float64
20190930
Date
2019-09-30    96.699997
Name: Close, dtype: float64 Date
2019-12-30    117.370003
Name: Close, dtype: float64
20191231
Date
2019-12-30    117.370003
2019-12-31    117.449997
Name: Close, dtype: float64 Date
2020-03-30    86.400002
Name: Close, dtype: float64
20030331
Date
2003-03-31    31.33
Name: Close, dtype: float64 Date
2003-06-30    34.830002
Name: Close, dtype: float64
20030630
Date
2003-06-30    34.830002
Name: Close, dtype: float64 Date
2003-09-29    36.450001
Name: Close, dtype: float64
20030930
Date
2003-09-29    36.450001
2003-09-30    36.340000
Name: Close, dtype: float64 Date
2003-12-29    38.575001
Name: Close, dtype: float64
20031231
Date
2003-12-30    38.540001
2003-12-31    38.494999
Name: Close, dtype: float64 Date
2004-03-29    41.375000
2004-03-30    41.400002
Name: Close, dtype: float64
20040331
Date
2004-03-30    41.400002
2004-03-31    41.424999
Name: Close, dtype: float64 Date
2004-06-28    45.23
2004-06-29    45.93
Name: Close, dtype: float64
20040630
Date
2004-06-29    45.93
2004-06-30    46.27
Name: Close, dtype: float64 Date
2004-09-27    46.580002
2004-09-28    46.279999
Name: Close, dtype: float64
20040930
Date
2004-09-29    46.580002
2004-09-30    46.709999
Name: Close, dtype: float64 Date
2004-12-28    55.669998
2004-12-29    55.590000
Name: Close, dtype: float64
20041231
Date
2004-12-30    55.290001
2004-12-31    55.540001
Name: Close, dtype: float64 Date
2005-03-30    60.860001
2005-03-31    60.459999
Name: Close, dtype: float64
20050331
Date
2005-03-30    60.860001
2005-03-31    60.459999
Name: Close, dtype: float64 Date
2005-06-28    62.910000
2005-06-29    62.029999
Name: Close, dtype: float64
20050630
Date
2005-06-29    62.029999
2005-06-30    62.099998
Name: Close, dtype: float64 Date
2005-09-27    56.320000
2005-09-28    56.259998
Name: Close, dtype: float64
20050930
Date
2005-09-29    56.470001
2005-09-30    56.310001
Name: Close, dtype: float64 Date
2005-12-28    56.009998
2005-12-29    55.480000
Name: Close, dtype: float64
20051231
Date
2005-12-30    55.25
Name: Close, dtype: float64 Date
2006-03-30    52.650002
2006-03-31    52.230000
Name: Close, dtype: float64
20060331
Date
2006-03-30    52.650002
2006-03-31    52.230000
Name: Close, dtype: float64 Date
2006-06-28    55.410000
2006-06-29    55.810001
Name: Close, dtype: float64
20060630
Date
2006-06-29    55.810001
2006-06-30    55.070000
Name: Close, dtype: float64 Date
2006-09-27    52.910000
2006-09-28    53.259998
Name: Close, dtype: float64
20060930
Date
2006-09-29    53.450001
Name: Close, dtype: float64 Date
2006-12-28    50.110001
2006-12-29    49.799999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    54.66
Name: Close, dtype: float64 Date
2007-06-28    50.950001
2007-06-29    50.619999
Name: Close, dtype: float64
20070630
Date
2007-06-29    50.619999
Name: Close, dtype: float64 Date
2007-09-27    46.299999
2007-09-28    46.410000
Name: Close, dtype: float64
20070930
Date
2007-10-01    47.41
Name: Close, dtype: float64 Date
2007-12-31    39.400002
Name: Close, dtype: float64
20071231
Date
2007-12-31    39.400002
Name: Close, dtype: float64 Date
2008-03-31    37.669998
Name: Close, dtype: float64
20080331
Date
2008-03-31    37.669998
Name: Close, dtype: float64 Date
2008-06-30    32.779999
Name: Close, dtype: float64
20080630
Date
2008-06-30    32.779999
Name: Close, dtype: float64 Date
2008-09-29    39.009998
Name: Close, dtype: float64
20080930
Date
2008-09-29    39.009998
2008-09-30    39.540001
Name: Close, dtype: float64 Date
2008-12-29    34.400002
Name: Close, dtype: float64
20081231
Date
2008-12-30    35.340000
2008-12-31    34.740002
Name: Close, dtype: float64 Date
2009-03-30    34.740002
2009-03-31    34.750000
Name: Close, dtype: float64
20090331
Date
2009-03-30    34.740002
2009-03-31    34.750000
Name: Close, dtype: float64 Date
2009-06-29    36.029999
Name: Close, dtype: float64
20090630
Date
2009-06-29    36.029999
2009-06-30    36.000000
Name: Close, dtype: float64 Date
2009-09-28    39.220001
Name: Close, dtype: float64
20090930
Date
2009-09-29    39.049999
2009-09-30    38.860001
Name: Close, dtype: float64 Date
2009-12-28    36.570000
2009-12-29    36.380001
Name: Close, dtype: float64
20091231
Date
2009-12-30    36.490002
2009-12-31    35.790001
Name: Close, dtype: float64 Date
2010-03-30    43.049999
2010-03-31    42.810001
Name: Close, dtype: float64
20100331
Date
2010-03-30    43.049999
2010-03-31    42.810001
Name: Close, dtype: float64 Date
2010-06-28    49.009998
2010-06-29    48.230000
Name: Close, dtype: float64
20100630
Date
2010-06-29    48.23
2010-06-30    47.93
Name: Close, dtype: float64 Date
2010-09-27    47.410000
2010-09-28    47.639999
Name: Close, dtype: float64
20100930
Date
2010-09-29    47.790001
2010-09-30    47.590000
Name: Close, dtype: float64 Date
2010-12-28    47.380001
2010-12-29    47.380001
Name: Close, dtype: float64
20101231
Date
2010-12-30    47.270000
2010-12-31    47.150002
Name: Close, dtype: float64 Date
2011-03-30    54.689999
2011-03-31    54.349998
Name: Close, dtype: float64
20110331
Date
2011-03-30    54.689999
2011-03-31    54.349998
Name: Close, dtype: float64 Date
2011-06-28    56.52
2011-06-29    57.00
Name: Close, dtype: float64
20110630
Date
2011-06-29    57.000000
2011-06-30    56.849998
Name: Close, dtype: float64 Date
2011-09-27    59.970001
2011-09-28    58.740002
Name: Close, dtype: float64
20110930
Date
2011-09-29    58.950001
2011-09-30    59.240002
Name: Close, dtype: float64 Date
2011-12-28    61.630001
2011-12-29    62.000000
Name: Close, dtype: float64
20111231
Date
2011-12-30    61.779999
Name: Close, dtype: float64 Date
2012-03-29    61.180000
2012-03-30    61.330002
Name: Close, dtype: float64
20120331
Date
2012-03-30    61.330002
Name: Close, dtype: float64 Date
2012-06-28    69.769997
2012-06-29    72.029999
Name: Close, dtype: float64
20120630

Date
2012-06-29    72.029999
Name: Close, dtype: float64 Date
2012-09-27    70.839996
2012-09-28    70.889999
Name: Close, dtype: float64
20120930
Date
2012-10-01    71.379997
Name: Close, dtype: float64 Date
2012-12-31    72.220001
Name: Close, dtype: float64
20121231
Date
2012-12-31    72.220001
Name: Close, dtype: float64 Date
2013-04-01    87.029999
Name: Close, dtype: float64
20130331
Date
2013-04-01    87.029999
Name: Close, dtype: float64 Date
2013-07-01    90
Name: Close, dtype: int64
20130630
Date
2013-07-01    90
Name: Close, dtype: int64 Date
2013-09-30    92.5
Name: Close, dtype: float64
20130930
Date
2013-09-30    92.5
Name: Close, dtype: float64 Date
2013-12-30    97.559998
Name: Close, dtype: float64
20131231
Date
2013-12-30    97.559998
2013-12-31    97.230003
Name: Close, dtype: float64 Date
2014-03-31    104.400002
Name: Close, dtype: float64
20140331
Date
2014-03-31    104.400002
Name: Close, dtype: float64 Date
2014-06-30    97.370003
Name: Close, dtype: float64
20140630
Date
2014-06-30    97.370003
Name: Close, dtype: float64 Date
2014-09-29    94.5
Name: Close, dtype: float64
20140930
Date
2014-09-29    94.50
2014-09-30    95.43
Name: Close, dtype: float64 Date
2014-12-29    106.32
Name: Close, dtype: float64
20141231
Date
2014-12-30    105.650002
2014-12-31    103.930000
Name: Close, dtype: float64 Date
2015-03-30    102.430000
2015-03-31    100.910004
Name: Close, dtype: float64
20150331
Date
2015-03-30    102.430000
2015-03-31    100.910004
Name: Close, dtype: float64 Date
2015-06-29    87.910004
Name: Close, dtype: float64
20150630
Date
2015-06-29    87.910004
2015-06-30    88.830002
Name: Close, dtype: float64 Date
2015-09-28    91.279999
Name: Close, dtype: float64
20150930
Date
2015-09-29    92.389999
2015-09-30    91.879997
Name: Close, dtype: float64 Date
2015-12-28    90.389999
2015-12-29    90.980003
Name: Close, dtype: float64
20151231
Date
2015-12-30    90.599998
2015-12-31    89.269997
Name: Close, dtype: float64 Date
2016-03-29    91.860001
2016-03-30    91.849998
Name: Close, dtype: float64
20160331
Date
2016-03-30    91.849998
2016-03-31    92.089996
Name: Close, dtype: float64 Date
2016-06-28    96.230003
2016-06-29    97.139999
Name: Close, dtype: float64
20160630
Date
2016-06-29     97.139999
2016-06-30    113.489998
Name: Close, dtype: float64 Date
2016-09-27    94.699997
2016-09-28    95.129997
Name: Close, dtype: float64
20160930
Date
2016-09-29    94.639999
2016-09-30    95.599998
Name: Close, dtype: float64 Date
2016-12-28    103.150002
2016-12-29    103.989998
Name: Close, dtype: float64
20161231
Date
2016-12-30    103.43
Name: Close, dtype: float64 Date
2017-03-30    108.900002
2017-03-31    109.250000
Name: Close, dtype: float64
20170331
Date
2017-03-30    108.900002
2017-03-31    109.250000
Name: Close, dtype: float64 Date
2017-06-28    107.669998
2017-06-29    106.620003
Name: Close, dtype: float64
20170630
Date
2017-06-29    106.620003
2017-06-30    107.370003
Name: Close, dtype: float64 Date
2017-09-27    108.220001
2017-09-28    107.820000
Name: Close, dtype: float64
20170930
Date
2017-09-29    109.169998
Name: Close, dtype: float64 Date
2017-12-28    114.360001
2017-12-29    113.510002
Name: Close, dtype: float64
20171231
Date
2018-01-02    112.110001
Name: Close, dtype: float64 Date
2018-04-02    97.040001
Name: Close, dtype: float64
20180331
Date
2018-04-02    97.040001
Name: Close, dtype: float64 Date
2018-07-02    92.230003
Name: Close, dtype: float64
20180630
Date
2018-06-29    93.059998
Name: Close, dtype: float64 Date
2018-09-27    101.739998
2018-09-28    102.000000
Name: Close, dtype: float64
20180930
Date
2018-10-01    101.639999
Name: Close, dtype: float64 Date
2018-12-31    107.18
Name: Close, dtype: float64
20181231
Date
2018-12-31    107.18
Name: Close, dtype: float64 Date
2019-04-01    113.839996
Name: Close, dtype: float64
20190331
Date
2019-04-01    113.839996
Name: Close, dtype: float64 Date
2019-07-01    134.25
Name: Close, dtype: float64
20190630
Date
2019-07-01    134.25
Name: Close, dtype: float64 Date
2019-09-30    154.990005
Name: Close, dtype: float64
20190930
Date
2019-09-30    154.990005
Name: Close, dtype: float64 Date
2019-12-30    146.820007
Name: Close, dtype: float64
20191231
Date
2019-12-30    146.820007
2019-12-31    146.979996
Name: Close, dtype: float64 Date
2020-03-30    137.779999
Name: Close, dtype: float64
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20030331
Date
2003-03-31    25.1
Name: Close, dtype: float64 Date
2003-06-30    26.1
Name: Close, dtype: float64
20030630
Date
2003-06-30    26.1
Name: Close, dtype: float64 Date
2003-09-29    25.33
Name: Close, dtype: float64
20030930
Date
2003-09-29    25.330000
2003-09-30    25.459999
Name: Close, dtype: float64 Date
2003-12-29    32.75
Name: Close, dtype: float64
20031231
Date
2003-12-30    32.75
2003-12-31    31.93
Name: Close, dtype: float64 Date
2004-03-29    33.139999
2004-03-30    32.349998
Name: Close, dtype: float64
20040331
Date
2004-03-30    32.349998
2004-03-31    32.299999
Name: Close, dtype: float64 Date
2004-06-28    34.189999
2004-06-29    34.790001
Name: Close, dtype: float64
20040630
Date
2004-06-29    34.790001
2004-06-30    35.080002
Name: Close, dtype: float64 Date
2004-09-27    34.000000
2004-09-28    34.700001
Name: Close, dtype: float64
20040930
Date
2004-09-29    33.810001
2004-09-30    34.480000
Name: Close, dtype: float64 Date
2004-12-28    34.700001
2004-12-29    34.889999
Name: Close, dtype: float64
20041231
Date
2004-12-30    35.060001
2004-12-31    35.099998
Name: Close, dtype: float64 Date
2005-03-30    41.389999
2005-03-31    42.720001
Name: Close, dtype: float64
20050331
Date
2005-03-30    41.389999
2005-03-31    42.720001
Name: Close, dtype: float64 Date
2005-06-28    41.849998
2005-06-29    42.200001
Name: Close, dtype: float64
20050630
Date
2005-06-29    42.200001
2005-06-30    42.080002
Name: Close, dtype: float64 Date
2005-09-27    54.049999
2005-09-28    55.150002
Name: Close, dtype: float64
20050930
Date
2005-09-29    56.189999
2005-09-30    54.919998
Name: Close, dtype: float64 Date
2005-12-28    51.660000
2005-12-29    51.009998
Name: Close, dtype: float64
20051231
Date
2005-12-30    51.27
Name: Close, dtype: float64 Date
2006-03-30    43.77
2006-03-31    44.25
Name: Close, dtype: float64
20060331
Date
2006-03-30    43.77
2006-03-31    44.25
Name: Close, dtype: float64 Date
2006-06-28    44.900002
2006-06-29    46.639999
Name: Close, dtype: float64
20060630
Date
2006-06-29    46.639999
2006-06-30    46.410000
Name: Close, dtype: float64 Date
2006-09-27    39.029999
2006-09-28    38.799999
Name: Close, dtype: float64
20060930
Date
2006-09-29    39.119999
Name: Close, dtype: float64 Date
2006-12-28    39.910000
2006-12-29    39.689999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    43.110001
Name: Close, dtype: float64 Date
2007-06-28    48.570000
2007-06-29    48.709999
Name: Close, dtype: float64
20070630
Date
2007-06-29    48.709999
Name: Close, dtype: float64 Date
2007-09-27    45.290001
2007-09-28    44.980000
Name: Close, dtype: float64
20070930
Date
2007-10-01    45.369999
Name: Close, dtype: float64 Date
2007-12-31    48.84
Name: Close, dtype: float64
20071231
Date
2007-12-31    48.84
Name: Close, dtype: float64 Date
2008-03-31    49.119999
Name: Close, dtype: float64
20080331
Date
2008-03-31    49.119999
Name: Close, dtype: float64 Date
2008-06-30    78.279999
Name: Close, dtype: float64
20080630
Date
2008-06-30    78.279999
Name: Close, dtype: float64 Date
2008-09-29    50.919998
Name: Close, dtype: float64
20080930
Date
2008-09-29    50.919998
2008-09-30    52.279999
Name: Close, dtype: float64 Date
2008-12-29    14.8
Name: Close, dtype: float64
20081231

Date
2008-12-30    15.85
2008-12-31    16.18
Name: Close, dtype: float64 Date
2009-03-30    16.809999
2009-03-31    16.469999
Name: Close, dtype: float64
20090331
Date
2009-03-30    16.809999
2009-03-31    16.469999
Name: Close, dtype: float64 Date
2009-06-29    25.6
Name: Close, dtype: float64
20090630
Date
2009-06-29    25.6
2009-06-30    25.5
Name: Close, dtype: float64 Date
2009-09-28    35.98
Name: Close, dtype: float64
20090930
Date
2009-09-29    36.360001
2009-09-30    36.290001
Name: Close, dtype: float64 Date
2009-12-28    49.549999
2009-12-29    49.520000
Name: Close, dtype: float64
20091231
Date
2009-12-30    49.040001
2009-12-31    48.169998
Name: Close, dtype: float64 Date
2010-03-30    54.73
2010-03-31    56.32
Name: Close, dtype: float64
20100331
Date
2010-03-30    54.73
2010-03-31    56.32
Name: Close, dtype: float64 Date
2010-06-28    63.93
2010-06-29    60.52
Name: Close, dtype: float64
20100630
Date
2010-06-29    60.520000
2010-06-30    59.450001
Name: Close, dtype: float64 Date
2010-09-27    64.360001
2010-09-28    64.260002
Name: Close, dtype: float64
20100930
Date
2010-09-29    65.370003
2010-09-30    65.029999
Name: Close, dtype: float64 Date
2010-12-28    85.849998
2010-12-29    87.529999
Name: Close, dtype: float64
20101231
Date
2010-12-30    86.940002
2010-12-31    86.820000
Name: Close, dtype: float64 Date
2011-03-30    102.809998
2011-03-31    101.919998
Name: Close, dtype: float64
20110331
Date
2011-03-30    102.809998
2011-03-31    101.919998
Name: Close, dtype: float64 Date
2011-06-28    87.139999
2011-06-29    88.870003
Name: Close, dtype: float64
20110630
Date
2011-06-29    88.870003
2011-06-30    89.570000
Name: Close, dtype: float64 Date
2011-09-27    71.980003
2011-09-28    68.660004
Name: Close, dtype: float64
20110930
Date
2011-09-29    68.500000
2011-09-30    65.769997
Name: Close, dtype: float64 Date
2011-12-28    87.830002
2011-12-29    88.970001
Name: Close, dtype: float64
20111231
Date
2011-12-30    89.480003
Name: Close, dtype: float64 Date
2012-03-29    105.199997
2012-03-30    111.589996
Name: Close, dtype: float64
20120331
Date
2012-03-30    111.589996
Name: Close, dtype: float64 Date
2012-06-28    83.309998
2012-06-29    88.209999
Name: Close, dtype: float64
20120630
Date
2012-06-29    88.209999
Name: Close, dtype: float64 Date
2012-09-27    104.660004
2012-09-28    104.400002
Name: Close, dtype: float64
20120930
Date
2012-10-01    103.900002
Name: Close, dtype: float64 Date
2012-12-31    106.589996
Name: Close, dtype: float64
20121231
Date
2012-12-31    106.589996
Name: Close, dtype: float64 Date
2013-04-01    122.910004
Name: Close, dtype: float64
20130331
Date
2013-04-01    122.910004
Name: Close, dtype: float64 Date
2013-07-01    148.729996
Name: Close, dtype: float64
20130630
Date
2013-07-01    148.729996
Name: Close, dtype: float64 Date
2013-09-30    188.800003
Name: Close, dtype: float64
20130930
Date
2013-09-30    188.800003
Name: Close, dtype: float64 Date
2013-12-30    181.699997
Name: Close, dtype: float64
20131231
Date
2013-12-30    181.699997
2013-12-31    184.070007
Name: Close, dtype: float64 Date
2014-03-31    187.139999
Name: Close, dtype: float64
20140331
Date
2014-03-31    187.139999
Name: Close, dtype: float64 Date
2014-06-30    229.809998
Name: Close, dtype: float64
20140630
Date
2014-06-30    229.809998
Name: Close, dtype: float64 Date
2014-09-29    201.960007
Name: Close, dtype: float64
20140930
Date
2014-09-29    201.960007
2014-09-30    196.970001
Name: Close, dtype: float64 Date
2014-12-29    153.300003
Name: Close, dtype: float64
20141231
Date
2014-12-30    150.070007
2014-12-31    148.850006
Name: Close, dtype: float64 Date
2015-03-30    166.500000
2015-03-31    163.509995
Name: Close, dtype: float64
20150331
Date
2015-03-30    166.500000
2015-03-31    163.509995
Name: Close, dtype: float64 Date
2015-06-29    137.380005
Name: Close, dtype: float64
20150630
Date
2015-06-29    137.380005
2015-06-30    138.690002
Name: Close, dtype: float64 Date
2015-09-28    117.050003
Name: Close, dtype: float64
20150930
Date
2015-09-29    118.449997
2015-09-30    121.639999
Name: Close, dtype: float64 Date
2015-12-28    121.580002
2015-12-29    124.459999
Name: Close, dtype: float64
20151231
Date
2015-12-30    124.470001
2015-12-31    125.379997
Name: Close, dtype: float64 Date
2016-03-29    139.839996
2016-03-30    140.410004
Name: Close, dtype: float64
20160331
Date
2016-03-30    140.410004
2016-03-31    140.740005
Name: Close, dtype: float64 Date
2016-06-28    149.710007
2016-06-29    151.630005
Name: Close, dtype: float64
20160630
Date
2016-06-29    151.630005
2016-06-30    151.210007
Name: Close, dtype: float64 Date
2016-09-27    172.809998
2016-09-28    183.429993
Name: Close, dtype: float64
20160930
Date
2016-09-29    185.360001
2016-09-30    185.649994
Name: Close, dtype: float64 Date
2016-12-28    181.809998
2016-12-29    181.649994
Name: Close, dtype: float64
20161231
Date
2016-12-30    180.070007
Name: Close, dtype: float64 Date
2017-03-30    182.479996
2017-03-31    186.229996
Name: Close, dtype: float64
20170331
Date
2017-03-30    182.479996
2017-03-31    186.229996
Name: Close, dtype: float64 Date
2017-06-28    155.660004
2017-06-29    158.470001
Name: Close, dtype: float64
20170630
Date
2017-06-29    158.470001
2017-06-30    159.580002
Name: Close, dtype: float64 Date
2017-09-27    149.580002
2017-09-28    147.550003
Name: Close, dtype: float64
20170930
Date
2017-09-29    147.539993
Name: Close, dtype: float64 Date
2017-12-28    172.580002
2017-12-29    172.850006
Name: Close, dtype: float64
20171231
Date
2018-01-02    172.919998
Name: Close, dtype: float64 Date
2018-04-02    166.910004
Name: Close, dtype: float64
20180331
Date
2018-04-02    166.910004
Name: Close, dtype: float64 Date
2018-07-02    185.210007
Name: Close, dtype: float64
20180630
Date
2018-06-29    189.240005
Name: Close, dtype: float64 Date
2018-09-27    172.000000
2018-09-28    174.190002
Name: Close, dtype: float64
20180930
Date
2018-10-01    178.220001
Name: Close, dtype: float64 Date
2018-12-31    131.520004
Name: Close, dtype: float64
20181231
Date
2018-12-31    131.520004
Name: Close, dtype: float64 Date
2019-04-01    150.990005
Name: Close, dtype: float64
20190331
Date
2019-04-01    150.990005
Name: Close, dtype: float64 Date
2019-07-01    151.279999
Name: Close, dtype: float64
20190630
Date
2019-07-01    151.279999
Name: Close, dtype: float64 Date
2019-09-30    125.769997
Name: Close, dtype: float64
20190930
Date
2019-09-30    125.769997
Name: Close, dtype: float64 Date
2019-12-30    150.869995
Name: Close, dtype: float64
20191231
Date
2019-12-30    150.869995
2019-12-31    151.369995
Name: Close, dtype: float64 Date
2020-03-30    66.489998
Name: Close, dtype: float64
20030331
Date
2003-03-31    23.99
Name: Close, dtype: float64 Date
2003-06-30    27.6
Name: Close, dtype: float64
20030630
Date
2003-06-30    27.6
Name: Close, dtype: float64 Date
2003-09-29    29.469999
Name: Close, dtype: float64
20030930
Date
2003-09-29    29.469999
2003-09-30    29.520000
Name: Close, dtype: float64 Date
2003-12-29    37.709999
Name: Close, dtype: float64
20031231
Date
2003-12-30    37.700001
2003-12-31    37.869999
Name: Close, dtype: float64 Date
2004-03-29    43.529999
2004-03-30    43.529999
Name: Close, dtype: float64
20040331
Date
2004-03-30    43.529999
2004-03-31    42.680000
Name: Close, dtype: float64 Date
2004-06-28    45.400002
2004-06-29    44.950001
Name: Close, dtype: float64
20040630
Date
2004-06-29    44.950001
2004-06-30    45.580002
Name: Close, dtype: float64 Date
2004-09-27    41.73
2004-09-28    41.43
Name: Close, dtype: float64
20040930
Date
2004-09-29    41.700001
2004-09-30    42.529999
Name: Close, dtype: float64 Date
2004-12-28    48.799999
2004-12-29    48.950001
Name: Close, dtype: float64
20041231
Date
2004-12-30    48.950001
2004-12-31    48.990002
Name: Close, dtype: float64 Date
2005-03-30    44.50
2005-03-31    45.27
Name: Close, dtype: float64
20050331
Date
2005-03-30    44.50
2005-03-31    45.27
Name: Close, dtype: float64 Date
2005-06-28    45.680000
2005-06-29    45.200001
Name: Close, dtype: float64
20050630
Date
2005-06-29    45.200001
2005-06-30    45.540001
Name: Close, dtype: float64 Date
2005-09-27    44.66
2005-09-28    45.91
Name: Close, dtype: float64
20050930

Date
2005-09-29    46.130001
2005-09-30    46.680000
Name: Close, dtype: float64 Date
2005-12-28    48.740002
2005-12-29    48.669998
Name: Close, dtype: float64
20051231
Date
2005-12-30    48.040001
Name: Close, dtype: float64 Date
2006-03-30    51.169998
2006-03-31    50.660000
Name: Close, dtype: float64
20060331
Date
2006-03-30    51.169998
2006-03-31    50.660000
Name: Close, dtype: float64 Date
2006-06-28    45.580002
2006-06-29    47.049999
Name: Close, dtype: float64
20060630
Date
2006-06-29    47.049999
2006-06-30    47.220001
Name: Close, dtype: float64 Date
2006-09-27    49.889999
2006-09-28    49.779999
Name: Close, dtype: float64
20060930
Date
2006-09-29    49.849998
Name: Close, dtype: float64 Date
2006-12-28    50.270000
2006-12-29    50.290001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    55.360001
Name: Close, dtype: float64 Date
2007-06-28    61.139999
2007-06-29    60.700001
Name: Close, dtype: float64
20070630
Date
2007-06-29    60.700001
Name: Close, dtype: float64 Date
2007-09-27    55.869999
2007-09-28    56.130001
Name: Close, dtype: float64
20070930
Date
2007-10-01    56.299999
Name: Close, dtype: float64 Date
2007-12-31    48.48
Name: Close, dtype: float64
20071231
Date
2007-12-31    48.48
Name: Close, dtype: float64 Date
2008-03-31    47.619999
Name: Close, dtype: float64
20080331
Date
2008-03-31    47.619999
Name: Close, dtype: float64 Date
2008-06-30    44.830002
Name: Close, dtype: float64
20080630
Date
2008-06-30    44.830002
Name: Close, dtype: float64 Date
2008-09-29    40.549999
Name: Close, dtype: float64
20080930
Date
2008-09-29    40.549999
2008-09-30    41.740002
Name: Close, dtype: float64 Date
2008-12-29    31.950001
Name: Close, dtype: float64
20081231
Date
2008-12-30    32.990002
2008-12-31    34.099998
Name: Close, dtype: float64 Date
2009-03-30    29.020000
2009-03-31    29.120001
Name: Close, dtype: float64
20090331
Date
2009-03-30    29.020000
2009-03-31    29.120001
Name: Close, dtype: float64 Date
2009-06-29    34.18
Name: Close, dtype: float64
20090630
Date
2009-06-29    34.18
2009-06-30    33.84
Name: Close, dtype: float64 Date
2009-09-28    42.009998
Name: Close, dtype: float64
20090930
Date
2009-09-29    42.480000
2009-09-30    42.689999
Name: Close, dtype: float64 Date
2009-12-28    52.759998
2009-12-29    52.110001
Name: Close, dtype: float64
20091231
Date
2009-12-30    52.119999
2009-12-31    51.509998
Name: Close, dtype: float64 Date
2010-03-30    58.220001
2010-03-31    57.410000
Name: Close, dtype: float64
20100331
Date
2010-03-30    58.220001
2010-03-31    57.410000
Name: Close, dtype: float64 Date
2010-06-28    51.750000
2010-06-29    50.419998
Name: Close, dtype: float64
20100630
Date
2010-06-29    50.419998
2010-06-30    50.520000
Name: Close, dtype: float64 Date
2010-09-27    59.970001
2010-09-28    61.230000
Name: Close, dtype: float64
20100930
Date
2010-09-29    60.750000
2010-09-30    61.279999
Name: Close, dtype: float64 Date
2010-12-28    67.160004
2010-12-29    67.150002
Name: Close, dtype: float64
20101231
Date
2010-12-30    67.150002
2010-12-31    66.870003
Name: Close, dtype: float64 Date
2011-03-30    76.800003
2011-03-31    76.599998
Name: Close, dtype: float64
20110331
Date
2011-03-30    76.800003
2011-03-31    76.599998
Name: Close, dtype: float64 Date
2011-06-28    69.589996
2011-06-29    70.250000
Name: Close, dtype: float64
20110630
Date
2011-06-29    70.250000
2011-06-30    72.050003
Name: Close, dtype: float64 Date
2011-09-27    53.209999
2011-09-28    51.450001
Name: Close, dtype: float64
20110930
Date
2011-09-29    51.639999
2011-09-30    49.099998
Name: Close, dtype: float64 Date
2011-12-28    66.339996
2011-12-29    68.330002
Name: Close, dtype: float64
20111231
Date
2011-12-30    67.599998
Name: Close, dtype: float64 Date
2012-03-29    77.860001
2012-03-30    76.959999
Name: Close, dtype: float64
20120331
Date
2012-03-30    76.959999
Name: Close, dtype: float64 Date
2012-06-28    62.020000
2012-06-29    64.360001
Name: Close, dtype: float64
20120630
Date
2012-06-29    64.360001
Name: Close, dtype: float64 Date
2012-09-27    76.050003
2012-09-28    76.250000
Name: Close, dtype: float64
20120930
Date
2012-10-01    76.080002
Name: Close, dtype: float64 Date
2012-12-31    73.970001
Name: Close, dtype: float64
20121231
Date
2012-12-31    73.970001
Name: Close, dtype: float64 Date
2013-04-01    79.830002
Name: Close, dtype: float64
20130331
Date
2013-04-01    79.830002
Name: Close, dtype: float64 Date
2013-07-01    78.349998
Name: Close, dtype: float64
20130630
Date
2013-07-01    78.349998
Name: Close, dtype: float64 Date
2013-09-30    90.57
Name: Close, dtype: float64
20130930
Date
2013-09-30    90.57
Name: Close, dtype: float64 Date
2013-12-30    81.25
Name: Close, dtype: float64
20131231
Date
2013-12-30    81.250000
2013-12-31    80.690002
Name: Close, dtype: float64 Date
2014-03-31    81.239998
Name: Close, dtype: float64
20140331
Date
2014-03-31    81.239998
Name: Close, dtype: float64 Date
2014-06-30    87.82
Name: Close, dtype: float64
20140630
Date
2014-06-30    87.82
Name: Close, dtype: float64 Date
2014-09-29    89.980003
Name: Close, dtype: float64
20140930
Date
2014-09-29    89.980003
2014-09-30    88.790001
Name: Close, dtype: float64 Date
2014-12-29    96.730003
Name: Close, dtype: float64
20141231
Date
2014-12-30    96.720001
2014-12-31    96.080002
Name: Close, dtype: float64 Date
2015-03-30    96.209999
2015-03-31    95.360001
Name: Close, dtype: float64
20150331
Date
2015-03-30    96.209999
2015-03-31    95.360001
Name: Close, dtype: float64 Date
2015-06-29    104.989998
Name: Close, dtype: float64
20150630
Date
2015-06-29    104.989998
2015-06-30    105.239998
Name: Close, dtype: float64 Date
2015-09-28    96.660004
Name: Close, dtype: float64
20150930
Date
2015-09-29    94.900002
2015-09-30    96.980003
Name: Close, dtype: float64 Date
2015-12-28    106.989998
2015-12-29    107.919998
Name: Close, dtype: float64
20151231
Date
2015-12-30    107.230003
2015-12-31    106.730003
Name: Close, dtype: float64 Date
2016-03-29    105.709999
2016-03-30    105.169998
Name: Close, dtype: float64
20160331
Date
2016-03-30    105.169998
2016-03-31    105.209999
Name: Close, dtype: float64 Date
2016-06-28    106.220001
2016-06-29    108.080002
Name: Close, dtype: float64
20160630
Date
2016-06-29    108.080002
2016-06-30    111.220001
Name: Close, dtype: float64 Date
2016-09-27    122.250000
2016-09-28    123.510002
Name: Close, dtype: float64
20160930
Date
2016-09-29    121.730003
2016-09-30    122.980003
Name: Close, dtype: float64 Date
2016-12-28    115.089996
2016-12-29    115.239998
Name: Close, dtype: float64
20161231
Date
2016-12-30    114.690002
Name: Close, dtype: float64 Date
2017-03-30    132.639999
2017-03-31    132.869995
Name: Close, dtype: float64
20170331
Date
2017-03-30    132.639999
2017-03-31    132.869995
Name: Close, dtype: float64 Date
2017-06-28    141.429993
2017-06-29    139.630005
Name: Close, dtype: float64
20170630
Date
2017-06-29    139.630005
2017-06-30    140.729996
Name: Close, dtype: float64 Date
2017-09-27    148.649994
2017-09-28    149.520004
Name: Close, dtype: float64
20170930
Date
2017-09-29    150.970001
Name: Close, dtype: float64 Date
2017-12-28    170.029999
2017-12-29    169.690002
Name: Close, dtype: float64
20171231
Date
2018-01-02    168.509995
Name: Close, dtype: float64 Date
2018-04-02    150.270004
Name: Close, dtype: float64
20180331
Date
2018-04-02    150.270004
Name: Close, dtype: float64 Date
2018-07-02    132.460007
Name: Close, dtype: float64
20180630
Date
2018-06-29    132.809998
Name: Close, dtype: float64 Date
2018-09-27    147.460007
2018-09-28    146.440002
Name: Close, dtype: float64
20180930
Date
2018-10-01    147.270004
Name: Close, dtype: float64 Date
2018-12-31    119.739998
Name: Close, dtype: float64
20181231
Date
2018-12-31    119.739998
Name: Close, dtype: float64 Date
2019-04-01    139.509995
Name: Close, dtype: float64
20190331
Date
2019-04-01    139.509995
Name: Close, dtype: float64 Date
2019-07-01    147.240005
Name: Close, dtype: float64
20190630
Date
2019-07-01    147.240005
Name: Close, dtype: float64 Date
2019-09-30    144.410004
Name: Close, dtype: float64
20190930

Date
2019-09-30    144.410004
Name: Close, dtype: float64 Date
2019-12-30    165.669998
Name: Close, dtype: float64
20191231
Date
2019-12-30    165.669998
2019-12-31    165.740005
Name: Close, dtype: float64 Date
2020-03-30    100.379997
Name: Close, dtype: float64
20030331
Date
2003-03-31    6.23
Name: Close, dtype: float64 Date
2003-06-30    6.77
Name: Close, dtype: float64
20030630
Date
2003-06-30    6.77
Name: Close, dtype: float64 Date
2003-09-29    9.4
Name: Close, dtype: float64
20030930
Date
2003-09-29    9.4
2003-09-30    9.1
Name: Close, dtype: float64 Date
2003-12-29    8.6
Name: Close, dtype: float64
20031231
Date
2003-12-30    8.75
2003-12-31    8.70
Name: Close, dtype: float64 Date
2004-03-29    11.62
2004-03-30    11.75
Name: Close, dtype: float64
20040331
Date
2004-03-30    11.75
2004-03-31    11.67
Name: Close, dtype: float64 Date
2004-06-28    8.28
2004-06-29    8.51
Name: Close, dtype: float64
20040630
Date
2004-06-29    8.51
2004-06-30    8.73
Name: Close, dtype: float64 Date
2004-09-27    9.49
2004-09-28    9.25
Name: Close, dtype: float64
20040930
Date
2004-09-29    9.20
2004-09-30    9.48
Name: Close, dtype: float64 Date
2004-12-28    9.50
2004-12-29    9.45
Name: Close, dtype: float64
20041231
Date
2004-12-30    9.44
2004-12-31    9.43
Name: Close, dtype: float64 Date
2005-03-30    6.28
2005-03-31    6.35
Name: Close, dtype: float64
20050331
Date
2005-03-30    6.28
2005-03-31    6.35
Name: Close, dtype: float64 Date
2005-06-28    7.51
2005-06-29    7.40
Name: Close, dtype: float64
20050630
Date
2005-06-29    7.40
2005-06-30    7.37
Name: Close, dtype: float64 Date
2005-09-27    6.90
2005-09-28    6.89
Name: Close, dtype: float64
20050930
Date
2005-09-29    7.03
2005-09-30    7.02
Name: Close, dtype: float64 Date
2005-12-28    5.28
2005-12-29    5.20
Name: Close, dtype: float64
20051231
Date
2005-12-30    5.09
Name: Close, dtype: float64 Date
2006-03-30    6.96
2006-03-31    6.78
Name: Close, dtype: float64
20060331
Date
2006-03-30    6.96
2006-03-31    6.78
Name: Close, dtype: float64 Date
2006-06-28    5.28
2006-06-29    5.51
Name: Close, dtype: float64
20060630
Date
2006-06-29    5.51
2006-06-30    5.51
Name: Close, dtype: float64 Date
2006-09-27    5.30
2006-09-28    5.37
Name: Close, dtype: float64
20060930
Date
2006-09-29    5.19
Name: Close, dtype: float64 Date
2006-12-28    7.21
2006-12-29    7.08
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    5.75
Name: Close, dtype: float64 Date
2007-06-28    7.31
2007-06-29    7.35
Name: Close, dtype: float64
20070630
Date
2007-06-29    7.35
Name: Close, dtype: float64 Date
2007-09-27    9.21
2007-09-28    9.04
Name: Close, dtype: float64
20070930
Date
2007-10-01    9
Name: Close, dtype: int64 Date
2007-12-31    8.5
Name: Close, dtype: float64
20071231
Date
2007-12-31    8.5
Name: Close, dtype: float64 Date
2008-03-31    7.28
Name: Close, dtype: float64
20080331
Date
2008-03-31    7.28
Name: Close, dtype: float64 Date
2008-06-30    9.87
Name: Close, dtype: float64
20080630
Date
2008-06-30    9.87
Name: Close, dtype: float64 Date
2008-09-29    8.04
Name: Close, dtype: float64
20080930
Date
2008-09-29    8.04
2008-09-30    8.36
Name: Close, dtype: float64 Date
2008-12-29    5.02
Name: Close, dtype: float64
20081231
Date
2008-12-30    5.22
2008-12-31    5.54
Name: Close, dtype: float64 Date
2009-03-30    7.97
2009-03-31    8.06
Name: Close, dtype: float64
20090331
Date
2009-03-30    7.97
2009-03-31    8.06
Name: Close, dtype: float64 Date
2009-06-29    9.97
Name: Close, dtype: float64
20090630
Date
2009-06-29    9.97
2009-06-30    9.79
Name: Close, dtype: float64 Date
2009-09-28    13.23
Name: Close, dtype: float64
20090930
Date
2009-09-29    13.00
2009-09-30    13.24
Name: Close, dtype: float64 Date
2009-12-28    14.08
2009-12-29    14.11
Name: Close, dtype: float64
20091231
Date
2009-12-30    14.30
2009-12-31    14.19
Name: Close, dtype: float64 Date
2010-03-30    16.030001
2010-03-31    15.600000
Name: Close, dtype: float64
20100331
Date
2010-03-30    16.030001
2010-03-31    15.600000
Name: Close, dtype: float64 Date
2010-06-28    17.91
2010-06-29    17.01
Name: Close, dtype: float64
20100630
Date
2010-06-29    17.010000
2010-06-30    16.790001
Name: Close, dtype: float64 Date
2010-09-27    20.879999
2010-09-28    21.090000
Name: Close, dtype: float64
20100930
Date
2010-09-29    20.93
2010-09-30    20.67
Name: Close, dtype: float64 Date
2010-12-28    28.799999
2010-12-29    29.180000
Name: Close, dtype: float64
20101231
Date
2010-12-30    29.080000
2010-12-31    28.629999
Name: Close, dtype: float64 Date
2011-03-30    32.650002
2011-03-31    32.400002
Name: Close, dtype: float64
20110331
Date
2011-03-30    32.650002
2011-03-31    32.400002
Name: Close, dtype: float64 Date
2011-06-28    23.559999
2011-06-29    22.620001
Name: Close, dtype: float64
20110630
Date
2011-06-29    22.620001
2011-06-30    22.980000
Name: Close, dtype: float64 Date
2011-09-27    20.58
2011-09-28    19.85
Name: Close, dtype: float64
20110930
Date
2011-09-29    19.090000
2011-09-30    17.959999
Name: Close, dtype: float64 Date
2011-12-28    15.98
2011-12-29    16.10
Name: Close, dtype: float64
20111231
Date
2011-12-30    16.219999
Name: Close, dtype: float64 Date
2012-03-29    27.66
2012-03-30    27.65
Name: Close, dtype: float64
20120331
Date
2012-03-30    27.65
Name: Close, dtype: float64 Date
2012-06-28    25.790001
2012-06-29    27.320000
Name: Close, dtype: float64
20120630
Date
2012-06-29    27.32
Name: Close, dtype: float64 Date
2012-09-27    23.950001
2012-09-28    23.559999
Name: Close, dtype: float64
20120930
Date
2012-10-01    22.99
Name: Close, dtype: float64 Date
2012-12-31    20.299999
Name: Close, dtype: float64
20121231
Date
2012-12-31    20.299999
Name: Close, dtype: float64 Date
2013-04-01    21.200001
Name: Close, dtype: float64
20130331
Date
2013-04-01    21.200001
Name: Close, dtype: float64 Date
2013-07-01    21.92
Name: Close, dtype: float64
20130630
Date
2013-07-01    21.92
Name: Close, dtype: float64 Date
2013-09-30    24.84
Name: Close, dtype: float64
20130930
Date
2013-09-30    24.84
Name: Close, dtype: float64 Date
2013-12-30    28.32
Name: Close, dtype: float64
20131231
Date
2013-12-30    28.320000
2013-12-31    28.559999
Name: Close, dtype: float64 Date
2014-03-31    37.52
Name: Close, dtype: float64
20140331
Date
2014-03-31    37.52
Name: Close, dtype: float64 Date
2014-06-30    46.959999
Name: Close, dtype: float64
20140630
Date
2014-06-30    46.959999
Name: Close, dtype: float64 Date
2014-09-29    58.529999
Name: Close, dtype: float64
20140930
Date
2014-09-29    58.529999
2014-09-30    58.049999
Name: Close, dtype: float64 Date
2014-12-29    73.169998
Name: Close, dtype: float64
20141231
Date
2014-12-30    72.860001
2014-12-31    72.709999
Name: Close, dtype: float64 Date
2015-03-30    100.129997
2015-03-31     98.290001
Name: Close, dtype: float64
20150331
Date
2015-03-30    100.129997
2015-03-31     98.290001
Name: Close, dtype: float64 Date
2015-06-29    102.040001
Name: Close, dtype: float64
20150630
Date
2015-06-29    102.040001
2015-06-30    104.099998
Name: Close, dtype: float64 Date
2015-09-28    82.709999
Name: Close, dtype: float64
20150930
Date
2015-09-29    82.849998
2015-09-30    84.209999
Name: Close, dtype: float64 Date
2015-12-28    79.309998
2015-12-29    80.430000
Name: Close, dtype: float64
20151231
Date
2015-12-30    79.190002
2015-12-31    76.830002
Name: Close, dtype: float64 Date
2016-03-29    76.470001
2016-03-30    77.849998
Name: Close, dtype: float64
20160331
Date
2016-03-30    77.849998
2016-03-31    77.900002
Name: Close, dtype: float64 Date
2016-06-28    60.259998
2016-06-29    61.730000
Name: Close, dtype: float64
20160630
Date
2016-06-29    61.730000
2016-06-30    63.279999
Name: Close, dtype: float64 Date
2016-09-27    73.919998
2016-09-28    74.269997
Name: Close, dtype: float64
20160930
Date
2016-09-29    73.260002
2016-09-30    76.139999
Name: Close, dtype: float64 Date
2016-12-28    77.029999
2016-12-29    76.559998
Name: Close, dtype: float64
20161231
Date
2016-12-30    74.660004
Name: Close, dtype: float64 Date
2017-03-30    98.139999
2017-03-31    97.980003
Name: Close, dtype: float64
20170331
Date
2017-03-30    98.139999
2017-03-31    97.980003
Name: Close, dtype: float64 Date
2017-06-28    98.360001
2017-06-29    96.129997
Name: Close, dtype: float64
20170630

Date
2017-06-29    96.129997
2017-06-30    95.949997
Name: Close, dtype: float64 Date
2017-09-27    101.599998
2017-09-28    101.239998
Name: Close, dtype: float64
20170930
Date
2017-09-29    101.900002
Name: Close, dtype: float64 Date
2017-12-28    96.540001
2017-12-29    94.949997
Name: Close, dtype: float64
20171231
Date
2018-01-02    98.43
Name: Close, dtype: float64 Date
2018-04-02    96.529999
Name: Close, dtype: float64
20180331
Date
2018-04-02    96.529999
Name: Close, dtype: float64 Date
2018-07-02    97.059998
Name: Close, dtype: float64
20180630
Date
2018-06-29    96.650002
Name: Close, dtype: float64 Date
2018-09-27    89.940002
2018-09-28    90.709999
Name: Close, dtype: float64
20180930
Date
2018-10-01    91.449997
Name: Close, dtype: float64 Date
2018-12-31    67.019997
Name: Close, dtype: float64
20181231
Date
2018-12-31    67.019997
Name: Close, dtype: float64 Date
2019-04-01    83.860001
Name: Close, dtype: float64
20190331
Date
2019-04-01    83.860001
Name: Close, dtype: float64 Date
2019-07-01    81.910004
Name: Close, dtype: float64
20190630
Date
2019-07-01    81.910004
Name: Close, dtype: float64 Date
2019-09-30    79.25
Name: Close, dtype: float64
20190930
Date
2019-09-30    79.25
Name: Close, dtype: float64 Date
2019-12-30    121.029999
Name: Close, dtype: float64
20191231
Date
2019-12-30    121.029999
2019-12-31    120.879997
Name: Close, dtype: float64 Date
2020-03-30    90.110001
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20190930
Date
2019-09-30    14.7
Name: Close, dtype: float64 Date
2019-12-30    18.049999
Name: Close, dtype: float64
20191231
Date
2019-12-30    18.049999
2019-12-31    18.150000
Name: Close, dtype: float64 Date
2020-03-30    11.9
Name: Close, dtype: float64
20100930
Date
2010-09-29    8.2
2010-09-30    7.9
Name: Close, dtype: float64 Date
2010-12-28    9.00
2010-12-29    9.15
Name: Close, dtype: float64
20101231
Date
2010-12-30    8.8
2010-12-31    9.1
Name: Close, dtype: float64 Date
2011-03-30    8.75
2011-03-31    8.95
Name: Close, dtype: float64
20110331
Date
2011-03-30    8.75
2011-03-31    8.95
Name: Close, dtype: float64 Date
2011-06-28    7.1
2011-06-29    7.1
Name: Close, dtype: float64
20110630
Date
2011-06-29    7.10
2011-06-30    7.25
Name: Close, dtype: float64 Date
2011-09-27    4.85
2011-09-28    4.65
Name: Close, dtype: float64
20110930
Date
2011-09-29    4.55
2011-09-30    4.55
Name: Close, dtype: float64 Date
2011-12-28    1.25
2011-12-29    1.50
Name: Close, dtype: float64
20111231
Date
2011-12-30    1.4
Name: Close, dtype: float64 Date
2012-03-29    2.30
2012-03-30    2.35
Name: Close, dtype: float64
20120331
Date
2012-03-30    2.35
Name: Close, dtype: float64 Date
2012-06-28    1.15
2012-06-29    1.05
Name: Close, dtype: float64
20120630
Date
2012-06-29    1.05
Name: Close, dtype: float64 Date
2012-09-27    1.3
2012-09-28    1.3
Name: Close, dtype: float64
20120930
Date
2012-10-01    1.3
Name: Close, dtype: float64 Date
2012-12-31    3.6
Name: Close, dtype: float64
20121231
Date
2012-12-31    3.6
Name: Close, dtype: float64 Date
2013-04-01    4.2
Name: Close, dtype: float64
20130331
Date
2013-04-01    4.2
Name: Close, dtype: float64 Date
2013-07-01    4.75
Name: Close, dtype: float64
20130630
Date
2013-07-01    4.75
Name: Close, dtype: float64 Date
2013-09-30    4.6
Name: Close, dtype: float64
20130930
Date
2013-09-30    4.6
Name: Close, dtype: float64 Date
2013-12-30    5.85
Name: Close, dtype: float64
20131231
Date
2013-12-30    5.85
2013-12-31    6.20
Name: Close, dtype: float64 Date
2014-03-31    12.55
Name: Close, dtype: float64
20140331
Date
2014-03-31    12.55
Name: Close, dtype: float64 Date
2014-06-30    9.05
Name: Close, dtype: float64
20140630
Date
2014-06-30    9.05
Name: Close, dtype: float64 Date
2014-09-29    9.55
Name: Close, dtype: float64
20140930
Date
2014-09-29    9.55
2014-09-30    9.40
Name: Close, dtype: float64 Date
2014-12-29    9
Name: Close, dtype: int64
20141231
Date
2014-12-30    9.25
2014-12-31    9.55
Name: Close, dtype: float64 Date
2015-03-30    43.500000
2015-03-31    49.200001
Name: Close, dtype: float64
20150331
Date
2015-03-30    43.500000
2015-03-31    49.200001
Name: Close, dtype: float64 Date
2015-06-29    20.25
Name: Close, dtype: float64
20150630
Date
2015-06-29    20.25
2015-06-30    19.40
Name: Close, dtype: float64 Date
2015-09-28    10.8
Name: Close, dtype: float64
20150930
Date
2015-09-29    9.05
2015-09-30    9.95
Name: Close, dtype: float64 Date
2015-12-28    10.25
2015-12-29    10.10
Name: Close, dtype: float64
20151231
Date
2015-12-30    10.20
2015-12-31    10.15
Name: Close, dtype: float64 Date
2016-03-29    12.50
2016-03-30    12.15
Name: Close, dtype: float64
20160331
Date
2016-03-30    12.15
2016-03-31    13.25
Name: Close, dtype: float64 Date
2016-06-28    9.5
2016-06-29    9.9
Name: Close, dtype: float64
20160630
Date
2016-06-29    9.90
2016-06-30    9.95
Name: Close, dtype: float64 Date
2016-09-27    13.4
2016-09-28    13.2
Name: Close, dtype: float64
20160930
Date
2016-09-29    12.55
2016-09-30    12.60
Name: Close, dtype: float64 Date
2016-12-28    8.05
2016-12-29    8.00
Name: Close, dtype: float64
20161231
Date
2016-12-30    7.65
Name: Close, dtype: float64 Date
2017-03-30    8.25
2017-03-31    8.15
Name: Close, dtype: float64
20170331
Date
2017-03-30    8.25
2017-03-31    8.15
Name: Close, dtype: float64 Date
2017-06-28    2.35
2017-06-29    2.25
Name: Close, dtype: float64
20170630
Date
2017-06-29    2.25
2017-06-30    2.15
Name: Close, dtype: float64 Date
2017-09-27    2.40
2017-09-28    2.45
Name: Close, dtype: float64
20170930
Date
2017-09-29    2.6
Name: Close, dtype: float64 Date
2017-12-28    2.6
2017-12-29    2.5
Name: Close, dtype: float64
20171231
Date
2018-01-02    2.65
Name: Close, dtype: float64 Date
2018-04-02    0.9
Name: Close, dtype: float64
20180331
Date
2018-04-02    0.9
Name: Close, dtype: float64 Date
2018-07-02    1.25
Name: Close, dtype: float64
20180630
Date
2018-06-29    1.2
Name: Close, dtype: float64 Date
2018-09-27    3.70
2018-09-28    4.85
Name: Close, dtype: float64
20180930
Date
2018-10-01    5.95
Name: Close, dtype: float64 Date
2018-12-31    6.45
Name: Close, dtype: float64
20181231
Date
2018-12-31    6.45
Name: Close, dtype: float64 Date
2019-04-01    10.06
Name: Close, dtype: float64
20190331
Date
2019-04-01    10.06
Name: Close, dtype: float64 Date
2019-07-01    9.12
Name: Close, dtype: float64
20190630
Date
2019-07-01    9.12
Name: Close, dtype: float64 Date
2019-09-30    6.38
Name: Close, dtype: float64
20190930
Date
2019-09-30    6.38
Name: Close, dtype: float64 Date
2019-12-30    6.86
Name: Close, dtype: float64
20191231
Date
2019-12-30    6.86
2019-12-31    7.28
Name: Close, dtype: float64 Date
2020-03-30    3.56
Name: Close, dtype: float64
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20160331
Date
2016-03-30    40.279999
2016-03-31    40.110001
Name: Close, dtype: float64 Date
2016-06-28    45.049999
2016-06-29    45.820000
Name: Close, dtype: float64
20160630
Date
2016-06-29    45.820000
2016-06-30    46.060001
Name: Close, dtype: float64 Date
2016-09-27    42.720001
2016-09-28    42.790001
Name: Close, dtype: float64
20160930
Date
2016-09-29    42.360001
2016-09-30    41.779999
Name: Close, dtype: float64 Date
2016-12-28    37.250000
2016-12-29    37.889999
Name: Close, dtype: float64
20161231

Date
2016-12-30    37.880001
Name: Close, dtype: float64 Date
2017-03-30    42.689999
2017-03-31    42.740002
Name: Close, dtype: float64
20170331
Date
2017-03-30    42.689999
2017-03-31    42.740002
Name: Close, dtype: float64 Date
2017-06-28    45.070000
2017-06-29    44.290001
Name: Close, dtype: float64
20170630
Date
2017-06-29    44.290001
2017-06-30    44.150002
Name: Close, dtype: float64 Date
2017-09-27    46.750000
2017-09-28    47.189999
Name: Close, dtype: float64
20170930
Date
2017-09-29    47.419998
Name: Close, dtype: float64 Date
2017-12-28    50.950001
2017-12-29    50.580002
Name: Close, dtype: float64
20171231
Date
2018-01-02    50.110001
Name: Close, dtype: float64 Date
2018-04-02    50.790001
Name: Close, dtype: float64
20180331
Date
2018-04-02    50.790001
Name: Close, dtype: float64 Date
2018-07-02    53.119999
Name: Close, dtype: float64
20180630
Date
2018-06-29    52.93
Name: Close, dtype: float64 Date
2018-09-27    47.299999
2018-09-28    47.930000
Name: Close, dtype: float64
20180930
Date
2018-10-01    47.630001
Name: Close, dtype: float64 Date
2018-12-31    50.09
Name: Close, dtype: float64
20181231
Date
2018-12-31    50.09
Name: Close, dtype: float64 Date
2019-04-01    50.110001
Name: Close, dtype: float64
20190331
Date
2019-04-01    50.110001
Name: Close, dtype: float64 Date
2019-07-01    50.41
Name: Close, dtype: float64
20190630
Date
2019-07-01    50.41
Name: Close, dtype: float64 Date
2019-09-30    52.25
Name: Close, dtype: float64
20190930
Date
2019-09-30    52.25
Name: Close, dtype: float64 Date
2019-12-30    50.889999
Name: Close, dtype: float64
20191231
Date
2019-12-30    50.889999
2019-12-31    51.160000
Name: Close, dtype: float64 Date
2020-03-30    44.720001
Name: Close, dtype: float64
20140930
Date
2014-09-29    7.64
2014-09-30    7.30
Name: Close, dtype: float64 Date
2014-12-29    6.62
Name: Close, dtype: float64
20141231
Date
2014-12-30    6.70
2014-12-31    6.14
Name: Close, dtype: float64 Date
2015-03-30    9.36
2015-03-31    9.27
Name: Close, dtype: float64
20150331
Date
2015-03-30    9.36
2015-03-31    9.27
Name: Close, dtype: float64 Date
2015-06-29    8.88
Name: Close, dtype: float64
20150630
Date
2015-06-29    8.88
2015-06-30    8.59
Name: Close, dtype: float64 Date
2015-09-28    6.94
Name: Close, dtype: float64
20150930
Date
2015-09-29    6.53
2015-09-30    6.74
Name: Close, dtype: float64 Date
2015-12-28    8.48
2015-12-29    8.91
Name: Close, dtype: float64
20151231
Date
2015-12-30    9.98
2015-12-31    9.76
Name: Close, dtype: float64 Date
2016-03-29    6.11
2016-03-30    6.06
Name: Close, dtype: float64
20160331
Date
2016-03-30    6.06
2016-03-31    6.21
Name: Close, dtype: float64 Date
2016-06-28    7.41
2016-06-29    7.61
Name: Close, dtype: float64
20160630
Date
2016-06-29    7.61
2016-06-30    7.61
Name: Close, dtype: float64 Date
2016-09-27    7.34
2016-09-28    7.27
Name: Close, dtype: float64
20160930
Date
2016-09-29    6.96
2016-09-30    6.98
Name: Close, dtype: float64 Date
2016-12-28    6.13
2016-12-29    6.03
Name: Close, dtype: float64
20161231
Date
2016-12-30    5.7
Name: Close, dtype: float64 Date
2017-03-30    3.290
2017-03-31    3.205
Name: Close, dtype: float64
20170331
Date
2017-03-30    3.290
2017-03-31    3.205
Name: Close, dtype: float64 Date
2017-06-28    3.86
2017-06-29    3.76
Name: Close, dtype: float64
20170630
Date
2017-06-29    3.76
2017-06-30    3.75
Name: Close, dtype: float64 Date
2017-09-27    4.30
2017-09-28    4.14
Name: Close, dtype: float64
20170930
Date
2017-09-29    4.46
Name: Close, dtype: float64 Date
2017-12-28    2.76
2017-12-29    2.69
Name: Close, dtype: float64
20171231
Date
2018-01-02    2.77
Name: Close, dtype: float64 Date
2018-04-02    2.53
Name: Close, dtype: float64
20180331
Date
2018-04-02    2.53
Name: Close, dtype: float64 Date
2018-07-02    0.481
Name: Close, dtype: float64
20180630
Date
2018-06-29    0.494
Name: Close, dtype: float64 Date
2018-09-27    0.378
2018-09-28    0.367
Name: Close, dtype: float64
20180930
Date
2018-10-01    0.36
Name: Close, dtype: float64 Date
2018-12-31    0.576
Name: Close, dtype: float64
20181231
Date
2018-12-31    0.576
Name: Close, dtype: float64 Date
2019-04-01    1.48
Name: Close, dtype: float64
20190331
Date
2019-04-01    1.48
Name: Close, dtype: float64 Date
2019-07-01    1.47
Name: Close, dtype: float64
20190630
Date
2019-07-01    1.47
Name: Close, dtype: float64 Date
2019-09-30    1.185
Name: Close, dtype: float64
20190930
Date
2019-09-30    1.185
Name: Close, dtype: float64 Date
2019-12-30    2.46
Name: Close, dtype: float64
20191231
Date
2019-12-30    2.46
2019-12-31    2.50
Name: Close, dtype: float64 Date
2020-03-30    2.15
Name: Close, dtype: float64
20030331
Date
2003-03-31    27.610001
Name: Close, dtype: float64 Date
2003-06-30    33.610001
Name: Close, dtype: float64
20030630
Date
2003-06-30    33.610001
Name: Close, dtype: float64 Date
2003-09-29    36.939999
Name: Close, dtype: float64
20030930
Date
2003-09-29    36.939999
2003-09-30    36.450001
Name: Close, dtype: float64 Date
2003-12-29    47.779999
Name: Close, dtype: float64
20031231
Date
2003-12-30    47.529999
2003-12-31    46.970001
Name: Close, dtype: float64 Date
2004-03-29    45.959999
2004-03-30    46.400002
Name: Close, dtype: float64
20040331
Date
2004-03-30    46.400002
2004-03-31    46.160000
Name: Close, dtype: float64 Date
2004-06-28    44.580002
2004-06-29    44.820000
Name: Close, dtype: float64
20040630
Date
2004-06-29    44.820000
2004-06-30    44.330002
Name: Close, dtype: float64 Date
2004-09-27    44.709999
2004-09-28    44.540001
Name: Close, dtype: float64
20040930
Date
2004-09-29    44.68
2004-09-30    45.27
Name: Close, dtype: float64 Date
2004-12-28    53.220001
2004-12-29    53.500000
Name: Close, dtype: float64
20041231
Date
2004-12-30    53.509998
2004-12-31    53.660000
Name: Close, dtype: float64 Date
2005-03-30    55.080002
2005-03-31    55.919998
Name: Close, dtype: float64
20050331
Date
2005-03-30    55.080002
2005-03-31    55.919998
Name: Close, dtype: float64 Date
2005-06-28    68.959999
2005-06-29    68.980003
Name: Close, dtype: float64
20050630
Date
2005-06-29    68.980003
2005-06-30    69.120003
Name: Close, dtype: float64 Date
2005-09-27    75.400002
2005-09-28    75.110001
Name: Close, dtype: float64
20050930
Date
2005-09-29    76.900002
2005-09-30    78.459999
Name: Close, dtype: float64 Date
2005-12-28    77.379997
2005-12-29    77.389999
Name: Close, dtype: float64
20051231
Date
2005-12-30    76.720001
Name: Close, dtype: float64 Date
2006-03-30    105.720001
2006-03-31    107.029999
Name: Close, dtype: float64
20060331
Date
2006-03-30    105.720001
2006-03-31    107.029999
Name: Close, dtype: float64 Date
2006-06-28    86.910004
2006-06-29    90.730003
Name: Close, dtype: float64
20060630
Date
2006-06-29    90.730003
2006-06-30    91.150002
Name: Close, dtype: float64 Date
2006-09-27    83.150002
2006-09-28    85.489998
Name: Close, dtype: float64
20060930
Date
2006-09-29    84.620003
Name: Close, dtype: float64 Date
2006-12-28    104.660004
2006-12-29    103.910004
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    135.199997
Name: Close, dtype: float64 Date
2007-06-28    161.309998
2007-06-29    162.020004
Name: Close, dtype: float64
20070630
Date
2007-06-29    162.020004
Name: Close, dtype: float64 Date
2007-09-27    134.660004
2007-09-28    133.550003
Name: Close, dtype: float64
20070930
Date
2007-10-01    137.470001
Name: Close, dtype: float64 Date
2007-12-31    132.600006
Name: Close, dtype: float64
20071231
Date
2007-12-31    132.600006
Name: Close, dtype: float64 Date
2008-03-31    106.169998
Name: Close, dtype: float64
20080331
Date
2008-03-31    106.169998
Name: Close, dtype: float64 Date
2008-06-30    103.589996
Name: Close, dtype: float64
20080630
Date
2008-06-30    103.589996
Name: Close, dtype: float64 Date
2008-09-29    106.260002
Name: Close, dtype: float64
20080930
Date
2008-09-29    106.260002
2008-09-30    111.980003
Name: Close, dtype: float64 Date
2008-12-29    95.559998
Name: Close, dtype: float64
20081231
Date
2008-12-30    96.250000
2008-12-31    97.080002
Name: Close, dtype: float64 Date
2009-03-30    79.169998
2009-03-31    79.300003
Name: Close, dtype: float64
20090331

Date
2009-03-30    79.169998
2009-03-31    79.300003
Name: Close, dtype: float64 Date
2009-06-29    79.510002
Name: Close, dtype: float64
20090630
Date
2009-06-29    79.510002
2009-06-30    78.879997
Name: Close, dtype: float64 Date
2009-09-28    95.07
Name: Close, dtype: float64
20090930
Date
2009-09-29    94.199997
2009-09-30    92.070000
Name: Close, dtype: float64 Date
2009-12-28    93.550003
2009-12-29    93.089996
Name: Close, dtype: float64
20091231
Date
2009-12-30    91.430000
2009-12-31    89.410004
Name: Close, dtype: float64 Date
2010-03-30    84.269997
2010-03-31    83.550003
Name: Close, dtype: float64
20100331
Date
2010-03-30    84.269997
2010-03-31    83.550003
Name: Close, dtype: float64 Date
2010-06-28    87.949997
2010-06-29    85.400002
Name: Close, dtype: float64
20100630
Date
2010-06-29    85.400002
2010-06-30    84.809998
Name: Close, dtype: float64 Date
2010-09-27    75.930000
2010-09-28    76.120003
Name: Close, dtype: float64
20100930
Date
2010-09-29    77.000000
2010-09-30    76.970001
Name: Close, dtype: float64 Date
2010-12-28    93.139999
2010-12-29    94.000000
Name: Close, dtype: float64
20101231
Date
2010-12-30    92.980003
2010-12-31    92.239998
Name: Close, dtype: float64 Date
2011-03-30    89.349998
2011-03-31    89.669998
Name: Close, dtype: float64
20110331
Date
2011-03-30    89.349998
2011-03-31    89.669998
Name: Close, dtype: float64 Date
2011-06-28    80.339996
2011-06-29    80.050003
Name: Close, dtype: float64
20110630
Date
2011-06-29    80.050003
2011-06-30    79.970001
Name: Close, dtype: float64 Date
2011-09-27    65.830002
2011-09-28    64.660004
Name: Close, dtype: float64
20110930
Date
2011-09-29    65.820000
2011-09-30    63.220001
Name: Close, dtype: float64 Date
2011-12-28    72.879997
2011-12-29    75.000000
Name: Close, dtype: float64
20111231
Date
2011-12-30    75.410004
Name: Close, dtype: float64 Date
2012-03-29    85.660004
2012-03-30    85.629997
Name: Close, dtype: float64
20120331
Date
2012-03-30    85.629997
Name: Close, dtype: float64 Date
2012-06-28    77.440002
2012-06-29    78.820000
Name: Close, dtype: float64
20120630
Date
2012-06-29    78.82
Name: Close, dtype: float64 Date
2012-09-27    85.150002
2012-09-28    82.870003
Name: Close, dtype: float64
20120930
Date
2012-10-01    82.080002
Name: Close, dtype: float64 Date
2012-12-31    94.279999
Name: Close, dtype: float64
20121231
Date
2012-12-31    94.279999
Name: Close, dtype: float64 Date
2013-04-01    101.910004
Name: Close, dtype: float64
20130331
Date
2013-04-01    101.910004
Name: Close, dtype: float64 Date
2013-07-01    100.160004
Name: Close, dtype: float64
20130630
Date
2013-07-01    100.160004
Name: Close, dtype: float64 Date
2013-09-30    98.169998
Name: Close, dtype: float64
20130930
Date
2013-09-30    98.169998
Name: Close, dtype: float64 Date
2013-12-30    100.169998
Name: Close, dtype: float64
20131231
Date
2013-12-30    100.169998
2013-12-31     99.940002
Name: Close, dtype: float64 Date
2014-03-31    128.350006
Name: Close, dtype: float64
20140331
Date
2014-03-31    128.350006
Name: Close, dtype: float64 Date
2014-06-30    132.050003
Name: Close, dtype: float64
20140630
Date
2014-06-30    132.050003
Name: Close, dtype: float64 Date
2014-09-29    129.690002
Name: Close, dtype: float64
20140930
Date
2014-09-29    129.690002
2014-09-30    128.940002
Name: Close, dtype: float64 Date
2014-12-29    111.949997
Name: Close, dtype: float64
20141231
Date
2014-12-30    110.900002
2014-12-31    110.320000
Name: Close, dtype: float64 Date
2015-03-30    142.839996
2015-03-31    139.800003
Name: Close, dtype: float64
20150331
Date
2015-03-30    142.839996
2015-03-31    139.800003
Name: Close, dtype: float64 Date
2015-06-29    142.119995
Name: Close, dtype: float64
20150630
Date
2015-06-29    142.119995
2015-06-30    141.509995
Name: Close, dtype: float64 Date
2015-09-28    152.740005
Name: Close, dtype: float64
20150930
Date
2015-09-29    148.369995
2015-09-30    151.949997
Name: Close, dtype: float64 Date
2015-12-28    139.809998
2015-12-29    140.660004
Name: Close, dtype: float64
20151231
Date
2015-12-30    137.289993
2015-12-31    136.580002
Name: Close, dtype: float64 Date
2016-03-29    154.220001
2016-03-30    154.830002
Name: Close, dtype: float64
20160331
Date
2016-03-30    154.830002
2016-03-31    159.509995
Name: Close, dtype: float64 Date
2016-06-28    180.869995
2016-06-29    185.210007
Name: Close, dtype: float64
20160630
Date
2016-06-29    185.210007
2016-06-30    192.000000
Name: Close, dtype: float64 Date
2016-09-27    183.580002
2016-09-28    185.100006
Name: Close, dtype: float64
20160930
Date
2016-09-29    182.500000
2016-09-30    179.110001
Name: Close, dtype: float64 Date
2016-12-28    226.169998
2016-12-29    224.839996
Name: Close, dtype: float64
20161231
Date
2016-12-30    221.529999
Name: Close, dtype: float64 Date
2017-03-30    211.559998
2017-03-31    218.250000
Name: Close, dtype: float64
20170331
Date
2017-03-30    211.559998
2017-03-31    218.250000
Name: Close, dtype: float64 Date
2017-06-28    227.300003
2017-06-29    221.380005
Name: Close, dtype: float64
20170630
Date
2017-06-29    221.380005
2017-06-30    222.580002
Name: Close, dtype: float64 Date
2017-09-27    202.589996
2017-09-28    205.000000
Name: Close, dtype: float64
20170930
Date
2017-09-29    206.229996
Name: Close, dtype: float64 Date
2017-12-28    217.460007
2017-12-29    221.039993
Name: Close, dtype: float64
20171231
Date
2018-01-02    225
Name: Close, dtype: int64 Date
2018-04-02    201.369995
Name: Close, dtype: float64
20180331
Date
2018-04-02    201.369995
Name: Close, dtype: float64 Date
2018-07-02    222.399994
Name: Close, dtype: float64
20180630
Date
2018-06-29    223.330002
Name: Close, dtype: float64 Date
2018-09-27    187.110001
2018-09-28    181.949997
Name: Close, dtype: float64
20180930
Date
2018-10-01    184.360001
Name: Close, dtype: float64 Date
2018-12-31    171.869995
Name: Close, dtype: float64
20181231
Date
2018-12-31    171.869995
Name: Close, dtype: float64 Date
2019-04-01    204
Name: Close, dtype: int64
20190331
Date
2019-04-01    204
Name: Close, dtype: int64 Date
2019-07-01    228.089996
Name: Close, dtype: float64
20190630
Date
2019-07-01    228.089996
Name: Close, dtype: float64 Date
2019-09-30    274.100006
Name: Close, dtype: float64
20190930
Date
2019-09-30    274.100006
Name: Close, dtype: float64 Date
2019-12-30    277.950012
Name: Close, dtype: float64
20191231
Date
2019-12-30    277.950012
2019-12-31    279.640015
Name: Close, dtype: float64 Date
2020-03-30    179.520004
Name: Close, dtype: float64
20030331
Date
2003-03-31    24.549999
Name: Close, dtype: float64 Date
2003-06-30    27.200001
Name: Close, dtype: float64
20030630
Date
2003-06-30    27.200001
Name: Close, dtype: float64 Date
2003-09-29    28.030001
Name: Close, dtype: float64
20030930
Date
2003-09-29    28.030001
2003-09-30    28.280001
Name: Close, dtype: float64 Date
2003-12-29    32.25
Name: Close, dtype: float64
20031231
Date
2003-12-30    32.340000
2003-12-31    32.490002
Name: Close, dtype: float64 Date
2004-03-29    32.00
2004-03-30    32.48
Name: Close, dtype: float64
20040331
Date
2004-03-30    32.48
2004-03-31    32.57
Name: Close, dtype: float64 Date
2004-06-28    31.280001
2004-06-29    30.520000
Name: Close, dtype: float64
20040630
Date
2004-06-29    30.520000
2004-06-30    30.450001
Name: Close, dtype: float64 Date
2004-09-27    32.750000
2004-09-28    32.790001
Name: Close, dtype: float64
20040930
Date
2004-09-29    32.700001
2004-09-30    33.130001
Name: Close, dtype: float64 Date
2004-12-28    32.310001
2004-12-29    32.340000
Name: Close, dtype: float64
20041231
Date
2004-12-30    32.41
2004-12-31    32.50
Name: Close, dtype: float64 Date
2005-03-30    29.219999
2005-03-31    28.799999
Name: Close, dtype: float64
20050331
Date
2005-03-30    29.219999
2005-03-31    28.799999
Name: Close, dtype: float64 Date
2005-06-28    26.67
2005-06-29    26.73
Name: Close, dtype: float64
20050630
Date
2005-06-29    26.730000
2005-06-30    27.129999
Name: Close, dtype: float64 Date
2005-09-27    29.549999
2005-09-28    28.750000
Name: Close, dtype: float64
20050930
Date
2005-09-29    29.490000
2005-09-30    28.809999
Name: Close, dtype: float64 Date
2005-12-28    30.950001
2005-12-29    30.950001
Name: Close, dtype: float64
20051231

Date
2005-12-30    30.879999
Name: Close, dtype: float64 Date
2006-03-30    28.059999
2006-03-31    27.809999
Name: Close, dtype: float64
20060331
Date
2006-03-30    28.059999
2006-03-31    27.809999
Name: Close, dtype: float64 Date
2006-06-28    25.15
2006-06-29    25.27
Name: Close, dtype: float64
20060630
Date
2006-06-29    25.27
2006-06-30    25.34
Name: Close, dtype: float64 Date
2006-09-27    26.98
2006-09-28    26.98
Name: Close, dtype: float64
20060930
Date
2006-09-29    26.67
Name: Close, dtype: float64 Date
2006-12-28    30.010000
2006-12-29    29.549999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    28.33
Name: Close, dtype: float64 Date
2007-06-28    28.330000
2007-06-29    27.879999
Name: Close, dtype: float64
20070630
Date
2007-06-29    27.879999
Name: Close, dtype: float64 Date
2007-09-27    29.629999
2007-09-28    28.969999
Name: Close, dtype: float64
20070930
Date
2007-10-01    28.75
Name: Close, dtype: float64 Date
2007-12-31    24.190001
Name: Close, dtype: float64
20071231
Date
2007-12-31    24.190001
Name: Close, dtype: float64 Date
2008-03-31    23.620001
Name: Close, dtype: float64
20080331
Date
2008-03-31    23.620001
Name: Close, dtype: float64 Date
2008-06-30    24.1
Name: Close, dtype: float64
20080630
Date
2008-06-30    24.1
Name: Close, dtype: float64 Date
2008-09-29    25.559999
Name: Close, dtype: float64
20080930
Date
2008-09-29    25.559999
2008-09-30    25.660000
Name: Close, dtype: float64 Date
2008-12-29    24.77
Name: Close, dtype: float64
20081231
Date
2008-12-30    25.40
2008-12-31    25.91
Name: Close, dtype: float64 Date
2009-03-30    16.67
2009-03-31    17.00
Name: Close, dtype: float64
20090331
Date
2009-03-30    16.67
2009-03-31    17.00
Name: Close, dtype: float64 Date
2009-06-29    21.57
Name: Close, dtype: float64
20090630
Date
2009-06-29    21.57
2009-06-30    21.34
Name: Close, dtype: float64 Date
2009-09-28    24.91
Name: Close, dtype: float64
20090930
Date
2009-09-29    24.760000
2009-09-30    24.370001
Name: Close, dtype: float64 Date
2009-12-28    22.790001
2009-12-29    22.879999
Name: Close, dtype: float64
20091231
Date
2009-12-30    22.879999
2009-12-31    22.510000
Name: Close, dtype: float64 Date
2010-03-30    24.910000
2010-03-31    24.549999
Name: Close, dtype: float64
20100331
Date
2010-03-30    24.910000
2010-03-31    24.549999
Name: Close, dtype: float64 Date
2010-06-28    25.389999
2010-06-29    24.790001
Name: Close, dtype: float64
20100630
Date
2010-06-29    24.790001
2010-06-30    24.379999
Name: Close, dtype: float64 Date
2010-09-27    26.420000
2010-09-28    26.129999
Name: Close, dtype: float64
20100930
Date
2010-09-29    26.280001
2010-09-30    26.370001
Name: Close, dtype: float64 Date
2010-12-28    29.35
2010-12-29    29.24
Name: Close, dtype: float64
20101231
Date
2010-12-30    29.190001
2010-12-31    29.080000
Name: Close, dtype: float64 Date
2011-03-30    30.51
2011-03-31    30.41
Name: Close, dtype: float64
20110331
Date
2011-03-30    30.51
2011-03-31    30.41
Name: Close, dtype: float64 Date
2011-06-28    28.020000
2011-06-29    28.450001
Name: Close, dtype: float64
20110630
Date
2011-06-29    28.450001
2011-06-30    28.540001
Name: Close, dtype: float64 Date
2011-09-27    27.16
2011-09-28    26.10
Name: Close, dtype: float64
20110930
Date
2011-09-29    26.850000
2011-09-30    26.299999
Name: Close, dtype: float64 Date
2011-12-28    33.43
2011-12-29    33.68
Name: Close, dtype: float64
20111231
Date
2011-12-30    33.439999
Name: Close, dtype: float64 Date
2012-03-29    35.750000
2012-03-30    35.740002
Name: Close, dtype: float64
20120331
Date
2012-03-30    35.740002
Name: Close, dtype: float64 Date
2012-06-28    34.66
2012-06-29    35.07
Name: Close, dtype: float64
20120630
Date
2012-06-29    35.07
Name: Close, dtype: float64 Date
2012-09-27    35.869999
2012-09-28    35.820000
Name: Close, dtype: float64
20120930
Date
2012-10-01    35.709999
Name: Close, dtype: float64 Date
2012-12-31    34.650002
Name: Close, dtype: float64
20121231
Date
2012-12-31    34.650002
Name: Close, dtype: float64 Date
2013-04-01    41.23
Name: Close, dtype: float64
20130331
Date
2013-04-01    41.23
Name: Close, dtype: float64 Date
2013-07-01    44.25
Name: Close, dtype: float64
20130630
Date
2013-07-01    44.25
Name: Close, dtype: float64 Date
2013-09-30    43.650002
Name: Close, dtype: float64
20130930
Date
2013-09-30    43.650002
Name: Close, dtype: float64 Date
2013-12-30    46.669998
Name: Close, dtype: float64
20131231
Date
2013-12-30    46.669998
2013-12-31    46.930000
Name: Close, dtype: float64 Date
2014-03-31    47.580002
Name: Close, dtype: float64
20140331
Date
2014-03-31    47.580002
Name: Close, dtype: float64 Date
2014-06-30    46.599998
Name: Close, dtype: float64
20140630
Date
2014-06-30    46.599998
Name: Close, dtype: float64 Date
2014-09-29    45.07
Name: Close, dtype: float64
20140930
Date
2014-09-29    45.070000
2014-09-30    45.360001
Name: Close, dtype: float64 Date
2014-12-29    47.509998
Name: Close, dtype: float64
20141231
Date
2014-12-30    47.840000
2014-12-31    47.080002
Name: Close, dtype: float64 Date
2015-03-30    47.41
2015-03-31    46.75
Name: Close, dtype: float64
20150331
Date
2015-03-30    47.41
2015-03-31    46.75
Name: Close, dtype: float64 Date
2015-06-29    47.259998
Name: Close, dtype: float64
20150630
Date
2015-06-29    47.259998
2015-06-30    47.299999
Name: Close, dtype: float64 Date
2015-09-28    41.139999
Name: Close, dtype: float64
20150930
Date
2015-09-29    40.779999
2015-09-30    41.279999
Name: Close, dtype: float64 Date
2015-12-28    41.32
2015-12-29    41.57
Name: Close, dtype: float64
20151231
Date
2015-12-30    41.380001
2015-12-31    40.939999
Name: Close, dtype: float64 Date
2016-03-29    44.270000
2016-03-30    44.369999
Name: Close, dtype: float64
20160331
Date
2016-03-30    44.369999
2016-03-31    44.480000
Name: Close, dtype: float64 Date
2016-06-28    45.279999
2016-06-29    46.360001
Name: Close, dtype: float64
20160630
Date
2016-06-29    46.360001
2016-06-30    47.599998
Name: Close, dtype: float64 Date
2016-09-27    50.799999
2016-09-28    50.970001
Name: Close, dtype: float64
20160930
Date
2016-09-29    50.320000
2016-09-30    50.869999
Name: Close, dtype: float64 Date
2016-12-28    51.619999
2016-12-29    51.840000
Name: Close, dtype: float64
20161231
Date
2016-12-30    51.959999
Name: Close, dtype: float64 Date
2017-03-30    56.770000
2017-03-31    56.540001
Name: Close, dtype: float64
20170331
Date
2017-03-30    56.770000
2017-03-31    56.540001
Name: Close, dtype: float64 Date
2017-06-28    57.389999
2017-06-29    57.020000
Name: Close, dtype: float64
20170630
Date
2017-06-29    57.02
2017-06-30    57.25
Name: Close, dtype: float64 Date
2017-09-27    61.630001
2017-09-28    61.509998
Name: Close, dtype: float64
20170930
Date
2017-09-29    61.549999
Name: Close, dtype: float64 Date
2017-12-28    63.630001
2017-12-29    63.279999
Name: Close, dtype: float64
20171231
Date
2018-01-02    62.169998
Name: Close, dtype: float64 Date
2018-04-02    67.099998
Name: Close, dtype: float64
20180331
Date
2018-04-02    67.099998
Name: Close, dtype: float64 Date
2018-07-02    65.260002
Name: Close, dtype: float64
20180630
Date
2018-06-29    65.279999
Name: Close, dtype: float64 Date
2018-09-27    74.449997
2018-09-28    74.440002
Name: Close, dtype: float64
20180930
Date
2018-10-01    75.169998
Name: Close, dtype: float64 Date
2018-12-31    73.699997
Name: Close, dtype: float64
20181231
Date
2018-12-31    73.699997
Name: Close, dtype: float64 Date
2019-04-01    79.029999
Name: Close, dtype: float64
20190331
Date
2019-04-01    79.029999
Name: Close, dtype: float64 Date
2019-07-01    89.440002
Name: Close, dtype: float64
20190630
Date
2019-07-01    89.440002
Name: Close, dtype: float64 Date
2019-09-30    89.57
Name: Close, dtype: float64
20190930
Date
2019-09-30    89.57
Name: Close, dtype: float64 Date
2019-12-30    94.900002
Name: Close, dtype: float64
20191231
Date
2019-12-30    94.900002
2019-12-31    95.230003
Name: Close, dtype: float64 Date
2020-03-30    83.220001
Name: Close, dtype: float64
20030331
Date
2003-03-31    7.285
Name: Close, dtype: float64 Date
2003-06-30    15.075
Name: Close, dtype: float64
20030630

Date
2003-06-30    15.075
Name: Close, dtype: float64 Date
2003-09-29    16.815001
Name: Close, dtype: float64
20030930
Date
2003-09-29    16.815001
2003-09-30    16.330000
Name: Close, dtype: float64 Date
2003-12-29    15.785
Name: Close, dtype: float64
20031231
Date
2003-12-30    15.400
2003-12-31    15.465
Name: Close, dtype: float64 Date
2004-03-29    14.355
2004-03-30    14.250
Name: Close, dtype: float64
20040331
Date
2004-03-30    14.25
2004-03-31    14.60
Name: Close, dtype: float64 Date
2004-06-28    10.780
2004-06-29    10.715
Name: Close, dtype: float64
20040630
Date
2004-06-29    10.715
2004-06-30    10.935
Name: Close, dtype: float64 Date
2004-09-27    10.235
2004-09-28    10.315
Name: Close, dtype: float64
20040930
Date
2004-09-29    10.400
2004-09-30    10.775
Name: Close, dtype: float64 Date
2004-12-28    15.27
2004-12-29    15.25
Name: Close, dtype: float64
20041231
Date
2004-12-30    15.505
2004-12-31    15.525
Name: Close, dtype: float64 Date
2005-03-30    16.10
2005-03-31    15.75
Name: Close, dtype: float64
20050331
Date
2005-03-30    16.10
2005-03-31    15.75
Name: Close, dtype: float64 Date
2005-06-28    13.085
2005-06-29    13.330
Name: Close, dtype: float64
20050630
Date
2005-06-29    13.330
2005-06-30    13.325
Name: Close, dtype: float64 Date
2005-09-27    15.575
2005-09-28    15.305
Name: Close, dtype: float64
20050930
Date
2005-09-29    15.540
2005-09-30    15.635
Name: Close, dtype: float64 Date
2005-12-28    13.920
2005-12-29    13.965
Name: Close, dtype: float64
20051231
Date
2005-12-30    13.84
Name: Close, dtype: float64 Date
2006-03-30    16.75
2006-03-31    16.34
Name: Close, dtype: float64
20060331
Date
2006-03-30    16.75
2006-03-31    16.34
Name: Close, dtype: float64 Date
2006-06-28    17.605000
2006-06-29    17.985001
Name: Close, dtype: float64
20060630
Date
2006-06-29    17.985001
2006-06-30    17.730000
Name: Close, dtype: float64 Date
2006-09-27    21.049999
2006-09-28    21.055000
Name: Close, dtype: float64
20060930
Date
2006-09-29    20.855
Name: Close, dtype: float64 Date
2006-12-28    27.045000
2006-12-29    26.815001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    24.540001
Name: Close, dtype: float64 Date
2007-06-28    25.74
2007-06-29    25.50
Name: Close, dtype: float64
20070630
Date
2007-06-29    25.5
Name: Close, dtype: float64 Date
2007-09-27    20.58
2007-09-28    20.33
Name: Close, dtype: float64
20070930
Date
2007-10-01    20.440001
Name: Close, dtype: float64 Date
2007-12-31    19.75
Name: Close, dtype: float64
20071231
Date
2007-12-31    19.75
Name: Close, dtype: float64 Date
2008-03-31    19.42
Name: Close, dtype: float64
20080331
Date
2008-03-31    19.42
Name: Close, dtype: float64 Date
2008-06-30    14.19
Name: Close, dtype: float64
20080630
Date
2008-06-30    14.19
Name: Close, dtype: float64 Date
2008-09-29    14.09
Name: Close, dtype: float64
20080930
Date
2008-09-29    14.09
2008-09-30    14.00
Name: Close, dtype: float64 Date
2008-12-29    7.44
Name: Close, dtype: float64
20081231
Date
2008-12-30    7.93
2008-12-31    7.88
Name: Close, dtype: float64 Date
2009-03-30    12.48
2009-03-31    12.44
Name: Close, dtype: float64
20090331
Date
2009-03-30    12.48
2009-03-31    12.44
Name: Close, dtype: float64 Date
2009-06-29    14.52
Name: Close, dtype: float64
20090630
Date
2009-06-29    14.52
2009-06-30    14.70
Name: Close, dtype: float64 Date
2009-09-28    21.049999
Name: Close, dtype: float64
20090930
Date
2009-09-29    20.82
2009-09-30    20.90
Name: Close, dtype: float64 Date
2009-12-28    24.5
2009-12-29    24.4
Name: Close, dtype: float64
20091231
Date
2009-12-30    24.459999
2009-12-31    24.250000
Name: Close, dtype: float64 Date
2010-03-30    25.910000
2010-03-31    25.120001
Name: Close, dtype: float64
20100331
Date
2010-03-30    25.910000
2010-03-31    25.120001
Name: Close, dtype: float64 Date
2010-06-28    20.930000
2010-06-29    19.940001
Name: Close, dtype: float64
20100630
Date
2010-06-29    19.940001
2010-06-30    19.900000
Name: Close, dtype: float64 Date
2010-09-27    27.42
2010-09-28    27.51
Name: Close, dtype: float64
20100930
Date
2010-09-29    27.680000
2010-09-30    27.860001
Name: Close, dtype: float64 Date
2010-12-28    31.840000
2010-12-29    32.360001
Name: Close, dtype: float64
20101231
Date
2010-12-30    32.250000
2010-12-31    31.879999
Name: Close, dtype: float64 Date
2011-03-30    34.590000
2011-03-31    32.099998
Name: Close, dtype: float64
20110331
Date
2011-03-30    34.590000
2011-03-31    32.099998
Name: Close, dtype: float64 Date
2011-06-28    32.799999
2011-06-29    32.820000
Name: Close, dtype: float64
20110630
Date
2011-06-29    32.82
2011-06-30    33.07
Name: Close, dtype: float64 Date
2011-09-27    25.559999
2011-09-28    24.010000
Name: Close, dtype: float64
20110930
Date
2011-09-29    24.00
2011-09-30    23.85
Name: Close, dtype: float64 Date
2011-12-28    30.040001
2011-12-29    30.820000
Name: Close, dtype: float64
20111231
Date
2011-12-30    30.48
Name: Close, dtype: float64 Date
2012-03-29    34.189999
2012-03-30    34.650002
Name: Close, dtype: float64
20120331
Date
2012-03-30    34.650002
Name: Close, dtype: float64 Date
2012-06-28    25.219999
2012-06-29    25.940001
Name: Close, dtype: float64
20120630
Date
2012-06-29    25.940001
Name: Close, dtype: float64 Date
2012-09-27    28.379999
2012-09-28    28.299999
Name: Close, dtype: float64
20120930
Date
2012-10-01    28.42
Name: Close, dtype: float64 Date
2012-12-31    37.540001
Name: Close, dtype: float64
20121231
Date
2012-12-31    37.540001
Name: Close, dtype: float64 Date
2013-04-01    41.18
Name: Close, dtype: float64
20130331
Date
2013-04-01    41.18
Name: Close, dtype: float64 Date
2013-07-01    46.689999
Name: Close, dtype: float64
20130630
Date
2013-07-01    46.689999
Name: Close, dtype: float64 Date
2013-09-30    48.470001
Name: Close, dtype: float64
20130930
Date
2013-09-30    48.470001
Name: Close, dtype: float64 Date
2013-12-30    47.099998
Name: Close, dtype: float64
20131231
Date
2013-12-30    47.099998
2013-12-31    47.020000
Name: Close, dtype: float64 Date
2014-03-31    46.799999
Name: Close, dtype: float64
20140331
Date
2014-03-31    46.799999
Name: Close, dtype: float64 Date
2014-06-30    52.009998
Name: Close, dtype: float64
20140630
Date
2014-06-30    52.009998
Name: Close, dtype: float64 Date
2014-09-29    47.110001
Name: Close, dtype: float64
20140930
Date
2014-09-29    47.110001
2014-09-30    46.450001
Name: Close, dtype: float64 Date
2014-12-29    67.870003
Name: Close, dtype: float64
20141231
Date
2014-12-30    67.239998
2014-12-31    66.580002
Name: Close, dtype: float64 Date
2015-03-30    69.220001
2015-03-31    69.010002
Name: Close, dtype: float64
20150331
Date
2015-03-30    69.220001
2015-03-31    69.010002
Name: Close, dtype: float64 Date
2015-06-29    66.349998
Name: Close, dtype: float64
20150630
Date
2015-06-29    66.349998
2015-06-30    66.209999
Name: Close, dtype: float64 Date
2015-09-28    57.900002
Name: Close, dtype: float64
20150930
Date
2015-09-29    57.959999
2015-09-30    59.320000
Name: Close, dtype: float64 Date
2015-12-28    53.18
2015-12-29    54.59
Name: Close, dtype: float64
20151231
Date
2015-12-30    54.560001
2015-12-31    53.970001
Name: Close, dtype: float64 Date
2016-03-29    50.430000
2016-03-30    50.810001
Name: Close, dtype: float64
20160331
Date
2016-03-30    50.810001
2016-03-31    51.099998
Name: Close, dtype: float64 Date
2016-06-28    46.709999
2016-06-29    48.020000
Name: Close, dtype: float64
20160630
Date
2016-06-29    48.020000
2016-06-30    49.029999
Name: Close, dtype: float64 Date
2016-09-27    53.700001
2016-09-28    53.119999
Name: Close, dtype: float64
20160930
Date
2016-09-29    52.169998
2016-09-30    53.349998
Name: Close, dtype: float64 Date
2016-12-28    63.790001
2016-12-29    63.900002
Name: Close, dtype: float64
20161231
Date
2016-12-30    64.389999
Name: Close, dtype: float64 Date
2017-03-30    60.060001
2017-03-31    59.220001
Name: Close, dtype: float64
20170331
Date
2017-03-30    60.060001
2017-03-31    59.220001
Name: Close, dtype: float64 Date
2017-06-28    62.090000
2017-06-29    62.259998
Name: Close, dtype: float64
20170630
Date
2017-06-29    62.259998
2017-06-30    63.060001
Name: Close, dtype: float64 Date
2017-09-27    75.349998
2017-09-28    75.930000
Name: Close, dtype: float64
20170930

Date
2017-09-29    75.809998
Name: Close, dtype: float64 Date
2017-12-28    64.809998
2017-12-29    64.129997
Name: Close, dtype: float64
20171231
Date
2018-01-02    64.760002
Name: Close, dtype: float64 Date
2018-04-02    59.919998
Name: Close, dtype: float64
20180331
Date
2018-04-02    59.919998
Name: Close, dtype: float64 Date
2018-07-02    73.739998
Name: Close, dtype: float64
20180630
Date
2018-06-29    72.870003
Name: Close, dtype: float64 Date
2018-09-27    73.820000
2018-09-28    74.669998
Name: Close, dtype: float64
20180930
Date
2018-10-01    73.690002
Name: Close, dtype: float64 Date
2018-12-31    62.73
Name: Close, dtype: float64
20181231
Date
2018-12-31    62.73
Name: Close, dtype: float64 Date
2019-04-01    69.07
Name: Close, dtype: float64
20190331
Date
2019-04-01    69.07
Name: Close, dtype: float64 Date
2019-07-01    87.160004
Name: Close, dtype: float64
20190630
Date
2019-07-01    87.160004
Name: Close, dtype: float64 Date
2019-09-30    88
Name: Close, dtype: int64
20190930
Date
2019-09-30    88
Name: Close, dtype: int64 Date
2019-12-30    87.43
Name: Close, dtype: float64
20191231
Date
2019-12-30    87.430000
2019-12-31    87.669998
Name: Close, dtype: float64 Date
2020-03-30    55.75
Name: Close, dtype: float64
20030331
Date
2003-03-31    15.626459
Name: Close, dtype: float64 Date
2003-06-30    18.365759
Name: Close, dtype: float64
20030630
Date
2003-06-30    18.365759
Name: Close, dtype: float64 Date
2003-09-29    16.653696
Name: Close, dtype: float64
20030930
Date
2003-09-29    16.653696
2003-09-30    16.529182
Name: Close, dtype: float64 Date
2003-12-29    20.428015
Name: Close, dtype: float64
20031231
Date
2003-12-30    20.404669
2003-12-31    20.536964
Name: Close, dtype: float64 Date
2004-03-29    20.949417
2004-03-30    20.887159
Name: Close, dtype: float64
20040331
Date
2004-03-30    20.887159
2004-03-31    20.964981
Name: Close, dtype: float64 Date
2004-06-28    21.252918
2004-06-29    21.050583
Name: Close, dtype: float64
20040630
Date
2004-06-29    21.050583
2004-06-30    21.073931
Name: Close, dtype: float64 Date
2004-09-27    19.945526
2004-09-28    20.163424
Name: Close, dtype: float64
20040930
Date
2004-09-29    20.194553
2004-09-30    20.007782
Name: Close, dtype: float64 Date
2004-12-28    22.856031
2004-12-29    22.762646
Name: Close, dtype: float64
20041231
Date
2004-12-30    22.879377
2004-12-31    22.918287
Name: Close, dtype: float64 Date
2005-03-30    20.661478
2005-03-31    21.027237
Name: Close, dtype: float64
20050331
Date
2005-03-30    20.661478
2005-03-31    21.027237
Name: Close, dtype: float64 Date
2005-06-28    18.241245
2005-06-29    17.976654
Name: Close, dtype: float64
20050630
Date
2005-06-29    17.976654
2005-06-30    18.023346
Name: Close, dtype: float64 Date
2005-09-27    18.155642
2005-09-28    18.692608
Name: Close, dtype: float64
20050930
Date
2005-09-29    18.941635
2005-09-30    19.260700
Name: Close, dtype: float64 Date
2005-12-28    15.743191
2005-12-29    15.766537
Name: Close, dtype: float64
20051231
Date
2005-12-30    15.782102
Name: Close, dtype: float64 Date
2006-03-30    16.56031
2006-03-31    16.70039
Name: Close, dtype: float64
20060331
Date
2006-03-30    16.56031
2006-03-31    16.70039
Name: Close, dtype: float64 Date
2006-06-28    16.926069
2006-06-29    17.035019
Name: Close, dtype: float64
20060630
Date
2006-06-29    17.035019
2006-06-30    17.206226
Name: Close, dtype: float64 Date
2006-09-27    19.050583
2006-09-28    19.097277
Name: Close, dtype: float64
20060930
Date
2006-09-29    19.050583
Name: Close, dtype: float64 Date
2006-12-29    21.011673
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    19.385214
Name: Close, dtype: float64 Date
2007-06-28    21.011673
2007-06-29    20.902723
Name: Close, dtype: float64
20070630
Date
2007-06-29    20.902723
Name: Close, dtype: float64 Date
2007-09-27    20.093386
2007-09-28    20.334631
Name: Close, dtype: float64
20070930
Date
2007-10-01    20.225681
Name: Close, dtype: float64 Date
2007-12-31    18.513618
Name: Close, dtype: float64
20071231
Date
2007-12-31    18.513618
Name: Close, dtype: float64 Date
2008-03-31    18.638132
Name: Close, dtype: float64
20080331
Date
2008-03-31    18.638132
Name: Close, dtype: float64 Date
2008-06-30    15.003891
Name: Close, dtype: float64
20080630
Date
2008-06-30    15.003891
Name: Close, dtype: float64 Date
2008-09-29    15.089494
Name: Close, dtype: float64
20080930
Date
2008-09-29    15.089494
2008-09-30    15.143969
Name: Close, dtype: float64 Date
2008-12-29    12.536965
Name: Close, dtype: float64
20081231
Date
2008-12-30    12.715953
2008-12-31    12.840466
Name: Close, dtype: float64 Date
2009-03-30    12.933852
2009-03-31    13.128405
Name: Close, dtype: float64
20090331
Date
2009-03-30    12.933852
2009-03-31    13.128405
Name: Close, dtype: float64 Date
2009-06-29    15.128405
Name: Close, dtype: float64
20090630
Date
2009-06-29    15.128405
2009-06-30    14.832685
Name: Close, dtype: float64 Date
2009-09-28    16.902723
Name: Close, dtype: float64
20090930
Date
2009-09-29    16.996109
2009-09-30    16.871595
Name: Close, dtype: float64 Date
2009-12-28    18.342413
2009-12-29    18.202335
Name: Close, dtype: float64
20091231
Date
2009-12-30    18.147860
2009-12-31    17.937744
Name: Close, dtype: float64 Date
2010-03-30    19.424124
2010-03-31    19.509727
Name: Close, dtype: float64
20100331
Date
2010-03-30    19.424124
2010-03-31    19.509727
Name: Close, dtype: float64 Date
2010-06-28    18.677042
2010-06-29    18.373541
Name: Close, dtype: float64
20100630
Date
2010-06-29    18.373541
2010-06-30    18.147860
Name: Close, dtype: float64 Date
2010-09-27    16.949417
2010-09-28    17.105059
Name: Close, dtype: float64
20100930
Date
2010-09-29    17.089495
2010-09-30    17.073931
Name: Close, dtype: float64 Date
2010-12-28    17.431906
2010-12-29    17.501945
Name: Close, dtype: float64
20101231
Date
2010-12-30    17.610895
2010-12-31    17.571985
Name: Close, dtype: float64 Date
2011-03-30    18.560310
2011-03-31    18.482491
Name: Close, dtype: float64
20110331
Date
2011-03-30    18.560310
2011-03-31    18.482491
Name: Close, dtype: float64 Date
2011-06-28    20.015564
2011-06-29    20.007782
Name: Close, dtype: float64
20110630
Date
2011-06-29    20.007782
2011-06-30    20.085604
Name: Close, dtype: float64 Date
2011-09-27    18.980545
2011-09-28    18.723736
Name: Close, dtype: float64
20110930
Date
2011-09-29    18.957199
2011-09-30    18.848249
Name: Close, dtype: float64 Date
2011-12-28    20.513618
2011-12-29    20.715954
Name: Close, dtype: float64
20111231
Date
2011-12-30    20.544746
Name: Close, dtype: float64 Date
2012-03-29    20.443581
2012-03-30    20.435797
Name: Close, dtype: float64
20120331
Date
2012-03-30    20.435797
Name: Close, dtype: float64 Date
2012-06-28    19.867704
2012-06-29    20.178988
Name: Close, dtype: float64
20120630
Date
2012-06-29    20.178988
Name: Close, dtype: float64 Date
2012-09-27    21.463036
2012-09-28    21.470818
Name: Close, dtype: float64
20120930
Date
2012-10-01    21.610895
Name: Close, dtype: float64 Date
2012-12-31    22.957199
Name: Close, dtype: float64
20121231
Date
2012-12-31    22.957199
Name: Close, dtype: float64 Date
2013-04-01    27.719845
Name: Close, dtype: float64
20130331
Date
2013-04-01    27.719845
Name: Close, dtype: float64 Date
2013-07-01    27.322958
Name: Close, dtype: float64
20130630
Date
2013-07-01    27.322958
Name: Close, dtype: float64 Date
2013-09-30    23.610895
Name: Close, dtype: float64
20130930
Date
2013-09-30    23.610895
Name: Close, dtype: float64 Date
2013-12-30    26.210117
Name: Close, dtype: float64
20131231
Date
2013-12-30    26.210117
2013-12-31    26.225681
Name: Close, dtype: float64 Date
2014-03-31    24.14786
Name: Close, dtype: float64
20140331
Date
2014-03-31    24.14786
Name: Close, dtype: float64 Date
2014-06-30    23.097277
Name: Close, dtype: float64
20140630
Date
2014-06-30    23.097277
Name: Close, dtype: float64 Date
2014-09-29    25.665369
Name: Close, dtype: float64
20140930
Date
2014-09-29    25.665369
2014-09-30    25.712063
Name: Close, dtype: float64 Date
2014-12-29    28.7393
Name: Close, dtype: float64
20141231
Date
2014-12-30    28.645914
2014-12-31    28.233463
Name: Close, dtype: float64 Date
2015-03-30    28.715954
2015-03-31    28.428015
Name: Close, dtype: float64
20150331

Date
2015-03-30    28.715954
2015-03-31    28.428015
Name: Close, dtype: float64 Date
2015-06-29    33.797665
Name: Close, dtype: float64
20150630
Date
2015-06-29    33.797665
2015-06-30    34.023346
Name: Close, dtype: float64 Date
2015-09-28    31.455254
Name: Close, dtype: float64
20150930
Date
2015-09-29    31.175097
2015-09-30    31.525291
Name: Close, dtype: float64 Date
2015-12-28    32.972763
2015-12-29    33.229572
Name: Close, dtype: float64
20151231
Date
2015-12-30    33.143970
2015-12-31    32.809338
Name: Close, dtype: float64 Date
2016-03-29    34.583656
2016-03-30    34.980545
Name: Close, dtype: float64
20160331
Date
2016-03-30    34.980545
2016-03-31    34.723736
Name: Close, dtype: float64 Date
2016-06-28    36.653698
2016-06-29    37.042801
Name: Close, dtype: float64
20160630
Date
2016-06-29    37.042801
2016-06-30    37.206226
Name: Close, dtype: float64 Date
2016-09-27    33.649807
2016-09-28    33.564201
Name: Close, dtype: float64
20160930
Date
2016-09-29    35.992218
2016-09-30    36.661480
Name: Close, dtype: float64 Date
2016-12-28    39.540001
2016-12-29    39.779999
Name: Close, dtype: float64
20161231
Date
2016-12-30    39.549999
Name: Close, dtype: float64 Date
2017-03-30    40.279999
2017-03-31    40.340000
Name: Close, dtype: float64
20170331
Date
2017-03-30    40.279999
2017-03-31    40.340000
Name: Close, dtype: float64 Date
2017-06-28    37.369999
2017-06-29    36.080002
Name: Close, dtype: float64
20170630
Date
2017-06-29    36.080002
2017-06-30    35.759998
Name: Close, dtype: float64 Date
2017-09-27    33.340000
2017-09-28    33.950001
Name: Close, dtype: float64
20170930
Date
2017-09-29    33.740002
Name: Close, dtype: float64 Date
2017-12-28    38.049999
2017-12-29    37.669998
Name: Close, dtype: float64
20171231
Date
2018-01-02    37.52
Name: Close, dtype: float64 Date
2018-04-02    35.889999
Name: Close, dtype: float64
20180331
Date
2018-04-02    35.889999
Name: Close, dtype: float64 Date
2018-07-02    35.029999
Name: Close, dtype: float64
20180630
Date
2018-06-29    35.73
Name: Close, dtype: float64 Date
2018-09-27    32.980000
2018-09-28    33.970001
Name: Close, dtype: float64
20180930
Date
2018-10-01    33.450001
Name: Close, dtype: float64 Date
2018-12-31    21.360001
Name: Close, dtype: float64
20181231
Date
2018-12-31    21.360001
Name: Close, dtype: float64 Date
2019-04-01    27.629999
Name: Close, dtype: float64
20190331
Date
2019-04-01    27.629999
Name: Close, dtype: float64 Date
2019-07-01    26.9
Name: Close, dtype: float64
20190630
Date
2019-07-01    26.9
Name: Close, dtype: float64 Date
2019-09-30    30.68
Name: Close, dtype: float64
20190930
Date
2019-09-30    30.68
Name: Close, dtype: float64 Date
2019-12-30    34.040001
Name: Close, dtype: float64
20191231
Date
2019-12-30    34.040001
2019-12-31    34.240002
Name: Close, dtype: float64 Date
2020-03-30    28.23
Name: Close, dtype: float64
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20030331
Date
2003-03-31    15.956115
Name: Close, dtype: float64 Date
2003-06-30    16.966223
Name: Close, dtype: float64
20030630
Date
2003-06-30    16.966223
Name: Close, dtype: float64 Date
2003-09-29    16.742746
Name: Close, dtype: float64
20030930
Date
2003-09-29    16.742746
2003-09-30    16.984100
Name: Close, dtype: float64 Date
2003-12-29    18.557364
Name: Close, dtype: float64
20031231
Date
2003-12-30    18.834473
2003-12-31    18.807655
Name: Close, dtype: float64 Date
2004-03-29    22.132963
2004-03-30    22.177658
Name: Close, dtype: float64
20040331
Date
2004-03-30    22.177658
2004-03-31    22.159781
Name: Close, dtype: float64 Date
2004-06-28    18.253439
2004-06-29    18.190865
Name: Close, dtype: float64
20040630
Date
2004-06-29    18.190865
2004-06-30    18.369644
Name: Close, dtype: float64 Date
2004-09-27    20.586517
2004-09-28    20.550760
Name: Close, dtype: float64
20040930
Date
2004-09-29    20.908321
2004-09-30    20.845749
Name: Close, dtype: float64 Date
2004-12-28    24.716335
2004-12-29    24.671640
Name: Close, dtype: float64
20041231
Date
2004-12-30    24.886175
2004-12-31    24.796785
Name: Close, dtype: float64 Date
2005-03-30    27.496365
2005-03-31    27.424852
Name: Close, dtype: float64
20050331
Date
2005-03-30    27.496365
2005-03-31    27.424852
Name: Close, dtype: float64 Date
2005-06-28    29.194775
2005-06-29    29.480822
Name: Close, dtype: float64
20050630
Date
2005-06-29    29.480822
2005-06-30    29.480822
Name: Close, dtype: float64 Date
2005-09-27    27.129866
2005-09-28    26.414745
Name: Close, dtype: float64
20050930
Date
2005-09-29    26.396868
2005-09-30    27.147743
Name: Close, dtype: float64 Date
2005-12-28    34.710136
2005-12-29    34.987247
Name: Close, dtype: float64
20051231
Date
2005-12-30    34.754833
Name: Close, dtype: float64 Date
2006-03-30    36.658840
2006-03-31    36.676716
Name: Close, dtype: float64
20060331
Date
2006-03-30    36.658840
2006-03-31    36.676716
Name: Close, dtype: float64 Date
2006-06-28    32.984909
2006-06-29    34.584991
Name: Close, dtype: float64
20060630
Date
2006-06-29    34.584991
2006-06-30    35.219662
Name: Close, dtype: float64 Date
2006-09-27    38.232101
2006-09-28    38.527088
Name: Close, dtype: float64
20060930
Date
2006-09-29    37.963932
Name: Close, dtype: float64 Date
2006-12-28    36.345974
2006-12-29    35.907963
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    36.81974
Name: Close, dtype: float64 Date
2007-06-28    38.884651
2007-06-29    39.322662
Name: Close, dtype: float64
20070630
Date
2007-06-29    39.322662
Name: Close, dtype: float64 Date
2007-09-27    38.437698
2007-09-28    37.418655
Name: Close, dtype: float64
20070930
Date
2007-10-01    38.437698
Name: Close, dtype: float64 Date
2007-12-31    24.76997
Name: Close, dtype: float64
20071231
Date
2007-12-31    24.76997
Name: Close, dtype: float64 Date
2008-03-31    29.096445
Name: Close, dtype: float64
20080331
Date
2008-03-31    29.096445
Name: Close, dtype: float64 Date
2008-06-30    28.551167
Name: Close, dtype: float64
20080630
Date
2008-06-30    28.551167
Name: Close, dtype: float64 Date
2008-09-29    24.376654
Name: Close, dtype: float64
20080930
Date
2008-09-29    24.376654
2008-09-30    25.592358
Name: Close, dtype: float64 Date
2008-12-29    24.600128
Name: Close, dtype: float64
20081231
Date
2008-12-30    25.047077
2008-12-31    25.190102
Name: Close, dtype: float64 Date
2009-03-30    31.241804
2009-03-31    30.625013
Name: Close, dtype: float64
20090331
Date
2009-03-30    31.241804
2009-03-31    30.625013
Name: Close, dtype: float64 Date
2009-06-29    30.195942
Name: Close, dtype: float64
20090630
Date
2009-06-29    30.195942
2009-06-30    29.480822
Name: Close, dtype: float64 Date
2009-09-28    32.305546
Name: Close, dtype: float64
20090930
Date
2009-09-29    32.314484
2009-09-30    30.508806
Name: Close, dtype: float64 Date
2009-12-28    31.679815
2009-12-29    31.751328
Name: Close, dtype: float64
20091231
Date
2009-12-30    31.492098
2009-12-31    31.349073
Name: Close, dtype: float64 Date
2010-03-30    40.046719
2010-03-31    39.814304
Name: Close, dtype: float64
20100331
Date
2010-03-30    40.046719
2010-03-31    39.814304
Name: Close, dtype: float64 Date
2010-06-28    35.461014
2010-06-29    34.844223
Name: Close, dtype: float64
20100630
Date
2010-06-29    34.844223
2010-06-30    34.728016
Name: Close, dtype: float64 Date
2010-09-27    38.768444
2010-09-28    38.991917
Name: Close, dtype: float64
20100930
Date
2010-09-29    38.491333
2010-09-30    38.241043
Name: Close, dtype: float64 Date
2010-12-28    41.637863
2010-12-29    41.977543
Name: Close, dtype: float64
20101231
Date
2010-12-30    41.879215
2010-12-31    41.512714
Name: Close, dtype: float64 Date
2011-03-30    43.372028
2011-03-31    43.917309
Name: Close, dtype: float64
20110331
Date
2011-03-30    43.372028
2011-03-31    43.917309
Name: Close, dtype: float64 Date
2011-06-28    44.024574
2011-06-29    44.069271
Name: Close, dtype: float64
20110630
Date
2011-06-29    44.069271
2011-06-30    44.480465
Name: Close, dtype: float64 Date
2011-09-27    41.995422
2011-09-28    39.599770
Name: Close, dtype: float64
20110930
Date
2011-09-29    38.875710
2011-09-30    38.214226
Name: Close, dtype: float64 Date
2011-12-28    40.413219
2011-12-29    40.878048
Name: Close, dtype: float64
20111231

Date
2011-12-30    40.743961
Name: Close, dtype: float64 Date
2012-03-29    45.320728
2012-03-30    45.731922
Name: Close, dtype: float64
20120331
Date
2012-03-30    45.731922
Name: Close, dtype: float64 Date
2012-06-28    43.979881
2012-06-29    45.258156
Name: Close, dtype: float64
20120630
Date
2012-06-29    45.258156
Name: Close, dtype: float64 Date
2012-09-27    49.960072
2012-09-28    49.834927
Name: Close, dtype: float64
20120930
Date
2012-10-01    49.709778
Name: Close, dtype: float64 Date
2012-12-31    40.288074
Name: Close, dtype: float64
20121231
Date
2012-12-31    40.288074
Name: Close, dtype: float64 Date
2013-04-01    45.499512
Name: Close, dtype: float64
20130331
Date
2013-04-01    45.499512
Name: Close, dtype: float64 Date
2013-07-01    45.267097
Name: Close, dtype: float64
20130630
Date
2013-07-01    45.267097
Name: Close, dtype: float64 Date
2013-09-30    41.378632
Name: Close, dtype: float64
20130930
Date
2013-09-30    41.378632
Name: Close, dtype: float64 Date
2013-12-30    48.690735
Name: Close, dtype: float64
20131231
Date
2013-12-30    48.690735
2013-12-31    48.601341
Name: Close, dtype: float64 Date
2014-03-31    45.374363
Name: Close, dtype: float64
20140331
Date
2014-03-31    45.374363
Name: Close, dtype: float64 Date
2014-06-30    41.360752
Name: Close, dtype: float64
20140630
Date
2014-06-30    41.360752
Name: Close, dtype: float64 Date
2014-09-29    46.4828
Name: Close, dtype: float64
20140930
Date
2014-09-29    46.482800
2014-09-30    46.000095
Name: Close, dtype: float64 Date
2014-12-29    52.606014
Name: Close, dtype: float64
20141231
Date
2014-12-30    52.552380
2014-12-31    52.409355
Name: Close, dtype: float64 Date
2015-03-30    62.054539
2015-03-31    61.983025
Name: Close, dtype: float64
20150331
Date
2015-03-30    62.054539
2015-03-31    61.983025
Name: Close, dtype: float64 Date
2015-06-29    63.645679
Name: Close, dtype: float64
20150630
Date
2015-06-29    63.645679
2015-06-30    63.538410
Name: Close, dtype: float64 Date
2015-09-28    60.88353
Name: Close, dtype: float64
20150930
Date
2015-09-29    60.686871
2015-09-30    61.267906
Name: Close, dtype: float64 Date
2015-12-28    64.300003
2015-12-29    64.449997
Name: Close, dtype: float64
20151231
Date
2015-12-30    64.290001
2015-12-31    63.639999
Name: Close, dtype: float64 Date
2016-03-29    66.629997
2016-03-30    66.580002
Name: Close, dtype: float64
20160331
Date
2016-03-30    66.580002
2016-03-31    66.300003
Name: Close, dtype: float64 Date
2016-06-28    65.239998
2016-06-29    65.959999
Name: Close, dtype: float64
20160630
Date
2016-06-29    65.959999
2016-06-30    63.340000
Name: Close, dtype: float64 Date
2016-09-27    61.520000
2016-09-28    61.139999
Name: Close, dtype: float64
20160930
Date
2016-09-29    60.630001
2016-09-30    61.320000
Name: Close, dtype: float64 Date
2016-12-28    73.680000
2016-12-29    73.779999
Name: Close, dtype: float64
20161231
Date
2016-12-30    72.720001
Name: Close, dtype: float64 Date
2017-03-30    82.830002
2017-03-31    83.669998
Name: Close, dtype: float64
20170331
Date
2017-03-30    82.830002
2017-03-31    83.669998
Name: Close, dtype: float64 Date
2017-06-28    91.559998
2017-06-29    91.760002
Name: Close, dtype: float64
20170630
Date
2017-06-29    91.760002
2017-06-30    90.440002
Name: Close, dtype: float64 Date
2017-09-27    79.150002
2017-09-28    78.959999
Name: Close, dtype: float64
20170930
Date
2017-09-29    78.779999
Name: Close, dtype: float64 Date
2017-12-28    97.500000
2017-12-29    96.019997
Name: Close, dtype: float64
20171231
Date
2018-01-02    96.32
Name: Close, dtype: float64 Date
2018-04-02    84.07
Name: Close, dtype: float64
20180331
Date
2018-04-02    84.07
Name: Close, dtype: float64 Date
2018-07-02    109.510002
Name: Close, dtype: float64
20180630
Date
2018-06-29    107.059998
Name: Close, dtype: float64 Date
2018-09-27    111.279999
2018-09-28    111.190002
Name: Close, dtype: float64
20180930
Date
2018-10-01    109.220001
Name: Close, dtype: float64 Date
2018-12-31    99.860001
Name: Close, dtype: float64
20181231
Date
2018-12-31    99.860001
Name: Close, dtype: float64 Date
2019-04-01    120.480003
Name: Close, dtype: float64
20190331
Date
2019-04-01    120.480003
Name: Close, dtype: float64 Date
2019-07-01    121.589996
Name: Close, dtype: float64
20190630
Date
2019-07-01    121.589996
Name: Close, dtype: float64 Date
2019-09-30    118.220001
Name: Close, dtype: float64
20190930
Date
2019-09-30    118.220001
Name: Close, dtype: float64 Date
2019-12-30    108.959999
Name: Close, dtype: float64
20191231
Date
2019-12-30    108.959999
2019-12-31    109.010002
Name: Close, dtype: float64 Date
2020-03-30    56.849998
Name: Close, dtype: float64
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20160630
Date
2016-06-29    4.62
2016-06-30    5.15
Name: Close, dtype: float64 Date
2016-09-27    3.742
2016-09-28    3.758
Name: Close, dtype: float64
20160930
Date
2016-09-29    3.719
2016-09-30    3.550
Name: Close, dtype: float64 Date
2016-12-28    3.136
2016-12-29    3.100
Name: Close, dtype: float64
20161231
Date
2016-12-30    3.25
Name: Close, dtype: float64 Date
2017-03-30    3.90
2017-03-31    3.01
Name: Close, dtype: float64
20170331
Date
2017-03-30    3.90
2017-03-31    3.01
Name: Close, dtype: float64 Date
2017-06-28    2.198
2017-06-29    2.210
Name: Close, dtype: float64
20170630
Date
2017-06-29    2.21
2017-06-30    2.18
Name: Close, dtype: float64 Date
2017-09-27    1.93
2017-09-28    1.87
Name: Close, dtype: float64
20170930
Date
2017-09-29    1.84
Name: Close, dtype: float64 Date
2017-12-28    1.670
2017-12-29    1.602
Name: Close, dtype: float64
20171231
Date
2018-01-02    1.61
Name: Close, dtype: float64 Date
2018-04-02    1.59
Name: Close, dtype: float64
20180331
Date
2018-04-02    1.59
Name: Close, dtype: float64 Date
2018-07-02    1.25
Name: Close, dtype: float64
20180630
Date
2018-06-29    1.28
Name: Close, dtype: float64 Date
2018-09-27    0.90
2018-09-28    0.97
Name: Close, dtype: float64
20180930
Date
2018-10-01    0.893
Name: Close, dtype: float64 Date
2018-12-31    0.776
Name: Close, dtype: float64
20181231
Date
2018-12-31    0.776
Name: Close, dtype: float64 Date
2019-04-01    0.701
Name: Close, dtype: float64
20190331
Date
2019-04-01    0.701
Name: Close, dtype: float64 Date
2019-07-01    0.475
Name: Close, dtype: float64
20190630
Date
2019-07-01    0.475
Name: Close, dtype: float64 Date
2019-09-30    0.304
Name: Close, dtype: float64
20190930
Date
2019-09-30    0.304
Name: Close, dtype: float64 Date
2019-12-30    6.03
Name: Close, dtype: float64
20191231
Date
2019-12-30    6.03
2019-12-31    6.56
Name: Close, dtype: float64 Date
2020-03-30    6.55
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20030331
Date
2003-03-31    19.99
Name: Close, dtype: float64 Date
2003-06-30    26
Name: Close, dtype: int64
20030630
Date
2003-06-30    26
Name: Close, dtype: int64 Date
2003-09-29    22.75
Name: Close, dtype: float64
20030930
Date
2003-09-29    22.75
2003-09-30    22.27
Name: Close, dtype: float64 Date
2003-12-29    24.280001
Name: Close, dtype: float64
20031231
Date
2003-12-30    24.190001
2003-12-31    24.500000
Name: Close, dtype: float64 Date
2004-03-29    25.879999
2004-03-30    25.620001
Name: Close, dtype: float64
20040331
Date
2004-03-30    25.620001
2004-03-31    25.820000
Name: Close, dtype: float64 Date
2004-06-28    24.690001
2004-06-29    24.740000
Name: Close, dtype: float64
20040630

Date
2004-06-29    24.74
2004-06-30    24.75
Name: Close, dtype: float64 Date
2004-09-27    26.530001
2004-09-28    26.139999
Name: Close, dtype: float64
20040930
Date
2004-09-29    26.049999
2004-09-30    26.360001
Name: Close, dtype: float64 Date
2004-12-28    27.75
2004-12-29    28.00
Name: Close, dtype: float64
20041231
Date
2004-12-30    28.049999
2004-12-31    28.100000
Name: Close, dtype: float64 Date
2005-03-30    30.900000
2005-03-31    30.690001
Name: Close, dtype: float64
20050331
Date
2005-03-30    30.900000
2005-03-31    30.690001
Name: Close, dtype: float64 Date
2005-06-28    35.779999
2005-06-29    35.720001
Name: Close, dtype: float64
20050630
Date
2005-06-29    35.720001
2005-06-30    35.709999
Name: Close, dtype: float64 Date
2005-09-27    34.900002
2005-09-28    35.099998
Name: Close, dtype: float64
20050930
Date
2005-09-29    35.000000
2005-09-30    34.939999
Name: Close, dtype: float64 Date
2005-12-28    38.270000
2005-12-29    38.349998
Name: Close, dtype: float64
20051231
Date
2005-12-30    38.02
Name: Close, dtype: float64 Date
2006-03-30    37.119999
2006-03-31    37.240002
Name: Close, dtype: float64
20060331
Date
2006-03-30    37.119999
2006-03-31    37.240002
Name: Close, dtype: float64 Date
2006-06-28    33.869999
2006-06-29    33.950001
Name: Close, dtype: float64
20060630
Date
2006-06-29    33.950001
2006-06-30    34.340000
Name: Close, dtype: float64 Date
2006-09-27    36.360001
2006-09-28    36.849998
Name: Close, dtype: float64
20060930
Date
2006-09-29    36.709999
Name: Close, dtype: float64 Date
2006-12-28    40.880001
2006-12-29    40.599998
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    36.450001
Name: Close, dtype: float64 Date
2007-06-28    44.400002
2007-06-29    44.419998
Name: Close, dtype: float64
20070630
Date
2007-06-29    44.419998
Name: Close, dtype: float64 Date
2007-09-27    38.610001
2007-09-28    38.119999
Name: Close, dtype: float64
20070930
Date
2007-10-01    38.209999
Name: Close, dtype: float64 Date
2007-12-31    36.360001
Name: Close, dtype: float64
20071231
Date
2007-12-31    36.360001
Name: Close, dtype: float64 Date
2008-03-31    34.48
Name: Close, dtype: float64
20080331
Date
2008-03-31    34.48
Name: Close, dtype: float64 Date
2008-06-30    33.619999
Name: Close, dtype: float64
20080630
Date
2008-06-30    33.619999
Name: Close, dtype: float64 Date
2008-09-29    32.759998
Name: Close, dtype: float64
20080930
Date
2008-09-29    32.759998
2008-09-30    34.450001
Name: Close, dtype: float64 Date
2008-12-29    24.99
Name: Close, dtype: float64
20081231
Date
2008-12-30    26.040001
2008-12-31    26.520000
Name: Close, dtype: float64 Date
2009-03-30    24.070000
2009-03-31    24.450001
Name: Close, dtype: float64
20090331
Date
2009-03-30    24.070000
2009-03-31    24.450001
Name: Close, dtype: float64 Date
2009-06-29    26.280001
Name: Close, dtype: float64
20090630
Date
2009-06-29    26.280001
2009-06-30    26.100000
Name: Close, dtype: float64 Date
2009-09-28    29.01
Name: Close, dtype: float64
20090930
Date
2009-09-29    29.120001
2009-09-30    29.139999
Name: Close, dtype: float64 Date
2009-12-28    31.34
2009-12-29    31.50
Name: Close, dtype: float64
20091231
Date
2009-12-30    31.410000
2009-12-31    30.889999
Name: Close, dtype: float64 Date
2010-03-30    36.180000
2010-03-31    35.799999
Name: Close, dtype: float64
20100331
Date
2010-03-30    36.180000
2010-03-31    35.799999
Name: Close, dtype: float64 Date
2010-06-28    29.33
2010-06-29    28.23
Name: Close, dtype: float64
20100630
Date
2010-06-29    28.230000
2010-06-30    28.059999
Name: Close, dtype: float64 Date
2010-09-27    30.709999
2010-09-28    31.030001
Name: Close, dtype: float64
20100930
Date
2010-09-29    31.090000
2010-09-30    31.200001
Name: Close, dtype: float64 Date
2010-12-28    35.549999
2010-12-29    35.900002
Name: Close, dtype: float64
20101231
Date
2010-12-30    35.990002
2010-12-31    35.599998
Name: Close, dtype: float64 Date
2011-03-30    38.430000
2011-03-31    38.849998
Name: Close, dtype: float64
20110331
Date
2011-03-30    38.430000
2011-03-31    38.849998
Name: Close, dtype: float64 Date
2011-06-28    34.099998
2011-06-29    34.279999
Name: Close, dtype: float64
20110630
Date
2011-06-29    34.279999
2011-06-30    34.720001
Name: Close, dtype: float64 Date
2011-09-27    31.959999
2011-09-28    31.200001
Name: Close, dtype: float64
20110930
Date
2011-09-29    31.360001
2011-09-30    30.740000
Name: Close, dtype: float64 Date
2011-12-28    38.369999
2011-12-29    38.790001
Name: Close, dtype: float64
20111231
Date
2011-12-30    38.740002
Name: Close, dtype: float64 Date
2012-03-29    43.520000
2012-03-30    44.259998
Name: Close, dtype: float64
20120331
Date
2012-03-30    44.259998
Name: Close, dtype: float64 Date
2012-06-28    45.349998
2012-06-29    46.599998
Name: Close, dtype: float64
20120630
Date
2012-06-29    46.599998
Name: Close, dtype: float64 Date
2012-09-27    46.450001
2012-09-28    46.580002
Name: Close, dtype: float64
20120930
Date
2012-10-01    47.099998
Name: Close, dtype: float64 Date
2012-12-31    54.119999
Name: Close, dtype: float64
20121231
Date
2012-12-31    54.119999
Name: Close, dtype: float64 Date
2013-04-01    56.740002
Name: Close, dtype: float64
20130331
Date
2013-04-01    56.740002
Name: Close, dtype: float64 Date
2013-07-01    59.41
Name: Close, dtype: float64
20130630
Date
2013-07-01    59.41
Name: Close, dtype: float64 Date
2013-09-30    59.849998
Name: Close, dtype: float64
20130930
Date
2013-09-30    59.849998
Name: Close, dtype: float64 Date
2013-12-30    69.349998
Name: Close, dtype: float64
20131231
Date
2013-12-30    69.349998
2013-12-31    69.089996
Name: Close, dtype: float64 Date
2014-03-31    68.029999
Name: Close, dtype: float64
20140331
Date
2014-03-31    68.029999
Name: Close, dtype: float64 Date
2014-06-30    72.540001
Name: Close, dtype: float64
20140630
Date
2014-06-30    72.540001
Name: Close, dtype: float64 Date
2014-09-29    74.309998
Name: Close, dtype: float64
20140930
Date
2014-09-29    74.309998
2014-09-30    74.739998
Name: Close, dtype: float64 Date
2014-12-29    81.760002
Name: Close, dtype: float64
20141231
Date
2014-12-30    81.559998
2014-12-31    80.870003
Name: Close, dtype: float64 Date
2015-03-30    93.330002
2015-03-31    93.000000
Name: Close, dtype: float64
20150331
Date
2015-03-30    93.330002
2015-03-31    93.000000
Name: Close, dtype: float64 Date
2015-06-29    97.440002
Name: Close, dtype: float64
20150630
Date
2015-06-29    97.440002
2015-06-30    97.089996
Name: Close, dtype: float64 Date
2015-09-28    95.330002
Name: Close, dtype: float64
20150930
Date
2015-09-29    95.800003
2015-09-30    97.180000
Name: Close, dtype: float64 Date
2015-12-28    113.070000
2015-12-29    113.610001
Name: Close, dtype: float64
20151231
Date
2015-12-30    112.769997
2015-12-31    111.370003
Name: Close, dtype: float64 Date
2016-03-29    112.849998
2016-03-30    113.900002
Name: Close, dtype: float64
20160331
Date
2016-03-30    113.900002
2016-03-31    114.290001
Name: Close, dtype: float64 Date
2016-06-28    121.989998
2016-06-29    125.699997
Name: Close, dtype: float64
20160630
Date
2016-06-29    125.699997
2016-06-30    128.399994
Name: Close, dtype: float64 Date
2016-09-27    132.649994
2016-09-28    134.419998
Name: Close, dtype: float64
20160930
Date
2016-09-29    133.330002
2016-09-30    134.580002
Name: Close, dtype: float64 Date
2016-12-28    118.480003
2016-12-29    118.669998
Name: Close, dtype: float64
20161231
Date
2016-12-30    118.230003
Name: Close, dtype: float64 Date
2017-03-30    136.559998
2017-03-31    136.740005
Name: Close, dtype: float64
20170331
Date
2017-03-30    136.559998
2017-03-31    136.740005
Name: Close, dtype: float64 Date
2017-06-28    139.509995
2017-06-29    137.149994
Name: Close, dtype: float64
20170630
Date
2017-06-29    137.149994
2017-06-30    137.419998
Name: Close, dtype: float64 Date
2017-09-27    106.440002
2017-09-28    106.370003
Name: Close, dtype: float64
20170930
Date
2017-09-29    105.989998
Name: Close, dtype: float64 Date
2017-12-28    119.730003
2017-12-29    117.919998
Name: Close, dtype: float64
20171231
Date
2018-01-02    119.540001
Name: Close, dtype: float64 Date
2018-04-02    114.949997
Name: Close, dtype: float64
20180331

Date
2018-04-02    114.949997
Name: Close, dtype: float64 Date
2018-07-02    124.230003
Name: Close, dtype: float64
20180630
Date
2018-06-29    125.110001
Name: Close, dtype: float64 Date
2018-09-27    130.389999
2018-09-28    130.570007
Name: Close, dtype: float64
20180930
Date
2018-10-01    130.789993
Name: Close, dtype: float64 Date
2018-12-31    93.129997
Name: Close, dtype: float64
20181231
Date
2018-12-31    93.129997
Name: Close, dtype: float64 Date
2019-04-01    119.519997
Name: Close, dtype: float64
20190331
Date
2019-04-01    119.519997
Name: Close, dtype: float64 Date
2019-07-01    135.830002
Name: Close, dtype: float64
20190630
Date
2019-07-01    135.830002
Name: Close, dtype: float64 Date
2019-09-30    140.669998
Name: Close, dtype: float64
20190930
Date
2019-09-30    140.669998
Name: Close, dtype: float64 Date
2019-12-30    138.919998
Name: Close, dtype: float64
20191231
Date
2019-12-30    138.919998
2019-12-31    140.119995
Name: Close, dtype: float64 Date
2020-03-30    122.099998
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20030331
Date
2003-03-31    14.625
Name: Close, dtype: float64 Date
2003-06-30    17.09
Name: Close, dtype: float64
20030630
Date
2003-06-30    17.09
Name: Close, dtype: float64 Date
2003-09-29    18.275
Name: Close, dtype: float64
20030930
Date
2003-09-29    18.275
2003-09-30    18.275
Name: Close, dtype: float64 Date
2003-12-29    19.035
Name: Close, dtype: float64
20031231
Date
2003-12-30    18.915001
2003-12-31    18.805000
Name: Close, dtype: float64 Date
2004-03-29    23.000
2004-03-30    22.615
Name: Close, dtype: float64
20040331
Date
2004-03-30    22.615
2004-03-31    22.670
Name: Close, dtype: float64 Date
2004-06-28    23.695000
2004-06-29    23.745001
Name: Close, dtype: float64
20040630
Date
2004-06-29    23.745001
2004-06-30    23.469999
Name: Close, dtype: float64 Date
2004-09-27    23.735001
2004-09-28    24.315001
Name: Close, dtype: float64
20040930
Date
2004-09-29    24.150000
2004-09-30    24.825001
Name: Close, dtype: float64 Date
2004-12-28    35.799999
2004-12-29    36.020000
Name: Close, dtype: float64
20041231
Date
2004-12-30    36.540001
2004-12-31    36.369999
Name: Close, dtype: float64 Date
2005-03-30    35.400002
2005-03-31    35.410000
Name: Close, dtype: float64
20050331
Date
2005-03-30    35.400002
2005-03-31    35.410000
Name: Close, dtype: float64 Date
2005-06-28    39.830002
2005-06-29    39.810001
Name: Close, dtype: float64
20050930
Date
2005-09-29    43.299999
2005-09-30    43.770000
Name: Close, dtype: float64 Date
2005-12-28    35.900002
2005-12-29    36.310001
Name: Close, dtype: float64
20051231
Date
2005-12-30    36.669998
Name: Close, dtype: float64 Date
2006-03-30    43.00
2006-03-31    43.09
Name: Close, dtype: float64
20060331
Date
2006-03-30    43.00
2006-03-31    43.09
Name: Close, dtype: float64 Date
2006-06-28    38.82
2006-06-29    40.27
Name: Close, dtype: float64
20060630
Date
2006-06-29    40.270000
2006-06-30    40.799999
Name: Close, dtype: float64 Date
2006-09-27    38.750000
2006-09-28    39.349998
Name: Close, dtype: float64
20060930
Date
2006-09-29    39.490002
Name: Close, dtype: float64 Date
2006-12-28    57.400002
2006-12-29    57.349998
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    69.519997
Name: Close, dtype: float64 Date
2007-06-28    82.150002
2007-06-29    82.480003
Name: Close, dtype: float64
20070630
Date
2007-06-29    82.480003
Name: Close, dtype: float64 Date
2007-09-27    89.919998
2007-09-28    89.440002
Name: Close, dtype: float64
20070930
Date
2007-10-01    92.849998
Name: Close, dtype: float64 Date
2007-12-31    84.019997
Name: Close, dtype: float64
20071231
Date
2007-12-31    84.019997
Name: Close, dtype: float64 Date
2008-03-31    58.77
Name: Close, dtype: float64
20080331
Date
2008-03-31    58.77
Name: Close, dtype: float64 Date
2008-06-30    33.889999
Name: Close, dtype: float64
20080630
Date
2008-06-30    33.889999
Name: Close, dtype: float64 Date
2008-09-29    25.99
Name: Close, dtype: float64
20080930
Date
2008-09-29    25.99
2008-09-30    28.50
Name: Close, dtype: float64 Date
2008-12-29    12.74
Name: Close, dtype: float64
20081231
Date
2008-12-30    12.76
2008-12-31    13.76
Name: Close, dtype: float64 Date
2009-03-30    2.40
2009-03-31    2.33
Name: Close, dtype: float64
20090331
Date
2009-03-30    2.40
2009-03-31    2.33
Name: Close, dtype: float64 Date
2009-06-29    6.65
Name: Close, dtype: float64
20090630
Date
2009-06-29    6.65
2009-06-30    6.39
Name: Close, dtype: float64 Date
2009-09-28    12.7
Name: Close, dtype: float64
20090930
Date
2009-09-29    12.47
2009-09-30    12.04
Name: Close, dtype: float64 Date
2009-12-28    9.36
2009-12-29    9.41
Name: Close, dtype: float64
20091231
Date
2009-12-30    9.18
2009-12-31    9.12
Name: Close, dtype: float64 Date
2010-03-30    12.21
2010-03-31    12.00
Name: Close, dtype: float64
20100331
Date
2010-03-30    12.21
2010-03-31    12.00
Name: Close, dtype: float64 Date
2010-06-28    11.00
2010-06-29    10.05
Name: Close, dtype: float64
20100630
Date
2010-06-29    10.05
2010-06-30     9.64
Name: Close, dtype: float64 Date
2010-09-27    11.25
2010-09-28    11.44
Name: Close, dtype: float64
20100930
Date
2010-09-29    11.23
2010-09-30    11.28
Name: Close, dtype: float64 Date
2010-12-28    14.90
2010-12-29    14.92
Name: Close, dtype: float64
20101231
Date
2010-12-30    14.82
2010-12-31    14.85
Name: Close, dtype: float64 Date
2011-03-30    13.17
2011-03-31    13.15
Name: Close, dtype: float64
20110331
Date
2011-03-30    13.17
2011-03-31    13.15
Name: Close, dtype: float64 Date
2011-06-28    12.95
2011-06-29    12.94
Name: Close, dtype: float64
20110630
Date
2011-06-29    12.94
2011-06-30    13.21
Name: Close, dtype: float64 Date
2011-09-27    10.68
2011-09-28    10.27
Name: Close, dtype: float64
20110930
Date
2011-09-29    9.93
2011-09-30    9.29
Name: Close, dtype: float64 Date
2011-12-28    10.09
2011-12-29    10.25
Name: Close, dtype: float64
20111231
Date
2011-12-30    10.43
Name: Close, dtype: float64 Date
2012-03-29    13.85
2012-03-30    13.62
Name: Close, dtype: float64
20120331
Date
2012-03-30    13.62
Name: Close, dtype: float64 Date
2012-06-28    10.79
2012-06-29    11.16
Name: Close, dtype: float64
20120630
Date
2012-06-29    11.16
Name: Close, dtype: float64 Date
2012-09-27    10.88
2012-09-28    10.75
Name: Close, dtype: float64
20120930
Date
2012-10-01    10.69
Name: Close, dtype: float64 Date
2012-12-31    11.64
Name: Close, dtype: float64
20121231
Date
2012-12-31    11.64
Name: Close, dtype: float64 Date
2013-04-01    12.82
Name: Close, dtype: float64
20130331
Date
2013-04-01    12.82
Name: Close, dtype: float64 Date
2013-07-01    15.08
Name: Close, dtype: float64
20130630
Date
2013-07-01    15.08
Name: Close, dtype: float64 Date
2013-09-30    20.440001
Name: Close, dtype: float64
20130930
Date
2013-09-30    20.440001
Name: Close, dtype: float64 Date
2013-12-30    23.379999
Name: Close, dtype: float64
20131231
Date
2013-12-30    23.379999
2013-12-31    23.520000
Name: Close, dtype: float64 Date
2014-03-31    25.860001
Name: Close, dtype: float64
20140331
Date
2014-03-31    25.860001
Name: Close, dtype: float64 Date
2014-06-30    26.4
Name: Close, dtype: float64
20140630
Date
2014-06-30    26.4
Name: Close, dtype: float64 Date
2014-09-29    22.16
Name: Close, dtype: float64
20140930
Date
2014-09-29    22.160000
2014-09-30    22.780001
Name: Close, dtype: float64 Date
2014-12-29    21.48
Name: Close, dtype: float64
20141231
Date
2014-12-30    21.450001
2014-12-31    21.379999
Name: Close, dtype: float64 Date
2015-03-30    21.270000
2015-03-31    21.030001
Name: Close, dtype: float64
20150331
Date
2015-03-30    21.270000
2015-03-31    21.030001
Name: Close, dtype: float64 Date
2015-06-29    17.58
Name: Close, dtype: float64
20150630

Date
2015-06-29    17.58
2015-06-30    18.25
Name: Close, dtype: float64 Date
2015-09-28    18.59
Name: Close, dtype: float64
20150930
Date
2015-09-29    17.760000
2015-09-30    18.450001
Name: Close, dtype: float64 Date
2015-12-28    22.629999
2015-12-29    22.940001
Name: Close, dtype: float64
20151231
Date
2015-12-30    22.520000
2015-12-31    22.719999
Name: Close, dtype: float64 Date
2016-03-29    21.219999
2016-03-30    21.290001
Name: Close, dtype: float64
20160331
Date
2016-03-30    21.290001
2016-03-31    21.440001
Name: Close, dtype: float64 Date
2016-06-28    22.09
2016-06-29    22.74
Name: Close, dtype: float64
20160630
Date
2016-06-29    22.740000
2016-06-30    22.629999
Name: Close, dtype: float64 Date
2016-09-27    25.57
2016-09-28    26.35
Name: Close, dtype: float64
20160930
Date
2016-09-29    25.850000
2016-09-30    26.030001
Name: Close, dtype: float64 Date
2016-12-28    28.719999
2016-12-29    28.500000
Name: Close, dtype: float64
20161231
Date
2016-12-30    28.83
Name: Close, dtype: float64 Date
2017-03-30    27.33
2017-03-31    27.40
Name: Close, dtype: float64
20170331
Date
2017-03-30    27.33
2017-03-31    27.40
Name: Close, dtype: float64 Date
2017-06-28    33.700001
2017-06-29    32.889999
Name: Close, dtype: float64
20170630
Date
2017-06-29    32.889999
2017-06-30    31.290001
Name: Close, dtype: float64 Date
2017-09-27    32.459999
2017-09-28    32.340000
Name: Close, dtype: float64
20170930
Date
2017-09-29    32.59
Name: Close, dtype: float64 Date
2017-12-28    33.630001
2017-12-29    33.389999
Name: Close, dtype: float64
20171231
Date
2018-01-02    33.509998
Name: Close, dtype: float64 Date
2018-04-02    33.880001
Name: Close, dtype: float64
20180331
Date
2018-04-02    33.880001
Name: Close, dtype: float64 Date
2018-07-02    28.16
Name: Close, dtype: float64
20180630
Date
2018-06-29    29.030001
Name: Close, dtype: float64 Date
2018-09-27    27.719999
2018-09-28    27.910000
Name: Close, dtype: float64
20180930
Date
2018-10-01    26.93
Name: Close, dtype: float64 Date
2018-12-31    24.26
Name: Close, dtype: float64
20181231
Date
2018-12-31    24.26
Name: Close, dtype: float64 Date
2019-04-01    26.59
Name: Close, dtype: float64
20190331
Date
2019-04-01    26.59
Name: Close, dtype: float64 Date
2019-07-01    28.690001
Name: Close, dtype: float64
20190630
Date
2019-07-01    28.690001
Name: Close, dtype: float64 Date
2019-09-30    27.719999
Name: Close, dtype: float64
20190930
Date
2019-09-30    27.719999
Name: Close, dtype: float64 Date
2019-12-30    33.32
Name: Close, dtype: float64
20191231
Date
2019-12-30    33.32
2019-12-31    33.27
Name: Close, dtype: float64 Date
2020-03-30    11.53
Name: Close, dtype: float64
20030331
Date
2003-03-31    9.5425
Name: Close, dtype: float64 Date
2003-06-30    12.2125
Name: Close, dtype: float64
20030630
Date
2003-06-30    12.2125
Name: Close, dtype: float64 Date
2003-09-29    11.4925
Name: Close, dtype: float64
20030930
Date
2003-09-29    11.4925
2003-09-30    11.4700
Name: Close, dtype: float64 Date
2003-12-29    14.4125
Name: Close, dtype: float64
20031231
Date
2003-12-30    13.9825
2003-12-31    14.0000
Name: Close, dtype: float64 Date
2004-03-29    15.53
2004-03-30    15.65
Name: Close, dtype: float64
20040331
Date
2004-03-30    15.65
2004-03-31    15.37
Name: Close, dtype: float64 Date
2004-06-28    18.752501
2004-06-29    19.155001
Name: Close, dtype: float64
20040630
Date
2004-06-29    19.155001
2004-06-30    19.190001
Name: Close, dtype: float64 Date
2004-09-27    21.637501
2004-09-28    22.625000
Name: Close, dtype: float64
20040930
Date
2004-09-29    22.312500
2004-09-30    22.842501
Name: Close, dtype: float64 Date
2004-12-28    27.540001
2004-12-29    27.434999
Name: Close, dtype: float64
20041231
Date
2004-12-30    25.690001
2004-12-31    26.170000
Name: Close, dtype: float64 Date
2005-03-30    28.650000
2005-03-31    28.780001
Name: Close, dtype: float64
20050331
Date
2005-03-30    28.650000
2005-03-31    28.780001
Name: Close, dtype: float64 Date
2005-06-28    23.834999
2005-06-29    23.535000
Name: Close, dtype: float64
20050630
Date
2005-06-29    23.535000
2005-06-30    22.809999
Name: Close, dtype: float64 Date
2005-09-27    29.160
2005-09-28    29.135
Name: Close, dtype: float64
20050930
Date
2005-09-29    28.879999
2005-09-30    29.495001
Name: Close, dtype: float64 Date
2005-12-28    33.615002
2005-12-29    33.820000
Name: Close, dtype: float64
20051231
Date
2005-12-30    33.360001
Name: Close, dtype: float64 Date
2006-03-30    53.325001
2006-03-31    52.395000
Name: Close, dtype: float64
20060331
Date
2006-03-30    53.325001
2006-03-31    52.395000
Name: Close, dtype: float64 Date
2006-06-28    52.930000
2006-06-29    54.860001
Name: Close, dtype: float64
20060630
Date
2006-06-29    54.860001
2006-06-30    54.250000
Name: Close, dtype: float64 Date
2006-09-27    49.139999
2006-09-28    49.580002
Name: Close, dtype: float64
20060930
Date
2006-09-29    49.490002
Name: Close, dtype: float64 Date
2006-12-28    55.279999
2006-12-29    54.660000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    65.129997
Name: Close, dtype: float64 Date
2007-06-28    58.189999
2007-06-29    58.650002
Name: Close, dtype: float64
20070630
Date
2007-06-29    58.650002
Name: Close, dtype: float64 Date
2007-09-27    60.540001
2007-09-28    59.470001
Name: Close, dtype: float64
20070930
Date
2007-10-01    58.57
Name: Close, dtype: float64 Date
2007-12-31    59.220001
Name: Close, dtype: float64
20071231
Date
2007-12-31    59.220001
Name: Close, dtype: float64 Date
2008-03-31    67.739998
Name: Close, dtype: float64
20080331
Date
2008-03-31    67.739998
Name: Close, dtype: float64 Date
2008-06-30    74.669998
Name: Close, dtype: float64
20080630
Date
2008-06-30    74.669998
Name: Close, dtype: float64 Date
2008-09-29    36.98
Name: Close, dtype: float64
20080930
Date
2008-09-29    36.98
2008-09-30    39.50
Name: Close, dtype: float64 Date
2008-12-29    44.459999
Name: Close, dtype: float64
20081231
Date
2008-12-30    46.080002
2008-12-31    46.200001
Name: Close, dtype: float64 Date
2009-03-30    38.090000
2009-03-31    38.169998
Name: Close, dtype: float64
20090331
Date
2009-03-30    38.090000
2009-03-31    38.169998
Name: Close, dtype: float64 Date
2009-06-29    45.25
Name: Close, dtype: float64
20090630
Date
2009-06-29    45.25
2009-06-30    44.43
Name: Close, dtype: float64 Date
2009-09-28    47.389999
Name: Close, dtype: float64
20090930
Date
2009-09-29    46.799999
2009-09-30    47.009998
Name: Close, dtype: float64 Date
2009-12-28    46.950001
2009-12-29    46.060001
Name: Close, dtype: float64
20091231
Date
2009-12-30    47.060001
2009-12-31    46.650002
Name: Close, dtype: float64 Date
2010-03-30    45.560001
2010-03-31    45.380001
Name: Close, dtype: float64
20100331
Date
2010-03-30    45.560001
2010-03-31    45.380001
Name: Close, dtype: float64 Date
2010-06-28    40.139999
2010-06-29    38.480000
Name: Close, dtype: float64
20100630
Date
2010-06-29    38.480000
2010-06-30    38.279999
Name: Close, dtype: float64 Date
2010-09-27    37.549999
2010-09-28    38.020000
Name: Close, dtype: float64
20100930
Date
2010-09-29    38.389999
2010-09-30    38.200001
Name: Close, dtype: float64 Date
2010-12-28    44.560001
2010-12-29    44.250000
Name: Close, dtype: float64
20101231
Date
2010-12-30    44.459999
2010-12-31    43.820000
Name: Close, dtype: float64 Date
2011-03-30    46.630001
2011-03-31    46.020000
Name: Close, dtype: float64
20110331
Date
2011-03-30    46.630001
2011-03-31    46.020000
Name: Close, dtype: float64 Date
2011-06-28    39.689999
2011-06-29    40.240002
Name: Close, dtype: float64
20110630
Date
2011-06-29    40.240002
2011-06-30    41.220001
Name: Close, dtype: float64 Date
2011-09-27    33.450001
2011-09-28    31.910000
Name: Close, dtype: float64
20110930
Date
2011-09-29    32.459999
2011-09-30    31.639999
Name: Close, dtype: float64 Date
2011-12-28    39.560001
2011-12-29    39.590000
Name: Close, dtype: float64
20111231
Date
2011-12-30    39.57
Name: Close, dtype: float64 Date
2012-03-29    42.810001
2012-03-30    42.950001
Name: Close, dtype: float64
20120331
Date
2012-03-30    42.950001
Name: Close, dtype: float64 Date
2012-06-28    37.090000
2012-06-29    37.900002
Name: Close, dtype: float64
20120630

Date
2012-06-29    37.900002
Name: Close, dtype: float64 Date
2012-09-27    38.349998
2012-09-28    38.259998
Name: Close, dtype: float64
20120930
Date
2012-10-01    38.27
Name: Close, dtype: float64 Date
2012-12-31    43.16
Name: Close, dtype: float64
20121231
Date
2012-12-31    43.16
Name: Close, dtype: float64 Date
2013-04-01    45.139999
Name: Close, dtype: float64
20130331
Date
2013-04-01    45.139999
Name: Close, dtype: float64 Date
2013-07-01    43.84
Name: Close, dtype: float64
20130630
Date
2013-07-01    43.84
Name: Close, dtype: float64 Date
2013-09-30    49.02
Name: Close, dtype: float64
20130930
Date
2013-09-30    49.02
Name: Close, dtype: float64 Date
2013-12-30    53.490002
Name: Close, dtype: float64
20131231
Date
2013-12-30    53.490002
2013-12-31    53.380001
Name: Close, dtype: float64 Date
2014-03-31    50.540001
Name: Close, dtype: float64
20140331
Date
2014-03-31    50.540001
Name: Close, dtype: float64 Date
2014-06-30    49.25
Name: Close, dtype: float64
20140630
Date
2014-06-30    49.25
Name: Close, dtype: float64 Date
2014-09-29    54.560001
Name: Close, dtype: float64
20140930
Date
2014-09-29    54.560001
2014-09-30    54.279999
Name: Close, dtype: float64 Date
2014-12-29    49.220001
Name: Close, dtype: float64
20141231
Date
2014-12-30    49.509998
2014-12-31    49.049999
Name: Close, dtype: float64 Date
2015-03-30    47.330002
2015-03-31    47.529999
Name: Close, dtype: float64
20150331
Date
2015-03-30    47.330002
2015-03-31    47.529999
Name: Close, dtype: float64 Date
2015-06-29    45.009998
Name: Close, dtype: float64
20150630
Date
2015-06-29    45.009998
2015-06-30    44.070000
Name: Close, dtype: float64 Date
2015-09-28    37.0
Name: Close, dtype: float64
20150930
Date
2015-09-29    37.160000
2015-09-30    37.549999
Name: Close, dtype: float64 Date
2015-12-28    40.619999
2015-12-29    40.480000
Name: Close, dtype: float64
20151231
Date
2015-12-30    40.340000
2015-12-31    40.299999
Name: Close, dtype: float64 Date
2016-03-29    47.240002
2016-03-30    48.310001
Name: Close, dtype: float64
20160331
Date
2016-03-30    48.310001
2016-03-31    47.299999
Name: Close, dtype: float64 Date
2016-06-28    47.330002
2016-06-29    47.919998
Name: Close, dtype: float64
20160630
Date
2016-06-29    47.919998
2016-06-30    49.410000
Name: Close, dtype: float64 Date
2016-09-27    49.07
2016-09-28    49.73
Name: Close, dtype: float64
20160930
Date
2016-09-29    48.860001
2016-09-30    49.450001
Name: Close, dtype: float64 Date
2016-12-28    60.919998
2016-12-29    60.930000
Name: Close, dtype: float64
20161231
Date
2016-12-30    59.52
Name: Close, dtype: float64 Date
2017-03-30    60.099998
2017-03-31    59.720001
Name: Close, dtype: float64
20170331
Date
2017-03-30    60.099998
2017-03-31    59.720001
Name: Close, dtype: float64 Date
2017-06-28    58.169998
2017-06-29    58.169998
Name: Close, dtype: float64
20170630
Date
2017-06-29    58.169998
2017-06-30    57.869999
Name: Close, dtype: float64 Date
2017-09-27    55.610001
2017-09-28    55.490002
Name: Close, dtype: float64
20170930
Date
2017-09-29    56.040001
Name: Close, dtype: float64 Date
2017-12-28    64.339996
2017-12-29    63.580002
Name: Close, dtype: float64
20171231
Date
2018-01-02    66.519997
Name: Close, dtype: float64 Date
2018-04-02    59.849998
Name: Close, dtype: float64
20180331
Date
2018-04-02    59.849998
Name: Close, dtype: float64 Date
2018-07-02    62.849998
Name: Close, dtype: float64
20180630
Date
2018-06-29    62.5
Name: Close, dtype: float64 Date
2018-09-27    63.070000
2018-09-28    63.450001
Name: Close, dtype: float64
20180930
Date
2018-10-01    64.300003
Name: Close, dtype: float64 Date
2018-12-31    51.810001
Name: Close, dtype: float64
20181231
Date
2018-12-31    51.810001
Name: Close, dtype: float64 Date
2019-04-01    59.709999
Name: Close, dtype: float64
20190331
Date
2019-04-01    59.709999
Name: Close, dtype: float64 Date
2019-07-01    55.669998
Name: Close, dtype: float64
20190630
Date
2019-07-01    55.669998
Name: Close, dtype: float64 Date
2019-09-30    50.91
Name: Close, dtype: float64
20190930
Date
2019-09-30    50.91
Name: Close, dtype: float64 Date
2019-12-30    56.080002
Name: Close, dtype: float64
20191231
Date
2019-12-30    56.080002
2019-12-31    56.279999
Name: Close, dtype: float64 Date
2020-03-30    34.919998
Name: Close, dtype: float64
20080930
Date
2008-09-29    15.333333
2008-09-30    15.700000
Name: Close, dtype: float64 Date
2008-12-29    20.266666
Name: Close, dtype: float64
20081231
Date
2008-12-30    20.493334
2008-12-31    20.666666
Name: Close, dtype: float64 Date
2009-03-30    14.380000
2009-03-31    15.033334
Name: Close, dtype: float64
20090331
Date
2009-03-30    14.380000
2009-03-31    15.033334
Name: Close, dtype: float64 Date
2009-06-29    14.473333
Name: Close, dtype: float64
20090630
Date
2009-06-29    14.473333
2009-06-30    14.313334
Name: Close, dtype: float64 Date
2009-09-28    16.793333
Name: Close, dtype: float64
20090930
Date
2009-09-29    16.840000
2009-09-30    16.853333
Name: Close, dtype: float64 Date
2009-12-28    16.093334
2009-12-29    16.293333
Name: Close, dtype: float64
20091231
Date
2009-12-30    16.386667
2009-12-31    16.426666
Name: Close, dtype: float64 Date
2010-03-30    17.433332
2010-03-31    17.393333
Name: Close, dtype: float64
20100331
Date
2010-03-30    17.433332
2010-03-31    17.393333
Name: Close, dtype: float64 Date
2010-06-28    18.146667
2010-06-29    17.666666
Name: Close, dtype: float64
20100630
Date
2010-06-29    17.666666
2010-06-30    17.639999
Name: Close, dtype: float64 Date
2010-09-27    17.893333
2010-09-28    17.913334
Name: Close, dtype: float64
20100930
Date
2010-09-29    17.886667
2010-09-30    18.046667
Name: Close, dtype: float64 Date
2010-12-28    18.360001
2010-12-29    18.299999
Name: Close, dtype: float64
20101231
Date
2010-12-30    18.233334
2010-12-31    18.253334
Name: Close, dtype: float64 Date
2011-03-30    21.266666
2011-03-31    21.473333
Name: Close, dtype: float64
20110331
Date
2011-03-30    21.266666
2011-03-31    21.473333
Name: Close, dtype: float64 Date
2011-06-28    21.366667
2011-06-29    21.559999
Name: Close, dtype: float64
20110630
Date
2011-06-29    21.559999
2011-06-30    21.626667
Name: Close, dtype: float64 Date
2011-09-27    19.633333
2011-09-28    19.173334
Name: Close, dtype: float64
20110930
Date
2011-09-29    19.719999
2011-09-30    19.793333
Name: Close, dtype: float64 Date
2011-12-28    22.793333
2011-12-29    23.020000
Name: Close, dtype: float64
20111231
Date
2011-12-30    22.926666
Name: Close, dtype: float64 Date
2012-03-29    24.219999
2012-03-30    24.080000
Name: Close, dtype: float64
20120331
Date
2012-03-30    24.08
Name: Close, dtype: float64 Date
2012-06-28    25.379999
2012-06-29    25.946667
Name: Close, dtype: float64
20120630
Date
2012-06-29    25.946667
Name: Close, dtype: float64 Date
2012-09-27    24.933332
2012-09-28    24.993334
Name: Close, dtype: float64
20120930
Date
2012-10-01    24.933332
Name: Close, dtype: float64 Date
2012-12-31    25.16
Name: Close, dtype: float64
20121231
Date
2012-12-31    25.16
Name: Close, dtype: float64 Date
2013-04-01    29.433332
Name: Close, dtype: float64
20130331
Date
2013-04-01    29.433332
Name: Close, dtype: float64 Date
2013-07-01    27.780001
Name: Close, dtype: float64
20130630
Date
2013-07-01    27.780001
Name: Close, dtype: float64 Date
2013-09-30    28.573334
Name: Close, dtype: float64
20130930
Date
2013-09-30    28.573334
Name: Close, dtype: float64 Date
2013-12-30    28.84
Name: Close, dtype: float64
20131231
Date
2013-12-30    28.840000
2013-12-31    28.926666
Name: Close, dtype: float64 Date
2014-03-31    27.746666
Name: Close, dtype: float64
20140331
Date
2014-03-31    27.746666
Name: Close, dtype: float64 Date
2014-06-30    30.873333
Name: Close, dtype: float64
20140630
Date
2014-06-30    30.873333
Name: Close, dtype: float64 Date
2014-09-29    31.953333
Name: Close, dtype: float64
20140930
Date
2014-09-29    31.953333
2014-09-30    31.866667
Name: Close, dtype: float64 Date
2014-12-29    34.553333
Name: Close, dtype: float64
20141231
Date
2014-12-30    34.586666
2014-12-31    34.173332
Name: Close, dtype: float64 Date
2015-03-30    34.106667
2015-03-31    33.673332
Name: Close, dtype: float64
20150331

Date
2015-03-30    34.106667
2015-03-31    33.673332
Name: Close, dtype: float64 Date
2015-06-29    34.48
Name: Close, dtype: float64
20150630
Date
2015-06-29    34.480000
2015-06-30    34.619999
Name: Close, dtype: float64 Date
2015-09-28    35.733334
Name: Close, dtype: float64
20150930
Date
2015-09-29    35.893333
2015-09-30    36.246666
Name: Close, dtype: float64 Date
2015-12-28    36.953335
2015-12-29    37.406666
Name: Close, dtype: float64
20151231
Date
2015-12-30    37.213333
2015-12-31    36.500000
Name: Close, dtype: float64 Date
2016-03-29    36.759998
2016-03-30    37.433334
Name: Close, dtype: float64
20160331
Date
2016-03-30    37.433334
2016-03-31    37.466667
Name: Close, dtype: float64 Date
2016-06-28    37.660000
2016-06-29    38.439999
Name: Close, dtype: float64
20160630
Date
2016-06-29    38.439999
2016-06-30    39.946667
Name: Close, dtype: float64 Date
2016-09-27    38.593334
2016-09-28    38.906666
Name: Close, dtype: float64
20160930
Date
2016-09-29    38.346668
2016-09-30    38.506668
Name: Close, dtype: float64 Date
2016-12-28    44.266666
2016-12-29    44.433334
Name: Close, dtype: float64
20161231
Date
2016-12-30    44.34
Name: Close, dtype: float64 Date
2017-03-30    47.153332
2017-03-31    47.086666
Name: Close, dtype: float64
20170331
Date
2017-03-30    47.153332
2017-03-31    47.086666
Name: Close, dtype: float64 Date
2017-06-28    46.253334
2017-06-29    46.146667
Name: Close, dtype: float64
20170630
Date
2017-06-29    46.146667
2017-06-30    46.113335
Name: Close, dtype: float64 Date
2017-09-27    44.293335
2017-09-28    44.486668
Name: Close, dtype: float64
20170930
Date
2017-09-29    44.493332
Name: Close, dtype: float64 Date
2017-12-28    47.846668
2017-12-29    47.766666
Name: Close, dtype: float64
20171231
Date
2018-01-02    46.693333
Name: Close, dtype: float64 Date
2018-04-02    47.686668
Name: Close, dtype: float64
20180331
Date
2018-04-02    47.686668
Name: Close, dtype: float64 Date
2018-07-02    47.926666
Name: Close, dtype: float64
20180630
Date
2018-06-29    48.273335
Name: Close, dtype: float64 Date
2018-09-27    52.753334
2018-09-28    53.286667
Name: Close, dtype: float64
20180930
Date
2018-10-01    52.32
Name: Close, dtype: float64 Date
2018-12-31    49.273335
Name: Close, dtype: float64
20181231
Date
2018-12-31    49.273335
Name: Close, dtype: float64 Date
2019-04-01    56.546665
Name: Close, dtype: float64
20190331
Date
2019-04-01    56.546665
Name: Close, dtype: float64 Date
2019-07-01    66.419998
Name: Close, dtype: float64
20190630
Date
2019-07-01    66.419998
Name: Close, dtype: float64 Date
2019-09-30    72.230003
Name: Close, dtype: float64
20190930
Date
2019-09-30    72.230003
Name: Close, dtype: float64 Date
2019-12-30    68.629997
Name: Close, dtype: float64
20191231
Date
2019-12-30    68.629997
2019-12-31    69.099998
Name: Close, dtype: float64 Date
2020-03-30    54.509998
Name: Close, dtype: float64
20030331
Date
2003-03-31    5.805
Name: Close, dtype: float64 Date
2003-06-30    6.955
Name: Close, dtype: float64
20030630
Date
2003-06-30    6.955
Name: Close, dtype: float64 Date
2003-09-29    7.965
Name: Close, dtype: float64
20030930
Date
2003-09-29    7.965
2003-09-30    7.925
Name: Close, dtype: float64 Date
2003-12-29    8.53
Name: Close, dtype: float64
20031231
Date
2003-12-30    8.70
2003-12-31    8.52
Name: Close, dtype: float64 Date
2004-03-29    7.085
2004-03-30    7.110
Name: Close, dtype: float64
20040331
Date
2004-03-30    7.11
2004-03-31    7.12
Name: Close, dtype: float64 Date
2004-06-28    9.02
2004-06-29    9.15
Name: Close, dtype: float64
20040630
Date
2004-06-29    9.15
2004-06-30    9.02
Name: Close, dtype: float64 Date
2004-09-27    8.885
2004-09-28    9.265
Name: Close, dtype: float64
20040930
Date
2004-09-29    9.170
2004-09-30    9.345
Name: Close, dtype: float64 Date
2004-12-28    10.61
2004-12-29    10.67
Name: Close, dtype: float64
20041231
Date
2004-12-30    10.75
2004-12-31    10.66
Name: Close, dtype: float64 Date
2005-03-30    10.355
2005-03-31    10.245
Name: Close, dtype: float64
20050331
Date
2005-03-30    10.355
2005-03-31    10.245
Name: Close, dtype: float64 Date
2005-06-28    10.94
2005-06-29    10.95
Name: Close, dtype: float64
20050630
Date
2005-06-29    10.95
2005-06-30    10.74
Name: Close, dtype: float64 Date
2005-09-27    12.955
2005-09-28    13.000
Name: Close, dtype: float64
20050930
Date
2005-09-29    13.24
2005-09-30    13.64
Name: Close, dtype: float64 Date
2005-12-28    13.835
2005-12-29    13.625
Name: Close, dtype: float64
20051231
Date
2005-12-30    13.45
Name: Close, dtype: float64 Date
2006-03-30    16.225000
2006-03-31    16.299999
Name: Close, dtype: float64
20060331
Date
2006-03-30    16.225000
2006-03-31    16.299999
Name: Close, dtype: float64 Date
2006-06-28    17.33
2006-06-29    18.15
Name: Close, dtype: float64
20060630
Date
2006-06-29    18.150000
2006-06-30    18.700001
Name: Close, dtype: float64 Date
2006-09-27    13.500
2006-09-28    13.485
Name: Close, dtype: float64
20060930
Date
2006-09-29    13.565
Name: Close, dtype: float64 Date
2006-12-28    15.355
2006-12-29    15.190
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    17.245001
Name: Close, dtype: float64 Date
2007-06-28    18.285000
2007-06-29    18.264999
Name: Close, dtype: float64
20070630
Date
2007-06-29    18.264999
Name: Close, dtype: float64 Date
2007-09-27    19.049999
2007-09-28    18.730000
Name: Close, dtype: float64
20070930
Date
2007-10-01    19.355
Name: Close, dtype: float64 Date
2007-12-31    17.219999
Name: Close, dtype: float64
20071231
Date
2007-12-31    17.219999
Name: Close, dtype: float64 Date
2008-03-31    18.83
Name: Close, dtype: float64
20080331
Date
2008-03-31    18.83
Name: Close, dtype: float64 Date
2008-06-30    24.309999
Name: Close, dtype: float64
20080630
Date
2008-06-30    24.309999
Name: Close, dtype: float64 Date
2008-09-29    24.094999
Name: Close, dtype: float64
20080930
Date
2008-09-29    24.094999
2008-09-30    25.615000
Name: Close, dtype: float64 Date
2008-12-29    18.98
Name: Close, dtype: float64
20081231
Date
2008-12-30    19.455
2008-12-31    19.875
Name: Close, dtype: float64 Date
2009-03-30    13.05
2009-03-31    13.19
Name: Close, dtype: float64
20090331
Date
2009-03-30    13.05
2009-03-31    13.19
Name: Close, dtype: float64 Date
2009-06-29    16.540001
Name: Close, dtype: float64
20090630
Date
2009-06-29    16.540001
2009-06-30    16.084999
Name: Close, dtype: float64 Date
2009-09-28    19.129999
Name: Close, dtype: float64
20090930
Date
2009-09-29    19.014999
2009-09-30    18.764999
Name: Close, dtype: float64 Date
2009-12-28    20.684999
2009-12-29    20.670000
Name: Close, dtype: float64
20091231
Date
2009-12-30    20.65
2009-12-31    20.42
Name: Close, dtype: float64 Date
2010-03-30    21.379999
2010-03-31    21.059999
Name: Close, dtype: float64
20100331
Date
2010-03-30    21.379999
2010-03-31    21.059999
Name: Close, dtype: float64 Date
2010-06-28    20.715000
2010-06-29    20.040001
Name: Close, dtype: float64
20100630
Date
2010-06-29    20.040001
2010-06-30    19.945000
Name: Close, dtype: float64 Date
2010-09-27    23.455
2010-09-28    24.205
Name: Close, dtype: float64
20100930
Date
2010-09-29    23.995001
2010-09-30    23.895000
Name: Close, dtype: float64 Date
2010-12-28    26.225
2010-12-29    26.340
Name: Close, dtype: float64
20101231
Date
2010-12-30    26.620001
2010-12-31    26.445000
Name: Close, dtype: float64 Date
2011-03-30    33.610001
2011-03-31    33.915001
Name: Close, dtype: float64
20110331
Date
2011-03-30    33.610001
2011-03-31    33.915001
Name: Close, dtype: float64 Date
2011-06-28    32.564999
2011-06-29    32.610001
Name: Close, dtype: float64
20110630
Date
2011-06-29    32.610001
2011-06-30    32.860001
Name: Close, dtype: float64 Date
2011-09-27    28.400000
2011-09-28    26.950001
Name: Close, dtype: float64
20110930
Date
2011-09-29    27.730000
2011-09-30    26.434999
Name: Close, dtype: float64 Date
2011-12-28    33.974998
2011-12-29    34.660000
Name: Close, dtype: float64
20111231
Date
2011-12-30    34.974998
Name: Close, dtype: float64 Date
2012-03-29    36.895000
2012-03-30    37.685001
Name: Close, dtype: float64
20120331
Date
2012-03-30    37.685001
Name: Close, dtype: float64 Date
2012-06-28    38.090000
2012-06-29    39.005001
Name: Close, dtype: float64
20120630

Date
2012-06-29    39.005001
Name: Close, dtype: float64 Date
2012-09-27    39.799999
2012-09-28    40.145000
Name: Close, dtype: float64
20120930
Date
2012-10-01    39.514999
Name: Close, dtype: float64 Date
2012-12-31    43.77
Name: Close, dtype: float64
20121231
Date
2012-12-31    43.77
Name: Close, dtype: float64 Date
2013-04-01    50.244999
Name: Close, dtype: float64
20130331
Date
2013-04-01    50.244999
Name: Close, dtype: float64 Date
2013-07-01    53.689999
Name: Close, dtype: float64
20130630
Date
2013-07-01    53.689999
Name: Close, dtype: float64 Date
2013-09-30    62.869999
Name: Close, dtype: float64
20130930
Date
2013-09-30    62.869999
Name: Close, dtype: float64 Date
2013-12-30    74.150002
Name: Close, dtype: float64
20131231
Date
2013-12-30    74.150002
2013-12-31    74.269997
Name: Close, dtype: float64 Date
2014-03-31    77.5
Name: Close, dtype: float64
20140331
Date
2014-03-31    77.5
Name: Close, dtype: float64 Date
2014-06-30    82.589996
Name: Close, dtype: float64
20140630
Date
2014-06-30    82.589996
Name: Close, dtype: float64 Date
2014-09-29    81.57
Name: Close, dtype: float64
20140930
Date
2014-09-29    81.570000
2014-09-30    81.040001
Name: Close, dtype: float64 Date
2014-12-29    89.010002
Name: Close, dtype: float64
20141231
Date
2014-12-30    88.059998
2014-12-31    86.889999
Name: Close, dtype: float64 Date
2015-03-30    96.410004
2015-03-31    95.010002
Name: Close, dtype: float64
20150331
Date
2015-03-30    96.410004
2015-03-31    95.010002
Name: Close, dtype: float64 Date
2015-06-29    93.550003
Name: Close, dtype: float64
20150630
Date
2015-06-29    93.550003
2015-06-30    94.239998
Name: Close, dtype: float64 Date
2015-09-28    85.849998
Name: Close, dtype: float64
20150930
Date
2015-09-29    85.769997
2015-09-30    88.050003
Name: Close, dtype: float64 Date
2015-12-28    72.489998
2015-12-29    72.019997
Name: Close, dtype: float64
20151231
Date
2015-12-30    71.190002
2015-12-31    71.120003
Name: Close, dtype: float64 Date
2016-03-29    79.440002
2016-03-30    79.209999
Name: Close, dtype: float64
20160331
Date
2016-03-30    79.209999
2016-03-31    79.290001
Name: Close, dtype: float64 Date
2016-06-28    68.599998
2016-06-29    69.800003
Name: Close, dtype: float64
20160630
Date
2016-06-29    69.800003
2016-06-30    70.230003
Name: Close, dtype: float64 Date
2016-09-27    78.269997
2016-09-28    79.730003
Name: Close, dtype: float64
20160930
Date
2016-09-29    78.919998
2016-09-30    81.650002
Name: Close, dtype: float64 Date
2016-12-28    83.550003
2016-12-29    83.540001
Name: Close, dtype: float64
20161231
Date
2016-12-30    83.019997
Name: Close, dtype: float64 Date
2017-03-30    77.260002
2017-03-31    78.000000
Name: Close, dtype: float64
20170331
Date
2017-03-30    77.260002
2017-03-31    78.000000
Name: Close, dtype: float64 Date
2017-06-28    90.199997
2017-06-29    90.290001
Name: Close, dtype: float64
20170630
Date
2017-06-29    90.290001
2017-06-30    91.500000
Name: Close, dtype: float64 Date
2017-09-27    75.459999
2017-09-28    75.739998
Name: Close, dtype: float64
20170930
Date
2017-09-29    75.75
Name: Close, dtype: float64 Date
2017-12-28    81.510002
2017-12-29    81.430000
Name: Close, dtype: float64
20171231
Date
2018-01-02    82.93
Name: Close, dtype: float64 Date
2018-04-02    79.779999
Name: Close, dtype: float64
20180331
Date
2018-04-02    79.779999
Name: Close, dtype: float64 Date
2018-07-02    99.139999
Name: Close, dtype: float64
20180630
Date
2018-06-29    98.580002
Name: Close, dtype: float64 Date
2018-09-27    106.889999
2018-09-28    104.879997
Name: Close, dtype: float64
20180930
Date
2018-10-01    103.980003
Name: Close, dtype: float64 Date
2018-12-31    70.25
Name: Close, dtype: float64
20181231
Date
2018-12-31    70.25
Name: Close, dtype: float64 Date
2019-04-01    74.669998
Name: Close, dtype: float64
20190331
Date
2019-04-01    74.669998
Name: Close, dtype: float64 Date
2019-07-01    73.360001
Name: Close, dtype: float64
20190630
Date
2019-07-01    73.360001
Name: Close, dtype: float64 Date
2019-09-30    71.860001
Name: Close, dtype: float64
20190930
Date
2019-09-30    71.860001
Name: Close, dtype: float64 Date
2019-12-30    77.599998
Name: Close, dtype: float64
20191231
Date
2019-12-30    77.599998
2019-12-31    77.800003
Name: Close, dtype: float64 Date
2020-03-30    49.220001
Name: Close, dtype: float64
20030331
Date
2003-03-31    39.490002
Name: Close, dtype: float64 Date
2003-06-30    43.080002
Name: Close, dtype: float64
20030630
Date
2003-06-30    43.080002
Name: Close, dtype: float64 Date
2003-09-29    44.810001
Name: Close, dtype: float64
20030930
Date
2003-09-29    44.810001
2003-09-30    44.480000
Name: Close, dtype: float64 Date
2003-12-29    50.290001
Name: Close, dtype: float64
20031231
Date
2003-12-30    50.340000
2003-12-31    49.779999
Name: Close, dtype: float64 Date
2004-03-29    50.090000
2004-03-30    50.130001
Name: Close, dtype: float64
20040331
Date
2004-03-30    50.130001
2004-03-31    50.459999
Name: Close, dtype: float64 Date
2004-06-28    52.619999
2004-06-29    52.910000
Name: Close, dtype: float64
20040630
Date
2004-06-29    52.910000
2004-06-30    52.450001
Name: Close, dtype: float64 Date
2004-09-27    54.25
2004-09-28    55.02
Name: Close, dtype: float64
20040930
Date
2004-09-29    54.759998
2004-09-30    54.889999
Name: Close, dtype: float64 Date
2004-12-28    58.509998
2004-12-29    58.439999
Name: Close, dtype: float64
20041231
Date
2004-12-30    58.410000
2004-12-31    58.310001
Name: Close, dtype: float64 Date
2005-03-30    52.330002
2005-03-31    51.770000
Name: Close, dtype: float64
20050331
Date
2005-03-30    52.330002
2005-03-31    51.770000
Name: Close, dtype: float64 Date
2005-06-28    53.500000
2005-06-29    53.639999
Name: Close, dtype: float64
20050630
Date
2005-06-29    53.639999
2005-06-30    52.810001
Name: Close, dtype: float64 Date
2005-09-27    52.27
2005-09-28    50.84
Name: Close, dtype: float64
20050930
Date
2005-09-29    51.820000
2005-09-30    51.650002
Name: Close, dtype: float64 Date
2005-12-28    53.840000
2005-12-29    53.200001
Name: Close, dtype: float64
20051231
Date
2005-12-30    53.07
Name: Close, dtype: float64 Date
2006-03-30    51.820000
2006-03-31    51.919998
Name: Close, dtype: float64
20060331
Date
2006-03-30    51.820000
2006-03-31    51.919998
Name: Close, dtype: float64 Date
2006-06-28    47.73
2006-06-29    49.25
Name: Close, dtype: float64
20060630
Date
2006-06-29    49.250000
2006-06-30    48.970001
Name: Close, dtype: float64 Date
2006-09-27    50.980000
2006-09-28    51.099998
Name: Close, dtype: float64
20060930
Date
2006-09-29    50.509998
Name: Close, dtype: float64 Date
2006-12-28    51.080002
2006-12-29    50.630001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    48.169998
Name: Close, dtype: float64 Date
2007-06-28    45.500000
2007-06-29    44.240002
Name: Close, dtype: float64
20070630
Date
2007-06-29    44.240002
Name: Close, dtype: float64 Date
2007-09-27    49.860001
2007-09-28    49.810001
Name: Close, dtype: float64
20070930
Date
2007-10-01    50.029999
Name: Close, dtype: float64 Date
2007-12-31    44.549999
Name: Close, dtype: float64
20071231
Date
2007-12-31    44.549999
Name: Close, dtype: float64 Date
2008-03-31    52.599998
Name: Close, dtype: float64
20080331
Date
2008-03-31    52.599998
Name: Close, dtype: float64 Date
2008-06-30    52.59
Name: Close, dtype: float64
20080630
Date
2008-06-30    52.59
Name: Close, dtype: float64 Date
2008-09-29    56.720001
Name: Close, dtype: float64
20080930
Date
2008-09-29    56.720001
2008-09-30    57.529999
Name: Close, dtype: float64 Date
2008-12-29    48.529999
Name: Close, dtype: float64
20081231
Date
2008-12-30    49.910000
2008-12-31    51.150002
Name: Close, dtype: float64 Date
2009-03-30    43.919998
2009-03-31    45.560001
Name: Close, dtype: float64
20090331
Date
2009-03-30    43.919998
2009-03-31    45.560001
Name: Close, dtype: float64 Date
2009-06-29    50.360001
Name: Close, dtype: float64
20090630
Date
2009-06-29    50.360001
2009-06-30    49.610001
Name: Close, dtype: float64 Date
2009-09-28    52.599998
Name: Close, dtype: float64
20090930
Date
2009-09-29    52.139999
2009-09-30    52.000000
Name: Close, dtype: float64 Date
2009-12-28    56.049999
2009-12-29    56.139999
Name: Close, dtype: float64
20091231

Date
2009-12-30    55.610001
2009-12-31    55.369999
Name: Close, dtype: float64 Date
2010-03-30    58.049999
2010-03-31    57.650002
Name: Close, dtype: float64
20100331
Date
2010-03-30    58.049999
2010-03-31    57.650002
Name: Close, dtype: float64 Date
2010-06-28    54.900002
2010-06-29    53.340000
Name: Close, dtype: float64
20100630
Date
2010-06-29    53.34
2010-06-30    52.52
Name: Close, dtype: float64 Date
2010-09-27    53.410000
2010-09-28    54.139999
Name: Close, dtype: float64
20100930
Date
2010-09-29    54.110001
2010-09-30    54.490002
Name: Close, dtype: float64 Date
2010-12-28    56.549999
2010-12-29    56.259998
Name: Close, dtype: float64
20101231
Date
2010-12-30    56.439999
2010-12-31    55.470001
Name: Close, dtype: float64 Date
2011-03-30    51.110001
2011-03-31    51.369999
Name: Close, dtype: float64
20110331
Date
2011-03-30    51.110001
2011-03-31    51.369999
Name: Close, dtype: float64 Date
2011-06-28    49.020000
2011-06-29    49.220001
Name: Close, dtype: float64
20110630
Date
2011-06-29    49.220001
2011-06-30    49.250000
Name: Close, dtype: float64 Date
2011-09-27    39.610001
2011-09-28    37.700001
Name: Close, dtype: float64
20110930
Date
2011-09-29    39.50
2011-09-30    38.32
Name: Close, dtype: float64 Date
2011-12-28    43.450001
2011-12-29    44.459999
Name: Close, dtype: float64
20111231
Date
2011-12-30    43.900002
Name: Close, dtype: float64 Date
2012-03-29    48.459999
2012-03-30    48.000000
Name: Close, dtype: float64
20120331
Date
2012-03-30    48
Name: Close, dtype: int64 Date
2012-06-28    46.400002
2012-06-29    47.189999
Name: Close, dtype: float64
20120630
Date
2012-06-29    47.189999
Name: Close, dtype: float64 Date
2012-09-27    47.570000
2012-09-28    47.049999
Name: Close, dtype: float64
20120930
Date
2012-10-01    46.68
Name: Close, dtype: float64 Date
2012-12-31    42.59
Name: Close, dtype: float64
20121231
Date
2012-12-31    42.59
Name: Close, dtype: float64 Date
2013-04-01    44.810001
Name: Close, dtype: float64
20130331
Date
2013-04-01    44.810001
Name: Close, dtype: float64 Date
2013-07-01    46.639999
Name: Close, dtype: float64
20130630
Date
2013-07-01    46.639999
Name: Close, dtype: float64 Date
2013-09-30    49.740002
Name: Close, dtype: float64
20130930
Date
2013-09-30    49.740002
Name: Close, dtype: float64 Date
2013-12-30    56.549999
Name: Close, dtype: float64
20131231
Date
2013-12-30    56.549999
2013-12-31    56.459999
Name: Close, dtype: float64 Date
2014-03-31    54.080002
Name: Close, dtype: float64
20140331
Date
2014-03-31    54.080002
Name: Close, dtype: float64 Date
2014-06-30    52.279999
Name: Close, dtype: float64
20140630
Date
2014-06-30    52.279999
Name: Close, dtype: float64 Date
2014-09-29    46.82
Name: Close, dtype: float64
20140930
Date
2014-09-29    46.82
2014-09-30    46.52
Name: Close, dtype: float64 Date
2014-12-29    49.57
Name: Close, dtype: float64
20141231
Date
2014-12-30    49.68
2014-12-31    49.02
Name: Close, dtype: float64 Date
2015-03-30    43.540001
2015-03-31    43.209999
Name: Close, dtype: float64
20150331
Date
2015-03-30    43.540001
2015-03-31    43.209999
Name: Close, dtype: float64 Date
2015-06-29    50.540001
Name: Close, dtype: float64
20150630
Date
2015-06-29    50.540001
2015-06-30    50.650002
Name: Close, dtype: float64 Date
2015-09-28    44.189999
Name: Close, dtype: float64
20150930
Date
2015-09-29    43.869999
2015-09-30    44.439999
Name: Close, dtype: float64 Date
2015-12-28    47.480000
2015-12-29    48.400002
Name: Close, dtype: float64
20151231
Date
2015-12-30    47.93
2015-12-31    46.75
Name: Close, dtype: float64 Date
2016-03-29    49.220001
2016-03-30    49.630001
Name: Close, dtype: float64
20160331
Date
2016-03-30    49.630001
2016-03-31    48.709999
Name: Close, dtype: float64 Date
2016-06-28    47.450001
2016-06-29    48.160000
Name: Close, dtype: float64
20160630
Date
2016-06-29    48.160000
2016-06-30    49.259998
Name: Close, dtype: float64 Date
2016-09-27    49.389999
2016-09-28    50.240002
Name: Close, dtype: float64
20160930
Date
2016-09-29    49.820000
2016-09-30    50.880001
Name: Close, dtype: float64 Date
2016-12-28    63.990002
2016-12-29    63.439999
Name: Close, dtype: float64
20161231
Date
2016-12-30    62.93
Name: Close, dtype: float64 Date
2017-03-30    56.689999
2017-03-31    55.830002
Name: Close, dtype: float64
20170331
Date
2017-03-30    56.689999
2017-03-31    55.830002
Name: Close, dtype: float64 Date
2017-06-28    56.389999
2017-06-29    56.959999
Name: Close, dtype: float64
20170630
Date
2017-06-29    56.959999
2017-06-30    56.040001
Name: Close, dtype: float64 Date
2017-09-27    58.419998
2017-09-28    58.930000
Name: Close, dtype: float64
20170930
Date
2017-09-29    59.540001
Name: Close, dtype: float64 Date
2017-12-28    60.270000
2017-12-29    59.549999
Name: Close, dtype: float64
20171231
Date
2018-01-02    59.360001
Name: Close, dtype: float64 Date
2018-04-02    56.889999
Name: Close, dtype: float64
20180331
Date
2018-04-02    56.889999
Name: Close, dtype: float64 Date
2018-07-02    57.560001
Name: Close, dtype: float64
20180630
Date
2018-06-29    56.509998
Name: Close, dtype: float64 Date
2018-09-27    59.619999
2018-09-28    60.160000
Name: Close, dtype: float64
20180930
Date
2018-10-01    59.360001
Name: Close, dtype: float64 Date
2018-12-31    55.68
Name: Close, dtype: float64
20181231
Date
2018-12-31    55.68
Name: Close, dtype: float64 Date
2019-04-01    62.810001
Name: Close, dtype: float64
20190331
Date
2019-04-01    62.810001
Name: Close, dtype: float64 Date
2019-07-01    63.029999
Name: Close, dtype: float64
20190630
Date
2019-07-01    63.029999
Name: Close, dtype: float64 Date
2019-09-30    62.18
Name: Close, dtype: float64
20190930
Date
2019-09-30    62.18
Name: Close, dtype: float64 Date
2019-12-30    68.150002
Name: Close, dtype: float64
20191231
Date
2019-12-30    68.150002
2019-12-31    67.769997
Name: Close, dtype: float64 Date
2020-03-30    59.259998
Name: Close, dtype: float64
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20030331
Date
2003-03-31    15.416667
Name: Close, dtype: float64 Date
2003-06-30    20.299999
Name: Close, dtype: float64
20030630
Date
2003-06-30    20.299999
Name: Close, dtype: float64 Date
2003-09-29    23.34
Name: Close, dtype: float64
20030930
Date
2003-09-29    23.340000
2003-09-30    23.633333
Name: Close, dtype: float64 Date
2003-12-29    26.676666
Name: Close, dtype: float64
20031231
Date
2003-12-30    27.006666
2003-12-31    27.133333
Name: Close, dtype: float64 Date
2004-03-29    26.253334
2004-03-30    26.600000
Name: Close, dtype: float64
20040331
Date
2004-03-30    26.600000
2004-03-31    27.113333
Name: Close, dtype: float64 Date
2004-06-28    30.606667
2004-06-29    30.146667
Name: Close, dtype: float64
20040630
Date
2004-06-29    30.146667
2004-06-30    29.453333
Name: Close, dtype: float64 Date
2004-09-27    23.219999
2004-09-28    23.473333
Name: Close, dtype: float64
20040930
Date
2004-09-29    23.266666
2004-09-30    22.933332
Name: Close, dtype: float64 Date
2004-12-28    28.486666
2004-12-29    28.879999
Name: Close, dtype: float64
20041231
Date
2004-12-30    28.940001
2004-12-31    29.120001
Name: Close, dtype: float64 Date
2005-03-30    33.613335
2005-03-31    33.633335
Name: Close, dtype: float64
20050331
Date
2005-03-30    33.613335
2005-03-31    33.633335
Name: Close, dtype: float64 Date
2005-06-28    43.433334
2005-06-29    43.486668
Name: Close, dtype: float64
20050630
Date
2005-06-29    43.486668
2005-06-30    43.033333
Name: Close, dtype: float64 Date
2005-09-27    38.639999
2005-09-28    37.810001
Name: Close, dtype: float64
20050930
Date
2005-09-29    38.259998
2005-09-30    38.680000
Name: Close, dtype: float64 Date
2005-12-28    42.779999
2005-12-29    42.610001
Name: Close, dtype: float64
20051231
Date
2005-12-30    43.459999
Name: Close, dtype: float64 Date
2006-03-30    41.540001
2006-03-31    41.639999
Name: Close, dtype: float64
20060331
Date
2006-03-30    41.540001
2006-03-31    41.639999
Name: Close, dtype: float64 Date
2006-06-28    35.900002
2006-06-29    29.910000
Name: Close, dtype: float64
20060630

Date
2006-06-29    29.91
2006-06-30    28.90
Name: Close, dtype: float64 Date
2006-09-27    33.509998
2006-09-28    33.650002
Name: Close, dtype: float64
20060930
Date
2006-09-29    32.939999
Name: Close, dtype: float64 Date
2006-12-28    35.840000
2006-12-29    35.560001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    38.549999
Name: Close, dtype: float64 Date
2007-06-28    40.820000
2007-06-29    40.529999
Name: Close, dtype: float64
20070630
Date
2007-06-29    40.529999
Name: Close, dtype: float64 Date
2007-09-27    33.320000
2007-09-28    33.560001
Name: Close, dtype: float64
20070930
Date
2007-10-01    33.349998
Name: Close, dtype: float64 Date
2007-12-31    37.990002
Name: Close, dtype: float64
20071231
Date
2007-12-31    37.990002
Name: Close, dtype: float64 Date
2008-03-31    34.049999
Name: Close, dtype: float64
20080331
Date
2008-03-31    34.049999
Name: Close, dtype: float64 Date
2008-06-30    38.830002
Name: Close, dtype: float64
20080630
Date
2008-06-30    38.830002
Name: Close, dtype: float64 Date
2008-09-29    38.830002
Name: Close, dtype: float64
20080930
Date
2008-09-29    38.830002
2008-09-30    39.660000
Name: Close, dtype: float64 Date
2008-12-29    31.559999
Name: Close, dtype: float64
20081231
Date
2008-12-30    33.009998
2008-12-31    33.650002
Name: Close, dtype: float64 Date
2009-03-30    41.639999
2009-03-31    41.080002
Name: Close, dtype: float64
20090331
Date
2009-03-30    41.639999
2009-03-31    41.080002
Name: Close, dtype: float64 Date
2009-06-29    41.560001
Name: Close, dtype: float64
20090630
Date
2009-06-29    41.560001
2009-06-30    41.490002
Name: Close, dtype: float64 Date
2009-09-28    39.389999
Name: Close, dtype: float64
20090930
Date
2009-09-29    39.189999
2009-09-30    39.279999
Name: Close, dtype: float64 Date
2009-12-28    41.220001
2009-12-29    40.759998
Name: Close, dtype: float64
20091231
Date
2009-12-30    41.009998
2009-12-31    40.480000
Name: Close, dtype: float64 Date
2010-03-30    42.230000
2010-03-31    41.919998
Name: Close, dtype: float64
20100331
Date
2010-03-30    42.230000
2010-03-31    41.919998
Name: Close, dtype: float64 Date
2010-06-28    50.470001
2010-06-29    50.279999
Name: Close, dtype: float64
20100630
Date
2010-06-29    50.279999
2010-06-30    50.180000
Name: Close, dtype: float64 Date
2010-09-27    59.380001
2010-09-28    59.459999
Name: Close, dtype: float64
20100930
Date
2010-09-29    59.66
2010-09-30    58.68
Name: Close, dtype: float64 Date
2010-12-28    66.250000
2010-12-29    66.449997
Name: Close, dtype: float64
20101231
Date
2010-12-30    66.720001
2010-12-31    66.150002
Name: Close, dtype: float64 Date
2011-03-30    65.910004
2011-03-31    65.620003
Name: Close, dtype: float64
20110331
Date
2011-03-30    65.910004
2011-03-31    65.620003
Name: Close, dtype: float64 Date
2011-06-28    58.150002
2011-06-29    57.669998
Name: Close, dtype: float64
20110630
Date
2011-06-29    57.669998
2011-06-30    58.490002
Name: Close, dtype: float64 Date
2011-09-27    60.290001
2011-09-28    59.660000
Name: Close, dtype: float64
20110930
Date
2011-09-29    59.000000
2011-09-30    58.099998
Name: Close, dtype: float64 Date
2011-12-28    70.260002
2011-12-29    70.349998
Name: Close, dtype: float64
20111231
Date
2011-12-30    69.629997
Name: Close, dtype: float64 Date
2012-03-29    87.980003
2012-03-30    88.570000
Name: Close, dtype: float64
20120331
Date
2012-03-30    88.57
Name: Close, dtype: float64 Date
2012-06-28    65.709999
2012-06-29    68.220001
Name: Close, dtype: float64
20120630
Date
2012-06-29    68.220001
Name: Close, dtype: float64 Date
2012-09-27    68.120003
2012-09-28    68.440002
Name: Close, dtype: float64
20120930
Date
2012-10-01    67.989998
Name: Close, dtype: float64 Date
2012-12-31    72.349998
Name: Close, dtype: float64
20121231
Date
2012-12-31    72.349998
Name: Close, dtype: float64 Date
2013-04-01    82.339996
Name: Close, dtype: float64
20130331
Date
2013-04-01    82.339996
Name: Close, dtype: float64 Date
2013-07-01    81.889999
Name: Close, dtype: float64
20130630
Date
2013-07-01    81.889999
Name: Close, dtype: float64 Date
2013-09-30    82.68
Name: Close, dtype: float64
20130930
Date
2013-09-30    82.68
Name: Close, dtype: float64 Date
2013-12-30    109.629997
Name: Close, dtype: float64
20131231
Date
2013-12-30    109.629997
2013-12-31    110.680000
Name: Close, dtype: float64 Date
2014-03-31    126.5
Name: Close, dtype: float64
20140331
Date
2014-03-31    126.5
Name: Close, dtype: float64 Date
2014-06-30    134.919998
Name: Close, dtype: float64
20140630
Date
2014-06-30    134.919998
Name: Close, dtype: float64 Date
2014-09-29    130.639999
Name: Close, dtype: float64
20140930
Date
2014-09-29    130.639999
2014-09-30    130.300003
Name: Close, dtype: float64 Date
2014-12-29    161.220001
Name: Close, dtype: float64
20141231
Date
2014-12-30    160.029999
2014-12-31    159.279999
Name: Close, dtype: float64 Date
2015-03-30    152.080002
2015-03-31    149.690002
Name: Close, dtype: float64
20150331
Date
2015-03-30    152.080002
2015-03-31    149.690002
Name: Close, dtype: float64 Date
2015-06-29    158.929993
Name: Close, dtype: float64
20150630
Date
2015-06-29    158.929993
2015-06-30    159.289993
Name: Close, dtype: float64 Date
2015-09-28    171.399994
Name: Close, dtype: float64
20150930
Date
2015-09-29    170.529999
2015-09-30    189.529999
Name: Close, dtype: float64 Date
2015-12-28    150.550003
2015-12-29    152.199997
Name: Close, dtype: float64
20151231
Date
2015-12-30    151.399994
2015-12-31    150.509995
Name: Close, dtype: float64 Date
2016-03-29    163.029999
2016-03-30    163.789993
Name: Close, dtype: float64
20160331
Date
2016-03-30    163.789993
2016-03-31    160.339996
Name: Close, dtype: float64 Date
2016-06-28    156.979996
2016-06-29    161.009995
Name: Close, dtype: float64
20160630
Date
2016-06-29    161.009995
2016-06-30    161.630005
Name: Close, dtype: float64 Date
2016-09-27    151.009995
2016-09-28    149.000000
Name: Close, dtype: float64
20160930
Date
2016-09-29    146.740005
2016-09-30    149.119995
Name: Close, dtype: float64 Date
2016-12-28    170.419998
2016-12-29    170.279999
Name: Close, dtype: float64
20161231
Date
2016-12-30    169.119995
Name: Close, dtype: float64 Date
2017-03-30    148.669998
2017-03-31    148.259995
Name: Close, dtype: float64
20170331
Date
2017-03-30    148.669998
2017-03-31    148.259995
Name: Close, dtype: float64 Date
2017-06-28    116.709999
2017-06-29    116.050003
Name: Close, dtype: float64
20170630
Date
2017-06-29    116.050003
2017-06-30    116.589996
Name: Close, dtype: float64 Date
2017-09-27    99.330002
2017-09-28    99.500000
Name: Close, dtype: float64
20170930
Date
2017-09-29    99.199997
Name: Close, dtype: float64 Date
2017-12-28    99.709999
2017-12-29    99.690002
Name: Close, dtype: float64
20171231
Date
2018-01-02    106.089996
Name: Close, dtype: float64 Date
2018-04-02    111.93
Name: Close, dtype: float64
20180331
Date
2018-04-02    111.93
Name: Close, dtype: float64 Date
2018-07-02    134.699997
Name: Close, dtype: float64
20180630
Date
2018-06-29    135.699997
Name: Close, dtype: float64 Date
2018-09-27    169.789993
2018-09-28    168.330002
Name: Close, dtype: float64
20180930
Date
2018-10-01    169.600006
Name: Close, dtype: float64 Date
2018-12-31    157.460007
Name: Close, dtype: float64
20181231
Date
2018-12-31    157.460007
Name: Close, dtype: float64 Date
2019-04-01    173.630005
Name: Close, dtype: float64
20190331
Date
2019-04-01    173.630005
Name: Close, dtype: float64 Date
2019-07-01    156.589996
Name: Close, dtype: float64
20190630
Date
2019-07-01    156.589996
Name: Close, dtype: float64 Date
2019-09-30    165.399994
Name: Close, dtype: float64
20190930
Date
2019-09-30    165.399994
Name: Close, dtype: float64 Date
2019-12-30    159.119995
Name: Close, dtype: float64
20191231
Date
2019-12-30    159.119995
2019-12-31    160.160004
Name: Close, dtype: float64 Date
2020-03-30    96.5
Name: Close, dtype: float64
20030331
Date
2003-03-31    0.2525
Name: Close, dtype: float64 Date
2003-06-30    0.340357
Name: Close, dtype: float64
20030630
Date
2003-06-30    0.340357
Name: Close, dtype: float64 Date
2003-09-29    0.380357
Name: Close, dtype: float64
20030930

Date
2003-09-29    0.380357
2003-09-30    0.370000
Name: Close, dtype: float64 Date
2003-12-29    0.377679
Name: Close, dtype: float64
20031231
Date
2003-12-30    0.380000
2003-12-31    0.381607
Name: Close, dtype: float64 Date
2004-03-29    0.498393
2004-03-30    0.498571
Name: Close, dtype: float64
20040331
Date
2004-03-30    0.498571
2004-03-31    0.482857
Name: Close, dtype: float64 Date
2004-06-28    0.580179
2004-06-29    0.580357
Name: Close, dtype: float64
20040630
Date
2004-06-29    0.580357
2004-06-30    0.581071
Name: Close, dtype: float64 Date
2004-09-27    0.670179
2004-09-28    0.679286
Name: Close, dtype: float64
20040930
Date
2004-09-29    0.690714
2004-09-30    0.691964
Name: Close, dtype: float64 Date
2004-12-28    1.146071
2004-12-29    1.150714
Name: Close, dtype: float64
20041231
Date
2004-12-30    1.157143
2004-12-31    1.150000
Name: Close, dtype: float64 Date
2005-03-30    1.528571
2005-03-31    1.488214
Name: Close, dtype: float64
20050331
Date
2005-03-30    1.528571
2005-03-31    1.488214
Name: Close, dtype: float64 Date
2005-06-28    1.332500
2005-06-29    1.298929
Name: Close, dtype: float64
20050630
Date
2005-06-29    1.298929
2005-06-30    1.314643
Name: Close, dtype: float64 Date
2005-09-27    1.908571
2005-09-28    1.824286
Name: Close, dtype: float64
20050930
Date
2005-09-29    1.869286
2005-09-30    1.914643
Name: Close, dtype: float64 Date
2005-12-28    2.627500
2005-12-29    2.551786
Name: Close, dtype: float64
20051231
Date
2005-12-30    2.5675
Name: Close, dtype: float64 Date
2006-03-30    2.241071
2006-03-31    2.240000
Name: Close, dtype: float64
20060331
Date
2006-03-30    2.241071
2006-03-31    2.240000
Name: Close, dtype: float64 Date
2006-06-28    2.000714
2006-06-29    2.106071
Name: Close, dtype: float64
20060630
Date
2006-06-29    2.106071
2006-06-30    2.045357
Name: Close, dtype: float64 Date
2006-09-27    2.728929
2006-09-28    2.750357
Name: Close, dtype: float64
20060930
Date
2006-09-29    2.749286
Name: Close, dtype: float64 Date
2006-12-28    2.888214
2006-12-29    3.030000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    3.318214
Name: Close, dtype: float64 Date
2007-06-28    4.305714
2007-06-29    4.358572
Name: Close, dtype: float64
20070630
Date
2007-06-29    4.358572
Name: Close, dtype: float64 Date
2007-09-27    5.517857
2007-09-28    5.481071
Name: Close, dtype: float64
20070930
Date
2007-10-01    5.583571
Name: Close, dtype: float64 Date
2007-12-31    7.074286
Name: Close, dtype: float64
20071231
Date
2007-12-31    7.074286
Name: Close, dtype: float64 Date
2008-03-31    5.125
Name: Close, dtype: float64
20080331
Date
2008-03-31    5.125
Name: Close, dtype: float64 Date
2008-06-30    5.98
Name: Close, dtype: float64
20080630
Date
2008-06-30    5.98
Name: Close, dtype: float64 Date
2008-09-29    3.759286
Name: Close, dtype: float64
20080930
Date
2008-09-29    3.759286
2008-09-30    4.059286
Name: Close, dtype: float64 Date
2008-12-29    3.093214
Name: Close, dtype: float64
20081231
Date
2008-12-30    3.081786
2008-12-31    3.048214
Name: Close, dtype: float64 Date
2009-03-30    3.731786
2009-03-31    3.754286
Name: Close, dtype: float64
20090331
Date
2009-03-30    3.731786
2009-03-31    3.754286
Name: Close, dtype: float64 Date
2009-06-29    5.070357
Name: Close, dtype: float64
20090630
Date
2009-06-29    5.070357
2009-06-30    5.086786
Name: Close, dtype: float64 Date
2009-09-28    6.648214
Name: Close, dtype: float64
20090930
Date
2009-09-29    6.620714
2009-09-30    6.619643
Name: Close, dtype: float64 Date
2009-12-28    7.557500
2009-12-29    7.467857
Name: Close, dtype: float64
20091231
Date
2009-12-30    7.558571
2009-12-31    7.526072
Name: Close, dtype: float64 Date
2010-03-30    8.423214
2010-03-31    8.392858
Name: Close, dtype: float64
20100331
Date
2010-03-30    8.423214
2010-03-31    8.392858
Name: Close, dtype: float64 Date
2010-06-28    9.582143
2010-06-29    9.148929
Name: Close, dtype: float64
20100630
Date
2010-06-29    9.148929
2010-06-30    8.983214
Name: Close, dtype: float64 Date
2010-09-27    10.398571
2010-09-28    10.245000
Name: Close, dtype: float64
20100930
Date
2010-09-29    10.263214
2010-09-30    10.133928
Name: Close, dtype: float64 Date
2010-12-28    11.623929
2010-12-29    11.617500
Name: Close, dtype: float64
20101231
Date
2010-12-30    11.559286
2010-12-31    11.520000
Name: Close, dtype: float64 Date
2011-03-30    12.451072
2011-03-31    12.446786
Name: Close, dtype: float64
20110331
Date
2011-03-30    12.451072
2011-03-31    12.446786
Name: Close, dtype: float64 Date
2011-06-28    11.973572
2011-06-29    11.930000
Name: Close, dtype: float64
20110630
Date
2011-06-29    11.930000
2011-06-30    11.988214
Name: Close, dtype: float64 Date
2011-09-27    14.259286
2011-09-28    14.178928
Name: Close, dtype: float64
20110930
Date
2011-09-29    13.948929
2011-09-30    13.618571
Name: Close, dtype: float64 Date
2011-12-28    14.380000
2011-12-29    14.468572
Name: Close, dtype: float64
20111231
Date
2011-12-30    14.464286
Name: Close, dtype: float64 Date
2012-03-29    21.780714
2012-03-30    21.412500
Name: Close, dtype: float64
20120331
Date
2012-03-30    21.4125
Name: Close, dtype: float64 Date
2012-06-28    20.323214
2012-06-29    20.857143
Name: Close, dtype: float64
20120630
Date
2012-06-29    20.857143
Name: Close, dtype: float64 Date
2012-09-27    24.332857
2012-09-28    23.825001
Name: Close, dtype: float64
20120930
Date
2012-10-01    23.549643
Name: Close, dtype: float64 Date
2012-12-31    19.006071
Name: Close, dtype: float64
20121231
Date
2012-12-31    19.006071
Name: Close, dtype: float64 Date
2013-04-01    15.318214
Name: Close, dtype: float64
20130331
Date
2013-04-01    15.318214
Name: Close, dtype: float64 Date
2013-07-01    14.615
Name: Close, dtype: float64
20130630
Date
2013-07-01    14.615
Name: Close, dtype: float64 Date
2013-09-30    17.026785
Name: Close, dtype: float64
20130930
Date
2013-09-30    17.026785
Name: Close, dtype: float64 Date
2013-12-30    19.804285
Name: Close, dtype: float64
20131231
Date
2013-12-30    19.804285
2013-12-31    20.036428
Name: Close, dtype: float64 Date
2014-03-31    19.169285
Name: Close, dtype: float64
20140331
Date
2014-03-31    19.169285
Name: Close, dtype: float64 Date
2014-06-30    23.2325
Name: Close, dtype: float64
20140630
Date
2014-06-30    23.2325
Name: Close, dtype: float64 Date
2014-09-29    25.0275
Name: Close, dtype: float64
20140930
Date
2014-09-29    25.0275
2014-09-30    25.1875
Name: Close, dtype: float64 Date
2014-12-29    28.477501
Name: Close, dtype: float64
20141231
Date
2014-12-30    28.129999
2014-12-31    27.594999
Name: Close, dtype: float64 Date
2015-03-30    31.592501
2015-03-31    31.107500
Name: Close, dtype: float64
20150331
Date
2015-03-30    31.592501
2015-03-31    31.107500
Name: Close, dtype: float64 Date
2015-06-29    31.1325
Name: Close, dtype: float64
20150630
Date
2015-06-29    31.1325
2015-06-30    31.3575
Name: Close, dtype: float64 Date
2015-09-28    28.110001
Name: Close, dtype: float64
20150930
Date
2015-09-29    27.264999
2015-09-30    27.575001
Name: Close, dtype: float64 Date
2015-12-28    26.705000
2015-12-29    27.184999
Name: Close, dtype: float64
20151231
Date
2015-12-30    26.830000
2015-12-31    26.315001
Name: Close, dtype: float64 Date
2016-03-29    26.920000
2016-03-30    27.389999
Name: Close, dtype: float64
20160331
Date
2016-03-30    27.389999
2016-03-31    27.247499
Name: Close, dtype: float64 Date
2016-06-28    23.397499
2016-06-29    23.600000
Name: Close, dtype: float64
20160630
Date
2016-06-29    23.6
2016-06-30    23.9
Name: Close, dtype: float64 Date
2016-09-27    28.272499
2016-09-28    28.487499
Name: Close, dtype: float64
20160930
Date
2016-09-29    28.045000
2016-09-30    28.262501
Name: Close, dtype: float64 Date
2016-12-28    29.190001
2016-12-29    29.182501
Name: Close, dtype: float64
20161231
Date
2016-12-30    28.955
Name: Close, dtype: float64 Date
2017-03-30    35.982498
2017-03-31    35.915001
Name: Close, dtype: float64
20170331
Date
2017-03-30    35.982498
2017-03-31    35.915001
Name: Close, dtype: float64 Date
2017-06-28    36.457500
2017-06-29    35.919998
Name: Close, dtype: float64
20170630

Date
2017-06-29    35.919998
2017-06-30    36.005001
Name: Close, dtype: float64 Date
2017-09-27    38.557499
2017-09-28    38.320000
Name: Close, dtype: float64
20170930
Date
2017-09-29    38.529999
Name: Close, dtype: float64 Date
2017-12-28    42.770000
2017-12-29    42.307499
Name: Close, dtype: float64
20171231
Date
2018-01-02    43.064999
Name: Close, dtype: float64 Date
2018-04-02    41.669998
Name: Close, dtype: float64
20180331
Date
2018-04-02    41.669998
Name: Close, dtype: float64 Date
2018-07-02    46.794998
Name: Close, dtype: float64
20180630
Date
2018-06-29    46.2775
Name: Close, dtype: float64 Date
2018-09-27    56.237499
2018-09-28    56.435001
Name: Close, dtype: float64
20180930
Date
2018-10-01    56.814999
Name: Close, dtype: float64 Date
2018-12-31    39.435001
Name: Close, dtype: float64
20181231
Date
2018-12-31    39.435001
Name: Close, dtype: float64 Date
2019-04-01    47.810001
Name: Close, dtype: float64
20190331
Date
2019-04-01    47.810001
Name: Close, dtype: float64 Date
2019-07-01    50.387501
Name: Close, dtype: float64
20190630
Date
2019-07-01    50.387501
Name: Close, dtype: float64 Date
2019-09-30    55.9925
Name: Close, dtype: float64
20190930
Date
2019-09-30    55.9925
Name: Close, dtype: float64 Date
2019-12-30    72.879997
Name: Close, dtype: float64
20191231
Date
2019-12-30    72.879997
2019-12-31    73.412498
Name: Close, dtype: float64 Date
2020-03-30    63.702499
Name: Close, dtype: float64
20030331
Date
2003-03-31    21.26
Name: Close, dtype: float64 Date
2003-06-30    24.799999
Name: Close, dtype: float64
20030630
Date
2003-06-30    24.799999
Name: Close, dtype: float64 Date
2003-09-29    24.09
Name: Close, dtype: float64
20030930
Date
2003-09-29    24.090000
2003-09-30    23.940001
Name: Close, dtype: float64 Date
2003-12-29    24.91
Name: Close, dtype: float64
20031231
Date
2003-12-30    24.990000
2003-12-31    24.299999
Name: Close, dtype: float64 Date
2004-03-29    25.430000
2004-03-30    25.549999
Name: Close, dtype: float64
20040331
Date
2004-03-30    25.549999
2004-03-31    25.570000
Name: Close, dtype: float64 Date
2004-06-28    25.110001
2004-06-29    25.250000
Name: Close, dtype: float64
20040630
Date
2004-06-29    25.25
2004-06-30    25.60
Name: Close, dtype: float64 Date
2004-09-27    24.879999
2004-09-28    25.000000
Name: Close, dtype: float64
20040930
Date
2004-09-29    25.120001
2004-09-30    25.190001
Name: Close, dtype: float64 Date
2004-12-28    27.379999
2004-12-29    27.430000
Name: Close, dtype: float64
20041231
Date
2004-12-30    27.309999
2004-12-31    27.350000
Name: Close, dtype: float64 Date
2005-03-30    27.09
2005-03-31    27.00
Name: Close, dtype: float64
20050331
Date
2005-03-30    27.09
2005-03-31    27.00
Name: Close, dtype: float64 Date
2005-06-28    28.700001
2005-06-29    28.549999
Name: Close, dtype: float64
20050630
Date
2005-06-29    28.549999
2005-06-30    28.799999
Name: Close, dtype: float64 Date
2005-09-27    28.580000
2005-09-28    28.389999
Name: Close, dtype: float64
20050930
Date
2005-09-29    28.530001
2005-09-30    28.250000
Name: Close, dtype: float64 Date
2005-12-28    26.059999
2005-12-29    26.139999
Name: Close, dtype: float64
20051231
Date
2005-12-30    26.16
Name: Close, dtype: float64 Date
2006-03-30    26.469999
2006-03-31    26.330000
Name: Close, dtype: float64
20060331
Date
2006-03-30    26.469999
2006-03-31    26.330000
Name: Close, dtype: float64 Date
2006-06-28    27.629999
2006-06-29    27.820000
Name: Close, dtype: float64
20060630
Date
2006-06-29    27.82
2006-06-30    27.91
Name: Close, dtype: float64 Date
2006-09-27    28.809999
2006-09-28    28.750000
Name: Close, dtype: float64
20060930
Date
2006-09-29    28.549999
Name: Close, dtype: float64 Date
2006-12-28    32.290001
2006-12-29    31.910000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    31.280001
Name: Close, dtype: float64 Date
2007-06-28    29.950001
2007-06-29    30.059999
Name: Close, dtype: float64
20070630
Date
2007-06-29    30.059999
Name: Close, dtype: float64 Date
2007-09-27    28.440001
2007-09-28    28.320000
Name: Close, dtype: float64
20070930
Date
2007-10-01    28.92
Name: Close, dtype: float64 Date
2007-12-31    28.040001
Name: Close, dtype: float64
20071231
Date
2007-12-31    28.040001
Name: Close, dtype: float64 Date
2008-03-31    25.5
Name: Close, dtype: float64
20080331
Date
2008-03-31    25.5
Name: Close, dtype: float64 Date
2008-06-30    27.57
Name: Close, dtype: float64
20080630
Date
2008-06-30    27.57
Name: Close, dtype: float64 Date
2008-09-29    26.309999
Name: Close, dtype: float64
20080930
Date
2008-09-29    26.309999
2008-09-30    26.620001
Name: Close, dtype: float64 Date
2008-12-29    23.32
Name: Close, dtype: float64
20081231
Date
2008-12-30    23.730000
2008-12-31    23.700001
Name: Close, dtype: float64 Date
2009-03-30    23.410000
2009-03-31    23.120001
Name: Close, dtype: float64
20090331
Date
2009-03-30    23.410000
2009-03-31    23.120001
Name: Close, dtype: float64 Date
2009-06-29    25.309999
Name: Close, dtype: float64
20090630
Date
2009-06-29    25.309999
2009-06-30    25.040001
Name: Close, dtype: float64 Date
2009-09-28    28.309999
Name: Close, dtype: float64
20090930
Date
2009-09-29    28.27
2009-09-30    28.18
Name: Close, dtype: float64 Date
2009-12-28    30.059999
2009-12-29    30.059999
Name: Close, dtype: float64
20091231
Date
2009-12-30    29.879999
2009-12-31    29.400000
Name: Close, dtype: float64 Date
2010-03-30    28.870001
2010-03-31    28.570000
Name: Close, dtype: float64
20100331
Date
2010-03-30    28.870001
2010-03-31    28.570000
Name: Close, dtype: float64 Date
2010-06-28    28.000000
2010-06-29    27.209999
Name: Close, dtype: float64
20100630
Date
2010-06-29    27.209999
2010-06-30    27.040001
Name: Close, dtype: float64 Date
2010-09-27    29.040001
2010-09-28    29.059999
Name: Close, dtype: float64
20100930
Date
2010-09-29    29.01
2010-09-30    29.25
Name: Close, dtype: float64 Date
2010-12-28    31.360001
2010-12-29    31.469999
Name: Close, dtype: float64
20101231
Date
2010-12-30    31.440001
2010-12-31    31.200001
Name: Close, dtype: float64 Date
2011-03-30    33.849998
2011-03-31    34.099998
Name: Close, dtype: float64
20110331
Date
2011-03-30    33.849998
2011-03-31    34.099998
Name: Close, dtype: float64 Date
2011-06-28    32.610001
2011-06-29    33.099998
Name: Close, dtype: float64
20110630
Date
2011-06-29    33.099998
2011-06-30    33.250000
Name: Close, dtype: float64 Date
2011-09-27    32.009998
2011-09-28    31.049999
Name: Close, dtype: float64
20110930
Date
2011-09-29    32.950001
2011-09-30    32.450001
Name: Close, dtype: float64 Date
2011-12-28    33.450001
2011-12-29    33.660000
Name: Close, dtype: float64
20111231
Date
2011-12-30    33.349998
Name: Close, dtype: float64 Date
2012-03-29    31.190001
2012-03-30    31.459999
Name: Close, dtype: float64
20120331
Date
2012-03-30    31.459999
Name: Close, dtype: float64 Date
2012-06-28    34.779999
2012-06-29    35.070000
Name: Close, dtype: float64
20120630
Date
2012-06-29    35.07
Name: Close, dtype: float64 Date
2012-09-27    35.560001
2012-09-28    35.790001
Name: Close, dtype: float64
20120930
Date
2012-10-01    35.310001
Name: Close, dtype: float64 Date
2012-12-31    35.119999
Name: Close, dtype: float64
20121231
Date
2012-12-31    35.119999
Name: Close, dtype: float64 Date
2013-04-01    42.279999
Name: Close, dtype: float64
20130331
Date
2013-04-01    42.279999
Name: Close, dtype: float64 Date
2013-07-01    40.77
Name: Close, dtype: float64
20130630
Date
2013-07-01    40.77
Name: Close, dtype: float64 Date
2013-09-30    42.59
Name: Close, dtype: float64
20130930
Date
2013-09-30    42.59
Name: Close, dtype: float64 Date
2013-12-30    45.200001
Name: Close, dtype: float64
20131231
Date
2013-12-30    45.200001
2013-12-31    45.419998
Name: Close, dtype: float64 Date
2014-03-31    47.130001
Name: Close, dtype: float64
20140331
Date
2014-03-31    47.130001
Name: Close, dtype: float64 Date
2014-06-30    53.400002
Name: Close, dtype: float64
20140630
Date
2014-06-30    53.400002
Name: Close, dtype: float64 Date
2014-09-29    47.84
Name: Close, dtype: float64
20140930
Date
2014-09-29    47.840000
2014-09-30    47.700001
Name: Close, dtype: float64 Date
2014-12-29    58.080002
Name: Close, dtype: float64
20141231

Date
2014-12-30    56.849998
2014-12-31    55.740002
Name: Close, dtype: float64 Date
2015-03-30    55.380001
2015-03-31    55.299999
Name: Close, dtype: float64
20150331
Date
2015-03-30    55.380001
2015-03-31    55.299999
Name: Close, dtype: float64 Date
2015-06-29    51.43
Name: Close, dtype: float64
20150630
Date
2015-06-29    51.430000
2015-06-30    51.279999
Name: Close, dtype: float64 Date
2015-09-28    57.599998
Name: Close, dtype: float64
20150930
Date
2015-09-29    57.099998
2015-09-30    58.180000
Name: Close, dtype: float64 Date
2015-12-28    64.220001
2015-12-29    64.250000
Name: Close, dtype: float64
20151231
Date
2015-12-30    64.150002
2015-12-31    63.040001
Name: Close, dtype: float64 Date
2016-03-29    74.330002
2016-03-30    74.050003
Name: Close, dtype: float64
20160331
Date
2016-03-30    74.050003
2016-03-31    74.260002
Name: Close, dtype: float64 Date
2016-06-28    78.230003
2016-06-29    78.470001
Name: Close, dtype: float64
20160630
Date
2016-06-29    78.470001
2016-06-30    81.320000
Name: Close, dtype: float64 Date
2016-09-27    75.910004
2016-09-28    75.839996
Name: Close, dtype: float64
20160930
Date
2016-09-29    74.879997
2016-09-30    74.470001
Name: Close, dtype: float64 Date
2016-12-28    73.690002
2016-12-29    74.650002
Name: Close, dtype: float64
20161231
Date
2016-12-30    74.150002
Name: Close, dtype: float64 Date
2017-03-30    79.000000
2017-03-31    78.989998
Name: Close, dtype: float64
20170331
Date
2017-03-30    79.000000
2017-03-31    78.989998
Name: Close, dtype: float64 Date
2017-06-28    83.349998
2017-06-29    82.750000
Name: Close, dtype: float64
20170630
Date
2017-06-29    82.750000
2017-06-30    82.949997
Name: Close, dtype: float64 Date
2017-09-27    84.099998
2017-09-28    84.300003
Name: Close, dtype: float64
20170930
Date
2017-09-29    83.839996
Name: Close, dtype: float64 Date
2017-12-28    85.589996
2017-12-29    85.889999
Name: Close, dtype: float64
20171231
Date
2018-01-02    85.040001
Name: Close, dtype: float64 Date
2018-04-02    82.849998
Name: Close, dtype: float64
20180331
Date
2018-04-02    82.849998
Name: Close, dtype: float64 Date
2018-07-02    90.339996
Name: Close, dtype: float64
20180630
Date
2018-06-29    90.139999
Name: Close, dtype: float64 Date
2018-09-27    93.290001
2018-09-28    93.910004
Name: Close, dtype: float64
20180930
Date
2018-10-01    92.75
Name: Close, dtype: float64 Date
2018-12-31    92.720001
Name: Close, dtype: float64
20181231
Date
2018-12-31    92.720001
Name: Close, dtype: float64 Date
2019-04-01    102.07
Name: Close, dtype: float64
20190331
Date
2019-04-01    102.07
Name: Close, dtype: float64 Date
2019-07-01    105.269997
Name: Close, dtype: float64
20190630
Date
2019-07-01    105.269997
Name: Close, dtype: float64 Date
2019-09-30    113.889999
Name: Close, dtype: float64
20190930
Date
2019-09-30    113.889999
Name: Close, dtype: float64 Date
2019-12-30    110.470001
Name: Close, dtype: float64
20191231
Date
2019-12-30    110.470001
2019-12-31    111.860001
Name: Close, dtype: float64 Date
2020-03-30    102.82
Name: Close, dtype: float64
20170331
Date
2017-03-30    7.01
2017-03-31    7.08
Name: Close, dtype: float64 Date
2017-06-28    4.32
2017-06-29    4.32
Name: Close, dtype: float64
20170630
Date
2017-06-29    4.320
2017-06-30    4.261
Name: Close, dtype: float64 Date
2017-09-27    3.95
2017-09-28    3.95
Name: Close, dtype: float64
20170930
Date
2017-09-29    3.89
Name: Close, dtype: float64 Date
2017-12-28    4.103
2017-12-29    4.330
Name: Close, dtype: float64
20171231
Date
2018-01-02    4.09
Name: Close, dtype: float64 Date
2018-04-02    6.78
Name: Close, dtype: float64
20180331
Date
2018-04-02    6.78
Name: Close, dtype: float64 Date
2018-07-02    5.95
Name: Close, dtype: float64
20180630
Date
2018-06-29    6.12
Name: Close, dtype: float64 Date
2018-09-27    5.97
2018-09-28    5.98
Name: Close, dtype: float64
20180930
Date
2018-10-01    5.5
Name: Close, dtype: float64 Date
2018-12-31    2.87
Name: Close, dtype: float64
20181231
Date
2018-12-31    2.87
Name: Close, dtype: float64 Date
2019-04-01    3.1
Name: Close, dtype: float64
20190331
Date
2019-04-01    3.1
Name: Close, dtype: float64 Date
2019-07-01    4.56
Name: Close, dtype: float64
20190630
Date
2019-07-01    4.56
Name: Close, dtype: float64 Date
2019-09-30    3.77
Name: Close, dtype: float64
20190930
Date
2019-09-30    3.77
Name: Close, dtype: float64 Date
2019-12-30    3.05
Name: Close, dtype: float64
20191231
Date
2019-12-30    3.05
2019-12-31    3.08
Name: Close, dtype: float64 Date
2020-03-30    3.55
Name: Close, dtype: float64
20130331
Date
2013-04-01    1593
Name: Close, dtype: int64 Date
2013-07-01    903.599976
Name: Close, dtype: float64
20130630
Date
2013-07-01    903.599976
Name: Close, dtype: float64 Date
2013-09-30    1011.599976
Name: Close, dtype: float64
20130930
Date
2013-09-30    1011.599976
Name: Close, dtype: float64 Date
2013-12-30    433.799988
Name: Close, dtype: float64
20131231
Date
2013-12-30    433.799988
2013-12-31    417.600006
Name: Close, dtype: float64 Date
2014-03-31    304.200012
Name: Close, dtype: float64
20140331
Date
2014-03-31    304.200012
Name: Close, dtype: float64 Date
2014-06-30    302.399994
Name: Close, dtype: float64
20140630
Date
2014-06-30    302.399994
Name: Close, dtype: float64 Date
2014-09-29    239.399994
Name: Close, dtype: float64
20140930
Date
2014-09-29    239.399994
2014-09-30    243.000000
Name: Close, dtype: float64 Date
2014-12-29    300.600006
Name: Close, dtype: float64
20141231
Date
2014-12-30    232.199997
2014-12-31    257.399994
Name: Close, dtype: float64 Date
2015-03-30    343.799988
2015-03-31    324.000000
Name: Close, dtype: float64
20150331
Date
2015-03-30    343.799988
2015-03-31    324.000000
Name: Close, dtype: float64 Date
2015-06-29    208.800003
Name: Close, dtype: float64
20150630
Date
2015-06-29    208.800003
2015-06-30    203.399994
Name: Close, dtype: float64 Date
2015-09-28    138.600006
Name: Close, dtype: float64
20150930
Date
2015-09-29    135.000000
2015-09-30    138.600006
Name: Close, dtype: float64 Date
2015-12-28    63.000000
2015-12-29    61.200001
Name: Close, dtype: float64
20151231
Date
2015-12-30    63.000000
2015-12-31    57.599998
Name: Close, dtype: float64 Date
2016-03-29    63.000000
2016-03-30    73.800003
Name: Close, dtype: float64
20160331
Date
2016-03-30    73.800003
2016-03-31    61.200001
Name: Close, dtype: float64 Date
2016-06-28    52.200001
2016-06-29    52.200001
Name: Close, dtype: float64
20160630
Date
2016-06-29    52.200001
2016-06-30    50.400002
Name: Close, dtype: float64 Date
2016-09-27    24.360001
2016-09-28    25.799999
Name: Close, dtype: float64
20160930
Date
2016-09-29    24.840000
2016-09-30    25.200001
Name: Close, dtype: float64 Date
2016-12-28    16.32
2016-12-29    15.72
Name: Close, dtype: float64
20161231
Date
2016-12-30    16.92
Name: Close, dtype: float64 Date
2017-03-30    9.48
2017-03-31    9.12
Name: Close, dtype: float64
20170331
Date
2017-03-30    9.48
2017-03-31    9.12
Name: Close, dtype: float64 Date
2017-06-28    6.24
2017-06-29    6.60
Name: Close, dtype: float64
20170630
Date
2017-06-29    6.6
2017-06-30    6.0
Name: Close, dtype: float64 Date
2017-09-27    5.04
2017-09-28    6.24
Name: Close, dtype: float64
20170930
Date
2017-09-29    6.36
Name: Close, dtype: float64 Date
2017-12-28    2.76
2017-12-29    3.12
Name: Close, dtype: float64
20171231
Date
2018-01-02    3.24
Name: Close, dtype: float64 Date
2018-04-02    4.8
Name: Close, dtype: float64
20180331
Date
2018-04-02    4.8
Name: Close, dtype: float64 Date
2018-07-02    2.21
Name: Close, dtype: float64
20180630
Date
2018-06-29    2.2
Name: Close, dtype: float64 Date
2018-09-27    1.81
2018-09-28    1.75
Name: Close, dtype: float64
20180930
Date
2018-10-01    1.64
Name: Close, dtype: float64 Date
2018-12-31    1.02
Name: Close, dtype: float64
20181231
Date
2018-12-31    1.02
Name: Close, dtype: float64 Date
2019-04-01    3.58
Name: Close, dtype: float64
20190331
Date
2019-04-01    3.58
Name: Close, dtype: float64 Date
2019-07-01    2.52
Name: Close, dtype: float64
20190630
Date
2019-07-01    2.52
Name: Close, dtype: float64 Date
2019-09-30    1.96
Name: Close, dtype: float64
20190930

Date
2019-09-30    1.96
Name: Close, dtype: float64 Date
2019-12-30    1.6
Name: Close, dtype: float64
20191231
Date
2019-12-30    1.60
2019-12-31    1.57
Name: Close, dtype: float64 Date
2020-03-30    1.18
Name: Close, dtype: float64
20030331
Date
2003-03-31    7.05
Name: Close, dtype: float64 Date
2003-06-30    8.15
Name: Close, dtype: float64
20030630
Date
2003-06-30    8.15
Name: Close, dtype: float64 Date
2003-09-29    9.38
Name: Close, dtype: float64
20030930
Date
2003-09-29    9.38
2003-09-30    9.17
Name: Close, dtype: float64 Date
2003-12-29    9.71
Name: Close, dtype: float64
20031231
Date
2003-12-30    9.67
2003-12-31    9.69
Name: Close, dtype: float64 Date
2004-03-29    11.30
2004-03-30    11.35
Name: Close, dtype: float64
20040331
Date
2004-03-30    11.35
2004-03-31    11.43
Name: Close, dtype: float64 Date
2004-06-28    11.42
2004-06-29    11.29
Name: Close, dtype: float64
20040630
Date
2004-06-29    11.29
2004-06-30    11.50
Name: Close, dtype: float64 Date
2004-09-27    10.05
2004-09-28    10.14
Name: Close, dtype: float64
20040930
Date
2004-09-29    10.14
2004-09-30    10.36
Name: Close, dtype: float64 Date
2004-12-28    11.20
2004-12-29    11.21
Name: Close, dtype: float64
20041231
Date
2004-12-30    11.21
2004-12-31    11.30
Name: Close, dtype: float64 Date
2005-03-30    11.90
2005-03-31    12.03
Name: Close, dtype: float64
20050331
Date
2005-03-30    11.90
2005-03-31    12.03
Name: Close, dtype: float64 Date
2005-06-28    12.94
2005-06-29    13.05
Name: Close, dtype: float64
20050630
Date
2005-06-29    13.05
2005-06-30    13.21
Name: Close, dtype: float64 Date
2005-09-27    14.58
2005-09-28    14.64
Name: Close, dtype: float64
20050930
Date
2005-09-29    14.78
2005-09-30    14.87
Name: Close, dtype: float64 Date
2005-12-28    12.76
2005-12-29    12.92
Name: Close, dtype: float64
20051231
Date
2005-12-30    12.85
Name: Close, dtype: float64 Date
2006-03-30    12.15
2006-03-31    11.93
Name: Close, dtype: float64
20060331
Date
2006-03-30    12.15
2006-03-31    11.93
Name: Close, dtype: float64 Date
2006-06-28    12.49
2006-06-29    12.48
Name: Close, dtype: float64
20060630
Date
2006-06-29    12.48
2006-06-30    12.50
Name: Close, dtype: float64 Date
2006-09-27    14.36
2006-09-28    14.37
Name: Close, dtype: float64
20060930
Date
2006-09-29    14.32
Name: Close, dtype: float64 Date
2006-12-28    16.67
2006-12-29    16.58
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    17.940001
Name: Close, dtype: float64 Date
2007-06-28    17.309999
2007-06-29    17.400000
Name: Close, dtype: float64
20070630
Date
2007-06-29    17.4
Name: Close, dtype: float64 Date
2007-09-27    16.320000
2007-09-28    16.030001
Name: Close, dtype: float64
20070930
Date
2007-10-01    16.4
Name: Close, dtype: float64 Date
2007-12-31    17.129999
Name: Close, dtype: float64
20071231
Date
2007-12-31    17.129999
Name: Close, dtype: float64 Date
2008-03-31    14.27
Name: Close, dtype: float64
20080331
Date
2008-03-31    14.27
Name: Close, dtype: float64 Date
2008-06-30    16.049999
Name: Close, dtype: float64
20080630
Date
2008-06-30    16.049999
Name: Close, dtype: float64 Date
2008-09-29    14.22
Name: Close, dtype: float64
20080930
Date
2008-09-29    14.22
2008-09-30    14.57
Name: Close, dtype: float64 Date
2008-12-29    12.11
Name: Close, dtype: float64
20081231
Date
2008-12-30    12.38
2008-12-31    12.62
Name: Close, dtype: float64 Date
2009-03-30    10.11
2009-03-31    10.43
Name: Close, dtype: float64
20090331
Date
2009-03-30    10.11
2009-03-31    10.43
Name: Close, dtype: float64 Date
2009-06-29    11.24
Name: Close, dtype: float64
20090630
Date
2009-06-29    11.24
2009-06-30    11.08
Name: Close, dtype: float64 Date
2009-09-28    12.49
Name: Close, dtype: float64
20090930
Date
2009-09-29    12.60
2009-09-30    12.43
Name: Close, dtype: float64 Date
2009-12-28    14.81
2009-12-29    14.76
Name: Close, dtype: float64
20091231
Date
2009-12-30    14.69
2009-12-31    14.51
Name: Close, dtype: float64 Date
2010-03-30    14.44
2010-03-31    14.36
Name: Close, dtype: float64
20100331
Date
2010-03-30    14.44
2010-03-31    14.36
Name: Close, dtype: float64 Date
2010-06-28    13.72
2010-06-29    13.31
Name: Close, dtype: float64
20100630
Date
2010-06-29    13.31
2010-06-30    13.16
Name: Close, dtype: float64 Date
2010-09-27    15.72
2010-09-28    15.84
Name: Close, dtype: float64
20100930
Date
2010-09-29    15.76
2010-09-30    15.72
Name: Close, dtype: float64 Date
2010-12-28    15.85
2010-12-29    15.83
Name: Close, dtype: float64
20101231
Date
2010-12-30    15.76
2010-12-31    15.72
Name: Close, dtype: float64 Date
2011-03-30    17.680000
2011-03-31    17.559999
Name: Close, dtype: float64
20110331
Date
2011-03-30    17.680000
2011-03-31    17.559999
Name: Close, dtype: float64 Date
2011-06-28    19.24
2011-06-29    19.34
Name: Close, dtype: float64
20110630
Date
2011-06-29    19.34
2011-06-30    19.35
Name: Close, dtype: float64 Date
2011-09-27    19.230000
2011-09-28    19.120001
Name: Close, dtype: float64
20110930
Date
2011-09-29    19.959999
2011-09-30    19.620001
Name: Close, dtype: float64 Date
2011-12-28    20.17
2011-12-29    20.23
Name: Close, dtype: float64
20111231
Date
2011-12-30    20.09
Name: Close, dtype: float64 Date
2012-03-29    19.350000
2012-03-30    19.719999
Name: Close, dtype: float64
20120331
Date
2012-03-30    19.719999
Name: Close, dtype: float64 Date
2012-06-28    20.620001
2012-06-29    20.670000
Name: Close, dtype: float64
20120630
Date
2012-06-29    20.67
Name: Close, dtype: float64 Date
2012-09-27    21.299999
2012-09-28    21.299999
Name: Close, dtype: float64
20120930
Date
2012-10-01    21.15
Name: Close, dtype: float64 Date
2012-12-31    19.25
Name: Close, dtype: float64
20121231
Date
2012-12-31    19.25
Name: Close, dtype: float64 Date
2013-04-01    23.799999
Name: Close, dtype: float64
20130331
Date
2013-04-01    23.799999
Name: Close, dtype: float64 Date
2013-07-01    23.27
Name: Close, dtype: float64
20130630
Date
2013-07-01    23.27
Name: Close, dtype: float64 Date
2013-09-30    23.969999
Name: Close, dtype: float64
20130930
Date
2013-09-30    23.969999
Name: Close, dtype: float64 Date
2013-12-30    23.110001
Name: Close, dtype: float64
20131231
Date
2013-12-30    23.110001
2013-12-31    23.180000
Name: Close, dtype: float64 Date
2014-03-31    23.690001
Name: Close, dtype: float64
20140331
Date
2014-03-31    23.690001
Name: Close, dtype: float64 Date
2014-06-30    25.540001
Name: Close, dtype: float64
20140630
Date
2014-06-30    25.540001
Name: Close, dtype: float64 Date
2014-09-29    24.459999
Name: Close, dtype: float64
20140930
Date
2014-09-29    24.459999
2014-09-30    24.469999
Name: Close, dtype: float64 Date
2014-12-29    24.290001
Name: Close, dtype: float64
20141231
Date
2014-12-30    23.82
2014-12-31    23.43
Name: Close, dtype: float64 Date
2015-03-30    20.629999
2015-03-31    20.410000
Name: Close, dtype: float64
20150331
Date
2015-03-30    20.629999
2015-03-31    20.410000
Name: Close, dtype: float64 Date
2015-06-29    19.26
Name: Close, dtype: float64
20150630
Date
2015-06-29    19.260000
2015-06-30    19.030001
Name: Close, dtype: float64 Date
2015-09-28    17.540001
Name: Close, dtype: float64
20150930
Date
2015-09-29    17.530001
2015-09-30    18.040001
Name: Close, dtype: float64 Date
2015-12-28    18.180000
2015-12-29    18.459999
Name: Close, dtype: float64
20151231
Date
2015-12-30    18.299999
2015-12-31    18.360001
Name: Close, dtype: float64 Date
2016-03-29    21.25
2016-03-30    20.85
Name: Close, dtype: float64
20160331
Date
2016-03-30    20.85
2016-03-31    20.92
Name: Close, dtype: float64 Date
2016-06-28    23.620001
2016-06-29    24.000000
Name: Close, dtype: float64
20160630
Date
2016-06-29    24
2016-06-30    24
Name: Close, dtype: int64 Date
2016-09-27    23.879999
2016-09-28    24.120001
Name: Close, dtype: float64
20160930
Date
2016-09-29    23.58
2016-09-30    23.23
Name: Close, dtype: float64 Date
2016-12-28    24.440001
2016-12-29    24.730000
Name: Close, dtype: float64
20161231
Date
2016-12-30    24.639999
Name: Close, dtype: float64 Date
2017-03-30    27.51
2017-03-31    27.57
Name: Close, dtype: float64
20170331
Date
2017-03-30    27.51
2017-03-31    27.57
Name: Close, dtype: float64 Date
2017-06-28    27.830000
2017-06-29    27.459999
Name: Close, dtype: float64
20170630

Date
2017-06-29    27.459999
2017-06-30    27.379999
Name: Close, dtype: float64 Date
2017-09-27    29.08
2017-09-28    29.15
Name: Close, dtype: float64
20170930
Date
2017-09-29    29.209999
Name: Close, dtype: float64 Date
2017-12-28    28.360001
2017-12-29    28.360001
Name: Close, dtype: float64
20171231
Date
2018-01-02    28.02
Name: Close, dtype: float64 Date
2018-04-02    26.98
Name: Close, dtype: float64
20180331
Date
2018-04-02    26.98
Name: Close, dtype: float64 Date
2018-07-02    27.57
Name: Close, dtype: float64
20180630
Date
2018-06-29    27.709999
Name: Close, dtype: float64 Date
2018-09-27    27.42
2018-09-28    27.65
Name: Close, dtype: float64
20180930
Date
2018-10-01    27.540001
Name: Close, dtype: float64 Date
2018-12-31    28.23
Name: Close, dtype: float64
20181231
Date
2018-12-31    28.23
Name: Close, dtype: float64 Date
2019-04-01    30.700001
Name: Close, dtype: float64
20190331
Date
2019-04-01    30.700001
Name: Close, dtype: float64 Date
2019-07-01    28.49
Name: Close, dtype: float64
20190630
Date
2019-07-01    28.49
Name: Close, dtype: float64 Date
2019-09-30    30.18
Name: Close, dtype: float64
20190930
Date
2019-09-30    30.18
Name: Close, dtype: float64 Date
2019-12-30    26.91
Name: Close, dtype: float64
20191231
Date
2019-12-30    26.91
2019-12-31    27.27
Name: Close, dtype: float64 Date
2020-03-30    16.23
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
Date
2005-12-30    14.458246
Name: Close, dtype: float64 Date
2006-03-30    13.419152
2006-03-31    13.520093
Name: Close, dtype: float64
20060331
Date
2006-03-30    13.419152
2006-03-31    13.520093
Name: Close, dtype: float64 Date
2006-06-28    11.697226
2006-06-29    11.774416
Name: Close, dtype: float64
20060630
Date
2006-06-29    11.774416
2006-06-30    11.679413
Name: Close, dtype: float64 Date
2006-09-27    12.617566
2006-09-28    12.552252
Name: Close, dtype: float64
20060930
Date
2006-09-29    12.445374
Name: Close, dtype: float64 Date
2006-12-28    14.196988
2006-12-29    14.179175
Name: Close, dtype: float64
20070331
Date
2007-03-30    14.256365
Name: Close, dtype: float64 Date
2007-06-28    14.107924
2007-06-29    14.072297
Name: Close, dtype: float64
20070630
Date
2007-06-29    14.072297
Name: Close, dtype: float64 Date
2007-09-27    10.355310
2007-09-28    10.379062
Name: Close, dtype: float64
20070930
Date
2007-10-01    10.236557
Name: Close, dtype: float64 Date
2007-12-31    8.674948
Name: Close, dtype: float64
20071231
Date
2007-12-31    8.674948
Name: Close, dtype: float64 Date
2008-03-31    10.883764
Name: Close, dtype: float64
20080331
Date
2008-03-31    10.883764
Name: Close, dtype: float64 Date
2008-06-30    7.481474
Name: Close, dtype: float64
20080630
Date
2008-06-30    7.481474
Name: Close, dtype: float64 Date
2008-09-29    7.59429
Name: Close, dtype: float64
20080930
Date
2008-09-29    7.594290
2008-09-30    8.728387
Name: Close, dtype: float64 Date
2008-12-29    10.189055
Name: Close, dtype: float64
20081231
Date
2008-12-30    10.396874
2008-12-31    10.539379
Name: Close, dtype: float64 Date
2009-03-30    11.103458
2009-03-31    11.584410
Name: Close, dtype: float64
20090331
Date
2009-03-30    11.103458
2009-03-31    11.584410
Name: Close, dtype: float64 Date
2009-06-29    8.140556
Name: Close, dtype: float64
20090630
Date
2009-06-29    8.140556
2009-06-30    8.033678
Name: Close, dtype: float64 Date
2009-09-28    9.019333
Name: Close, dtype: float64
20090930
Date
2009-09-29    9.185588
2009-09-30    8.954019
Name: Close, dtype: float64 Date
2009-12-28    8.140556
2009-12-29    8.122744
Name: Close, dtype: float64
20091231
Date
2009-12-30    8.075242
2009-12-31    7.992115
Name: Close, dtype: float64 Date
2010-03-30    8.722449
2010-03-31    8.799639
Name: Close, dtype: float64
20100331
Date
2010-03-30    8.722449
2010-03-31    8.799639
Name: Close, dtype: float64 Date
2010-06-28    7.986177
2010-06-29    7.665543
Name: Close, dtype: float64
20100630
Date
2010-06-29    7.665543
2010-06-30    7.713044
Name: Close, dtype: float64 Date
2010-09-27    9.084647
2010-09-28    9.363718
Name: Close, dtype: float64
20100930
Date
2010-09-29    9.310279
2010-09-30    9.328093
Name: Close, dtype: float64 Date
2010-12-28    8.093056
2010-12-29    8.193995
Name: Close, dtype: float64
20101231
Date
2010-12-30    8.176183
2010-12-31    8.122744
Name: Close, dtype: float64 Date
2011-03-30    8.407752
2011-03-31    8.389939
Name: Close, dtype: float64
20110331
Date
2011-03-30    8.407752
2011-03-31    8.389939
Name: Close, dtype: float64 Date
2011-06-28    9.286529
2011-06-29    9.369657
Name: Close, dtype: float64
20110630
Date
2011-06-29    9.369657
2011-06-30    9.345905
Name: Close, dtype: float64 Date
2011-09-27    9.090585
2011-09-28    8.942143
Name: Close, dtype: float64
20110930
Date
2011-09-29    9.185588
2011-09-30    9.013395
Name: Close, dtype: float64 Date
2011-12-28    9.464659
2011-12-29    9.559662
Name: Close, dtype: float64
20111231
Date
2011-12-30    9.458721
Name: Close, dtype: float64 Date
2012-03-29    10.699696
2012-03-30    10.705634
Name: Close, dtype: float64
20120331
Date
2012-03-30    10.705634
Name: Close, dtype: float64 Date
2012-06-28    11.364716
2012-06-29    11.435968
Name: Close, dtype: float64
20120630
Date
2012-06-29    11.435968
Name: Close, dtype: float64 Date
2012-09-27    12.748195
2012-09-28    12.700693
Name: Close, dtype: float64
20120930
Date
2012-10-01    12.783821
Name: Close, dtype: float64 Date
2012-12-31    13.983232
Name: Close, dtype: float64
20121231
Date
2012-12-31    13.983232
Name: Close, dtype: float64 Date
2013-04-01    14.90951
Name: Close, dtype: float64
20130331
Date
2013-04-01    14.90951
Name: Close, dtype: float64 Date
2013-07-01    14.125736
Name: Close, dtype: float64
20130630
Date
2013-07-01    14.125736
Name: Close, dtype: float64 Date
2013-09-30    15.794224
Name: Close, dtype: float64
20130930
Date
2013-09-30    15.794224
Name: Close, dtype: float64 Date
2013-12-30    19.321205
Name: Close, dtype: float64
20131231
Date
2013-12-30    19.321205
2013-12-31    19.267765
Name: Close, dtype: float64 Date
2014-03-31    18.66806
Name: Close, dtype: float64
20140331
Date
2014-03-31    18.66806
Name: Close, dtype: float64 Date
2014-06-30    19.451834
Name: Close, dtype: float64
20140630
Date
2014-06-30    19.451834
Name: Close, dtype: float64 Date
2014-09-29    20.115524
Name: Close, dtype: float64
20140930
Date
2014-09-29    20.115524
2014-09-30    20.028881
Name: Close, dtype: float64 Date
2014-12-29    25.458485
Name: Close, dtype: float64
20141231
Date
2014-12-30    25.371841
2014-12-31    24.873646
Name: Close, dtype: float64 Date
2015-03-30    26.418772
2015-03-31    26.541515
Name: Close, dtype: float64
20150331
Date
2015-03-30    26.418772
2015-03-31    26.541515
Name: Close, dtype: float64 Date
2015-06-29    26.187725
Name: Close, dtype: float64
20150630
Date
2015-06-29    26.187725
2015-06-30    26.707581
Name: Close, dtype: float64 Date
2015-09-28    25.833935
Name: Close, dtype: float64
20150930
Date
2015-09-29    25.090252
2015-09-30    25.610107
Name: Close, dtype: float64 Date
2015-12-28    24.931408
2015-12-29    25.119133
Name: Close, dtype: float64
20151231
Date
2015-12-30    25.018051
2015-12-31    25.032492
Name: Close, dtype: float64 Date
2016-03-29    24.324909
2016-03-30    24.534296
Name: Close, dtype: float64
20160331
Date
2016-03-30    24.534296
2016-03-31    24.476534
Name: Close, dtype: float64 Date
2016-06-28    25.790613
2016-06-29    26.462093
Name: Close, dtype: float64
20160630
Date
2016-06-29    26.462093
2016-06-30    27.075811
Name: Close, dtype: float64 Date
2016-09-27    26.866426
2016-09-28    27.010830
Name: Close, dtype: float64
20160930
Date
2016-09-29    26.606499
2016-09-30    26.649820
Name: Close, dtype: float64 Date
2016-12-28    24.397112
2016-12-29    24.296028
Name: Close, dtype: float64
20161231
Date
2016-12-30    24.519855
Name: Close, dtype: float64 Date
2017-03-30    28.267147
2017-03-31    28.115524
Name: Close, dtype: float64
20170331
Date
2017-03-30    28.267147
2017-03-31    28.115524
Name: Close, dtype: float64 Date
2017-06-28    32.310471
2017-06-29    32.231049
Name: Close, dtype: float64
20170630

Date
2017-06-29    32.231049
2017-06-30    32.368233
Name: Close, dtype: float64 Date
2017-09-27    33.891697
2017-09-28    33.963898
Name: Close, dtype: float64
20170930
Date
2017-09-29    34.267147
Name: Close, dtype: float64 Date
2017-12-28    39.299999
2017-12-29    39.240002
Name: Close, dtype: float64
20171231
Date
2018-01-02    38.470001
Name: Close, dtype: float64 Date
2018-04-02    39.16
Name: Close, dtype: float64
20180331
Date
2018-04-02    39.16
Name: Close, dtype: float64 Date
2018-07-02    37.360001
Name: Close, dtype: float64
20180630
Date
2018-06-29    37.619999
Name: Close, dtype: float64 Date
2018-09-27    39.099998
2018-09-28    39.349998
Name: Close, dtype: float64
20180930
Date
2018-10-01    38.650002
Name: Close, dtype: float64 Date
2018-12-31    31.440001
Name: Close, dtype: float64
20181231
Date
2018-12-31    31.440001
Name: Close, dtype: float64 Date
2019-04-01    38.060001
Name: Close, dtype: float64
20190331
Date
2019-04-01    38.060001
Name: Close, dtype: float64 Date
2019-07-01    40.689999
Name: Close, dtype: float64
20190630
Date
2019-07-01    40.689999
Name: Close, dtype: float64 Date
2019-09-30    44.41
Name: Close, dtype: float64
20190930
Date
2019-09-30    44.41
Name: Close, dtype: float64 Date
2019-12-30    45.119999
Name: Close, dtype: float64
20191231
Date
2019-12-30    45.119999
2019-12-31    45.349998
Name: Close, dtype: float64 Date
2020-03-30    26.4
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20030331
Date
2003-03-31    16.299999
Name: Close, dtype: float64 Date
2003-06-30    16.309999
Name: Close, dtype: float64
20030630
Date
2003-06-30    16.309999
Name: Close, dtype: float64 Date
2003-09-29    17
Name: Close, dtype: int64
20030930
Date
2003-09-29    17
2003-09-30    17
Name: Close, dtype: int64 Date
2003-12-29    17.75
Name: Close, dtype: float64
20031231
Date
2003-12-30    17.75
2003-12-31    17.75
Name: Close, dtype: float64 Date
2004-03-29    17.75
2004-03-30    18.25
Name: Close, dtype: float64
20040331
Date
2004-03-30    18.25
2004-03-31    18.25
Name: Close, dtype: float64 Date
2004-06-28    17.5
2004-06-29    17.5
Name: Close, dtype: float64
20040630
Date
2004-06-29    17.5
2004-06-30    17.5
Name: Close, dtype: float64 Date
2004-09-27    19.700001
2004-09-28    19.700001
Name: Close, dtype: float64
20040930
Date
2004-09-29    19.700001
2004-09-30    19.700001
Name: Close, dtype: float64 Date
2004-12-28    18.290001
2004-12-29    18.290001
Name: Close, dtype: float64
20041231
Date
2004-12-30    18.290001
2004-12-31    18.290001
Name: Close, dtype: float64 Date
2005-03-30    15.97
2005-03-31    15.97
Name: Close, dtype: float64
20050331
Date
2005-03-30    15.97
2005-03-31    15.97
Name: Close, dtype: float64 Date
2005-06-28    17.41
2005-06-29    17.41
Name: Close, dtype: float64
20050630
Date
2005-06-29    17.410000
2005-06-30    17.110001
Name: Close, dtype: float64 Date
2005-09-27    16.25
2005-09-28    16.25
Name: Close, dtype: float64
20050930
Date
2005-09-29    16.25
2005-09-30    14.24
Name: Close, dtype: float64 Date
2005-12-28    15.20
2005-12-29    15.75
Name: Close, dtype: float64
20051231
Date
2005-12-30    15.75
Name: Close, dtype: float64 Date
2006-03-30    15.69
2006-03-31    15.70
Name: Close, dtype: float64
20060331
Date
2006-03-30    15.69
2006-03-31    15.70
Name: Close, dtype: float64 Date
2006-06-28    15
2006-06-29    15
Name: Close, dtype: int64
20060630
Date
2006-06-29    15.00
2006-06-30    14.15
Name: Close, dtype: float64 Date
2006-09-27    15.09
2006-09-28    15.09
Name: Close, dtype: float64
20060930
Date
2006-09-29    15.09
Name: Close, dtype: float64 Date
2006-12-28    12.25
2006-12-29    12.00
Name: Close, dtype: float64
20061231
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20030331
Date
2003-03-31    10.97
Name: Close, dtype: float64 Date
2003-06-30    13.023334
Name: Close, dtype: float64
20030630
Date
2003-06-30    13.023334
Name: Close, dtype: float64 Date
2003-09-29    14.91
Name: Close, dtype: float64
20030930
Date
2003-09-29    14.910000
2003-09-30    14.736667
Name: Close, dtype: float64 Date
2003-12-29    17.333334
Name: Close, dtype: float64
20031231
Date
2003-12-30    17.260000
2003-12-31    17.353333
Name: Close, dtype: float64 Date
2004-03-29    18.743334
2004-03-30    18.596666
Name: Close, dtype: float64
20040331
Date
2004-03-30    18.596666
2004-03-31    18.559999
Name: Close, dtype: float64 Date
2004-06-28    16.646667
2004-06-29    16.696667
Name: Close, dtype: float64
20040630
Date
2004-06-29    16.696667
2004-06-30    16.693333
Name: Close, dtype: float64 Date
2004-09-27    17.946667
2004-09-28    18.030001
Name: Close, dtype: float64
20040930
Date
2004-09-29    18.333334
2004-09-30    18.586666
Name: Close, dtype: float64 Date
2004-12-28    23.32
2004-12-29    23.32
Name: Close, dtype: float64
20041231
Date
2004-12-30    23.443333
2004-12-31    23.216667
Name: Close, dtype: float64 Date
2005-03-30    22.750000
2005-03-31    22.883333
Name: Close, dtype: float64
20050331
Date
2005-03-30    22.750000
2005-03-31    22.883333
Name: Close, dtype: float64 Date
2005-06-28    25.453333
2005-06-29    25.736666
Name: Close, dtype: float64
20050630
Date
2005-06-29    25.736666
2005-06-30    25.660000
Name: Close, dtype: float64 Date
2005-09-27    27.163334
2005-09-28    27.219999
Name: Close, dtype: float64
20050930
Date
2005-09-29    27.633333
2005-09-30    27.986666
Name: Close, dtype: float64 Date
2005-12-28    31.666666
2005-12-29    31.493334
Name: Close, dtype: float64
20051231
Date
2005-12-30    31.336666
Name: Close, dtype: float64 Date
2006-03-30    31.476667
2006-03-31    31.413334
Name: Close, dtype: float64
20060331
Date
2006-03-30    31.476667
2006-03-31    31.413334
Name: Close, dtype: float64 Date
2006-06-28    27.916666
2006-06-29    28.846666
Name: Close, dtype: float64
20060630
Date
2006-06-29    28.846666
2006-06-30    28.936666
Name: Close, dtype: float64 Date
2006-09-27    34.900002
2006-09-28    35.156666
Name: Close, dtype: float64
20060930
Date
2006-09-29    35.25
Name: Close, dtype: float64 Date
2006-12-28    37.016666
2006-12-29    36.723331
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    40.276669
Name: Close, dtype: float64 Date
2007-06-28    44.806667
2007-06-29    44.156666
Name: Close, dtype: float64
20070630
Date
2007-06-29    44.156666
Name: Close, dtype: float64 Date
2007-09-27    42.18
2007-09-28    42.50
Name: Close, dtype: float64
20070930
Date
2007-10-01    43.476665
Name: Close, dtype: float64 Date
2007-12-31    38.143333
Name: Close, dtype: float64
20071231
Date
2007-12-31    38.143333
Name: Close, dtype: float64 Date
2008-03-31    32.330002
Name: Close, dtype: float64
20080331
Date
2008-03-31    32.330002
Name: Close, dtype: float64 Date
2008-06-30    30.549999
Name: Close, dtype: float64
20080630
Date
2008-06-30    30.549999
Name: Close, dtype: float64 Date
2008-09-29    27.933332
Name: Close, dtype: float64
20080930
Date
2008-09-29    27.933332
2008-09-30    29.376667
Name: Close, dtype: float64 Date
2008-12-29    19.83
Name: Close, dtype: float64
20081231
Date
2008-12-30    21.136667
2008-12-31    21.260000
Name: Close, dtype: float64 Date
2009-03-30    17.049999
2009-03-31    17.956667
Name: Close, dtype: float64
20090331
Date
2009-03-30    17.049999
2009-03-31    17.956667
Name: Close, dtype: float64 Date
2009-06-29    24.02
Name: Close, dtype: float64
20090630
Date
2009-06-29    24.020000
2009-06-30    24.003334
Name: Close, dtype: float64 Date
2009-09-28    33.973331
Name: Close, dtype: float64
20090930

Date
2009-09-29    33.750000
2009-09-30    33.533333
Name: Close, dtype: float64 Date
2009-12-28    35.376667
2009-12-29    35.146667
Name: Close, dtype: float64
20091231
Date
2009-12-30    35.133335
2009-12-31    35.116665
Name: Close, dtype: float64 Date
2010-03-30    37.233334
2010-03-31    36.966667
Name: Close, dtype: float64
20100331
Date
2010-03-30    37.233334
2010-03-31    36.966667
Name: Close, dtype: float64 Date
2010-06-28    29.99
2010-06-29    28.57
Name: Close, dtype: float64
20100630
Date
2010-06-29    28.57
2010-06-30    28.73
Name: Close, dtype: float64 Date
2010-09-27    35.806667
2010-09-28    35.996666
Name: Close, dtype: float64
20100930
Date
2010-09-29    35.596668
2010-09-30    35.633335
Name: Close, dtype: float64 Date
2010-12-28    36.790001
2010-12-29    36.703335
Name: Close, dtype: float64
20101231
Date
2010-12-30    36.833332
2010-12-31    37.070000
Name: Close, dtype: float64 Date
2011-03-30    40.933334
2011-03-31    41.693333
Name: Close, dtype: float64
20110331
Date
2011-03-30    40.933334
2011-03-31    41.693333
Name: Close, dtype: float64 Date
2011-06-28    42.220001
2011-06-29    43.093334
Name: Close, dtype: float64
20110630
Date
2011-06-29    43.093334
2011-06-30    43.763332
Name: Close, dtype: float64 Date
2011-09-27    33.913334
2011-09-28    32.543335
Name: Close, dtype: float64
20110930
Date
2011-09-29    33.503334
2011-09-30    31.879999
Name: Close, dtype: float64 Date
2011-12-28    31.323334
2011-12-29    32.029999
Name: Close, dtype: float64
20111231
Date
2011-12-30    32.02
Name: Close, dtype: float64 Date
2012-03-29    41.096668
2012-03-30    41.343334
Name: Close, dtype: float64
20120331
Date
2012-03-30    41.343334
Name: Close, dtype: float64 Date
2012-06-28    35.290001
2012-06-29    36.996666
Name: Close, dtype: float64
20120630
Date
2012-06-29    36.996666
Name: Close, dtype: float64 Date
2012-09-27    41.613335
2012-09-28    41.689999
Name: Close, dtype: float64
20120930
Date
2012-10-01    41.950001
Name: Close, dtype: float64 Date
2012-12-31    41.900002
Name: Close, dtype: float64
20121231
Date
2012-12-31    41.900002
Name: Close, dtype: float64 Date
2013-04-01    49.896667
Name: Close, dtype: float64
20130331
Date
2013-04-01    49.896667
Name: Close, dtype: float64 Date
2013-07-01    46.186668
Name: Close, dtype: float64
20130630
Date
2013-07-01    46.186668
Name: Close, dtype: float64 Date
2013-09-30    50.549999
Name: Close, dtype: float64
20130930
Date
2013-09-30    50.549999
Name: Close, dtype: float64 Date
2013-12-30    57.189999
Name: Close, dtype: float64
20131231
Date
2013-12-30    57.189999
2013-12-31    57.730000
Name: Close, dtype: float64 Date
2014-03-31    54.18
Name: Close, dtype: float64
20140331
Date
2014-03-31    54.18
Name: Close, dtype: float64 Date
2014-06-30    57.84
Name: Close, dtype: float64
20140630
Date
2014-06-30    57.84
Name: Close, dtype: float64 Date
2014-09-29    54.799999
Name: Close, dtype: float64
20140930
Date
2014-09-29    54.799999
2014-09-30    54.610001
Name: Close, dtype: float64 Date
2014-12-29    56.450001
Name: Close, dtype: float64
20141231
Date
2014-12-30    56.020000
2014-12-31    55.369999
Name: Close, dtype: float64 Date
2015-03-30    51.77
2015-03-31    51.32
Name: Close, dtype: float64
20150331
Date
2015-03-30    51.77
2015-03-31    51.32
Name: Close, dtype: float64 Date
2015-06-29    48.889999
Name: Close, dtype: float64
20150630
Date
2015-06-29    48.889999
2015-06-30    49.029999
Name: Close, dtype: float64 Date
2015-09-28    36.700001
Name: Close, dtype: float64
20150930
Date
2015-09-29    36.360001
2015-09-30    37.259998
Name: Close, dtype: float64 Date
2015-12-28    36.919998
2015-12-29    37.400002
Name: Close, dtype: float64
20151231
Date
2015-12-30    37.029999
2015-12-31    36.820000
Name: Close, dtype: float64 Date
2016-03-29    39.099998
2016-03-30    39.139999
Name: Close, dtype: float64
20160331
Date
2016-03-30    39.139999
2016-03-31    39.049999
Name: Close, dtype: float64 Date
2016-06-28    31.02
2016-06-29    32.48
Name: Close, dtype: float64
20160630
Date
2016-06-29    32.480000
2016-06-30    33.369999
Name: Close, dtype: float64 Date
2016-09-27    34.619999
2016-09-28    34.939999
Name: Close, dtype: float64
20160930
Date
2016-09-29    34.740002
2016-09-30    35.570000
Name: Close, dtype: float64 Date
2016-12-28    39.470001
2016-12-29    39.410000
Name: Close, dtype: float64
20161231
Date
2016-12-30    39.580002
Name: Close, dtype: float64 Date
2017-03-30    42.220001
2017-03-31    42.139999
Name: Close, dtype: float64
20170331
Date
2017-03-30    42.220001
2017-03-31    42.139999
Name: Close, dtype: float64 Date
2017-06-28    44.869999
2017-06-29    44.549999
Name: Close, dtype: float64
20170630
Date
2017-06-29    44.549999
2017-06-30    44.790001
Name: Close, dtype: float64 Date
2017-09-27    44.480000
2017-09-28    44.549999
Name: Close, dtype: float64
20170930
Date
2017-09-29    44.509998
Name: Close, dtype: float64 Date
2017-12-28    43.529999
2017-12-29    43.330002
Name: Close, dtype: float64
20171231
Date
2018-01-02    43.25
Name: Close, dtype: float64 Date
2018-04-02    33.450001
Name: Close, dtype: float64
20180331
Date
2018-04-02    33.450001
Name: Close, dtype: float64 Date
2018-07-02    31.610001
Name: Close, dtype: float64
20180630
Date
2018-06-29    32.049999
Name: Close, dtype: float64 Date
2018-09-27    31.030001
2018-09-28    30.410000
Name: Close, dtype: float64
20180930
Date
2018-10-01    30.49
Name: Close, dtype: float64 Date
2018-12-31    29.66
Name: Close, dtype: float64
20181231
Date
2018-12-31    29.66
Name: Close, dtype: float64 Date
2019-04-01    33.779999
Name: Close, dtype: float64
20190331
Date
2019-04-01    33.779999
Name: Close, dtype: float64 Date
2019-07-01    35
Name: Close, dtype: int64
20190630
Date
2019-07-01    35
Name: Close, dtype: int64 Date
2019-09-30    28.860001
Name: Close, dtype: float64
20190930
Date
2019-09-30    28.860001
Name: Close, dtype: float64 Date
2019-12-30    25.82
Name: Close, dtype: float64
20191231
Date
2019-12-30    25.82
2019-12-31    25.98
Name: Close, dtype: float64 Date
2020-03-30    17.76
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20030331
Date
2003-03-31    34.970001
Name: Close, dtype: float64 Date
2003-06-30    39.889999
Name: Close, dtype: float64
20030630
Date
2003-06-30    39.889999
Name: Close, dtype: float64 Date
2003-09-29    42.490002
Name: Close, dtype: float64
20030930
Date
2003-09-29    42.490002
2003-09-30    42.160000
Name: Close, dtype: float64 Date
2003-12-29    45.389999
Name: Close, dtype: float64
20031231
Date
2003-12-30    45.660000
2003-12-31    45.290001
Name: Close, dtype: float64 Date
2004-03-29    51.919998
2004-03-30    52.259998
Name: Close, dtype: float64
20040331
Date
2004-03-30    52.259998
2004-03-31    52.779999
Name: Close, dtype: float64 Date
2004-06-28    45.869999
2004-06-29    45.860001
Name: Close, dtype: float64
20040630
Date
2004-06-29    45.860001
2004-06-30    45.910000
Name: Close, dtype: float64 Date
2004-09-27    43.130001
2004-09-28    43.290001
Name: Close, dtype: float64
20040930
Date
2004-09-29    43.98
2004-09-30    44.41
Name: Close, dtype: float64 Date
2004-12-28    46.450001
2004-12-29    46.700001
Name: Close, dtype: float64
20041231
Date
2004-12-30    46.970001
2004-12-31    47.070000
Name: Close, dtype: float64 Date
2005-03-30    49.830002
2005-03-31    50.299999
Name: Close, dtype: float64
20050331
Date
2005-03-30    49.830002
2005-03-31    50.299999
Name: Close, dtype: float64 Date
2005-06-28    47.200001
2005-06-29    47.180000
Name: Close, dtype: float64
20050630
Date
2005-06-29    47.180000
2005-06-30    46.939999
Name: Close, dtype: float64 Date
2005-09-27    47.419998
2005-09-28    47.740002
Name: Close, dtype: float64
20050930
Date
2005-09-29    48.400002
2005-09-30    48.540001
Name: Close, dtype: float64 Date
2005-12-28    44.580002
2005-12-29    44.349998
Name: Close, dtype: float64
20051231
Date
2005-12-30    44
Name: Close, dtype: int64 Date
2006-03-30    39.860001
2006-03-31    39.700001
Name: Close, dtype: float64
20060331
Date
2006-03-30    39.860001
2006-03-31    39.700001
Name: Close, dtype: float64 Date
2006-06-28    44.82
2006-06-29    45.25
Name: Close, dtype: float64
20060630

Date
2006-06-29    45.250000
2006-06-30    44.700001
Name: Close, dtype: float64 Date
2006-09-27    48.480000
2006-09-28    48.369999
Name: Close, dtype: float64
20060930
Date
2006-09-29    47.950001
Name: Close, dtype: float64 Date
2006-12-28    48.889999
2006-12-29    48.470001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    53.32
Name: Close, dtype: float64 Date
2007-06-28    62.959999
2007-06-29    63.660000
Name: Close, dtype: float64
20070630
Date
2007-06-29    63.66
Name: Close, dtype: float64 Date
2007-09-27    53.900002
2007-09-28    53.419998
Name: Close, dtype: float64
20070930
Date
2007-10-01    53.740002
Name: Close, dtype: float64 Date
2007-12-31    51.439999
Name: Close, dtype: float64
20071231
Date
2007-12-31    51.439999
Name: Close, dtype: float64 Date
2008-03-31    50.610001
Name: Close, dtype: float64
20080331
Date
2008-03-31    50.610001
Name: Close, dtype: float64 Date
2008-06-30    40.639999
Name: Close, dtype: float64
20080630
Date
2008-06-30    40.639999
Name: Close, dtype: float64 Date
2008-09-29    50.419998
Name: Close, dtype: float64
20080930
Date
2008-09-29    50.419998
2008-09-30    50.689999
Name: Close, dtype: float64 Date
2008-12-29    42.419998
Name: Close, dtype: float64
20081231
Date
2008-12-30    43.209999
2008-12-31    43.360001
Name: Close, dtype: float64 Date
2009-03-30    36.259998
2009-03-31    37.270000
Name: Close, dtype: float64
20090331
Date
2009-03-30    36.259998
2009-03-31    37.270000
Name: Close, dtype: float64 Date
2009-06-29    48.849998
Name: Close, dtype: float64
20090630
Date
2009-06-29    48.849998
2009-06-30    48.660000
Name: Close, dtype: float64 Date
2009-09-28    54.279999
Name: Close, dtype: float64
20090930
Date
2009-09-29    53.980000
2009-09-30    53.009998
Name: Close, dtype: float64 Date
2009-12-28    62.099998
2009-12-29    62.490002
Name: Close, dtype: float64
20091231
Date
2009-12-30    62.50
2009-12-31    61.75
Name: Close, dtype: float64 Date
2010-03-30    60.349998
2010-03-31    60.259998
Name: Close, dtype: float64
20100331
Date
2010-03-30    60.349998
2010-03-31    60.259998
Name: Close, dtype: float64 Date
2010-06-28    62.040001
2010-06-29    60.680000
Name: Close, dtype: float64
20100630
Date
2010-06-29    60.680000
2010-06-30    60.220001
Name: Close, dtype: float64 Date
2010-09-27    61.049999
2010-09-28    61.270000
Name: Close, dtype: float64
20100930
Date
2010-09-29    60.750000
2010-09-30    60.529999
Name: Close, dtype: float64 Date
2010-12-28    65.519997
2010-12-29    65.389999
Name: Close, dtype: float64
20101231
Date
2010-12-30    65.529999
2010-12-31    65.650002
Name: Close, dtype: float64 Date
2011-03-30    71.260002
2011-03-31    71.389999
Name: Close, dtype: float64
20110331
Date
2011-03-30    71.260002
2011-03-31    71.389999
Name: Close, dtype: float64 Date
2011-06-28    75.959999
2011-06-29    76.290001
Name: Close, dtype: float64
20110630
Date
2011-06-29    76.290001
2011-06-30    76.440002
Name: Close, dtype: float64 Date
2011-09-27    75.110001
2011-09-28    73.709999
Name: Close, dtype: float64
20110930
Date
2011-09-29    73.900002
2011-09-30    72.889999
Name: Close, dtype: float64 Date
2011-12-28    78.360001
2011-12-29    78.629997
Name: Close, dtype: float64
20111231
Date
2011-12-30    78.169998
Name: Close, dtype: float64 Date
2012-03-29    81.089996
2012-03-30    81.360001
Name: Close, dtype: float64
20120331
Date
2012-03-30    81.360001
Name: Close, dtype: float64 Date
2012-06-28    74.250000
2012-06-29    75.519997
Name: Close, dtype: float64
20120630
Date
2012-06-29    75.519997
Name: Close, dtype: float64 Date
2012-09-27    85.949997
2012-09-28    86.330002
Name: Close, dtype: float64
20120930
Date
2012-10-01    87.129997
Name: Close, dtype: float64 Date
2012-12-31    86.239998
Name: Close, dtype: float64
20121231
Date
2012-12-31    86.239998
Name: Close, dtype: float64 Date
2013-04-01    98.949997
Name: Close, dtype: float64
20130331
Date
2013-04-01    98.949997
Name: Close, dtype: float64 Date
2013-07-01    104.080002
Name: Close, dtype: float64
20130630
Date
2013-07-01    104.080002
Name: Close, dtype: float64 Date
2013-09-30    105.040001
Name: Close, dtype: float64
20130930
Date
2013-09-30    105.040001
Name: Close, dtype: float64 Date
2013-12-30    103.650002
Name: Close, dtype: float64
20131231
Date
2013-12-30    103.650002
2013-12-31    103.620003
Name: Close, dtype: float64 Date
2014-03-31    97.239998
Name: Close, dtype: float64
20140331
Date
2014-03-31    97.239998
Name: Close, dtype: float64 Date
2014-06-30    106.57
Name: Close, dtype: float64
20140630
Date
2014-06-30    106.57
Name: Close, dtype: float64 Date
2014-09-29    98.440002
Name: Close, dtype: float64
20140930
Date
2014-09-29    98.440002
2014-09-30    98.989998
Name: Close, dtype: float64 Date
2014-12-29    103.099998
Name: Close, dtype: float64
20141231
Date
2014-12-30    102.500000
2014-12-31    100.980003
Name: Close, dtype: float64 Date
2015-03-30    117.129997
2015-03-31    115.730003
Name: Close, dtype: float64
20150331
Date
2015-03-30    117.129997
2015-03-31    115.730003
Name: Close, dtype: float64 Date
2015-06-29    108.379997
Name: Close, dtype: float64
20150630
Date
2015-06-29    108.379997
2015-06-30    108.410004
Name: Close, dtype: float64 Date
2015-09-28    113.010002
Name: Close, dtype: float64
20150930
Date
2015-09-29    112.540001
2015-09-30    114.089996
Name: Close, dtype: float64 Date
2015-12-28    124.230003
2015-12-29    124.800003
Name: Close, dtype: float64
20151231
Date
2015-12-30    123.949997
2015-12-31    123.339996
Name: Close, dtype: float64 Date
2016-03-29    129.979996
2016-03-30    130.179993
Name: Close, dtype: float64
20160331
Date
2016-03-30    130.179993
2016-03-31    129.839996
Name: Close, dtype: float64 Date
2016-06-28    146.979996
2016-06-29    149.110001
Name: Close, dtype: float64
20160630
Date
2016-06-29    149.110001
2016-06-30    152.410004
Name: Close, dtype: float64 Date
2016-09-27    133.649994
2016-09-28    134.720001
Name: Close, dtype: float64
20160930
Date
2016-09-29    134.770004
2016-09-30    135.539993
Name: Close, dtype: float64 Date
2016-12-28    127.959999
2016-12-29    129.149994
Name: Close, dtype: float64
20161231
Date
2016-12-30    128.059998
Name: Close, dtype: float64 Date
2017-03-30    131.259995
2017-03-31    131.080002
Name: Close, dtype: float64
20170331
Date
2017-03-30    131.259995
2017-03-31    131.080002
Name: Close, dtype: float64 Date
2017-06-28    119.809998
2017-06-29    118.019997
Name: Close, dtype: float64
20170630
Date
2017-06-29    118.019997
2017-06-30    118.330002
Name: Close, dtype: float64 Date
2017-09-27    106.800003
2017-09-28    105.120003
Name: Close, dtype: float64
20170930
Date
2017-09-29    104.93
Name: Close, dtype: float64 Date
2017-12-28    124.889999
2017-12-29    124.239998
Name: Close, dtype: float64
20171231
Date
2018-01-02    123.720001
Name: Close, dtype: float64 Date
2018-04-02    119.769997
Name: Close, dtype: float64
20180331
Date
2018-04-02    119.769997
Name: Close, dtype: float64 Date
2018-07-02    105.160004
Name: Close, dtype: float64
20180630
Date
2018-06-29    107.480003
Name: Close, dtype: float64 Date
2018-09-27    102.370003
2018-09-28    102.610001
Name: Close, dtype: float64
20180930
Date
2018-10-01    102.510002
Name: Close, dtype: float64 Date
2018-12-31    93.489998
Name: Close, dtype: float64
20181231
Date
2018-12-31    93.489998
Name: Close, dtype: float64 Date
2019-04-01    115.730003
Name: Close, dtype: float64
20190331
Date
2019-04-01    115.730003
Name: Close, dtype: float64 Date
2019-07-01    116.510002
Name: Close, dtype: float64
20190630
Date
2019-07-01    116.510002
Name: Close, dtype: float64 Date
2019-09-30    110.019997
Name: Close, dtype: float64
20190930
Date
2019-09-30    110.019997
Name: Close, dtype: float64 Date
2019-12-30    103.150002
Name: Close, dtype: float64
20191231
Date
2019-12-30    103.150002
2019-12-31    104.129997
Name: Close, dtype: float64 Date
2020-03-30    110.629997
Name: Close, dtype: float64
20190630
Date
2019-07-01    3.52
Name: Close, dtype: float64 Date
2019-09-30    0.59
Name: Close, dtype: float64
20190930
Date
2019-09-30    0.59
Name: Close, dtype: float64 Date
2019-12-30    0.625
Name: Close, dtype: float64
20191231

Date
2019-12-30    0.625
2019-12-31    0.630
Name: Close, dtype: float64 Date
2020-03-30    1.05
Name: Close, dtype: float64
20190331
Date
2019-04-01    23.629999
Name: Close, dtype: float64 Date
2019-07-01    26.82
Name: Close, dtype: float64
20190630
Date
2019-07-01    26.82
Name: Close, dtype: float64 Date
2019-09-30    26.809999
Name: Close, dtype: float64
20190930
Date
2019-09-30    26.809999
Name: Close, dtype: float64 Date
2019-12-30    35.740002
Name: Close, dtype: float64
20191231
Date
2019-12-30    35.740002
2019-12-31    35.689999
Name: Close, dtype: float64 Date
2020-03-30    31.370001
Name: Close, dtype: float64
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20160930
error
20161231
error
20170331
error
20170630
error
20170930
error
20171231
error
20180331
error
20180630
error
20180930
error
20181231
error
20190331
error
20190630
error
20190930
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20030331
Date
2003-03-31    8.985
Name: Close, dtype: float64 Date
2003-06-30    10.685
Name: Close, dtype: float64
20030630
Date
2003-06-30    10.685
Name: Close, dtype: float64 Date
2003-09-29    11.34
Name: Close, dtype: float64
20030930
Date
2003-09-29    11.340
2003-09-30    11.295
Name: Close, dtype: float64 Date
2003-12-29    12.07
Name: Close, dtype: float64
20031231
Date
2003-12-30    12.150
2003-12-31    12.095
Name: Close, dtype: float64 Date
2004-03-29    13.005
2004-03-30    13.105
Name: Close, dtype: float64
20040331
Date
2004-03-30    13.105
2004-03-31    13.220
Name: Close, dtype: float64 Date
2004-06-28    12.570
2004-06-29    12.575
Name: Close, dtype: float64
20040630
Date
2004-06-29    12.575
2004-06-30    12.735
Name: Close, dtype: float64 Date
2004-09-27    12.575
2004-09-28    12.570
Name: Close, dtype: float64
20040930
Date
2004-09-29    12.455
2004-09-30    12.615
Name: Close, dtype: float64 Date
2004-12-28    13.170
2004-12-29    13.175
Name: Close, dtype: float64
20041231
Date
2004-12-30    13.305
2004-12-31    13.255
Name: Close, dtype: float64 Date
2005-03-30    13.360
2005-03-31    13.475
Name: Close, dtype: float64
20050331
Date
2005-03-30    13.360
2005-03-31    13.475
Name: Close, dtype: float64 Date
2005-06-28    14.400
2005-06-29    14.425
Name: Close, dtype: float64
20050630
Date
2005-06-29    14.425
2005-06-30    14.470
Name: Close, dtype: float64 Date
2005-09-27    14.12
2005-09-28    14.04
Name: Close, dtype: float64
20050930
Date
2005-09-29    14.175
2005-09-30    14.050
Name: Close, dtype: float64 Date
2005-12-28    13.42
2005-12-29    13.45
Name: Close, dtype: float64
20051231
Date
2005-12-30    13.395
Name: Close, dtype: float64 Date
2006-03-30    14.6
2006-03-31    14.5
Name: Close, dtype: float64
20060331
Date
2006-03-30    14.6
2006-03-31    14.5
Name: Close, dtype: float64 Date
2006-06-28    17.09
2006-06-29    17.34
Name: Close, dtype: float64
20060630
Date
2006-06-29    17.340000
2006-06-30    17.514999
Name: Close, dtype: float64 Date
2006-09-27    18.225
2006-09-28    18.150
Name: Close, dtype: float64
20060930
Date
2006-09-29    18.055
Name: Close, dtype: float64 Date
2006-12-28    20.125
2006-12-29    20.000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    19.4
Name: Close, dtype: float64 Date
2007-06-28    18.200001
2007-06-29    18.325001
Name: Close, dtype: float64
20070630
Date
2007-06-29    18.325001
Name: Close, dtype: float64 Date
2007-09-27    16.709999
2007-09-28    16.549999
Name: Close, dtype: float64
20070930
Date
2007-10-01    16.73
Name: Close, dtype: float64 Date
2007-12-31    18.145
Name: Close, dtype: float64
20071231
Date
2007-12-31    18.145
Name: Close, dtype: float64 Date
2008-03-31    15.585
Name: Close, dtype: float64
20080331
Date
2008-03-31    15.585
Name: Close, dtype: float64 Date
2008-06-30    15.855
Name: Close, dtype: float64
20080630
Date
2008-06-30    15.855
Name: Close, dtype: float64 Date
2008-09-29    15.15
Name: Close, dtype: float64
20080930
Date
2008-09-29    15.15
2008-09-30    15.44
Name: Close, dtype: float64 Date
2008-12-29    12.375
Name: Close, dtype: float64
20081231
Date
2008-12-30    12.735
2008-12-31    12.890
Name: Close, dtype: float64 Date
2009-03-30    11.78
2009-03-31    11.91
Name: Close, dtype: float64
20090331
Date
2009-03-30    11.78
2009-03-31    11.91
Name: Close, dtype: float64 Date
2009-06-29    14.185
Name: Close, dtype: float64
20090630
Date
2009-06-29    14.185
2009-06-30    14.160
Name: Close, dtype: float64 Date
2009-09-28    16.635
Name: Close, dtype: float64
20090930
Date
2009-09-29    16.770000
2009-09-30    16.540001
Name: Close, dtype: float64 Date
2009-12-28    18.709999
2009-12-29    18.740000
Name: Close, dtype: float64
20091231
Date
2009-12-30    18.764999
2009-12-31    18.445000
Name: Close, dtype: float64 Date
2010-03-30    19.590000
2010-03-31    19.469999
Name: Close, dtype: float64
20100331
Date
2010-03-30    19.590000
2010-03-31    19.469999
Name: Close, dtype: float64 Date
2010-06-28    18.955000
2010-06-29    18.434999
Name: Close, dtype: float64
20100630
Date
2010-06-29    18.434999
2010-06-30    18.280001
Name: Close, dtype: float64 Date
2010-09-27    20.209999
2010-09-28    20.055000
Name: Close, dtype: float64
20100930
Date
2010-09-29    19.945000
2010-09-30    19.934999
Name: Close, dtype: float64 Date
2010-12-28    22.860001
2010-12-29    22.915001
Name: Close, dtype: float64
20101231
Date
2010-12-30    22.975
2010-12-31    22.770
Name: Close, dtype: float64 Date
2011-03-30    25.094999
2011-03-31    25.280001
Name: Close, dtype: float64
20110331
Date
2011-03-30    25.094999
2011-03-31    25.280001
Name: Close, dtype: float64 Date
2011-06-28    24.879999
2011-06-29    25.135000
Name: Close, dtype: float64
20110630
Date
2011-06-29    25.135
2011-06-30    25.160
Name: Close, dtype: float64 Date
2011-09-27    23.850000
2011-09-28    23.184999
Name: Close, dtype: float64
20110930
Date
2011-09-29    23.639999
2011-09-30    23.895000
Name: Close, dtype: float64 Date
2011-12-28    28.155001
2011-12-29    28.410000
Name: Close, dtype: float64
20111231
Date
2011-12-30    28.355
Name: Close, dtype: float64 Date
2012-03-29    26.629999
2012-03-30    26.750000
Name: Close, dtype: float64
20120331
Date
2012-03-30    26.75
Name: Close, dtype: float64 Date
2012-06-28    25.639999
2012-06-29    25.895000
Name: Close, dtype: float64
20120630
Date
2012-06-29    25.895
Name: Close, dtype: float64 Date
2012-09-27    27.775
2012-09-28    27.730
Name: Close, dtype: float64
20120930
Date
2012-10-01    27.735001
Name: Close, dtype: float64 Date
2012-12-31    28.155001
Name: Close, dtype: float64
20121231
Date
2012-12-31    28.155001
Name: Close, dtype: float64 Date
2013-04-01    35.099998
Name: Close, dtype: float64
20130331
Date
2013-04-01    35.099998
Name: Close, dtype: float64 Date
2013-07-01    34.029999
Name: Close, dtype: float64
20130630
Date
2013-07-01    34.029999
Name: Close, dtype: float64 Date
2013-09-30    36.09
Name: Close, dtype: float64
20130930
Date
2013-09-30    36.09
Name: Close, dtype: float64 Date
2013-12-30    33.830002
Name: Close, dtype: float64
20131231

Date
2013-12-30    33.830002
2013-12-31    33.900002
Name: Close, dtype: float64 Date
2014-03-31    36.759998
Name: Close, dtype: float64
20140331
Date
2014-03-31    36.759998
Name: Close, dtype: float64 Date
2014-06-30    39.080002
Name: Close, dtype: float64
20140630
Date
2014-06-30    39.080002
Name: Close, dtype: float64 Date
2014-09-29    37.099998
Name: Close, dtype: float64
20140930
Date
2014-09-29    37.099998
2014-09-30    37.110001
Name: Close, dtype: float64 Date
2014-12-29    36.669998
Name: Close, dtype: float64
20141231
Date
2014-12-30    35.830002
2014-12-31    35.480000
Name: Close, dtype: float64 Date
2015-03-30    31.850000
2015-03-31    31.610001
Name: Close, dtype: float64
20150331
Date
2015-03-30    31.850000
2015-03-31    31.610001
Name: Close, dtype: float64 Date
2015-06-29    28.690001
Name: Close, dtype: float64
20150630
Date
2015-06-29    28.690001
2015-06-30    28.570000
Name: Close, dtype: float64 Date
2015-09-28    26.73
Name: Close, dtype: float64
20150930
Date
2015-09-29    26.540001
2015-09-30    27.360001
Name: Close, dtype: float64 Date
2015-12-28    26.780001
2015-12-29    26.809999
Name: Close, dtype: float64
20151231
Date
2015-12-30    26.660000
2015-12-31    26.290001
Name: Close, dtype: float64 Date
2016-03-29    28.65
2016-03-30    28.59
Name: Close, dtype: float64
20160331
Date
2016-03-30    28.590000
2016-03-31    28.629999
Name: Close, dtype: float64 Date
2016-06-28    31.549999
2016-06-29    32.040001
Name: Close, dtype: float64
20160630
Date
2016-06-29    32.040001
2016-06-30    32.750000
Name: Close, dtype: float64 Date
2016-09-27    32.480000
2016-09-28    32.720001
Name: Close, dtype: float64
20160930
Date
2016-09-29    32.110001
2016-09-30    31.620001
Name: Close, dtype: float64 Date
2016-12-28    33.250000
2016-12-29    33.639999
Name: Close, dtype: float64
20161231
Date
2016-12-30    33.450001
Name: Close, dtype: float64 Date
2017-03-30    35.169998
2017-03-31    34.980000
Name: Close, dtype: float64
20170331
Date
2017-03-30    35.169998
2017-03-31    34.980000
Name: Close, dtype: float64 Date
2017-06-28    35.099998
2017-06-29    34.900002
Name: Close, dtype: float64
20170630
Date
2017-06-29    34.900002
2017-06-30    34.790001
Name: Close, dtype: float64 Date
2017-09-27    36.02
2017-09-28    36.18
Name: Close, dtype: float64
20170930
Date
2017-09-29    36.029999
Name: Close, dtype: float64 Date
2017-12-28    33.00
2017-12-29    32.91
Name: Close, dtype: float64
20171231
Date
2018-01-02    32.669998
Name: Close, dtype: float64 Date
2018-04-02    32.119999
Name: Close, dtype: float64
20180331
Date
2018-04-02    32.119999
Name: Close, dtype: float64 Date
2018-07-02    35.080002
Name: Close, dtype: float64
20180630
Date
2018-06-29    35.209999
Name: Close, dtype: float64 Date
2018-09-27    35.68
2018-09-28    36.32
Name: Close, dtype: float64
20180930
Date
2018-10-01    36.360001
Name: Close, dtype: float64 Date
2018-12-31    39.189999
Name: Close, dtype: float64
20181231
Date
2018-12-31    39.189999
Name: Close, dtype: float64 Date
2019-04-01    42.93
Name: Close, dtype: float64
20190331
Date
2019-04-01    42.93
Name: Close, dtype: float64 Date
2019-07-01    42.66
Name: Close, dtype: float64
20190630
Date
2019-07-01    42.66
Name: Close, dtype: float64 Date
2019-09-30    45.380001
Name: Close, dtype: float64
20190930
Date
2019-09-30    45.380001
Name: Close, dtype: float64 Date
2019-12-30    44.259998
Name: Close, dtype: float64
20191231
Date
2019-12-30    44.259998
2019-12-31    44.470001
Name: Close, dtype: float64 Date
2020-03-30    31.9
Name: Close, dtype: float64
20130930
Date
2013-09-30    30
Name: Close, dtype: int64 Date
2013-12-30    28.299999
Name: Close, dtype: float64
20131231
Date
2013-12-30    28.299999
2013-12-31    28.100000
Name: Close, dtype: float64 Date
2014-03-31    28.700001
Name: Close, dtype: float64
20140331
Date
2014-03-31    28.700001
Name: Close, dtype: float64 Date
2014-06-30    19.5
Name: Close, dtype: float64
20140630
Date
2014-06-30    19.5
Name: Close, dtype: float64 Date
2014-09-29    12.2
Name: Close, dtype: float64
20140930
Date
2014-09-29    12.2
2014-09-30    12.5
Name: Close, dtype: float64 Date
2014-12-29    8.1
Name: Close, dtype: float64
20141231
Date
2014-12-30    8.3
2014-12-31    8.9
Name: Close, dtype: float64 Date
2015-03-30    10.5
2015-03-31    10.2
Name: Close, dtype: float64
20150331
Date
2015-03-30    10.5
2015-03-31    10.2
Name: Close, dtype: float64 Date
2015-06-29    13
Name: Close, dtype: int64
20150630
Date
2015-06-29    13.0
2015-06-30    13.7
Name: Close, dtype: float64 Date
2015-09-28    22.1
Name: Close, dtype: float64
20150930
Date
2015-09-29    16.6
2015-09-30    16.4
Name: Close, dtype: float64 Date
2015-12-28    15.500000
2015-12-29    17.200001
Name: Close, dtype: float64
20151231
Date
2015-12-30    16.6
2015-12-31    15.0
Name: Close, dtype: float64 Date
2016-03-29    9.9
2016-03-30    9.0
Name: Close, dtype: float64
20160331
Date
2016-03-30    9
2016-03-31    9
Name: Close, dtype: int64 Date
2016-06-28    5.9
2016-06-29    5.3
Name: Close, dtype: float64
20160630
Date
2016-06-29    5.3
2016-06-30    5.1
Name: Close, dtype: float64 Date
2016-09-27    5.1
2016-09-28    5.5
Name: Close, dtype: float64
20160930
Date
2016-09-29    5.0
2016-09-30    4.6
Name: Close, dtype: float64 Date
2016-12-28    5.0
2016-12-29    5.2
Name: Close, dtype: float64
20161231
Date
2016-12-30    5.4
Name: Close, dtype: float64 Date
2017-03-30    4.4
2017-03-31    4.4
Name: Close, dtype: float64
20170331
Date
2017-03-30    4.4
2017-03-31    4.4
Name: Close, dtype: float64 Date
2017-06-28    3.7
2017-06-29    3.7
Name: Close, dtype: float64
20170630
Date
2017-06-29    3.7
2017-06-30    3.7
Name: Close, dtype: float64 Date
2017-09-27    4.3
2017-09-28    4.5
Name: Close, dtype: float64
20170930
Date
2017-09-29    4.2
Name: Close, dtype: float64 Date
2017-12-28    2.4
2017-12-29    2.3
Name: Close, dtype: float64
20171231
Date
2018-01-02    2.3
Name: Close, dtype: float64 Date
2018-04-02    1.65
Name: Close, dtype: float64
20180331
Date
2018-04-02    1.65
Name: Close, dtype: float64 Date
2018-07-02    1.42
Name: Close, dtype: float64
20180630
Date
2018-06-29    1.38
Name: Close, dtype: float64 Date
2018-09-27    0.73
2018-09-28    1.15
Name: Close, dtype: float64
20180930
Date
2018-10-01    1.6
Name: Close, dtype: float64 Date
2018-12-31    0.86
Name: Close, dtype: float64
20181231
Date
2018-12-31    0.86
Name: Close, dtype: float64 Date
2019-04-01    0.6
Name: Close, dtype: float64
20190331
Date
2019-04-01    0.6
Name: Close, dtype: float64 Date
2019-07-01    0.49
Name: Close, dtype: float64
20190630
Date
2019-07-01    0.49
Name: Close, dtype: float64 Date
2019-09-30    0.54
Name: Close, dtype: float64
20190930
Date
2019-09-30    0.54
Name: Close, dtype: float64 Date
2019-12-30    0.52
Name: Close, dtype: float64
20191231
Date
2019-12-30    0.52
2019-12-31    0.52
Name: Close, dtype: float64 Date
2020-03-30    0.59
Name: Close, dtype: float64
20160331
Date
2016-03-30    7.55
2016-03-31    8.00
Name: Close, dtype: float64 Date
2016-06-28    8.83
2016-06-29    9.30
Name: Close, dtype: float64
20160630
Date
2016-06-29    9.30
2016-06-30    9.42
Name: Close, dtype: float64 Date
2016-09-27    11.57
2016-09-28    12.55
Name: Close, dtype: float64
20160930
Date
2016-09-29    12.56
2016-09-30    13.08
Name: Close, dtype: float64 Date
2016-12-28    13.15
2016-12-29    13.35
Name: Close, dtype: float64
20161231
Date
2016-12-30    13.2
Name: Close, dtype: float64 Date
2017-03-30    12.0
2017-03-31    12.4
Name: Close, dtype: float64
20170331
Date
2017-03-30    12.0
2017-03-31    12.4
Name: Close, dtype: float64 Date
2017-06-28    11.25
2017-06-29    11.60
Name: Close, dtype: float64
20170630
Date
2017-06-29    11.6
2017-06-30    11.4
Name: Close, dtype: float64 Date
2017-09-27    12.70
2017-09-28    12.65
Name: Close, dtype: float64
20170930
Date
2017-09-29    12.55
Name: Close, dtype: float64 Date
2017-12-28    10.6
2017-12-29    10.5
Name: Close, dtype: float64
20171231
Date
2018-01-02    10
Name: Close, dtype: int64 Date
2018-04-02    8.35
Name: Close, dtype: float64
20180331
Date
2018-04-02    8.35
Name: Close, dtype: float64 Date
2018-07-02    12.15
Name: Close, dtype: float64
20180630

Date
2018-06-29    12
Name: Close, dtype: int64 Date
2018-09-27    12.25
2018-09-28    12.20
Name: Close, dtype: float64
20180930
Date
2018-10-01    12.41
Name: Close, dtype: float64 Date
2018-12-31    7.49
Name: Close, dtype: float64
20181231
Date
2018-12-31    7.49
Name: Close, dtype: float64 Date
2019-04-01    10
Name: Close, dtype: int64
20190331
Date
2019-04-01    10
Name: Close, dtype: int64 Date
2019-07-01    10.44
Name: Close, dtype: float64
20190630
Date
2019-07-01    10.44
Name: Close, dtype: float64 Date
2019-09-30    9.97
Name: Close, dtype: float64
20190930
Date
2019-09-30    9.97
Name: Close, dtype: float64 Date
2019-12-30    9.83
Name: Close, dtype: float64
20191231
Date
2019-12-30     9.83
2019-12-31    10.04
Name: Close, dtype: float64 Date
2020-03-30    3.61
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20030331
Date
2003-03-31    33.240002
Name: Close, dtype: float64 Date
2003-06-30    37.450001
Name: Close, dtype: float64
20030630
Date
2003-06-30    37.450001
Name: Close, dtype: float64 Date
2003-09-29    35.66
Name: Close, dtype: float64
20030930
Date
2003-09-29    35.66
2003-09-30    35.50
Name: Close, dtype: float64 Date
2003-12-29    39.650002
Name: Close, dtype: float64
20031231
Date
2003-12-30    40.240002
2003-12-31    40.020000
Name: Close, dtype: float64 Date
2004-03-29    38.66
2004-03-30    39.02
Name: Close, dtype: float64
20040331
Date
2004-03-30    39.020000
2004-03-31    39.349998
Name: Close, dtype: float64 Date
2004-06-28    40.680000
2004-06-29    40.080002
Name: Close, dtype: float64
20040630
Date
2004-06-29    40.080002
2004-06-30    40.389999
Name: Close, dtype: float64 Date
2004-09-27    41.299999
2004-09-28    41.619999
Name: Close, dtype: float64
20040930
Date
2004-09-29    41.25
2004-09-30    41.50
Name: Close, dtype: float64 Date
2004-12-28    44.259998
2004-12-29    44.520000
Name: Close, dtype: float64
20041231
Date
2004-12-30    44.669998
2004-12-31    44.410000
Name: Close, dtype: float64 Date
2005-03-30    42.099998
2005-03-31    42.509998
Name: Close, dtype: float64
20050331
Date
2005-03-30    42.099998
2005-03-31    42.509998
Name: Close, dtype: float64 Date
2005-06-28    45.060001
2005-06-29    44.750000
Name: Close, dtype: float64
20050630
Date
2005-06-29    44.750000
2005-06-30    44.450001
Name: Close, dtype: float64 Date
2005-09-27    44.230000
2005-09-28    43.830002
Name: Close, dtype: float64
20050930
Date
2005-09-29    44.400002
2005-09-30    44.080002
Name: Close, dtype: float64 Date
2005-12-28    42.020000
2005-12-29    41.709999
Name: Close, dtype: float64
20051231
Date
2005-12-30    41.349998
Name: Close, dtype: float64 Date
2006-03-30    39.330002
2006-03-31    39.099998
Name: Close, dtype: float64
20060331
Date
2006-03-30    39.330002
2006-03-31    39.099998
Name: Close, dtype: float64 Date
2006-06-28    39.520000
2006-06-29    39.959999
Name: Close, dtype: float64
20060630
Date
2006-06-29    39.959999
2006-06-30    39.910000
Name: Close, dtype: float64 Date
2006-09-27    45.889999
2006-09-28    45.700001
Name: Close, dtype: float64
20060930
Date
2006-09-29    45.049999
Name: Close, dtype: float64 Date
2006-12-28    50.529999
2006-12-29    50.689999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    48.25
Name: Close, dtype: float64 Date
2007-06-28    40.470001
2007-06-29    39.849998
Name: Close, dtype: float64
20070630
Date
2007-06-29    39.849998
Name: Close, dtype: float64 Date
2007-09-27    39.810001
2007-09-28    39.509998
Name: Close, dtype: float64
20070930
Date
2007-10-01    40.139999
Name: Close, dtype: float64 Date
2007-12-31    42.41
Name: Close, dtype: float64
20071231
Date
2007-12-31    42.41
Name: Close, dtype: float64 Date
2008-03-31    35.080002
Name: Close, dtype: float64
20080331
Date
2008-03-31    35.080002
Name: Close, dtype: float64 Date
2008-06-30    30.77
Name: Close, dtype: float64
20080630
Date
2008-06-30    30.77
Name: Close, dtype: float64 Date
2008-09-29    34.57
Name: Close, dtype: float64
20080930
Date
2008-09-29    34.57
2008-09-30    34.41
Name: Close, dtype: float64 Date
2008-12-29    30.959999
Name: Close, dtype: float64
20081231
Date
2008-12-30    31.959999
2008-12-31    32.130001
Name: Close, dtype: float64 Date
2009-03-30    26.010000
2009-03-31    26.559999
Name: Close, dtype: float64
20090331
Date
2009-03-30    26.010000
2009-03-31    26.559999
Name: Close, dtype: float64 Date
2009-06-29    30.23
Name: Close, dtype: float64
20090630
Date
2009-06-29    30.23
2009-06-30    30.15
Name: Close, dtype: float64 Date
2009-09-28    32.84
Name: Close, dtype: float64
20090930
Date
2009-09-29    33.029999
2009-09-30    32.820000
Name: Close, dtype: float64 Date
2009-12-28    37.349998
2009-12-29    37.450001
Name: Close, dtype: float64
20091231
Date
2009-12-30    37.180000
2009-12-31    36.580002
Name: Close, dtype: float64 Date
2010-03-30    38.09
2010-03-31    37.73
Name: Close, dtype: float64
20100331
Date
2010-03-30    38.09
2010-03-31    37.73
Name: Close, dtype: float64 Date
2010-06-28    36.939999
2010-06-29    36.669998
Name: Close, dtype: float64
20100630
Date
2010-06-29    36.669998
2010-06-30    36.360001
Name: Close, dtype: float64 Date
2010-09-27    41.490002
2010-09-28    41.689999
Name: Close, dtype: float64
20100930
Date
2010-09-29    41.349998
2010-09-30    41.270000
Name: Close, dtype: float64 Date
2010-12-28    41.799999
2010-12-29    41.700001
Name: Close, dtype: float64
20101231
Date
2010-12-30    41.529999
2010-12-31    41.450001
Name: Close, dtype: float64 Date
2011-03-30    42.810001
2011-03-31    42.790001
Name: Close, dtype: float64
20110331
Date
2011-03-30    42.810001
2011-03-31    42.790001
Name: Close, dtype: float64 Date
2011-06-28    44.360001
2011-06-29    44.439999
Name: Close, dtype: float64
20110630
Date
2011-06-29    44.439999
2011-06-30    44.580002
Name: Close, dtype: float64 Date
2011-09-27    43.029999
2011-09-28    42.480000
Name: Close, dtype: float64
20110930
Date
2011-09-29    43.209999
2011-09-30    42.939999
Name: Close, dtype: float64 Date
2011-12-28    48.360001
2011-12-29    48.590000
Name: Close, dtype: float64
20111231
Date
2011-12-30    48.18
Name: Close, dtype: float64 Date
2012-03-29    47.630001
2012-03-30    47.900002
Name: Close, dtype: float64
20120331
Date
2012-03-30    47.900002
Name: Close, dtype: float64 Date
2012-06-28    51.419998
2012-06-29    51.740002
Name: Close, dtype: float64
20120630
Date
2012-06-29    51.740002
Name: Close, dtype: float64 Date
2012-09-27    52.639999
2012-09-28    52.799999
Name: Close, dtype: float64
20120930
Date
2012-10-01    52.490002
Name: Close, dtype: float64 Date
2012-12-31    50.98
Name: Close, dtype: float64
20121231
Date
2012-12-31    50.98
Name: Close, dtype: float64 Date
2013-04-01    57.66
Name: Close, dtype: float64
20130331
Date
2013-04-01    57.66
Name: Close, dtype: float64 Date
2013-07-01    54.950001
Name: Close, dtype: float64
20130630
Date
2013-07-01    54.950001
Name: Close, dtype: float64 Date
2013-09-30    54.740002
Name: Close, dtype: float64
20130930
Date
2013-09-30    54.740002
Name: Close, dtype: float64 Date
2013-12-30    53.009998
Name: Close, dtype: float64
20131231
Date
2013-12-30    53.009998
2013-12-31    52.919998
Name: Close, dtype: float64 Date
2014-03-31    54.66
Name: Close, dtype: float64
20140331
Date
2014-03-31    54.66
Name: Close, dtype: float64 Date
2014-06-30    57.84
Name: Close, dtype: float64
20140630
Date
2014-06-30    57.84
Name: Close, dtype: float64 Date
2014-09-29    54.869999
Name: Close, dtype: float64
20140930
Date
2014-09-29    54.869999
2014-09-30    54.639999
Name: Close, dtype: float64 Date
2014-12-29    70.629997
Name: Close, dtype: float64
20141231
Date
2014-12-30    69.400002
2014-12-31    68.309998
Name: Close, dtype: float64 Date
2015-03-30    63.799999
2015-03-31    63.750000
Name: Close, dtype: float64
20150331

Date
2015-03-30    63.799999
2015-03-31    63.750000
Name: Close, dtype: float64 Date
2015-06-29    56.580002
Name: Close, dtype: float64
20150630
Date
2015-06-29    56.580002
2015-06-30    56.889999
Name: Close, dtype: float64 Date
2015-09-28    63.169998
Name: Close, dtype: float64
20150930
Date
2015-09-29    63.220001
2015-09-30    64.139999
Name: Close, dtype: float64 Date
2015-12-28    64.839996
2015-12-29    65.190002
Name: Close, dtype: float64
20151231
Date
2015-12-30    65.230003
2015-12-31    64.480003
Name: Close, dtype: float64 Date
2016-03-29    74.639999
2016-03-30    74.690002
Name: Close, dtype: float64
20160331
Date
2016-03-30    74.690002
2016-03-31    75.070000
Name: Close, dtype: float64 Date
2016-06-28    79.050003
2016-06-29    79.139999
Name: Close, dtype: float64
20160630
Date
2016-06-29    79.139999
2016-06-30    81.059998
Name: Close, dtype: float64 Date
2016-09-27    78.510002
2016-09-28    77.870003
Name: Close, dtype: float64
20160930
Date
2016-09-29    76.760002
2016-09-30    75.989998
Name: Close, dtype: float64 Date
2016-12-28    76.93
2016-12-29    78.25
Name: Close, dtype: float64
20161231
Date
2016-12-30    78.029999
Name: Close, dtype: float64 Date
2017-03-30    83.279999
2017-03-31    83.379997
Name: Close, dtype: float64
20170331
Date
2017-03-30    83.279999
2017-03-31    83.379997
Name: Close, dtype: float64 Date
2017-06-28    86.510002
2017-06-29    85.190002
Name: Close, dtype: float64
20170630
Date
2017-06-29    85.190002
2017-06-30    85.160004
Name: Close, dtype: float64 Date
2017-09-27    84.760002
2017-09-28    84.910004
Name: Close, dtype: float64
20170930
Date
2017-09-29    84.559998
Name: Close, dtype: float64 Date
2017-12-28    85.199997
2017-12-29    85.180000
Name: Close, dtype: float64
20171231
Date
2018-01-02    83.889999
Name: Close, dtype: float64 Date
2018-04-02    78.940002
Name: Close, dtype: float64
20180331
Date
2018-04-02    78.940002
Name: Close, dtype: float64 Date
2018-07-02    81.449997
Name: Close, dtype: float64
20180630
Date
2018-06-29    80.559998
Name: Close, dtype: float64 Date
2018-09-27    78.089996
2018-09-28    79.180000
Name: Close, dtype: float64
20180930
Date
2018-10-01    78.889999
Name: Close, dtype: float64 Date
2018-12-31    85.199997
Name: Close, dtype: float64
20181231
Date
2018-12-31    85.199997
Name: Close, dtype: float64 Date
2019-04-01    94.879997
Name: Close, dtype: float64
20190331
Date
2019-04-01    94.879997
Name: Close, dtype: float64 Date
2019-07-01    93.919998
Name: Close, dtype: float64
20190630
Date
2019-07-01    93.919998
Name: Close, dtype: float64 Date
2019-09-30    97.07
Name: Close, dtype: float64
20190930
Date
2019-09-30    97.07
Name: Close, dtype: float64 Date
2019-12-30    89.25
Name: Close, dtype: float64
20191231
Date
2019-12-30    89.25
2019-12-31    89.93
Name: Close, dtype: float64 Date
2020-03-30    78.360001
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20030331
Date
2003-03-31    4.8
Name: Close, dtype: float64 Date
2003-06-30    5.2625
Name: Close, dtype: float64
20030630
Date
2003-06-30    5.2625
Name: Close, dtype: float64 Date
2003-09-29    5.45
Name: Close, dtype: float64
20030930
Date
2003-09-29    5.450
2003-09-30    5.355
Name: Close, dtype: float64 Date
2003-12-29    5.845
Name: Close, dtype: float64
20031231
Date
2003-12-30    5.805
2003-12-31    5.825
Name: Close, dtype: float64 Date
2004-03-29    6.610
2004-03-30    6.725
Name: Close, dtype: float64
20040331
Date
2004-03-30    6.7250
2004-03-31    6.7575
Name: Close, dtype: float64 Date
2004-06-28    6.8050
2004-06-29    6.8975
Name: Close, dtype: float64
20040630
Date
2004-06-29    6.8975
2004-06-30    7.2000
Name: Close, dtype: float64 Date
2004-09-27    8.2675
2004-09-28    8.3550
Name: Close, dtype: float64
20040930
Date
2004-09-29    8.3175
2004-09-30    8.3500
Name: Close, dtype: float64 Date
2004-12-28    8.1000
2004-12-29    8.1425
Name: Close, dtype: float64
20041231
Date
2004-12-30    8.055
2004-12-31    8.050
Name: Close, dtype: float64 Date
2005-03-30    8.3825
2005-03-31    8.2950
Name: Close, dtype: float64
20050331
Date
2005-03-30    8.3825
2005-03-31    8.2950
Name: Close, dtype: float64 Date
2005-06-28    7.9850
2005-06-29    8.0025
Name: Close, dtype: float64
20050630
Date
2005-06-29    8.0025
2005-06-30    7.9925
Name: Close, dtype: float64 Date
2005-09-27    10.2025
2005-09-28    10.2100
Name: Close, dtype: float64
20050930
Date
2005-09-29    10.0750
2005-09-30    10.5275
Name: Close, dtype: float64 Date
2005-12-28    10.7175
2005-12-29    10.6400
Name: Close, dtype: float64
20051231
Date
2005-12-30    10.73
Name: Close, dtype: float64 Date
2006-03-30    12.8025
2006-03-31    12.8050
Name: Close, dtype: float64
20060331
Date
2006-03-30    12.8025
2006-03-31    12.8050
Name: Close, dtype: float64 Date
2006-06-28    16.0275
2006-06-29    16.7925
Name: Close, dtype: float64
20060630
Date
2006-06-29    16.7925
2006-06-30    16.8650
Name: Close, dtype: float64 Date
2006-09-27    13.3700
2006-09-28    13.3475
Name: Close, dtype: float64
20060930
Date
2006-09-29    13.425
Name: Close, dtype: float64 Date
2006-12-28    15.4900
2006-12-29    15.4075
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    17.440001
Name: Close, dtype: float64 Date
2007-06-28    19.639999
2007-06-29    19.805000
Name: Close, dtype: float64
20070630
Date
2007-06-29    19.805
Name: Close, dtype: float64 Date
2007-09-27    29.24
2007-09-28    28.83
Name: Close, dtype: float64
20070930
Date
2007-10-01    28.645
Name: Close, dtype: float64 Date
2007-12-31    28.35
Name: Close, dtype: float64
20071231
Date
2007-12-31    28.35
Name: Close, dtype: float64 Date
2008-03-31    28.445
Name: Close, dtype: float64
20080331
Date
2008-03-31    28.445
Name: Close, dtype: float64 Date
2008-06-30    38.465
Name: Close, dtype: float64
20080630
Date
2008-06-30    38.465
Name: Close, dtype: float64 Date
2008-09-29    21.549999
Name: Close, dtype: float64
20080930
Date
2008-09-29    21.549999
2008-09-30    23.275000
Name: Close, dtype: float64 Date
2008-12-29    11.315
Name: Close, dtype: float64
20081231
Date
2008-12-30    11.730
2008-12-31    11.915
Name: Close, dtype: float64 Date
2009-03-30    15.820
2009-03-31    15.685
Name: Close, dtype: float64
20090331
Date
2009-03-30    15.820
2009-03-31    15.685
Name: Close, dtype: float64 Date
2009-06-29    19.035
Name: Close, dtype: float64
20090630
Date
2009-06-29    19.035000
2009-06-30    18.790001
Name: Close, dtype: float64 Date
2009-09-28    26.459999
Name: Close, dtype: float64
20090930
Date
2009-09-29    26.405001
2009-09-30    26.120001
Name: Close, dtype: float64 Date
2009-12-28    29.420000
2009-12-29    29.379999
Name: Close, dtype: float64
20091231
Date
2009-12-30    29.184999
2009-12-31    28.920000
Name: Close, dtype: float64 Date
2010-03-30    32.680000
2010-03-31    32.314999
Name: Close, dtype: float64
20100331
Date
2010-03-30    32.680000
2010-03-31    32.314999
Name: Close, dtype: float64 Date
2010-06-28    26.334999
2010-06-29    25.834999
Name: Close, dtype: float64
20100630
Date
2010-06-29    25.834999
2010-06-30    26.330000
Name: Close, dtype: float64 Date
2010-09-27    33.250000
2010-09-28    33.494999
Name: Close, dtype: float64
20100930
Date
2010-09-29    34.480
2010-09-30    34.145
Name: Close, dtype: float64 Date
2010-12-28    43.32
2010-12-29    44.23
Name: Close, dtype: float64
20101231
Date
2010-12-30    44.250000
2010-12-31    44.455002
Name: Close, dtype: float64 Date
2011-03-30    47.884998
2011-03-31    47.240002
Name: Close, dtype: float64
20110331
Date
2011-03-30    47.884998
2011-03-31    47.240002
Name: Close, dtype: float64 Date
2011-06-28    42.52
2011-06-29    44.07
Name: Close, dtype: float64
20110630
Date
2011-06-29    44.070000
2011-06-30    44.790001
Name: Close, dtype: float64 Date
2011-09-27    40.470001
2011-09-28    39.110001
Name: Close, dtype: float64
20110930

Date
2011-09-29    38.730000
2011-09-30    37.599998
Name: Close, dtype: float64 Date
2011-12-28    51.470001
2011-12-29    52.150002
Name: Close, dtype: float64
20111231
Date
2011-12-30    52.23
Name: Close, dtype: float64 Date
2012-03-29    49.770000
2012-03-30    50.419998
Name: Close, dtype: float64
20120331
Date
2012-03-30    50.419998
Name: Close, dtype: float64 Date
2012-06-28    37.779999
2012-06-29    39.230000
Name: Close, dtype: float64
20120630
Date
2012-06-29    39.23
Name: Close, dtype: float64 Date
2012-09-27    46.709999
2012-09-28    46.299999
Name: Close, dtype: float64
20120930
Date
2012-10-01    46.93
Name: Close, dtype: float64 Date
2012-12-31    42.830002
Name: Close, dtype: float64
20121231
Date
2012-12-31    42.830002
Name: Close, dtype: float64 Date
2013-04-01    53.91
Name: Close, dtype: float64
20130331
Date
2013-04-01    53.91
Name: Close, dtype: float64 Date
2013-07-01    55.82
Name: Close, dtype: float64
20130630
Date
2013-07-01    55.82
Name: Close, dtype: float64 Date
2013-09-30    55.419998
Name: Close, dtype: float64
20130930
Date
2013-09-30    55.419998
Name: Close, dtype: float64 Date
2013-12-30    51.540001
Name: Close, dtype: float64
20131231
Date
2013-12-30    51.540001
2013-12-31    52.209999
Name: Close, dtype: float64 Date
2014-03-31    52.290001
Name: Close, dtype: float64
20140331
Date
2014-03-31    52.290001
Name: Close, dtype: float64 Date
2014-06-30    61.07
Name: Close, dtype: float64
20140630
Date
2014-06-30    61.07
Name: Close, dtype: float64 Date
2014-09-29    54.209999
Name: Close, dtype: float64
20140930
Date
2014-09-29    54.209999
2014-09-30    54.310001
Name: Close, dtype: float64 Date
2014-12-29    48.48
Name: Close, dtype: float64
20141231
Date
2014-12-30    47.439999
2014-12-31    46.840000
Name: Close, dtype: float64 Date
2015-03-30    37.540001
2015-03-31    37.009998
Name: Close, dtype: float64
20150331
Date
2015-03-30    37.540001
2015-03-31    37.009998
Name: Close, dtype: float64 Date
2015-06-29    40.799999
Name: Close, dtype: float64
20150630
Date
2015-06-29    40.799999
2015-06-30    41.490002
Name: Close, dtype: float64 Date
2015-09-28    31.469999
Name: Close, dtype: float64
20150930
Date
2015-09-29    31.549999
2015-09-30    31.000000
Name: Close, dtype: float64 Date
2015-12-28    28.950001
2015-12-29    29.200001
Name: Close, dtype: float64
20151231
Date
2015-12-30    29.16
2015-12-31    29.01
Name: Close, dtype: float64 Date
2016-03-29    26.85
2016-03-30    27.09
Name: Close, dtype: float64
20160331
Date
2016-03-30    27.090000
2016-03-31    27.360001
Name: Close, dtype: float64 Date
2016-06-28    25.010000
2016-06-29    25.860001
Name: Close, dtype: float64
20160630
Date
2016-06-29    25.860001
2016-06-30    26.670000
Name: Close, dtype: float64 Date
2016-09-27    27.430000
2016-09-28    28.530001
Name: Close, dtype: float64
20160930
Date
2016-09-29    29.51
2016-09-30    29.67
Name: Close, dtype: float64 Date
2016-12-28    35.189999
2016-12-29    35.549999
Name: Close, dtype: float64
20161231
Date
2016-12-30    35.529999
Name: Close, dtype: float64 Date
2017-03-30    32.18
2017-03-31    32.50
Name: Close, dtype: float64
20030331
error
20030331
Date
2003-03-31    10.155556
Name: Close, dtype: float64 Date
2003-06-30    10.566667
Name: Close, dtype: float64
20030630
Date
2003-06-30    10.566667
Name: Close, dtype: float64 Date
2003-09-29    9.663333
Name: Close, dtype: float64
20030930
Date
2003-09-29    9.663333
2003-09-30    9.643333
Name: Close, dtype: float64 Date
2003-12-29    11.28
Name: Close, dtype: float64
20031231
Date
2003-12-30    11.35
2003-12-31    11.30
Name: Close, dtype: float64 Date
2004-03-29    10.850000
2004-03-30    10.713333
Name: Close, dtype: float64
20040331
Date
2004-03-30    10.713333
2004-03-31    10.973333
Name: Close, dtype: float64 Date
2004-06-28    10.556666
2004-06-29    10.593333
Name: Close, dtype: float64
20040630
Date
2004-06-29    10.593333
2004-06-30    10.700000
Name: Close, dtype: float64 Date
2004-09-27    12.036667
2004-09-28    12.156667
Name: Close, dtype: float64
20040930
Date
2004-09-29    12.286667
2004-09-30    12.420000
Name: Close, dtype: float64 Date
2004-12-28    13.57
2004-12-29    13.60
Name: Close, dtype: float64
20041231
Date
2004-12-30    13.646667
2004-12-31    13.636666
Name: Close, dtype: float64 Date
2005-03-30    14.986667
2005-03-31    15.140000
Name: Close, dtype: float64
20050331
Date
2005-03-30    14.986667
2005-03-31    15.140000
Name: Close, dtype: float64 Date
2005-06-28    18.020000
2005-06-29    18.206667
Name: Close, dtype: float64
20050630
Date
2005-06-29    18.206667
2005-06-30    18.600000
Name: Close, dtype: float64 Date
2005-09-27    18.053333
2005-09-28    18.120001
Name: Close, dtype: float64
20050930
Date
2005-09-29    18.533333
2005-09-30    18.766666
Name: Close, dtype: float64 Date
2005-12-28    13.76
2005-12-29    13.64
Name: Close, dtype: float64
20051231
Date
2005-12-30    13.733334
Name: Close, dtype: float64 Date
2006-03-30    14.193334
2006-03-31    14.046667
Name: Close, dtype: float64
20060331
Date
2006-03-30    14.193334
2006-03-31    14.046667
Name: Close, dtype: float64 Date
2006-06-28    16.306667
2006-06-29    16.400000
Name: Close, dtype: float64
20060630
Date
2006-06-29    16.400000
2006-06-30    16.413334
Name: Close, dtype: float64 Date
2006-09-27    16.573334
2006-09-28    16.520000
Name: Close, dtype: float64
20060930
Date
2006-09-29    16.299999
Name: Close, dtype: float64 Date
2006-12-28    18.233334
2006-12-29    18.186666
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    17.806667
Name: Close, dtype: float64 Date
2007-06-28    17.926666
2007-06-29    18.186666
Name: Close, dtype: float64
20070630
Date
2007-06-29    18.186666
Name: Close, dtype: float64 Date
2007-09-27    17.346666
2007-09-28    17.320000
Name: Close, dtype: float64
20070930
Date
2007-10-01    17.486666
Name: Close, dtype: float64 Date
2007-12-31    18.166666
Name: Close, dtype: float64
20071231
Date
2007-12-31    18.166666
Name: Close, dtype: float64 Date
2008-03-31    16.613333
Name: Close, dtype: float64
20080331
Date
2008-03-31    16.613333
Name: Close, dtype: float64 Date
2008-06-30    19.139999
Name: Close, dtype: float64
20080630
Date
2008-06-30    19.139999
Name: Close, dtype: float64 Date
2008-09-29    16.780001
Name: Close, dtype: float64
20080930
Date
2008-09-29    16.780001
2008-09-30    17.186666
Name: Close, dtype: float64 Date
2008-12-29    15.56
Name: Close, dtype: float64
20081231
Date
2008-12-30    16.000000
2008-12-31    16.280001
Name: Close, dtype: float64 Date
2009-03-30    15.80
2009-03-31    15.74
Name: Close, dtype: float64
20090331
Date
2009-03-30    15.80
2009-03-31    15.74
Name: Close, dtype: float64 Date
2009-06-29    17.299999
Name: Close, dtype: float64
20090630
Date
2009-06-29    17.299999
2009-06-30    16.993334
Name: Close, dtype: float64 Date
2009-09-28    16.813334
Name: Close, dtype: float64
20090930
Date
2009-09-29    16.926666
2009-09-30    16.706667
Name: Close, dtype: float64 Date
2009-12-28    16.540001
2009-12-29    16.540001
Name: Close, dtype: float64
20091231
Date
2009-12-30    16.446667
2009-12-31    16.126667
Name: Close, dtype: float64 Date
2010-03-30    17.773333
2010-03-31    17.693333
Name: Close, dtype: float64
20100331
Date
2010-03-30    17.773333
2010-03-31    17.693333
Name: Close, dtype: float64 Date
2010-06-28    17.733334
2010-06-29    17.080000
Name: Close, dtype: float64
20100630
Date
2010-06-29    17.080000
2010-06-30    16.959999
Name: Close, dtype: float64 Date
2010-09-27    19.193333
2010-09-28    19.160000
Name: Close, dtype: float64
20100930
Date
2010-09-29    19.126667
2010-09-30    19.073334
Name: Close, dtype: float64 Date
2010-12-28    21.086666
2010-12-29    21.266666
Name: Close, dtype: float64
20101231
Date
2010-12-30    21.186666
2010-12-31    21.053333
Name: Close, dtype: float64 Date
2011-03-30    21.693333
2011-03-31    21.933332
Name: Close, dtype: float64
20110331
Date
2011-03-30    21.693333
2011-03-31    21.933332
Name: Close, dtype: float64 Date
2011-06-28    21.046667
2011-06-29    21.240000
Name: Close, dtype: float64
20110630
Date
2011-06-29    21.24
2011-06-30    21.26
Name: Close, dtype: float64 Date
2011-09-27    18.240000
2011-09-28    17.533333
Name: Close, dtype: float64
20110930

Date
2011-09-29    17.866667
2011-09-30    17.513334
Name: Close, dtype: float64 Date
2011-12-28    19.446667
2011-12-29    19.766666
Name: Close, dtype: float64
20111231
Date
2011-12-30    19.6
Name: Close, dtype: float64 Date
2012-03-29    18.273333
2012-03-30    18.166666
Name: Close, dtype: float64
20120331
Date
2012-03-30    18.166666
Name: Close, dtype: float64 Date
2012-06-28    19.266666
2012-06-29    19.620001
Name: Close, dtype: float64
20120630
Date
2012-06-29    19.620001
Name: Close, dtype: float64 Date
2012-09-27    21.040001
2012-09-28    21.166666
Name: Close, dtype: float64
20120930
Date
2012-10-01    20.733334
Name: Close, dtype: float64 Date
2012-12-31    21.806667
Name: Close, dtype: float64
20121231
Date
2012-12-31    21.806667
Name: Close, dtype: float64 Date
2013-04-01    25.493334
Name: Close, dtype: float64
20130331
Date
2013-04-01    25.493334
Name: Close, dtype: float64 Date
2013-07-01    25.799999
Name: Close, dtype: float64
20130630
Date
2013-07-01    25.799999
Name: Close, dtype: float64 Date
2013-09-30    26.086666
Name: Close, dtype: float64
20130930
Date
2013-09-30    26.086666
Name: Close, dtype: float64 Date
2013-12-30    27.5
Name: Close, dtype: float64
20131231
Date
2013-12-30    27.500000
2013-12-31    27.639999
Name: Close, dtype: float64 Date
2014-03-31    30.406666
Name: Close, dtype: float64
20140331
Date
2014-03-31    30.406666
Name: Close, dtype: float64 Date
2014-06-30    33.666668
Name: Close, dtype: float64
20140630
Date
2014-06-30    33.666668
Name: Close, dtype: float64 Date
2014-09-29    34.209999
Name: Close, dtype: float64
20140930
Date
2014-09-29    34.209999
2014-09-30    34.090000
Name: Close, dtype: float64 Date
2014-12-29    39.599998
Name: Close, dtype: float64
20141231
Date
2014-12-30    38.880001
2014-12-31    37.980000
Name: Close, dtype: float64 Date
2015-03-30    32.709999
2015-03-31    32.590000
Name: Close, dtype: float64
20150331
Date
2015-03-30    32.709999
2015-03-31    32.590000
Name: Close, dtype: float64 Date
2015-06-29    34.709999
Name: Close, dtype: float64
20150630
Date
2015-06-29    34.709999
2015-06-30    34.450001
Name: Close, dtype: float64 Date
2015-09-28    33.91
Name: Close, dtype: float64
20150930
Date
2015-09-29    33.720001
2015-09-30    34.820000
Name: Close, dtype: float64 Date
2015-12-28    34.07
2015-12-29    34.43
Name: Close, dtype: float64
20151231
Date
2015-12-30    34.259998
2015-12-31    33.759998
Name: Close, dtype: float64 Date
2016-03-29    40.580002
2016-03-30    40.439999
Name: Close, dtype: float64
20160331
Date
2016-03-30    40.439999
2016-03-31    40.290001
Name: Close, dtype: float64 Date
2016-06-28    44.27
2016-06-29    44.43
Name: Close, dtype: float64
20160630
Date
2016-06-29    44.43
2016-06-30    45.25
Name: Close, dtype: float64 Date
2016-09-27    46.790001
2016-09-28    46.770000
Name: Close, dtype: float64
20160930
Date
2016-09-29    45.810001
2016-09-30    45.240002
Name: Close, dtype: float64 Date
2016-12-28    45.970001
2016-12-29    46.480000
Name: Close, dtype: float64
20161231
Date
2016-12-30    46.080002
Name: Close, dtype: float64 Date
2017-03-30    49.560001
2017-03-31    49.400002
Name: Close, dtype: float64
20170331
Date
2017-03-30    49.560001
2017-03-31    49.400002
Name: Close, dtype: float64 Date
2017-06-28    49.020000
2017-06-29    48.459999
Name: Close, dtype: float64
20170630
Date
2017-06-29    48.459999
2017-06-30    48.410000
Name: Close, dtype: float64 Date
2017-09-27    47.130001
2017-09-28    47.139999
Name: Close, dtype: float64
20170930
Date
2017-09-29    46.860001
Name: Close, dtype: float64 Date
2017-12-28    47.040001
2017-12-29    46.950001
Name: Close, dtype: float64
20171231
Date
2018-01-02    47.48
Name: Close, dtype: float64 Date
2018-04-02    43.950001
Name: Close, dtype: float64
20180331
Date
2018-04-02    43.950001
Name: Close, dtype: float64 Date
2018-07-02    52.869999
Name: Close, dtype: float64
20180630
Date
2018-06-29    52.07
Name: Close, dtype: float64 Date
2018-09-27    54.880001
2018-09-28    55.480000
Name: Close, dtype: float64
20180930
Date
2018-10-01    55
Name: Close, dtype: int64 Date
2018-12-31    53.349998
Name: Close, dtype: float64
20181231
Date
2018-12-31    53.349998
Name: Close, dtype: float64 Date
2019-04-01    55.389999
Name: Close, dtype: float64
20190331
Date
2019-04-01    55.389999
Name: Close, dtype: float64 Date
2019-07-01    53.330002
Name: Close, dtype: float64
20190630
Date
2019-07-01    53.330002
Name: Close, dtype: float64 Date
2019-09-30    50.27
Name: Close, dtype: float64
20190930
Date
2019-09-30    50.27
Name: Close, dtype: float64 Date
2019-12-30    44.720001
Name: Close, dtype: float64
20191231
Date
2019-12-30    44.720001
2019-12-31    45.160000
Name: Close, dtype: float64 Date
2020-03-30    26.91
Name: Close, dtype: float64
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20160930
error
20161231
error
20170331
error
20180930
Date
2018-10-01    15.46
Name: Close, dtype: float64 Date
2018-12-31    4.18
Name: Close, dtype: float64
20181231
Date
2018-12-31    4.18
Name: Close, dtype: float64 Date
2019-04-01    7.83
Name: Close, dtype: float64
20190331
Date
2019-04-01    7.83
Name: Close, dtype: float64 Date
2019-07-01    13.5
Name: Close, dtype: float64
20190630
Date
2019-07-01    13.5
Name: Close, dtype: float64 Date
2019-09-30    21.34
Name: Close, dtype: float64
20190930
Date
2019-09-30    21.34
Name: Close, dtype: float64 Date
2019-12-30    34.349998
Name: Close, dtype: float64
20191231
Date
2019-12-30    34.349998
2019-12-31    34.349998
Name: Close, dtype: float64 Date
2020-03-30    24.705
Name: Close, dtype: float64
20130930
Date
2013-09-30    87.75
Name: Close, dtype: float64 Date
2013-12-30    98.43
Name: Close, dtype: float64
20131231
Date
2013-12-30    98.430000
2013-12-31    99.029999
Name: Close, dtype: float64 Date
2014-03-31    95.050003
Name: Close, dtype: float64
20140331
Date
2014-03-31    95.050003
Name: Close, dtype: float64 Date
2014-06-30    104.970001
Name: Close, dtype: float64
20140630
Date
2014-06-30    104.970001
Name: Close, dtype: float64 Date
2014-09-29    110.309998
Name: Close, dtype: float64
20140930
Date
2014-09-29    110.309998
2014-09-30    110.320000
Name: Close, dtype: float64 Date
2014-12-29    100.709999
Name: Close, dtype: float64
20141231
Date
2014-12-30    99.650002
2014-12-31    98.919998
Name: Close, dtype: float64 Date
2015-03-30    107.559998
2015-03-31    107.360001
Name: Close, dtype: float64
20150331
Date
2015-03-30    107.559998
2015-03-31    107.360001
Name: Close, dtype: float64 Date
2015-06-29    111.559998
Name: Close, dtype: float64
20150630
Date
2015-06-29    111.559998
2015-06-30    113.970001
Name: Close, dtype: float64 Date
2015-09-28    86.459999
Name: Close, dtype: float64
20150930
Date
2015-09-29    85.930000
2015-09-30    86.839996
Name: Close, dtype: float64 Date
2015-12-28    90.309998
2015-12-29    90.190002
Name: Close, dtype: float64
20151231
Date
2015-12-30    89.059998
2015-12-31    88.400002
Name: Close, dtype: float64 Date
2016-03-29    82.449997
2016-03-30    82.900002
Name: Close, dtype: float64
20160331
Date
2016-03-30    82.900002
2016-03-31    83.360001
Name: Close, dtype: float64 Date
2016-06-28    85.169998
2016-06-29    86.779999
Name: Close, dtype: float64
20160630
Date
2016-06-29    86.779999
2016-06-30    88.669998
Name: Close, dtype: float64 Date
2016-09-27    104.889999
2016-09-28    107.459999
Name: Close, dtype: float64
20160930
Date
2016-09-29    107.239998
2016-09-30    108.089996
Name: Close, dtype: float64 Date
2016-12-28    112.099998
2016-12-29    112.040001
Name: Close, dtype: float64
20161231
Date
2016-12-30    111.599998
Name: Close, dtype: float64 Date
2017-03-30    102.809998
2017-03-31    103.500000
Name: Close, dtype: float64
20170331
Date
2017-03-30    102.809998
2017-03-31    103.500000
Name: Close, dtype: float64 Date
2017-06-28    104.800003
2017-06-29    104.820000
Name: Close, dtype: float64
20170630
Date
2017-06-29    104.820000
2017-06-30    104.269997
Name: Close, dtype: float64 Date
2017-09-27    113.519997
2017-09-28    113.320000
Name: Close, dtype: float64
20170930

Date
2017-09-29    112.220001
Name: Close, dtype: float64 Date
2017-12-28    141.009995
2017-12-29    141.229996
Name: Close, dtype: float64
20171231
Date
2018-01-02    142.039993
Name: Close, dtype: float64 Date
2018-04-02    156.520004
Name: Close, dtype: float64
20180331
Date
2018-04-02    156.520004
Name: Close, dtype: float64 Date
2018-07-02    192.300003
Name: Close, dtype: float64
20180630
Date
2018-06-29    190.479996
Name: Close, dtype: float64 Date
2018-09-27    198.729996
2018-09-28    200.759995
Name: Close, dtype: float64
20180930
Date
2018-10-01    199.869995
Name: Close, dtype: float64 Date
2018-12-31    140.059998
Name: Close, dtype: float64
20181231
Date
2018-12-31    140.059998
Name: Close, dtype: float64 Date
2019-04-01    196.080002
Name: Close, dtype: float64
20190331
Date
2019-04-01    196.080002
Name: Close, dtype: float64 Date
2019-07-01    211.639999
Name: Close, dtype: float64
20190630
Date
2019-07-01    211.639999
Name: Close, dtype: float64 Date
2019-09-30    202.070007
Name: Close, dtype: float64
20190930
Date
2019-09-30    202.070007
Name: Close, dtype: float64 Date
2019-12-30    208.320007
Name: Close, dtype: float64
20191231
Date
2019-12-30    208.320007
2019-12-31    209.460007
Name: Close, dtype: float64 Date
2020-03-30    108.839996
Name: Close, dtype: float64
20070930
Date
2007-10-01    24.43
Name: Close, dtype: float64 Date
2007-12-31    21.209999
Name: Close, dtype: float64
20071231
Date
2007-12-31    21.209999
Name: Close, dtype: float64 Date
2008-03-31    14.14
Name: Close, dtype: float64
20080331
Date
2008-03-31    14.14
Name: Close, dtype: float64 Date
2008-06-30    11.2
Name: Close, dtype: float64
20080630
Date
2008-06-30    11.2
Name: Close, dtype: float64 Date
2008-09-29    12.32
Name: Close, dtype: float64
20080930
Date
2008-09-29    12.32
2008-09-30    12.46
Name: Close, dtype: float64 Date
2008-12-29    8.4
Name: Close, dtype: float64
20081231
Date
2008-12-30    8.82
2008-12-31    9.80
Name: Close, dtype: float64 Date
2009-03-30    6.93
2009-03-31    7.63
Name: Close, dtype: float64
20090331
Date
2009-03-30    6.93
2009-03-31    7.63
Name: Close, dtype: float64 Date
2009-06-29    8.82
Name: Close, dtype: float64
20090630
Date
2009-06-29    8.82
2009-06-30    8.68
Name: Close, dtype: float64 Date
2009-09-28    15.68
Name: Close, dtype: float64
20090930
Date
2009-09-29    15.26
2009-09-30    14.91
Name: Close, dtype: float64 Date
2009-12-28    13.16
2009-12-29    12.11
Name: Close, dtype: float64
20091231
Date
2009-12-30    12.11
2009-12-31    11.90
Name: Close, dtype: float64 Date
2010-03-30    11.48
2010-03-31    10.43
Name: Close, dtype: float64
20100331
Date
2010-03-30    11.48
2010-03-31    10.43
Name: Close, dtype: float64 Date
2010-06-28    8.89
2010-06-29    8.47
Name: Close, dtype: float64
20100630
Date
2010-06-29    8.47
2010-06-30    8.96
Name: Close, dtype: float64 Date
2010-09-27    10.36
2010-09-28    10.57
Name: Close, dtype: float64
20100930
Date
2010-09-29    10.57
2010-09-30    11.20
Name: Close, dtype: float64 Date
2010-12-28    11.20
2010-12-29    10.92
Name: Close, dtype: float64
20101231
Date
2010-12-30    10.43
2010-12-31    10.08
Name: Close, dtype: float64 Date
2011-03-30    12.25
2011-03-31    11.76
Name: Close, dtype: float64
20110331
Date
2011-03-30    12.25
2011-03-31    11.76
Name: Close, dtype: float64 Date
2011-06-28    12.46
2011-06-29    11.55
Name: Close, dtype: float64
20110630
Date
2011-06-29    11.55
2011-06-30    12.32
Name: Close, dtype: float64 Date
2011-09-27    7.14
2011-09-28    6.44
Name: Close, dtype: float64
20110930
Date
2011-09-29    6.58
2011-09-30    6.44
Name: Close, dtype: float64 Date
2011-12-28    7.98
2011-12-29    8.05
Name: Close, dtype: float64
20111231
Date
2011-12-30    9.03
Name: Close, dtype: float64 Date
2012-03-29    13.16
2012-03-30    13.02
Name: Close, dtype: float64
20120331
Date
2012-03-30    13.02
Name: Close, dtype: float64 Date
2012-06-28    16.10
2012-06-29    15.75
Name: Close, dtype: float64
20120630
Date
2012-06-29    15.75
Name: Close, dtype: float64 Date
2012-09-27    16.799999
2012-09-28    16.240000
Name: Close, dtype: float64
20120930
Date
2012-10-01    16.870001
Name: Close, dtype: float64 Date
2012-12-31    15.47
Name: Close, dtype: float64
20121231
Date
2012-12-31    15.47
Name: Close, dtype: float64 Date
2013-04-01    15.12
Name: Close, dtype: float64
20130331
Date
2013-04-01    15.12
Name: Close, dtype: float64 Date
2013-07-01    16.030001
Name: Close, dtype: float64
20130630
Date
2013-07-01    16.030001
Name: Close, dtype: float64 Date
2013-09-30    16.66
Name: Close, dtype: float64
20130930
Date
2013-09-30    16.66
Name: Close, dtype: float64 Date
2013-12-30    12.67
Name: Close, dtype: float64
20131231
Date
2013-12-30    12.67
2013-12-31    12.60
Name: Close, dtype: float64 Date
2014-03-31    12.11
Name: Close, dtype: float64
20140331
Date
2014-03-31    12.11
Name: Close, dtype: float64 Date
2014-06-30    11.27
Name: Close, dtype: float64
20140630
Date
2014-06-30    11.27
Name: Close, dtype: float64 Date
2014-09-29    10.08
Name: Close, dtype: float64
20140930
Date
2014-09-29    10.08
2014-09-30     9.87
Name: Close, dtype: float64 Date
2014-12-29    6.23
Name: Close, dtype: float64
20141231
Date
2014-12-30    6.09
2014-12-31    6.37
Name: Close, dtype: float64 Date
2015-03-30    6.79
2015-03-31    6.58
Name: Close, dtype: float64
20150331
Date
2015-03-30    6.79
2015-03-31    6.58
Name: Close, dtype: float64 Date
2015-06-29    7.88
Name: Close, dtype: float64
20150630
Date
2015-06-29    7.88
2015-06-30    8.05
Name: Close, dtype: float64 Date
2015-09-28    10.9
Name: Close, dtype: float64
20150930
Date
2015-09-29     9.84
2015-09-30    10.74
Name: Close, dtype: float64 Date
2015-12-28    13.26
2015-12-29    13.62
Name: Close, dtype: float64
20151231
Date
2015-12-30    13.36
2015-12-31    13.31
Name: Close, dtype: float64 Date
2016-03-29    11.85
2016-03-30    12.30
Name: Close, dtype: float64
20160331
Date
2016-03-30    12.30
2016-03-31    11.95
Name: Close, dtype: float64 Date
2016-06-28    13.56
2016-06-29    14.21
Name: Close, dtype: float64
20160630
Date
2016-06-29    14.21
2016-06-30    14.35
Name: Close, dtype: float64 Date
2016-09-27    18.420000
2016-09-28    18.059999
Name: Close, dtype: float64
20160930
Date
2016-09-29    17.90
2016-09-30    18.07
Name: Close, dtype: float64 Date
2016-12-28    13.97
2016-12-29    13.83
Name: Close, dtype: float64
20161231
Date
2016-12-30    13.83
Name: Close, dtype: float64 Date
2017-03-30    14.39
2017-03-31    14.34
Name: Close, dtype: float64
20170331
Date
2017-03-30    14.39
2017-03-31    14.34
Name: Close, dtype: float64 Date
2017-06-28    16.77
2017-06-29    16.57
Name: Close, dtype: float64
20170630
Date
2017-06-29    16.570000
2017-06-30    16.450001
Name: Close, dtype: float64 Date
2017-09-27    12.19
2017-09-28    12.36
Name: Close, dtype: float64
20170930
Date
2017-09-29    12.29
Name: Close, dtype: float64 Date
2017-12-28    10.45
2017-12-29     9.88
Name: Close, dtype: float64
20171231
Date
2018-01-02    10.12
Name: Close, dtype: float64 Date
2018-04-02    8.34
Name: Close, dtype: float64
20180331
Date
2018-04-02    8.34
Name: Close, dtype: float64 Date
2018-07-02    12.74
Name: Close, dtype: float64
20180630
Date
2018-06-29    12
Name: Close, dtype: int64 Date
2018-09-27    10.80
2018-09-28    10.67
Name: Close, dtype: float64
20180930
Date
2018-10-01    10.51
Name: Close, dtype: float64 Date
2018-12-31    6.64
Name: Close, dtype: float64
20181231
Date
2018-12-31    6.64
Name: Close, dtype: float64 Date
2019-04-01    5.45
Name: Close, dtype: float64
20190331
Date
2019-04-01    5.45
Name: Close, dtype: float64 Date
2019-07-01    6.66
Name: Close, dtype: float64
20190630
Date
2019-07-01    6.66
Name: Close, dtype: float64 Date
2019-09-30    3.01
Name: Close, dtype: float64
20190930
Date
2019-09-30    3.01
Name: Close, dtype: float64 Date
2019-12-30    4.14
Name: Close, dtype: float64
20191231
Date
2019-12-30    4.14
2019-12-31    4.15
Name: Close, dtype: float64 Date
2020-03-30    1.88
Name: Close, dtype: float64
20030331
Date
2003-03-31    46.570141
Name: Close, dtype: float64 Date
2003-06-30    61.276501
Name: Close, dtype: float64
20030630
Date
2003-06-30    61.276501
Name: Close, dtype: float64 Date
2003-09-29    65.746078
Name: Close, dtype: float64
20030930

Date
2003-09-29    65.746078
2003-09-30    62.862480
Name: Close, dtype: float64 Date
2003-12-29    93.500732
Name: Close, dtype: float64
20031231
Date
2003-12-30    91.578331
2003-12-31    91.314003
Name: Close, dtype: float64 Date
2004-03-29    83.215889
2004-03-30    84.225151
Name: Close, dtype: float64
20040331
Date
2004-03-30    84.225151
2004-03-31    83.360069
Name: Close, dtype: float64 Date
2004-06-28    78.986610
2004-06-29    79.154823
Name: Close, dtype: float64
20040630
Date
2004-06-29    79.154823
2004-06-30    79.371094
Name: Close, dtype: float64 Date
2004-09-27    75.358078
2004-09-28    78.578102
Name: Close, dtype: float64
20040930
Date
2004-09-29    79.899750
2004-09-30    80.716766
Name: Close, dtype: float64 Date
2004-12-28    76.127037
2004-12-29    76.631668
Name: Close, dtype: float64
20041231
Date
2004-12-30    75.574348
2004-12-31    75.478233
Name: Close, dtype: float64 Date
2005-03-30    71.849701
2005-03-31    73.027168
Name: Close, dtype: float64
20050331
Date
2005-03-30    71.849701
2005-03-31    73.027168
Name: Close, dtype: float64 Date
2005-06-28    63.367111
2005-06-29    63.198898
Name: Close, dtype: float64
20050630
Date
2005-06-29    63.198898
2005-06-30    62.790390
Name: Close, dtype: float64 Date
2005-09-27    57.69603
2005-09-28    57.84021
Name: Close, dtype: float64
20050930
Date
2005-09-29    58.753349
2005-09-30    58.681259
Name: Close, dtype: float64 Date
2005-12-28    71.152832
2005-12-29    71.248947
Name: Close, dtype: float64
20051231
Date
2005-12-30    71.056709
Name: Close, dtype: float64 Date
2006-03-30    73.820160
2006-03-31    73.435677
Name: Close, dtype: float64
20060331
Date
2006-03-30    73.820160
2006-03-31    73.435677
Name: Close, dtype: float64 Date
2006-06-28    73.411652
2006-06-29    76.655701
Name: Close, dtype: float64
20060630
Date
2006-06-29    76.655701
2006-06-30    77.761078
Name: Close, dtype: float64 Date
2006-09-27    66.683250
2006-09-28    67.019669
Name: Close, dtype: float64
20060930
Date
2006-09-29    67.380119
Name: Close, dtype: float64 Date
2006-12-28    72.138062
2006-12-29    72.114029
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    81.4617
Name: Close, dtype: float64 Date
2007-06-28    94.437897
2007-06-29    97.393593
Name: Close, dtype: float64
20070630
Date
2007-06-29    97.393593
Name: Close, dtype: float64 Date
2007-09-27    93.717003
2007-09-28    94.005363
Name: Close, dtype: float64
20070930
Date
2007-10-01    94.077454
Name: Close, dtype: float64 Date
2007-12-31    87.829651
Name: Close, dtype: float64
20071231
Date
2007-12-31    87.829651
Name: Close, dtype: float64 Date
2008-03-31    86.652184
Name: Close, dtype: float64
20080331
Date
2008-03-31    86.652184
Name: Close, dtype: float64 Date
2008-06-30    85.594856
Name: Close, dtype: float64
20080630
Date
2008-06-30    85.594856
Name: Close, dtype: float64 Date
2008-09-29    51.376141
Name: Close, dtype: float64
20080930
Date
2008-09-29    51.376141
2008-09-30    54.259739
Name: Close, dtype: float64 Date
2008-12-29    23.381189
Name: Close, dtype: float64
20081231
Date
2008-12-30    25.688070
2008-12-31    27.057779
Name: Close, dtype: float64 Date
2009-03-30    16.076071
2009-03-31    17.638020
Name: Close, dtype: float64
20090331
Date
2009-03-30    16.076071
2009-03-31    17.638020
Name: Close, dtype: float64 Date
2009-06-29    25.08732
Name: Close, dtype: float64
20090630
Date
2009-06-29    25.08732
2009-06-30    24.82299
Name: Close, dtype: float64 Date
2009-09-28    32.272289
Name: Close, dtype: float64
20090930
Date
2009-09-29    31.983931
2009-09-30    31.527361
Name: Close, dtype: float64 Date
2009-12-28    38.688301
2009-12-29    38.520088
Name: Close, dtype: float64
20091231
Date
2009-12-30    39.168900
2009-12-31    38.736359
Name: Close, dtype: float64 Date
2010-03-30    34.603199
2010-03-31    34.218719
Name: Close, dtype: float64
20100331
Date
2010-03-30    34.603199
2010-03-31    34.218719
Name: Close, dtype: float64 Date
2010-06-28    26.505091
2010-06-29    24.847019
Name: Close, dtype: float64
20100630
Date
2010-06-29    24.847019
2010-06-30    24.174179
Name: Close, dtype: float64 Date
2010-09-27    29.00421
2010-09-28    29.36466
Name: Close, dtype: float64
20100930
Date
2010-09-29    29.02824
2010-09-30    29.10033
Name: Close, dtype: float64 Date
2010-12-28    36.645748
2010-12-29    36.357391
Name: Close, dtype: float64
20101231
Date
2010-12-30    36.549629
2010-12-31    36.982170
Name: Close, dtype: float64 Date
2011-03-30    42.388920
2011-03-31    42.436981
Name: Close, dtype: float64
20110331
Date
2011-03-30    42.388920
2011-03-31    42.436981
Name: Close, dtype: float64 Date
2011-06-28    37.606949
2011-06-29    38.015461
Name: Close, dtype: float64
20110630
Date
2011-06-29    38.015461
2011-06-30    38.111580
Name: Close, dtype: float64 Date
2011-09-27    25.183439
2011-09-28    23.957911
Name: Close, dtype: float64
20110930
Date
2011-09-29    24.174179
2011-09-30    22.996710
Name: Close, dtype: float64 Date
2011-12-28    20.47356
2011-12-29    20.73789
Name: Close, dtype: float64
20111231
Date
2011-12-30    20.78595
Name: Close, dtype: float64 Date
2012-03-29    24.102091
2012-03-30    24.078060
Name: Close, dtype: float64
20120331
Date
2012-03-30    24.07806
Name: Close, dtype: float64 Date
2012-06-28    20.449530
2012-06-29    21.026251
Name: Close, dtype: float64
20120630
Date
2012-06-29    21.026251
Name: Close, dtype: float64 Date
2012-09-27    21.602970
2012-09-28    21.290581
Name: Close, dtype: float64
20120930
Date
2012-10-01    21.41073
Name: Close, dtype: float64 Date
2012-12-31    20.85804
Name: Close, dtype: float64
20121231
Date
2012-12-31    20.85804
Name: Close, dtype: float64 Date
2013-04-01    20.161169
Name: Close, dtype: float64
20130331
Date
2013-04-01    20.161169
Name: Close, dtype: float64 Date
2013-07-01    18.887581
Name: Close, dtype: float64
20130630
Date
2013-07-01    18.887581
Name: Close, dtype: float64 Date
2013-09-30    19.51236
Name: Close, dtype: float64
20130930
Date
2013-09-30    19.51236
Name: Close, dtype: float64 Date
2013-12-30    25.303591
Name: Close, dtype: float64
20131231
Date
2013-12-30    25.303591
2013-12-31    25.543890
Name: Close, dtype: float64 Date
2014-03-31    30.926611
Name: Close, dtype: float64
20140331
Date
2014-03-31    30.926611
Name: Close, dtype: float64 Date
2014-06-30    35.78067
Name: Close, dtype: float64
20140630
Date
2014-06-30    35.78067
Name: Close, dtype: float64 Date
2014-09-29    38.279789
Name: Close, dtype: float64
20140930
Date
2014-09-29    38.279789
2014-09-30    38.664268
Name: Close, dtype: float64 Date
2014-12-29    38.015461
Name: Close, dtype: float64
20141231
Date
2014-12-30    38.087551
2014-12-31    37.943371
Name: Close, dtype: float64 Date
2015-03-30    31.142879
2015-03-31    31.046761
Name: Close, dtype: float64
20150331
Date
2015-03-30    31.142879
2015-03-31    31.046761
Name: Close, dtype: float64 Date
2015-06-29    27.27405
Name: Close, dtype: float64
20150630
Date
2015-06-29    27.274050
2015-06-30    26.793449
Name: Close, dtype: float64 Date
2015-09-28    23.044769
Name: Close, dtype: float64
20150930
Date
2015-09-29    22.708349
2015-09-30    23.212980
Name: Close, dtype: float64 Date
2015-12-28    23.981939
2015-12-29    24.342390
Name: Close, dtype: float64
20151231
Date
2015-12-30    23.933880
2015-12-31    23.717609
Name: Close, dtype: float64 Date
2016-03-29    23.357161
2016-03-30    23.261040
Name: Close, dtype: float64
20160331
Date
2016-03-30    23.261040
2016-03-31    23.020741
Name: Close, dtype: float64 Date
2016-06-28    22.419991
2016-06-29    21.867300
Name: Close, dtype: float64
20160630
Date
2016-06-29    21.86730
2016-06-30    22.27581
Name: Close, dtype: float64 Date
2016-09-27    23.18895
2016-09-28    23.74164
Name: Close, dtype: float64
20160930
Date
2016-09-29    23.933880
2016-09-30    24.366421
Name: Close, dtype: float64 Date
2016-12-28    29.430000
2016-12-29    28.889999
Name: Close, dtype: float64
20161231
Date
2016-12-30    28.08
Name: Close, dtype: float64 Date
2017-03-30    33.490002
2017-03-31    34.400002
Name: Close, dtype: float64
20170331
Date
2017-03-30    33.490002
2017-03-31    34.400002
Name: Close, dtype: float64 Date
2017-06-28    32.950001
2017-06-29    33.180000
Name: Close, dtype: float64
20170331

Date
2017-03-30    33.490002
2017-03-31    34.400002
Name: Close, dtype: float64 Date
2017-06-28    32.950001
2017-06-29    33.180000
Name: Close, dtype: float64
20170630
Date
2017-06-29    33.180000
2017-06-30    32.650002
Name: Close, dtype: float64 Date
2017-09-27    45.070000
2017-09-28    46.080002
Name: Close, dtype: float64
20170630
Date
2017-06-29    33.180000
2017-06-30    32.650002
Name: Close, dtype: float64 Date
2017-09-27    45.070000
2017-09-28    46.080002
Name: Close, dtype: float64
20170930
Date
2017-09-29    46.619999
Name: Close, dtype: float64 Date
2017-12-28    54.139999
2017-12-29    53.869999
Name: Close, dtype: float64
20170930
Date
2017-09-29    46.619999
Name: Close, dtype: float64 Date
2017-12-28    54.139999
2017-12-29    53.869999
Name: Close, dtype: float64
20171231
Date
2018-01-02    55.169998
Name: Close, dtype: float64 Date
2018-04-02    44.34
Name: Close, dtype: float64
20180331
Date
2018-04-02    44.34
Name: Close, dtype: float64 Date
2018-07-02    45.880001
Name: Close, dtype: float64
20180630
Date
2018-06-29    46.880001
Name: Close, dtype: float64 Date
2018-09-27    40.500000
2018-09-28    40.400002
Name: Close, dtype: float64
20180930
Date
2018-10-01    40.860001
Name: Close, dtype: float64 Date
2018-12-31    26.58
Name: Close, dtype: float64
20181231
Date
2018-12-31    26.58
Name: Close, dtype: float64 Date
2019-04-01    29.459999
Name: Close, dtype: float64
20190331
Date
2019-04-01    29.459999
Name: Close, dtype: float64 Date
2019-07-01    22.92
Name: Close, dtype: float64
20190630
Date
2019-07-01    22.92
Name: Close, dtype: float64 Date
2019-09-30    20.07
Name: Close, dtype: float64
20190930
Date
2019-09-30    20.07
Name: Close, dtype: float64 Date
2019-12-30    21.34
Name: Close, dtype: float64
20191231
Date
2019-12-30    21.34
2019-12-31    21.51
Name: Close, dtype: float64 Date
2020-03-30    6.07
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20091231
error
20100331
error
20100331
error
20100630
error
20100930
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20160930
error
20161231
error
20170331
error
20170630
error
20170930
error
20171231
error
20180331
error
20180630
error
20180930
error
20181231
error
20190331
error
20190630
error
20190930
error
20040630
Date
2004-06-29    16.58
2004-06-30    17.50
Name: Close, dtype: float64 Date
2004-09-27    16.76
2004-09-28    17.09
Name: Close, dtype: float64
20040930
Date
2004-09-29    17.010000
2004-09-30    16.969999
Name: Close, dtype: float64 Date
2004-12-28    21.24
2004-12-29    21.50
Name: Close, dtype: float64
20041231
Date
2004-12-30    21.670000
2004-12-31    21.299999
Name: Close, dtype: float64 Date
2005-03-30    19.15
2005-03-31    19.08
Name: Close, dtype: float64
20050331
Date
2005-03-30    19.15
2005-03-31    19.08
Name: Close, dtype: float64 Date
2005-06-28    25.35
2005-06-29    26.23
Name: Close, dtype: float64
20050630
Date
2005-06-29    26.23
2005-06-30    25.91
Name: Close, dtype: float64 Date
2005-09-27    29.200001
2005-09-28    28.629999
Name: Close, dtype: float64
20050930
Date
2005-09-29    29.590000
2005-09-30    29.969999
Name: Close, dtype: float64 Date
2005-12-28    22.360001
2005-12-29    22.270000
Name: Close, dtype: float64
20051231
Date
2005-12-30    22.459999
Name: Close, dtype: float64 Date
2006-03-30    19.400000
2006-03-31    19.469999
Name: Close, dtype: float64
20060331
Date
2006-03-30    19.400000
2006-03-31    19.469999
Name: Close, dtype: float64 Date
2006-06-28    19.440001
2006-06-29    19.910000
Name: Close, dtype: float64
20060630
Date
2006-06-29    19.910000
2006-06-30    19.799999
Name: Close, dtype: float64 Date
2006-09-27    16.00
2006-09-28    16.09
Name: Close, dtype: float64
20060930
Date
2006-09-29    16.629999
Name: Close, dtype: float64 Date
2006-12-28    17.030001
2006-12-29    16.820000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    15.47
Name: Close, dtype: float64 Date
2007-06-28    17.889999
2007-06-29    18.180000
Name: Close, dtype: float64
20070630
Date
2007-06-29    18.18
Name: Close, dtype: float64 Date
2007-09-27    11.72
2007-09-28    11.60
Name: Close, dtype: float64
20070930
Date
2007-10-01    12.01
Name: Close, dtype: float64 Date
2007-12-31    10.41
Name: Close, dtype: float64
20071231
Date
2007-12-31    10.41
Name: Close, dtype: float64 Date
2008-03-31    9.63
Name: Close, dtype: float64
20080331
Date
2008-03-31    9.63
Name: Close, dtype: float64 Date
2008-06-30    12.22
Name: Close, dtype: float64
20080630
Date
2008-06-30    12.22
Name: Close, dtype: float64 Date
2008-09-29    10.85
Name: Close, dtype: float64
20080930
Date
2008-09-29    10.85
2008-09-30    10.54
Name: Close, dtype: float64 Date
2008-12-29    5.05
Name: Close, dtype: float64
20081231
Date
2008-12-30    5.62
2008-12-31    5.11
Name: Close, dtype: float64 Date
2009-03-30    5.52
2009-03-31    5.31
Name: Close, dtype: float64
20090331
Date
2009-03-30    5.52
2009-03-31    5.31
Name: Close, dtype: float64 Date
2009-06-29    8.06
Name: Close, dtype: float64
20090630
Date
2009-06-29    8.06
2009-06-30    7.69
Name: Close, dtype: float64 Date
2009-09-28    8
Name: Close, dtype: int64
20090930
Date
2009-09-29    7.61
2009-09-30    7.25
Name: Close, dtype: float64 Date
2009-12-28    6.50
2009-12-29    6.69
Name: Close, dtype: float64
20091231
Date
2009-12-30    6.76
2009-12-31    6.78
Name: Close, dtype: float64 Date
2010-03-30    6.31
2010-03-31    6.31
Name: Close, dtype: float64
20100331
Date
2010-03-30    6.31
2010-03-31    6.31
Name: Close, dtype: float64 Date
2010-06-28    4.62
2010-06-29    4.33
Name: Close, dtype: float64
20100630
Date
2010-06-29    4.33
2010-06-30    4.14
Name: Close, dtype: float64 Date
2010-09-27    4.64
2010-09-28    4.88
Name: Close, dtype: float64
20100930
Date
2010-09-29    5.10
2010-09-30    5.37
Name: Close, dtype: float64 Date
2010-12-28    5.96
2010-12-29    6.02
Name: Close, dtype: float64
20101231
Date
2010-12-30    5.92
2010-12-31    5.93
Name: Close, dtype: float64 Date
2011-03-30    5.40
2011-03-31    5.37
Name: Close, dtype: float64
20110331
Date
2011-03-30    5.40
2011-03-31    5.37
Name: Close, dtype: float64 Date
2011-06-28    3.89
2011-06-29    3.88
Name: Close, dtype: float64
20110630
Date
2011-06-29    3.88
2011-06-30    4.04
Name: Close, dtype: float64 Date
2011-09-27    3.76
2011-09-28    3.52
Name: Close, dtype: float64
20110930
Date
2011-09-29    3.40
2011-09-30    3.37
Name: Close, dtype: float64 Date
2011-12-28    3.83
2011-12-29    3.82
Name: Close, dtype: float64
20111231
Date
2011-12-30    3.91
Name: Close, dtype: float64 Date
2012-03-29    4.85
2012-03-30    4.74
Name: Close, dtype: float64
20120331
Date
2012-03-30    4.74
Name: Close, dtype: float64 Date
2012-06-28    6.52
2012-06-29    6.80
Name: Close, dtype: float64
20120630
Date
2012-06-29    6.8
Name: Close, dtype: float64 Date
2012-09-27    7.70
2012-09-28    7.46
Name: Close, dtype: float64
20120930
Date
2012-10-01    7.39
Name: Close, dtype: float64 Date
2012-12-31    4.5
Name: Close, dtype: float64
20121231
Date
2012-12-31    4.5
Name: Close, dtype: float64 Date
2013-04-01    6.71
Name: Close, dtype: float64
20130331
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930

error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
Date
2009-09-29    3.32
2009-09-30    3.16
Name: Close, dtype: float64 Date
2009-12-31    0.87
Name: Close, dtype: float64
20091231
Date
2009-12-31    0.87
Name: Close, dtype: float64 Date
2010-03-30    0.5
2010-03-31    0.5
Name: Close, dtype: float64
20100331
Date
2010-03-30    0.5
2010-03-31    0.5
Name: Close, dtype: float64 Date
2010-06-28    0.5
2010-06-29    0.5
Name: Close, dtype: float64
20100630
Date
2010-06-29    0.5
2010-06-30    0.5
Name: Close, dtype: float64 Date
2010-09-28    0.5
Name: Close, dtype: float64
20100930
error
20101231
Date
2010-12-30    0.5
2010-12-31    0.5
Name: Close, dtype: float64 Date
2011-03-30    0.5
Name: Close, dtype: float64
20110331
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20080630
error
20080930
error
20081231
error
20090331
error
20140331
Date
2014-03-31    36.599998
Name: Close, dtype: float64 Date
2014-06-30    42.959999
Name: Close, dtype: float64
20140630
Date
2014-06-30    42.959999
Name: Close, dtype: float64 Date
2014-09-29    35.029999
Name: Close, dtype: float64
20140930
Date
2014-09-29    35.029999
2014-09-30    35.480000
Name: Close, dtype: float64 Date
2014-12-29    52.849998
Name: Close, dtype: float64
20141231
Date
2014-12-30    53.419998
2014-12-31    53.630001
Name: Close, dtype: float64 Date
2015-03-30    53.639999
2015-03-31    52.779999
Name: Close, dtype: float64
20150331
Date
2015-03-30    53.639999
2015-03-31    52.779999
Name: Close, dtype: float64 Date
2015-06-29    39.75
Name: Close, dtype: float64
20150630
Date
2015-06-29    39.750000
2015-06-30    39.939999
Name: Close, dtype: float64 Date
2015-09-28    39.080002
Name: Close, dtype: float64
20150930
Date
2015-09-29    39.180000
2015-09-30    38.830002
Name: Close, dtype: float64 Date
2015-12-28    43.23
2015-12-29    43.50
Name: Close, dtype: float64
20151231
Date
2015-12-30    42.799999
2015-12-31    42.349998
Name: Close, dtype: float64 Date
2016-03-29    41.349998
2016-03-30    41.380001
Name: Close, dtype: float64
20160331
Date
2016-03-30    41.380001
2016-03-31    41.009998
Name: Close, dtype: float64 Date
2016-06-28    26.770000
2016-06-29    27.700001
Name: Close, dtype: float64
20160630
Date
2016-06-29    27.700001
2016-06-30    28.309999
Name: Close, dtype: float64 Date
2016-09-27    36.00
2016-09-28    35.84
Name: Close, dtype: float64
20160930
Date
2016-09-29    35.820000
2016-09-30    36.610001
Name: Close, dtype: float64 Date
2016-12-28    47.669998
2016-12-29    47.250000
Name: Close, dtype: float64
20161231
Date
2016-12-30    46.689999
Name: Close, dtype: float64 Date
2017-03-30    42.540001
2017-03-31    42.299999
Name: Close, dtype: float64
20170331
Date
2017-03-30    42.540001
2017-03-31    42.299999
Name: Close, dtype: float64 Date
2017-06-28    49.250000
2017-06-29    49.619999
Name: Close, dtype: float64
20170630
Date
2017-06-29    49.619999
2017-06-30    50.320000
Name: Close, dtype: float64 Date
2017-09-27    46.849998
2017-09-28    47.490002
Name: Close, dtype: float64
20170930
Date
2017-09-29    47.490002
Name: Close, dtype: float64 Date
2017-12-28    52.459999
2017-12-29    52.029999
Name: Close, dtype: float64
20171231
Date
2018-01-02    52.990002
Name: Close, dtype: float64 Date
2018-04-02    49.779999
Name: Close, dtype: float64
20180331
Date
2018-04-02    49.779999
Name: Close, dtype: float64 Date
2018-07-02    38.360001
Name: Close, dtype: float64
20180630
Date
2018-06-29    37.959999
Name: Close, dtype: float64 Date
2018-09-27    41.500000
2018-09-28    41.330002
Name: Close, dtype: float64
20180930
Date
2018-10-01    39.610001
Name: Close, dtype: float64 Date
2018-12-31    32.110001
Name: Close, dtype: float64
20181231
Date
2018-12-31    32.110001
Name: Close, dtype: float64 Date
2019-04-01    32.349998
Name: Close, dtype: float64
20190331
Date
2019-04-01    32.349998
Name: Close, dtype: float64 Date
2019-07-01    32.880001
Name: Close, dtype: float64
20190630
Date
2019-07-01    32.880001
Name: Close, dtype: float64 Date
2019-09-30    26.969999
Name: Close, dtype: float64
20190930
Date
2019-09-30    26.969999
Name: Close, dtype: float64 Date
2019-12-30    28.299999
Name: Close, dtype: float64
20191231
Date
2019-12-30    28.299999
2019-12-31    28.680000
Name: Close, dtype: float64 Date
2020-03-30    12.25
Name: Close, dtype: float64
20131231
Date
2013-12-30    900.5
2013-12-31    930.0
Name: Close, dtype: float64 Date
2014-03-31    1074.650024
Name: Close, dtype: float64
20140331
Date
2014-03-31    1074.650024
Name: Close, dtype: float64 Date
2014-06-30    723.059998
Name: Close, dtype: float64
20140630
Date
2014-06-30    723.059998
Name: Close, dtype: float64 Date
2014-09-29    706.880005
Name: Close, dtype: float64
20140930
Date
2014-09-29    706.880005
2014-09-30    675.010010
Name: Close, dtype: float64 Date
2014-12-29    334.049988
Name: Close, dtype: float64
20141231
Date
2014-12-30    340.000000
2014-12-31    310.119995
Name: Close, dtype: float64 Date
2015-03-30    187.050003
2015-03-31    185.130005
Name: Close, dtype: float64
20150331
Date
2015-03-30    187.050003
2015-03-31    185.130005
Name: Close, dtype: float64 Date
2015-06-29    146
Name: Close, dtype: int64
20150630
Date
2015-06-29    146.000000
2015-06-30    144.289993
Name: Close, dtype: float64 Date
2015-09-28    24.049999
Name: Close, dtype: float64
20150930
Date
2015-09-29    23.549999
2015-09-30    23.950001
Name: Close, dtype: float64 Date
2015-12-28    18.010000
2015-12-29    19.440001
Name: Close, dtype: float64
20151231
Date
2015-12-30    17.549999
2015-12-31    17.160000
Name: Close, dtype: float64 Date
2016-03-29    11.77
2016-03-30    11.86
Name: Close, dtype: float64
20160331
Date
2016-03-30    11.86
2016-03-31    11.80
Name: Close, dtype: float64 Date
2016-06-28    14.00
2016-06-29    14.55
Name: Close, dtype: float64
20160630
Date
2016-06-29    14.55
2016-06-30    14.57
Name: Close, dtype: float64 Date
2016-09-27    16.230000
2016-09-28    16.780001
Name: Close, dtype: float64
20160930
Date
2016-09-29    16.799999
2016-09-30    18.500000
Name: Close, dtype: float64 Date
2016-12-28    51.799999
2016-12-29    49.099998
Name: Close, dtype: float64
20161231
Date
2016-12-30    53.5
Name: Close, dtype: float64 Date
2017-03-30    75.00
2017-03-31    75.25
Name: Close, dtype: float64
20170331
Date
2017-03-30    75.00
2017-03-31    75.25
Name: Close, dtype: float64 Date
2017-06-28    88.000000
2017-06-29    87.309998
Name: Close, dtype: float64
20170630
Date
2017-06-29    87.309998
2017-06-30    91.400002
Name: Close, dtype: float64 Date
2017-09-27    85.680000
2017-09-28    84.949997
Name: Close, dtype: float64
20170930
Date
2017-09-29    80.199997
Name: Close, dtype: float64 Date
2017-12-28    74.000000
2017-12-29    81.599998
Name: Close, dtype: float64
20171231
Date
2018-01-02    81.599998
Name: Close, dtype: float64 Date
2018-04-02    65.5
Name: Close, dtype: float64
20180331
Date
2018-04-02    65.5
Name: Close, dtype: float64 Date
2018-07-02    68.550003
Name: Close, dtype: float64
20180630
Date
2018-06-29    69.75
Name: Close, dtype: float64 Date
2018-09-27    60.549999
2018-09-28    59.849998
Name: Close, dtype: float64
20180930
Date
2018-10-01    58.119999
Name: Close, dtype: float64 Date
2018-12-31    29.690001
Name: Close, dtype: float64
20181231
Date
2018-12-31    29.690001
Name: Close, dtype: float64 Date
2019-04-01    28.75
Name: Close, dtype: float64
20190331
Date
2019-04-01    28.75
Name: Close, dtype: float64 Date
2019-07-01    12.01
Name: Close, dtype: float64
20190630
Date
2019-07-01    12.01
Name: Close, dtype: float64 Date
2019-09-30    9.33
Name: Close, dtype: float64
20190930
Date
2019-09-30    9.33
Name: Close, dtype: float64 Date
2019-12-30    11.2
Name: Close, dtype: float64
20191231
Date
2019-12-30    11.20
2019-12-31    12.35
Name: Close, dtype: float64 Date
2020-03-30    12.29
Name: Close, dtype: float64
20030331
Date
2003-03-31    1.5
Name: Close, dtype: float64 Date
2003-06-30    2.47
Name: Close, dtype: float64
20030630

Date
2003-06-30    2.47
Name: Close, dtype: float64 Date
2003-09-29    2.69
Name: Close, dtype: float64
20030930
Date
2003-09-29    2.69
2003-09-30    2.59
Name: Close, dtype: float64 Date
2003-12-29    3
Name: Close, dtype: int64
20031231
Date
2003-12-30    2.96
2003-12-31    3.00
Name: Close, dtype: float64 Date
2004-03-29    2.96
2004-03-30    3.00
Name: Close, dtype: float64
20040331
Date
2004-03-30    3.00
2004-03-31    3.02
Name: Close, dtype: float64 Date
2004-06-28    2.70
2004-06-29    2.87
Name: Close, dtype: float64
20040630
Date
2004-06-29    2.87
2004-06-30    2.76
Name: Close, dtype: float64 Date
2004-09-27    3.14
2004-09-28    3.00
Name: Close, dtype: float64
20040930
Date
2004-09-29    3.10
2004-09-30    3.07
Name: Close, dtype: float64 Date
2004-12-28    3.05
2004-12-29    3.01
Name: Close, dtype: float64
20041231
Date
2004-12-30    3.07
2004-12-31    3.10
Name: Close, dtype: float64 Date
2005-03-30    3.02
2005-03-31    3.03
Name: Close, dtype: float64
20050331
Date
2005-03-30    3.02
2005-03-31    3.03
Name: Close, dtype: float64 Date
2005-06-28    3
2005-06-29    3
Name: Close, dtype: int64
20050630
Date
2005-06-29    3
2005-06-30    3
Name: Close, dtype: int64 Date
2005-09-27    2.96
2005-09-28    2.96
Name: Close, dtype: float64
20050930
Date
2005-09-29    2.96
2005-09-30    2.94
Name: Close, dtype: float64 Date
2005-12-28    2.65
2005-12-29    2.60
Name: Close, dtype: float64
20051231
Date
2005-12-30    2.7
Name: Close, dtype: float64 Date
2006-03-30    2.82
2006-03-31    2.81
Name: Close, dtype: float64
20060331
Date
2006-03-30    2.82
2006-03-31    2.81
Name: Close, dtype: float64 Date
2006-06-28    3.00
2006-06-29    3.05
Name: Close, dtype: float64
20060630
Date
2006-06-29    3.05
2006-06-30    2.98
Name: Close, dtype: float64 Date
2006-09-27    2.45
2006-09-28    2.59
Name: Close, dtype: float64
20060930
Date
2006-09-29    2.43
Name: Close, dtype: float64 Date
2006-12-28    2.96
2006-12-29    2.96
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    4
Name: Close, dtype: int64 Date
2007-06-28    3.94
2007-06-29    4.05
Name: Close, dtype: float64
20070630
Date
2007-06-29    4.05
Name: Close, dtype: float64 Date
2007-09-27    2.72
2007-09-28    2.70
Name: Close, dtype: float64
20070930
Date
2007-10-01    2.62
Name: Close, dtype: float64 Date
2007-12-31    1.4
Name: Close, dtype: float64
20071231
Date
2007-12-31    1.4
Name: Close, dtype: float64 Date
2008-03-31    1.53
Name: Close, dtype: float64
20080331
Date
2008-03-31    1.53
Name: Close, dtype: float64 Date
2008-06-30    1.61
Name: Close, dtype: float64
20080630
Date
2008-06-30    1.61
Name: Close, dtype: float64 Date
2008-09-29    1.1
Name: Close, dtype: float64
20080930
Date
2008-09-29    1.10
2008-09-30    1.14
Name: Close, dtype: float64 Date
2008-12-29    0.65
Name: Close, dtype: float64
20081231
Date
2008-12-30    0.87
2008-12-31    0.74
Name: Close, dtype: float64 Date
2009-03-30    0.76
2009-03-31    0.72
Name: Close, dtype: float64
20090331
Date
2009-03-30    0.76
2009-03-31    0.72
Name: Close, dtype: float64 Date
2009-06-29    0.73
Name: Close, dtype: float64
20090630
Date
2009-06-29    0.73
2009-06-30    0.74
Name: Close, dtype: float64 Date
2009-09-28    1
Name: Close, dtype: int64
20090930
Date
2009-09-29    1.12
2009-09-30    1.05
Name: Close, dtype: float64 Date
2009-12-28    1.26
2009-12-29    1.25
Name: Close, dtype: float64
20091231
Date
2009-12-30    1.25
2009-12-31    1.28
Name: Close, dtype: float64 Date
2010-03-30    1.47
2010-03-31    1.48
Name: Close, dtype: float64
20100331
Date
2010-03-30    1.47
2010-03-31    1.48
Name: Close, dtype: float64 Date
2010-06-28    1.30
2010-06-29    1.35
Name: Close, dtype: float64
20100630
Date
2010-06-29    1.35
2010-06-30    1.35
Name: Close, dtype: float64 Date
2010-09-27    1.77
2010-09-28    1.74
Name: Close, dtype: float64
20100930
Date
2010-09-29    1.74
2010-09-30    1.64
Name: Close, dtype: float64 Date
2010-12-28    2
2010-12-29    2
Name: Close, dtype: int64
20101231
Date
2010-12-30    2.05
2010-12-31    2.03
Name: Close, dtype: float64 Date
2011-03-30    2.18
2011-03-31    2.17
Name: Close, dtype: float64
20110331
Date
2011-03-30    2.18
2011-03-31    2.17
Name: Close, dtype: float64 Date
2011-06-28    2.01
2011-06-29    2.09
Name: Close, dtype: float64
20110630
Date
2011-06-29    2.09
2011-06-30    2.05
Name: Close, dtype: float64 Date
2011-09-27    1.89
2011-09-28    1.89
Name: Close, dtype: float64
20110930
Date
2011-09-29    1.89
2011-09-30    1.90
Name: Close, dtype: float64 Date
2011-12-28    1.99
2011-12-29    1.99
Name: Close, dtype: float64
20111231
Date
2011-12-30    1.97
Name: Close, dtype: float64 Date
2012-03-29    2.85
2012-03-30    2.88
Name: Close, dtype: float64
20120331
Date
2012-03-30    2.88
Name: Close, dtype: float64 Date
2012-06-28    2.75
2012-06-29    2.75
Name: Close, dtype: float64
20120630
Date
2012-06-29    2.75
Name: Close, dtype: float64 Date
2012-09-27    2.75
2012-09-28    2.74
Name: Close, dtype: float64
20120930
Date
2012-10-01    2.78
Name: Close, dtype: float64 Date
2012-12-31    3.09
Name: Close, dtype: float64
20121231
Date
2012-12-31    3.09
Name: Close, dtype: float64 Date
2013-04-01    3.36
Name: Close, dtype: float64
20130331
Date
2013-04-01    3.36
Name: Close, dtype: float64 Date
2013-07-01    3.82
Name: Close, dtype: float64
20130630
Date
2013-07-01    3.82
Name: Close, dtype: float64 Date
2013-09-30    4.05
Name: Close, dtype: float64
20130930
Date
2013-09-30    4.05
Name: Close, dtype: float64 Date
2013-12-30    3.9
Name: Close, dtype: float64
20131231
Date
2013-12-30    3.90
2013-12-31    4.09
Name: Close, dtype: float64 Date
2014-03-31    3.64
Name: Close, dtype: float64
20140331
Date
2014-03-31    3.64
Name: Close, dtype: float64 Date
2014-06-30    3.85
Name: Close, dtype: float64
20140630
Date
2014-06-30    3.85
Name: Close, dtype: float64 Date
2014-09-29    3.98
Name: Close, dtype: float64
20140930
Date
2014-09-29    3.98
2014-09-30    3.98
Name: Close, dtype: float64 Date
2014-12-29    3.9
Name: Close, dtype: float64
20141231
Date
2014-12-30    3.93
2014-12-31    4.03
Name: Close, dtype: float64 Date
2015-03-30    4.03
2015-03-31    4.03
Name: Close, dtype: float64
20150331
Date
2015-03-30    4.03
2015-03-31    4.03
Name: Close, dtype: float64 Date
2015-06-29    3.63
Name: Close, dtype: float64
20150630
Date
2015-06-29    3.63
2015-06-30    3.62
Name: Close, dtype: float64 Date
2015-09-28    4
Name: Close, dtype: int64
20150930
Date
2015-09-29    4.05
2015-09-30    4.04
Name: Close, dtype: float64 Date
2015-12-28    4.72
2015-12-29    4.98
Name: Close, dtype: float64
20151231
Date
2015-12-30    4.87
2015-12-31    4.99
Name: Close, dtype: float64 Date
2016-03-29    4.14
2016-03-30    4.18
Name: Close, dtype: float64
20160331
Date
2016-03-30    4.18
2016-03-31    4.45
Name: Close, dtype: float64 Date
2016-06-28    4.15
2016-06-29    3.99
Name: Close, dtype: float64
20160630
Date
2016-06-29    3.99
2016-06-30    3.96
Name: Close, dtype: float64 Date
2016-09-27    3.44
2016-09-28    3.37
Name: Close, dtype: float64
20160930
Date
2016-09-29    3.26
2016-09-30    3.24
Name: Close, dtype: float64 Date
2016-12-28    3.80
2016-12-29    3.93
Name: Close, dtype: float64
20161231
Date
2016-12-30    4.1
Name: Close, dtype: float64 Date
2017-03-30    4
2017-03-31    4
Name: Close, dtype: int64
20170331
Date
2017-03-30    4
2017-03-31    4
Name: Close, dtype: int64 Date
2017-06-28    3.7
2017-06-29    3.7
Name: Close, dtype: float64
20170630
Date
2017-06-29    3.70
2017-06-30    3.75
Name: Close, dtype: float64 Date
2017-09-27    3.2
2017-09-28    3.2
Name: Close, dtype: float64
20170930
Date
2017-09-29    3.25
Name: Close, dtype: float64 Date
2017-12-28    3.25
2017-12-29    3.40
Name: Close, dtype: float64
20171231
Date
2018-01-02    3.25
Name: Close, dtype: float64 Date
2018-04-02    3.35
Name: Close, dtype: float64
20180331
Date
2018-04-02    3.35
Name: Close, dtype: float64 Date
2018-07-02    2.55
Name: Close, dtype: float64
20180630
Date
2018-06-29    2.7
Name: Close, dtype: float64 Date
2018-09-27    2.5
2018-09-28    2.5
Name: Close, dtype: float64
20180930
Date
2018-10-01    2.6
Name: Close, dtype: float64 Date
2018-12-31    2.41
Name: Close, dtype: float64
20181231

Date
2018-12-31    2.41
Name: Close, dtype: float64 Date
2019-04-01    2.61
Name: Close, dtype: float64
20190331
Date
2019-04-01    2.61
Name: Close, dtype: float64 Date
2019-07-01    2.4
Name: Close, dtype: float64
20190630
Date
2019-07-01    2.4
Name: Close, dtype: float64 Date
2019-09-30    2.77
Name: Close, dtype: float64
20190930
Date
2019-09-30    2.77
Name: Close, dtype: float64 Date
2019-12-30    1.92
Name: Close, dtype: float64
20191231
Date
2019-12-30    1.92
2019-12-31    1.97
Name: Close, dtype: float64 Date
2020-03-30    2.13
Name: Close, dtype: float64
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20160930
error
20161231
error
20170331
error
20170630
error
20170930
error
20171231
error
20180331
error
20180630
error
20180930
error
20181231
error
20190331
error
20190630
error
20190930
error
20191231
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20131231
Date
2013-12-30    14.98
2013-12-31    15.01
Name: Close, dtype: float64 Date
2014-03-31    24.67
Name: Close, dtype: float64
20140331
Date
2014-03-31    24.67
Name: Close, dtype: float64 Date
2014-06-30    23.200001
Name: Close, dtype: float64
20140630
Date
2014-06-30    23.200001
Name: Close, dtype: float64 Date
2014-09-29    16.629999
Name: Close, dtype: float64
20140930
Date
2014-09-29    16.629999
2014-09-30    16.100000
Name: Close, dtype: float64 Date
2014-12-29    10.94
Name: Close, dtype: float64
20141231
Date
2014-12-30    11.01
2014-12-31    11.22
Name: Close, dtype: float64 Date
2015-03-30    13.89
2015-03-31    13.88
Name: Close, dtype: float64
20150331
Date
2015-03-30    13.89
2015-03-31    13.88
Name: Close, dtype: float64 Date
2015-06-29    17.33
Name: Close, dtype: float64
20150630
Date
2015-06-29    17.330000
2015-06-30    17.360001
Name: Close, dtype: float64 Date
2015-09-28    17.620001
Name: Close, dtype: float64
20150930
Date
2015-09-29    16.889999
2015-09-30    18.780001
Name: Close, dtype: float64 Date
2015-12-28    17.559999
2015-12-29    18.040001
Name: Close, dtype: float64
20151231
Date
2015-12-30    17.799999
2015-12-31    17.160000
Name: Close, dtype: float64 Date
2016-03-29    15.05
2016-03-30    15.27
Name: Close, dtype: float64
20160331
Date
2016-03-30    15.27
2016-03-31    14.91
Name: Close, dtype: float64 Date
2016-06-28     9.9
2016-06-29    10.4
Name: Close, dtype: float64
20160630
Date
2016-06-29    10.40
2016-06-30    11.15
Name: Close, dtype: float64 Date
2016-09-27    21.309999
2016-09-28    21.219999
Name: Close, dtype: float64
20160930
Date
2016-09-29    20.959999
2016-09-30    22.209999
Name: Close, dtype: float64 Date
2016-12-28    24.389999
2016-12-29    24.270000
Name: Close, dtype: float64
20161231
Date
2016-12-30    23.440001
Name: Close, dtype: float64 Date
2017-03-30    55.349998
2017-03-31    56.150002
Name: Close, dtype: float64
20170331
Date
2017-03-30    55.349998
2017-03-31    56.150002
Name: Close, dtype: float64 Date
2017-06-28    61
2017-06-29    60
Name: Close, dtype: int64
20170630
Date
2017-06-29    60.000000
2017-06-30    61.790001
Name: Close, dtype: float64 Date
2017-09-27    64.730003
2017-09-28    64.209999
Name: Close, dtype: float64
20170930
Date
2017-09-29    64.669998
Name: Close, dtype: float64 Date
2017-12-28    38.860001
2017-12-29    37.820000
Name: Close, dtype: float64
20171231
Date
2018-01-02    37.91
Name: Close, dtype: float64 Date
2018-04-02    24.02
Name: Close, dtype: float64
20180331
Date
2018-04-02    24.02
Name: Close, dtype: float64 Date
2018-07-02    45.98
Name: Close, dtype: float64
20180630
Date
2018-06-29    44.900002
Name: Close, dtype: float64 Date
2018-09-27    28.360001
2018-09-28    24.660000
Name: Close, dtype: float64
20180930
Date
2018-10-01    24
Name: Close, dtype: int64 Date
2018-12-31    15.43
Name: Close, dtype: float64
20181231
Date
2018-12-31    15.43
Name: Close, dtype: float64 Date
2019-04-01    12.6
Name: Close, dtype: float64
20190331
Date
2019-04-01    12.6
Name: Close, dtype: float64 Date
2019-07-01    10.18
Name: Close, dtype: float64
20190630
Date
2019-07-01    10.18
Name: Close, dtype: float64 Date
2019-09-30    11.22
Name: Close, dtype: float64
20190930
Date
2019-09-30    11.22
Name: Close, dtype: float64 Date
2019-12-30    11.61
Name: Close, dtype: float64
20191231
Date
2019-12-30    11.61
2019-12-31    11.88
Name: Close, dtype: float64 Date
2020-03-30    7.6
Name: Close, dtype: float64
20030331
Date
2003-03-31    2.508642
Name: Close, dtype: float64 Date
2003-06-30    3.658272
Name: Close, dtype: float64
20030630
Date
2003-06-30    3.658272
Name: Close, dtype: float64 Date
2003-09-29    3.237531
Name: Close, dtype: float64
20030930
Date
2003-09-29    3.237531
2003-09-30    3.249383
Name: Close, dtype: float64 Date
2003-12-29    3.739259
Name: Close, dtype: float64
20031231
Date
2003-12-30    3.814321
2003-12-31    3.834074
Name: Close, dtype: float64 Date
2004-03-29    4.049383
2004-03-30    4.039506
Name: Close, dtype: float64
20040331
Date
2004-03-30    4.039506
2004-03-31    4.005926
Name: Close, dtype: float64 Date
2004-06-28    3.915062
2004-06-29    4.047408
Name: Close, dtype: float64
20040630
Date
2004-06-29    4.047408
2004-06-30    3.988148
Name: Close, dtype: float64 Date
2004-09-27    3.466667
2004-09-28    3.407408
Name: Close, dtype: float64
20040930
Date
2004-09-29    3.460741
2004-09-30    3.437037
Name: Close, dtype: float64 Date
2004-12-28    2.933333
2004-12-29    3.040000
Name: Close, dtype: float64
20041231
Date
2004-12-30    3.130864
2004-12-31    3.174321
Name: Close, dtype: float64 Date
2005-03-30    3.221728
2005-03-31    3.251358
Name: Close, dtype: float64
20050331
Date
2005-03-30    3.221728
2005-03-31    3.251358
Name: Close, dtype: float64 Date
2005-06-28    3.583210
2005-06-29    3.575309
Name: Close, dtype: float64
20050630
Date
2005-06-29    3.575309
2005-06-30    3.508148
Name: Close, dtype: float64 Date
2005-09-27    3.616790
2005-09-28    3.571358
Name: Close, dtype: float64
20050930
Date
2005-09-29    3.612839
2005-09-30    3.630617
Name: Close, dtype: float64 Date
2005-12-28    3.535802
2005-12-29    3.506173
Name: Close, dtype: float64
20051231
Date
2005-12-30    3.531852
Name: Close, dtype: float64 Date
2006-03-30    4.620247
2006-03-31    4.722963
Name: Close, dtype: float64
20060331
Date
2006-03-30    4.620247
2006-03-31    4.722963
Name: Close, dtype: float64 Date
2006-06-28    4.584692
2006-06-29    5.021235
Name: Close, dtype: float64
20060630
Date
2006-06-29    5.021235
2006-06-30    5.068642
Name: Close, dtype: float64 Date
2006-09-27    4.691358
2006-09-28    4.626173
Name: Close, dtype: float64
20060930
Date
2006-09-29    4.505679
Name: Close, dtype: float64 Date
2006-12-28    5.384691
2006-12-29    5.191111
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    5.161481
Name: Close, dtype: float64 Date
2007-06-28    6.326913
2007-06-29    6.291358
Name: Close, dtype: float64
20070630
Date
2007-06-29    6.291358
Name: Close, dtype: float64 Date
2007-09-27    5.976296
2007-09-28    5.845926
Name: Close, dtype: float64
20070930
Date
2007-10-01    5.925926
Name: Close, dtype: float64 Date
2007-12-31    5.872592
Name: Close, dtype: float64
20071231
Date
2007-12-31    5.872592
Name: Close, dtype: float64 Date
2008-03-31    5.934815
Name: Close, dtype: float64
20080331
Date
2008-03-31    5.934815
Name: Close, dtype: float64 Date
2008-06-30    5.706666
Name: Close, dtype: float64
20080630
Date
2008-06-30    5.706666
Name: Close, dtype: float64 Date
2008-09-29    5.274074
Name: Close, dtype: float64
20080930

Date
2008-09-29    5.274074
2008-09-30    5.389630
Name: Close, dtype: float64 Date
2008-12-29    6.142222
Name: Close, dtype: float64
20081231
Date
2008-12-30    6.281481
2008-12-31    6.186666
Name: Close, dtype: float64 Date
2009-03-30    5.087408
2009-03-31    5.368889
Name: Close, dtype: float64
20090331
Date
2009-03-30    5.087408
2009-03-31    5.368889
Name: Close, dtype: float64 Date
2009-06-29    6.103703
Name: Close, dtype: float64
20090630
Date
2009-06-29    6.103703
2009-06-30    5.902222
Name: Close, dtype: float64 Date
2009-09-28    6.091852
Name: Close, dtype: float64
20090930
Date
2009-09-29    6.023704
2009-09-30    5.949630
Name: Close, dtype: float64 Date
2009-12-28    5.831111
2009-12-29    5.911111
Name: Close, dtype: float64
20091231
Date
2009-12-30    5.881482
2009-12-31    5.774815
Name: Close, dtype: float64 Date
2010-03-30    6.764444
2010-03-31    6.702222
Name: Close, dtype: float64
20100331
Date
2010-03-30    6.764444
2010-03-31    6.702222
Name: Close, dtype: float64 Date
2010-06-28    7.066667
2010-06-29    6.942222
Name: Close, dtype: float64
20100630
Date
2010-06-29    6.942222
2010-06-30    6.906667
Name: Close, dtype: float64 Date
2010-09-27    7.087408
2010-09-28    7.108148
Name: Close, dtype: float64
20100930
Date
2010-09-29    7.111111
2010-09-30    6.968889
Name: Close, dtype: float64 Date
2010-12-28    8.524445
2010-12-29    8.548148
Name: Close, dtype: float64
20101231
Date
2010-12-30    8.548148
2010-12-31    8.358519
Name: Close, dtype: float64 Date
2011-03-30    9.564445
2011-03-31    9.748148
Name: Close, dtype: float64
20110331
Date
2011-03-30    9.564445
2011-03-31    9.748148
Name: Close, dtype: float64 Date
2011-06-28    9.857778
2011-06-29    9.773334
Name: Close, dtype: float64
20110630
Date
2011-06-29    9.773334
2011-06-30    9.706667
Name: Close, dtype: float64 Date
2011-09-27    7.595556
2011-09-28    7.035555
Name: Close, dtype: float64
20110930
Date
2011-09-29    7.266667
2011-09-30    7.000000
Name: Close, dtype: float64 Date
2011-12-28    9.071111
2011-12-29    9.222222
Name: Close, dtype: float64
20111231
Date
2011-12-30    9.106667
Name: Close, dtype: float64 Date
2012-03-29    9.080000
2012-03-30    8.973333
Name: Close, dtype: float64
20120331
Date
2012-03-30    8.973333
Name: Close, dtype: float64 Date
2012-06-28    8.093333
2012-06-29    8.377778
Name: Close, dtype: float64
20120630
Date
2012-06-29    8.377778
Name: Close, dtype: float64 Date
2012-09-27    8.862223
2012-09-28    8.751111
Name: Close, dtype: float64
20120930
Date
2012-10-01    8.657778
Name: Close, dtype: float64 Date
2012-12-31    9.275556
Name: Close, dtype: float64
20121231
Date
2012-12-31    9.275556
Name: Close, dtype: float64 Date
2013-04-01    12.177778
Name: Close, dtype: float64
20130331
Date
2013-04-01    12.177778
Name: Close, dtype: float64 Date
2013-07-01    15.102222
Name: Close, dtype: float64
20130630
Date
2013-07-01    15.102222
Name: Close, dtype: float64 Date
2013-09-30    17.706667
Name: Close, dtype: float64
20130930
Date
2013-09-30    17.706667
Name: Close, dtype: float64 Date
2013-12-30    21.673334
Name: Close, dtype: float64
20131231
Date
2013-12-30    21.673334
2013-12-31    21.299999
Name: Close, dtype: float64 Date
2014-03-31    18.58
Name: Close, dtype: float64
20140331
Date
2014-03-31    18.58
Name: Close, dtype: float64 Date
2014-06-30    22.346666
Name: Close, dtype: float64
20140630
Date
2014-06-30    22.346666
Name: Close, dtype: float64 Date
2014-09-29    17.49
Name: Close, dtype: float64
20140930
Date
2014-09-29    17.49
2014-09-30    17.01
Name: Close, dtype: float64 Date
2014-12-29    22.299999
Name: Close, dtype: float64
20141231
Date
2014-12-30    22.340000
2014-12-31    22.389999
Name: Close, dtype: float64 Date
2015-03-30    24.709999
2015-03-31    24.530001
Name: Close, dtype: float64
20150331
Date
2015-03-30    24.709999
2015-03-31    24.530001
Name: Close, dtype: float64 Date
2015-06-29    22.389999
Name: Close, dtype: float64
20150630
Date
2015-06-29    22.389999
2015-06-30    22.520000
Name: Close, dtype: float64 Date
2015-09-28    19.75
Name: Close, dtype: float64
20150930
Date
2015-09-29    19.120001
2015-09-30    19.379999
Name: Close, dtype: float64 Date
2015-12-28    23.52
2015-12-29    23.52
Name: Close, dtype: float64
20151231
Date
2015-12-30    23.670000
2015-12-31    23.219999
Name: Close, dtype: float64 Date
2016-03-29    28.020000
2016-03-30    27.799999
Name: Close, dtype: float64
20160331
Date
2016-03-30    27.799999
2016-03-31    28.000000
Name: Close, dtype: float64 Date
2016-06-28    25.930000
2016-06-29    26.549999
Name: Close, dtype: float64
20160630
Date
2016-06-29    26.549999
2016-06-30    27.510000
Name: Close, dtype: float64 Date
2016-09-27    28.320000
2016-09-28    28.360001
Name: Close, dtype: float64
20160930
Date
2016-09-29    28.219999
2016-09-30    28.820000
Name: Close, dtype: float64 Date
2016-12-28    33.400002
2016-12-29    33.549999
Name: Close, dtype: float64
20161231
Date
2016-12-30    33.049999
Name: Close, dtype: float64 Date
2017-03-30    35.250000
2017-03-31    35.349998
Name: Close, dtype: float64
20170331
Date
2017-03-30    35.250000
2017-03-31    35.349998
Name: Close, dtype: float64 Date
2017-06-28    36.299999
2017-06-29    36.400002
Name: Close, dtype: float64
20170630
Date
2017-06-29    36.400002
2017-06-30    36.849998
Name: Close, dtype: float64 Date
2017-09-27    34.950001
2017-09-28    34.849998
Name: Close, dtype: float64
20170930
Date
2017-09-29    34.48
Name: Close, dtype: float64 Date
2017-12-28    36.799999
2017-12-29    36.700001
Name: Close, dtype: float64
20171231
Date
2018-01-02    36.950001
Name: Close, dtype: float64 Date
2018-04-02    37.150002
Name: Close, dtype: float64
20180331
Date
2018-04-02    37.150002
Name: Close, dtype: float64 Date
2018-07-02    33.950001
Name: Close, dtype: float64
20180630
Date
2018-06-29    33.25
Name: Close, dtype: float64 Date
2018-09-27    37.250000
2018-09-28    37.799999
Name: Close, dtype: float64
20180930
Date
2018-10-01    36.52
Name: Close, dtype: float64 Date
2018-12-31    35.060001
Name: Close, dtype: float64
20181231
Date
2018-12-31    35.060001
Name: Close, dtype: float64 Date
2019-04-01    46.470001
Name: Close, dtype: float64
20190331
Date
2019-04-01    46.470001
Name: Close, dtype: float64 Date
2019-07-01    49.73
Name: Close, dtype: float64
20190630
Date
2019-07-01    49.73
Name: Close, dtype: float64 Date
2019-09-30    45.939999
Name: Close, dtype: float64
20190930
Date
2019-09-30    45.939999
Name: Close, dtype: float64 Date
2019-12-30    49.380001
Name: Close, dtype: float64
20191231
Date
2019-12-30    49.380001
2019-12-31    49.410000
Name: Close, dtype: float64 Date
2020-03-30    48.259998
Name: Close, dtype: float64
20030331
Date
2003-03-31    15.416667
Name: Close, dtype: float64 Date
2003-06-30    20.299999
Name: Close, dtype: float64
20030630
Date
2003-06-30    20.299999
Name: Close, dtype: float64 Date
2003-09-29    23.34
Name: Close, dtype: float64
20030930
Date
2003-09-29    23.340000
2003-09-30    23.633333
Name: Close, dtype: float64 Date
2003-12-29    26.676666
Name: Close, dtype: float64
20031231
Date
2003-12-30    27.006666
2003-12-31    27.133333
Name: Close, dtype: float64 Date
2004-03-29    26.253334
2004-03-30    26.600000
Name: Close, dtype: float64
20040331
Date
2004-03-30    26.600000
2004-03-31    27.113333
Name: Close, dtype: float64 Date
2004-06-28    30.606667
2004-06-29    30.146667
Name: Close, dtype: float64
20040630
Date
2004-06-29    30.146667
2004-06-30    29.453333
Name: Close, dtype: float64 Date
2004-09-27    23.219999
2004-09-28    23.473333
Name: Close, dtype: float64
20040930
Date
2004-09-29    23.266666
2004-09-30    22.933332
Name: Close, dtype: float64 Date
2004-12-28    28.486666
2004-12-29    28.879999
Name: Close, dtype: float64
20041231
Date
2004-12-30    28.940001
2004-12-31    29.120001
Name: Close, dtype: float64 Date
2005-03-30    33.613335
2005-03-31    33.633335
Name: Close, dtype: float64
20050331
Date
2005-03-30    33.613335
2005-03-31    33.633335
Name: Close, dtype: float64 Date
2005-06-28    43.433334
2005-06-29    43.486668
Name: Close, dtype: float64
20050630
Date
2005-06-29    43.486668
2005-06-30    43.033333
Name: Close, dtype: float64 Date
2005-09-27    38.639999
2005-09-28    37.810001
Name: Close, dtype: float64
20050930

Date
2005-09-29    38.259998
2005-09-30    38.680000
Name: Close, dtype: float64 Date
2005-12-28    42.779999
2005-12-29    42.610001
Name: Close, dtype: float64
20051231
Date
2005-12-30    43.459999
Name: Close, dtype: float64 Date
2006-03-30    41.540001
2006-03-31    41.639999
Name: Close, dtype: float64
20060331
Date
2006-03-30    41.540001
2006-03-31    41.639999
Name: Close, dtype: float64 Date
2006-06-28    35.900002
2006-06-29    29.910000
Name: Close, dtype: float64
20060630
Date
2006-06-29    29.91
2006-06-30    28.90
Name: Close, dtype: float64 Date
2006-09-27    33.509998
2006-09-28    33.650002
Name: Close, dtype: float64
20060930
Date
2006-09-29    32.939999
Name: Close, dtype: float64 Date
2006-12-28    35.840000
2006-12-29    35.560001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    38.549999
Name: Close, dtype: float64 Date
2007-06-28    40.820000
2007-06-29    40.529999
Name: Close, dtype: float64
20070630
Date
2007-06-29    40.529999
Name: Close, dtype: float64 Date
2007-09-27    33.320000
2007-09-28    33.560001
Name: Close, dtype: float64
20070930
Date
2007-10-01    33.349998
Name: Close, dtype: float64 Date
2007-12-31    37.990002
Name: Close, dtype: float64
20071231
Date
2007-12-31    37.990002
Name: Close, dtype: float64 Date
2008-03-31    34.049999
Name: Close, dtype: float64
20080331
Date
2008-03-31    34.049999
Name: Close, dtype: float64 Date
2008-06-30    38.830002
Name: Close, dtype: float64
20080630
Date
2008-06-30    38.830002
Name: Close, dtype: float64 Date
2008-09-29    38.830002
Name: Close, dtype: float64
20080930
Date
2008-09-29    38.830002
2008-09-30    39.660000
Name: Close, dtype: float64 Date
2008-12-29    31.559999
Name: Close, dtype: float64
20081231
Date
2008-12-30    33.009998
2008-12-31    33.650002
Name: Close, dtype: float64 Date
2009-03-30    41.639999
2009-03-31    41.080002
Name: Close, dtype: float64
20090331
Date
2009-03-30    41.639999
2009-03-31    41.080002
Name: Close, dtype: float64 Date
2009-06-29    41.560001
Name: Close, dtype: float64
20090630
Date
2009-06-29    41.560001
2009-06-30    41.490002
Name: Close, dtype: float64 Date
2009-09-28    39.389999
Name: Close, dtype: float64
20090930
Date
2009-09-29    39.189999
2009-09-30    39.279999
Name: Close, dtype: float64 Date
2009-12-28    41.220001
2009-12-29    40.759998
Name: Close, dtype: float64
20091231
Date
2009-12-30    41.009998
2009-12-31    40.480000
Name: Close, dtype: float64 Date
2010-03-30    42.230000
2010-03-31    41.919998
Name: Close, dtype: float64
20100331
Date
2010-03-30    42.230000
2010-03-31    41.919998
Name: Close, dtype: float64 Date
2010-06-28    50.470001
2010-06-29    50.279999
Name: Close, dtype: float64
20100630
Date
2010-06-29    50.279999
2010-06-30    50.180000
Name: Close, dtype: float64 Date
2010-09-27    59.380001
2010-09-28    59.459999
Name: Close, dtype: float64
20100930
Date
2010-09-29    59.66
2010-09-30    58.68
Name: Close, dtype: float64 Date
2010-12-28    66.250000
2010-12-29    66.449997
Name: Close, dtype: float64
20101231
Date
2010-12-30    66.720001
2010-12-31    66.150002
Name: Close, dtype: float64 Date
2011-03-30    65.910004
2011-03-31    65.620003
Name: Close, dtype: float64
20110331
Date
2011-03-30    65.910004
2011-03-31    65.620003
Name: Close, dtype: float64 Date
2011-06-28    58.150002
2011-06-29    57.669998
Name: Close, dtype: float64
20110630
Date
2011-06-29    57.669998
2011-06-30    58.490002
Name: Close, dtype: float64 Date
2011-09-27    60.290001
2011-09-28    59.660000
Name: Close, dtype: float64
20110930
Date
2011-09-29    59.000000
2011-09-30    58.099998
Name: Close, dtype: float64 Date
2011-12-28    70.260002
2011-12-29    70.349998
Name: Close, dtype: float64
20111231
Date
2011-12-30    69.629997
Name: Close, dtype: float64 Date
2012-03-29    87.980003
2012-03-30    88.570000
Name: Close, dtype: float64
20120331
Date
2012-03-30    88.57
Name: Close, dtype: float64 Date
2012-06-28    65.709999
2012-06-29    68.220001
Name: Close, dtype: float64
20120630
Date
2012-06-29    68.220001
Name: Close, dtype: float64 Date
2012-09-27    68.120003
2012-09-28    68.440002
Name: Close, dtype: float64
20120930
Date
2012-10-01    67.989998
Name: Close, dtype: float64 Date
2012-12-31    72.349998
Name: Close, dtype: float64
20121231
Date
2012-12-31    72.349998
Name: Close, dtype: float64 Date
2013-04-01    82.339996
Name: Close, dtype: float64
20130331
Date
2013-04-01    82.339996
Name: Close, dtype: float64 Date
2013-07-01    81.889999
Name: Close, dtype: float64
20130630
Date
2013-07-01    81.889999
Name: Close, dtype: float64 Date
2013-09-30    82.68
Name: Close, dtype: float64
20130930
Date
2013-09-30    82.68
Name: Close, dtype: float64 Date
2013-12-30    109.629997
Name: Close, dtype: float64
20131231
Date
2013-12-30    109.629997
2013-12-31    110.680000
Name: Close, dtype: float64 Date
2014-03-31    126.5
Name: Close, dtype: float64
20140331
Date
2014-03-31    126.5
Name: Close, dtype: float64 Date
2014-06-30    134.919998
Name: Close, dtype: float64
20140630
Date
2014-06-30    134.919998
Name: Close, dtype: float64 Date
2014-09-29    130.639999
Name: Close, dtype: float64
20140930
Date
2014-09-29    130.639999
2014-09-30    130.300003
Name: Close, dtype: float64 Date
2014-12-29    161.220001
Name: Close, dtype: float64
20141231
Date
2014-12-30    160.029999
2014-12-31    159.279999
Name: Close, dtype: float64 Date
2015-03-30    152.080002
2015-03-31    149.690002
Name: Close, dtype: float64
20150331
Date
2015-03-30    152.080002
2015-03-31    149.690002
Name: Close, dtype: float64 Date
2015-06-29    158.929993
Name: Close, dtype: float64
20150630
Date
2015-06-29    158.929993
2015-06-30    159.289993
Name: Close, dtype: float64 Date
2015-09-28    171.399994
Name: Close, dtype: float64
20150930
Date
2015-09-29    170.529999
2015-09-30    189.529999
Name: Close, dtype: float64 Date
2015-12-28    150.550003
2015-12-29    152.199997
Name: Close, dtype: float64
20151231
Date
2015-12-30    151.399994
2015-12-31    150.509995
Name: Close, dtype: float64 Date
2016-03-29    163.029999
2016-03-30    163.789993
Name: Close, dtype: float64
20160331
Date
2016-03-30    163.789993
2016-03-31    160.339996
Name: Close, dtype: float64 Date
2016-06-28    156.979996
2016-06-29    161.009995
Name: Close, dtype: float64
20160630
Date
2016-06-29    161.009995
2016-06-30    161.630005
Name: Close, dtype: float64 Date
2016-09-27    151.009995
2016-09-28    149.000000
Name: Close, dtype: float64
20160930
Date
2016-09-29    146.740005
2016-09-30    149.119995
Name: Close, dtype: float64 Date
2016-12-28    170.419998
2016-12-29    170.279999
Name: Close, dtype: float64
20161231
Date
2016-12-30    169.119995
Name: Close, dtype: float64 Date
2017-03-30    148.669998
2017-03-31    148.259995
Name: Close, dtype: float64
20170331
Date
2017-03-30    148.669998
2017-03-31    148.259995
Name: Close, dtype: float64 Date
2017-06-28    116.709999
2017-06-29    116.050003
Name: Close, dtype: float64
20170630
Date
2017-06-29    116.050003
2017-06-30    116.589996
Name: Close, dtype: float64 Date
2017-09-27    99.330002
2017-09-28    99.500000
Name: Close, dtype: float64
20170930
Date
2017-09-29    99.199997
Name: Close, dtype: float64 Date
2017-12-28    99.709999
2017-12-29    99.690002
Name: Close, dtype: float64
20171231
Date
2018-01-02    106.089996
Name: Close, dtype: float64 Date
2018-04-02    111.93
Name: Close, dtype: float64
20180331
Date
2018-04-02    111.93
Name: Close, dtype: float64 Date
2018-07-02    134.699997
Name: Close, dtype: float64
20180630
Date
2018-06-29    135.699997
Name: Close, dtype: float64 Date
2018-09-27    169.789993
2018-09-28    168.330002
Name: Close, dtype: float64
20180930
Date
2018-10-01    169.600006
Name: Close, dtype: float64 Date
2018-12-31    157.460007
Name: Close, dtype: float64
20181231
Date
2018-12-31    157.460007
Name: Close, dtype: float64 Date
2019-04-01    173.630005
Name: Close, dtype: float64
20190331
Date
2019-04-01    173.630005
Name: Close, dtype: float64 Date
2019-07-01    156.589996
Name: Close, dtype: float64
20190630
Date
2019-07-01    156.589996
Name: Close, dtype: float64 Date
2019-09-30    165.399994
Name: Close, dtype: float64
20190930

Date
2019-09-30    165.399994
Name: Close, dtype: float64 Date
2019-12-30    159.119995
Name: Close, dtype: float64
20191231
Date
2019-12-30    159.119995
2019-12-31    160.160004
Name: Close, dtype: float64 Date
2020-03-30    96.5
Name: Close, dtype: float64
20030331
Date
2003-03-31    0.2525
Name: Close, dtype: float64 Date
2003-06-30    0.340357
Name: Close, dtype: float64
20030630
Date
2003-06-30    0.340357
Name: Close, dtype: float64 Date
2003-09-29    0.380357
Name: Close, dtype: float64
20030930
Date
2003-09-29    0.380357
2003-09-30    0.370000
Name: Close, dtype: float64 Date
2003-12-29    0.377679
Name: Close, dtype: float64
20031231
Date
2003-12-30    0.380000
2003-12-31    0.381607
Name: Close, dtype: float64 Date
2004-03-29    0.498393
2004-03-30    0.498571
Name: Close, dtype: float64
20040331
Date
2004-03-30    0.498571
2004-03-31    0.482857
Name: Close, dtype: float64 Date
2004-06-28    0.580179
2004-06-29    0.580357
Name: Close, dtype: float64
20040630
Date
2004-06-29    0.580357
2004-06-30    0.581071
Name: Close, dtype: float64 Date
2004-09-27    0.670179
2004-09-28    0.679286
Name: Close, dtype: float64
20040930
Date
2004-09-29    0.690714
2004-09-30    0.691964
Name: Close, dtype: float64 Date
2004-12-28    1.146071
2004-12-29    1.150714
Name: Close, dtype: float64
20041231
Date
2004-12-30    1.157143
2004-12-31    1.150000
Name: Close, dtype: float64 Date
2005-03-30    1.528571
2005-03-31    1.488214
Name: Close, dtype: float64
20050331
Date
2005-03-30    1.528571
2005-03-31    1.488214
Name: Close, dtype: float64 Date
2005-06-28    1.332500
2005-06-29    1.298929
Name: Close, dtype: float64
20050630
Date
2005-06-29    1.298929
2005-06-30    1.314643
Name: Close, dtype: float64 Date
2005-09-27    1.908571
2005-09-28    1.824286
Name: Close, dtype: float64
20050930
Date
2005-09-29    1.869286
2005-09-30    1.914643
Name: Close, dtype: float64 Date
2005-12-28    2.627500
2005-12-29    2.551786
Name: Close, dtype: float64
20051231
Date
2005-12-30    2.5675
Name: Close, dtype: float64 Date
2006-03-30    2.241071
2006-03-31    2.240000
Name: Close, dtype: float64
20060331
Date
2006-03-30    2.241071
2006-03-31    2.240000
Name: Close, dtype: float64 Date
2006-06-28    2.000714
2006-06-29    2.106071
Name: Close, dtype: float64
20060630
Date
2006-06-29    2.106071
2006-06-30    2.045357
Name: Close, dtype: float64 Date
2006-09-27    2.728929
2006-09-28    2.750357
Name: Close, dtype: float64
20060930
Date
2006-09-29    2.749286
Name: Close, dtype: float64 Date
2006-12-28    2.888214
2006-12-29    3.030000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    3.318214
Name: Close, dtype: float64 Date
2007-06-28    4.305714
2007-06-29    4.358572
Name: Close, dtype: float64
20070630
Date
2007-06-29    4.358572
Name: Close, dtype: float64 Date
2007-09-27    5.517857
2007-09-28    5.481071
Name: Close, dtype: float64
20070930
Date
2007-10-01    5.583571
Name: Close, dtype: float64 Date
2007-12-31    7.074286
Name: Close, dtype: float64
20071231
Date
2007-12-31    7.074286
Name: Close, dtype: float64 Date
2008-03-31    5.125
Name: Close, dtype: float64
20080331
Date
2008-03-31    5.125
Name: Close, dtype: float64 Date
2008-06-30    5.98
Name: Close, dtype: float64
20080630
Date
2008-06-30    5.98
Name: Close, dtype: float64 Date
2008-09-29    3.759286
Name: Close, dtype: float64
20080930
Date
2008-09-29    3.759286
2008-09-30    4.059286
Name: Close, dtype: float64 Date
2008-12-29    3.093214
Name: Close, dtype: float64
20081231
Date
2008-12-30    3.081786
2008-12-31    3.048214
Name: Close, dtype: float64 Date
2009-03-30    3.731786
2009-03-31    3.754286
Name: Close, dtype: float64
20090331
Date
2009-03-30    3.731786
2009-03-31    3.754286
Name: Close, dtype: float64 Date
2009-06-29    5.070357
Name: Close, dtype: float64
20090630
Date
2009-06-29    5.070357
2009-06-30    5.086786
Name: Close, dtype: float64 Date
2009-09-28    6.648214
Name: Close, dtype: float64
20090930
Date
2009-09-29    6.620714
2009-09-30    6.619643
Name: Close, dtype: float64 Date
2009-12-28    7.557500
2009-12-29    7.467857
Name: Close, dtype: float64
20091231
Date
2009-12-30    7.558571
2009-12-31    7.526072
Name: Close, dtype: float64 Date
2010-03-30    8.423214
2010-03-31    8.392858
Name: Close, dtype: float64
20100331
Date
2010-03-30    8.423214
2010-03-31    8.392858
Name: Close, dtype: float64 Date
2010-06-28    9.582143
2010-06-29    9.148929
Name: Close, dtype: float64
20100630
Date
2010-06-29    9.148929
2010-06-30    8.983214
Name: Close, dtype: float64 Date
2010-09-27    10.398571
2010-09-28    10.245000
Name: Close, dtype: float64
20100930
Date
2010-09-29    10.263214
2010-09-30    10.133928
Name: Close, dtype: float64 Date
2010-12-28    11.623929
2010-12-29    11.617500
Name: Close, dtype: float64
20101231
Date
2010-12-30    11.559286
2010-12-31    11.520000
Name: Close, dtype: float64 Date
2011-03-30    12.451072
2011-03-31    12.446786
Name: Close, dtype: float64
20110331
Date
2011-03-30    12.451072
2011-03-31    12.446786
Name: Close, dtype: float64 Date
2011-06-28    11.973572
2011-06-29    11.930000
Name: Close, dtype: float64
20110630
Date
2011-06-29    11.930000
2011-06-30    11.988214
Name: Close, dtype: float64 Date
2011-09-27    14.259286
2011-09-28    14.178928
Name: Close, dtype: float64
20110930
Date
2011-09-29    13.948929
2011-09-30    13.618571
Name: Close, dtype: float64 Date
2011-12-28    14.380000
2011-12-29    14.468572
Name: Close, dtype: float64
20111231
Date
2011-12-30    14.464286
Name: Close, dtype: float64 Date
2012-03-29    21.780714
2012-03-30    21.412500
Name: Close, dtype: float64
20120331
Date
2012-03-30    21.4125
Name: Close, dtype: float64 Date
2012-06-28    20.323214
2012-06-29    20.857143
Name: Close, dtype: float64
20120630
Date
2012-06-29    20.857143
Name: Close, dtype: float64 Date
2012-09-27    24.332857
2012-09-28    23.825001
Name: Close, dtype: float64
20120930
Date
2012-10-01    23.549643
Name: Close, dtype: float64 Date
2012-12-31    19.006071
Name: Close, dtype: float64
20121231
Date
2012-12-31    19.006071
Name: Close, dtype: float64 Date
2013-04-01    15.318214
Name: Close, dtype: float64
20130331
Date
2013-04-01    15.318214
Name: Close, dtype: float64 Date
2013-07-01    14.615
Name: Close, dtype: float64
20130630
Date
2013-07-01    14.615
Name: Close, dtype: float64 Date
2013-09-30    17.026785
Name: Close, dtype: float64
20130930
Date
2013-09-30    17.026785
Name: Close, dtype: float64 Date
2013-12-30    19.804285
Name: Close, dtype: float64
20131231
Date
2013-12-30    19.804285
2013-12-31    20.036428
Name: Close, dtype: float64 Date
2014-03-31    19.169285
Name: Close, dtype: float64
20140331
Date
2014-03-31    19.169285
Name: Close, dtype: float64 Date
2014-06-30    23.2325
Name: Close, dtype: float64
20140630
Date
2014-06-30    23.2325
Name: Close, dtype: float64 Date
2014-09-29    25.0275
Name: Close, dtype: float64
20140930
Date
2014-09-29    25.0275
2014-09-30    25.1875
Name: Close, dtype: float64 Date
2014-12-29    28.477501
Name: Close, dtype: float64
20141231
Date
2014-12-30    28.129999
2014-12-31    27.594999
Name: Close, dtype: float64 Date
2015-03-30    31.592501
2015-03-31    31.107500
Name: Close, dtype: float64
20150331
Date
2015-03-30    31.592501
2015-03-31    31.107500
Name: Close, dtype: float64 Date
2015-06-29    31.1325
Name: Close, dtype: float64
20150630
Date
2015-06-29    31.1325
2015-06-30    31.3575
Name: Close, dtype: float64 Date
2015-09-28    28.110001
Name: Close, dtype: float64
20150930
Date
2015-09-29    27.264999
2015-09-30    27.575001
Name: Close, dtype: float64 Date
2015-12-28    26.705000
2015-12-29    27.184999
Name: Close, dtype: float64
20151231
Date
2015-12-30    26.830000
2015-12-31    26.315001
Name: Close, dtype: float64 Date
2016-03-29    26.920000
2016-03-30    27.389999
Name: Close, dtype: float64
20160331
Date
2016-03-30    27.389999
2016-03-31    27.247499
Name: Close, dtype: float64 Date
2016-06-28    23.397499
2016-06-29    23.600000
Name: Close, dtype: float64
20160630
Date
2016-06-29    23.6
2016-06-30    23.9
Name: Close, dtype: float64 Date
2016-09-27    28.272499
2016-09-28    28.487499
Name: Close, dtype: float64
20160930

Date
2016-09-29    28.045000
2016-09-30    28.262501
Name: Close, dtype: float64 Date
2016-12-28    29.190001
2016-12-29    29.182501
Name: Close, dtype: float64
20161231
Date
2016-12-30    28.955
Name: Close, dtype: float64 Date
2017-03-30    35.982498
2017-03-31    35.915001
Name: Close, dtype: float64
20170331
Date
2017-03-30    35.982498
2017-03-31    35.915001
Name: Close, dtype: float64 Date
2017-06-28    36.457500
2017-06-29    35.919998
Name: Close, dtype: float64
20170630
Date
2017-06-29    35.919998
2017-06-30    36.005001
Name: Close, dtype: float64 Date
2017-09-27    38.557499
2017-09-28    38.320000
Name: Close, dtype: float64
20170930
Date
2017-09-29    38.529999
Name: Close, dtype: float64 Date
2017-12-28    42.770000
2017-12-29    42.307499
Name: Close, dtype: float64
20171231
Date
2018-01-02    43.064999
Name: Close, dtype: float64 Date
2018-04-02    41.669998
Name: Close, dtype: float64
20180331
Date
2018-04-02    41.669998
Name: Close, dtype: float64 Date
2018-07-02    46.794998
Name: Close, dtype: float64
20180630
Date
2018-06-29    46.2775
Name: Close, dtype: float64 Date
2018-09-27    56.237499
2018-09-28    56.435001
Name: Close, dtype: float64
20180930
Date
2018-10-01    56.814999
Name: Close, dtype: float64 Date
2018-12-31    39.435001
Name: Close, dtype: float64
20181231
Date
2018-12-31    39.435001
Name: Close, dtype: float64 Date
2019-04-01    47.810001
Name: Close, dtype: float64
20190331
Date
2019-04-01    47.810001
Name: Close, dtype: float64 Date
2019-07-01    50.387501
Name: Close, dtype: float64
20190630
Date
2019-07-01    50.387501
Name: Close, dtype: float64 Date
2019-09-30    55.9925
Name: Close, dtype: float64
20190930
Date
2019-09-30    55.9925
Name: Close, dtype: float64 Date
2019-12-30    72.879997
Name: Close, dtype: float64
20191231
Date
2019-12-30    72.879997
2019-12-31    73.412498
Name: Close, dtype: float64 Date
2020-03-30    63.702499
Name: Close, dtype: float64
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070630
error
20070930
error
20071231
error
20080331
error
20141231
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20060930
Date
2006-09-29    43.52
Name: Close, dtype: float64 Date
2006-12-28    44.919998
2006-12-29    44.500000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    52.73
Name: Close, dtype: float64 Date
2007-06-28    59.720001
2007-06-29    58.939999
Name: Close, dtype: float64
20070630
Date
2007-06-29    58.939999
Name: Close, dtype: float64 Date
2007-09-27    52.939999
2007-09-28    51.630001
Name: Close, dtype: float64
20070930
Date
2007-10-01    52.68
Name: Close, dtype: float64 Date
2007-12-31    54.220001
Name: Close, dtype: float64
20071231
Date
2007-12-31    54.220001
Name: Close, dtype: float64 Date
2008-03-31    55
Name: Close, dtype: int64
20080331
Date
2008-03-31    55
Name: Close, dtype: int64 Date
2008-06-30    49.459999
Name: Close, dtype: float64
20080630
Date
2008-06-30    49.459999
Name: Close, dtype: float64 Date
2008-09-29    37.939999
Name: Close, dtype: float64
20080930
Date
2008-09-29    37.939999
2008-09-30    40.310001
Name: Close, dtype: float64 Date
2008-12-29    16.780001
Name: Close, dtype: float64
20081231
Date
2008-12-30    17.309999
2008-12-31    18.900000
Name: Close, dtype: float64 Date
2009-03-30    16.24
2009-03-31    17.35
Name: Close, dtype: float64
20090331
Date
2009-03-30    16.24
2009-03-31    17.35
Name: Close, dtype: float64 Date
2009-06-29    23.780001
Name: Close, dtype: float64
20090630
Date
2009-06-29    23.780001
2009-06-30    23.190001
Name: Close, dtype: float64 Date
2009-09-28    32.189999
Name: Close, dtype: float64
20090930
Date
2009-09-29    32.279999
2009-09-30    31.969999
Name: Close, dtype: float64 Date
2009-12-28    37.860001
2009-12-29    38.180000
Name: Close, dtype: float64
20091231
Date
2009-12-30    37.599998
2009-12-31    37.250000
Name: Close, dtype: float64 Date
2010-03-30    53.230000
2010-03-31    53.049999
Name: Close, dtype: float64
20100331
Date
2010-03-30    53.230000
2010-03-31    53.049999
Name: Close, dtype: float64 Date
2010-06-28    51.279999
2010-06-29    48.400002
Name: Close, dtype: float64
20100630
Date
2010-06-29    48.400002
2010-06-30    47.500000
Name: Close, dtype: float64 Date
2010-09-27    55.02
2010-09-28    54.93
Name: Close, dtype: float64
20100930
Date
2010-09-29    54.290001
2010-09-30    50.299999
Name: Close, dtype: float64 Date
2010-12-28    56.500000
2010-12-29    56.810001
Name: Close, dtype: float64
20101231
Date
2010-12-30    56.490002
2010-12-31    55.830002
Name: Close, dtype: float64 Date
2011-03-30    69.279999
2011-03-31    69.720001
Name: Close, dtype: float64
20110331
Date
2011-03-30    69.279999
2011-03-31    69.720001
Name: Close, dtype: float64 Date
2011-06-28    59.599998
2011-06-29    59.009998
Name: Close, dtype: float64
20110630
Date
2011-06-29    59.009998
2011-06-30    59.509998
Name: Close, dtype: float64 Date
2011-09-27    38.119999
2011-09-28    35.490002
Name: Close, dtype: float64
20110930
Date
2011-09-29    35.810001
2011-09-30    33.290001
Name: Close, dtype: float64 Date
2011-12-28    37.450001
2011-12-29    38.540001
Name: Close, dtype: float64
20111231
Date
2011-12-30    38.43
Name: Close, dtype: float64 Date
2012-03-29    49.250000
2012-03-30    49.209999
Name: Close, dtype: float64
20120331
Date
2012-03-30    49.209999
Name: Close, dtype: float64 Date
2012-06-28    40.680000
2012-06-29    43.509998
Name: Close, dtype: float64
20120630
Date
2012-06-29    43.509998
Name: Close, dtype: float64 Date
2012-09-27    53.360001
2012-09-28    51.630001
Name: Close, dtype: float64
20120930
Date
2012-10-01    51.880001
Name: Close, dtype: float64 Date
2012-12-31    44.32
Name: Close, dtype: float64
20121231
Date
2012-12-31    44.32
Name: Close, dtype: float64 Date
2013-04-01    39.98
Name: Close, dtype: float64
20130331
Date
2013-04-01    39.98
Name: Close, dtype: float64 Date
2013-07-01    43.470001
Name: Close, dtype: float64
20130630
Date
2013-07-01    43.470001
Name: Close, dtype: float64 Date
2013-09-30    46.029999
Name: Close, dtype: float64
20130930
Date
2013-09-30    46.029999
Name: Close, dtype: float64 Date
2013-12-30    41.16
Name: Close, dtype: float64
20131231
Date
2013-12-30    41.160000
2013-12-31    41.150002
Name: Close, dtype: float64 Date
2014-03-31    35.27
Name: Close, dtype: float64
20140331
Date
2014-03-31    35.27
Name: Close, dtype: float64 Date
2014-06-30    36.849998
Name: Close, dtype: float64
20140630
Date
2014-06-30    36.849998
Name: Close, dtype: float64 Date
2014-09-29    33.900002
Name: Close, dtype: float64
20140930
Date
2014-09-29    33.900002
2014-09-30    33.020000
Name: Close, dtype: float64 Date
2014-12-29    49.16
Name: Close, dtype: float64
20141231
Date
2014-12-30    49.130001
2014-12-31    49.299999
Name: Close, dtype: float64 Date
2015-03-30    44.740002
2015-03-31    43.020000
Name: Close, dtype: float64
20150331
Date
2015-03-30    44.740002
2015-03-31    43.020000
Name: Close, dtype: float64 Date
2015-06-29    54.5
Name: Close, dtype: float64
20150630
Date
2015-06-29    54.500000
2015-06-30    54.959999
Name: Close, dtype: float64 Date
2015-09-28    34.220001
Name: Close, dtype: float64
20150930
Date
2015-09-29    34.299999
2015-09-30    34.560001
Name: Close, dtype: float64 Date
2015-12-28    42.430000
2015-12-29    41.830002
Name: Close, dtype: float64
20151231
Date
2015-12-30    40.98
2015-12-31    41.34
Name: Close, dtype: float64 Date
2016-03-29    41.840000
2016-03-30    42.110001
Name: Close, dtype: float64
20160331
Date
2016-03-30    42.110001
2016-03-31    42.270000
Name: Close, dtype: float64 Date
2016-06-28    38.810001
2016-06-29    40.209999
Name: Close, dtype: float64
20160630

Date
2016-06-29    40.209999
2016-06-30    41.419998
Name: Close, dtype: float64 Date
2016-09-27    40.200001
2016-09-28    41.689999
Name: Close, dtype: float64
20160930
Date
2016-09-29    41.959999
2016-09-30    42.820000
Name: Close, dtype: float64 Date
2016-12-28    52.299999
2016-12-29    52.150002
Name: Close, dtype: float64
20161231
Date
2016-12-30    52.150002
Name: Close, dtype: float64 Date
2017-03-30    55.650002
2017-03-31    55.450001
Name: Close, dtype: float64
20170331
Date
2017-03-30    55.650002
2017-03-31    55.450001
Name: Close, dtype: float64 Date
2017-06-28    51.650002
2017-06-29    51.000000
Name: Close, dtype: float64
20170630
Date
2017-06-29    51.000000
2017-06-30    52.150002
Name: Close, dtype: float64 Date
2017-09-27    66.099998
2017-09-28    67.250000
Name: Close, dtype: float64
20170930
Date
2017-09-29    65.800003
Name: Close, dtype: float64 Date
2017-12-28    59.150002
2017-12-29    58.650002
Name: Close, dtype: float64
20171231
Date
2018-01-02    57.950001
Name: Close, dtype: float64 Date
2018-04-02    58.950001
Name: Close, dtype: float64
20180331
Date
2018-04-02    58.950001
Name: Close, dtype: float64 Date
2018-07-02    72
Name: Close, dtype: int64
20180630
Date
2018-06-29    71.699997
Name: Close, dtype: float64 Date
2018-09-27    63.549999
2018-09-28    63.750000
Name: Close, dtype: float64
20180930
Date
2018-10-01    62.040001
Name: Close, dtype: float64 Date
2018-12-31    42.189999
Name: Close, dtype: float64
20181231
Date
2018-12-31    42.189999
Name: Close, dtype: float64 Date
2019-04-01    51.360001
Name: Close, dtype: float64
20190331
Date
2019-04-01    51.360001
Name: Close, dtype: float64 Date
2019-07-01    44.029999
Name: Close, dtype: float64
20190630
Date
2019-07-01    44.029999
Name: Close, dtype: float64 Date
2019-09-30    25.23
Name: Close, dtype: float64
20190930
Date
2019-09-30    25.23
Name: Close, dtype: float64 Date
2019-12-30    26.58
Name: Close, dtype: float64
20191231
Date
2019-12-30    26.58
2019-12-31    27.57
Name: Close, dtype: float64 Date
2020-03-30    22.190001
Name: Close, dtype: float64
20170930
Date
2017-09-29    22.67
Name: Close, dtype: float64 Date
2017-12-28    26.93
2017-12-29    26.50
Name: Close, dtype: float64
20171231
Date
2018-01-02    26.549999
Name: Close, dtype: float64 Date
2018-04-02    39.48
Name: Close, dtype: float64
20180331
Date
2018-04-02    39.48
Name: Close, dtype: float64 Date
2018-07-02    64.43
Name: Close, dtype: float64
20180630
Date
2018-06-29    63.18
Name: Close, dtype: float64 Date
2018-09-27    67.610001
2018-09-28    68.430000
Name: Close, dtype: float64
20180930
Date
2018-10-01    66.839996
Name: Close, dtype: float64 Date
2018-12-31    43.75
Name: Close, dtype: float64
20181231
Date
2018-12-31    43.75
Name: Close, dtype: float64 Date
2019-04-01    55.259998
Name: Close, dtype: float64
20190331
Date
2019-04-01    55.259998
Name: Close, dtype: float64 Date
2019-07-01    64.550003
Name: Close, dtype: float64
20190630
Date
2019-07-01    64.550003
Name: Close, dtype: float64 Date
2019-09-30    56.779999
Name: Close, dtype: float64
20190930
Date
2019-09-30    56.779999
Name: Close, dtype: float64 Date
2019-12-30    73.510002
Name: Close, dtype: float64
20191231
Date
2019-12-30    73.510002
2019-12-31    73.279999
Name: Close, dtype: float64 Date
2020-03-30    69.459999
Name: Close, dtype: float64
20070630
Date
2007-06-29    25.66
Name: Close, dtype: float64 Date
2007-09-27    26.219999
2007-09-28    26.309999
Name: Close, dtype: float64
20070930
Date
2007-10-01    25.860001
Name: Close, dtype: float64 Date
2007-12-31    20.77
Name: Close, dtype: float64
20071231
Date
2007-12-31    20.77
Name: Close, dtype: float64 Date
2008-03-31    17.51
Name: Close, dtype: float64
20080331
Date
2008-03-31    17.51
Name: Close, dtype: float64 Date
2008-06-30    13.63
Name: Close, dtype: float64
20080630
Date
2008-06-30    13.63
Name: Close, dtype: float64 Date
2008-09-29    14.25
Name: Close, dtype: float64
20080930
Date
2008-09-29    14.25
2008-09-30    15.25
Name: Close, dtype: float64 Date
2008-12-29    9.11
Name: Close, dtype: float64
20081231
Date
2008-12-30    9.13
2008-12-31    9.36
Name: Close, dtype: float64 Date
2009-03-30    12.32
2009-03-31    12.24
Name: Close, dtype: float64
20090331
Date
2009-03-30    12.32
2009-03-31    12.24
Name: Close, dtype: float64 Date
2009-06-29    14.32
Name: Close, dtype: float64
20090630
Date
2009-06-29    14.32
2009-06-30    14.17
Name: Close, dtype: float64 Date
2009-09-28    17.059999
Name: Close, dtype: float64
20090930
Date
2009-09-29    16.959999
2009-09-30    16.860001
Name: Close, dtype: float64 Date
2009-12-28    16.799999
2009-12-29    17.020000
Name: Close, dtype: float64
20091231
Date
2009-12-30    16.91
2009-12-31    16.98
Name: Close, dtype: float64 Date
2010-03-30    18.82
2010-03-31    18.52
Name: Close, dtype: float64
20100331
Date
2010-03-30    18.82
2010-03-31    18.52
Name: Close, dtype: float64 Date
2010-06-28    12.09
2010-06-29    11.60
Name: Close, dtype: float64
20100630
Date
2010-06-29    11.60
2010-06-30    11.75
Name: Close, dtype: float64 Date
2010-09-27    14.72
2010-09-28    14.86
Name: Close, dtype: float64
20100930
Date
2010-09-29    14.91
2010-09-30    14.96
Name: Close, dtype: float64 Date
2010-12-28    14.35
2010-12-29    14.52
Name: Close, dtype: float64
20101231
Date
2010-12-30    14.77
2010-12-31    14.63
Name: Close, dtype: float64 Date
2011-03-30    16.139999
2011-03-31    15.890000
Name: Close, dtype: float64
20110331
Date
2011-03-30    16.139999
2011-03-31    15.890000
Name: Close, dtype: float64 Date
2011-06-28    12.72
2011-06-29    12.72
Name: Close, dtype: float64
20110630
Date
2011-06-29    12.72
2011-06-30    12.75
Name: Close, dtype: float64 Date
2011-09-27    12.33
2011-09-28    12.06
Name: Close, dtype: float64
20110930
Date
2011-09-29    12.08
2011-09-30    11.72
Name: Close, dtype: float64 Date
2011-12-28    15.18
2011-12-29    15.31
Name: Close, dtype: float64
20111231
Date
2011-12-30    15.29
Name: Close, dtype: float64 Date
2012-03-29    17.450001
2012-03-30    17.190001
Name: Close, dtype: float64
20120331
Date
2012-03-30    17.190001
Name: Close, dtype: float64 Date
2012-06-28    18.74
2012-06-29    19.73
Name: Close, dtype: float64
20120630
Date
2012-06-29    19.73
Name: Close, dtype: float64 Date
2012-09-27    21.09
2012-09-28    21.08
Name: Close, dtype: float64
20120930
Date
2012-10-01    21.280001
Name: Close, dtype: float64 Date
2012-12-31    20.51
Name: Close, dtype: float64
20121231
Date
2012-12-31    20.51
Name: Close, dtype: float64 Date
2013-04-01    18.459999
Name: Close, dtype: float64
20130331
Date
2013-04-01    18.459999
Name: Close, dtype: float64 Date
2013-07-01    18.41
Name: Close, dtype: float64
20130630
Date
2013-07-01    18.41
Name: Close, dtype: float64 Date
2013-09-30    13.99
Name: Close, dtype: float64
20130930
Date
2013-09-30    13.99
Name: Close, dtype: float64 Date
2013-12-30    14.57
Name: Close, dtype: float64
20131231
Date
2013-12-30    14.57
2013-12-31    14.40
Name: Close, dtype: float64 Date
2014-03-31    12.24
Name: Close, dtype: float64
20140331
Date
2014-03-31    12.24
Name: Close, dtype: float64 Date
2014-06-30    11.22
Name: Close, dtype: float64
20140630
Date
2014-06-30    11.22
Name: Close, dtype: float64 Date
2014-09-29    14.81
Name: Close, dtype: float64
20140930
Date
2014-09-29    14.81
2014-09-30    14.52
Name: Close, dtype: float64 Date
2014-12-29    13.84
Name: Close, dtype: float64
20141231
Date
2014-12-30    13.89
2014-12-31    13.88
Name: Close, dtype: float64 Date
2015-03-30    17.139999
2015-03-31    17.080000
Name: Close, dtype: float64
20150331
Date
2015-03-30    17.139999
2015-03-31    17.080000
Name: Close, dtype: float64 Date
2015-06-29    17.309999
Name: Close, dtype: float64
20150630
Date
2015-06-29    17.309999
2015-06-30    17.219999
Name: Close, dtype: float64 Date
2015-09-28    15.21
Name: Close, dtype: float64
20150930
Date
2015-09-29    15.52
2015-09-30    15.63
Name: Close, dtype: float64 Date
2015-12-28    15.48
2015-12-29    15.73
Name: Close, dtype: float64
20151231
Date
2015-12-30    15.63
2015-12-31    15.50
Name: Close, dtype: float64 Date
2016-03-29    16.590000
2016-03-30    16.540001
Name: Close, dtype: float64
20160331

Date
2016-03-30    16.540001
2016-03-31    16.670000
Name: Close, dtype: float64 Date
2016-06-28    15.63
2016-06-29    15.68
Name: Close, dtype: float64
20160630
Date
2016-06-29    15.68
2016-06-30    15.93
Name: Close, dtype: float64 Date
2016-09-27    18.110001
2016-09-28    17.809999
Name: Close, dtype: float64
20160930
Date
2016-09-29    17.719999
2016-09-30    17.860001
Name: Close, dtype: float64 Date
2016-12-28    15.28
2016-12-29    15.27
Name: Close, dtype: float64
20161231
Date
2016-12-30    15.17
Name: Close, dtype: float64 Date
2017-03-30    14.33
2017-03-31    14.03
Name: Close, dtype: float64
20170331
Date
2017-03-30    14.33
2017-03-31    14.03
Name: Close, dtype: float64 Date
2017-06-28    11.77
2017-06-29    11.96
Name: Close, dtype: float64
20170630
Date
2017-06-29    11.96
2017-06-30    12.05
Name: Close, dtype: float64 Date
2017-09-27    14.46
2017-09-28    14.21
Name: Close, dtype: float64
20170930
Date
2017-09-29    14.3
Name: Close, dtype: float64 Date
2017-12-28    19.030001
2017-12-29    18.799999
Name: Close, dtype: float64
20171231
Date
2018-01-02    19.17
Name: Close, dtype: float64 Date
2018-04-02    19.75
Name: Close, dtype: float64
20180331
Date
2018-04-02    19.75
Name: Close, dtype: float64 Date
2018-07-02    23.889999
Name: Close, dtype: float64
20180630
Date
2018-06-29    23.25
Name: Close, dtype: float64 Date
2018-09-27    24.68
2018-09-28    24.83
Name: Close, dtype: float64
20180930
Date
2018-10-01    24.33
Name: Close, dtype: float64 Date
2018-12-31    19.33
Name: Close, dtype: float64
20181231
Date
2018-12-31    19.33
Name: Close, dtype: float64 Date
2019-04-01    22.110001
Name: Close, dtype: float64
20190331
Date
2019-04-01    22.110001
Name: Close, dtype: float64 Date
2019-07-01    17.02
Name: Close, dtype: float64
20190630
Date
2019-07-01    17.02
Name: Close, dtype: float64 Date
2019-09-30    16.219999
Name: Close, dtype: float64
20190930
Date
2019-09-30    16.219999
Name: Close, dtype: float64 Date
2019-12-30    14.6
Name: Close, dtype: float64
20191231
Date
2019-12-30    14.6
2019-12-31    14.7
Name: Close, dtype: float64 Date
2020-03-30    8.15
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20131231
error
20140331
error
20140630
error
20140930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20160930
error
20161231
error
20170331
error
20170630
error
20170930
error
20171231
error
20180331
error
20180630
Date
2018-06-29    159.139999
Name: Close, dtype: float64 Date
2018-09-27    133.259995
2018-09-28    133.600006
Name: Close, dtype: float64
20180930
Date
2018-10-01    126.519997
Name: Close, dtype: float64 Date
2018-12-31    131.929993
Name: Close, dtype: float64
20181231
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20080331
Date
2008-03-31    3.75
Name: Close, dtype: float64 Date
2008-06-30    2.45
Name: Close, dtype: float64
20080630
Date
2008-06-30    2.45
Name: Close, dtype: float64 Date
2008-09-29    1.49
Name: Close, dtype: float64
20080930
Date
2008-09-29    1.49
2008-09-30    1.74
Name: Close, dtype: float64 Date
2008-12-29    0.51
Name: Close, dtype: float64
20081231
Date
2008-12-30    0.48
2008-12-31    0.45
Name: Close, dtype: float64 Date
2009-03-30    0.9
2009-03-31    0.9
Name: Close, dtype: float64
20090331
Date
2009-03-30    0.9
2009-03-31    0.9
Name: Close, dtype: float64 Date
2009-06-29    0.89
Name: Close, dtype: float64
20090630
Date
2009-06-29    0.89
2009-06-30    0.88
Name: Close, dtype: float64 Date
2009-09-28    1.1
Name: Close, dtype: float64
20090930
Date
2009-09-29    1.19
2009-09-30    1.22
Name: Close, dtype: float64 Date
2009-12-28    5.28
2009-12-29    4.24
Name: Close, dtype: float64
20091231
Date
2009-12-30    4.36
2009-12-31    4.13
Name: Close, dtype: float64 Date
2010-03-30    3.11
2010-03-31    3.10
Name: Close, dtype: float64
20100331
Date
2010-03-30    3.11
2010-03-31    3.10
Name: Close, dtype: float64 Date
2010-06-28    3.18
2010-06-29    2.90
Name: Close, dtype: float64
20100630
Date
2010-06-29    2.90
2010-06-30    2.91
Name: Close, dtype: float64 Date
2010-09-27    3.04
2010-09-28    3.05
Name: Close, dtype: float64
20100930
Date
2010-09-29    3.10
2010-09-30    3.05
Name: Close, dtype: float64 Date
2010-12-28    2.62
2010-12-29    2.56
Name: Close, dtype: float64
20101231
Date
2010-12-30    2.49
2010-12-31    2.47
Name: Close, dtype: float64 Date
2011-03-30    2.73
2011-03-31    2.84
Name: Close, dtype: float64
20110331
Date
2011-03-30    2.73
2011-03-31    2.84
Name: Close, dtype: float64 Date
2011-06-28    2.72
2011-06-29    2.74
Name: Close, dtype: float64
20110630
Date
2011-06-29    2.74
2011-06-30    2.71
Name: Close, dtype: float64 Date
2011-09-27    1.79
2011-09-28    1.78
Name: Close, dtype: float64
20110930
Date
2011-09-29    1.75
2011-09-30    1.76
Name: Close, dtype: float64 Date
2011-12-28    1.76
2011-12-29    1.74
Name: Close, dtype: float64
20111231
Date
2011-12-30    1.73
Name: Close, dtype: float64 Date
2012-03-29    1.57
2012-03-30    1.55
Name: Close, dtype: float64
20120331
Date
2012-03-30    1.55
Name: Close, dtype: float64 Date
2012-06-28    1.61
2012-06-29    1.61
Name: Close, dtype: float64
20120630
Date
2012-06-29    1.61
Name: Close, dtype: float64 Date
2012-09-27    1.40
2012-09-28    1.39
Name: Close, dtype: float64
20120930
Date
2012-10-01    1.29
Name: Close, dtype: float64 Date
2012-12-31    1.06
Name: Close, dtype: float64
20121231
Date
2012-12-31    1.06
Name: Close, dtype: float64 Date
2013-04-01    1.68
Name: Close, dtype: float64
20130331
Date
2013-04-01    1.68
Name: Close, dtype: float64 Date
2013-07-01    1.65
Name: Close, dtype: float64
20130630
Date
2013-07-01    1.65
Name: Close, dtype: float64 Date
2013-09-30    1.64
Name: Close, dtype: float64
20130930
Date
2013-09-30    1.64
Name: Close, dtype: float64 Date
2013-12-30    2.43
Name: Close, dtype: float64
20131231
Date
2013-12-30    2.43
2013-12-31    2.50
Name: Close, dtype: float64 Date
2014-03-31    3.24
Name: Close, dtype: float64
20140331
Date
2014-03-31    3.24
Name: Close, dtype: float64 Date
2014-06-30    1.79
Name: Close, dtype: float64
20140630
Date
2014-06-30    1.79
Name: Close, dtype: float64 Date
2014-09-29    1.37
Name: Close, dtype: float64
20140930
Date
2014-09-29    1.37
2014-09-30    1.39
Name: Close, dtype: float64 Date
2014-12-29    1.41
Name: Close, dtype: float64
20141231
Date
2014-12-30    1.39
2014-12-31    1.58
Name: Close, dtype: float64 Date
2015-03-30    2.86
2015-03-31    2.88
Name: Close, dtype: float64
20150331
Date
2015-03-30    2.86
2015-03-31    2.88
Name: Close, dtype: float64 Date
2015-06-29    1.18
Name: Close, dtype: float64
20150630
Date
2015-06-29    1.18
2015-06-30    1.21
Name: Close, dtype: float64 Date
2015-09-28    1.13
Name: Close, dtype: float64
20150930
Date
2015-09-29    1.13
2015-09-30    1.10
Name: Close, dtype: float64 Date
2015-12-28    1.06
2015-12-29    1.04
Name: Close, dtype: float64
20151231
Date
2015-12-30    1.04
2015-12-31    1.03
Name: Close, dtype: float64 Date
2016-03-29    2.42
2016-03-30    2.23
Name: Close, dtype: float64
20160331

Date
2016-03-30    2.23
2016-03-31    2.25
Name: Close, dtype: float64 Date
2016-06-28    2.08
2016-06-29    2.12
Name: Close, dtype: float64
20160630
Date
2016-06-29    2.12
2016-06-30    2.17
Name: Close, dtype: float64 Date
2016-09-27    1.96
2016-09-28    2.06
Name: Close, dtype: float64
20160930
Date
2016-09-29    2.07
2016-09-30    2.13
Name: Close, dtype: float64 Date
2016-12-28    1.55
2016-12-29    1.50
Name: Close, dtype: float64
20161231
Date
2016-12-30    1.53
Name: Close, dtype: float64 Date
2017-03-30    1.90
2017-03-31    1.71
Name: Close, dtype: float64
20170331
Date
2017-03-30    1.90
2017-03-31    1.71
Name: Close, dtype: float64 Date
2017-06-28    1.56
2017-06-29    1.51
Name: Close, dtype: float64
20170630
Date
2017-06-29    1.51
2017-06-30    1.51
Name: Close, dtype: float64 Date
2017-09-27    2.20
2017-09-28    2.13
Name: Close, dtype: float64
20170930
Date
2017-09-29    2.06
Name: Close, dtype: float64 Date
2017-12-28    1.87
2017-12-29    1.81
Name: Close, dtype: float64
20171231
Date
2018-01-02    1.81
Name: Close, dtype: float64 Date
2018-04-02    1.78
Name: Close, dtype: float64
20180331
Date
2018-04-02    1.78
Name: Close, dtype: float64 Date
2018-07-02    1.9
Name: Close, dtype: float64
20180630
Date
2018-06-29    1.97
Name: Close, dtype: float64 Date
2018-09-27    2.18
2018-09-28    2.10
Name: Close, dtype: float64
20180930
Date
2018-10-01    2.16
Name: Close, dtype: float64 Date
2018-12-31    1.44
Name: Close, dtype: float64
20181231
Date
2018-12-31    1.44
Name: Close, dtype: float64 Date
2019-04-01    1.5
Name: Close, dtype: float64
20190331
Date
2019-04-01    1.5
Name: Close, dtype: float64 Date
2019-07-01    1.65
Name: Close, dtype: float64
20190630
Date
2019-07-01    1.65
Name: Close, dtype: float64 Date
2019-09-30    1.33
Name: Close, dtype: float64
20190930
Date
2019-09-30    1.33
Name: Close, dtype: float64 Date
2019-12-30    1.22
Name: Close, dtype: float64
20191231
Date
2019-12-30    1.22
2019-12-31    1.23
Name: Close, dtype: float64 Date
2020-03-30    2.59
Name: Close, dtype: float64
20180630
Date
2018-06-29    67.720001
Name: Close, dtype: float64 Date
2018-09-27    76.940002
2018-09-28    77.949997
Name: Close, dtype: float64
20180930
Date
2018-10-01    78.489998
Name: Close, dtype: float64 Date
2018-12-31    61.700001
Name: Close, dtype: float64
20181231
Date
2018-12-31    61.700001
Name: Close, dtype: float64 Date
2019-04-01    58.419998
Name: Close, dtype: float64
20190331
Date
2019-04-01    58.419998
Name: Close, dtype: float64 Date
2019-07-01    62.560001
Name: Close, dtype: float64
20190630
Date
2019-07-01    62.560001
Name: Close, dtype: float64 Date
2019-09-30    63.279999
Name: Close, dtype: float64
20190930
Date
2019-09-30    63.279999
Name: Close, dtype: float64 Date
2019-12-30    69.300003
Name: Close, dtype: float64
20191231
Date
2019-12-30    69.300003
2019-12-31    69.269997
Name: Close, dtype: float64 Date
2020-03-30    62.52
Name: Close, dtype: float64
20030331
Date
2003-03-31    6.244444
Name: Close, dtype: float64 Date
2003-06-30    7.111111
Name: Close, dtype: float64
20030630
Date
2003-06-30    7.111111
Name: Close, dtype: float64 Date
2003-09-29    8.444445
Name: Close, dtype: float64
20030930
Date
2003-09-29    8.444445
2003-09-30    8.344444
Name: Close, dtype: float64 Date
2003-12-29    8.991111
Name: Close, dtype: float64
20031231
Date
2003-12-30    8.946667
2003-12-31    8.911111
Name: Close, dtype: float64 Date
2004-03-29    9.473333
2004-03-30    9.522223
Name: Close, dtype: float64
20040331
Date
2004-03-30    9.522223
2004-03-31    9.703333
Name: Close, dtype: float64 Date
2004-06-28    10.036667
2004-06-29    10.283334
Name: Close, dtype: float64
20040630
Date
2004-06-29    10.283334
2004-06-30    10.350000
Name: Close, dtype: float64 Date
2004-09-27    10.97
2004-09-28    11.13
Name: Close, dtype: float64
20040930
Date
2004-09-29    11.183333
2004-09-30    11.166667
Name: Close, dtype: float64 Date
2004-12-28    12.476666
2004-12-29    12.486667
Name: Close, dtype: float64
20041231
Date
2004-12-30    12.50
2004-12-31    12.45
Name: Close, dtype: float64 Date
2005-03-30    13.560000
2005-03-31    13.453333
Name: Close, dtype: float64
20050331
Date
2005-03-30    13.560000
2005-03-31    13.453333
Name: Close, dtype: float64 Date
2005-06-28    11.210000
2005-06-29    11.386666
Name: Close, dtype: float64
20050630
Date
2005-06-29    11.386666
2005-06-30    11.356667
Name: Close, dtype: float64 Date
2005-09-27    11.37
2005-09-28    11.33
Name: Close, dtype: float64
20050930
Date
2005-09-29    11.316667
2005-09-30    11.426666
Name: Close, dtype: float64 Date
2005-12-28    12.306666
2005-12-29    12.363334
Name: Close, dtype: float64
20051231
Date
2005-12-30    12.16
Name: Close, dtype: float64 Date
2006-03-30    15.033334
2006-03-31    15.143333
Name: Close, dtype: float64
20060331
Date
2006-03-30    15.033334
2006-03-31    15.143333
Name: Close, dtype: float64 Date
2006-06-28    14.650000
2006-06-29    15.143333
Name: Close, dtype: float64
20060630
Date
2006-06-29    15.143333
2006-06-30    15.326667
Name: Close, dtype: float64 Date
2006-09-27    12.793333
2006-09-28    12.993333
Name: Close, dtype: float64
20060930
Date
2006-09-29    13.02
Name: Close, dtype: float64 Date
2006-12-28    13.393333
2006-12-29    13.206667
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    13.053333
Name: Close, dtype: float64 Date
2007-06-28    13.326667
2007-06-29    13.426666
Name: Close, dtype: float64
20070630
Date
2007-06-29    13.426666
Name: Close, dtype: float64 Date
2007-09-27    12.990000
2007-09-28    13.036667
Name: Close, dtype: float64
20070930
Date
2007-10-01    13.28
Name: Close, dtype: float64 Date
2007-12-31    12.42
Name: Close, dtype: float64
20071231
Date
2007-12-31    12.42
Name: Close, dtype: float64 Date
2008-03-31    12.086667
Name: Close, dtype: float64
20080331
Date
2008-03-31    12.086667
Name: Close, dtype: float64 Date
2008-06-30    12.69
Name: Close, dtype: float64
20080630
Date
2008-06-30    12.69
Name: Close, dtype: float64 Date
2008-09-29    11.493333
Name: Close, dtype: float64
20080930
Date
2008-09-29    11.493333
2008-09-30    11.870000
Name: Close, dtype: float64 Date
2008-12-29    7.416667
Name: Close, dtype: float64
20081231
Date
2008-12-30    7.716667
2008-12-31    7.910000
Name: Close, dtype: float64 Date
2009-03-30    5.666667
2009-03-31    5.690000
Name: Close, dtype: float64
20090331
Date
2009-03-30    5.666667
2009-03-31    5.690000
Name: Close, dtype: float64 Date
2009-06-29    7.193333
Name: Close, dtype: float64
20090630
Date
2009-06-29    7.193333
2009-06-30    7.340000
Name: Close, dtype: float64 Date
2009-09-28    9.153334
Name: Close, dtype: float64
20090930
Date
2009-09-29    9.356667
2009-09-30    9.290000
Name: Close, dtype: float64 Date
2009-12-28    9.953333
2009-12-29    9.923333
Name: Close, dtype: float64
20091231
Date
2009-12-30    9.746667
2009-12-31    9.523334
Name: Close, dtype: float64 Date
2010-03-30    10.783334
2010-03-31    10.666667
Name: Close, dtype: float64
20100331
Date
2010-03-30    10.783334
2010-03-31    10.666667
Name: Close, dtype: float64 Date
2010-06-28    10.053333
2010-06-29     9.686666
Name: Close, dtype: float64
20100630
Date
2010-06-29    9.686666
2010-06-30    9.396667
Name: Close, dtype: float64 Date
2010-09-27    10.183333
2010-09-28    10.300000
Name: Close, dtype: float64
20100930
Date
2010-09-29    10.530000
2010-09-30    10.576667
Name: Close, dtype: float64 Date
2010-12-28    13.320000
2010-12-29    13.306666
Name: Close, dtype: float64
20101231
Date
2010-12-30    13.25
2010-12-31    13.15
Name: Close, dtype: float64 Date
2011-03-30    14.806666
2011-03-31    15.163333
Name: Close, dtype: float64
20110331
Date
2011-03-30    14.806666
2011-03-31    15.163333
Name: Close, dtype: float64 Date
2011-06-28    16.553333
2011-06-29    16.750000
Name: Close, dtype: float64
20110630
Date
2011-06-29    16.750000
2011-06-30    16.886667
Name: Close, dtype: float64 Date
2011-09-27    12.000000
2011-09-28    11.546667
Name: Close, dtype: float64
20110930
Date
2011-09-29    11.743333
2011-09-30    11.380000
Name: Close, dtype: float64 Date
2011-12-28    13.406667
2011-12-29    13.736667
Name: Close, dtype: float64
20111231

Date
2011-12-30    13.63
Name: Close, dtype: float64 Date
2012-03-29    17.450001
2012-03-30    17.686666
Name: Close, dtype: float64
20120331
Date
2012-03-30    17.686666
Name: Close, dtype: float64 Date
2012-06-28    14.556666
2012-06-29    15.360000
Name: Close, dtype: float64
20120630
Date
2012-06-29    15.36
Name: Close, dtype: float64 Date
2012-09-27    16.756666
2012-09-28    16.760000
Name: Close, dtype: float64
20120930
Date
2012-10-01    16.43
Name: Close, dtype: float64 Date
2012-12-31    17.163334
Name: Close, dtype: float64
20121231
Date
2012-12-31    17.163334
Name: Close, dtype: float64 Date
2013-04-01    19.106667
Name: Close, dtype: float64
20130331
Date
2013-04-01    19.106667
Name: Close, dtype: float64 Date
2013-07-01    21.299999
Name: Close, dtype: float64
20130630
Date
2013-07-01    21.299999
Name: Close, dtype: float64 Date
2013-09-30    24.686666
Name: Close, dtype: float64
20130930
Date
2013-09-30    24.686666
Name: Close, dtype: float64 Date
2013-12-30    25.99
Name: Close, dtype: float64
20131231
Date
2013-12-30    25.990000
2013-12-31    26.040001
Name: Close, dtype: float64 Date
2014-03-31    24.913334
Name: Close, dtype: float64
20140331
Date
2014-03-31    24.913334
Name: Close, dtype: float64 Date
2014-06-30    26.026667
Name: Close, dtype: float64
20140630
Date
2014-06-30    26.026667
Name: Close, dtype: float64 Date
2014-09-29    24.42
Name: Close, dtype: float64
20140930
Date
2014-09-29    24.420000
2014-09-30    24.326666
Name: Close, dtype: float64 Date
2014-12-29    27.113333
Name: Close, dtype: float64
20141231
Date
2014-12-30    26.920000
2014-12-31    26.726667
Name: Close, dtype: float64 Date
2015-03-30    23.883333
2015-03-31    24.053333
Name: Close, dtype: float64
20150331
Date
2015-03-30    23.883333
2015-03-31    24.053333
Name: Close, dtype: float64 Date
2015-06-29    23.533333
Name: Close, dtype: float64
20150630
Date
2015-06-29    23.533333
2015-06-30    23.676666
Name: Close, dtype: float64 Date
2015-09-28    21.893333
Name: Close, dtype: float64
20150930
Date
2015-09-29    21.836666
2015-09-30    22.343334
Name: Close, dtype: float64 Date
2015-12-28    24.443333
2015-12-29    24.396667
Name: Close, dtype: float64
20151231
Date
2015-12-30    24.290001
2015-12-31    24.023333
Name: Close, dtype: float64 Date
2016-03-29    28.08
2016-03-30    27.99
Name: Close, dtype: float64
20160331
Date
2016-03-30    27.990000
2016-03-31    27.986666
Name: Close, dtype: float64 Date
2016-06-28    25.270000
2016-06-29    25.776667
Name: Close, dtype: float64
20160630
Date
2016-06-29    25.776667
2016-06-30    26.330000
Name: Close, dtype: float64 Date
2016-09-27    24.436666
2016-09-28    24.730000
Name: Close, dtype: float64
20160930
Date
2016-09-29    24.383333
2016-09-30    24.666666
Name: Close, dtype: float64 Date
2016-12-28    27.770000
2016-12-29    27.703333
Name: Close, dtype: float64
20161231
Date
2016-12-30    27.696667
Name: Close, dtype: float64 Date
2017-03-30    31.370001
2017-03-31    31.379999
Name: Close, dtype: float64
20170331
Date
2017-03-30    31.370001
2017-03-31    31.379999
Name: Close, dtype: float64 Date
2017-06-28    36.970001
2017-06-29    36.273335
Name: Close, dtype: float64
20170630
Date
2017-06-29    36.273335
2017-06-30    36.426666
Name: Close, dtype: float64 Date
2017-09-27    41.036667
2017-09-28    41.146667
Name: Close, dtype: float64
20170930
Date
2017-09-29    41.23
Name: Close, dtype: float64 Date
2017-12-28    45.630001
2017-12-29    45.220001
Name: Close, dtype: float64
20171231
Date
2018-01-02    45.139999
Name: Close, dtype: float64 Date
2018-04-02    44.75
Name: Close, dtype: float64
20180331
Date
2018-04-02    44.75
Name: Close, dtype: float64 Date
2018-07-02    45.130001
Name: Close, dtype: float64
20180630
Date
2018-06-29    45.220001
Name: Close, dtype: float64 Date
2018-09-27    46.459999
2018-09-28    46.340000
Name: Close, dtype: float64
20180930
Date
2018-10-01    45.77
Name: Close, dtype: float64 Date
2018-12-31    41.849998
Name: Close, dtype: float64
20181231
Date
2018-12-31    41.849998
Name: Close, dtype: float64 Date
2019-04-01    50.869999
Name: Close, dtype: float64
20190331
Date
2019-04-01    50.869999
Name: Close, dtype: float64 Date
2019-07-01    51.459999
Name: Close, dtype: float64
20190630
Date
2019-07-01    51.459999
Name: Close, dtype: float64 Date
2019-09-30    46.040001
Name: Close, dtype: float64
20190930
Date
2019-09-30    46.040001
Name: Close, dtype: float64 Date
2019-12-30    52.23
Name: Close, dtype: float64
20191231
Date
2019-12-30    52.23
2019-12-31    52.00
Name: Close, dtype: float64 Date
2020-03-30    48.049999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    58.75
Name: Close, dtype: float64 Date
2007-06-28    59.790001
2007-06-29    59.610001
Name: Close, dtype: float64
20070630
Date
2007-06-29    59.610001
Name: Close, dtype: float64 Date
2007-09-27    46.439999
2007-09-28    46.209999
Name: Close, dtype: float64
20070930
Date
2007-10-01    46.150002
Name: Close, dtype: float64 Date
2007-12-31    46.709999
Name: Close, dtype: float64
20071231
Date
2007-12-31    46.709999
Name: Close, dtype: float64 Date
2008-03-31    37.5
Name: Close, dtype: float64
20080331
Date
2008-03-31    37.5
Name: Close, dtype: float64 Date
2008-06-30    36.259998
Name: Close, dtype: float64
20080630
Date
2008-06-30    36.259998
Name: Close, dtype: float64 Date
2008-09-29    37.93
Name: Close, dtype: float64
20080930
Date
2008-09-29    37.930000
2008-09-30    37.299999
Name: Close, dtype: float64 Date
2008-12-29    15.78
Name: Close, dtype: float64
20081231
Date
2008-12-30    16.500000
2008-12-31    16.969999
Name: Close, dtype: float64 Date
2009-03-30    13.42
2009-03-31    13.39
Name: Close, dtype: float64
20090331
Date
2009-03-30    13.42
2009-03-31    13.39
Name: Close, dtype: float64 Date
2009-06-29    16.790001
Name: Close, dtype: float64
20090630
Date
2009-06-29    16.790001
2009-06-30    16.209999
Name: Close, dtype: float64 Date
2009-09-28    23.040001
Name: Close, dtype: float64
20090930
Date
2009-09-29    22.889999
2009-09-30    23.000000
Name: Close, dtype: float64 Date
2009-12-28    25.450001
2009-12-29    25.440001
Name: Close, dtype: float64
20091231
Date
2009-12-30    25.500000
2009-12-31    25.200001
Name: Close, dtype: float64 Date
2010-03-30    28.530001
2010-03-31    28.070000
Name: Close, dtype: float64
20100331
Date
2010-03-30    28.530001
2010-03-31    28.070000
Name: Close, dtype: float64 Date
2010-06-28    23.889999
2010-06-29    23.139999
Name: Close, dtype: float64
20100630
Date
2010-06-29    23.139999
2010-06-30    22.230000
Name: Close, dtype: float64 Date
2010-09-27    28.219999
2010-09-28    28.629999
Name: Close, dtype: float64
20100930
Date
2010-09-29    28.340000
2010-09-30    28.440001
Name: Close, dtype: float64 Date
2010-12-28    34.619999
2010-12-29    34.889999
Name: Close, dtype: float64
20101231
Date
2010-12-30    34.610001
2010-12-31    34.669998
Name: Close, dtype: float64 Date
2011-03-30    42.299999
2011-03-31    42.490002
Name: Close, dtype: float64
20110331
Date
2011-03-30    42.299999
2011-03-31    42.490002
Name: Close, dtype: float64 Date
2011-06-28    39.099998
2011-06-29    39.410000
Name: Close, dtype: float64
20110630
Date
2011-06-29    39.410000
2011-06-30    40.970001
Name: Close, dtype: float64 Date
2011-09-27    36.180000
2011-09-28    35.709999
Name: Close, dtype: float64
20110930
Date
2011-09-29    36.119999
2011-09-30    34.330002
Name: Close, dtype: float64 Date
2011-12-28    38.200001
2011-12-29    38.750000
Name: Close, dtype: float64
20111231
Date
2011-12-30    38.869999
Name: Close, dtype: float64 Date
2012-03-29    48.480000
2012-03-30    49.080002
Name: Close, dtype: float64
20120331
Date
2012-03-30    49.080002
Name: Close, dtype: float64 Date
2012-06-28    44.689999
2012-06-29    45.730000
Name: Close, dtype: float64
20120630
Date
2012-06-29    45.73
Name: Close, dtype: float64 Date
2012-09-27    42.480000
2012-09-28    42.369999
Name: Close, dtype: float64
20120930
Date
2012-10-01    42.279999
Name: Close, dtype: float64 Date
2012-12-31    48.830002
Name: Close, dtype: float64
20121231
Date
2012-12-31    48.830002
Name: Close, dtype: float64 Date
2013-04-01    51.560001
Name: Close, dtype: float64
20130331

Date
2013-04-01    51.560001
Name: Close, dtype: float64 Date
2013-07-01    55.540001
Name: Close, dtype: float64
20130630
Date
2013-07-01    55.540001
Name: Close, dtype: float64 Date
2013-09-30    64.239998
Name: Close, dtype: float64
20130930
Date
2013-09-30    64.239998
Name: Close, dtype: float64 Date
2013-12-30    68.989998
Name: Close, dtype: float64
20131231
Date
2013-12-30    68.989998
2013-12-31    69.239998
Name: Close, dtype: float64 Date
2014-03-31    66.610001
Name: Close, dtype: float64
20140331
Date
2014-03-31    66.610001
Name: Close, dtype: float64 Date
2014-06-30    69.849998
Name: Close, dtype: float64
20140630
Date
2014-06-30    69.849998
Name: Close, dtype: float64 Date
2014-09-29    59.34
Name: Close, dtype: float64
20140930
Date
2014-09-29    59.340000
2014-09-30    58.200001
Name: Close, dtype: float64 Date
2014-12-29    66.360001
Name: Close, dtype: float64
20141231
Date
2014-12-30    66.330002
2014-12-31    65.910004
Name: Close, dtype: float64 Date
2015-03-30    60.750000
2015-03-31    60.740002
Name: Close, dtype: float64
20150331
Date
2015-03-30    60.750000
2015-03-31    60.740002
Name: Close, dtype: float64 Date
2015-06-29    55.93
Name: Close, dtype: float64
20150630
Date
2015-06-29    55.930000
2015-06-30    56.349998
Name: Close, dtype: float64 Date
2015-09-28    52.75
Name: Close, dtype: float64
20150930
Date
2015-09-29    53.220001
2015-09-30    54.900002
Name: Close, dtype: float64 Date
2015-12-28    45.77
2015-12-29    46.02
Name: Close, dtype: float64
20151231
Date
2015-12-30    45.560001
2015-12-31    45.389999
Name: Close, dtype: float64 Date
2016-03-29    49.220001
2016-03-30    49.480000
Name: Close, dtype: float64
20160331
Date
2016-03-30    49.480000
2016-03-31    51.330002
Name: Close, dtype: float64 Date
2016-06-28    42.900002
2016-06-29    44.330002
Name: Close, dtype: float64
20160630
Date
2016-06-29    44.330002
2016-06-30    45.299999
Name: Close, dtype: float64 Date
2016-09-27    52.139999
2016-09-28    52.840000
Name: Close, dtype: float64
20160930
Date
2016-09-29    52.48
2016-09-30    52.59
Name: Close, dtype: float64 Date
2016-12-28    57.91
2016-12-29    58.16
Name: Close, dtype: float64
20161231
Date
2016-12-30    58.34
Name: Close, dtype: float64 Date
2017-03-30    61.009998
2017-03-31    60.500000
Name: Close, dtype: float64
20170331
Date
2017-03-30    61.009998
2017-03-31    60.500000
Name: Close, dtype: float64 Date
2017-06-28    54.709999
2017-06-29    54.080002
Name: Close, dtype: float64
20170630
Date
2017-06-29    54.080002
2017-06-30    54.020000
Name: Close, dtype: float64 Date
2017-09-27    49.299999
2017-09-28    49.150002
Name: Close, dtype: float64
20170930
Date
2017-09-29    48.209999
Name: Close, dtype: float64 Date
2017-12-28    51.570000
2017-12-29    50.880001
Name: Close, dtype: float64
20171231
Date
2018-01-02    52.060001
Name: Close, dtype: float64 Date
2018-04-02    42.049999
Name: Close, dtype: float64
20180331
Date
2018-04-02    42.049999
Name: Close, dtype: float64 Date
2018-07-02    41.939999
Name: Close, dtype: float64
20180630
Date
2018-06-29    42.080002
Name: Close, dtype: float64 Date
2018-09-27    45.000000
2018-09-28    45.299999
Name: Close, dtype: float64
20180930
Date
2018-10-01    45.650002
Name: Close, dtype: float64 Date
2018-12-31    34.119999
Name: Close, dtype: float64
20181231
Date
2018-12-31    34.119999
Name: Close, dtype: float64 Date
2019-04-01    36.959999
Name: Close, dtype: float64
20190331
Date
2019-04-01    36.959999
Name: Close, dtype: float64 Date
2019-07-01    35.68
Name: Close, dtype: float64
20190630
Date
2019-07-01    35.68
Name: Close, dtype: float64 Date
2019-09-30    35.970001
Name: Close, dtype: float64
20190930
Date
2019-09-30    35.970001
Name: Close, dtype: float64 Date
2019-12-30    37.549999
Name: Close, dtype: float64
20191231
Date
2019-12-30    37.549999
2019-12-31    37.189999
Name: Close, dtype: float64 Date
2020-03-30    17.92
Name: Close, dtype: float64
20080331
Date
2008-03-31    9.73
Name: Close, dtype: float64 Date
2008-06-30    12.5
Name: Close, dtype: float64
20080630
Date
2008-06-30    12.5
Name: Close, dtype: float64 Date
2008-09-29    11.25
Name: Close, dtype: float64
20080930
Date
2008-09-29    11.25
2008-09-30    10.63
Name: Close, dtype: float64 Date
2008-12-29    11.93
Name: Close, dtype: float64
20081231
Date
2008-12-30    11.99
2008-12-31    12.00
Name: Close, dtype: float64 Date
2009-03-30    8.84
2009-03-31    8.88
Name: Close, dtype: float64
20090331
Date
2009-03-30    8.84
2009-03-31    8.88
Name: Close, dtype: float64 Date
2009-06-29    10.51
Name: Close, dtype: float64
20090630
Date
2009-06-29    10.51
2009-06-30    10.36
Name: Close, dtype: float64 Date
2009-09-28    14.8
Name: Close, dtype: float64
20090930
Date
2009-09-29    14.67
2009-09-30    14.72
Name: Close, dtype: float64 Date
2009-12-28    15.47
2009-12-29    15.81
Name: Close, dtype: float64
20091231
Date
2009-12-30    15.68
2009-12-31    15.61
Name: Close, dtype: float64 Date
2010-03-30    13.06
2010-03-31    12.70
Name: Close, dtype: float64
20100331
Date
2010-03-30    13.06
2010-03-31    12.70
Name: Close, dtype: float64 Date
2010-06-28    12.58
2010-06-29    11.89
Name: Close, dtype: float64
20100630
Date
2010-06-29    11.89
2010-06-30    11.76
Name: Close, dtype: float64 Date
2010-09-27    15.48
2010-09-28    15.20
Name: Close, dtype: float64
20100930
Date
2010-09-29    16.240000
2010-09-30    16.290001
Name: Close, dtype: float64 Date
2010-12-28    18.92
2010-12-29    19.07
Name: Close, dtype: float64
20101231
Date
2010-12-30    20.84
2010-12-31    20.40
Name: Close, dtype: float64 Date
2011-03-30    15.35
2011-03-31    15.15
Name: Close, dtype: float64
20110331
Date
2011-03-30    15.35
2011-03-31    15.15
Name: Close, dtype: float64 Date
2011-06-28    10.13
2011-06-29     9.93
Name: Close, dtype: float64
20110630
Date
2011-06-29     9.93
2011-06-30    10.48
Name: Close, dtype: float64 Date
2011-09-27    8.55
2011-09-28    8.27
Name: Close, dtype: float64
20110930
Date
2011-09-29    8.03
2011-09-30    7.60
Name: Close, dtype: float64 Date
2011-12-28    8.55
2011-12-29    8.47
Name: Close, dtype: float64
20111231
Date
2011-12-30    8.52
Name: Close, dtype: float64 Date
2012-03-29    11.27
2012-03-30    11.25
Name: Close, dtype: float64
20120331
Date
2012-03-30    11.25
Name: Close, dtype: float64 Date
2012-06-28    9.23
2012-06-29    9.21
Name: Close, dtype: float64
20120630
Date
2012-06-29    9.21
Name: Close, dtype: float64 Date
2012-09-27    10.88
2012-09-28    11.00
Name: Close, dtype: float64
20120930
Date
2012-10-01    10.895
Name: Close, dtype: float64 Date
2012-12-31    12.84
Name: Close, dtype: float64
20121231
Date
2012-12-31    12.84
Name: Close, dtype: float64 Date
2013-04-01    12.91
Name: Close, dtype: float64
20130331
error
20030331
Date
2003-03-31    1.696787
Name: Close, dtype: float64 Date
2003-06-30    2.325932
Name: Close, dtype: float64
20030630
Date
2003-06-30    2.325932
Name: Close, dtype: float64 Date
2003-09-29    2.54518
Name: Close, dtype: float64
20030930
Date
2003-09-29    2.545180
2003-09-30    2.592843
Name: Close, dtype: float64 Date
2003-12-29    3.469833
Name: Close, dtype: float64
20031231
Date
2003-12-30    3.490805
2003-12-31    3.469833
Name: Close, dtype: float64 Date
2004-03-29    3.183477
2004-03-30    3.202351
Name: Close, dtype: float64
20040331
Date
2004-03-30    3.202351
2004-03-31    3.290431
Name: Close, dtype: float64 Date
2004-06-28    3.711959
2004-06-29    3.770679
Name: Close, dtype: float64
20040630
Date
2004-06-29    3.770679
2004-06-30    3.827302
Name: Close, dtype: float64 Date
2004-09-27    3.588227
2004-09-28    3.642753
Name: Close, dtype: float64
20040930
Date
2004-09-29    3.674210
2004-09-30    3.707765
Name: Close, dtype: float64 Date
2004-12-28    4.815061
2004-12-29    4.854907
Name: Close, dtype: float64
20041231
Date
2004-12-30    4.823450
2004-12-31    4.737466
Name: Close, dtype: float64 Date
2005-03-30    4.309648
2005-03-31    4.215275
Name: Close, dtype: float64
20050331
Date
2005-03-30    4.309648
2005-03-31    4.215275
Name: Close, dtype: float64 Date
2005-06-28    4.938793
2005-06-29    4.919919
Name: Close, dtype: float64
20050630
Date
2005-06-29    4.919919
2005-06-30    4.909433
Name: Close, dtype: float64 Date
2005-09-27    4.829741
2005-09-28    4.739563
Name: Close, dtype: float64
20050930

Date
2005-09-29    4.817158
2005-09-30    4.865393
Name: Close, dtype: float64 Date
2005-12-28    5.551161
2005-12-29    5.549064
Name: Close, dtype: float64
20051231
Date
2005-12-30    5.427429
Name: Close, dtype: float64 Date
2006-03-30    6.700401
2006-03-31    6.645875
Name: Close, dtype: float64
20060331
Date
2006-03-30    6.700401
2006-03-31    6.645875
Name: Close, dtype: float64 Date
2006-06-28    5.760877
2006-06-29    5.758780
Name: Close, dtype: float64
20060630
Date
2006-06-29    5.758780
2006-06-30    5.945426
Name: Close, dtype: float64 Date
2006-09-27    7.358906
2006-09-28    7.354712
Name: Close, dtype: float64
20060930
Date
2006-09-29    7.193232
Name: Close, dtype: float64 Date
2006-12-28    8.243904
2006-12-29    8.143241
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    7.652508
Name: Close, dtype: float64 Date
2007-06-28    8.896119
2007-06-29    8.824816
Name: Close, dtype: float64
20070630
Date
2007-06-29    8.824816
Name: Close, dtype: float64 Date
2007-09-27    10.506732
2007-09-28    10.351542
Name: Close, dtype: float64
20070930
Date
2007-10-01    10.833887
Name: Close, dtype: float64 Date
2007-12-31    11.425284
Name: Close, dtype: float64
20071231
Date
2007-12-31    11.425284
Name: Close, dtype: float64 Date
2008-03-31    10.223616
Name: Close, dtype: float64
20080331
Date
2008-03-31    10.223616
Name: Close, dtype: float64 Date
2008-06-30    6.824132
Name: Close, dtype: float64
20080630
Date
2008-06-30    6.824132
Name: Close, dtype: float64 Date
2008-09-29    6.744441
Name: Close, dtype: float64
20080930
Date
2008-09-29    6.744441
2008-09-30    6.882853
Name: Close, dtype: float64 Date
2008-12-29    8.214544
Name: Close, dtype: float64
20081231
Date
2008-12-30    8.053063
2008-12-31    8.143241
Name: Close, dtype: float64 Date
2009-03-30    4.989125
2009-03-31    5.096079
Name: Close, dtype: float64
20090331
Date
2009-03-30    4.989125
2009-03-31    5.096079
Name: Close, dtype: float64 Date
2009-06-29    7.90836
Name: Close, dtype: float64
20090630
Date
2009-06-29    7.908360
2009-06-30    7.604273
Name: Close, dtype: float64 Date
2009-09-28    9.095348
Name: Close, dtype: float64
20090930
Date
2009-09-29    9.072280
2009-09-30    9.093251
Name: Close, dtype: float64 Date
2009-12-28    9.514779
2009-12-29    9.470738
Name: Close, dtype: float64
20091231
Date
2009-12-30    9.426699
2009-12-31    9.296675
Name: Close, dtype: float64 Date
2010-03-30    10.796139
2010-03-31    10.812916
Name: Close, dtype: float64
20100331
Date
2010-03-30    10.796139
2010-03-31    10.812916
Name: Close, dtype: float64 Date
2010-06-28    9.777971
2010-06-29    9.547284
Name: Close, dtype: float64
20100630
Date
2010-06-29    9.547284
2010-06-30    9.416212
Name: Close, dtype: float64 Date
2010-09-27    11.749294
2010-09-28    12.035031
Name: Close, dtype: float64
20100930
Date
2010-09-29    12.163482
2010-09-30    11.964252
Name: Close, dtype: float64 Date
2010-12-28    13.668188
2010-12-29    13.607895
Name: Close, dtype: float64
20101231
Date
2010-12-30    13.534494
2010-12-31    13.377209
Name: Close, dtype: float64 Date
2011-03-30    16.703815
2011-03-31    16.389242
Name: Close, dtype: float64
20110331
Date
2011-03-30    16.703815
2011-03-31    16.389242
Name: Close, dtype: float64 Date
2011-06-28    17.770086
2011-06-29    17.763533
Name: Close, dtype: float64
20110630
Date
2011-06-29    17.763533
2011-06-30    17.937202
Name: Close, dtype: float64 Date
2011-09-27    16.551117
2011-09-28    16.174284
Name: Close, dtype: float64
20110930
Date
2011-09-29    16.007168
2011-09-30    16.134964
Name: Close, dtype: float64 Date
2011-12-28    18.959564
2011-12-29    19.251200
Name: Close, dtype: float64
20111231
Date
2011-12-30    19.162725
Name: Close, dtype: float64 Date
2012-03-29    17.072128
2012-03-30    16.905012
Name: Close, dtype: float64
20120331
Date
2012-03-30    16.905012
Name: Close, dtype: float64 Date
2012-06-28    15.704064
2012-06-29    16.187391
Name: Close, dtype: float64
20120630
Date
2012-06-29    16.187391
Name: Close, dtype: float64 Date
2012-09-27    15.831040
2012-09-28    15.847424
Name: Close, dtype: float64
20120930
Date
2012-10-01    15.826944
Name: Close, dtype: float64 Date
2012-12-31    18.333696
Name: Close, dtype: float64
20121231
Date
2012-12-31    18.333696
Name: Close, dtype: float64 Date
2013-04-01    17.682432
Name: Close, dtype: float64
20130331
Date
2013-04-01    17.682432
Name: Close, dtype: float64 Date
2013-07-01    21.024769
Name: Close, dtype: float64
20130630
Date
2013-07-01    21.024769
Name: Close, dtype: float64 Date
2013-09-30    27.746304
Name: Close, dtype: float64
20130930
Date
2013-09-30    27.746304
Name: Close, dtype: float64 Date
2013-12-30    30.12096
Name: Close, dtype: float64
20131231
Date
2013-12-30    30.120960
2013-12-31    29.670401
Name: Close, dtype: float64 Date
2014-03-31    30.80192
Name: Close, dtype: float64
20140331
Date
2014-03-31    30.80192
Name: Close, dtype: float64 Date
2014-06-30    26.593281
Name: Close, dtype: float64
20140630
Date
2014-06-30    26.593281
Name: Close, dtype: float64 Date
2014-09-29    24.453119
Name: Close, dtype: float64
20140930
Date
2014-09-29    24.453119
2014-09-30    23.910400
Name: Close, dtype: float64 Date
2014-12-29    31.964161
Name: Close, dtype: float64
20141231
Date
2014-12-30    31.774719
2014-12-31    30.924801
Name: Close, dtype: float64 Date
2015-03-30    31.283199
2015-03-31    31.267839
Name: Close, dtype: float64
20150331
Date
2015-03-30    31.283199
2015-03-31    31.267839
Name: Close, dtype: float64 Date
2015-06-29    29.93664
Name: Close, dtype: float64
20150630
Date
2015-06-29    29.93664
2015-06-30    29.84960
Name: Close, dtype: float64 Date
2015-09-28    24.32
Name: Close, dtype: float64
20150930
Date
2015-09-29    24.47872
2015-09-30    25.02656
Name: Close, dtype: float64 Date
2015-12-28    27.22304
2015-12-29    27.78112
Name: Close, dtype: float64
20151231
Date
2015-12-30    28.103680
2015-12-31    27.832319
Name: Close, dtype: float64 Date
2016-03-29    31.098881
2016-03-30    30.960640
Name: Close, dtype: float64
20160331
Date
2016-03-30    30.96064
2016-03-31    30.78656
Name: Close, dtype: float64 Date
2016-06-28    32.896000
2016-06-29    33.377281
Name: Close, dtype: float64
20160630
Date
2016-06-29    33.377281
2016-06-30    34.206718
Name: Close, dtype: float64 Date
2016-09-27    35.358719
2016-09-28    35.409920
Name: Close, dtype: float64
20160930
Date
2016-09-29    35.205120
2016-09-30    35.430401
Name: Close, dtype: float64 Date
2016-12-28    40.376320
2016-12-29    40.381439
Name: Close, dtype: float64
20161231
Date
2016-12-30    39.500801
Name: Close, dtype: float64 Date
2017-03-30    44.67712
2017-03-31    44.64640
Name: Close, dtype: float64
20170331
Date
2017-03-30    44.67712
2017-03-31    44.64640
Name: Close, dtype: float64 Date
2017-06-28    46.457600
2017-06-29    45.324799
Name: Close, dtype: float64
20170630
Date
2017-06-29    45.324799
2017-06-30    45.977600
Name: Close, dtype: float64 Date
2017-09-27    58.208000
2017-09-28    57.369598
Name: Close, dtype: float64
20170930
Date
2017-09-29    57.478401
Name: Close, dtype: float64 Date
2017-12-28    59.967999
2017-12-29    60.383999
Name: Close, dtype: float64
20171231
Date
2018-01-02    59.891201
Name: Close, dtype: float64 Date
2018-04-02    68.744003
Name: Close, dtype: float64
20180331
Date
2018-04-02    68.744003
Name: Close, dtype: float64 Date
2018-07-02    72.949997
Name: Close, dtype: float64
20180630
Date
2018-06-29    72.93
Name: Close, dtype: float64 Date
2018-09-27    91.360001
2018-09-28    92.610001
Name: Close, dtype: float64
20180930
Date
2018-10-01    92.349998
Name: Close, dtype: float64 Date
2018-12-31    77.480003
Name: Close, dtype: float64
20181231
Date
2018-12-31    77.480003
Name: Close, dtype: float64 Date
2019-04-01    98.230003
Name: Close, dtype: float64
20190331
Date
2019-04-01    98.230003
Name: Close, dtype: float64 Date
2019-07-01    132.75
Name: Close, dtype: float64
20190630
Date
2019-07-01    132.75
Name: Close, dtype: float64 Date
2019-09-30    124.879997
Name: Close, dtype: float64
20190930
Date
2019-09-30    124.879997
Name: Close, dtype: float64 Date
2019-12-30    114.18
Name: Close, dtype: float64
20191231

Date
2019-12-30    114.180000
2019-12-31    114.150002
Name: Close, dtype: float64 Date
2020-03-30    76.889999
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20030331
Date
2003-03-31    2.91
Name: Close, dtype: float64 Date
2003-06-30    3.2
Name: Close, dtype: float64
20030630
Date
2003-06-30    3.2
Name: Close, dtype: float64 Date
2003-09-29    6.1
Name: Close, dtype: float64
20030930
Date
2003-09-29    6.1
2003-09-30    5.9
Name: Close, dtype: float64 Date
2003-12-29    7.54
Name: Close, dtype: float64
20031231
Date
2003-12-30    7.45
2003-12-31    7.41
Name: Close, dtype: float64 Date
2004-03-29    7.4
2004-03-30    7.4
Name: Close, dtype: float64
20040331
Date
2004-03-30    7.40
2004-03-31    7.28
Name: Close, dtype: float64 Date
2004-06-28    11.89
2004-06-29    11.58
Name: Close, dtype: float64
20040630
Date
2004-06-29    11.58
2004-06-30    11.58
Name: Close, dtype: float64 Date
2004-09-27    13.06
2004-09-28    13.59
Name: Close, dtype: float64
20040930
Date
2004-09-29    13.69
2004-09-30    13.82
Name: Close, dtype: float64 Date
2004-12-28    14.5
2004-12-29    14.4
Name: Close, dtype: float64
20041231
Date
2004-12-30    14.48
2004-12-31    14.50
Name: Close, dtype: float64 Date
2005-03-30    15.76
2005-03-31    15.51
Name: Close, dtype: float64
20050331
Date
2005-03-30    15.76
2005-03-31    15.51
Name: Close, dtype: float64 Date
2005-06-28    16.860001
2005-06-29    16.850000
Name: Close, dtype: float64
20050630
Date
2005-06-29    16.85
2005-06-30    16.92
Name: Close, dtype: float64 Date
2005-09-27    18
2005-09-28    18
Name: Close, dtype: int64
20050930
Date
2005-09-29    18.000000
2005-09-30    18.290001
Name: Close, dtype: float64 Date
2005-12-28    17.90
2005-12-29    18.07
Name: Close, dtype: float64
20051231
Date
2005-12-30    18.049999
Name: Close, dtype: float64 Date
2006-03-30    21.830000
2006-03-31    21.969999
Name: Close, dtype: float64
20060331
Date
2006-03-30    21.830000
2006-03-31    21.969999
Name: Close, dtype: float64 Date
2006-06-28    14.95
2006-06-29    15.72
Name: Close, dtype: float64
20060630
Date
2006-06-29    15.72
2006-06-30    15.71
Name: Close, dtype: float64 Date
2006-09-27    13.98
2006-09-28    14.20
Name: Close, dtype: float64
20060930
Date
2006-09-29    14.15
Name: Close, dtype: float64 Date
2006-12-28    17.370001
2006-12-29    17.410000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    19.85
Name: Close, dtype: float64 Date
2007-06-28    21.110001
2007-06-29    21.070000
Name: Close, dtype: float64
20070630
Date
2007-06-29    21.07
Name: Close, dtype: float64 Date
2007-09-27    23.080000
2007-09-28    22.709999
Name: Close, dtype: float64
20070930
Date
2007-10-01    23.25
Name: Close, dtype: float64 Date
2007-12-31    24.280001
Name: Close, dtype: float64
20071231
Date
2007-12-31    24.280001
Name: Close, dtype: float64 Date
2008-03-31    19.110001
Name: Close, dtype: float64
20080331
Date
2008-03-31    19.110001
Name: Close, dtype: float64 Date
2008-06-30    19.299999
Name: Close, dtype: float64
20080630
Date
2008-06-30    19.299999
Name: Close, dtype: float64 Date
2008-09-29    13.36
Name: Close, dtype: float64
20080930
Date
2008-09-29    13.36
2008-09-30    13.69
Name: Close, dtype: float64 Date
2008-12-29    6.9
Name: Close, dtype: float64
20081231
Date
2008-12-30    6.85
2008-12-31    7.39
Name: Close, dtype: float64 Date
2009-03-30    6.42
2009-03-31    6.57
Name: Close, dtype: float64
20090331
Date
2009-03-30    6.42
2009-03-31    6.57
Name: Close, dtype: float64 Date
2009-06-29    9.57
Name: Close, dtype: float64
20090630
Date
2009-06-29    9.57
2009-06-30    9.53
Name: Close, dtype: float64 Date
2009-09-28    11.65
Name: Close, dtype: float64
20090930
Date
2009-09-29    11.60
2009-09-30    11.44
Name: Close, dtype: float64 Date
2009-12-28    13.09
2009-12-29    13.17
Name: Close, dtype: float64
20091231
Date
2009-12-30    13.10
2009-12-31    12.98
Name: Close, dtype: float64 Date
2010-03-30    14.19
2010-03-31    14.44
Name: Close, dtype: float64
20100331
Date
2010-03-30    14.19
2010-03-31    14.44
Name: Close, dtype: float64 Date
2010-06-28    16.76
2010-06-29    15.80
Name: Close, dtype: float64
20100630
Date
2010-06-29    15.80
2010-06-30    15.51
Name: Close, dtype: float64 Date
2010-09-27    18.240000
2010-09-28    18.370001
Name: Close, dtype: float64
20100930
Date
2010-09-29    18.330000
2010-09-30    17.790001
Name: Close, dtype: float64 Date
2010-12-28    18.200001
2010-12-29    18.379999
Name: Close, dtype: float64
20101231
Date
2010-12-30    18.190001
2010-12-31    18.090000
Name: Close, dtype: float64 Date
2011-03-30    19.480000
2011-03-31    19.690001
Name: Close, dtype: float64
20110331
Date
2011-03-30    19.480000
2011-03-31    19.690001
Name: Close, dtype: float64 Date
2011-06-28    21.320000
2011-06-29    21.360001
Name: Close, dtype: float64
20110630
Date
2011-06-29    21.360001
2011-06-30    21.889999
Name: Close, dtype: float64 Date
2011-09-27    21.84
2011-09-28    21.16
Name: Close, dtype: float64
20110930
Date
2011-09-29    22.27
2011-09-30    22.16
Name: Close, dtype: float64 Date
2011-12-28    24.610001
2011-12-29    24.790001
Name: Close, dtype: float64
20111231
Date
2011-12-30    24.209999
Name: Close, dtype: float64 Date
2012-03-29    24.040001
2012-03-30    24.010000
Name: Close, dtype: float64
20120331
Date
2012-03-30    24.01
Name: Close, dtype: float64 Date
2012-06-28    24.730000
2012-06-29    25.790001
Name: Close, dtype: float64
20120630
Date
2012-06-29    25.790001
Name: Close, dtype: float64 Date
2012-09-27    23.60
2012-09-28    24.02
Name: Close, dtype: float64
20120930
Date
2012-10-01    24.110001
Name: Close, dtype: float64 Date
2012-12-31    26.959999
Name: Close, dtype: float64
20121231
Date
2012-12-31    26.959999
Name: Close, dtype: float64 Date
2013-04-01    28.6
Name: Close, dtype: float64
20130331
Date
2013-04-01    28.6
Name: Close, dtype: float64 Date
2013-07-01    34.75
Name: Close, dtype: float64
20130630
Date
2013-07-01    34.75
Name: Close, dtype: float64 Date
2013-09-30    38.799999
Name: Close, dtype: float64
20130930
Date
2013-09-30    38.799999
Name: Close, dtype: float64 Date
2013-12-30    44.66
Name: Close, dtype: float64
20131231
Date
2013-12-30    44.660000
2013-12-31    44.689999
Name: Close, dtype: float64 Date
2014-03-31    43.540001
Name: Close, dtype: float64
20140331
Date
2014-03-31    43.540001
Name: Close, dtype: float64 Date
2014-06-30    40.900002
Name: Close, dtype: float64
20140630
Date
2014-06-30    40.900002
Name: Close, dtype: float64 Date
2014-09-29    39.740002
Name: Close, dtype: float64
20140930
Date
2014-09-29    39.740002
2014-09-30    39.700001
Name: Close, dtype: float64 Date
2014-12-29    41.91
Name: Close, dtype: float64
20141231
Date
2014-12-30    42.080002
2014-12-31    41.490002
Name: Close, dtype: float64 Date
2015-03-30    51.310001
2015-03-31    51.419998
Name: Close, dtype: float64
20150331
Date
2015-03-30    51.310001
2015-03-31    51.419998
Name: Close, dtype: float64 Date
2015-06-29    49.66
Name: Close, dtype: float64
20150630
Date
2015-06-29    49.660000
2015-06-30    49.740002
Name: Close, dtype: float64 Date
2015-09-28    43.98
Name: Close, dtype: float64
20150930
Date
2015-09-29    44.070000
2015-09-30    44.860001
Name: Close, dtype: float64 Date
2015-12-28    46.810001
2015-12-29    47.320000
Name: Close, dtype: float64
20151231
Date
2015-12-30    46.430000
2015-12-31    46.450001
Name: Close, dtype: float64 Date
2016-03-29    44.090000
2016-03-30    44.040001
Name: Close, dtype: float64
20160331
Date
2016-03-30    44.040001
2016-03-31    43.709999
Name: Close, dtype: float64 Date
2016-06-28    39.549999
2016-06-29    40.160000
Name: Close, dtype: float64
20160630
Date
2016-06-29    40.160000
2016-06-30    41.639999
Name: Close, dtype: float64 Date
2016-09-27    43.669998
2016-09-28    43.930000
Name: Close, dtype: float64
20160930
Date
2016-09-29    43.349998
2016-09-30    44.299999
Name: Close, dtype: float64 Date
2016-12-28    51.720001
2016-12-29    51.700001
Name: Close, dtype: float64
20161231

Date
2016-12-30    51.439999
Name: Close, dtype: float64 Date
2017-03-30    54.439999
2017-03-31    54.549999
Name: Close, dtype: float64
20170331
Date
2017-03-30    54.439999
2017-03-31    54.549999
Name: Close, dtype: float64 Date
2017-06-28    52.98
2017-06-29    52.32
Name: Close, dtype: float64
20170630
Date
2017-06-29    52.320000
2017-06-30    52.790001
Name: Close, dtype: float64 Date
2017-09-27    57.560001
2017-09-28    57.180000
Name: Close, dtype: float64
20170930
Date
2017-09-29    57.419998
Name: Close, dtype: float64 Date
2017-12-28    62.240002
2017-12-29    61.849998
Name: Close, dtype: float64
20171231
Date
2018-01-02    61.669998
Name: Close, dtype: float64 Date
2018-04-02    63.369999
Name: Close, dtype: float64
20180331
Date
2018-04-02    63.369999
Name: Close, dtype: float64 Date
2018-07-02    66.910004
Name: Close, dtype: float64
20180630
Date
2018-06-29    66.379997
Name: Close, dtype: float64 Date
2018-09-27    66.910004
2018-09-28    67.050003
Name: Close, dtype: float64
20180930
Date
2018-10-01    66.68
Name: Close, dtype: float64 Date
2018-12-31    57.34
Name: Close, dtype: float64
20181231
Date
2018-12-31    57.34
Name: Close, dtype: float64 Date
2019-04-01    70.410004
Name: Close, dtype: float64
20190331
Date
2019-04-01    70.410004
Name: Close, dtype: float64 Date
2019-07-01    81.279999
Name: Close, dtype: float64
20190630
Date
2019-07-01    81.279999
Name: Close, dtype: float64 Date
2019-09-30    82.129997
Name: Close, dtype: float64
20190930
Date
2019-09-30    82.129997
Name: Close, dtype: float64 Date
2019-12-30    73.82
Name: Close, dtype: float64
20191231
Date
2019-12-30    73.820000
2019-12-31    73.309998
Name: Close, dtype: float64 Date
2020-03-30    36.16
Name: Close, dtype: float64
20080331
Date
2008-03-31    51
Name: Close, dtype: int64 Date
2008-06-30    55
Name: Close, dtype: int64
20080630
Date
2008-06-30    55
Name: Close, dtype: int64 Date
2008-09-29    59.5
Name: Close, dtype: float64
20080930
Date
2008-09-29    59.5
2008-09-30    59.5
Name: Close, dtype: float64 Date
2008-12-29    59
Name: Close, dtype: int64
20081231
error
20090331
error
20110331
Date
2011-03-30    56
2011-03-31    56
Name: Close, dtype: int64 Date
2011-06-28    65
2011-06-29    65
Name: Close, dtype: int64
20110630
Date
2011-06-29    65
2011-06-30    65
Name: Close, dtype: int64 Date
2011-09-27    65
2011-09-28    65
Name: Close, dtype: int64
20110930
Date
2011-09-29    65
2011-09-30    65
Name: Close, dtype: int64 Date
2011-12-28    78.0
2011-12-29    77.5
Name: Close, dtype: float64
20111231
Date
2011-12-30    77.5
Name: Close, dtype: float64 Date
2012-03-29    80
2012-03-30    80
Name: Close, dtype: int64
20120331
Date
2012-03-30    80
Name: Close, dtype: int64 Date
2012-06-28    76
2012-06-29    76
Name: Close, dtype: int64
20120630
Date
2012-06-29    76
Name: Close, dtype: int64 Date
2012-09-27    84
2012-09-28    84
Name: Close, dtype: int64
20030331
Date
2003-03-31    22.725
Name: Close, dtype: float64 Date
2003-06-30    30.99
Name: Close, dtype: float64
20030630
Date
2003-06-30    30.99
Name: Close, dtype: float64 Date
2003-09-29    29.370001
Name: Close, dtype: float64
20030930
Date
2003-09-29    29.370001
2003-09-30    29.830000
Name: Close, dtype: float64 Date
2003-12-29    36.939999
Name: Close, dtype: float64
20031231
Date
2003-12-30    36.500000
2003-12-31    36.259998
Name: Close, dtype: float64 Date
2004-03-29    39.415001
2004-03-30    40.439999
Name: Close, dtype: float64
20040331
Date
2004-03-30    40.439999
2004-03-31    40.400002
Name: Close, dtype: float64 Date
2004-06-28    33.775002
2004-06-29    33.674999
Name: Close, dtype: float64
20040630
Date
2004-06-29    33.674999
2004-06-30    34.314999
Name: Close, dtype: float64 Date
2004-09-27    42.770
2004-09-28    41.855
Name: Close, dtype: float64
20040930
Date
2004-09-29    41.470001
2004-09-30    42.244999
Name: Close, dtype: float64 Date
2004-12-28    51.639999
2004-12-29    51.505001
Name: Close, dtype: float64
20041231
Date
2004-12-30    51.799999
2004-12-31    52.200001
Name: Close, dtype: float64 Date
2005-03-30    57.915001
2005-03-31    58.730000
Name: Close, dtype: float64
20050331
Date
2005-03-30    57.915001
2005-03-31    58.730000
Name: Close, dtype: float64 Date
2005-06-28    76.050003
2005-06-29    75.089996
Name: Close, dtype: float64
20050630
Date
2005-06-29    75.089996
2005-06-30    76.230003
Name: Close, dtype: float64 Date
2005-09-27    72.000000
2005-09-28    71.099998
Name: Close, dtype: float64
20050930
Date
2005-09-29    72.099998
2005-09-30    73.199997
Name: Close, dtype: float64 Date
2005-12-28    72.959999
2005-12-29    73.120003
Name: Close, dtype: float64
20051231
Date
2005-12-30    72.660004
Name: Close, dtype: float64 Date
2006-03-30    65.580002
2006-03-31    64.980003
Name: Close, dtype: float64
20060331
Date
2006-03-30    65.580002
2006-03-31    64.980003
Name: Close, dtype: float64 Date
2006-06-28    45.000000
2006-06-29    46.919998
Name: Close, dtype: float64
20060630
Date
2006-06-29    46.919998
2006-06-30    45.849998
Name: Close, dtype: float64 Date
2006-09-27    45.369999
2006-09-28    45.139999
Name: Close, dtype: float64
20060930
Date
2006-09-29    43.799999
Name: Close, dtype: float64 Date
2006-12-28    51.560001
2006-12-29    51.279999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    42.669998
Name: Close, dtype: float64 Date
2007-06-28    39.889999
2007-06-29    39.369999
Name: Close, dtype: float64
20070630
Date
2007-06-29    39.369999
Name: Close, dtype: float64 Date
2007-09-27    24.709999
2007-09-28    25.059999
Name: Close, dtype: float64
20070930
Date
2007-10-01    25.969999
Name: Close, dtype: float64 Date
2007-12-31    21.6
Name: Close, dtype: float64
20071231
Date
2007-12-31    21.6
Name: Close, dtype: float64 Date
2008-03-31    24.73
Name: Close, dtype: float64
20080331
Date
2008-03-31    24.73
Name: Close, dtype: float64 Date
2008-06-30    16.93
Name: Close, dtype: float64
20080630
Date
2008-06-30    16.93
Name: Close, dtype: float64 Date
2008-09-29    19.34
Name: Close, dtype: float64
20080930
Date
2008-09-29    19.34
2008-09-30    19.68
Name: Close, dtype: float64 Date
2008-12-29    13.09
Name: Close, dtype: float64
20081231
Date
2008-12-30    13.44
2008-12-31    13.62
Name: Close, dtype: float64 Date
2009-03-30    13.75
2009-03-31    13.18
Name: Close, dtype: float64
20090331
Date
2009-03-30    13.75
2009-03-31    13.18
Name: Close, dtype: float64 Date
2009-06-29    14.11
Name: Close, dtype: float64
20090630
Date
2009-06-29    14.11
2009-06-30    13.68
Name: Close, dtype: float64 Date
2009-09-28    16.9
Name: Close, dtype: float64
20090930
Date
2009-09-29    17.170000
2009-09-30    16.610001
Name: Close, dtype: float64 Date
2009-12-28    13.82
2009-12-29    13.80
Name: Close, dtype: float64
20091231
Date
2009-12-30    13.82
2009-12-31    13.68
Name: Close, dtype: float64 Date
2010-03-30    16.889999
2010-03-31    16.750000
Name: Close, dtype: float64
20100331
Date
2010-03-30    16.889999
2010-03-31    16.750000
Name: Close, dtype: float64 Date
2010-06-28    11.32
2010-06-29    11.07
Name: Close, dtype: float64
20100630
Date
2010-06-29    11.07
2010-06-30    11.00
Name: Close, dtype: float64 Date
2010-09-27    11.95
2010-09-28    11.73
Name: Close, dtype: float64
20100930
Date
2010-09-29    11.39
2010-09-30    11.33
Name: Close, dtype: float64 Date
2010-12-28    13.43
2010-12-29    13.48
Name: Close, dtype: float64
20101231
Date
2010-12-30    13.45
2010-12-31    13.49
Name: Close, dtype: float64 Date
2011-03-30    12.62
2011-03-31    12.44
Name: Close, dtype: float64
20110331
Date
2011-03-30    12.62
2011-03-31    12.44
Name: Close, dtype: float64 Date
2011-06-28    11.92
2011-06-29    10.08
Name: Close, dtype: float64
20110630
Date
2011-06-29    10.08
2011-06-30     9.78
Name: Close, dtype: float64 Date
2011-09-27    5.90
2011-09-28    5.81
Name: Close, dtype: float64
20110930
Date
2011-09-29    6.08
2011-09-30    5.86
Name: Close, dtype: float64 Date
2011-12-28    6.34
2011-12-29    6.73
Name: Close, dtype: float64
20111231
Date
2011-12-30    6.72
Name: Close, dtype: float64 Date
2012-03-29    9.04
2012-03-30    8.90
Name: Close, dtype: float64
20120331
Date
2012-03-30    8.9
Name: Close, dtype: float64 Date
2012-06-28    8.7
2012-06-29    9.8
Name: Close, dtype: float64
20120630

Date
2012-06-29    9.8
Name: Close, dtype: float64 Date
2012-09-27    14.61
2012-09-28    14.35
Name: Close, dtype: float64
20120930
Date
2012-10-01    14.25
Name: Close, dtype: float64 Date
2012-12-31    15.8
Name: Close, dtype: float64
20121231
Date
2012-12-31    15.8
Name: Close, dtype: float64 Date
2013-04-01    21.4
Name: Close, dtype: float64
20130331
Date
2013-04-01    21.4
Name: Close, dtype: float64 Date
2013-07-01    19.01
Name: Close, dtype: float64
20130630
Date
2013-07-01    19.01
Name: Close, dtype: float64 Date
2013-09-30    18.02
Name: Close, dtype: float64
20130930
Date
2013-09-30    18.02
Name: Close, dtype: float64 Date
2013-12-30    18.129999
Name: Close, dtype: float64
20131231
Date
2013-12-30    18.129999
2013-12-31    18.280001
Name: Close, dtype: float64 Date
2014-03-31    16.99
Name: Close, dtype: float64
20140331
Date
2014-03-31    16.99
Name: Close, dtype: float64 Date
2014-06-30    18.68
Name: Close, dtype: float64
20140630
Date
2014-06-30    18.68
Name: Close, dtype: float64 Date
2014-09-29    15.19
Name: Close, dtype: float64
20140930
Date
2014-09-29    15.19
2014-09-30    14.94
Name: Close, dtype: float64 Date
2014-12-29    15.99
Name: Close, dtype: float64
20141231
Date
2014-12-30    16.150000
2014-12-31    16.549999
Name: Close, dtype: float64 Date
2015-03-30    15.66
2015-03-31    15.62
Name: Close, dtype: float64
20150331
Date
2015-03-30    15.66
2015-03-31    15.62
Name: Close, dtype: float64 Date
2015-06-29    16.76
Name: Close, dtype: float64
20150630
Date
2015-06-29    16.76
2015-06-30    16.60
Name: Close, dtype: float64 Date
2015-09-28    13.36
Name: Close, dtype: float64
20150930
Date
2015-09-29    13.41
2015-09-30    13.55
Name: Close, dtype: float64 Date
2015-12-28    12.57
2015-12-29    12.65
Name: Close, dtype: float64
20151231
Date
2015-12-30    12.49
2015-12-31    12.33
Name: Close, dtype: float64 Date
2016-03-29    13.82
2016-03-30    13.63
Name: Close, dtype: float64
20160331
Date
2016-03-30    13.63
2016-03-31    14.28
Name: Close, dtype: float64 Date
2016-06-28    14.60
2016-06-29    15.06
Name: Close, dtype: float64
20160630
Date
2016-06-29    15.06
2016-06-30    15.21
Name: Close, dtype: float64 Date
2016-09-27    16.410000
2016-09-28    16.450001
Name: Close, dtype: float64
20160930
Date
2016-09-29    16.090000
2016-09-30    16.120001
Name: Close, dtype: float64 Date
2016-12-28    16.010000
2016-12-29    16.040001
Name: Close, dtype: float64
20161231
Date
2016-12-30    15.81
Name: Close, dtype: float64 Date
2017-03-30    19.990000
2017-03-31    19.879999
Name: Close, dtype: float64
20170331
Date
2017-03-30    19.990000
2017-03-31    19.879999
Name: Close, dtype: float64 Date
2017-06-28    24.059999
2017-06-29    23.770000
Name: Close, dtype: float64
20170630
Date
2017-06-29    23.770000
2017-06-30    23.969999
Name: Close, dtype: float64 Date
2017-09-27    21.610001
2017-09-28    22.219999
Name: Close, dtype: float64
20170930
Date
2017-09-29    24.120001
Name: Close, dtype: float64 Date
2017-12-28    32.250000
2017-12-29    31.950001
Name: Close, dtype: float64
20171231
Date
2018-01-02    32.200001
Name: Close, dtype: float64 Date
2018-04-02    27.82
Name: Close, dtype: float64
20180331
Date
2018-04-02    27.82
Name: Close, dtype: float64 Date
2018-07-02    25.950001
Name: Close, dtype: float64
20180630
Date
2018-06-29    27.24
Name: Close, dtype: float64 Date
2018-09-27    23.84
2018-09-28    23.91
Name: Close, dtype: float64
20180930
Date
2018-10-01    23.700001
Name: Close, dtype: float64 Date
2018-12-31    19.1
Name: Close, dtype: float64
20181231
Date
2018-12-31    19.1
Name: Close, dtype: float64 Date
2019-04-01    24.18
Name: Close, dtype: float64
20190331
Date
2019-04-01    24.18
Name: Close, dtype: float64 Date
2019-07-01    25.950001
Name: Close, dtype: float64
20190630
Date
2019-07-01    25.950001
Name: Close, dtype: float64 Date
2019-09-30    34
Name: Close, dtype: int64
20190930
Date
2019-09-30    34
Name: Close, dtype: int64 Date
2019-12-30    33.98
Name: Close, dtype: float64
20191231
Date
2019-12-30    33.98
2019-12-31    34.27
Name: Close, dtype: float64 Date
2020-03-30    18.200001
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20100331
Date
2010-03-30    40.150002
2010-03-31    39.674999
Name: Close, dtype: float64 Date
2010-06-28    35.244999
2010-06-29    33.830002
Name: Close, dtype: float64
20100630
Date
2010-06-29    33.830002
2010-06-30    33.099998
Name: Close, dtype: float64 Date
2010-09-27    37.575001
2010-09-28    37.625000
Name: Close, dtype: float64
20100930
Date
2010-09-29    38.935001
2010-09-30    39.465000
Name: Close, dtype: float64 Date
2010-12-28    48.470001
2010-12-29    48.575001
Name: Close, dtype: float64
20101231
Date
2010-12-30    48.520
2010-12-31    49.355
Name: Close, dtype: float64 Date
2011-03-30    48.000000
2011-03-31    48.869999
Name: Close, dtype: float64
20110331
Date
2011-03-30    48.000000
2011-03-31    48.869999
Name: Close, dtype: float64 Date
2011-06-28    52.349998
2011-06-29    53.560001
Name: Close, dtype: float64
20110630
Date
2011-06-29    53.560001
2011-06-30    53.480000
Name: Close, dtype: float64 Date
2011-09-27    43.220001
2011-09-28    42.529999
Name: Close, dtype: float64
20110930
Date
2011-09-29    44.080002
2011-09-30    42.900002
Name: Close, dtype: float64 Date
2011-12-28    39.689999
2011-12-29    39.750000
Name: Close, dtype: float64
20111231
Date
2011-12-30    39.799999
Name: Close, dtype: float64 Date
2012-03-29    46.459999
2012-03-30    46.490002
Name: Close, dtype: float64
20120331
Date
2012-03-30    46.490002
Name: Close, dtype: float64 Date
2012-06-28    37.400002
2012-06-29    37.730000
Name: Close, dtype: float64
20120630
Date
2012-06-29    37.73
Name: Close, dtype: float64 Date
2012-09-27    37.759998
2012-09-28    37.790001
Name: Close, dtype: float64
20120930
Date
2012-10-01    38.450001
Name: Close, dtype: float64 Date
2012-12-31    46.84
Name: Close, dtype: float64
20121231
Date
2012-12-31    46.84
Name: Close, dtype: float64 Date
2013-04-01    55.400002
Name: Close, dtype: float64
20130331
Date
2013-04-01    55.400002
Name: Close, dtype: float64 Date
2013-07-01    61.549999
Name: Close, dtype: float64
20130630
Date
2013-07-01    61.549999
Name: Close, dtype: float64 Date
2013-09-30    71.57
Name: Close, dtype: float64
20130930
Date
2013-09-30    71.57
Name: Close, dtype: float64 Date
2013-12-30    80.949997
Name: Close, dtype: float64
20131231
Date
2013-12-30    80.949997
2013-12-31    80.970001
Name: Close, dtype: float64 Date
2014-03-31    83.720001
Name: Close, dtype: float64
20140331
Date
2014-03-31    83.720001
Name: Close, dtype: float64 Date
2014-06-30    89.32
Name: Close, dtype: float64
20140630
Date
2014-06-30    89.32
Name: Close, dtype: float64 Date
2014-09-29    90.160004
Name: Close, dtype: float64
20140930
Date
2014-09-29    90.160004
2014-09-30    86.410004
Name: Close, dtype: float64 Date
2014-12-29    99.709999
Name: Close, dtype: float64
20141231
Date
2014-12-30    98.980003
2014-12-31    98.080002
Name: Close, dtype: float64 Date
2015-03-30    111.510002
2015-03-31    110.820000
Name: Close, dtype: float64
20150331
Date
2015-03-30    111.510002
2015-03-31    110.820000
Name: Close, dtype: float64 Date
2015-06-29    111.989998
Name: Close, dtype: float64
20150630
Date
2015-06-29    111.989998
2015-06-30    112.260002
Name: Close, dtype: float64 Date
2015-09-28    103.870003
Name: Close, dtype: float64
20150930
Date
2015-09-29    105.580002
2015-09-30    108.779999
Name: Close, dtype: float64 Date
2015-12-28    125.519997
2015-12-29    125.730003
Name: Close, dtype: float64
20151231
Date
2015-12-30    124.449997
2015-12-31    122.830002
Name: Close, dtype: float64 Date
2016-03-29    111.540001
2016-03-30    111.650002
Name: Close, dtype: float64
20160331
Date
2016-03-30    111.650002
2016-03-31    111.169998
Name: Close, dtype: float64 Date
2016-06-28    100.790001
2016-06-29    102.989998
Name: Close, dtype: float64
20160630

Date
2016-06-29    102.989998
2016-06-30    101.760002
Name: Close, dtype: float64 Date
2016-09-27    118.709999
2016-09-28    120.129997
Name: Close, dtype: float64
20160930
Date
2016-09-29    118.769997
2016-09-30    121.220001
Name: Close, dtype: float64 Date
2016-12-28    132.630005
2016-12-29    132.699997
Name: Close, dtype: float64
20161231
Date
2016-12-30    132.369995
Name: Close, dtype: float64 Date
2017-03-30    141.350006
2017-03-31    141.580002
Name: Close, dtype: float64
20170331
Date
2017-03-30    141.350006
2017-03-31    141.580002
Name: Close, dtype: float64 Date
2017-06-28    139.830002
2017-06-29    139.559998
Name: Close, dtype: float64
20170630
Date
2017-06-29    139.559998
2017-06-30    142.080002
Name: Close, dtype: float64 Date
2017-09-27    172.690002
2017-09-28    173.889999
Name: Close, dtype: float64
20170930
Date
2017-09-29    173.080002
Name: Close, dtype: float64 Date
2017-12-28    179.589996
2017-12-29    176.660004
Name: Close, dtype: float64
20171231
Date
2018-01-02    178.800003
Name: Close, dtype: float64 Date
2018-04-02    181.649994
Name: Close, dtype: float64
20180331
Date
2018-04-02    181.649994
Name: Close, dtype: float64 Date
2018-07-02    187.690002
Name: Close, dtype: float64
20180630
Date
2018-06-29    185.809998
Name: Close, dtype: float64 Date
2018-09-27    146.729996
2018-09-28    145.000000
Name: Close, dtype: float64
20180930
Date
2018-10-01    148.869995
Name: Close, dtype: float64 Date
2018-12-31    122.860001
Name: Close, dtype: float64
20181231
Date
2018-12-31    122.860001
Name: Close, dtype: float64 Date
2019-04-01    140.990005
Name: Close, dtype: float64
20190331
Date
2019-04-01    140.990005
Name: Close, dtype: float64 Date
2019-07-01    138.339996
Name: Close, dtype: float64
20190630
Date
2019-07-01    138.339996
Name: Close, dtype: float64 Date
2019-09-30    117.900002
Name: Close, dtype: float64
20190930
Date
2019-09-30    117.900002
Name: Close, dtype: float64 Date
2019-12-30    138.110001
Name: Close, dtype: float64
20191231
Date
2019-12-30    138.110001
2019-12-31    137.199997
Name: Close, dtype: float64 Date
2020-03-30    88.550003
Name: Close, dtype: float64
20140331
Date
2014-03-31    9.623015
Name: Close, dtype: float64 Date
2014-06-30    9.563492
Name: Close, dtype: float64
20140630
Date
2014-06-30    9.563492
Name: Close, dtype: float64 Date
2014-09-29    9.02
Name: Close, dtype: float64
20140930
Date
2014-09-29    9.02
2014-09-30    8.85
Name: Close, dtype: float64 Date
2014-12-29    6.16
Name: Close, dtype: float64
20141231
Date
2014-12-30    5.97
2014-12-31    6.12
Name: Close, dtype: float64 Date
2015-03-30    5.88
2015-03-31    5.72
Name: Close, dtype: float64
20150331
Date
2015-03-30    5.88
2015-03-31    5.72
Name: Close, dtype: float64 Date
2015-06-29    6.23
Name: Close, dtype: float64
20150630
Date
2015-06-29    6.23
2015-06-30    6.36
Name: Close, dtype: float64 Date
2015-09-28    4.08
Name: Close, dtype: float64
20150930
Date
2015-09-29    4.24
2015-09-30    4.17
Name: Close, dtype: float64 Date
2015-12-28    5.56
2015-12-29    5.54
Name: Close, dtype: float64
20151231
Date
2015-12-30    5.6
2015-12-31    5.5
Name: Close, dtype: float64 Date
2016-03-29    5.07
2016-03-30    4.99
Name: Close, dtype: float64
20181231
Date
2018-12-31    6.85
Name: Close, dtype: float64 Date
2019-04-01    8.09
Name: Close, dtype: float64
20190331
Date
2019-04-01    8.09
Name: Close, dtype: float64 Date
2019-07-01    7.08
Name: Close, dtype: float64
20190630
Date
2019-07-01    7.08
Name: Close, dtype: float64 Date
2019-09-30    4.2
Name: Close, dtype: float64
20190930
Date
2019-09-30    4.2
Name: Close, dtype: float64 Date
2019-12-30    3.99
Name: Close, dtype: float64
20191231
Date
2019-12-30    3.99
2019-12-31    4.00
Name: Close, dtype: float64 Date
2020-03-30    1.36
Name: Close, dtype: float64
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20031231
Date
2003-12-30    16.733334
2003-12-31    16.820000
Name: Close, dtype: float64 Date
2004-03-29    19.106667
2004-03-30    19.446667
Name: Close, dtype: float64
20040331
Date
2004-03-30    19.446667
2004-03-31    19.546667
Name: Close, dtype: float64 Date
2004-06-28    24.706667
2004-06-29    24.900000
Name: Close, dtype: float64
20040630
Date
2004-06-29    24.900000
2004-06-30    25.453333
Name: Close, dtype: float64 Date
2004-09-27    23.393333
2004-09-28    23.680000
Name: Close, dtype: float64
20040930
Date
2004-09-29    23.786667
2004-09-30    23.666666
Name: Close, dtype: float64 Date
2004-12-28    31.360001
2004-12-29    31.966667
Name: Close, dtype: float64
20041231
Date
2004-12-30    31.753334
2004-12-31    30.920000
Name: Close, dtype: float64 Date
2005-03-30    30.586666
2005-03-31    30.726667
Name: Close, dtype: float64
20050331
Date
2005-03-30    30.586666
2005-03-31    30.726667
Name: Close, dtype: float64 Date
2005-06-28    28.973333
2005-06-29    29.526667
Name: Close, dtype: float64
20050630
Date
2005-06-29    29.526667
2005-06-30    29.506666
Name: Close, dtype: float64 Date
2005-09-27    17.953333
2005-09-28    18.046667
Name: Close, dtype: float64
20050930
Date
2005-09-29    16.52
2005-09-30    16.66
Name: Close, dtype: float64 Date
2005-12-28    18.059999
2005-12-29    18.053333
Name: Close, dtype: float64
20051231
Date
2005-12-30    17.76
Name: Close, dtype: float64 Date
2006-03-30    21.866667
2006-03-31    22.313334
Name: Close, dtype: float64
20060331
Date
2006-03-30    21.866667
2006-03-31    22.313334
Name: Close, dtype: float64 Date
2006-06-28    24.020000
2006-06-29    25.446667
Name: Close, dtype: float64
20060630
Date
2006-06-29    25.446667
2006-06-30    25.366667
Name: Close, dtype: float64 Date
2006-09-27    23.893333
2006-09-28    23.966667
Name: Close, dtype: float64
20060930
Date
2006-09-29    23.573334
Name: Close, dtype: float64 Date
2006-12-28    22.073334
2006-12-29    21.673334
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    20.393333
Name: Close, dtype: float64 Date
2007-06-28    20.393333
2007-06-29    20.346666
Name: Close, dtype: float64
20070630
Date
2007-06-29    20.346666
Name: Close, dtype: float64 Date
2007-09-27    24.446667
2007-09-28    24.180000
Name: Close, dtype: float64
20070930
Date
2007-10-01    24.433332
Name: Close, dtype: float64 Date
2007-12-31    25.799999
Name: Close, dtype: float64
20071231
Date
2007-12-31    25.799999
Name: Close, dtype: float64 Date
2008-03-31    16.280001
Name: Close, dtype: float64
20080331
Date
2008-03-31    16.280001
Name: Close, dtype: float64 Date
2008-06-30    16.226667
Name: Close, dtype: float64
20080630
Date
2008-06-30    16.226667
Name: Close, dtype: float64 Date
2008-09-29    20.08
Name: Close, dtype: float64
20080930
Date
2008-09-29    20.080000
2008-09-30    20.666666
Name: Close, dtype: float64 Date
2008-12-29    11.66
Name: Close, dtype: float64
20081231
Date
2008-12-30    11.466666
2008-12-31    11.740000
Name: Close, dtype: float64 Date
2009-03-30    12.70
2009-03-31    12.68
Name: Close, dtype: float64
20090331
Date
2009-03-30    12.70
2009-03-31    12.68
Name: Close, dtype: float64 Date
2009-06-29    15.94
Name: Close, dtype: float64
20090630
Date
2009-06-29    15.940000
2009-06-30    15.946667
Name: Close, dtype: float64 Date
2009-09-28    13.98
Name: Close, dtype: float64
20090930
Date
2009-09-29    14.153334
2009-09-30    13.793333
Name: Close, dtype: float64 Date
2009-12-28    15.360000
2009-12-29    15.513333
Name: Close, dtype: float64
20091231
Date
2009-12-30    15.493333
2009-12-31    15.246667
Name: Close, dtype: float64 Date
2010-03-30    16.466667
2010-03-31    16.780001
Name: Close, dtype: float64
20100331
Date
2010-03-30    16.466667
2010-03-31    16.780001
Name: Close, dtype: float64 Date
2010-06-28    20.073334
2010-06-29    19.660000
Name: Close, dtype: float64
20100630

Date
2010-06-29    19.660000
2010-06-30    19.200001
Name: Close, dtype: float64 Date
2010-09-27    17.993334
2010-09-28    18.000000
Name: Close, dtype: float64
20100930
Date
2010-09-29    17.900000
2010-09-30    17.993334
Name: Close, dtype: float64 Date
2010-12-28    18.360001
2010-12-29    18.506666
Name: Close, dtype: float64
20101231
Date
2010-12-30    18.653334
2010-12-31    18.566668
Name: Close, dtype: float64 Date
2011-03-30    26.753334
2011-03-31    26.666666
Name: Close, dtype: float64
20110331
Date
2011-03-30    26.753334
2011-03-31    26.666666
Name: Close, dtype: float64 Date
2011-06-28    26.98
2011-06-29    27.01
Name: Close, dtype: float64
20110630
Date
2011-06-29    27.010000
2011-06-30    27.120001
Name: Close, dtype: float64 Date
2011-09-27    16.059999
2011-09-28    15.760000
Name: Close, dtype: float64
20110930
Date
2011-09-29    16.00
2011-09-30    15.44
Name: Close, dtype: float64 Date
2011-12-28    22.459999
2011-12-29    22.480000
Name: Close, dtype: float64
20111231
Date
2011-12-30    22.33
Name: Close, dtype: float64 Date
2012-03-29    33.439999
2012-03-30    33.630001
Name: Close, dtype: float64
20120331
Date
2012-03-30    33.630001
Name: Close, dtype: float64 Date
2012-06-28    23.160000
2012-06-29    23.459999
Name: Close, dtype: float64
20120630
Date
2012-06-29    23.459999
Name: Close, dtype: float64 Date
2012-09-27    24.75
2012-09-28    25.15
Name: Close, dtype: float64
20120930
Date
2012-10-01    25.030001
Name: Close, dtype: float64 Date
2012-12-31    27.059999
Name: Close, dtype: float64
20121231
Date
2012-12-31    27.059999
Name: Close, dtype: float64 Date
2013-04-01    30.76
Name: Close, dtype: float64
20130331
Date
2013-04-01    30.76
Name: Close, dtype: float64 Date
2013-07-01    37.889999
Name: Close, dtype: float64
20130630
Date
2013-07-01    37.889999
Name: Close, dtype: float64 Date
2013-09-30    35.599998
Name: Close, dtype: float64
20130930
Date
2013-09-30    35.599998
Name: Close, dtype: float64 Date
2013-12-30    33.98
Name: Close, dtype: float64
20131231
Date
2013-12-30    33.98
2013-12-31    34.75
Name: Close, dtype: float64 Date
2014-03-31    37.560001
Name: Close, dtype: float64
20140331
Date
2014-03-31    37.560001
Name: Close, dtype: float64 Date
2014-06-30    44.630001
Name: Close, dtype: float64
20140630
Date
2014-06-30    44.630001
Name: Close, dtype: float64 Date
2014-09-29    43.040001
Name: Close, dtype: float64
20140930
Date
2014-09-29    43.040001
2014-09-30    42.299999
Name: Close, dtype: float64 Date
2014-12-29    53.59
Name: Close, dtype: float64
20141231
Date
2014-12-30    53.389999
2014-12-31    53.529999
Name: Close, dtype: float64 Date
2015-03-30    66.300003
2015-03-31    67.290001
Name: Close, dtype: float64
20150331
Date
2015-03-30    66.300003
2015-03-31    67.290001
Name: Close, dtype: float64 Date
2015-06-29    70.089996
Name: Close, dtype: float64
20150630
Date
2015-06-29    70.089996
2015-06-30    70.300003
Name: Close, dtype: float64 Date
2015-09-28    68.019997
Name: Close, dtype: float64
20150930
Date
2015-09-29    66.720001
2015-09-30    68.849998
Name: Close, dtype: float64 Date
2015-12-28    61.610001
2015-12-29    61.630001
Name: Close, dtype: float64
20151231
Date
2015-12-30    60.790001
2015-12-31    60.130001
Name: Close, dtype: float64 Date
2016-03-29    65.300003
2016-03-30    64.260002
Name: Close, dtype: float64
20160331
Date
2016-03-30    64.260002
2016-03-31    64.489998
Name: Close, dtype: float64 Date
2016-06-28    49.740002
2016-06-29    50.660000
Name: Close, dtype: float64
20160630
Date
2016-06-29    50.660000
2016-06-30    49.900002
Name: Close, dtype: float64 Date
2016-09-27    58.090000
2016-09-28    58.189999
Name: Close, dtype: float64
20160930
Date
2016-09-29    57.299999
2016-09-30    58.320000
Name: Close, dtype: float64 Date
2016-12-28    55.400002
2016-12-29    54.490002
Name: Close, dtype: float64
20161231
Date
2016-12-30    54.259998
Name: Close, dtype: float64 Date
2017-03-30    45.799999
2017-03-31    45.599998
Name: Close, dtype: float64
20170331
Date
2017-03-30    45.799999
2017-03-31    45.599998
Name: Close, dtype: float64 Date
2017-06-28    70.440002
2017-06-29    69.580002
Name: Close, dtype: float64
20170630
Date
2017-06-29    69.580002
2017-06-30    69.180000
Name: Close, dtype: float64 Date
2017-09-27    66.540001
2017-09-28    67.589996
Name: Close, dtype: float64
20170930
Date
2017-09-29    68.760002
Name: Close, dtype: float64 Date
2017-12-28    77.900002
2017-12-29    76.680000
Name: Close, dtype: float64
20171231
Date
2018-01-02    78
Name: Close, dtype: int64 Date
2018-04-02    78.760002
Name: Close, dtype: float64
20180331
Date
2018-04-02    78.760002
Name: Close, dtype: float64 Date
2018-07-02    98.709999
Name: Close, dtype: float64
20180630
Date
2018-06-29    97.940002
Name: Close, dtype: float64 Date
2018-09-27    148.020004
2018-09-28    148.699997
Name: Close, dtype: float64
20180930
Date
2018-10-01    148.139999
Name: Close, dtype: float64 Date
2018-12-31    116.220001
Name: Close, dtype: float64
20181231
Date
2018-12-31    116.220001
Name: Close, dtype: float64 Date
2019-04-01    144.699997
Name: Close, dtype: float64
20190331
Date
2019-04-01    144.699997
Name: Close, dtype: float64 Date
2019-07-01    140.309998
Name: Close, dtype: float64
20190630
Date
2019-07-01    140.309998
Name: Close, dtype: float64 Date
2019-09-30    109.720001
Name: Close, dtype: float64
20190930
Date
2019-09-30    109.720001
Name: Close, dtype: float64 Date
2019-12-30    135.839996
Name: Close, dtype: float64
20191231
Date
2019-12-30    135.839996
2019-12-31    135.690002
Name: Close, dtype: float64 Date
2020-03-30    139.350006
Name: Close, dtype: float64
20040630
Date
2004-06-29    16.58
2004-06-30    17.50
Name: Close, dtype: float64 Date
2004-09-27    16.76
2004-09-28    17.09
Name: Close, dtype: float64
20040930
Date
2004-09-29    17.010000
2004-09-30    16.969999
Name: Close, dtype: float64 Date
2004-12-28    21.24
2004-12-29    21.50
Name: Close, dtype: float64
20041231
Date
2004-12-30    21.670000
2004-12-31    21.299999
Name: Close, dtype: float64 Date
2005-03-30    19.15
2005-03-31    19.08
Name: Close, dtype: float64
20050331
Date
2005-03-30    19.15
2005-03-31    19.08
Name: Close, dtype: float64 Date
2005-06-28    25.35
2005-06-29    26.23
Name: Close, dtype: float64
20050630
Date
2005-06-29    26.23
2005-06-30    25.91
Name: Close, dtype: float64 Date
2005-09-27    29.200001
2005-09-28    28.629999
Name: Close, dtype: float64
20050930
Date
2005-09-29    29.590000
2005-09-30    29.969999
Name: Close, dtype: float64 Date
2005-12-28    22.360001
2005-12-29    22.270000
Name: Close, dtype: float64
20051231
Date
2005-12-30    22.459999
Name: Close, dtype: float64 Date
2006-03-30    19.400000
2006-03-31    19.469999
Name: Close, dtype: float64
20060331
Date
2006-03-30    19.400000
2006-03-31    19.469999
Name: Close, dtype: float64 Date
2006-06-28    19.440001
2006-06-29    19.910000
Name: Close, dtype: float64
20060630
Date
2006-06-29    19.910000
2006-06-30    19.799999
Name: Close, dtype: float64 Date
2006-09-27    16.00
2006-09-28    16.09
Name: Close, dtype: float64
20060930
Date
2006-09-29    16.629999
Name: Close, dtype: float64 Date
2006-12-28    17.030001
2006-12-29    16.820000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    15.47
Name: Close, dtype: float64 Date
2007-06-28    17.889999
2007-06-29    18.180000
Name: Close, dtype: float64
20070630
Date
2007-06-29    18.18
Name: Close, dtype: float64 Date
2007-09-27    11.72
2007-09-28    11.60
Name: Close, dtype: float64
20070930
Date
2007-10-01    12.01
Name: Close, dtype: float64 Date
2007-12-31    10.41
Name: Close, dtype: float64
20071231
Date
2007-12-31    10.41
Name: Close, dtype: float64 Date
2008-03-31    9.63
Name: Close, dtype: float64
20080331
Date
2008-03-31    9.63
Name: Close, dtype: float64 Date
2008-06-30    12.22
Name: Close, dtype: float64
20080630
Date
2008-06-30    12.22
Name: Close, dtype: float64 Date
2008-09-29    10.85
Name: Close, dtype: float64
20080930
Date
2008-09-29    10.85
2008-09-30    10.54
Name: Close, dtype: float64 Date
2008-12-29    5.05
Name: Close, dtype: float64
20081231
Date
2008-12-30    5.62
2008-12-31    5.11
Name: Close, dtype: float64 Date
2009-03-30    5.52
2009-03-31    5.31
Name: Close, dtype: float64
20090331

Date
2009-03-30    5.52
2009-03-31    5.31
Name: Close, dtype: float64 Date
2009-06-29    8.06
Name: Close, dtype: float64
20090630
Date
2009-06-29    8.06
2009-06-30    7.69
Name: Close, dtype: float64 Date
2009-09-28    8
Name: Close, dtype: int64
20090930
Date
2009-09-29    7.61
2009-09-30    7.25
Name: Close, dtype: float64 Date
2009-12-28    6.50
2009-12-29    6.69
Name: Close, dtype: float64
20091231
Date
2009-12-30    6.76
2009-12-31    6.78
Name: Close, dtype: float64 Date
2010-03-30    6.31
2010-03-31    6.31
Name: Close, dtype: float64
20100331
Date
2010-03-30    6.31
2010-03-31    6.31
Name: Close, dtype: float64 Date
2010-06-28    4.62
2010-06-29    4.33
Name: Close, dtype: float64
20100630
Date
2010-06-29    4.33
2010-06-30    4.14
Name: Close, dtype: float64 Date
2010-09-27    4.64
2010-09-28    4.88
Name: Close, dtype: float64
20100930
Date
2010-09-29    5.10
2010-09-30    5.37
Name: Close, dtype: float64 Date
2010-12-28    5.96
2010-12-29    6.02
Name: Close, dtype: float64
20101231
Date
2010-12-30    5.92
2010-12-31    5.93
Name: Close, dtype: float64 Date
2011-03-30    5.40
2011-03-31    5.37
Name: Close, dtype: float64
20110331
Date
2011-03-30    5.40
2011-03-31    5.37
Name: Close, dtype: float64 Date
2011-06-28    3.89
2011-06-29    3.88
Name: Close, dtype: float64
20110630
Date
2011-06-29    3.88
2011-06-30    4.04
Name: Close, dtype: float64 Date
2011-09-27    3.76
2011-09-28    3.52
Name: Close, dtype: float64
20110930
Date
2011-09-29    3.40
2011-09-30    3.37
Name: Close, dtype: float64 Date
2011-12-28    3.83
2011-12-29    3.82
Name: Close, dtype: float64
20111231
Date
2011-12-30    3.91
Name: Close, dtype: float64 Date
2012-03-29    4.85
2012-03-30    4.74
Name: Close, dtype: float64
20120331
Date
2012-03-30    4.74
Name: Close, dtype: float64 Date
2012-06-28    6.52
2012-06-29    6.80
Name: Close, dtype: float64
20120630
Date
2012-06-29    6.8
Name: Close, dtype: float64 Date
2012-09-27    7.70
2012-09-28    7.46
Name: Close, dtype: float64
20120930
Date
2012-10-01    7.39
Name: Close, dtype: float64 Date
2012-12-31    4.5
Name: Close, dtype: float64
20121231
Date
2012-12-31    4.5
Name: Close, dtype: float64 Date
2013-04-01    6.71
Name: Close, dtype: float64
20130331
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20160930
error
20161231
error
20170331
error
20170630
error
20170930
error
20171231
error
20180331
error
20180630
error
20180930
error
20181231
error
20190331
error
20190630
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
Date
2009-12-30    27.700001
2009-12-31    27.610001
Name: Close, dtype: float64 Date
2010-03-30    38.900002
2010-03-31    38.959999
Name: Close, dtype: float64
20100331
Date
2010-03-30    38.900002
2010-03-31    38.959999
Name: Close, dtype: float64 Date
2010-06-28    35.330002
2010-06-29    33.810001
Name: Close, dtype: float64
20100630
Date
2010-06-29    33.810001
2010-06-30    33.860001
Name: Close, dtype: float64 Date
2010-09-27    40.580002
2010-09-28    40.529999
Name: Close, dtype: float64
20100930
Date
2010-09-29    40.77
2010-09-30    40.82
Name: Close, dtype: float64 Date
2010-12-28    45.840000
2010-12-29    47.049999
Name: Close, dtype: float64
20101231
Date
2010-12-30    46.349998
2010-12-31    47.099998
Name: Close, dtype: float64 Date
2011-03-30    42.220001
2011-03-31    42.549999
Name: Close, dtype: float64
20110331
Date
2011-03-30    42.220001
2011-03-31    42.549999
Name: Close, dtype: float64 Date
2011-06-28    43.310001
2011-06-29    44.060001
Name: Close, dtype: float64
20110630
Date
2011-06-29    44.060001
2011-06-30    44.259998
Name: Close, dtype: float64 Date
2011-09-27    32.439999
2011-09-28    31.209999
Name: Close, dtype: float64
20110930
Date
2011-09-29    31.610001
2011-09-30    30.370001
Name: Close, dtype: float64 Date
2011-12-28    34.650002
2011-12-29    35.119999
Name: Close, dtype: float64
20111231
Date
2011-12-30    34.869999
Name: Close, dtype: float64 Date
2012-03-29    41.259998
2012-03-30    41.240002
Name: Close, dtype: float64
20120331
Date
2012-03-30    41.240002
Name: Close, dtype: float64 Date
2012-06-28    35.099998
2012-06-29    35.639999
Name: Close, dtype: float64
20120630
Date
2012-06-29    35.639999
Name: Close, dtype: float64 Date
2012-09-27    39.900002
2012-09-28    39.389999
Name: Close, dtype: float64
20120930
Date
2012-10-01    39.209999
Name: Close, dtype: float64 Date
2012-12-31    38.639999
Name: Close, dtype: float64
20121231
Date
2012-12-31    38.639999
Name: Close, dtype: float64 Date
2013-04-01    43.119999
Name: Close, dtype: float64
20130331
Date
2013-04-01    43.119999
Name: Close, dtype: float64 Date
2013-07-01    47.580002
Name: Close, dtype: float64
20130630
Date
2013-07-01    47.580002
Name: Close, dtype: float64 Date
2013-09-30    48.77
Name: Close, dtype: float64
20130930
Date
2013-09-30    48.77
Name: Close, dtype: float64 Date
2013-12-30    51.639999
Name: Close, dtype: float64
20131231
Date
2013-12-30    51.639999
2013-12-31    52.130001
Name: Close, dtype: float64 Date
2014-03-31    49.02
Name: Close, dtype: float64
20140331
Date
2014-03-31    49.02
Name: Close, dtype: float64 Date
2014-06-30    45.759998
Name: Close, dtype: float64
20140630
Date
2014-06-30    45.759998
Name: Close, dtype: float64 Date
2014-09-29    46.09
Name: Close, dtype: float64
20140930
Date
2014-09-29    46.090000
2014-09-30    45.959999
Name: Close, dtype: float64 Date
2014-12-29    48.490002
Name: Close, dtype: float64
20141231
Date
2014-12-30    48.549999
2014-12-31    47.830002
Name: Close, dtype: float64 Date
2015-03-30    44.669998
2015-03-31    45.119999
Name: Close, dtype: float64
20150331
Date
2015-03-30    44.669998
2015-03-31    45.119999
Name: Close, dtype: float64 Date
2015-06-29    46.48
Name: Close, dtype: float64
20150630
Date
2015-06-29    46.480000
2015-06-30    46.490002
Name: Close, dtype: float64 Date
2015-09-28    39.740002
Name: Close, dtype: float64
20150930
Date
2015-09-29    39.610001
2015-09-30    40.029999
Name: Close, dtype: float64 Date
2015-12-28    40.439999
2015-12-29    40.560001
Name: Close, dtype: float64
20151231
Date
2015-12-30    39.980000
2015-12-31    39.700001
Name: Close, dtype: float64 Date
2016-03-29    31.790001
2016-03-30    32.029999
Name: Close, dtype: float64
20160331
Date
2016-03-30    32.029999
2016-03-31    31.030001
Name: Close, dtype: float64 Date
2016-06-28    29.41
2016-06-29    30.67
Name: Close, dtype: float64
20160630
Date
2016-06-29    30.67
2016-06-30    31.91
Name: Close, dtype: float64 Date
2016-09-27    35.480000
2016-09-28    36.470001
Name: Close, dtype: float64
20160930
Date
2016-09-29    35.750000
2016-09-30    36.299999
Name: Close, dtype: float64 Date
2016-12-28    43.160000
2016-12-29    42.700001
Name: Close, dtype: float64
20161231
Date
2016-12-30    42.68
Name: Close, dtype: float64 Date
2017-03-30    43.310001
2017-03-31    42.930000
Name: Close, dtype: float64
20170331

Date
2017-03-30    43.310001
2017-03-31    42.930000
Name: Close, dtype: float64 Date
2017-06-28    48.610001
2017-06-29    48.509998
Name: Close, dtype: float64
20170630
Date
2017-06-29    48.509998
2017-06-30    48.700001
Name: Close, dtype: float64 Date
2017-09-27    48.730000
2017-09-28    48.759998
Name: Close, dtype: float64
20170930
Date
2017-09-29    49.049999
Name: Close, dtype: float64 Date
2017-12-28    49.84
2017-12-29    49.23
Name: Close, dtype: float64
20171231
Date
2018-01-02    49.93
Name: Close, dtype: float64 Date
2018-04-02    51.139999
Name: Close, dtype: float64
20180331
Date
2018-04-02    51.139999
Name: Close, dtype: float64 Date
2018-07-02    50.709999
Name: Close, dtype: float64
20180630
Date
2018-06-29    50.41
Name: Close, dtype: float64 Date
2018-09-27    51.720001
2018-09-28    51.610001
Name: Close, dtype: float64
20180930
Date
2018-10-01    51.040001
Name: Close, dtype: float64 Date
2018-12-31    38.27
Name: Close, dtype: float64
20181231
Date
2018-12-31    38.27
Name: Close, dtype: float64 Date
2019-04-01    49.130001
Name: Close, dtype: float64
20190331
Date
2019-04-01    49.130001
Name: Close, dtype: float64 Date
2019-07-01    52.009998
Name: Close, dtype: float64
20190630
Date
2019-07-01    52.009998
Name: Close, dtype: float64 Date
2019-09-30    45.310001
Name: Close, dtype: float64
20190930
Date
2019-09-30    45.310001
Name: Close, dtype: float64 Date
2019-12-30    45.599998
Name: Close, dtype: float64
20191231
Date
2019-12-30    45.599998
2019-12-31    45.630001
Name: Close, dtype: float64 Date
2020-03-30    18.129999
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20090331
Date
2009-03-30    23.815001
2009-03-31    24.000000
Name: Close, dtype: float64 Date
2009-06-29    27.385
Name: Close, dtype: float64
20090630
Date
2009-06-29    27.385000
2009-06-30    26.995001
Name: Close, dtype: float64 Date
2009-09-28    28.594999
Name: Close, dtype: float64
20090930
Date
2009-09-29    28.360001
2009-09-30    28.129999
Name: Close, dtype: float64 Date
2009-12-28    29.660000
2009-12-29    29.655001
Name: Close, dtype: float64
20091231
Date
2009-12-30    29.730
2009-12-31    29.805
Name: Close, dtype: float64 Date
2010-03-30    28.240000
2010-03-31    27.780001
Name: Close, dtype: float64
20100331
Date
2010-03-30    28.240000
2010-03-31    27.780001
Name: Close, dtype: float64 Date
2010-06-28    34.590
2010-06-29    33.215
Name: Close, dtype: float64
20100630
Date
2010-06-29    33.215000
2010-06-30    33.205002
Name: Close, dtype: float64 Date
2010-09-27    33.305
2010-09-28    33.445
Name: Close, dtype: float64
20100930
Date
2010-09-29    33.685001
2010-09-30    33.875000
Name: Close, dtype: float64 Date
2010-12-28    41.709999
2010-12-29    42.084999
Name: Close, dtype: float64
20101231
Date
2010-12-30    41.990002
2010-12-31    42.040001
Name: Close, dtype: float64 Date
2011-03-30    49.424999
2011-03-31    49.330002
Name: Close, dtype: float64
20110331
Date
2011-03-30    49.424999
2011-03-31    49.330002
Name: Close, dtype: float64 Date
2011-06-28    51.174999
2011-06-29    51.150002
Name: Close, dtype: float64
20110630
Date
2011-06-29    51.150002
2011-06-30    51.625000
Name: Close, dtype: float64 Date
2011-09-27    53.84
2011-09-28    51.41
Name: Close, dtype: float64
20110930
Date
2011-09-29    51.779999
2011-09-30    51.299999
Name: Close, dtype: float64 Date
2011-12-28    63.200001
2011-12-29    63.939999
Name: Close, dtype: float64
20111231
Date
2011-12-30    63.73
Name: Close, dtype: float64 Date
2012-03-29    66.820000
2012-03-30    67.330002
Name: Close, dtype: float64
20120331
Date
2012-03-30    67.330002
Name: Close, dtype: float64 Date
2012-06-28    54.840000
2012-06-29    56.419998
Name: Close, dtype: float64
20120630
Date
2012-06-29    56.419998
Name: Close, dtype: float64 Date
2012-09-27    48.279999
2012-09-28    48.849998
Name: Close, dtype: float64
20120930
Date
2012-10-01    47.91
Name: Close, dtype: float64 Date
2012-12-31    55.009998
Name: Close, dtype: float64
20121231
Date
2012-12-31    55.009998
Name: Close, dtype: float64 Date
2013-04-01    58.459999
Name: Close, dtype: float64
20130331
Date
2013-04-01    58.459999
Name: Close, dtype: float64 Date
2013-07-01    51.009998
Name: Close, dtype: float64
20130630
Date
2013-07-01    51.009998
Name: Close, dtype: float64 Date
2013-09-30    58.66
Name: Close, dtype: float64
20130930
Date
2013-09-30    58.66
Name: Close, dtype: float64 Date
2013-12-30    59.310001
Name: Close, dtype: float64
20131231
Date
2013-12-30    59.310001
2013-12-31    59.959999
Name: Close, dtype: float64 Date
2014-03-31    54.790001
Name: Close, dtype: float64
20140331
Date
2014-03-31    54.790001
Name: Close, dtype: float64 Date
2014-06-30    64.25
Name: Close, dtype: float64
20140630
Date
2014-06-30    64.25
Name: Close, dtype: float64 Date
2014-09-29    54.279999
Name: Close, dtype: float64
20140930
Date
2014-09-29    54.279999
2014-09-30    53.919998
Name: Close, dtype: float64 Date
2014-12-29    50.93
Name: Close, dtype: float64
20141231
Date
2014-12-30    48.660000
2014-12-31    48.049999
Name: Close, dtype: float64 Date
2015-03-30    56.689999
2015-03-31    56.779999
Name: Close, dtype: float64
20150331
Date
2015-03-30    56.689999
2015-03-31    56.779999
Name: Close, dtype: float64 Date
2015-06-29    53.41
Name: Close, dtype: float64
20150630
Date
2015-06-29    53.410000
2015-06-30    53.740002
Name: Close, dtype: float64 Date
2015-09-28    43.970001
Name: Close, dtype: float64
20150930
Date
2015-09-29    43.290001
2015-09-30    43.970001
Name: Close, dtype: float64 Date
2015-12-28    42.139999
2015-12-29    42.970001
Name: Close, dtype: float64
20151231
Date
2015-12-30    42.279999
2015-12-31    41.650002
Name: Close, dtype: float64 Date
2016-03-29    49.070000
2016-03-30    49.700001
Name: Close, dtype: float64
20160331
Date
2016-03-30    49.700001
2016-03-31    49.340000
Name: Close, dtype: float64 Date
2016-06-28    50.189999
2016-06-29    51.169998
Name: Close, dtype: float64
20160630
Date
2016-06-29    51.169998
2016-06-30    52.110001
Name: Close, dtype: float64 Date
2016-09-27    46.430000
2016-09-28    47.450001
Name: Close, dtype: float64
20160930
Date
2016-09-29    47.700001
2016-09-30    47.980000
Name: Close, dtype: float64 Date
2016-12-28    55.630001
2016-12-29    55.740002
Name: Close, dtype: float64
20161231
Date
2016-12-30    55.650002
Name: Close, dtype: float64 Date
2017-03-30    55.049999
2017-03-31    55.619999
Name: Close, dtype: float64
20170331
Date
2017-03-30    55.049999
2017-03-31    55.619999
Name: Close, dtype: float64 Date
2017-06-28    54.700001
2017-06-29    54.540001
Name: Close, dtype: float64
20170630
Date
2017-06-29    54.540001
2017-06-30    55.830002
Name: Close, dtype: float64 Date
2017-09-27    56.099998
2017-09-28    56.509998
Name: Close, dtype: float64
20170930
Date
2017-09-29    56.700001
Name: Close, dtype: float64 Date
2017-12-28    53.610001
2017-12-29    54.200001
Name: Close, dtype: float64
20171231
Date
2018-01-02    53.360001
Name: Close, dtype: float64 Date
2018-04-02    47.84
Name: Close, dtype: float64
20180331

Date
2018-04-02    47.84
Name: Close, dtype: float64 Date
2018-07-02    55.419998
Name: Close, dtype: float64
20180630
Date
2018-06-29    55.549999
Name: Close, dtype: float64 Date
2018-09-27    70.910004
2018-09-28    71.580002
Name: Close, dtype: float64
20180930
Date
2018-10-01    70.889999
Name: Close, dtype: float64 Date
2018-12-31    49.349998
Name: Close, dtype: float64
20181231
Date
2018-12-31    49.349998
Name: Close, dtype: float64 Date
2019-04-01    72
Name: Close, dtype: int64
20190331
Date
2019-04-01    72
Name: Close, dtype: int64 Date
2019-07-01    70.529999
Name: Close, dtype: float64
20190630
Date
2019-07-01    70.529999
Name: Close, dtype: float64 Date
2019-09-30    77.199997
Name: Close, dtype: float64
20190930
Date
2019-09-30    77.199997
Name: Close, dtype: float64 Date
2019-12-30    86.050003
Name: Close, dtype: float64
20191231
Date
2019-12-30    86.050003
2019-12-31    85.750000
Name: Close, dtype: float64 Date
2020-03-30    49.990002
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20030331
Date
2003-03-31    15.715
Name: Close, dtype: float64 Date
2003-06-30    19
Name: Close, dtype: int64
20030630
Date
2003-06-30    19
Name: Close, dtype: int64 Date
2003-09-29    22.15
Name: Close, dtype: float64
20030930
Date
2003-09-29    22.150
2003-09-30    21.955
Name: Close, dtype: float64 Date
2003-12-29    24.5
Name: Close, dtype: float64
20031231
Date
2003-12-30    24.75
2003-12-31    24.50
Name: Close, dtype: float64 Date
2004-03-29    22.514999
2004-03-30    22.670000
Name: Close, dtype: float64
20040331
Date
2004-03-30    22.670000
2004-03-31    23.139999
Name: Close, dtype: float64 Date
2004-06-28    22.070000
2004-06-29    22.700001
Name: Close, dtype: float64
20040630
Date
2004-06-29    22.700001
2004-06-30    22.790001
Name: Close, dtype: float64 Date
2004-09-27    24.26
2004-09-28    24.75
Name: Close, dtype: float64
20040930
Date
2004-09-29    24.850000
2004-09-30    25.129999
Name: Close, dtype: float64 Date
2004-12-28    28.08
2004-12-29    27.91
Name: Close, dtype: float64
20041231
Date
2004-12-30    28.00
2004-12-31    28.25
Name: Close, dtype: float64 Date
2005-03-30    23.00
2005-03-31    22.91
Name: Close, dtype: float64
20050331
Date
2005-03-30    23.00
2005-03-31    22.91
Name: Close, dtype: float64 Date
2005-06-28    24.639999
2005-06-29    24.770000
Name: Close, dtype: float64
20050630
Date
2005-06-29    24.770000
2005-06-30    24.389999
Name: Close, dtype: float64 Date
2005-09-27    22.33
2005-09-28    22.07
Name: Close, dtype: float64
20050930
Date
2005-09-29    22.33
2005-09-30    22.60
Name: Close, dtype: float64 Date
2005-12-28    22.690001
2005-12-29    22.850000
Name: Close, dtype: float64
20051231
Date
2005-12-30    22.549999
Name: Close, dtype: float64 Date
2006-03-30    22.10
2006-03-31    22.33
Name: Close, dtype: float64
20060331
Date
2006-03-30    22.10
2006-03-31    22.33
Name: Close, dtype: float64 Date
2006-06-28    19.660000
2006-06-29    20.690001
Name: Close, dtype: float64
20060630
Date
2006-06-29    20.690001
2006-06-30    20.170000
Name: Close, dtype: float64 Date
2006-09-27    22.73
2006-09-28    22.74
Name: Close, dtype: float64
20060930
Date
2006-09-29    22.16
Name: Close, dtype: float64 Date
2006-12-28    23.610001
2006-12-29    23.000000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    20.92
Name: Close, dtype: float64 Date
2007-06-28    20.35
2007-06-29    20.02
Name: Close, dtype: float64
20070630
Date
2007-06-29    20.02
Name: Close, dtype: float64 Date
2007-09-27    19.91
2007-09-28    19.52
Name: Close, dtype: float64
20070930
Date
2007-10-01    20.049999
Name: Close, dtype: float64 Date
2007-12-31    19.870001
Name: Close, dtype: float64
20071231
Date
2007-12-31    19.870001
Name: Close, dtype: float64 Date
2008-03-31    24.559999
Name: Close, dtype: float64
20080331
Date
2008-03-31    24.559999
Name: Close, dtype: float64 Date
2008-06-30    20.620001
Name: Close, dtype: float64
20080630
Date
2008-06-30    20.620001
Name: Close, dtype: float64 Date
2008-09-29    23.85
Name: Close, dtype: float64
20080930
Date
2008-09-29    23.85
2008-09-30    25.15
Name: Close, dtype: float64 Date
2008-12-29    22.82
Name: Close, dtype: float64
20081231
Date
2008-12-30    23.700001
2008-12-31    24.389999
Name: Close, dtype: float64 Date
2009-03-30    16.370001
2009-03-31    16.750000
Name: Close, dtype: float64
20090331
Date
2009-03-30    16.370001
2009-03-31    16.750000
Name: Close, dtype: float64 Date
2009-06-29    14.93
Name: Close, dtype: float64
20090630
Date
2009-06-29    14.93
2009-06-30    14.56
Name: Close, dtype: float64 Date
2009-09-28    18.780001
Name: Close, dtype: float64
20090930
Date
2009-09-29    18.67
2009-09-30    18.27
Name: Close, dtype: float64 Date
2009-12-28    19.700001
2009-12-29    19.830000
Name: Close, dtype: float64
20091231
Date
2009-12-30    19.660000
2009-12-31    19.309999
Name: Close, dtype: float64 Date
2010-03-30    23.120001
2010-03-31    22.780001
Name: Close, dtype: float64
20100331
Date
2010-03-30    23.120001
2010-03-31    22.780001
Name: Close, dtype: float64 Date
2010-06-28    22.910000
2010-06-29    22.290001
Name: Close, dtype: float64
20100630
Date
2010-06-29    22.290001
2010-06-30    22.030001
Name: Close, dtype: float64 Date
2010-09-27    22.840000
2010-09-28    23.190001
Name: Close, dtype: float64
20100930
Date
2010-09-29    23.16
2010-09-30    23.01
Name: Close, dtype: float64 Date
2010-12-28    28.200001
2010-12-29    27.930000
Name: Close, dtype: float64
20101231
Date
2010-12-30    27.91
2010-12-31    27.77
Name: Close, dtype: float64 Date
2011-03-30    24.16
2011-03-31    24.27
Name: Close, dtype: float64
20110331
Date
2011-03-30    24.16
2011-03-31    24.27
Name: Close, dtype: float64 Date
2011-06-28    24.700001
2011-06-29    24.730000
Name: Close, dtype: float64
20110630
Date
2011-06-29    24.730000
2011-06-30    24.790001
Name: Close, dtype: float64 Date
2011-09-27    23.40
2011-09-28    22.52
Name: Close, dtype: float64
20110930
Date
2011-09-29    23.240000
2011-09-30    22.690001
Name: Close, dtype: float64 Date
2011-12-28    27.340000
2011-12-29    28.219999
Name: Close, dtype: float64
20111231
Date
2011-12-30    27.799999
Name: Close, dtype: float64 Date
2012-03-29    28.980000
2012-03-30    28.780001
Name: Close, dtype: float64
20120331
Date
2012-03-30    28.780001
Name: Close, dtype: float64 Date
2012-06-28    26.580000
2012-06-29    27.120001
Name: Close, dtype: float64
20120630
Date
2012-06-29    27.120001
Name: Close, dtype: float64 Date
2012-09-27    28.620001
2012-09-28    28.190001
Name: Close, dtype: float64
20120930
Date
2012-10-01    28.190001
Name: Close, dtype: float64 Date
2012-12-31    27.360001
Name: Close, dtype: float64
20121231
Date
2012-12-31    27.360001
Name: Close, dtype: float64 Date
2013-04-01    29.200001
Name: Close, dtype: float64
20130331
Date
2013-04-01    29.200001
Name: Close, dtype: float64 Date
2013-07-01    31.120001
Name: Close, dtype: float64
20130630
Date
2013-07-01    31.120001
Name: Close, dtype: float64 Date
2013-09-30    34.119999
Name: Close, dtype: float64
20130930
Date
2013-09-30    34.119999
Name: Close, dtype: float64 Date
2013-12-30    39.689999
Name: Close, dtype: float64
20131231
Date
2013-12-30    39.689999
2013-12-31    39.680000
Name: Close, dtype: float64 Date
2014-03-31    39.02
Name: Close, dtype: float64
20140331
Date
2014-03-31    39.02
Name: Close, dtype: float64 Date
2014-06-30    36.200001
Name: Close, dtype: float64
20140630
Date
2014-06-30    36.200001
Name: Close, dtype: float64 Date
2014-09-29    33.869999
Name: Close, dtype: float64
20140930
Date
2014-09-29    33.869999
2014-09-30    33.590000
Name: Close, dtype: float64 Date
2014-12-29    38.799999
Name: Close, dtype: float64
20141231
Date
2014-12-30    38.709999
2014-12-31    38.130001
Name: Close, dtype: float64 Date
2015-03-30    35.430000
2015-03-31    35.389999
Name: Close, dtype: float64
20150331

Date
2015-03-30    35.430000
2015-03-31    35.389999
Name: Close, dtype: float64 Date
2015-06-29    37.669998
Name: Close, dtype: float64
20150630
Date
2015-06-29    37.669998
2015-06-30    37.770000
Name: Close, dtype: float64 Date
2015-09-28    37.09
Name: Close, dtype: float64
20150930
Date
2015-09-29    36.910000
2015-09-30    37.169998
Name: Close, dtype: float64 Date
2015-12-28    40.470001
2015-12-29    40.980000
Name: Close, dtype: float64
20151231
Date
2015-12-30    40.570000
2015-12-31    39.939999
Name: Close, dtype: float64 Date
2016-03-29    38.389999
2016-03-30    38.630001
Name: Close, dtype: float64
20160331
Date
2016-03-30    38.630001
2016-03-31    38.209999
Name: Close, dtype: float64 Date
2016-06-28    39.230000
2016-06-29    39.990002
Name: Close, dtype: float64
20160630
Date
2016-06-29    39.990002
2016-06-30    41.090000
Name: Close, dtype: float64 Date
2016-09-27    47.410000
2016-09-28    47.970001
Name: Close, dtype: float64
20160930
Date
2016-09-29    47.369999
2016-09-30    48.110001
Name: Close, dtype: float64 Date
2016-12-28    61.730000
2016-12-29    61.689999
Name: Close, dtype: float64
20161231
Date
2016-12-30    61.790001
Name: Close, dtype: float64 Date
2017-03-30    55.549999
2017-03-31    54.980000
Name: Close, dtype: float64
20170331
Date
2017-03-30    55.549999
2017-03-31    54.980000
Name: Close, dtype: float64 Date
2017-06-28    55.639999
2017-06-29    56.529999
Name: Close, dtype: float64
20170630
Date
2017-06-29    56.529999
2017-06-30    55.770000
Name: Close, dtype: float64 Date
2017-09-27    54.529999
2017-09-28    54.820000
Name: Close, dtype: float64
20170930
Date
2017-09-29    55.25
Name: Close, dtype: float64 Date
2017-12-28    54.380001
2017-12-29    53.750000
Name: Close, dtype: float64
20171231
Date
2018-01-02    53.869999
Name: Close, dtype: float64 Date
2018-04-02    52.610001
Name: Close, dtype: float64
20180331
Date
2018-04-02    52.610001
Name: Close, dtype: float64 Date
2018-07-02    60.040001
Name: Close, dtype: float64
20180630
Date
2018-06-29    59.07
Name: Close, dtype: float64 Date
2018-09-27    60.630001
2018-09-28    61.070000
Name: Close, dtype: float64
20180930
Date
2018-10-01    60.099998
Name: Close, dtype: float64 Date
2018-12-31    58.299999
Name: Close, dtype: float64
20181231
Date
2018-12-31    58.299999
Name: Close, dtype: float64 Date
2019-04-01    61.34
Name: Close, dtype: float64
20190331
Date
2019-04-01    61.34
Name: Close, dtype: float64 Date
2019-07-01    65.629997
Name: Close, dtype: float64
20190630
Date
2019-07-01    65.629997
Name: Close, dtype: float64 Date
2019-09-30    61.689999
Name: Close, dtype: float64
20190930
Date
2019-09-30    61.689999
Name: Close, dtype: float64 Date
2019-12-30    71.07
Name: Close, dtype: float64
20191231
Date
2019-12-30    71.070000
2019-12-31    70.940002
Name: Close, dtype: float64 Date
2020-03-30    58.669998
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20030331
Date
2003-03-31    12.2
Name: Close, dtype: float64 Date
2003-06-30    17.59
Name: Close, dtype: float64
20030630
Date
2003-06-30    17.59
Name: Close, dtype: float64 Date
2003-09-29    16.15
Name: Close, dtype: float64
20030930
Date
2003-09-29    16.15
2003-09-30    15.87
Name: Close, dtype: float64 Date
2003-12-29    21.52
Name: Close, dtype: float64
20031231
Date
2003-12-30    21.530001
2003-12-31    21.379999
Name: Close, dtype: float64 Date
2004-03-29    19.83
2004-03-30    20.40
Name: Close, dtype: float64
20040331
Date
2004-03-30    20.40
2004-03-31    20.15
Name: Close, dtype: float64 Date
2004-06-28    23.049999
2004-06-29    23.330000
Name: Close, dtype: float64
20040630
Date
2004-06-29    23.33
2004-06-30    23.00
Name: Close, dtype: float64 Date
2004-09-27    19.719999
2004-09-28    19.799999
Name: Close, dtype: float64
20040930
Date
2004-09-29    20.00
2004-09-30    20.17
Name: Close, dtype: float64 Date
2004-12-28    22.110001
2004-12-29    21.870001
Name: Close, dtype: float64
20041231
Date
2004-12-30    21.760000
2004-12-31    21.549999
Name: Close, dtype: float64 Date
2005-03-30    18.400000
2005-03-31    18.360001
Name: Close, dtype: float64
20050331
Date
2005-03-30    18.400000
2005-03-31    18.360001
Name: Close, dtype: float64 Date
2005-06-28    18.799999
2005-06-29    18.959999
Name: Close, dtype: float64
20050630
Date
2005-06-29    18.959999
2005-06-30    18.570000
Name: Close, dtype: float64 Date
2005-09-27    15.91
2005-09-28    15.46
Name: Close, dtype: float64
20050930
Date
2005-09-29    15.30
2005-09-30    15.27
Name: Close, dtype: float64 Date
2005-12-28    15.50
2005-12-29    15.55
Name: Close, dtype: float64
20051231
Date
2005-12-30    15.32
Name: Close, dtype: float64 Date
2006-03-30    14.30
2006-03-31    14.34
Name: Close, dtype: float64
20060331
Date
2006-03-30    14.30
2006-03-31    14.34
Name: Close, dtype: float64 Date
2006-06-28    10.86
2006-06-29    11.14
Name: Close, dtype: float64
20060630
Date
2006-06-29    11.14
2006-06-30    11.14
Name: Close, dtype: float64 Date
2006-09-27    10.16
2006-09-28    10.04
Name: Close, dtype: float64
20060930
Date
2006-09-29    10.06
Name: Close, dtype: float64 Date
2006-12-28    14.35
2006-12-29    14.30
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    18.290001
Name: Close, dtype: float64 Date
2007-06-28    27.309999
2007-06-29    27.620001
Name: Close, dtype: float64
20070630
Date
2007-06-29    27.620001
Name: Close, dtype: float64 Date
2007-09-27    24.860001
2007-09-28    24.400000
Name: Close, dtype: float64
20070930
Date
2007-10-01    25.209999
Name: Close, dtype: float64 Date
2007-12-31    16.58
Name: Close, dtype: float64
20071231
Date
2007-12-31    16.58
Name: Close, dtype: float64 Date
2008-03-31    14.97
Name: Close, dtype: float64
20080331
Date
2008-03-31    14.97
Name: Close, dtype: float64 Date
2008-06-30    7.84
Name: Close, dtype: float64
20080630
Date
2008-06-30    7.84
Name: Close, dtype: float64 Date
2008-09-29    9.29
Name: Close, dtype: float64
20080930
Date
2008-09-29    9.29
2008-09-30    8.60
Name: Close, dtype: float64 Date
2008-12-29    5.44
Name: Close, dtype: float64
20081231
Date
2008-12-30    5.83
2008-12-31    6.16
Name: Close, dtype: float64 Date
2009-03-30    3.95
2009-03-31    4.04
Name: Close, dtype: float64
20090331
Date
2009-03-30    3.95
2009-03-31    4.04
Name: Close, dtype: float64 Date
2009-06-29    9.39
Name: Close, dtype: float64
20090630
Date
2009-06-29    9.39
2009-06-30    9.92
Name: Close, dtype: float64 Date
2009-09-28    17.559999
Name: Close, dtype: float64
20090930
Date
2009-09-29    17.42
2009-09-30    17.58
Name: Close, dtype: float64 Date
2009-12-28    20.290001
2009-12-29    20.010000
Name: Close, dtype: float64
20091231
Date
2009-12-30    20.299999
2009-12-31    20.049999
Name: Close, dtype: float64 Date
2010-03-30    20.02
2010-03-31    19.02
Name: Close, dtype: float64
20100331
Date
2010-03-30    20.02
2010-03-31    19.02
Name: Close, dtype: float64 Date
2010-06-28    20.049999
2010-06-29    19.760000
Name: Close, dtype: float64
20100630
Date
2010-06-29    19.76
2010-06-30    19.50
Name: Close, dtype: float64 Date
2010-09-27    20.190001
2010-09-28    20.000000
Name: Close, dtype: float64
20100930
Date
2010-09-29    19.700001
2010-09-30    19.629999
Name: Close, dtype: float64 Date
2010-12-28    23.809999
2010-12-29    23.799999
Name: Close, dtype: float64
20101231
Date
2010-12-30    23.75
2010-12-31    23.58
Name: Close, dtype: float64 Date
2011-03-30    25.99
2011-03-31    25.75
Name: Close, dtype: float64
20110331
Date
2011-03-30    25.99
2011-03-31    25.75
Name: Close, dtype: float64 Date
2011-06-28    19.740000
2011-06-29    19.610001
Name: Close, dtype: float64
20110630
Date
2011-06-29    19.610001
2011-06-30    19.790001
Name: Close, dtype: float64 Date
2011-09-27    10.64
2011-09-28    10.21
Name: Close, dtype: float64
20110930
Date
2011-09-29    10.52
2011-09-30    10.89
Name: Close, dtype: float64 Date
2011-12-28    13.75
2011-12-29    13.85
Name: Close, dtype: float64
20111231

Date
2011-12-30    14.01
Name: Close, dtype: float64 Date
2012-03-29    15.31
2012-03-30    15.22
Name: Close, dtype: float64
20120331
Date
2012-03-30    15.22
Name: Close, dtype: float64 Date
2012-06-28    17.549999
2012-06-29    17.540001
Name: Close, dtype: float64
20120630
Date
2012-06-29    17.540001
Name: Close, dtype: float64 Date
2012-09-27    19.440001
2012-09-28    19.180000
Name: Close, dtype: float64
20120930
Date
2012-10-01    19.5
Name: Close, dtype: float64 Date
2012-12-31    25.360001
Name: Close, dtype: float64
20121231
Date
2012-12-31    25.360001
Name: Close, dtype: float64 Date
2013-04-01    25.450001
Name: Close, dtype: float64
20130331
Date
2013-04-01    25.450001
Name: Close, dtype: float64 Date
2013-07-01    33.27
Name: Close, dtype: float64
20130630
Date
2013-07-01    33.27
Name: Close, dtype: float64 Date
2013-09-30    30.799999
Name: Close, dtype: float64
20130930
Date
2013-09-30    30.799999
Name: Close, dtype: float64 Date
2013-12-30    24.200001
Name: Close, dtype: float64
20131231
Date
2013-12-30    24.200001
2013-12-31    24.040001
Name: Close, dtype: float64 Date
2014-03-31    24.299999
Name: Close, dtype: float64
20140331
Date
2014-03-31    24.299999
Name: Close, dtype: float64 Date
2014-06-30    30
Name: Close, dtype: int64
20140630
Date
2014-06-30    30
Name: Close, dtype: int64 Date
2014-09-29    28.98
Name: Close, dtype: float64
20140930
Date
2014-09-29    28.980000
2014-09-30    28.700001
Name: Close, dtype: float64 Date
2014-12-29    34.98
Name: Close, dtype: float64
20141231
Date
2014-12-30    34.849998
2014-12-31    34.650002
Name: Close, dtype: float64 Date
2015-03-30    42.080002
2015-03-31    42.840000
Name: Close, dtype: float64
20150331
Date
2015-03-30    42.080002
2015-03-31    42.840000
Name: Close, dtype: float64 Date
2015-06-29    33.790001
Name: Close, dtype: float64
20150630
Date
2015-06-29    33.790001
2015-06-30    33.830002
Name: Close, dtype: float64 Date
2015-09-28    38.580002
Name: Close, dtype: float64
20150930
Date
2015-09-29    38.180000
2015-09-30    39.509998
Name: Close, dtype: float64 Date
2015-12-28    38.43
2015-12-29    38.91
Name: Close, dtype: float64
20151231
Date
2015-12-30    38.669998
2015-12-31    37.849998
Name: Close, dtype: float64 Date
2016-03-29    36.660000
2016-03-30    36.599998
Name: Close, dtype: float64
20160331
Date
2016-03-30    36.599998
2016-03-31    37.020000
Name: Close, dtype: float64 Date
2016-06-28    29.969999
2016-06-29    29.530001
Name: Close, dtype: float64
20160630
Date
2016-06-29    29.530001
2016-06-30    29.820000
Name: Close, dtype: float64 Date
2016-09-27    36.720001
2016-09-28    37.820000
Name: Close, dtype: float64
20160930
Date
2016-09-29    37.139999
2016-09-30    38.020000
Name: Close, dtype: float64 Date
2016-12-28    39.000000
2016-12-29    38.799999
Name: Close, dtype: float64
20161231
Date
2016-12-30    38.849998
Name: Close, dtype: float64 Date
2017-03-30    43.849998
2017-03-31    44.349998
Name: Close, dtype: float64
20170331
Date
2017-03-30    43.849998
2017-03-31    44.349998
Name: Close, dtype: float64 Date
2017-06-28    35.849998
2017-06-29    36.150002
Name: Close, dtype: float64
20170630
Date
2017-06-29    36.150002
2017-06-30    36.099998
Name: Close, dtype: float64 Date
2017-09-27    37.450001
2017-09-28    37.549999
Name: Close, dtype: float64
20170930
Date
2017-09-29    37.400002
Name: Close, dtype: float64 Date
2017-12-28    35.799999
2017-12-29    35.349998
Name: Close, dtype: float64
20171231
Date
2018-01-02    35.450001
Name: Close, dtype: float64 Date
2018-04-02    28.4
Name: Close, dtype: float64
20180331
Date
2018-04-02    28.4
Name: Close, dtype: float64 Date
2018-07-02    26.25
Name: Close, dtype: float64
20180630
Date
2018-06-29    26.299999
Name: Close, dtype: float64 Date
2018-09-27    28.799999
2018-09-28    28.299999
Name: Close, dtype: float64
20180930
Date
2018-10-01    28.33
Name: Close, dtype: float64 Date
2018-12-31    32.330002
Name: Close, dtype: float64
20181231
Date
2018-12-31    32.330002
Name: Close, dtype: float64 Date
2019-04-01    30.620001
Name: Close, dtype: float64
20190331
Date
2019-04-01    30.620001
Name: Close, dtype: float64 Date
2019-07-01    31.6
Name: Close, dtype: float64
20190630
Date
2019-07-01    31.6
Name: Close, dtype: float64 Date
2019-09-30    26.120001
2019-10-01    25.809999
Name: Close, dtype: float64
20190930
Date
2019-09-30    26.120001
Name: Close, dtype: float64 Date
2019-12-30    29.08
Name: Close, dtype: float64
20191231
Date
2019-12-30    29.08
2019-12-31    28.75
Name: Close, dtype: float64 Date
2020-03-30    16.440001
Name: Close, dtype: float64
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20030331
Date
2003-03-31    18.970699
Name: Close, dtype: float64 Date
2003-06-30    19.654396
Name: Close, dtype: float64
20030630
Date
2003-06-30    19.654396
Name: Close, dtype: float64 Date
2003-09-29    22.652142
Name: Close, dtype: float64
20030930
Date
2003-09-29    22.652142
2003-09-30    21.840721
Name: Close, dtype: float64 Date
2003-12-29    26.363636
Name: Close, dtype: float64
20031231
Date
2003-12-30    25.743801
2003-12-31    24.958677
Name: Close, dtype: float64 Date
2004-03-29    26.107437
2004-03-30    27.190083
Name: Close, dtype: float64
20040331
Date
2004-03-30    27.190083
2004-03-31    27.272728
Name: Close, dtype: float64 Date
2004-06-28    25.157024
2004-06-29    25.826447
Name: Close, dtype: float64
20040630
Date
2004-06-29    25.826447
2004-06-30    25.206612
Name: Close, dtype: float64 Date
2004-09-27    25.628099
2004-09-28    25.950413
Name: Close, dtype: float64
20040930
Date
2004-09-29    25.909090
2004-09-30    25.685951
Name: Close, dtype: float64 Date
2004-12-28    29.818182
2004-12-29    30.072727
Name: Close, dtype: float64
20041231
Date
2004-12-30    29.772728
2004-12-31    29.418182
Name: Close, dtype: float64 Date
2005-03-30    26.290909
2005-03-31    26.190908
Name: Close, dtype: float64
20050331
Date
2005-03-30    26.290909
2005-03-31    26.190908
Name: Close, dtype: float64 Date
2005-06-28    30.527273
2005-06-29    30.063637
Name: Close, dtype: float64
20050630
Date
2005-06-29    30.063637
2005-06-30    29.745455
Name: Close, dtype: float64 Date
2005-09-27    29.381819
2005-09-28    28.254545
Name: Close, dtype: float64
20050930
Date
2005-09-29    29.527273
2005-09-30    29.254545
Name: Close, dtype: float64 Date
2005-12-28    29.600000
2005-12-29    28.954546
Name: Close, dtype: float64
20051231
Date
2005-12-30    27.954546
Name: Close, dtype: float64 Date
2006-03-30    30.381819
2006-03-31    30.818182
Name: Close, dtype: float64
20060331
Date
2006-03-30    30.381819
2006-03-31    30.818182
Name: Close, dtype: float64 Date
2006-06-28    30.318182
2006-06-29    31.809092
Name: Close, dtype: float64
20060630
Date
2006-06-29    31.809092
2006-06-30    31.754545
Name: Close, dtype: float64 Date
2006-09-27    34.836365
2006-09-28    34.900002
Name: Close, dtype: float64
20060930
Date
2006-09-29    34.227272
Name: Close, dtype: float64 Date
2006-12-28    38.272728
2006-12-29    37.754547
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    32.936363
Name: Close, dtype: float64 Date
2007-06-28    29.981817
2007-06-29    29.363636
Name: Close, dtype: float64
20070630
Date
2007-06-29    29.363636
Name: Close, dtype: float64 Date
2007-09-27    28.263636
2007-09-28    27.309092
Name: Close, dtype: float64
20070930
Date
2007-10-01    29.245455
Name: Close, dtype: float64 Date
2007-12-31    25.027273
Name: Close, dtype: float64
20071231
Date
2007-12-31    25.027273
Name: Close, dtype: float64 Date
2008-03-31    26.636364
Name: Close, dtype: float64
20080331
Date
2008-03-31    26.636364
Name: Close, dtype: float64 Date
2008-06-30    23.872726
Name: Close, dtype: float64
20080630
Date
2008-06-30    23.872726
Name: Close, dtype: float64 Date
2008-09-29    30.645454
Name: Close, dtype: float64
20080930
Date
2008-09-29    30.645454
2008-09-30    31.272728
Name: Close, dtype: float64 Date
2008-12-29    30.4
Name: Close, dtype: float64
20081231

Date
2008-12-30    31.936363
2008-12-31    33.409092
Name: Close, dtype: float64 Date
2009-03-30    23.718182
2009-03-31    24.318182
Name: Close, dtype: float64
20090331
Date
2009-03-30    23.718182
2009-03-31    24.318182
Name: Close, dtype: float64 Date
2009-06-29    24.49091
Name: Close, dtype: float64
20090630
Date
2009-06-29    24.490910
2009-06-30    24.318182
Name: Close, dtype: float64 Date
2009-09-28    24.427273
Name: Close, dtype: float64
20090930
Date
2009-09-29    24.054546
2009-09-30    23.790909
Name: Close, dtype: float64 Date
2009-12-28    22.354546
2009-12-29    22.409090
Name: Close, dtype: float64
20091231
Date
2009-12-30    22.454546
2009-12-31    22.227272
Name: Close, dtype: float64 Date
2010-03-30    24.799999
2010-03-31    24.609091
Name: Close, dtype: float64
20100331
Date
2010-03-30    24.799999
2010-03-31    24.609091
Name: Close, dtype: float64 Date
2010-06-28    23.090910
2010-06-29    22.963636
Name: Close, dtype: float64
20100630
Date
2010-06-29    22.963636
2010-06-30    22.818182
Name: Close, dtype: float64 Date
2010-09-27    24.154545
2010-09-28    24.554546
Name: Close, dtype: float64
20100930
Date
2010-09-29    24.745455
2010-09-30    24.627274
Name: Close, dtype: float64 Date
2010-12-28    27.045454
2010-12-29    26.854546
Name: Close, dtype: float64
20101231
Date
2010-12-30    26.618181
2010-12-31    26.327272
Name: Close, dtype: float64 Date
2011-03-30    25.181818
2011-03-31    25.154545
Name: Close, dtype: float64
20110331
Date
2011-03-30    25.181818
2011-03-31    25.154545
Name: Close, dtype: float64 Date
2011-06-28    25.090910
2011-06-29    25.072727
Name: Close, dtype: float64
20110630
Date
2011-06-29    25.072727
2011-06-30    25.200001
Name: Close, dtype: float64 Date
2011-09-27    21.463636
2011-09-28    20.581818
Name: Close, dtype: float64
20110930
Date
2011-09-29    21.790909
2011-09-30    21.172728
Name: Close, dtype: float64 Date
2011-12-28    26.690908
2011-12-29    27.181818
Name: Close, dtype: float64
20111231
Date
2011-12-30    26.745455
Name: Close, dtype: float64 Date
2012-03-29    29.299999
2012-03-30    29.154545
Name: Close, dtype: float64
20120331
Date
2012-03-30    29.154545
Name: Close, dtype: float64 Date
2012-06-28    29.945454
2012-06-29    30.445454
Name: Close, dtype: float64
20120630
Date
2012-06-29    30.445454
Name: Close, dtype: float64 Date
2012-09-27    32.736362
2012-09-28    32.309090
Name: Close, dtype: float64
20120930
Date
2012-10-01    32.436363
Name: Close, dtype: float64 Date
2012-12-31    29.799999
Name: Close, dtype: float64
20121231
Date
2012-12-31    29.799999
Name: Close, dtype: float64 Date
2013-04-01    30.4
Name: Close, dtype: float64
20130331
Date
2013-04-01    30.4
Name: Close, dtype: float64 Date
2013-07-01    33.154545
Name: Close, dtype: float64
20130630
Date
2013-07-01    33.154545
Name: Close, dtype: float64 Date
2013-09-30    36.900002
Name: Close, dtype: float64
20130930
Date
2013-09-30    36.900002
Name: Close, dtype: float64 Date
2013-12-30    40.972729
Name: Close, dtype: float64
20131231
Date
2013-12-30    40.972729
2013-12-31    41.054546
Name: Close, dtype: float64 Date
2014-03-31    37.709091
Name: Close, dtype: float64
20140331
Date
2014-03-31    37.709091
Name: Close, dtype: float64 Date
2014-06-30    34.220001
Name: Close, dtype: float64
20140630
Date
2014-06-30    34.220001
Name: Close, dtype: float64 Date
2014-09-29    34.200001
Name: Close, dtype: float64
20140930
Date
2014-09-29    34.200001
2014-09-30    33.630001
Name: Close, dtype: float64 Date
2014-12-29    36.970001
Name: Close, dtype: float64
20141231
Date
2014-12-30    36.959999
2014-12-31    36.610001
Name: Close, dtype: float64 Date
2015-03-30    33.470001
2015-03-31    33.160000
Name: Close, dtype: float64
20150331
Date
2015-03-30    33.470001
2015-03-31    33.160000
Name: Close, dtype: float64 Date
2015-06-29    34.740002
Name: Close, dtype: float64
20150630
Date
2015-06-29    34.740002
2015-06-30    34.869999
Name: Close, dtype: float64 Date
2015-09-28    34.970001
Name: Close, dtype: float64
20150930
Date
2015-09-29    34.959999
2015-09-30    35.509998
Name: Close, dtype: float64 Date
2015-12-28    34.959999
2015-12-29    35.419998
Name: Close, dtype: float64
20151231
Date
2015-12-30    35.419998
2015-12-31    34.959999
Name: Close, dtype: float64 Date
2016-03-29    35.400002
2016-03-30    35.689999
Name: Close, dtype: float64
20160331
Date
2016-03-30    35.689999
2016-03-31    35.320000
Name: Close, dtype: float64 Date
2016-06-28    33.330002
2016-06-29    33.900002
Name: Close, dtype: float64
20160630
Date
2016-06-29    33.900002
2016-06-30    34.660000
Name: Close, dtype: float64 Date
2016-09-27    36.779999
2016-09-28    36.869999
Name: Close, dtype: float64
20160930
Date
2016-09-29    36.220001
2016-09-30    37.110001
Name: Close, dtype: float64 Date
2016-12-28    49.500000
2016-12-29    49.450001
Name: Close, dtype: float64
20161231
Date
2016-12-30    49.599998
Name: Close, dtype: float64 Date
2017-03-30    46.549999
2017-03-31    45.750000
Name: Close, dtype: float64
20170331
Date
2017-03-30    46.549999
2017-03-31    45.750000
Name: Close, dtype: float64 Date
2017-06-28    43.650002
2017-06-29    44.049999
Name: Close, dtype: float64
20170630
Date
2017-06-29    44.049999
2017-06-30    43.750000
Name: Close, dtype: float64 Date
2017-09-27    46.099998
2017-09-28    46.599998
Name: Close, dtype: float64
20170930
Date
2017-09-29    46.5
Name: Close, dtype: float64 Date
2017-12-28    47.950001
2017-12-29    47.099998
Name: Close, dtype: float64
20171231
Date
2018-01-02    47.700001
Name: Close, dtype: float64 Date
2018-04-02    44.599998
Name: Close, dtype: float64
20180331
Date
2018-04-02    44.599998
Name: Close, dtype: float64 Date
2018-07-02    51.299999
Name: Close, dtype: float64
20180630
Date
2018-06-29    49.950001
Name: Close, dtype: float64 Date
2018-09-27    45.849998
2018-09-28    46.349998
Name: Close, dtype: float64
20180930
Date
2018-10-01    45.41
Name: Close, dtype: float64 Date
2018-12-31    39.610001
Name: Close, dtype: float64
20181231
Date
2018-12-31    39.610001
Name: Close, dtype: float64 Date
2019-04-01    41.57
Name: Close, dtype: float64
20190331
Date
2019-04-01    41.57
Name: Close, dtype: float64 Date
2019-07-01    42.139999
Name: Close, dtype: float64
20190630
Date
2019-07-01    42.139999
Name: Close, dtype: float64 Date
2019-09-30    42.580002
Name: Close, dtype: float64
20190930
Date
2019-09-30    42.580002
Name: Close, dtype: float64 Date
2019-12-30    46.669998
Name: Close, dtype: float64
20191231
Date
2019-12-30    46.669998
2019-12-31    46.639999
Name: Close, dtype: float64 Date
2020-03-30    31.950001
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20161231
error
20170331
error
20170630
error
20170930
error
20191231
Date
2019-12-30    10.4
2019-12-31    10.4
Name: Close, dtype: float64 Date
2020-03-30    10
Name: Close, dtype: int64
20120930
Date
2012-10-01    26
Name: Close, dtype: int64 Date
2012-12-31    20
Name: Close, dtype: int64
20121231
Date
2012-12-31    20
Name: Close, dtype: int64 Date
2013-04-01    20
Name: Close, dtype: int64
20130331
Date
2013-04-01    20
Name: Close, dtype: int64 Date
2013-07-01    17.5
Name: Close, dtype: float64
20130630
Date
2013-07-01    17.5
Name: Close, dtype: float64 Date
2013-09-30    13.9
Name: Close, dtype: float64
20130930
Date
2013-09-30    13.9
Name: Close, dtype: float64 Date
2013-12-30    11.4
Name: Close, dtype: float64
20131231
Date
2013-12-30    11.4
2013-12-31    10.7
Name: Close, dtype: float64 Date
2014-03-31    15
Name: Close, dtype: int64
20140331
Date
2014-03-31    15
Name: Close, dtype: int64 Date
2014-06-30    10.7
Name: Close, dtype: float64
20140630
Date
2014-06-30    10.7
Name: Close, dtype: float64 Date
2014-09-29    10.1
Name: Close, dtype: float64
20140930

Date
2014-09-29    10.1
2014-09-30     9.6
Name: Close, dtype: float64 Date
2014-12-29    5.8
Name: Close, dtype: float64
20141231
Date
2014-12-30    5.3
2014-12-31    5.1
Name: Close, dtype: float64 Date
2015-03-30    5.2
2015-03-31    4.9
Name: Close, dtype: float64
20150331
Date
2015-03-30    5.2
2015-03-31    4.9
Name: Close, dtype: float64 Date
2015-06-29    5.2
Name: Close, dtype: float64
20150630
Date
2015-06-29    5.2
2015-06-30    5.5
Name: Close, dtype: float64 Date
2015-09-28    4
Name: Close, dtype: int64
20150930
Date
2015-09-29    4
2015-09-30    4
Name: Close, dtype: int64 Date
2015-12-28    2.81
2015-12-29    2.94
Name: Close, dtype: float64
20151231
Date
2015-12-30    2.72
2015-12-31    2.59
Name: Close, dtype: float64 Date
2016-03-29    2.3
2016-03-30    2.3
Name: Close, dtype: float64
20160331
Date
2016-03-30    2.3
2016-03-31    2.3
Name: Close, dtype: float64 Date
2016-06-28    2.4
2016-06-29    2.4
Name: Close, dtype: float64
20160630
Date
2016-06-29    2.4
2016-06-30    2.4
Name: Close, dtype: float64 Date
2016-09-27    1.89
2016-09-28    1.99
Name: Close, dtype: float64
20160930
Date
2016-09-29    1.94
2016-09-30    2.09
Name: Close, dtype: float64 Date
2016-12-28    2.50
2016-12-29    2.47
Name: Close, dtype: float64
20161231
Date
2016-12-30    2.48
Name: Close, dtype: float64 Date
2017-03-30    2.35
2017-03-31    2.27
Name: Close, dtype: float64
20170331
Date
2017-03-30    2.35
2017-03-31    2.27
Name: Close, dtype: float64 Date
2017-06-28    1.95
2017-06-29    1.97
Name: Close, dtype: float64
20170630
Date
2017-06-29    1.97
2017-06-30    2.00
Name: Close, dtype: float64 Date
2017-09-27    2.60
2017-09-28    2.79
Name: Close, dtype: float64
20170930
Date
2017-09-29    2.46
Name: Close, dtype: float64 Date
2017-12-28    3.15
2017-12-29    3.21
Name: Close, dtype: float64
20171231
Date
2018-01-02    3.37
Name: Close, dtype: float64 Date
2018-04-02    2.71
Name: Close, dtype: float64
20180331
Date
2018-04-02    2.71
Name: Close, dtype: float64 Date
2018-07-02    2.45
Name: Close, dtype: float64
20180630
Date
2018-06-29    2.37
Name: Close, dtype: float64 Date
2018-09-27    2
2018-09-28    2
Name: Close, dtype: int64
20180930
Date
2018-10-01    2.02
Name: Close, dtype: float64 Date
2018-12-31    1.2
Name: Close, dtype: float64
20181231
Date
2018-12-31    1.2
Name: Close, dtype: float64 Date
2019-04-01    1.85
Name: Close, dtype: float64
20190331
Date
2019-04-01    1.85
Name: Close, dtype: float64 Date
2019-07-01    1.47
Name: Close, dtype: float64
20190630
Date
2019-07-01    1.47
Name: Close, dtype: float64 Date
2019-09-30    1.15
Name: Close, dtype: float64
20190930
Date
2019-09-30    1.15
Name: Close, dtype: float64 Date
2019-12-30    0.91
Name: Close, dtype: float64
20191231
Date
2019-12-30    0.91
2019-12-31    0.93
Name: Close, dtype: float64 Date
2020-03-30    2.11
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20060630
Date
2006-06-29    22.50
2006-06-30    25.02
Name: Close, dtype: float64 Date
2006-09-27    54.000000
2006-09-28    51.900002
Name: Close, dtype: float64
20060930
Date
2006-09-29    54.900002
Name: Close, dtype: float64 Date
2006-12-28    96.540001
2006-12-29    95.040001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    116.519997
Name: Close, dtype: float64 Date
2007-06-28    104.639999
2007-06-29    102.360001
Name: Close, dtype: float64
20070630
Date
2007-06-29    102.360001
Name: Close, dtype: float64 Date
2007-09-27    112.440002
2007-09-28    110.099998
Name: Close, dtype: float64
20070930
Date
2007-10-01    115.5
Name: Close, dtype: float64 Date
2007-12-31    131.759995
Name: Close, dtype: float64
20071231
Date
2007-12-31    131.759995
Name: Close, dtype: float64 Date
2008-03-31    107.699997
Name: Close, dtype: float64
20080331
Date
2008-03-31    107.699997
Name: Close, dtype: float64 Date
2008-06-30    196.979996
Name: Close, dtype: float64
20080630
Date
2008-06-30    196.979996
Name: Close, dtype: float64 Date
2008-09-29    146.399994
Name: Close, dtype: float64
20080930
Date
2008-09-29    146.399994
2008-09-30    143.100006
Name: Close, dtype: float64 Date
2008-12-29    116.580002
Name: Close, dtype: float64
20081231
Date
2008-12-30    122.220001
2008-12-31    123.059998
Name: Close, dtype: float64 Date
2009-03-30    149.399994
2009-03-31    118.860001
Name: Close, dtype: float64
20090331
Date
2009-03-30    149.399994
2009-03-31    118.860001
Name: Close, dtype: float64 Date
2009-06-29    165.899994
Name: Close, dtype: float64
20090630
Date
2009-06-29    165.899994
2009-06-30    169.139999
Name: Close, dtype: float64 Date
2009-09-28    142.860001
Name: Close, dtype: float64
20090930
Date
2009-09-29    141.600006
2009-09-30    139.679993
Name: Close, dtype: float64 Date
2009-12-28    153.000000
2009-12-29    152.399994
Name: Close, dtype: float64
20091231
Date
2009-12-30    153.000000
2009-12-31    151.199997
Name: Close, dtype: float64 Date
2010-03-30    210.179993
2010-03-31    205.199997
Name: Close, dtype: float64
20100331
Date
2010-03-30    210.179993
2010-03-31    205.199997
Name: Close, dtype: float64 Date
2010-06-28    193.139999
2010-06-29    185.699997
Name: Close, dtype: float64
20100630
Date
2010-06-29    185.699997
2010-06-30    186.660004
Name: Close, dtype: float64 Date
2010-09-27    202.139999
2010-09-28    206.039993
Name: Close, dtype: float64
20100930
Date
2010-09-29    198.539993
2010-09-30    198.119995
Name: Close, dtype: float64 Date
2010-12-28    165.539993
2010-12-29    165.539993
Name: Close, dtype: float64
20101231
Date
2010-12-30    165.059998
2010-12-31    163.559998
Name: Close, dtype: float64 Date
2011-03-30    137.039993
2011-03-31    139.199997
Name: Close, dtype: float64
20110331
Date
2011-03-30    137.039993
2011-03-31    139.199997
Name: Close, dtype: float64 Date
2011-06-28    197.100006
2011-06-29    194.520004
Name: Close, dtype: float64
20110630
Date
2011-06-29    194.520004
2011-06-30    193.860001
Name: Close, dtype: float64 Date
2011-09-27    131.399994
2011-09-28    123.360001
Name: Close, dtype: float64
20110930
Date
2011-09-29    121.620003
2011-09-30    119.760002
Name: Close, dtype: float64 Date
2011-12-28    140.520004
2011-12-29    141.419998
Name: Close, dtype: float64
20111231
Date
2011-12-30    143.039993
Name: Close, dtype: float64 Date
2012-03-29    160.320007
2012-03-30    159.300003
Name: Close, dtype: float64
20120331
Date
2012-03-30    159.300003
Name: Close, dtype: float64 Date
2012-06-28    138.960007
2012-06-29    141.360001
Name: Close, dtype: float64
20120630
Date
2012-06-29    141.360001
Name: Close, dtype: float64 Date
2012-09-27    155.759995
2012-09-28    153.660004
Name: Close, dtype: float64
20120930
Date
2012-10-01    153.300003
Name: Close, dtype: float64 Date
2012-12-31    149.160004
Name: Close, dtype: float64
20121231
Date
2012-12-31    149.160004
Name: Close, dtype: float64 Date
2013-04-01    190.679993
Name: Close, dtype: float64
20130331
Date
2013-04-01    190.679993
Name: Close, dtype: float64 Date
2013-07-01    208.259995
Name: Close, dtype: float64
20130630
Date
2013-07-01    208.259995
Name: Close, dtype: float64 Date
2013-09-30    205.199997
Name: Close, dtype: float64
20130930
Date
2013-09-30    205.199997
Name: Close, dtype: float64 Date
2013-12-30    173.339996
Name: Close, dtype: float64
20131231
Date
2013-12-30    173.339996
2013-12-31    175.199997
Name: Close, dtype: float64 Date
2014-03-31    227.460007
Name: Close, dtype: float64
20140331
Date
2014-03-31    227.460007
Name: Close, dtype: float64 Date
2014-06-30    202.259995
Name: Close, dtype: float64
20140630
Date
2014-06-30    202.259995
Name: Close, dtype: float64 Date
2014-09-29    214.139999
Name: Close, dtype: float64
20140930
Date
2014-09-29    214.139999
2014-09-30    203.279999
Name: Close, dtype: float64 Date
2014-12-29    246.419998
Name: Close, dtype: float64
20141231
Date
2014-12-30    243.839996
2014-12-31    245.220001
Name: Close, dtype: float64 Date
2015-03-30    203.460007
2015-03-31    199.679993
Name: Close, dtype: float64
20150331

Date
2015-03-30    203.460007
2015-03-31    199.679993
Name: Close, dtype: float64 Date
2015-06-29    200.580002
Name: Close, dtype: float64
20150630
Date
2015-06-29    200.580002
2015-06-30    199.979996
Name: Close, dtype: float64 Date
2015-09-28    157.259995
Name: Close, dtype: float64
20150930
Date
2015-09-29    154.679993
2015-09-30    159.059998
Name: Close, dtype: float64 Date
2015-12-28    256.380005
2015-12-29    259.500000
Name: Close, dtype: float64
20151231
Date
2015-12-30    258.179993
2015-12-31    256.679993
Name: Close, dtype: float64 Date
2016-03-29    156.660004
2016-03-30    158.279999
Name: Close, dtype: float64
20160331
Date
2016-03-30    158.279999
2016-03-31    158.699997
Name: Close, dtype: float64 Date
2016-06-28    151.860001
2016-06-29    152.339996
Name: Close, dtype: float64
20160630
Date
2016-06-29    152.339996
2016-06-30    153.059998
Name: Close, dtype: float64 Date
2016-09-27    132.360001
2016-09-28    131.940002
Name: Close, dtype: float64
20160930
Date
2016-09-29    123.839996
2016-09-30    125.279999
Name: Close, dtype: float64 Date
2016-12-28    108.900002
2016-12-29    110.099998
Name: Close, dtype: float64
20161231
Date
2016-12-30    112.800003
Name: Close, dtype: float64 Date
2017-03-30    160.5
2017-03-31    126.0
Name: Close, dtype: float64
20170331
Date
2017-03-30    160.5
2017-03-31    126.0
Name: Close, dtype: float64 Date
2017-06-28    118.500000
2017-06-29    117.300003
Name: Close, dtype: float64
20170630
Date
2017-06-29    117.300003
2017-06-30    118.199997
Name: Close, dtype: float64 Date
2017-09-27    140.699997
2017-09-28    140.100006
Name: Close, dtype: float64
20170930
Date
2017-09-29    141.899994
Name: Close, dtype: float64 Date
2017-12-28    135.300003
2017-12-29    128.699997
Name: Close, dtype: float64
20171231
Date
2018-01-02    135.899994
Name: Close, dtype: float64 Date
2018-04-02    133.800003
Name: Close, dtype: float64
20180331
Date
2018-04-02    133.800003
Name: Close, dtype: float64 Date
2018-07-02    179.399994
Name: Close, dtype: float64
20180630
Date
2018-06-29    172.199997
Name: Close, dtype: float64 Date
2018-09-27    118.500000
2018-09-28    117.900002
Name: Close, dtype: float64
20180930
Date
2018-10-01    118.620003
Name: Close, dtype: float64 Date
2018-12-31    93.480003
Name: Close, dtype: float64
20181231
Date
2018-12-31    93.480003
Name: Close, dtype: float64 Date
2019-04-01    80.459999
Name: Close, dtype: float64
20190331
Date
2019-04-01    80.459999
Name: Close, dtype: float64 Date
2019-07-01    46.139999
Name: Close, dtype: float64
20190630
Date
2019-07-01    46.139999
Name: Close, dtype: float64 Date
2019-09-30    17.219999
Name: Close, dtype: float64
20190930
Date
2019-09-30    17.219999
Name: Close, dtype: float64 Date
2019-12-30    13.14
Name: Close, dtype: float64
20191231
Date
2019-12-30    13.14
2019-12-31    12.24
Name: Close, dtype: float64 Date
2020-03-30    5.88
Name: Close, dtype: float64
20170930
Date
2017-09-29    38.93
Name: Close, dtype: float64 Date
2017-12-28    49.59
2017-12-29    48.68
Name: Close, dtype: float64
20171231
Date
2018-01-02    46.119999
Name: Close, dtype: float64 Date
2018-04-02    51.59
Name: Close, dtype: float64
20180331
Date
2018-04-02    51.59
Name: Close, dtype: float64 Date
2018-07-02    49.439999
Name: Close, dtype: float64
20180630
Date
2018-06-29    49.330002
Name: Close, dtype: float64 Date
2018-09-27    30.719999
2018-09-28    30.170000
Name: Close, dtype: float64
20180930
Date
2018-10-01    30.49
Name: Close, dtype: float64 Date
2018-12-31    25.9
Name: Close, dtype: float64
20181231
Date
2018-12-31    25.9
Name: Close, dtype: float64 Date
2019-04-01    41.450001
Name: Close, dtype: float64
20190331
Date
2019-04-01    41.450001
Name: Close, dtype: float64 Date
2019-07-01    42.279999
Name: Close, dtype: float64
20190630
Date
2019-07-01    42.279999
Name: Close, dtype: float64 Date
2019-09-30    51.150002
Name: Close, dtype: float64
20190930
Date
2019-09-30    51.150002
Name: Close, dtype: float64 Date
2019-12-30    50.240002
Name: Close, dtype: float64
20191231
Date
2019-12-30    50.240002
2019-12-31    50.810001
Name: Close, dtype: float64 Date
2020-03-30    33.900002
Name: Close, dtype: float64
20030331
Date
2003-03-31    3.606914
Name: Close, dtype: float64 Date
2003-06-30    3.90321
Name: Close, dtype: float64
20030630
Date
2003-06-30    3.90321
Name: Close, dtype: float64 Date
2003-09-29    4.50963
Name: Close, dtype: float64
20030930
Date
2003-09-29    4.509630
2003-09-30    4.503704
Name: Close, dtype: float64 Date
2003-12-29    5.268148
Name: Close, dtype: float64
20031231
Date
2003-12-30    5.254321
2003-12-31    5.096296
Name: Close, dtype: float64 Date
2004-03-29    5.062716
2004-03-30    5.133827
Name: Close, dtype: float64
20040331
Date
2004-03-30    5.133827
2004-03-31    5.183210
Name: Close, dtype: float64 Date
2004-06-28    5.052839
2004-06-29    5.118025
Name: Close, dtype: float64
20040630
Date
2004-06-29    5.118025
2004-06-30    5.165432
Name: Close, dtype: float64 Date
2004-09-27    5.009383
2004-09-28    5.046914
Name: Close, dtype: float64
20040930
Date
2004-09-29    5.054815
2004-09-30    5.106173
Name: Close, dtype: float64 Date
2004-12-28    6.263704
2004-12-29    6.198519
Name: Close, dtype: float64
20041231
Date
2004-12-30    6.259753
2004-12-31    6.238025
Name: Close, dtype: float64 Date
2005-03-30    5.643457
2005-03-31    5.572346
Name: Close, dtype: float64
20050331
Date
2005-03-30    5.643457
2005-03-31    5.572346
Name: Close, dtype: float64 Date
2005-06-28    6.976790
2005-06-29    6.978765
Name: Close, dtype: float64
20050630
Date
2005-06-29    6.978765
2005-06-30    6.984691
Name: Close, dtype: float64 Date
2005-09-27    7.555555
2005-09-28    7.614815
Name: Close, dtype: float64
20050930
Date
2005-09-29    7.780741
2005-09-30    8.082963
Name: Close, dtype: float64 Date
2005-12-28    8.171852
2005-12-29    8.174815
Name: Close, dtype: float64
20051231
Date
2005-12-30    8.165926
Name: Close, dtype: float64 Date
2006-03-30    8.699259
2006-03-31    8.800000
Name: Close, dtype: float64
20060331
Date
2006-03-30    8.699259
2006-03-31    8.800000
Name: Close, dtype: float64 Date
2006-06-28    8.127407
2006-06-29    8.328889
Name: Close, dtype: float64
20060630
Date
2006-06-29    8.328889
2006-06-30    8.485926
Name: Close, dtype: float64 Date
2006-09-27    7.928889
2006-09-28    7.934815
Name: Close, dtype: float64
20060930
Date
2006-09-29    7.964445
Name: Close, dtype: float64 Date
2006-12-28    8.000000
2006-12-29    7.997037
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    8.93926
Name: Close, dtype: float64 Date
2007-06-28    9.925926
2007-06-29    9.884444
Name: Close, dtype: float64
20070630
Date
2007-06-29    9.884444
Name: Close, dtype: float64 Date
2007-09-27    9.871111
2007-09-28    9.688889
Name: Close, dtype: float64
20070930
Date
2007-10-01    9.826667
Name: Close, dtype: float64 Date
2007-12-31    10.404445
Name: Close, dtype: float64
20071231
Date
2007-12-31    10.404445
Name: Close, dtype: float64 Date
2008-03-31    11
Name: Close, dtype: int64
20080331
Date
2008-03-31    11
Name: Close, dtype: int64 Date
2008-06-30    12.595555
Name: Close, dtype: float64
20080630
Date
2008-06-30    12.595555
Name: Close, dtype: float64 Date
2008-09-29    12.617778
Name: Close, dtype: float64
20080930
Date
2008-09-29    12.617778
2008-09-30    13.048889
Name: Close, dtype: float64 Date
2008-12-29    10.391111
Name: Close, dtype: float64
20081231
Date
2008-12-30    10.693334
2008-12-31    10.826667
Name: Close, dtype: float64 Date
2009-03-30    10.275556
2009-03-31    10.435555
Name: Close, dtype: float64
20090331
Date
2009-03-30    10.275556
2009-03-31    10.435555
Name: Close, dtype: float64 Date
2009-06-29    9.715555
Name: Close, dtype: float64
20090630
Date
2009-06-29    9.715555
2009-06-30    9.706667
Name: Close, dtype: float64 Date
2009-09-28    11.577778
Name: Close, dtype: float64
20090930
Date
2009-09-29    11.666667
2009-09-30    11.684444
Name: Close, dtype: float64 Date
2009-12-28    10.684444
2009-12-29    10.640000
Name: Close, dtype: float64
20091231
Date
2009-12-30    10.613334
2009-12-31    10.560000
Name: Close, dtype: float64 Date
2010-03-30    11.164444
2010-03-31    10.995556
Name: Close, dtype: float64
20100331

Date
2010-03-30    11.164444
2010-03-31    10.995556
Name: Close, dtype: float64 Date
2010-06-28    10.986667
2010-06-29    10.906667
Name: Close, dtype: float64
20100630
Date
2010-06-29    10.906667
2010-06-30    10.857778
Name: Close, dtype: float64 Date
2010-09-27    10.906667
2010-09-28    10.920000
Name: Close, dtype: float64
20100930
Date
2010-09-29    10.951111
2010-09-30    11.040000
Name: Close, dtype: float64 Date
2010-12-28    11.991111
2010-12-29    12.008889
Name: Close, dtype: float64
20101231
Date
2010-12-30    12.004444
2010-12-31    11.960000
Name: Close, dtype: float64 Date
2011-03-30    12.151111
2011-03-31    12.102222
Name: Close, dtype: float64
20110331
Date
2011-03-30    12.151111
2011-03-31    12.102222
Name: Close, dtype: float64 Date
2011-06-28    14.706667
2011-06-29    14.766666
Name: Close, dtype: float64
20110630
Date
2011-06-29    14.766666
2011-06-30    14.693334
Name: Close, dtype: float64 Date
2011-09-27    12.873333
2011-09-28    12.846666
Name: Close, dtype: float64
20110930
Date
2011-09-29    13.053333
2011-09-30    12.973333
Name: Close, dtype: float64 Date
2011-12-28    12.613334
2011-12-29    12.640000
Name: Close, dtype: float64
20111231
Date
2011-12-30    12.653334
Name: Close, dtype: float64 Date
2012-03-29    13.573334
2012-03-30    13.580000
Name: Close, dtype: float64
20120331
Date
2012-03-30    13.58
Name: Close, dtype: float64 Date
2012-06-28    15.413333
2012-06-29    15.486667
Name: Close, dtype: float64
20120630
Date
2012-06-29    15.486667
Name: Close, dtype: float64 Date
2012-09-27    13.586667
2012-09-28    13.453333
Name: Close, dtype: float64
20120930
Date
2012-10-01    13.186666
Name: Close, dtype: float64 Date
2012-12-31    15.513333
Name: Close, dtype: float64
20121231
Date
2012-12-31    15.513333
Name: Close, dtype: float64 Date
2013-04-01    21.866667
Name: Close, dtype: float64
20130331
Date
2013-04-01    21.866667
Name: Close, dtype: float64 Date
2013-07-01    22.25
Name: Close, dtype: float64
20130630
Date
2013-07-01    22.25
Name: Close, dtype: float64 Date
2013-09-30    21.440001
Name: Close, dtype: float64
20130930
Date
2013-09-30    21.440001
Name: Close, dtype: float64 Date
2013-12-30    21.57
Name: Close, dtype: float64
20131231
Date
2013-12-30    21.570000
2013-12-31    21.469999
Name: Close, dtype: float64 Date
2014-03-31    21.450001
Name: Close, dtype: float64
20140331
Date
2014-03-31    21.450001
Name: Close, dtype: float64 Date
2014-06-30    21.08
Name: Close, dtype: float64
20140630
Date
2014-06-30    21.08
Name: Close, dtype: float64 Date
2014-09-29    18.299999
Name: Close, dtype: float64
20140930
Date
2014-09-29    18.299999
2014-09-30    18.360001
Name: Close, dtype: float64 Date
2014-12-29    19.82
Name: Close, dtype: float64
20141231
Date
2014-12-30    19.620001
2014-12-31    19.190001
Name: Close, dtype: float64 Date
2015-03-30    22.780001
2015-03-31    22.740000
Name: Close, dtype: float64
20150331
Date
2015-03-30    22.780001
2015-03-31    22.740000
Name: Close, dtype: float64 Date
2015-06-29    21.290001
Name: Close, dtype: float64
20150630
Date
2015-06-29    21.290001
2015-06-30    21.150000
Name: Close, dtype: float64 Date
2015-09-28    25.24
Name: Close, dtype: float64
20150930
Date
2015-09-29    24.65
2015-09-30    24.74
Name: Close, dtype: float64 Date
2015-12-28    21.969999
2015-12-29    21.940001
Name: Close, dtype: float64
20151231
Date
2015-12-30    21.809999
2015-12-31    21.490000
Name: Close, dtype: float64 Date
2016-03-29    18.680000
2016-03-30    18.559999
Name: Close, dtype: float64
20160331
Date
2016-03-30    18.559999
2016-03-31    18.459999
Name: Close, dtype: float64 Date
2016-06-28    18.209999
2016-06-29    18.490000
Name: Close, dtype: float64
20160630
Date
2016-06-29    18.49
2016-06-30    18.75
Name: Close, dtype: float64 Date
2016-09-27    15.13
2016-09-28    15.21
Name: Close, dtype: float64
20160930
Date
2016-09-29    15.10
2016-09-30    15.12
Name: Close, dtype: float64 Date
2016-12-28    19.76
2016-12-29    20.01
Name: Close, dtype: float64
20161231
Date
2016-12-30    19.969999
Name: Close, dtype: float64 Date
2017-03-30    19.469999
2017-03-31    19.410000
Name: Close, dtype: float64
20170331
Date
2017-03-30    19.469999
2017-03-31    19.410000
Name: Close, dtype: float64 Date
2017-06-28    17.790001
2017-06-29    17.379999
Name: Close, dtype: float64
20170630
Date
2017-06-29    17.379999
2017-06-30    17.309999
Name: Close, dtype: float64 Date
2017-09-27    18.24
2017-09-28    18.75
Name: Close, dtype: float64
20170930
Date
2017-09-29    18.809999
Name: Close, dtype: float64 Date
2017-12-28    19.430000
2017-12-29    19.309999
Name: Close, dtype: float64
20171231
Date
2018-01-02    19.32
Name: Close, dtype: float64 Date
2018-04-02    21.219999
Name: Close, dtype: float64
20180331
Date
2018-04-02    21.219999
Name: Close, dtype: float64 Date
2018-07-02    20.5
Name: Close, dtype: float64
20180630
Date
2018-06-29    20.83
Name: Close, dtype: float64 Date
2018-09-27    18.60
2018-09-28    18.66
Name: Close, dtype: float64
20180930
Date
2018-10-01    18.51
Name: Close, dtype: float64 Date
2018-12-31    18.469999
Name: Close, dtype: float64
20181231
Date
2018-12-31    18.469999
Name: Close, dtype: float64 Date
2019-04-01    21.190001
Name: Close, dtype: float64
20190331
Date
2019-04-01    21.190001
Name: Close, dtype: float64 Date
2019-07-01    23.27
Name: Close, dtype: float64
20190630
Date
2019-07-01    23.27
Name: Close, dtype: float64 Date
2019-09-30    23.129999
Name: Close, dtype: float64
20190930
Date
2019-09-30    23.129999
Name: Close, dtype: float64 Date
2019-12-30    21.73
Name: Close, dtype: float64
20191231
Date
2019-12-30    21.73
2019-12-31    21.74
Name: Close, dtype: float64 Date
2020-03-30    21.08
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20151231
Date
2015-12-30    26.92
2015-12-31    27.91
Name: Close, dtype: float64 Date
2016-03-29    25.620001
2016-03-30    25.549999
Name: Close, dtype: float64
20160331
Date
2016-03-30    25.549999
2016-03-31    25.080000
Name: Close, dtype: float64 Date
2016-06-28    24.469999
2016-06-29    25.570000
Name: Close, dtype: float64
20160630
Date
2016-06-29    25.57
2016-06-30    26.07
Name: Close, dtype: float64 Date
2016-09-27    29.020000
2016-09-28    29.690001
Name: Close, dtype: float64
20160930
Date
2016-09-29    30.51
2016-09-30    30.92
Name: Close, dtype: float64 Date
2016-12-28    32.189999
2016-12-29    32.330002
Name: Close, dtype: float64
20161231
Date
2016-12-30    32.060001
Name: Close, dtype: float64 Date
2017-03-30    33.939999
2017-03-31    34.709999
Name: Close, dtype: float64
20170331
Date
2017-03-30    33.939999
2017-03-31    34.709999
Name: Close, dtype: float64 Date
2017-06-28    37.029999
2017-06-29    36.779999
Name: Close, dtype: float64
20170630
Date
2017-06-29    36.779999
2017-06-30    36.880001
Name: Close, dtype: float64 Date
2017-09-27    39.119999
2017-09-28    38.830002
Name: Close, dtype: float64
20170930
Date
2017-09-29    38.560001
Name: Close, dtype: float64 Date
2017-12-28    47.380001
2017-12-29    47.549999
Name: Close, dtype: float64
20171231
Date
2018-01-02    47.16
Name: Close, dtype: float64 Date
2018-04-02    47.630001
Name: Close, dtype: float64
20180331
Date
2018-04-02    47.630001
Name: Close, dtype: float64 Date
2018-07-02    43.549999
Name: Close, dtype: float64
20180630
Date
2018-06-29    43.77
Name: Close, dtype: float64 Date
2018-09-27    51.799999
2018-09-28    52.000000
Name: Close, dtype: float64
20180930
Date
2018-10-01    51.970001
Name: Close, dtype: float64 Date
2018-12-31    30.42
Name: Close, dtype: float64
20181231

Date
2018-12-31    30.42
Name: Close, dtype: float64 Date
2019-04-01    32.900002
Name: Close, dtype: float64
20190331
Date
2019-04-01    32.900002
Name: Close, dtype: float64 Date
2019-07-01    39.84
Name: Close, dtype: float64
20190630
Date
2019-07-01    39.84
Name: Close, dtype: float64 Date
2019-09-30    39.459999
Name: Close, dtype: float64
20190930
Date
2019-09-30    39.459999
Name: Close, dtype: float64 Date
2019-12-30    48.91
Name: Close, dtype: float64
20191231
Date
2019-12-30    48.910000
2019-12-31    48.869999
Name: Close, dtype: float64 Date
2020-03-30    26.530001
Name: Close, dtype: float64
20030331
Date
2003-03-31    3.883333
Name: Close, dtype: float64 Date
2003-06-30    6.556667
Name: Close, dtype: float64
20030630
Date
2003-06-30    6.556667
Name: Close, dtype: float64 Date
2003-09-29    6.95
Name: Close, dtype: float64
20030930
Date
2003-09-29    6.950000
2003-09-30    6.766667
Name: Close, dtype: float64 Date
2003-12-29    7.033333
Name: Close, dtype: float64
20031231
Date
2003-12-30    6.95
2003-12-31    6.96
Name: Close, dtype: float64 Date
2004-03-29    6.97
2004-03-30    7.02
Name: Close, dtype: float64
20040331
Date
2004-03-30    7.020000
2004-03-31    6.983333
Name: Close, dtype: float64 Date
2004-06-28    7.86
2004-06-29    8.25
Name: Close, dtype: float64
20040630
Date
2004-06-29    8.250000
2004-06-30    8.313334
Name: Close, dtype: float64 Date
2004-09-27    7.85
2004-09-28    7.96
Name: Close, dtype: float64
20040930
Date
2004-09-29    8.116667
2004-09-30    8.060000
Name: Close, dtype: float64 Date
2004-12-28    9.263333
2004-12-29    9.253333
Name: Close, dtype: float64
20041231
Date
2004-12-30    9.20
2004-12-31    9.18
Name: Close, dtype: float64 Date
2005-03-30    8.666667
2005-03-31    8.623333
Name: Close, dtype: float64
20050331
Date
2005-03-30    8.666667
2005-03-31    8.623333
Name: Close, dtype: float64 Date
2005-06-28    10.196667
2005-06-29    10.083333
Name: Close, dtype: float64
20050630
Date
2005-06-29    10.083333
2005-06-30    10.086667
Name: Close, dtype: float64 Date
2005-09-27    11.726666
2005-09-28    11.616667
Name: Close, dtype: float64
20050930
Date
2005-09-29    11.883333
2005-09-30    12.116667
Name: Close, dtype: float64 Date
2005-12-28    12.976666
2005-12-29    13.003333
Name: Close, dtype: float64
20051231
Date
2005-12-30    13.186666
Name: Close, dtype: float64 Date
2006-03-30    19.486666
2006-03-31    19.446667
Name: Close, dtype: float64
20060331
Date
2006-03-30    19.486666
2006-03-31    19.446667
Name: Close, dtype: float64 Date
2006-06-28    16.973333
2006-06-29    17.933332
Name: Close, dtype: float64
20060630
Date
2006-06-29    17.933332
2006-06-30    18.966667
Name: Close, dtype: float64 Date
2006-09-27    16.583334
2006-09-28    16.816668
Name: Close, dtype: float64
20060930
Date
2006-09-29    16.863333
Name: Close, dtype: float64 Date
2006-12-28    16.933332
2006-12-29    16.823334
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    19.063334
Name: Close, dtype: float64 Date
2007-06-28    23.700001
2007-06-29    23.866667
Name: Close, dtype: float64
20070630
Date
2007-06-29    23.866667
Name: Close, dtype: float64 Date
2007-09-27    26.046667
2007-09-28    25.393333
Name: Close, dtype: float64
20070930
Date
2007-10-01    25.959999
Name: Close, dtype: float64 Date
2007-12-31    32.066666
Name: Close, dtype: float64
20071231
Date
2007-12-31    32.066666
Name: Close, dtype: float64 Date
2008-03-31    34.793335
Name: Close, dtype: float64
20080331
Date
2008-03-31    34.793335
Name: Close, dtype: float64 Date
2008-06-30    45.566666
Name: Close, dtype: float64
20080630
Date
2008-06-30    45.566666
Name: Close, dtype: float64 Date
2008-09-29    27.056667
Name: Close, dtype: float64
20080930
Date
2008-09-29    27.056667
2008-09-30    29.590000
Name: Close, dtype: float64 Date
2008-12-29    16.666666
Name: Close, dtype: float64
20081231
Date
2008-12-30    17.110001
2008-12-31    17.166666
Name: Close, dtype: float64 Date
2009-03-30    18.373333
2009-03-31    18.706667
Name: Close, dtype: float64
20090331
Date
2009-03-30    18.373333
2009-03-31    18.706667
Name: Close, dtype: float64 Date
2009-06-29    24.076666
Name: Close, dtype: float64
20090630
Date
2009-06-29    24.076666
2009-06-30    23.270000
Name: Close, dtype: float64 Date
2009-09-28    32.926666
Name: Close, dtype: float64
20090930
Date
2009-09-29    32.616665
2009-09-30    32.846668
Name: Close, dtype: float64 Date
2009-12-28    32.386665
2009-12-29    32.220001
Name: Close, dtype: float64
20091231
Date
2009-12-30    31.966667
2009-12-31    31.510000
Name: Close, dtype: float64 Date
2010-03-30    36.643333
2010-03-31    36.756668
Name: Close, dtype: float64
20100331
Date
2010-03-30    36.643333
2010-03-31    36.756668
Name: Close, dtype: float64 Date
2010-06-28    29.790001
2010-06-29    28.400000
Name: Close, dtype: float64
20100630
Date
2010-06-29    28.400000
2010-06-30    28.266666
Name: Close, dtype: float64 Date
2010-09-27    35.669998
2010-09-28    35.716667
Name: Close, dtype: float64
20100930
Date
2010-09-29    36.403332
2010-09-30    36.473331
Name: Close, dtype: float64 Date
2010-12-28    39.290001
2010-12-29    39.403332
Name: Close, dtype: float64
20101231
Date
2010-12-30    39.599998
2010-12-31    39.740002
Name: Close, dtype: float64 Date
2011-03-30    42.683334
2011-03-31    42.933334
Name: Close, dtype: float64
20110331
Date
2011-03-30    42.683334
2011-03-31    42.933334
Name: Close, dtype: float64 Date
2011-06-28    35.459999
2011-06-29    35.709999
Name: Close, dtype: float64
20110630
Date
2011-06-29    35.709999
2011-06-30    36.630001
Name: Close, dtype: float64 Date
2011-09-27    26.983334
2011-09-28    25.966667
Name: Close, dtype: float64
20110930
Date
2011-09-29    26.200001
2011-09-30    24.666666
Name: Close, dtype: float64 Date
2011-12-28    32.433334
2011-12-29    33.266666
Name: Close, dtype: float64
20111231
Date
2011-12-30    33.106667
Name: Close, dtype: float64 Date
2012-03-29    38.349998
2012-03-30    38.503334
Name: Close, dtype: float64
20120331
Date
2012-03-30    38.503334
Name: Close, dtype: float64 Date
2012-06-28    37.400002
2012-06-29    38.250000
Name: Close, dtype: float64
20120630
Date
2012-06-29    38.25
Name: Close, dtype: float64 Date
2012-09-27    42.523335
2012-09-28    42.580002
Name: Close, dtype: float64
20120930
Date
2012-10-01    42.613335
Name: Close, dtype: float64 Date
2012-12-31    48.933334
Name: Close, dtype: float64
20121231
Date
2012-12-31    48.933334
Name: Close, dtype: float64 Date
2013-04-01    54.896667
Name: Close, dtype: float64
20130331
Date
2013-04-01    54.896667
Name: Close, dtype: float64 Date
2013-07-01    54.599998
Name: Close, dtype: float64
20130630
Date
2013-07-01    54.599998
Name: Close, dtype: float64 Date
2013-09-30    62.389999
Name: Close, dtype: float64
20130930
Date
2013-09-30    62.389999
Name: Close, dtype: float64 Date
2013-12-30    77.699997
Name: Close, dtype: float64
20131231
Date
2013-12-30    77.699997
2013-12-31    78.830002
Name: Close, dtype: float64 Date
2014-03-31    78.339996
Name: Close, dtype: float64
20140331
Date
2014-03-31    78.339996
Name: Close, dtype: float64 Date
2014-06-30    74.349998
Name: Close, dtype: float64
20140630
Date
2014-06-30    74.349998
Name: Close, dtype: float64 Date
2014-09-29    70.800003
Name: Close, dtype: float64
20140930
Date
2014-09-29    70.800003
2014-09-30    70.519997
Name: Close, dtype: float64 Date
2014-12-29    60.369999
Name: Close, dtype: float64
20141231
Date
2014-12-30    60.320000
2014-12-31    59.830002
Name: Close, dtype: float64 Date
2015-03-30    57.439999
2015-03-31    56.490002
Name: Close, dtype: float64
20150331
Date
2015-03-30    57.439999
2015-03-31    56.490002
Name: Close, dtype: float64 Date
2015-06-29    51.189999
Name: Close, dtype: float64
20150630
Date
2015-06-29    51.189999
2015-06-30    52.660000
Name: Close, dtype: float64 Date
2015-09-28    39.849998
Name: Close, dtype: float64
20150930
Date
2015-09-29    40.189999
2015-09-30    41.139999
Name: Close, dtype: float64 Date
2015-12-28    42.150002
2015-12-29    42.869999
Name: Close, dtype: float64
20151231
Date
2015-12-30    42.560001
2015-12-31    42.080002
Name: Close, dtype: float64 Date
2016-03-29    44.130001
2016-03-30    44.040001
Name: Close, dtype: float64
20160331

Date
2016-03-30    44.040001
2016-03-31    44.410000
Name: Close, dtype: float64 Date
2016-06-28    43.520000
2016-06-29    44.389999
Name: Close, dtype: float64
20160630
Date
2016-06-29    44.389999
2016-06-30    45.169998
Name: Close, dtype: float64 Date
2016-09-27    45.820000
2016-09-28    47.200001
Name: Close, dtype: float64
20160930
Date
2016-09-29    47.330002
2016-09-30    48.240002
Name: Close, dtype: float64 Date
2016-12-28    48.509998
2016-12-29    48.049999
Name: Close, dtype: float64
20161231
Date
2016-12-30    48.049999
Name: Close, dtype: float64 Date
2017-03-30    48.000000
2017-03-31    48.419998
Name: Close, dtype: float64
20170331
Date
2017-03-30    48.000000
2017-03-31    48.419998
Name: Close, dtype: float64 Date
2017-06-28    45.639999
2017-06-29    45.709999
Name: Close, dtype: float64
20170630
Date
2017-06-29    45.709999
2017-06-30    46.430000
Name: Close, dtype: float64 Date
2017-09-27    43.25
2017-09-28    42.50
Name: Close, dtype: float64
20170930
Date
2017-09-29    42.59
Name: Close, dtype: float64 Date
2017-12-28    41.959999
2017-12-29    42.130001
Name: Close, dtype: float64
20171231
Date
2018-01-02    42.5
Name: Close, dtype: float64 Date
2018-04-02    42.540001
Name: Close, dtype: float64
20180331
Date
2018-04-02    42.540001
Name: Close, dtype: float64 Date
2018-07-02    40.099998
Name: Close, dtype: float64
20180630
Date
2018-06-29    40.400002
Name: Close, dtype: float64 Date
2018-09-27    54.840000
2018-09-28    54.689999
Name: Close, dtype: float64
20180930
Date
2018-10-01    54.5
Name: Close, dtype: float64 Date
2018-12-31    38.02
Name: Close, dtype: float64
20181231
Date
2018-12-31    38.02
Name: Close, dtype: float64 Date
2019-04-01    46.459999
Name: Close, dtype: float64
20190331
Date
2019-04-01    46.459999
Name: Close, dtype: float64 Date
2019-07-01    53.450001
Name: Close, dtype: float64
20190630
Date
2019-07-01    53.450001
Name: Close, dtype: float64 Date
2019-09-30    46.709999
Name: Close, dtype: float64
20190930
Date
2019-09-30    46.709999
Name: Close, dtype: float64 Date
2019-12-30    49.650002
Name: Close, dtype: float64
20191231
Date
2019-12-30    49.650002
2019-12-31    49.770000
Name: Close, dtype: float64 Date
2020-03-30    22.49
Name: Close, dtype: float64
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20030331
Date
2003-03-31    30.813334
Name: Close, dtype: float64 Date
2003-06-30    24.969999
Name: Close, dtype: float64
20030630
Date
2003-06-30    24.969999
Name: Close, dtype: float64 Date
2003-09-29    17.280001
Name: Close, dtype: float64
20030930
Date
2003-09-29    17.280001
2003-09-30    17.350000
Name: Close, dtype: float64 Date
2003-12-29    24.309999
Name: Close, dtype: float64
20031231
Date
2003-12-30    24.180000
2003-12-31    23.370001
Name: Close, dtype: float64 Date
2004-03-29    16.400000
2004-03-30    16.370001
Name: Close, dtype: float64
20040331
Date
2004-03-30    16.370001
2004-03-31    16.660000
Name: Close, dtype: float64 Date
2004-06-28    16.17
2004-06-29    16.50
Name: Close, dtype: float64
20040630
Date
2004-06-29    16.5
2004-06-30    16.5
Name: Close, dtype: float64 Date
2004-09-27    18.42
2004-09-28    18.50
Name: Close, dtype: float64
20040930
Date
2004-09-29    18.6
2004-09-30    18.9
Name: Close, dtype: float64 Date
2004-12-28    20.959999
2004-12-29    20.990000
Name: Close, dtype: float64
20041231
Date
2004-12-30    20.959999
2004-12-31    21.070000
Name: Close, dtype: float64 Date
2005-03-30    20.709999
2005-03-31    20.639999
Name: Close, dtype: float64
20050331
Date
2005-03-30    20.709999
2005-03-31    20.639999
Name: Close, dtype: float64 Date
2005-06-28    20.780001
2005-06-29    21.049999
Name: Close, dtype: float64
20050630
Date
2005-06-29    21.049999
2005-06-30    20.900000
Name: Close, dtype: float64 Date
2005-09-27    25.17
2005-09-28    24.82
Name: Close, dtype: float64
20050930
Date
2005-09-29    25.10
2005-09-30    25.26
Name: Close, dtype: float64 Date
2005-12-28    27.75
2005-12-29    27.75
Name: Close, dtype: float64
20051231
Date
2005-12-30    27.440001
Name: Close, dtype: float64 Date
2006-03-30    28.219999
2006-03-31    28.530001
Name: Close, dtype: float64
20060331
Date
2006-03-30    28.219999
2006-03-31    28.530001
Name: Close, dtype: float64 Date
2006-06-28    26.059999
2006-06-29    26.780001
Name: Close, dtype: float64
20060630
Date
2006-06-29    26.780001
2006-06-30    26.770000
Name: Close, dtype: float64 Date
2006-09-27    24.900000
2006-09-28    25.379999
Name: Close, dtype: float64
20060930
Date
2006-09-29    25.059999
Name: Close, dtype: float64 Date
2006-12-28    28.879999
2006-12-29    27.889999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    33.59
Name: Close, dtype: float64 Date
2007-06-28    37.279999
2007-06-29    38.029999
Name: Close, dtype: float64
20070630
Date
2007-06-29    38.029999
Name: Close, dtype: float64 Date
2007-09-27    50.639999
2007-09-28    50.310001
Name: Close, dtype: float64
20070930
Date
2007-10-01    51.549999
Name: Close, dtype: float64 Date
2007-12-31    61.639999
Name: Close, dtype: float64
20071231
Date
2007-12-31    61.639999
Name: Close, dtype: float64 Date
2008-03-31    71.040001
Name: Close, dtype: float64
20080331
Date
2008-03-31    71.040001
Name: Close, dtype: float64 Date
2008-06-30    68.459999
Name: Close, dtype: float64
20080630
Date
2008-06-30    68.459999
Name: Close, dtype: float64 Date
2008-09-29    69.199997
Name: Close, dtype: float64
20080930
Date
2008-09-29    69.199997
2008-09-30    72.239998
Name: Close, dtype: float64 Date
2008-12-29    43.720001
Name: Close, dtype: float64
20081231
Date
2008-12-30    43.709999
2008-12-31    44.680000
Name: Close, dtype: float64 Date
2009-03-30    48.810001
2009-03-31    49.480000
Name: Close, dtype: float64
20090331
Date
2009-03-30    48.810001
2009-03-31    49.480000
Name: Close, dtype: float64 Date
2009-06-29    51.119999
Name: Close, dtype: float64
20090630
Date
2009-06-29    51.119999
2009-06-30    50.720001
Name: Close, dtype: float64 Date
2009-09-28    43.549999
Name: Close, dtype: float64
20090930
Date
2009-09-29    44.349998
2009-09-30    42.610001
Name: Close, dtype: float64 Date
2009-12-28    47.790001
2009-12-29    47.750000
Name: Close, dtype: float64
20091231
Date
2009-12-30    47.540001
2009-12-31    47.160000
Name: Close, dtype: float64 Date
2010-03-30    39.82
2010-03-31    39.32
Name: Close, dtype: float64
20100331
Date
2010-03-30    39.82
2010-03-31    39.32
Name: Close, dtype: float64 Date
2010-06-28    45.790001
2010-06-29    44.779999
Name: Close, dtype: float64
20100630
Date
2010-06-29    44.779999
2010-06-30    43.590000
Name: Close, dtype: float64 Date
2010-09-27    33.91
2010-09-28    33.98
Name: Close, dtype: float64
20100930
Date
2010-09-29    33.950001
2010-09-30    34.689999
Name: Close, dtype: float64 Date
2010-12-28    36.889999
2010-12-29    37.040001
Name: Close, dtype: float64
20101231
Date
2010-12-30    37.340000
2010-12-31    37.279999
Name: Close, dtype: float64 Date
2011-03-30    37.709999
2011-03-31    38.330002
Name: Close, dtype: float64
20110331
Date
2011-03-30    37.709999
2011-03-31    38.330002
Name: Close, dtype: float64 Date
2011-06-28    37.590000
2011-06-29    37.630001
Name: Close, dtype: float64
20110630
Date
2011-06-29    37.630001
2011-06-30    37.939999
Name: Close, dtype: float64 Date
2011-09-27    37.580002
2011-09-28    36.889999
Name: Close, dtype: float64
20110930
Date
2011-09-29    37.310001
2011-09-30    36.810001
Name: Close, dtype: float64 Date
2011-12-28    42.450001
2011-12-29    42.590000
Name: Close, dtype: float64
20111231
Date
2011-12-30    42.419998
Name: Close, dtype: float64 Date
2012-03-29    37.720001
2012-03-30    37.520000
Name: Close, dtype: float64
20120331
Date
2012-03-30    37.52
Name: Close, dtype: float64 Date
2012-06-28    28.200001
2012-06-29    28.750000
Name: Close, dtype: float64
20120630
Date
2012-06-29    28.75
Name: Close, dtype: float64 Date
2012-09-27    26.469999
2012-09-28    26.680000
Name: Close, dtype: float64
20120930

Date
2012-10-01    26.059999
Name: Close, dtype: float64 Date
2012-12-31    33
Name: Close, dtype: int64
20121231
Date
2012-12-31    33
Name: Close, dtype: int64 Date
2013-04-01    37.060001
Name: Close, dtype: float64
20130331
Date
2013-04-01    37.060001
Name: Close, dtype: float64 Date
2013-07-01    33.73
Name: Close, dtype: float64
20130630
Date
2013-07-01    33.73
Name: Close, dtype: float64 Date
2013-09-30    37.799999
Name: Close, dtype: float64
20130930
Date
2013-09-30    37.799999
Name: Close, dtype: float64 Date
2013-12-30    41.619999
Name: Close, dtype: float64
20131231
Date
2013-12-30    41.619999
2013-12-31    41.139999
Name: Close, dtype: float64 Date
2014-03-31    33.34
Name: Close, dtype: float64
20140331
Date
2014-03-31    33.34
Name: Close, dtype: float64 Date
2014-06-30    37.82
Name: Close, dtype: float64
20140630
Date
2014-06-30    37.82
Name: Close, dtype: float64 Date
2014-09-29    35.509998
Name: Close, dtype: float64
20140930
Date
2014-09-29    35.509998
2014-09-30    34.959999
Name: Close, dtype: float64 Date
2014-12-29    39.439999
Name: Close, dtype: float64
20141231
Date
2014-12-30    39.419998
2014-12-31    38.630001
Name: Close, dtype: float64 Date
2015-03-30    37.889999
2015-03-31    37.459999
Name: Close, dtype: float64
20150331
Date
2015-03-30    37.889999
2015-03-31    37.459999
Name: Close, dtype: float64 Date
2015-06-29    41.040001
Name: Close, dtype: float64
20150630
Date
2015-06-29    41.040001
2015-06-30    41.240002
Name: Close, dtype: float64 Date
2015-09-28    41.52
Name: Close, dtype: float64
20150930
Date
2015-09-29    41.259998
2015-09-30    41.509998
Name: Close, dtype: float64 Date
2015-12-28    34.820000
2015-12-29    35.549999
Name: Close, dtype: float64
20151231
Date
2015-12-30    35.400002
2015-12-31    34.660000
Name: Close, dtype: float64 Date
2016-03-29    34.259998
2016-03-30    35.080002
Name: Close, dtype: float64
20160331
Date
2016-03-30    35.080002
2016-03-31    35.509998
Name: Close, dtype: float64 Date
2016-06-28    38.599998
2016-06-29    39.660000
Name: Close, dtype: float64
20160630
Date
2016-06-29    39.66
2016-06-30    40.68
Name: Close, dtype: float64 Date
2016-09-27    43.959999
2016-09-28    44.520000
Name: Close, dtype: float64
20160930
Date
2016-09-29    44.400002
2016-09-30    44.560001
Name: Close, dtype: float64 Date
2016-12-28    44.98
2016-12-29    45.32
Name: Close, dtype: float64
20161231
Date
2016-12-30    45.080002
Name: Close, dtype: float64 Date
2017-03-30    41.009998
2017-03-31    41.169998
Name: Close, dtype: float64
20170331
Date
2017-03-30    41.009998
2017-03-31    41.169998
Name: Close, dtype: float64 Date
2017-06-28    34.990002
2017-06-29    34.770000
Name: Close, dtype: float64
20170630
Date
2017-06-29    34.770000
2017-06-30    34.959999
Name: Close, dtype: float64 Date
2017-09-27    36.380001
2017-09-28    35.900002
Name: Close, dtype: float64
20170930
Date
2017-09-29    35.48
Name: Close, dtype: float64 Date
2017-12-28    43.330002
2017-12-29    42.959999
Name: Close, dtype: float64
20171231
Date
2018-01-02    43.810001
Name: Close, dtype: float64 Date
2018-04-02    48.34
Name: Close, dtype: float64
20180331
Date
2018-04-02    48.34
Name: Close, dtype: float64 Date
2018-07-02    62.119999
Name: Close, dtype: float64
20180630
Date
2018-06-29    60.48
Name: Close, dtype: float64 Date
2018-09-27    72.389999
2018-09-28    73.190002
Name: Close, dtype: float64
20180930
Date
2018-10-01    72.690002
Name: Close, dtype: float64 Date
2018-12-31    66.639999
Name: Close, dtype: float64
20181231
Date
2018-12-31    66.639999
Name: Close, dtype: float64 Date
2019-04-01    77.870003
Name: Close, dtype: float64
20190331
Date
2019-04-01    77.870003
Name: Close, dtype: float64 Date
2019-07-01    84.279999
Name: Close, dtype: float64
20190630
Date
2019-07-01    84.279999
Name: Close, dtype: float64 Date
2019-09-30    105.989998
Name: Close, dtype: float64
20190930
Date
2019-09-30    105.989998
Name: Close, dtype: float64 Date
2019-12-30    110.639999
Name: Close, dtype: float64
20191231
Date
2019-12-30    110.639999
2019-12-31    110.660004
Name: Close, dtype: float64 Date
2020-03-30    118.690002
Name: Close, dtype: float64
20030331
Date
2003-03-31    94.089996
Name: Close, dtype: float64 Date
2003-06-30    100.830002
Name: Close, dtype: float64
20030630
Date
2003-06-30    100.830002
Name: Close, dtype: float64 Date
2003-09-29    110
Name: Close, dtype: int64
20030930
Date
2003-09-29    110.000000
2003-09-30    105.699997
Name: Close, dtype: float64 Date
2003-12-29    126
Name: Close, dtype: int64
20031231
Date
2003-12-30    124.620003
2003-12-31    120.500000
Name: Close, dtype: float64 Date
2004-03-29    124.599998
2004-03-30    124.599998
Name: Close, dtype: float64
20040331
Date
2004-03-30    124.599998
2004-03-31    123.000000
Name: Close, dtype: float64 Date
2004-06-28    118.160004
2004-06-29    117.019997
Name: Close, dtype: float64
20040630
Date
2004-06-29    117.019997
2004-06-30    122.000000
Name: Close, dtype: float64 Date
2004-09-27    116.000000
2004-09-28    116.379997
Name: Close, dtype: float64
20040930
Date
2004-09-29    117.080002
2004-09-30    118.000000
Name: Close, dtype: float64 Date
2004-12-28    151.750000
2004-12-29    150.910004
Name: Close, dtype: float64
20041231
Date
2004-12-30    148.789993
2004-12-31    148.250000
Name: Close, dtype: float64 Date
2005-03-30    147.970001
2005-03-31    146.380005
Name: Close, dtype: float64
20050331
Date
2005-03-30    147.970001
2005-03-31    146.380005
Name: Close, dtype: float64 Date
2005-06-28    137.880005
2005-06-29    142.300003
Name: Close, dtype: float64
20050630
Date
2005-06-29    142.300003
2005-06-30    144.550003
Name: Close, dtype: float64 Date
2005-09-27    167.300003
2005-09-28    166.539993
Name: Close, dtype: float64
20050930
Date
2005-09-29    168.350006
2005-09-30    170.649994
Name: Close, dtype: float64 Date
2005-12-28    173.050003
2005-12-29    178.360001
Name: Close, dtype: float64
20051231
Date
2005-12-30    174.419998
Name: Close, dtype: float64 Date
2006-03-30    187.679993
2006-03-31    193.000000
Name: Close, dtype: float64
20060331
Date
2006-03-30    187.679993
2006-03-31    193.000000
Name: Close, dtype: float64 Date
2006-06-28    197.750000
2006-06-29    199.130005
Name: Close, dtype: float64
20060630
Date
2006-06-29    199.130005
2006-06-30    200.500000
Name: Close, dtype: float64 Date
2006-09-27    193.470001
2006-09-28    193.470001
Name: Close, dtype: float64
20060930
Date
2006-09-29    191.100006
Name: Close, dtype: float64 Date
2006-12-28    199.139999
2006-12-29    202.639999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    201
Name: Close, dtype: int64 Date
2007-06-28    194.179993
2007-06-29    194.399994
Name: Close, dtype: float64
20070630
Date
2007-06-29    194.399994
Name: Close, dtype: float64 Date
2007-09-27    172.000000
2007-09-28    174.399994
Name: Close, dtype: float64
20070930
Date
2007-10-01    178.960007
Name: Close, dtype: float64 Date
2007-12-31    145.850006
Name: Close, dtype: float64
20071231
Date
2007-12-31    145.850006
Name: Close, dtype: float64 Date
2008-03-31    139.350006
Name: Close, dtype: float64
20080331
Date
2008-03-31    139.350006
Name: Close, dtype: float64 Date
2008-06-30    139.490005
Name: Close, dtype: float64
20080630
Date
2008-06-30    139.490005
Name: Close, dtype: float64 Date
2008-09-29    170.5
Name: Close, dtype: float64
20080930
Date
2008-09-29    170.5
2008-09-30    179.0
Name: Close, dtype: float64 Date
2008-12-29    142
Name: Close, dtype: int64
20081231
Date
2008-12-30    144.000000
2008-12-31    152.800003
Name: Close, dtype: float64 Date
2009-03-30    126.349998
2009-03-31    131.800003
Name: Close, dtype: float64
20090331
Date
2009-03-30    126.349998
2009-03-31    131.800003
Name: Close, dtype: float64 Date
2009-06-29    134.020004
Name: Close, dtype: float64
20090630
Date
2009-06-29    134.020004
2009-06-30    133.649994
Name: Close, dtype: float64 Date
2009-09-28    157.009995
Name: Close, dtype: float64
20090930
Date
2009-09-29    156.399994
2009-09-30    159.100006
Name: Close, dtype: float64 Date
2009-12-28    165.009995
2009-12-29    164.460007
Name: Close, dtype: float64
20091231

Date
2009-12-30    161.789993
2009-12-31    164.009995
Name: Close, dtype: float64 Date
2010-03-30    204.919998
2010-03-31    198.759995
Name: Close, dtype: float64
20100331
Date
2010-03-30    204.919998
2010-03-31    198.759995
Name: Close, dtype: float64 Date
2010-06-28    196.919998
2010-06-29    192.289993
Name: Close, dtype: float64
20100630
Date
2010-06-29    192.289993
2010-06-30    192.330002
Name: Close, dtype: float64 Date
2010-09-27    184.000000
2010-09-28    186.369995
Name: Close, dtype: float64
20100930
Date
2010-09-29    184.000000
2010-09-30    185.270004
Name: Close, dtype: float64 Date
2010-12-28    195.149994
2010-12-29    195.110001
Name: Close, dtype: float64
20101231
Date
2010-12-30    192.020004
2010-12-31    189.050003
Name: Close, dtype: float64 Date
2011-03-30    199.970001
2011-03-31    200.580002
Name: Close, dtype: float64
20110331
Date
2011-03-30    199.970001
2011-03-31    200.580002
Name: Close, dtype: float64 Date
2011-06-28    183.100006
2011-06-29    187.279999
Name: Close, dtype: float64
20110630
Date
2011-06-29    187.279999
2011-06-30    187.220001
Name: Close, dtype: float64 Date
2011-09-27    148.899994
2011-09-28    143.300003
Name: Close, dtype: float64
20110930
Date
2011-09-29    146.449997
2011-09-30    143.539993
Name: Close, dtype: float64 Date
2011-12-28    175.110001
2011-12-29    177.089996
Name: Close, dtype: float64
20111231
Date
2011-12-30    174.990005
Name: Close, dtype: float64 Date
2012-03-29    183.080002
2012-03-30    182.690002
Name: Close, dtype: float64
20120331
Date
2012-03-30    182.690002
Name: Close, dtype: float64 Date
2012-06-28    163.889999
2012-06-29    166.649994
Name: Close, dtype: float64
20120630
Date
2012-06-29    166.649994
Name: Close, dtype: float64 Date
2012-09-27    162.009995
2012-09-28    162.899994
Name: Close, dtype: float64
20120930
Date
2012-10-01    164.470001
Name: Close, dtype: float64 Date
2012-12-31    163.5
Name: Close, dtype: float64
20121231
Date
2012-12-31    163.5
Name: Close, dtype: float64 Date
2013-04-01    180.899994
Name: Close, dtype: float64
20130331
Date
2013-04-01    180.899994
Name: Close, dtype: float64 Date
2013-07-01    194.940002
Name: Close, dtype: float64
20130630
Date
2013-07-01    194.940002
Name: Close, dtype: float64 Date
2013-09-30    205.600006
Name: Close, dtype: float64
20130930
Date
2013-09-30    205.600006
Name: Close, dtype: float64 Date
2013-12-30    221.399994
Name: Close, dtype: float64
20131231
Date
2013-12-30    221.399994
2013-12-31    222.630005
Name: Close, dtype: float64 Date
2014-03-31    240.75
Name: Close, dtype: float64
20140331
Date
2014-03-31    240.75
Name: Close, dtype: float64 Date
2014-06-30    245
Name: Close, dtype: int64
20140630
Date
2014-06-30    245
Name: Close, dtype: int64 Date
2014-09-29    218.440002
Name: Close, dtype: float64
20140930
Date
2014-09-29    218.440002
2014-09-30    216.630005
Name: Close, dtype: float64 Date
2014-12-29    255.009995
Name: Close, dtype: float64
20141231
Date
2014-12-30    254.990005
2014-12-31    252.789993
Name: Close, dtype: float64 Date
2015-03-30    259.140015
2015-03-31    259.690002
Name: Close, dtype: float64
20150331
Date
2015-03-30    259.140015
2015-03-31    259.690002
Name: Close, dtype: float64 Date
2015-06-29    261.649994
Name: Close, dtype: float64
20150630
Date
2015-06-29    261.649994
2015-06-30    263.040009
Name: Close, dtype: float64 Date
2015-09-28    217.839996
Name: Close, dtype: float64
20150930
Date
2015-09-29    220.690002
2015-09-30    226.000000
Name: Close, dtype: float64 Date
2015-12-28    258.410004
2015-12-29    262.690002
Name: Close, dtype: float64
20151231
Date
2015-12-30    261.079987
2015-12-31    258.170013
Name: Close, dtype: float64 Date
2016-03-29    253.289993
2016-03-30    253.169998
Name: Close, dtype: float64
20160331
Date
2016-03-30    253.169998
2016-03-31    251.070007
Name: Close, dtype: float64 Date
2016-06-28    236.470001
2016-06-29    245.199997
Name: Close, dtype: float64
20160630
Date
2016-06-29    245.199997
2016-06-30    258.910004
Name: Close, dtype: float64 Date
2016-09-27    285.470001
2016-09-28    287.399994
Name: Close, dtype: float64
20160930
Date
2016-09-29    286.910004
2016-09-30    293.890015
Name: Close, dtype: float64 Date
2016-12-28    362.010010
2016-12-29    356.190002
Name: Close, dtype: float64
20161231
Date
2016-12-30    355
Name: Close, dtype: int64 Date
2017-03-30    340.109985
2017-03-31    335.369995
Name: Close, dtype: float64
20170331
Date
2017-03-30    340.109985
2017-03-31    335.369995
Name: Close, dtype: float64 Date
2017-06-28    369.769989
2017-06-29    374.399994
Name: Close, dtype: float64
20170630
Date
2017-06-29    374.399994
2017-06-30    372.700012
Name: Close, dtype: float64 Date
2017-09-27    372.720001
2017-09-28    369.230011
Name: Close, dtype: float64
20170930
Date
2017-09-29    373.890015
Name: Close, dtype: float64 Date
2017-12-28    404.799988
2017-12-29    403.000000
Name: Close, dtype: float64
20171231
Date
2018-01-02    404.5
Name: Close, dtype: float64 Date
2018-04-02    405.769989
Name: Close, dtype: float64
20180331
Date
2018-04-02    405.769989
Name: Close, dtype: float64 Date
2018-07-02    406.279999
Name: Close, dtype: float64
20180630
Date
2018-06-29    403.299988
Name: Close, dtype: float64 Date
2018-09-27    452.470001
2018-09-28    452.279999
Name: Close, dtype: float64
20180930
Date
2018-10-01    451.299988
Name: Close, dtype: float64 Date
2018-12-31    377.049988
Name: Close, dtype: float64
20181231
Date
2018-12-31    377.049988
Name: Close, dtype: float64 Date
2019-04-01    422.209991
Name: Close, dtype: float64
20190331
Date
2019-04-01    422.209991
Name: Close, dtype: float64 Date
2019-07-01    453.209991
Name: Close, dtype: float64
20190630
Date
2019-07-01    453.209991
Name: Close, dtype: float64 Date
2019-09-30    471.549988
Name: Close, dtype: float64
20190930
Date
2019-09-30    471.549988
Name: Close, dtype: float64 Date
2019-12-30    533.799988
Name: Close, dtype: float64
20191231
Date
2019-12-30    533.799988
2019-12-31    532.210022
Name: Close, dtype: float64 Date
2020-03-30    326.059998
Name: Close, dtype: float64
20030331
error
20030331
Date
2003-03-31    5.5
Name: Close, dtype: float64 Date
2003-06-30    4.51
Name: Close, dtype: float64
20030630
Date
2003-06-30    4.51
Name: Close, dtype: float64 Date
2003-09-29    5
Name: Close, dtype: int64
20031231
Date
2003-12-30    4.16
2003-12-31    4.06
Name: Close, dtype: float64 Date
2004-03-29    4.68
2004-03-30    4.71
Name: Close, dtype: float64
20040331
Date
2004-03-30    4.71
2004-03-31    4.90
Name: Close, dtype: float64 Date
2004-06-28    8.21
2004-06-29    8.49
Name: Close, dtype: float64
20040630
Date
2004-06-29    8.49
2004-06-30    8.65
Name: Close, dtype: float64 Date
2004-09-27    6.50
2004-09-28    6.42
Name: Close, dtype: float64
20040930
Date
2004-09-29    6.55
2004-09-30    6.48
Name: Close, dtype: float64 Date
2004-12-28    7.58
2004-12-29    7.41
Name: Close, dtype: float64
20041231
Date
2004-12-30    7.36
2004-12-31    7.20
Name: Close, dtype: float64 Date
2005-03-30    4.56
2005-03-31    4.41
Name: Close, dtype: float64
20050331
Date
2005-03-30    4.56
2005-03-31    4.41
Name: Close, dtype: float64 Date
2005-06-28    3.76
2005-06-29    3.80
Name: Close, dtype: float64
20050630
Date
2005-06-29    3.80
2005-06-30    3.65
Name: Close, dtype: float64 Date
2005-09-27    3.02
2005-09-28    3.05
Name: Close, dtype: float64
20050930
Date
2005-09-29    2.99
2005-09-30    2.80
Name: Close, dtype: float64 Date
2005-12-28    2.37
2005-12-29    2.34
Name: Close, dtype: float64
20051231
Date
2005-12-30    2.28
Name: Close, dtype: float64 Date
2006-03-30    1.98
2006-03-31    2.07
Name: Close, dtype: float64
20060331
Date
2006-03-30    1.98
2006-03-31    2.07
Name: Close, dtype: float64 Date
2006-06-28    3.54
2006-06-29    3.75
Name: Close, dtype: float64
20060630
Date
2006-06-29    3.75
2006-06-30    3.79
Name: Close, dtype: float64 Date
2006-09-27    3.82
2006-09-28    3.71
Name: Close, dtype: float64
20060930
Date
2006-09-29    3.66
Name: Close, dtype: float64 Date
2006-12-28    4.33
2006-12-29    4.33
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    4.74
Name: Close, dtype: float64 Date
2007-06-28    4.99
2007-06-29    4.84
Name: Close, dtype: float64
20070630

Date
2007-06-29    4.84
Name: Close, dtype: float64 Date
2007-09-27    4.59
2007-09-28    4.52
Name: Close, dtype: float64
20070930
Date
2007-10-01    4.82
Name: Close, dtype: float64 Date
2007-12-31    3.69
Name: Close, dtype: float64
20071231
Date
2007-12-31    3.69
Name: Close, dtype: float64 Date
2008-03-31    2.92
Name: Close, dtype: float64
20080331
Date
2008-03-31    2.92
Name: Close, dtype: float64 Date
2008-06-30    2.02
Name: Close, dtype: float64
20080630
Date
2008-06-30    2.02
Name: Close, dtype: float64 Date
2008-09-29    2.21
Name: Close, dtype: float64
20080930
Date
2008-09-29    2.21
2008-09-30    2.50
Name: Close, dtype: float64 Date
2008-12-29    1.03
Name: Close, dtype: float64
20081231
Date
2008-12-30    1.03
2008-12-31    1.14
Name: Close, dtype: float64 Date
2009-03-30    0.88
2009-03-31    0.87
Name: Close, dtype: float64
20090331
Date
2009-03-30    0.88
2009-03-31    0.87
Name: Close, dtype: float64 Date
2009-06-29    1.78
Name: Close, dtype: float64
20090630
Date
2009-06-29    1.78
2009-06-30    1.83
Name: Close, dtype: float64 Date
2009-09-28    2.3
Name: Close, dtype: float64
20090930
Date
2009-09-29    2.28
2009-09-30    2.31
Name: Close, dtype: float64 Date
2009-12-28    3.53
2009-12-29    3.64
Name: Close, dtype: float64
20091231
Date
2009-12-30    3.60
2009-12-31    3.47
Name: Close, dtype: float64 Date
2010-03-30    3.83
2010-03-31    3.61
Name: Close, dtype: float64
20100331
Date
2010-03-30    3.83
2010-03-31    3.61
Name: Close, dtype: float64 Date
2010-06-28    3.28
2010-06-29    3.16
Name: Close, dtype: float64
20100630
Date
2010-06-29    3.16
2010-06-30    3.15
Name: Close, dtype: float64 Date
2010-09-27    3.24
2010-09-28    3.39
Name: Close, dtype: float64
20100930
Date
2010-09-29    3.32
2010-09-30    3.34
Name: Close, dtype: float64 Date
2010-12-28    3.95
2010-12-29    3.95
Name: Close, dtype: float64
20101231
Date
2010-12-30    3.97
2010-12-31    3.89
Name: Close, dtype: float64 Date
2011-03-30    5.44
2011-03-31    5.42
Name: Close, dtype: float64
20110331
Date
2011-03-30    5.44
2011-03-31    5.42
Name: Close, dtype: float64 Date
2011-06-28    5.43
2011-06-29    5.45
Name: Close, dtype: float64
20110630
Date
2011-06-29    5.45
2011-06-30    5.44
Name: Close, dtype: float64 Date
2011-09-27    3.91
2011-09-28    3.62
Name: Close, dtype: float64
20110930
Date
2011-09-29    3.70
2011-09-30    3.45
Name: Close, dtype: float64 Date
2011-12-28    4.12
2011-12-29    4.22
Name: Close, dtype: float64
20111231
Date
2011-12-30    4.26
Name: Close, dtype: float64 Date
2012-03-29    5.60
2012-03-30    5.52
Name: Close, dtype: float64
20120331
Date
2012-03-30    5.52
Name: Close, dtype: float64 Date
2012-06-28    5.23
2012-06-29    5.50
Name: Close, dtype: float64
20120630
Date
2012-06-29    5.5
Name: Close, dtype: float64 Date
2012-09-27    5.80
2012-09-28    5.81
Name: Close, dtype: float64
20120930
Date
2012-10-01    5.72
Name: Close, dtype: float64 Date
2012-12-31    6.46
Name: Close, dtype: float64
20121231
Date
2012-12-31    6.46
Name: Close, dtype: float64 Date
2013-04-01    7.41
Name: Close, dtype: float64
20130331
Date
2013-04-01    7.41
Name: Close, dtype: float64 Date
2013-07-01    7.91
Name: Close, dtype: float64
20130630
Date
2013-07-01    7.91
Name: Close, dtype: float64 Date
2013-09-30    8.56
Name: Close, dtype: float64
20130930
Date
2013-09-30    8.56
Name: Close, dtype: float64 Date
2013-12-30    9.56
Name: Close, dtype: float64
20131231
Date
2013-12-30    9.56
2013-12-31    9.60
Name: Close, dtype: float64 Date
2014-03-31    10.16
Name: Close, dtype: float64
20140331
Date
2014-03-31    10.16
Name: Close, dtype: float64 Date
2014-06-30    11.7
Name: Close, dtype: float64
20140630
Date
2014-06-30    11.7
Name: Close, dtype: float64 Date
2014-09-29    12.51
Name: Close, dtype: float64
20140930
Date
2014-09-29    12.51
2014-09-30    12.43
Name: Close, dtype: float64 Date
2014-12-29    13.92
Name: Close, dtype: float64
20141231
Date
2014-12-30    13.83
2014-12-31    13.62
Name: Close, dtype: float64 Date
2015-03-30    14.58
2015-03-31    14.54
Name: Close, dtype: float64
20150331
Date
2015-03-30    14.58
2015-03-31    14.54
Name: Close, dtype: float64 Date
2015-06-29    13.61
Name: Close, dtype: float64
20150630
Date
2015-06-29    13.61
2015-06-30    13.93
Name: Close, dtype: float64 Date
2015-09-28    13.11
Name: Close, dtype: float64
20150930
Date
2015-09-29    12.71
2015-09-30    12.79
Name: Close, dtype: float64 Date
2015-12-28    12.69
2015-12-29    12.82
Name: Close, dtype: float64
20151231
Date
2015-12-30    12.87
2015-12-31    12.83
Name: Close, dtype: float64 Date
2016-03-29    12.99
2016-03-30    12.88
Name: Close, dtype: float64
20160331
Date
2016-03-30    12.88
2016-03-31    12.85
Name: Close, dtype: float64 Date
2016-06-28    12.11
2016-06-29    12.35
Name: Close, dtype: float64
20160630
Date
2016-06-29    12.35
2016-06-30    12.54
Name: Close, dtype: float64 Date
2016-09-27    13.86
2016-09-28    13.89
Name: Close, dtype: float64
20160930
Date
2016-09-29    13.61
2016-09-30    13.99
Name: Close, dtype: float64 Date
2016-12-28    12.41
2016-12-29    12.53
Name: Close, dtype: float64
20161231
Date
2016-12-30    12.48
Name: Close, dtype: float64 Date
2017-03-30    12.82
2017-03-31    12.87
Name: Close, dtype: float64
20170331
Date
2017-03-30    12.82
2017-03-31    12.87
Name: Close, dtype: float64 Date
2017-06-28    13.81
2017-06-29    13.71
Name: Close, dtype: float64
20170630
Date
2017-06-29    13.71
2017-06-30    13.78
Name: Close, dtype: float64 Date
2017-09-27    13.71
2017-09-28    13.86
Name: Close, dtype: float64
20170930
Date
2017-09-29    13.95
Name: Close, dtype: float64 Date
2017-12-28    15.44
2017-12-29    15.45
Name: Close, dtype: float64
20171231
Date
2018-01-02    15.75
Name: Close, dtype: float64 Date
2018-04-02    15.04
Name: Close, dtype: float64
20180331
Date
2018-04-02    15.04
Name: Close, dtype: float64 Date
2018-07-02    14.59
Name: Close, dtype: float64
20180630
Date
2018-06-29    14.51
Name: Close, dtype: float64 Date
2018-09-27    14.00
2018-09-28    14.01
Name: Close, dtype: float64
20180930
Date
2018-10-01    14.05
Name: Close, dtype: float64 Date
2018-12-31    10.64
Name: Close, dtype: float64
20181231
Date
2018-12-31    10.64
Name: Close, dtype: float64 Date
2019-04-01    12.78
Name: Close, dtype: float64
20190331
Date
2019-04-01    12.78
Name: Close, dtype: float64 Date
2019-07-01    14.07
Name: Close, dtype: float64
20190630
Date
2019-07-01    14.07
Name: Close, dtype: float64 Date
2019-09-30    14.75
Name: Close, dtype: float64
20190930
Date
2019-09-30    14.75
Name: Close, dtype: float64 Date
2019-12-30    16.620001
Name: Close, dtype: float64
20191231
Date
2019-12-30    16.620001
2019-12-31    16.650000
Name: Close, dtype: float64 Date
2020-03-30    12.31
Name: Close, dtype: float64
20030331
Date
2003-03-31    1.78
Name: Close, dtype: float64 Date
2003-06-30    3
Name: Close, dtype: int64
20030630
Date
2003-06-30    3
Name: Close, dtype: int64 Date
2003-09-29    4.25
Name: Close, dtype: float64
20030930
Date
2003-09-29    4.25
2003-09-30    4.45
Name: Close, dtype: float64 Date
2003-12-29    6.445
Name: Close, dtype: float64
20031231
Date
2003-12-30    6.000
2003-12-31    6.035
Name: Close, dtype: float64 Date
2004-03-29    8.905
2004-03-30    8.980
Name: Close, dtype: float64
20040331
Date
2004-03-30    8.980
2004-03-31    9.015
Name: Close, dtype: float64 Date
2004-06-28    8.275
2004-06-29    7.930
Name: Close, dtype: float64
20040630
Date
2004-06-29    7.93
2004-06-30    8.05
Name: Close, dtype: float64 Date
2004-09-27    8.555
2004-09-28    8.890
Name: Close, dtype: float64
20040930
Date
2004-09-29    8.540
2004-09-30    8.905
Name: Close, dtype: float64 Date
2004-12-28    6.310
2004-12-29    6.365
Name: Close, dtype: float64
20041231
Date
2004-12-30    6.265
2004-12-31    6.275
Name: Close, dtype: float64 Date
2005-03-30    7.08
2005-03-31    6.85
Name: Close, dtype: float64
20050331
Date
2005-03-30    7.08
2005-03-31    6.85
Name: Close, dtype: float64 Date
2005-06-28    8.65
2005-06-29    8.43
Name: Close, dtype: float64
20050630
Date
2005-06-29    8.43
2005-06-30    8.29
Name: Close, dtype: float64 Date
2005-09-27    10.32
2005-09-28    10.26
Name: Close, dtype: float64
20050930

Date
2005-09-29    10.605
2005-09-30    10.715
Name: Close, dtype: float64 Date
2005-12-28    17.91
2005-12-29    17.66
Name: Close, dtype: float64
20051231
Date
2005-12-30    17.799999
Name: Close, dtype: float64 Date
2006-03-30    18.684999
2006-03-31    19.555000
Name: Close, dtype: float64
20060331
Date
2006-03-30    18.684999
2006-03-31    19.555000
Name: Close, dtype: float64 Date
2006-06-28    19.725
2006-06-29    20.920
Name: Close, dtype: float64
20060630
Date
2006-06-29    20.920
2006-06-30    20.875
Name: Close, dtype: float64 Date
2006-09-27    24.639999
2006-09-28    24.915001
Name: Close, dtype: float64
20060930
Date
2006-09-29    24.264999
Name: Close, dtype: float64 Date
2006-12-28    32.009998
2006-12-29    31.715000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    40.490002
Name: Close, dtype: float64 Date
2007-06-28    48.529999
2007-06-29    48.040001
Name: Close, dtype: float64
20070630
Date
2007-06-29    48.040001
Name: Close, dtype: float64 Date
2007-09-27    49.099998
2007-09-28    49.029999
Name: Close, dtype: float64
20070930
Date
2007-10-01    49.970001
Name: Close, dtype: float64 Date
2007-12-31    37.889999
Name: Close, dtype: float64
20071231
Date
2007-12-31    37.889999
Name: Close, dtype: float64 Date
2008-03-31    40.470001
Name: Close, dtype: float64
20080331
Date
2008-03-31    40.470001
Name: Close, dtype: float64 Date
2008-06-30    37.450001
Name: Close, dtype: float64
20080630
Date
2008-06-30    37.450001
Name: Close, dtype: float64 Date
2008-09-29    34.23
Name: Close, dtype: float64
20080930
Date
2008-09-29    34.230000
2008-09-30    34.790001
Name: Close, dtype: float64 Date
2008-12-29    14.51
Name: Close, dtype: float64
20081231
Date
2008-12-30    15.09
2008-12-31    15.35
Name: Close, dtype: float64 Date
2009-03-30    19.799999
2009-03-31    21.080000
Name: Close, dtype: float64
20090331
Date
2009-03-30    19.799999
2009-03-31    21.080000
Name: Close, dtype: float64 Date
2009-06-29    26.15
Name: Close, dtype: float64
20090630
Date
2009-06-29    26.150000
2009-06-30    25.780001
Name: Close, dtype: float64 Date
2009-09-28    36.779999
Name: Close, dtype: float64
20090930
Date
2009-09-29    37.430000
2009-09-30    37.040001
Name: Close, dtype: float64 Date
2009-12-28    42.830002
2009-12-29    42.680000
Name: Close, dtype: float64
20091231
Date
2009-12-30    42.700001
2009-12-31    42.299999
Name: Close, dtype: float64 Date
2010-03-30    47.119999
2010-03-31    46.980000
Name: Close, dtype: float64
20100331
Date
2010-03-30    47.119999
2010-03-31    46.980000
Name: Close, dtype: float64 Date
2010-06-28    32.450001
2010-06-29    31.559999
Name: Close, dtype: float64
20100630
Date
2010-06-29    31.559999
2010-06-30    31.240000
Name: Close, dtype: float64 Date
2010-09-27    39.689999
2010-09-28    40.250000
Name: Close, dtype: float64
20100930
Date
2010-09-29    40.450001
2010-09-30    40.630001
Name: Close, dtype: float64 Date
2010-12-28    47.060001
2010-12-29    47.259998
Name: Close, dtype: float64
20101231
Date
2010-12-30    48.040001
2010-12-31    47.320000
Name: Close, dtype: float64 Date
2011-03-30    39.169998
2011-03-31    39.349998
Name: Close, dtype: float64
20110331
Date
2011-03-30    39.169998
2011-03-31    39.349998
Name: Close, dtype: float64 Date
2011-06-28    41.779999
2011-06-29    41.930000
Name: Close, dtype: float64
20110630
Date
2011-06-29    41.930000
2011-06-30    42.060001
Name: Close, dtype: float64 Date
2011-09-27    30.440001
2011-09-28    29.070000
Name: Close, dtype: float64
20110930
Date
2011-09-29    29.129999
2011-09-30    28.490000
Name: Close, dtype: float64 Date
2011-12-28    29.580000
2011-12-29    29.879999
Name: Close, dtype: float64
20111231
Date
2011-12-30    29.82
Name: Close, dtype: float64 Date
2012-03-29    31.49
2012-03-30    31.25
Name: Close, dtype: float64
20120331
Date
2012-03-30    31.25
Name: Close, dtype: float64 Date
2012-06-28    28.950001
2012-06-29    30.370001
Name: Close, dtype: float64
20120630
Date
2012-06-29    30.370001
Name: Close, dtype: float64 Date
2012-09-27    25.85
2012-09-28    25.42
Name: Close, dtype: float64
20120930
Date
2012-10-01    25.309999
Name: Close, dtype: float64 Date
2012-12-31    24.540001
Name: Close, dtype: float64
20121231
Date
2012-12-31    24.540001
Name: Close, dtype: float64 Date
2013-04-01    24.709999
Name: Close, dtype: float64
20130331
Date
2013-04-01    24.709999
Name: Close, dtype: float64 Date
2013-07-01    30.959999
Name: Close, dtype: float64
20130630
Date
2013-07-01    30.959999
Name: Close, dtype: float64 Date
2013-09-30    29.85
Name: Close, dtype: float64
20130930
Date
2013-09-30    29.85
Name: Close, dtype: float64 Date
2013-12-30    31.34
Name: Close, dtype: float64
20131231
Date
2013-12-30    31.34
2013-12-31    31.07
Name: Close, dtype: float64 Date
2014-03-31    27.6
Name: Close, dtype: float64
20140331
Date
2014-03-31    27.6
Name: Close, dtype: float64 Date
2014-06-30    27
Name: Close, dtype: int64
20140630
Date
2014-06-30    27
Name: Close, dtype: int64 Date
2014-09-29    22.280001
Name: Close, dtype: float64
20140930
Date
2014-09-29    22.280001
2014-09-30    21.969999
Name: Close, dtype: float64 Date
2014-12-29    21.059999
Name: Close, dtype: float64
20141231
Date
2014-12-30    21.139999
2014-12-31    21.080000
Name: Close, dtype: float64 Date
2015-03-30    18.889999
2015-03-31    18.590000
Name: Close, dtype: float64
20150331
Date
2015-03-30    18.889999
2015-03-31    18.590000
Name: Close, dtype: float64 Date
2015-06-29    19.33
Name: Close, dtype: float64
20150630
Date
2015-06-29    19.33
2015-06-30    19.17
Name: Close, dtype: float64 Date
2015-09-28    20.84
Name: Close, dtype: float64
20150930
Date
2015-09-29    21.000000
2015-09-30    21.360001
Name: Close, dtype: float64 Date
2015-12-28    19.000000
2015-12-29    19.450001
Name: Close, dtype: float64
20151231
Date
2015-12-30    19.100000
2015-12-31    18.879999
Name: Close, dtype: float64 Date
2016-03-29    18.790001
2016-03-30    18.820000
Name: Close, dtype: float64
20160331
Date
2016-03-30    18.82
2016-03-31    18.77
Name: Close, dtype: float64 Date
2016-06-28    14.29
2016-06-29    14.65
Name: Close, dtype: float64
20160630
Date
2016-06-29    14.65
2016-06-30    15.05
Name: Close, dtype: float64 Date
2016-09-27    14.25
2016-09-28    14.18
Name: Close, dtype: float64
20160930
Date
2016-09-29    14.36
2016-09-30    14.61
Name: Close, dtype: float64 Date
2016-12-28    12.28
2016-12-29    12.15
Name: Close, dtype: float64
20161231
Date
2016-12-30    12.1
Name: Close, dtype: float64 Date
2017-03-30    11.13
2017-03-31    11.15
Name: Close, dtype: float64
20170331
Date
2017-03-30    11.13
2017-03-31    11.15
Name: Close, dtype: float64 Date
2017-06-28    12.3
2017-06-29    12.8
Name: Close, dtype: float64
20170630
Date
2017-06-29    12.80
2017-06-30    12.78
Name: Close, dtype: float64 Date
2017-09-27    17.440001
2017-09-28    17.360001
Name: Close, dtype: float64
20170930
Date
2017-09-29    17.030001
Name: Close, dtype: float64 Date
2017-12-28    17.139999
2017-12-29    16.879999
Name: Close, dtype: float64
20171231
Date
2018-01-02    17.139999
Name: Close, dtype: float64 Date
2018-04-02    20.879999
Name: Close, dtype: float64
20180331
Date
2018-04-02    20.879999
Name: Close, dtype: float64 Date
2018-07-02    21.559999
Name: Close, dtype: float64
20180630
Date
2018-06-29    21.4
Name: Close, dtype: float64 Date
2018-09-27    22.6
2018-09-28    22.6
Name: Close, dtype: float64
20180930
Date
2018-10-01    22.17
Name: Close, dtype: float64 Date
2018-12-31    20.77
Name: Close, dtype: float64
20181231
Date
2018-12-31    20.77
Name: Close, dtype: float64 Date
2019-04-01    19.620001
Name: Close, dtype: float64
20190331
Date
2019-04-01    19.620001
Name: Close, dtype: float64 Date
2019-07-01    16.07
Name: Close, dtype: float64
20190630
Date
2019-07-01    16.07
Name: Close, dtype: float64 Date
2019-09-30    18.530001
Name: Close, dtype: float64
20190930
Date
2019-09-30    18.530001
Name: Close, dtype: float64 Date
2019-12-30    22.309999
Name: Close, dtype: float64
20191231
Date
2019-12-30    22.309999
2019-12-31    22.379999
Name: Close, dtype: float64 Date
2020-03-30    6.81
Name: Close, dtype: float64
20030331

Date
2003-03-31    10.925
Name: Close, dtype: float64 Date
2003-06-30    9.35
Name: Close, dtype: float64
20030630
Date
2003-06-30    9.35
Name: Close, dtype: float64 Date
2003-09-29    11.9
Name: Close, dtype: float64
20030930
Date
2003-09-29    11.900
2003-09-30    11.805
Name: Close, dtype: float64 Date
2003-12-29    11.995
Name: Close, dtype: float64
20031231
Date
2003-12-30    12.235
2003-12-31    11.945
Name: Close, dtype: float64 Date
2004-03-29    15.650
2004-03-30    15.595
Name: Close, dtype: float64
20040331
Date
2004-03-30    15.595
2004-03-31    15.725
Name: Close, dtype: float64 Date
2004-06-28    14.280
2004-06-29    14.475
Name: Close, dtype: float64
20040630
Date
2004-06-29    14.475
2004-06-30    14.825
Name: Close, dtype: float64 Date
2004-09-27    15.35
2004-09-28    16.09
Name: Close, dtype: float64
20040930
Date
2004-09-29    16.10
2004-09-30    16.42
Name: Close, dtype: float64 Date
2004-12-28    18.480000
2004-12-29    18.325001
Name: Close, dtype: float64
20041231
Date
2004-12-30    18.195
2004-12-31    18.105
Name: Close, dtype: float64 Date
2005-03-30    21.41
2005-03-31    21.08
Name: Close, dtype: float64
20050331
Date
2005-03-30    21.41
2005-03-31    21.08
Name: Close, dtype: float64 Date
2005-06-28    20.975
2005-06-29    20.785
Name: Close, dtype: float64
20050630
Date
2005-06-29    20.785
2005-06-30    20.320
Name: Close, dtype: float64 Date
2005-09-27    22.655001
2005-09-28    23.070000
Name: Close, dtype: float64
20050930
Date
2005-09-29    24.100000
2005-09-30    23.764999
Name: Close, dtype: float64 Date
2005-12-28    24.340
2005-12-29    24.715
Name: Close, dtype: float64
20051231
Date
2005-12-30    24.43
Name: Close, dtype: float64 Date
2006-03-30    25.975
2006-03-31    25.385
Name: Close, dtype: float64
20060331
Date
2006-03-30    25.975
2006-03-31    25.385
Name: Close, dtype: float64 Date
2006-06-28    23.504999
2006-06-29    23.700001
Name: Close, dtype: float64
20060630
Date
2006-06-29    23.700001
2006-06-30    23.254999
Name: Close, dtype: float64 Date
2006-09-27    23.655001
2006-09-28    23.445000
Name: Close, dtype: float64
20060930
Date
2006-09-29    23.4
Name: Close, dtype: float64 Date
2006-12-28    22.57
2006-12-29    22.51
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    23.375
Name: Close, dtype: float64 Date
2007-06-28    26.309999
2007-06-29    26.305000
Name: Close, dtype: float64
20070630
Date
2007-06-29    26.305
Name: Close, dtype: float64 Date
2007-09-27    24.605000
2007-09-28    24.709999
Name: Close, dtype: float64
20070930
Date
2007-10-01    24.895
Name: Close, dtype: float64 Date
2007-12-31    31.51
Name: Close, dtype: float64
20071231
Date
2007-12-31    31.51
Name: Close, dtype: float64 Date
2008-03-31    29.790001
Name: Close, dtype: float64
20080331
Date
2008-03-31    29.790001
Name: Close, dtype: float64 Date
2008-06-30    27.73
Name: Close, dtype: float64
20080630
Date
2008-06-30    27.73
Name: Close, dtype: float64 Date
2008-09-29    30.764999
Name: Close, dtype: float64
20080930
Date
2008-09-29    30.764999
2008-09-30    30.860001
Name: Close, dtype: float64 Date
2008-12-29    27.434999
Name: Close, dtype: float64
20081231
Date
2008-12-30    28.075001
2008-12-31    28.250000
Name: Close, dtype: float64 Date
2009-03-30    27.780001
2009-03-31    27.540001
Name: Close, dtype: float64
20090331
Date
2009-03-30    27.780001
2009-03-31    27.540001
Name: Close, dtype: float64 Date
2009-06-29    28.52
Name: Close, dtype: float64
20090630
Date
2009-06-29    28.52
2009-06-30    28.50
Name: Close, dtype: float64 Date
2009-09-28    28.195
Name: Close, dtype: float64
20090930
Date
2009-09-29    28.290001
2009-09-30    28.059999
Name: Close, dtype: float64 Date
2009-12-28    27.955000
2009-12-29    28.075001
Name: Close, dtype: float64
20091231
Date
2009-12-30    28.070000
2009-12-31    27.575001
Name: Close, dtype: float64 Date
2010-03-30    28.875000
2010-03-31    28.575001
Name: Close, dtype: float64
20100331
Date
2010-03-30    28.875000
2010-03-31    28.575001
Name: Close, dtype: float64 Date
2010-06-28    27.219999
2010-06-29    26.795000
Name: Close, dtype: float64
20100630
Date
2010-06-29    26.795
2010-06-30    26.760
Name: Close, dtype: float64 Date
2010-09-27    28.434999
2010-09-28    28.895000
Name: Close, dtype: float64
20100930
Date
2010-09-29    29.320000
2010-09-30    29.264999
Name: Close, dtype: float64 Date
2010-12-28    31.924999
2010-12-29    31.920000
Name: Close, dtype: float64
20101231
Date
2010-12-30    31.934999
2010-12-31    31.590000
Name: Close, dtype: float64 Date
2011-03-30    32.529999
2011-03-31    32.770000
Name: Close, dtype: float64
20110331
Date
2011-03-30    32.529999
2011-03-31    32.770000
Name: Close, dtype: float64 Date
2011-06-28    32.125
2011-06-29    31.930
Name: Close, dtype: float64
20110630
Date
2011-06-29    31.930000
2011-06-30    32.185001
Name: Close, dtype: float64 Date
2011-09-27    30.025
2011-09-28    29.020
Name: Close, dtype: float64
20110930
Date
2011-09-29    29.495001
2011-09-30    29.240000
Name: Close, dtype: float64 Date
2011-12-28    30.320000
2011-12-29    30.790001
Name: Close, dtype: float64
20111231
Date
2011-12-30    30.610001
Name: Close, dtype: float64 Date
2012-03-29    35.16
2012-03-30    34.84
Name: Close, dtype: float64
20120331
Date
2012-03-30    34.84
Name: Close, dtype: float64 Date
2012-06-28    36.514999
2012-06-29    37.055000
Name: Close, dtype: float64
20120630
Date
2012-06-29    37.055
Name: Close, dtype: float64 Date
2012-09-27    40.009998
2012-09-28    40.099998
Name: Close, dtype: float64
20120930
Date
2012-10-01    40.165001
Name: Close, dtype: float64 Date
2012-12-31    40.84
Name: Close, dtype: float64
20121231
Date
2012-12-31    40.84
Name: Close, dtype: float64 Date
2013-04-01    41.610001
Name: Close, dtype: float64
20130331
Date
2013-04-01    41.610001
Name: Close, dtype: float64 Date
2013-07-01    42.43
Name: Close, dtype: float64
20130630
Date
2013-07-01    42.43
Name: Close, dtype: float64 Date
2013-09-30    39.880001
Name: Close, dtype: float64
20130930
Date
2013-09-30    39.880001
Name: Close, dtype: float64 Date
2013-12-30    42.540001
Name: Close, dtype: float64
20131231
Date
2013-12-30    42.540001
2013-12-31    42.130001
Name: Close, dtype: float64 Date
2014-03-31    32.59
Name: Close, dtype: float64
20140331
Date
2014-03-31    32.59
Name: Close, dtype: float64 Date
2014-06-30    35.279999
Name: Close, dtype: float64
20140630
Date
2014-06-30    35.279999
Name: Close, dtype: float64 Date
2014-09-29    34.810001
Name: Close, dtype: float64
20140930
Date
2014-09-29    34.810001
2014-09-30    34.919998
Name: Close, dtype: float64 Date
2014-12-29    38.880001
Name: Close, dtype: float64
20141231
Date
2014-12-30    38.580002
2014-12-31    37.419998
Name: Close, dtype: float64 Date
2015-03-30    44.970001
2015-03-31    44.919998
Name: Close, dtype: float64
20150331
Date
2015-03-30    44.970001
2015-03-31    44.919998
Name: Close, dtype: float64 Date
2015-06-29    41.34
Name: Close, dtype: float64
20150630
Date
2015-06-29    41.340000
2015-06-30    41.360001
Name: Close, dtype: float64 Date
2015-09-28    33.419998
Name: Close, dtype: float64
20150930
Date
2015-09-29    33.50
2015-09-30    32.32
Name: Close, dtype: float64 Date
2015-12-28    32.68
2015-12-29    32.93
Name: Close, dtype: float64
20151231
Date
2015-12-30    32.910000
2015-12-31    32.240002
Name: Close, dtype: float64 Date
2016-03-29    34.750000
2016-03-30    34.720001
Name: Close, dtype: float64
20160331
Date
2016-03-30    34.720001
2016-03-31    34.980000
Name: Close, dtype: float64 Date
2016-06-28    28.219999
2016-06-29    28.799999
Name: Close, dtype: float64
20160630
Date
2016-06-29    28.799999
2016-06-30    28.990000
Name: Close, dtype: float64 Date
2016-09-27    36.740002
2016-09-28    36.580002
Name: Close, dtype: float64
20160930
Date
2016-09-29    35.709999
2016-09-30    36.209999
Name: Close, dtype: float64 Date
2016-12-28    39.900002
2016-12-29    39.970001
Name: Close, dtype: float64
20161231
Date
2016-12-30    40.200001
Name: Close, dtype: float64 Date
2017-03-30    40.639999
2017-03-31    40.570000
Name: Close, dtype: float64
20170331
Date
2017-03-30    40.639999
2017-03-31    40.570000
Name: Close, dtype: float64 Date
2017-06-28    39.180000
2017-06-29    39.220001
Name: Close, dtype: float64
20170630

Date
2017-06-29    39.220001
2017-06-30    39.490002
Name: Close, dtype: float64 Date
2017-09-27    43.41
2017-09-28    43.25
Name: Close, dtype: float64
20170930
Date
2017-09-29    44.869999
Name: Close, dtype: float64 Date
2017-12-28    58.320000
2017-12-29    58.080002
Name: Close, dtype: float64
20171231
Date
2018-01-02    63.099998
Name: Close, dtype: float64 Date
2018-04-02    72.160004
Name: Close, dtype: float64
20180331
Date
2018-04-02    72.160004
Name: Close, dtype: float64 Date
2018-07-02    89.959999
Name: Close, dtype: float64
20180630
Date
2018-06-29    89.68
Name: Close, dtype: float64 Date
2018-09-27    113.150002
2018-09-28    114.580002
Name: Close, dtype: float64
20180930
Date
2018-10-01    116.629997
Name: Close, dtype: float64 Date
2018-12-31    100.050003
Name: Close, dtype: float64
20181231
Date
2018-12-31    100.050003
Name: Close, dtype: float64 Date
2019-04-01    89.75
Name: Close, dtype: float64
20190331
Date
2019-04-01    89.75
Name: Close, dtype: float64 Date
2019-07-01    120.190002
Name: Close, dtype: float64
20190630
Date
2019-07-01    120.190002
Name: Close, dtype: float64 Date
2019-09-30    126.139999
Name: Close, dtype: float64
20190930
Date
2019-09-30    126.139999
Name: Close, dtype: float64 Date
2019-12-30    114.370003
Name: Close, dtype: float64
20191231
Date
2019-12-30    114.370003
2019-12-31    114.900002
Name: Close, dtype: float64 Date
2020-03-30    101.93
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    7.3475
Name: Close, dtype: float64 Date
2007-06-28    6.8750
2007-06-29    6.7575
Name: Close, dtype: float64
20070630
Date
2007-06-29    6.7575
Name: Close, dtype: float64 Date
2007-09-27    7.050
2007-09-28    7.015
Name: Close, dtype: float64
20070930
Date
2007-10-01    7.2425
Name: Close, dtype: float64 Date
2007-12-31    6.7925
Name: Close, dtype: float64
20071231
Date
2007-12-31    6.7925
Name: Close, dtype: float64 Date
2008-03-31    7.3
Name: Close, dtype: float64
20080331
Date
2008-03-31    7.3
Name: Close, dtype: float64 Date
2008-06-30    6.785
Name: Close, dtype: float64
20080630
Date
2008-06-30    6.785
Name: Close, dtype: float64 Date
2008-09-29    5.36
Name: Close, dtype: float64
20080930
Date
2008-09-29    5.3600
2008-09-30    5.4375
Name: Close, dtype: float64 Date
2008-12-29    3.0075
Name: Close, dtype: float64
20081231
Date
2008-12-30    3.0350
2008-12-31    3.1875
Name: Close, dtype: float64 Date
2009-03-30    2.4500
2009-03-31    2.3925
Name: Close, dtype: float64
20090331
Date
2009-03-30    2.4500
2009-03-31    2.3925
Name: Close, dtype: float64 Date
2009-06-29    3.755
Name: Close, dtype: float64
20090630
Date
2009-06-29    3.7550
2009-06-30    3.7525
Name: Close, dtype: float64 Date
2009-09-28    5.345
Name: Close, dtype: float64
20090930
Date
2009-09-29    5.475
2009-09-30    5.350
Name: Close, dtype: float64 Date
2009-12-28    6.2475
2009-12-29    6.1425
Name: Close, dtype: float64
20091231
Date
2009-12-30    6.0700
2009-12-31    6.0275
Name: Close, dtype: float64 Date
2010-03-30    7.005
2010-03-31    6.955
Name: Close, dtype: float64
20100331
Date
2010-03-30    7.005
2010-03-31    6.955
Name: Close, dtype: float64 Date
2010-06-28    6.2375
2010-06-29    5.9900
Name: Close, dtype: float64
20100630
Date
2010-06-29    5.990
2010-06-30    6.015
Name: Close, dtype: float64 Date
2010-09-27    6.125
2010-09-28    6.160
Name: Close, dtype: float64
20100930
Date
2010-09-29    6.2125
2010-09-30    6.4650
Name: Close, dtype: float64 Date
2010-12-28    6.2450
2010-12-29    6.3275
Name: Close, dtype: float64
20101231
Date
2010-12-30    6.4175
2010-12-31    6.3500
Name: Close, dtype: float64 Date
2011-03-30    6.8725
2011-03-31    6.7600
Name: Close, dtype: float64
20110331
Date
2011-03-30    6.8725
2011-03-31    6.7600
Name: Close, dtype: float64 Date
2011-06-28    7.065
2011-06-29    7.150
Name: Close, dtype: float64
20110630
Date
2011-06-29    7.1500
2011-06-30    7.1375
Name: Close, dtype: float64 Date
2011-09-27    6.555
2011-09-28    6.335
Name: Close, dtype: float64
20110930
Date
2011-09-29    6.4025
2011-09-30    6.2525
Name: Close, dtype: float64 Date
2011-12-28    5.4600
2011-12-29    5.5025
Name: Close, dtype: float64
20111231
Date
2011-12-30    5.465
Name: Close, dtype: float64 Date
2012-03-29    7.390
2012-03-30    7.385
Name: Close, dtype: float64
20120331
Date
2012-03-30    7.385
Name: Close, dtype: float64 Date
2012-06-28    6.7825
2012-06-29    6.9325
Name: Close, dtype: float64
20120630
Date
2012-06-29    6.9325
Name: Close, dtype: float64 Date
2012-09-27    8.0125
2012-09-28    7.9700
Name: Close, dtype: float64
20120930
Date
2012-10-01    7.935
Name: Close, dtype: float64 Date
2012-12-31    8.955
Name: Close, dtype: float64
20121231
Date
2012-12-31    8.955
Name: Close, dtype: float64 Date
2013-04-01    11.3975
Name: Close, dtype: float64
20130331
Date
2013-04-01    11.3975
Name: Close, dtype: float64 Date
2013-07-01    12.995
Name: Close, dtype: float64
20130630
Date
2013-07-01    12.995
Name: Close, dtype: float64 Date
2013-09-30    15.5775
Name: Close, dtype: float64
20130930
Date
2013-09-30    15.5775
Name: Close, dtype: float64 Date
2013-12-30    17.4
Name: Close, dtype: float64
20131231
Date
2013-12-30    17.400000
2013-12-31    17.567499
Name: Close, dtype: float64 Date
2014-03-31    19.120001
Name: Close, dtype: float64
20140331
Date
2014-03-31    19.120001
Name: Close, dtype: float64 Date
2014-06-30    24.610001
Name: Close, dtype: float64
20140630
Date
2014-06-30    24.610001
Name: Close, dtype: float64 Date
2014-09-29    27.0375
Name: Close, dtype: float64
20140930
Date
2014-09-29    27.037500
2014-09-30    26.860001
Name: Close, dtype: float64 Date
2014-12-29    28.1175
Name: Close, dtype: float64
20141231
Date
2014-12-30    28.117500
2014-12-31    27.905001
Name: Close, dtype: float64 Date
2015-03-30    33.660000
2015-03-31    33.509998
Name: Close, dtype: float64
20150331
Date
2015-03-30    33.660000
2015-03-31    33.509998
Name: Close, dtype: float64 Date
2015-06-29    33.380001
Name: Close, dtype: float64
20150630
Date
2015-06-29    33.380001
2015-06-30    33.320000
Name: Close, dtype: float64 Date
2015-09-28    28.48
Name: Close, dtype: float64
20150930
Date
2015-09-29    28.030001
2015-09-30    28.940001
Name: Close, dtype: float64 Date
2015-12-28    28.879999
2015-12-29    29.379999
Name: Close, dtype: float64
20151231
Date
2015-12-30    29.08
2015-12-31    29.43
Name: Close, dtype: float64 Date
2016-03-29    28.35
2016-03-30    28.48
Name: Close, dtype: float64
20160331
Date
2016-03-30    28.48
2016-03-31    28.34
Name: Close, dtype: float64 Date
2016-06-28    25.820000
2016-06-29    26.299999
Name: Close, dtype: float64
20160630
Date
2016-06-29    26.299999
2016-06-30    25.129999
Name: Close, dtype: float64 Date
2016-09-27    25.68
2016-09-28    25.59
Name: Close, dtype: float64
20160930
Date
2016-09-29    25.16
2016-09-30    25.25
Name: Close, dtype: float64 Date
2016-12-28    21.530001
2016-12-29    21.650000
Name: Close, dtype: float64
20161231
Date
2016-12-30    21.57
Name: Close, dtype: float64 Date
2017-03-30    20.709999
2017-03-31    20.760000
Name: Close, dtype: float64
20170331
Date
2017-03-30    20.709999
2017-03-31    20.760000
Name: Close, dtype: float64 Date
2017-06-28    22.85
2017-06-29    22.99
Name: Close, dtype: float64
20170630
Date
2017-06-29    22.99
2017-06-30    23.16
Name: Close, dtype: float64 Date
2017-09-27    25.190001
2017-09-28    24.490000
Name: Close, dtype: float64
20170930
Date
2017-09-29    24.639999
Name: Close, dtype: float64 Date
2017-12-28    21.030001
2017-12-29    20.910000
Name: Close, dtype: float64
20171231
Date
2018-01-02    21.299999
Name: Close, dtype: float64 Date
2018-04-02    18.18
Name: Close, dtype: float64
20180331
Date
2018-04-02    18.18
Name: Close, dtype: float64 Date
2018-07-02    22.049999
Name: Close, dtype: float64
20180630
Date
2018-06-29    22.02
Name: Close, dtype: float64 Date
2018-09-27    18.129999
2018-09-28    18.430000
Name: Close, dtype: float64
20180930
Date
2018-10-01    17.959999
Name: Close, dtype: float64 Date
2018-12-31    12.53
Name: Close, dtype: float64
20181231
Date
2018-12-31    12.53
Name: Close, dtype: float64 Date
2019-04-01    18.18
Name: Close, dtype: float64
20190331

Date
2019-04-01    18.18
Name: Close, dtype: float64 Date
2019-07-01    16.969999
Name: Close, dtype: float64
20190630
Date
2019-07-01    16.969999
Name: Close, dtype: float64 Date
2019-09-30    15.32
Name: Close, dtype: float64
20190930
Date
2019-09-30    15.32
Name: Close, dtype: float64 Date
2019-12-30    14.74
Name: Close, dtype: float64
20191231
Date
2019-12-30    14.74
2019-12-31    14.85
Name: Close, dtype: float64 Date
2020-03-30    8.06
Name: Close, dtype: float64
20030331
Date
2003-03-31    2.843063
Name: Close, dtype: float64 Date
2003-06-30    2.88097
Name: Close, dtype: float64
20030630
Date
2003-06-30    2.88097
Name: Close, dtype: float64 Date
2003-09-29    5.579985
Name: Close, dtype: float64
20030930
Date
2003-09-29    5.579985
2003-09-30    5.625474
Name: Close, dtype: float64 Date
2003-12-29    7.558757
Name: Close, dtype: float64
20031231
Date
2003-12-30    6.952237
2003-12-31    6.747536
Name: Close, dtype: float64 Date
2004-03-29    6.012130
2004-03-30    6.467021
Name: Close, dtype: float64
20040331
Date
2004-03-30    6.467021
2004-03-31    7.028051
Name: Close, dtype: float64 Date
2004-06-28    3.358605
2004-06-29    3.411675
Name: Close, dtype: float64
20040630
Date
2004-06-29    3.411675
2004-06-30    3.396513
Name: Close, dtype: float64 Date
2004-09-27    3.381350
2004-09-28    3.373768
Name: Close, dtype: float64
20040930
Date
2004-09-29    3.335860
2004-09-30    3.297953
Name: Close, dtype: float64 Date
2004-12-28    3.464746
2004-12-29    3.449583
Name: Close, dtype: float64
20041231
Date
2004-12-30    3.419257
2004-12-31    3.510235
Name: Close, dtype: float64 Date
2005-03-30    2.888552
2005-03-31    2.949204
Name: Close, dtype: float64
20050331
Date
2005-03-30    2.888552
2005-03-31    2.949204
Name: Close, dtype: float64 Date
2005-06-28    2.388173
2005-06-29    2.335102
Name: Close, dtype: float64
20050630
Date
2005-06-29    2.335102
2005-06-30    2.380591
Name: Close, dtype: float64 Date
2005-09-27    2.244124
2005-09-28    2.274450
Name: Close, dtype: float64
20050930
Date
2005-09-29    2.289613
2005-09-30    2.312358
Name: Close, dtype: float64 Date
2005-12-28    3.191812
2005-12-29    3.396513
Name: Close, dtype: float64
20051231
Date
2005-12-30    3.373768
Name: Close, dtype: float64 Date
2006-03-30    3.191812
2006-03-31    3.328279
Name: Close, dtype: float64
20060331
Date
2006-03-30    3.191812
2006-03-31    3.328279
Name: Close, dtype: float64 Date
2006-06-28    3.282790
2006-06-29    3.366187
Name: Close, dtype: float64
20060630
Date
2006-06-29    3.366187
2006-06-30    3.373768
Name: Close, dtype: float64 Date
2006-09-27    3.396513
2006-09-28    3.343442
Name: Close, dtype: float64
20060930
Date
2006-09-29    3.411675
Name: Close, dtype: float64 Date
2006-12-28    3.858984
2006-12-29    3.889310
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    3.654284
Name: Close, dtype: float64 Date
2007-06-28    3.980288
2007-06-29    3.980288
Name: Close, dtype: float64
20070630
Date
2007-06-29    3.980288
Name: Close, dtype: float64 Date
2007-09-27    3.320698
2007-09-28    3.411675
Name: Close, dtype: float64
20070930
Date
2007-10-01    3.396513
Name: Close, dtype: float64 Date
2007-12-31    3.472327
Name: Close, dtype: float64
20071231
Date
2007-12-31    3.472327
Name: Close, dtype: float64 Date
2008-03-31    3.790751
Name: Close, dtype: float64
20080331
Date
2008-03-31    3.790751
Name: Close, dtype: float64 Date
2008-06-30    3.525398
Name: Close, dtype: float64
20080630
Date
2008-06-30    3.525398
Name: Close, dtype: float64 Date
2008-09-29    3.457165
Name: Close, dtype: float64
20080930
Date
2008-09-29    3.457165
2008-09-30    3.525398
Name: Close, dtype: float64 Date
2008-12-29    1.736164
Name: Close, dtype: float64
20081231
Date
2008-12-30    1.652767
2008-12-31    2.009098
Name: Close, dtype: float64 Date
2009-03-30    2.054587
2009-03-31    2.259287
Name: Close, dtype: float64
20090331
Date
2009-03-30    2.054587
2009-03-31    2.259287
Name: Close, dtype: float64 Date
2009-06-29    2.934041
Name: Close, dtype: float64
20090630
Date
2009-06-29    2.934041
2009-06-30    2.994693
Name: Close, dtype: float64 Date
2009-09-28    2.949204
Name: Close, dtype: float64
20090930
Date
2009-09-29    2.888552
2009-09-30    2.873389
Name: Close, dtype: float64 Date
2009-12-28    2.539803
2009-12-29    2.547385
Name: Close, dtype: float64
20091231
Date
2009-12-30    2.645944
2009-12-31    2.706596
Name: Close, dtype: float64 Date
2010-03-30    2.994693
2010-03-31    2.934041
Name: Close, dtype: float64
20100331
Date
2010-03-30    2.994693
2010-03-31    2.934041
Name: Close, dtype: float64 Date
2010-06-28    2.653525
2010-06-29    2.592873
Name: Close, dtype: float64
20100630
Date
2010-06-29    2.592873
2010-06-30    2.699014
Name: Close, dtype: float64 Date
2010-09-27    2.774829
2010-09-28    2.759666
Name: Close, dtype: float64
20100930
Date
2010-09-29    2.683851
2010-09-30    2.880970
Name: Close, dtype: float64 Date
2010-12-28    3.040182
2010-12-29    3.085671
Name: Close, dtype: float64
20101231
Date
2010-12-30    3.078089
2010-12-31    3.093252
Name: Close, dtype: float64 Date
2011-03-30    4.366945
2011-03-31    4.306293
Name: Close, dtype: float64
20110331
Date
2011-03-30    4.366945
2011-03-31    4.306293
Name: Close, dtype: float64 Date
2011-06-28    4.169826
2011-06-29    4.018196
Name: Close, dtype: float64
20110630
Date
2011-06-29    4.018196
2011-06-30    4.040940
Name: Close, dtype: float64 Date
2011-09-27    3.43442
2011-09-28    3.33586
Name: Close, dtype: float64
20110930
Date
2011-09-29    3.290371
2011-09-30    3.199394
Name: Close, dtype: float64 Date
2011-12-28    2.918878
2011-12-29    2.941622
Name: Close, dtype: float64
20111231
Date
2011-12-30    2.934041
Name: Close, dtype: float64 Date
2012-03-29    3.047763
2012-03-30    2.971948
Name: Close, dtype: float64
20120331
Date
2012-03-30    2.971948
Name: Close, dtype: float64 Date
2012-06-28    2.797574
2012-06-29    2.858226
Name: Close, dtype: float64
20120630
Date
2012-06-29    2.858226
Name: Close, dtype: float64 Date
2012-09-27    3.411675
2012-09-28    3.206975
Name: Close, dtype: float64
20120930
Date
2012-10-01    3.305535
Name: Close, dtype: float64 Date
2012-12-31    3.320698
Name: Close, dtype: float64
20121231
Date
2012-12-31    3.320698
Name: Close, dtype: float64 Date
2013-04-01    4.260804
Name: Close, dtype: float64
20130331
Date
2013-04-01    4.260804
Name: Close, dtype: float64 Date
2013-07-01    3.608794
Name: Close, dtype: float64
20130630
Date
2013-07-01    3.608794
Name: Close, dtype: float64 Date
2013-09-30    3.98787
Name: Close, dtype: float64
20130930
Date
2013-09-30    3.98787
Name: Close, dtype: float64 Date
2013-12-30    4.69
Name: Close, dtype: float64
20131231
Date
2013-12-30    4.69
2013-12-31    4.70
Name: Close, dtype: float64 Date
2014-03-31    4.74
Name: Close, dtype: float64
20140331
Date
2014-03-31    4.74
Name: Close, dtype: float64 Date
2014-06-30    4.55
Name: Close, dtype: float64
20140630
Date
2014-06-30    4.55
Name: Close, dtype: float64 Date
2014-09-29    4.2
Name: Close, dtype: float64
20140930
Date
2014-09-29    4.20
2014-09-30    4.09
Name: Close, dtype: float64 Date
2014-12-29    5.21
Name: Close, dtype: float64
20141231
Date
2014-12-30    5.26
2014-12-31    5.67
Name: Close, dtype: float64 Date
2015-03-30    5.55
2015-03-31    5.82
Name: Close, dtype: float64
20150331
Date
2015-03-30    5.55
2015-03-31    5.82
Name: Close, dtype: float64 Date
2015-06-29    5.66
Name: Close, dtype: float64
20150630
Date
2015-06-29    5.66
2015-06-30    5.70
Name: Close, dtype: float64 Date
2015-09-28    3.76
Name: Close, dtype: float64
20150930
Date
2015-09-29    3.74
2015-09-30    3.78
Name: Close, dtype: float64 Date
2015-12-28    3.66
2015-12-29    3.67
Name: Close, dtype: float64
20151231
Date
2015-12-30    3.59
2015-12-31    3.47
Name: Close, dtype: float64 Date
2016-03-29    3.10
2016-03-30    3.02
Name: Close, dtype: float64
20160331
Date
2016-03-30    3.02
2016-03-31    3.02
Name: Close, dtype: float64 Date
2016-06-28    2.91
2016-06-29    2.96
Name: Close, dtype: float64
20160630
Date
2016-06-29    2.96
2016-06-30    2.86
Name: Close, dtype: float64 Date
2016-09-27    2.83
2016-09-28    2.80
Name: Close, dtype: float64
20160930

Date
2016-09-29    2.74
2016-09-30    2.72
Name: Close, dtype: float64 Date
2016-12-28    2.85
2016-12-29    2.90
Name: Close, dtype: float64
20161231
Date
2016-12-30    3.05
Name: Close, dtype: float64 Date
2017-03-30    2.65
2017-03-31    2.60
Name: Close, dtype: float64
20170331
Date
2017-03-30    2.65
2017-03-31    2.60
Name: Close, dtype: float64 Date
2017-06-28    2.6
2017-06-29    2.5
Name: Close, dtype: float64
20170630
Date
2017-06-29    2.50
2017-06-30    2.55
Name: Close, dtype: float64 Date
2017-09-27    3.75
2017-09-28    3.65
Name: Close, dtype: float64
20170930
Date
2017-09-29    3.75
Name: Close, dtype: float64 Date
2017-12-28    3.25
2017-12-29    3.30
Name: Close, dtype: float64
20171231
Date
2018-01-02    3.3
Name: Close, dtype: float64 Date
2018-04-02    5
Name: Close, dtype: int64
20180331
Date
2018-04-02    5
Name: Close, dtype: int64 Date
2018-07-02    5.2
Name: Close, dtype: float64
20180630
Date
2018-06-29    5.35
Name: Close, dtype: float64 Date
2018-09-27    5.20
2018-09-28    5.25
Name: Close, dtype: float64
20180930
Date
2018-10-01    5
Name: Close, dtype: int64 Date
2018-12-31    3.18
Name: Close, dtype: float64
20181231
Date
2018-12-31    3.18
Name: Close, dtype: float64 Date
2019-04-01    4.22
Name: Close, dtype: float64
20190331
Date
2019-04-01    4.22
Name: Close, dtype: float64 Date
2019-07-01    2.01
Name: Close, dtype: float64
20190630
Date
2019-07-01    2.01
Name: Close, dtype: float64 Date
2019-09-30    3.08
Name: Close, dtype: float64
20190930
Date
2019-09-30    3.08
Name: Close, dtype: float64 Date
2019-12-30    2.97
Name: Close, dtype: float64
20191231
Date
2019-12-30    2.97
2019-12-31    3.05
Name: Close, dtype: float64 Date
2020-03-30    2.13
Name: Close, dtype: float64
20060331
Date
2006-03-30    52.689999
2006-03-31    52.419998
Name: Close, dtype: float64 Date
2006-06-28    46.020000
2006-06-29    46.669998
Name: Close, dtype: float64
20060630
Date
2006-06-29    46.669998
2006-06-30    47.459999
Name: Close, dtype: float64 Date
2006-09-27    45.07
2006-09-28    44.98
Name: Close, dtype: float64
20060930
Date
2006-09-29    44.630001
Name: Close, dtype: float64 Date
2006-12-28    49.369999
2006-12-29    48.799999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    46.119999
Name: Close, dtype: float64 Date
2007-06-28    48.599998
2007-06-29    48.790001
Name: Close, dtype: float64
20070630
Date
2007-06-29    48.790001
Name: Close, dtype: float64 Date
2007-09-27    44.180000
2007-09-28    44.189999
Name: Close, dtype: float64
20070930
Date
2007-10-01    44.43
Name: Close, dtype: float64 Date
2007-12-31    45.799999
Name: Close, dtype: float64
20071231
Date
2007-12-31    45.799999
Name: Close, dtype: float64 Date
2008-03-31    41.139999
Name: Close, dtype: float64
20080331
Date
2008-03-31    41.139999
Name: Close, dtype: float64 Date
2008-06-30    42.5
Name: Close, dtype: float64
20080630
Date
2008-06-30    42.5
Name: Close, dtype: float64 Date
2008-09-29    42.52
Name: Close, dtype: float64
20080930
Date
2008-09-29    42.52
2008-09-30    45.52
Name: Close, dtype: float64 Date
2008-12-29    40.889999
Name: Close, dtype: float64
20081231
Date
2008-12-30    41.889999
2008-12-31    42.970001
Name: Close, dtype: float64 Date
2009-03-30    28.49
2009-03-31    28.82
Name: Close, dtype: float64
20090331
Date
2009-03-30    28.49
2009-03-31    28.82
Name: Close, dtype: float64 Date
2009-06-29    37.669998
Name: Close, dtype: float64
20090630
Date
2009-06-29    37.669998
2009-06-30    38.110001
Name: Close, dtype: float64 Date
2009-09-28    42.209999
Name: Close, dtype: float64
20090930
Date
2009-09-29    42.169998
2009-09-30    41.330002
Name: Close, dtype: float64 Date
2009-12-28    44.82
2009-12-29    45.23
Name: Close, dtype: float64
20091231
Date
2009-12-30    45.040001
2009-12-31    44.430000
Name: Close, dtype: float64 Date
2010-03-30    43.189999
2010-03-31    43.610001
Name: Close, dtype: float64
20100331
Date
2010-03-30    43.189999
2010-03-31    43.610001
Name: Close, dtype: float64 Date
2010-06-28    44.610001
2010-06-29    43.700001
Name: Close, dtype: float64
20100630
Date
2010-06-29    43.700001
2010-06-30    43.500000
Name: Close, dtype: float64 Date
2010-09-27    46.029999
2010-09-28    46.110001
Name: Close, dtype: float64
20100930
Date
2010-09-29    46.450001
2010-09-30    47.000000
Name: Close, dtype: float64 Date
2010-12-28    47.029999
2010-12-29    47.160000
Name: Close, dtype: float64
20101231
Date
2010-12-30    46.930000
2010-12-31    46.720001
Name: Close, dtype: float64 Date
2011-03-30    45.25
2011-03-31    45.25
Name: Close, dtype: float64
20110331
Date
2011-03-30    45.25
2011-03-31    45.25
Name: Close, dtype: float64 Date
2011-06-28    36.779999
2011-06-29    37.369999
Name: Close, dtype: float64
20110630
Date
2011-06-29    37.369999
2011-06-30    37.709999
Name: Close, dtype: float64 Date
2011-09-27    35.560001
2011-09-28    34.610001
Name: Close, dtype: float64
20110930
Date
2011-09-29    35.869999
2011-09-30    35.500000
Name: Close, dtype: float64 Date
2011-12-28    34.860001
2011-12-29    35.000000
Name: Close, dtype: float64
20111231
Date
2011-12-30    34.950001
Name: Close, dtype: float64 Date
2012-03-29    41.130001
2012-03-30    41.119999
Name: Close, dtype: float64
20120331
Date
2012-03-30    41.119999
Name: Close, dtype: float64 Date
2012-06-28    38.619999
2012-06-29    39.130001
Name: Close, dtype: float64
20120630
Date
2012-06-29    39.130001
Name: Close, dtype: float64 Date
2012-09-27    37.200001
2012-09-28    37.259998
Name: Close, dtype: float64
20120930
Date
2012-10-01    37.5
Name: Close, dtype: float64 Date
2012-12-31    38.740002
Name: Close, dtype: float64
20121231
Date
2012-12-31    38.740002
Name: Close, dtype: float64 Date
2013-04-01    49.450001
Name: Close, dtype: float64
20130331
Date
2013-04-01    49.450001
Name: Close, dtype: float64 Date
2013-07-01    49.150002
Name: Close, dtype: float64
20130630
Date
2013-07-01    49.150002
Name: Close, dtype: float64 Date
2013-09-30    55.32
Name: Close, dtype: float64
20130930
Date
2013-09-30    55.32
Name: Close, dtype: float64 Date
2013-12-30    59.169998
Name: Close, dtype: float64
20131231
Date
2013-12-30    59.169998
2013-12-31    59.709999
Name: Close, dtype: float64 Date
2014-03-31    61.439999
Name: Close, dtype: float64
20140331
Date
2014-03-31    61.439999
Name: Close, dtype: float64 Date
2014-06-30    63.150002
Name: Close, dtype: float64
20140630
Date
2014-06-30    63.150002
Name: Close, dtype: float64 Date
2014-09-29    61.689999
Name: Close, dtype: float64
20140930
Date
2014-09-29    61.689999
2014-09-30    61.419998
Name: Close, dtype: float64 Date
2014-12-29    72.190002
Name: Close, dtype: float64
20141231
Date
2014-12-30    72.199997
2014-12-31    71.320000
Name: Close, dtype: float64 Date
2015-03-30    72.290001
2015-03-31    72.580002
Name: Close, dtype: float64
20150331
Date
2015-03-30    72.290001
2015-03-31    72.580002
Name: Close, dtype: float64 Date
2015-06-29    73.059998
Name: Close, dtype: float64
20150630
Date
2015-06-29    73.059998
2015-06-30    74.029999
Name: Close, dtype: float64 Date
2015-09-28    77.279999
Name: Close, dtype: float64
20150930
Date
2015-09-29    77.610001
2015-09-30    77.699997
Name: Close, dtype: float64 Date
2015-12-28    82.650002
2015-12-29    83.459999
Name: Close, dtype: float64
20151231
Date
2015-12-30    82.779999
2015-12-31    81.339996
Name: Close, dtype: float64 Date
2016-03-29    89.349998
2016-03-30    90.680000
Name: Close, dtype: float64
20160331
Date
2016-03-30    90.680000
2016-03-31    90.220001
Name: Close, dtype: float64 Date
2016-06-28    81.540001
2016-06-29    82.650002
Name: Close, dtype: float64
20160630
Date
2016-06-29    82.650002
2016-06-30    84.620003
Name: Close, dtype: float64 Date
2016-09-27    75.160004
2016-09-28    76.160004
Name: Close, dtype: float64
20160930
Date
2016-09-29    75.470001
2016-09-30    75.419998
Name: Close, dtype: float64 Date
2016-12-28    90.720001
2016-12-29    90.800003
Name: Close, dtype: float64
20161231
Date
2016-12-30    91.010002
Name: Close, dtype: float64 Date
2017-03-30    90.220001
2017-03-31    90.059998
Name: Close, dtype: float64
20170331
Date
2017-03-30    90.220001
2017-03-31    90.059998
Name: Close, dtype: float64 Date
2017-06-28    87.970001
2017-06-29    89.010002
Name: Close, dtype: float64
20170630

Date
2017-06-29    89.010002
2017-06-30    88.629997
Name: Close, dtype: float64 Date
2017-09-27    98.629997
2017-09-28    97.699997
Name: Close, dtype: float64
20170930
Date
2017-09-29    96.93
Name: Close, dtype: float64 Date
2017-12-28    108.849998
2017-12-29    108.080002
Name: Close, dtype: float64
20171231
Date
2018-01-02    106.709999
Name: Close, dtype: float64 Date
2018-04-02    116.529999
Name: Close, dtype: float64
20180331
Date
2018-04-02    116.529999
Name: Close, dtype: float64 Date
2018-07-02    119.940002
Name: Close, dtype: float64
20180630
Date
2018-06-29    119.559998
Name: Close, dtype: float64 Date
2018-09-27    122.410004
2018-09-28    123.370003
Name: Close, dtype: float64
20180930
Date
2018-10-01    119.050003
Name: Close, dtype: float64 Date
2018-12-31    116.769997
Name: Close, dtype: float64
20181231
Date
2018-12-31    116.769997
Name: Close, dtype: float64 Date
2019-04-01    114.790001
Name: Close, dtype: float64
20190331
Date
2019-04-01    114.790001
Name: Close, dtype: float64 Date
2019-07-01    127.199997
Name: Close, dtype: float64
20190630
Date
2019-07-01    127.199997
Name: Close, dtype: float64 Date
2019-09-30    135.539993
Name: Close, dtype: float64
20190930
Date
2019-09-30    135.539993
Name: Close, dtype: float64 Date
2019-12-30    136.149994
Name: Close, dtype: float64
20191231
Date
2019-12-30    136.149994
2019-12-31    136.669998
Name: Close, dtype: float64 Date
2020-03-30    92.68
Name: Close, dtype: float64
20030331
Date
2003-03-31    12.591111
Name: Close, dtype: float64 Date
2003-06-30    13.671111
Name: Close, dtype: float64
20030630
Date
2003-06-30    13.671111
Name: Close, dtype: float64 Date
2003-09-29    20.457777
Name: Close, dtype: float64
20030930
Date
2003-09-29    20.457777
2003-09-30    18.786667
Name: Close, dtype: float64 Date
2003-12-29    23.466667
Name: Close, dtype: float64
20031231
Date
2003-12-30    23.840000
2003-12-31    23.206667
Name: Close, dtype: float64 Date
2004-03-29    22.106667
2004-03-30    21.326666
Name: Close, dtype: float64
20040331
Date
2004-03-30    21.326666
2004-03-31    20.986666
Name: Close, dtype: float64 Date
2004-06-28    18.900000
2004-06-29    19.473333
Name: Close, dtype: float64
20040630
Date
2004-06-29    19.473333
2004-06-30    19.400000
Name: Close, dtype: float64 Date
2004-09-27    19.666666
2004-09-28    19.513334
Name: Close, dtype: float64
20040930
Date
2004-09-29    20.100000
2004-09-30    19.866667
Name: Close, dtype: float64 Date
2004-12-28    22.646667
2004-12-29    22.666666
Name: Close, dtype: float64
20041231
Date
2004-12-30    22.666666
2004-12-31    22.733334
Name: Close, dtype: float64 Date
2005-03-30    20.719999
2005-03-31    21.219999
Name: Close, dtype: float64
20050331
Date
2005-03-30    20.719999
2005-03-31    21.219999
Name: Close, dtype: float64 Date
2005-06-28    20.080000
2005-06-29    20.213333
Name: Close, dtype: float64
20050630
Date
2005-06-29    20.213333
2005-06-30    20.280001
Name: Close, dtype: float64 Date
2005-09-27    19.853333
2005-09-28    19.946667
Name: Close, dtype: float64
20050930
Date
2005-09-29    20.213333
2005-09-30    20.080000
Name: Close, dtype: float64 Date
2005-12-28    22.340000
2005-12-29    22.459999
Name: Close, dtype: float64
20051231
Date
2005-12-30    22.42
Name: Close, dtype: float64 Date
2006-03-30    25.666666
2006-03-31    25.566668
Name: Close, dtype: float64
20060331
Date
2006-03-30    25.666666
2006-03-31    25.566668
Name: Close, dtype: float64 Date
2006-06-28    22.780001
2006-06-29    23.950001
Name: Close, dtype: float64
20060630
Date
2006-06-29    23.950001
2006-06-30    24.120001
Name: Close, dtype: float64 Date
2006-09-27    27.059999
2006-09-28    27.120001
Name: Close, dtype: float64
20060930
Date
2006-09-29    26.879999
Name: Close, dtype: float64 Date
2006-12-28    24.400000
2006-12-29    24.360001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    20.66
Name: Close, dtype: float64 Date
2007-06-28    23.129999
2007-06-29    22.620001
Name: Close, dtype: float64
20070630
Date
2007-06-29    22.620001
Name: Close, dtype: float64 Date
2007-09-27    24.709999
2007-09-28    23.870001
Name: Close, dtype: float64
20070930
Date
2007-10-01    24.1
Name: Close, dtype: float64 Date
2007-12-31    17.73
Name: Close, dtype: float64
20071231
Date
2007-12-31    17.73
Name: Close, dtype: float64 Date
2008-03-31    17.950001
Name: Close, dtype: float64
20080331
Date
2008-03-31    17.950001
Name: Close, dtype: float64 Date
2008-06-30    16.34
Name: Close, dtype: float64
20080630
Date
2008-06-30    16.34
Name: Close, dtype: float64 Date
2008-09-29    14.28
Name: Close, dtype: float64
20080930
Date
2008-09-29    14.28
2008-09-30    14.08
Name: Close, dtype: float64 Date
2008-12-29    11.89
Name: Close, dtype: float64
20081231
Date
2008-12-30    12.35
2008-12-31    12.77
Name: Close, dtype: float64 Date
2009-03-30    11.01
2009-03-31    11.20
Name: Close, dtype: float64
20090331
Date
2009-03-30    11.01
2009-03-31    11.20
Name: Close, dtype: float64 Date
2009-06-29    14.66
Name: Close, dtype: float64
20090630
Date
2009-06-29    14.66
2009-06-30    14.40
Name: Close, dtype: float64 Date
2009-09-28    18.059999
Name: Close, dtype: float64
20090930
Date
2009-09-29    17.969999
2009-09-30    18.000000
Name: Close, dtype: float64 Date
2009-12-28    19.200001
2009-12-29    19.020000
Name: Close, dtype: float64
20091231
Date
2009-12-30    19.34
2009-12-31    18.91
Name: Close, dtype: float64 Date
2010-03-30    21.10
2010-03-31    20.74
Name: Close, dtype: float64
20100331
Date
2010-03-30    21.10
2010-03-31    20.74
Name: Close, dtype: float64 Date
2010-06-28    17.370001
2010-06-29    16.360001
Name: Close, dtype: float64
20100630
Date
2010-06-29    16.360001
2010-06-30    15.850000
Name: Close, dtype: float64 Date
2010-09-27    16.160000
2010-09-28    16.559999
Name: Close, dtype: float64
20100930
Date
2010-09-29    16.65
2010-09-30    16.40
Name: Close, dtype: float64 Date
2010-12-28    18.209999
2010-12-29    18.100000
Name: Close, dtype: float64
20101231
Date
2010-12-30    18.030001
2010-12-31    18.160000
Name: Close, dtype: float64 Date
2011-03-30    18.830000
2011-03-31    18.969999
Name: Close, dtype: float64
20110331
Date
2011-03-30    18.830000
2011-03-31    18.969999
Name: Close, dtype: float64 Date
2011-06-28    16.290001
2011-06-29    16.430000
Name: Close, dtype: float64
20110630
Date
2011-06-29    16.43
2011-06-30    16.50
Name: Close, dtype: float64 Date
2011-09-27    13.42
2011-09-28    12.88
Name: Close, dtype: float64
20110930
Date
2011-09-29    13.37
2011-09-30    13.01
Name: Close, dtype: float64 Date
2011-12-28    13.45
2011-12-29    13.81
Name: Close, dtype: float64
20111231
Date
2011-12-30    13.47
Name: Close, dtype: float64 Date
2012-03-29    16.65
2012-03-30    16.49
Name: Close, dtype: float64
20120331
Date
2012-03-30    16.49
Name: Close, dtype: float64 Date
2012-06-28    13.48
2012-06-29    13.95
Name: Close, dtype: float64
20120630
Date
2012-06-29    13.95
Name: Close, dtype: float64 Date
2012-09-27    15.61
2012-09-28    15.27
Name: Close, dtype: float64
20120930
Date
2012-10-01    15.43
Name: Close, dtype: float64 Date
2012-12-31    16.620001
Name: Close, dtype: float64
20121231
Date
2012-12-31    16.620001
Name: Close, dtype: float64 Date
2013-04-01    17.52
Name: Close, dtype: float64
20130331
Date
2013-04-01    17.52
Name: Close, dtype: float64 Date
2013-07-01    20.120001
Name: Close, dtype: float64
20130630
Date
2013-07-01    20.120001
Name: Close, dtype: float64 Date
2013-09-30    22.889999
Name: Close, dtype: float64
20130930
Date
2013-09-30    22.889999
Name: Close, dtype: float64 Date
2013-12-30    22.99
Name: Close, dtype: float64
20131231
Date
2013-12-30    22.99
2013-12-31    23.08
Name: Close, dtype: float64 Date
2014-03-31    22.65
Name: Close, dtype: float64
20140331
Date
2014-03-31    22.65
Name: Close, dtype: float64 Date
2014-06-30    25.48
Name: Close, dtype: float64
20140630
Date
2014-06-30    25.48
Name: Close, dtype: float64 Date
2014-09-29    22.620001
Name: Close, dtype: float64
20140930
Date
2014-09-29    22.620001
2014-09-30    22.209999
Name: Close, dtype: float64 Date
2014-12-29    25.48
Name: Close, dtype: float64
20141231

Date
2014-12-30    25.520000
2014-12-31    25.440001
Name: Close, dtype: float64 Date
2015-03-30    24.450001
2015-03-31    24.030001
Name: Close, dtype: float64
20150331
Date
2015-03-30    24.450001
2015-03-31    24.030001
Name: Close, dtype: float64 Date
2015-06-29    21.48
Name: Close, dtype: float64
20150630
Date
2015-06-29    21.480000
2015-06-30    21.780001
Name: Close, dtype: float64 Date
2015-09-28    21.16
Name: Close, dtype: float64
20150930
Date
2015-09-29    21.209999
2015-09-30    21.760000
Name: Close, dtype: float64 Date
2015-12-28    21.26
2015-12-29    21.51
Name: Close, dtype: float64
20151231
Date
2015-12-30    20.879999
2015-12-31    20.670000
Name: Close, dtype: float64 Date
2016-03-29    22.700001
2016-03-30    22.930000
Name: Close, dtype: float64
20160331
Date
2016-03-30    22.930000
2016-03-31    23.049999
Name: Close, dtype: float64 Date
2016-06-28    20.430000
2016-06-29    20.620001
Name: Close, dtype: float64
20160630
Date
2016-06-29    20.620001
2016-06-30    21.150000
Name: Close, dtype: float64 Date
2016-09-27    25.040001
2016-09-28    24.809999
Name: Close, dtype: float64
20160930
Date
2016-09-29    24.570000
2016-09-30    24.950001
Name: Close, dtype: float64 Date
2016-12-28    30.75
2016-12-29    30.90
Name: Close, dtype: float64
20161231
Date
2016-12-30    30.5
Name: Close, dtype: float64 Date
2017-03-30    32.000000
2017-03-31    31.799999
Name: Close, dtype: float64
20170331
Date
2017-03-30    32.000000
2017-03-31    31.799999
Name: Close, dtype: float64 Date
2017-06-28    33.250000
2017-06-29    32.650002
Name: Close, dtype: float64
20170630
Date
2017-06-29    32.650002
2017-06-30    32.299999
Name: Close, dtype: float64 Date
2017-09-27    34.450001
2017-09-28    34.549999
Name: Close, dtype: float64
20170930
Date
2017-09-29    34.150002
Name: Close, dtype: float64 Date
2017-12-28    29.15
2017-12-29    29.10
Name: Close, dtype: float64
20171231
Date
2018-01-02    29.049999
Name: Close, dtype: float64 Date
2018-04-02    29.15
Name: Close, dtype: float64
20180331
Date
2018-04-02    29.15
Name: Close, dtype: float64 Date
2018-07-02    29.200001
Name: Close, dtype: float64
20180630
Date
2018-06-29    29.15
Name: Close, dtype: float64 Date
2018-09-27    23.75
2018-09-28    23.40
Name: Close, dtype: float64
20180930
Date
2018-10-01    23.690001
Name: Close, dtype: float64 Date
2018-12-31    21.18
Name: Close, dtype: float64
20181231
Date
2018-12-31    21.18
Name: Close, dtype: float64 Date
2019-04-01    26.950001
Name: Close, dtype: float64
20190331
Date
2019-04-01    26.950001
Name: Close, dtype: float64 Date
2019-07-01    25.35
Name: Close, dtype: float64
20190630
Date
2019-07-01    25.35
Name: Close, dtype: float64 Date
2019-09-30    29.059999
Name: Close, dtype: float64
20190930
Date
2019-09-30    29.059999
Name: Close, dtype: float64 Date
2019-12-30    34.619999
Name: Close, dtype: float64
20191231
Date
2019-12-30    34.619999
2019-12-31    34.360001
Name: Close, dtype: float64 Date
2020-03-30    20.6
Name: Close, dtype: float64
20030331
Date
2003-03-31    2.35
Name: Close, dtype: float64 Date
2003-06-30    2.81
Name: Close, dtype: float64
20030630
Date
2003-06-30    2.81
Name: Close, dtype: float64 Date
2003-09-29    3.74
Name: Close, dtype: float64
20030930
Date
2003-09-29    3.74
2003-09-30    3.75
Name: Close, dtype: float64 Date
2003-12-29    3.59
Name: Close, dtype: float64
20031231
Date
2003-12-30    3.39
2003-12-31    3.10
Name: Close, dtype: float64 Date
2004-03-29    4.53
2004-03-30    4.50
Name: Close, dtype: float64
20040331
Date
2004-03-30    4.50
2004-03-31    5.01
Name: Close, dtype: float64 Date
2004-06-28    3.92
2004-06-29    3.80
Name: Close, dtype: float64
20040630
Date
2004-06-29    3.80
2004-06-30    3.63
Name: Close, dtype: float64 Date
2004-09-27    2.75
2004-09-28    2.67
Name: Close, dtype: float64
20040930
Date
2004-09-29    2.70
2004-09-30    2.75
Name: Close, dtype: float64 Date
2004-12-28    4.17
2004-12-29    4.34
Name: Close, dtype: float64
20041231
Date
2004-12-30    4.24
2004-12-31    4.14
Name: Close, dtype: float64 Date
2005-03-30    3.19
2005-03-31    3.14
Name: Close, dtype: float64
20050331
Date
2005-03-30    3.19
2005-03-31    3.14
Name: Close, dtype: float64 Date
2005-06-28    2.86
2005-06-29    2.88
Name: Close, dtype: float64
20050630
Date
2005-06-29    2.88
2005-06-30    2.83
Name: Close, dtype: float64 Date
2005-09-27    2.75
2005-09-28    3.87
Name: Close, dtype: float64
20050930
Date
2005-09-29    4.00
2005-09-30    3.98
Name: Close, dtype: float64 Date
2005-12-28    3.96
2005-12-29    4.06
Name: Close, dtype: float64
20051231
Date
2005-12-30    4.09
Name: Close, dtype: float64 Date
2006-03-30    5.08
2006-03-31    5.05
Name: Close, dtype: float64
20060331
Date
2006-03-30    5.08
2006-03-31    5.05
Name: Close, dtype: float64 Date
2006-06-28     8.78
2006-06-29    10.00
Name: Close, dtype: float64
20060630
Date
2006-06-29    10.00
2006-06-30    10.34
Name: Close, dtype: float64 Date
2006-09-27    7.49
2006-09-28    7.21
Name: Close, dtype: float64
20060930
Date
2006-09-29    7.4
Name: Close, dtype: float64 Date
2006-12-28    4.97
2006-12-29    5.00
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    6.23
Name: Close, dtype: float64 Date
2007-06-28    6.00
2007-06-29    6.04
Name: Close, dtype: float64
20070630
Date
2007-06-29    6.04
Name: Close, dtype: float64 Date
2007-09-27    7.44
2007-09-28    7.39
Name: Close, dtype: float64
20070930
Date
2007-10-01    7.23
Name: Close, dtype: float64 Date
2007-12-31    6.1
Name: Close, dtype: float64
20071231
Date
2007-12-31    6.1
Name: Close, dtype: float64 Date
2008-03-31    8.45
Name: Close, dtype: float64
20080331
Date
2008-03-31    8.45
Name: Close, dtype: float64 Date
2008-06-30    7.73
Name: Close, dtype: float64
20080630
Date
2008-06-30    7.73
Name: Close, dtype: float64 Date
2008-09-29    3.1
Name: Close, dtype: float64
20080930
Date
2008-09-29    3.10
2008-09-30    3.71
Name: Close, dtype: float64 Date
2008-12-29    2.04
Name: Close, dtype: float64
20081231
Date
2008-12-30    2.06
2008-12-31    2.05
Name: Close, dtype: float64 Date
2009-03-30    1.24
2009-03-31    1.22
Name: Close, dtype: float64
20090331
Date
2009-03-30    1.24
2009-03-31    1.22
Name: Close, dtype: float64 Date
2009-06-29    0.82
Name: Close, dtype: float64
20090630
Date
2009-06-29    0.82
2009-06-30    0.85
Name: Close, dtype: float64 Date
2009-09-28    1.32
Name: Close, dtype: float64
20090930
Date
2009-09-29    1.35
2009-09-30    1.31
Name: Close, dtype: float64 Date
2009-12-28    1.18
2009-12-29    1.19
Name: Close, dtype: float64
20091231
Date
2009-12-30    1.25
2009-12-31    1.32
Name: Close, dtype: float64 Date
2010-03-30    2.80
2010-03-31    2.68
Name: Close, dtype: float64
20100331
Date
2010-03-30    2.80
2010-03-31    2.68
Name: Close, dtype: float64 Date
2010-06-28    2.11
2010-06-29    1.95
Name: Close, dtype: float64
20100630
Date
2010-06-29    1.95
2010-06-30    1.90
Name: Close, dtype: float64 Date
2010-09-27    1.36
2010-09-28    1.29
Name: Close, dtype: float64
20100930
Date
2010-09-29    1.50
2010-09-30    1.59
Name: Close, dtype: float64 Date
2010-12-28    1.30
2010-12-29    1.26
Name: Close, dtype: float64
20101231
Date
2010-12-30    1.25
2010-12-31    1.20
Name: Close, dtype: float64 Date
2011-03-30    2.12
2011-03-31    2.10
Name: Close, dtype: float64
20110331
Date
2011-03-30    2.12
2011-03-31    2.10
Name: Close, dtype: float64 Date
2011-06-28    1.27
2011-06-29    1.28
Name: Close, dtype: float64
20110630
Date
2011-06-29    1.28
2011-06-30    1.34
Name: Close, dtype: float64 Date
2011-09-27    0.79
2011-09-28    0.80
Name: Close, dtype: float64
20110930
Date
2011-09-29    0.90
2011-09-30    0.91
Name: Close, dtype: float64 Date
2011-12-28    0.60
2011-12-29    0.63
Name: Close, dtype: float64
20111231
Date
2011-12-30    0.52
Name: Close, dtype: float64 Date
2012-03-29    0.78
2012-03-30    0.97
Name: Close, dtype: float64
20120331
Date
2012-03-30    0.97
Name: Close, dtype: float64 Date
2012-06-28    1.24
2012-06-29    1.22
Name: Close, dtype: float64
20120630
Date
2012-06-29    1.22
Name: Close, dtype: float64 Date
2012-09-27    1.14
2012-09-28    1.09
Name: Close, dtype: float64
20120930

Date
2012-10-01    1.2
Name: Close, dtype: float64 Date
2012-12-31    0.85
Name: Close, dtype: float64
20121231
Date
2012-12-31    0.85
Name: Close, dtype: float64 Date
2013-04-01    1.1
Name: Close, dtype: float64
20130331
Date
2013-04-01    1.1
Name: Close, dtype: float64 Date
2013-07-01    1.34
Name: Close, dtype: float64
20130630
Date
2013-07-01    1.34
Name: Close, dtype: float64 Date
2013-09-30    2.38
Name: Close, dtype: float64
20130930
Date
2013-09-30    2.38
Name: Close, dtype: float64 Date
2013-12-30    2.93
Name: Close, dtype: float64
20131231
Date
2013-12-30    2.93
2013-12-31    3.09
Name: Close, dtype: float64 Date
2014-03-31    2.85
Name: Close, dtype: float64
20140331
Date
2014-03-31    2.85
Name: Close, dtype: float64 Date
2014-06-30    2.15
Name: Close, dtype: float64
20140630
Date
2014-06-30    2.15
Name: Close, dtype: float64 Date
2014-09-29    2.43
Name: Close, dtype: float64
20140930
Date
2014-09-29    2.43
2014-09-30    2.53
Name: Close, dtype: float64 Date
2014-12-29    2.65
Name: Close, dtype: float64
20141231
Date
2014-12-30    2.72
2014-12-31    2.55
Name: Close, dtype: float64 Date
2015-03-30    2.38
2015-03-31    2.34
Name: Close, dtype: float64
20150331
Date
2015-03-30    2.38
2015-03-31    2.34
Name: Close, dtype: float64 Date
2015-06-29    2.03
Name: Close, dtype: float64
20150630
Date
2015-06-29    2.03
2015-06-30    2.28
Name: Close, dtype: float64 Date
2015-09-28    2.22
Name: Close, dtype: float64
20150930
Date
2015-09-29    2.24
2015-09-30    2.55
Name: Close, dtype: float64 Date
2015-12-28    1.8
2015-12-29    1.9
Name: Close, dtype: float64
20151231
Date
2015-12-30    1.81
2015-12-31    1.88
Name: Close, dtype: float64 Date
2016-03-29    1.18
2016-03-30    1.18
Name: Close, dtype: float64
20160331
Date
2016-03-30    1.18
2016-03-31    1.15
Name: Close, dtype: float64 Date
2016-06-28    1.65
2016-06-29    1.58
Name: Close, dtype: float64
20160630
Date
2016-06-29    1.58
2016-06-30    1.61
Name: Close, dtype: float64 Date
2016-09-27    2.98
2016-09-28    3.00
Name: Close, dtype: float64
20160930
Date
2016-09-29    2.98
2016-09-30    3.21
Name: Close, dtype: float64 Date
2016-12-28    2.35
2016-12-29    2.40
Name: Close, dtype: float64
20161231
Date
2016-12-30    2.41
Name: Close, dtype: float64 Date
2017-03-30    5.41
2017-03-31    4.81
Name: Close, dtype: float64
20170331
Date
2017-03-30    5.41
2017-03-31    4.81
Name: Close, dtype: float64 Date
2017-06-28    3.82
2017-06-29    3.82
Name: Close, dtype: float64
20170630
Date
2017-06-29    3.82
2017-06-30    3.75
Name: Close, dtype: float64 Date
2017-09-27    3.17
2017-09-28    3.52
Name: Close, dtype: float64
20170930
Date
2017-09-29    4.09
Name: Close, dtype: float64 Date
2017-12-28    2.70
2017-12-29    2.71
Name: Close, dtype: float64
20171231
Date
2018-01-02    2.8
Name: Close, dtype: float64 Date
2018-04-02    2.24
Name: Close, dtype: float64
20180331
Date
2018-04-02    2.24
Name: Close, dtype: float64 Date
2018-07-02    2.55
Name: Close, dtype: float64
20180630
Date
2018-06-29    2.35
Name: Close, dtype: float64 Date
2018-09-27    2.32
2018-09-28    2.22
Name: Close, dtype: float64
20180930
Date
2018-10-01    2.23
Name: Close, dtype: float64 Date
2018-12-31    1.41
Name: Close, dtype: float64
20181231
Date
2018-12-31    1.41
Name: Close, dtype: float64 Date
2019-04-01    1.34
Name: Close, dtype: float64
20190331
Date
2019-04-01    1.34
Name: Close, dtype: float64 Date
2019-07-01    1.6
Name: Close, dtype: float64
20190630
Date
2019-07-01    1.6
Name: Close, dtype: float64 Date
2019-09-30    1.79
Name: Close, dtype: float64
20190930
Date
2019-09-30    1.79
Name: Close, dtype: float64 Date
2019-12-30    1.99
Name: Close, dtype: float64
20191231
Date
2019-12-30    1.99
2019-12-31    2.00
Name: Close, dtype: float64 Date
2020-03-30    1.65
Name: Close, dtype: float64
20190331
error
20190630
error
20190930
error
20030331
Date
2003-03-31    5.54
Name: Close, dtype: float64 Date
2003-06-30    7.14
Name: Close, dtype: float64
20030630
Date
2003-06-30    7.14
Name: Close, dtype: float64 Date
2003-09-29    6.28
Name: Close, dtype: float64
20030930
Date
2003-09-29    6.28
2003-09-30    6.12
Name: Close, dtype: float64 Date
2003-12-29    7.88
Name: Close, dtype: float64
20031231
Date
2003-12-30    8.1
2003-12-31    7.7
Name: Close, dtype: float64 Date
2004-03-29    11.04
2004-03-30    11.52
Name: Close, dtype: float64
20040331
Date
2004-03-30    11.52
2004-03-31    11.22
Name: Close, dtype: float64 Date
2004-06-28    10.24
2004-06-29    10.28
Name: Close, dtype: float64
20040630
Date
2004-06-29    10.28
2004-06-30    10.28
Name: Close, dtype: float64 Date
2004-09-27    14.00
2004-09-28    13.84
Name: Close, dtype: float64
20040930
Date
2004-09-29    14.00
2004-09-30    13.82
Name: Close, dtype: float64 Date
2004-12-28    12.32
2004-12-29    12.58
Name: Close, dtype: float64
20041231
Date
2004-12-30    12.8
2004-12-31    13.1
Name: Close, dtype: float64 Date
2005-03-30    12.10
2005-03-31    12.92
Name: Close, dtype: float64
20050331
Date
2005-03-30    12.10
2005-03-31    12.92
Name: Close, dtype: float64 Date
2005-06-28    9.88
2005-06-29    9.88
Name: Close, dtype: float64
20050630
Date
2005-06-29    9.88
2005-06-30    9.82
Name: Close, dtype: float64 Date
2005-09-27    10.46
2005-09-28    10.50
Name: Close, dtype: float64
20050930
Date
2005-09-29    10.58
2005-09-30    10.70
Name: Close, dtype: float64 Date
2005-12-28    11.32
2005-12-29    11.30
Name: Close, dtype: float64
20051231
Date
2005-12-30    11.48
Name: Close, dtype: float64 Date
2006-03-30    12.00
2006-03-31    12.02
Name: Close, dtype: float64
20060331
Date
2006-03-30    12.00
2006-03-31    12.02
Name: Close, dtype: float64 Date
2006-06-28    11.02
2006-06-29    11.30
Name: Close, dtype: float64
20060630
Date
2006-06-29    11.3
2006-06-30    11.6
Name: Close, dtype: float64 Date
2006-09-27    10.24
2006-09-28    10.32
Name: Close, dtype: float64
20060930
Date
2006-09-29    10.48
Name: Close, dtype: float64 Date
2006-12-28    10.14
2006-12-29    10.34
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    12.02
Name: Close, dtype: float64 Date
2007-06-28    12.74
2007-06-29    13.28
Name: Close, dtype: float64
20070630
Date
2007-06-29    13.28
Name: Close, dtype: float64 Date
2007-09-27    12.80
2007-09-28    13.52
Name: Close, dtype: float64
20070930
Date
2007-10-01    13.52
Name: Close, dtype: float64 Date
2007-12-31    14.5
Name: Close, dtype: float64
20071231
Date
2007-12-31    14.5
Name: Close, dtype: float64 Date
2008-03-31    12.36
Name: Close, dtype: float64
20080331
Date
2008-03-31    12.36
Name: Close, dtype: float64 Date
2008-06-30    14.1
Name: Close, dtype: float64
20080630
Date
2008-06-30    14.1
Name: Close, dtype: float64 Date
2008-09-29    10
Name: Close, dtype: int64
20080930
Date
2008-09-29    10.00
2008-09-30    11.42
Name: Close, dtype: float64 Date
2008-12-29    6.9
Name: Close, dtype: float64
20081231
Date
2008-12-30    5.70
2008-12-31    6.26
Name: Close, dtype: float64 Date
2009-03-30    6.18
2009-03-31    6.20
Name: Close, dtype: float64
20090331
Date
2009-03-30    6.18
2009-03-31    6.20
Name: Close, dtype: float64 Date
2009-06-29    8.12
Name: Close, dtype: float64
20090630
Date
2009-06-29    8.12
2009-06-30    8.60
Name: Close, dtype: float64 Date
2009-09-28    9.06
Name: Close, dtype: float64
20090930
Date
2009-09-29    10.0
2009-09-30     9.4
Name: Close, dtype: float64 Date
2009-12-28    10.50
2009-12-29    10.68
Name: Close, dtype: float64
20091231
Date
2009-12-30    10.50
2009-12-31    10.72
Name: Close, dtype: float64 Date
2010-03-30    7.16
2010-03-31    7.50
Name: Close, dtype: float64
20100331
Date
2010-03-30    7.16
2010-03-31    7.50
Name: Close, dtype: float64 Date
2010-06-28    7.28
2010-06-29    7.28
Name: Close, dtype: float64
20100630
Date
2010-06-29    7.28
2010-06-30    7.28
Name: Close, dtype: float64 Date
2010-09-27    7.82
2010-09-28    8.90
Name: Close, dtype: float64
20100930
Date
2010-09-29    8.90
2010-09-30    8.26
Name: Close, dtype: float64 Date
2010-12-28    7.40
2010-12-29    7.96
Name: Close, dtype: float64
20101231
Date
2010-12-30    8.56
2010-12-31    8.60
Name: Close, dtype: float64 Date
2011-03-30    8.78
2011-03-31    8.82
Name: Close, dtype: float64
20110331

Date
2011-03-30    8.78
2011-03-31    8.82
Name: Close, dtype: float64 Date
2011-06-28    8.20
2011-06-29    8.18
Name: Close, dtype: float64
20110630
Date
2011-06-29    8.18
2011-06-30    8.08
Name: Close, dtype: float64 Date
2011-09-27    7.30
2011-09-28    7.24
Name: Close, dtype: float64
20110930
Date
2011-09-29    7.24
2011-09-30    7.24
Name: Close, dtype: float64 Date
2011-12-28    6.36
2011-12-29    6.28
Name: Close, dtype: float64
20111231
Date
2011-12-30    6.8
Name: Close, dtype: float64 Date
2012-03-29    6.40
2012-03-30    6.86
Name: Close, dtype: float64
20120331
Date
2012-03-30    6.86
Name: Close, dtype: float64 Date
2012-06-28    6.10
2012-06-29    6.24
Name: Close, dtype: float64
20120630
Date
2012-06-29    6.24
Name: Close, dtype: float64 Date
2012-09-27    6.24
2012-09-28    5.24
Name: Close, dtype: float64
20120930
Date
2012-10-01    5.18
Name: Close, dtype: float64 Date
2012-12-31    5.26
Name: Close, dtype: float64
20121231
Date
2012-12-31    5.26
Name: Close, dtype: float64 Date
2013-04-01    5.5
Name: Close, dtype: float64
20130331
Date
2013-04-01    5.5
Name: Close, dtype: float64 Date
2013-07-01    5.5
Name: Close, dtype: float64
20130630
Date
2013-07-01    5.5
Name: Close, dtype: float64 Date
2013-09-30    4.54
Name: Close, dtype: float64
20130930
Date
2013-09-30    4.54
Name: Close, dtype: float64 Date
2013-12-30    4.76
Name: Close, dtype: float64
20131231
Date
2013-12-30    4.76
2013-12-31    4.56
Name: Close, dtype: float64 Date
2014-03-31    4.54
Name: Close, dtype: float64
20140331
Date
2014-03-31    4.54
Name: Close, dtype: float64 Date
2014-06-30    4.84
Name: Close, dtype: float64
20140630
Date
2014-06-30    4.84
Name: Close, dtype: float64 Date
2014-09-29    4
Name: Close, dtype: int64
20140930
Date
2014-09-29    4.00
2014-09-30    3.98
Name: Close, dtype: float64 Date
2014-12-29    3.06
Name: Close, dtype: float64
20141231
Date
2014-12-30    3.02
2014-12-31    3.68
Name: Close, dtype: float64 Date
2015-03-30    3.20
2015-03-31    3.26
Name: Close, dtype: float64
20150331
Date
2015-03-30    3.20
2015-03-31    3.26
Name: Close, dtype: float64 Date
2015-06-29    2.94
Name: Close, dtype: float64
20150630
Date
2015-06-29    2.94
2015-06-30    3.14
Name: Close, dtype: float64 Date
2015-09-28    2.34
Name: Close, dtype: float64
20150930
Date
2015-09-29    2.3
2015-09-30    2.3
Name: Close, dtype: float64 Date
2015-12-28    2.18
2015-12-29    2.24
Name: Close, dtype: float64
20151231
Date
2015-12-30    2.18
2015-12-31    2.24
Name: Close, dtype: float64 Date
2016-03-29    1.4
2016-03-30    1.4
Name: Close, dtype: float64
20160331
Date
2016-03-30    1.4
2016-03-31    1.4
Name: Close, dtype: float64 Date
2016-06-28    1.20
2016-06-29    1.22
Name: Close, dtype: float64
20160630
Date
2016-06-29    1.22
2016-06-30    1.20
Name: Close, dtype: float64 Date
2016-09-27    1.50
2016-09-28    1.68
Name: Close, dtype: float64
20160930
Date
2016-09-29    1.64
2016-09-30    1.64
Name: Close, dtype: float64 Date
2016-12-28    2.21
2016-12-29    2.13
Name: Close, dtype: float64
20161231
Date
2016-12-30    2
Name: Close, dtype: int64 Date
2017-03-30    1.97
2017-03-31    1.97
Name: Close, dtype: float64
20170331
Date
2017-03-30    1.97
2017-03-31    1.97
Name: Close, dtype: float64 Date
2017-06-28    2.59
2017-06-29    2.50
Name: Close, dtype: float64
20170630
Date
2017-06-29    2.50
2017-06-30    2.89
Name: Close, dtype: float64 Date
2017-09-27    2.39
2017-09-28    2.23
Name: Close, dtype: float64
20170930
Date
2017-09-29    2.11
Name: Close, dtype: float64 Date
2017-12-28    2.09
2017-12-29    2.09
Name: Close, dtype: float64
20171231
Date
2018-01-02    2.09
Name: Close, dtype: float64 Date
2018-04-02    2.35
Name: Close, dtype: float64
20180331
Date
2018-04-02    2.35
Name: Close, dtype: float64 Date
2018-07-02    2.42
Name: Close, dtype: float64
20180630
Date
2018-06-29    2.41
Name: Close, dtype: float64 Date
2018-09-27    2.29
2018-09-28    2.20
Name: Close, dtype: float64
20180930
Date
2018-10-01    2.24
Name: Close, dtype: float64 Date
2018-12-31    1.83
Name: Close, dtype: float64
20181231
Date
2018-12-31    1.83
Name: Close, dtype: float64 Date
2019-04-01    1.78
Name: Close, dtype: float64
20190331
Date
2019-04-01    1.78
Name: Close, dtype: float64 Date
2019-07-01    1.88
Name: Close, dtype: float64
20190630
Date
2019-07-01    1.88
Name: Close, dtype: float64 Date
2019-09-30    1.4
Name: Close, dtype: float64
20190930
Date
2019-09-30    1.4
Name: Close, dtype: float64 Date
2019-12-30    1.15
Name: Close, dtype: float64
20191231
Date
2019-12-30    1.15
2019-12-31    1.22
Name: Close, dtype: float64 Date
2020-03-30    18.35
Name: Close, dtype: float64
20030331
Date
2003-03-31    22.799999
Name: Close, dtype: float64 Date
2003-06-30    26.25
Name: Close, dtype: float64
20030630
Date
2003-06-30    26.25
Name: Close, dtype: float64 Date
2003-09-29    25.5
Name: Close, dtype: float64
20030930
Date
2003-09-29    25.5
2003-09-30    25.5
Name: Close, dtype: float64 Date
2003-12-29    29.799999
Name: Close, dtype: float64
20031231
Date
2003-12-30    29.969999
2003-12-31    29.920000
Name: Close, dtype: float64 Date
2004-03-29    29.950001
2004-03-30    30.000000
Name: Close, dtype: float64
20040331
Date
2004-03-30    30.0
2004-03-31    29.9
Name: Close, dtype: float64 Date
2004-06-28    26.920000
2004-06-29    27.030001
Name: Close, dtype: float64
20040630
Date
2004-06-29    27.030001
2004-06-30    27.000000
Name: Close, dtype: float64 Date
2004-09-27    28.85
2004-09-28    29.17
Name: Close, dtype: float64
20040930
Date
2004-09-29    29.020000
2004-09-30    29.059999
Name: Close, dtype: float64 Date
2004-12-28    30.77
2004-12-29    30.51
Name: Close, dtype: float64
20041231
Date
2004-12-30    30.860001
2004-12-31    30.570000
Name: Close, dtype: float64 Date
2005-03-30    28.150000
2005-03-31    28.370001
Name: Close, dtype: float64
20050331
Date
2005-03-30    28.150000
2005-03-31    28.370001
Name: Close, dtype: float64 Date
2005-06-28    30.629999
2005-06-29    30.500000
Name: Close, dtype: float64
20050630
Date
2005-06-29    30.500000
2005-06-30    30.629999
Name: Close, dtype: float64 Date
2005-09-27    30.150000
2005-09-28    30.030001
Name: Close, dtype: float64
20050930
Date
2005-09-29    30.219999
2005-09-30    30.129999
Name: Close, dtype: float64 Date
2005-12-28    29.610001
2005-12-29    29.420000
Name: Close, dtype: float64
20051231
Date
2005-12-30    29.299999
Name: Close, dtype: float64 Date
2006-03-30    32.310001
2006-03-31    32.520000
Name: Close, dtype: float64
20060331
Date
2006-03-30    32.310001
2006-03-31    32.520000
Name: Close, dtype: float64 Date
2006-06-28    33.68
2006-06-29    34.00
Name: Close, dtype: float64
20060630
Date
2006-06-29    34.000000
2006-06-30    34.290001
Name: Close, dtype: float64 Date
2006-09-27    38.639999
2006-09-28    38.349998
Name: Close, dtype: float64
20060930
Date
2006-09-29    37.810001
Name: Close, dtype: float64 Date
2006-12-28    39.250000
2006-12-29    38.650002
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    33.84
Name: Close, dtype: float64 Date
2007-06-28    32.240002
2007-06-29    32.040001
Name: Close, dtype: float64
20070630
Date
2007-06-29    32.040001
Name: Close, dtype: float64 Date
2007-09-27    33.419998
2007-09-28    32.740002
Name: Close, dtype: float64
20070930
Date
2007-10-01    33.52
Name: Close, dtype: float64 Date
2007-12-31    35.220001
Name: Close, dtype: float64
20071231
Date
2007-12-31    35.220001
Name: Close, dtype: float64 Date
2008-03-31    32.110001
Name: Close, dtype: float64
20080331
Date
2008-03-31    32.110001
Name: Close, dtype: float64 Date
2008-06-30    28.889999
Name: Close, dtype: float64
20080630
Date
2008-06-30    28.889999
Name: Close, dtype: float64 Date
2008-09-29    29.07
Name: Close, dtype: float64
20080930
Date
2008-09-29    29.07
2008-09-30    29.09
Name: Close, dtype: float64 Date
2008-12-29    28.719999
Name: Close, dtype: float64
20081231
Date
2008-12-30    29.000000
2008-12-31    29.450001
Name: Close, dtype: float64 Date
2009-03-30    23.320000
2009-03-31    23.360001
Name: Close, dtype: float64
20090331
Date
2009-03-30    23.320000
2009-03-31    23.360001
Name: Close, dtype: float64 Date
2009-06-29    26
Name: Close, dtype: int64
20090630

Date
2009-06-29    26.000000
2009-06-30    26.139999
Name: Close, dtype: float64 Date
2009-09-28    29.02
Name: Close, dtype: float64
20090930
Date
2009-09-29    29.250000
2009-09-30    28.790001
Name: Close, dtype: float64 Date
2009-12-28    32.480000
2009-12-29    32.450001
Name: Close, dtype: float64
20091231
Date
2009-12-30    32.570000
2009-12-31    31.950001
Name: Close, dtype: float64 Date
2010-03-30    34.720001
2010-03-31    34.619999
Name: Close, dtype: float64
20100331
Date
2010-03-30    34.720001
2010-03-31    34.619999
Name: Close, dtype: float64 Date
2010-06-28    34.279999
2010-06-29    33.610001
Name: Close, dtype: float64
20100630
Date
2010-06-29    33.610001
2010-06-30    33.270000
Name: Close, dtype: float64 Date
2010-09-27    35.040001
2010-09-28    35.490002
Name: Close, dtype: float64
20100930
Date
2010-09-29    35.740002
2010-09-30    35.919998
Name: Close, dtype: float64 Date
2010-12-28    37.400002
2010-12-29    37.369999
Name: Close, dtype: float64
20101231
Date
2010-12-30    37.16
2010-12-31    36.98
Name: Close, dtype: float64 Date
2011-03-30    37.750000
2011-03-31    38.099998
Name: Close, dtype: float64
20110331
Date
2011-03-30    37.750000
2011-03-31    38.099998
Name: Close, dtype: float64 Date
2011-06-28    39.23
2011-06-29    39.25
Name: Close, dtype: float64
20110630
Date
2011-06-29    39.25
2011-06-30    39.50
Name: Close, dtype: float64 Date
2011-09-27    38.009998
2011-09-28    37.560001
Name: Close, dtype: float64
20110930
Date
2011-09-29    38.279999
2011-09-30    37.779999
Name: Close, dtype: float64 Date
2011-12-28    41.970001
2011-12-29    42.529999
Name: Close, dtype: float64
20111231
Date
2011-12-30    42.41
Name: Close, dtype: float64 Date
2012-03-29    41.150002
2012-03-30    41.119999
Name: Close, dtype: float64
20120331
Date
2012-03-30    41.119999
Name: Close, dtype: float64 Date
2012-06-28    41.610001
2012-06-29    42.080002
Name: Close, dtype: float64
20120630
Date
2012-06-29    42.080002
Name: Close, dtype: float64 Date
2012-09-27    43.50
2012-09-28    43.27
Name: Close, dtype: float64
20120930
Date
2012-10-01    42.759998
Name: Close, dtype: float64 Date
2012-12-31    43.349998
Name: Close, dtype: float64
20121231
Date
2012-12-31    43.349998
Name: Close, dtype: float64 Date
2013-04-01    47.98
Name: Close, dtype: float64
20130331
Date
2013-04-01    47.98
Name: Close, dtype: float64 Date
2013-07-01    47.540001
Name: Close, dtype: float64
20130630
Date
2013-07-01    47.540001
Name: Close, dtype: float64 Date
2013-09-30    48.400002
Name: Close, dtype: float64
20130930
Date
2013-09-30    48.400002
Name: Close, dtype: float64 Date
2013-12-30    52.009998
Name: Close, dtype: float64
20131231
Date
2013-12-30    52.009998
2013-12-31    51.840000
Name: Close, dtype: float64 Date
2014-03-31    55.470001
Name: Close, dtype: float64
20140331
Date
2014-03-31    55.470001
Name: Close, dtype: float64 Date
2014-06-30    57.830002
Name: Close, dtype: float64
20140630
Date
2014-06-30    57.830002
Name: Close, dtype: float64 Date
2014-09-29    53.959999
Name: Close, dtype: float64
20140930
Date
2014-09-29    53.959999
2014-09-30    53.610001
Name: Close, dtype: float64 Date
2014-12-29    69.989998
Name: Close, dtype: float64
20141231
Date
2014-12-30    67.779999
2014-12-31    66.190002
Name: Close, dtype: float64 Date
2015-03-30    62.230000
2015-03-31    62.869999
Name: Close, dtype: float64
20150331
Date
2015-03-30    62.230000
2015-03-31    62.869999
Name: Close, dtype: float64 Date
2015-06-29    56.41
Name: Close, dtype: float64
20150630
Date
2015-06-29    56.410000
2015-06-30    56.139999
Name: Close, dtype: float64 Date
2015-09-28    63.619999
Name: Close, dtype: float64
20150930
Date
2015-09-29    63.709999
2015-09-30    64.709999
Name: Close, dtype: float64 Date
2015-12-28    69.550003
2015-12-29    69.669998
Name: Close, dtype: float64
20151231
Date
2015-12-30    69.5
2015-12-31    68.0
Name: Close, dtype: float64 Date
2016-03-29    74.830002
2016-03-30    74.650002
Name: Close, dtype: float64
20160331
Date
2016-03-30    74.650002
2016-03-31    74.589996
Name: Close, dtype: float64 Date
2016-06-28    78.129997
2016-06-29    79.099998
Name: Close, dtype: float64
20160630
Date
2016-06-29    79.099998
2016-06-30    81.349998
Name: Close, dtype: float64 Date
2016-09-27    79.940002
2016-09-28    79.860001
Name: Close, dtype: float64
20160930
Date
2016-09-29    78.639999
2016-09-30    78.279999
Name: Close, dtype: float64 Date
2016-12-28    79.889999
2016-12-29    80.779999
Name: Close, dtype: float64
20161231
Date
2016-12-30    80.550003
Name: Close, dtype: float64 Date
2017-03-30    82.949997
2017-03-31    82.959999
Name: Close, dtype: float64
20170331
Date
2017-03-30    82.949997
2017-03-31    82.959999
Name: Close, dtype: float64 Date
2017-06-28    86.660004
2017-06-29    85.589996
Name: Close, dtype: float64
20170630
Date
2017-06-29    85.589996
2017-06-30    85.349998
Name: Close, dtype: float64 Date
2017-09-27    88.349998
2017-09-28    88.580002
Name: Close, dtype: float64
20170930
Date
2017-09-29    87.93
Name: Close, dtype: float64 Date
2017-12-28    91.589996
2017-12-29    91.360001
Name: Close, dtype: float64
20171231
Date
2018-01-02    89.839996
Name: Close, dtype: float64 Date
2018-04-02    86.220001
Name: Close, dtype: float64
20180331
Date
2018-04-02    86.220001
Name: Close, dtype: float64 Date
2018-07-02    92.669998
Name: Close, dtype: float64
20180630
Date
2018-06-29    92.239998
Name: Close, dtype: float64 Date
2018-09-27    97.769997
2018-09-28    99.230003
Name: Close, dtype: float64
20180930
Date
2018-10-01    97.669998
Name: Close, dtype: float64 Date
2018-12-31    93.059998
Name: Close, dtype: float64
20181231
Date
2018-12-31    93.059998
Name: Close, dtype: float64 Date
2019-04-01    99.599998
Name: Close, dtype: float64
20190331
Date
2019-04-01    99.599998
Name: Close, dtype: float64 Date
2019-07-01    100.93
Name: Close, dtype: float64
20190630
Date
2019-07-01    100.93
Name: Close, dtype: float64 Date
2019-09-30    112.669998
Name: Close, dtype: float64
20190930
Date
2019-09-30    112.669998
Name: Close, dtype: float64 Date
2019-12-30    106.809998
Name: Close, dtype: float64
20191231
Date
2019-12-30    106.809998
2019-12-31    106.800003
Name: Close, dtype: float64 Date
2020-03-30    91.629997
Name: Close, dtype: float64
20030331
Date
2003-03-31    15.99
Name: Close, dtype: float64 Date
2003-06-30    17.9
Name: Close, dtype: float64
20030630
Date
2003-06-30    17.9
Name: Close, dtype: float64 Date
2003-09-29    21
Name: Close, dtype: int64
20030930
Date
2003-09-29    21.00
2003-09-30    20.85
Name: Close, dtype: float64 Date
2003-12-29    27.27
Name: Close, dtype: float64
20031231
Date
2003-12-30    27.26
2003-12-31    27.50
Name: Close, dtype: float64 Date
2004-03-29    28.690001
2004-03-30    29.500000
Name: Close, dtype: float64
20040331
Date
2004-03-30    29.500000
2004-03-31    29.950001
Name: Close, dtype: float64 Date
2004-06-28    31.910000
2004-06-29    32.189999
Name: Close, dtype: float64
20040630
Date
2004-06-29    32.189999
2004-06-30    32.840000
Name: Close, dtype: float64 Date
2004-09-27    33.250000
2004-09-28    33.720001
Name: Close, dtype: float64
20040930
Date
2004-09-29    34.099998
2004-09-30    34.080002
Name: Close, dtype: float64 Date
2004-12-28    36.009998
2004-12-29    36.049999
Name: Close, dtype: float64
20041231
Date
2004-12-30    35.919998
2004-12-31    35.980000
Name: Close, dtype: float64 Date
2005-03-30    31.280001
2005-03-31    30.559999
Name: Close, dtype: float64
20050331
Date
2005-03-30    31.280001
2005-03-31    30.559999
Name: Close, dtype: float64 Date
2005-06-28    30.620001
2005-06-29    30.730000
Name: Close, dtype: float64
20050630
Date
2005-06-29    30.73
2005-06-30    33.75
Name: Close, dtype: float64 Date
2005-09-27    33.049999
2005-09-28    33.090000
Name: Close, dtype: float64
20050930
Date
2005-09-29    33.200001
2005-09-30    33.169998
Name: Close, dtype: float64 Date
2005-12-28    39.799999
2005-12-29    40.590000
Name: Close, dtype: float64
20051231
Date
2005-12-30    40.220001
Name: Close, dtype: float64 Date
2006-03-30    53.16
2006-03-31    54.02
Name: Close, dtype: float64
20060331
Date
2006-03-30    53.16
2006-03-31    54.02
Name: Close, dtype: float64 Date
2006-06-28    43.75
2006-06-29    46.75
Name: Close, dtype: float64
20060630

Date
2006-06-29    46.75
2006-06-30    47.57
Name: Close, dtype: float64 Date
2006-09-27    41.240002
2006-09-28    41.130001
Name: Close, dtype: float64
20060930
Date
2006-09-29    40.740002
Name: Close, dtype: float64 Date
2006-12-28    39.209999
2006-12-29    39.150002
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    46.68
Name: Close, dtype: float64 Date
2007-06-28    53.689999
2007-06-29    55.000000
Name: Close, dtype: float64
20070630
Date
2007-06-29    55
Name: Close, dtype: int64 Date
2007-09-27    50.84
2007-09-28    50.59
Name: Close, dtype: float64
20070930
Date
2007-10-01    50.630001
Name: Close, dtype: float64 Date
2007-12-31    40.470001
Name: Close, dtype: float64
20071231
Date
2007-12-31    40.470001
Name: Close, dtype: float64 Date
2008-03-31    42.25
Name: Close, dtype: float64
20080331
Date
2008-03-31    42.25
Name: Close, dtype: float64 Date
2008-06-30    44.110001
Name: Close, dtype: float64
20080630
Date
2008-06-30    44.110001
Name: Close, dtype: float64 Date
2008-09-29    45.75
Name: Close, dtype: float64
20080930
Date
2008-09-29    45.75
2008-09-30    46.07
Name: Close, dtype: float64 Date
2008-12-29    33.68
Name: Close, dtype: float64
20081231
Date
2008-12-30    35.299999
2008-12-31    36.830002
Name: Close, dtype: float64 Date
2009-03-30    30.290001
2009-03-31    31.070000
Name: Close, dtype: float64
20090331
Date
2009-03-30    30.290001
2009-03-31    31.070000
Name: Close, dtype: float64 Date
2009-06-29    35.549999
Name: Close, dtype: float64
20090630
Date
2009-06-29    35.549999
2009-06-30    35.480000
Name: Close, dtype: float64 Date
2009-09-28    42.950001
Name: Close, dtype: float64
20090930
Date
2009-09-29    43.320000
2009-09-30    43.580002
Name: Close, dtype: float64 Date
2009-12-28    47.610001
2009-12-29    47.689999
Name: Close, dtype: float64
20091231
Date
2009-12-30    47.299999
2009-12-31    47.000000
Name: Close, dtype: float64 Date
2010-03-30    51.130001
2010-03-31    50.720001
Name: Close, dtype: float64
20100331
Date
2010-03-30    51.130001
2010-03-31    50.720001
Name: Close, dtype: float64 Date
2010-06-28    52.509998
2010-06-29    50.330002
Name: Close, dtype: float64
20100630
Date
2010-06-29    50.330002
2010-06-30    50.660000
Name: Close, dtype: float64 Date
2010-09-27    53.200001
2010-09-28    53.740002
Name: Close, dtype: float64
20100930
Date
2010-09-29    53.770000
2010-09-30    54.040001
Name: Close, dtype: float64 Date
2010-12-28    64.980003
2010-12-29    65.220001
Name: Close, dtype: float64
20101231
Date
2010-12-30    65.750000
2010-12-31    64.690002
Name: Close, dtype: float64 Date
2011-03-30    67.160004
2011-03-31    68.470001
Name: Close, dtype: float64
20110331
Date
2011-03-30    67.160004
2011-03-31    68.470001
Name: Close, dtype: float64 Date
2011-06-28    66.889999
2011-06-29    68.099998
Name: Close, dtype: float64
20110630
Date
2011-06-29    68.099998
2011-06-30    66.309998
Name: Close, dtype: float64 Date
2011-09-27    58.020000
2011-09-28    56.209999
Name: Close, dtype: float64
20110930
Date
2011-09-29    57.009998
2011-09-30    56.459999
Name: Close, dtype: float64 Date
2011-12-28    70.139999
2011-12-29    72.199997
Name: Close, dtype: float64
20111231
Date
2011-12-30    71.550003
Name: Close, dtype: float64 Date
2012-03-29    83.540001
2012-03-30    83.279999
Name: Close, dtype: float64
20120331
Date
2012-03-30    83.279999
Name: Close, dtype: float64 Date
2012-06-28    65.070000
2012-06-29    65.550003
Name: Close, dtype: float64
20120630
Date
2012-06-29    65.550003
Name: Close, dtype: float64 Date
2012-09-27    67.410004
2012-09-28    67.459999
Name: Close, dtype: float64
20120930
Date
2012-10-01    67.18
Name: Close, dtype: float64 Date
2012-12-31    75.379997
Name: Close, dtype: float64
20121231
Date
2012-12-31    75.379997
Name: Close, dtype: float64 Date
2013-04-01    83.93
Name: Close, dtype: float64
20130331
Date
2013-04-01    83.93
Name: Close, dtype: float64 Date
2013-07-01    77.989998
Name: Close, dtype: float64
20130630
Date
2013-07-01    77.989998
Name: Close, dtype: float64 Date
2013-09-30    81.349998
Name: Close, dtype: float64
20130930
Date
2013-09-30    81.349998
Name: Close, dtype: float64 Date
2013-12-30    81.489998
Name: Close, dtype: float64
20131231
Date
2013-12-30    81.489998
2013-12-31    80.870003
Name: Close, dtype: float64 Date
2014-03-31    86.519997
Name: Close, dtype: float64
20140331
Date
2014-03-31    86.519997
Name: Close, dtype: float64 Date
2014-06-30    95.639999
Name: Close, dtype: float64
20140630
Date
2014-06-30    95.639999
Name: Close, dtype: float64 Date
2014-09-29    86.440002
Name: Close, dtype: float64
20140930
Date
2014-09-29    86.440002
2014-09-30    85.459999
Name: Close, dtype: float64 Date
2014-12-29    82.599998
Name: Close, dtype: float64
20141231
Date
2014-12-30    82.339996
2014-12-31    81.250000
Name: Close, dtype: float64 Date
2015-03-30    72.230003
2015-03-31    72.199997
Name: Close, dtype: float64
20150331
Date
2015-03-30    72.230003
2015-03-31    72.199997
Name: Close, dtype: float64 Date
2015-06-29    69.589996
Name: Close, dtype: float64
20150630
Date
2015-06-29    69.589996
2015-06-30    69.769997
Name: Close, dtype: float64 Date
2015-09-28    61.290001
Name: Close, dtype: float64
20150930
Date
2015-09-29    61.299999
2015-09-30    61.029999
Name: Close, dtype: float64 Date
2015-12-28    57.160000
2015-12-29    57.439999
Name: Close, dtype: float64
20151231
Date
2015-12-30    57.349998
2015-12-31    56.270000
Name: Close, dtype: float64 Date
2016-03-29    75.269997
2016-03-30    76.180000
Name: Close, dtype: float64
20160331
Date
2016-03-30    76.180000
2016-03-31    76.309998
Name: Close, dtype: float64 Date
2016-06-28    69.25
2016-06-29    69.57
Name: Close, dtype: float64
20160630
Date
2016-06-29    69.570000
2016-06-30    70.559998
Name: Close, dtype: float64 Date
2016-09-27    71.550003
2016-09-28    72.150002
Name: Close, dtype: float64
20160930
Date
2016-09-29    72.360001
2016-09-30    73.410004
Name: Close, dtype: float64 Date
2016-12-28    93.589996
2016-12-29    93.339996
Name: Close, dtype: float64
20161231
Date
2016-12-30    92.389999
Name: Close, dtype: float64 Date
2017-03-30    102.459999
2017-03-31    102.760002
Name: Close, dtype: float64
20170331
Date
2017-03-30    102.459999
2017-03-31    102.760002
Name: Close, dtype: float64 Date
2017-06-28    85.610001
2017-06-29    84.900002
Name: Close, dtype: float64
20170630
Date
2017-06-29    84.900002
2017-06-30    85.959999
Name: Close, dtype: float64 Date
2017-09-27    75.349998
2017-09-28    74.910004
Name: Close, dtype: float64
20170930
Date
2017-09-29    75.57
Name: Close, dtype: float64 Date
2017-12-28    97.260002
2017-12-29    96.660004
Name: Close, dtype: float64
20171231
Date
2018-01-02    97.190002
Name: Close, dtype: float64 Date
2018-04-02    88.480003
Name: Close, dtype: float64
20180331
Date
2018-04-02    88.480003
Name: Close, dtype: float64 Date
2018-07-02    84
Name: Close, dtype: int64
20180630
Date
2018-06-29    84.849998
Name: Close, dtype: float64 Date
2018-09-27    87.550003
2018-09-28    88.110001
Name: Close, dtype: float64
20180930
Date
2018-10-01    86.68
Name: Close, dtype: float64 Date
2018-12-31    76.919998
Name: Close, dtype: float64
20181231
Date
2018-12-31    76.919998
Name: Close, dtype: float64 Date
2019-04-01    83.889999
Name: Close, dtype: float64
20190331
Date
2019-04-01    83.889999
Name: Close, dtype: float64 Date
2019-07-01    73.550003
Name: Close, dtype: float64
20190630
Date
2019-07-01    73.550003
Name: Close, dtype: float64 Date
2019-09-30    72.529999
Name: Close, dtype: float64
20190930
Date
2019-09-30    72.529999
Name: Close, dtype: float64 Date
2019-12-30    79.010002
Name: Close, dtype: float64
20191231
Date
2019-12-30    79.010002
2019-12-31    78.470001
Name: Close, dtype: float64 Date
2020-03-30    54.02
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630

error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20160930
error
20161231
error
20170331
error
20170630
error
20170930
error
20171231
error
20180331
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20030331
Date
2003-03-31    9.86
Name: Close, dtype: float64 Date
2003-06-30    9.95
Name: Close, dtype: float64
20030630
Date
2003-06-30    9.95
Name: Close, dtype: float64 Date
2003-09-29    12.99
Name: Close, dtype: float64
20030930
Date
2003-09-29    12.99
2003-09-30    12.58
Name: Close, dtype: float64 Date
2003-12-29    22
Name: Close, dtype: int64
20040930
Date
2004-09-29    20.600000
2004-09-30    20.879999
Name: Close, dtype: float64 Date
2004-12-28    19.469999
2004-12-29    19.790001
Name: Close, dtype: float64
20041231
Date
2004-12-30    19.870001
2004-12-31    19.900000
Name: Close, dtype: float64 Date
2005-03-30    18.48
2005-03-31    18.60
Name: Close, dtype: float64
20050331
Date
2005-03-30    18.48
2005-03-31    18.60
Name: Close, dtype: float64 Date
2005-06-28    14.89
2005-06-29    15.12
Name: Close, dtype: float64
20050630
Date
2005-06-29    15.12
2005-06-30    14.79
Name: Close, dtype: float64 Date
2005-09-27    16.049999
2005-09-28    15.820000
Name: Close, dtype: float64
20050930
Date
2005-09-29    16.690001
2005-09-30    17.340000
Name: Close, dtype: float64 Date
2005-12-28    24.92
2005-12-29    24.85
Name: Close, dtype: float64
20051231
Date
2005-12-30    24.459999
Name: Close, dtype: float64 Date
2006-03-30    46.360001
2006-03-31    47.590000
Name: Close, dtype: float64
20060331
Date
2006-03-30    46.360001
2006-03-31    47.590000
Name: Close, dtype: float64 Date
2006-06-28    44.189999
2006-06-29    47.680000
Name: Close, dtype: float64
20060630
Date
2006-06-29    47.680000
2006-06-30    49.060001
Name: Close, dtype: float64 Date
2006-09-27    58.779999
2006-09-28    57.770000
Name: Close, dtype: float64
20060930
Date
2006-09-29    58.16
Name: Close, dtype: float64 Date
2006-12-28    59.520000
2006-12-29    59.049999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    40.669998
Name: Close, dtype: float64 Date
2007-06-28    48.880001
2007-06-29    48.369999
Name: Close, dtype: float64
20070630
Date
2007-06-29    48.369999
Name: Close, dtype: float64 Date
2007-09-27    49.209999
2007-09-28    49.380001
Name: Close, dtype: float64
20070930
Date
2007-10-01    50.119999
Name: Close, dtype: float64 Date
2007-12-31    55.689999
Name: Close, dtype: float64
20071231
Date
2007-12-31    55.689999
Name: Close, dtype: float64 Date
2008-03-31    75.449997
Name: Close, dtype: float64
20080331
Date
2008-03-31    75.449997
Name: Close, dtype: float64 Date
2008-06-30    66.230003
Name: Close, dtype: float64
20080630
Date
2008-06-30    66.230003
Name: Close, dtype: float64 Date
2008-09-29    49.84
Name: Close, dtype: float64
20080930
Date
2008-09-29    49.840000
2008-09-30    52.560001
Name: Close, dtype: float64 Date
2008-12-29    33.369999
Name: Close, dtype: float64
20081231
Date
2008-12-30    35.00
2008-12-31    34.91
Name: Close, dtype: float64 Date
2009-03-30    43.080002
2009-03-31    44.299999
Name: Close, dtype: float64
20090331
Date
2009-03-30    43.080002
2009-03-31    44.299999
Name: Close, dtype: float64 Date
2009-06-29    67.900002
Name: Close, dtype: float64
20090630
Date
2009-06-29    67.900002
2009-06-30    67.330002
Name: Close, dtype: float64 Date
2009-09-28    95.190002
Name: Close, dtype: float64
20090930
Date
2009-09-29    93.870003
2009-09-30    93.040001
Name: Close, dtype: float64 Date
2009-12-28    117.620003
2009-12-29    116.989998
Name: Close, dtype: float64
20091231
Date
2009-12-30    117.430000
2009-12-31    114.769997
Name: Close, dtype: float64 Date
2010-03-30    103.800003
2010-03-31    102.989998
Name: Close, dtype: float64
20100331
Date
2010-03-30    103.800003
2010-03-31    102.989998
Name: Close, dtype: float64 Date
2010-06-28    93.750000
2010-06-29    90.769997
Name: Close, dtype: float64
20100630
Date
2010-06-29    90.769997
2010-06-30    87.320000
Name: Close, dtype: float64 Date
2010-09-27    110.070000
2010-09-28    114.050003
Name: Close, dtype: float64
20100930
Date
2010-09-29    113.870003
2010-09-30    113.680000
Name: Close, dtype: float64 Date
2010-12-28    125.779999
2010-12-29    125.110001
Name: Close, dtype: float64
20101231
Date
2010-12-30    124.309998
2010-12-31    123.370003
Name: Close, dtype: float64 Date
2011-03-30    159.259995
2011-03-31    158.220001
Name: Close, dtype: float64
20110331
Date
2011-03-30    159.259995
2011-03-31    158.220001
Name: Close, dtype: float64 Date
2011-06-28    168.199997
2011-06-29    168.169998
Name: Close, dtype: float64
20110630
Date
2011-06-29    168.169998
2011-06-30    170.710007
Name: Close, dtype: float64 Date
2011-09-27    159.800003
2011-09-28    152.839996
Name: Close, dtype: float64
20110930
Date
2011-09-29    155.679993
2011-09-30    151.869995
Name: Close, dtype: float64 Date
2011-12-28    195.610001
2011-12-29    200.949997
Name: Close, dtype: float64
20111231
Date
2011-12-30    198.110001
Name: Close, dtype: float64 Date
2012-03-29    187.960007
2012-03-30    187.399994
Name: Close, dtype: float64
20120331
Date
2012-03-30    187.399994
Name: Close, dtype: float64 Date
2012-06-28    210.479996
2012-06-29    216.600006
Name: Close, dtype: float64
20120630
Date
2012-06-29    216.600006
Name: Close, dtype: float64 Date
2012-09-27    244.080002
2012-09-28    246.479996
Name: Close, dtype: float64
20120930
Date
2012-10-01    241.419998
Name: Close, dtype: float64 Date
2012-12-31    262.200012
Name: Close, dtype: float64
20121231
Date
2012-12-31    262.200012
Name: Close, dtype: float64 Date
2013-04-01    263.869995
Name: Close, dtype: float64
20130331
Date
2013-04-01    263.869995
Name: Close, dtype: float64 Date
2013-07-01    268.470001
Name: Close, dtype: float64
20130630
Date
2013-07-01    268.470001
Name: Close, dtype: float64 Date
2013-09-30    287.910004
Name: Close, dtype: float64
20130930
Date
2013-09-30    287.910004
Name: Close, dtype: float64 Date
2013-12-30    337.220001
Name: Close, dtype: float64
20131231
Date
2013-12-30    337.220001
2013-12-31    334.149994
Name: Close, dtype: float64 Date
2014-03-31    390.779999
Name: Close, dtype: float64
20140331
Date
2014-03-31    390.779999
Name: Close, dtype: float64 Date
2014-06-30    392.109985
Name: Close, dtype: float64
20140630
Date
2014-06-30    392.109985
Name: Close, dtype: float64 Date
2014-09-29    386.25
Name: Close, dtype: float64
20140930
Date
2014-09-29    386.250000
2014-09-30    381.019989
Name: Close, dtype: float64 Date
2014-12-29    409.070007
Name: Close, dtype: float64
20141231
Date
2014-12-30    405.470001
2014-12-31    403.529999
Name: Close, dtype: float64 Date
2015-03-30    476.540009
2015-03-31    477.799988
Name: Close, dtype: float64
20150331
Date
2015-03-30    476.540009
2015-03-31    477.799988
Name: Close, dtype: float64 Date
2015-06-29    446.179993
Name: Close, dtype: float64
20150630
Date
2015-06-29    446.179993
2015-06-30    443.890015
Name: Close, dtype: float64 Date
2015-09-28    356.420013
Name: Close, dtype: float64
20150930
Date
2015-09-29    354.589996
2015-09-30    357.000000
Name: Close, dtype: float64 Date
2015-12-28    383.570007
2015-12-29    384.399994
Name: Close, dtype: float64
20151231

Date
2015-12-30    382.359985
2015-12-31    380.730011
Name: Close, dtype: float64 Date
2016-03-29    399.790009
2016-03-30    397.290009
Name: Close, dtype: float64
20160331
Date
2016-03-30    397.290009
2016-03-31    396.260010
Name: Close, dtype: float64 Date
2016-06-28    388.529999
2016-06-29    398.359985
Name: Close, dtype: float64
20160630
Date
2016-06-29    398.359985
2016-06-30    414.380005
Name: Close, dtype: float64 Date
2016-09-27    419.480011
2016-09-28    424.440002
Name: Close, dtype: float64
20160930
Date
2016-09-29    420.089996
2016-09-30    429.320007
Name: Close, dtype: float64 Date
2016-12-28    426.570007
2016-12-29    427.660004
Name: Close, dtype: float64
20161231
Date
2016-12-30    423.839996
Name: Close, dtype: float64 Date
2017-03-30    452.480011
2017-03-31    453.230011
Name: Close, dtype: float64
20170331
Date
2017-03-30    452.480011
2017-03-31    453.230011
Name: Close, dtype: float64 Date
2017-06-28    461.809998
2017-06-29    456.839996
Name: Close, dtype: float64
20170630
Date
2017-06-29    456.839996
2017-06-30    460.480011
Name: Close, dtype: float64 Date
2017-09-27    422.859985
2017-09-28    424.739990
Name: Close, dtype: float64
20170930
Date
2017-09-29    425.75
Name: Close, dtype: float64 Date
2017-12-28    392.880005
2017-12-29    397.390015
Name: Close, dtype: float64
20171231
Date
2018-01-02    403.630005
Name: Close, dtype: float64 Date
2018-04-02    396.600006
Name: Close, dtype: float64
20180331
Date
2018-04-02    396.600006
Name: Close, dtype: float64 Date
2018-07-02    397.829987
Name: Close, dtype: float64
20180630
Date
2018-06-29    404.5
Name: Close, dtype: float64 Date
2018-09-27    405.410004
2018-09-28    405.510010
Name: Close, dtype: float64
20180930
Date
2018-10-01    400.799988
Name: Close, dtype: float64 Date
2018-12-31    412.089996
Name: Close, dtype: float64
20181231
Date
2018-12-31    412.089996
Name: Close, dtype: float64 Date
2019-04-01    429.700012
Name: Close, dtype: float64
20190331
Date
2019-04-01    429.700012
Name: Close, dtype: float64 Date
2019-07-01    399.369995
Name: Close, dtype: float64
20190630
Date
2019-07-01    399.369995
Name: Close, dtype: float64 Date
2019-09-30    472.089996
Name: Close, dtype: float64
20190930
Date
2019-09-30    472.089996
Name: Close, dtype: float64 Date
2019-12-30    487.929993
Name: Close, dtype: float64
20191231
Date
2019-12-30    487.929993
2019-12-31    486.519989
Name: Close, dtype: float64 Date
2020-03-30    396.369995
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20180630
Date
2018-06-29    52.950001
Name: Close, dtype: float64 Date
2018-09-27    52.82
2018-09-28    52.57
Name: Close, dtype: float64
20180930
Date
2018-10-01    48.849998
Name: Close, dtype: float64 Date
2018-12-31    40.080002
Name: Close, dtype: float64
20181231
Date
2018-12-31    40.080002
Name: Close, dtype: float64 Date
2019-04-01    52.139999
Name: Close, dtype: float64
20190331
Date
2019-04-01    52.139999
Name: Close, dtype: float64 Date
2019-07-01    50.650002
Name: Close, dtype: float64
20190630
Date
2019-07-01    50.650002
Name: Close, dtype: float64 Date
2019-09-30    61.919998
Name: Close, dtype: float64
20190930
Date
2019-09-30    61.919998
Name: Close, dtype: float64 Date
2019-12-30    73.75
Name: Close, dtype: float64
20191231
Date
2019-12-30    73.750000
2019-12-31    74.110001
Name: Close, dtype: float64 Date
2020-03-30    88.139999
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20150930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20030331
Date
2003-03-31    3.78
Name: Close, dtype: float64 Date
2003-06-30    7.06
Name: Close, dtype: float64
20030630
Date
2003-06-30    7.06
Name: Close, dtype: float64 Date
2003-09-29    7.92
Name: Close, dtype: float64
20030930
Date
2003-09-29    7.92
2003-09-30    8.02
Name: Close, dtype: float64 Date
2003-12-29    16.370001
Name: Close, dtype: float64
20031231
Date
2003-12-30    16.139999
2003-12-31    14.950000
Name: Close, dtype: float64 Date
2004-03-29    11.78
2004-03-30    12.09
Name: Close, dtype: float64
20040331
Date
2004-03-30    12.09
2004-03-31    12.28
Name: Close, dtype: float64 Date
2004-06-28    10.35
2004-06-29    11.20
Name: Close, dtype: float64
20040630
Date
2004-06-29    11.20
2004-06-30    11.35
Name: Close, dtype: float64 Date
2004-09-27    12.00
2004-09-28    12.04
Name: Close, dtype: float64
20040930
Date
2004-09-29    12.15
2004-09-30    12.45
Name: Close, dtype: float64 Date
2004-12-28    14.07
2004-12-29    13.85
Name: Close, dtype: float64
20041231
Date
2004-12-30    13.81
2004-12-31    13.62
Name: Close, dtype: float64 Date
2005-03-30    13.49
2005-03-31    13.60
Name: Close, dtype: float64
20050331
Date
2005-03-30    13.49
2005-03-31    13.60
Name: Close, dtype: float64 Date
2005-06-28    15.88
2005-06-29    15.99
Name: Close, dtype: float64
20050630
Date
2005-06-29    15.99
2005-06-30    15.71
Name: Close, dtype: float64 Date
2005-09-27    17.120001
2005-09-28    16.870001
Name: Close, dtype: float64
20050930
Date
2005-09-29    17.139999
2005-09-30    17.180000
Name: Close, dtype: float64 Date
2005-12-28    24.139999
2005-12-29    23.830000
Name: Close, dtype: float64
20051231
Date
2005-12-30    23.950001
Name: Close, dtype: float64 Date
2006-03-30    27.799999
2006-03-31    28.480000
Name: Close, dtype: float64
20060331
Date
2006-03-30    27.799999
2006-03-31    28.480000
Name: Close, dtype: float64 Date
2006-06-28    20.889999
2006-06-29    22.020000
Name: Close, dtype: float64
20060630
Date
2006-06-29    22.02
2006-06-30    22.23
Name: Close, dtype: float64 Date
2006-09-27    24.27
2006-09-28    24.10
Name: Close, dtype: float64
20060930
Date
2006-09-29    23.84
Name: Close, dtype: float64 Date
2006-12-28    29.709999
2006-12-29    29.190001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    27.559999
Name: Close, dtype: float64 Date
2007-06-28    33.189999
2007-06-29    33.009998
Name: Close, dtype: float64
20070630
Date
2007-06-29    33.009998
Name: Close, dtype: float64 Date
2007-09-27    29.950001
2007-09-28    30.340000
Name: Close, dtype: float64
20070930
Date
2007-10-01    31.299999
Name: Close, dtype: float64 Date
2007-12-31    38.029999
Name: Close, dtype: float64
20071231
Date
2007-12-31    38.029999
Name: Close, dtype: float64 Date
2008-03-31    27.27
Name: Close, dtype: float64
20080331
Date
2008-03-31    27.27
Name: Close, dtype: float64 Date
2008-06-30    13.53
Name: Close, dtype: float64
20080630
Date
2008-06-30    13.53
Name: Close, dtype: float64 Date
2008-09-29    15.51
Name: Close, dtype: float64
20080930

Date
2008-09-29    15.51
2008-09-30    16.59
Name: Close, dtype: float64 Date
2008-12-29    16.83
Name: Close, dtype: float64
20081231
Date
2008-12-30    17.690001
2008-12-31    18.410000
Name: Close, dtype: float64 Date
2009-03-30    12.51
2009-03-31    12.54
Name: Close, dtype: float64
20090331
Date
2009-03-30    12.51
2009-03-31    12.54
Name: Close, dtype: float64 Date
2009-06-29    16.049999
Name: Close, dtype: float64
20090630
Date
2009-06-29    16.049999
2009-06-30    16.049999
Name: Close, dtype: float64 Date
2009-09-28    21.440001
Name: Close, dtype: float64
20090930
Date
2009-09-29    22.000000
2009-09-30    21.940001
Name: Close, dtype: float64 Date
2009-12-28    23.790001
2009-12-29    23.670000
Name: Close, dtype: float64
20091231
Date
2009-12-30    23.34
2009-12-31    22.98
Name: Close, dtype: float64 Date
2010-03-30    25.09
2010-03-31    24.82
Name: Close, dtype: float64
20100331
Date
2010-03-30    25.09
2010-03-31    24.82
Name: Close, dtype: float64 Date
2010-06-28    18.25
2010-06-29    16.99
Name: Close, dtype: float64
20100630
Date
2010-06-29    16.99
2010-06-30    16.74
Name: Close, dtype: float64 Date
2010-09-27    18.430000
2010-09-28    18.719999
Name: Close, dtype: float64
20100930
Date
2010-09-29    18.870001
2010-09-30    18.660000
Name: Close, dtype: float64 Date
2010-12-28    27.950001
2010-12-29    27.770000
Name: Close, dtype: float64
20101231
Date
2010-12-30    27.340000
2010-12-31    27.469999
Name: Close, dtype: float64 Date
2011-03-30    27.370001
2011-03-31    27.719999
Name: Close, dtype: float64
20110331
Date
2011-03-30    27.370001
2011-03-31    27.719999
Name: Close, dtype: float64 Date
2011-06-28    26.6
2011-06-29    26.9
Name: Close, dtype: float64
20110630
Date
2011-06-29    26.90
2011-06-30    27.09
Name: Close, dtype: float64 Date
2011-09-27    17.790001
2011-09-28    17.010000
Name: Close, dtype: float64
20110930
Date
2011-09-29    17.43
2011-09-30    16.67
Name: Close, dtype: float64 Date
2011-12-28    19.129999
2011-12-29    19.530001
Name: Close, dtype: float64
20111231
Date
2011-12-30    19.17
Name: Close, dtype: float64 Date
2012-03-29    18.440001
2012-03-30    18.250000
Name: Close, dtype: float64
20120331
Date
2012-03-30    18.25
Name: Close, dtype: float64 Date
2012-06-28    12.68
2012-06-29    13.48
Name: Close, dtype: float64
20120630
Date
2012-06-29    13.48
Name: Close, dtype: float64 Date
2012-09-27    16.58
2012-09-28    16.42
Name: Close, dtype: float64
20120930
Date
2012-10-01    16.74
Name: Close, dtype: float64 Date
2012-12-31    18.68
Name: Close, dtype: float64
20121231
Date
2012-12-31    18.68
Name: Close, dtype: float64 Date
2013-04-01    17.92
Name: Close, dtype: float64
20130331
Date
2013-04-01    17.92
Name: Close, dtype: float64 Date
2013-07-01    22.77
Name: Close, dtype: float64
20130630
Date
2013-07-01    22.77
Name: Close, dtype: float64 Date
2013-09-30    27.33
Name: Close, dtype: float64
20130930
Date
2013-09-30    27.33
Name: Close, dtype: float64 Date
2013-12-30    28.41
Name: Close, dtype: float64
20131231
Date
2013-12-30    28.41
2013-12-31    28.01
Name: Close, dtype: float64 Date
2014-03-31    25.950001
Name: Close, dtype: float64
20140331
Date
2014-03-31    25.950001
Name: Close, dtype: float64 Date
2014-06-30    27.559999
Name: Close, dtype: float64
20140630
Date
2014-06-30    27.559999
Name: Close, dtype: float64 Date
2014-09-29    24.85
Name: Close, dtype: float64
20140930
Date
2014-09-29    24.85
2014-09-30    24.15
Name: Close, dtype: float64 Date
2014-12-29    28.27
Name: Close, dtype: float64
20141231
Date
2014-12-30    28.150000
2014-12-31    27.780001
Name: Close, dtype: float64 Date
2015-03-30    31.459999
2015-03-31    30.700001
Name: Close, dtype: float64
20150331
Date
2015-03-30    31.459999
2015-03-31    30.700001
Name: Close, dtype: float64 Date
2015-06-29    31.870001
Name: Close, dtype: float64
20150630
Date
2015-06-29    31.870001
2015-06-30    31.870001
Name: Close, dtype: float64 Date
2015-09-28    18.690001
Name: Close, dtype: float64
20150930
Date
2015-09-29    18.840000
2015-09-30    18.969999
Name: Close, dtype: float64 Date
2015-12-28    26.25
2015-12-29    26.66
Name: Close, dtype: float64
20151231
Date
2015-12-30    26.290001
2015-12-31    26.290001
Name: Close, dtype: float64 Date
2016-03-29    23.209999
2016-03-30    23.200001
Name: Close, dtype: float64
20160331
Date
2016-03-30    23.200001
2016-03-31    23.270000
Name: Close, dtype: float64 Date
2016-06-28    22.059999
2016-06-29    22.330000
Name: Close, dtype: float64
20160630
Date
2016-06-29    22.33
2016-06-30    23.34
Name: Close, dtype: float64 Date
2016-09-27    29.340000
2016-09-28    29.790001
Name: Close, dtype: float64
20160930
Date
2016-09-29    30.00
2016-09-30    31.32
Name: Close, dtype: float64 Date
2016-12-28    33.68
2016-12-29    33.52
Name: Close, dtype: float64
20161231
Date
2016-12-30    33.049999
Name: Close, dtype: float64 Date
2017-03-30    33.779999
2017-03-31    33.630001
Name: Close, dtype: float64
20170331
Date
2017-03-30    33.779999
2017-03-31    33.630001
Name: Close, dtype: float64 Date
2017-06-28    34.689999
2017-06-29    34.220001
Name: Close, dtype: float64
20170630
Date
2017-06-29    34.220001
2017-06-30    34.759998
Name: Close, dtype: float64 Date
2017-09-27    38.070000
2017-09-28    37.779999
Name: Close, dtype: float64
20170930
Date
2017-09-29    37.779999
Name: Close, dtype: float64 Date
2017-12-28    39.590000
2017-12-29    39.290001
Name: Close, dtype: float64
20171231
Date
2018-01-02    39.450001
Name: Close, dtype: float64 Date
2018-04-02    42.470001
Name: Close, dtype: float64
20180331
Date
2018-04-02    42.470001
Name: Close, dtype: float64 Date
2018-07-02    46.650002
Name: Close, dtype: float64
20180630
Date
2018-06-29    46.490002
Name: Close, dtype: float64 Date
2018-09-27    46.189999
2018-09-28    47.889999
Name: Close, dtype: float64
20180930
Date
2018-10-01    46.220001
Name: Close, dtype: float64 Date
2018-12-31    37.34
Name: Close, dtype: float64
20181231
Date
2018-12-31    37.34
Name: Close, dtype: float64 Date
2019-04-01    33.48
Name: Close, dtype: float64
20190331
Date
2019-04-01    33.48
Name: Close, dtype: float64 Date
2019-07-01    36.560001
Name: Close, dtype: float64
20190630
Date
2019-07-01    36.560001
Name: Close, dtype: float64 Date
2019-09-30    41.209999
Name: Close, dtype: float64
20190930
Date
2019-09-30    41.209999
Name: Close, dtype: float64 Date
2019-12-30    45.25
Name: Close, dtype: float64
20191231
Date
2019-12-30    45.250000
2019-12-31    45.099998
Name: Close, dtype: float64 Date
2020-03-30    18.09
Name: Close, dtype: float64
20161231
Date
2016-12-30    14.4
Name: Close, dtype: float64 Date
2017-03-30    15.16
2017-03-31    15.16
Name: Close, dtype: float64
20170331
Date
2017-03-30    15.16
2017-03-31    15.16
Name: Close, dtype: float64 Date
2017-06-28    14.36
2017-06-29    13.87
Name: Close, dtype: float64
20170630
Date
2017-06-29    13.87
2017-06-30    14.18
Name: Close, dtype: float64 Date
2017-09-27    9.05
2017-09-28    9.10
Name: Close, dtype: float64
20170930
Date
2017-09-29    9.09
Name: Close, dtype: float64 Date
2017-12-28    9.37
2017-12-29    8.99
Name: Close, dtype: float64
20171231
Date
2018-01-02    9.24
Name: Close, dtype: float64 Date
2018-04-02    7.5
Name: Close, dtype: float64
20180331
Date
2018-04-02    7.5
Name: Close, dtype: float64 Date
2018-07-02    9.2
Name: Close, dtype: float64
20180630
Date
2018-06-29    9.19
Name: Close, dtype: float64 Date
2018-09-27    13.02
2018-09-28    13.14
Name: Close, dtype: float64
20180930
Date
2018-10-01    13.68
Name: Close, dtype: float64 Date
2018-12-31    9.91
Name: Close, dtype: float64
20181231
Date
2018-12-31    9.91
Name: Close, dtype: float64 Date
2019-04-01    12.5
Name: Close, dtype: float64
20190331
Date
2019-04-01    12.5
Name: Close, dtype: float64 Date
2019-07-01    14.84
Name: Close, dtype: float64
20190630
Date
2019-07-01    14.84
Name: Close, dtype: float64 Date
2019-09-30    11.75
Name: Close, dtype: float64
20190930
Date
2019-09-30    11.75
Name: Close, dtype: float64 Date
2019-12-30    10.49
Name: Close, dtype: float64
20191231
Date
2019-12-30    10.49
2019-12-31    10.69
Name: Close, dtype: float64 Date
2020-03-30    6.93
Name: Close, dtype: float64
20130930

Date
2013-09-30    7.86
Name: Close, dtype: float64 Date
2013-12-30    9
Name: Close, dtype: int64
20131231
Date
2013-12-30    9.00
2013-12-31    8.98
Name: Close, dtype: float64 Date
2014-03-31    9.38
Name: Close, dtype: float64
20140331
Date
2014-03-31    9.38
Name: Close, dtype: float64 Date
2014-06-30    10.85
Name: Close, dtype: float64
20140630
Date
2014-06-30    10.85
Name: Close, dtype: float64 Date
2014-09-29    10.58
Name: Close, dtype: float64
20140930
Date
2014-09-29    10.58
2014-09-30    10.62
Name: Close, dtype: float64 Date
2014-12-29    10.01
Name: Close, dtype: float64
20141231
Date
2014-12-30    10.00
2014-12-31    10.52
Name: Close, dtype: float64 Date
2015-03-30     9.97
2015-03-31    10.14
Name: Close, dtype: float64
20150331
Date
2015-03-30     9.97
2015-03-31    10.14
Name: Close, dtype: float64 Date
2015-06-29    10.36
Name: Close, dtype: float64
20150630
Date
2015-06-29    10.36
2015-06-30    10.15
Name: Close, dtype: float64 Date
2015-09-28    8.48
Name: Close, dtype: float64
20150930
Date
2015-09-29    8.26
2015-09-30    8.85
Name: Close, dtype: float64 Date
2015-12-28    7.91
2015-12-29    7.80
Name: Close, dtype: float64
20151231
Date
2015-12-30    7.85
2015-12-31    8.15
Name: Close, dtype: float64 Date
2016-03-29    6.49
2016-03-30    6.49
Name: Close, dtype: float64
20160331
Date
2016-03-30    6.49
2016-03-31    6.07
Name: Close, dtype: float64 Date
2016-06-28    4.58
2016-06-29    4.70
Name: Close, dtype: float64
20160630
Date
2016-06-29    4.70
2016-06-30    4.75
Name: Close, dtype: float64 Date
2016-09-27    4.64
2016-09-28    4.52
Name: Close, dtype: float64
20160930
Date
2016-09-29    4.53
2016-09-30    4.52
Name: Close, dtype: float64 Date
2016-12-28    3.00
2016-12-29    2.92
Name: Close, dtype: float64
20161231
Date
2016-12-30    3.15
Name: Close, dtype: float64 Date
2017-03-30    3.66
2017-03-31    3.65
Name: Close, dtype: float64
20170331
Date
2017-03-30    3.66
2017-03-31    3.65
Name: Close, dtype: float64 Date
2017-06-28    1.87
2017-06-29    1.97
Name: Close, dtype: float64
20170630
Date
2017-06-29    1.97
2017-06-30    1.79
Name: Close, dtype: float64 Date
2017-09-27    1.43
2017-09-28    1.44
Name: Close, dtype: float64
20170930
Date
2017-09-29    1.42
Name: Close, dtype: float64 Date
2017-12-28    1.66
2017-12-29    1.69
Name: Close, dtype: float64
20171231
Date
2018-01-02    1.76
Name: Close, dtype: float64 Date
2018-04-02    1.53
Name: Close, dtype: float64
20180331
Date
2018-04-02    1.53
Name: Close, dtype: float64 Date
2018-07-02    1.73
Name: Close, dtype: float64
20180630
Date
2018-06-29    1.8
Name: Close, dtype: float64 Date
2018-09-27    1.39
2018-09-28    1.39
Name: Close, dtype: float64
20180930
Date
2018-10-01    1.4
Name: Close, dtype: float64 Date
2018-12-31    0.72
Name: Close, dtype: float64
20181231
Date
2018-12-31    0.72
Name: Close, dtype: float64 Date
2019-04-01    1.22
Name: Close, dtype: float64
20190331
Date
2019-04-01    1.22
Name: Close, dtype: float64 Date
2019-07-01    1.01
Name: Close, dtype: float64
20190630
Date
2019-07-01    1.01
Name: Close, dtype: float64 Date
2019-09-30    1.31
Name: Close, dtype: float64
20190930
Date
2019-09-30    1.31
Name: Close, dtype: float64 Date
2019-12-30    2.33
Name: Close, dtype: float64
20191231
Date
2019-12-30    2.33
2019-12-31    2.30
Name: Close, dtype: float64 Date
2020-03-30    1.02
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20160930
error
20161231
error
20170331
error
20030331
Date
2003-03-31    0.94
Name: Close, dtype: float64 Date
2003-06-30    1.633333
Name: Close, dtype: float64
20030630
Date
2003-06-30    1.633333
Name: Close, dtype: float64 Date
2003-09-29    2.833333
Name: Close, dtype: float64
20030930
Date
2003-09-29    2.833333
2003-09-30    2.800000
Name: Close, dtype: float64 Date
2003-12-29    3.5
Name: Close, dtype: float64
20031231
Date
2003-12-30    3.433333
2003-12-31    3.433333
Name: Close, dtype: float64 Date
2004-03-29    3.400000
2004-03-30    3.333333
Name: Close, dtype: float64
20040331
Date
2004-03-30    3.333333
2004-03-31    3.533333
Name: Close, dtype: float64 Date
2004-06-28    7.533333
2004-06-29    8.746667
Name: Close, dtype: float64
20040630
Date
2004-06-29    8.746667
2004-06-30    8.400000
Name: Close, dtype: float64 Date
2004-09-27    16.959999
2004-09-28    15.446667
Name: Close, dtype: float64
20040930
Date
2004-09-29    15.900000
2004-09-30    15.633333
Name: Close, dtype: float64 Date
2004-12-28    12.453333
2004-12-29    12.526667
Name: Close, dtype: float64
20041231
Date
2004-12-30    12.500000
2004-12-31    12.113334
Name: Close, dtype: float64 Date
2005-03-30    11.146667
2005-03-31    11.540000
Name: Close, dtype: float64
20050331
Date
2005-03-30    11.146667
2005-03-31    11.540000
Name: Close, dtype: float64 Date
2005-06-28    10.000000
2005-06-29     9.766666
Name: Close, dtype: float64
20050630
Date
2005-06-29    9.766666
2005-06-30    9.860000
Name: Close, dtype: float64 Date
2005-09-27    6.733333
2005-09-28    6.766667
Name: Close, dtype: float64
20050930
Date
2005-09-29    6.840000
2005-09-30    6.693333
Name: Close, dtype: float64 Date
2005-12-28    7.733333
2005-12-29    7.453333
Name: Close, dtype: float64
20051231
Date
2005-12-30    7.173333
Name: Close, dtype: float64 Date
2006-03-30    7.56
2006-03-31    7.54
Name: Close, dtype: float64
20060331
Date
2006-03-30    7.56
2006-03-31    7.54
Name: Close, dtype: float64 Date
2006-06-28    7.466667
2006-06-29    7.466667
Name: Close, dtype: float64
20060630
Date
2006-06-29    7.466667
2006-06-30    7.393333
Name: Close, dtype: float64 Date
2006-09-27    6.566667
2006-09-28    6.913333
Name: Close, dtype: float64
20060930
Date
2006-09-29    6.786667
Name: Close, dtype: float64 Date
2006-12-28    5.773334
2006-12-29    5.866667
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    5.326667
Name: Close, dtype: float64 Date
2007-06-28    6.680000
2007-06-29    6.673333
Name: Close, dtype: float64
20070630
Date
2007-06-29    6.673333
Name: Close, dtype: float64 Date
2007-09-27    6.680000
2007-09-28    6.833333
Name: Close, dtype: float64
20070930
Date
2007-10-01    6.786667
Name: Close, dtype: float64 Date
2007-12-31    6.033333
Name: Close, dtype: float64
20071231
Date
2007-12-31    6.033333
Name: Close, dtype: float64 Date
2008-03-31    6.406667
Name: Close, dtype: float64
20080331
Date
2008-03-31    6.406667
Name: Close, dtype: float64 Date
2008-06-30    6.693333
Name: Close, dtype: float64
20080630
Date
2008-06-30    6.693333
Name: Close, dtype: float64 Date
2008-09-29    6.333333
Name: Close, dtype: float64
20080930
Date
2008-09-29    6.333333
2008-09-30    6.000000
Name: Close, dtype: float64 Date
2008-12-29    4.033333
Name: Close, dtype: float64
20081231
Date
2008-12-30    3.760000
2008-12-31    3.913333
Name: Close, dtype: float64 Date
2009-03-30    3.993333
2009-03-31    3.813333
Name: Close, dtype: float64
20090331
Date
2009-03-30    3.993333
2009-03-31    3.813333
Name: Close, dtype: float64 Date
2009-06-29    5.526667
Name: Close, dtype: float64
20090630
Date
2009-06-29    5.526667
2009-06-30    5.473333
Name: Close, dtype: float64 Date
2009-09-28    6.486667
Name: Close, dtype: float64
20090930
Date
2009-09-29    6.566667
2009-09-30    6.440000
Name: Close, dtype: float64 Date
2009-12-28    6.493333
2009-12-29    6.286667
Name: Close, dtype: float64
20091231
Date
2009-12-30    6.266667
2009-12-31    6.300000
Name: Close, dtype: float64 Date
2010-03-30    7.733333
2010-03-31    7.600000
Name: Close, dtype: float64
20100331

Date
2010-03-30    7.733333
2010-03-31    7.600000
Name: Close, dtype: float64 Date
2010-06-28    7.206666
2010-06-29    7.080000
Name: Close, dtype: float64
20100630
Date
2010-06-29    7.080000
2010-06-30    6.973333
Name: Close, dtype: float64 Date
2010-09-27    5.973333
2010-09-28    5.920000
Name: Close, dtype: float64
20100930
Date
2010-09-29    5.880000
2010-09-30    5.953333
Name: Close, dtype: float64 Date
2010-12-28    6.500000
2010-12-29    6.466667
Name: Close, dtype: float64
20101231
Date
2010-12-30    6.440000
2010-12-31    6.493333
Name: Close, dtype: float64 Date
2011-03-30    6.320000
2011-03-31    6.266667
Name: Close, dtype: float64
20110331
Date
2011-03-30    6.320000
2011-03-31    6.266667
Name: Close, dtype: float64 Date
2011-06-28    5.900000
2011-06-29    5.933333
Name: Close, dtype: float64
20110630
Date
2011-06-29    5.933333
2011-06-30    6.080000
Name: Close, dtype: float64 Date
2011-09-27    5.133333
2011-09-28    5.113333
Name: Close, dtype: float64
20110930
Date
2011-09-29    5.046667
2011-09-30    5.000000
Name: Close, dtype: float64 Date
2011-12-28    5.52
2011-12-29    5.62
Name: Close, dtype: float64
20111231
Date
2011-12-30    5.66
Name: Close, dtype: float64 Date
2012-03-29    6.266667
2012-03-30    6.366667
Name: Close, dtype: float64
20120331
Date
2012-03-30    6.366667
Name: Close, dtype: float64 Date
2012-06-28    5.626667
2012-06-29    5.833333
Name: Close, dtype: float64
20120630
Date
2012-06-29    5.833333
Name: Close, dtype: float64 Date
2012-09-27    5.573333
2012-09-28    5.600000
Name: Close, dtype: float64
20120930
Date
2012-10-01    5.52
Name: Close, dtype: float64 Date
2012-12-31    5.646667
Name: Close, dtype: float64
20121231
Date
2012-12-31    5.646667
Name: Close, dtype: float64 Date
2013-04-01    6.146667
Name: Close, dtype: float64
20130331
Date
2013-04-01    6.146667
Name: Close, dtype: float64 Date
2013-07-01    6.926667
Name: Close, dtype: float64
20130630
Date
2013-07-01    6.926667
Name: Close, dtype: float64 Date
2013-09-30    7.5
Name: Close, dtype: float64
20130930
Date
2013-09-30    7.5
Name: Close, dtype: float64 Date
2013-12-30    7.946667
Name: Close, dtype: float64
20131231
Date
2013-12-30    7.946667
2013-12-31    7.980000
Name: Close, dtype: float64 Date
2014-03-31    8.066667
Name: Close, dtype: float64
20140331
Date
2014-03-31    8.066667
Name: Close, dtype: float64 Date
2014-06-30    8.666667
Name: Close, dtype: float64
20140630
Date
2014-06-30    8.666667
Name: Close, dtype: float64 Date
2014-09-29    8.7
Name: Close, dtype: float64
20140930
Date
2014-09-29    8.70
2014-09-30    8.68
Name: Close, dtype: float64 Date
2014-12-29    16.873333
Name: Close, dtype: float64
20141231
Date
2014-12-30    17.186666
2014-12-31    17.046667
Name: Close, dtype: float64 Date
2015-03-30    16.326666
2015-03-31    16.400000
Name: Close, dtype: float64
20150331
Date
2015-03-30    16.326666
2015-03-31    16.400000
Name: Close, dtype: float64 Date
2015-06-29    13.773334
Name: Close, dtype: float64
20150630
Date
2015-06-29    13.773334
2015-06-30    13.966666
Name: Close, dtype: float64 Date
2015-09-28    12.313334
Name: Close, dtype: float64
20150930
Date
2015-09-29    11.666667
2015-09-30    11.866667
Name: Close, dtype: float64 Date
2015-12-28    15.666667
2015-12-29    16.106667
Name: Close, dtype: float64
20151231
Date
2015-12-30    16.166666
2015-12-31    16.313334
Name: Close, dtype: float64 Date
2016-03-29    16.666666
2016-03-30    17.133333
Name: Close, dtype: float64
20160331
Date
2016-03-30    17.133333
2016-03-31    16.106667
Name: Close, dtype: float64 Date
2016-06-28    15.766666
2016-06-29    14.753333
Name: Close, dtype: float64
20160630
Date
2016-06-29    14.753333
2016-06-30    14.333333
Name: Close, dtype: float64 Date
2016-09-27    13.786667
2016-09-28    13.226666
Name: Close, dtype: float64
20160930
Date
2016-09-29    13.613334
2016-09-30    13.613334
Name: Close, dtype: float64 Date
2016-12-28    15.433333
2016-12-29    15.700000
Name: Close, dtype: float64
20161231
Date
2016-12-30    15.333333
Name: Close, dtype: float64 Date
2017-03-30    13.446667
2017-03-31    13.446667
Name: Close, dtype: float64
20170331
Date
2017-03-30    13.446667
2017-03-31    13.446667
Name: Close, dtype: float64 Date
2017-06-28    13.953333
2017-06-29    13.700000
Name: Close, dtype: float64
20170630
Date
2017-06-29    13.700000
2017-06-30    14.133333
Name: Close, dtype: float64 Date
2017-09-27    11.666667
2017-09-28    11.773334
Name: Close, dtype: float64
20170930
Date
2017-09-29    11.773334
Name: Close, dtype: float64 Date
2017-12-28    15.833333
2017-12-29    16.459999
Name: Close, dtype: float64
20171231
Date
2018-01-02    16.553333
Name: Close, dtype: float64 Date
2018-04-02    16.866667
Name: Close, dtype: float64
20180331
Date
2018-04-02    16.866667
Name: Close, dtype: float64 Date
2018-07-02    21.6
Name: Close, dtype: float64
20180630
Date
2018-06-29    22.233334
Name: Close, dtype: float64 Date
2018-09-27    22.600000
2018-09-28    22.466667
Name: Close, dtype: float64
20180930
Date
2018-10-01    22.653334
Name: Close, dtype: float64 Date
2018-12-31    16.333334
Name: Close, dtype: float64
20181231
Date
2018-12-31    16.333334
Name: Close, dtype: float64 Date
2019-04-01    20.08
Name: Close, dtype: float64
20190331
Date
2019-04-01    20.08
Name: Close, dtype: float64 Date
2019-07-01    17.26
Name: Close, dtype: float64
20190630
Date
2019-07-01    17.26
Name: Close, dtype: float64 Date
2019-09-30    18.780001
Name: Close, dtype: float64
20190930
Date
2019-09-30    18.780001
Name: Close, dtype: float64 Date
2019-12-30    20.75
Name: Close, dtype: float64
20191231
Date
2019-12-30    20.75
2019-12-31    20.15
Name: Close, dtype: float64 Date
2020-03-30    12.45
Name: Close, dtype: float64
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20071231
Date
2007-12-31    17.15
Name: Close, dtype: float64 Date
2008-03-31    14.04
Name: Close, dtype: float64
20080331
Date
2008-03-31    14.04
Name: Close, dtype: float64 Date
2008-06-30    11.24
Name: Close, dtype: float64
20080630
Date
2008-06-30    11.24
Name: Close, dtype: float64 Date
2008-09-29    13.08
Name: Close, dtype: float64
20080930
Date
2008-09-29    13.08
2008-09-30    13.28
Name: Close, dtype: float64 Date
2008-12-29    7.7
Name: Close, dtype: float64
20081231
Date
2008-12-30    8.06
2008-12-31    8.28
Name: Close, dtype: float64 Date
2009-03-30    6.62
2009-03-31    6.62
Name: Close, dtype: float64
20090331
Date
2009-03-30    6.62
2009-03-31    6.62
Name: Close, dtype: float64 Date
2009-06-29    10.93
Name: Close, dtype: float64
20090630
Date
2009-06-29    10.93
2009-06-30    11.12
Name: Close, dtype: float64 Date
2009-09-28    16.25
Name: Close, dtype: float64
20090930
Date
2009-09-29    16.530001
2009-09-30    16.510000
Name: Close, dtype: float64 Date
2009-12-28    18.240000
2009-12-29    18.450001
Name: Close, dtype: float64
20091231
Date
2009-12-30    18.35
2009-12-31    18.16
Name: Close, dtype: float64 Date
2010-03-30    23.209999
2010-03-31    22.620001
Name: Close, dtype: float64
20100331
Date
2010-03-30    23.209999
2010-03-31    22.620001
Name: Close, dtype: float64 Date
2010-06-28    25.820000
2010-06-29    24.040001
Name: Close, dtype: float64
20100630
Date
2010-06-29    24.040001
2010-06-30    23.660000
Name: Close, dtype: float64 Date
2010-09-27    28.639999
2010-09-28    29.350000
Name: Close, dtype: float64
20100930
Date
2010-09-29    29.820000
2010-09-30    29.200001
Name: Close, dtype: float64 Date
2010-12-28    33.959999
2010-12-29    34.270000
Name: Close, dtype: float64
20101231
Date
2010-12-30    34.34
2010-12-31    34.00
Name: Close, dtype: float64 Date
2011-03-30    48.709999
2011-03-31    48.130001
Name: Close, dtype: float64
20110331
Date
2011-03-30    48.709999
2011-03-31    48.130001
Name: Close, dtype: float64 Date
2011-06-28    64.190002
2011-06-29    63.349998
Name: Close, dtype: float64
20110630
Date
2011-06-29    63.349998
2011-06-30    64.580002
Name: Close, dtype: float64 Date
2011-09-27    70.019997
2011-09-28    67.339996
Name: Close, dtype: float64
20110930
Date
2011-09-29    66.120003
2011-09-30    62.230000
Name: Close, dtype: float64 Date
2011-12-28    64.089996
2011-12-29    64.669998
Name: Close, dtype: float64
20111231

Date
2011-12-30    64.919998
Name: Close, dtype: float64 Date
2012-03-29    92.830002
2012-03-30    92.889999
Name: Close, dtype: float64
20120331
Date
2012-03-30    92.889999
Name: Close, dtype: float64 Date
2012-06-28    90.290001
2012-06-29    93.379997
Name: Close, dtype: float64
20120630
Date
2012-06-29    93.379997
Name: Close, dtype: float64 Date
2012-09-27    96.660004
2012-09-28    96.309998
Name: Close, dtype: float64
20120930
Date
2012-10-01    96.809998
Name: Close, dtype: float64 Date
2012-12-31    98.260002
Name: Close, dtype: float64
20121231
Date
2012-12-31    98.260002
Name: Close, dtype: float64 Date
2013-04-01    81.690002
Name: Close, dtype: float64
20130331
Date
2013-04-01    81.690002
Name: Close, dtype: float64 Date
2013-07-01    99.010002
Name: Close, dtype: float64
20130630
Date
2013-07-01    99.010002
Name: Close, dtype: float64 Date
2013-09-30    119.459999
Name: Close, dtype: float64
20130930
Date
2013-09-30    119.459999
Name: Close, dtype: float64 Date
2013-12-30    94.370003
Name: Close, dtype: float64
20131231
Date
2013-12-30    94.370003
2013-12-31    96.519997
Name: Close, dtype: float64 Date
2014-03-31    97.440002
Name: Close, dtype: float64
20140331
Date
2014-03-31    97.440002
Name: Close, dtype: float64 Date
2014-06-30    91.410004
Name: Close, dtype: float64
20140630
Date
2014-06-30    91.410004
Name: Close, dtype: float64 Date
2014-09-29    118.32
Name: Close, dtype: float64
20140930
Date
2014-09-29    118.320000
2014-09-30    118.169998
Name: Close, dtype: float64 Date
2014-12-29    128.759995
Name: Close, dtype: float64
20141231
Date
2014-12-30    128.770004
2014-12-31    127.839996
Name: Close, dtype: float64 Date
2015-03-30    151.580002
2015-03-31    150.850006
Name: Close, dtype: float64
20150331
Date
2015-03-30    151.580002
2015-03-31    150.850006
Name: Close, dtype: float64 Date
2015-06-29    153.679993
Name: Close, dtype: float64
20150630
Date
2015-06-29    153.679993
2015-06-30    154.449997
Name: Close, dtype: float64 Date
2015-09-28    164.360001
Name: Close, dtype: float64
20150930
Date
2015-09-29    161.710007
2015-09-30    163.350006
Name: Close, dtype: float64 Date
2015-12-28    184.770004
2015-12-29    185.309998
Name: Close, dtype: float64
20151231
Date
2015-12-30    185.610001
2015-12-31    185.000000
Name: Close, dtype: float64 Date
2016-03-29    193.369995
2016-03-30    194.110001
Name: Close, dtype: float64
20160331
Date
2016-03-30    194.110001
2016-03-31    193.740005
Name: Close, dtype: float64 Date
2016-06-28    236.210007
2016-06-29    240.660004
Name: Close, dtype: float64
20160630
Date
2016-06-29    240.660004
2016-06-30    243.639999
Name: Close, dtype: float64 Date
2016-09-27    243.660004
2016-09-28    240.199997
Name: Close, dtype: float64
20160930
Date
2016-09-29    237.119995
2016-09-30    237.979996
Name: Close, dtype: float64 Date
2016-12-28    255.750000
2016-12-29    257.339996
Name: Close, dtype: float64
20161231
Date
2016-12-30    254.940002
Name: Close, dtype: float64 Date
2017-03-30    285.510010
2017-03-31    285.230011
Name: Close, dtype: float64
20170331
Date
2017-03-30    285.510010
2017-03-31    285.230011
Name: Close, dtype: float64 Date
2017-06-28    285.279999
2017-06-29    285.880005
Name: Close, dtype: float64
20170630
Date
2017-06-29    285.880005
2017-06-30    287.339996
Name: Close, dtype: float64 Date
2017-09-27    227.660004
2017-09-28    226.889999
Name: Close, dtype: float64
20170930
Date
2017-09-29    226.059998
Name: Close, dtype: float64 Date
2017-12-28    225.330002
2017-12-29    223.660004
Name: Close, dtype: float64
20171231
Date
2018-01-02    229.630005
Name: Close, dtype: float64 Date
2018-04-02    203.130005
Name: Close, dtype: float64
20180331
Date
2018-04-02    203.130005
Name: Close, dtype: float64 Date
2018-07-02    232.539993
Name: Close, dtype: float64
20180630
Date
2018-06-29    233.460007
Name: Close, dtype: float64 Date
2018-09-27    279.279999
2018-09-28    282.119995
Name: Close, dtype: float64
20180930
Date
2018-10-01    282.959991
Name: Close, dtype: float64 Date
2018-12-31    244.839996
Name: Close, dtype: float64
20181231
Date
2018-12-31    244.839996
Name: Close, dtype: float64 Date
2019-04-01    352.549988
Name: Close, dtype: float64
20190331
Date
2019-04-01    352.549988
Name: Close, dtype: float64 Date
2019-07-01    340.380005
Name: Close, dtype: float64
20190630
Date
2019-07-01    340.380005
Name: Close, dtype: float64 Date
2019-09-30    250.649994
Name: Close, dtype: float64
20190930
Date
2019-09-30    250.649994
Name: Close, dtype: float64 Date
2019-12-30    251.350006
Name: Close, dtype: float64
20191231
Date
2019-12-30    251.350006
2019-12-31    253.139999
Name: Close, dtype: float64 Date
2020-03-30    179.710007
Name: Close, dtype: float64
20120930
Date
2012-10-01    18.57
Name: Close, dtype: float64 Date
2012-12-31    21.1
Name: Close, dtype: float64
20121231
Date
2012-12-31    21.1
Name: Close, dtype: float64 Date
2013-04-01    21.42
Name: Close, dtype: float64
20130331
Date
2013-04-01    21.42
Name: Close, dtype: float64 Date
2013-07-01    26.450001
Name: Close, dtype: float64
20130630
Date
2013-07-01    26.450001
Name: Close, dtype: float64 Date
2013-09-30    31.870001
Name: Close, dtype: float64
20130930
Date
2013-09-30    31.870001
Name: Close, dtype: float64 Date
2013-12-30    32.459999
Name: Close, dtype: float64
20131231
Date
2013-12-30    32.459999
2013-12-31    32.900002
Name: Close, dtype: float64 Date
2014-03-31    26.35
Name: Close, dtype: float64
20140331
Date
2014-03-31    26.35
Name: Close, dtype: float64 Date
2014-06-30    26.690001
Name: Close, dtype: float64
20140630
Date
2014-06-30    26.690001
Name: Close, dtype: float64 Date
2014-09-29    26.59
Name: Close, dtype: float64
20140930
Date
2014-09-29    26.59
2014-09-30    26.59
Name: Close, dtype: float64 Date
2014-12-29    28.219999
Name: Close, dtype: float64
20141231
Date
2014-12-30    28.240000
2014-12-31    28.120001
Name: Close, dtype: float64 Date
2015-03-30    24.990000
2015-03-31    25.559999
Name: Close, dtype: float64
20150331
Date
2015-03-30    24.990000
2015-03-31    25.559999
Name: Close, dtype: float64 Date
2015-06-29    30.209999
Name: Close, dtype: float64
20150630
Date
2015-06-29    30.209999
2015-06-30    30.250000
Name: Close, dtype: float64 Date
2015-09-28    28.26
Name: Close, dtype: float64
20150930
Date
2015-09-29    27.940001
2015-09-30    28.360001
Name: Close, dtype: float64 Date
2015-12-28    29.690001
2015-12-29    30.030001
Name: Close, dtype: float64
20151231
Date
2015-12-30    29.760000
2015-12-31    29.629999
Name: Close, dtype: float64 Date
2016-03-29    30.900000
2016-03-30    31.120001
Name: Close, dtype: float64
20160331
Date
2016-03-30    31.120001
2016-03-31    31.930000
Name: Close, dtype: float64 Date
2016-06-28    30.42
2016-06-29    31.35
Name: Close, dtype: float64
20160630
Date
2016-06-29    31.350000
2016-06-30    31.700001
Name: Close, dtype: float64 Date
2016-09-27    35.41
2016-09-28    35.52
Name: Close, dtype: float64
20160930
Date
2016-09-29    35.240002
2016-09-30    35.459999
Name: Close, dtype: float64 Date
2016-12-28    30.879999
2016-12-29    30.879999
Name: Close, dtype: float64
20161231
Date
2016-12-30    30.65
Name: Close, dtype: float64 Date
2017-03-30    29.60
2017-03-31    29.27
Name: Close, dtype: float64
20170331
Date
2017-03-30    29.60
2017-03-31    29.27
Name: Close, dtype: float64 Date
2017-06-28    32.389999
2017-06-29    32.650002
Name: Close, dtype: float64
20170630
Date
2017-06-29    32.650002
2017-06-30    32.950001
Name: Close, dtype: float64 Date
2017-09-27    35.689999
2017-09-28    35.750000
Name: Close, dtype: float64
20170930
Date
2017-09-29    35.990002
Name: Close, dtype: float64 Date
2017-12-28    41.189999
2017-12-29    40.669998
Name: Close, dtype: float64
20171231
Date
2018-01-02    41.349998
Name: Close, dtype: float64 Date
2018-04-02    37.150002
Name: Close, dtype: float64
20180331
Date
2018-04-02    37.150002
Name: Close, dtype: float64 Date
2018-07-02    31.75
Name: Close, dtype: float64
20180630
Date
2018-06-29    31.9
Name: Close, dtype: float64 Date
2018-09-27    31.719999
2018-09-28    31.670000
Name: Close, dtype: float64
20180930
Date
2018-10-01    31.620001
Name: Close, dtype: float64 Date
2018-12-31    23.73
Name: Close, dtype: float64
20181231

Date
2018-12-31    23.73
Name: Close, dtype: float64 Date
2019-04-01    29.209999
Name: Close, dtype: float64
20190331
Date
2019-04-01    29.209999
Name: Close, dtype: float64 Date
2019-07-01    27.049999
Name: Close, dtype: float64
20190630
Date
2019-07-01    27.049999
Name: Close, dtype: float64 Date
2019-09-30    31.450001
Name: Close, dtype: float64
20190930
Date
2019-09-30    31.450001
Name: Close, dtype: float64 Date
2019-12-30    35.700001
Name: Close, dtype: float64
20191231
Date
2019-12-30    35.700001
2019-12-31    35.700001
Name: Close, dtype: float64 Date
2020-03-30    21
Name: Close, dtype: int64
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20030331
Date
2003-03-31    27.139999
Name: Close, dtype: float64 Date
2003-06-30    32.25
Name: Close, dtype: float64
20030630
Date
2003-06-30    32.25
Name: Close, dtype: float64 Date
2003-09-29    31.049999
Name: Close, dtype: float64
20030930
Date
2003-09-29    31.049999
2003-09-30    30.990000
Name: Close, dtype: float64 Date
2003-12-29    33.330002
Name: Close, dtype: float64
20031231
Date
2003-12-30    33.32
2003-12-31    33.07
Name: Close, dtype: float64 Date
2004-03-29    35.540001
2004-03-30    35.580002
Name: Close, dtype: float64
20040331
Date
2004-03-30    35.580002
2004-03-31    35.630001
Name: Close, dtype: float64 Date
2004-06-28    34.439999
2004-06-29    34.930000
Name: Close, dtype: float64
20040630
Date
2004-06-29    34.930000
2004-06-30    34.779999
Name: Close, dtype: float64 Date
2004-09-27    35.389999
2004-09-28    35.930000
Name: Close, dtype: float64
20040930
Date
2004-09-29    36.540001
2004-09-30    35.970001
Name: Close, dtype: float64 Date
2004-12-28    41.209999
2004-12-29    41.009998
Name: Close, dtype: float64
20041231
Date
2004-12-30    41.020000
2004-12-31    40.939999
Name: Close, dtype: float64 Date
2005-03-30    38.509998
2005-03-31    38.490002
Name: Close, dtype: float64
20050331
Date
2005-03-30    38.509998
2005-03-31    38.490002
Name: Close, dtype: float64 Date
2005-06-28    41.849998
2005-06-29    41.939999
Name: Close, dtype: float64
20050630
Date
2005-06-29    41.939999
2005-06-30    41.900002
Name: Close, dtype: float64 Date
2005-09-27    46.340000
2005-09-28    46.389999
Name: Close, dtype: float64
20050930
Date
2005-09-29    47.230000
2005-09-30    47.369999
Name: Close, dtype: float64 Date
2005-12-28    47.919998
2005-12-29    47.709999
Name: Close, dtype: float64
20051231
Date
2005-12-30    47.43
Name: Close, dtype: float64 Date
2006-03-30    49.400002
2006-03-31    48.799999
Name: Close, dtype: float64
20060331
Date
2006-03-30    49.400002
2006-03-31    48.799999
Name: Close, dtype: float64 Date
2006-06-28    53.889999
2006-06-29    54.990002
Name: Close, dtype: float64
20060630
Date
2006-06-29    54.990002
2006-06-30    55.650002
Name: Close, dtype: float64 Date
2006-09-27    54.130001
2006-09-28    54.450001
Name: Close, dtype: float64
20060930
Date
2006-09-29    54.279999
Name: Close, dtype: float64 Date
2006-12-28    59.070000
2006-12-29    58.700001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    59.869999
Name: Close, dtype: float64 Date
2007-06-28    58.410000
2007-06-29    58.290001
Name: Close, dtype: float64
20070630
Date
2007-06-29    58.290001
Name: Close, dtype: float64 Date
2007-09-27    62.27
2007-09-28    63.09
Name: Close, dtype: float64
20070930
Date
2007-10-01    64.860001
Name: Close, dtype: float64 Date
2007-12-31    68.839996
Name: Close, dtype: float64
20071231
Date
2007-12-31    68.839996
Name: Close, dtype: float64 Date
2008-03-31    55.720001
Name: Close, dtype: float64
20080331
Date
2008-03-31    55.720001
Name: Close, dtype: float64 Date
2008-06-30    41.970001
Name: Close, dtype: float64
20080630
Date
2008-06-30    41.970001
Name: Close, dtype: float64 Date
2008-09-29    39.209999
Name: Close, dtype: float64
20080930
Date
2008-09-29    39.209999
2008-09-30    43.490002
Name: Close, dtype: float64 Date
2008-12-29    19.02
Name: Close, dtype: float64
20081231
Date
2008-12-30    21.49
2008-12-31    22.57
Name: Close, dtype: float64 Date
2009-03-30    7.98
2009-03-31    8.18
Name: Close, dtype: float64
20090331
Date
2009-03-30    7.98
2009-03-31    8.18
Name: Close, dtype: float64 Date
2009-06-29    19.190001
Name: Close, dtype: float64
20090630
Date
2009-06-29    19.190001
2009-06-30    18.840000
Name: Close, dtype: float64 Date
2009-09-28    27.969999
Name: Close, dtype: float64
20090930
Date
2009-09-29    27.830000
2009-09-30    27.389999
Name: Close, dtype: float64 Date
2009-12-28    24.969999
2009-12-29    24.629999
Name: Close, dtype: float64
20091231
Date
2009-12-30    24.350000
2009-12-31    24.040001
Name: Close, dtype: float64 Date
2010-03-30    28.820000
2010-03-31    29.209999
Name: Close, dtype: float64
20100331
Date
2010-03-30    28.820000
2010-03-31    29.209999
Name: Close, dtype: float64 Date
2010-06-28    25.40
2010-06-29    23.93
Name: Close, dtype: float64
20100630
Date
2010-06-29    23.930000
2010-06-30    23.440001
Name: Close, dtype: float64 Date
2010-09-27    25.92
2010-09-28    26.26
Name: Close, dtype: float64
20100930
Date
2010-09-29    25.950001
2010-09-30    25.920000
Name: Close, dtype: float64 Date
2010-12-28    33.009998
2010-12-29    32.799999
Name: Close, dtype: float64
20101231
Date
2010-12-30    32.540001
2010-12-31    32.560001
Name: Close, dtype: float64 Date
2011-03-30    31.790001
2011-03-31    32.110001
Name: Close, dtype: float64
20110331
Date
2011-03-30    31.790001
2011-03-31    32.110001
Name: Close, dtype: float64 Date
2011-06-28    29.540001
2011-06-29    30.270000
Name: Close, dtype: float64
20110630
Date
2011-06-29    30.27
2011-06-30    30.42
Name: Close, dtype: float64 Date
2011-09-27    23.950001
2011-09-28    23.010000
Name: Close, dtype: float64
20110930
Date
2011-09-29    23.92
2011-09-30    22.67
Name: Close, dtype: float64 Date
2011-12-28    24.23
2011-12-29    24.74
Name: Close, dtype: float64
20111231
Date
2011-12-30    24.6
Name: Close, dtype: float64 Date
2012-03-29    29.01
2012-03-30    29.51
Name: Close, dtype: float64
20120331
Date
2012-03-30    29.51
Name: Close, dtype: float64 Date
2012-06-28    25.41
2012-06-29    26.23
Name: Close, dtype: float64
20120630
Date
2012-06-29    26.23
Name: Close, dtype: float64 Date
2012-09-27    26.940001
2012-09-28    26.940001
Name: Close, dtype: float64
20120930
Date
2012-10-01    26.9
Name: Close, dtype: float64 Date
2012-12-31    28.52
Name: Close, dtype: float64
20121231
Date
2012-12-31    28.52
Name: Close, dtype: float64 Date
2013-04-01    33.639999
Name: Close, dtype: float64
20130331
Date
2013-04-01    33.639999
Name: Close, dtype: float64 Date
2013-07-01    37.82
Name: Close, dtype: float64
20130630
Date
2013-07-01    37.82
Name: Close, dtype: float64 Date
2013-09-30    42.82
Name: Close, dtype: float64
20130930
Date
2013-09-30    42.82
Name: Close, dtype: float64 Date
2013-12-30    49.16
Name: Close, dtype: float64
20131231
Date
2013-12-30    49.160000
2013-12-31    49.310001
Name: Close, dtype: float64 Date
2014-03-31    45.990002
Name: Close, dtype: float64
20140331
Date
2014-03-31    45.990002
Name: Close, dtype: float64 Date
2014-06-30    50.48
Name: Close, dtype: float64
20140630
Date
2014-06-30    50.48
Name: Close, dtype: float64 Date
2014-09-29    53
Name: Close, dtype: int64
20140930
Date
2014-09-29    53.000000
2014-09-30    52.470001
Name: Close, dtype: float64 Date
2014-12-29    53.099998
Name: Close, dtype: float64
20141231
Date
2014-12-30    52.869999
2014-12-31    51.939999
Name: Close, dtype: float64 Date
2015-03-30    51.290001
2015-03-31    51.369999
Name: Close, dtype: float64
20150331
Date
2015-03-30    51.290001
2015-03-31    51.369999
Name: Close, dtype: float64 Date
2015-06-29    50.740002
Name: Close, dtype: float64
20150630

Date
2015-06-29    50.740002
2015-06-30    51.290001
Name: Close, dtype: float64 Date
2015-09-28    46.389999
Name: Close, dtype: float64
20150930
Date
2015-09-29    46.790001
2015-09-30    47.340000
Name: Close, dtype: float64 Date
2015-12-28    45.57
2015-12-29    46.16
Name: Close, dtype: float64
20151231
Date
2015-12-30    45.470001
2015-12-31    44.980000
Name: Close, dtype: float64 Date
2016-03-29    39.400002
2016-03-30    39.770000
Name: Close, dtype: float64
20160331
Date
2016-03-30    39.770000
2016-03-31    39.450001
Name: Close, dtype: float64 Date
2016-06-28    39.060001
2016-06-29    40.299999
Name: Close, dtype: float64
20160630
Date
2016-06-29    40.299999
2016-06-30    41.110001
Name: Close, dtype: float64 Date
2016-09-27    50.419998
2016-09-28    51.419998
Name: Close, dtype: float64
20160930
Date
2016-09-29    50.500000
2016-09-30    51.509998
Name: Close, dtype: float64 Date
2016-12-28    58.000000
2016-12-29    57.849998
Name: Close, dtype: float64
20161231
Date
2016-12-30    57.860001
Name: Close, dtype: float64 Date
2017-03-30    63.110001
2017-03-31    63.110001
Name: Close, dtype: float64
20170331
Date
2017-03-30    63.110001
2017-03-31    63.110001
Name: Close, dtype: float64 Date
2017-06-28    64.690002
2017-06-29    64.529999
Name: Close, dtype: float64
20170630
Date
2017-06-29    64.529999
2017-06-30    64.070000
Name: Close, dtype: float64 Date
2017-09-27    64.519997
2017-09-28    64.000000
Name: Close, dtype: float64
20170930
Date
2017-09-29    64.339996
Name: Close, dtype: float64 Date
2017-12-28    71.389999
2017-12-29    70.559998
Name: Close, dtype: float64
20171231
Date
2018-01-02    70.379997
Name: Close, dtype: float64 Date
2018-04-02    59.419998
Name: Close, dtype: float64
20180331
Date
2018-04-02    59.419998
Name: Close, dtype: float64 Date
2018-07-02    52.860001
Name: Close, dtype: float64
20180630
Date
2018-06-29    52.950001
Name: Close, dtype: float64 Date
2018-09-27    58.630001
2018-09-28    58.590000
Name: Close, dtype: float64
20180930
Date
2018-10-01    58.599998
Name: Close, dtype: float64 Date
2018-12-31    44.169998
Name: Close, dtype: float64
20181231
Date
2018-12-31    44.169998
Name: Close, dtype: float64 Date
2019-04-01    51.98
Name: Close, dtype: float64
20190331
Date
2019-04-01    51.98
Name: Close, dtype: float64 Date
2019-07-01    58.720001
Name: Close, dtype: float64
20190630
Date
2019-07-01    58.720001
Name: Close, dtype: float64 Date
2019-09-30    57.139999
Name: Close, dtype: float64
20190930
Date
2019-09-30    57.139999
Name: Close, dtype: float64 Date
2019-12-30    54.650002
Name: Close, dtype: float64
20191231
Date
2019-12-30    54.650002
2019-12-31    55.000000
Name: Close, dtype: float64 Date
2020-03-30    33.209999
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20160331
Date
2016-03-30    23.99
2016-03-31    23.35
Name: Close, dtype: float64 Date
2016-06-28    26.15
2016-06-29    26.57
Name: Close, dtype: float64
20160630
Date
2016-06-29    26.57
2016-06-30    26.91
Name: Close, dtype: float64 Date
2016-09-27    24.809999
2016-09-28    24.500000
Name: Close, dtype: float64
20160930
Date
2016-09-29    24.270000
2016-09-30    24.799999
Name: Close, dtype: float64 Date
2016-12-28    23.900000
2016-12-29    24.049999
Name: Close, dtype: float64
20161231
Date
2016-12-30    24
Name: Close, dtype: int64 Date
2017-03-30    23.450001
2017-03-31    23.799999
Name: Close, dtype: float64
20170331
Date
2017-03-30    23.450001
2017-03-31    23.799999
Name: Close, dtype: float64 Date
2017-06-28    27.200001
2017-06-29    26.900000
Name: Close, dtype: float64
20170630
Date
2017-06-29    26.9
2017-06-30    27.4
Name: Close, dtype: float64 Date
2017-09-27    28.700001
2017-09-28    28.299999
Name: Close, dtype: float64
20170930
Date
2017-09-29    28.25
Name: Close, dtype: float64 Date
2017-12-28    33.200001
2017-12-29    33.099998
Name: Close, dtype: float64
20171231
Date
2018-01-02    33.599998
Name: Close, dtype: float64 Date
2018-04-02    29
Name: Close, dtype: int64
20180331
Date
2018-04-02    29
Name: Close, dtype: int64 Date
2018-07-02    36.549999
Name: Close, dtype: float64
20180630
Date
2018-06-29    36.700001
Name: Close, dtype: float64 Date
2018-09-27    33.299999
2018-09-28    33.299999
Name: Close, dtype: float64
20180930
Date
2018-10-01    32.040001
Name: Close, dtype: float64 Date
2018-12-31    32.27
Name: Close, dtype: float64
20181231
Date
2018-12-31    32.27
Name: Close, dtype: float64 Date
2019-04-01    39.799999
Name: Close, dtype: float64
20190331
Date
2019-04-01    39.799999
Name: Close, dtype: float64 Date
2019-07-01    39.700001
Name: Close, dtype: float64
20190630
Date
2019-07-01    39.700001
Name: Close, dtype: float64 Date
2019-09-30    46.009998
Name: Close, dtype: float64
20190930
Date
2019-09-30    46.009998
Name: Close, dtype: float64 Date
2019-12-30    51.509998
Name: Close, dtype: float64
20191231
Date
2019-12-30    51.509998
2019-12-31    51.480000
Name: Close, dtype: float64 Date
2020-03-30    25.209999
Name: Close, dtype: float64
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20030331
Date
2003-03-31    6.315
Name: Close, dtype: float64 Date
2003-06-30    8.31
Name: Close, dtype: float64
20030630
Date
2003-06-30    8.31
Name: Close, dtype: float64 Date
2003-09-29    9.66
Name: Close, dtype: float64
20030930
Date
2003-09-29    9.66
2003-09-30    9.62
Name: Close, dtype: float64 Date
2003-12-29    12.775
Name: Close, dtype: float64
20031231
Date
2003-12-30    12.77
2003-12-31    12.55
Name: Close, dtype: float64 Date
2004-03-29    16.60
2004-03-30    17.23
Name: Close, dtype: float64
20040331
Date
2004-03-30    17.23
2004-03-31    16.91
Name: Close, dtype: float64 Date
2004-06-28    12.665
2004-06-29    13.050
Name: Close, dtype: float64
20040630
Date
2004-06-29    13.05
2004-06-30    13.24
Name: Close, dtype: float64 Date
2004-09-27    14.625
2004-09-28    14.320
Name: Close, dtype: float64
20040930
Date
2004-09-29    14.925
2004-09-30    15.230
Name: Close, dtype: float64 Date
2004-12-28    24.48
2004-12-29    24.34
Name: Close, dtype: float64
20041231
Date
2004-12-30    24.465000
2004-12-31    24.360001
Name: Close, dtype: float64 Date
2005-03-30    26.280001
2005-03-31    25.245001
Name: Close, dtype: float64
20050331
Date
2005-03-30    26.280001
2005-03-31    25.245001
Name: Close, dtype: float64 Date
2005-06-28    22.510000
2005-06-29    23.110001
Name: Close, dtype: float64
20050630
Date
2005-06-29    23.110001
2005-06-30    23.635000
Name: Close, dtype: float64 Date
2005-09-27    22.16
2005-09-28    21.75
Name: Close, dtype: float64
20050930
Date
2005-09-29    21.705000
2005-09-30    21.735001
Name: Close, dtype: float64 Date
2005-12-28    28.254999
2005-12-29    29.025000
Name: Close, dtype: float64
20051231
Date
2005-12-30    28.594999
Name: Close, dtype: float64 Date
2006-03-30    35.990002
2006-03-31    36.244999
Name: Close, dtype: float64
20060331
Date
2006-03-30    35.990002
2006-03-31    36.244999
Name: Close, dtype: float64 Date
2006-06-28    25.629999
2006-06-29    26.610001
Name: Close, dtype: float64
20060630
Date
2006-06-29    26.610001
2006-06-30    26.740000
Name: Close, dtype: float64 Date
2006-09-27    26.805000
2006-09-28    27.344999
Name: Close, dtype: float64
20060930
Date
2006-09-29    26.860001
Name: Close, dtype: float64 Date
2006-12-28    37.509998
2006-12-29    37.105000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    33.34
Name: Close, dtype: float64 Date
2007-06-28    40.419998
2007-06-29    40.299999
Name: Close, dtype: float64
20070630
Date
2007-06-29    40.299999
Name: Close, dtype: float64 Date
2007-09-27    37.299999
2007-09-28    37.189999
Name: Close, dtype: float64
20070930
Date
2007-10-01    38.189999
Name: Close, dtype: float64 Date
2007-12-31    28.52
Name: Close, dtype: float64
20071231
Date
2007-12-31    28.52
Name: Close, dtype: float64 Date
2008-03-31    18.17
Name: Close, dtype: float64
20080331

Date
2008-03-31    18.17
Name: Close, dtype: float64 Date
2008-06-30    28.42
Name: Close, dtype: float64
20080630
Date
2008-06-30    28.42
Name: Close, dtype: float64 Date
2008-09-29    21.700001
Name: Close, dtype: float64
20080930
Date
2008-09-29    21.700001
2008-09-30    23.379999
Name: Close, dtype: float64 Date
2008-12-29    21.41
Name: Close, dtype: float64
20081231
Date
2008-12-30    22.520000
2008-12-31    22.860001
Name: Close, dtype: float64 Date
2009-03-30    21.250000
2009-03-31    20.950001
Name: Close, dtype: float64
20090331
Date
2009-03-30    21.250000
2009-03-31    20.950001
Name: Close, dtype: float64 Date
2009-06-29    34.950001
Name: Close, dtype: float64
20090630
Date
2009-06-29    34.950001
2009-06-30    34.610001
Name: Close, dtype: float64 Date
2009-09-28    39.23
Name: Close, dtype: float64
20090930
Date
2009-09-29    38.490002
2009-09-30    39.630001
Name: Close, dtype: float64 Date
2009-12-28    52.340000
2009-12-29    52.060001
Name: Close, dtype: float64
20091231
Date
2009-12-30    52.970001
2009-12-31    52.970001
Name: Close, dtype: float64 Date
2010-03-30    62.470001
2010-03-31    61.630001
Name: Close, dtype: float64
20100331
Date
2010-03-30    62.470001
2010-03-31    61.630001
Name: Close, dtype: float64 Date
2010-06-28    73.510002
2010-06-29    69.089996
Name: Close, dtype: float64
20100630
Date
2010-06-29    69.089996
2010-06-30    68.570000
Name: Close, dtype: float64 Date
2010-09-27    103.230003
2010-09-28    104.059998
Name: Close, dtype: float64
20100930
Date
2010-09-29    104.410004
2010-09-30    103.809998
Name: Close, dtype: float64 Date
2010-12-28    133.380005
2010-12-29    133.679993
Name: Close, dtype: float64
20101231
Date
2010-12-30    132.410004
2010-12-31    130.160004
Name: Close, dtype: float64 Date
2011-03-30    100.699997
2011-03-31    102.570000
Name: Close, dtype: float64
20110331
Date
2011-03-30    100.699997
2011-03-31    102.570000
Name: Close, dtype: float64 Date
2011-06-28    108.779999
2011-06-29    111.150002
Name: Close, dtype: float64
20110630
Date
2011-06-29    111.150002
2011-06-30    110.250000
Name: Close, dtype: float64 Date
2011-09-27    77.889999
2011-09-28    75.849998
Name: Close, dtype: float64
20110930
Date
2011-09-29    74.750000
2011-09-30    71.050003
Name: Close, dtype: float64 Date
2011-12-28    105.730003
2011-12-29    107.000000
Name: Close, dtype: float64
20111231
Date
2011-12-30    106.120003
Name: Close, dtype: float64 Date
2012-03-29    134.860001
2012-03-30    134.960007
Name: Close, dtype: float64
20120331
Date
2012-03-30    134.960007
Name: Close, dtype: float64 Date
2012-06-28    93.360001
2012-06-29    99.559998
Name: Close, dtype: float64
20120630
Date
2012-06-29    99.559998
Name: Close, dtype: float64 Date
2012-09-27    106.500000
2012-09-28    104.639999
Name: Close, dtype: float64
20120930
Date
2012-10-01    104.690002
Name: Close, dtype: float64 Date
2012-12-31    97.150002
Name: Close, dtype: float64
20121231
Date
2012-12-31    97.150002
Name: Close, dtype: float64 Date
2013-04-01    87.910004
Name: Close, dtype: float64
20130331
Date
2013-04-01    87.910004
Name: Close, dtype: float64 Date
2013-07-01    69.610001
Name: Close, dtype: float64
20130630
Date
2013-07-01    69.610001
Name: Close, dtype: float64 Date
2013-09-30    85.809998
Name: Close, dtype: float64
20130930
Date
2013-09-30    85.809998
Name: Close, dtype: float64 Date
2013-12-30    89.889999
Name: Close, dtype: float64
20131231
Date
2013-12-30    89.889999
2013-12-31    90.860001
Name: Close, dtype: float64 Date
2014-03-31    106.629997
Name: Close, dtype: float64
20140331
Date
2014-03-31    106.629997
Name: Close, dtype: float64 Date
2014-06-30    111.440002
Name: Close, dtype: float64
20140630
Date
2014-06-30    111.440002
Name: Close, dtype: float64 Date
2014-09-29    119.160004
Name: Close, dtype: float64
20140930
Date
2014-09-29    119.160004
2014-09-30    118.739998
Name: Close, dtype: float64 Date
2014-12-29    133.820007
Name: Close, dtype: float64
20141231
Date
2014-12-30    132.710007
2014-12-31    130.470001
Name: Close, dtype: float64 Date
2015-03-30    115.260002
2015-03-31    114.940002
Name: Close, dtype: float64
20150331
Date
2015-03-30    115.260002
2015-03-31    114.940002
Name: Close, dtype: float64 Date
2015-06-29    120.050003
Name: Close, dtype: float64
20150630
Date
2015-06-29    120.050003
2015-06-30    120.349998
Name: Close, dtype: float64 Date
2015-09-28    114.080002
Name: Close, dtype: float64
20150930
Date
2015-09-29    115.000000
2015-09-30    115.800003
Name: Close, dtype: float64 Date
2015-12-28    97.000000
2015-12-29    97.550003
Name: Close, dtype: float64
20151231
Date
2015-12-30    98.059998
2015-12-31    96.959999
Name: Close, dtype: float64 Date
2016-03-29    104.680000
2016-03-30    105.470001
Name: Close, dtype: float64
20160331
Date
2016-03-30    105.470001
2016-03-31    105.849998
Name: Close, dtype: float64 Date
2016-06-28    110.309998
2016-06-29    112.519997
Name: Close, dtype: float64
20160630
Date
2016-06-29    112.519997
2016-06-30    113.839996
Name: Close, dtype: float64 Date
2016-09-27    122.860001
2016-09-28    124.029999
Name: Close, dtype: float64
20160930
Date
2016-09-29    123.400002
2016-09-30    124.639999
Name: Close, dtype: float64 Date
2016-12-28    144.059998
2016-12-29    144.919998
Name: Close, dtype: float64
20161231
Date
2016-12-30    144.720001
Name: Close, dtype: float64 Date
2017-03-30    142.479996
2017-03-31    142.570007
Name: Close, dtype: float64
20170331
Date
2017-03-30    142.479996
2017-03-31    142.570007
Name: Close, dtype: float64 Date
2017-06-28    128.949997
2017-06-29    127.320000
Name: Close, dtype: float64
20170630
Date
2017-06-29    127.320000
2017-06-30    127.059998
Name: Close, dtype: float64 Date
2017-09-27    121.059998
2017-09-28    121.430000
Name: Close, dtype: float64
20170930
Date
2017-09-29    120.559998
Name: Close, dtype: float64 Date
2017-12-28    132.080002
2017-12-29    131.220001
Name: Close, dtype: float64
20171231
Date
2018-01-02    132.580002
Name: Close, dtype: float64 Date
2018-04-02    140.710007
Name: Close, dtype: float64
20180331
Date
2018-04-02    140.710007
Name: Close, dtype: float64 Date
2018-07-02    174.479996
Name: Close, dtype: float64
20180630
Date
2018-06-29    172.449997
Name: Close, dtype: float64 Date
2018-09-27    196.740005
2018-09-28    199.419998
Name: Close, dtype: float64
20180930
Date
2018-10-01    190.880005
Name: Close, dtype: float64 Date
2018-12-31    162.029999
Name: Close, dtype: float64
20181231
Date
2018-12-31    162.029999
Name: Close, dtype: float64 Date
2019-04-01    161.470001
Name: Close, dtype: float64
20190331
Date
2019-04-01    161.470001
Name: Close, dtype: float64 Date
2019-07-01    148.119995
Name: Close, dtype: float64
20190630
Date
2019-07-01    148.119995
Name: Close, dtype: float64 Date
2019-09-30    140.419998
Name: Close, dtype: float64
20190930
Date
2019-09-30    140.419998
Name: Close, dtype: float64 Date
2019-12-30    139.289993
Name: Close, dtype: float64
20191231
Date
2019-12-30    139.289993
2019-12-31    139.649994
Name: Close, dtype: float64 Date
2020-03-30    109.809998
Name: Close, dtype: float64
20070331
Date
2007-03-30    52.009998
Name: Close, dtype: float64 Date
2007-06-28    90.129997
2007-06-29    89.290001
Name: Close, dtype: float64
20070630
Date
2007-06-29    89.290001
Name: Close, dtype: float64 Date
2007-09-27    110.029999
2007-09-28    117.739998
Name: Close, dtype: float64
20070930
Date
2007-10-01    126.959999
Name: Close, dtype: float64 Date
2007-12-31    267.140015
Name: Close, dtype: float64
20071231
Date
2007-12-31    267.140015
Name: Close, dtype: float64 Date
2008-03-31    231.139999
Name: Close, dtype: float64
20080331
Date
2008-03-31    231.139999
Name: Close, dtype: float64 Date
2008-06-30    272.820007
Name: Close, dtype: float64
20080630
Date
2008-06-30    272.820007
Name: Close, dtype: float64 Date
2008-09-29    180.309998
Name: Close, dtype: float64
20080930
Date
2008-09-29    180.309998
2008-09-30    188.910004
Name: Close, dtype: float64 Date
2008-12-29    135.990005
Name: Close, dtype: float64
20081231
Date
2008-12-30    135.649994
2008-12-31    137.960007
Name: Close, dtype: float64 Date
2009-03-30    136.759995
2009-03-31    132.699997
Name: Close, dtype: float64
20090331

Date
2009-03-30    136.759995
2009-03-31    132.699997
Name: Close, dtype: float64 Date
2009-06-29    157.199997
Name: Close, dtype: float64
20090630
Date
2009-06-29    157.199997
2009-06-30    162.199997
Name: Close, dtype: float64 Date
2009-09-28    148.080002
Name: Close, dtype: float64
20090930
Date
2009-09-29    152.050003
2009-09-30    152.860001
Name: Close, dtype: float64 Date
2009-12-28    134.830002
2009-12-29    135.539993
Name: Close, dtype: float64
20091231
Date
2009-12-30    136.789993
2009-12-31    135.399994
Name: Close, dtype: float64 Date
2010-03-30    122.180000
2010-03-31    122.650002
Name: Close, dtype: float64
20100331
Date
2010-03-30    122.180000
2010-03-31    122.650002
Name: Close, dtype: float64 Date
2010-06-28    119.230003
2010-06-29    114.419998
Name: Close, dtype: float64
20100630
Date
2010-06-29    114.419998
2010-06-30    113.830002
Name: Close, dtype: float64 Date
2010-09-27    147.910004
2010-09-28    148.520004
Name: Close, dtype: float64
20100930
Date
2010-09-29    149.270004
2010-09-30    147.350006
Name: Close, dtype: float64 Date
2010-12-28    129.270004
2010-12-29    129.820007
Name: Close, dtype: float64
20101231
Date
2010-12-30    131.089996
2010-12-31    130.139999
Name: Close, dtype: float64 Date
2011-03-30    155.389999
2011-03-31    160.839996
Name: Close, dtype: float64
20110331
Date
2011-03-30    155.389999
2011-03-31    160.839996
Name: Close, dtype: float64 Date
2011-06-28    124.610001
2011-06-29    129.419998
Name: Close, dtype: float64
20110630
Date
2011-06-29    129.419998
2011-06-30    132.270004
Name: Close, dtype: float64 Date
2011-09-27    72.269997
2011-09-28    64.750000
Name: Close, dtype: float64
20110930
Date
2011-09-29    65.029999
2011-09-30    63.209999
Name: Close, dtype: float64 Date
2011-12-28    32.119999
2011-12-29    32.860001
Name: Close, dtype: float64
20111231
Date
2011-12-30    33.759998
Name: Close, dtype: float64 Date
2012-03-29    25.120001
2012-03-30    25.049999
Name: Close, dtype: float64
20120331
Date
2012-03-30    25.049999
Name: Close, dtype: float64 Date
2012-06-28    14.75
2012-06-29    15.06
Name: Close, dtype: float64
20120630
Date
2012-06-29    15.06
Name: Close, dtype: float64 Date
2012-09-27    23.110001
2012-09-28    22.150000
Name: Close, dtype: float64
20120930
Date
2012-10-01    21.93
Name: Close, dtype: float64 Date
2012-12-31    30.860001
Name: Close, dtype: float64
20121231
Date
2012-12-31    30.860001
Name: Close, dtype: float64 Date
2013-04-01    26.82
Name: Close, dtype: float64
20130331
Date
2013-04-01    26.82
Name: Close, dtype: float64 Date
2013-07-01    46.310001
Name: Close, dtype: float64
20130630
Date
2013-07-01    46.310001
Name: Close, dtype: float64 Date
2013-09-30    40.209999
Name: Close, dtype: float64
20130930
Date
2013-09-30    40.209999
Name: Close, dtype: float64 Date
2013-12-30    55.599998
Name: Close, dtype: float64
20131231
Date
2013-12-30    55.599998
2013-12-31    54.639999
Name: Close, dtype: float64 Date
2014-03-31    69.790001
Name: Close, dtype: float64
20140331
Date
2014-03-31    69.790001
Name: Close, dtype: float64 Date
2014-06-30    71.059998
Name: Close, dtype: float64
20140630
Date
2014-06-30    71.059998
Name: Close, dtype: float64 Date
2014-09-29    67.519997
Name: Close, dtype: float64
20140930
Date
2014-09-29    67.519997
2014-09-30    65.809998
Name: Close, dtype: float64 Date
2014-12-29    44.419998
Name: Close, dtype: float64
20141231
Date
2014-12-30    44.520000
2014-12-31    44.599998
Name: Close, dtype: float64 Date
2015-03-30    60.689999
2015-03-31    59.790001
Name: Close, dtype: float64
20150331
Date
2015-03-30    60.689999
2015-03-31    59.790001
Name: Close, dtype: float64 Date
2015-06-29    47.84
Name: Close, dtype: float64
20150630
Date
2015-06-29    47.84
2015-06-30    46.98
Name: Close, dtype: float64 Date
2015-09-28    40.810001
Name: Close, dtype: float64
20150930
Date
2015-09-29    41.02
2015-09-30    42.75
Name: Close, dtype: float64 Date
2015-12-28    66.400002
2015-12-29    66.410004
Name: Close, dtype: float64
20151231
Date
2015-12-30    66.989998
2015-12-31    65.989998
Name: Close, dtype: float64 Date
2016-03-29    69.300003
2016-03-30    68.970001
Name: Close, dtype: float64
20160331
Date
2016-03-30    68.970001
2016-03-31    68.470001
Name: Close, dtype: float64 Date
2016-06-28    46.369999
2016-06-29    48.090000
Name: Close, dtype: float64
20160630
Date
2016-06-29    48.09
2016-06-30    48.48
Name: Close, dtype: float64 Date
2016-09-27    39.090000
2016-09-28    39.080002
Name: Close, dtype: float64
20160930
Date
2016-09-29    39.080002
2016-09-30    39.490002
Name: Close, dtype: float64 Date
2016-12-28    32.799999
2016-12-29    32.570000
Name: Close, dtype: float64
20161231
Date
2016-12-30    32.09
Name: Close, dtype: float64 Date
2017-03-30    27.469999
2017-03-31    27.100000
Name: Close, dtype: float64
20170331
Date
2017-03-30    27.469999
2017-03-31    27.100000
Name: Close, dtype: float64 Date
2017-06-28    40.490002
2017-06-29    40.080002
Name: Close, dtype: float64
20170630
Date
2017-06-29    40.080002
2017-06-30    39.880001
Name: Close, dtype: float64 Date
2017-09-27    47.049999
2017-09-28    46.139999
Name: Close, dtype: float64
20170930
Date
2017-09-29    45.880001
Name: Close, dtype: float64 Date
2017-12-28    68.349998
2017-12-29    67.519997
Name: Close, dtype: float64
20171231
Date
2018-01-02    70.43
Name: Close, dtype: float64 Date
2018-04-02    69.389999
Name: Close, dtype: float64
20180331
Date
2018-04-02    69.389999
Name: Close, dtype: float64 Date
2018-07-02    53.049999
Name: Close, dtype: float64
20180630
Date
2018-06-29    52.66
Name: Close, dtype: float64 Date
2018-09-27    48.520000
2018-09-28    48.419998
Name: Close, dtype: float64
20180930
Date
2018-10-01    48.98
Name: Close, dtype: float64 Date
2018-12-31    42.459999
Name: Close, dtype: float64
20181231
Date
2018-12-31    42.459999
Name: Close, dtype: float64 Date
2019-04-01    54.110001
Name: Close, dtype: float64
20190331
Date
2019-04-01    54.110001
Name: Close, dtype: float64 Date
2019-07-01    66.129997
Name: Close, dtype: float64
20190630
Date
2019-07-01    66.129997
Name: Close, dtype: float64 Date
2019-09-30    58.009998
Name: Close, dtype: float64
20190930
Date
2019-09-30    58.009998
Name: Close, dtype: float64 Date
2019-12-30    56.259998
Name: Close, dtype: float64
20191231
Date
2019-12-30    56.259998
2019-12-31    55.959999
Name: Close, dtype: float64 Date
2020-03-30    36.060001
Name: Close, dtype: float64
20120930
Date
2012-10-01    38.73
Name: Close, dtype: float64 Date
2012-12-31    32.040001
Name: Close, dtype: float64
20121231
Date
2012-12-31    32.040001
Name: Close, dtype: float64 Date
2013-04-01    37.98
Name: Close, dtype: float64
20130331
Date
2013-04-01    37.98
Name: Close, dtype: float64 Date
2013-07-01    36.689999
Name: Close, dtype: float64
20130630
Date
2013-07-01    36.689999
Name: Close, dtype: float64 Date
2013-09-30    43.720001
Name: Close, dtype: float64
20130930
Date
2013-09-30    43.720001
Name: Close, dtype: float64 Date
2013-12-30    43.220001
Name: Close, dtype: float64
20131231
Date
2013-12-30    43.220001
2013-12-31    43.200001
Name: Close, dtype: float64 Date
2014-03-31    42.48
Name: Close, dtype: float64
20140331
Date
2014-03-31    42.48
Name: Close, dtype: float64 Date
2014-06-30    39.91
Name: Close, dtype: float64
20140630
Date
2014-06-30    39.91
Name: Close, dtype: float64 Date
2014-09-29    41.040001
Name: Close, dtype: float64
20140930
Date
2014-09-29    41.040001
2014-09-30    39.610001
Name: Close, dtype: float64 Date
2014-12-29    39.689999
Name: Close, dtype: float64
20141231
Date
2014-12-30    40.580002
2014-12-31    40.830002
Name: Close, dtype: float64 Date
2015-03-30    35.490002
2015-03-31    35.570000
Name: Close, dtype: float64
20150331
Date
2015-03-30    35.490002
2015-03-31    35.570000
Name: Close, dtype: float64 Date
2015-06-29    39.560001
Name: Close, dtype: float64
20150630
Date
2015-06-29    39.560001
2015-06-30    39.529999
Name: Close, dtype: float64 Date
2015-09-28    34.299999
Name: Close, dtype: float64
20150930
Date
2015-09-29    32.959999
2015-09-30    33.580002
Name: Close, dtype: float64 Date
2015-12-28    32.080002
2015-12-29    32.360001
Name: Close, dtype: float64
20151231

Date
2015-12-30    32.110001
2015-12-31    32.099998
Name: Close, dtype: float64 Date
2016-03-29    41.189999
2016-03-30    40.799999
Name: Close, dtype: float64
20160331
Date
2016-03-30    40.799999
2016-03-31    41.340000
Name: Close, dtype: float64 Date
2016-06-28    45.200001
2016-06-29    45.759998
Name: Close, dtype: float64
20160630
Date
2016-06-29    45.759998
2016-06-30    46.410000
Name: Close, dtype: float64 Date
2016-09-27    42.119999
2016-09-28    41.880001
Name: Close, dtype: float64
20160930
Date
2016-09-29    40.040001
2016-09-30    40.290001
Name: Close, dtype: float64 Date
2016-12-28    38.320000
2016-12-29    39.110001
Name: Close, dtype: float64
20161231
Date
2016-12-30    39.959999
Name: Close, dtype: float64 Date
2017-03-30    43.869999
2017-03-31    43.310001
Name: Close, dtype: float64
20170331
Date
2017-03-30    43.869999
2017-03-31    43.310001
Name: Close, dtype: float64 Date
2017-06-28    48.610001
2017-06-29    48.000000
Name: Close, dtype: float64
20170630
Date
2017-06-29    48.000000
2017-06-30    49.369999
Name: Close, dtype: float64 Date
2017-09-27    54.349998
2017-09-28    54.660000
Name: Close, dtype: float64
20170930
Date
2017-09-29    54.880001
Name: Close, dtype: float64 Date
2017-12-28    68.029999
2017-12-29    66.320000
Name: Close, dtype: float64
20171231
Date
2018-01-02    69.160004
Name: Close, dtype: float64 Date
2018-04-02    72.269997
Name: Close, dtype: float64
20180331
Date
2018-04-02    72.269997
Name: Close, dtype: float64 Date
2018-07-02    97.769997
Name: Close, dtype: float64
20180630
Date
2018-06-29    97.709999
Name: Close, dtype: float64 Date
2018-09-27    128.660004
2018-09-28    130.059998
Name: Close, dtype: float64
20180930
Date
2018-10-01    128.130005
Name: Close, dtype: float64 Date
2018-12-31    102.32
Name: Close, dtype: float64
20181231
Date
2018-12-31    102.32
Name: Close, dtype: float64 Date
2019-04-01    120.730003
Name: Close, dtype: float64
20190331
Date
2019-04-01    120.730003
Name: Close, dtype: float64 Date
2019-07-01    125.459999
Name: Close, dtype: float64
20190630
Date
2019-07-01    125.459999
Name: Close, dtype: float64 Date
2019-09-30    126.099998
Name: Close, dtype: float64
20190930
Date
2019-09-30    126.099998
Name: Close, dtype: float64 Date
2019-12-30    128.910004
Name: Close, dtype: float64
20191231
Date
2019-12-30    128.910004
2019-12-31    127.860001
Name: Close, dtype: float64 Date
2020-03-30    72.940002
Name: Close, dtype: float64
20180630
Date
2018-06-29    45.080002
Name: Close, dtype: float64 Date
2018-09-27    50.32
2018-09-28    51.00
Name: Close, dtype: float64
20180930
Date
2018-10-01    50.48
Name: Close, dtype: float64 Date
2018-12-31    41.16
Name: Close, dtype: float64
20181231
Date
2018-12-31    41.16
Name: Close, dtype: float64 Date
2019-04-01    56.25
Name: Close, dtype: float64
20190331
Date
2019-04-01    56.25
Name: Close, dtype: float64 Date
2019-07-01    62.450001
Name: Close, dtype: float64
20190630
Date
2019-07-01    62.450001
Name: Close, dtype: float64 Date
2019-09-30    62.07
Name: Close, dtype: float64
20190930
Date
2019-09-30    62.07
Name: Close, dtype: float64 Date
2019-12-30    70.300003
Name: Close, dtype: float64
20191231
Date
2019-12-30    70.300003
2019-12-31    70.849998
Name: Close, dtype: float64 Date
2020-03-30    58.16
Name: Close, dtype: float64
20030331
Date
2003-03-31    6.3625
Name: Close, dtype: float64 Date
2003-06-30    7.6625
Name: Close, dtype: float64
20030630
Date
2003-06-30    7.6625
Name: Close, dtype: float64 Date
2003-09-29    8.7925
Name: Close, dtype: float64
20030930
Date
2003-09-29    8.7925
2003-09-30    8.7075
Name: Close, dtype: float64 Date
2003-12-29    10.9875
Name: Close, dtype: float64
20031231
Date
2003-12-30    11.1925
2003-12-31    11.0400
Name: Close, dtype: float64 Date
2004-03-29    10.6975
2004-03-30    10.7300
Name: Close, dtype: float64
20040331
Date
2004-03-30    10.7300
2004-03-31    10.8425
Name: Close, dtype: float64 Date
2004-06-28    10.0200
2004-06-29     9.9875
Name: Close, dtype: float64
20040630
Date
2004-06-29    9.9875
2004-06-30    9.9200
Name: Close, dtype: float64 Date
2004-09-27    8.5750
2004-09-28    8.5825
Name: Close, dtype: float64
20040930
Date
2004-09-29    8.6850
2004-09-30    8.7825
Name: Close, dtype: float64 Date
2004-12-28    9.1825
2004-12-29    9.4650
Name: Close, dtype: float64
20041231
Date
2004-12-30    9.395
2004-12-31    9.255
Name: Close, dtype: float64 Date
2005-03-30    7.965
2005-03-31    7.975
Name: Close, dtype: float64
20050331
Date
2005-03-30    7.965
2005-03-31    7.975
Name: Close, dtype: float64 Date
2005-06-28    8.925
2005-06-29    9.285
Name: Close, dtype: float64
20050630
Date
2005-06-29    9.285
2005-06-30    9.100
Name: Close, dtype: float64 Date
2005-09-27    8.525
2005-09-28    8.525
Name: Close, dtype: float64
20050930
Date
2005-09-29    8.565
2005-09-30    8.700
Name: Close, dtype: float64 Date
2005-12-28    9.80
2005-12-29    9.79
Name: Close, dtype: float64
20051231
Date
2005-12-30    9.75
Name: Close, dtype: float64 Date
2006-03-30    8.685
2006-03-31    8.730
Name: Close, dtype: float64
20060331
Date
2006-03-30    8.685
2006-03-31    8.730
Name: Close, dtype: float64 Date
2006-06-28    7.000
2006-06-29    7.015
Name: Close, dtype: float64
20060630
Date
2006-06-29    7.015
2006-06-30    7.000
Name: Close, dtype: float64 Date
2006-09-27    7.160
2006-09-28    7.245
Name: Close, dtype: float64
20060930
Date
2006-09-29    7.105
Name: Close, dtype: float64 Date
2006-12-28    7.95
2006-12-29    7.78
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    8.125
Name: Close, dtype: float64 Date
2007-06-28    9.825
2007-06-29    9.845
Name: Close, dtype: float64
20070630
Date
2007-06-29    9.845
Name: Close, dtype: float64 Date
2007-09-27    10.51
2007-09-28    10.72
Name: Close, dtype: float64
20070930
Date
2007-10-01    10.79
Name: Close, dtype: float64 Date
2007-12-31    8.885
Name: Close, dtype: float64
20071231
Date
2007-12-31    8.885
Name: Close, dtype: float64 Date
2008-03-31    8.575
Name: Close, dtype: float64
20080331
Date
2008-03-31    8.575
Name: Close, dtype: float64 Date
2008-06-30    7.22
Name: Close, dtype: float64
20080630
Date
2008-06-30    7.22
Name: Close, dtype: float64 Date
2008-09-29    7.595
Name: Close, dtype: float64
20080930
Date
2008-09-29    7.595
2008-09-30    7.150
Name: Close, dtype: float64 Date
2008-12-29    4.16
Name: Close, dtype: float64
20081231
Date
2008-12-30    4.260
2008-12-31    4.415
Name: Close, dtype: float64 Date
2009-03-30    4.875
2009-03-31    4.980
Name: Close, dtype: float64
20090331
Date
2009-03-30    4.875
2009-03-31    4.980
Name: Close, dtype: float64 Date
2009-06-29    5.855
Name: Close, dtype: float64
20090630
Date
2009-06-29    5.855
2009-06-30    5.800
Name: Close, dtype: float64 Date
2009-09-28    7.125
Name: Close, dtype: float64
20090930
Date
2009-09-29    7.145
2009-09-30    7.075
Name: Close, dtype: float64 Date
2009-12-28    9.070
2009-12-29    9.015
Name: Close, dtype: float64
20091231
Date
2009-12-30    9.050
2009-12-31    8.925
Name: Close, dtype: float64 Date
2010-03-30    9.845
2010-03-31    9.710
Name: Close, dtype: float64
20100331
Date
2010-03-30    9.845
2010-03-31    9.710
Name: Close, dtype: float64 Date
2010-06-28    9.440
2010-06-29    9.025
Name: Close, dtype: float64
20100630
Date
2010-06-29    9.025
2010-06-30    8.990
Name: Close, dtype: float64 Date
2010-09-27    9.620
2010-09-28    9.635
Name: Close, dtype: float64
20100930
Date
2010-09-29    9.695
2010-09-30    9.765
Name: Close, dtype: float64 Date
2010-12-28    14.730
2010-12-29    14.735
Name: Close, dtype: float64
20101231
Date
2010-12-30    14.825
2010-12-31    14.780
Name: Close, dtype: float64 Date
2011-03-30    14.885
2011-03-31    15.125
Name: Close, dtype: float64
20110331
Date
2011-03-30    14.885
2011-03-31    15.125
Name: Close, dtype: float64 Date
2011-06-28    14.905
2011-06-29    15.155
Name: Close, dtype: float64
20110630
Date
2011-06-29    15.155
2011-06-30    15.115
Name: Close, dtype: float64 Date
2011-09-27    12.635
2011-09-28    12.035
Name: Close, dtype: float64
20110930
Date
2011-09-29    12.480
2011-09-30    12.025
Name: Close, dtype: float64 Date
2011-12-28    14.60
2011-12-29    14.96
Name: Close, dtype: float64
20111231

Date
2011-12-30    14.795
Name: Close, dtype: float64 Date
2012-03-29    12.225
2012-03-30    12.250
Name: Close, dtype: float64
20120331
Date
2012-03-30    12.25
Name: Close, dtype: float64 Date
2012-06-28    10.250
2012-06-29    10.435
Name: Close, dtype: float64
20120630
Date
2012-06-29    10.435
Name: Close, dtype: float64 Date
2012-09-27    8.635
2012-09-28    8.495
Name: Close, dtype: float64
20120930
Date
2012-10-01    8.67
Name: Close, dtype: float64 Date
2012-12-31    9.425
Name: Close, dtype: float64
20121231
Date
2012-12-31    9.425
Name: Close, dtype: float64 Date
2013-04-01    9.905
Name: Close, dtype: float64
20130331
Date
2013-04-01    9.905
Name: Close, dtype: float64 Date
2013-07-01    11.66
Name: Close, dtype: float64
20130630
Date
2013-07-01    11.66
Name: Close, dtype: float64 Date
2013-09-30    12.795
Name: Close, dtype: float64
20130930
Date
2013-09-30    12.795
Name: Close, dtype: float64 Date
2013-12-30    16.415001
Name: Close, dtype: float64
20131231
Date
2013-12-30    16.415001
2013-12-31    16.490000
Name: Close, dtype: float64 Date
2014-03-31    15.765
Name: Close, dtype: float64
20140331
Date
2014-03-31    15.765
Name: Close, dtype: float64 Date
2014-06-30    14.545
Name: Close, dtype: float64
20140630
Date
2014-06-30    14.545
Name: Close, dtype: float64 Date
2014-09-29    13.62
Name: Close, dtype: float64
20140930
Date
2014-09-29    13.620
2014-09-30    13.385
Name: Close, dtype: float64 Date
2014-12-29    18.375
Name: Close, dtype: float64
20141231
Date
2014-12-30    18.309999
2014-12-31    18.065001
Name: Close, dtype: float64 Date
2015-03-30    18.340000
2015-03-31    18.299999
Name: Close, dtype: float64
20150331
Date
2015-03-30    18.340000
2015-03-31    18.299999
Name: Close, dtype: float64 Date
2015-06-29    16.43
Name: Close, dtype: float64
20150630
Date
2015-06-29    16.43
2015-06-30    16.42
Name: Close, dtype: float64 Date
2015-09-28    14.83
Name: Close, dtype: float64
20150930
Date
2015-09-29    15.08
2015-09-30    15.50
Name: Close, dtype: float64 Date
2015-12-28    16.41
2015-12-29    16.43
Name: Close, dtype: float64
20151231
Date
2015-12-30    16.290001
2015-12-31    16.010000
Name: Close, dtype: float64 Date
2016-03-29    15.7
2016-03-30    15.8
Name: Close, dtype: float64
20160331
Date
2016-03-30    15.80
2016-03-31    15.69
Name: Close, dtype: float64 Date
2016-06-28    14.98
2016-06-29    15.54
Name: Close, dtype: float64
20160630
Date
2016-06-29    15.54
2016-06-30    15.45
Name: Close, dtype: float64 Date
2016-09-27    17.500000
2016-09-28    17.639999
Name: Close, dtype: float64
20160930
Date
2016-09-29    17.430000
2016-09-30    17.559999
Name: Close, dtype: float64 Date
2016-12-28    19.920000
2016-12-29    19.959999
Name: Close, dtype: float64
20161231
Date
2016-12-30    19.690001
Name: Close, dtype: float64 Date
2017-03-30    21.389999
2017-03-31    21.330000
Name: Close, dtype: float64
20170331
Date
2017-03-30    21.389999
2017-03-31    21.330000
Name: Close, dtype: float64 Date
2017-06-28    18.549999
2017-06-29    18.670000
Name: Close, dtype: float64
20170630
Date
2017-06-29    18.670000
2017-06-30    18.969999
Name: Close, dtype: float64 Date
2017-09-27    19.82
2017-09-28    19.83
Name: Close, dtype: float64
20170930
Date
2017-09-29    19.799999
Name: Close, dtype: float64 Date
2017-12-28    21.059999
2017-12-29    20.950001
Name: Close, dtype: float64
20171231
Date
2018-01-02    21.129999
Name: Close, dtype: float64 Date
2018-04-02    22.73
Name: Close, dtype: float64
20180331
Date
2018-04-02    22.73
Name: Close, dtype: float64 Date
2018-07-02    22.93
Name: Close, dtype: float64
20180630
Date
2018-06-29    23.02
Name: Close, dtype: float64 Date
2018-09-27    21.290001
2018-09-28    21.459999
Name: Close, dtype: float64
20180930
Date
2018-10-01    21.219999
Name: Close, dtype: float64 Date
2018-12-31    20.209999
Name: Close, dtype: float64
20181231
Date
2018-12-31    20.209999
Name: Close, dtype: float64 Date
2019-04-01    21.120001
Name: Close, dtype: float64
20190331
Date
2019-04-01    21.120001
Name: Close, dtype: float64 Date
2019-07-01    24.459999
Name: Close, dtype: float64
20190630
Date
2019-07-01    24.459999
Name: Close, dtype: float64 Date
2019-09-30    27.540001
Name: Close, dtype: float64
20190930
Date
2019-09-30    27.540001
Name: Close, dtype: float64 Date
2019-12-30    29.25
Name: Close, dtype: float64
20191231
Date
2019-12-30    29.25
2019-12-31    28.98
Name: Close, dtype: float64 Date
2020-03-30    22.959999
Name: Close, dtype: float64
20140630
Date
2014-06-30    23.1
Name: Close, dtype: float64 Date
2014-09-29    17.99
Name: Close, dtype: float64
20140930
Date
2014-09-29    17.990000
2014-09-30    18.610001
Name: Close, dtype: float64 Date
2014-12-29    21
Name: Close, dtype: int64
20141231
Date
2014-12-30    21.549999
2014-12-31    21.020000
Name: Close, dtype: float64 Date
2015-03-30    20.82
2015-03-31    19.99
Name: Close, dtype: float64
20150331
Date
2015-03-30    20.82
2015-03-31    19.99
Name: Close, dtype: float64 Date
2015-06-29    14.52
Name: Close, dtype: float64
20150630
Date
2015-06-29    14.52
2015-06-30    15.34
Name: Close, dtype: float64 Date
2015-09-28    12.81
Name: Close, dtype: float64
20150930
Date
2015-09-29    12.85
2015-09-30    13.14
Name: Close, dtype: float64 Date
2015-12-28    21.139999
2015-12-29    20.860001
Name: Close, dtype: float64
20151231
Date
2015-12-30    20.27
2015-12-31    20.40
Name: Close, dtype: float64 Date
2016-03-29    13.96
2016-03-30    13.80
Name: Close, dtype: float64
20160331
Date
2016-03-30    13.80
2016-03-31    13.98
Name: Close, dtype: float64 Date
2016-06-28    13.43
2016-06-29    14.24
Name: Close, dtype: float64
20160630
Date
2016-06-29    14.24
2016-06-30    14.13
Name: Close, dtype: float64 Date
2016-09-27    9.21
2016-09-28    9.61
Name: Close, dtype: float64
20160930
Date
2016-09-29    9.88
2016-09-30    9.78
Name: Close, dtype: float64 Date
2016-12-28    9.85
2016-12-29    9.85
Name: Close, dtype: float64
20161231
Date
2016-12-30    9.35
Name: Close, dtype: float64 Date
2017-03-30    6.85
2017-03-31    6.90
Name: Close, dtype: float64
20170331
Date
2017-03-30    6.85
2017-03-31    6.90
Name: Close, dtype: float64 Date
2017-06-28    5.2
2017-06-29    5.1
Name: Close, dtype: float64
20170630
Date
2017-06-29    5.1
2017-06-30    5.1
Name: Close, dtype: float64 Date
2017-09-27    3.70
2017-09-28    3.75
Name: Close, dtype: float64
20170930
Date
2017-09-29    3.95
Name: Close, dtype: float64 Date
2017-12-28    3.675
2017-12-29    3.600
Name: Close, dtype: float64
20171231
Date
2018-01-02    3.75
Name: Close, dtype: float64 Date
2018-04-02    3.7
Name: Close, dtype: float64
20180331
Date
2018-04-02    3.7
Name: Close, dtype: float64 Date
2018-07-02    3.85
Name: Close, dtype: float64
20180630
Date
2018-06-29    3.7
Name: Close, dtype: float64 Date
2018-09-27    7.35
2018-09-28    7.30
Name: Close, dtype: float64
20180930
Date
2018-10-01    6.85
Name: Close, dtype: float64 Date
2018-12-31    2.49
Name: Close, dtype: float64
20181231
Date
2018-12-31    2.49
Name: Close, dtype: float64 Date
2019-04-01    4.34
Name: Close, dtype: float64
20190331
Date
2019-04-01    4.34
Name: Close, dtype: float64 Date
2019-07-01    3.7
Name: Close, dtype: float64
20190630
Date
2019-07-01    3.7
Name: Close, dtype: float64 Date
2019-09-30    4.16
Name: Close, dtype: float64
20190930
Date
2019-09-30    4.16
Name: Close, dtype: float64 Date
2019-12-30    4.4
Name: Close, dtype: float64
20191231
Date
2019-12-30    4.40
2019-12-31    4.52
Name: Close, dtype: float64 Date
2020-03-30    3.28
Name: Close, dtype: float64
20071231
Date
2007-12-31    39.450001
Name: Close, dtype: float64 Date
2008-03-31    26
Name: Close, dtype: int64
20080331
Date
2008-03-31    26
Name: Close, dtype: int64 Date
2008-06-30    34.349998
Name: Close, dtype: float64
20080630
Date
2008-06-30    34.349998
Name: Close, dtype: float64 Date
2008-09-29    35.599998
Name: Close, dtype: float64
20080930
Date
2008-09-29    35.599998
2008-09-30    37.200001
Name: Close, dtype: float64 Date
2008-12-29    28.48
Name: Close, dtype: float64
20081231
Date
2008-12-30    29.02
2008-12-31    29.83
Name: Close, dtype: float64 Date
2009-03-30    28.540001
2009-03-31    28.980000
Name: Close, dtype: float64
20090331

Date
2009-03-30    28.540001
2009-03-31    28.980000
Name: Close, dtype: float64 Date
2009-06-29    24.049999
Name: Close, dtype: float64
20090630
Date
2009-06-29    24.049999
2009-06-30    24.110001
Name: Close, dtype: float64 Date
2009-09-28    26.85
Name: Close, dtype: float64
20090930
Date
2009-09-29    26.600000
2009-09-30    26.200001
Name: Close, dtype: float64 Date
2009-12-28    29.580000
2009-12-29    30.809999
Name: Close, dtype: float64
20091231
Date
2009-12-30    31.08
2009-12-31    30.42
Name: Close, dtype: float64 Date
2010-03-30    26.600000
2010-03-31    26.549999
Name: Close, dtype: float64
20100331
Date
2010-03-30    26.600000
2010-03-31    26.549999
Name: Close, dtype: float64 Date
2010-06-28    24.01
2010-06-29    23.67
Name: Close, dtype: float64
20100630
Date
2010-06-29    23.670000
2010-06-30    23.809999
Name: Close, dtype: float64 Date
2010-09-27    26.950001
2010-09-28    27.360001
Name: Close, dtype: float64
20100930
Date
2010-09-29    27.750000
2010-09-30    27.309999
Name: Close, dtype: float64 Date
2010-12-28    29.91
2010-12-29    29.85
Name: Close, dtype: float64
20101231
Date
2010-12-30    29.68
2010-12-31    29.07
Name: Close, dtype: float64 Date
2011-03-30    33.000000
2011-03-31    33.099998
Name: Close, dtype: float64
20110331
Date
2011-03-30    33.000000
2011-03-31    33.099998
Name: Close, dtype: float64 Date
2011-06-28    29.500000
2011-06-29    29.639999
Name: Close, dtype: float64
20110630
Date
2011-06-29    29.639999
2011-06-30    29.680000
Name: Close, dtype: float64 Date
2011-09-27    22.740000
2011-09-28    21.620001
Name: Close, dtype: float64
20110930
Date
2011-09-29    22.090000
2011-09-30    21.629999
Name: Close, dtype: float64 Date
2011-12-28    17.98
2011-12-29    18.26
Name: Close, dtype: float64
20111231
Date
2011-12-30    18.690001
Name: Close, dtype: float64 Date
2012-03-29    23.520000
2012-03-30    23.379999
Name: Close, dtype: float64
20120331
Date
2012-03-30    23.379999
Name: Close, dtype: float64 Date
2012-06-28    21.670000
2012-06-29    22.379999
Name: Close, dtype: float64
20120630
Date
2012-06-29    22.379999
Name: Close, dtype: float64 Date
2012-09-27    24.690001
2012-09-28    24.180000
Name: Close, dtype: float64
20120930
Date
2012-10-01    24
Name: Close, dtype: int64 Date
2012-12-31    21.01
Name: Close, dtype: float64
20121231
Date
2012-12-31    21.01
Name: Close, dtype: float64 Date
2013-04-01    19.73
Name: Close, dtype: float64
20130331
Date
2013-04-01    19.73
Name: Close, dtype: float64 Date
2013-07-01    21.74
Name: Close, dtype: float64
20130630
Date
2013-07-01    21.74
Name: Close, dtype: float64 Date
2013-09-30    26.639999
Name: Close, dtype: float64
20130930
Date
2013-09-30    26.639999
Name: Close, dtype: float64 Date
2013-12-30    29.33
Name: Close, dtype: float64
20131231
Date
2013-12-30    29.33
2013-12-31    29.23
Name: Close, dtype: float64 Date
2014-03-31    27.309999
Name: Close, dtype: float64
20140331
Date
2014-03-31    27.309999
Name: Close, dtype: float64 Date
2014-06-30    23.6
Name: Close, dtype: float64
20140630
Date
2014-06-30    23.6
Name: Close, dtype: float64 Date
2014-09-29    21.07
Name: Close, dtype: float64
20140930
Date
2014-09-29    21.070000
2014-09-30    21.280001
Name: Close, dtype: float64 Date
2014-12-29    26.6
Name: Close, dtype: float64
20141231
Date
2014-12-30    26.43
2014-12-31    26.34
Name: Close, dtype: float64 Date
2015-03-30    32.759998
2015-03-31    32.980000
Name: Close, dtype: float64
20150331
Date
2015-03-30    32.759998
2015-03-31    32.980000
Name: Close, dtype: float64 Date
2015-06-29    38.549999
Name: Close, dtype: float64
20150630
Date
2015-06-29    38.549999
2015-06-30    38.740002
Name: Close, dtype: float64 Date
2015-09-28    37.900002
Name: Close, dtype: float64
20150930
Date
2015-09-29    37.610001
2015-09-30    38.560001
Name: Close, dtype: float64 Date
2015-12-28    41.599998
2015-12-29    42.279999
Name: Close, dtype: float64
20151231
Date
2015-12-30    42.320000
2015-12-31    41.509998
Name: Close, dtype: float64 Date
2016-03-29    40.820000
2016-03-30    40.799999
Name: Close, dtype: float64
20160331
Date
2016-03-30    40.799999
2016-03-31    41.840000
Name: Close, dtype: float64 Date
2016-06-28    50.610001
2016-06-29    51.560001
Name: Close, dtype: float64
20160630
Date
2016-06-29    51.560001
2016-06-30    52.520000
Name: Close, dtype: float64 Date
2016-09-27    59.630001
2016-09-28    59.820000
Name: Close, dtype: float64
20160930
Date
2016-09-29    58.580002
2016-09-30    59.490002
Name: Close, dtype: float64 Date
2016-12-28    67.070000
2016-12-29    67.449997
Name: Close, dtype: float64
20161231
Date
2016-12-30    67.400002
Name: Close, dtype: float64 Date
2017-03-30    93.720001
2017-03-31    93.260002
Name: Close, dtype: float64
20170331
Date
2017-03-30    93.720001
2017-03-31    93.260002
Name: Close, dtype: float64 Date
2017-06-28    94.349998
2017-06-29    91.300003
Name: Close, dtype: float64
20170630
Date
2017-06-29    91.300003
2017-06-30    91.180000
Name: Close, dtype: float64 Date
2017-09-27    85.629997
2017-09-28    84.910004
Name: Close, dtype: float64
20170930
Date
2017-09-29    86.559998
Name: Close, dtype: float64 Date
2017-12-28    85.699997
2017-12-29    84.800003
Name: Close, dtype: float64
20171231
Date
2018-01-02    86.040001
Name: Close, dtype: float64 Date
2018-04-02    85.43
Name: Close, dtype: float64
20180331
Date
2018-04-02    85.43
Name: Close, dtype: float64 Date
2018-07-02    97.849998
Name: Close, dtype: float64
20180630
Date
2018-06-29    97.650002
Name: Close, dtype: float64 Date
2018-09-27    123.250000
2018-09-28    124.540001
Name: Close, dtype: float64
20180930
Date
2018-10-01    124.360001
Name: Close, dtype: float64 Date
2018-12-31    107.370003
Name: Close, dtype: float64
20181231
Date
2018-12-31    107.370003
Name: Close, dtype: float64 Date
2019-04-01    139.800003
Name: Close, dtype: float64
20190331
Date
2019-04-01    139.800003
Name: Close, dtype: float64 Date
2019-07-01    150.119995
Name: Close, dtype: float64
20190630
Date
2019-07-01    150.119995
Name: Close, dtype: float64 Date
2019-09-30    148.789993
Name: Close, dtype: float64
20190930
Date
2019-09-30    148.789993
Name: Close, dtype: float64 Date
2019-12-30    158.600006
Name: Close, dtype: float64
20191231
Date
2019-12-30    158.600006
2019-12-31    158.059998
Name: Close, dtype: float64 Date
2020-03-30    179.759995
Name: Close, dtype: float64
20030331
Date
2003-03-31    6.73
Name: Close, dtype: float64 Date
2003-06-30    7.975
Name: Close, dtype: float64
20030630
Date
2003-06-30    7.975
Name: Close, dtype: float64 Date
2003-09-29    9.64
Name: Close, dtype: float64
20030930
Date
2003-09-29    9.640
2003-09-30    9.875
Name: Close, dtype: float64 Date
2003-12-29    11.995
Name: Close, dtype: float64
20031231
Date
2003-12-30    11.885
2003-12-31    11.750
Name: Close, dtype: float64 Date
2004-03-29    15.060
2004-03-30    15.125
Name: Close, dtype: float64
20040331
Date
2004-03-30    15.125
2004-03-31    15.250
Name: Close, dtype: float64 Date
2004-06-28    18.00
2004-06-29    18.15
Name: Close, dtype: float64
20040630
Date
2004-06-29    18.150000
2004-06-30    18.299999
Name: Close, dtype: float64 Date
2004-09-27    22.000000
2004-09-28    21.620001
Name: Close, dtype: float64
20040930
Date
2004-09-29    21.889999
2004-09-30    21.500000
Name: Close, dtype: float64 Date
2004-12-28    23.000000
2004-12-29    22.950001
Name: Close, dtype: float64
20041231
Date
2004-12-30    22.549999
2004-12-31    22.620001
Name: Close, dtype: float64 Date
2005-03-30    21.350000
2005-03-31    20.719999
Name: Close, dtype: float64
20050331
Date
2005-03-30    21.350000
2005-03-31    20.719999
Name: Close, dtype: float64 Date
2005-06-28    24.16
2005-06-29    24.24
Name: Close, dtype: float64
20050630
Date
2005-06-29    24.24
2005-06-30    24.00
Name: Close, dtype: float64 Date
2005-09-27    25.080000
2005-09-28    24.719999
Name: Close, dtype: float64
20050930
Date
2005-09-29    25.15
2005-09-30    25.18
Name: Close, dtype: float64 Date
2005-12-28    25.75
2005-12-29    25.25
Name: Close, dtype: float64
20051231
Date
2005-12-30    24.98
Name: Close, dtype: float64 Date
2006-03-30    27.000000
2006-03-31    27.440001
Name: Close, dtype: float64
20060331

Date
2006-03-30    27.000000
2006-03-31    27.440001
Name: Close, dtype: float64 Date
2006-06-28    29.020000
2006-06-29    29.950001
Name: Close, dtype: float64
20060630
Date
2006-06-29    29.950001
2006-06-30    30.430000
Name: Close, dtype: float64 Date
2006-09-27    36.310001
2006-09-28    36.299999
Name: Close, dtype: float64
20060930
Date
2006-09-29    35.799999
Name: Close, dtype: float64 Date
2006-12-28    33.73
2006-12-29    33.18
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    30.51
Name: Close, dtype: float64 Date
2007-06-28    29.850000
2007-06-29    29.360001
Name: Close, dtype: float64
20070630
Date
2007-06-29    29.360001
Name: Close, dtype: float64 Date
2007-09-27    29.85
2007-09-28    28.82
Name: Close, dtype: float64
20070930
Date
2007-10-01    30.02
Name: Close, dtype: float64 Date
2007-12-31    25.42
Name: Close, dtype: float64
20071231
Date
2007-12-31    25.42
Name: Close, dtype: float64 Date
2008-03-31    25.6
Name: Close, dtype: float64
20080331
Date
2008-03-31    25.6
Name: Close, dtype: float64 Date
2008-06-30    20.09
Name: Close, dtype: float64
20080630
Date
2008-06-30    20.09
Name: Close, dtype: float64 Date
2008-09-29    29.75
Name: Close, dtype: float64
20080930
Date
2008-09-29    29.750000
2008-09-30    30.799999
Name: Close, dtype: float64 Date
2008-12-29    27.17
Name: Close, dtype: float64
20081231
Date
2008-12-30    29.000000
2008-12-31    29.809999
Name: Close, dtype: float64 Date
2009-03-30    23.160000
2009-03-31    23.709999
Name: Close, dtype: float64
20090331
Date
2009-03-30    23.160000
2009-03-31    23.709999
Name: Close, dtype: float64 Date
2009-06-29    13.87
Name: Close, dtype: float64
20090630
Date
2009-06-29    13.87
2009-06-30    13.32
Name: Close, dtype: float64 Date
2009-09-28    12.96
Name: Close, dtype: float64
20090930
Date
2009-09-29    12.73
2009-09-30    12.71
Name: Close, dtype: float64 Date
2009-12-28    14.35
2009-12-29    14.47
Name: Close, dtype: float64
20091231
Date
2009-12-30    14.34
2009-12-31    14.22
Name: Close, dtype: float64 Date
2010-03-30    15.28
2010-03-31    15.11
Name: Close, dtype: float64
20100331
Date
2010-03-30    15.28
2010-03-31    15.11
Name: Close, dtype: float64 Date
2010-06-28    12.80
2010-06-29    12.74
Name: Close, dtype: float64
20100630
Date
2010-06-29    12.74
2010-06-30    12.85
Name: Close, dtype: float64 Date
2010-09-27    9.01
2010-09-28    9.23
Name: Close, dtype: float64
20100930
Date
2010-09-29    9.23
2010-09-30    9.19
Name: Close, dtype: float64 Date
2010-12-28    13.30
2010-12-29    13.54
Name: Close, dtype: float64
20101231
Date
2010-12-30    13.74
2010-12-31    13.58
Name: Close, dtype: float64 Date
2011-03-30    16.309999
2011-03-31    16.540001
Name: Close, dtype: float64
20110331
Date
2011-03-30    16.309999
2011-03-31    16.540001
Name: Close, dtype: float64 Date
2011-06-28    15.46
2011-06-29    15.58
Name: Close, dtype: float64
20110630
Date
2011-06-29    15.58
2011-06-30    15.56
Name: Close, dtype: float64 Date
2011-09-27    11.40
2011-09-28    10.72
Name: Close, dtype: float64
20110930
Date
2011-09-29    11.51
2011-09-30    10.94
Name: Close, dtype: float64 Date
2011-12-28    16.110001
2011-12-29    16.410000
Name: Close, dtype: float64
20111231
Date
2011-12-30    16.15
Name: Close, dtype: float64 Date
2012-03-29    18.440001
2012-03-30    18.350000
Name: Close, dtype: float64
20120331
Date
2012-03-30    18.35
Name: Close, dtype: float64 Date
2012-06-28    18.83
2012-06-29    19.51
Name: Close, dtype: float64
20120630
Date
2012-06-29    19.51
Name: Close, dtype: float64 Date
2012-09-27    19.709999
2012-09-28    19.320000
Name: Close, dtype: float64
20120930
Date
2012-10-01    19.17
Name: Close, dtype: float64 Date
2012-12-31    18.84
Name: Close, dtype: float64
20121231
Date
2012-12-31    18.84
Name: Close, dtype: float64 Date
2013-04-01    23.09
Name: Close, dtype: float64
20130331
Date
2013-04-01    23.09
Name: Close, dtype: float64 Date
2013-07-01    26.559999
Name: Close, dtype: float64
20130630
Date
2013-07-01    26.559999
Name: Close, dtype: float64 Date
2013-09-30    29.809999
Name: Close, dtype: float64
20130930
Date
2013-09-30    29.809999
Name: Close, dtype: float64 Date
2013-12-30    32.709999
Name: Close, dtype: float64
20131231
Date
2013-12-30    32.709999
2013-12-31    32.529999
Name: Close, dtype: float64 Date
2014-03-31    37.490002
Name: Close, dtype: float64
20140331
Date
2014-03-31    37.490002
Name: Close, dtype: float64 Date
2014-06-30    39.48
Name: Close, dtype: float64
20140630
Date
2014-06-30    39.48
Name: Close, dtype: float64 Date
2014-09-29    36.509998
Name: Close, dtype: float64
20140930
Date
2014-09-29    36.509998
2014-09-30    36.099998
Name: Close, dtype: float64 Date
2014-12-29    39.950001
Name: Close, dtype: float64
20141231
Date
2014-12-30    39.880001
2014-12-31    39.540001
Name: Close, dtype: float64 Date
2015-03-30    44.529999
2015-03-31    44.459999
Name: Close, dtype: float64
20150331
Date
2015-03-30    44.529999
2015-03-31    44.459999
Name: Close, dtype: float64 Date
2015-06-29    53.59
Name: Close, dtype: float64
20150630
Date
2015-06-29    53.590000
2015-06-30    54.369999
Name: Close, dtype: float64 Date
2015-09-28    48.369999
Name: Close, dtype: float64
20150930
Date
2015-09-29    48.349998
2015-09-30    49.410000
Name: Close, dtype: float64 Date
2015-12-28    52.110001
2015-12-29    52.910000
Name: Close, dtype: float64
20151231
Date
2015-12-30    52.259998
2015-12-31    51.360001
Name: Close, dtype: float64 Date
2016-03-29    48.090000
2016-03-30    48.720001
Name: Close, dtype: float64
20160331
Date
2016-03-30    48.720001
2016-03-31    49.060001
Name: Close, dtype: float64 Date
2016-06-28    46.080002
2016-06-29    47.599998
Name: Close, dtype: float64
20160630
Date
2016-06-29    47.599998
2016-06-30    48.849998
Name: Close, dtype: float64 Date
2016-09-27    53.959999
2016-09-28    54.470001
Name: Close, dtype: float64
20160930
Date
2016-09-29    53.040001
2016-09-30    54.080002
Name: Close, dtype: float64 Date
2016-12-28    70.099998
2016-12-29    69.699997
Name: Close, dtype: float64
20161231
Date
2016-12-30    69.300003
Name: Close, dtype: float64 Date
2017-03-30    66.970001
2017-03-31    66.449997
Name: Close, dtype: float64
20170331
Date
2017-03-30    66.970001
2017-03-31    66.449997
Name: Close, dtype: float64 Date
2017-06-28    62.000000
2017-06-29    62.950001
Name: Close, dtype: float64
20170630
Date
2017-06-29    62.950001
2017-06-30    62.799999
Name: Close, dtype: float64 Date
2017-09-27    65.400002
2017-09-28    66.449997
Name: Close, dtype: float64
20170930
Date
2017-09-29    66.949997
Name: Close, dtype: float64 Date
2017-12-28    67.000000
2017-12-29    66.300003
Name: Close, dtype: float64
20171231
Date
2018-01-02    66.650002
Name: Close, dtype: float64 Date
2018-04-02    63.5
Name: Close, dtype: float64
20180331
Date
2018-04-02    63.5
Name: Close, dtype: float64 Date
2018-07-02    62.349998
Name: Close, dtype: float64
20180630
Date
2018-06-29    61.349998
Name: Close, dtype: float64 Date
2018-09-27    60.450001
2018-09-28    60.150002
Name: Close, dtype: float64
20180930
Date
2018-10-01    59.580002
Name: Close, dtype: float64 Date
2018-12-31    46.099998
Name: Close, dtype: float64
20181231
Date
2018-12-31    46.099998
Name: Close, dtype: float64 Date
2019-04-01    56.419998
Name: Close, dtype: float64
20190331
Date
2019-04-01    56.419998
Name: Close, dtype: float64 Date
2019-07-01    58
Name: Close, dtype: int64
20190630
Date
2019-07-01    58
Name: Close, dtype: int64 Date
2019-09-30    56.75
Name: Close, dtype: float64
20190930
Date
2019-09-30    56.75
Name: Close, dtype: float64 Date
2019-12-30    63.860001
Name: Close, dtype: float64
20191231
Date
2019-12-30    63.860001
2019-12-31    64.000000
Name: Close, dtype: float64 Date
2020-03-30    37.91
Name: Close, dtype: float64
20030331
Date
2003-03-31    13.204445
Name: Close, dtype: float64 Date
2003-06-30    15.284445
Name: Close, dtype: float64
20030630
Date
2003-06-30    15.284445
Name: Close, dtype: float64 Date
2003-09-29    18.799999
Name: Close, dtype: float64
20030930
Date
2003-09-29    18.799999
2003-09-30    18.553333
Name: Close, dtype: float64 Date
2003-12-29    22.466667
Name: Close, dtype: float64
20031231

Date
2003-12-30    22.340000
2003-12-31    21.786667
Name: Close, dtype: float64 Date
2004-03-29    24.020000
2004-03-30    24.386667
Name: Close, dtype: float64
20040331
Date
2004-03-30    24.386667
2004-03-31    24.840000
Name: Close, dtype: float64 Date
2004-06-28    29.373333
2004-06-29    30.013334
Name: Close, dtype: float64
20040630
Date
2004-06-29    30.013334
2004-06-30    30.000000
Name: Close, dtype: float64 Date
2004-09-27    26.66
2004-09-28    26.42
Name: Close, dtype: float64
20040930
Date
2004-09-29    27.00
2004-09-30    26.74
Name: Close, dtype: float64 Date
2004-12-28    32.169998
2004-12-29    32.099998
Name: Close, dtype: float64
20041231
Date
2004-12-30    32.049999
2004-12-31    31.900000
Name: Close, dtype: float64 Date
2005-03-30    32.490002
2005-03-31    31.860001
Name: Close, dtype: float64
20050331
Date
2005-03-30    32.490002
2005-03-31    31.860001
Name: Close, dtype: float64 Date
2005-06-28    35.060001
2005-06-29    34.860001
Name: Close, dtype: float64
20050630
Date
2005-06-29    34.860001
2005-06-30    35.090000
Name: Close, dtype: float64 Date
2005-09-27    34.509998
2005-09-28    34.369999
Name: Close, dtype: float64
20050930
Date
2005-09-29    34.959999
2005-09-30    34.930000
Name: Close, dtype: float64 Date
2005-12-28    37.389999
2005-12-29    37.009998
Name: Close, dtype: float64
20051231
Date
2005-12-30    37.220001
Name: Close, dtype: float64 Date
2006-03-30    46.50
2006-03-31    46.91
Name: Close, dtype: float64
20060331
Date
2006-03-30    46.50
2006-03-31    46.91
Name: Close, dtype: float64 Date
2006-06-28    41.630001
2006-06-29    43.040001
Name: Close, dtype: float64
20060630
Date
2006-06-29    43.040001
2006-06-30    43.630001
Name: Close, dtype: float64 Date
2006-09-27    38.490002
2006-09-28    38.369999
Name: Close, dtype: float64
20060930
Date
2006-09-29    38.5
Name: Close, dtype: float64 Date
2006-12-28    39.279999
2006-12-29    39.169998
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    35.799999
Name: Close, dtype: float64 Date
2007-06-28    39.410000
2007-06-29    39.029999
Name: Close, dtype: float64
20070630
Date
2007-06-29    39.029999
Name: Close, dtype: float64 Date
2007-09-27    24.77
2007-09-28    24.98
Name: Close, dtype: float64
20070930
Date
2007-10-01    25.190001
Name: Close, dtype: float64 Date
2007-12-31    19.83
Name: Close, dtype: float64
20071231
Date
2007-12-31    19.83
Name: Close, dtype: float64 Date
2008-03-31    18.889999
Name: Close, dtype: float64
20080331
Date
2008-03-31    18.889999
Name: Close, dtype: float64 Date
2008-06-30    17.76
Name: Close, dtype: float64
20080630
Date
2008-06-30    17.76
Name: Close, dtype: float64 Date
2008-09-29    22.950001
Name: Close, dtype: float64
20080930
Date
2008-09-29    22.950001
2008-09-30    23.330000
Name: Close, dtype: float64 Date
2008-12-29    16.34
Name: Close, dtype: float64
20081231
Date
2008-12-30    17.110001
2008-12-31    17.969999
Name: Close, dtype: float64 Date
2009-03-30    13.48
2009-03-31    13.40
Name: Close, dtype: float64
20090331
Date
2009-03-30    13.48
2009-03-31    13.40
Name: Close, dtype: float64 Date
2009-06-29    16.52
Name: Close, dtype: float64
20090630
Date
2009-06-29    16.520000
2009-06-30    16.559999
Name: Close, dtype: float64 Date
2009-09-28    21.52
Name: Close, dtype: float64
20090930
Date
2009-09-29    21.830000
2009-09-30    22.219999
Name: Close, dtype: float64 Date
2009-12-28    19.139999
2009-12-29    19.410000
Name: Close, dtype: float64
20091231
Date
2009-12-30    19.40
2009-12-31    19.08
Name: Close, dtype: float64 Date
2010-03-30    23.059999
2010-03-31    22.639999
Name: Close, dtype: float64
20100331
Date
2010-03-30    23.059999
2010-03-31    22.639999
Name: Close, dtype: float64 Date
2010-06-28    23.370001
2010-06-29    22.670000
Name: Close, dtype: float64
20100630
Date
2010-06-29    22.67
2010-06-30    21.92
Name: Close, dtype: float64 Date
2010-09-27    20.139999
2010-09-28    20.320000
Name: Close, dtype: float64
20100930
Date
2010-09-29    20.50
2010-09-30    20.07
Name: Close, dtype: float64 Date
2010-12-28    23.34
2010-12-29    23.26
Name: Close, dtype: float64
20101231
Date
2010-12-30    23.190001
2010-12-31    22.540001
Name: Close, dtype: float64 Date
2011-03-30    24.090000
2011-03-31    24.110001
Name: Close, dtype: float64
20110331
Date
2011-03-30    24.090000
2011-03-31    24.110001
Name: Close, dtype: float64 Date
2011-06-28    29.790001
2011-06-29    29.490000
Name: Close, dtype: float64
20110630
Date
2011-06-29    29.490000
2011-06-30    29.809999
Name: Close, dtype: float64 Date
2011-09-27    27.299999
2011-09-28    26.879999
Name: Close, dtype: float64
20110930
Date
2011-09-29    27.16
2011-09-30    26.18
Name: Close, dtype: float64 Date
2011-12-28    29.90
2011-12-29    30.57
Name: Close, dtype: float64
20111231
Date
2011-12-30    30.1
Name: Close, dtype: float64 Date
2012-03-29    37.750000
2012-03-30    37.419998
Name: Close, dtype: float64
20120331
Date
2012-03-30    37.419998
Name: Close, dtype: float64 Date
2012-06-28    40.020000
2012-06-29    40.459999
Name: Close, dtype: float64
20120630
Date
2012-06-29    40.459999
Name: Close, dtype: float64 Date
2012-09-27    41.630001
2012-09-28    41.580002
Name: Close, dtype: float64
20120930
Date
2012-10-01    41.540001
Name: Close, dtype: float64 Date
2012-12-31    42.32
Name: Close, dtype: float64
20121231
Date
2012-12-31    42.32
Name: Close, dtype: float64 Date
2013-04-01    47.360001
Name: Close, dtype: float64
20130331
Date
2013-04-01    47.360001
Name: Close, dtype: float64 Date
2013-07-01    53.630001
Name: Close, dtype: float64
20130630
Date
2013-07-01    53.630001
Name: Close, dtype: float64 Date
2013-09-30    56.07
Name: Close, dtype: float64
20130930
Date
2013-09-30    56.07
Name: Close, dtype: float64 Date
2013-12-30    57.98
Name: Close, dtype: float64
20131231
Date
2013-12-30    57.980000
2013-12-31    58.139999
Name: Close, dtype: float64 Date
2014-03-31    61.32
Name: Close, dtype: float64
20140331
Date
2014-03-31    61.32
Name: Close, dtype: float64 Date
2014-06-30    56.560001
Name: Close, dtype: float64
20140630
Date
2014-06-30    56.560001
Name: Close, dtype: float64 Date
2014-09-29    54.560001
Name: Close, dtype: float64
20140930
Date
2014-09-29    54.560001
2014-09-30    53.919998
Name: Close, dtype: float64 Date
2014-12-29    64.089996
Name: Close, dtype: float64
20141231
Date
2014-12-30    63.849998
2014-12-31    63.439999
Name: Close, dtype: float64 Date
2015-03-30    70.209999
2015-03-31    69.760002
Name: Close, dtype: float64
20150331
Date
2015-03-30    70.209999
2015-03-31    69.760002
Name: Close, dtype: float64 Date
2015-06-29    69.93
Name: Close, dtype: float64
20150630
Date
2015-06-29    69.93
2015-06-30    70.18
Name: Close, dtype: float64 Date
2015-09-28    71.980003
Name: Close, dtype: float64
20150930
Date
2015-09-29    71.830002
2015-09-30    72.300003
Name: Close, dtype: float64 Date
2015-12-28    82.199997
2015-12-29    82.550003
Name: Close, dtype: float64
20151231
Date
2015-12-30    81.690002
2015-12-31    80.779999
Name: Close, dtype: float64 Date
2016-03-29    87.959999
2016-03-30    87.540001
Name: Close, dtype: float64
20160331
Date
2016-03-30    87.540001
2016-03-31    87.739998
Name: Close, dtype: float64 Date
2016-06-28    90.050003
2016-06-29    91.309998
Name: Close, dtype: float64
20160630
Date
2016-06-29    91.309998
2016-06-30    94.029999
Name: Close, dtype: float64 Date
2016-09-27    95.379997
2016-09-28    95.160004
Name: Close, dtype: float64
20160930
Date
2016-09-29    94.379997
2016-09-30    94.519997
Name: Close, dtype: float64 Date
2016-12-28    105.139999
2016-12-29    105.680000
Name: Close, dtype: float64
20161231
Date
2016-12-30    104.339996
Name: Close, dtype: float64 Date
2017-03-30    118.910004
2017-03-31    119.330002
Name: Close, dtype: float64
20170331
Date
2017-03-30    118.910004
2017-03-31    119.330002
Name: Close, dtype: float64 Date
2017-06-28    119.489998
2017-06-29    117.970001
Name: Close, dtype: float64
20170630
Date
2017-06-29    117.970001
2017-06-30    117.570000
Name: Close, dtype: float64 Date
2017-09-27    107.949997
2017-09-28    108.000000
Name: Close, dtype: float64
20170930
Date
2017-09-29    108.169998
Name: Close, dtype: float64 Date
2017-12-28    130.699997
2017-12-29    129.649994
Name: Close, dtype: float64
20171231

Date
2018-01-02    131.169998
Name: Close, dtype: float64 Date
2018-04-02    143.520004
Name: Close, dtype: float64
20180331
Date
2018-04-02    143.520004
Name: Close, dtype: float64 Date
2018-07-02    153.130005
Name: Close, dtype: float64
20180630
Date
2018-06-29    151.5
Name: Close, dtype: float64 Date
2018-09-27    165.389999
2018-09-28    166.880005
Name: Close, dtype: float64
20180930
Date
2018-10-01    167
Name: Close, dtype: int64 Date
2018-12-31    148.649994
Name: Close, dtype: float64
20181231
Date
2018-12-31    148.649994
Name: Close, dtype: float64 Date
2019-04-01    167.830002
Name: Close, dtype: float64
20190331
Date
2019-04-01    167.830002
Name: Close, dtype: float64 Date
2019-07-01    191.339996
Name: Close, dtype: float64
20190630
Date
2019-07-01    191.339996
Name: Close, dtype: float64 Date
2019-09-30    201.699997
Name: Close, dtype: float64
20190930
Date
2019-09-30    201.699997
Name: Close, dtype: float64 Date
2019-12-30    214.940002
Name: Close, dtype: float64
20191231
Date
2019-12-30    214.940002
2019-12-31    212.380005
Name: Close, dtype: float64 Date
2020-03-30    198.350006
Name: Close, dtype: float64
20150331
Date
2015-03-30    29.040001
2015-03-31    28.840000
Name: Close, dtype: float64 Date
2015-06-29    35.5
Name: Close, dtype: float64
20150630
Date
2015-06-29    35.500000
2015-06-30    36.330002
Name: Close, dtype: float64 Date
2015-09-28    38.18
Name: Close, dtype: float64
20150930
Date
2015-09-29    38.240002
2015-09-30    38.830002
Name: Close, dtype: float64 Date
2015-12-28    49.240002
2015-12-29    47.950001
Name: Close, dtype: float64
20151231
Date
2015-12-30    47.220001
2015-12-31    45.270000
Name: Close, dtype: float64 Date
2016-03-29    42.980000
2016-03-30    42.549999
Name: Close, dtype: float64
20160331
Date
2016-03-30    42.549999
2016-03-31    42.759998
Name: Close, dtype: float64 Date
2016-06-28    41.000000
2016-06-29    41.619999
Name: Close, dtype: float64
20160630
Date
2016-06-29    41.619999
2016-06-30    41.759998
Name: Close, dtype: float64 Date
2016-09-27    56.060001
2016-09-28    56.029999
Name: Close, dtype: float64
20160930
Date
2016-09-29    55.270000
2016-09-30    56.509998
Name: Close, dtype: float64 Date
2016-12-28    54.250000
2016-12-29    54.860001
Name: Close, dtype: float64
20161231
Date
2016-12-30    55.119999
Name: Close, dtype: float64 Date
2017-03-30    65.209999
2017-03-31    65.230003
Name: Close, dtype: float64
20170331
Date
2017-03-30    65.209999
2017-03-31    65.230003
Name: Close, dtype: float64 Date
2017-06-28    74.970001
2017-06-29    75.190002
Name: Close, dtype: float64
20170630
Date
2017-06-29    75.190002
2017-06-30    75.010002
Name: Close, dtype: float64 Date
2017-09-27    75.849998
2017-09-28    75.889999
Name: Close, dtype: float64
20170930
Date
2017-09-29    76.169998
Name: Close, dtype: float64 Date
2017-12-28    91.059998
2017-12-29    91.070000
Name: Close, dtype: float64
20171231
Date
2018-01-02    90.790001
Name: Close, dtype: float64 Date
2018-04-02    81.239998
Name: Close, dtype: float64
20180331
Date
2018-04-02    81.239998
Name: Close, dtype: float64 Date
2018-07-02    93.639999
Name: Close, dtype: float64
20180630
Date
2018-06-29    93.360001
Name: Close, dtype: float64 Date
2018-09-27    109.510002
2018-09-28    110.190002
Name: Close, dtype: float64
20180930
Date
2018-10-01    110.790001
Name: Close, dtype: float64 Date
2018-12-31    91.959999
Name: Close, dtype: float64
20181231
Date
2018-12-31    91.959999
Name: Close, dtype: float64 Date
2019-04-01    110.970001
Name: Close, dtype: float64
20190331
Date
2019-04-01    110.970001
Name: Close, dtype: float64 Date
2019-07-01    98.559998
Name: Close, dtype: float64
20190630
Date
2019-07-01    98.559998
Name: Close, dtype: float64 Date
2019-09-30    99.230003
Name: Close, dtype: float64
20190930
Date
2019-09-30    99.230003
Name: Close, dtype: float64 Date
2019-12-30    110.190002
Name: Close, dtype: float64
20191231
Date
2019-12-30    110.190002
2019-12-31    111.150002
Name: Close, dtype: float64 Date
2020-03-30    83.459999
Name: Close, dtype: float64
20030331
Date
2003-03-31    18.795
Name: Close, dtype: float64 Date
2003-06-30    19.18
Name: Close, dtype: float64
20030630
Date
2003-06-30    19.18
Name: Close, dtype: float64 Date
2003-09-29    23.77
Name: Close, dtype: float64
20030930
Date
2003-09-29    23.770
2003-09-30    23.625
Name: Close, dtype: float64 Date
2003-12-29    23.844999
Name: Close, dtype: float64
20031231
Date
2003-12-30    23.475
2003-12-31    23.350
Name: Close, dtype: float64 Date
2004-03-29    23.530001
2004-03-30    24.000000
Name: Close, dtype: float64
20040331
Date
2004-03-30    24.00
2004-03-31    23.98
Name: Close, dtype: float64 Date
2004-06-28    24.575001
2004-06-29    24.879999
Name: Close, dtype: float64
20040630
Date
2004-06-29    24.879999
2004-06-30    25.870001
Name: Close, dtype: float64 Date
2004-09-27    22.700001
2004-09-28    22.990000
Name: Close, dtype: float64
20040930
Date
2004-09-29    23.375000
2004-09-30    22.950001
Name: Close, dtype: float64 Date
2004-12-28    23.430000
2004-12-29    23.040001
Name: Close, dtype: float64
20041231
Date
2004-12-30    23.195
2004-12-31    22.975
Name: Close, dtype: float64 Date
2005-03-30    22.209999
2005-03-31    22.100000
Name: Close, dtype: float64
20050331
Date
2005-03-30    22.209999
2005-03-31    22.100000
Name: Close, dtype: float64 Date
2005-06-28    25.205
2005-06-29    25.250
Name: Close, dtype: float64
20050630
Date
2005-06-29    25.25
2005-06-30    25.16
Name: Close, dtype: float64 Date
2005-09-27    28.355
2005-09-28    28.170
Name: Close, dtype: float64
20050930
Date
2005-09-29    28.594999
2005-09-30    28.575001
Name: Close, dtype: float64 Date
2005-12-28    29.875
2005-12-29    29.695
Name: Close, dtype: float64
20051231
Date
2005-12-30    29.440001
Name: Close, dtype: float64 Date
2006-03-30    33.525002
2006-03-31    33.810001
Name: Close, dtype: float64
20060331
Date
2006-03-30    33.525002
2006-03-31    33.810001
Name: Close, dtype: float64 Date
2006-06-28    31.485001
2006-06-29    32.435001
Name: Close, dtype: float64
20060630
Date
2006-06-29    32.435001
2006-06-30    32.549999
Name: Close, dtype: float64 Date
2006-09-27    34.544998
2006-09-28    34.680000
Name: Close, dtype: float64
20060930
Date
2006-09-29    34.895
Name: Close, dtype: float64 Date
2006-12-28    37.75
2006-12-29    37.75
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    40.75
Name: Close, dtype: float64 Date
2007-06-28    45.099998
2007-06-29    44.459999
Name: Close, dtype: float64
20070630
Date
2007-06-29    44.459999
Name: Close, dtype: float64 Date
2007-09-27    55.759998
2007-09-28    57.160000
Name: Close, dtype: float64
20070930
Date
2007-10-01    58.169998
Name: Close, dtype: float64 Date
2007-12-31    59.400002
Name: Close, dtype: float64
20071231
Date
2007-12-31    59.400002
Name: Close, dtype: float64 Date
2008-03-31    51.5
Name: Close, dtype: float64
20080331
Date
2008-03-31    51.5
Name: Close, dtype: float64 Date
2008-06-30    51.700001
Name: Close, dtype: float64
20080630
Date
2008-06-30    51.700001
Name: Close, dtype: float64 Date
2008-09-29    59.610001
Name: Close, dtype: float64
20080930
Date
2008-09-29    59.610001
2008-09-30    58.910000
Name: Close, dtype: float64 Date
2008-12-29    51.009998
Name: Close, dtype: float64
20081231
Date
2008-12-30    51.580002
2008-12-31    52.080002
Name: Close, dtype: float64 Date
2009-03-30    47.139999
2009-03-31    47.730000
Name: Close, dtype: float64
20090331
Date
2009-03-30    47.139999
2009-03-31    47.730000
Name: Close, dtype: float64 Date
2009-06-29    51.799999
Name: Close, dtype: float64
20090630
Date
2009-06-29    51.799999
2009-06-30    51.529999
Name: Close, dtype: float64 Date
2009-09-28    48.560001
Name: Close, dtype: float64
20090930
Date
2009-09-29    48.509998
2009-09-30    48.439999
Name: Close, dtype: float64 Date
2009-12-28    55.599998
2009-12-29    55.369999
Name: Close, dtype: float64
20091231
Date
2009-12-30    55.330002
2009-12-31    55.169998
Name: Close, dtype: float64 Date
2010-03-30    54.900002
2010-03-31    54.500000
Name: Close, dtype: float64
20100331
Date
2010-03-30    54.900002
2010-03-31    54.500000
Name: Close, dtype: float64 Date
2010-06-28    66.570000
2010-06-29    65.940002
Name: Close, dtype: float64
20100630

Date
2010-06-29    65.940002
2010-06-30    65.580002
Name: Close, dtype: float64 Date
2010-09-27    68.570000
2010-09-28    68.949997
Name: Close, dtype: float64
20100930
Date
2010-09-29    69.750000
2010-09-30    69.480003
Name: Close, dtype: float64 Date
2010-12-28    80.459999
2010-12-29    81.779999
Name: Close, dtype: float64
20101231
Date
2010-12-30    81.419998
2010-12-31    80.919998
Name: Close, dtype: float64 Date
2011-03-30    88.180000
2011-03-31    88.669998
Name: Close, dtype: float64
20110331
Date
2011-03-30    88.180000
2011-03-31    88.669998
Name: Close, dtype: float64 Date
2011-06-28    87.769997
2011-06-29    88.150002
Name: Close, dtype: float64
20110630
Date
2011-06-29    88.150002
2011-06-30    89.120003
Name: Close, dtype: float64 Date
2011-09-27    83.93
2011-09-28    81.57
Name: Close, dtype: float64
20110930
Date
2011-09-29    81.209999
2011-09-30    80.720001
Name: Close, dtype: float64 Date
2011-12-28    78.279999
2011-12-29    78.510002
Name: Close, dtype: float64
20111231
Date
2011-12-30    77.919998
Name: Close, dtype: float64 Date
2012-03-29    84.180000
2012-03-30    83.639999
Name: Close, dtype: float64
20120331
Date
2012-03-30    83.639999
Name: Close, dtype: float64 Date
2012-06-28    89.550003
2012-06-29    91.669998
Name: Close, dtype: float64
20120630
Date
2012-06-29    91.669998
Name: Close, dtype: float64 Date
2012-09-27    90.000000
2012-09-28    90.480003
Name: Close, dtype: float64
20120930
Date
2012-10-01    90.639999
Name: Close, dtype: float64 Date
2012-12-31    93.279999
Name: Close, dtype: float64
20121231
Date
2012-12-31    93.279999
Name: Close, dtype: float64 Date
2013-04-01    104.760002
Name: Close, dtype: float64
20130331
Date
2013-04-01    104.760002
Name: Close, dtype: float64 Date
2013-07-01    111.449997
Name: Close, dtype: float64
20130630
Date
2013-07-01    111.449997
Name: Close, dtype: float64 Date
2013-09-30    115.400002
Name: Close, dtype: float64
20130930
Date
2013-09-30    115.400002
Name: Close, dtype: float64 Date
2013-12-30    115.779999
Name: Close, dtype: float64
20131231
Date
2013-12-30    115.779999
2013-12-31    116.169998
Name: Close, dtype: float64 Date
2014-03-31    113.620003
Name: Close, dtype: float64
20140331
Date
2014-03-31    113.620003
Name: Close, dtype: float64 Date
2014-06-30    118.419998
Name: Close, dtype: float64
20140630
Date
2014-06-30    118.419998
Name: Close, dtype: float64 Date
2014-09-29    116.190002
Name: Close, dtype: float64
20140930
Date
2014-09-29    116.190002
2014-09-30    116.559998
Name: Close, dtype: float64 Date
2014-12-29    133.279999
Name: Close, dtype: float64
20141231
Date
2014-12-30    132.589996
2014-12-31    131.080002
Name: Close, dtype: float64 Date
2015-03-30    140.860001
2015-03-31    140.429993
Name: Close, dtype: float64
20150331
Date
2015-03-30    140.860001
2015-03-31    140.429993
Name: Close, dtype: float64 Date
2015-06-29    133.270004
Name: Close, dtype: float64
20150630
Date
2015-06-29    133.270004
2015-06-30    133.910004
Name: Close, dtype: float64 Date
2015-09-28    138.259995
Name: Close, dtype: float64
20150930
Date
2015-09-29    138.210007
2015-09-30    139.309998
Name: Close, dtype: float64 Date
2015-12-28    121.639999
2015-12-29    123.150002
Name: Close, dtype: float64
20151231
Date
2015-12-30    121.779999
2015-12-31    120.599998
Name: Close, dtype: float64 Date
2016-03-29    125.330002
2016-03-30    125.680000
Name: Close, dtype: float64
20160331
Date
2016-03-30    125.680000
2016-03-31    126.190002
Name: Close, dtype: float64 Date
2016-06-28     99.949997
2016-06-29    101.980003
Name: Close, dtype: float64
20160630
Date
2016-06-29    101.980003
2016-06-30    104.120003
Name: Close, dtype: float64 Date
2016-09-27    80.260002
2016-09-28    81.529999
Name: Close, dtype: float64
20160930
Date
2016-09-29    80.500000
2016-09-30    80.139999
Name: Close, dtype: float64 Date
2016-12-28    76.110001
2016-12-29    76.860001
Name: Close, dtype: float64
20161231
Date
2016-12-30    77.040001
Name: Close, dtype: float64 Date
2017-03-30    81.360001
2017-03-31    82.889999
Name: Close, dtype: float64
20170331
Date
2017-03-30    81.360001
2017-03-31    82.889999
Name: Close, dtype: float64 Date
2017-06-28    77.720001
2017-06-29    77.220001
Name: Close, dtype: float64
20170630
Date
2017-06-29    77.220001
2017-06-30    76.320000
Name: Close, dtype: float64 Date
2017-09-27    71.900002
2017-09-28    71.720001
Name: Close, dtype: float64
20170930
Date
2017-09-29    71.620003
Name: Close, dtype: float64 Date
2017-12-28    67.870003
2017-12-29    67.989998
Name: Close, dtype: float64
20171231
Date
2018-01-02    68.559998
Name: Close, dtype: float64 Date
2018-04-02    57.939999
Name: Close, dtype: float64
20180331
Date
2018-04-02    57.939999
Name: Close, dtype: float64 Date
2018-07-02    65.089996
Name: Close, dtype: float64
20180630
Date
2018-06-29    65.290001
Name: Close, dtype: float64 Date
2018-09-27    58.41
2018-09-28    58.68
Name: Close, dtype: float64
20180930
Date
2018-10-01    57.389999
Name: Close, dtype: float64 Date
2018-12-31    36.689999
Name: Close, dtype: float64
20181231
Date
2018-12-31    36.689999
Name: Close, dtype: float64 Date
2019-04-01    55.139999
Name: Close, dtype: float64
20190331
Date
2019-04-01    55.139999
Name: Close, dtype: float64 Date
2019-07-01    46.959999
Name: Close, dtype: float64
20190630
Date
2019-07-01    46.959999
Name: Close, dtype: float64 Date
2019-09-30    50.93
Name: Close, dtype: float64
20190930
Date
2019-09-30    50.93
Name: Close, dtype: float64 Date
2019-12-30    64.220001
Name: Close, dtype: float64
20191231
Date
2019-12-30    64.220001
2019-12-31    63.810001
Name: Close, dtype: float64 Date
2020-03-30    48.57
Name: Close, dtype: float64
20050331
Date
2005-03-30    32.389999
2005-03-31    32.509998
Name: Close, dtype: float64 Date
2005-06-28    33.650002
2005-06-29    33.669998
Name: Close, dtype: float64
20050630
Date
2005-06-29    33.669998
2005-06-30    33.110001
Name: Close, dtype: float64 Date
2005-09-27    32.470001
2005-09-28    31.620001
Name: Close, dtype: float64
20191231
Date
2019-12-30    46.730000
2019-12-31    46.799999
Name: Close, dtype: float64 Date
2020-03-30    23.08
Name: Close, dtype: float64
20131231
Date
2013-12-30    22.180000
2013-12-31    20.709999
Name: Close, dtype: float64 Date
2014-03-31    21
Name: Close, dtype: int64
20140331
Date
2014-03-31    21
Name: Close, dtype: int64 Date
2014-06-30    23.75
Name: Close, dtype: float64
20140630
Date
2014-06-30    23.75
Name: Close, dtype: float64 Date
2014-09-29    21.059999
Name: Close, dtype: float64
20140930
Date
2014-09-29    21.059999
2014-09-30    20.730000
Name: Close, dtype: float64 Date
2014-12-29    20
Name: Close, dtype: int64
20141231
Date
2014-12-30    19.959999
2014-12-31    20.070000
Name: Close, dtype: float64 Date
2015-03-30    20.15
2015-03-31    20.00
Name: Close, dtype: float64
20150331
Date
2015-03-30    20.15
2015-03-31    20.00
Name: Close, dtype: float64 Date
2015-06-29    21.5
Name: Close, dtype: float64
20150630
Date
2015-06-29    21.5
2015-06-30    21.5
Name: Close, dtype: float64 Date
2015-09-28    24
Name: Close, dtype: int64
20150930
Date
2015-09-29    21.5
2015-09-30    23.5
Name: Close, dtype: float64 Date
2015-12-28    21
2015-12-29    21
Name: Close, dtype: int64
20151231
Date
2015-12-30    21.000000
2015-12-31    20.959999
Name: Close, dtype: float64 Date
2016-03-29    20.16
2016-03-30    21.25
Name: Close, dtype: float64
20160331
Date
2016-03-30    21.25
2016-03-31    21.25
Name: Close, dtype: float64 Date
2016-06-28    23.16
2016-06-29    23.51
Name: Close, dtype: float64
20160630
Date
2016-06-29    23.510000
2016-06-30    22.139999
Name: Close, dtype: float64 Date
2016-09-27    23.000000
2016-09-28    22.700001
Name: Close, dtype: float64
20160930
Date
2016-09-29    23.059999
2016-09-30    23.059999
Name: Close, dtype: float64 Date
2016-12-28    28.280001
2016-12-29    27.000000
Name: Close, dtype: float64
20161231
Date
2016-12-30    29
Name: Close, dtype: int64 Date
2017-03-30    35.849998
2017-03-31    36.000000
Name: Close, dtype: float64
20170331
Date
2017-03-30    35.849998
2017-03-31    36.000000
Name: Close, dtype: float64 Date
2017-06-28    38.5
2017-06-29    38.5
Name: Close, dtype: float64
20170630

Date
2017-06-29    38.5
2017-06-30    38.5
Name: Close, dtype: float64 Date
2017-09-27    35.450001
2017-09-28    35.570000
Name: Close, dtype: float64
20170930
Date
2017-09-29    35.369999
Name: Close, dtype: float64 Date
2017-12-28    38.779999
2017-12-29    38.299999
Name: Close, dtype: float64
20171231
Date
2018-01-02    38.43
Name: Close, dtype: float64 Date
2018-04-02    37.09
Name: Close, dtype: float64
20180331
Date
2018-04-02    37.09
Name: Close, dtype: float64 Date
2018-07-02    35.389999
Name: Close, dtype: float64
20180630
Date
2018-06-29    35.360001
Name: Close, dtype: float64 Date
2018-09-27    33.43
2018-09-28    33.43
Name: Close, dtype: float64
20180930
Date
2018-10-01    33.75
Name: Close, dtype: float64 Date
2018-12-31    29.24
Name: Close, dtype: float64
20181231
Date
2018-12-31    29.24
Name: Close, dtype: float64 Date
2019-04-01    28.18
Name: Close, dtype: float64
20190331
Date
2019-04-01    28.18
Name: Close, dtype: float64 Date
2019-07-01    33.549999
Name: Close, dtype: float64
20190630
Date
2019-07-01    33.549999
Name: Close, dtype: float64 Date
2019-09-30    33.470001
Name: Close, dtype: float64
20190930
Date
2019-09-30    33.470001
Name: Close, dtype: float64 Date
2019-12-30    35.779999
Name: Close, dtype: float64
20191231
Date
2019-12-30    35.779999
2019-12-31    35.570000
Name: Close, dtype: float64 Date
2020-03-30    21.559999
Name: Close, dtype: float64
20030331
Date
2003-03-31    2.81375
Name: Close, dtype: float64 Date
2003-06-30    4.49375
Name: Close, dtype: float64
20030630
Date
2003-06-30    4.49375
Name: Close, dtype: float64 Date
2003-09-29    6.6125
Name: Close, dtype: float64
20030930
Date
2003-09-29    6.6125
2003-09-30    6.5150
Name: Close, dtype: float64 Date
2003-12-29    9.45
Name: Close, dtype: float64
20031231
Date
2003-12-30    9.4850
2003-12-31    9.2625
Name: Close, dtype: float64 Date
2004-03-29    11.5950
2004-03-30    12.0725
Name: Close, dtype: float64
20040331
Date
2004-03-30    12.0725
2004-03-31    12.0150
Name: Close, dtype: float64 Date
2004-06-28    15.5500
2004-06-29    15.1375
Name: Close, dtype: float64
20040630
Date
2004-06-29    15.1375
2004-06-30    15.2275
Name: Close, dtype: float64 Date
2004-09-27    16.48
2004-09-28    17.09
Name: Close, dtype: float64
20040930
Date
2004-09-29    17.215000
2004-09-30    17.200001
Name: Close, dtype: float64 Date
2004-12-28    22.49
2004-12-29    22.42
Name: Close, dtype: float64
20041231
Date
2004-12-30    22.590000
2004-12-31    22.200001
Name: Close, dtype: float64 Date
2005-03-30    23.840000
2005-03-31    23.985001
Name: Close, dtype: float64
20050331
Date
2005-03-30    23.840000
2005-03-31    23.985001
Name: Close, dtype: float64 Date
2005-06-28    29.290001
2005-06-29    29.174999
Name: Close, dtype: float64
20050630
Date
2005-06-29    29.174999
2005-06-30    28.344999
Name: Close, dtype: float64 Date
2005-09-27    28.549999
2005-09-28    28.250000
Name: Close, dtype: float64
20050930
Date
2005-09-29    28.73
2005-09-30    29.40
Name: Close, dtype: float64 Date
2005-12-28    25.889999
2005-12-29    25.620001
Name: Close, dtype: float64
20051231
Date
2005-12-30    25.309999
Name: Close, dtype: float64 Date
2006-03-30    24.600000
2006-03-31    24.540001
Name: Close, dtype: float64
20060331
Date
2006-03-30    24.600000
2006-03-31    24.540001
Name: Close, dtype: float64 Date
2006-06-28    16.180000
2006-06-29    16.709999
Name: Close, dtype: float64
20060630
Date
2006-06-29    16.709999
2006-06-30    17.490000
Name: Close, dtype: float64 Date
2006-09-27    17.670000
2006-09-28    17.870001
Name: Close, dtype: float64
20060930
Date
2006-09-29    17.719999
Name: Close, dtype: float64 Date
2006-12-28    23.400000
2006-12-29    23.030001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    26.51
Name: Close, dtype: float64 Date
2007-06-28    24.389999
2007-06-29    24.030001
Name: Close, dtype: float64
20070630
Date
2007-06-29    24.030001
Name: Close, dtype: float64 Date
2007-09-27    22.150000
2007-09-28    21.799999
Name: Close, dtype: float64
20070930
Date
2007-10-01    22.280001
Name: Close, dtype: float64 Date
2007-12-31    27.26
Name: Close, dtype: float64
20071231
Date
2007-12-31    27.26
Name: Close, dtype: float64 Date
2008-03-31    31.35
Name: Close, dtype: float64
20080331
Date
2008-03-31    31.35
Name: Close, dtype: float64 Date
2008-06-30    31.190001
Name: Close, dtype: float64
20080630
Date
2008-06-30    31.190001
Name: Close, dtype: float64 Date
2008-09-29    32.209999
Name: Close, dtype: float64
20080930
Date
2008-09-29    32.209999
2008-09-30    31.870001
Name: Close, dtype: float64 Date
2008-12-29    14.16
Name: Close, dtype: float64
20081231
Date
2008-12-30    14.60
2008-12-31    14.98
Name: Close, dtype: float64 Date
2009-03-30    16.510000
2009-03-31    16.370001
Name: Close, dtype: float64
20090331
Date
2009-03-30    16.510000
2009-03-31    16.370001
Name: Close, dtype: float64 Date
2009-06-29    21.040001
Name: Close, dtype: float64
20090630
Date
2009-06-29    21.040001
2009-06-30    20.889999
Name: Close, dtype: float64 Date
2009-09-28    30.52
Name: Close, dtype: float64
20090930
Date
2009-09-29    30.68
2009-09-30    30.17
Name: Close, dtype: float64 Date
2009-12-28    35.430000
2009-12-29    35.639999
Name: Close, dtype: float64
20091231
Date
2009-12-30    35.509998
2009-12-31    34.990002
Name: Close, dtype: float64 Date
2010-03-30    38.130001
2010-03-31    38.070000
Name: Close, dtype: float64
20100331
Date
2010-03-30    38.130001
2010-03-31    38.070000
Name: Close, dtype: float64 Date
2010-06-28    35.799999
2010-06-29    34.619999
Name: Close, dtype: float64
20100630
Date
2010-06-29    34.619999
2010-06-30    34.389999
Name: Close, dtype: float64 Date
2010-09-27    34.369999
2010-09-28    34.869999
Name: Close, dtype: float64
20100930
Date
2010-09-29    31.959999
2010-09-30    31.440001
Name: Close, dtype: float64 Date
2010-12-28    36.070000
2010-12-29    36.200001
Name: Close, dtype: float64
20101231
Date
2010-12-30    36.389999
2010-12-31    35.810001
Name: Close, dtype: float64 Date
2011-03-30    30.549999
2011-03-31    29.830000
Name: Close, dtype: float64
20110331
Date
2011-03-30    30.549999
2011-03-31    29.830000
Name: Close, dtype: float64 Date
2011-06-28    28.68
2011-06-29    28.34
Name: Close, dtype: float64
20110630
Date
2011-06-29    28.34
2011-06-30    28.15
Name: Close, dtype: float64 Date
2011-09-27    23.840000
2011-09-28    23.110001
Name: Close, dtype: float64
20110930
Date
2011-09-29    23.309999
2011-09-30    22.309999
Name: Close, dtype: float64 Date
2011-12-28    27.219999
2011-12-29    27.490000
Name: Close, dtype: float64
20111231
Date
2011-12-30    27.559999
Name: Close, dtype: float64 Date
2012-03-29    29.190001
2012-03-30    29.110001
Name: Close, dtype: float64
20120331
Date
2012-03-30    29.110001
Name: Close, dtype: float64 Date
2012-06-28    26.389999
2012-06-29    27.590000
Name: Close, dtype: float64
20120630
Date
2012-06-29    27.59
Name: Close, dtype: float64 Date
2012-09-27    37.459999
2012-09-28    37.560001
Name: Close, dtype: float64
20120930
Date
2012-10-01    37.330002
Name: Close, dtype: float64 Date
2012-12-31    39.360001
Name: Close, dtype: float64
20121231
Date
2012-12-31    39.360001
Name: Close, dtype: float64 Date
2013-04-01    38.41
Name: Close, dtype: float64
20130331
Date
2013-04-01    38.41
Name: Close, dtype: float64 Date
2013-07-01    40.41
Name: Close, dtype: float64
20130630
Date
2013-07-01    40.41
Name: Close, dtype: float64 Date
2013-09-30    36.77
Name: Close, dtype: float64
20130930
Date
2013-09-30    36.77
Name: Close, dtype: float64 Date
2013-12-30    37.32
Name: Close, dtype: float64
20131231
Date
2013-12-30    37.320000
2013-12-31    37.099998
Name: Close, dtype: float64 Date
2014-03-31    36.470001
Name: Close, dtype: float64
20140331
Date
2014-03-31    36.470001
Name: Close, dtype: float64 Date
2014-06-30    33.860001
Name: Close, dtype: float64
20140630
Date
2014-06-30    33.860001
Name: Close, dtype: float64 Date
2014-09-29    36.959999
Name: Close, dtype: float64
20140930
Date
2014-09-29    36.959999
2014-09-30    36.700001
Name: Close, dtype: float64 Date
2014-12-29    35.25
Name: Close, dtype: float64
20141231

Date
2014-12-30    35.070000
2014-12-31    35.130001
Name: Close, dtype: float64 Date
2015-03-30    45.779999
2015-03-31    45.650002
Name: Close, dtype: float64
20150331
Date
2015-03-30    45.779999
2015-03-31    45.650002
Name: Close, dtype: float64 Date
2015-06-29    34.880001
Name: Close, dtype: float64
20150630
Date
2015-06-29    34.880001
2015-06-30    35.000000
Name: Close, dtype: float64 Date
2015-09-28    28.639999
Name: Close, dtype: float64
20150930
Date
2015-09-29    29.010000
2015-09-30    29.379999
Name: Close, dtype: float64 Date
2015-12-28    23.059999
2015-12-29    23.420000
Name: Close, dtype: float64
20151231
Date
2015-12-30    23.09
2015-12-31    22.75
Name: Close, dtype: float64 Date
2016-03-29    33.099998
2016-03-30    33.040001
Name: Close, dtype: float64
20160331
Date
2016-03-30    33.040001
2016-03-31    33.090000
Name: Close, dtype: float64 Date
2016-06-28    26.160000
2016-06-29    26.969999
Name: Close, dtype: float64
20160630
Date
2016-06-29    26.969999
2016-06-30    27.500000
Name: Close, dtype: float64 Date
2016-09-27    35.130001
2016-09-28    34.580002
Name: Close, dtype: float64
20160930
Date
2016-09-29    34.43
2016-09-30    34.52
Name: Close, dtype: float64 Date
2016-12-28    28.730000
2016-12-29    28.780001
Name: Close, dtype: float64
20161231
Date
2016-12-30    28.48
Name: Close, dtype: float64 Date
2017-03-30    24.459999
2017-03-31    23.760000
Name: Close, dtype: float64
20170331
Date
2017-03-30    24.459999
2017-03-31    23.760000
Name: Close, dtype: float64 Date
2017-06-28    18.190001
2017-06-29    18.440001
Name: Close, dtype: float64
20170630
Date
2017-06-29    18.440001
2017-06-30    18.540001
Name: Close, dtype: float64 Date
2017-09-27    24.43
2017-09-28    23.93
Name: Close, dtype: float64
20170930
Date
2017-09-29    23.9
Name: Close, dtype: float64 Date
2017-12-28    35.259998
2017-12-29    35.060001
Name: Close, dtype: float64
20171231
Date
2018-01-02    35.84
Name: Close, dtype: float64 Date
2018-04-02    36.91
Name: Close, dtype: float64
20180331
Date
2018-04-02    36.91
Name: Close, dtype: float64 Date
2018-07-02    45.099998
Name: Close, dtype: float64
20180630
Date
2018-06-29    44.549999
Name: Close, dtype: float64 Date
2018-09-27    41.580002
2018-09-28    40.900002
Name: Close, dtype: float64
20180930
Date
2018-10-01    40.040001
Name: Close, dtype: float64 Date
2018-12-31    33.200001
Name: Close, dtype: float64
20181231
Date
2018-12-31    33.200001
Name: Close, dtype: float64 Date
2019-04-01    30.540001
Name: Close, dtype: float64
20190331
Date
2019-04-01    30.540001
Name: Close, dtype: float64 Date
2019-07-01    22.790001
Name: Close, dtype: float64
20190630
Date
2019-07-01    22.790001
Name: Close, dtype: float64 Date
2019-09-30    28.09
Name: Close, dtype: float64
20190930
Date
2019-09-30    28.09
Name: Close, dtype: float64 Date
2019-12-30    27.57
Name: Close, dtype: float64
20191231
Date
2019-12-30    27.57
2019-12-31    27.77
Name: Close, dtype: float64 Date
2020-03-30    14.56
Name: Close, dtype: float64
20110630
Date
2011-06-29    34.360001
2011-06-30    34.860001
Name: Close, dtype: float64 Date
2011-09-27    29.629999
2011-09-28    28.230000
Name: Close, dtype: float64
20110930
Date
2011-09-29    28.49
2011-09-30    27.40
Name: Close, dtype: float64 Date
2011-12-28    40.259998
2011-12-29    41.380001
Name: Close, dtype: float64
20111231
Date
2011-12-30    40.93
Name: Close, dtype: float64 Date
2012-03-29    42.520000
2012-03-30    42.830002
Name: Close, dtype: float64
20120331
Date
2012-03-30    42.830002
Name: Close, dtype: float64 Date
2012-06-28    37.230000
2012-06-29    39.439999
Name: Close, dtype: float64
20120630
Date
2012-06-29    39.439999
Name: Close, dtype: float64 Date
2012-09-27    33.900002
2012-09-28    33.980000
Name: Close, dtype: float64
20120930
Date
2012-10-01    33.639999
Name: Close, dtype: float64 Date
2012-12-31    38.130001
Name: Close, dtype: float64
20121231
Date
2012-12-31    38.130001
Name: Close, dtype: float64 Date
2013-04-01    39.450001
Name: Close, dtype: float64
20130331
Date
2013-04-01    39.450001
Name: Close, dtype: float64 Date
2013-07-01    40.990002
Name: Close, dtype: float64
20130630
Date
2013-07-01    40.990002
Name: Close, dtype: float64 Date
2013-09-30    40.830002
Name: Close, dtype: float64
20130930
Date
2013-09-30    40.830002
Name: Close, dtype: float64 Date
2013-12-30    45.91
Name: Close, dtype: float64
20131231
Date
2013-12-30    45.910000
2013-12-31    45.610001
Name: Close, dtype: float64 Date
2014-03-31    41.529999
Name: Close, dtype: float64
20140331
Date
2014-03-31    41.529999
Name: Close, dtype: float64 Date
2014-06-30    50.18
Name: Close, dtype: float64
20140630
Date
2014-06-30    50.18
Name: Close, dtype: float64 Date
2014-09-29    48.57
Name: Close, dtype: float64
20140930
Date
2014-09-29    48.570000
2014-09-30    47.619999
Name: Close, dtype: float64 Date
2014-12-29    50.25
Name: Close, dtype: float64
20141231
Date
2014-12-30    49.869999
2014-12-31    49.230000
Name: Close, dtype: float64 Date
2015-03-30    50.980000
2015-03-31    51.009998
Name: Close, dtype: float64
20150331
Date
2015-03-30    50.980000
2015-03-31    51.009998
Name: Close, dtype: float64 Date
2015-06-29    54.939999
Name: Close, dtype: float64
20150630
Date
2015-06-29    54.939999
2015-06-30    54.990002
Name: Close, dtype: float64 Date
2015-09-28    40
Name: Close, dtype: int64
20150930
Date
2015-09-29    40.389999
2015-09-30    40.700001
Name: Close, dtype: float64 Date
2015-12-28    50.549999
2015-12-29    50.990002
Name: Close, dtype: float64
20151231
Date
2015-12-30    50.84
2015-12-31    49.66
Name: Close, dtype: float64 Date
2016-03-29    53.049999
2016-03-30    52.619999
Name: Close, dtype: float64
20160331
Date
2016-03-30    52.619999
2016-03-31    52.020000
Name: Close, dtype: float64 Date
2016-06-28    54.509998
2016-06-29    56.060001
Name: Close, dtype: float64
20160630
Date
2016-06-29    56.060001
2016-06-30    57.639999
Name: Close, dtype: float64 Date
2016-09-27    61.41
2016-09-28    62.16
Name: Close, dtype: float64
20160930
Date
2016-09-29    61.59
2016-09-30    62.48
Name: Close, dtype: float64 Date
2016-12-28    69.180000
2016-12-29    69.230003
Name: Close, dtype: float64
20161231
Date
2016-12-30    69.050003
Name: Close, dtype: float64 Date
2017-03-30    68.330002
2017-03-31    67.919998
Name: Close, dtype: float64
20170331
Date
2017-03-30    68.330002
2017-03-31    67.919998
Name: Close, dtype: float64 Date
2017-06-28    68.349998
2017-06-29    67.320000
Name: Close, dtype: float64
20170630
Date
2017-06-29    67.320000
2017-06-30    67.580002
Name: Close, dtype: float64 Date
2017-09-27    78.730003
2017-09-28    77.889999
Name: Close, dtype: float64
20170930
Date
2017-09-29    77.610001
Name: Close, dtype: float64 Date
2017-12-28    77.180000
2017-12-29    76.540001
Name: Close, dtype: float64
20171231
Date
2018-01-02    76.919998
Name: Close, dtype: float64 Date
2018-04-02    69.629997
Name: Close, dtype: float64
20180331
Date
2018-04-02    69.629997
Name: Close, dtype: float64 Date
2018-07-02    76.25
Name: Close, dtype: float64
20180630
Date
2018-06-29    76.860001
Name: Close, dtype: float64 Date
2018-09-27    80.849998
2018-09-28    80.860001
Name: Close, dtype: float64
20180930
Date
2018-10-01    79.809998
Name: Close, dtype: float64 Date
2018-12-31    74.290001
Name: Close, dtype: float64
20181231
Date
2018-12-31    74.290001
Name: Close, dtype: float64 Date
2019-04-01    96.080002
Name: Close, dtype: float64
20190331
Date
2019-04-01    96.080002
Name: Close, dtype: float64 Date
2019-07-01    114.589996
Name: Close, dtype: float64
20190630
Date
2019-07-01    114.589996
Name: Close, dtype: float64 Date
2019-09-30    107.830002
Name: Close, dtype: float64
20190930
Date
2019-09-30    107.830002
Name: Close, dtype: float64 Date
2019-12-30    118.209999
Name: Close, dtype: float64
20191231
Date
2019-12-30    118.209999
2019-12-31    118.440002
Name: Close, dtype: float64 Date
2020-03-30    59.200001
Name: Close, dtype: float64
20120331
Date
2012-03-30    16.299999
Name: Close, dtype: float64 Date
2012-06-28    17.139999
2012-06-29    17.540001
Name: Close, dtype: float64
20120630
Date
2012-06-29    17.540001
Name: Close, dtype: float64 Date
2012-09-27    23.389999
2012-09-28    23.830000
Name: Close, dtype: float64
20120930

Date
2012-10-01    24.139999
Name: Close, dtype: float64 Date
2012-12-31    23.35
Name: Close, dtype: float64
20121231
Date
2012-12-31    23.35
Name: Close, dtype: float64 Date
2013-04-01    30.01
Name: Close, dtype: float64
20130331
Date
2013-04-01    30.01
Name: Close, dtype: float64 Date
2013-07-01    33.939999
Name: Close, dtype: float64
20130630
Date
2013-07-01    33.939999
Name: Close, dtype: float64 Date
2013-09-30    39.43
Name: Close, dtype: float64
20130930
Date
2013-09-30    39.43
Name: Close, dtype: float64 Date
2013-12-30    47.759998
Name: Close, dtype: float64
20131231
Date
2013-12-30    47.759998
2013-12-31    47.330002
Name: Close, dtype: float64 Date
2014-03-31    45.119999
Name: Close, dtype: float64
20140331
Date
2014-03-31    45.119999
Name: Close, dtype: float64 Date
2014-06-30    45.5
Name: Close, dtype: float64
20140630
Date
2014-06-30    45.5
Name: Close, dtype: float64 Date
2014-09-29    49.959999
Name: Close, dtype: float64
20140930
Date
2014-09-29    49.959999
2014-09-30    48.500000
Name: Close, dtype: float64 Date
2014-12-29    62.740002
Name: Close, dtype: float64
20141231
Date
2014-12-30    62.279999
2014-12-31    61.209999
Name: Close, dtype: float64 Date
2015-03-30    72.099998
2015-03-31    71.599998
Name: Close, dtype: float64
20150331
Date
2015-03-30    72.099998
2015-03-31    71.599998
Name: Close, dtype: float64 Date
2015-06-29    75.5
Name: Close, dtype: float64
20150630
Date
2015-06-29    75.500000
2015-06-30    78.330002
Name: Close, dtype: float64 Date
2015-09-28    65.489998
Name: Close, dtype: float64
20150930
Date
2015-09-29    63.689999
2015-09-30    66.269997
Name: Close, dtype: float64 Date
2015-12-28    62.340000
2015-12-29    63.369999
Name: Close, dtype: float64
20151231
Date
2015-12-30    62.790001
2015-12-31    62.459999
Name: Close, dtype: float64 Date
2016-03-29    54.759998
2016-03-30    55.439999
Name: Close, dtype: float64
20160331
Date
2016-03-30    55.439999
2016-03-31    55.110001
Name: Close, dtype: float64 Date
2016-06-28    53.320000
2016-06-29    54.970001
Name: Close, dtype: float64
20160630
Date
2016-06-29    54.970001
2016-06-30    55.400002
Name: Close, dtype: float64 Date
2016-09-27    48.160000
2016-09-28    47.740002
Name: Close, dtype: float64
20160930
Date
2016-09-29    47.509998
2016-09-30    49.549999
Name: Close, dtype: float64 Date
2016-12-28    33.480000
2016-12-29    33.610001
Name: Close, dtype: float64
20161231
Date
2016-12-30    33.099998
Name: Close, dtype: float64 Date
2017-03-30    43.779999
2017-03-31    43.599998
Name: Close, dtype: float64
20170331
Date
2017-03-30    43.779999
2017-03-31    43.599998
Name: Close, dtype: float64 Date
2017-06-28    49.349998
2017-06-29    49.599998
Name: Close, dtype: float64
20170630
Date
2017-06-29    49.599998
2017-06-30    49.380001
Name: Close, dtype: float64 Date
2017-09-27    46.740002
2017-09-28    47.430000
Name: Close, dtype: float64
20170930
Date
2017-09-29    47.759998
Name: Close, dtype: float64 Date
2017-12-28    32.630001
2017-12-29    32.630001
Name: Close, dtype: float64
20171231
Date
2018-01-02    33.810001
Name: Close, dtype: float64 Date
2018-04-02    38.349998
Name: Close, dtype: float64
20180331
Date
2018-04-02    38.349998
Name: Close, dtype: float64 Date
2018-07-02    41.279999
Name: Close, dtype: float64
20180630
Date
2018-06-29    40.91
Name: Close, dtype: float64 Date
2018-09-27    34.529999
2018-09-28    35.200001
Name: Close, dtype: float64
20180930
Date
2018-10-01    34.810001
Name: Close, dtype: float64 Date
2018-12-31    25.709999
Name: Close, dtype: float64
20181231
Date
2018-12-31    25.709999
Name: Close, dtype: float64 Date
2019-04-01    29.66
Name: Close, dtype: float64
20190331
Date
2019-04-01    29.66
Name: Close, dtype: float64 Date
2019-07-01    34.310001
Name: Close, dtype: float64
20190630
Date
2019-07-01    34.310001
Name: Close, dtype: float64 Date
2019-09-30    31.08
Name: Close, dtype: float64
20190930
Date
2019-09-30    31.08
Name: Close, dtype: float64 Date
2019-12-30    33.049999
Name: Close, dtype: float64
20191231
Date
2019-12-30    33.049999
2019-12-31    33.220001
Name: Close, dtype: float64 Date
2020-03-30    18.440001
Name: Close, dtype: float64
20131231
Date
2013-12-30    35.259998
2013-12-31    39.599998
Name: Close, dtype: float64 Date
2014-03-31    34.5
Name: Close, dtype: float64
20140331
Date
2014-03-31    34.5
Name: Close, dtype: float64 Date
2014-06-30    33.970001
Name: Close, dtype: float64
20140630
Date
2014-06-30    33.970001
Name: Close, dtype: float64 Date
2014-09-29    29.74
Name: Close, dtype: float64
20140930
Date
2014-09-29    29.74
2014-09-30    30.24
Name: Close, dtype: float64 Date
2014-12-29    39
Name: Close, dtype: int64
20141231
Date
2014-12-30    37.660000
2014-12-31    38.959999
Name: Close, dtype: float64 Date
2015-03-30    38.139999
2015-03-31    38.060001
Name: Close, dtype: float64
20150331
Date
2015-03-30    38.139999
2015-03-31    38.060001
Name: Close, dtype: float64 Date
2015-06-29    30.52
Name: Close, dtype: float64
20150630
Date
2015-06-29    30.520000
2015-06-30    31.639999
Name: Close, dtype: float64 Date
2015-09-28    25.59
Name: Close, dtype: float64
20150930
Date
2015-09-29    24.190001
2015-09-30    24.900000
Name: Close, dtype: float64 Date
2015-12-28    47.290001
2015-12-29    50.040001
Name: Close, dtype: float64
20151231
Date
2015-12-30    49.570000
2015-12-31    48.759998
Name: Close, dtype: float64 Date
2016-03-29    25.760000
2016-03-30    25.700001
Name: Close, dtype: float64
20160331
Date
2016-03-30    25.700001
2016-03-31    26.389999
Name: Close, dtype: float64 Date
2016-06-28    33.889999
2016-06-29    35.000000
Name: Close, dtype: float64
20160630
Date
2016-06-29    35.00
2016-06-30    33.98
Name: Close, dtype: float64 Date
2016-09-27    40.470001
2016-09-28    39.580002
Name: Close, dtype: float64
20160930
Date
2016-09-29    36.410000
2016-09-30    36.189999
Name: Close, dtype: float64 Date
2016-12-28    25.770000
2016-12-29    25.629999
Name: Close, dtype: float64
20161231
Date
2016-12-30    25.52
Name: Close, dtype: float64 Date
2017-03-30    26.730000
2017-03-31    26.469999
Name: Close, dtype: float64
20170331
Date
2017-03-30    26.730000
2017-03-31    26.469999
Name: Close, dtype: float64 Date
2017-06-28    31.500000
2017-06-29    30.870001
Name: Close, dtype: float64
20170630
Date
2017-06-29    30.870001
2017-06-30    30.389999
Name: Close, dtype: float64 Date
2017-09-27    35.279999
2017-09-28    35.790001
Name: Close, dtype: float64
20170930
Date
2017-09-29    37.32
Name: Close, dtype: float64 Date
2017-12-28    43.290001
2017-12-29    42.439999
Name: Close, dtype: float64
20171231
Date
2018-01-02    42.66
Name: Close, dtype: float64 Date
2018-04-02    39.130001
Name: Close, dtype: float64
20180331
Date
2018-04-02    39.130001
Name: Close, dtype: float64 Date
2018-07-02    47.330002
Name: Close, dtype: float64
20180630
Date
2018-06-29    48.52
Name: Close, dtype: float64 Date
2018-09-27    56.830002
2018-09-28    57.230000
Name: Close, dtype: float64
20180930
Date
2018-10-01    55.75
Name: Close, dtype: float64 Date
2018-12-31    43.549999
Name: Close, dtype: float64
20181231
Date
2018-12-31    43.549999
Name: Close, dtype: float64 Date
2019-04-01    46.919998
Name: Close, dtype: float64
20190331
Date
2019-04-01    46.919998
Name: Close, dtype: float64 Date
2019-07-01    42.23
Name: Close, dtype: float64
20190630
Date
2019-07-01    42.23
Name: Close, dtype: float64 Date
2019-09-30    39.509998
Name: Close, dtype: float64
20190930
Date
2019-09-30    39.509998
Name: Close, dtype: float64 Date
2019-12-30    52.610001
Name: Close, dtype: float64
20191231
Date
2019-12-30    52.610001
2019-12-31    53.020000
Name: Close, dtype: float64 Date
2020-03-30    85.519997
Name: Close, dtype: float64
20030331
Date
2003-03-31    8.59
Name: Close, dtype: float64 Date
2003-06-30    14.3
Name: Close, dtype: float64
20030630
Date
2003-06-30    14.3
Name: Close, dtype: float64 Date
2003-09-29    20.389999
Name: Close, dtype: float64
20030930
Date
2003-09-29    20.389999
2003-09-30    18.870001
Name: Close, dtype: float64 Date
2003-12-29    26.76
Name: Close, dtype: float64
20031231
Date
2003-12-30    26.620001
2003-12-31    26.049999
Name: Close, dtype: float64 Date
2004-03-30    20.500000
2004-03-31    20.389999
Name: Close, dtype: float64
20040331

Date
2004-03-30    20.500000
2004-03-31    20.389999
Name: Close, dtype: float64 Date
2004-06-28    14.89
2004-06-29    15.30
Name: Close, dtype: float64
20040630
Date
2004-06-29    15.30
2004-06-30    15.72
Name: Close, dtype: float64 Date
2004-09-27    9.14
2004-09-28    9.26
Name: Close, dtype: float64
20040930
Date
2004-09-29    9.45
2004-09-30    9.29
Name: Close, dtype: float64 Date
2004-12-28    9.05
2004-12-29    9.12
Name: Close, dtype: float64
20041231
Date
2004-12-30    9.13
2004-12-31    9.13
Name: Close, dtype: float64 Date
2005-03-30    9.34
2005-03-31    9.67
Name: Close, dtype: float64
20050331
Date
2005-03-30    9.34
2005-03-31    9.67
Name: Close, dtype: float64 Date
2005-06-28    7.96
2005-06-29    7.91
Name: Close, dtype: float64
20050630
Date
2005-06-29    7.91
2005-06-30    7.86
Name: Close, dtype: float64 Date
2005-09-27    10.53
2005-09-28    10.66
Name: Close, dtype: float64
20050930
Date
2005-09-29    10.45
2005-09-30    10.76
Name: Close, dtype: float64 Date
2005-12-28    12.33
2005-12-29    12.13
Name: Close, dtype: float64
20051231
Date
2005-12-30    11.83
Name: Close, dtype: float64 Date
2006-03-30    14.02
2006-03-31    14.13
Name: Close, dtype: float64
20060331
Date
2006-03-30    14.02
2006-03-31    14.13
Name: Close, dtype: float64 Date
2006-06-28    12.40
2006-06-29    13.44
Name: Close, dtype: float64
20060630
Date
2006-06-29    13.44
2006-06-30    13.24
Name: Close, dtype: float64 Date
2006-09-27    17
2006-09-28    17
Name: Close, dtype: int64
20060930
Date
2006-09-29    17.049999
Name: Close, dtype: float64 Date
2006-12-28    18.680000
2006-12-29    18.870001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    21.040001
Name: Close, dtype: float64 Date
2007-06-28    21.93
2007-06-29    22.66
Name: Close, dtype: float64
20070630
Date
2007-06-29    22.66
Name: Close, dtype: float64 Date
2007-09-27    15.79
2007-09-28    15.10
Name: Close, dtype: float64
20070930
Date
2007-10-01    17.030001
Name: Close, dtype: float64 Date
2007-12-31    13.08
Name: Close, dtype: float64
20071231
Date
2007-12-31    13.08
Name: Close, dtype: float64 Date
2008-03-31    13.26
Name: Close, dtype: float64
20080331
Date
2008-03-31    13.26
Name: Close, dtype: float64 Date
2008-06-30    13.7
Name: Close, dtype: float64
20080630
Date
2008-06-30    13.7
Name: Close, dtype: float64 Date
2008-09-29    13.42
Name: Close, dtype: float64
20080930
Date
2008-09-29    13.42
2008-09-30    13.68
Name: Close, dtype: float64 Date
2008-12-29    9.55
Name: Close, dtype: float64
20081231
Date
2008-12-30    10.10
2008-12-31     9.95
Name: Close, dtype: float64 Date
2009-03-30    7.33
2009-03-31    7.53
Name: Close, dtype: float64
20090331
Date
2009-03-30    7.33
2009-03-31    7.53
Name: Close, dtype: float64 Date
2009-06-29    9
Name: Close, dtype: int64
20090630
Date
2009-06-29    9.00
2009-06-30    8.99
Name: Close, dtype: float64 Date
2009-09-28    14.44
Name: Close, dtype: float64
20090930
Date
2009-09-29    14.21
2009-09-30    14.24
Name: Close, dtype: float64 Date
2009-12-28    14.46
2009-12-29    14.62
Name: Close, dtype: float64
20091231
Date
2009-12-30    14.82
2009-12-31    15.08
Name: Close, dtype: float64 Date
2010-03-30    15.750000
2010-03-31    16.559999
Name: Close, dtype: float64
20100331
Date
2010-03-30    15.750000
2010-03-31    16.559999
Name: Close, dtype: float64 Date
2010-06-28    13.68
2010-06-29    12.84
Name: Close, dtype: float64
20100630
Date
2010-06-29    12.84
2010-06-30    12.29
Name: Close, dtype: float64 Date
2010-09-27    12.73
2010-09-28    12.85
Name: Close, dtype: float64
20100930
Date
2010-09-29    13.15
2010-09-30    13.06
Name: Close, dtype: float64 Date
2010-12-28    13.7
2010-12-29    13.6
Name: Close, dtype: float64
20101231
Date
2010-12-30    13.72
2010-12-31    13.64
Name: Close, dtype: float64 Date
2011-03-30    16.23
2011-03-31    16.35
Name: Close, dtype: float64
20110331
Date
2011-03-30    16.23
2011-03-31    16.35
Name: Close, dtype: float64 Date
2011-06-28    14.33
2011-06-29    14.53
Name: Close, dtype: float64
20110630
Date
2011-06-29    14.53
2011-06-30    14.79
Name: Close, dtype: float64 Date
2011-09-27    9.19
2011-09-28    9.13
Name: Close, dtype: float64
20110930
Date
2011-09-29    9.03
2011-09-30    8.62
Name: Close, dtype: float64 Date
2011-12-28    10.87
2011-12-29    10.95
Name: Close, dtype: float64
20111231
Date
2011-12-30    10.73
Name: Close, dtype: float64 Date
2012-03-29    13.00
2012-03-30    13.12
Name: Close, dtype: float64
20120331
Date
2012-03-30    13.12
Name: Close, dtype: float64 Date
2012-06-28    13.23
2012-06-29    13.42
Name: Close, dtype: float64
20120630
Date
2012-06-29    13.42
Name: Close, dtype: float64 Date
2012-09-27    12.63
2012-09-28    12.33
Name: Close, dtype: float64
20120930
Date
2012-10-01    12.33
Name: Close, dtype: float64 Date
2012-12-31    13.81
Name: Close, dtype: float64
20121231
Date
2012-12-31    13.81
Name: Close, dtype: float64 Date
2013-04-01    18.370001
Name: Close, dtype: float64
20130331
Date
2013-04-01    18.370001
Name: Close, dtype: float64 Date
2013-07-01    17.940001
Name: Close, dtype: float64
20130630
Date
2013-07-01    17.940001
Name: Close, dtype: float64 Date
2013-09-30    17.51
Name: Close, dtype: float64
20130930
Date
2013-09-30    17.51
Name: Close, dtype: float64 Date
2013-12-30    22.52
Name: Close, dtype: float64
20131231
Date
2013-12-30    22.520000
2013-12-31    22.860001
Name: Close, dtype: float64 Date
2014-03-31    24.5
Name: Close, dtype: float64
20140331
Date
2014-03-31    24.5
Name: Close, dtype: float64 Date
2014-06-30    19.25
Name: Close, dtype: float64
20140630
Date
2014-06-30    19.25
Name: Close, dtype: float64 Date
2014-09-29    19.15
Name: Close, dtype: float64
20140930
Date
2014-09-29    19.150000
2014-09-30    18.790001
Name: Close, dtype: float64 Date
2014-12-29    24.07
Name: Close, dtype: float64
20141231
Date
2014-12-30    23.950001
2014-12-31    23.700001
Name: Close, dtype: float64 Date
2015-03-30    25.98
2015-03-31    25.66
Name: Close, dtype: float64
20150331
Date
2015-03-30    25.98
2015-03-31    25.66
Name: Close, dtype: float64 Date
2015-06-29    27.41
Name: Close, dtype: float64
20150630
Date
2015-06-29    27.41
2015-06-30    27.49
Name: Close, dtype: float64 Date
2015-09-28    24.91
Name: Close, dtype: float64
20150930
Date
2015-09-29    25.290001
2015-09-30    26.299999
Name: Close, dtype: float64 Date
2015-12-28    28.840000
2015-12-29    29.389999
Name: Close, dtype: float64
20151231
Date
2015-12-30    28.719999
2015-12-31    28.230000
Name: Close, dtype: float64 Date
2016-03-29    34.810001
2016-03-30    34.990002
Name: Close, dtype: float64
20160331
Date
2016-03-30    34.990002
2016-03-31    34.790001
Name: Close, dtype: float64 Date
2016-06-28    35.790001
2016-06-29    36.380001
Name: Close, dtype: float64
20160630
Date
2016-06-29    36.380001
2016-06-30    37.959999
Name: Close, dtype: float64 Date
2016-09-27    47.23
2016-09-28    46.77
Name: Close, dtype: float64
20160930
Date
2016-09-29    47.02
2016-09-30    47.32
Name: Close, dtype: float64 Date
2016-12-28    55.430000
2016-12-29    55.470001
Name: Close, dtype: float64
20161231
Date
2016-12-30    54.75
Name: Close, dtype: float64 Date
2017-03-30    68.339996
2017-03-31    68.559998
Name: Close, dtype: float64
20170331
Date
2017-03-30    68.339996
2017-03-31    68.559998
Name: Close, dtype: float64 Date
2017-06-28    68.809998
2017-06-29    65.169998
Name: Close, dtype: float64
20170630
Date
2017-06-29    65.169998
2017-06-30    64.690002
Name: Close, dtype: float64 Date
2017-09-27    76.93
2017-09-28    78.32
Name: Close, dtype: float64
20170930
Date
2017-09-29    80.760002
Name: Close, dtype: float64 Date
2017-12-28    68.809998
2017-12-29    67.480003
Name: Close, dtype: float64
20171231
Date
2018-01-02    69.410004
Name: Close, dtype: float64 Date
2018-04-02    60.540001
Name: Close, dtype: float64
20180331
Date
2018-04-02    60.540001
Name: Close, dtype: float64 Date
2018-07-02    58.830002
Name: Close, dtype: float64
20180630
Date
2018-06-29    58.09
Name: Close, dtype: float64 Date
2018-09-27    51.709999
2018-09-28    51.650002
Name: Close, dtype: float64
20180930
Date
2018-10-01    52.220001
Name: Close, dtype: float64 Date
2018-12-31    42.93
Name: Close, dtype: float64
20181231

Date
2018-12-31    42.93
Name: Close, dtype: float64 Date
2019-04-01    50.860001
Name: Close, dtype: float64
20190331
Date
2019-04-01    50.860001
Name: Close, dtype: float64 Date
2019-07-01    57.34
Name: Close, dtype: float64
20190630
Date
2019-07-01    57.34
Name: Close, dtype: float64 Date
2019-09-30    57.41
Name: Close, dtype: float64
20190930
Date
2019-09-30    57.41
Name: Close, dtype: float64 Date
2019-12-30    71.209999
Name: Close, dtype: float64
20191231
Date
2019-12-30    71.209999
2019-12-31    71.199997
Name: Close, dtype: float64 Date
2020-03-30    50.16
Name: Close, dtype: float64
20030331
Date
2003-03-31    2.01
Name: Close, dtype: float64 Date
2003-06-30    3.99
Name: Close, dtype: float64
20030630
Date
2003-06-30    3.99
Name: Close, dtype: float64 Date
2003-09-29    5.88
Name: Close, dtype: float64
20030930
Date
2003-09-29    5.88
2003-09-30    5.52
Name: Close, dtype: float64 Date
2003-12-29    7.76
Name: Close, dtype: float64
20031231
Date
2003-12-30    7.93
2003-12-31    7.69
Name: Close, dtype: float64 Date
2004-03-29    7.56
2004-03-30    7.84
Name: Close, dtype: float64
20040331
Date
2004-03-30    7.84
2004-03-31    7.58
Name: Close, dtype: float64 Date
2004-06-28    6.44
2004-06-29    6.14
Name: Close, dtype: float64
20040630
Date
2004-06-29    6.14
2004-06-30    6.01
Name: Close, dtype: float64 Date
2004-09-27    4.80
2004-09-28    4.87
Name: Close, dtype: float64
20040930
Date
2004-09-29    4.92
2004-09-30    4.77
Name: Close, dtype: float64 Date
2004-12-28    5.65
2004-12-29    5.63
Name: Close, dtype: float64
20041231
Date
2004-12-30    5.60
2004-12-31    5.51
Name: Close, dtype: float64 Date
2005-03-30    4.54
2005-03-31    4.52
Name: Close, dtype: float64
20050331
Date
2005-03-30    4.54
2005-03-31    4.52
Name: Close, dtype: float64 Date
2005-06-28    5.37
2005-06-29    5.31
Name: Close, dtype: float64
20050630
Date
2005-06-29    5.31
2005-06-30    5.31
Name: Close, dtype: float64 Date
2005-09-27    7.2
2005-09-28    7.2
Name: Close, dtype: float64
20050930
Date
2005-09-29    7.31
2005-09-30    7.59
Name: Close, dtype: float64 Date
2005-12-28    6.88
2005-12-29    6.86
Name: Close, dtype: float64
20051231
Date
2005-12-30    6.68
Name: Close, dtype: float64 Date
2006-03-30    8.38
2006-03-31    8.48
Name: Close, dtype: float64
20060331
Date
2006-03-30    8.38
2006-03-31    8.48
Name: Close, dtype: float64 Date
2006-06-28    7.32
2006-06-29    8.09
Name: Close, dtype: float64
20060630
Date
2006-06-29    8.09
2006-06-30    8.14
Name: Close, dtype: float64 Date
2006-09-27    7.14
2006-09-28    7.23
Name: Close, dtype: float64
20060930
Date
2006-09-29    7.29
Name: Close, dtype: float64 Date
2006-12-28    6.92
2006-12-29    6.88
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    7.66
Name: Close, dtype: float64 Date
2007-06-28    8.32
2007-06-29    8.30
Name: Close, dtype: float64
20070630
Date
2007-06-29    8.3
Name: Close, dtype: float64 Date
2007-09-27    6.49
2007-09-28    6.40
Name: Close, dtype: float64
20070930
Date
2007-10-01    6.58
Name: Close, dtype: float64 Date
2007-12-31    5.28
Name: Close, dtype: float64
20071231
Date
2007-12-31    5.28
Name: Close, dtype: float64 Date
2008-03-31    6.72
Name: Close, dtype: float64
20080331
Date
2008-03-31    6.72
Name: Close, dtype: float64 Date
2008-06-30    5.56
Name: Close, dtype: float64
20080630
Date
2008-06-30    5.56
Name: Close, dtype: float64 Date
2008-09-29    5.15
Name: Close, dtype: float64
20080930
Date
2008-09-29    5.15
2008-09-30    5.45
Name: Close, dtype: float64 Date
2008-12-29    2.38
Name: Close, dtype: float64
20081231
Date
2008-12-30    2.49
2008-12-31    2.68
Name: Close, dtype: float64 Date
2009-03-30    3.77
2009-03-31    3.76
Name: Close, dtype: float64
20090331
Date
2009-03-30    3.77
2009-03-31    3.76
Name: Close, dtype: float64 Date
2009-06-29    4.53
Name: Close, dtype: float64
20090630
Date
2009-06-29    4.53
2009-06-30    4.50
Name: Close, dtype: float64 Date
2009-09-28    5.87
Name: Close, dtype: float64
20090930
Date
2009-09-29    5.72
2009-09-30    5.56
Name: Close, dtype: float64 Date
2009-12-28    6.73
2009-12-29    6.75
Name: Close, dtype: float64
20091231
Date
2009-12-30    6.80
2009-12-31    6.82
Name: Close, dtype: float64 Date
2010-03-30    8.58
2010-03-31    8.39
Name: Close, dtype: float64
20100331
Date
2010-03-30    8.58
2010-03-31    8.39
Name: Close, dtype: float64 Date
2010-06-28    17.240000
2010-06-29    16.049999
Name: Close, dtype: float64
20100630
Date
2010-06-29    16.049999
2010-06-30    15.810000
Name: Close, dtype: float64 Date
2010-09-27    17.26
2010-09-28    17.35
Name: Close, dtype: float64
20100930
Date
2010-09-29    19.02
2010-09-30    17.84
Name: Close, dtype: float64 Date
2010-12-28    16.00
2010-12-29    15.97
Name: Close, dtype: float64
20101231
Date
2010-12-30    15.99
2010-12-31    15.98
Name: Close, dtype: float64 Date
2011-03-30    21.110001
2011-03-31    21.030001
Name: Close, dtype: float64
20110331
Date
2011-03-30    21.110001
2011-03-31    21.030001
Name: Close, dtype: float64 Date
2011-06-28    15.37
2011-06-29    15.32
Name: Close, dtype: float64
20110630
Date
2011-06-29    15.32
2011-06-30    15.90
Name: Close, dtype: float64 Date
2011-09-27    16.01
2011-09-28    15.39
Name: Close, dtype: float64
20110930
Date
2011-09-29    15.76
2011-09-30    14.74
Name: Close, dtype: float64 Date
2011-12-28    15.91
2011-12-29    16.08
Name: Close, dtype: float64
20111231
Date
2011-12-30    15.85
Name: Close, dtype: float64 Date
2012-03-29    23.780001
2012-03-30    23.799999
Name: Close, dtype: float64
20120331
Date
2012-03-30    23.799999
Name: Close, dtype: float64 Date
2012-06-28    28.459999
2012-06-29    29.850000
Name: Close, dtype: float64
20120630
Date
2012-06-29    29.85
Name: Close, dtype: float64 Date
2012-09-27    39.689999
2012-09-28    38.389999
Name: Close, dtype: float64
20120930
Date
2012-10-01    37.599998
Name: Close, dtype: float64 Date
2012-12-31    28.969999
Name: Close, dtype: float64
20121231
Date
2012-12-31    28.969999
Name: Close, dtype: float64 Date
2013-04-01    22.049999
Name: Close, dtype: float64
20130331
Date
2013-04-01    22.049999
Name: Close, dtype: float64 Date
2013-07-01    17.73
Name: Close, dtype: float64
20130630
Date
2013-07-01    17.73
Name: Close, dtype: float64 Date
2013-09-30    22.66
Name: Close, dtype: float64
20130930
Date
2013-09-30    22.66
Name: Close, dtype: float64 Date
2013-12-30    20.530001
Name: Close, dtype: float64
20131231
Date
2013-12-30    20.530001
2013-12-31    20.430000
Name: Close, dtype: float64 Date
2014-03-31    19.870001
Name: Close, dtype: float64
20140331
Date
2014-03-31    19.870001
Name: Close, dtype: float64 Date
2014-06-30    22.74
Name: Close, dtype: float64
20140630
Date
2014-06-30    22.74
Name: Close, dtype: float64 Date
2014-09-29    21.549999
Name: Close, dtype: float64
20140930
Date
2014-09-29    21.549999
2014-09-30    20.850000
Name: Close, dtype: float64 Date
2014-12-29    23.629999
Name: Close, dtype: float64
20141231
Date
2014-12-30    23.549999
2014-12-31    23.570000
Name: Close, dtype: float64 Date
2015-03-30    33.200001
2015-03-31    33.259998
Name: Close, dtype: float64
20150331
Date
2015-03-30    33.200001
2015-03-31    33.259998
Name: Close, dtype: float64 Date
2015-06-29    33.099998
Name: Close, dtype: float64
20150630
Date
2015-06-29    33.099998
2015-06-30    34.029999
Name: Close, dtype: float64 Date
2015-09-28    30.639999
Name: Close, dtype: float64
20150930
Date
2015-09-29    30.450001
2015-09-30    31.510000
Name: Close, dtype: float64 Date
2015-12-28    31.48
2015-12-29    31.18
Name: Close, dtype: float64
20151231
Date
2015-12-30    30.690001
2015-12-31    29.530001
Name: Close, dtype: float64 Date
2016-03-29    35.680000
2016-03-30    36.330002
Name: Close, dtype: float64
20160331
Date
2016-03-30    36.330002
2016-03-31    36.410000
Name: Close, dtype: float64 Date
2016-06-28    37.820000
2016-06-29    37.900002
Name: Close, dtype: float64
20160630
Date
2016-06-29    37.900002
2016-06-30    38.790001
Name: Close, dtype: float64 Date
2016-09-27    51.939999
2016-09-28    51.830002
Name: Close, dtype: float64
20160930
Date
2016-09-29    51.509998
2016-09-30    53.150002
Name: Close, dtype: float64 Date
2016-12-28    58.349998
2016-12-29    58.009998
Name: Close, dtype: float64
20161231

Date
2016-12-30    56.540001
Name: Close, dtype: float64 Date
2017-03-30    60.660000
2017-03-31    60.689999
Name: Close, dtype: float64
20170331
Date
2017-03-30    60.660000
2017-03-31    60.689999
Name: Close, dtype: float64 Date
2017-06-28    64.940002
2017-06-29    63.279999
Name: Close, dtype: float64
20170630
Date
2017-06-29    63.279999
2017-06-30    62.720001
Name: Close, dtype: float64 Date
2017-09-27    53.060001
2017-09-28    53.439999
Name: Close, dtype: float64
20170930
Date
2017-09-29    53.32
Name: Close, dtype: float64 Date
2017-12-28    52.279999
2017-12-29    51.860001
Name: Close, dtype: float64
20171231
Date
2018-01-02    53.23
Name: Close, dtype: float64 Date
2018-04-02    38.549999
Name: Close, dtype: float64
20180331
Date
2018-04-02    38.549999
Name: Close, dtype: float64 Date
2018-07-02    38.41
Name: Close, dtype: float64
20180630
Date
2018-06-29    38.330002
Name: Close, dtype: float64 Date
2018-09-27    38.209999
2018-09-28    38.599998
Name: Close, dtype: float64
20180930
Date
2018-10-01    37.900002
Name: Close, dtype: float64 Date
2018-12-31    33.18
Name: Close, dtype: float64
20181231
Date
2018-12-31    33.18
Name: Close, dtype: float64 Date
2019-04-01    40.529999
Name: Close, dtype: float64
20190331
Date
2019-04-01    40.529999
Name: Close, dtype: float64 Date
2019-07-01    44.900002
Name: Close, dtype: float64
20190630
Date
2019-07-01    44.900002
Name: Close, dtype: float64 Date
2019-09-30    53.580002
Name: Close, dtype: float64
20190930
Date
2019-09-30    53.580002
Name: Close, dtype: float64 Date
2019-12-30    83.360001
Name: Close, dtype: float64
20191231
Date
2019-12-30    83.360001
2019-12-31    82.410004
Name: Close, dtype: float64 Date
2020-03-30    64.040001
Name: Close, dtype: float64
20030331
Date
2003-03-31    11.5
Name: Close, dtype: float64 Date
2003-06-30    13.175
Name: Close, dtype: float64
20030630
Date
2003-06-30    13.175
Name: Close, dtype: float64 Date
2003-09-29    14.375
Name: Close, dtype: float64
20030930
Date
2003-09-29    14.375
2003-09-30    14.145
Name: Close, dtype: float64 Date
2003-12-29    13.775
Name: Close, dtype: float64
20031231
Date
2003-12-30    14.39
2003-12-31    14.33
Name: Close, dtype: float64 Date
2004-03-29    14.97
2004-03-30    15.33
Name: Close, dtype: float64
20040331
Date
2004-03-30    15.33
2004-03-31    15.25
Name: Close, dtype: float64 Date
2004-06-28    17.424999
2004-06-29    17.495001
Name: Close, dtype: float64
20040630
Date
2004-06-29    17.495001
2004-06-30    17.635000
Name: Close, dtype: float64 Date
2004-09-27    15.60
2004-09-28    15.88
Name: Close, dtype: float64
20040930
Date
2004-09-29    16.084999
2004-09-30    16.055000
Name: Close, dtype: float64 Date
2004-12-28    18.450001
2004-12-29    18.500000
Name: Close, dtype: float64
20041231
Date
2004-12-30    18.500
2004-12-31    18.465
Name: Close, dtype: float64 Date
2005-03-30    17.565001
2005-03-31    17.610001
Name: Close, dtype: float64
20050331
Date
2005-03-30    17.565001
2005-03-31    17.610001
Name: Close, dtype: float64 Date
2005-06-28    15.55
2005-06-29    15.01
Name: Close, dtype: float64
20050630
Date
2005-06-29    15.01
2005-06-30    14.60
Name: Close, dtype: float64 Date
2005-09-27    18.615000
2005-09-28    18.700001
Name: Close, dtype: float64
20050930
Date
2005-09-29    18.990000
2005-09-30    19.129999
Name: Close, dtype: float64 Date
2005-12-28    17.905001
2005-12-29    17.840000
Name: Close, dtype: float64
20051231
Date
2005-12-30    17.73
Name: Close, dtype: float64 Date
2006-03-30    20.075001
2006-03-31    20.490000
Name: Close, dtype: float64
20060331
Date
2006-03-30    20.075001
2006-03-31    20.490000
Name: Close, dtype: float64 Date
2006-06-28    18.575001
2006-06-29    19.290001
Name: Close, dtype: float64
20060630
Date
2006-06-29    19.290001
2006-06-30    19.405001
Name: Close, dtype: float64 Date
2006-09-27    18.889999
2006-09-28    18.830000
Name: Close, dtype: float64
20060930
Date
2006-09-29    18.74
Name: Close, dtype: float64 Date
2006-12-28    21.700001
2006-12-29    21.295000
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    22.790001
Name: Close, dtype: float64 Date
2007-06-28    24.775000
2007-06-29    24.709999
Name: Close, dtype: float64
20070630
Date
2007-06-29    24.709999
Name: Close, dtype: float64 Date
2007-09-27    24.510000
2007-09-28    24.290001
Name: Close, dtype: float64
20070930
Date
2007-10-01    24.639999
Name: Close, dtype: float64 Date
2007-12-31    20.965
Name: Close, dtype: float64
20071231
Date
2007-12-31    20.965
Name: Close, dtype: float64 Date
2008-03-31    21.735001
Name: Close, dtype: float64
20080331
Date
2008-03-31    21.735001
Name: Close, dtype: float64 Date
2008-06-30    22.24
Name: Close, dtype: float64
20080630
Date
2008-06-30    22.24
Name: Close, dtype: float64 Date
2008-09-29    23.115
Name: Close, dtype: float64
20080930
Date
2008-09-29    23.115000
2008-09-30    22.014999
Name: Close, dtype: float64 Date
2008-12-29    17.055
Name: Close, dtype: float64
20081231
Date
2008-12-30    17.230
2008-12-31    17.785
Name: Close, dtype: float64 Date
2009-03-30    12.09
2009-03-31    12.36
Name: Close, dtype: float64
20090331
Date
2009-03-30    12.09
2009-03-31    12.36
Name: Close, dtype: float64 Date
2009-06-29    13.385
Name: Close, dtype: float64
20090630
Date
2009-06-29    13.385
2009-06-30    13.255
Name: Close, dtype: float64 Date
2009-09-28    17.424999
Name: Close, dtype: float64
20090930
Date
2009-09-29    17.195000
2009-09-30    17.075001
Name: Close, dtype: float64 Date
2009-12-28    18.570000
2009-12-29    18.665001
Name: Close, dtype: float64
20091231
Date
2009-12-30    18.610001
2009-12-31    18.434999
Name: Close, dtype: float64 Date
2010-03-30    22.070000
2010-03-31    21.915001
Name: Close, dtype: float64
20100331
Date
2010-03-30    22.070000
2010-03-31    21.915001
Name: Close, dtype: float64 Date
2010-06-28    19.424999
2010-06-29    18.785000
Name: Close, dtype: float64
20100630
Date
2010-06-29    18.785
2010-06-30    18.500
Name: Close, dtype: float64 Date
2010-09-27    19.495001
2010-09-28    19.605000
Name: Close, dtype: float64
20100930
Date
2010-09-29    19.620001
2010-09-30    19.730000
Name: Close, dtype: float64 Date
2010-12-28    24.459999
2010-12-29    24.240000
Name: Close, dtype: float64
20101231
Date
2010-12-30    23.995001
2010-12-31    23.650000
Name: Close, dtype: float64 Date
2011-03-30    23.549999
2011-03-31    23.709999
Name: Close, dtype: float64
20110331
Date
2011-03-30    23.549999
2011-03-31    23.709999
Name: Close, dtype: float64 Date
2011-06-28    23.645000
2011-06-29    23.620001
Name: Close, dtype: float64
20110630
Date
2011-06-29    23.620001
2011-06-30    23.905001
Name: Close, dtype: float64 Date
2011-09-27    18.615
2011-09-28    17.850
Name: Close, dtype: float64
20110930
Date
2011-09-29    18.309999
2011-09-30    17.885000
Name: Close, dtype: float64 Date
2011-12-28    15.470
2011-12-29    15.525
Name: Close, dtype: float64
20111231
Date
2011-12-30    15.415
Name: Close, dtype: float64 Date
2012-03-29    17.410000
2012-03-30    17.344999
Name: Close, dtype: float64
20120331
Date
2012-03-30    17.344999
Name: Close, dtype: float64 Date
2012-06-28    18.030001
2012-06-29    18.590000
Name: Close, dtype: float64
20120630
Date
2012-06-29    18.59
Name: Close, dtype: float64 Date
2012-09-27    20.844999
2012-09-28    20.549999
Name: Close, dtype: float64
20120930
Date
2012-10-01    20.65
Name: Close, dtype: float64 Date
2012-12-31    19.485001
Name: Close, dtype: float64
20121231
Date
2012-12-31    19.485001
Name: Close, dtype: float64 Date
2013-04-01    19.48
Name: Close, dtype: float64
20130331
Date
2013-04-01    19.48
Name: Close, dtype: float64 Date
2013-07-01    18.35
Name: Close, dtype: float64
20130630
Date
2013-07-01    18.35
Name: Close, dtype: float64 Date
2013-09-30    20.125
Name: Close, dtype: float64
20130930
Date
2013-09-30    20.125
Name: Close, dtype: float64 Date
2013-12-30    23.825001
Name: Close, dtype: float64
20131231
Date
2013-12-30    23.825001
2013-12-31    23.855000
Name: Close, dtype: float64 Date
2014-03-31    22.995001
Name: Close, dtype: float64
20140331
Date
2014-03-31    22.995001
Name: Close, dtype: float64 Date
2014-06-30    23.530001
Name: Close, dtype: float64
20140630

Date
2014-06-30    23.530001
Name: Close, dtype: float64 Date
2014-09-29    25.065001
Name: Close, dtype: float64
20140930
Date
2014-09-29    25.065001
2014-09-30    24.820000
Name: Close, dtype: float64 Date
2014-12-29    27.190001
Name: Close, dtype: float64
20141231
Date
2014-12-30    27.190001
2014-12-31    27.115000
Name: Close, dtype: float64 Date
2015-03-30    31.070000
2015-03-31    30.825001
Name: Close, dtype: float64
20150331
Date
2015-03-30    31.070000
2015-03-31    30.825001
Name: Close, dtype: float64 Date
2015-06-29    33.740002
Name: Close, dtype: float64
20150630
Date
2015-06-29    33.740002
2015-06-30    33.685001
Name: Close, dtype: float64 Date
2015-09-28    30.084999
Name: Close, dtype: float64
20150930
Date
2015-09-29    29.735001
2015-09-30    29.775000
Name: Close, dtype: float64 Date
2015-12-28    33.764999
2015-12-29    34.299999
Name: Close, dtype: float64
20151231
Date
2015-12-30    34.185001
2015-12-31    33.889999
Name: Close, dtype: float64 Date
2016-03-29    33.455002
2016-03-30    33.775002
Name: Close, dtype: float64
20160331
Date
2016-03-30    33.775002
2016-03-31    33.680000
Name: Close, dtype: float64 Date
2016-06-28    38.09
2016-06-29    39.00
Name: Close, dtype: float64
20160630
Date
2016-06-29    39.000000
2016-06-30    39.889999
Name: Close, dtype: float64 Date
2016-09-27    43.009998
2016-09-28    42.584999
Name: Close, dtype: float64
20160930
Date
2016-09-29    41.375000
2016-09-30    41.275002
Name: Close, dtype: float64 Date
2016-12-28    42.764999
2016-12-29    42.910000
Name: Close, dtype: float64
20161231
Date
2016-12-30    42.895
Name: Close, dtype: float64 Date
2017-03-30    42.330002
2017-03-31    42.130001
Name: Close, dtype: float64
20170331
Date
2017-03-30    42.330002
2017-03-31    42.130001
Name: Close, dtype: float64 Date
2017-06-28    54.540001
2017-06-29    53.810001
Name: Close, dtype: float64
20170630
Date
2017-06-29    53.810001
2017-06-30    54.509998
Name: Close, dtype: float64 Date
2017-09-27    50.25
2017-09-28    49.91
Name: Close, dtype: float64
20170930
Date
2017-09-29    50.48
Name: Close, dtype: float64 Date
2017-12-28    49.169998
2017-12-29    47.860001
Name: Close, dtype: float64
20171231
Date
2018-01-02    46.869999
Name: Close, dtype: float64 Date
2018-04-02    54.049999
Name: Close, dtype: float64
20180331
Date
2018-04-02    54.049999
Name: Close, dtype: float64 Date
2018-07-02    62.689999
Name: Close, dtype: float64
20180630
Date
2018-06-29    64.410004
Name: Close, dtype: float64 Date
2018-09-27    64.580002
2018-09-28    65.870003
Name: Close, dtype: float64
20180930
Date
2018-10-01    64.510002
Name: Close, dtype: float64 Date
2018-12-31    45.099998
Name: Close, dtype: float64
20181231
Date
2018-12-31    45.099998
Name: Close, dtype: float64 Date
2019-04-01    54.93
Name: Close, dtype: float64
20190331
Date
2019-04-01    54.93
Name: Close, dtype: float64 Date
2019-07-01    55.419998
Name: Close, dtype: float64
20190630
Date
2019-07-01    55.419998
Name: Close, dtype: float64 Date
2019-09-30    60.07
Name: Close, dtype: float64
20190930
Date
2019-09-30    60.07
Name: Close, dtype: float64 Date
2019-12-30    58.029999
Name: Close, dtype: float64
20191231
Date
2019-12-30    58.029999
2019-12-31    58.279999
Name: Close, dtype: float64 Date
2020-03-30    43.549999
Name: Close, dtype: float64
20070930
Date
2007-10-01    27.58
Name: Close, dtype: float64 Date
2007-12-31    32.32
Name: Close, dtype: float64
20071231
Date
2007-12-31    32.32
Name: Close, dtype: float64 Date
2008-03-31    25.67
Name: Close, dtype: float64
20080331
Date
2008-03-31    25.67
Name: Close, dtype: float64 Date
2008-06-30    32.130001
Name: Close, dtype: float64
20080630
Date
2008-06-30    32.130001
Name: Close, dtype: float64 Date
2008-09-29    21.200001
Name: Close, dtype: float64
20080930
Date
2008-09-29    21.200001
2008-09-30    22.170000
Name: Close, dtype: float64 Date
2008-12-29    16.059999
Name: Close, dtype: float64
20081231
Date
2008-12-30    17.090000
2008-12-31    17.889999
Name: Close, dtype: float64 Date
2009-03-30    15.910000
2009-03-31    16.129999
Name: Close, dtype: float64
20090331
Date
2009-03-30    15.910000
2009-03-31    16.129999
Name: Close, dtype: float64 Date
2009-06-29    15.49
Name: Close, dtype: float64
20090630
Date
2009-06-29    15.49
2009-06-30    15.53
Name: Close, dtype: float64 Date
2009-09-28    19.719999
Name: Close, dtype: float64
20090930
Date
2009-09-29    20.010000
2009-09-30    19.870001
Name: Close, dtype: float64 Date
2009-12-28    17.90
2009-12-29    17.82
Name: Close, dtype: float64
20091231
Date
2009-12-30    17.709999
2009-12-31    17.719999
Name: Close, dtype: float64 Date
2010-03-30    16.16
2010-03-31    16.15
Name: Close, dtype: float64
20100331
Date
2010-03-30    16.16
2010-03-31    16.15
Name: Close, dtype: float64 Date
2010-06-28    17.330000
2010-06-29    16.809999
Name: Close, dtype: float64
20100630
Date
2010-06-29    16.809999
2010-06-30    16.600000
Name: Close, dtype: float64 Date
2010-09-27    17.389999
2010-09-28    17.370001
Name: Close, dtype: float64
20100930
Date
2010-09-29    17.230000
2010-09-30    17.209999
Name: Close, dtype: float64 Date
2010-12-28    18.030001
2010-12-29    17.980000
Name: Close, dtype: float64
20101231
Date
2010-12-30    17.950001
2010-12-31    17.820000
Name: Close, dtype: float64 Date
2011-03-30    15.85
2011-03-31    15.89
Name: Close, dtype: float64
20110331
Date
2011-03-30    15.85
2011-03-31    15.89
Name: Close, dtype: float64 Date
2011-06-28    15.57
2011-06-29    15.77
Name: Close, dtype: float64
20110630
Date
2011-06-29    15.77
2011-06-30    15.65
Name: Close, dtype: float64 Date
2011-09-27    14.66
2011-09-28    14.28
Name: Close, dtype: float64
20110930
Date
2011-09-29    14.33
2011-09-30    13.93
Name: Close, dtype: float64 Date
2011-12-28    14.94
2011-12-29    14.99
Name: Close, dtype: float64
20111231
Date
2011-12-30    14.94
Name: Close, dtype: float64 Date
2012-03-29    17
2012-03-30    17
Name: Close, dtype: int64
20120331
Date
2012-03-30    17
Name: Close, dtype: int64 Date
2012-06-28    14.72
2012-06-29    14.72
Name: Close, dtype: float64
20120630
Date
2012-06-29    14.72
Name: Close, dtype: float64 Date
2012-09-27    14.12
2012-09-28    14.02
Name: Close, dtype: float64
20120930
Date
2012-10-01    14.09
Name: Close, dtype: float64 Date
2012-12-31    13.68
Name: Close, dtype: float64
20121231
Date
2012-12-31    13.68
Name: Close, dtype: float64 Date
2013-04-01    14.82
Name: Close, dtype: float64
20130331
Date
2013-04-01    14.82
Name: Close, dtype: float64 Date
2013-07-01    16.52
Name: Close, dtype: float64
20130630
Date
2013-07-01    16.52
Name: Close, dtype: float64 Date
2013-09-30    18.77
Name: Close, dtype: float64
20130930
Date
2013-09-30    18.77
Name: Close, dtype: float64 Date
2013-12-30    24.549999
Name: Close, dtype: float64
20131231
Date
2013-12-30    24.549999
2013-12-31    24.340000
Name: Close, dtype: float64 Date
2014-03-31    21.67
Name: Close, dtype: float64
20140331
Date
2014-03-31    21.67
Name: Close, dtype: float64 Date
2014-06-30    23.290001
Name: Close, dtype: float64
20140630
Date
2014-06-30    23.290001
Name: Close, dtype: float64 Date
2014-09-29    25.02
Name: Close, dtype: float64
20140930
Date
2014-09-29    25.020000
2014-09-30    24.950001
Name: Close, dtype: float64 Date
2014-12-29    29.360001
Name: Close, dtype: float64
20141231
Date
2014-12-30    29.32
2014-12-31    29.16
Name: Close, dtype: float64 Date
2015-03-30    33.990002
2015-03-31    34.020000
Name: Close, dtype: float64
20150331
Date
2015-03-30    33.990002
2015-03-31    34.020000
Name: Close, dtype: float64 Date
2015-06-29    40.860001
Name: Close, dtype: float64
20150630
Date
2015-06-29    40.860001
2015-06-30    41.560001
Name: Close, dtype: float64 Date
2015-09-28    38.16
Name: Close, dtype: float64
20150930
Date
2015-09-29    38.139999
2015-09-30    39.470001
Name: Close, dtype: float64 Date
2015-12-28    43.189999
2015-12-29    43.660000
Name: Close, dtype: float64
20151231
Date
2015-12-30    43.680000
2015-12-31    43.599998
Name: Close, dtype: float64 Date
2016-03-29    39.080002
2016-03-30    39.220001
Name: Close, dtype: float64
20160331
Date
2016-03-30    39.220001
2016-03-31    39.320000
Name: Close, dtype: float64 Date
2016-06-28    34.299999
2016-06-29    35.259998
Name: Close, dtype: float64
20160630

Date
2016-06-29    35.259998
2016-06-30    35.400002
Name: Close, dtype: float64 Date
2016-09-27    35.450001
2016-09-28    35.790001
Name: Close, dtype: float64
20160930
Date
2016-09-29    35.060001
2016-09-30    35.270000
Name: Close, dtype: float64 Date
2016-12-28    36.869999
2016-12-29    36.200001
Name: Close, dtype: float64
20161231
Date
2016-12-30    36.509998
Name: Close, dtype: float64 Date
2017-03-30    34.840000
2017-03-31    34.720001
Name: Close, dtype: float64
20170331
Date
2017-03-30    34.840000
2017-03-31    34.720001
Name: Close, dtype: float64 Date
2017-06-28    37.630001
2017-06-29    37.099998
Name: Close, dtype: float64
20170630
Date
2017-06-29    37.099998
2017-06-30    37.419998
Name: Close, dtype: float64 Date
2017-09-27    44.430000
2017-09-28    44.830002
Name: Close, dtype: float64
20170930
Date
2017-09-29    45.040001
Name: Close, dtype: float64 Date
2017-12-28    60.020000
2017-12-29    59.209999
Name: Close, dtype: float64
20171231
Date
2018-01-02    59.540001
Name: Close, dtype: float64 Date
2018-04-02    64.790001
Name: Close, dtype: float64
20180331
Date
2018-04-02    64.790001
Name: Close, dtype: float64 Date
2018-07-02    64.919998
Name: Close, dtype: float64
20180630
Date
2018-06-29    64.410004
Name: Close, dtype: float64 Date
2018-09-27    55.610001
2018-09-28    55.310001
Name: Close, dtype: float64
20180930
Date
2018-10-01    55.299999
Name: Close, dtype: float64 Date
2018-12-31    54.650002
Name: Close, dtype: float64
20181231
Date
2018-12-31    54.650002
Name: Close, dtype: float64 Date
2019-04-01    53.799999
Name: Close, dtype: float64
20190331
Date
2019-04-01    53.799999
Name: Close, dtype: float64 Date
2019-07-01    53.720001
Name: Close, dtype: float64
20190630
Date
2019-07-01    53.720001
Name: Close, dtype: float64 Date
2019-09-30    53.779999
Name: Close, dtype: float64
20190930
Date
2019-09-30    53.779999
Name: Close, dtype: float64 Date
2019-12-30    46.57
Name: Close, dtype: float64
20191231
Date
2019-12-30    46.570000
2019-12-31    46.619999
Name: Close, dtype: float64 Date
2020-03-30    42.200001
Name: Close, dtype: float64
20091231
Date
2009-12-30    7.92
2009-12-31    8.03
Name: Close, dtype: float64 Date
2010-03-30    8.11
2010-03-31    8.11
Name: Close, dtype: float64
20100331
Date
2010-03-30    8.11
2010-03-31    8.11
Name: Close, dtype: float64 Date
2010-06-28    10.25
2010-06-29     9.99
Name: Close, dtype: float64
20100630
Date
2010-06-29     9.99
2010-06-30    10.04
Name: Close, dtype: float64 Date
2010-09-27    8.80
2010-09-28    8.96
Name: Close, dtype: float64
20100930
Date
2010-09-29    8.66
2010-09-30    8.54
Name: Close, dtype: float64 Date
2010-12-28    8.17
2010-12-29    8.27
Name: Close, dtype: float64
20101231
Date
2010-12-30    8.13
2010-12-31    8.25
Name: Close, dtype: float64 Date
2011-03-30    8.13
2011-03-31    7.98
Name: Close, dtype: float64
20110331
Date
2011-03-30    8.13
2011-03-31    7.98
Name: Close, dtype: float64 Date
2011-06-28    8.53
2011-06-29    8.53
Name: Close, dtype: float64
20110630
Date
2011-06-29    8.53
2011-06-30    8.65
Name: Close, dtype: float64 Date
2011-09-27    6.62
2011-09-28    6.32
Name: Close, dtype: float64
20110930
Date
2011-09-29    6.39
2011-09-30    6.20
Name: Close, dtype: float64 Date
2011-12-28    7.48
2011-12-29    7.58
Name: Close, dtype: float64
20111231
Date
2011-12-30    7.71
Name: Close, dtype: float64 Date
2012-03-29    8.84
2012-03-30    8.76
Name: Close, dtype: float64
20120331
Date
2012-03-30    8.76
Name: Close, dtype: float64 Date
2012-06-28    8.84
2012-06-29    8.94
Name: Close, dtype: float64
20120630
Date
2012-06-29    8.94
Name: Close, dtype: float64 Date
2012-09-27    7.86
2012-09-28    7.32
Name: Close, dtype: float64
20120930
Date
2012-10-01    7.44
Name: Close, dtype: float64 Date
2012-12-31    6.72
Name: Close, dtype: float64
20121231
Date
2012-12-31    6.72
Name: Close, dtype: float64 Date
2013-04-01    6.02
Name: Close, dtype: float64
20130331
Date
2013-04-01    6.02
Name: Close, dtype: float64 Date
2013-07-01    7.86
Name: Close, dtype: float64
20130630
Date
2013-07-01    7.86
Name: Close, dtype: float64 Date
2013-09-30    6.88
Name: Close, dtype: float64
20130930
Date
2013-09-30    6.88
Name: Close, dtype: float64 Date
2013-12-30    6.29
Name: Close, dtype: float64
20131231
Date
2013-12-30    6.29
2013-12-31    6.25
Name: Close, dtype: float64 Date
2014-03-31    7.51
Name: Close, dtype: float64
20140331
Date
2014-03-31    7.51
Name: Close, dtype: float64 Date
2014-06-30    8.46
Name: Close, dtype: float64
20140630
Date
2014-06-30    8.46
Name: Close, dtype: float64 Date
2014-09-29    8.92
Name: Close, dtype: float64
20140930
Date
2014-09-29    8.92
2014-09-30    8.85
Name: Close, dtype: float64 Date
2014-12-29    10.15
Name: Close, dtype: float64
20141231
Date
2014-12-30    9.96
2014-12-31    9.75
Name: Close, dtype: float64 Date
2015-03-30    9.70
2015-03-31    9.71
Name: Close, dtype: float64
20150331
Date
2015-03-30    9.70
2015-03-31    9.71
Name: Close, dtype: float64 Date
2015-06-29    9.28
Name: Close, dtype: float64
20150630
Date
2015-06-29    9.28
2015-06-30    9.09
Name: Close, dtype: float64 Date
2015-09-28    6.14
Name: Close, dtype: float64
20150930
Date
2015-09-29    6.04
2015-09-30    6.15
Name: Close, dtype: float64 Date
2015-12-28    8.53
2015-12-29    8.90
Name: Close, dtype: float64
20151231
Date
2015-12-30    8.49
2015-12-31    8.41
Name: Close, dtype: float64 Date
2016-03-29    7.46
2016-03-30    7.64
Name: Close, dtype: float64
20160331
Date
2016-03-30    7.64
2016-03-31    7.87
Name: Close, dtype: float64 Date
2016-06-28    8.33
2016-06-29    8.66
Name: Close, dtype: float64
20160630
Date
2016-06-29    8.66
2016-06-30    8.88
Name: Close, dtype: float64 Date
2016-09-27    7.75
2016-09-28    7.93
Name: Close, dtype: float64
20160930
Date
2016-09-29    7.96
2016-09-30    8.11
Name: Close, dtype: float64 Date
2016-12-28    10.25
2016-12-29    10.00
Name: Close, dtype: float64
20161231
Date
2016-12-30    9.6
Name: Close, dtype: float64 Date
2017-03-30    9.50
2017-03-31    9.65
Name: Close, dtype: float64
20170331
Date
2017-03-30    9.50
2017-03-31    9.65
Name: Close, dtype: float64 Date
2017-06-28    11.25
2017-06-29    11.15
Name: Close, dtype: float64
20170630
Date
2017-06-29    11.15
2017-06-30    11.05
Name: Close, dtype: float64 Date
2017-09-27    10.15
2017-09-28    10.05
Name: Close, dtype: float64
20170930
Date
2017-09-29    10.3
Name: Close, dtype: float64 Date
2017-12-28    11.95
2017-12-29    11.80
Name: Close, dtype: float64
20171231
Date
2018-01-02    11.6
Name: Close, dtype: float64 Date
2018-04-02    11.1
Name: Close, dtype: float64
20180331
Date
2018-04-02    11.1
Name: Close, dtype: float64 Date
2018-07-02    16.200001
Name: Close, dtype: float64
20180630
Date
2018-06-29    16.1
Name: Close, dtype: float64 Date
2018-09-27    21.75
2018-09-28    22.50
Name: Close, dtype: float64
20180930
Date
2018-10-01    22.58
Name: Close, dtype: float64 Date
2018-12-31    18.450001
Name: Close, dtype: float64
20181231
Date
2018-12-31    18.450001
Name: Close, dtype: float64 Date
2019-04-01    27.030001
Name: Close, dtype: float64
20190331
Date
2019-04-01    27.030001
Name: Close, dtype: float64 Date
2019-07-01    23.42
Name: Close, dtype: float64
20190630
Date
2019-07-01    23.42
Name: Close, dtype: float64 Date
2019-09-30    21.280001
Name: Close, dtype: float64
20190930
Date
2019-09-30    21.280001
Name: Close, dtype: float64 Date
2019-12-30    25.030001
Name: Close, dtype: float64
20191231
Date
2019-12-30    25.030001
2019-12-31    24.639999
Name: Close, dtype: float64 Date
2020-03-30    23.049999
Name: Close, dtype: float64
20030331
Date
2003-03-31    23.940001
Name: Close, dtype: float64 Date
2003-06-30    26.75
Name: Close, dtype: float64
20030630
Date
2003-06-30    26.75
Name: Close, dtype: float64 Date
2003-09-29    31.440001
Name: Close, dtype: float64
20030930
Date
2003-09-29    31.440001
2003-09-30    30.850000
Name: Close, dtype: float64 Date
2003-12-29    40
Name: Close, dtype: int64
20031231
Date
2003-12-30    40.220001
2003-12-31    39.689999
Name: Close, dtype: float64 Date
2004-03-29    41.130001
2004-03-30    41.080002
Name: Close, dtype: float64
20040331

Date
2004-03-30    41.080002
2004-03-31    40.939999
Name: Close, dtype: float64 Date
2004-06-28    38.540001
2004-06-29    38.470001
Name: Close, dtype: float64
20040630
Date
2004-06-29    38.470001
2004-06-30    39.130001
Name: Close, dtype: float64 Date
2004-09-27    37.759998
2004-09-28    37.299999
Name: Close, dtype: float64
20040930
Date
2004-09-29    37.959999
2004-09-30    38.549999
Name: Close, dtype: float64 Date
2004-12-28    45.070000
2004-12-29    44.560001
Name: Close, dtype: float64
20041231
Date
2004-12-30    45.169998
2004-12-31    45.400002
Name: Close, dtype: float64 Date
2005-03-30    36.389999
2005-03-31    37.060001
Name: Close, dtype: float64
20050331
Date
2005-03-30    36.389999
2005-03-31    37.060001
Name: Close, dtype: float64 Date
2005-06-28    36.070000
2005-06-29    36.439999
Name: Close, dtype: float64
20050630
Date
2005-06-29    36.439999
2005-06-30    36.599998
Name: Close, dtype: float64 Date
2005-09-27    35.5
2005-09-28    36.0
Name: Close, dtype: float64
20050930
Date
2005-09-29    36.439999
2005-09-30    36.709999
Name: Close, dtype: float64 Date
2005-12-28    39.930000
2005-12-29    40.259998
Name: Close, dtype: float64
20051231
Date
2005-12-30    39.610001
Name: Close, dtype: float64 Date
2006-03-30    37.07
2006-03-31    36.91
Name: Close, dtype: float64
20060331
Date
2006-03-30    37.07
2006-03-31    36.91
Name: Close, dtype: float64 Date
2006-06-28    37.029999
2006-06-29    38.360001
Name: Close, dtype: float64
20060630
Date
2006-06-29    38.360001
2006-06-30    38.310001
Name: Close, dtype: float64 Date
2006-09-27    36.52
2006-09-28    36.93
Name: Close, dtype: float64
20060930
Date
2006-09-29    36.529999
Name: Close, dtype: float64 Date
2006-12-28    38.470001
2006-12-29    37.869999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    35.810001
Name: Close, dtype: float64 Date
2007-06-28    38.040001
2007-06-29    38.459999
Name: Close, dtype: float64
20070630
Date
2007-06-29    38.459999
Name: Close, dtype: float64 Date
2007-09-27    40.310001
2007-09-28    40.119999
Name: Close, dtype: float64
20070930
Date
2007-10-01    40.490002
Name: Close, dtype: float64 Date
2007-12-31    37.720001
Name: Close, dtype: float64
20071231
Date
2007-12-31    37.720001
Name: Close, dtype: float64 Date
2008-03-31    32.799999
Name: Close, dtype: float64
20080331
Date
2008-03-31    32.799999
Name: Close, dtype: float64 Date
2008-06-30    33.889999
Name: Close, dtype: float64
20080630
Date
2008-06-30    33.889999
Name: Close, dtype: float64 Date
2008-09-29    29.34
Name: Close, dtype: float64
20080930
Date
2008-09-29    29.34
2008-09-30    29.85
Name: Close, dtype: float64 Date
2008-12-29    17.15
Name: Close, dtype: float64
20081231
Date
2008-12-30    17.190001
2008-12-31    17.840000
Name: Close, dtype: float64 Date
2009-03-30    21.320000
2009-03-31    21.780001
Name: Close, dtype: float64
20090331
Date
2009-03-30    21.320000
2009-03-31    21.780001
Name: Close, dtype: float64 Date
2009-06-29    32.400002
Name: Close, dtype: float64
20090630
Date
2009-06-29    32.400002
2009-06-30    32.709999
Name: Close, dtype: float64 Date
2009-09-28    42.240002
Name: Close, dtype: float64
20090930
Date
2009-09-29    42.209999
2009-09-30    41.610001
Name: Close, dtype: float64 Date
2009-12-28    47.259998
2009-12-29    47.200001
Name: Close, dtype: float64
20091231
Date
2009-12-30    47.360001
2009-12-31    46.660000
Name: Close, dtype: float64 Date
2010-03-30    42.660000
2010-03-31    41.900002
Name: Close, dtype: float64
20100331
Date
2010-03-30    42.660000
2010-03-31    41.900002
Name: Close, dtype: float64 Date
2010-06-28    37.630001
2010-06-29    36.070000
Name: Close, dtype: float64
20100630
Date
2010-06-29    36.070000
2010-06-30    35.619999
Name: Close, dtype: float64 Date
2010-09-27    39.150002
2010-09-28    39.389999
Name: Close, dtype: float64
20100930
Date
2010-09-29    40.090000
2010-09-30    40.299999
Name: Close, dtype: float64 Date
2010-12-28    43.580002
2010-12-29    44.130001
Name: Close, dtype: float64
20101231
Date
2010-12-30    44.150002
2010-12-31    44.020000
Name: Close, dtype: float64 Date
2011-03-30    50.799999
2011-03-31    50.860001
Name: Close, dtype: float64
20110331
Date
2011-03-30    50.799999
2011-03-31    50.860001
Name: Close, dtype: float64 Date
2011-06-28    47.060001
2011-06-29    47.930000
Name: Close, dtype: float64
20110630
Date
2011-06-29    47.930000
2011-06-30    48.889999
Name: Close, dtype: float64 Date
2011-09-27    45.779999
2011-09-28    44.549999
Name: Close, dtype: float64
20110930
Date
2011-09-29    44.759998
2011-09-30    43.230000
Name: Close, dtype: float64 Date
2011-12-28    49.889999
2011-12-29    50.180000
Name: Close, dtype: float64
20111231
Date
2011-12-30    49.41
Name: Close, dtype: float64 Date
2012-03-29    54.450001
2012-03-30    54.259998
Name: Close, dtype: float64
20120331
Date
2012-03-30    54.259998
Name: Close, dtype: float64 Date
2012-06-28    46.939999
2012-06-29    48.169998
Name: Close, dtype: float64
20120630
Date
2012-06-29    48.169998
Name: Close, dtype: float64 Date
2012-09-27    46.200001
2012-09-28    45.250000
Name: Close, dtype: float64
20120930
Date
2012-10-01    45
Name: Close, dtype: int64 Date
2012-12-31    45.529999
Name: Close, dtype: float64
20121231
Date
2012-12-31    45.529999
Name: Close, dtype: float64 Date
2013-04-01    45.259998
Name: Close, dtype: float64
20130331
Date
2013-04-01    45.259998
Name: Close, dtype: float64 Date
2013-07-01    47.52
Name: Close, dtype: float64
20130630
Date
2013-07-01    47.52
Name: Close, dtype: float64 Date
2013-09-30    49.91
Name: Close, dtype: float64
20130930
Date
2013-09-30    49.91
Name: Close, dtype: float64 Date
2013-12-30    51.25
Name: Close, dtype: float64
20131231
Date
2013-12-30    51.250000
2013-12-31    51.599998
Name: Close, dtype: float64 Date
2014-03-31    60.959999
Name: Close, dtype: float64
20140331
Date
2014-03-31    60.959999
Name: Close, dtype: float64 Date
2014-06-30    62.52
Name: Close, dtype: float64
20140630
Date
2014-06-30    62.52
Name: Close, dtype: float64 Date
2014-09-29    59.810001
Name: Close, dtype: float64
20140930
Date
2014-09-29    59.810001
2014-09-30    58.860001
Name: Close, dtype: float64 Date
2014-12-29    63.57
Name: Close, dtype: float64
20141231
Date
2014-12-30    63.290001
2014-12-31    63.230000
Name: Close, dtype: float64 Date
2015-03-30    59.349998
2015-03-31    57.770000
Name: Close, dtype: float64
20150331
Date
2015-03-30    59.349998
2015-03-31    57.770000
Name: Close, dtype: float64 Date
2015-06-29    58.93
Name: Close, dtype: float64
20150630
Date
2015-06-29    58.930000
2015-06-30    57.560001
Name: Close, dtype: float64 Date
2015-09-28    66.629997
Name: Close, dtype: float64
20150930
Date
2015-09-29    66.18
2015-09-30    68.50
Name: Close, dtype: float64 Date
2015-12-28    67.559998
2015-12-29    68.320000
Name: Close, dtype: float64
20151231
Date
2015-12-30    67.830002
2015-12-31    66.379997
Name: Close, dtype: float64 Date
2016-03-29    77.379997
2016-03-30    76.870003
Name: Close, dtype: float64
20160331
Date
2016-03-30    76.870003
2016-03-31    76.769997
Name: Close, dtype: float64 Date
2016-06-28    69.720001
2016-06-29    69.940002
Name: Close, dtype: float64
20160630
Date
2016-06-29    69.940002
2016-06-30    71.849998
Name: Close, dtype: float64 Date
2016-09-27    85.760002
2016-09-28    85.440002
Name: Close, dtype: float64
20160930
Date
2016-09-29    83.959999
2016-09-30    84.709999
Name: Close, dtype: float64 Date
2016-12-28    85.910004
2016-12-29    86.169998
Name: Close, dtype: float64
20161231
Date
2016-12-30    84.68
Name: Close, dtype: float64 Date
2017-03-30    92.339996
2017-03-31    93.900002
Name: Close, dtype: float64
20170331
Date
2017-03-30    92.339996
2017-03-31    93.900002
Name: Close, dtype: float64 Date
2017-06-28    103.419998
2017-06-29    101.410004
Name: Close, dtype: float64
20170630
Date
2017-06-29    101.410004
2017-06-30    101.000000
Name: Close, dtype: float64 Date
2017-09-27    89.489998
2017-09-28    89.559998
Name: Close, dtype: float64
20170930
Date
2017-09-29    88.849998
Name: Close, dtype: float64 Date
2017-12-28    98.220001
2017-12-29    97.970001
Name: Close, dtype: float64
20171231

Date
2018-01-02    99.760002
Name: Close, dtype: float64 Date
2018-04-02    80.089996
Name: Close, dtype: float64
20180331
Date
2018-04-02    80.089996
Name: Close, dtype: float64 Date
2018-07-02    82.489998
Name: Close, dtype: float64
20180630
Date
2018-06-29    82.120003
Name: Close, dtype: float64 Date
2018-09-27    71.080002
2018-09-28    71.570000
Name: Close, dtype: float64
20180930
Date
2018-10-01    70.25
Name: Close, dtype: float64 Date
2018-12-31    81.809998
Name: Close, dtype: float64
20181231
Date
2018-12-31    81.809998
Name: Close, dtype: float64 Date
2019-04-01    105.129997
Name: Close, dtype: float64
20190331
Date
2019-04-01    105.129997
Name: Close, dtype: float64 Date
2019-07-01    104.18
Name: Close, dtype: float64
20190630
Date
2019-07-01    104.18
Name: Close, dtype: float64 Date
2019-09-30    104.239998
Name: Close, dtype: float64
20190930
Date
2019-09-30    104.239998
Name: Close, dtype: float64 Date
2019-12-30    143.559998
Name: Close, dtype: float64
20191231
Date
2019-12-30    143.559998
2019-12-31    143.600006
Name: Close, dtype: float64 Date
2020-03-30    131.320007
Name: Close, dtype: float64
20141231
Date
2014-12-30    30.420000
2014-12-31    30.879999
Name: Close, dtype: float64 Date
2015-03-30    36.080002
2015-03-31    36.509998
Name: Close, dtype: float64
20150331
Date
2015-03-30    36.080002
2015-03-31    36.509998
Name: Close, dtype: float64 Date
2015-06-29    38.389999
Name: Close, dtype: float64
20150630
Date
2015-06-29    38.389999
2015-06-30    37.980000
Name: Close, dtype: float64 Date
2015-09-28    14.86
Name: Close, dtype: float64
20150930
Date
2015-09-29    14.16
2015-09-30    14.22
Name: Close, dtype: float64 Date
2015-12-28    11.87
2015-12-29    12.19
Name: Close, dtype: float64
20151231
Date
2015-12-30    12.39
2015-12-31    12.58
Name: Close, dtype: float64 Date
2016-03-29    8.61
2016-03-30    8.38
Name: Close, dtype: float64
20160331
Date
2016-03-30    8.38
2016-03-31    8.65
Name: Close, dtype: float64 Date
2016-06-28     8.75
2016-06-29    10.34
Name: Close, dtype: float64
20160630
Date
2016-06-29    10.34
2016-06-30    10.90
Name: Close, dtype: float64 Date
2016-09-27    14.03
2016-09-28    14.01
Name: Close, dtype: float64
20160930
Date
2016-09-29    13.86
2016-09-30    13.91
Name: Close, dtype: float64 Date
2016-12-28    12.97
2016-12-29    12.96
Name: Close, dtype: float64
20161231
Date
2016-12-30    12.81
Name: Close, dtype: float64 Date
2017-03-30    12.30
2017-03-31    12.37
Name: Close, dtype: float64
20170331
Date
2017-03-30    12.30
2017-03-31    12.37
Name: Close, dtype: float64 Date
2017-06-28    12.06
2017-06-29    12.06
Name: Close, dtype: float64
20170630
Date
2017-06-29    12.06
2017-06-30    12.00
Name: Close, dtype: float64 Date
2017-09-27    13.430
2017-09-28    13.335
Name: Close, dtype: float64
20170930
Date
2017-09-29    13.22
Name: Close, dtype: float64 Date
2017-12-28    11.89
2017-12-29    11.96
Name: Close, dtype: float64
20171231
Date
2018-01-02    11.81
Name: Close, dtype: float64 Date
2018-04-02    10.68
Name: Close, dtype: float64
20180331
Date
2018-04-02    10.68
Name: Close, dtype: float64 Date
2018-07-02    11.7
Name: Close, dtype: float64
20180630
Date
2018-06-29    11.7
Name: Close, dtype: float64 Date
2018-09-27    11.57
2018-09-28    11.55
Name: Close, dtype: float64
20180930
Date
2018-10-01    11.58
Name: Close, dtype: float64 Date
2018-12-31    11.22
Name: Close, dtype: float64
20181231
Date
2018-12-31    11.22
Name: Close, dtype: float64 Date
2019-04-01    13.72
Name: Close, dtype: float64
20190331
Date
2019-04-01    13.72
Name: Close, dtype: float64 Date
2019-07-01    14.29
Name: Close, dtype: float64
20190630
Date
2019-07-01    14.29
Name: Close, dtype: float64 Date
2019-09-30    18.225
Name: Close, dtype: float64
20190930
Date
2019-09-30    18.225
Name: Close, dtype: float64 Date
2019-12-30    15.41
Name: Close, dtype: float64
20191231
Date
2019-12-30    15.41
2019-12-31    15.39
Name: Close, dtype: float64 Date
2020-03-30    15.42
Name: Close, dtype: float64
20030331
Date
2003-03-31    14.14
Name: Close, dtype: float64 Date
2003-06-30    17.4
Name: Close, dtype: float64
20030630
Date
2003-06-30    17.4
Name: Close, dtype: float64 Date
2003-09-29    20.469999
Name: Close, dtype: float64
20030930
Date
2003-09-29    20.469999
2003-09-30    19.980000
Name: Close, dtype: float64 Date
2003-12-29    25.24
Name: Close, dtype: float64
20031231
Date
2003-12-30    25.139999
2003-12-31    24.860001
Name: Close, dtype: float64 Date
2004-03-29    21.570000
2004-03-30    21.139999
Name: Close, dtype: float64
20040331
Date
2004-03-30    21.139999
2004-03-31    21.459999
Name: Close, dtype: float64 Date
2004-06-28    15.640000
2004-06-29    16.049999
Name: Close, dtype: float64
20040630
Date
2004-06-29    16.049999
2004-06-30    16.320000
Name: Close, dtype: float64 Date
2004-09-27    12.81
2004-09-28    12.70
Name: Close, dtype: float64
20040930
Date
2004-09-29    12.88
2004-09-30    12.67
Name: Close, dtype: float64 Date
2004-12-28    17.02
2004-12-29    16.68
Name: Close, dtype: float64
20041231
Date
2004-12-30    16.83
2004-12-31    16.74
Name: Close, dtype: float64 Date
2005-03-30    12.46
2005-03-31    12.62
Name: Close, dtype: float64
20050331
Date
2005-03-30    12.46
2005-03-31    12.62
Name: Close, dtype: float64 Date
2005-06-28    13.23
2005-06-29    13.52
Name: Close, dtype: float64
20050630
Date
2005-06-29    13.52
2005-06-30    13.53
Name: Close, dtype: float64 Date
2005-09-27    16.48
2005-09-28    16.59
Name: Close, dtype: float64
20050930
Date
2005-09-29    16.940001
2005-09-30    16.820000
Name: Close, dtype: float64 Date
2005-12-28    16.040001
2005-12-29    15.910000
Name: Close, dtype: float64
20051231
Date
2005-12-30    15.67
Name: Close, dtype: float64 Date
2006-03-30    18.440001
2006-03-31    19.090000
Name: Close, dtype: float64
20060331
Date
2006-03-30    18.440001
2006-03-31    19.090000
Name: Close, dtype: float64 Date
2006-06-28    17.209999
2006-06-29    17.650000
Name: Close, dtype: float64
20060630
Date
2006-06-29    17.65
2006-06-30    17.74
Name: Close, dtype: float64 Date
2006-09-27    17.40
2006-09-28    17.91
Name: Close, dtype: float64
20060930
Date
2006-09-29    17.42
Name: Close, dtype: float64 Date
2006-12-28    18.33
2006-12-29    18.09
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    19.059999
Name: Close, dtype: float64 Date
2007-06-28    21.260000
2007-06-29    21.549999
Name: Close, dtype: float64
20070630
Date
2007-06-29    21.549999
Name: Close, dtype: float64 Date
2007-09-27    21.230000
2007-09-28    21.120001
Name: Close, dtype: float64
20070930
Date
2007-10-01    22.33
Name: Close, dtype: float64 Date
2007-12-31    21.5
Name: Close, dtype: float64
20071231
Date
2007-12-31    21.5
Name: Close, dtype: float64 Date
2008-03-31    19.51
Name: Close, dtype: float64
20080331
Date
2008-03-31    19.51
Name: Close, dtype: float64 Date
2008-06-30    22.620001
Name: Close, dtype: float64
20080630
Date
2008-06-30    22.620001
Name: Close, dtype: float64 Date
2008-09-29    23.190001
Name: Close, dtype: float64
20080930
Date
2008-09-29    23.190001
2008-09-30    24.059999
Name: Close, dtype: float64 Date
2008-12-29    21.790001
Name: Close, dtype: float64
20081231
Date
2008-12-30    22.90
2008-12-31    24.15
Name: Close, dtype: float64 Date
2009-03-30    20.209999
2009-03-31    20.379999
Name: Close, dtype: float64
20090331
Date
2009-03-30    20.209999
2009-03-31    20.379999
Name: Close, dtype: float64 Date
2009-06-29    29.139999
Name: Close, dtype: float64
20090630
Date
2009-06-29    29.139999
2009-06-30    28.650000
Name: Close, dtype: float64 Date
2009-09-28    26.35
Name: Close, dtype: float64
20090930
Date
2009-09-29    26.760000
2009-09-30    26.530001
Name: Close, dtype: float64 Date
2009-12-28    27.280001
2009-12-29    27.350000
Name: Close, dtype: float64
20091231
Date
2009-12-30    27.530001
2009-12-31    27.170000
Name: Close, dtype: float64 Date
2010-03-30    22.770000
2010-03-31    23.040001
Name: Close, dtype: float64
20100331
Date
2010-03-30    22.770000
2010-03-31    23.040001
Name: Close, dtype: float64 Date
2010-06-28    20.580000
2010-06-29    19.860001
Name: Close, dtype: float64
20100630

Date
2010-06-29    19.860001
2010-06-30    19.610001
Name: Close, dtype: float64 Date
2010-09-27    20.41
2010-09-28    20.75
Name: Close, dtype: float64
20100930
Date
2010-09-29    20.990000
2010-09-30    20.969999
Name: Close, dtype: float64 Date
2010-12-28    26.08
2010-12-29    25.90
Name: Close, dtype: float64
20101231
Date
2010-12-30    25.260000
2010-12-31    25.059999
Name: Close, dtype: float64 Date
2011-03-30    24.299999
2011-03-31    24.690001
Name: Close, dtype: float64
20110331
Date
2011-03-30    24.299999
2011-03-31    24.690001
Name: Close, dtype: float64 Date
2011-06-28    22.610001
2011-06-29    22.480000
Name: Close, dtype: float64
20110630
Date
2011-06-29    22.48
2011-06-30    22.50
Name: Close, dtype: float64 Date
2011-09-27    19.66
2011-09-28    18.67
Name: Close, dtype: float64
20110930
Date
2011-09-29    18.809999
2011-09-30    18.740000
Name: Close, dtype: float64 Date
2011-12-28    21.450001
2011-12-29    21.780001
Name: Close, dtype: float64
20111231
Date
2011-12-30    21.59
Name: Close, dtype: float64 Date
2012-03-29    26.240000
2012-03-30    26.360001
Name: Close, dtype: float64
20120331
Date
2012-03-30    26.360001
Name: Close, dtype: float64 Date
2012-06-28    25.27
2012-06-29    26.08
Name: Close, dtype: float64
20120630
Date
2012-06-29    26.08
Name: Close, dtype: float64 Date
2012-09-27    26.309999
2012-09-28    26.260000
Name: Close, dtype: float64
20120930
Date
2012-10-01    26.059999
Name: Close, dtype: float64 Date
2012-12-31    26.469999
Name: Close, dtype: float64
20121231
Date
2012-12-31    26.469999
Name: Close, dtype: float64 Date
2013-04-01    29.84
Name: Close, dtype: float64
20130331
Date
2013-04-01    29.84
Name: Close, dtype: float64 Date
2013-07-01    23.49
Name: Close, dtype: float64
20130630
Date
2013-07-01    23.49
Name: Close, dtype: float64 Date
2013-09-30    25.889999
Name: Close, dtype: float64
20130930
Date
2013-09-30    25.889999
Name: Close, dtype: float64 Date
2013-12-30    27.93
Name: Close, dtype: float64
20131231
Date
2013-12-30    27.93
2013-12-31    27.98
Name: Close, dtype: float64 Date
2014-03-31    29.59
Name: Close, dtype: float64
20140331
Date
2014-03-31    29.59
Name: Close, dtype: float64 Date
2014-06-30    27.5
Name: Close, dtype: float64
20140630
Date
2014-06-30    27.5
Name: Close, dtype: float64 Date
2014-09-29    25.059999
Name: Close, dtype: float64
20140930
Date
2014-09-29    25.059999
2014-09-30    24.980000
Name: Close, dtype: float64 Date
2014-12-29    27.01
Name: Close, dtype: float64
20141231
Date
2014-12-30    27.059999
2014-12-31    26.700001
Name: Close, dtype: float64 Date
2015-03-30    24.15
2015-03-31    24.02
Name: Close, dtype: float64
20150331
Date
2015-03-30    24.15
2015-03-31    24.02
Name: Close, dtype: float64 Date
2015-06-29    25.459999
Name: Close, dtype: float64
20150630
Date
2015-06-29    25.459999
2015-06-30    25.639999
Name: Close, dtype: float64 Date
2015-09-28    24.559999
Name: Close, dtype: float64
20150930
Date
2015-09-29    24.240000
2015-09-30    24.309999
Name: Close, dtype: float64 Date
2015-12-28    26.540001
2015-12-29    26.790001
Name: Close, dtype: float64
20151231
Date
2015-12-30    26.52
2015-12-31    26.02
Name: Close, dtype: float64 Date
2016-03-29    29.549999
2016-03-30    29.760000
Name: Close, dtype: float64
20160331
Date
2016-03-30    29.76
2016-03-31    29.82
Name: Close, dtype: float64 Date
2016-06-28    29.290001
2016-06-29    29.830000
Name: Close, dtype: float64
20160630
Date
2016-06-29    29.83
2016-06-30    30.75
Name: Close, dtype: float64 Date
2016-09-27    35.439999
2016-09-28    35.560001
Name: Close, dtype: float64
20160930
Date
2016-09-29    35.389999
2016-09-30    35.470001
Name: Close, dtype: float64 Date
2016-12-28    43.400002
2016-12-29    43.299999
Name: Close, dtype: float64
20161231
Date
2016-12-30    43.150002
Name: Close, dtype: float64 Date
2017-03-30    40.450001
2017-03-31    40.849998
Name: Close, dtype: float64
20170331
Date
2017-03-30    40.450001
2017-03-31    40.849998
Name: Close, dtype: float64 Date
2017-06-28    46.200001
2017-06-29    45.700001
Name: Close, dtype: float64
20170630
Date
2017-06-29    45.700001
2017-06-30    45.750000
Name: Close, dtype: float64 Date
2017-09-27    46.049999
2017-09-28    46.200001
Name: Close, dtype: float64
20170930
Date
2017-09-29    46.549999
Name: Close, dtype: float64 Date
2017-12-28    48.450001
2017-12-29    48.150002
Name: Close, dtype: float64
20171231
Date
2018-01-02    48.25
Name: Close, dtype: float64 Date
2018-04-02    48.549999
Name: Close, dtype: float64
20180331
Date
2018-04-02    48.549999
Name: Close, dtype: float64 Date
2018-07-02    59.799999
Name: Close, dtype: float64
20180630
Date
2018-06-29    58.5
Name: Close, dtype: float64 Date
2018-09-27    67.699997
2018-09-28    68.300003
Name: Close, dtype: float64
20180930
Date
2018-10-01    68.120003
Name: Close, dtype: float64 Date
2018-12-31    51.77
Name: Close, dtype: float64
20181231
Date
2018-12-31    51.77
Name: Close, dtype: float64 Date
2019-04-01    60.07
Name: Close, dtype: float64
20190331
Date
2019-04-01    60.07
Name: Close, dtype: float64 Date
2019-07-01    79.559998
Name: Close, dtype: float64
20190630
Date
2019-07-01    79.559998
Name: Close, dtype: float64 Date
2019-09-30    86.760002
Name: Close, dtype: float64
20190930
Date
2019-09-30    86.760002
Name: Close, dtype: float64 Date
2019-12-30    86.360001
Name: Close, dtype: float64
20191231
Date
2019-12-30    86.360001
2019-12-31    86.160004
Name: Close, dtype: float64 Date
2020-03-30    71.790001
Name: Close, dtype: float64
20050331
Date
2005-03-30    13.87
2005-03-31    14.04
Name: Close, dtype: float64 Date
2005-06-28    17.549999
2005-06-29    17.375000
Name: Close, dtype: float64
20050630
Date
2005-06-29    17.375
2005-06-30    17.375
Name: Close, dtype: float64 Date
2005-09-27    14.70
2005-09-28    14.23
Name: Close, dtype: float64
20050930
Date
2005-09-29    14.56
2005-09-30    14.90
Name: Close, dtype: float64 Date
2005-12-28    15.89
2005-12-29    15.85
Name: Close, dtype: float64
20051231
Date
2005-12-30    15.55
Name: Close, dtype: float64 Date
2006-03-30    16.809999
2006-03-31    17.090000
Name: Close, dtype: float64
20060331
Date
2006-03-30    16.809999
2006-03-31    17.090000
Name: Close, dtype: float64 Date
2006-06-28    13.53
2006-06-29    13.72
Name: Close, dtype: float64
20060630
Date
2006-06-29    13.72
2006-06-30    13.52
Name: Close, dtype: float64 Date
2006-09-27    12.67
2006-09-28    12.45
Name: Close, dtype: float64
20060930
Date
2006-09-29    12.28
Name: Close, dtype: float64 Date
2006-12-28    13.30
2006-12-29    13.26
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    14.25
Name: Close, dtype: float64 Date
2007-06-28    13.24
2007-06-29    12.79
Name: Close, dtype: float64
20070630
Date
2007-06-29    12.79
Name: Close, dtype: float64 Date
2007-09-27    12.01
2007-09-28    11.70
Name: Close, dtype: float64
20070930
Date
2007-10-01    12.06
Name: Close, dtype: float64 Date
2007-12-31    11.06
Name: Close, dtype: float64
20071231
Date
2007-12-31    11.06
Name: Close, dtype: float64 Date
2008-03-31    9.8
Name: Close, dtype: float64
20080331
Date
2008-03-31    9.8
Name: Close, dtype: float64 Date
2008-06-30    8.97
Name: Close, dtype: float64
20080630
Date
2008-06-30    8.97
Name: Close, dtype: float64 Date
2008-09-29    8.73
Name: Close, dtype: float64
20080930
Date
2008-09-29    8.73
2008-09-30    8.99
Name: Close, dtype: float64 Date
2008-12-29    7.12
Name: Close, dtype: float64
20081231
Date
2008-12-30    7.30
2008-12-31    7.75
Name: Close, dtype: float64 Date
2009-03-30    9.31
2009-03-31    9.53
Name: Close, dtype: float64
20090331
Date
2009-03-30    9.31
2009-03-31    9.53
Name: Close, dtype: float64 Date
2009-06-29    11.04
Name: Close, dtype: float64
20090630
Date
2009-06-29    11.04
2009-06-30    10.91
Name: Close, dtype: float64 Date
2009-09-28    10.37
Name: Close, dtype: float64
20090930
Date
2009-09-29    10.69
2009-09-30    10.62
Name: Close, dtype: float64 Date
2009-12-28    11.60
2009-12-29    11.58
Name: Close, dtype: float64
20091231
Date
2009-12-30    11.34
2009-12-31    11.23
Name: Close, dtype: float64 Date
2010-03-30    14.06
2010-03-31    13.89
Name: Close, dtype: float64
20100331

Date
2010-03-30    14.06
2010-03-31    13.89
Name: Close, dtype: float64 Date
2010-06-28    13.10
2010-06-29    12.59
Name: Close, dtype: float64
20100630
Date
2010-06-29    12.59
2010-06-30    12.62
Name: Close, dtype: float64 Date
2010-09-27    14.51
2010-09-28    14.30
Name: Close, dtype: float64
20100930
Date
2010-09-29    14.28
2010-09-30    14.05
Name: Close, dtype: float64 Date
2010-12-28    17.309999
2010-12-29    17.430000
Name: Close, dtype: float64
20101231
Date
2010-12-30    17.459999
2010-12-31    17.170000
Name: Close, dtype: float64 Date
2011-03-30    16.790001
2011-03-31    16.990000
Name: Close, dtype: float64
20110331
Date
2011-03-30    16.790001
2011-03-31    16.990000
Name: Close, dtype: float64 Date
2011-06-28    17.73
2011-06-29    17.67
Name: Close, dtype: float64
20110630
Date
2011-06-29    17.670000
2011-06-30    17.540001
Name: Close, dtype: float64 Date
2011-09-27    13.88
2011-09-28    13.68
Name: Close, dtype: float64
20110930
Date
2011-09-29    13.60
2011-09-30    13.22
Name: Close, dtype: float64 Date
2011-12-28    14.74
2011-12-29    14.90
Name: Close, dtype: float64
20111231
Date
2011-12-30    14.9
Name: Close, dtype: float64 Date
2012-03-29    16.690001
2012-03-30    16.639999
Name: Close, dtype: float64
20120331
Date
2012-03-30    16.639999
Name: Close, dtype: float64 Date
2012-06-28    17.9
2012-06-29    18.4
Name: Close, dtype: float64
20120630
Date
2012-06-29    18.4
Name: Close, dtype: float64 Date
2012-09-27    17.309999
2012-09-28    17.100000
Name: Close, dtype: float64
20120930
Date
2012-10-01    17.5
Name: Close, dtype: float64 Date
2012-12-31    16.799999
Name: Close, dtype: float64
20121231
Date
2012-12-31    16.799999
Name: Close, dtype: float64 Date
2013-04-01    19.940001
Name: Close, dtype: float64
20130331
Date
2013-04-01    19.940001
Name: Close, dtype: float64 Date
2013-07-01    25.209999
Name: Close, dtype: float64
20130630
Date
2013-07-01    25.209999
Name: Close, dtype: float64 Date
2013-09-30    26.299999
Name: Close, dtype: float64
20130930
Date
2013-09-30    26.299999
Name: Close, dtype: float64 Date
2013-12-30    27.83
Name: Close, dtype: float64
20131231
Date
2013-12-30    27.830000
2013-12-31    27.799999
Name: Close, dtype: float64 Date
2014-03-31    26.08
Name: Close, dtype: float64
20140331
Date
2014-03-31    26.08
Name: Close, dtype: float64 Date
2014-06-30    26
Name: Close, dtype: int64
20140630
Date
2014-06-30    26
Name: Close, dtype: int64 Date
2014-09-29    27.860001
Name: Close, dtype: float64
20140930
Date
2014-09-29    27.860001
2014-09-30    27.840000
Name: Close, dtype: float64 Date
2014-12-29    33.849998
Name: Close, dtype: float64
20141231
Date
2014-12-30    33.779999
2014-12-31    33.759998
Name: Close, dtype: float64 Date
2015-03-30    36.450001
2015-03-31    36.430000
Name: Close, dtype: float64
20150331
Date
2015-03-30    36.450001
2015-03-31    36.430000
Name: Close, dtype: float64 Date
2015-06-29    37.09
Name: Close, dtype: float64
20150630
Date
2015-06-29    37.09
2015-06-30    37.43
Name: Close, dtype: float64 Date
2015-09-28    37.200001
Name: Close, dtype: float64
20150930
Date
2015-09-29    37.080002
2015-09-30    37.200001
Name: Close, dtype: float64 Date
2015-12-28    35.830002
2015-12-29    36.060001
Name: Close, dtype: float64
20151231
Date
2015-12-30    35.830002
2015-12-31    35.770000
Name: Close, dtype: float64 Date
2016-03-29    43.599998
2016-03-30    43.980000
Name: Close, dtype: float64
20160331
Date
2016-03-30    43.980000
2016-03-31    43.580002
Name: Close, dtype: float64 Date
2016-06-28    44.820000
2016-06-29    45.610001
Name: Close, dtype: float64
20160630
Date
2016-06-29    45.610001
2016-06-30    45.599998
Name: Close, dtype: float64 Date
2016-09-27    41.020000
2016-09-28    39.939999
Name: Close, dtype: float64
20160930
Date
2016-09-29    38.810001
2016-09-30    39.029999
Name: Close, dtype: float64 Date
2016-12-28    48.619999
2016-12-29    49.029999
Name: Close, dtype: float64
20161231
Date
2016-12-30    48.240002
Name: Close, dtype: float64 Date
2017-03-30    44.330002
2017-03-31    44.529999
Name: Close, dtype: float64
20170331
Date
2017-03-30    44.330002
2017-03-31    44.529999
Name: Close, dtype: float64 Date
2017-06-28    51.130001
2017-06-29    51.290001
Name: Close, dtype: float64
20170630
Date
2017-06-29    51.290001
2017-06-30    50.950001
Name: Close, dtype: float64 Date
2017-09-27    49.299999
2017-09-28    49.220001
Name: Close, dtype: float64
20170930
Date
2017-09-29    49.139999
Name: Close, dtype: float64 Date
2017-12-28    53.700001
2017-12-29    52.680000
Name: Close, dtype: float64
20171231
Date
2018-01-02    53.830002
Name: Close, dtype: float64 Date
2018-04-02    57.240002
Name: Close, dtype: float64
20180331
Date
2018-04-02    57.240002
Name: Close, dtype: float64 Date
2018-07-02    65.940002
Name: Close, dtype: float64
20180630
Date
2018-06-29    65.510002
Name: Close, dtype: float64 Date
2018-09-27    69.209999
2018-09-28    69.290001
Name: Close, dtype: float64
20180930
Date
2018-10-01    67.720001
Name: Close, dtype: float64 Date
2018-12-31    59.700001
Name: Close, dtype: float64
20181231
Date
2018-12-31    59.700001
Name: Close, dtype: float64 Date
2019-04-01    62.380001
Name: Close, dtype: float64
20190331
Date
2019-04-01    62.380001
Name: Close, dtype: float64 Date
2019-07-01    53.130001
Name: Close, dtype: float64
20190630
Date
2019-07-01    53.130001
Name: Close, dtype: float64 Date
2019-09-30    52.52
Name: Close, dtype: float64
20190930
Date
2019-09-30    52.52
Name: Close, dtype: float64 Date
2019-12-30    56.59
Name: Close, dtype: float64
20191231
Date
2019-12-30    56.59
2019-12-31    56.32
Name: Close, dtype: float64 Date
2020-03-30    42.220001
Name: Close, dtype: float64
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20171231
Date
2018-01-02    14.52
Name: Close, dtype: float64 Date
2018-04-02    13.28
Name: Close, dtype: float64
20180331
Date
2018-04-02    13.28
Name: Close, dtype: float64 Date
2018-07-02    15.19
Name: Close, dtype: float64
20180630
Date
2018-06-29    14.44
Name: Close, dtype: float64 Date
2018-09-27    18.910000
2018-09-28    19.450001
Name: Close, dtype: float64
20180930
Date
2018-10-01    19.459999
Name: Close, dtype: float64 Date
2018-12-31    18.9
Name: Close, dtype: float64
20181231
Date
2018-12-31    18.9
Name: Close, dtype: float64 Date
2019-04-01    21.030001
Name: Close, dtype: float64
20190331
Date
2019-04-01    21.030001
Name: Close, dtype: float64 Date
2019-07-01    24.879999
Name: Close, dtype: float64
20190630
Date
2019-07-01    24.879999
Name: Close, dtype: float64 Date
2019-09-30    28.99
Name: Close, dtype: float64
20190930
Date
2019-09-30    28.99
Name: Close, dtype: float64 Date
2019-12-30    28.690001
Name: Close, dtype: float64
20191231
Date
2019-12-30    28.690001
2019-12-31    28.540001
Name: Close, dtype: float64 Date
2020-03-30    17.540001
Name: Close, dtype: float64
20030331
Date
2003-03-31    27.700001
Name: Close, dtype: float64 Date
2003-06-30    28.629999
Name: Close, dtype: float64
20030630
Date
2003-06-30    28.629999
Name: Close, dtype: float64 Date
2003-09-29    29.73
Name: Close, dtype: float64
20030930
Date
2003-09-29    29.730000
2003-09-30    29.950001
Name: Close, dtype: float64 Date
2003-12-29    31.02
Name: Close, dtype: float64
20031231
Date
2003-12-30    31.459999
2003-12-31    31.190001
Name: Close, dtype: float64 Date
2004-03-29    29.809999
2004-03-30    30.100000
Name: Close, dtype: float64
20040331
Date
2004-03-30    30.1
2004-03-31    30.5
Name: Close, dtype: float64 Date
2004-06-28    32.369999
2004-06-29    32.669998
Name: Close, dtype: float64
20040630
Date
2004-06-29    32.669998
2004-06-30    32.500000
Name: Close, dtype: float64 Date
2004-09-27    33.259998
2004-09-28    33.610001
Name: Close, dtype: float64
20040930
Date
2004-09-29    34.360001
2004-09-30    34.650002
Name: Close, dtype: float64 Date
2004-12-28    38.549999
2004-12-29    38.349998
Name: Close, dtype: float64
20041231
Date
2004-12-30    38.130001
2004-12-31    38.150002
Name: Close, dtype: float64 Date
2005-03-30    33.200001
2005-03-31    33.139999
Name: Close, dtype: float64
20050331

Date
2005-03-30    33.200001
2005-03-31    33.139999
Name: Close, dtype: float64 Date
2005-06-28    35.560001
2005-06-29    35.660000
Name: Close, dtype: float64
20050630
Date
2005-06-29    35.660000
2005-06-30    35.610001
Name: Close, dtype: float64 Date
2005-09-27    34.720001
2005-09-28    34.220001
Name: Close, dtype: float64
20050930
Date
2005-09-29    35.110001
2005-09-30    34.950001
Name: Close, dtype: float64 Date
2005-12-28    36.070000
2005-12-29    35.599998
Name: Close, dtype: float64
20051231
Date
2005-12-30    35.240002
Name: Close, dtype: float64 Date
2006-03-30    37.779999
2006-03-31    38.270000
Name: Close, dtype: float64
20060331
Date
2006-03-30    37.779999
2006-03-31    38.270000
Name: Close, dtype: float64 Date
2006-06-28    35.419998
2006-06-29    36.770000
Name: Close, dtype: float64
20060630
Date
2006-06-29    36.770000
2006-06-30    36.630001
Name: Close, dtype: float64 Date
2006-09-27    37.779999
2006-09-28    37.619999
Name: Close, dtype: float64
20060930
Date
2006-09-29    37.220001
Name: Close, dtype: float64 Date
2006-12-28    39.119999
2006-12-29    38.650002
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    35.029999
Name: Close, dtype: float64 Date
2007-06-28    32.090000
2007-06-29    31.799999
Name: Close, dtype: float64
20070630
Date
2007-06-29    31.799999
Name: Close, dtype: float64 Date
2007-09-27    31.250000
2007-09-28    30.440001
Name: Close, dtype: float64
20070930
Date
2007-10-01    32.259998
Name: Close, dtype: float64 Date
2007-12-31    28.02
Name: Close, dtype: float64
20071231
Date
2007-12-31    28.02
Name: Close, dtype: float64 Date
2008-03-31    26.65
Name: Close, dtype: float64
20080331
Date
2008-03-31    26.65
Name: Close, dtype: float64 Date
2008-06-30    22.950001
Name: Close, dtype: float64
20080630
Date
2008-06-30    22.950001
Name: Close, dtype: float64 Date
2008-09-29    30.84
Name: Close, dtype: float64
20080930
Date
2008-09-29    30.84
2008-09-30    35.00
Name: Close, dtype: float64 Date
2008-12-29    31.51
Name: Close, dtype: float64
20081231
Date
2008-12-30    32.900002
2008-12-31    33.220001
Name: Close, dtype: float64 Date
2009-03-30    16.60
2009-03-31    17.24
Name: Close, dtype: float64
20090331
Date
2009-03-30    16.60
2009-03-31    17.24
Name: Close, dtype: float64 Date
2009-06-29    19.9
Name: Close, dtype: float64
20090630
Date
2009-06-29    19.900000
2009-06-30    19.540001
Name: Close, dtype: float64 Date
2009-09-28    19.35
Name: Close, dtype: float64
20090930
Date
2009-09-29    19.66
2009-09-30    19.59
Name: Close, dtype: float64 Date
2009-12-28    20.090000
2009-12-29    20.559999
Name: Close, dtype: float64
20091231
Date
2009-12-30    20.600000
2009-12-31    19.969999
Name: Close, dtype: float64 Date
2010-03-30    26.370001
2010-03-31    26.219999
Name: Close, dtype: float64
20100331
Date
2010-03-30    26.370001
2010-03-31    26.219999
Name: Close, dtype: float64 Date
2010-06-28    25.240000
2010-06-29    24.299999
Name: Close, dtype: float64
20100630
Date
2010-06-29    24.299999
2010-06-30    23.940001
Name: Close, dtype: float64 Date
2010-09-27    24.110001
2010-09-28    24.280001
Name: Close, dtype: float64
20100930
Date
2010-09-29    24.350000
2010-09-30    24.889999
Name: Close, dtype: float64 Date
2010-12-28    30.049999
2010-12-29    29.780001
Name: Close, dtype: float64
20101231
Date
2010-12-30    29.850000
2010-12-31    29.200001
Name: Close, dtype: float64 Date
2011-03-30    26.469999
2011-03-31    26.520000
Name: Close, dtype: float64
20110331
Date
2011-03-30    26.469999
2011-03-31    26.520000
Name: Close, dtype: float64 Date
2011-06-28    24.040001
2011-06-29    24.309999
Name: Close, dtype: float64
20110630
Date
2011-06-29    24.309999
2011-06-30    24.480000
Name: Close, dtype: float64 Date
2011-09-27    20.590000
2011-09-28    19.620001
Name: Close, dtype: float64
20110930
Date
2011-09-29    20.67
2011-09-30    20.09
Name: Close, dtype: float64 Date
2011-12-28    28.430000
2011-12-29    29.219999
Name: Close, dtype: float64
20111231
Date
2011-12-30    28.27
Name: Close, dtype: float64 Date
2012-03-29    29.320000
2012-03-30    28.860001
Name: Close, dtype: float64
20120331
Date
2012-03-30    28.860001
Name: Close, dtype: float64 Date
2012-06-28    25.879999
2012-06-29    25.879999
Name: Close, dtype: float64
20120630
Date
2012-06-29    25.879999
Name: Close, dtype: float64 Date
2012-09-27    24.85
2012-09-28    24.91
Name: Close, dtype: float64
20120930
Date
2012-10-01    25.01
Name: Close, dtype: float64 Date
2012-12-31    24.34
Name: Close, dtype: float64
20121231
Date
2012-12-31    24.34
Name: Close, dtype: float64 Date
2013-04-01    26.450001
Name: Close, dtype: float64
20130331
Date
2013-04-01    26.450001
Name: Close, dtype: float64 Date
2013-07-01    26.959999
Name: Close, dtype: float64
20130630
Date
2013-07-01    26.959999
Name: Close, dtype: float64 Date
2013-09-30    28.98
Name: Close, dtype: float64
20130930
Date
2013-09-30    28.98
Name: Close, dtype: float64 Date
2013-12-30    31.620001
Name: Close, dtype: float64
20131231
Date
2013-12-30    31.620001
2013-12-31    31.450001
Name: Close, dtype: float64 Date
2014-03-31    30.620001
Name: Close, dtype: float64
20140331
Date
2014-03-31    30.620001
Name: Close, dtype: float64 Date
2014-06-30    32.330002
Name: Close, dtype: float64
20140630
Date
2014-06-30    32.330002
Name: Close, dtype: float64 Date
2014-09-29    31.280001
Name: Close, dtype: float64
20140930
Date
2014-09-29    31.280001
2014-09-30    30.930000
Name: Close, dtype: float64 Date
2014-12-29    37.68
Name: Close, dtype: float64
20141231
Date
2014-12-30    37.470001
2014-12-31    37.450001
Name: Close, dtype: float64 Date
2015-03-30    37.599998
2015-03-31    37.580002
Name: Close, dtype: float64
20150331
Date
2015-03-30    37.599998
2015-03-31    37.580002
Name: Close, dtype: float64 Date
2015-06-29    39.130001
Name: Close, dtype: float64
20150630
Date
2015-06-29    39.130001
2015-06-30    40.230000
Name: Close, dtype: float64 Date
2015-09-28    37.25
Name: Close, dtype: float64
20150930
Date
2015-09-29    37.180000
2015-09-30    37.990002
Name: Close, dtype: float64 Date
2015-12-28    37.669998
2015-12-29    38.000000
Name: Close, dtype: float64
20151231
Date
2015-12-30    37.400002
2015-12-31    36.990002
Name: Close, dtype: float64 Date
2016-03-29    36.730000
2016-03-30    37.009998
Name: Close, dtype: float64
20160331
Date
2016-03-30    37.009998
2016-03-31    36.700001
Name: Close, dtype: float64 Date
2016-06-28    35.570000
2016-06-29    36.349998
Name: Close, dtype: float64
20160630
Date
2016-06-29    36.349998
2016-06-30    37.509998
Name: Close, dtype: float64 Date
2016-09-27    37.130001
2016-09-28    37.700001
Name: Close, dtype: float64
20160930
Date
2016-09-29    37.070000
2016-09-30    37.669998
Name: Close, dtype: float64 Date
2016-12-28    46.950001
2016-12-29    46.349998
Name: Close, dtype: float64
20161231
Date
2016-12-30    46.25
Name: Close, dtype: float64 Date
2017-03-30    42.549999
2017-03-31    42.250000
Name: Close, dtype: float64
20170331
Date
2017-03-30    42.549999
2017-03-31    42.250000
Name: Close, dtype: float64 Date
2017-06-28    39.700001
2017-06-29    40.349998
Name: Close, dtype: float64
20170630
Date
2017-06-29    40.349998
2017-06-30    39.200001
Name: Close, dtype: float64 Date
2017-09-27    37.099998
2017-09-28    37.400002
Name: Close, dtype: float64
20170930
Date
2017-09-29    37.150002
Name: Close, dtype: float64 Date
2017-12-28    35.25
2017-12-29    34.75
Name: Close, dtype: float64
20171231
Date
2018-01-02    34.849998
Name: Close, dtype: float64 Date
2018-04-02    34.349998
Name: Close, dtype: float64
20180331
Date
2018-04-02    34.349998
Name: Close, dtype: float64 Date
2018-07-02    36.549999
Name: Close, dtype: float64
20180630
Date
2018-06-29    36.400002
Name: Close, dtype: float64 Date
2018-09-27    36.200001
2018-09-28    36.349998
Name: Close, dtype: float64
20180930
Date
2018-10-01    35.77
Name: Close, dtype: float64 Date
2018-12-31    31.110001
Name: Close, dtype: float64
20181231
Date
2018-12-31    31.110001
Name: Close, dtype: float64 Date
2019-04-01    36.849998
Name: Close, dtype: float64
20190331
Date
2019-04-01    36.849998
Name: Close, dtype: float64 Date
2019-07-01    37.139999
Name: Close, dtype: float64
20190630

Date
2019-07-01    37.139999
Name: Close, dtype: float64 Date
2019-09-30    37.869999
Name: Close, dtype: float64
20190930
Date
2019-09-30    37.869999
Name: Close, dtype: float64 Date
2019-12-30    38.619999
Name: Close, dtype: float64
20191231
Date
2019-12-30    38.619999
2019-12-31    38.660000
Name: Close, dtype: float64 Date
2020-03-30    23.059999
Name: Close, dtype: float64
20180331
Date
2018-04-02    17.02
Name: Close, dtype: float64 Date
2018-07-02    33.5
Name: Close, dtype: float64
20180630
Date
2018-06-29    31.26
Name: Close, dtype: float64 Date
2018-09-27    29.85
2018-09-28    29.17
Name: Close, dtype: float64
20180930
Date
2018-10-01    28.629999
Name: Close, dtype: float64 Date
2018-12-31    26.879999
Name: Close, dtype: float64
20181231
Date
2018-12-31    26.879999
Name: Close, dtype: float64 Date
2019-04-01    27.77
Name: Close, dtype: float64
20190331
Date
2019-04-01    27.77
Name: Close, dtype: float64 Date
2019-07-01    21.870001
Name: Close, dtype: float64
20190630
Date
2019-07-01    21.870001
Name: Close, dtype: float64 Date
2019-09-30    21.59
Name: Close, dtype: float64
20190930
Date
2019-09-30    21.59
Name: Close, dtype: float64 Date
2019-12-30    22.969999
Name: Close, dtype: float64
20191231
Date
2019-12-30    22.969999
2019-12-31    22.959999
Name: Close, dtype: float64 Date
2020-03-30    14.5
Name: Close, dtype: float64
20090630
error
20090930
error
20091231
error
20180630
Date
2018-06-29    8.5
Name: Close, dtype: float64 Date
2018-09-27    5.58
2018-09-28    5.80
Name: Close, dtype: float64
20180930
Date
2018-10-01    5.37
Name: Close, dtype: float64 Date
2018-12-31    5.89
Name: Close, dtype: float64
20181231
Date
2018-12-31    5.89
Name: Close, dtype: float64 Date
2019-04-01    4.75
Name: Close, dtype: float64
20190331
Date
2019-04-01    4.75
Name: Close, dtype: float64 Date
2019-07-01    6.52
Name: Close, dtype: float64
20190630
Date
2019-07-01    6.52
Name: Close, dtype: float64 Date
2019-09-30    7.53
Name: Close, dtype: float64
20190930
Date
2019-09-30    7.53
Name: Close, dtype: float64 Date
2019-12-30    8.57
Name: Close, dtype: float64
20191231
Date
2019-12-30    8.57
2019-12-31    8.71
Name: Close, dtype: float64 Date
2020-03-30    6.47
Name: Close, dtype: float64
20171231
Date
2018-01-02    26.950001
Name: Close, dtype: float64 Date
2018-04-02    27.07
Name: Close, dtype: float64
20180331
Date
2018-04-02    27.07
Name: Close, dtype: float64 Date
2018-07-02    32.740002
Name: Close, dtype: float64
20180630
Date
2018-06-29    32.119999
Name: Close, dtype: float64 Date
2018-09-27    25.09
2018-09-28    24.50
Name: Close, dtype: float64
20180930
Date
2018-10-01    24.629999
Name: Close, dtype: float64 Date
2018-12-31    17.57
Name: Close, dtype: float64
20181231
Date
2018-12-31    17.57
Name: Close, dtype: float64 Date
2019-04-01    19.26
Name: Close, dtype: float64
20190331
Date
2019-04-01    19.26
Name: Close, dtype: float64 Date
2019-07-01    18.950001
Name: Close, dtype: float64
20190630
Date
2019-07-01    18.950001
Name: Close, dtype: float64 Date
2019-09-30    19.690001
Name: Close, dtype: float64
20190930
Date
2019-09-30    19.690001
Name: Close, dtype: float64 Date
2019-12-30    21.26
Name: Close, dtype: float64
20191231
Date
2019-12-30    21.26
2019-12-31    21.17
Name: Close, dtype: float64 Date
2020-03-30    14.19
Name: Close, dtype: float64
20180331
Date
2018-04-02    5.02
Name: Close, dtype: float64 Date
2018-07-02    7.25
Name: Close, dtype: float64
20180630
Date
2018-06-29    7.12
Name: Close, dtype: float64 Date
2018-09-27    6.78
2018-09-28    6.83
Name: Close, dtype: float64
20180930
Date
2018-10-01    6.79
Name: Close, dtype: float64 Date
2018-12-31    4.82
Name: Close, dtype: float64
20181231
Date
2018-12-31    4.82
Name: Close, dtype: float64 Date
2019-04-01    5.18
Name: Close, dtype: float64
20190331
Date
2019-04-01    5.18
Name: Close, dtype: float64 Date
2019-07-01    4.97
Name: Close, dtype: float64
20190630
Date
2019-07-01    4.97
Name: Close, dtype: float64 Date
2019-09-30    5.84
Name: Close, dtype: float64
20190930
Date
2019-09-30    5.84
Name: Close, dtype: float64 Date
2019-12-30    3.08
Name: Close, dtype: float64
20191231
Date
2019-12-30    3.08
2019-12-31    3.10
Name: Close, dtype: float64 Date
2020-03-30    3.15
Name: Close, dtype: float64
20110331
Date
2011-03-30    10.20
2011-03-31    10.77
Name: Close, dtype: float64 Date
2011-06-28    10.69
2011-06-29    10.32
Name: Close, dtype: float64
20110630
Date
2011-06-29    10.32
2011-06-30    10.22
Name: Close, dtype: float64 Date
2011-09-27    11.03
2011-09-28    10.24
Name: Close, dtype: float64
20110930
Date
2011-09-29    10.70
2011-09-30    10.69
Name: Close, dtype: float64 Date
2011-12-28    10.41
2011-12-29    10.51
Name: Close, dtype: float64
20111231
Date
2011-12-30    10.5
Name: Close, dtype: float64 Date
2012-03-29    13.19
2012-03-30    13.10
Name: Close, dtype: float64
20120331
Date
2012-03-30    13.1
Name: Close, dtype: float64 Date
2012-06-28    13.84
2012-06-29    14.22
Name: Close, dtype: float64
20120630
Date
2012-06-29    14.22
Name: Close, dtype: float64 Date
2012-09-27    13.62
2012-09-28    13.58
Name: Close, dtype: float64
20120930
Date
2012-10-01    13.47
Name: Close, dtype: float64 Date
2012-12-31    14.4
Name: Close, dtype: float64
20121231
Date
2012-12-31    14.4
Name: Close, dtype: float64 Date
2013-04-01    12.93
Name: Close, dtype: float64
20130331
Date
2013-04-01    12.93
Name: Close, dtype: float64 Date
2013-07-01    11.7
Name: Close, dtype: float64
20130630
Date
2013-07-01    11.7
Name: Close, dtype: float64 Date
2013-09-30    13.64
Name: Close, dtype: float64
20130930
Date
2013-09-30    13.64
Name: Close, dtype: float64 Date
2013-12-30    17.85
Name: Close, dtype: float64
20131231
Date
2013-12-30    17.85
2013-12-31    17.66
Name: Close, dtype: float64 Date
2014-03-31    20.43
Name: Close, dtype: float64
20140331
Date
2014-03-31    20.43
Name: Close, dtype: float64 Date
2014-06-30    21.32
Name: Close, dtype: float64
20140630
Date
2014-06-30    21.32
Name: Close, dtype: float64 Date
2014-09-29    18.719999
Name: Close, dtype: float64
20140930
Date
2014-09-29    18.719999
2014-09-30    18.620001
Name: Close, dtype: float64 Date
2014-12-29    22.67
Name: Close, dtype: float64
20141231
Date
2014-12-30    22.709999
2014-12-31    22.620001
Name: Close, dtype: float64 Date
2015-03-30    23.580000
2015-03-31    24.200001
Name: Close, dtype: float64
20150331
Date
2015-03-30    23.580000
2015-03-31    24.200001
Name: Close, dtype: float64 Date
2015-06-29    26.5
Name: Close, dtype: float64
20150630
Date
2015-06-29    26.50
2015-06-30    26.43
Name: Close, dtype: float64 Date
2015-09-28    26.27
Name: Close, dtype: float64
20150930
Date
2015-09-29    25.99
2015-09-30    25.60
Name: Close, dtype: float64 Date
2015-12-28    20.700001
2015-12-29    20.719999
Name: Close, dtype: float64
20151231
Date
2015-12-30    20.469999
2015-12-31    20.520000
Name: Close, dtype: float64 Date
2016-03-29    21.320000
2016-03-30    21.219999
Name: Close, dtype: float64
20160331
Date
2016-03-30    21.219999
2016-03-31    21.250000
Name: Close, dtype: float64 Date
2016-06-28    19.51
2016-06-29    19.08
Name: Close, dtype: float64
20160630
Date
2016-06-29    19.08
2016-06-30    19.27
Name: Close, dtype: float64 Date
2016-09-27    22.610001
2016-09-28    22.370001
Name: Close, dtype: float64
20160930
Date
2016-09-29    22.270000
2016-09-30    22.379999
Name: Close, dtype: float64 Date
2016-12-28    30.200001
2016-12-29    30.200001
Name: Close, dtype: float64
20161231
Date
2016-12-30    30.4
Name: Close, dtype: float64 Date
2017-03-30    27.15
2017-03-31    27.85
Name: Close, dtype: float64
20170331
Date
2017-03-30    27.15
2017-03-31    27.85
Name: Close, dtype: float64 Date
2017-06-28    32.450001
2017-06-29    32.400002
Name: Close, dtype: float64
20170630
Date
2017-06-29    32.400002
2017-06-30    32.049999
Name: Close, dtype: float64 Date
2017-09-27    34.400002
2017-09-28    34.549999
Name: Close, dtype: float64
20170930
Date
2017-09-29    34.349998
Name: Close, dtype: float64 Date
2017-12-28    38.549999
2017-12-29    38.849998
Name: Close, dtype: float64
20171231
Date
2018-01-02    38.950001
Name: Close, dtype: float64 Date
2018-04-02    41.650002
Name: Close, dtype: float64
20180331

Date
2018-04-02    41.650002
Name: Close, dtype: float64 Date
2018-07-02    50.799999
Name: Close, dtype: float64
20180630
Date
2018-06-29    50.150002
Name: Close, dtype: float64 Date
2018-09-27    56.900002
2018-09-28    56.650002
Name: Close, dtype: float64
20180930
Date
2018-10-01    57.029999
Name: Close, dtype: float64 Date
2018-12-31    39.330002
Name: Close, dtype: float64
20181231
Date
2018-12-31    39.330002
Name: Close, dtype: float64 Date
2019-04-01    43.09
Name: Close, dtype: float64
20190331
Date
2019-04-01    43.09
Name: Close, dtype: float64 Date
2019-07-01    41.799999
Name: Close, dtype: float64
20190630
Date
2019-07-01    41.799999
Name: Close, dtype: float64 Date
2019-09-30    46.18
Name: Close, dtype: float64
20190930
Date
2019-09-30    46.18
Name: Close, dtype: float64 Date
2019-12-30    51.16
Name: Close, dtype: float64
20191231
Date
2019-12-30    51.16
2019-12-31    50.93
Name: Close, dtype: float64 Date
2020-03-30    40.029999
Name: Close, dtype: float64
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
Date
2012-06-29    34.759998
Name: Close, dtype: float64 Date
2012-09-27    35.360001
2012-09-28    35.060001
Name: Close, dtype: float64
20120930
Date
2012-10-01    36.209999
Name: Close, dtype: float64 Date
2012-12-31    28.23
Name: Close, dtype: float64
20121231
Date
2012-12-31    28.23
Name: Close, dtype: float64 Date
2013-04-01    30.57
Name: Close, dtype: float64
20130331
Date
2013-04-01    30.57
Name: Close, dtype: float64 Date
2013-07-01    43.310001
Name: Close, dtype: float64
20130630
Date
2013-07-01    43.310001
Name: Close, dtype: float64 Date
2013-09-30    56.560001
Name: Close, dtype: float64
20130930
Date
2013-09-30    56.560001
Name: Close, dtype: float64 Date
2013-12-30    66.360001
Name: Close, dtype: float64
20131231
Date
2013-12-30    66.360001
2013-12-31    66.440002
Name: Close, dtype: float64 Date
2014-03-31    63.150002
Name: Close, dtype: float64
20140331
Date
2014-03-31    63.150002
Name: Close, dtype: float64 Date
2014-06-30    54.389999
Name: Close, dtype: float64
20140630
Date
2014-06-30    54.389999
Name: Close, dtype: float64 Date
2014-09-29    61.130001
Name: Close, dtype: float64
20140930
Date
2014-09-29    61.130001
2014-09-30    62.599998
Name: Close, dtype: float64 Date
2014-12-29    76.57
Name: Close, dtype: float64
20141231
Date
2014-12-30    76.209999
2014-12-31    76.959999
Name: Close, dtype: float64 Date
2015-03-30    66.440002
2015-03-31    64.879997
Name: Close, dtype: float64
20150331
Date
2015-03-30    66.440002
2015-03-31    64.879997
Name: Close, dtype: float64 Date
2015-06-29    53.439999
Name: Close, dtype: float64
20150630
Date
2015-06-29    53.439999
2015-06-30    53.669998
Name: Close, dtype: float64 Date
2015-09-28    51.290001
Name: Close, dtype: float64
20150930
Date
2015-09-29    51.040001
2015-09-30    49.520000
Name: Close, dtype: float64 Date
2015-12-28    47.549999
2015-12-29    47.919998
Name: Close, dtype: float64
20151231
Date
2015-12-30    47.110001
2015-12-31    46.220001
Name: Close, dtype: float64 Date
2016-03-29    53.250000
2016-03-30    52.360001
Name: Close, dtype: float64
20160331
Date
2016-03-30    52.360001
2016-03-31    52.639999
Name: Close, dtype: float64 Date
2016-06-28    50.889999
2016-06-29    51.110001
Name: Close, dtype: float64
20160630
Date
2016-06-29    51.110001
2016-06-30    52.639999
Name: Close, dtype: float64 Date
2016-09-27    57.660000
2016-09-28    57.689999
Name: Close, dtype: float64
20160930
Date
2016-09-29    57.200001
2016-09-30    58.040001
Name: Close, dtype: float64 Date
2016-12-28    88.400002
2016-12-29    88.099998
Name: Close, dtype: float64
20161231
Date
2016-12-30    87.800003
Name: Close, dtype: float64 Date
2017-03-30    85.500000
2017-03-31    85.025002
Name: Close, dtype: float64
20170331
Date
2017-03-30    85.500000
2017-03-31    85.025002
Name: Close, dtype: float64 Date
2017-06-28    86.949997
2017-06-29    85.449997
Name: Close, dtype: float64
20170630
Date
2017-06-29    85.449997
2017-06-30    85.599998
Name: Close, dtype: float64 Date
2017-09-27    70.750000
2017-09-28    70.650002
Name: Close, dtype: float64
20170930
Date
2017-09-29    70.150002
Name: Close, dtype: float64 Date
2017-12-28    78.250000
2017-12-29    77.400002
Name: Close, dtype: float64
20171231
Date
2018-01-02    79.449997
Name: Close, dtype: float64 Date
2018-04-02    86.099998
Name: Close, dtype: float64
20180331
Date
2018-04-02    86.099998
Name: Close, dtype: float64 Date
2018-07-02    101.150002
Name: Close, dtype: float64
20180630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
Date
2012-06-29    28
Name: Close, dtype: int64 Date
2012-09-27    33.910000
2012-09-28    33.310001
Name: Close, dtype: float64
20120930
Date
2012-10-01    32.98
Name: Close, dtype: float64 Date
2012-12-31    31.209999
Name: Close, dtype: float64
20121231
Date
2012-12-31    31.209999
Name: Close, dtype: float64 Date
2013-04-01    37.82
Name: Close, dtype: float64
20130331
Date
2013-04-01    37.82
Name: Close, dtype: float64 Date
2013-07-01    35.529999
Name: Close, dtype: float64
20130630
Date
2013-07-01    35.529999
Name: Close, dtype: float64 Date
2013-09-30    41.200001
Name: Close, dtype: float64
20130930
Date
2013-09-30    41.200001
Name: Close, dtype: float64 Date
2013-12-30    33.34
Name: Close, dtype: float64
20131231
Date
2013-12-30    33.340000
2013-12-31    34.509998
Name: Close, dtype: float64 Date
2014-03-31    43.73
Name: Close, dtype: float64
20140331
Date
2014-03-31    43.73
Name: Close, dtype: float64 Date
2014-06-30    49.66
Name: Close, dtype: float64
20140630
Date
2014-06-30    49.66
Name: Close, dtype: float64 Date
2014-09-29    50.68
Name: Close, dtype: float64
20140930
Date
2014-09-29    50.68
2014-09-30    49.73
Name: Close, dtype: float64 Date
2014-12-29    61.055
Name: Close, dtype: float64
20141231
Date
2014-12-30    61.50
2014-12-31    61.82
Name: Close, dtype: float64 Date
2015-03-30    72.75
2015-03-31    70.82
Name: Close, dtype: float64
20150331
Date
2015-03-30    72.75
2015-03-31    70.82
Name: Close, dtype: float64 Date
2015-06-29    68.599998
Name: Close, dtype: float64
20150630
Date
2015-06-29    68.599998
2015-06-30    68.809998
Name: Close, dtype: float64 Date
2015-09-28    58.27
Name: Close, dtype: float64
20150930
Date
2015-09-29    57.980000
2015-09-30    61.369999
Name: Close, dtype: float64 Date
2015-12-28    66.250000
2015-12-29    67.300003
Name: Close, dtype: float64
20151231
Date
2015-12-30    66.629997
2015-12-31    65.709999
Name: Close, dtype: float64 Date
2016-03-29    61.290001
2016-03-30    61.750000
Name: Close, dtype: float64
20160331
Date
2016-03-30    61.75
2016-03-31    61.16
Name: Close, dtype: float64 Date
2016-06-28    37.599998
2016-06-29    38.360001
Name: Close, dtype: float64
20160630
Date
2016-06-29    38.360001
2016-06-30    38.599998
Name: Close, dtype: float64 Date
2016-09-27    57.389999
2016-09-28    57.500000
Name: Close, dtype: float64
20160930
Date
2016-09-29    57.139999
2016-09-30    58.200001
Name: Close, dtype: float64 Date
2016-12-28    62.950001
2016-12-29    62.980000
Name: Close, dtype: float64
20161231
Date
2016-12-30    62.439999
Name: Close, dtype: float64 Date
2017-03-30    71.470001
2017-03-31    71.660004
Name: Close, dtype: float64
20170331
Date
2017-03-30    71.470001
2017-03-31    71.660004
Name: Close, dtype: float64 Date
2017-06-28    63.450001
2017-06-29    62.360001
Name: Close, dtype: float64
20170630
Date
2017-06-29    62.360001
2017-06-30    62.130001
Name: Close, dtype: float64 Date
2017-09-27    64.800003
2017-09-28    64.930000
Name: Close, dtype: float64
20170930

Date
2017-09-29    65.940002
Name: Close, dtype: float64 Date
2017-12-28    84.699997
2017-12-29    83.830002
Name: Close, dtype: float64
20171231
Date
2018-01-02    85.580002
Name: Close, dtype: float64 Date
2018-04-02    77.519997
Name: Close, dtype: float64
20180331
Date
2018-04-02    77.519997
Name: Close, dtype: float64 Date
2018-07-02    86.559998
Name: Close, dtype: float64
20180630
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
Date
2012-06-29    6.26
Name: Close, dtype: float64 Date
2012-09-27    7.11
2012-09-28    7.00
Name: Close, dtype: float64
20120930
Date
2012-10-01    6.99
Name: Close, dtype: float64 Date
2012-12-31    7.47
Name: Close, dtype: float64
20121231
Date
2012-12-31    7.47
Name: Close, dtype: float64 Date
2013-04-01    7.97
Name: Close, dtype: float64
20130331
Date
2013-04-01    7.97
Name: Close, dtype: float64 Date
2013-07-01    8.38
Name: Close, dtype: float64
20130630
Date
2013-07-01    8.38
Name: Close, dtype: float64 Date
2013-09-30    9.66
Name: Close, dtype: float64
20130930
Date
2013-09-30    9.66
Name: Close, dtype: float64 Date
2013-12-30    11.79
Name: Close, dtype: float64
20131231
Date
2013-12-30    11.79
2013-12-31    11.96
Name: Close, dtype: float64 Date
2014-03-31    11.52
Name: Close, dtype: float64
20140331
Date
2014-03-31    11.52
Name: Close, dtype: float64 Date
2014-06-30    10.77
Name: Close, dtype: float64
20140630
Date
2014-06-30    10.77
Name: Close, dtype: float64 Date
2014-09-29    11.27
Name: Close, dtype: float64
20140930
Date
2014-09-29    11.27
2014-09-30    11.18
Name: Close, dtype: float64 Date
2014-12-29    13.3
Name: Close, dtype: float64
20141231
Date
2014-12-30    13.18
2014-12-31    13.13
Name: Close, dtype: float64 Date
2015-03-30    12.36
2015-03-31    12.32
Name: Close, dtype: float64
20150331
Date
2015-03-30    12.36
2015-03-31    12.32
Name: Close, dtype: float64 Date
2015-06-29    13.21
Name: Close, dtype: float64
20150630
Date
2015-06-29    13.21
2015-06-30    13.07
Name: Close, dtype: float64 Date
2015-09-28    13.01
Name: Close, dtype: float64
20150930
Date
2015-09-29    13.00
2015-09-30    13.01
Name: Close, dtype: float64 Date
2015-12-28    13.49
2015-12-29    13.72
Name: Close, dtype: float64
20151231
Date
2015-12-30    13.64
2015-12-31    13.42
Name: Close, dtype: float64 Date
2016-03-29    11.46
2016-03-30    11.61
Name: Close, dtype: float64
20160331
Date
2016-03-30    11.61
2016-03-31    11.82
Name: Close, dtype: float64 Date
2016-06-28    11.04
2016-06-29    11.00
Name: Close, dtype: float64
20160630
Date
2016-06-29    11.0
2016-06-30    11.7
Name: Close, dtype: float64 Date
2016-09-27    13.04
2016-09-28    13.21
Name: Close, dtype: float64
20160930
Date
2016-09-29    13.21
2016-09-30    13.31
Name: Close, dtype: float64 Date
2016-12-28    16.799999
2016-12-29    16.690001
Name: Close, dtype: float64
20161231
Date
2016-12-30    16.889999
Name: Close, dtype: float64 Date
2017-03-30    16.760000
2017-03-31    16.799999
Name: Close, dtype: float64
20170331
Date
2017-03-30    16.760000
2017-03-31    16.799999
Name: Close, dtype: float64 Date
2017-06-28    16.91
2017-06-29    17.33
Name: Close, dtype: float64
20170630
Date
2017-06-29    17.33
2017-06-30    17.40
Name: Close, dtype: float64 Date
2017-09-27    19.135
2017-09-28    19.320
Name: Close, dtype: float64
20170930
Date
2017-09-29    19.639999
Name: Close, dtype: float64 Date
2017-12-28    20.35
2017-12-29    19.99
Name: Close, dtype: float64
20171231
Date
2018-01-02    19.790001
Name: Close, dtype: float64 Date
2018-04-02    19.190001
Name: Close, dtype: float64
20180331
Date
2018-04-02    19.190001
Name: Close, dtype: float64 Date
2018-07-02    21.35
Name: Close, dtype: float64
20180630
Date
2018-06-29    21.48
Name: Close, dtype: float64 Date
2018-09-27    22.570000
2018-09-28    22.139999
Name: Close, dtype: float64
20180930
error
20030331
error
20030630
error
20030930
error
20031231
error
20040331
error
20040630
error
20040930
error
20041231
error
20050331
error
20050630
error
20050930
error
20051231
error
20060331
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
Date
2012-06-29    11.82
Name: Close, dtype: float64 Date
2012-09-27    12.54
2012-09-28    12.22
Name: Close, dtype: float64
20120930
Date
2012-10-01    12.32
Name: Close, dtype: float64 Date
2012-12-31    9.95
Name: Close, dtype: float64
20121231
Date
2012-12-31    9.95
Name: Close, dtype: float64 Date
2013-04-01    11.07
Name: Close, dtype: float64
20130331
Date
2013-04-01    11.07
Name: Close, dtype: float64 Date
2013-07-01    11.08
Name: Close, dtype: float64
20130630
Date
2013-07-01    11.08
Name: Close, dtype: float64 Date
2013-09-30    11.69
Name: Close, dtype: float64
20130930
Date
2013-09-30    11.69
Name: Close, dtype: float64 Date
2013-12-30    10.21
Name: Close, dtype: float64
20131231
Date
2013-12-30    10.21
2013-12-31    10.46
Name: Close, dtype: float64 Date
2014-03-31    9.85
Name: Close, dtype: float64
20140331
Date
2014-03-31    9.85
Name: Close, dtype: float64 Date
2014-06-30    6.81
Name: Close, dtype: float64
20140630
Date
2014-06-30    6.81
Name: Close, dtype: float64 Date
2014-09-29    6.8
Name: Close, dtype: float64
20140930
Date
2014-09-29    6.80
2014-09-30    6.79
Name: Close, dtype: float64 Date
2014-12-29    7.77
Name: Close, dtype: float64
20141231
Date
2014-12-30    7.70
2014-12-31    7.76
Name: Close, dtype: float64 Date
2015-03-30    6.19
2015-03-31    6.18
Name: Close, dtype: float64
20150331
Date
2015-03-30    6.19
2015-03-31    6.18
Name: Close, dtype: float64 Date
2015-06-29    5.28
Name: Close, dtype: float64
20150630
Date
2015-06-29    5.28
2015-06-30    5.27
Name: Close, dtype: float64 Date
2015-09-28    4.53
Name: Close, dtype: float64
20150930
Date
2015-09-29    4.53
2015-09-30    4.64
Name: Close, dtype: float64 Date
2015-12-28    5.31
2015-12-29    5.27
Name: Close, dtype: float64
20151231
Date
2015-12-30    5.19
2015-12-31    5.19
Name: Close, dtype: float64 Date
2016-03-29    7.23
2016-03-30    7.26
Name: Close, dtype: float64
20160331
Date
2016-03-30    7.26
2016-03-31    7.15
Name: Close, dtype: float64 Date
2016-06-28    5.97
2016-06-29    5.96
Name: Close, dtype: float64
20160630
Date
2016-06-29    5.96
2016-06-30    5.84
Name: Close, dtype: float64 Date
2016-09-27    5.65
2016-09-28    5.71
Name: Close, dtype: float64
20160930
Date
2016-09-29    5.54
2016-09-30    5.64
Name: Close, dtype: float64 Date
2016-12-28    6.07
2016-12-29    6.10
Name: Close, dtype: float64
20161231
Date
2016-12-30    5.92
Name: Close, dtype: float64 Date
2017-03-30    6.78
2017-03-31    6.97
Name: Close, dtype: float64
20170331
Date
2017-03-30    6.78
2017-03-31    6.97
Name: Close, dtype: float64 Date
2017-06-28    8.28
2017-06-29    8.28
Name: Close, dtype: float64
20170630
Date
2017-06-29    8.28
2017-06-30    8.24
Name: Close, dtype: float64 Date
2017-09-27    13.67
2017-09-28    13.92
Name: Close, dtype: float64
20170930
Date
2017-09-29    13.92
Name: Close, dtype: float64 Date
2017-12-28    21.52
2017-12-29    21.43
Name: Close, dtype: float64
20171231
Date
2018-01-02    21.74
Name: Close, dtype: float64 Date
2018-04-02    17.98
Name: Close, dtype: float64
20180331
Date
2018-04-02    17.98
Name: Close, dtype: float64 Date
2018-07-02    15.87
Name: Close, dtype: float64
20180630
Date
2018-06-29    15.77
Name: Close, dtype: float64 Date
2018-09-27    17.379999
2018-09-28    17.450001
Name: Close, dtype: float64
20180930

Date
2018-10-01    17.379999
Name: Close, dtype: float64 Date
2018-12-31    29.959999
Name: Close, dtype: float64
20181231
error
20160331
Date
2016-03-30    10.397795
2016-03-31    10.304801
Name: Close, dtype: float64 Date
2016-06-28    10.113003
2016-06-29    10.333861
Name: Close, dtype: float64
20160630
Date
2016-06-29    10.333861
2016-06-30    10.618653
Name: Close, dtype: float64 Date
2016-09-27    13.321266
2016-09-28    13.391011
Name: Close, dtype: float64
20160930
Date
2016-09-29    13.309642
2016-09-30    13.222461
Name: Close, dtype: float64 Date
2016-12-28    13.542125
2016-12-29    13.565372
Name: Close, dtype: float64
20161231
Date
2016-12-30    13.449131
Name: Close, dtype: float64 Date
2017-03-30    13.728111
2017-03-31    13.774608
Name: Close, dtype: float64
20170331
Date
2017-03-30    13.728111
2017-03-31    13.774608
Name: Close, dtype: float64 Date
2017-06-28    13.110939
2017-06-29    12.916990
Name: Close, dtype: float64
20170630
Date
2017-06-29    12.916990
2017-06-30    12.870442
Name: Close, dtype: float64 Date
2017-09-27    14.85
2017-09-28    14.57
Name: Close, dtype: float64
20170930
Date
2017-09-29    14.71
Name: Close, dtype: float64 Date
2017-12-28    14.61
2017-12-29    14.36
Name: Close, dtype: float64
20171231
Date
2018-01-02    14.61
Name: Close, dtype: float64 Date
2018-04-02    17.120001
Name: Close, dtype: float64
20180331
Date
2018-04-02    17.120001
Name: Close, dtype: float64 Date
2018-07-02    14.8
Name: Close, dtype: float64
20180630
Date
2018-06-29    14.61
Name: Close, dtype: float64 Date
2018-09-27    16.280001
2018-09-28    16.309999
Name: Close, dtype: float64
20180930
Date
2018-10-01    16.18
Name: Close, dtype: float64 Date
2018-12-31    13.21
Name: Close, dtype: float64
20181231
Date
2018-12-31    13.21
Name: Close, dtype: float64 Date
2019-04-01    15.9
Name: Close, dtype: float64
20190331
Date
2019-04-01    15.9
Name: Close, dtype: float64 Date
2019-07-01    15.14
Name: Close, dtype: float64
20190630
Date
2019-07-01    15.14
Name: Close, dtype: float64 Date
2019-09-30    15.17
Name: Close, dtype: float64
20190930
Date
2019-09-30    15.17
Name: Close, dtype: float64 Date
2019-12-30    15.78
Name: Close, dtype: float64
20191231
Date
2019-12-30    15.78
2019-12-31    15.86
Name: Close, dtype: float64 Date
2020-03-30    10.05
Name: Close, dtype: float64
20190930
Date
2019-09-30    22.75
Name: Close, dtype: float64 Date
2019-12-30    27.27
Name: Close, dtype: float64
20191231
Date
2019-12-30    27.270
2019-12-31    22.195
Name: Close, dtype: float64 Date
2020-03-30    17.18
Name: Close, dtype: float64
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20160630
error
20160930
error
20161231
error
20170331
error
20170630
error
20170930
error
20171231
error
20180331
error
20180630
error
20180930
error
20181231
error
20190331
error
20190630
error
20190930
error
20191231
error
20030331
Date
2003-03-31    21
Name: Close, dtype: int64 Date
2003-06-30    24.5
Name: Close, dtype: float64
20030630
Date
2003-06-30    24.5
Name: Close, dtype: float64 Date
2003-09-29    26.5
Name: Close, dtype: float64
20030930
Date
2003-09-29    26.5
2003-09-30    26.5
Name: Close, dtype: float64 Date
2003-12-29    26.9
Name: Close, dtype: float64
20031231
Date
2003-12-30    26.870001
2003-12-31    26.799999
Name: Close, dtype: float64 Date
2004-03-29    27.270000
2004-03-30    27.360001
Name: Close, dtype: float64
20040331
Date
2004-03-30    27.360001
2004-03-31    27.270000
Name: Close, dtype: float64 Date
2004-06-28    26.74
2004-06-29    26.77
Name: Close, dtype: float64
20040630
Date
2004-06-29    26.770000
2004-06-30    26.879999
Name: Close, dtype: float64 Date
2004-09-27    25.889999
2004-09-28    26.620001
Name: Close, dtype: float64
20040930
Date
2004-09-29    26.250000
2004-09-30    26.290001
Name: Close, dtype: float64 Date
2004-12-28    30.08
2004-12-29    30.07
Name: Close, dtype: float64
20041231
Date
2004-12-30    29.959999
2004-12-31    29.889999
Name: Close, dtype: float64 Date
2005-03-30    28.450001
2005-03-31    29.020000
Name: Close, dtype: float64
20050331
Date
2005-03-30    28.450001
2005-03-31    29.020000
Name: Close, dtype: float64 Date
2005-06-28    31.350000
2005-06-29    30.860001
Name: Close, dtype: float64
20050630
Date
2005-06-29    30.860001
2005-06-30    30.770000
Name: Close, dtype: float64 Date
2005-09-27    29.370001
2005-09-28    29.590000
Name: Close, dtype: float64
20050930
Date
2005-09-29    29.65
2005-09-30    29.75
Name: Close, dtype: float64 Date
2005-12-28    30.049999
2005-12-29    30.070000
Name: Close, dtype: float64
20051231
Date
2005-12-30    29.77
Name: Close, dtype: float64 Date
2006-03-30    32.330002
2006-03-31    32.400002
Name: Close, dtype: float64
20060331
Date
2006-03-30    32.330002
2006-03-31    32.400002
Name: Close, dtype: float64 Date
2006-06-28    36.790001
2006-06-29    36.830002
Name: Close, dtype: float64
20060630
Date
2006-06-29    36.830002
2006-06-30    37.110001
Name: Close, dtype: float64 Date
2006-09-27    36.270000
2006-09-28    35.950001
Name: Close, dtype: float64
20060930
Date
2006-09-29    36.5
Name: Close, dtype: float64 Date
2006-12-28    39.189999
2006-12-29    38.889999
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    38.950001
Name: Close, dtype: float64 Date
2007-06-28    38.279999
2007-06-29    38.810001
Name: Close, dtype: float64
20070630
Date
2007-06-29    38.810001
Name: Close, dtype: float64 Date
2007-09-27    37.169998
2007-09-28    37.000000
Name: Close, dtype: float64
20070930
Date
2007-10-01    36.900002
Name: Close, dtype: float64 Date
2007-12-31    35.73
Name: Close, dtype: float64
20071231
Date
2007-12-31    35.73
Name: Close, dtype: float64 Date
2008-03-31    33.950001
Name: Close, dtype: float64
20080331
Date
2008-03-31    33.950001
Name: Close, dtype: float64 Date
2008-06-30    33.459999
Name: Close, dtype: float64
20080630
Date
2008-06-30    33.459999
Name: Close, dtype: float64 Date
2008-09-29    37.75
Name: Close, dtype: float64
20080930
Date
2008-09-29    37.750000
2008-09-30    38.599998
Name: Close, dtype: float64 Date
2008-12-29    28.75
Name: Close, dtype: float64
20081231
Date
2008-12-30    29.50
2008-12-31    30.01
Name: Close, dtype: float64 Date
2009-03-30    27.000000
2009-03-31    27.360001
Name: Close, dtype: float64
20090331
Date
2009-03-30    27.000000
2009-03-31    27.360001
Name: Close, dtype: float64 Date
2009-06-29    29.690001
Name: Close, dtype: float64
20090630
Date
2009-06-29    29.690001
2009-06-30    29.420000
Name: Close, dtype: float64 Date
2009-09-28    32.799999
Name: Close, dtype: float64
20090930
Date
2009-09-29    32.910000
2009-09-30    32.619999
Name: Close, dtype: float64 Date
2009-12-28    34.270000
2009-12-29    34.040001
Name: Close, dtype: float64
20091231
Date
2009-12-30    34.200001
2009-12-31    33.799999
Name: Close, dtype: float64 Date
2010-03-30    35.630001
2010-03-31    35.349998
Name: Close, dtype: float64
20100331
Date
2010-03-30    35.630001
2010-03-31    35.349998
Name: Close, dtype: float64 Date
2010-06-28    36.560001
2010-06-29    36.029999
Name: Close, dtype: float64
20100630
Date
2010-06-29    36.029999
2010-06-30    35.830002
Name: Close, dtype: float64 Date
2010-09-27    36.230000
2010-09-28    36.450001
Name: Close, dtype: float64
20100930
Date
2010-09-29    36.02
2010-09-30    35.75
Name: Close, dtype: float64 Date
2010-12-28    34.549999
2010-12-29    34.650002
Name: Close, dtype: float64
20101231
Date
2010-12-30    34.560001
2010-12-31    34.750000
Name: Close, dtype: float64 Date
2011-03-30    33.270000
2011-03-31    33.110001
Name: Close, dtype: float64
20110331
Date
2011-03-30    33.270000
2011-03-31    33.110001
Name: Close, dtype: float64 Date
2011-06-28    33.740002
2011-06-29    34.680000
Name: Close, dtype: float64
20110630

Date
2011-06-29    34.680000
2011-06-30    34.549999
Name: Close, dtype: float64 Date
2011-09-27    32.369999
2011-09-28    31.910000
Name: Close, dtype: float64
20110930
Date
2011-09-29    32.270000
2011-09-30    32.369999
Name: Close, dtype: float64 Date
2011-12-28    33.169998
2011-12-29    33.490002
Name: Close, dtype: float64
20111231
Date
2011-12-30    33.240002
Name: Close, dtype: float64 Date
2012-03-29    33.180000
2012-03-30    33.849998
Name: Close, dtype: float64
20120331
Date
2012-03-30    33.849998
Name: Close, dtype: float64 Date
2012-06-28    32.520000
2012-06-29    33.380001
Name: Close, dtype: float64
20120630
Date
2012-06-29    33.380001
Name: Close, dtype: float64 Date
2012-09-27    34.75
2012-09-28    34.82
Name: Close, dtype: float64
20120930
Date
2012-10-01    35.040001
Name: Close, dtype: float64 Date
2012-12-31    34.889999
Name: Close, dtype: float64
20121231
Date
2012-12-31    34.889999
Name: Close, dtype: float64 Date
2013-04-01    45.75
Name: Close, dtype: float64
20130331
Date
2013-04-01    45.75
Name: Close, dtype: float64 Date
2013-07-01    45.150002
Name: Close, dtype: float64
20130630
Date
2013-07-01    45.150002
Name: Close, dtype: float64 Date
2013-09-30    40.709999
Name: Close, dtype: float64
20130930
Date
2013-09-30    40.709999
Name: Close, dtype: float64 Date
2013-12-30    43.369999
Name: Close, dtype: float64
20131231
Date
2013-12-30    43.369999
2013-12-31    43.279999
Name: Close, dtype: float64 Date
2014-03-31    44.880001
Name: Close, dtype: float64
20140331
Date
2014-03-31    44.880001
Name: Close, dtype: float64 Date
2014-06-30    45.810001
Name: Close, dtype: float64
20140630
Date
2014-06-30    45.810001
Name: Close, dtype: float64 Date
2014-09-29    42.849998
Name: Close, dtype: float64
20140930
Date
2014-09-29    42.849998
2014-09-30    42.730000
Name: Close, dtype: float64 Date
2014-12-29    44.849998
Name: Close, dtype: float64
20141231
Date
2014-12-30    44.59
2014-12-31    44.00
Name: Close, dtype: float64 Date
2015-03-30    46.450001
2015-03-31    46.549999
Name: Close, dtype: float64
20150331
Date
2015-03-30    46.450001
2015-03-31    46.549999
Name: Close, dtype: float64 Date
2015-06-29    47.009998
Name: Close, dtype: float64
20150630
Date
2015-06-29    47.009998
2015-06-30    47.650002
Name: Close, dtype: float64 Date
2015-09-28    50.799999
Name: Close, dtype: float64
20150930
Date
2015-09-29    50.59
2015-09-30    50.68
Name: Close, dtype: float64 Date
2015-12-28    53.59
2015-12-29    53.68
Name: Close, dtype: float64
20151231
Date
2015-12-30    53.209999
2015-12-31    52.549999
Name: Close, dtype: float64 Date
2016-03-29    64.169998
2016-03-30    64.160004
Name: Close, dtype: float64
20160331
Date
2016-03-30    64.160004
2016-03-31    63.790001
Name: Close, dtype: float64 Date
2016-06-28    62.75
2016-06-29    62.82
Name: Close, dtype: float64
20160630
Date
2016-06-29    62.820000
2016-06-30    66.529999
Name: Close, dtype: float64 Date
2016-09-27    54.610001
2016-09-28    54.930000
Name: Close, dtype: float64
20160930
Date
2016-09-29    54.380001
2016-09-30    54.700001
Name: Close, dtype: float64 Date
2016-12-28    60.529999
2016-12-29    60.950001
Name: Close, dtype: float64
20161231
Date
2016-12-30    60.470001
Name: Close, dtype: float64 Date
2017-03-30    57.110001
2017-03-31    57.240002
Name: Close, dtype: float64
20170331
Date
2017-03-30    57.110001
2017-03-31    57.240002
Name: Close, dtype: float64 Date
2017-06-28    52.889999
2017-06-29    51.990002
Name: Close, dtype: float64
20170630
Date
2017-06-29    51.990002
2017-06-30    52.150002
Name: Close, dtype: float64 Date
2017-09-27    47.049999
2017-09-28    47.049999
Name: Close, dtype: float64
20170930
Date
2017-09-29    46.82
Name: Close, dtype: float64 Date
2017-12-28    48.459999
2017-12-29    48.110001
Name: Close, dtype: float64
20171231
Date
2018-01-02    47.389999
Name: Close, dtype: float64 Date
2018-04-02    42.25
Name: Close, dtype: float64
20180331
Date
2018-04-02    42.25
Name: Close, dtype: float64 Date
2018-07-02    40.290001
Name: Close, dtype: float64
20180630
Date
2018-06-29    40.540001
Name: Close, dtype: float64 Date
2018-09-27    36.860001
2018-09-28    36.630001
Name: Close, dtype: float64
20180930
Date
2018-10-01    36.34
Name: Close, dtype: float64 Date
2018-12-31    32.990002
Name: Close, dtype: float64
20181231
Date
2018-12-31    32.990002
Name: Close, dtype: float64 Date
2019-04-01    37.849998
Name: Close, dtype: float64
20190331
Date
2019-04-01    37.849998
Name: Close, dtype: float64 Date
2019-07-01    40.119999
Name: Close, dtype: float64
20190630
Date
2019-07-01    40.119999
Name: Close, dtype: float64 Date
2019-09-30    46.919998
Name: Close, dtype: float64
20190930
Date
2019-09-30    46.919998
Name: Close, dtype: float64 Date
2019-12-30    49.25
Name: Close, dtype: float64
20191231
Date
2019-12-30    49.250000
2019-12-31    49.419998
Name: Close, dtype: float64 Date
2020-03-30    46.529999
Name: Close, dtype: float64
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20111231
error
20120331
error
20120630
error
20120930
error
20121231
error
20130331
error
20130630
error
20060630
error
20060930
error
20061231
error
20070331
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20101231
error
20110331
error
20110630
error
20110930
error
20070630
error
20070930
error
20071231
error
20080331
error
20080630
error
20080930
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20100331
error
20100630
error
20100930
error
20030331
Date
2003-03-31    13.73
Name: Close, dtype: float64 Date
2003-06-30    19.51
Name: Close, dtype: float64
20030630
Date
2003-06-30    19.51
Name: Close, dtype: float64 Date
2003-09-29    20.01
Name: Close, dtype: float64
20030930
Date
2003-09-29    20.010
2003-09-30    19.725
Name: Close, dtype: float64 Date
2003-12-29    28.85
Name: Close, dtype: float64
20031231
Date
2003-12-30    28.625000
2003-12-31    28.530001
Name: Close, dtype: float64 Date
2004-03-29    26.830000
2004-03-30    26.629999
Name: Close, dtype: float64
20040331
Date
2004-03-30    26.629999
2004-03-31    26.575001
Name: Close, dtype: float64 Date
2004-06-28    28.990000
2004-06-29    29.549999
Name: Close, dtype: float64
20040630
Date
2004-06-29    29.549999
2004-06-30    29.674999
Name: Close, dtype: float64 Date
2004-09-27    30.639999
2004-09-28    31.465000
Name: Close, dtype: float64
20040930
Date
2004-09-29    31.700001
2004-09-30    32.134998
Name: Close, dtype: float64 Date
2004-12-28    36.830002
2004-12-29    36.875000
Name: Close, dtype: float64
20041231
Date
2004-12-30    36.750000
2004-12-31    36.900002
Name: Close, dtype: float64 Date
2005-03-30    37.310001
2005-03-31    37.310001
Name: Close, dtype: float64
20050331
Date
2005-03-30    37.310001
2005-03-31    37.310001
Name: Close, dtype: float64 Date
2005-06-28    38.099998
2005-06-29    38.150002
Name: Close, dtype: float64
20050630
Date
2005-06-29    38.150002
2005-06-30    37.924999
Name: Close, dtype: float64 Date
2005-09-27    34.380001
2005-09-28    34.360001
Name: Close, dtype: float64
20050930
Date
2005-09-29    35.014999
2005-09-30    35.860001
Name: Close, dtype: float64 Date
2005-12-28    38.849998
2005-12-29    38.764999
Name: Close, dtype: float64
20051231
Date
2005-12-30    38.490002
Name: Close, dtype: float64 Date
2006-03-30    47.165001
2006-03-31    46.695000
Name: Close, dtype: float64
20060331
Date
2006-03-30    47.165001
2006-03-31    46.695000
Name: Close, dtype: float64 Date
2006-06-28    44.130001
2006-06-29    45.869999
Name: Close, dtype: float64
20060630
Date
2006-06-29    45.869999
2006-06-30    46.090000
Name: Close, dtype: float64 Date
2006-09-27    42.345001
2006-09-28    43.255001
Name: Close, dtype: float64
20060930
Date
2006-09-29    43.75
Name: Close, dtype: float64 Date
2006-12-28    47.465000
2006-12-29    46.884998
Name: Close, dtype: float64
20061231

error
20070331
Date
2007-03-30    44.900002
Name: Close, dtype: float64 Date
2007-06-28    55.375
2007-06-29    55.055
Name: Close, dtype: float64
20070630
Date
2007-06-29    55.055
Name: Close, dtype: float64 Date
2007-09-27    62.049999
2007-09-28    62.209999
Name: Close, dtype: float64
20070930
Date
2007-10-01    63.349998
Name: Close, dtype: float64 Date
2007-12-31    71.300003
Name: Close, dtype: float64
20071231
Date
2007-12-31    71.300003
Name: Close, dtype: float64 Date
2008-03-31    55.419998
Name: Close, dtype: float64
20080331
Date
2008-03-31    55.419998
Name: Close, dtype: float64 Date
2008-06-30    47.93
Name: Close, dtype: float64
20080630
Date
2008-06-30    47.93
Name: Close, dtype: float64 Date
2008-09-29    27.5
Name: Close, dtype: float64
20080930
Date
2008-09-29    27.500000
2008-09-30    29.280001
Name: Close, dtype: float64 Date
2008-12-29    12.75
Name: Close, dtype: float64
20081231
Date
2008-12-30    12.89
2008-12-31    13.87
Name: Close, dtype: float64 Date
2009-03-30    5.53
2009-03-31    5.74
Name: Close, dtype: float64
20090331
Date
2009-03-30    5.53
2009-03-31    5.74
Name: Close, dtype: float64 Date
2009-06-29    9.88
Name: Close, dtype: float64
20090630
Date
2009-06-29    9.88
2009-06-30    9.66
Name: Close, dtype: float64 Date
2009-09-28    18.59
Name: Close, dtype: float64
20090930
Date
2009-09-29    18.709999
2009-09-30    18.980000
Name: Close, dtype: float64 Date
2009-12-28    19.25
2009-12-29    19.01
Name: Close, dtype: float64
20091231
Date
2009-12-30    19.020000
2009-12-31    18.809999
Name: Close, dtype: float64 Date
2010-03-30    21.559999
2010-03-31    21.230000
Name: Close, dtype: float64
20100331
Date
2010-03-30    21.559999
2010-03-31    21.230000
Name: Close, dtype: float64 Date
2010-06-28    18.660000
2010-06-29    16.799999
Name: Close, dtype: float64
20100630
Date
2010-06-29    16.799999
2010-06-30    16.969999
Name: Close, dtype: float64 Date
2010-09-27    20.760000
2010-09-28    20.879999
Name: Close, dtype: float64
20100930
Date
2010-09-29    20.680000
2010-09-30    20.559999
Name: Close, dtype: float64 Date
2010-12-28    23.889999
2010-12-29    23.639999
Name: Close, dtype: float64
20101231
Date
2010-12-30    23.570000
2010-12-31    23.639999
Name: Close, dtype: float64 Date
2011-03-30    27.150000
2011-03-31    27.389999
Name: Close, dtype: float64
20110331
Date
2011-03-30    27.150000
2011-03-31    27.389999
Name: Close, dtype: float64 Date
2011-06-28    22.690001
2011-06-29    23.209999
Name: Close, dtype: float64
20110630
Date
2011-06-29    23.209999
2011-06-30    23.610001
Name: Close, dtype: float64 Date
2011-09-27    18.690001
2011-09-28    18.200001
Name: Close, dtype: float64
20110930
Date
2011-09-29    18.230000
2011-09-30    17.639999
Name: Close, dtype: float64 Date
2011-12-28    18.16
2011-12-29    18.34
Name: Close, dtype: float64
20111231
Date
2011-12-30    18.49
Name: Close, dtype: float64 Date
2012-03-29    27.969999
2012-03-30    27.830000
Name: Close, dtype: float64
20120331
Date
2012-03-30    27.83
Name: Close, dtype: float64 Date
2012-06-28    23.820000
2012-06-29    24.870001
Name: Close, dtype: float64
20120630
Date
2012-06-29    24.870001
Name: Close, dtype: float64 Date
2012-09-27    26.379999
2012-09-28    26.170000
Name: Close, dtype: float64
20120930
Date
2012-10-01    26.459999
Name: Close, dtype: float64 Date
2012-12-31    24.790001
Name: Close, dtype: float64
20121231
Date
2012-12-31    24.790001
Name: Close, dtype: float64 Date
2013-04-01    29.190001
Name: Close, dtype: float64
20130331
Date
2013-04-01    29.190001
Name: Close, dtype: float64 Date
2013-07-01    26.18
Name: Close, dtype: float64
20130630
Date
2013-07-01    26.18
Name: Close, dtype: float64 Date
2013-09-30    27.610001
Name: Close, dtype: float64
20130930
Date
2013-09-30    27.610001
Name: Close, dtype: float64 Date
2013-12-30    36.43
Name: Close, dtype: float64
20131231
Date
2013-12-30    36.430000
2013-12-31    36.759998
Name: Close, dtype: float64 Date
2014-03-31    39.290001
Name: Close, dtype: float64
20140331
Date
2014-03-31    39.290001
Name: Close, dtype: float64 Date
2014-06-30    38.290001
Name: Close, dtype: float64
20140630
Date
2014-06-30    38.290001
Name: Close, dtype: float64 Date
2014-09-29    36.360001
Name: Close, dtype: float64
20140930
Date
2014-09-29    36.360001
2014-09-30    35.990002
Name: Close, dtype: float64 Date
2014-12-29    43.099998
Name: Close, dtype: float64
20141231
Date
2014-12-30    42.689999
2014-12-31    42.110001
Name: Close, dtype: float64 Date
2015-03-30    45.070000
2015-03-31    44.330002
Name: Close, dtype: float64
20150331
Date
2015-03-30    45.070000
2015-03-31    44.330002
Name: Close, dtype: float64 Date
2015-06-29    44.540001
Name: Close, dtype: float64
20150630
Date
2015-06-29    44.540001
2015-06-30    44.630001
Name: Close, dtype: float64 Date
2015-09-28    37.490002
Name: Close, dtype: float64
20150930
Date
2015-09-29    37.430000
2015-09-30    37.639999
Name: Close, dtype: float64 Date
2015-12-28    42.560001
2015-12-29    42.980000
Name: Close, dtype: float64
20151231
Date
2015-12-30    42.450001
2015-12-31    42.009998
Name: Close, dtype: float64 Date
2016-03-29    36.150002
2016-03-30    36.320000
Name: Close, dtype: float64
20160331
Date
2016-03-30    36.320000
2016-03-31    36.459999
Name: Close, dtype: float64 Date
2016-06-28    34.520000
2016-06-29    35.029999
Name: Close, dtype: float64
20160630
Date
2016-06-29    35.029999
2016-06-30    36.560001
Name: Close, dtype: float64 Date
2016-09-27    39.59
2016-09-28    40.18
Name: Close, dtype: float64
20160930
Date
2016-09-29    39.50
2016-09-30    39.75
Name: Close, dtype: float64 Date
2016-12-28    48.520000
2016-12-29    48.580002
Name: Close, dtype: float64
20161231
Date
2016-12-30    48.560001
Name: Close, dtype: float64 Date
2017-03-30    47.32
2017-03-31    47.59
Name: Close, dtype: float64
20170331
Date
2017-03-30    47.32
2017-03-31    47.59
Name: Close, dtype: float64 Date
2017-06-28    46.980000
2017-06-29    46.639999
Name: Close, dtype: float64
20170630
Date
2017-06-29    46.639999
2017-06-30    47.099998
Name: Close, dtype: float64 Date
2017-09-27    53.959999
2017-09-28    53.580002
Name: Close, dtype: float64
20170930
Date
2017-09-29    53.880001
Name: Close, dtype: float64 Date
2017-12-28    57.00
2017-12-29    56.59
Name: Close, dtype: float64
20171231
Date
2018-01-02    57.299999
Name: Close, dtype: float64 Date
2018-04-02    57.650002
Name: Close, dtype: float64
20180331
Date
2018-04-02    57.650002
Name: Close, dtype: float64 Date
2018-07-02    66.139999
Name: Close, dtype: float64
20180630
Date
2018-06-29    65.910004
Name: Close, dtype: float64 Date
2018-09-27    71.500000
2018-09-28    71.470001
Name: Close, dtype: float64
20180930
Date
2018-10-01    71.769997
Name: Close, dtype: float64 Date
2018-12-31    45.990002
Name: Close, dtype: float64
20181231
Date
2018-12-31    45.990002
Name: Close, dtype: float64 Date
2019-04-01    51.580002
Name: Close, dtype: float64
20190331
Date
2019-04-01    51.580002
Name: Close, dtype: float64 Date
2019-07-01    53.130001
Name: Close, dtype: float64
20190630
Date
2019-07-01    53.130001
Name: Close, dtype: float64 Date
2019-09-30    48.959999
Name: Close, dtype: float64
20190930
Date
2019-09-30    48.959999
Name: Close, dtype: float64 Date
2019-12-30    44.490002
Name: Close, dtype: float64
20191231
Date
2019-12-30    44.490002
2019-12-31    44.599998
Name: Close, dtype: float64 Date
2020-03-30    27.67
Name: Close, dtype: float64
20130930
error
20131231
error
20140331
error
20140630
error
20140930
error
20141231
error
20150331
error
20150630
error
20150930
error
20151231
error
20160331
error
20080331
error
20080630
error
20080930
error
20081231
error
20090331
error
20090630
error
20090930
error
20091231
error
20030630
Date
2003-06-30    11.01
Name: Close, dtype: float64 Date
2003-09-29    12.095
Name: Close, dtype: float64
20030930
Date
2003-09-29    12.095
2003-09-30    12.135
Name: Close, dtype: float64 Date
2003-12-29    14.985
Name: Close, dtype: float64
20031231
Date
2003-12-30    14.97
2003-12-31    14.87
Name: Close, dtype: float64 Date
2004-03-29    13.975
2004-03-30    14.115
Name: Close, dtype: float64
20040331

Date
2004-03-30    14.115
2004-03-31    14.220
Name: Close, dtype: float64 Date
2004-06-28    13.850
2004-06-29    14.205
Name: Close, dtype: float64
20040630
Date
2004-06-29    14.205
2004-06-30    14.200
Name: Close, dtype: float64 Date
2004-09-27    13.195
2004-09-28    13.485
Name: Close, dtype: float64
20040930
Date
2004-09-29    13.61
2004-09-30    13.70
Name: Close, dtype: float64 Date
2004-12-28    14.275
2004-12-29    14.300
Name: Close, dtype: float64
20041231
Date
2004-12-30    14.225
2004-12-31    14.255
Name: Close, dtype: float64 Date
2005-03-30    14.47
2005-03-31    14.50
Name: Close, dtype: float64
20050331
Date
2005-03-30    14.47
2005-03-31    14.50
Name: Close, dtype: float64 Date
2005-06-28    16.924999
2005-06-29    17.094999
Name: Close, dtype: float64
20050630
Date
2005-06-29    17.094999
2005-06-30    17.030001
Name: Close, dtype: float64 Date
2005-09-27    15.030
2005-09-28    15.165
Name: Close, dtype: float64
20050930
Date
2005-09-29    15.445
2005-09-30    15.540
Name: Close, dtype: float64 Date
2005-12-28    16.375
2005-12-29    16.385
Name: Close, dtype: float64
20051231
Date
2005-12-30    16.035
Name: Close, dtype: float64 Date
2006-03-30    25.245001
2006-03-31    25.670000
Name: Close, dtype: float64
20060331
Date
2006-03-30    25.245001
2006-03-31    25.670000
Name: Close, dtype: float64 Date
2006-06-28    20.195000
2006-06-29    20.575001
Name: Close, dtype: float64
20060630
Date
2006-06-29    20.575001
2006-06-30    21.785000
Name: Close, dtype: float64 Date
2006-09-27    25.120001
2006-09-28    23.570000
Name: Close, dtype: float64
20060930
Date
2006-09-29    23.440001
Name: Close, dtype: float64 Date
2006-12-28    26.35
2006-12-29    25.82
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    27.27
Name: Close, dtype: float64 Date
2007-06-28    29.820000
2007-06-29    29.889999
Name: Close, dtype: float64
20070630
Date
2007-06-29    29.889999
Name: Close, dtype: float64 Date
2007-09-27    30.450001
2007-09-28    29.680000
Name: Close, dtype: float64
20070930
Date
2007-10-01    30.67
Name: Close, dtype: float64 Date
2007-12-31    22.450001
Name: Close, dtype: float64
20071231
Date
2007-12-31    22.450001
Name: Close, dtype: float64 Date
2008-03-31    20.41
Name: Close, dtype: float64
20080331
Date
2008-03-31    20.41
Name: Close, dtype: float64 Date
2008-06-30    22.440001
Name: Close, dtype: float64
20080630
Date
2008-06-30    22.440001
Name: Close, dtype: float64 Date
2008-09-29    21.42
Name: Close, dtype: float64
20080930
Date
2008-09-29    21.420000
2008-09-30    20.870001
Name: Close, dtype: float64 Date
2008-12-29    14.59
Name: Close, dtype: float64
20081231
Date
2008-12-30    15.580000
2008-12-31    16.110001
Name: Close, dtype: float64 Date
2009-03-30    12.97
2009-03-31    13.00
Name: Close, dtype: float64
20090331
Date
2009-03-30    12.97
2009-03-31    13.00
Name: Close, dtype: float64 Date
2009-06-29    18.620001
Name: Close, dtype: float64
20090630
Date
2009-06-29    18.620001
2009-06-30    18.770000
Name: Close, dtype: float64 Date
2009-09-28    20.709999
Name: Close, dtype: float64
20090930
Date
2009-09-29    20.84
2009-09-30    20.90
Name: Close, dtype: float64 Date
2009-12-28    22.799999
2009-12-29    22.930000
Name: Close, dtype: float64
20091231
Date
2009-12-30    23.26
2009-12-31    22.75
Name: Close, dtype: float64 Date
2010-03-30    23.320000
2010-03-31    23.209999
Name: Close, dtype: float64
20100331
Date
2010-03-30    23.320000
2010-03-31    23.209999
Name: Close, dtype: float64 Date
2010-06-28    19.950001
2010-06-29    19.309999
Name: Close, dtype: float64
20100630
Date
2010-06-29    19.309999
2010-06-30    18.990000
Name: Close, dtype: float64 Date
2010-09-27    19.969999
2010-09-28    20.000000
Name: Close, dtype: float64
20100930
Date
2010-09-29    20.000000
2010-09-30    19.870001
Name: Close, dtype: float64 Date
2010-12-28    20.830000
2010-12-29    20.860001
Name: Close, dtype: float64
20101231
Date
2010-12-30    20.75
2010-12-31    20.52
Name: Close, dtype: float64 Date
2011-03-30    21.32
2011-03-31    21.48
Name: Close, dtype: float64
20110331
Date
2011-03-30    21.32
2011-03-31    21.48
Name: Close, dtype: float64 Date
2011-06-28    24.219999
2011-06-29    24.150000
Name: Close, dtype: float64
20110630
Date
2011-06-29    24.15
2011-06-30    24.42
Name: Close, dtype: float64 Date
2011-09-27    19.299999
2011-09-28    18.309999
Name: Close, dtype: float64
20110930
Date
2011-09-29    18.629999
2011-09-30    18.219999
Name: Close, dtype: float64 Date
2011-12-28    22.700001
2011-12-29    23.120001
Name: Close, dtype: float64
20111231
Date
2011-12-30    23.110001
Name: Close, dtype: float64 Date
2012-03-29    32.919998
2012-03-30    32.830002
Name: Close, dtype: float64
20120331
Date
2012-03-30    32.830002
Name: Close, dtype: float64 Date
2012-06-28    30.299999
2012-06-29    30.700001
Name: Close, dtype: float64
20120630
Date
2012-06-29    30.700001
Name: Close, dtype: float64 Date
2012-09-27    30.219999
2012-09-28    30.680000
Name: Close, dtype: float64
20120930
Date
2012-10-01    30.700001
Name: Close, dtype: float64 Date
2012-12-31    34.82
Name: Close, dtype: float64
20121231
Date
2012-12-31    34.82
Name: Close, dtype: float64 Date
2013-04-01    38.68
Name: Close, dtype: float64
20130331
Date
2013-04-01    38.68
Name: Close, dtype: float64 Date
2013-07-01    39.299999
Name: Close, dtype: float64
20130630
Date
2013-07-01    39.299999
Name: Close, dtype: float64 Date
2013-09-30    45.189999
Name: Close, dtype: float64
20130930
Date
2013-09-30    45.189999
Name: Close, dtype: float64 Date
2013-12-30    51.009998
Name: Close, dtype: float64
20131231
Date
2013-12-30    51.009998
2013-12-31    52.040001
Name: Close, dtype: float64 Date
2014-03-31    48.279999
Name: Close, dtype: float64
20140331
Date
2014-03-31    48.279999
Name: Close, dtype: float64 Date
2014-06-30    48.099998
Name: Close, dtype: float64
20140630
Date
2014-06-30    48.099998
Name: Close, dtype: float64 Date
2014-09-29    40.330002
Name: Close, dtype: float64
20140930
Date
2014-09-29    40.330002
2014-09-30    39.700001
Name: Close, dtype: float64 Date
2014-12-29    45.740002
Name: Close, dtype: float64
20141231
Date
2014-12-30    45.360001
2014-12-31    44.529999
Name: Close, dtype: float64 Date
2015-03-30    43.750000
2015-03-31    42.869999
Name: Close, dtype: float64
20150331
Date
2015-03-30    43.750000
2015-03-31    42.869999
Name: Close, dtype: float64 Date
2015-06-29    41.150002
Name: Close, dtype: float64
20150630
Date
2015-06-29    41.150002
2015-06-30    40.619999
Name: Close, dtype: float64 Date
2015-09-28    32.73
Name: Close, dtype: float64
20150930
Date
2015-09-29    33.320000
2015-09-30    33.939999
Name: Close, dtype: float64 Date
2015-12-28    37.060001
2015-12-29    37.070000
Name: Close, dtype: float64
20151231
Date
2015-12-30    36.840000
2015-12-31    36.470001
Name: Close, dtype: float64 Date
2016-03-29    42.349998
2016-03-30    42.740002
Name: Close, dtype: float64
20160331
Date
2016-03-30    42.740002
2016-03-31    42.450001
Name: Close, dtype: float64 Date
2016-06-28    42.110001
2016-06-29    42.880001
Name: Close, dtype: float64
20160630
Date
2016-06-29    42.880001
2016-06-30    43.990002
Name: Close, dtype: float64 Date
2016-09-27    45.799999
2016-09-28    46.490002
Name: Close, dtype: float64
20160930
Date
2016-09-29    46.040001
2016-09-30    46.470001
Name: Close, dtype: float64 Date
2016-12-28    48.23
2016-12-29    48.50
Name: Close, dtype: float64
20161231
Date
2016-12-30    48.310001
Name: Close, dtype: float64 Date
2017-03-30    52.970001
2017-03-31    51.560001
Name: Close, dtype: float64
20170331
Date
2017-03-30    52.970001
2017-03-31    51.560001
Name: Close, dtype: float64 Date
2017-06-28    53.669998
2017-06-29    51.130001
Name: Close, dtype: float64
20170630
Date
2017-06-29    51.130001
2017-06-30    51.110001
Name: Close, dtype: float64 Date
2017-09-27    56.770000
2017-09-28    58.259998
Name: Close, dtype: float64
20170930
Date
2017-09-29    58.060001
Name: Close, dtype: float64 Date
2017-12-28    54.389999
2017-12-29    53.869999
Name: Close, dtype: float64
20171231
Date
2018-01-02    54.209999
Name: Close, dtype: float64 Date
2018-04-02    47.68
Name: Close, dtype: float64
20180331

Date
2018-04-02    47.68
Name: Close, dtype: float64 Date
2018-07-02    53.970001
Name: Close, dtype: float64
20180630
Date
2018-06-29    53.68
Name: Close, dtype: float64 Date
2018-09-27    52.889999
2018-09-28    51.669998
Name: Close, dtype: float64
20180930
Date
2018-10-01    52.639999
Name: Close, dtype: float64 Date
2018-12-31    42.669998
Name: Close, dtype: float64
20181231
Date
2018-12-31    42.669998
Name: Close, dtype: float64 Date
2019-04-01    49.509998
Name: Close, dtype: float64
20190331
Date
2019-04-01    49.509998
Name: Close, dtype: float64 Date
2019-07-01    46.549999
Name: Close, dtype: float64
20190630
Date
2019-07-01    46.549999
Name: Close, dtype: float64 Date
2019-09-30    46.560001
Name: Close, dtype: float64
20190930
Date
2019-09-30    46.560001
Name: Close, dtype: float64 Date
2019-12-30    51.790001
Name: Close, dtype: float64
20191231
Date
2019-12-30    51.790001
2019-12-31    51.570000
Name: Close, dtype: float64 Date
2020-03-30    27.65
Name: Close, dtype: float64
20191231
Date
2019-12-30    17.450001
2019-12-31    16.639999
Name: Close, dtype: float64 Date
2020-03-30    12.83
Name: Close, dtype: float64
20030331
error
20030331
Date
2003-03-31    12.992118
Name: Close, dtype: float64 Date
2003-06-30    14.439909
Name: Close, dtype: float64
20030630
Date
2003-06-30    14.439909
Name: Close, dtype: float64 Date
2003-09-29    14.788209
Name: Close, dtype: float64
20030930
Date
2003-09-29    14.788209
2003-09-30    14.657597
Name: Close, dtype: float64 Date
2003-12-29    15.869388
Name: Close, dtype: float64
20031231
Date
2003-12-30    15.891156
2003-12-31    15.891156
Name: Close, dtype: float64 Date
2004-03-29    15.927438
2004-03-30    15.985488
Name: Close, dtype: float64
20040331
Date
2004-03-30    15.985488
2004-03-31    16.159637
Name: Close, dtype: float64 Date
2004-06-28    15.443810
2004-06-29    15.535238
Name: Close, dtype: float64
20040630
Date
2004-06-29    15.535238
2004-06-30    15.352381
Name: Close, dtype: float64 Date
2004-09-27    16.091429
2004-09-28    16.076191
Name: Close, dtype: float64
20040930
Date
2004-09-29    16.320000
2004-09-30    16.304762
Name: Close, dtype: float64 Date
2004-12-28    17.851429
2004-12-29    17.874287
Name: Close, dtype: float64
20041231
Date
2004-12-30    17.897142
2004-12-31    17.760000
Name: Close, dtype: float64 Date
2005-03-30    16.342857
2005-03-31    16.601904
Name: Close, dtype: float64
20050331
Date
2005-03-30    16.342857
2005-03-31    16.601904
Name: Close, dtype: float64 Date
2005-06-28    16.952381
2005-06-29    17.019047
Name: Close, dtype: float64
20050630
Date
2005-06-29    17.019047
2005-06-30    17.142857
Name: Close, dtype: float64 Date
2005-09-27    15.895238
2005-09-28    15.885715
Name: Close, dtype: float64
20050930
Date
2005-09-29    15.961905
2005-09-30    15.980952
Name: Close, dtype: float64 Date
2005-12-28    16.761906
2005-12-29    16.752380
Name: Close, dtype: float64
20051231
Date
2005-12-30    16.761906
Name: Close, dtype: float64 Date
2006-03-30    16.266666
2006-03-31    16.371429
Name: Close, dtype: float64
20060331
Date
2006-03-30    16.266666
2006-03-31    16.371429
Name: Close, dtype: float64 Date
2006-06-28    15.71
2006-06-29    15.98
Name: Close, dtype: float64
20060630
Date
2006-06-29    15.98
2006-06-30    15.92
Name: Close, dtype: float64 Date
2006-09-27    16.379999
2006-09-28    16.379999
Name: Close, dtype: float64
20060930
Date
2006-09-29    16.190001
Name: Close, dtype: float64 Date
2006-12-28    16.740000
2006-12-29    16.700001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    14.53
Name: Close, dtype: float64 Date
2007-06-28    14.51
2007-06-29    14.42
Name: Close, dtype: float64
20070630
Date
2007-06-29    14.42
Name: Close, dtype: float64 Date
2007-09-27    14.85
2007-09-28    14.38
Name: Close, dtype: float64
20070930
Date
2007-10-01    14.62
Name: Close, dtype: float64 Date
2007-12-31    11.22
Name: Close, dtype: float64
20071231
Date
2007-12-31    11.22
Name: Close, dtype: float64 Date
2008-03-31    12.29
Name: Close, dtype: float64
20080331
Date
2008-03-31    12.29
Name: Close, dtype: float64 Date
2008-06-30    10.05
Name: Close, dtype: float64
20080630
Date
2008-06-30    10.05
Name: Close, dtype: float64 Date
2008-09-29    10.98
Name: Close, dtype: float64
20080930
Date
2008-09-29    10.98
2008-09-30    10.91
Name: Close, dtype: float64 Date
2008-12-29    8.95
Name: Close, dtype: float64
20081231
Date
2008-12-30    9.26
2008-12-31    9.62
Name: Close, dtype: float64 Date
2009-03-30    6.28
2009-03-31    6.63
Name: Close, dtype: float64
20090331
Date
2009-03-30    6.28
2009-03-31    6.63
Name: Close, dtype: float64 Date
2009-06-29    5.26
Name: Close, dtype: float64
20090630
Date
2009-06-29    5.26
2009-06-30    5.19
Name: Close, dtype: float64 Date
2009-09-28    7.34
Name: Close, dtype: float64
20090930
Date
2009-09-29    7.39
2009-09-30    7.40
Name: Close, dtype: float64 Date
2009-12-28    8.95
2009-12-29    8.90
Name: Close, dtype: float64
20091231
Date
2009-12-30    8.83
2009-12-31    8.72
Name: Close, dtype: float64 Date
2010-03-30    10.24
2010-03-31    10.20
Name: Close, dtype: float64
20100331
Date
2010-03-30    10.24
2010-03-31    10.20
Name: Close, dtype: float64 Date
2010-06-28    10.06
2010-06-29     9.75
Name: Close, dtype: float64
20100630
Date
2010-06-29    9.75
2010-06-30    9.65
Name: Close, dtype: float64 Date
2010-09-27    8.66
2010-09-28    8.84
Name: Close, dtype: float64
20100930
Date
2010-09-29    8.86
2010-09-30    9.06
Name: Close, dtype: float64 Date
2010-12-28    10.49
2010-12-29    10.56
Name: Close, dtype: float64
20101231
Date
2010-12-30    10.43
2010-12-31    10.34
Name: Close, dtype: float64 Date
2011-03-30    11.04
2011-03-31    11.11
Name: Close, dtype: float64
20110331
Date
2011-03-30    11.04
2011-03-31    11.11
Name: Close, dtype: float64 Date
2011-06-28    10.68
2011-06-29    10.83
Name: Close, dtype: float64
20110630
Date
2011-06-29    10.83
2011-06-30    10.71
Name: Close, dtype: float64 Date
2011-09-27    8.27
2011-09-28    7.83
Name: Close, dtype: float64
20110930
Date
2011-09-29    8.10
2011-09-30    7.65
Name: Close, dtype: float64 Date
2011-12-28    9.73
2011-12-29    9.92
Name: Close, dtype: float64
20111231
Date
2011-12-30    9.81
Name: Close, dtype: float64 Date
2012-03-29    10.51
2012-03-30    10.50
Name: Close, dtype: float64
20120331
Date
2012-03-30    10.5
Name: Close, dtype: float64 Date
2012-06-28    9.87
2012-06-29    9.99
Name: Close, dtype: float64
20120630
Date
2012-06-29    9.99
Name: Close, dtype: float64 Date
2012-09-27    9.85
2012-09-28    9.85
Name: Close, dtype: float64
20120930
Date
2012-10-01    9.89
Name: Close, dtype: float64 Date
2012-12-31    9.61
Name: Close, dtype: float64
20121231
Date
2012-12-31    9.61
Name: Close, dtype: float64 Date
2013-04-01    11.56
Name: Close, dtype: float64
20130331
Date
2013-04-01    11.56
Name: Close, dtype: float64 Date
2013-07-01    11.69
Name: Close, dtype: float64
20130630
Date
2013-07-01    11.69
Name: Close, dtype: float64 Date
2013-09-30    11.68
Name: Close, dtype: float64
20130930
Date
2013-09-30    11.68
Name: Close, dtype: float64 Date
2013-12-30    13.15
Name: Close, dtype: float64
20131231
Date
2013-12-30    13.15
2013-12-31    13.09
Name: Close, dtype: float64 Date
2014-03-31    12.58
Name: Close, dtype: float64
20140331
Date
2014-03-31    12.58
Name: Close, dtype: float64 Date
2014-06-30    12.39
Name: Close, dtype: float64
20140630
Date
2014-06-30    12.39
Name: Close, dtype: float64 Date
2014-09-29    11.17
Name: Close, dtype: float64
20140930
Date
2014-09-29    11.17
2014-09-30    11.08
Name: Close, dtype: float64 Date
2014-12-29    12.57
Name: Close, dtype: float64
20141231
Date
2014-12-30    12.48
2014-12-31    12.36
Name: Close, dtype: float64 Date
2015-03-30    12.26
2015-03-31    12.34
Name: Close, dtype: float64
20150331
Date
2015-03-30    12.26
2015-03-31    12.34
Name: Close, dtype: float64 Date
2015-06-29    13.04
Name: Close, dtype: float64
20150630
Date
2015-06-29    13.04
2015-06-30    13.06
Name: Close, dtype: float64 Date
2015-09-28    11.98
Name: Close, dtype: float64
20150930
Date
2015-09-29    11.94
2015-09-30    12.10
Name: Close, dtype: float64 Date
2015-12-28    13.34
2015-12-29    13.39
Name: Close, dtype: float64
20151231

Date
2015-12-30    13.23
2015-12-31    13.01
Name: Close, dtype: float64 Date
2016-03-29    13.55
2016-03-30    13.53
Name: Close, dtype: float64
20160331
Date
2016-03-30    13.53
2016-03-31    13.38
Name: Close, dtype: float64 Date
2016-06-28    13.08
2016-06-29    13.26
Name: Close, dtype: float64
20160630
Date
2016-06-29    13.26
2016-06-30    13.50
Name: Close, dtype: float64 Date
2016-09-27    14.46
2016-09-28    14.52
Name: Close, dtype: float64
20160930
Date
2016-09-29    14.31
2016-09-30    14.52
Name: Close, dtype: float64 Date
2016-12-28    19.1
2016-12-29    18.9
Name: Close, dtype: float64
20161231
Date
2016-12-30    18.799999
Name: Close, dtype: float64 Date
2017-03-30    17.950001
2017-03-31    17.850000
Name: Close, dtype: float64
20170331
Date
2017-03-30    17.950001
2017-03-31    17.850000
Name: Close, dtype: float64 Date
2017-06-28    19.00
2017-06-29    19.15
Name: Close, dtype: float64
20170630
Date
2017-06-29    19.15
2017-06-30    19.00
Name: Close, dtype: float64 Date
2017-09-27    18.799999
2017-09-28    18.950001
Name: Close, dtype: float64
20170930
Date
2017-09-29    18.75
Name: Close, dtype: float64 Date
2017-12-28    18.1
2017-12-29    17.9
Name: Close, dtype: float64
20171231
Date
2018-01-02    17.9
Name: Close, dtype: float64 Date
2018-04-02    17.450001
Name: Close, dtype: float64
20180331
Date
2018-04-02    17.450001
Name: Close, dtype: float64 Date
2018-07-02    16.549999
Name: Close, dtype: float64
20180630
Date
2018-06-29    16.5
Name: Close, dtype: float64 Date
2018-09-27    16.799999
2018-09-28    16.650000
Name: Close, dtype: float64
20180930
Date
2018-10-01    16.459999
Name: Close, dtype: float64 Date
2018-12-31    15.48
Name: Close, dtype: float64
20181231
Date
2018-12-31    15.48
Name: Close, dtype: float64 Date
2019-04-01    15.92
Name: Close, dtype: float64
20190331
Date
2019-04-01    15.92
Name: Close, dtype: float64 Date
2019-07-01    16.469999
Name: Close, dtype: float64
20190630
Date
2019-07-01    16.469999
Name: Close, dtype: float64 Date
2019-09-30    16.18
Name: Close, dtype: float64
20190930
Date
2019-09-30    16.18
Name: Close, dtype: float64 Date
2019-12-30    17.57
Name: Close, dtype: float64
20191231
Date
2019-12-30    17.57
2019-12-31    17.43
Name: Close, dtype: float64 Date
2020-03-30    11.59
Name: Close, dtype: float64
20030331
Date
2003-03-31    10.883333
Name: Close, dtype: float64 Date
2003-06-30    11.833333
Name: Close, dtype: float64
20030630
Date
2003-06-30    11.833333
Name: Close, dtype: float64 Date
2003-09-29    12.2
Name: Close, dtype: float64
20030930
Date
2003-09-29    12.200000
2003-09-30    12.013333
Name: Close, dtype: float64 Date
2003-12-29    13.026667
Name: Close, dtype: float64
20031231
Date
2003-12-30    13.023334
2003-12-31    12.836667
Name: Close, dtype: float64 Date
2004-03-29    12.496667
2004-03-30    12.600000
Name: Close, dtype: float64
20040331
Date
2004-03-30    12.6
2004-03-31    12.6
Name: Close, dtype: float64 Date
2004-06-28    13.666667
2004-06-29    13.700000
Name: Close, dtype: float64
20040630
Date
2004-06-29    13.70
2004-06-30    13.86
Name: Close, dtype: float64 Date
2004-09-27    13.633333
2004-09-28    13.636666
Name: Close, dtype: float64
20040930
Date
2004-09-29    13.956667
2004-09-30    13.800000
Name: Close, dtype: float64 Date
2004-12-28    14.566667
2004-12-29    14.513333
Name: Close, dtype: float64
20041231
Date
2004-12-30    14.473333
2004-12-31    14.446667
Name: Close, dtype: float64 Date
2005-03-30    14.463333
2005-03-31    14.510000
Name: Close, dtype: float64
20050331
Date
2005-03-30    14.463333
2005-03-31    14.510000
Name: Close, dtype: float64 Date
2005-06-28    16.006666
2005-06-29    15.946667
Name: Close, dtype: float64
20050630
Date
2005-06-29    15.946667
2005-06-30    16.083334
Name: Close, dtype: float64 Date
2005-09-27    15.183333
2005-09-28    15.236667
Name: Close, dtype: float64
20050930
Date
2005-09-29    15.466666
2005-09-30    15.326667
Name: Close, dtype: float64 Date
2005-12-28    14.106667
2005-12-29    13.966666
Name: Close, dtype: float64
20051231
Date
2005-12-30    13.963333
Name: Close, dtype: float64 Date
2006-03-30    14.986667
2006-03-31    15.083333
Name: Close, dtype: float64
20060331
Date
2006-03-30    14.986667
2006-03-31    15.083333
Name: Close, dtype: float64 Date
2006-06-28    15.343333
2006-06-29    15.716666
Name: Close, dtype: float64
20060630
Date
2006-06-29    15.716666
2006-06-30    15.593333
Name: Close, dtype: float64 Date
2006-09-27    16.726667
2006-09-28    16.586666
Name: Close, dtype: float64
20060930
Date
2006-09-29    16.433332
Name: Close, dtype: float64 Date
2006-12-28    16.370001
2006-12-29    16.193333
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    16.683332
Name: Close, dtype: float64 Date
2007-06-28    17.063334
2007-06-29    17.006666
Name: Close, dtype: float64
20070630
Date
2007-06-29    17.006666
Name: Close, dtype: float64 Date
2007-09-27    16.736666
2007-09-28    16.530001
Name: Close, dtype: float64
20070930
Date
2007-10-01    16.783333
Name: Close, dtype: float64 Date
2007-12-31    16.673334
Name: Close, dtype: float64
20071231
Date
2007-12-31    16.673334
Name: Close, dtype: float64 Date
2008-03-31    15.525
Name: Close, dtype: float64
20080331
Date
2008-03-31    15.525
Name: Close, dtype: float64 Date
2008-06-30    16.325001
Name: Close, dtype: float64
20080630
Date
2008-06-30    16.325001
Name: Close, dtype: float64 Date
2008-09-29    17.34
Name: Close, dtype: float64
20080930
Date
2008-09-29    17.340
2008-09-30    17.945
Name: Close, dtype: float64 Date
2008-12-29    18.67
Name: Close, dtype: float64
20081231
Date
2008-12-30    19.410000
2008-12-31    19.674999
Name: Close, dtype: float64 Date
2009-03-30    17.055
2009-03-31    16.990
Name: Close, dtype: float64
20090331
Date
2009-03-30    17.055
2009-03-31    16.990
Name: Close, dtype: float64 Date
2009-06-29    18.58
Name: Close, dtype: float64
20090630
Date
2009-06-29    18.58
2009-06-30    18.52
Name: Close, dtype: float64 Date
2009-09-28    18.26
Name: Close, dtype: float64
20090930
Date
2009-09-29    18.285000
2009-09-30    18.155001
Name: Close, dtype: float64 Date
2009-12-28    18.945000
2009-12-29    19.075001
Name: Close, dtype: float64
20091231
Date
2009-12-30    19.184999
2009-12-31    18.700001
Name: Close, dtype: float64 Date
2010-03-30    18.955000
2010-03-31    18.780001
Name: Close, dtype: float64
20100331
Date
2010-03-30    18.955000
2010-03-31    18.780001
Name: Close, dtype: float64 Date
2010-06-28    17.920
2010-06-29    17.625
Name: Close, dtype: float64
20100630
Date
2010-06-29    17.625
2010-06-30    17.600
Name: Close, dtype: float64 Date
2010-09-27    19.504999
2010-09-28    19.549999
Name: Close, dtype: float64
20100930
Date
2010-09-29    19.610001
2010-09-30    19.610001
Name: Close, dtype: float64 Date
2010-12-28    21.905001
2010-12-29    21.959999
Name: Close, dtype: float64
20101231
Date
2010-12-30    21.790001
2010-12-31    21.555000
Name: Close, dtype: float64 Date
2011-03-30    21.445
2011-03-31    21.475
Name: Close, dtype: float64
20110331
Date
2011-03-30    21.445
2011-03-31    21.475
Name: Close, dtype: float64 Date
2011-06-28    22.080000
2011-06-29    22.174999
Name: Close, dtype: float64
20110630
Date
2011-06-29    22.174999
2011-06-30    22.305000
Name: Close, dtype: float64 Date
2011-09-27    22.014999
2011-09-28    20.900000
Name: Close, dtype: float64
20110930
Date
2011-09-29    21.620001
2011-09-30    21.285000
Name: Close, dtype: float64 Date
2011-12-28    24.670000
2011-12-29    25.004999
Name: Close, dtype: float64
20111231
Date
2011-12-30    24.6
Name: Close, dtype: float64 Date
2012-03-29    22.340
2012-03-30    22.285
Name: Close, dtype: float64
20120331
Date
2012-03-30    22.285
Name: Close, dtype: float64 Date
2012-06-28    21.500
2012-06-29    21.805
Name: Close, dtype: float64
20120630
Date
2012-06-29    21.805
Name: Close, dtype: float64 Date
2012-09-27    22.879999
2012-09-28    22.860001
Name: Close, dtype: float64
20120930
Date
2012-10-01    22.735001
Name: Close, dtype: float64 Date
2012-12-31    19.809999
Name: Close, dtype: float64
20121231
Date
2012-12-31    19.809999
Name: Close, dtype: float64 Date
2013-04-01    22.395
Name: Close, dtype: float64
20130331

Date
2013-04-01    22.395
Name: Close, dtype: float64 Date
2013-07-01    20.549999
Name: Close, dtype: float64
20130630
Date
2013-07-01    20.549999
Name: Close, dtype: float64 Date
2013-09-30    22.025
Name: Close, dtype: float64
20130930
Date
2013-09-30    22.025
Name: Close, dtype: float64 Date
2013-12-30    22.940001
Name: Close, dtype: float64
20131231
Date
2013-12-30    22.940001
2013-12-31    23.120001
Name: Close, dtype: float64 Date
2014-03-31    24.9
Name: Close, dtype: float64
20140331
Date
2014-03-31    24.9
Name: Close, dtype: float64 Date
2014-06-30    28.58
Name: Close, dtype: float64
20140630
Date
2014-06-30    28.58
Name: Close, dtype: float64 Date
2014-09-29    25.334999
Name: Close, dtype: float64
20140930
Date
2014-09-29    25.334999
2014-09-30    25.254999
Name: Close, dtype: float64 Date
2014-12-29    31.98
Name: Close, dtype: float64
20141231
Date
2014-12-30    31.035
2014-12-31    30.600
Name: Close, dtype: float64 Date
2015-03-30    31.330000
2015-03-31    31.059999
Name: Close, dtype: float64
20150331
Date
2015-03-30    31.330000
2015-03-31    31.059999
Name: Close, dtype: float64 Date
2015-06-29    27.700001
Name: Close, dtype: float64
20150630
Date
2015-06-29    27.700001
2015-06-30    27.549999
Name: Close, dtype: float64 Date
2015-09-28    28.98
Name: Close, dtype: float64
20150930
Date
2015-09-29    29.070000
2015-09-30    30.030001
Name: Close, dtype: float64 Date
2015-12-28    33.090000
2015-12-29    33.540001
Name: Close, dtype: float64
20151231
Date
2015-12-30    33.700001
2015-12-31    32.959999
Name: Close, dtype: float64 Date
2016-03-29    36.810001
2016-03-30    36.349998
Name: Close, dtype: float64
20160331
Date
2016-03-30    36.349998
2016-03-31    36.430000
Name: Close, dtype: float64 Date
2016-06-28    37.290001
2016-06-29    37.400002
Name: Close, dtype: float64
20160630
Date
2016-06-29    37.400002
2016-06-30    38.549999
Name: Close, dtype: float64 Date
2016-09-27    33.889999
2016-09-28    33.639999
Name: Close, dtype: float64
20160930
Date
2016-09-29    32.939999
2016-09-30    32.860001
Name: Close, dtype: float64 Date
2016-12-28    35.549999
2016-12-29    36.000000
Name: Close, dtype: float64
20161231
Date
2016-12-30    35.5
Name: Close, dtype: float64 Date
2017-03-30    39.500000
2017-03-31    39.599998
Name: Close, dtype: float64
20170331
Date
2017-03-30    39.500000
2017-03-31    39.599998
Name: Close, dtype: float64 Date
2017-06-28    40.700001
2017-06-29    39.900002
Name: Close, dtype: float64
20170630
Date
2017-06-29    39.900002
2017-06-30    39.700001
Name: Close, dtype: float64 Date
2017-09-27    42.450001
2017-09-28    42.299999
Name: Close, dtype: float64
20170930
Date
2017-09-29    42.150002
Name: Close, dtype: float64 Date
2017-12-28    39.700001
2017-12-29    40.200001
Name: Close, dtype: float64
20171231
Date
2018-01-02    39.849998
Name: Close, dtype: float64 Date
2018-04-02    39.450001
Name: Close, dtype: float64
20180331
Date
2018-04-02    39.450001
Name: Close, dtype: float64 Date
2018-07-02    45.400002
Name: Close, dtype: float64
20180630
Date
2018-06-29    44.75
Name: Close, dtype: float64 Date
2018-09-27    45.150002
2018-09-28    46.099998
Name: Close, dtype: float64
20180930
Date
2018-10-01    45.419998
Name: Close, dtype: float64 Date
2018-12-31    45.669998
Name: Close, dtype: float64
20181231
Date
2018-12-31    45.669998
Name: Close, dtype: float64 Date
2019-04-01    49.490002
Name: Close, dtype: float64
20190331
Date
2019-04-01    49.490002
Name: Close, dtype: float64 Date
2019-07-01    49.279999
Name: Close, dtype: float64
20190630
Date
2019-07-01    49.279999
Name: Close, dtype: float64 Date
2019-09-30    45.220001
Name: Close, dtype: float64
20190930
Date
2019-09-30    45.220001
Name: Close, dtype: float64 Date
2019-12-30    44.16
Name: Close, dtype: float64
20191231
Date
2019-12-30    44.16
2019-12-31    44.57
Name: Close, dtype: float64 Date
2020-03-30    34.509998
Name: Close, dtype: float64
20030331
Date
2003-03-31    43.150002
Name: Close, dtype: float64 Date
2003-06-30    45.5
Name: Close, dtype: float64
20030630
Date
2003-06-30    45.5
Name: Close, dtype: float64 Date
2003-09-29    43.639999
Name: Close, dtype: float64
20030930
Date
2003-09-29    43.639999
2003-09-30    43.459999
Name: Close, dtype: float64 Date
2003-12-29    47.419998
Name: Close, dtype: float64
20031231
Date
2003-12-30    47.599998
2003-12-31    47.790001
Name: Close, dtype: float64 Date
2004-03-29    44.25
2004-03-30    43.84
Name: Close, dtype: float64
20040331
Date
2004-03-30    43.840000
2004-03-31    44.200001
Name: Close, dtype: float64 Date
2004-06-28    44.830002
2004-06-29    44.740002
Name: Close, dtype: float64
20040630
Date
2004-06-29    44.740002
2004-06-30    44.709999
Name: Close, dtype: float64 Date
2004-09-27    38.720001
2004-09-28    38.950001
Name: Close, dtype: float64
20040930
Date
2004-09-29    38.840000
2004-09-30    39.099998
Name: Close, dtype: float64 Date
2004-12-28    40.759998
2004-12-29    40.590000
Name: Close, dtype: float64
20041231
Date
2004-12-30    40.669998
2004-12-31    40.799999
Name: Close, dtype: float64 Date
2005-03-30    36.419998
2005-03-31    36.580002
Name: Close, dtype: float64
20050331
Date
2005-03-30    36.419998
2005-03-31    36.580002
Name: Close, dtype: float64 Date
2005-06-28    31.219999
2005-06-29    31.459999
Name: Close, dtype: float64
20050630
Date
2005-06-29    31.459999
2005-06-30    31.150000
Name: Close, dtype: float64 Date
2005-09-27    29.99
2005-09-28    30.09
Name: Close, dtype: float64
20050930
Date
2005-09-29    29.799999
2005-09-30    29.750000
Name: Close, dtype: float64 Date
2005-12-28    26.559999
2005-12-29    26.440001
Name: Close, dtype: float64
20051231
Date
2005-12-30    26.450001
Name: Close, dtype: float64 Date
2006-03-30    25.299999
2006-03-31    25.309999
Name: Close, dtype: float64
20060331
Date
2006-03-30    25.299999
2006-03-31    25.309999
Name: Close, dtype: float64 Date
2006-06-28    23.73
2006-06-29    24.35
Name: Close, dtype: float64
20060630
Date
2006-06-29    24.350000
2006-06-30    24.540001
Name: Close, dtype: float64 Date
2006-09-27    22.530001
2006-09-28    22.780001
Name: Close, dtype: float64
20060930
Date
2006-09-29    22.98
Name: Close, dtype: float64 Date
2006-12-28    24.290001
2006-12-29    24.360001
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    23.51
Name: Close, dtype: float64 Date
2007-06-28    25.440001
2007-06-29    25.400000
Name: Close, dtype: float64
20070630
Date
2007-06-29    25.4
Name: Close, dtype: float64 Date
2007-09-27    19.25
2007-09-28    19.76
Name: Close, dtype: float64
20070930
Date
2007-10-01    20.290001
Name: Close, dtype: float64 Date
2007-12-31    17.530001
Name: Close, dtype: float64
20071231
Date
2007-12-31    17.530001
Name: Close, dtype: float64 Date
2008-03-31    18.879999
Name: Close, dtype: float64
20080331
Date
2008-03-31    18.879999
Name: Close, dtype: float64 Date
2008-06-30    15.39
Name: Close, dtype: float64
20080630
Date
2008-06-30    15.39
Name: Close, dtype: float64 Date
2008-09-29    14.35
Name: Close, dtype: float64
20080930
Date
2008-09-29    14.35
2008-09-30    14.29
Name: Close, dtype: float64 Date
2008-12-29    7.02
Name: Close, dtype: float64
20081231
Date
2008-12-30    7.02
2008-12-31    7.33
Name: Close, dtype: float64 Date
2009-03-30    4.62
2009-03-31    4.52
Name: Close, dtype: float64
20090331
Date
2009-03-30    4.62
2009-03-31    4.52
Name: Close, dtype: float64 Date
2009-06-29    5.56
Name: Close, dtype: float64
20090630
Date
2009-06-29    5.56
2009-06-30    5.51
Name: Close, dtype: float64 Date
2009-09-28    7.99
Name: Close, dtype: float64
20090930
Date
2009-09-29    8.39
2009-09-30    8.12
Name: Close, dtype: float64 Date
2009-12-28    12.22
2009-12-29    12.13
Name: Close, dtype: float64
20091231
Date
2009-12-30    12.63
2009-12-31    12.36
Name: Close, dtype: float64 Date
2010-03-30    11.23
2010-03-31    11.13
Name: Close, dtype: float64
20100331
Date
2010-03-30    11.23
2010-03-31    11.13
Name: Close, dtype: float64 Date
2010-06-28    9.74
2010-06-29    9.00
Name: Close, dtype: float64
20100630
Date
2010-06-29    9.00
2010-06-30    8.65
Name: Close, dtype: float64 Date
2010-09-27    7.76
2010-09-28    7.82
Name: Close, dtype: float64
20100930

Date
2010-09-29    7.81
2010-09-30    7.74
Name: Close, dtype: float64 Date
2010-12-28    9.78
2010-12-29    9.77
Name: Close, dtype: float64
20101231
Date
2010-12-30    9.73
2010-12-31    9.80
Name: Close, dtype: float64 Date
2011-03-30    9.59
2011-03-31    9.47
Name: Close, dtype: float64
20110331
Date
2011-03-30    9.59
2011-03-31    9.47
Name: Close, dtype: float64 Date
2011-06-28    8.45
2011-06-29    8.57
Name: Close, dtype: float64
20110630
Date
2011-06-29    8.57
2011-06-30    8.72
Name: Close, dtype: float64 Date
2011-09-27    6.08
2011-09-28    5.65
Name: Close, dtype: float64
20110930
Date
2011-09-29    6.15
2011-09-30    5.81
Name: Close, dtype: float64 Date
2011-12-28    7.67
2011-12-29    7.79
Name: Close, dtype: float64
20111231
Date
2011-12-30    7.73
Name: Close, dtype: float64 Date
2012-03-29    6.75
2012-03-30    6.79
Name: Close, dtype: float64
20120331
Date
2012-03-30    6.79
Name: Close, dtype: float64 Date
2012-06-28    7.66
2012-06-29    7.80
Name: Close, dtype: float64
20120630
Date
2012-06-29    7.8
Name: Close, dtype: float64 Date
2012-09-27    9.91
2012-09-28    9.76
Name: Close, dtype: float64
20120930
Date
2012-10-01    9.72
Name: Close, dtype: float64 Date
2012-12-31    8.53
Name: Close, dtype: float64
20121231
Date
2012-12-31    8.53
Name: Close, dtype: float64 Date
2013-04-01    9.49
Name: Close, dtype: float64
20130331
Date
2013-04-01    9.49
Name: Close, dtype: float64 Date
2013-07-01    11.7
Name: Close, dtype: float64
20130630
Date
2013-07-01    11.7
Name: Close, dtype: float64 Date
2013-09-30    12.57
Name: Close, dtype: float64
20130930
Date
2013-09-30    12.57
Name: Close, dtype: float64 Date
2013-12-30    16.09
Name: Close, dtype: float64
20131231
Date
2013-12-30    16.09
2013-12-31    15.87
Name: Close, dtype: float64 Date
2014-03-31    17.120001
Name: Close, dtype: float64
20140331
Date
2014-03-31    17.120001
Name: Close, dtype: float64 Date
2014-06-30    15.21
Name: Close, dtype: float64
20140630
Date
2014-06-30    15.21
Name: Close, dtype: float64 Date
2014-09-29    11.5
Name: Close, dtype: float64
20140930
Date
2014-09-29    11.50
2014-09-30    11.22
Name: Close, dtype: float64 Date
2014-12-29    13.47
Name: Close, dtype: float64
20141231
Date
2014-12-30    13.37
2014-12-31    13.22
Name: Close, dtype: float64 Date
2015-03-30    13.50
2015-03-31    13.76
Name: Close, dtype: float64
20150331
Date
2015-03-30    13.50
2015-03-31    13.76
Name: Close, dtype: float64 Date
2015-06-29    13.58
Name: Close, dtype: float64
20150630
Date
2015-06-29    13.58
2015-06-30    13.65
Name: Close, dtype: float64 Date
2015-09-28    11.56
Name: Close, dtype: float64
20150930
Date
2015-09-29    11.60
2015-09-30    11.81
Name: Close, dtype: float64 Date
2015-12-28    13.68
2015-12-29    13.74
Name: Close, dtype: float64
20151231
Date
2015-12-30    13.60
2015-12-31    13.42
Name: Close, dtype: float64 Date
2016-03-29    12.67
2016-03-30    12.60
Name: Close, dtype: float64
20160331
Date
2016-03-30    12.60
2016-03-31    12.46
Name: Close, dtype: float64 Date
2016-06-28    11.66
2016-06-29    11.87
Name: Close, dtype: float64
20160630
Date
2016-06-29    11.87
2016-06-30    12.10
Name: Close, dtype: float64 Date
2016-09-27    12.30
2016-09-28    12.05
Name: Close, dtype: float64
20160930
Date
2016-09-29    11.90
2016-09-30    11.95
Name: Close, dtype: float64 Date
2016-12-28    13.45
2016-12-29    13.40
Name: Close, dtype: float64
20161231
Date
2016-12-30    13.3
Name: Close, dtype: float64 Date
2017-03-30    14.55
2017-03-31    14.40
Name: Close, dtype: float64
20170331
Date
2017-03-30    14.55
2017-03-31    14.40
Name: Close, dtype: float64 Date
2017-06-28    18.000000
2017-06-29    17.799999
Name: Close, dtype: float64
20170630
Date
2017-06-29    17.799999
2017-06-30    17.700001
Name: Close, dtype: float64 Date
2017-09-27    19.75
2017-09-28    19.65
Name: Close, dtype: float64
20170930
Date
2017-09-29    19.6
Name: Close, dtype: float64 Date
2017-12-28    18.65
2017-12-29    18.50
Name: Close, dtype: float64
20171231
Date
2018-01-02    18.950001
Name: Close, dtype: float64 Date
2018-04-02    23.5
Name: Close, dtype: float64
20180331
Date
2018-04-02    23.5
Name: Close, dtype: float64 Date
2018-07-02    26.25
Name: Close, dtype: float64
20180630
Date
2018-06-29    25.9
Name: Close, dtype: float64 Date
2018-09-27    22.950001
2018-09-28    23.150000
Name: Close, dtype: float64
20180930
Date
2018-10-01    22.74
Name: Close, dtype: float64 Date
2018-12-31    22.290001
Name: Close, dtype: float64
20181231
Date
2018-12-31    22.290001
Name: Close, dtype: float64 Date
2019-04-01    33.52
Name: Close, dtype: float64
20190331
Date
2019-04-01    33.52
Name: Close, dtype: float64 Date
2019-07-01    33.790001
Name: Close, dtype: float64
20190630
Date
2019-07-01    33.790001
Name: Close, dtype: float64 Date
2019-09-30    28.48
Name: Close, dtype: float64
20190930
Date
2019-09-30    28.48
Name: Close, dtype: float64 Date
2019-12-30    32.150002
Name: Close, dtype: float64
20191231
Date
2019-12-30    32.150002
2019-12-31    32.169998
Name: Close, dtype: float64 Date
2020-03-30    31.93
Name: Close, dtype: float64
20120331
Date
2012-03-30    13.15
Name: Close, dtype: float64 Date
2012-06-28    5.38
2012-06-29    5.44
Name: Close, dtype: float64
20120630
Date
2012-06-29    5.44
Name: Close, dtype: float64 Date
2012-09-27    2.84
2012-09-28    2.84
Name: Close, dtype: float64
20120930
Date
2012-10-01    2.75
Name: Close, dtype: float64 Date
2012-12-31    2.36
Name: Close, dtype: float64
20121231
Date
2012-12-31    2.36
Name: Close, dtype: float64 Date
2013-04-01    3.16
Name: Close, dtype: float64
20130331
Date
2013-04-01    3.16
Name: Close, dtype: float64 Date
2013-07-01    3.07
Name: Close, dtype: float64
20130630
Date
2013-07-01    3.07
Name: Close, dtype: float64 Date
2013-09-30    3.67
Name: Close, dtype: float64
20130930
Date
2013-09-30    3.67
Name: Close, dtype: float64 Date
2013-12-30    3.88
Name: Close, dtype: float64
20131231
Date
2013-12-30    3.88
2013-12-31    3.80
Name: Close, dtype: float64 Date
2014-03-31    4.3
Name: Close, dtype: float64
20140331
Date
2014-03-31    4.3
Name: Close, dtype: float64 Date
2014-06-30    3.21
Name: Close, dtype: float64
20140630
Date
2014-06-30    3.21
Name: Close, dtype: float64 Date
2014-09-29    2.79
Name: Close, dtype: float64
20140930
Date
2014-09-29    2.79
2014-09-30    2.70
Name: Close, dtype: float64 Date
2014-12-29    2.74
Name: Close, dtype: float64
20141231
Date
2014-12-30    2.72
2014-12-31    2.66
Name: Close, dtype: float64 Date
2015-03-30    2.78
2015-03-31    2.85
Name: Close, dtype: float64
20150331
Date
2015-03-30    2.78
2015-03-31    2.85
Name: Close, dtype: float64 Date
2015-06-29    2.88
Name: Close, dtype: float64
20150630
Date
2015-06-29    2.88
2015-06-30    2.86
Name: Close, dtype: float64 Date
2015-09-28    2.3
Name: Close, dtype: float64
20150930
Date
2015-09-29    2.21
2015-09-30    2.28
Name: Close, dtype: float64 Date
2015-12-28    2.69
2015-12-29    2.64
Name: Close, dtype: float64
20151231
Date
2015-12-30    2.68
2015-12-31    2.68
Name: Close, dtype: float64 Date
2016-03-29    2.23
2016-03-30    2.26
Name: Close, dtype: float64
20160331
Date
2016-03-30    2.26
2016-03-31    2.28
Name: Close, dtype: float64 Date
2016-06-28    2.36
2016-06-29    2.42
Name: Close, dtype: float64
20160630
Date
2016-06-29    2.42
2016-06-30    2.49
Name: Close, dtype: float64 Date
2016-09-27    2.88
2016-09-28    2.82
Name: Close, dtype: float64
20160930
Date
2016-09-29    2.81
2016-09-30    2.91
Name: Close, dtype: float64 Date
2016-12-28    2.58
2016-12-29    2.60
Name: Close, dtype: float64
20161231
Date
2016-12-30    2.57
Name: Close, dtype: float64 Date
2017-03-30    2.88
2017-03-31    2.85
Name: Close, dtype: float64
20170331
Date
2017-03-30    2.88
2017-03-31    2.85
Name: Close, dtype: float64 Date
2017-06-28    3.71
2017-06-29    3.61
Name: Close, dtype: float64
20170630
Date
2017-06-29    3.61
2017-06-30    3.64
Name: Close, dtype: float64 Date
2017-09-27    3.73
2017-09-28    3.73
Name: Close, dtype: float64
20170930
Date
2017-09-29    3.78
Name: Close, dtype: float64 Date
2017-12-28    3.97
2017-12-29    4.00
Name: Close, dtype: float64
20171231
Date
2018-01-02    3.92
Name: Close, dtype: float64 Date
2018-04-02    3.55
Name: Close, dtype: float64
20180331

Date
2018-04-02    3.55
Name: Close, dtype: float64 Date
2018-07-02    4.13
Name: Close, dtype: float64
20180630
Date
2018-06-29    4.07
Name: Close, dtype: float64 Date
2018-09-27    3.96
2018-09-28    4.01
Name: Close, dtype: float64
20180930
Date
2018-10-01    4.01
Name: Close, dtype: float64 Date
2018-12-31    3.93
Name: Close, dtype: float64
20181231
Date
2018-12-31    3.93
Name: Close, dtype: float64 Date
2019-04-01    5.33
Name: Close, dtype: float64
20190331
Date
2019-04-01    5.33
Name: Close, dtype: float64 Date
2019-07-01    6.25
Name: Close, dtype: float64
20190630
Date
2019-07-01    6.25
Name: Close, dtype: float64 Date
2019-09-30    5.82
Name: Close, dtype: float64
20190930
Date
2019-09-30    5.82
Name: Close, dtype: float64 Date
2019-12-30    6.14
Name: Close, dtype: float64
20191231
Date
2019-12-30    6.14
2019-12-31    6.12
Name: Close, dtype: float64 Date
2020-03-30    6.86
Name: Close, dtype: float64
20030331
Date
2003-03-31    2.508642
Name: Close, dtype: float64 Date
2003-06-30    3.658272
Name: Close, dtype: float64
20030630
Date
2003-06-30    3.658272
Name: Close, dtype: float64 Date
2003-09-29    3.237531
Name: Close, dtype: float64
20030930
Date
2003-09-29    3.237531
2003-09-30    3.249383
Name: Close, dtype: float64 Date
2003-12-29    3.739259
Name: Close, dtype: float64
20031231
Date
2003-12-30    3.814321
2003-12-31    3.834074
Name: Close, dtype: float64 Date
2004-03-29    4.049383
2004-03-30    4.039506
Name: Close, dtype: float64
20040331
Date
2004-03-30    4.039506
2004-03-31    4.005926
Name: Close, dtype: float64 Date
2004-06-28    3.915062
2004-06-29    4.047408
Name: Close, dtype: float64
20040630
Date
2004-06-29    4.047408
2004-06-30    3.988148
Name: Close, dtype: float64 Date
2004-09-27    3.466667
2004-09-28    3.407408
Name: Close, dtype: float64
20040930
Date
2004-09-29    3.460741
2004-09-30    3.437037
Name: Close, dtype: float64 Date
2004-12-28    2.933333
2004-12-29    3.040000
Name: Close, dtype: float64
20041231
Date
2004-12-30    3.130864
2004-12-31    3.174321
Name: Close, dtype: float64 Date
2005-03-30    3.221728
2005-03-31    3.251358
Name: Close, dtype: float64
20050331
Date
2005-03-30    3.221728
2005-03-31    3.251358
Name: Close, dtype: float64 Date
2005-06-28    3.583210
2005-06-29    3.575309
Name: Close, dtype: float64
20050630
Date
2005-06-29    3.575309
2005-06-30    3.508148
Name: Close, dtype: float64 Date
2005-09-27    3.616790
2005-09-28    3.571358
Name: Close, dtype: float64
20050930
Date
2005-09-29    3.612839
2005-09-30    3.630617
Name: Close, dtype: float64 Date
2005-12-28    3.535802
2005-12-29    3.506173
Name: Close, dtype: float64
20051231
Date
2005-12-30    3.531852
Name: Close, dtype: float64 Date
2006-03-30    4.620247
2006-03-31    4.722963
Name: Close, dtype: float64
20060331
Date
2006-03-30    4.620247
2006-03-31    4.722963
Name: Close, dtype: float64 Date
2006-06-28    4.584692
2006-06-29    5.021235
Name: Close, dtype: float64
20060630
Date
2006-06-29    5.021235
2006-06-30    5.068642
Name: Close, dtype: float64 Date
2006-09-27    4.691358
2006-09-28    4.626173
Name: Close, dtype: float64
20060930
Date
2006-09-29    4.505679
Name: Close, dtype: float64 Date
2006-12-28    5.384691
2006-12-29    5.191111
Name: Close, dtype: float64
20061231
error
20070331
Date
2007-03-30    5.161481
Name: Close, dtype: float64 Date
2007-06-28    6.326913
2007-06-29    6.291358
Name: Close, dtype: float64
20070630
Date
2007-06-29    6.291358
Name: Close, dtype: float64 Date
2007-09-27    5.976296
2007-09-28    5.845926
Name: Close, dtype: float64
20070930
Date
2007-10-01    5.925926
Name: Close, dtype: float64 Date
2007-12-31    5.872592
Name: Close, dtype: float64
20071231
Date
2007-12-31    5.872592
Name: Close, dtype: float64 Date
2008-03-31    5.934815
Name: Close, dtype: float64
20080331
Date
2008-03-31    5.934815
Name: Close, dtype: float64 Date
2008-06-30    5.706666
Name: Close, dtype: float64
20080630
Date
2008-06-30    5.706666
Name: Close, dtype: float64 Date
2008-09-29    5.274074
Name: Close, dtype: float64
20080930
Date
2008-09-29    5.274074
2008-09-30    5.389630
Name: Close, dtype: float64 Date
2008-12-29    6.142222
Name: Close, dtype: float64
20081231
Date
2008-12-30    6.281481
2008-12-31    6.186666
Name: Close, dtype: float64 Date
2009-03-30    5.087408
2009-03-31    5.368889
Name: Close, dtype: float64
20090331
Date
2009-03-30    5.087408
2009-03-31    5.368889
Name: Close, dtype: float64 Date
2009-06-29    6.103703
Name: Close, dtype: float64
20090630
Date
2009-06-29    6.103703
2009-06-30    5.902222
Name: Close, dtype: float64 Date
2009-09-28    6.091852
Name: Close, dtype: float64
20090930
Date
2009-09-29    6.023704
2009-09-30    5.949630
Name: Close, dtype: float64 Date
2009-12-28    5.831111
2009-12-29    5.911111
Name: Close, dtype: float64
20091231
Date
2009-12-30    5.881482
2009-12-31    5.774815
Name: Close, dtype: float64 Date
2010-03-30    6.764444
2010-03-31    6.702222
Name: Close, dtype: float64
20100331
Date
2010-03-30    6.764444
2010-03-31    6.702222
Name: Close, dtype: float64 Date
2010-06-28    7.066667
2010-06-29    6.942222
Name: Close, dtype: float64
20100630
Date
2010-06-29    6.942222
2010-06-30    6.906667
Name: Close, dtype: float64 Date
2010-09-27    7.087408
2010-09-28    7.108148
Name: Close, dtype: float64
20100930
Date
2010-09-29    7.111111
2010-09-30    6.968889
Name: Close, dtype: float64 Date
2010-12-28    8.524445
2010-12-29    8.548148
Name: Close, dtype: float64
20101231
Date
2010-12-30    8.548148
2010-12-31    8.358519
Name: Close, dtype: float64 Date
2011-03-30    9.564445
2011-03-31    9.748148
Name: Close, dtype: float64
20110331
Date
2011-03-30    9.564445
2011-03-31    9.748148
Name: Close, dtype: float64 Date
2011-06-28    9.857778
2011-06-29    9.773334
Name: Close, dtype: float64
20110630
Date
2011-06-29    9.773334
2011-06-30    9.706667
Name: Close, dtype: float64 Date
2011-09-27    7.595556
2011-09-28    7.035555
Name: Close, dtype: float64
20110930
Date
2011-09-29    7.266667
2011-09-30    7.000000
Name: Close, dtype: float64 Date
2011-12-28    9.071111
2011-12-29    9.222222
Name: Close, dtype: float64
20111231
Date
2011-12-30    9.106667
Name: Close, dtype: float64 Date
2012-03-29    9.080000
2012-03-30    8.973333
Name: Close, dtype: float64
20120331
Date
2012-03-30    8.973333
Name: Close, dtype: float64 Date
2012-06-28    8.093333
2012-06-29    8.377778
Name: Close, dtype: float64
20120630
Date
2012-06-29    8.377778
Name: Close, dtype: float64 Date
2012-09-27    8.862223
2012-09-28    8.751111
Name: Close, dtype: float64
20120930
Date
2012-10-01    8.657778
Name: Close, dtype: float64 Date
2012-12-31    9.275556
Name: Close, dtype: float64
20121231
Date
2012-12-31    9.275556
Name: Close, dtype: float64 Date
2013-04-01    12.177778
Name: Close, dtype: float64
20130331
Date
2013-04-01    12.177778
Name: Close, dtype: float64 Date
2013-07-01    15.102222
Name: Close, dtype: float64
20130630
Date
2013-07-01    15.102222
Name: Close, dtype: float64 Date
2013-09-30    17.706667
Name: Close, dtype: float64
20130930
Date
2013-09-30    17.706667
Name: Close, dtype: float64 Date
2013-12-30    21.673334
Name: Close, dtype: float64
20131231
Date
2013-12-30    21.673334
2013-12-31    21.299999
Name: Close, dtype: float64 Date
2014-03-31    18.58
Name: Close, dtype: float64
20140331
Date
2014-03-31    18.58
Name: Close, dtype: float64 Date
2014-06-30    22.346666
Name: Close, dtype: float64
20140630
Date
2014-06-30    22.346666
Name: Close, dtype: float64 Date
2014-09-29    17.49
Name: Close, dtype: float64
20140930
Date
2014-09-29    17.49
2014-09-30    17.01
Name: Close, dtype: float64 Date
2014-12-29    22.299999
Name: Close, dtype: float64
20141231
Date
2014-12-30    22.340000
2014-12-31    22.389999
Name: Close, dtype: float64 Date
2015-03-30    24.709999
2015-03-31    24.530001
Name: Close, dtype: float64
20150331
Date
2015-03-30    24.709999
2015-03-31    24.530001
Name: Close, dtype: float64 Date
2015-06-29    22.389999
Name: Close, dtype: float64
20150630
Date
2015-06-29    22.389999
2015-06-30    22.520000
Name: Close, dtype: float64 Date
2015-09-28    19.75
Name: Close, dtype: float64
20150930

Date
2015-09-29    19.120001
2015-09-30    19.379999
Name: Close, dtype: float64 Date
2015-12-28    23.52
2015-12-29    23.52
Name: Close, dtype: float64
20151231
Date
2015-12-30    23.670000
2015-12-31    23.219999
Name: Close, dtype: float64 Date
2016-03-29    28.020000
2016-03-30    27.799999
Name: Close, dtype: float64
20160331
Date
2016-03-30    27.799999
2016-03-31    28.000000
Name: Close, dtype: float64 Date
2016-06-28    25.930000
2016-06-29    26.549999
Name: Close, dtype: float64
20160630
Date
2016-06-29    26.549999
2016-06-30    27.510000
Name: Close, dtype: float64 Date
2016-09-27    28.320000
2016-09-28    28.360001
Name: Close, dtype: float64
20160930
Date
2016-09-29    28.219999
2016-09-30    28.820000
Name: Close, dtype: float64 Date
2016-12-28    33.400002
2016-12-29    33.549999
Name: Close, dtype: float64
20161231
Date
2016-12-30    33.049999
Name: Close, dtype: float64 Date
2017-03-30    35.250000
2017-03-31    35.349998
Name: Close, dtype: float64
20170331
Date
2017-03-30    35.250000
2017-03-31    35.349998
Name: Close, dtype: float64 Date
2017-06-28    36.299999
2017-06-29    36.400002
Name: Close, dtype: float64
20170630
Date
2017-06-29    36.400002
2017-06-30    36.849998
Name: Close, dtype: float64 Date
2017-09-27    34.950001
2017-09-28    34.849998
Name: Close, dtype: float64
20170930
Date
2017-09-29    34.48
Name: Close, dtype: float64 Date
2017-12-28    36.799999
2017-12-29    36.700001
Name: Close, dtype: float64
20171231
Date
2018-01-02    36.950001
Name: Close, dtype: float64 Date
2018-04-02    37.150002
Name: Close, dtype: float64
20180331
Date
2018-04-02    37.150002
Name: Close, dtype: float64 Date
2018-07-02    33.950001
Name: Close, dtype: float64
20180630
Date
2018-06-29    33.25
Name: Close, dtype: float64 Date
2018-09-27    37.250000
2018-09-28    37.799999
Name: Close, dtype: float64
20180930
Date
2018-10-01    36.52
Name: Close, dtype: float64 Date
2018-12-31    35.060001
Name: Close, dtype: float64
20181231
Date
2018-12-31    35.060001
Name: Close, dtype: float64 Date
2019-04-01    46.470001
Name: Close, dtype: float64
20190331
Date
2019-04-01    46.470001
Name: Close, dtype: float64 Date
2019-07-01    49.73
Name: Close, dtype: float64
20190630
Date
2019-07-01    49.73
Name: Close, dtype: float64 Date
2019-09-30    45.939999
Name: Close, dtype: float64
20190930
Date
2019-09-30    45.939999
Name: Close, dtype: float64 Date
2019-12-30    49.380001
Name: Close, dtype: float64
20191231
Date
2019-12-30    49.380001
2019-12-31    49.410000
Name: Close, dtype: float64 Date
2020-03-30    48.259998
Name: Close, dtype: float64

In [32]:
y_label

[3,
 3,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 3,
 3,
 0,
 3,
 3,
 -1,
 5,
 1,
 0,
 0,
 5,
 0,
 0,
 5,
 5,
 3,
 0,
 3,
 5,
 1,
 0,
 3,
 3,
 0,
 0,
 5,
 0,
 5,
 0,
 3,
 0,
 5,
 1,
 3,
 0,
 0,
 0,
 3,
 3,
 0,
 1,
 0,
 3,
 5,
 5,
 0,
 0,
 0,
 3,
 3,
 0,
 0,
 0,
 0,
 5,
 3,
 3,
 0,
 5,
 5,
 3,
 0,
 0,
 0,
 5,
 0,
 0,
 5,
 3,
 5,
 0,
 1,
 3,
 -1,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 5,
 5,
 5,
 0,
 0,
 3,
 0,
 5,
 5,
 0,
 0,
 5,
 0,
 0,
 0,
 3,
 0,
 3,
 3,
 0,
 5,
 0,
 5,
 3,
 0,
 3,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 3,
 0,
 1,
 0,
 0,
 3,
 0,
 3,
 0,
 0,
 0,
 3,
 0,
 1,
 3,
 0,
 1,
 0,
 3,
 0,
 -1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 3,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 3,
 3,
 3,
 5,
 0,
 3,
 0,
 3,
 0,
 0,
 0,
 5,
 3,
 3,
 0,
 3,
 3,
 0,
 0,
 3,
 0,
 0,
 0,
 3,
 0,
 5,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 5,
 3,
 0,
 0,
 3,
 0,
 0,
 3,
 0,
 0,
 0,
 5,
 0,
 3,
 0,
 0,
 0,
 0,
 3,
 5,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 3,
 0,
 1,
 3,
 0,
 0,
 0,
 0,
 0,
 5,
 5,
 0,
 0,
 5,
 3,
 5,
 0,
 1,
 5,
 0,
 3,
 0,
 5,
 3,
 0,
 0,
 0,
 0,
 5,
 0,
 5,
 0,
 5,
 5,
 0,
 3,
 0,
 5,
 5,
 0,
 0,
 5,
 -1,
 1,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 5,
 5,
 0,
 3,
 5,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 5,
 0,
 5,
 3,
 3,
 0,
 0,
 0,
 5,
 3,
 3,
 0,
 5,
 0,
 3,
 3,
 0,
 3,
 0,
 5,
 3,
 0,
 3,
 0,
 0,
 3,
 0,
 0,
 3,
 0,
 5,
 0,
 3,
 0,
 0,
 0,
 0,
 5,
 0,
 0,
 0,
 0,
 5,
 5,
 3,
 3,
 5,
 0,
 5,
 0,
 0,
 0,
 5,
 0,
 0,
 3,
 0,
 5,
 5,
 0,
 0,
 0,
 5,
 5,
 0,
 5,
 0,
 1,
 0,
 0,
 0,
 5,
 0,
 0,
 3,
 0,
 5,
 5,
 0,
 5,
 0,
 0,
 3,
 3,
 5,
 0,
 0,
 3,
 0,
 0,
 1,
 -1,
 3,
 3,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 5,
 5,
 3,
 0,
 0,
 5,
 5,
 3,
 0,
 3,
 5,
 0,
 0,
 0,
 0,
 0,
 5,
 0,
 5,
 3,
 0,
 5,
 0,
 0,
 0,
 5,
 3,
 0,
 3,
 3,
 5,
 5,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 5,
 0,
 5,
 0,
 5,
 5,
 0,
 1,
 0,
 5,
 5,
 5,
 0,
 3,
 5,
 0,
 0,
 3,
 5,
 0,
 5,
 0,
 0,
 0,
 -1,
 5,
 3,
 0,
 0,
 3,
 3,
 0,
 0,
 5,
 3,
 3,
 0,
 5,
 1,
 5,
 5,
 0,
 0,
 5,
 0,
 3,
 0,
 0,
 5,
 0,
 3,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 5,
 3,
 3,
 3,
 0,
 1,
 0,
 3,
 3,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 5,
 5,
 5,
 0,
 0,
 0,
 5,
 5,
 0,
 0,
 3,
 5,
 0,
 0,
 5,
 0,
 0,
 0,
 0,
 0,
 5,
 0,
 0,
 0,
 3,
 5,
 0,
 5,
 0,
 0,
 5,
 5,
 0,
 5,
 3,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 5,
 0,
 5,
 0,
 3,
 0,
 0,
 5,
 0,
 3,
 0,
 3,
 0,
 1,
 3,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 -1,
 0,
 0,
 0,
 3,
 0,
 5,
 0,
 0,
 0,
 3,
 5,
 3,
 0,
 0,
 5,
 0,
 0,
 0,
 3,
 3,
 0,
 0,
 0,
 0,
 3,
 3,
 0,
 0,
 0,
 0,
 5,
 0,
 0,
 3,
 0,
 0,
 0,
 5,
 5,
 0,
 0,
 3,
 0,
 0,
 3,
 0,
 0,
 1,
 0,
 0,
 3,
 0,
 3,
 3,
 3,
 3,
 3,
 0,
 5,
 0,
 1,
 1,
 3,
 3,
 0,
 0,
 1,
 -1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 3,
 3,
 0,
 0,
 3,
 3,
 0,
 0,
 0,
 1,
 0,
 0,
 3,
 0,
 1,
 0,
 3,
 1,
 0,
 0,
 1,
 5,
 0,
 0,
 0,
 0,
 0,
 1,
 3,
 3,
 0,
 0,
 3,
 1,
 0,
 3,
 0,
 0,
 3,
 3,
 1,
 0,
 0,
 5,
 0,
 0,
 0,
 0,
 0,
 5,
 0,
 0,
 5,
 5,
 3,
 0,
 0,
 0,
 -1,
 0,
 0,
 0,
 0,
 5,
 5,
 0,
 0,
 5,
 5,
 0,
 3,
 5,
 0,
 3,
 0,
 0,
 5,
 5,
 1,
 0,
 0,
 0,
 0,
 5,
 5,
 3,
 3,
 0,
 0,
 0,
 0,
 5,
 0,
 0,
 0,
 0,
 5,
 5,
 0,
 3,
 3,
 5,
 0,
 5,
 5,
 0,
 3,
 0,
 0,
 5,
 0,
 0,
 0,
 5,
 3,
 5,
 5,
 5,
 3,
 5,
 3,
 0,
 1,
 1,
 3,
 3,
 3,
 5,
 3,
 5,
 0,
 0,
 5,
 0,
 5,
 0,
 3,
 0,
 0,
 0,
 0,
 5,
 3,
 3,
 0,
 0,
 0,
 5,
 0,
 3,
 0,
 5,
 0,
 0,
 5,
 3,
 -1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 5,
 5,
 5,
 5,
 1,
 0,
 1,
 1,
 0,
 0,
 5,
 5,
 0,
 0,
 0,
 5,
 0,
 3,
 5,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 5,
 5,
 5,
 5,
 5,
 0,
 0,
 0,
 0,
 0,
 5,
 5,
 0,
 5,
 0,
 3,
 3,
 5,
 0,
 1,
 0,
 3,
 0,
 3,
 3,
 0,
 1,
 0,
 0,
 3,
 -1,
 0,
 0,
 0,
 3,
 0,
 5,
 0,
 0,
 5,
 0,
 0,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 5,
 0,
 0,
 3,
 3,
 3,
 3,
 3,
 3,
 0,
 0,
 3,
 0,
 3,
 0,
 0,
 0,
 0,
 3,
 5,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 5,
 3,
 0,
 3,
 0,
 5,
 -1,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 5,
 0,
 0,
 3,
 0,
 5,
 0,
 0,
 3,
 0,
 3,
 5,
 5,
 5,
 3,
 0,
 0,
 0,
 0,
 0,
 5,
 0,
 0,
 0,
 0,
 5,
 ...]

In [33]:
data['y_label'] = y_label

In [34]:
data.to_csv('./final.csv')

In [80]:
set(data['cusip'])

{'00163U10',
 '00181T10',
 '00252W10',
 '00371F20',
 '00371F30',
 '00404A10',
 '00431F10',
 '00434H10',
 '00484M10',
 '00503U10',
 '00751Y10',
 '00752H10',
 '00752J10',
 '00753P10',
 '00760J10',
 '00845V10',
 '00845V30',
 '00847L10',
 '00912N20',
 '00938A10',
 '00949P10',
 '00950V10',
 '00973Y10',
 '02076X10',
 '02153X10',
 '02368F10',
 '02376R10',
 '02927U20',
 '03062T10',
 '03209T10',
 '03211L10',
 '03674B10',
 '03820J10',
 '03823U10',
 '03834A10',
 '03957W10',
 '03990B10',
 '04543P10',
 '04648K10',
 '04685W10',
 '04743P10',
 '04744L10',
 '04962H10',
 '04962H20',
 '04962H50',
 '04965B10',
 '05337G10',
 '05351W10',
 '05352A10',
 '05464C10',
 '08160H10',
 '09065G10',
 '09227Q10',
 '09247X10',
 '1.02E+13',
 '1.31E+54',
 '106910',
 '12429T10',
 '12525D10',
 '12558110',
 '12558180',
 '12614510',
 '12791410',
 '13054D10',
 '13201A10',
 '13442910',
 '13810830',
 '13810840',
 '1381710',
 '1387210',
 '13959410',
 '14313010',
 '14964U10',
 '14965A10',
 '15189T10',
 '16280930',
 '16444H10',
 '16676410',
 '16937A20',
 '16944F10',
 '17179610',
 '17275510',
 '17770A10',
 '18449610',
 '18506110',
 '18538530',
 '18538Q10',
 '18687310',
 '18712Q10',
 '19089710',
 '1922210',
 '1922220',
 '2.06E+14',
 '2.55E+13',
 '2.79E+14',
 '20008010',
 '20360710',
 '20363C10',
 '20368X10',
 '20401810',
 '20414910',
 '20588710',
 '20754610',
 '212010',
 '212020',
 '21289410',
 '21289610',
 '21683110',
 '21900C10',
 '21900C30',
 '22228P20',
 '22228P30',
 '22412210',
 '22527P10',
 '22748310',
 '22748P10',
 '22880310',
 '23221710',
 '23257D10',
 '23719410',
 '23725P10',
 '24702510',
 '24702R10',
 '24703L20',
 '25272T10',
 '2533410',
 '253530',
 '25380710',
 '25381B10',
 '25383010',
 '25388B10',
 '2539810',
 '25591110',
 '25614R10',
 '25616310',
 '256710',
 '2567620',
 '25770130',
 '2581610',
 '26443V10',
 '26815810',
 '26815820',
 '27885610',
 '27886510',
 '28225C10',
 '28225C80',
 '28522910',
 '29261A10',
 '29266S10',
 '29266S30',
 '29270J10',
 '29272C10',
 '29442910',
 '29977G10',
 '30041R10',
 '30249U10',
 '30294110',
 '30710',
 '31429Y10',
 '31561610',
 '31620R10',
 '31620R30',
 '31632610',
 '31660B10',
 '31681610',
 '31946M10',
 '32036910',
 '32087810',
 '3265720',
 '33582N10',
 '33582U10',
 '33582V10',
 '33615810',
 '33616C10',
 '33643310',
 '33829M10',
 '339010',
 '33975010',
 '34346810',
 '34349810',
 '34354P10',
 '35352320',
 '35461310',
 '35961610',
 '35969410',
 '36020',
 '36027110',
 '36110',
 '36164V30',
 '36357610',
 '368710',
 '368720',
 '3691610',
 '37190110',
 '37230910',
 '3783310',
 '38410910',
 '38868810',
 '38868910',
 '38869010',
 '40161710',
 '40411910',
 '40412C10',
 '40416010',
 '40502410',
 '41034510',
 '41086710',
 '41165F10',
 '41165Y10',
 '41282210',
 '41690610',
 '42225T10',
 '42280610',
 '42588610',
 '42588J10',
 '42588L10',
 '42589C10',
 '42786610',
 '42824C10',
 '42829110',
 '43851610',
 '440310',
 '45110710',
 '45329R10',
 '45798520',
 '45811810',
 '45841N10',
 '46269C10',
 '46625H10',
 '47023T10',
 '4747710',
 '47816010',
 '48204720',
 '48205A10',
 '4820910',
 '48273J10',
 '48666K10',
 '4916420',
 '4956010',
 '50188920',
 '50544T30',
 '52177G10',
 '52186330',
 '52186510',
 '52186520',
 '52887210',
 '52887230',
 '53071M86',
 '53071M87',
 '53217V10',
 '53219210',
 '5343610',
 '5349410',
 '55295310',
 '55353010',
 '55353110',
 '57328410',
 '57479510',
 '58003110',
 '58013510',
 '59100U10',
 '59161010',
 '59497240',
 '59668010',
 '59851110',
 '6050510',
 '60739U20',
 '60855R10',
 '60902710',
 '64123410',
 '64602510',
 '65011110',
 '65158710',
 '67034610',
 '67083710',
 '68214310',
 '68218910',
 '68287N10',
 '68402320',
 '68402330',
 '68554V10',
 '686410',
 '69354M10',
 '69466M10',
 '70016410',
 '71375510',
 '71377A10',
 '71383110',
 '71708110',
 '72345610',
 '72346Q10',
 '72348410',
 '72348Y10',
 '72378710',
 '73278L10',
 '7333410',
 '74251V10',
 '74386610',
 '74638910',
 '74640Y10',
 '74727D30',
 '74766Q10',
 '74930B10',
 '75421210',
 '76129910',
 '76133010',
 '76243J10',
 '76254410',
 '77313F10',
 '78385910',
 '78402810',
 '78469X10',
 '78648T10',
 '79466L30',
 '797310',
 '8.76E+14',
 '81374A10',
 '81517510',
 '82886710',
 '82900L10',
 '83088M10',
 '83269640',
 '8442310',
 '85172J10',
 '85231230',
 '85450210',
 '85461610',
 '85891210',
 '86701710',
 '86787D20',
 '87230710',
 '87816F10',
 '87823710',
 '88104R10',
 '88104R20',
 '88162G10',
 '88268110',
 '88320310',
 '88321110',
 '88322Q10',
 '88355610',
 '89546L10',
 '90000620',
 '90268110',
 '90333L20',
 '90384S30',
 '90385V10',
 '90984P10',
 '90984P30',
 '90990710',
 '912830',
 '91704710',
 '920710',
 '92974010',
 '93114210',
 '94733A10',
 '94767L10',
 '94948510',
 '95269810',
 '95709010',
 '96208T10',
 '972810',
 '98074510',
 '98952K10',
 '98956P10',
 '98986T10',
 'G0726L12'}

In [37]:
print(list(data['y_label']).count(-1))
print(list(data['y_label']).count(0))
print(list(data['y_label']).count(1))
print(list(data['y_label']).count(3))
print(list(data['y_label']).count(5))

2768
5736
559
2329
1454

In [121]:
# data = data.fillna(0)
# data= data.drop(['TICKER'],axis=1)
# data= data.drop(['index'],axis=1)
# data= data.drop(['gvkey'],axis=1)
# data= data.drop(['permno'],axis=1)
# data= data.drop(['adate'],axis=1)
# data= data.drop(['qdate'],axis=1)
# data= data.drop(['public_date'],axis=1)
# data= data.drop(['cusip'],axis=1)
normal_data  = pd.DataFrame()
import statistics
for col in data.columns:
    if col== 'y_label': continue
    else:
        mean = statistics.mean(data[str(col)])
        stdev = statistics.stdev(data[str(col)])
        if stdev == 0: stdev = 1
        def test(s): 
            return (float(s)-mean)/stdev
        normal_data[str(col)] = data[str(col)].map(test)

In [141]:
#抓取x, y
x = [] 
y= []
for i in range(len(data)):
    if data['y_label'][i]== -1:
        continue
    else:
        x.append(list(np.array((data[i:i+1])))[0][:-1])
        if int(data['y_label'][i]) == 0:
            y.append(0)
        else:
            y.append(1)
#         y.append(int(data['y_label'][i]))

In [115]:
# train_x = x[:int(8*(len(x))/10)]
# test_x = x[int(8*(len(x))/10):]
# train_y = y[:int(8*(len(x))/10)]
# test_y = y[int(8*(len(x))/10):]
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [142]:
train_x, test_x, train_y, test_y = train_test_split(np.array(x),np.array(y), test_size=0.2, random_state=48)

In [143]:
model = XGBClassifier()

In [144]:
model.fit(train_x, train_y)

XGBClassifier()

In [145]:
y_pred = model.predict(test_x)

In [292]:
accuracy = accuracy_score(test_y ,y_pred)
print("準確度： ", accuracy*100,"%")

準確度：  75.532123 %

In [146]:
#二分類：0, 1 成效略好（for XGBOOST）
accuracy = accuracy_score(test_y ,y_pred)
print(accuracy)

0.5947420634920635

#先寫回測
目前步驟為
1. 前10%判斷
2. 資料抓取，嘗試以這些公司過去的財報訓練model
3. 以model為基礎做回測

In [129]:
complete_company = ['CASH', 'MSTR', 'MSEX', 'MOFG', 'MOBL', 'MCRI', 'OMER', 'OSPN', 'OSUR', 'QTRX', 'RAVN', 'ROIC', 'RTRX', 'RVNC', 'RCKT', 'STBA', 'SAFT', 'STAA', 'USCR', 'UCTT', 'UCBI', 'AMAG', 'CCRN', 'CBAY', 'DMRC', 'DLTH', 'DVAX', 'EGAN', 'ELGX', 'WATT', 'ERII', 'FRGI', 'GNMK', 'RDI', 'SCWX', 'CENTA', 'DISCB', 'DISCK', 'DGICB', 'ESGRO', 'ESGRP', 'FITBO', 'MBINO', 'NYMTP', 'RDIB', 'RUSHA', 'TCFCP', 'TCBIP', 'TSCBP', 'ALOG', 'CALD', 'ABCD', 'CLWR', 'CSBK', 'CHUBA', 'DELL', 'IDTI', 'JUNO', 'KTWO', 'LIFE', 'PNK', 'WEB', 'LVNTB', 'MOLXA', 'JPM', 'JNJ', 'WMT', 'BAC', 'DIS', 'CVX', 'MRK', 'PFE', 'BA', 'C', 'MCD', 'MDT', 'DY', 'CRM', 'PE', 'TMO', 'HON', 'GE', 'AXP', 'BLK', 'TGT', 'ECL', 'EW', 'EL', 'HCA', 'ZBH', 'ETR', 'FRC', 'HSY', 'NR', 'PXD', 'SWK', 'VTR', 'RMD', 'WY', 'AGR', 'MLM', 'AJG', 'KMX', 'CAG', 'DRI', 'EFX', 'MRO', 'MGM', 'NUE', 'WRB', 'WAB', 'WAT', 'AAP', 'ATO', 'CNP', 'FNF', 'BEN', 'HST', 'SJM', 'RE', 'NNN', 'OGE', 'OC', 'PKI', 'PNW', 'SR', 'FTI', 'TR', 'UGI', 'VER', 'WEX', 'XRX', 'AA', 'AEO', 'ATH', 'CWK', 'EHC', 'GGG', 'HOG', 'HEI', 'HLF', 'HXL', 'H', 'IVZ', 'KBH', 'LEA', 'MOH', 'NRZ', 'CC', 'CHK', 'CIM', 'CIT', 'CLH', 'CBU', 'CTB', 'CPA', 'COR', 'EQC', 'FND', 'FLO', 'FLS', 'FNB', 'FCN', 'GHC', 'GPK', 'GES', 'HAE', 'HBI', 'THG', 'HE', 'HR', 'HP', 'IDA', 'MSM', 'NFG', 'NHI', 'NCR', 'SNR', 'NEU', 'DOC', 'PDM', 'SEM', 'SCS', 'AIR', 'ULTA', 'LKQ', 'PFG', 'FFIV', 'FSLR', 'FIVE', 'GLIBA', 'GNTX', 'GT', 'MASI', 'PNFP', 'POOL', 'PRAH', 'SRCL', 'TCF', 'URBN', 'WWD', 'ACHC', 'XLRN', 'AEIS', 'CMPR', 'CRUS', 'IART', 'IBKR', 'IRDM', 'TECD', 'TERP', 'TTEK', 'TXRH', 'SMPL', 'UBSI', 'RYTM', 'DGICA', 'PRPL', 'QADB', 'RBB', 'BPYPP', 'CBSHP', 'LTRPB', 'NTRSO', 'QADA', 'QRTEB', 'Z', 'CPLA', 'CAVM', 'COBZ', 'ESIO', 'HPE', 'KR', 'CPB', 'TXT', 'FR', 'FUL', 'NJR', 'NYT', 'ZNGA', 'AAON']

In [132]:
back_test_data =pd.read_csv("./train_lose_label.csv")

In [134]:
back_test_data = back_test_data.fillna(0)
# back_test_data= back_test_data.drop(['TICKER'],axis=1)
back_test_data= back_test_data.drop(['index'],axis=1)
back_test_data= back_test_data.drop(['gvkey'],axis=1)
back_test_data= back_test_data.drop(['permno'],axis=1)
back_test_data= back_test_data.drop(['adate'],axis=1)
back_test_data= back_test_data.drop(['qdate'],axis=1)
# back_test_data= back_test_data.drop(['public_date'],axis=1)
back_test_data= back_test_data.drop(['cusip'],axis=1)

,public_date,CAPEI,bm,evm,pe_op_basic,pe_op_dil,pe_exi,pe_inc,ps,pcf,dpr,npm,opmbd,opmad,gpm,ptpm,cfm,roa,roe,roce,efftax,aftret_eq,aftret_invcapx,aftret_equity,pretret_noa,pretret_earnat,GProf,equity_invcap,debt_invcap,totdebt_invcap,capital_ratio,int_debt,int_totdebt,cash_lt,invt_act,rect_act,debt_at,debt_ebitda,short_debt,curr_debt,lt_debt,profit_lct,ocf_lct,cash_debt,fcf_ocf,lt_ppent,dltt_be,debt_assets,debt_capital,de_ratio,intcov,intcov_ratio,cash_ratio,quick_ratio,curr_ratio,cash_conversion,inv_turn,at_turn,rect_turn,pay_turn,sale_invcap,sale_equity,sale_nwc,rd_sale,adv_sale,staff_sale,accrual,ptb,PEG_trailing,divyield,PEG_1yrforward,PEG_ltgforward,TICKER,month
0,20030331,17.567,1.137,34.599,4.961,5.006,5.298,5.298,1.063,-0.587,0.000,0.067,0.175,0.175,0.433,0.098,0.0,0.012,0.059,0.030,0.309,0.059,0.0,0.059,0.0,0.0,0.027,0.257,0.751,1.152,0.745,0.0,0.0,0.019,0.0,0.0,0.324,29.324,0.348,0.0,0.228,0.0,0.0,-0.091,0.0,53.868,2.926,0.928,0.928,12.860,0.0,0.0,0.0,0.0,0.0,0.0,18.356,0.063,0.113,0.061,0.225,0.875,0.0,0.0,0.0,0.197,-0.121,0.914,1.030,0.0318,0.171,0.0,CASH,3
1,20030630,19.877,1.109,34.175,4.534,4.568,5.055,5.055,1.188,-1.238,0.000,0.078,0.198,0.198,0.457,0.114,0.0,0.013,0.069,0.032,0.309,0.069,0.0,0.069,0.0,0.0,0.027,0.237,0.770,1.205,0.764,0.0,0.0,0.023,0.0,0.0,0.348,29.337,0.361,0.0,0.239,0.0,0.0,-0.091,0.0,55.492,3.246,0.931,0.931,13.589,0.0,0.0,0.0,0.0,0.0,0.0,12.511,0.060,0.114,0.062,0.207,0.874,0.0,0.0,0.0,0.197,-0.064,1.023,0.301,0.0280,0.077,0.0,CASH,6
2,20030930,23.312,0.964,35.522,4.900,4.933,5.404,5.404,1.403,-217.080,0.000,0.087,0.213,0.213,0.476,0.129,0.0,0.013,0.076,0.031,0.309,0.076,0.0,0.076,0.0,0.0,0.027,0.208,0.798,1.191,0.793,0.0,0.0,0.024,0.0,0.0,0.367,30.694,0.330,0.0,0.263,0.0,0.0,-0.091,0.0,57.811,3.841,0.936,0.936,14.613,0.0,0.0,0.0,0.0,0.0,0.0,9.991,0.056,0.114,0.056,0.182,0.876,0.0,0.0,0.0,0.197,-0.005,1.237,0.182,0.0236,0.082,0.0,CASH,9
3,20031231,23.106,0.782,41.351,14.305,14.497,15.882,15.882,1.441,-0.639,0.377,0.088,0.216,0.216,0.489,0.131,0.0,0.012,0.078,0.029,0.331,0.078,0.0,0.078,0.0,0.0,0.025,0.259,0.741,1.756,0.741,0.0,0.0,0.013,0.0,0.0,0.377,34.788,0.578,0.0,0.169,0.0,0.0,-0.120,0.0,64.234,2.857,0.944,0.944,16.947,0.0,0.0,0.0,0.0,0.0,0.0,11.115,0.056,0.112,0.052,0.233,0.900,0.0,0.0,0.0,0.217,-0.132,1.297,0.715,0.0234,1.146,0.0,CASH,12
4,20040331,23.354,0.836,39.664,5.038,5.038,5.286,5.286,1.475,0.877,0.000,0.092,0.220,0.220,0.499,0.138,0.0,0.011,0.080,0.026,0.331,0.080,0.0,0.080,0.0,0.0,0.025,0.187,0.929,1.204,0.832,0.0,0.0,0.021,0.0,0.0,0.373,33.862,0.228,0.0,0.306,0.0,0.0,-0.120,0.0,63.586,4.961,0.942,0.942,16.234,0.0,0.0,0.0,0.0,0.0,0.0,8.102,0.050,0.110,0.045,0.162,0.865,0.0,0.0,0.0,0.217,0.082,1.254,0.199,0.0229,0.381,0.0,CASH,3

In [136]:
back_test_data.head(100)
#回測日期定為2019初~ 2019底

,public_date,CAPEI,bm,evm,pe_op_basic,pe_op_dil,pe_exi,pe_inc,ps,pcf,dpr,npm,opmbd,opmad,gpm,ptpm,cfm,roa,roe,roce,efftax,aftret_eq,aftret_invcapx,aftret_equity,pretret_noa,pretret_earnat,GProf,equity_invcap,debt_invcap,totdebt_invcap,capital_ratio,int_debt,int_totdebt,cash_lt,invt_act,rect_act,debt_at,debt_ebitda,short_debt,curr_debt,lt_debt,profit_lct,ocf_lct,cash_debt,fcf_ocf,lt_ppent,dltt_be,debt_assets,debt_capital,de_ratio,intcov,intcov_ratio,cash_ratio,quick_ratio,curr_ratio,cash_conversion,inv_turn,at_turn,rect_turn,pay_turn,sale_invcap,sale_equity,sale_nwc,rd_sale,adv_sale,staff_sale,accrual,ptb,PEG_trailing,divyield,PEG_1yrforward,PEG_ltgforward,TICKER,month
0,20030331,17.567,1.137,34.599,4.961,5.006,5.298,5.298,1.063,-0.587,0.000,0.067,0.175,0.175,0.433,0.098,0.000,0.012,0.059,0.030,0.309,0.059,0.000,0.059,0.000,0.000,0.027,0.257,0.751,1.152,0.745,0.000,0.000,0.019,0.0,0.000,0.324,29.324,0.348,0.000,0.228,0.000,0.000,-0.091,0.000,53.868,2.926,0.928,0.928,12.860,0.000,0.000,0.000,0.000,0.000,0.0,18.356,0.063,0.113,0.061,0.225,0.875,0.000,0.000,0.000,0.197,-0.121,0.914,1.030,0.0318,0.171,0.000,CASH,3
1,20030630,19.877,1.109,34.175,4.534,4.568,5.055,5.055,1.188,-1.238,0.000,0.078,0.198,0.198,0.457,0.114,0.000,0.013,0.069,0.032,0.309,0.069,0.000,0.069,0.000,0.000,0.027,0.237,0.770,1.205,0.764,0.000,0.000,0.023,0.0,0.000,0.348,29.337,0.361,0.000,0.239,0.000,0.000,-0.091,0.000,55.492,3.246,0.931,0.931,13.589,0.000,0.000,0.000,0.000,0.000,0.0,12.511,0.060,0.114,0.062,0.207,0.874,0.000,0.000,0.000,0.197,-0.064,1.023,0.301,0.0280,0.077,0.000,CASH,6
2,20030930,23.312,0.964,35.522,4.900,4.933,5.404,5.404,1.403,-217.080,0.000,0.087,0.213,0.213,0.476,0.129,0.000,0.013,0.076,0.031,0.309,0.076,0.000,0.076,0.000,0.000,0.027,0.208,0.798,1.191,0.793,0.000,0.000,0.024,0.0,0.000,0.367,30.694,0.330,0.000,0.263,0.000,0.000,-0.091,0.000,57.811,3.841,0.936,0.936,14.613,0.000,0.000,0.000,0.000,0.000,0.0,9.991,0.056,0.114,0.056,0.182,0.876,0.000,0.000,0.000,0.197,-0.005,1.237,0.182,0.0236,0.082,0.000,CASH,9
3,20031231,23.106,0.782,41.351,14.305,14.497,15.882,15.882,1.441,-0.639,0.377,0.088,0.216,0.216,0.489,0.131,0.000,0.012,0.078,0.029,0.331,0.078,0.000,0.078,0.000,0.000,0.025,0.259,0.741,1.756,0.741,0.000,0.000,0.013,0.0,0.000,0.377,34.788,0.578,0.000,0.169,0.000,0.000,-0.120,0.000,64.234,2.857,0.944,0.944,16.947,0.000,0.000,0.000,0.000,0.000,0.0,11.115,0.056,0.112,0.052,0.233,0.900,0.000,0.000,0.000,0.217,-0.132,1.297,0.715,0.0234,1.146,0.000,CASH,12
4,20040331,23.354,0.836,39.664,5.038,5.038,5.286,5.286,1.475,0.877,0.000,0.092,0.220,0.220,0.499,0.138,0.000,0.011,0.080,0.026,0.331,0.080,0.000,0.080,0.000,0.000,0.025,0.187,0.929,1.204,0.832,0.000,0.000,0.021,0.0,0.000,0.373,33.862,0.228,0.000,0.306,0.000,0.000,-0.120,0.000,63.586,4.961,0.942,0.942,16.234,0.000,0.000,0.000,0.000,0.000,0.0,8.102,0.050,0.110,0.045,0.162,0.865,0.000,0.000,0.000,0.217,0.082,1.254,0.199,0.0229,0.381,0.000,CASH,3
5,20040630,23.715,0.858,39.055,5.365,5.478,4.581,4.581,1.541,1.221,0.000,0.113,0.218,0.218,0.505,0.171,0.000,0.011,0.096,0.025,0.331,0.096,0.000,0.096,0.000,0.000,0.025,0.190,0.926,1.140,0.830,0.000,0.000,0.016,0.0,0.000,0.352,32.697,0.187,0.000,0.304,0.000,0.000,-0.120,0.000,64.001,4.885,0.941,0.941,16.065,0.000,0.000,0.000,0.000,0.000,0.0,9.945,0.049,0.106,0.037,0.160,0.841,0.000,0.000,0.000,0.217,0.057,1.216,0.105,0.0221,0.000,0.000,CASH,6
6,20040930,21.967,0.764,38.359,5.009,5.078,4.413,4.413,1.454,1.847,0.077,0.111,0.216,0.216,0.511,0.169,0.000,0.011,0.094,0.026,0.331,0.094,0.000,0.094,0.000,0.000,0.025,0.193,0.925,1.109,0.827,0.000,0.000,0.015,0.0,0.000,0.339,31.563,0.166,0.000,0.300,0.000,0.000,-0.120,0.000,63.268,4.786,0.941,0.941,15.936,0.000,0.000,0.000,0.000,0.000,0.0,14.165,0.050,0.103,0.035,0.162,0.840,0.000,0.000,0.000,0.217,0.033,1.236,0.131,0.0234,0.605,0.000,CASH,9
7,20041231,21.538,0.853,40.973,15.263,15.570,14.777,14.777,1.496,6.592,0.323,0.103,0.205,0.205,0.511,0.156,0.224,0.010,0.088,0.024,0.341,0.088,0.000,0.088,0.000,0.000,0.025,0.259,0.741,1.472,0.741,0.000,0.000,0.012,0.0,0.000,0.345,33.978,0.496,0.000,0.185,0.000,0.000,0.012,0.844,62.748,2.867,0.939,0.939,15.516,0.000,0.000,0.000,0.000,0.000,0.0,15.089,0.050,0.103,0.038,0.212,0.818,0.000,0.000,0.000,0.245,0.006,1.223,0.532,0.0224,-0.485,0.000,CASH,12
8,20050331,21.229,0.801,43.341,5.657,5.744,5.451,5.451,1.423,3.859,0.278,0.088,0.182,0.182,0.505,0.132,0.224,0.009,0.074,0.024,0.341,0.074,0.000,0.074,0.000,0.000,0.026,0.193,0.911,1.047,0.825,0.000,0.000,0.012,0.0,0.000,0.326,35.371,0.130,0.000,0.302,0.000,0.000,0.012,0.844,62.714,4.720,0.940,0.940,15.641,0.000,0.000,0.000,0.000,0.000,0.0,51.587,0.051,0.098,0.037,0.163,0.843,0.000,0.000,0.000,0.245,0.014,1.209,0.211,0.0232,0.000,0.000,CASH,3
9,20050630,19.108,0.803,48.051,6.231,6.289,7.752,7.752,1.224,8.390,0.591,0.053,0.160,0.160,0.497,0.077,0.154,0.008,0.047,0.022,0.341,0.047,0.000,0.047,0.000,0.000,0.026,0.185,0.917,1.044,0.832,0.000,0.000,0.012,0.0,0.000,0.329,39.373,0.122,0.000,0.307,0.000,0.000,0.012,0.717,62.564,4.950,0.942,0.941,16.139,0.000,0.000,0.000,0.000,0.000,0.0,140.348,0.052,0.097,0.041,0.165,0.892,0.000,0.000,0.000,0.245,0.005,1.114,0.404,0.0260,-0.254,0.000,CASH,6
10,20050930,19.013,0.860,167.291,-23.923,-23.923,-15.550,-15.550,1.099,10.678,0.323,-0.023,0.043,0.043,0.382,-0.039,0.062,0.002,-0.021,0.006,0.341,-0.021,0.000,-0.021,0.000,0.000,0.021,0.185,0.918,1.035,0.832,0.000,0.000,0.011,0.0,0.000,0.322,137.559,0.113,0.000,0.303,0.000,0.000,0.012,0.306,60.174,4.956,0.942,0.942,16.367,0.000,0.000,0.000,0.000,0.000,0.0,34.910,0.055,0.098,0.060,0.175,0.947,0.000,0.000,0.000,0.245,0.007,1.098,0.000,0.0276,-0.134,0.000,CASH,9
11,20051231,24.084,0.919,90.105,-53.289,-53.289,-53.289,-53.289,1.131,8.940,0.000,-0.021,0.059,0.059,0.390,-0.036,0.052,0.003,-0.020,0.010,0.000,-0.020,0.000,-0.020,0.000,0.000,0.023,0.251,0.749,1.115,0.749,0.000,0.000,0.071,0.0,0.000,0.245,72.359,0.329,0.000,0.174,0.000,0.000,0.008,0.218,48.485,2.977,0.945,0.945,17.072,0.000,0.000,0.000,0.000,0.000,0.0,10.351,0.058,0.106,0.064,0.262,1.043,0.000,0.000,0.018,0.254,0.008,1.180,0.000,0.0257,-0.104,0.000,CASH,12
12,20060331,25.998,0.829,66.993,-21.743,-21.743,-21.743,-21.743,1.235,11.287,0.000,-0.018,0.083,0.083,0.407,-0.033,0.048,0.005,-0.019,0.014,0.000,-0.019,0.000,-0.019,0.000,0.000,0.024,0.199,0.849,0.951,0.810,0.000,0.000,0.046,0.0,0.000,0.267,53.754,0.106,0.000,0.253,0.000,0.000,0.008,0.038,51.602,4.268,0.944,0.944,16.884,0.000,0.000,0.000,0.000,0.000,0.0,10.366,0.060,0.105,0.058,0.214,1.073,0.000,0.000,0.018,0.254,0.008,1.360,0.000,0.0228,0.000,0.000,CASH,3
13,20060630,26.262,0.733,39.254,-17.569,-17.569,-17.569,-17.569,1.145,7.441,0.000,-0.021,0.125,0.125,0.440,-0.036,0.040,0.008,-0.023,0.024,0.000,-0.023,0.000,-0.023,0.000,0.000,0.028,0.216,0.838,0.933,0.795,0.000,0.000,0.066,0.0,0.000,0.242,30.703,0.102,0.000,0.230,0.000,0.000,0.008,0.333,47.607,3.883,0.944,0.944,16.893,0.000,0.000,0.000,0.000,0.000,0.0,9.958,0.063,0.109,0.051,0.242,1.123,0.000,0.000,0.018,0.254,0.011,1.302,0.000,0.0239,-0.034,0.000,CASH,6
14,20060930,28.617,0.800,17.351,9.535,9.647,5.395,5.395,1.259,8.034,0.336,0.077,0.250,0.250,0.570,0.117,0.142,0.016,0.089,0.055,0.000,0.089,0.000,0.089,0.000,0.000,0.037,0.241,0.819,0.917,0.773,0.000,0.000,0.099,0.0,0.000,0.215,13.123,0.108,0.000,0.203,0.000,0.000,0.008,0.558,45.560,3.399,0.944,0.943,16.719,0.000,0.000,0.000,0.000,0.000,0.0,8.908,0.065,0.117,0.037,0.280,1.161,0.000,0.000,0.018,0.254,0.005,1.433,0.000,0.0211,0.011,0.000,CASH,9
15,20061231,30.173,0.727,12.827,32.747,33.483,19.226,19.226,1.472,8.388,0.330,0.076,0.283,0.283,0.602,0.114,0.139,0.019,0.089,0.000,0.332,0.089,0.000,0.089,0.000,0.000,0.042,0.350,0.650,0.962,0.650,0.000,0.000,0.166,0.0,0.000,0.168,8.549,0.325,0.000,0.121,0.000,0.000,0.013,0.582,39.482,1.856,0.939,0.938,15.349,0.000,0.000,0.000,0.000,0.000,0.0,7.357,0.068,0.124,0.029,0.397,1.134,0.000,0.000,0.014,0.257,0.007,1.669,0.000,0.0174,0.000,0.000,CASH,12
16,20070331,36.076,0.577,17.924,-22.893,-22.396,51.510,64.387,1.554,9.837,1.841,0.011,0.214,0.214,0.543,0.015,0.072,0.015,0.013,0.057,0.332,0.013,0.000,0.013,0.000,0.000,0.037,0.282,0.759,0.856,0.729,0.000,0.000,0.153,0.0,0.000,0.177,12.184,0.113,0.000,0.167,0.000,0.000,0.013,0.540,41.677,2.696,0.942,0.941,16.124,0.000,0.000,0.000,0.000,0.000,0.0,28.141,0.068,0.129,0.038,0.329,1.167,0.000,0.000,0.014,0.257,0.010,1.814,0.000,0.0168,0.000,0.000,CASH,3
17,20070630,45.143,0.571,15.966,-43.437,-41.989,34.991,34.991,1.846,14.382,1.377,0.018,0.222,0.222,0.573,0.028,0.079,0.016,0.022,0.066,0.332,0.022,0.000,0.022,0.000,0.000,0.041,0.307,0.737,0.822,0.706,0.000,0.000,0.178,0.0,0.000,0.160,10.159,0.103,0.000,0.152,0.000,0.000,0.013,0.425,39.800,2.398,0.940,0.940,15.732,0.000,0.000,0.000,0.000,0.000,0.0,30.352,0.071,0.137,0.039,0.364,1.185,0.000,0.000,0.014,0.257,0.008,2.150,0.000,0.0138,0.000,0.000,CASH,6
18,20070930,49.057,0.492,14.654,-26.567,-0.251,39.069,34.060,1.950,15.495,1.447,0.017,0.238,0.238,0.606,0.031,0.065,0.017,0.020,0.077,0.332,0.020,0.000,0.020,0.000,0.000,0.044,0.331,0.715,0.772,0.683,0.000,0.000,0.177,0.0,0.000,0.147,8.416,0.074,0.000,0.145,0.000,0.000,0.013,-4.717,37.056,2.159,0.937,0.937,14.899,0.000,0.000,0.000,0.000,0.000,0.0,49.454,0.073,0.141,0.035,0.385,1.164,0.000,0.000,0.014,0.257,0.008,2.161,0.000,0.0130,0.000,0.000,CASH,9
19,20071231,45.596,0.466,13.061,-121.090,-121.090,82.340,91.489,1.894,43.135,1.005,0.023,0.247,0.247,0.642,0.045,0.069,0.019,0.028,0.094,0.483,0.028,0.000,0.028,0.000,0.000,0.053,0.456,0.544,0.745,0.544,0.000,0.000,0.135,0.0,0.000,0.114,5.644,0.270,0.000,0.090,0.000,0.000,0.004,-0.925,32.373,1.192,0.930,0.926,13.264,0.000,0.000,0.000,0.000,0.000,0.0,45.970,0.079,0.151,0.037,0.534,1.171,0.000,0.000,0.014,0.324,0.002,2.217,0.000,0.0126,0.000,0.000,CASH,12
20,20080331,21.701,0.455,10.097,22.231,24.083,5.505,4.940,0.784,-1.303,0.468,0.049,0.319,0.319,0.743,0.084,0.105,0.026,0.061,0.130,0.483,0.061,0.000,0.061,0.000,0.000,0.060,0.372,0.669,0.693,0.643,0.000,0.000,0.123,0.0,0.000,0.124,4.824,0.035,0.000,0.128,0.000,0.000,0.004,-0.925,33.847,1.798,0.933,0.931,13.999,0.000,0.000,0.000,0.000,0.000,0.0,66.855,0.081,0.155,0.026,0.451,1.212,0.000,0.000,0.014,0.324,-0.052,0.927,0.116,0.0300,0.000,0.000,CASH,3
21,20080630,33.117,1.175,7.893,17.732,18.109,6.649,5.158,1.057,-2.559,0.392,0.052,0.363,0.363,0.777,0.088,0.100,0.033,0.071,0.175,0.483,0.071,0.000,0.071,0.000,0.000,0.070,0.405,0.638,0.821,0.612,0.000,0.000,0.096,0.0,0.000,0.137,4.197,0.223,0.000,0.114,0.000,0.000,0.004,-0.925,33.265,1.574,0.933,0.930,13.824,0.000,0.000,0.000,0.000,0.000,0.0,50.745,0.090,0.174,0.027,0.538,1.328,0.000,0.000,0.014,0.324,-0.042,1.310,0.000,0.0195,0.000,0.000,CASH,6
22,20080930,22.690,0.744,7.949,26.984,26.984,26.984,10.692,0.637,-1.197,2.506,0.008,0.365,0.365,0.793,0.013,0.057,0.035,0.011,0.170,0.483,0.011,0.000,0.011,0.000,0.000,0.072,0.383,0.658,0.931,0.632,0.000,0.000,0.073,0.0,0.000,0.159,4.778,0.294,0.000,0.120,0.000,0.000,0.004,-0.925,33.461,1.718,0.935,0.932,14.280,0.000,0.000,0.000,0.000,0.000,0.0,51.430,0.091,0.177,0.026,0.534,1.396,0.000,0.000,0.014,0.324,-0.051,0.895,0.000,0.0306,0.000,0.000,CASH,9
23,20081231,18.127,1.034,7.205,-42.857,-45.000,-13.043,-23.684,0.312,-0.709,0.000,-0.024,0.355,0.355,0.785,-0.038,0.018,0.037,-0.039,0.000,0.000,-0.039,0.000,-0.039,0.000,0.000,0.078,0.391,0.609,1.262,0.609,0.000,0.000,0.011,0.0,0.000,0.195,5.545,0.517,0.000,0.100,0.000,0.000,-0.047,0.000,32.315,1.560,0.940,0.938,15.540,0.000,0.000,0.000,0.000,0.000,0.0,101.447,0.104,0.192,0.030,0.642,1.642,0.000,0.000,0.017,0.343,-0.043,0.512,0.000,0.0578,0.000,0.000,CASH,12
24,20090331,18.230,2.048,5.671,9.414,9.414,-38.704,16.587,0.322,0.602,0.000,-0.004,0.384,0.384,0.795,-0.007,0.035,0.042,-0.008,0.173,0.000,-0.008,0.000,-0.008,0.000,0.000,0.084,0.379,0.759,1.073,0.667,0.000,0.000,0.076,0.0,0.000,0.173,4.289,0.293,0.000,0.130,0.000,0.000,-0.047,0.886,34.126,2.004,0.939,0.938,15.366,0.000,0.000,0.000,0.000,0.000,0.0,259.625,0.105,0.199,0.028,0.652,1.721,0.000,0.000,0.017,0.343,0.057,0.567,-0.729,0.0498,0.000,0.000,CASH,3
25,20090630,44.624,1.770,4.037,20.495,19.926,-71.733,-71.733,0.528,3.290,0.000,-0.004,0.409,0.409,0.755,-0.005,0.031,0.054,-0.008,0.232,0.000,-0.008,0.000,-0.008,0.000,0.000,0.098,0.342,0.785,0.969,0.696,0.000,0.000,0.059,0.0,0.000,0.165,3.111,0.190,0.000,0.142,0.000,0.000,-0.047,0.668,34.875,2.294,0.942,0.941,16.189,0.000,0.000,0.000,0.000,0.000,0.0,27.707,0.129,0.248,0.047,0.761,2.223,0.000,0.000,0.017,0.343,0.021,1.166,0.000,0.0242,0.000,0.000,CASH,6
26,20090930,68.502,0.786,3.461,-16.569,-16.922,-8.552,-8.552,0.552,2.206,0.000,-0.023,0.388,0.388,0.727,-0.034,0.019,0.054,-0.054,0.241,0.000,-0.054,0.000,-0.054,0.000,0.000,0.100,0.359,0.778,0.890,0.684,0.000,0.000,0.054,0.0,0.000,0.139,2.607,0.126,0.000,0.128,0.000,0.000,-0.047,1.996,35.156,2.167,0.944,0.943,16.881,0.000,0.000,0.000,0.000,0.000,0.0,19.890,0.137,0.269,0.052,0.880,2.451,0.000,0.000,0.017,0.343,0.038,1.425,0.000,0.0218,0.000,0.000,CASH,9
27,20091231,273.022,0.753,3.715,-37.321,-37.321,-37.321,-37.321,0.474,2.413,0.000,-0.013,0.414,0.414,0.763,-0.017,0.039,0.061,-0.031,0.000,0.000,-0.031,0.000,-0.031,0.000,0.000,0.107,0.594,0.406,1.466,0.406,0.000,0.000,0.008,0.0,0.000,0.140,2.415,0.723,0.000,0.041,0.000,0.000,0.029,0.839,35.810,0.682,0.943,0.942,16.632,0.000,0.000,0.000,0.000,0.000,0.0,26.907,0.147,0.285,0.049,1.465,2.465,0.000,0.000,0.016,0.281,0.031,1.167,0.000,0.0249,0.000,0.000,CASH,12
28,20100331,182.508,0.842,2.845,-22.748,-22.748,-22.748,-22.748,0.628,-4.157,0.000,-0.008,0.421,0.421,0.762,-0.009,0.059,0.061,-0.020,0.336,0.000,-0.020,0.000,-0.020,0.000,0.000,0.109,0.413,0.629,0.865,0.603,0.000,0.000,0.037,0.0,0.000,0.113,1.876,0.273,0.000,0.086,0.000,0.000,0.029,0.839,36.900,1.521,0.946,0.945,17.591,0.000,0.000,0.000,0.000,0.000,0.0,12.243,0.143,0.303,0.044,1.097,2.654,0.000,0.000,0.016,0.281,-0.021,1.667,-0.109,0.0206,0.000,0.000,CASH,3
29,20100630,197.165,0.788,2.742,9.804,10.101,10.101,10.101,0.726,3.871,0.271,0.024,0.447,0.447,0.783,0.041,0.103,0.066,0.066,0.395,0.000,0.066,0.000,0.066,0.000,0.000,0.112,0.432,0.609,0.808,0.585,0.000,0.000,0.036,0.0,0.000,0.105,1.636,0.246,0.000,0.084,0.000,0.000,0.029,0.873,38.369,1.409,0.944,0.943,16.840,0.000,0.000,0.000,0.000,0.000,0.0,15.617,0.143,0.319,0.035,1.106,2.559,0.000,0.000,0.016,0.281,0.023,1.513,0.000,0.0173,0.000,0.000,CASH,6
30,20100930,101.948,0.755,2.565,3.376,3.452,3.452,3.452,0.760,3.086,0.155,0.070,0.515,0.515,0.837,0.114,0.153,0.076,0.184,0.473,0.000,0.184,0.000,0.184,0.000,0.000,0.119,0.433,0.603,0.780,0.582,0.000,0.000,0.035,0.0,0.000,0.109,1.498,0.226,0.000,0.090,0.000,0.000,0.029,0.925,40.414,1.392,0.939,0.938,15.432,0.000,0.000,0.000,0.000,0.000,0.0,15.084,0.142,0.334,0.027,1.010,2.330,0.000,0.000,0.016,0.281,0.026,1.426,0.000,0.0163,0.000,0.000,CASH,9
31,20101231,14.963,0.724,1.901,3.257,3.353,3.353,3.353,0.314,1.149,0.125,0.091,0.542,0.542,0.840,0.145,0.175,0.079,0.208,0.534,0.375,0.208,0.000,0.208,0.000,0.000,0.111,0.772,0.228,0.441,0.228,0.000,0.000,0.091,0.0,0.000,0.040,0.557,0.483,0.000,0.022,0.000,0.000,0.039,0.937,49.426,0.296,0.930,0.929,13.294,0.000,0.000,0.000,0.000,0.000,0.0,13.013,0.146,0.360,0.027,1.462,1.895,0.000,0.000,0.015,0.238,0.027,0.595,0.000,0.0377,0.000,0.000,CASH,12
32,20110331,22.534,1.649,2.152,1.269,1.306,1.413,1.413,0.394,1.306,0.135,0.091,0.567,0.567,0.872,0.153,0.175,0.076,0.191,0.511,0.375,0.191,0.000,0.191,0.000,0.000,0.111,0.493,0.527,0.583,0.517,0.000,0.000,0.084,0.0,0.000,0.079,1.095,0.096,0.000,0.076,0.000,0.000,0.039,0.949,47.667,1.069,0.933,0.932,13.990,0.000,0.000,0.000,0.000,0.000,0.0,13.873,0.127,0.356,0.019,0.939,1.905,0.000,0.000,0.015,0.238,0.027,0.727,0.000,0.0315,0.000,0.000,CASH,3
33,20110630,21.168,1.419,2.067,1.841,1.896,2.096,2.096,0.533,2.963,0.170,0.085,0.584,0.584,0.936,0.144,0.180,0.063,0.139,0.436,0.375,0.139,0.000,0.139,0.000,0.000,0.097,0.582,0.441,0.513,0.431,0.000,0.000,0.115,0.0,0.000,0.058,0.967,0.141,0.000,0.054,0.000,0.000,0.039,0.895,51.863,0.757,0.934,0.932,14.076,0.000,0.000,0.000,0.000,0.000,0.0,6.396,0.104,0.315,0.007,0.908,1.561,0.000,0.000,0.015,0.238,0.010,0.814,0.000,0.0273,0.000,0.000,CASH,6
34,20110930,20.762,1.315,1.717,2.063,2.105,3.933,3.933,0.561,2.979,0.328,0.047,0.575,0.575,0.942,0.083,0.142,0.057,0.069,0.453,0.375,0.069,0.000,0.069,0.000,0.000,0.090,0.715,0.312,0.402,0.304,0.000,0.000,0.124,0.0,0.000,0.037,0.678,0.223,0.000,0.031,0.000,0.000,0.039,0.908,55.464,0.437,0.933,0.932,14.037,0.000,0.000,0.000,0.000,0.000,0.0,4.154,0.096,0.314,0.008,1.031,1.443,0.000,0.000,0.015,0.238,0.014,0.761,0.000,0.0275,0.000,0.000,CASH,9
35,20111231,17.654,1.387,1.547,5.252,5.252,11.174,11.174,0.524,2.431,0.349,0.046,0.566,0.566,0.950,0.082,0.142,0.050,0.060,0.514,0.438,0.061,0.000,0.061,0.000,0.000,0.076,0.791,0.209,0.288,0.209,0.000,0.000,0.232,0.0,0.000,0.023,0.512,0.274,0.000,0.018,0.000,0.000,0.018,0.916,69.601,0.259,0.937,0.936,14.829,0.000,0.000,0.000,0.000,0.000,0.0,2.534,0.088,0.298,0.006,0.995,1.258,0.000,0.000,0.012,0.301,0.015,0.645,0.000,0.0312,0.000,0.000,CASH,12
36,20120331,20.710,1.610,1.581,1.950,1.950,3.153,3.153,0.661,2.917,0.233,0.069,0.570,0.570,0.947,0.109,0.168,0.050,0.093,0.509,0.438,0.093,0.000,0.093,0.000,0.000,0.079,0.749,0.251,0.338,0.251,0.000,0.000,0.144,0.0,0.000,0.029,0.618,0.258,0.000,0.023,0.000,0.000,0.018,0.903,64.995,0.335,0.935,0.934,14.428,0.000,0.000,0.000,0.000,0.000,0.0,2.151,0.083,0.319,0.008,0.961,1.283,0.000,0.000,0.012,0.301,0.013,0.786,0.000,0.0248,0.000,0.000,CASH,3
37,20120630,19.475,1.299,1.403,1.130,1.132,1.480,1.480,0.694,3.704,0.115,0.130,0.606,0.606,0.954,0.205,0.241,0.054,0.180,0.578,0.438,0.180,0.000,0.180,0.000,0.000,0.079,0.777,0.223,0.314,0.223,0.000,0.000,0.148,0.0,0.000,0.025,0.504,0.289,0.000,0.019,0.000,0.000,0.018,0.874,71.980,0.287,0.938,0.936,15.007,0.000,0.000,0.000,0.000,0.000,0.0,1.693,0.083,0.347,0.006,1.029,1.324,0.000,0.000,0.012,0.301,0.005,0.872,0.000,0.0263,0.000,0.000,CASH,6
38,20120930,27.671,1.388,1.533,1.431,1.436,1.514,1.514,1.204,5.660,0.098,0.162,0.594,0.594,0.953,0.255,0.310,0.049,0.213,0.557,0.438,0.213,0.000,0.213,0.000,0.000,0.072,0.808,0.192,0.319,0.192,0.000,0.000,0.155,0.0,0.000,0.025,0.546,0.398,0.000,0.016,0.000,0.000,0.018,0.822,77.780,0.237,0.938,0.937,15.040,0.000,0.000,0.000,0.000,0.000,0.0,1.958,0.076,0.339,0.003,0.982,1.215,0.000,0.000,0.012,0.301,0.004,1.243,0.000,0.0214,0.000,0.000,CASH,9
39,20121231,20.258,1.136,2.868,4.615,4.634,4.634,4.634,1.170,1.563,0.107,0.160,0.586,0.586,0.957,0.251,0.351,0.043,0.147,0.413,0.361,0.151,0.000,0.151,0.000,0.000,0.062,0.886,0.114,0.290,0.114,0.000,0.000,0.097,0.0,0.000,0.029,0.761,0.606,0.000,0.013,0.000,0.000,0.053,0.948,84.736,0.125,0.912,0.907,10.305,0.000,0.000,0.000,0.000,0.000,0.0,2.629,0.073,0.333,0.002,0.649,0.733,0.000,0.000,0.010,0.291,0.043,0.833,0.000,0.0228,0.000,0.000,CASH,12
40,20130331,23.311,1.168,3.210,1.846,1.861,1.861,1.861,1.394,2.252,0.124,0.164,0.576,0.576,0.964,0.249,0.379,0.039,0.162,0.412,0.361,0.162,0.000,0.162,0.000,0.000,0.062,0.854,0.150,0.657,0.150,0.000,0.000,0.096,0.0,0.000,0.057,1.548,0.771,0.000,0.014,0.000,0.000,0.053,0.937,85.740,0.176,0.926,0.924,12.485,0.000,0.000,0.000,0.000,0.000,0.0,3.231,0.064,0.322,0.000,0.737,0.863,0.000,0.000,0.010,0.291,0.030,0.999,0.000,0.0196,-0.041,0.000,CASH,3
41,20130630,21.945,0.983,4.424,3.825,3.876,3.946,3.946,1.569,5.002,0.235,0.112,0.515,0.515,0.965,0.152,0.354,0.029,0.085,0.222,0.361,0.085,0.000,0.085,0.000,0.000,0.053,0.873,0.131,0.586,0.131,0.000,0.000,0.071,0.0,0.000,0.054,1.907,0.776,0.000,0.013,0.000,0.000,0.053,0.789,85.717,0.150,0.919,0.917,11.351,0.000,0.000,0.000,0.000,0.000,0.0,4.170,0.055,0.282,0.001,0.596,0.683,0.000,0.000,0.010,0.291,0.011,1.011,0.058,0.0198,-0.097,0.000,CASH,6

#第一季選股

In [255]:
back_test_company = []
for comp  in complete_company:
    if comp in list(back_test_data['TICKER']):
        ind  = list(back_test_data['TICKER']).index(comp)
        for i in range(ind, len(back_test_data)):
            if '201812' in str(list(back_test_data['public_date'])[i]) or '201901' in str(list(back_test_data['public_date'])[i]):
                temp = back_test_data[i:i+1]
                temp = temp.drop(['TICKER'],axis=1)
                temp = temp.drop(['public_date'],axis=1)
                predict = model.predict(np.array(temp))
                if predict !=0 :
#                     print(comp)
                    back_test_company.append(comp)
                break

In [256]:
#最後挑選出預測38家未來會漲
print(len(back_test_company))

38

In [257]:
price_dic = dict()
for comp in back_test_company:
    start = datetime.datetime( 2019,1 , 1)
    try:
        price = pdr.DataReader(comp  ,'yahoo', start=start, end =start)['Close']
    except:
        continue
    price_dic[comp] = price

In [258]:
# len(price_dic)
# for i in price_dic.keys():
#     print(i)

In [259]:
WeightSum = sum(price_dic.values())
weight_dic = dict()
for comp in price_dic.keys():
    weight_dic[comp] = price_dic[comp]/ WeightSum

In [260]:
# print(weight_dic)

In [261]:
initial_money = 10**7
number_record = dict()
for comp in weight_dic.keys():
#     print(int(initial_monwy * weight_dic[comp])*(1-0.0005))
    number_record[comp] = int(int(initial_money * weight_dic[comp])*(1-0.0005)/price_dic[comp])
print(number_record)

{'STAA': 5409, 'UCTT': 5409, 'DMRC': 5409, 'EGAN': 5409, 'ERII': 5409, 'SCWX': 5409, 'TGT': 5409, 'HCA': 5409, 'HSY': 5409, 'NUE': 5409, 'AA': 5409, 'AEO': 5409, 'ATH': 5409, 'HOG': 5409, 'LEA': 5409, 'MOH': 5409, 'CLH': 5409, 'GPK': 5409, 'HAE': 5409, 'ULTA': 5409, 'LKQ': 5409, 'PFG': 5409, 'FSLR': 5409, 'POOL': 5409, 'URBN': 5409, 'WWD': 5409, 'ACHC': 5409, 'AEIS': 5409, 'CRUS': 5409, 'TTEK': 5409, 'QADA': 5409, 'ESIO': 5409, 'HPE': 5409, 'FUL': 5409, 'ZNGA': 5409}

In [262]:
after_price_dic = dict()
for comp in weight_dic.keys():
    print(comp)
    try: 
        start = datetime.datetime( 2019,3, 31)
        price = pdr.DataReader(comp  ,'yahoo', start=start, end =datetime.datetime( 2019,4,1 ))['Close'][0]
    except:
        try:
            start = datetime.datetime( 2019,4, 1)
            price = pdr.DataReader(comp  ,'yahoo', start=start, end =datetime.datetime( 2019,4,2 ))['Close'][0]
        except:
            try: 
                start = datetime.datetime( 2019,4, 2)
                price = pdr.DataReader(comp  ,'yahoo', start=start, end =datetime.datetime( 2019,4,3 ))['Close'][0]
            except:
                price = 0 
    after_price_dic[comp] = price

STAA
UCTT
DMRC
EGAN
ERII
SCWX
TGT
HCA
HSY
NUE
AA
AEO
ATH
HOG
LEA
MOH
CLH
GPK
HAE
ULTA
LKQ
PFG
FSLR
POOL
URBN
WWD
ACHC
AEIS
CRUS
TTEK
QADA
ESIO
HPE
FUL
ZNGA

In [263]:
#2019第一季
after_money= 0 
for comp in number_record.keys():
    if after_price_dic[comp] !=0:
        after_money+= after_price_dic[comp]*number_record[comp]
    else:
         after_money+= price_dic[comp]*number_record[comp]
print("第一季結束後資產：",int(after_money))
print("第一季報酬率：" ,float((after_money - initial_money)*100/ initial_monwy), "%")

第一季結束後資產： 11895472
第一季報酬率： 18.95472700958252 %

#第二季選股

In [264]:
back_test_company = []
for comp  in complete_company:
    if comp in list(back_test_data['TICKER']):
        ind  = list(back_test_data['TICKER']).index(comp)
        for i in range(ind, len(back_test_data)):
            if '201903' in str(list(back_test_data['public_date'])[i]) or '201904' in str(list(back_test_data['public_date'])[i]):
                temp = back_test_data[i:i+1]
                temp = temp.drop(['TICKER'],axis=1)
                temp = temp.drop(['public_date'],axis=1)
                predict = model.predict(np.array(temp))
                if predict !=0 :
#                     print(comp)
                    back_test_company.append(comp)
                break

In [265]:
price_dic = dict()
for comp in back_test_company:
    start = datetime.datetime( 2019,4, 1)
    try:
        price = pdr.DataReader(comp  ,'yahoo', start=start, end =start)['Close']
    except:
        continue
    price_dic[comp] = price

In [266]:
print(price_dic.keys())

dict_keys(['UCTT', 'CCRN', 'EGAN', 'SCWX', 'HCA', 'NUE', 'AA', 'KBH', 'LEA', 'POOL', 'URBN', 'ACHC'])

In [267]:
WeightSum = sum(price_dic.values())
weight_dic = dict()
for comp in price_dic.keys():
    weight_dic[comp] = price_dic[comp]/ WeightSum

In [268]:
initial_money = int(after_money) #延續上一季獲利
number_record = dict()
for comp in weight_dic.keys():
    print( float(weight_dic[comp]))
    number_record[comp] = int(int(initial_money * float(weight_dic[comp])*(1-0.0005)/price_dic[comp]))
print(number_record)

0.016280687524934667
0.011050308246727421
0.015645785973221058
0.02832869707735131
0.19951021157416424
0.09026181948837998
0.04453379936798562
0.036552183155908094
0.21313037381705513
0.2537035934061584
0.046166405829490796
0.04483613453862329
{'UCTT': 17973, 'CCRN': 17973, 'EGAN': 17973, 'SCWX': 17973, 'HCA': 17973, 'NUE': 17973, 'AA': 17973, 'KBH': 17973, 'LEA': 17973, 'POOL': 17973, 'URBN': 17973, 'ACHC': 17973}

In [269]:
after_price_dic = dict()
for comp in weight_dic.keys():
    print(comp)
    try: 
        start = datetime.datetime( 2019,6, 30)
        price = pdr.DataReader(comp  ,'yahoo', start=start, end =datetime.datetime( 2019,7,1 ))['Close'][0]
    except:
        try:
            start = datetime.datetime( 2019,7, 1)
            price = pdr.DataReader(comp  ,'yahoo', start=start, end =datetime.datetime( 2019,7,2 ))['Close'][0]
        except:
            try: 
                start = datetime.datetime( 2019,7, 2)
                price = pdr.DataReader(comp  ,'yahoo', start=start, end =datetime.datetime( 2019,7,3 ))['Close'][0]
            except:
                price = 0 
    after_price_dic[comp] = price

UCTT
CCRN
EGAN
SCWX
HCA
NUE
AA
KBH
LEA
POOL
URBN
ACHC

In [270]:
#2019第二季
after_money= 0 
for comp in number_record.keys():
    if after_price_dic[comp] !=0:
        after_money+= after_price_dic[comp]*number_record[comp]
    else:
         after_money+= price_dic[comp]*number_record[comp]
print("第二季結束後資產：",int(after_money))
print("第二季報酬率：" ,float((after_money - initial_money)*100/ initial_monwy), "%")

第二季結束後資產： 12044425
第二季報酬率： 1.48953986205101 %

In [271]:
#第三季選股
back_test_company = []
for comp  in complete_company:
    if comp in list(back_test_data['TICKER']):
        ind  = list(back_test_data['TICKER']).index(comp)
        for i in range(ind, len(back_test_data)):
            if '201906' in str(list(back_test_data['public_date'])[i]) or '201907' in str(list(back_test_data['public_date'])[i]):
                temp = back_test_data[i:i+1]
                temp = temp.drop(['TICKER'],axis=1)
                temp = temp.drop(['public_date'],axis=1)
                predict = model.predict(np.array(temp))
                if predict !=0 :
#                     print(comp)
                    back_test_company.append(comp)
                break

In [272]:
price_dic = dict()
for comp in back_test_company:
    start = datetime.datetime( 2019,7, 1)
    try:
        price = pdr.DataReader(comp  ,'yahoo', start=start, end =start)['Close']
    except:
        continue
    price_dic[comp] = price
print(price_dic.keys())
WeightSum = sum(price_dic.values())
weight_dic = dict()
for comp in price_dic.keys():
    weight_dic[comp] = price_dic[comp]/ WeightSum

dict_keys(['NUE', 'AA', 'KBH', 'LEA', 'DOC', 'AIR', 'POOL', 'URBN', 'PRPL', 'FUL'])

In [273]:
initial_money = int(after_money) #延續上一季獲利
number_record = dict()
for comp in weight_dic.keys():
    print( float(weight_dic[comp]))
    number_record[comp] = int(int(initial_money * float(weight_dic[comp])*(1-0.0005)/price_dic[comp]))
print(number_record)

0.09871792376848165
0.040643342818849695
0.04601635138075002
0.24531413080293707
0.03065983561120607
0.06483074451684508
0.339297427584293
0.04041281923945999
0.011561718740034933
0.08254570553714251
{'NUE': 21347, 'AA': 21347, 'KBH': 21347, 'LEA': 21347, 'DOC': 21347, 'AIR': 21347, 'POOL': 21347, 'URBN': 21347, 'PRPL': 21347, 'FUL': 21347}

In [274]:
after_price_dic = dict()
for comp in weight_dic.keys():
    print(comp)
    try: 
        start = datetime.datetime( 2019,9, 30)
        price = pdr.DataReader(comp  ,'yahoo', start=start, end =datetime.datetime( 2019,10,1 ))['Close'][0]
    except:
        try:
            start = datetime.datetime( 2019,10, 1)
            price = pdr.DataReader(comp  ,'yahoo', start=start, end =datetime.datetime( 2019,10,2 ))['Close'][0]
        except:
            try: 
                start = datetime.datetime( 2019,10, 2)
                price = pdr.DataReader(comp  ,'yahoo', start=start, end =datetime.datetime( 2019,10,3 ))['Close'][0]
            except:
                price = 0 
    after_price_dic[comp] = price

NUE
AA
KBH
LEA
DOC
AIR
POOL
URBN
PRPL
FUL

In [275]:
#2019第三季
after_money= 0 
for comp in number_record.keys():
    if after_price_dic[comp] !=0:
        after_money+= after_price_dic[comp]*number_record[comp]
    else:
         after_money+= price_dic[comp]*number_record[comp]
print("第三季結束後資產：",int(after_money))
print("第三季報酬率：" ,float((after_money - initial_money)*100/ initial_monwy), "%")

第三季結束後資產： 12076424
第三季報酬率： 0.3199981516313553 %

In [276]:
#第四季選股
back_test_company = []
for comp  in complete_company:
    if comp in list(back_test_data['TICKER']):
        ind  = list(back_test_data['TICKER']).index(comp)
        for i in range(ind, len(back_test_data)):
            if '201909' in str(list(back_test_data['public_date'])[i]) or '201910' in str(list(back_test_data['public_date'])[i]):
                temp = back_test_data[i:i+1]
                temp = temp.drop(['TICKER'],axis=1)
                temp = temp.drop(['public_date'],axis=1)
                predict = model.predict(np.array(temp))
                if predict !=0 :
#                     print(comp)
                    back_test_company.append(comp)
                break

In [282]:
price_dic = dict()
for comp in back_test_company:
    start = datetime.datetime( 2019,10, 1)
    try:
        price = pdr.DataReader(comp  ,'yahoo', start=start, end =start)['Close'][0]
    except:
        continue
    price_dic[comp] = price
print(price_dic.keys())
WeightSum = sum(price_dic.values())
weight_dic = dict()
for comp in price_dic.keys():
    weight_dic[comp] = price_dic[comp]/ WeightSum

dict_keys(['MCRI', 'UCTT', 'CCRN', 'DLTH', 'DVAX', 'SCWX', 'LIFE', 'CRM', 'HCA', 'HSY', 'NUE', 'AA', 'AEO', 'LEA', 'MOH', 'GPK', 'HBI', 'ULTA', 'LKQ', 'FFIV', 'GNTX', 'POOL', 'URBN', 'SMPL', 'PRPL', 'QADA', 'HPE', 'TXT', 'FUL'])

In [284]:
initial_money = int(after_money) #延續上一季獲利
number_record = dict()
for comp in weight_dic.keys():
    print( float(weight_dic[comp]))
    number_record[comp] = int(int(initial_money * float(weight_dic[comp])*(1-0.0005)/price_dic[comp]))
print(number_record)

0.02399976896826533
0.00842783970997716
0.005929422717523351
0.0048816991261372315
0.00206090606633669
0.007443440400715491
0.0020148523424300137
0.08545276760839553
0.06932243296746213
0.08922342160604067
0.029307466413048554
0.011553738827910354
0.009337401031635861
0.06787174121340553
0.06316274327741647
0.008491163443097915
0.008819296363183907
0.14429220780925722
0.018104887916181225
0.08083587492420506
0.01585401010147857
0.11611306037694069
0.016170629316086045
0.016688733984538
0.0043348110174945284
0.026584537653800623
0.008732945768109813
0.02818490538306316
0.026803293665862878
{'MCRI': 6948, 'UCTT': 6948, 'CCRN': 6948, 'DLTH': 6948, 'DVAX': 6948, 'SCWX': 6948, 'LIFE': 6948, 'CRM': 6948, 'HCA': 6948, 'HSY': 6948, 'NUE': 6948, 'AA': 6948, 'AEO': 6948, 'LEA': 6948, 'MOH': 6948, 'GPK': 6948, 'HBI': 6948, 'ULTA': 6948, 'LKQ': 6948, 'FFIV': 6948, 'GNTX': 6948, 'POOL': 6948, 'URBN': 6948, 'SMPL': 6948, 'PRPL': 6948, 'QADA': 6948, 'HPE': 6948, 'TXT': 6948, 'FUL': 6948}

In [285]:
after_price_dic = dict()
for comp in weight_dic.keys():
    print(comp)
    try: 
        start = datetime.datetime( 2019,12, 30)
        price = pdr.DataReader(comp  ,'yahoo', start=start, end =datetime.datetime( 2020,1,1 ))['Close'][0]
    except:
        try:
            start = datetime.datetime( 2020,1, 1)
            price = pdr.DataReader(comp  ,'yahoo', start=start, end =datetime.datetime( 2020,1,2 ))['Close'][0]
        except:
            try: 
                start = datetime.datetime( 2020,1, 2)
                price = pdr.DataReader(comp  ,'yahoo', start=start, end =datetime.datetime( 2019,1,3 ))['Close'][0]
            except:
                price = 0 
    after_price_dic[comp] = price

MCRI
UCTT
CCRN
DLTH
DVAX
SCWX
LIFE
CRM
HCA
HSY
NUE
AA
AEO
LEA
MOH
GPK
HBI
ULTA
LKQ
FFIV
GNTX
POOL
URBN
SMPL
PRPL
QADA
HPE
TXT
FUL

In [286]:
#2019第四季
after_money= 0 
for comp in number_record.keys():
    if after_price_dic[comp] !=0:
        after_money+= after_price_dic[comp]*number_record[comp]
    else:
         after_money+= price_dic[comp]*number_record[comp]
print("第四季結束後資產：",int(after_money))
print("第四季報酬率：" ,float((after_money - initial_money)*100/ initial_monwy), "%")

第四季結束後資產： 13013048
第四季報酬率： 9.366242930526733 %

In [288]:
print("一年報酬率：", (after_money - 10**7)*100/10**7,"%" )

一年報酬率： 30.130482930526732 %

In [294]:
weight_dic

{'MCRI': 0.02399976896826533,
 'UCTT': 0.00842783970997716,
 'CCRN': 0.005929422717523351,
 'DLTH': 0.0048816991261372315,
 'DVAX': 0.00206090606633669,
 'SCWX': 0.007443440400715491,
 'LIFE': 0.0020148523424300137,
 'CRM': 0.08545276760839553,
 'HCA': 0.06932243296746213,
 'HSY': 0.08922342160604067,
 'NUE': 0.029307466413048554,
 'AA': 0.011553738827910354,
 'AEO': 0.009337401031635861,
 'LEA': 0.06787174121340553,
 'MOH': 0.06316274327741647,
 'GPK': 0.008491163443097915,
 'HBI': 0.008819296363183907,
 'ULTA': 0.14429220780925722,
 'LKQ': 0.018104887916181225,
 'FFIV': 0.08083587492420506,
 'GNTX': 0.01585401010147857,
 'POOL': 0.11611306037694069,
 'URBN': 0.016170629316086045,
 'SMPL': 0.016688733984538,
 'PRPL': 0.0043348110174945284,
 'QADA': 0.026584537653800623,
 'HPE': 0.008732945768109813,
 'TXT': 0.02818490538306316,
 'FUL': 0.026803293665862878}